﻿@model IEnumerable<Aizant_API_Entities.AizantIT_FDA_System>

<!--Start FDA6System List(Table)-->
<div class="col-12 padding-none" style="overflow:auto;">
    <table class="table datatable_cust table-bordered" style="width: 100%;" id="tblFDA6SystemList">
        <thead>
            <tr class="UserDefinedTableHeader">
                <th>S.No</th>
                <th>System Methodology</th>
                <th style="text-align:center!important;">Area/s</th>
                <th style="text-align:center!important;">History</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" style="text-align:center !important;">
                        No Records Available
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr class="UserDefinedTableBody">
                        <td style="text-align:center !important;">
                            @item.FDA_SystemID
                        </td>
                        <td>
                            @item.FDA_SystemName
                        </td>
                        <td class="UserDefinedTableButtonstd" style="text-align:center !important;">
                            <a class="btnFDA6SystemEdit linkIcon " title="Link Area to this System" onclick="EditFDA6SystemDetails('@item.FDA_SystemID','@item.FDA_SystemName');" style="margin-left:0%;"></a>
                        </td>
                        <td style="text-align:center !important;">
                            <a class="btnFDA6SystemEdit summary_latest " title="History" onclick="FDA6SystemHistoryDetails('@item.FDA_SystemID','@item.FDA_SystemName');" style="margin-left:0%;"></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<!--End FDA6System List(Table)-->

<!--Start FDA6System Areas LinkUp-->
<div class="modal department " id="modalFDA6System" role="dialog" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="displayFDA6SystemName" style="font-weight:bold">FDA 6 System </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 padding-none float-left">
                    <div class="col-lg-6 padding-none float-left">
                        <label class="col-12 custom_label col-form-label" for="ddlFDA6SystemAreaList"> Areas<span class="mandatoryStar">*</span></label>
                        <div class="col-12">
                            @Html.DropDownList("AreaList", new SelectList(ViewBag.AreaList, "Value", "Text"),
                                          htmlAttributes: new
                                          {
                                              id = "ddlFDA6SystemAreaList",
                                              @class = "col-lg-12 selectpicker float-left padding-none drop_down  bottom show-tick",
                                              multiple = "multiple",
                                              @title = "-- Select Area(s) --",
                                              name = "AreaList"
                                          })
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-sm-6 col-lg-3 float-left col-6 padding-none top" style="margin-top:20px !important">
                        <button type="button" class="btn btn-signup_popup top" onclick="SubmitFDA6SystemAreas();">Submit</button>
                    </div>
                </div>
                <div class="col-lg-12 padding-none float-left">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  top fixedHeightTable">
                        <table id="tblFDA6SysAreas" class="table  table-fixed_audit datatable_cust table-striped table-bordered" style="width:100%;">
                            <thead>
                                <tr class="UserDefinedTableBody">
                                    <th>Area Name</th>
                                    <th>Active Sub Area Name(s)</th>
                                </tr>
                            </thead>
                            <tbody style="background: #bfcbcc;">
                                <tr class="FDA6SysAreasEmptyRow">
                                    <td style="text-align:center !important;width:100%!important">
                                        No Records Available
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End FDA6System Mapping with Areas-->
<!--FDA6System History-->
<div class="modal department" id="modalFDASystemHistory" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtHistoryHead">History</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="modelbody">
                <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
                    <table id="tblFDA6SystemHistory" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%;">
                        <thead>
                            <tr id="tablerow">
                                <th>FDASystem ID </th>
                                <th>S.No</th>
                                <th>Action By</th>
                                <th>Role</th>
                                <th>Action Date</th>
                                <th>Action Status</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<script>
    var FDA6System_ID = "0";
    var FDA6SystemOldAreas = [];
    $('.selectpicker').selectpicker({
        liveSearch: true,
        showSubtext: true,
        size:7
    });
    function EditFDA6SystemDetails(_FDA6SystemID, FDA6SystemName) {
        $("#displayFDA6SystemName").text(FDA6SystemName);
        FDA6System_ID = _FDA6SystemID
        GetFDA6SystemAreasandSubAreas(_FDA6SystemID);
    }
    function GetFDA6SystemAreasandSubAreas(_FDA6SystemID) {
        ShowPleaseWait('show');
           $.ajax({
            type: "GET",
            url: "@Url.Content("~/QMS/AuditMaster/GetListOfFDA6SystemAreasAndSubAreas")",
            data: { FDA6SystemID: _FDA6SystemID},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ShowPleaseWait('hide');
                if (response.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (response.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            BindFDA6SystemAreaIdstoDDLAndAreasandSubAreastoHTMLTable(response.data);
                            break;
                    }
                }
            },
            failure: function (response) {
            },
            error: function (response) {
            }
        });
    }
    function BindFDA6SystemAreaIdstoDDLAndAreasandSubAreastoHTMLTable(ListOfAreas) {
        $("#tblFDA6SysAreas tbody").empty();
        FDA6SystemOldAreas = [];
        $.each(ListOfAreas, function (index, objListOfAreas) {
            FDA6SystemOldAreas.push(objListOfAreas.AreaID);
            $("#tblFDA6SysAreas tbody").append('<tr>' +
                '<td>' + objListOfAreas.AuditAreaName + '</td>' +
                '<td>' + objListOfAreas.CombinedAuditSubAreaswitComa + '</td>' +
                    '</tr>');
        });
        if (ListOfAreas.length==0) {
            $("#tblFDA6SysAreas tbody").append('<tr><td style="text-align:center !important;width:100% !important;">No Records Available</td></tr >');
        }
        $('#ddlFDA6SystemAreaList').selectpicker('val', FDA6SystemOldAreas);
        $("#ddlFDA6SystemAreaList").selectpicker("refresh");
        FDA_6SystemAreaLinkUpPopup('show');
    }
    function CompareTwoArraysandReturnArray1UnmatchedValues(array1, array2) {        
        var Result = [];
        array1 = array1.toString().split(',').map(Number);
        array2 = array2.toString().split(',').map(Number);

        for (var i in array1) {
            if (array2.indexOf(array1[i]) === -1) Result.push(array1[i]);
        }
        return Result.sort((a, b) => a - b);
    }
    function SubmitFDA6SystemAreas() {        
        var UpdatedFDA6SystemAreas = [];
        $.each($("#ddlFDA6SystemAreaList option:selected"), function () {
            if ($(this).val() != "0" && $(this).val() != "") {
                UpdatedFDA6SystemAreas.push($(this).val());
            }
        });
        var ToRemoveFDA6SystemAreas = [];
        var ToAddFDA6SystemAreas = [];        
        if (UpdatedFDA6SystemAreas.length == 0) {
            custAlertMsg("Select at least one Area.", "error");
        }
        else {
            if (FDA6SystemOldAreas.length > 0)
            {
                ToRemoveFDA6SystemAreas = CompareTwoArraysandReturnArray1UnmatchedValues(FDA6SystemOldAreas, UpdatedFDA6SystemAreas);
                ToAddFDA6SystemAreas = CompareTwoArraysandReturnArray1UnmatchedValues(UpdatedFDA6SystemAreas, FDA6SystemOldAreas);
            }
            else
            {
                ToAddFDA6SystemAreas = UpdatedFDA6SystemAreas;
            }
            if (ToRemoveFDA6SystemAreas.length == 0 && ToAddFDA6SystemAreas.length == 0) {
                custAlertMsg("There are No changes to submit.", "info");
            }
            else
            {
                AjaxCallSubmitFDA6SystemAreas(FDA6System_ID, ToRemoveFDA6SystemAreas, ToAddFDA6SystemAreas);
            }
        }
    }
    function AjaxCallSubmitFDA6SystemAreas(FDA6SystemID, ToRemoveFDA6SystemAreas, ToAddFDA6SystemAreas) {
        var objFDA6System = {
            "FDA6SystemID": FDA6SystemID,
            "ToAddFDA6SystemAreas": ToAddFDA6SystemAreas,
            "ToRemoveFDA6SystemAreas": ToRemoveFDA6SystemAreas
            };
        $.post("@Url.Content("~/QMS/AuditMaster/SubmitFDA6SystemAreas")", objFDA6System,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            GetFDA6SystemAreasandSubAreas(FDA6System_ID)
                            custAlertMsg(result.msg, "success");
                            break;
                    }
                }
                }, 'json');
    }
    
    function FDA_6SystemAreaLinkUpPopup(visibility) {
        $('#modalFDA6System').modal(visibility);
    }
    function OpenFDA6SystemHistoryPopup() {
        $('#modalFDASystemHistory').modal('show');
    }
   
    function FDA6SystemHistoryDetails(FDA6SystemID, FDA6SystemName) {
        ShowPleaseWait('show');
        FDA6System_ID = FDA6SystemID
        $("#txtHistoryHead").text(FDA6SystemName + " History");
        OpenFDA6SystemHistoryPopup();
        LoadFDA6SystemHistory();
        ShowPleaseWait('hide');
    }

     var oFDA6SystemHistory;
     function LoadFDA6SystemHistory() {
         if (oFDA6SystemHistory != null) {
             oFDA6SystemHistory.destroy();
         }
         oFDA6SystemHistory = $('#tblFDA6SystemHistory').DataTable({
             columns:
             [
                 { 'data': 'FDA_SystemHistoryID' },//0
                 { 'data': 'RowNumber' },//1
                 { 'data': 'ActionByName' },//2
                 { 'data': 'RoleName' },//3
                 { 'data': 'ActionDate' },//4
                 { 'data': 'ActionName' },//5
                 { 'data': 'Remarks' }//6
             ],
             "aoColumnDefs": [{ "targets": [0], "visible": false },
             { className: "textAlignCenter", "targets": [1] }, { "orderable": false, "targets": [0,1,2,3,4,5,6] }],
             "sAjaxSource": '@Url.Content("~/QMS/AuditMaster/GetFDAHistoryList")',
             "fnServerData": function (sSource, aoData, fnCallback) {
                 aoData.push({ "name": "FDA_SystemID", "value": FDA6System_ID });
                 $.ajax({
                     "dataType": 'json',
                     "contentType": "application/json; charset=utf-8",
                     "type": "GET",
                     "url": sSource,
                     "data": aoData,
                     "success": function (result) {

                         if (result.msgType == "error") {
                             custAlertMsg(result.msg, "error");
                         }
                         else {
                             fnCallback(result);
                         }
                     },
                     error: function (xhr, textStatus, error) {
                         if (typeof console == "object") {
                             console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                         }
                     }
                 });
             }
         });
     }
</script>

