﻿@{
    ViewBag.Title = "Audit Master";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}

<style>
    .editRow {
        background-color: #a3cdd3;
    }

    .UDTableDateField {
        width: 14%;
    }
</style>
<title>@ViewBag.Title</title>
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Audit Master Setup</div>
<div class="tab-content tab_content_assigment float-left col-lg-12 padding-none" id="test">
    @if (ViewBag.SysError != "" && ViewBag.SysError != null)
    {
        <div style="text-align:center;color:red">
            @ViewBag.SysError
        </div>
    }
    else
    {
        <div id="home3" class="tab-pane active">
            <div class="grid_panel_hod col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                <div class="col-12 float-left padding-none">
                    <div class="col-lg-12 float-left">
                        <div class="col-12 padding-none">
                            <label class="float-left top" for="ddlOptionSelector" style="margin-top:5px;padding-right:4px;">
                                Select Master Type <span class="mandatoryStar">*</span> :
                            </label>
                            <select id="ddlOptionSelector" class="col-lg-4 float-left padding-none selectpicker drop_down"
                                    data-live-search="true" data-size="6" onchange="ddlOptionSelectorSelectedIndexChanged(this.value);">
                                <option>-- Select --</option>
                                <option value="1">Category</option>
                                <option value="2">Category Type</option>
                                <option value="3">Regulatory Agency</option>
                                <option value="4">Client (View Only)</option>
                                <option value="5">Business Division (View Only)</option>
                                <option value="6">Site (View Only)</option>
                                <option value="7">Type of Audit</option>
                                <option value="8">Audit Area</option>
                                <option value="9">6 System</option>
                                <option value="10">Auditor Details</option>
                                <option value="11">Observer Details</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 float-left  top auditMasterDiv" style="border-top:1px solid #07889a;display:none;">
                    <div class="top" id='divBindPartialViews'></div>
                </div>
            </div>
        </div>
    }
</div>

<script>

    var  vardivPartialView = $("#divBindPartialViews");
    function ddlOptionSelectorSelectedIndexChanged(SelectedValue) {
        $(".auditMasterDiv").show();
        var divPartialView = $("#divBindPartialViews");
        divPartialView.empty();
        divPartialView.prepend("<div style='text-align:center;font-weight: bold;font-size:14px;'>Loading...</div>");
        switch (SelectedValue) {
            //Note : When ever you change this Cases, please change them in individual Partial views aswell.
            case "1":
                divPartialView.load("@Url.Content("~/QMS/AuditMaster/GetAuditCategoryList")");
                break;
            case "2":
                divPartialView.load("@Url.Content("~/QMS/AuditMaster/GetAuditCategoryTypeList")");
                break;
            case "3":
                divPartialView.load("@Url.Content("~/QMS/AuditMaster/GetRegulatoryAgencyList")");
                break;
            case "4":
                divPartialView.load("@Url.Content("~/AdminSetup/Client/Clientlist")?IsDataList=" + false + "");
                break;
            case "5":
                divPartialView.load("@Url.Content("~/AdminSetup/BusinessDivisionAndSite/GetBusinessDivisionList")?IsEditable=" + false + "");
                break;
                case "6":
                divPartialView.load("@Url.Content("~/AdminSetup/BusinessDivisionAndSite/GetSite_BusinessDivisionList")?IsEditable=" + false + "");
                break;
                case "7":
                divPartialView.load("@Url.Content("~/QMS/AuditMaster/GetTypeOfList")");
                break;
                case "8":
                divPartialView.load("@Url.Content("~/QMS/AuditMaster/GetAuditAreaList")");
                break;
                case "9":
                divPartialView.load("@Url.Content("~/QMS/AuditMaster/_GetFDA6SystemList")");
                break;
                case "10":
                divPartialView.load("@Url.Content("~/QMS/AuditMaster/GetAuditorDetailsList")");
                break;
                case "11":
                divPartialView.load("@Url.Content("~/QMS/AuditMaster/GetObserverDetailsList")");
                break;
                default:
                divPartialView.empty();
                }
                }

</script>