﻿@model IEnumerable<QMS_BO.QMS_Audit_BO.AuditMaster.AuditCategoryBO>

<style>
    .Edit {
        background: url(../../../Images/GridActionImages/edit.png) no-repeat center center;
        padding: 12px;
        top: 1px;
        float: left;
        background-size: 24px 24px;
        cursor: pointer;
        width: 100%;
    }
    
   
</style>
<div class="col-12 float-left">
    <table class="table datatable_cust table-bordered" id="tblCategoryList" style="width: 100%;">
        <tr class="UserDefinedTableHeader">
            <th style="display:none;">Category ID</th>
            <th>Category Name</th>
            <th>Created Date</th>
            <th>Modified By</th>
            <th>Modified Date</th>
            <th style="text-align:center !important;">Edit</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="6" style="text-align:center !important;">
                    No Records Available
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr class="UserDefinedTableBody" id="@Html.DisplayFor(modelItem => item.CategoryID)">
                    <td style="display:none">
                        <span class="lblCategoryID"> @Html.DisplayFor(modelItem => item.CategoryID)</span>
                    </td>
                    <td>
                        <span class="lblCategoryName"> @Html.DisplayFor(modelItem => item.CategoryName) </span>
                        <input type="text" class="txtCategoryName UserDefineTableInlineNameTextBox" onkeypress="return ValidateAlpha(event)" maxlength="20" onpaste="return ValidateAlphaOnPaste();">
                    </td>
                    <td>
                        <span class="lblCategoryCreatedDate">@Html.DisplayFor(modelItem => item.CreatedDate) </span>
                    </td>
                    <td>
                        <span class="lblCategoryModifiedByName">@Html.DisplayFor(modelItem => item.ModifiedByName) </span>
                    </td>
                    <td>
                        <span class="lblCategoryModifiedDate">@Html.DisplayFor(modelItem => item.ModifiedDate) </span>
                    </td>
                    <td class="UserDefinedTableButtonstd text-center" style="text-align:center!important;">
                        <a class="btnCategoryEdit edit_icon_feed Edit" title=" Edit" style="margin-left:0%; "></a>
                        <button type="button" class="btnCategoryUpdate   btn btn-revert_popup" style="margin-bottom:0px;display:none">Update</button>
                        <button type="button" class="btnCategoryCancel   btn btn-cancel_popup" style="margin-bottom:0px;display:none">Cancel</button>
                    </td>
                </tr>
            }
        }
    </table>
</div>
    <script> 
    function DefaultCategoryDisplay() {
        $("#tblCategoryList .btnCategoryUpdate").css("display", "none");
        $("#tblCategoryList .btnCategoryCancel").css("display", "none");
        $("#tblCategoryList .btnCategoryEdit").css("display", "inline-block");

        $("#tblCategoryList .txtCategoryName").css("display", "none");
        $("#tblCategoryList .lblCategoryName").css("display", "inline-block");
    }
    var txtCategoryName = "";
    var lblCategoryName = "";
    var lblModifiedBy = "";
    var lblCategoryModifiedDate = "";
    $(".btnCategoryEdit").click(function () {
        DefaultCategoryDisplay();        
        lblCategoryName = $(this).closest("tr").find(".lblCategoryName");
        txtCategoryName = $(this).closest("tr").find(".txtCategoryName");
        lblModifiedBy = $(this).closest("tr").find(".lblCategoryModifiedByName");
        lblCategoryModifiedDate = $(this).closest("tr").find(".lblCategoryModifiedDate");

        $(txtCategoryName).val(lblCategoryName.text().trim());
        lblCategoryName.css("display", "none");
        txtCategoryName.css("display", "inline-block");
        $(this).closest("tr").find(".btnCategoryUpdate").css("display", "inline-block");
        $(this).closest("tr").find(".btnCategoryCancel").css("display", "inline-block");
        $(this).closest("tr").find(".btnCategoryEdit").css("display", "none");
    });
    $(".btnCategoryCancel").click(function () {
 
        DefaultCategoryDisplay();
        });
    var CancelButton = "";
        $(".btnCategoryUpdate").click(function () {
            var CategoryID = $(this).closest("tr").find(".lblCategoryID").text();
            lblCategoryName = $(this).closest("tr").find(".lblCategoryName");
            var txtCategoryName = $(this).closest("tr").find(".txtCategoryName");
            var NewCategoryName = txtCategoryName.val().trim();
            if (NewCategoryName == "") {
                custAlertMsg("Category Name Should not be empty.", "error", "FocusOntxtCategoryName();");
                return false;
            }
            else if (lblCategoryName.text().trim() == NewCategoryName) {
                custAlertMsg("There are no changes to Update.", "warning", "FocusOntxtCategoryName();");
                return false;
            }
            else {
                CancelButton = $(this).closest("tr").find(".btnCategoryCancel");
                AjaxCallUpdateCategoryName(CategoryID, NewCategoryName);
                return true;
            }
        });
    var ModifiedByNameValue = "";
    var ModifiedDatevalue = "";
    function AjaxCallUpdateCategoryName(categoryID, CategoryName) {
        $.post("@Url.Content("~/QMS/AuditMaster/AuditCategoryNameModify")?CategoryID="+ categoryID +"&CategoryName=" +CategoryName,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg(result.msg, "success", "OnAuditCategoryUpdateSuccess();");
                            ModifiedByNameValue = result.ModifiedByName;
                            ModifiedDatevalue = result.ModifiedDate;
                            break;
                    }
                }
            }, 'json');
    }
    function OnAuditCategoryUpdateSuccess() {
        lblCategoryName.text(txtCategoryName.val());
        lblModifiedBy.text(ModifiedByNameValue);
        lblCategoryModifiedDate.text(ModifiedDatevalue);
        $(CancelButton).click();
    }
    function FocusOntxtCategoryName() {
        txtCategoryName.focus();
    }
    </script>
