﻿
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 top float-left col-3 bottom padding-none ">
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12  text-left col-12  ">
        <span class="float-right btn btn-dashboard" style="margin-bottom:0px;" onclick="CreateAuditArea();">Create Audit Area</span>
    </div>
</div>
<div class="col-12 padding-none" style="overflow:auto;">
    <table class="table datatable_cust table-striped table-bordered dataTable no-footer" id="tblAuditArea" style="width:100%;">
        <thead>
            <tr>
                <th>Audit Area ID</th>
                <th>Audit Area</th>
                <th>Sub-Area</th>
                <th>Created By</th>
                <th class="UDTableDateField">Created Date</th>
                <th>Modified By</th>
                <th class="UDTableDateField">Modified Date</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal department1" id="modalAuditAreaCreate" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Create Audit Area</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-12 padding-none float-left ">
                    <div class="col-xl-12 padding-none col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                        <div class="col-12 float-left padding-none">
                            <div class="col-12">
                                <label class="col-6 padding-none float-left required">Audit Area Name</label>
                                <input id="txtAuditArea" class="form-control col-lg-12" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event);" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="150" type="text" placeholder="Audit Area Name">
                            </div>
                        </div>
                        <div class="col-12 float-left padding-none">
                            <div class="col-12 top">
                                <label class="float-left ">Sub-Area Name<span class="mandatoryStar">*</span></label>
                                <input id="txtAuditSubArea" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event);" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="150" class="form-control col-lg-12" type="text" placeholder="Sub-Area Name">
                            </div>
                        </div>
                        <div class="col-lg-12  float-right padding-none">
                            <div class="col-12  text-right">
                                <span id="addSubArea" class="top btn btn-signup_popup" style="margin-bottom:0px;">Add Sub-Area</span>
                                <span href="#" class="top btn btn-revert_popup" style="margin-bottom:0px;" onclick="$('#txtAuditSubArea').val('')">Clear</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 float-left top" style="max-height:300px;overflow-y: auto;">
                        <table id="tblAuditSubAreas" class="table datatable_cust table-striped table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Sub-Area Name</th>
                                    <th>Edit</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="AuditSubAreaEmptyRow">
                                    <td colspan="3">No Records Added</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class=" modal-footer">
                <div class="col-12 float-left text-right">
                    <span class="top btn btn-signup_popup" onclick="btnSubmitAuditAreas();">Submit</span>
                    <span class="top btn btn-cancel_popup" data-dismiss="modal">Cancel</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal department1" id="modalAuditAreaEdit" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" style="min-width:70%;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modify Audit Area</h4>
                <button type="button" class="close" onclick="close_MdfAuditArea()">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-12 padding-none float-left ">
                    <div class="col-xl-12 padding-none col-md-12 col-sm-12 col-lg-12 float-left col-12 " style="border: 1px solid #07889a;">
                        <div class="col-6 float-left" style="padding: 0px;border-right: 1px solid #07889a;">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title" style="border:none !important;">Update Audit Area</div>
                            <input type="hidden" id="hdnAuditAreaID" value="0" />
                            <input type="hidden" id="hdnAuditAreaName" value="" />
                            <div class="col-12 top float-left">
                                <label class="col-6 padding-none float-left"> Audit Area Name<span class="mandatoryStar">*</span></label>
                                <input id="txtAuditAreaEdit" class="form-control col-lg-12" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event);" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="150" type="text" placeholder="Audit Area Name">
                                <div class="col-12 float-left padding-none">
                                    <a href="#" class="padding-none float-right top btn btn-cancel_popup" style="margin-bottom:0px;" onclick="ResetAuditArea();">Reset</a>
                                    <a href="#" class="padding-none float-right top btn btn-revert_popup bottom" onclick="UpdateAuditAreaName();" style="background-position: right !important;">Update</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 float-left" style="padding: 0px;">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title" style="border:none !important;"> Add Sub-Area</div>
                            <div class="col-12 top float-left">
                                <label class="float-left">Audit Sub Area Name<span class="mandatoryStar">*</span></label>
                                <input id="txtAuditSubAreaEdit" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event);" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="150" class="form-control col-lg-12" type="text" placeholder="Sub-Area Name">
                            </div>
                            <div class="col-lg-12  float-right padding-none ">
                                <div class="col-12  text-right ">
                                    <span href="#" id="addSubAreaEdit" class="top btn btn-signup_popup" style="margin-bottom:0px;">Add</span>
                                    <span class="top btn btn-revert_popup" style="margin-bottom:0px;" onclick="$('#txtAuditSubAreaEdit').val('')">Clear</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 float-left top padding-none" style="max-height:300px;overflow-y: auto;">
                        <table class="table datatable_cust table-striped table-bordered no-footer" id="tblAuditAreaEdit" style="width: 100%;" role="grid" aria-describedby="tblAuditArea_info">
                            <thead>
                                <tr>
                                    <th style="display:none">Audit Sub AreaID</th>
                                    <th>Sub-Area</th>
                                    <th>Active</th>
                                    <th>Created By</th>
                                    <th>Created Date</th>
                                    <th>Modified By</th>
                                    <th>Modified Date</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Audit Area-->
<script>

    function btnSubmitAuditAreas() {
        var error = [];
        var AuditSubAreas = [];
        $('#tblAuditSubAreas .AuditSubAreaRow').each(function () {
            AuditSubAreas.push($(this).find(".auditSubAreaNameLblClass").html());
            if ($(this).find(".auditSubAreaNameLblClass").html() == $("#txtAuditArea").val().trim()) {
                error.push('Audit Area Name and Sub-Area Name Should not be Same.');
                return;
            }
        });
        if ($("#txtAuditArea").val().trim() == "") {
            error.push('Audit Area Name Should Not be Empty.');
        }
        if (AuditSubAreas.length==0) {
            error.push('Sub-Area Not Mentioned.');
        }
        if (error.length==0) {
            var auditAreaPost = { "AuditAreaName": $("#txtAuditArea").val().trim(), "AuditSubAreaNames": AuditSubAreas };
            $.post("@Url.Content("~/QMS/AuditMaster/CreateAuditArea")", auditAreaPost,
                 function (result) {
                     if (result.msgRedirecttoLoginPage) {
                         window.location.href = '/UserLogin.aspx';
                     }
                     else {
                         switch (result.msgType) {
                             case "error":
                                 custAlertMsg(result.msg, "error");
                                 break;
                             case "info":
                                 custAlertMsg(result.msg, "info");
                                 break;
                             case "warning":
                                 custAlertMsg(result.msg, "warning");
                                 break;
                             case "success":
                                 custAlertMsg(result.msg, "success", "AuditAreaCreatedSucessfully();");
                                 break;
                         }
                     }
                }, 'json');
        }
        else {
            custAlertMsg(error.join("<br/>"), "error");
        }
    }
    //On success of creating the Area
    function AuditAreaCreatedSucessfully() {
        ResetAuditAreaCreate();
        $('#modalAuditAreaCreate').modal('hide');
        ReloadAuditAreaMainList();
    }
    $("#addSubArea").click(function () {
        $("#tblAuditSubAreas .AuditSubAreaEmptyRow").remove();
        var auditSubAreaName = $("#txtAuditSubArea").val().trim();
        if (auditSubAreaName=="") {
            custAlertMsg("Sub-Area Name Should not be Empty", "error");
        }
        else if ($("#txtAuditSubArea").val().trim() == $("#txtAuditArea").val().trim()) {
            custAlertMsg("Audit Area Name and Sub-Area Name Should not be Same.", "error");
        }
        else {
            var IsAuditSubAreaUnique = true;
            $('#tblAuditSubAreas .AuditSubAreaRow').each(function () {
                if ($(this).find(".auditSubAreaNameLblClass").html() == auditSubAreaName) {
                      IsAuditSubAreaUnique = false;
                    }
            });
            if (IsAuditSubAreaUnique) {
                $("#tblAuditSubAreas tbody").append('<tr class="AuditSubAreaRow">' +
                    '<td><span class="auditSubAreaNameLblClass">' + auditSubAreaName + '</span>' +
                    '<input class="form-control auditSubAreaNameTxtClass" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event);" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="150" style="display:none" type="text" placeholder="Audit Area Name"/></td>' +
                    '<td><a class="Edit auditSubAreaEditAction" title="Edit" href="#" onclick="editAuditSubAreas(this);"></a>' +
                    '<span class="auditSubAreaEditMode" style="display:none">' +
                    '<a href= "#" class="btn btn-revert_popup" style="margin-bottom:0px;" onclick="UpdateAuditSubAreas(this);">Update</a>' +
                    '<a href="#" class="btn btn-cancel_popup" style="margin-bottom:0px;" onclick="ResetAuditSubAreaEdit();">Cancel</a></span>' +
                    '</td>' +
                    '<td><a class="delete_icon_feed" title="Remove" onclick="RemoveAuditSubAreas(this)"></a></td>' +
                    '</tr>');
                $('#txtAuditSubArea').val('');
            }
            else {
                custAlertMsg("Sub-Area Name Should be Unique.", "error");
            }
        }
    });

    function editAuditSubAreas(cntrl) {
        ResetAuditSubAreaEdit();
        $(cntrl).closest("tr").find(".auditSubAreaNameTxtClass").show();
        $(cntrl).closest("tr").find(".auditSubAreaNameLblClass").hide();
        $(cntrl).closest("tr").find(".auditSubAreaEditMode").show();
        $(cntrl).hide();
        $(cntrl).closest("tr").find(".auditSubAreaNameTxtClass").val($(cntrl).closest("tr").find(".auditSubAreaNameLblClass").text());
        $(cntrl).closest("tr").addClass("editedSubArea");
    }

    function UpdateAuditSubAreas(cntrl) {
        if ($(cntrl).closest("tr").find(".auditSubAreaNameTxtClass").val() != "") {
            var AuditSubAreaNameEntry = $(cntrl).closest("tr").find(".auditSubAreaNameTxtClass").val().trim();
            var PreviousSubAreaName = $(cntrl).closest("tr").find(".auditSubAreaNameLblClass").text().trim();
            if (AuditSubAreaNameEntry != $("#txtAuditArea").val().trim())
            {
                if (AuditSubAreaNameEntry != PreviousSubAreaName)
                {
                    var IsAuditSubAreaUnique = true;
                    $('#tblAuditSubAreas .AuditSubAreaRow').each(function () {
                        if (!$(this).hasClass("editedSubArea")) {
                            if ($(this).find(".auditSubAreaNameLblClass").html() == AuditSubAreaNameEntry) {
                                IsAuditSubAreaUnique = false;
                            }
                        }
                    });
                    if (IsAuditSubAreaUnique) {
                        $(cntrl).closest("tr").find(".auditSubAreaNameLblClass").text(AuditSubAreaNameEntry);
                        ResetAuditSubAreaEdit();
                    }
                    else {
                        custAlertMsg("Sub-Area Name Should be Unique.", "error");
                    }
                }
                else {
                    custAlertMsg("There's no Change to Update", "info");
                }
            }
            else {
                custAlertMsg("Audit Area Name and Sub-Area Name Should not be Same.", "error");
            }
        }
        else {
            custAlertMsg("Sub-Area Name Should not be Empty", "error");
        }
    }

    function ResetAuditSubAreaEdit() {
        $("#tblAuditSubAreas tbody tr").find(".auditSubAreaNameTxtClass").hide();
        $("#tblAuditSubAreas tbody tr").find(".auditSubAreaEditMode").hide();
        $("#tblAuditSubAreas tbody tr").find(".auditSubAreaEditAction").show();
        $("#tblAuditSubAreas tbody tr").find(".auditSubAreaNameLblClass").show();
        $("#tblAuditSubAreas tbody tr").removeClass("editedSubArea");
    }

    function RemoveAuditSubAreas(cntrl) {
        $(cntrl).closest('tr').remove();

        if ($("#tblAuditSubAreas tbody tr").length==0) {
            $("#tblAuditSubAreas tbody").append('<tr class="AuditSubAreaEmptyRow"><td colspan="3">No Records Added</td></tr>');
        }
    }

    function CreateAuditArea() {
        ResetAuditAreaCreate();
        $('#modalAuditAreaCreate').modal('show', { backdrop: 'static', keyboard: false });
    }

    function ResetAuditAreaCreate() {
        $('#txtAuditArea').val('');
        $('#txtAuditSubArea').val('');
        $("#tblAuditSubAreas tbody").empty();
        $("#tblAuditSubAreas tbody").append('<tr class="AuditSubAreaEmptyRow"><td colspan="3">No Records Added</td></tr>');
    }
</script>

<!--jQuery Datatable for Audit Area-->
<script>
    var otblAuditArea;
    $(function () {
        if (otblAuditArea!=null) {
            otblAuditArea.destroy();
        }
        otblAuditArea = $('#tblAuditArea').DataTable({
            columns: [
                { 'data': 'AuditAreaID' },
                { 'data': 'AuditAreaName' },
                { 'data': 'AuditSubArea' },
                { 'data': 'CreatedBy' },
                { 'data': 'CreatedDate' },
                { 'data': 'ModifiedBy' },
                { 'data': 'ModifiedDate' },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) { return '<a class="Edit" title="Edit" href="#" onclick="EditAuditArea(' + o.AuditAreaID + ',this);"></a>'; }
                }//7
            ],
            "aoColumnDefs": [{ "targets": [0], "visible": false, "searchable": false },
                { className: "textAlignLeft", "targets": [2, 3, 5] },{ className: "textAlignCenter", "targets": [7] },
                { className: "textAlignLeft auditAreaTxtClass", "targets": [1]}],
            "sAjaxSource": "@Url.Content("~/QMS/AuditMaster/GetAuditAreaDetails")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else if (result.msgType == "error") {
                                custAlertMsg(result.msg, "error");
                            }
                            else {
                               fnCallback(result);
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
         });
    });

    function ReloadAuditAreaMainList() {
        otblAuditArea.ajax.reload();
    }

    function close_MdfAuditArea() {
        ReloadAuditAreaMainList();
        $("#modalAuditAreaEdit").modal('hide');
    }
</script>

<!--Audit Area Edit-->
<script>
    function EditAuditArea(AuditAreaID, cntrl) {
        $("#txtAuditAreaEdit").val($(cntrl).closest("tr").find(".auditAreaTxtClass").html());
        $('#hdnAuditAreaID').val(AuditAreaID);
        $('#hdnAuditAreaName').val($(cntrl).closest("tr").find(".auditAreaTxtClass").html());
        $("#rbnAuditAreaActive").prop("checked", true);
        LoadAuditSubAreasList();
        $("#txtAuditSubAreaEdit").val("");
        $('#modalAuditAreaEdit').modal('show', { backdrop: 'static', keyboard: false });
    }

    function ResetAuditArea() {
        $("#txtAuditAreaEdit").val($('#hdnAuditAreaName').val());
    }
    function LoadAuditSubAreasList() {
        ShowPleaseWait('show');
        $("#tblAuditAreaEdit tbody").empty();
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '@Url.Content("~/QMS/AuditMaster/GetListOfSubAreas")',
            data: { AuditAreaID: $('#hdnAuditAreaID').val()},
            success: function (result) {
                ShowPleaseWait('hide');
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            var jsonList = result.data;
                            $.each(jsonList, function (index, obj) {
                                $("#tblAuditAreaEdit tbody").append('<tr>' +
                                    '<td style="display:none" class="AuditSubAreaID_Class">' + obj.AuditSubAreaID + '</td>' +
                                    '<td><span class="AuditSubAreaNameLblEditClass">' + obj.AuditSubAreaName + '</span>' +
                                    '<input class="form-control AuditSubAreaNameTxtEditClass" onkeypress= "return ValidateAlphaUnderscoreandMinusandBrackets(event);" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="150" style= "display:none" type= "text" placeholder= "Audit Area Name" />' +
                                    '</td>' +
                                    '<td style="text-align:center;"><span class="EditAuditSubAreaIsActiveLbl" style="margin-top:7px;">' + obj.IsActive + '</span>' +
                                    '<input class="CbEditAuditSubAreaIsActive" style="display:none" type="checkbox">' +
                                    '</td>' +
                                    '<td>' + obj.CreatedBy + '</td>' +
                                    '<td>' + obj.CreatedDate + '</td>' +
                                    '<td class="EditAuditSubAreaModifiedBy">' + obj.ModifiedBy + '</td>' +
                                    '<td class="EditAuditSubAreaModifiedDate">' + obj.ModifiedDate + '</td>' +
                                    '<td style="width:167px;"><a class="Edit EditAuditSubAreaName" title="Edit" onclick="EditAuditSubAreaOfAuditArea(this)"></a>' +
                                    '<div class=" EditAuditSubAreaNameUpdate" style="display:none"><a href= "#" class="btn btn-revert_popup" style= "margin-bottom:0px;padding:0px;" onclick= "EditAuditSubAreaNameSubmit(this);">Update</a>' +
                                    '<span class="btn btn-cancel_popup" style="margin-bottom:0px;" onclick="ResetAuditSubAreaExistingEdit();">Cancel</span></span>' +
                                    '</td>' +
                                    '</tr>');
                            });
                            break;
                    }
                }
            }
        });
    }

    function UpdateAuditAreaName() {
        if ($('#txtAuditAreaEdit').val().trim() != "") {
            var IsActive = 0;
            if ($('#rbnAuditAreaActive').prop('checked')) {
                IsActive = 1;
            }
            var ModifyAuditAreaName = {
                "AuditAreaID": $('#hdnAuditAreaID').val(), "AuditAreaName": $("#txtAuditAreaEdit").val().trim(),
                "IsActive": IsActive
            };

            $.post("@Url.Content("~/QMS/AuditMaster/UpdateAuditAreaName")", ModifyAuditAreaName,
                function (result) {
                    if (result.msgRedirecttoLoginPage) {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        switch (result.msgType) {
                            case "error":
                                custAlertMsg(result.msg, "error");
                                break;
                            case "info":
                                custAlertMsg(result.msg, "info");
                                break;
                            case "warning":
                                custAlertMsg(result.msg, "warning");
                                break;
                            case "success":
                                custAlertMsg(result.msg, "success");
                                break;
                        }
                    }
                        }, 'json');
        }
        else {
            custAlertMsg("Audit Area Name Shouldn\'t be Empty", "error");
        }
    }
</script>

<!--Sub Area Inline Edit-->
<script>
    function EditAuditSubAreaOfAuditArea(cntrl) {
        ResetAuditSubAreaExistingEdit();
        $(cntrl).closest("tr").find(".AuditSubAreaNameLblEditClass").hide();
        $(cntrl).closest("tr").find(".AuditSubAreaNameTxtEditClass").show();
        $(cntrl).closest("tr").find(".EditAuditSubAreaIsActiveLbl").hide();
        $(cntrl).closest("tr").find(".CbEditAuditSubAreaIsActive").show();
        if ($(cntrl).closest("tr").find(".EditAuditSubAreaIsActiveLbl").html()=="Yes") {
            $(cntrl).closest("tr").find(".CbEditAuditSubAreaIsActive").prop('checked', true);
        }
        else {
            $(cntrl).closest("tr").find(".CbEditAuditSubAreaIsActive").prop('checked', false);
        }
        $(cntrl).closest("tr").find(".AuditSubAreaNameTxtEditClass").val($(cntrl).closest("tr").find(".AuditSubAreaNameLblEditClass").html());
        $(cntrl).hide();
        $(cntrl).closest("tr").find(".EditAuditSubAreaNameUpdate").show();
    }

    function ResetAuditSubAreaExistingEdit() {
        $("#tblAuditAreaEdit tbody tr").find(".AuditSubAreaNameTxtEditClass").hide();
        $("#tblAuditAreaEdit tbody tr").find(".EditAuditSubAreaNameUpdate").hide();
        $("#tblAuditAreaEdit tbody tr").find(".EditAuditSubAreaIsActiveLbl").show();
        $("#tblAuditAreaEdit tbody tr").find(".CbEditAuditSubAreaIsActive").hide();
        $("#tblAuditAreaEdit tbody tr").find(".EditAuditSubAreaName").show();
        $("#tblAuditAreaEdit tbody tr").find(".AuditSubAreaNameLblEditClass").show();
    }

    function EditAuditSubAreaNameSubmit(cntrl) {
        if ($(cntrl).closest("tr").find(".AuditSubAreaNameTxtEditClass").val().trim() != "")
        {
            var ActiveState = "No";
           // alert($(cntrl).closest("tr").find(".CbEditAuditSubAreaIsActive").prop("checked"));
            if ($(cntrl).closest("tr").find(".CbEditAuditSubAreaIsActive").prop("checked")) {
                ActiveState = "Yes";
            }
            if ($(cntrl).closest("tr").find(".AuditSubAreaNameTxtEditClass").val() == $(cntrl).closest("tr").find(".AuditSubAreaNameLblEditClass").html()
                && ActiveState == $(cntrl).closest("tr").find(".EditAuditSubAreaIsActiveLbl").html())
            {
                custAlertMsg("There are no changes to Update.", "warning");
            }
            else
            {
                var AuditAreaID = $('#hdnAuditAreaID').val();
                var AuditSubAreaID = $(cntrl).closest("tr").find(".AuditSubAreaID_Class").html();
                var AuditSubAreaName = $(cntrl).closest("tr").find(".AuditSubAreaNameTxtEditClass").val().trim();
                var IsActive = $(cntrl).closest("tr").find(".CbEditAuditSubAreaIsActive").is(":checked");
                $.post("@Url.Content("~/QMS/AuditMaster/UpdateAuditSubAreas")",
                    { "AuditAreaID": AuditAreaID, "AuditSubAreaID": AuditSubAreaID, "AuditSubAreaName": AuditSubAreaName, "IsActive": IsActive },
                 function (result) {
                     if (result.msgRedirecttoLoginPage) {
                         window.location.href = '/UserLogin.aspx';
                     }
                     else {
                         switch (result.msgType) {
                             case "error":
                                 custAlertMsg(result.msg, "error");
                                 break;
                             case "info":
                                 custAlertMsg(result.msg, "info");
                                 break;
                             case "warning":
                                 custAlertMsg(result.msg, "warning");
                                 break;
                             case "success":
                                 ResetAuditSubAreaExistingEdit();
                                 $(cntrl).closest("tr").find(".AuditSubAreaNameLblEditClass").html($(cntrl).closest("tr").find(".AuditSubAreaNameTxtEditClass").val());
                                 $(cntrl).closest("tr").find(".EditAuditSubAreaIsActiveLbl").html(IsActive ? "Yes" : "No");
                                 $(cntrl).closest("tr").find(".EditAuditSubAreaModifiedBy").html(result.data.ModifiedBy);
                                 $(cntrl).closest("tr").find(".EditAuditSubAreaModifiedDate").html(result.data.ModifiedDate);
                                 custAlertMsg(result.msg, "success");
                                 break;
                         }
                     }
                        }, 'json');
            }
        }
        else {
            custAlertMsg("Audit Sub-Area Shouldn\'t be Empty", "error");
        }
     }

</script>

<!--Add Sub-Area for to Audit Area-->
<script>
    $("#addSubAreaEdit").click(function () {
        var objAuditSubArea = {
            "AreaID": $('#hdnAuditAreaID').val(),
            "SubAreaName": $("#txtAuditSubAreaEdit").val().trim(),
            "IsActive": true
        }
        if ($("#txtAuditSubAreaEdit").val().trim() != "") {
            $.post("@Url.Content("~/QMS/AuditMaster/AddSubAreasForAuditArea")", objAuditSubArea,
                function (result) {
                    if (result.msgRedirecttoLoginPage) {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        switch (result.msgType) {
                            case "error":
                                custAlertMsg(result.msg, "error");
                                break;
                            case "info":
                                custAlertMsg(result.msg, "info");
                                break;
                            case "warning":
                                custAlertMsg(result.msg, "warning");
                                break;
                            case "success":
                                custAlertMsg(result.msg, "success","AddSubAreasForAuditAreaOnSuccess();");

                                break;
                        }
                    }
                        }, 'json');
        }
        else {
            custAlertMsg("Sub-Area Shouldn't be empty","error")
        }
    });
    function AddSubAreasForAuditAreaOnSuccess() {
        $('#txtAuditSubAreaEdit').val('');
        LoadAuditSubAreasList();
    }
</script>
