﻿<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom ">
    <div id='divOpenAuditorDialog'></div>
    <button class="float-right btn btn-dashboard" style="margin-bottom:0px;" id="divLoadCreatePopup" onclick="LoadCreateAuditorPopup();">Create Auditor</button>
</div>
<!--Jquery Datatable Html-->
<table id="tblAuditors" class="table datatable_cust table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>AuditorID</th>
            <th>AgencyOrClientID</th>
            <th>Name</th>
            <th>Email ID</th>
            <th>Contact Number</th>
            <th>Category</th>
            <th>Agency/Client Name</th>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Modified By</th>
            <th>Modified Date</th>
            <th>Edit</th>
        </tr>
    </thead>
</table>
<!--Script For Jquery Datatable-->
<script>
    var oAuditorsList;
    function loadAuditorsList() {
        if (oAuditorsList != null) {
            oAuditorsList.destroy();
        }
        oAuditorsList = $('#tblAuditors').DataTable({
            columns: [
                { 'data': 'AuditorID' },
                { 'data': 'RegulatoryAgencyOrClientID' },
                { 'data': 'AuditorName' },
                { 'data': 'AuditorEmailID' },
                { 'data': 'AuditorContactNumber' },
                { 'data': 'AuditorCategory' },
                { 'data': 'AgencyOrClientName' },
                { 'data': 'CreatedByName' },
                { 'data': 'CreatedDate' },
                { 'data': 'ModifiedByName' },
                { 'data': 'ModifiedDate' },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a class="Edit" title="Edit Auditor" href="#" onclick="LoadEditAuditor(' + o.AuditorID + ',\'' + o.AuditorName + '\',\'' + o.AuditorEmailID + '\',\'' + o.AuditorContactNumber + '\',\'' + o.AuditorCategory + '\',' + o.RegulatoryAgencyOrClientID + ');"></a>';
                    }
                }
            ],
            "aoColumnDefs": [{ "targets": [0, 1,3,4], "visible": false, "searchable": false },
            { className: "textAlignCenter", "targets": [8, 10,11] }],
            "sAjaxSource": "@Url.Content("~/QMS/AuditMaster/GetAuditorsList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgType == "error") {
                            custAlertMsg(result.msg, "error");
                        }
                        else {
                            fnCallback(result);
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object")
                        {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            var msg = "";
                            if (xhr.status === 0) {
                                msg = 'No server Connection, Verify Network.';
                            } else if (xhr.status == 404) {
                                msg = 'Requested page not found. [404]';
                            } else if (xhr.status == 500) {
                                msg = 'Internal Server Error [500].';
                            }
                            if (msg != "") {
                                custAlertMsg(msg, "error");
                            }
                        }
                    }
                });
            }
        });
    }
</script>
<script>
    var _AuditorID = "0";
    var _AuditorName = "";
    var _AuditorEmailID = "";
    var _AuditorContactNumber = "";
    $(function () {
        loadAuditorsList();
    });

    function LoadEditAuditor(AuditorID, AuditorName, AuditorEmailID, AuditorContactNumber, AuditorCategory, AuditorAgencyOrClientID) {
        _AuditorID = AuditorID;
        _AuditorName = AuditorName;
        _AuditorEmailID = AuditorEmailID;
        _AuditorContactNumber = AuditorContactNumber;
        ShowPleaseWait('show');
        var divCreateAuditorView = $("#divOpenAuditorDialog");
        divCreateAuditorView.empty();
        divCreateAuditorView.load("@Url.Content("~/QMS/AuditMaster/OpenCreateAuditor?CreateOrEdit=Edit")", function () {
            ShowPleaseWait('hide');
            $("#hdnAuditorCreateType").val("EditAuditor");
            $("#rbnRegulatoryAgencyAuditor").focus();
            if (AuditorCategory == "Client") {
                $("#rbnClientAuditor").prop("checked", true);
                $("#rbnClientAuditor").parents('label').addClass("active");
                $("#rbnRegulatoryAgencyAuditor").prop("checked", false);
                $("#rbnRegulatoryAgencyAuditor").parents('label').removeClass("active");
                $("#ddlAuditorClientList").selectpicker("refresh");
                $("#ddlAuditorClientList").val(AuditorAgencyOrClientID);
                $("#ddlAuditorClientList").selectpicker("refresh");
                $("#ddlAuditorClientList").prop('disabled', 'disabled');
                $('button[data-id="ddlAuditorClientList"]').attr("style", "cursor:not-allowed");
                $("#divClient").css("display", "inline-block");
                $("#divAuditorRegulatoryAgency").css("display", "none");
            }
            else {
                $("#rbnRegulatoryAgencyAuditor").prop("checked", true);
                $("#rbnRegulatoryAgencyAuditor").parents('label').addClass("active");
                $("#rbnClientAuditor").prop("checked", false);
                $("#rbnClientAuditor").parents('label').removeClass("active");
                $("#ddlAuditorRegulatoryAgencyList").selectpicker("refresh");
                $("#ddlAuditorRegulatoryAgencyList").val(AuditorAgencyOrClientID);
                $("#ddlAuditorRegulatoryAgencyList").selectpicker("refresh");
                $("#ddlAuditorRegulatoryAgencyList").prop('disabled', 'disabled');
                $('button[data-id="ddlAuditorRegulatoryAgencyList"]').attr("style", "cursor:not-allowed");
                $("#divClient").css("display", "none");
                $("#divAuditorRegulatoryAgency").css("display", "inline-block");
            }
            $('#divAuditorCategory').addClass('radio_disable');
            $("#txtCreateAuditorName").val(AuditorName);
            $("#txtCreateAuditorContactNo").val(AuditorContactNumber);
            $("#txtCreateAuditorEmailID").val(AuditorEmailID);
            $("#AuditorPopupTitle").html('Edit Auditor');
            $('#modalAuditor').modal('show', { backdrop: 'static', keyboard: false });
        });
    }

        function AjaxCallUpdateAuditorDetails(NewAuditorName, NewAuditorEmailID, NewAuditorContactNumber)
        {
            if (_AuditorName == NewAuditorName && _AuditorEmailID == NewAuditorEmailID && _AuditorContactNumber == NewAuditorContactNumber) {
                custAlertMsg("There are No changes to update.", "info");
            }
            else {
                $.post("@Url.Content("~/QMS/AuditMaster/AuditorDetailsModify")?AuditorID=" + _AuditorID + "&AuditorName=" + NewAuditorName + "&AuditorEmailID=" + NewAuditorEmailID + "&AuditorContactNo=" + NewAuditorContactNumber,
                function (result) {
                    if (result.msgRedirecttoLoginPage) {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        switch (result.msgType) {
                            case "error":
                                custAlertMsg(result.msg, "error");
                                break;
                            case "info":
                                custAlertMsg(result.msg, "info");
                                break;
                            case "warning":
                                custAlertMsg(result.msg, "warning");
                                break;
                            case "success":
                                custAlertMsg(result.msg, "success", "OnAuditorDetailsUpdateSuccess();");
                                break;
                        }
                    }
                }, 'json');
            }
        }
        function OnAuditorDetailsUpdateSuccess() {
            loadAuditorsList();
            $('#modalAuditor').modal('hide');
        }

        function LoadCreateAuditorPopup() {
             ShowPleaseWait('show');
        var divCreateAuditorView = $("#divOpenAuditorDialog");
        divCreateAuditorView.empty();
        divCreateAuditorView.load("@Url.Content("~/QMS/AuditMaster/OpenCreateAuditor?CreateOrEdit=Create")", function () {
            $('#modalAuditor').modal('show', { backdrop: 'static', keyboard: false });
            $("#hdnAuditorCreateType").val("AuditorList");
            $("#rbnRegulatoryAgencyAuditor").focus();
            ShowPleaseWait('hide');
        });
    }
</script>


