﻿@model IEnumerable<QMS_BO.QMS_Audit_BO.AuditMaster.AuditCategoryTypeBO>
<style>
    .Edit {
        background: url(../../../Images/GridActionImages/edit.png) no-repeat center center;
        padding: 12px;
        top: 1px;
        float: left;
        background-size: 24px 24px;
        cursor: pointer;
        width: 100%;
    }
    

</style>
<div class="col-12 float-left">
    <table class="table datatable_cust table-bordered" style="width: 100%;" id="tblCategoryTypeList">
        <tr class="UserDefinedTableHeader">
            <th style="display:none;">Type ID</th>
            <th>Category Type Name</th>
            <th style="text-align:center!important;">Active</th>
            <th>Category</th>
            <th>Created Date</th>
            <th>Modified By</th>
            <th>Modified Date</th>
            <th style="text-align:center!important;">Edit</th>
        </tr>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="8" style="text-align:center !important;">
                    No Records Available
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr class="UserDefinedTableBody">
                    <td style="display:none">
                        <span class="lblCategoryTypeID"> @Html.DisplayFor(model => item.TypeID)</span>
                    </td>
                    <td>
                        <span class="lblCategoryTypeName"> @Html.DisplayFor(model => item.TypeName)</span>
                        <input type="text" class="txtCategoryTypeName UserDefineTableInlineNameTextBox" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event);" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="50">
                    </td>
                    <td style="text-align:center!important;">
                        @if (item.IsActive.ToString() == "True")
                        {
                            <span class="lblCategoryTypeIsActive">Yes</span>
                        }
                        else
                        {
                            <span class="lblCategoryTypeIsActive">No</span>
                        }
                        <input class="CbCategoryTypeIsActive" style="display:none" type="checkbox">
                    </td>
                    <td>
                        <span class="lblCategoryTypeCategoryID" style="display:none;">@Html.DisplayFor(model => item.CategoryID)</span>
                        <span class="lblCategoryTypeCategoryName">@Html.DisplayFor(model => item.CategoryName)</span>
                    </td>
                    <td>
                        <span class="lblCategoryTypeCreatedDate">@Html.DisplayFor(model => item.CreatedDate)</span>
                    </td>
                    <td>
                        <span class="lblCategoryTypeModifiedByName">@Html.DisplayFor(model => item.ModifiedByName)</span>
                    </td>
                    <td>
                        <span class="lblCategoryTypeModifiedDate">@Html.DisplayFor(model => item.ModifiedDate)</span>
                    </td>
                    <td class="UserDefinedTableButtonstd" style="text-align:center !important;">
                        <a class="btnCategoryTypeEdit edit_icon_feed Edit" title=" Edit" style="margin-left:0%;"></a>
                        <button type="button" class="btnCategoryTypeUpdate   btn btn-revert_popup" style="margin-bottom:0px;display:none">Update</button>
                        <button type="button" class="btnCategoryTypeCancel   btn btn-cancel_popup" style="margin-bottom:0px;display:none">Cancel</button>
                    </td>
                </tr>
            }
        }
    </table>
</div>
<script>
    function DefaultCategoryTypeTableDisplay() {
        $("#tblCategoryTypeList .btnCategoryTypeUpdate").css("display", "none");
        $("#tblCategoryTypeList .btnCategoryTypeCancel").css("display", "none");
        $("#tblCategoryTypeList .btnCategoryTypeEdit").css("display", "inline-block");
        $("#tblCategoryTypeList .txtCategoryTypeName").css("display", "none");
        $("#tblCategoryTypeList .lblCategoryTypeName").css("display", "inline-block");
        $("#tblCategoryTypeList .CbCategoryTypeIsActive").css("display", "none");
        $("#tblCategoryTypeList .lblCategoryTypeIsActive").css("display", "inline-block");
    }
    var txtCategoryTypeName = "";
    var lblCategoryTypeName = "";
    var lblCategoryTypeModifiedBy = "";
    var lblCategoryTypeModifiedDate = "";
    var lblCategoryTypeIsActive = "";
    var cbCategoryTypeIsActive = "";
    $(".btnCategoryTypeEdit").click(function () {
        DefaultCategoryTypeTableDisplay();
        lblCategoryTypeName = $(this).closest("tr").find(".lblCategoryTypeName");
        txtCategoryTypeName = $(this).closest("tr").find(".txtCategoryTypeName");
        lblCategoryTypeModifiedBy = $(this).closest("tr").find(".lblCategoryTypeModifiedByName");
        lblCategoryTypeModifiedDate = $(this).closest("tr").find(".lblCategoryTypeModifiedDate");
        cbCategoryTypeIsActive = $(this).closest("tr").find(".CbCategoryTypeIsActive");
        lblCategoryTypeIsActive = $(this).closest("tr").find(".lblCategoryTypeIsActive");
        if (lblCategoryTypeIsActive.text().trim() == "Yes") {
            cbCategoryTypeIsActive.prop("checked", true);
        }
        else {
            cbCategoryTypeIsActive.prop("checked", false);
        }
        lblCategoryTypeIsActive.css("display", "none");
        cbCategoryTypeIsActive.css("display", "inline-block");
        $(txtCategoryTypeName).val(lblCategoryTypeName.text().trim());
        lblCategoryTypeName.css("display", "none");
        txtCategoryTypeName.css("display", "inline-block");
        $(this).closest("tr").find(".btnCategoryTypeUpdate").css("display", "inline-block");
        $(this).closest("tr").find(".btnCategoryTypeCancel").css("display", "inline-block");
        $(this).closest("tr").find(".btnCategoryTypeEdit").css("display", "none");
    });
    $(".btnCategoryTypeCancel").click(function () {
        DefaultCategoryTypeTableDisplay();
    });

    var NewCategoryIsActive = "No";
    var CategoryTypeCategoryID = "";
    var NewtxtCategoryTypeName = "";
    $(".btnCategoryTypeUpdate").click(function () {
        var CategoryTypeID = $(this).closest("tr").find(".lblCategoryTypeID").text();
        lblCategoryTypeName = $(this).closest("tr").find(".lblCategoryTypeName");
        NewtxtCategoryTypeName = $(this).closest("tr").find(".txtCategoryTypeName");
        var NewCategoryTypeName = NewtxtCategoryTypeName.val().trim();
        if ($(this).closest("tr").find(".CbCategoryTypeIsActive").prop("checked") == true) {
            NewCategoryIsActive = "Yes";
        }
        else {
            NewCategoryIsActive = "No";
        }
        CategoryTypeCategoryID = $(this).closest("tr").find(".lblCategoryTypeCategoryID").text();

        errors = [];
        if (NewCategoryTypeName=="") {
            errors.push("Category Type Name Should not be empty.");
        }
        if (errors.length > 0) {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        else if (lblCategoryTypeName.text().trim() == NewCategoryTypeName && lblCategoryTypeIsActive.text().trim()==NewCategoryIsActive)
        {
            custAlertMsg("There are no changes to Update.", "warning");
        }
        else {
            var NewCategoryIsActiveValue = "False";
            if (NewCategoryIsActive=="Yes") {
                NewCategoryIsActiveValue = "True";
            }
            AjaxCallUpdateCategoryTypeDetails(CategoryTypeID, NewCategoryTypeName, NewCategoryIsActiveValue, CategoryTypeCategoryID);
            return true;
        }
    });
     var ModifiedByNameValue = "";
    var ModifiedDatevalue = "";
    function AjaxCallUpdateCategoryTypeDetails(CategoryTypeID, NewCategoryTypeName, NewCategoryIsActiveValue, CategoryTypeCategoryID) {
        $.post("@Url.Content("~/QMS/AuditMaster/AuditCategoryTypeModify")?CategoryTypeID=" + CategoryTypeID + "&CategoryTypeName=" + NewCategoryTypeName + "&CategoryIsActive=" + NewCategoryIsActiveValue + "&CategoryTypeCategoryID=" + CategoryTypeCategoryID,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg(result.msg, "success", "OnAuditCategoryUpdateSuccess();");
                            ModifiedByNameValue = result.ModifiedByName;
                            ModifiedDatevalue = result.ModifiedDate;
                            break;
                    }
                }
            }, 'json');
    }
    function OnAuditCategoryUpdateSuccess() {
        lblCategoryTypeName.text(txtCategoryTypeName.val());
        lblCategoryTypeModifiedBy.text(ModifiedByNameValue);
        lblCategoryTypeModifiedDate.text(ModifiedDatevalue);
        lblCategoryTypeIsActive.text(NewCategoryIsActive);
        DefaultCategoryTypeTableDisplay();
    }
</script>
