﻿<script src=@Url.Content("~/AppScripts/PartialViewScript.js")></script>
@Html.Partial("~/Areas/QMS/Views/AuditMaster/OpenCreateObserver.cshtml")
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom ">
    <button class="float-right btn btn-dashboard" style="margin-bottom:0px;" id="btnOpenObserverPopup" onclick="OpenObserverPopup();">Create Observer</button>
</div>
<!--Observer Of List-->
<div class="col-12 padding-none float-left">
    <table class="table datatable_cust table-bordered" style="width: 100%;" id="tblObserverList">
        <thead>
            <tr>
                <th>ObserverID</th>
                <th>Observer Name</th>
                <th>Email ID</th>
                <th>Contact Number</th>
                <th>Additional Details</th>
                <th>Category</th>
                <th>Agency/Client Name</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Modified By</th>
                <th>Modified Date</th>
                <th>Base Type</th>
                <th>Base ID</th>
                <th>Edit</th>
            </tr>
        </thead>
    </table>
</div>
<!--Observer jquery datatable script-->
<script>
    var oTblObserverList;
    $(function () {
        if (oTblObserverList!=null) {
            oTblObserverList.destroy();
        }
        oTblObserverList = $('#tblObserverList').DataTable({
            columns: [
                { 'data': 'ObserverID' },//0
                { 'data': 'ObserverName' },//2
                { 'data': 'ObserverEmailID' },//3
                { 'data': 'ObserverContactNumber' },//4
                { 'data': 'ObserverAdditionalDetails' },//5
                { 'data': 'ObserverCategory' },//6
                { 'data': 'ClientOrRegulatoryID' },//7
                { 'data': 'CreatedByName' },//8
                { 'data': 'CreatedDate' },//9
                { 'data': 'ModifiedByName' },//10
                { 'data': 'ModifiedDate' },//11
                { 'data': 'BaseType' },//10 ObserverCategoryID 'Agency/Client'
                { 'data': 'BaseID' },//11  ClientOrRegulatoryID
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a class="edit_icon_feed Edit" title="Edit" href="#" onclick="EditObserver(' + o.ObserverID + ',\'' + o.ObserverName + '\',\'' + o.ObserverEmailID + '\',' + o.ObserverContactNumber + ',\'' + o.ObserverAdditionalDetails + '\','+ o.BaseType +','+ o.BaseID +');"></a>';
                    }
                }//13
            ],
            "aoColumnDefs": [{ "targets": [0,2,3,4,11, 12], "visible": false, "searchable": false }, { className: "textAlignCenter", "targets": [13] }],
            "sAjaxSource": "@Url.Content("~/QMS/AuditMaster/GetObserverList")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            fnCallback(result);
                         },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
         });
    });

    
</script>

<script>
    var EditObserverID = 0;
    var EditObserverName;
    var EditObserverEmailID;
    var EditObserverContactNumber;
    var EditObserverAdditionalDetails;
    var EditObserverCategory;
    var EditClientOrRegulatoryID;
    $(function () {
        $("#hdnObserverCreateType").val("ObserverList");
    });

    function EditObserver(ObserverID, ObserverName, ObserverEmailID, ObserverContactNumber, ObserverAdditionalDetails, BaseType, BaseID) {
        $('.ObserverPopupTitle').html('Edit Observer');
        $('#btnObserverUpdate').show();
        $('#btnObserverCreate').hide();

        EditObserverID = ObserverID
        EditObserverName = ObserverName
        EditObserverEmailID = ObserverEmailID
        EditObserverContactNumber = ObserverContactNumber
        EditObserverAdditionalDetails = ObserverAdditionalDetails
        EditObserverCategory = BaseType;    //ObserverCategoryID 'Agency/Client'
        EditClientOrRegulatoryID = BaseID; // ClientOrRegulatoryID DropwonList ID

        $("#txtCreateObserverName").val(EditObserverName);
        $("#txtCreateObserverEmailID").val(EditObserverEmailID);
        $("#txtCreateObserverContactNo").val(EditObserverContactNumber);
        $("#txtCreateObserverAdditionalDetails").val(EditObserverAdditionalDetails);
        $('#divObserverCategory').addClass('radio_disable');
        if (EditObserverCategory != 1) {
            $("#rbnRegulatoryAgencyObserver").prop("checked", true);
            $("#rbnRegulatoryAgencyObserver").parents('label').addClass("active");
            $("#rbnClientObserver").parents('label').removeClass("active");
            EditLoadObserverRegulatoryList(EditClientOrRegulatoryID);
            $('#ddlObserverRegulatoryAgencyList').prop('disabled', true);
            $('#ddlObserverRegulatoryAgencyList').selectpicker("refresh");
            $("#divClient").hide();
            $("#divObserverRegulatoryAgency").show();
        }
        else {
            $("#rbnClientObserver").prop("checked", true);
            $("#rbnClientObserver").parents('label').addClass("active");
            $("#rbnRegulatoryAgencyObserver").parents('label').removeClass("active");
            EditLoadObserverClientList(EditClientOrRegulatoryID);
            $('#ddlObserverClientList').prop('disabled', true);
            $('#ddlObserverClientList').selectpicker("refresh");
            $("#divClient").show();
            $("#divObserverRegulatoryAgency").hide();
        }
        $('#modalObserver').modal('show');
    }
</script>

<!-- Observer Update-->
<script>
    function ObserverUpdate()
    {
        if (validationObserver())
        {
            if (EditObserverName != $("#txtCreateObserverName").val().trim()
                || EditObserverEmailID != $("#txtCreateObserverEmailID").val().trim()
                || EditObserverContactNumber != $("#txtCreateObserverContactNo").val().trim()
                || EditObserverAdditionalDetails != $("#txtCreateObserverAdditionalDetails").val().trim())
            {
                var auditObservData = {
                    "ObserverID": EditObserverID,
                    "ObserverName": $("#txtCreateObserverName").val().trim(),
                    "ObserverEmailID": $("#txtCreateObserverEmailID").val().trim(),
                    "ObserverContactNo": $("#txtCreateObserverContactNo").val().trim(),
                    "ObserverAdditionalDetails": $("#txtCreateObserverAdditionalDetails").val().trim()
                }
                $.post("@Url.Content("~/QMS/AuditMaster/ObserverDetailsModify")", auditObservData,
                function (result)
                {
                    switch (result.msgType)
                    {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            $('#modalObserver').modal('hide');
                            custAlertMsg(result.msg, "success", "ReloadObserverList();");
                            break;
                    }
                }, 'json');
            }
            else {
                custAlertMsg("There are no changes to Update.", "info");
            }
        }
    }
    function ReloadObserverList() {
        oTblObserverList.ajax.reload();
    }
</script>