﻿<script src=@Url.Content("~/AppScripts/PartialViewScript.js")></script>
<!--Start Regulatory Agency Create-->
<div class="col-12 float-left bottom">
    <button class="float-right btn btn-dashboard" onclick="OpenCreateRegulatoryPopup();">Create Regulatory Agency</button>
</div>
<!--Start Regulatory Agency List(Table)-->
<div class="col-12 padding-none float-left">
    <table class="table datatable_cust table-bordered" style="width: 100%;" id="tblRegulatoryAgencyList">
        <thead>
            <tr>
                <th>RegulatoryAgencyID</th>
                <th>Agency Code</th>
                <th>Agency Name</th>
                <th>Country/Region</th>
                <th>Status</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Modified By</th>
                <th>Modified Date</th>
                <th>Edit</th>
            </tr>
        </thead>
    </table>
</div>
<!--End Regulatory Agency List(Table)-->
<!--Start Regulatory Create-->
<div class="modal department" id="modalRegulatoryCreate" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="ModalTitile">Create Regulatory Agency </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-lg-12 float-left padding-none">
                    <label class="custom_label col-form-label" for="txtCreateRegulatoryAgencyCode">Regulatory Agency Code<span class="mandatoryStar">*</span></label>
                    <input class="form-control col-lg-12" id="txtCreateRegulatoryAgencyCode" type="text"
                           placeholder="Enter Regulatory Agency Code"
                           onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event)" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="10">
                </div>
                <div class="col-12 float-left padding-none">
                    <label class="custom_label col-form-label" for="txtCreateRegulatoryAgencyName">Regulatory Agency Name<span class="mandatoryStar">*</span></label>
                    <input class="form-control col-lg-12" id="txtCreateRegulatoryAgencyName" type="text" placeholder="Enter Regulatory Agency Name" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event)" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="100">
                </div>
                <div class="col-12 float-left padding-none">
                    <label class="custom_label col-form-label" for="txtCreateRegionName">Country/Region<span class="mandatoryStar">*</span></label>
                    <input class="form-control col-lg-12" id="txtCreateRegionName" type="text" placeholder="Enter Country or Region" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event)" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="150">
                </div>
                <div class=" btn-group-toggle float-left  col-lg-12 padding-none" data-toggle="buttons" id="rbtnsRegulatoryStatus">
                    <label class="col-12 custom_label col-form-label float-left padding-none">Status<span class="mandatoryStar">*</span></label>
                    <label class="btn btn-secondary float-left col-6 active lblAgencyActive">
                        <input type="radio" name="RegulatoryStatus" id="rbnRegulatoryAgencyActive" value="1"> Active
                    </label>
                    <label class="btn btn-secondary float-left col-6 lblAgencyInActive">
                        <input type="radio" name="RegulatoryStatus" id="rbnRegulatoryAgencyInActive" value="0"> Inactive
                    </label>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12  text-right col-12 bottom padding-none ">
                    <button type="button" class="btn btn-signup_popup btnAddAgency" onclick="RegulatoryAgencyCreate();">Add</button>
                    <button type="button" class="btn btn-signup_popup btnUpdateAgency" style="display:none" onclick="UpdateRegulatoryAgencyDetails();">Update</button>
                    <button type="button" class="btn btn-cancel_popup" data-dismiss="modal" onclick="ResetRegulatoryAgencyCreate();">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Regulatory Create-->
<!--Regulatory Jquery Data table-->
<script>
   var oTblRegulatoryAgencyList;
   $(function () {
       if (oTblRegulatoryAgencyList!=null) {
           oTblRegulatoryAgencyList.destroy();
       }
       oTblRegulatoryAgencyList = $('#tblRegulatoryAgencyList').DataTable({
            columns: [
                { 'data': 'RegulatoryAgencyID' },
                { 'data': 'RegulatoryAgencyCode' },
                { 'data': 'RegulatoryAgencyName' },
                { 'data': 'RegionName' },
                {
                    "mData": null,
                    "mRender": function (o)
                    {
                        return o.IsActive == true ? "Active" : "InActive";
                    }
                },
                { 'data': 'CreatedByName' },
                { 'data': 'CreatedDate' },
                { 'data': 'ModifiedByName' },
                { 'data': 'ModifiedDate' },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a class="Edit" title="Edit" href="#"' +
                            'onclick = "EditRegulatoryAgency(' + o.RegulatoryAgencyID
                            + ',\'' + o.RegulatoryAgencyCode + '\',\'' + o.RegulatoryAgencyName + '\',\''
                            + o.RegionName + '\','
                            + o.IsActive + ');" ></a > ';
                    }
                }
            ],
           "aoColumnDefs": [{ className: "textAlignCenter", "targets": [9] },{ "targets": [0], "visible": false, "searchable": false }],
            "sAjaxSource": "@Url.Content("~/QMS/AuditMaster/GetRegulatoryListData")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            fnCallback(result);
                         },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
         });
    });

    function ReloadRegulatoryAgencyList() {
        oTblRegulatoryAgencyList.ajax.reload();
    }

</script>

<!--Start script for Regulatory Agency Create & Modify-->
<script>
    var _RegulatoryAgencyID;
    var _RegulatoryAgencyCode;
    var _RegulatoryAgencyName;
    var _RegulatoryAgencyRegion;
    var _RegulatoryAgencyStatus;

    function OpenCreateRegulatoryPopup()
    {
        ResetRegulatoryAgencyCreate();
        $("#ModalTitile").html('Create Regulatory Agency');
        $(".btnAddAgency").show();
        $(".btnUpdateAgency").hide();
        $("#rbtnsRegulatoryStatus").hide();
        $('#modalRegulatoryCreate').modal('show');
    }

    function ResetRegulatoryAgencyCreate() {
        $("#txtCreateRegulatoryAgencyName").val("");
        $("#txtCreateRegulatoryAgencyCode").val("");
        $("#txtCreateRegionName").val("");
    }

    //On Create Click to validate the Fields.
    function ValidateRegulatoryAgency() {
        var txtCreateRegulatoryAgencyCode = $("#txtCreateRegulatoryAgencyCode").val().trim();
        var txtCreateRegulatoryAgencyName = $("#txtCreateRegulatoryAgencyName").val().trim();
        var txtCreateRegionName = $("#txtCreateRegionName").val().trim();
        errors = [];
        if (txtCreateRegulatoryAgencyCode=="") {
            errors.push("Enter Regulatory Agency Code");
        }
        if (txtCreateRegulatoryAgencyName == "" ) {
            errors.push("Enter Regulatory Agency Name");
        }
        if (txtCreateRegulatoryAgencyCode !== "" && txtCreateRegulatoryAgencyName !== "" && txtCreateRegulatoryAgencyCode == txtCreateRegulatoryAgencyName) {
            errors.push("Regulatory Agency Code and Name Should not be Same");
        }
        if (txtCreateRegionName == "") {
            errors.push("Enter Country or Region");
        }
        if (errors.length > 0) {
            custAlertMsg(errors.join(",<br/>") + ".", "error");
            return false;
        }
        else {
            return true;
        }
    }

    function RegulatoryAgencyCreate()
    {
        if (ValidateRegulatoryAgency())
        {
            var objRegulatoryDetails = {
                "RegulatoryAgencyCode": $("#txtCreateRegulatoryAgencyCode").val().trim(),
                "RegulatoryAgencyName": $("#txtCreateRegulatoryAgencyName").val().trim(),
                "RegionName": $("#txtCreateRegionName").val().trim()
            };
            $.post("@Url.Content("~/QMS/AuditMaster/RegulatoryAgencyCreate")", objRegulatoryDetails,
                function (result) {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            ResetRegulatoryAgencyCreate();
                            custAlertMsg(result.msg, "success", "ReloadRegulatoryAgencyList();");
                            break;
                    }
                }, 'json');
        }
    }

    function EditRegulatoryAgency(RegulatoryAgencyID, RegulatoryAgencyCode,
                RegulatoryAgencyName,RegulatoryAgencyRegion,RegulatoryAgencyStatus)
    {
        _RegulatoryAgencyID = RegulatoryAgencyID;
        _RegulatoryAgencyCode = RegulatoryAgencyCode;
        _RegulatoryAgencyName = RegulatoryAgencyName;
        _RegulatoryAgencyRegion = RegulatoryAgencyRegion;
        _RegulatoryAgencyStatus = RegulatoryAgencyStatus;
        $("#ModalTitile").html('Edit Regulatory Agency');
        $(".btnAddAgency").hide();
        $(".btnUpdateAgency").show();
        $("#rbtnsRegulatoryStatus").show();
        $("#txtCreateRegulatoryAgencyCode").val(RegulatoryAgencyCode);
        $("#txtCreateRegulatoryAgencyName").val(RegulatoryAgencyName);
        $("#txtCreateRegionName").val(RegulatoryAgencyRegion);
        if (RegulatoryAgencyStatus == 1)
        {
            $("#rbnRegulatoryAgencyActive").prop("checked", true);
            $(".lblAgencyActive").addClass("active");
            $(".lblAgencyInActive").removeClass("active");
        }
        else
        {
            $("#rbnRegulatoryAgencyInActive").prop("checked", true);
            $(".lblAgencyActive").removeClass("active");
            $(".lblAgencyInActive").addClass("active");
        }
        $('#modalRegulatoryCreate').modal('show');
    }

    function UpdateRegulatoryAgencyDetails()
    {
        if (ValidateRegulatoryAgency())
        {
            if (_RegulatoryAgencyCode != $("#txtCreateRegulatoryAgencyCode").val().trim()
                || _RegulatoryAgencyName != $("#txtCreateRegulatoryAgencyName").val().trim()
                || _RegulatoryAgencyRegion != $("#txtCreateRegionName").val().trim()
                || _RegulatoryAgencyStatus != $("input[name='RegulatoryStatus']:checked").val())
            {
                var objRegulatoryDetails =
                {
                    "RegulatoryAgencyID": _RegulatoryAgencyID,
                    "RegulatoryAgencyCode": $("#txtCreateRegulatoryAgencyCode").val().trim(),
                    "RegulatoryAgencyName": $("#txtCreateRegulatoryAgencyName").val().trim(),
                    "RegionName": $("#txtCreateRegionName").val().trim(),
                    "IsActive": $("input[name='RegulatoryStatus']:checked").val() == 1 ? true : false
                };
                $.post("@Url.Content("~/QMS/AuditMaster/RegulatoryAgencyModify")", objRegulatoryDetails,
                    function (result) {
                        switch (result.msgType) {
                                case "error":
                                    custAlertMsg(result.msg, "error");
                                    break;
                                case "info":
                                    custAlertMsg(result.msg, "info");
                                    break;
                                case "warning":
                                    custAlertMsg(result.msg, "warning");
                                    break;
                                case "success":
                                    $('#modalRegulatoryCreate').modal('hide');
                                    custAlertMsg(result.msg, "success", "ReloadRegulatoryAgencyList();");
                                    break;
                            }
                   }, 'json');
            }
            else
            {
                custAlertMsg("There are no changes to Update.", "info", "ReloadRegulatoryAgencyList();");
            }
        }
    }
</script>
