﻿<script src=@Url.Content("~/AppScripts/PartialViewScript.js")></script>

<!--Start Type Of Create-->
<div class="col-12 float-left bottom">
    <button class="float-right btn btn-dashboard" onclick="OpenTypeOfCreateModal();">Create Category</button>
</div>

<!--Start Type Of List-->
<div class="col-12 padding-none float-left">
    <table class="table datatable_cust table-bordered" style="width: 100%;" id="tblTypeOfList">
        <thead>
            <tr>
                <th>TypeOfID</th>
                <th>Category Name</th>
                <th>Type Of Audit</th>
                <th>Status</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Modified By</th>
                <th>Modified Date</th>
                <th>Edit</th>
            </tr>
        </thead>
    </table>
</div>
<!--End Type Of List(Table)-->
<!--Start Type of list modal-->
<div class="modal department" id="modalAuditTypeOf" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title TypeOfTitle">Create Category</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-lg-12 float-left padding-none">
                    <label class="custom_label col-form-label" for="ddlTypeOfRepresents">Type of Audit<span class="mandatoryStar">*</span></label>
                    <select title="-- Select Type of Audit --" id="ddlTypeOfRepresents" class="col-lg-12 selectpicker drop_down padding-none" data-live-search="true">
                        <option value="1">Client</option>
                        <option value="2">Regulatory</option>
                    </select>
                </div>
                <div class="col-12 float-left padding-none">
                    <label class="custom_label col-form-label" for="txtCreateTypeOfName">Category Name<span class="mandatoryStar">*</span></label>
                    <input class="form-control col-lg-12" id="txtCreateTypeOfName" type="text" placeholder="Enter Category Name" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event)" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="100">
                </div>
                <div class=" btn-group-toggle float-left col-lg-12 padding-none top" data-toggle="buttons" id="rbtnTypeOfStatus" style="display:none">
                    <label class="col-12 custom_label col-form-label float-left padding-none">Status</label>
                    <label class="btn btn-secondary float-left col-6 active lblTypeOfStatusActive">
                        <input type="radio" name="TypeOfStatus" id="rbnTypeOfActive" checked="checked" value="A"> Active
                    </label>
                    <label class="btn btn-secondary float-left col-6 lblTypeOfStatusInActive">
                        <input type="radio" name="TypeOfStatus" id="rbnTypeOfInActive" value="I"> InActive
                    </label>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12  text-right col-12 bottom padding-none">
                    <button type="button" class="btn btn-signup_popup btnTypeOfAdd" style="margin-bottom:0px;" onclick="TypeOfCreate();">Add</button>
                    <button type="button" class="btn btn-signup_popup btnTypeOfUpdate" style="margin-bottom:0px;display:none" onclick="TypeOfUpdate();">Update</button>
                    <button type="button" class="btn btn-cancel_popup" data-dismiss="modal" style="margin-bottom:0px;" onclick="ResetTypeOfFields();">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Type of list modal-->

<!--TypeOf jquery data table script-->
<script>
    var oTblTypeOfList;
    $(function () {
        if (oTblTypeOfList!=null) {
            oTblTypeOfList.destroy();
        }
        oTblTypeOfList = $('#tblTypeOfList').DataTable({
            columns: [
                { 'data': 'TypeOfID' },
                { 'data': 'TypeOfName' },
                {
                    "mData": null,
                    "mRender": function (o) {
                        return o.TypeOfRepresents == 1 ? "Client" : "Regulatory";
                    }
                },
                {
                    "mData": null,
                    "mRender": function (o)
                    {
                        return o.IsActive == true ? "Active" : "InActive";
                    }
                },
                { 'data': 'CreatedByName' },
                { 'data': 'CreatedDate' },
                { 'data': 'ModifiedByName' },
                { 'data': 'ModifiedDate' },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) { return '<a class="Edit" title="Edit" href="#" onclick="EditTypeOf(' + o.TypeOfID + ',\'' + o.TypeOfName + '\',' + o.TypeOfRepresents + ',' + o.IsActive+');"></a>'; }
                }
            ],
            "aoColumnDefs": [{ "targets": [0], "visible": false, "searchable": false }, { className: "textAlignCenter", "targets": [8] }],
            "sAjaxSource": "@Url.Content("~/QMS/AuditMaster/GetTypeOfListData")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            fnCallback(result);
                         },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
         });
    });

    function ReloadTypeOfList() {
        oTblTypeOfList.ajax.reload();
    }

</script>

<!--TypeOf Modification & Creation-->
<script>
    function OpenTypeOfCreateModal()
    {
        $('#rbtnTypeOfStatus').hide();
        $('.btnTypeOfAdd').show();
        $('.btnTypeOfUpdate').hide();
        ResetTypeOfFields();
        $('#modalAuditTypeOf').modal('show');
    }
    var _TypeOfID, _TypeOfName, _TypeOfRepresents, _Status;
    function EditTypeOf(TypeOfID, TypeOfName, TypeOfRepresents, Status)
    {
        $(".TypeOfTitle").html("Edit Category");
        _TypeOfID = TypeOfID;
        _TypeOfName = TypeOfName;
        _TypeOfRepresents = TypeOfRepresents;
        $('#rbtnTypeOfStatus').show();
        $('.btnTypeOfAdd').hide();
        $('.btnTypeOfUpdate').show();
        $('#ddlTypeOfRepresents').val(TypeOfRepresents.toString());
        $("#ddlTypeOfRepresents").prop("disabled", true);
        $("#ddlTypeOfRepresents").selectpicker("refresh");
        $("#txtCreateTypeOfName").val(TypeOfName);
        if (Status==1) {
            $("#rbnTypeOfActive").prop("checked", true);
            $(".lblTypeOfStatusActive").addClass("active");
            $(".lblTypeOfStatusInActive").removeClass("active");
            _Status = "A";
        }
        else {
            $("#rbnTypeOfInActive").prop("checked", true);
            $(".lblTypeOfStatusActive").removeClass("active");
            $(".lblTypeOfStatusInActive").addClass("active");
            _Status = "I";
        }
        $('#modalAuditTypeOf').modal('show');
    }

    function TypeOfUpdate()
    {
        if (ValidateTypeOf())
        {
            if ($("#txtCreateTypeOfName").val() != _TypeOfName
                || $("#ddlTypeOfRepresents").val() != _TypeOfRepresents
                || $("input[name='TypeOfStatus']:checked").val() != _Status) {
                var objTypeOfData = {
                    "TypeOfID": _TypeOfID,
                    "TypeOfName": $("#txtCreateTypeOfName").val(),
                    "TypeOfRepresents": $("#ddlTypeOfRepresents").val(),
                    "IsActive": $("input[name='TypeOfStatus']:checked").val() == "A" ? true : false
                };
                $.post("@Url.Content("~/QMS/AuditMaster/TypeOfModify")", objTypeOfData,
                    function (result) {
                        switch (result.msgType) {
                            case "error":
                                custAlertMsg(result.msg, "error");
                                break;
                            case "info":
                                custAlertMsg(result.msg, "info");
                                break;
                            case "warning":
                                custAlertMsg(result.msg, "warning");
                                break;
                            case "success":
                                $('#modalAuditTypeOf').modal('hide');
                                custAlertMsg("Type Of Audit Updated.", "success", "ReloadTypeOfList();");
                                break;
                        }
                    }, 'json');
            }
            else {
                custAlertMsg("There are no Changes to Update.", "info");
            }
        }
    }

    //Cancel Button click to clear the Values
    function ResetTypeOfFields()
    {
        $("#ddlTypeOfRepresents").prop("disabled", false);
        $("#ddlTypeOfRepresents").val('default');
        $("#ddlTypeOfRepresents").selectpicker("refresh");
        $("#txtCreateTypeOfName").val("");        
        $(".TypeOfTitle").html("Create Category");
    }

    function ValidateTypeOf()
    {
        var txtCreateTypeOfname = $("#txtCreateTypeOfName").val().trim();
        var ddlTypeOfRepresentsID = $("#ddlTypeOfRepresents").val();
        errors = [];
        if (ddlTypeOfRepresentsID == "" || ddlTypeOfRepresentsID == "0" || ddlTypeOfRepresentsID == null) {
            errors.push("Select Type Of Audit");
        }
        if (txtCreateTypeOfname == "") {
            errors.push("Enter Category Name");
        }
        if (errors.length > 0) {
            custAlertMsg(errors.join(",<br/>") + ".", "error");
            return false;
        }
        else {
            return true;
        }
    }

    //On Create Click to validate the Fields.
    function TypeOfCreate()
    {
        if (ValidateTypeOf()) {
            $.post("@Url.Content("~/QMS/AuditMaster/TypeOfCreate")?TypeOfName=" + $("#txtCreateTypeOfName").val().trim() + "&TypeOfRepresents=" + $("#ddlTypeOfRepresents").val(),
            function (result) {
                switch (result.msgType) {
                    case "error":
                        custAlertMsg(result.msg, "error");
                        break;
                    case "info":
                        custAlertMsg(result.msg, "info");
                        break;
                    case "warning":
                        custAlertMsg(result.msg, "warning");
                        break;
                    case "success":
                        $("#txtCreateTypeOfName").val("");
                        custAlertMsg(result.msg, "success", "ReloadTypeOfList();");
                        break;
                }
            }, 'json');
        }
    }

    //Ajax call for Submitting the Create Fields to DB
    function AjaxCallTypeOfCreate(TypeOfName, TypeOfRepresentsID)
    {
        $.post("@Url.Content("~/QMS/AuditMaster/TypeOfCreate")?TypeOfName=" + TypeOfName + "&TypeOfRepresents=" + TypeOfRepresentsID,
            function (result) {
                switch (result.msgType) {
                    case "error":
                        custAlertMsg(result.msg, "error");
                        break;
                    case "info":
                        custAlertMsg(result.msg, "info");
                        break;
                    case "warning":
                        custAlertMsg(result.msg, "warning");
                        break;
                    case "success":
                        $('#modalAuditTypeOf').modal('hide');
                        custAlertMsg(result.msg, "success", "ReloadTypeOfList();");
                        break;
                }
            }, 'json');
    }
</script>
