﻿@model IEnumerable<QMS_BO.QMS_Audit_BO.AuditMaster.AuditorDetailsBO>
<script src=@Url.Content("~/AppScripts/PartialViewScript.js")></script>
<input type="hidden" id="hdnAuditorCreateType" name="Auditor Create From">
<!--Start Auditor Create-->
<div class="modal department1 show" id="modalAuditor" data-backdrop="static" style="padding-right: 17px; display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="AuditorPopupTitle">Create Auditor </h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class=" btn-group-toggle float-left  col-lg-12" data-toggle="buttons" id="divAuditorCategory">
                    <label class="col-12 custom_label col-form-label float-left padding-none" for="AuditorCategory" style="margin-bottom:5px;"></label>
                    <label class="btn btn-secondary float-left col-6 active">
                        <input type="radio" name="AuditorCategory" id="rbnRegulatoryAgencyAuditor" autocomplete="off" onchange="onAuditorCategoryRbnSelect('RegulatoryAgency');" value="2"> Agency
                    </label>
                    <label class="btn btn-secondary float-left col-6">
                        <input type="radio" name="AuditorCategory" id="rbnClientAuditor" autocomplete="off" onchange="onAuditorCategoryRbnSelect('Client');" value="1"> Client
                    </label>
                </div>
                <div id="divAuditorRegulatoryAgency" class="col-lg-12 padding-none float-left">
                    <div class="col-lg-12 padding-none float-left">
                        <label class="col-12 custom_label col-form-label" for="ddlAuditorRegulatoryAgencyList"> Regulatory Agency<span class="mandatoryStar spanMandstarRegulatoryAgency">*</span></label>
                        <div class="col-12 ">
                            @Html.DropDownList("RegulatoryAgencyList", new SelectList(ViewBag.RegulatoryAgencyList, "Value", "Text"),
                                                           htmlAttributes: new
                                                           {
                                                               id = "ddlAuditorRegulatoryAgencyList",
                                                               @class = "col-lg-12 selectpicker float-left padding-none drop_down ",
                                                               @title = "-- Select Regulatory Agency --",
                                                               name = "RegulatoryAgencyID"

                                                           })
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 padding-none float-left" id="divClient" style="display:none">
                    <label class="col-12 custom_label col-form-label" for="ddlAuditorClientList"> Client<span class="mandatoryStar">*</span></label>
                    <div class="col-12">
                        @Html.DropDownList("ClientList", new SelectList(ViewBag.AuditorClientList, "Value", "Text"),
                                                                                                                                 htmlAttributes: new
                                                                                                                                 {
                                                                                                                                     id = "ddlAuditorClientList",
                                                                                                                                     @class = "col-lg-12 selectpicker float-left padding-none drop_down",
                                                                                                                                     @title = "-- Select Client --",
                                                                                                                                     name = "ClientID"
                                                                                                                                 })
                    </div>
                </div>
                <div class="col-lg-12 padding-none float-left">
                    <div class="col-12">
                        <label class="float-left" for="txtCreateAuditorName">Auditor Name<span class="mandatoryStar">*</span></label>
                        <input class="form-control col-lg-12" id="txtCreateAuditorName" type="text" placeholder="Enter Auditor Name" onkeypress="return ValidateAlphaWithSpecialChars(event);" onpaste="return ValidateAlphaWithSpecialCharsOnPaste();" autocomplete="off" maxlength="100">
                    </div>
                </div>
                <div class="col-lg-12 float-left padding-none">
                    <div class="col-12">
                        <label class="float-left" for="txtCreateAuditorEmailID">Email ID<span class="mandatoryStar">*</span></label>
                        <input class="form-control col-lg-12" id="txtCreateAuditorEmailID" type="text" placeholder="Enter Email ID" onkeypress="return nospaces(event);" maxlength="150">
                    </div>
                </div>
                <div class="col-lg-12 float-left padding-none">
                    <div class="col-12">
                        <label class="float-left" for="txtCreateAuditorContactNo">Contact Number<span class="mandatoryStar">*</span></label>
                        <input class="form-control col-lg-12" id="txtCreateAuditorContactNo" type="text" placeholder="Enter Contact Number" onkeypress="return ValidatePhoneNo(event);" onpaste="return ValidatePhoneNoOnPaste();" maxlength="10">
                    </div>
                </div>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-12 float-left text-right">
                    @if (ViewBag.CreateOrEdit == "Edit")
                    {
                        <button type="button" class="top  btn btn-signup_popup" style="	margin-bottom:0px;" onclick="AuditorCreate();" id="btnUpdateAuditor">Update</button>
                    }
                    else
                    {
                        <button type="button" class="top  btn btn-signup_popup" style="	margin-bottom:0px;" onclick="AuditorCreate();" id="btnAddAuditor">Add</button>
                    }
                    <button type="button" class="top  btn btn-cancel_popup" style="margin-bottom:0px;"
                            data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Auditor Create-->
<!--Begin Script to Create Auditor-->
<script>
    $(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true
        });
    });

    // For Showing and Hiding of Divs Based on RadioButton Select Cghange
    function onAuditorCategoryRbnSelect(RbnSelectedType) {
        if (RbnSelectedType == "Client") {
            $("#divClient").css("display", "inline-block");
            $("#divAuditorRegulatoryAgency").css("display", "none");
        }
        else {
            $("#divClient").css("display", "none");
            $("#divAuditorRegulatoryAgency").css("display", "inline-block");
        }
    }
    
    //Cancel Button click to clear the Values
    function AuditorCreateCancel() {
        $("#rbnRegulatoryAgencyAuditor").prop("checked", true);
        $("#rbnRegulatoryAgencyAuditor").parents('label').addClass("active");
        $("#rbnClientAuditor").prop("checked", false);
        $("#rbnClientAuditor").parents('label').removeClass("active");
        onAuditorCategoryRbnSelect('RegulatoryAgency');
        $("#ddlAuditorCountryList").val('default');
        $("#ddlAuditorCountryList").selectpicker("refresh");
        $("#ddlAuditorRegulatoryAgencyList").empty();
        $("#ddlAuditorRegulatoryAgencyList").prop("disabled", true);
        $(".btn[data-id='ddlAuditorRegulatoryAgencyList']").addClass("disabled");
        $("#ddlAuditorRegulatoryAgencyList").val('default');
        $("#ddlAuditorRegulatoryAgencyList").selectpicker("refresh");
        $("#ddlAuditorClientList").val('default');
        $("#ddlAuditorClientList").selectpicker("refresh");
        $("#txtCreateAuditorName").val("");
        $("#txtCreateAuditorContactNo").val("");
        $("#txtCreateAuditorEmailID").val("");
    }

    // Validating the Form for Creation.
    function AuditorCreate() {
        var txtCreateAuditorName = $("#txtCreateAuditorName").val().trim();
        var txtCreateAuditorEmailID = $("#txtCreateAuditorEmailID").val().trim();
        var txtCreateAuditorContactNo = $("#txtCreateAuditorContactNo").val().trim();
        var ClientID = $("#ddlAuditorClientList").val();
        var RegulatoryAgencyID = $("#ddlAuditorRegulatoryAgencyList").val();
        var AuditorCategoryID = "";
        var AuditorBaseID = "0";
        if ($("#rbnClientAuditor").prop("checked") == true) {
            AuditorCategoryID = "1"; //AuditCategory is Client
        }
        else {
            AuditorCategoryID = "2"; //AuditCategory is Regulatory Agency
        }
        errors = [];
        if (AuditorCategoryID == "1") { // For Client
            RegulatoryAgencyID = "0";
            if (ClientID == "" || ClientID == "0" || ClientID == null) {
                errors.push("Select Client");
            }
            else {
                AuditorBaseID = ClientID;
            }
        } else {
            ClientID = "0";
            if (RegulatoryAgencyID == "" || RegulatoryAgencyID == "0" || RegulatoryAgencyID == null) {
                errors.push("Select Regulatory Agency");
            }
            else {
                AuditorBaseID = RegulatoryAgencyID;
            }
        }
        if (txtCreateAuditorName == "") {
            errors.push("Enter Auditor Name");
        }
        if (txtCreateAuditorEmailID == "") {
            errors.push("Enter Email ID");
        }
        else {
            if (!IsValidEmail(txtCreateAuditorEmailID)) {
                errors.push("Invalid Email ID");
            }
        }
        if (txtCreateAuditorContactNo == "") {
            errors.push("Enter Contact Number");
        }
        else if (txtCreateAuditorContactNo[0] == 0)
        {
            errors.push("Contact Number First Digit Should not be a Zero");
        }
        else {
            if (txtCreateAuditorContactNo.length != 10) {
                errors.push("Contact Number Should be 10 Digits");
            }
        }
        if (errors.length > 0) {
            custAlertMsg(errors.join(",<br/>") + ".", "error");
            return false;
        }
        else {
            if ($("#hdnAuditorCreateType").val() == "EditAuditor") {
                    AjaxCallUpdateAuditorDetails(txtCreateAuditorName, txtCreateAuditorEmailID, txtCreateAuditorContactNo);
            }
            else {
                AjaxCallAuditorCreate(AuditorCategoryID, AuditorBaseID, txtCreateAuditorName, txtCreateAuditorEmailID, txtCreateAuditorContactNo);
            }
            return true;
        }
    }
     //Ajax call for Submitting the Create Fields to DB
    function AjaxCallAuditorCreate(AuditorCategoryID,AuditorBaseID,AuditorName, AuditorEmailID,AuditorContactNumber)
    {
        $.post("@Url.Content("~/QMS/AuditMaster/AuditorCreate")?AuditorCategoryID=" + AuditorCategoryID + "&AuditorBaseID=" + AuditorBaseID + "&AuditorName=" + AuditorName + "&AuditorEmailID=" + AuditorEmailID + "&AuditorContactNo=" + AuditorContactNumber,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg(result.msg, "success", "OnAuditorCreateSuccess();");
                            break;
                    }
                }
            }, 'json');
    }

    function OnAuditorCreateSuccess() {
        $('#modalAuditor').modal('hide');
        if ($("#hdnAuditorCreateType").val() == "AuditorList" || $("#hdnAuditorCreateType").val() == "EditAuditor") { // from List page
            loadAuditorsList();
        } else {
            BindAuditorsList();
        }
    }
</script>
