﻿<input type="hidden" id="hdnObserverCreateType" name="Observer Create From">
<input type="hidden" id="hdnObserverCategoryID" value="0" />
<input type="hidden" id="hdnObserverBaseID" value="0" />
<!--Start Observer Create-->
<div class="modal department1 " id="modalObserver" role="dialog" data-backdrop="static" style="padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title ObserverPopupTitle"></h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class=" btn-group-toggle float-left  col-lg-12" data-toggle="buttons" id="divObserverCategory">
                    <label class="col-12 custom_label col-form-label float-left padding-none" style="margin-bottom:5px;"></label>
                    <label class="btn btn-secondary float-left col-6 active">
                        <input type="radio" name="ObserverCategory" id="rbnRegulatoryAgencyObserver" checked="checked" onchange="onObserverCategoryRbnSelect('RegulatoryAgency');" value="2"> Agency
                    </label>
                    <label class="btn btn-secondary float-left col-6">
                        <input type="radio" name="ObserverCategory" id="rbnClientObserver" onchange="onObserverCategoryRbnSelect('Client');" value="1"> Client
                    </label>
                </div>
                <div id="divObserverRegulatoryAgency" class="col-lg-12 padding-none float-left">
                    <div class="col-lg-12 padding-none float-left">
                        <label class="col-12 custom_label col-form-label" for="ddlObserverRegulatoryAgencyList"> Regulatory Agency<span class="mandatoryStar spanMandstarRegulatoryAgency">*</span></label>
                        <div class="col-12 ">
                            <select id="ddlObserverRegulatoryAgencyList" class="col-lg-12 selectpicker float-left padding-none drop_down " title="--Select Regulatory Agency--" data-size="7" data-live-search="true"></select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 padding-none float-left" id="divClient" style="display:none">
                    <label class="col-12 custom_label col-form-label" for="ddlObserverClientList"> Client<span class="mandatoryStar">*</span></label>
                    <div class="col-12">
                        <select id="ddlObserverClientList" class="col-lg-12 selectpicker float-left padding-none drop_down " title="--Select Client--" data-size="7" data-live-search="true"></select>
                    </div>
                </div>
                <div class="col-lg-12 padding-none float-left">
                    <div class="col-12">
                        <label class="float-left" for="txtCreateObserverName">Observer Name<span class="mandatoryStar">*</span></label>
                        <input class="form-control col-lg-12" id="txtCreateObserverName" type="text" placeholder="Enter Observer Name" onkeypress="return ValidateAlphaWithSpecialChars(event);" onpaste="return ValidateAlphaWithSpecialCharsOnPaste();" maxlength="100" autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-12 float-left padding-none">
                    <div class="col-12">
                        <label class="float-left" for="txtCreateObserverEmailID">Email ID<span class="mandatoryStar">*</span></label>
                        <input class="form-control col-lg-12" id="txtCreateObserverEmailID" type="text" placeholder="Enter Email ID" onkeypress="return nospaces(event);" maxlength="150" autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-12 float-left padding-none">
                    <div class="col-12">
                        <label class="float-left" for="txtCreateObserverContactNo">Contact Number<span class="mandatoryStar">*</span></label>
                        <input class="form-control col-lg-12" id="txtCreateObserverContactNo" type="text" placeholder="Enter Contact Number" onkeypress="return ValidatePhoneNo(event);" onpaste="return ValidatePhoneNoOnPaste();" maxlength="10" autocomplete="off">
                    </div>
                </div>
                <div class="col-lg-12 float-left padding-none">
                    <div class="col-12">
                        <label class="float-left" for="txtObserverAdditionalDetails">Additional Details</label>
                        <textarea class="form-control" rows="3" id="txtCreateObserverAdditionalDetails" onkeyup="characterCounter(txtCreateObserverAdditionalDetails, RemainingCharsCount, 150);" placeholder="Enter Additional Details" maxlength="150"></textarea>
                        <div style="text-align: right;display:none;">
                            <input type="text" id="RemainingCharsCount" size="1" maxlength="3" value="150" readonly="readonly" style="text-align: right; margin-bottom: -24px; margin-top:3px; border: 0px!important;" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-12 float-left text-right">
                    <button type="button" class="top  btn btn-signup_popup" style="	margin-bottom:0px;" id="btnObserverCreate" onclick="ObserverCreate();">Add</button>
                    <button type="button" class="top  btn btn-signup_popup" style="	margin-bottom:0px; display:none" id="btnObserverUpdate" onclick="ObserverUpdate();">Update</button>
                    <button type="button" class="top  btn btn-cancel_popup" style="margin-bottom:0px;" data-dismiss="modal">Cancel</button>
                </div>
                </div>
        </div>
    </div>
</div>
<!--End Observer Create-->

<script>
    $(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 6
        });
    });
</script>
<!--new Observer Creation Pop-up Open-->
<script>
    function OpenObserverPopup() {
        ResetObserverFields();
        LoadObserverRegulatoryList();
        $('#modalObserver').modal('show');
    }
</script>
<!--For Showing and Hiding of Divs Based on RadioButton Select Change-->
<script>
    function onObserverCategoryRbnSelect(RbnSelectedType) {
        if (RbnSelectedType == "Client") {
            $("#divClient").css("display", "inline-block");
            $("#divObserverRegulatoryAgency").css("display", "none");
            LoadObserverClientList();
        }
        else {
            $("#divClient").css("display", "none");
            $("#divObserverRegulatoryAgency").css("display", "inline-block");
            LoadObserverRegulatoryList();
        }
    }
</script>
<!-- Common Validation For  Observer-->
<script>
    function validationObserver() {
        var txtCreateObserverName = $("#txtCreateObserverName").val().trim();
        var txtCreateObserverEmailID = $("#txtCreateObserverEmailID").val().trim();
        var txtCreateObserverContactNo = $("#txtCreateObserverContactNo").val().trim();
        var txtCreateObserverAdditionalDetails = $("#txtCreateObserverAdditionalDetails").val().trim();
        var ClientID = $("#ddlObserverClientList").val();
        var RegulatoryAgencyID = $("#ddlObserverRegulatoryAgencyList").val();
        var ObserverCategoryID = $("input[name='ObserverCategory']:checked").val();

        var errors = [];
        if (ObserverCategoryID == "1" && (ClientID == "" || ClientID == "0" || ClientID == null)) {
            errors.push("Select Client");
        }
        else if (ObserverCategoryID == "2" && (RegulatoryAgencyID == "" || RegulatoryAgencyID == "0" || RegulatoryAgencyID == null)) {
            errors.push("Select Regulatory Agency");
        }

        if (txtCreateObserverName == "") {
            errors.push("Enter Observer Name");
        }
        if (txtCreateObserverEmailID == "") {
            errors.push("Enter Email ID");
        }
        else {
            if (!IsValidEmail(txtCreateObserverEmailID)) {
                errors.push("Invalid Email ID");
            }
        }
        if (txtCreateObserverContactNo == "") {
            errors.push("Enter Contact Number");
        }
        else if (txtCreateObserverContactNo[0] == 0) {
            errors.push("Contact Number First Digit Should not be a Zero");
        }
        else {
            if (txtCreateObserverContactNo.length != 10) {
                errors.push("Contact Number Should be 10 Digits");
            }
        }
        if (errors.length > 0) {
            custAlertMsg(errors.join(",<br/>") + ".", "error");
            return false;
        }
        else {
            return true;
        }
    }
</script>
<!-- Observer Creation-->
<script>
    function ObserverCreate()
    {
        if (validationObserver()) {
           var auditObservData = {
                "ObserverCategoryID": $("input[name='ObserverCategory']:checked").val(),
                "ObserverBaseID": $("input[name='ObserverCategory']:checked").val() == 1 ? $("#ddlObserverClientList").val() : $("#ddlObserverRegulatoryAgencyList").val(),
                "ObserverName": $("#txtCreateObserverName").val().trim(),
                "ObserverEmailID": $("#txtCreateObserverEmailID").val().trim(),
                "ObserverContactNo": $("#txtCreateObserverContactNo").val().trim(),
                "ObserverAdditionalDetails": $("#txtCreateObserverAdditionalDetails").val().trim()
            }
            $.post("@Url.Content("~/QMS/AuditMaster/ObserverCreate")",auditObservData,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg(result.msg, "success", "OnObserverCreateSuccess();");
                            break;
                    }
                }
            }, 'json');
        }
    }
    //On Creation Success Reload the Page(Shared View)
    function OnObserverCreateSuccess()
    {
        $('#modalObserver').modal('hide');
        if ($("#hdnObserverCreateType").val() == "ObserverList")
        {
            ResetObserverFields();
            ReloadObserverList();
        }
        else
        {
            BindObserversList()
        }
    }
</script>
<!--Regulatory DropwonList Loading Creation and Edit mode-->
<script>
    //in newly Create Observer load ddlRegulatoryList
    function LoadObserverRegulatoryList() {
        $.ajax({
            url: '@Url.Action("LoadRegulatoryList", "AuditMaster")',
            type: "GET",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var ObserverRegulatoryAgency = result;
                $("#ddlObserverRegulatoryAgencyList").html(""); // clear before appending new list
                for (var i = 0; i < ObserverRegulatoryAgency.length; i++) {
                    $('#ddlObserverRegulatoryAgencyList').append(
                        $('<option></option>').val(ObserverRegulatoryAgency[i].Value).html(ObserverRegulatoryAgency[i].Text));
                }
                $('#ddlObserverRegulatoryAgencyList').selectpicker('refresh');
            },
            error: function (jqXHR, exception) {
                alert(exception);
            }
        });
    }
    //in Edit the  Observer load ddlRegulatoryList
        function EditLoadObserverRegulatoryList(EditBaseID) {
            $.ajax({
                url: '@Url.Action("LoadRegulatoryList", "AuditMaster")',
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var ObserverRegulatoryAgency = result;
                    $("#ddlObserverRegulatoryAgencyList").html(""); // clear before appending new list
                    for (var i = 0; i < ObserverRegulatoryAgency.length; i++) {
                        $('#ddlObserverRegulatoryAgencyList').append(
                            $('<option></option>').val(ObserverRegulatoryAgency[i].Value).html(ObserverRegulatoryAgency[i].Text));
                    }
                    $('#ddlObserverRegulatoryAgencyList').selectpicker('refresh');
                    $("#ddlObserverRegulatoryAgencyList").selectpicker('val', EditBaseID);
                },
                error: function (jqXHR, exception) {
                    alert(exception);
                }
            });
        }
</script>
<!--Client DropwonList Loading Creation and Edit mode -->
<script>
    //in newly Create Observer load ddlClientList
        function LoadObserverClientList() {
            $.ajax({
                url: '@Url.Action("LoadClientList", "AuditMaster")',
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var ObserverClient = result;
                    $("#ddlObserverClientList").html(""); // clear before appending new list
                    for (var i = 0; i < ObserverClient.length; i++) {
                        $('#ddlObserverClientList').append(
                            $('<option></option>').val(ObserverClient[i].Value).html(ObserverClient[i].Text));
                    }
                    $('#ddlObserverClientList').selectpicker('refresh');
                },
                error: function (jqXHR, exception) {
                    alert(exception);
                }
            });
        }
        //in Edit the Observer load ddlClientList
        function EditLoadObserverClientList(EditBaseID) {
            $.ajax({
                url: '@Url.Action("LoadClientList", "AuditMaster")',
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var ObserverClient = result;
                    $("#ddlObserverClientList").html(""); // clear before appending new list
                    for (var i = 0; i < ObserverClient.length; i++) {
                        $('#ddlObserverClientList').append(
                            $('<option></option>').val(ObserverClient[i].Value).html(ObserverClient[i].Text));
                    }
                    $('#ddlObserverClientList').selectpicker('refresh');
                    $("#ddlObserverClientList").selectpicker('val', EditBaseID);
                },
                error: function (jqXHR, exception) {
                    alert(exception);
                }
            });
        }
</script>
<!--Rest the Observer Fields-->
<script>
    function ResetObserverFields() {
        $('#divObserverCategory').removeClass('radio_disable');
        $("#txtCreateObserverName").val('');
        $("#txtCreateObserverEmailID").val('');
        $("#txtCreateObserverContactNo").val('');
        $("#txtCreateObserverAdditionalDetails").val('');
        $('#btnObserverUpdate').hide();
        $('#btnObserverCreate').show();
        $('#ddlObserverClientList').prop('disabled', false);
        $("#ddlObserverClientList").selectpicker('val', '');
        $('#ddlObserverClientList').selectpicker('refresh');
        $('#ddlObserverRegulatoryAgencyList').prop('disabled', false);
        $("#ddlObserverRegulatoryAgencyList").selectpicker('val', '');
        $('#ddlObserverRegulatoryAgencyList').selectpicker('refresh');
        $('.ObserverPopupTitle').html('Create Observer');
    }
</script>
