/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* general */
/*body {
    background-color: #EFEFEF;
}*/


/* page */
.page-wrapper {
    margin: 0 auto;
    width: 960px;
    max-width: 100%;
}


/* box */
.box-content {
    padding: 20px;
    background-color: #EFEFEF;
}


textarea {
    background-color: #FAFAFA;
    border: #EFEFEF solid 1px;
    color: #333;
    width: 100%;
}


/* richtext custom style */
.richText {
    margin-top: 0px;
    -webkit-box-shadow: 0 0 2px 0 #999;
    -moz-box-shadow: 0 0 2px 0 #999;
    box-shadow: 0 0 2px 0 #999;
}

.btn-cancel:hover {
    margin-left: 20px;
    background: #039db2;
    border: 1px solid #039db2;
    border-radius: 4px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #FFF;
    margin-bottom: 10px;
    font-family: seguisb;
}

.smallred_label {
    color: red !important;
    font-size: 16pt !important;
    position: absolute;
    top: -5px;
}
