@keyframes dtb-spinner {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes dtb-spinner {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes dtb-spinner {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dtb-spinner {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes dtb-spinner {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.dt-button-collection .button-page-length.active a {
    background-color: #d2ecfc !important;
    color: #000 !important;
}

.buttons-columnVisibility {
    text-align: left;
    padding: 4px 7px;
    margin-bottom: 4px;
}

    .buttons-columnVisibility a {
        border: 1px solid #38abd1 !important;
        border-radius: 4px;
        text-decoration: none;
        padding: 4px 0px 4px 3px;
        width: 100%;
        float: left;
        margin-bottom: 4px;
    }

.dt-button-collection .buttons-columnVisibility.active a {
    background-color: #d2ecfc !important;
    color: #000 !important;
}

div.dt-button-info {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-top: -100px;
    margin-left: -200px;
    background-color: white;
    border: 2px solid #111;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    text-align: center;
    z-index: 21;
}

    div.dt-button-info h2 {
        padding: 0.5em;
        margin: 0;
        font-weight: normal;
        border-bottom: 1px solid #ddd;
        background-color: #f3f3f3;
    }

    div.dt-button-info > div {
        padding: 1em;
    }

div.dt-button-collection-title {
    text-align: center;
    font-size: 0.9em;
}

button.dt-button,
div.dt-button,
a.dt-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em;
    margin-bottom: 0.333em;
    border: 1px solid #38abd1;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.88em;
    line-height: 1.6em;
    color: #38abd1;
    white-space: nowrap;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
}

    button.dt-button.disabled,
    div.dt-button.disabled,
    a.dt-button.disabled {
        color: #999;
        border: 1px solid #d0d0d0;
        cursor: default;
        background-color: #f9f9f9;
        /* Fallback */
        background-image: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        /* Chrome 10+, Saf5.1+, iOS 5+ */
        background-image: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        /* FF3.6 */
        background-image: -ms-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        /* IE10 */
        background-image: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        /* Opera 11.10+ */
        background-image: linear-gradient(to bottom, #ffffff 0%, #f9f9f9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#f9f9f9');
    }

    button.dt-button:active:not(.disabled), button.dt-button.active:not(.disabled),
    div.dt-button:active:not(.disabled),
    div.dt-button.active:not(.disabled),
    a.dt-button:active:not(.disabled),
    a.dt-button.active:not(.disabled) {
        /* box-shadow: inset 1px 1px 3px #999999; */
    }

        button.dt-button:active:not(.disabled):hover:not(.disabled), button.dt-button.active:not(.disabled):hover:not(.disabled),
        div.dt-button:active:not(.disabled):hover:not(.disabled),
        div.dt-button.active:not(.disabled):hover:not(.disabled),
        a.dt-button:active:not(.disabled):hover:not(.disabled),
        a.dt-button.active:not(.disabled):hover:not(.disabled) {
            /* box-shadow: inset 1px 1px 3px #999999; */
        }

    button.dt-button:hover,
    div.dt-button:hover,
    a.dt-button:hover {
        text-decoration: none;
    }

        button.dt-button:hover:not(.disabled),
        div.dt-button:hover:not(.disabled),
        a.dt-button:hover:not(.disabled) {
            border: 1px solid #666;
        }

    button.dt-button:focus:not(.disabled),
    div.dt-button:focus:not(.disabled),
    a.dt-button:focus:not(.disabled) {
        border: 1px solid #426c9e;
        text-shadow: 0 1px 0 #c4def1;
        outline: none;
    }

.dt-button embed {
    outline: none;
}

div.dt-buttons {
    position: relative;
    float: left;
}

    div.dt-buttons.buttons-right {
        float: right;
    }
.dt-button-collection {
    top: 26px !important;
}
div.dt-button-collection {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 150px; */
    margin-top: 3px;
    padding: 8px 8px 4px 8px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: white;
    overflow: hidden;
    z-index: 2002;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    -ms-column-gap: 8px;
    -o-column-gap: 8px;
    column-gap: 8px;
}

    div.dt-button-collection button.dt-button,
    div.dt-button-collection div.dt-button,
    div.dt-button-collection a.dt-button {
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
        display: block;
        float: none;
        margin-bottom: 4px;
        margin-right: 0;
        background: #fff;
    }

        div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled), div.dt-button-collection div.dt-button:active:not(.disabled), div.dt-button-collection div.dt-button.active:not(.disabled), div.dt-button-collection a.dt-button:active:not(.disabled), div.dt-button-collection a.dt-button.active:not(.disabled) {
            background-color: #f1f7fb !important;
            color: #171515 !important;
        }

    div.dt-button-collection.fixed {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -75px;
        border-radius: 0;
    }

        div.dt-button-collection.fixed.two-column {
            margin-left: -150px;
        }

        div.dt-button-collection.fixed.three-column {
            margin-left: -225px;
        }

        div.dt-button-collection.fixed.four-column {
            margin-left: -300px;
        }

    div.dt-button-collection > * {
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
    }

    div.dt-button-collection.two-column {
        width: 300px;
        padding-bottom: 1px;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -ms-column-count: 2;
        -o-column-count: 2;
        column-count: 2;
    }

    div.dt-button-collection.three-column {
        width: 450px;
        padding-bottom: 1px;
        -webkit-column-count: 3;
        -moz-column-count: 3;
        -ms-column-count: 3;
        -o-column-count: 3;
        column-count: 3;
    }

    div.dt-button-collection.four-column {
        width: 600px;
        padding-bottom: 1px;
        -webkit-column-count: 4;
        -moz-column-count: 4;
        -ms-column-count: 4;
        -o-column-count: 4;
        column-count: 4;
    }

    div.dt-button-collection .dt-button {
        border-radius: 4px;
    }

.dt-button-collection {
    width: 100%;
    max-height: 572px !important;
    overflow-y: auto !important;
}


.button-page-length {
    padding: 3px 4px 2px 8px;
    margin-bottom: 4px;
}

    .button-page-length a {
        border: 1px solid #38abd1 !important;
        border-radius: 4px;
        color: #38abd1 !important;
        text-decoration: none;
        padding: 3px 11px 2px 8px;
    }

div.dt-button-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 2001; */
}

@media screen and (max-width: 640px) {
    div.dt-buttons {
        float: none !important;
        text-align: center;
    }
}

button.dt-button.processing,
div.dt-button.processing,
a.dt-button.processing {
    color: rgba(0, 0, 0, 0.2);
}

    button.dt-button.processing:after,
    div.dt-button.processing:after,
    a.dt-button.processing:after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;
        box-sizing: border-box;
        display: block;
        content: ' ';
        border: 2px solid #282828;
        border-radius: 50%;
        border-left-color: transparent;
        border-right-color: transparent;
        animation: dtb-spinner 1500ms infinite linear;
        -o-animation: dtb-spinner 1500ms infinite linear;
        -ms-animation: dtb-spinner 1500ms infinite linear;
        -webkit-animation: dtb-spinner 1500ms infinite linear;
        -moz-animation: dtb-spinner 1500ms infinite linear;
    }

.newbtn1 {
    line-height: 1;
    background: none !important;
    padding: 0px 2px !important;
}

    .newbtn1:before {
        content: "\f078";
        font-family: FontAwesome;
        padding: 7px 7px 6px 7px !important;
        color: #3d7292;
        border: 1px solid #38abd1;
        border-radius: 4px !important;
    }

    .newbtn1:focus, .newbtn2:focus {
        box-shadow: none !important;
    }

.newbtn2 {
    line-height: 1;
    background: none !important;
    padding: 0px 5px 0px 2px !important;
}

    .newbtn2:before {
        content: "\f039";
        font-family: FontAwesome;
        padding: 7px 7px 6px 7px !important;
        color: #3d7292;
        border: 1px solid #38abd1;
        border-radius: 4px !important;
    }

.btndiv {
    width: 0%;
    min-width: 56px;
    top:26px !important;
}

div.dt-button-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
