body {
    background-color: #404040;
}

.top {
    margin-top: 10px;
}

.bottom {
    margin-bottom: 10px;
}

.padding-none {
    padding: 0px;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Glyphicons Halflings;
    src: url(../fonts/glyphicons-halflings-regular.eot);
}

@font-face {
    font-family: SEGOEUI;
    src: url(../fonts/SEGOEUI.ttf);
}

@font-face {
    font-family: seguisb;
    src: url('../fonts/fonts/seguisb.eot'); /* IE9 Compat Modes */
    src: url('../fonts/fonts/seguisb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fonts/seguisb.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fonts/seguisb.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fonts/seguisb.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: SEGOEUI;
    src: url('../fonts/fonts/segoeui.eot'); /* IE9 Compat Modes */
    src: url('../fonts/fonts/segoeui.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/fonts/segoeui.woff') format('woff'), /* Modern Browsers */
    url('../fonts/fonts/segoeui.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/fonts/segoeui.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: segoe-light;
    src: url(../fonts/segoeuil.ttf);
}

@font-face {
    font-family: SEGOEUIB;
    src: url(../fonts/SEGOEUIB.ttf);
}
/*----submenu css starts----*/
.productmenu_list ul li {
    list-style-type: none;
    float: left;
}

.productmenu_list ul {
    padding: 0;
    margin: 0;
    float: left;
}

    .productmenu_list ul li a {
        float: left;
        padding: 10px 22px 12px 70px;
        border-right: 2px solid #404040;
        background-color: #515151;
        color: #fff;
        text-decoration: none;
    }

.productmenu_list {
    background-color: #515151;
    border-radius: 4px;
}

    .productmenu_list ul li a:hover {
        border-right: 2px solid #404040;
        padding: 10px 22px 12px 70px;
        background: #2a92ce;
    }

.left_border {
    border-left: 2px solid #404040;
}

.productmenu_list ul li a.dashboard {
    background: url(/images/PMS/product_nav.png) no-repeat;
    background-position: 14px 7px;
}

.productmenu_list ul li a.product {
    background: url(/images/PMS/product_nav.png) no-repeat;
    background-position: 14px -75px;
}

.productmenu_list ul li a.productlist {
    background: url(/images/PMS/product_nav.png) no-repeat;
    background-position: 14px -149px;
}

.productmenu_list ul li a.dashboard:hover {
    background: url(/images/PMS/product_nav.png) no-repeat #2a92ce;
    background-position: 14px 7px;
}

.productmenu_list ul li a.product:hover {
    background: url(/images/PMS/product_nav.png) no-repeat #2a92ce;
    background-position: 14px -75px;
}

.productmenu_list ul li a.productlist:hover {
    background: url(/images/PMS/product_nav.png) no-repeat #2a92ce;
    background-position: 14px -149px;
}

.productmenu_list ul li a.dashboard.active {
    background: url(/images/PMS/product_nav.png) no-repeat #2a92ce;
    background-position: 14px 7px;
}

.productmenu_list ul li a.product.active {
    background: url(/images/PMS/product_nav.png) no-repeat #2a92ce;
    background-position: 14px -75px;
}

.productmenu_list ul li a.productlist.active {
    background: url(/images/PMS/product_nav.png) no-repeat #2a92ce;
    background-position: 14px -149px;
}
/*----submenu css ends----*/
/*----button css starts----*/
.listbtn {
    background-color: #3d7292;
    border: 2px solid #2a92ce;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
}

.submitbtn {
    border: 1px solid #38abd1;
    border-radius: 4px;
    font-size: 10pt;
    color: #38abd1;
    font-family: seguisb;
    background: #fff;
}

.cancelbtn {
    border: 1px solid #f84545;
    border-radius: 4px;
    font-size: 10pt;
    color: #f84545 !important;
    font-family: seguisb;
    background: #fff;
    margin-left: 4px;
}

/*----button css ends----*/


/*----listform css starts----*/
.formlist {
    background-color: #f2f2f2;
}

.newbtn {
    background: url(/images/PMS/products_icon_plus.png) no-repeat #3d7292;
    background-position: 5px;
    padding: 5px 9px 5px 30px !important;
}
.addbtn_inner {
    background: url(/images/PMS/products_icon_plus.png) no-repeat #3d7292;
    background-position: 5px;
    padding: 1px 6px 1px 30px !important;
}


.plusClass {
    background: url(/images/PMS/plus_dropdown.png) no-repeat;
    background-position: 3px 5px;
    padding: 4px 11px 4px 26px;
}

.form-control_custom {
    background: #fff !important;
    border: 1px solid #cdd8de !important;
}

.formborder {
    background-color: #fff;
    border: 1px solid #2a92ce;
}

input :: placeholder {
    color: #c1c9cd !important;
}

.top_buttons {
    margin-top: 20px;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
    color: #c1c9cd !important;
}
/*----listform css ends----*/

/*----selectpicker datepicker starts----*/
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
    /*.dow {
		border-top: 1px solid #ddd !important;
	}*/
}

.datepicker-inline {
    width: 220px;
}

.datepicker.datepicker-rtl {
    direction: rtl;
}

    .datepicker.datepicker-rtl table tr td span {
        float: right;
    }

.datepicker-dropdown {
    top: 0;
    left: 0;
}

    .datepicker-dropdown:before {
        content: '';
        display: inline-block;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-top: 0;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        position: absolute;
    }

    .datepicker-dropdown:after {
        content: '';
        display: inline-block;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-top: 0;
        position: absolute;
    }

    .datepicker-dropdown.datepicker-orient-left:before {
        left: 6px;
    }

    .datepicker-dropdown.datepicker-orient-left:after {
        left: 7px;
    }

    .datepicker-dropdown.datepicker-orient-right:before {
        right: 6px;
    }

    .datepicker-dropdown.datepicker-orient-right:after {
        right: 7px;
    }

    .datepicker-dropdown.datepicker-orient-top:before {
        top: -7px;
    }

    .datepicker-dropdown.datepicker-orient-top:after {
        top: -6px;
    }

    .datepicker-dropdown.datepicker-orient-bottom:before {
        bottom: -7px;
        border-bottom: 0;
        border-top: 7px solid #999;
    }

    .datepicker-dropdown.datepicker-orient-bottom:after {
        bottom: -6px;
        border-bottom: 0;
        border-top: 6px solid #ffffff;
    }

.datepicker table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.datepicker td,
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}

.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
    background-color: transparent;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    background: #eeeeee;
    cursor: pointer;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #999999;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background: none;
    color: #999999;
    cursor: default;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-color: #fde19a;
    background-image: -moz-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: -ms-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
    background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
    background-image: linear-gradient(top, #fdd49a, #fdf59a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
    border-color: #fdf59a #fdf59a #fbed50;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #000;
}

    .datepicker table tr td.today:hover,
    .datepicker table tr td.today:hover:hover,
    .datepicker table tr td.today.disabled:hover,
    .datepicker table tr td.today.disabled:hover:hover,
    .datepicker table tr td.today:active,
    .datepicker table tr td.today:hover:active,
    .datepicker table tr td.today.disabled:active,
    .datepicker table tr td.today.disabled:hover:active,
    .datepicker table tr td.today.active,
    .datepicker table tr td.today:hover.active,
    .datepicker table tr td.today.disabled.active,
    .datepicker table tr td.today.disabled:hover.active,
    .datepicker table tr td.today.disabled,
    .datepicker table tr td.today:hover.disabled,
    .datepicker table tr td.today.disabled.disabled,
    .datepicker table tr td.today.disabled:hover.disabled,
    .datepicker table tr td.today[disabled],
    .datepicker table tr td.today:hover[disabled],
    .datepicker table tr td.today.disabled[disabled],
    .datepicker table tr td.today.disabled:hover[disabled] {
        background-color: #fdf59a;
    }

        .datepicker table tr td.today:active,
        .datepicker table tr td.today:hover:active,
        .datepicker table tr td.today.disabled:active,
        .datepicker table tr td.today.disabled:hover:active,
        .datepicker table tr td.today.active,
        .datepicker table tr td.today:hover.active,
        .datepicker table tr td.today.disabled.active,
        .datepicker table tr td.today.disabled:hover.active {
            background-color: #fbf069 \9;
        }

        .datepicker table tr td.today:hover:hover {
            color: #000;
        }

        .datepicker table tr td.today.active:hover {
            color: #fff;
        }

.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
    background: #eeeeee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    .datepicker table tr td.range.today,
    .datepicker table tr td.range.today:hover,
    .datepicker table tr td.range.today.disabled,
    .datepicker table tr td.range.today.disabled:hover {
        background-color: #f3d17a;
        background-image: -moz-linear-gradient(top, #f3c17a, #f3e97a);
        background-image: -ms-linear-gradient(top, #f3c17a, #f3e97a);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
        background-image: -webkit-linear-gradient(top, #f3c17a, #f3e97a);
        background-image: -o-linear-gradient(top, #f3c17a, #f3e97a);
        background-image: linear-gradient(top, #f3c17a, #f3e97a);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
        border-color: #f3e97a #f3e97a #edde34;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

        .datepicker table tr td.range.today:hover,
        .datepicker table tr td.range.today:hover:hover,
        .datepicker table tr td.range.today.disabled:hover,
        .datepicker table tr td.range.today.disabled:hover:hover,
        .datepicker table tr td.range.today:active,
        .datepicker table tr td.range.today:hover:active,
        .datepicker table tr td.range.today.disabled:active,
        .datepicker table tr td.range.today.disabled:hover:active,
        .datepicker table tr td.range.today.active,
        .datepicker table tr td.range.today:hover.active,
        .datepicker table tr td.range.today.disabled.active,
        .datepicker table tr td.range.today.disabled:hover.active,
        .datepicker table tr td.range.today.disabled,
        .datepicker table tr td.range.today:hover.disabled,
        .datepicker table tr td.range.today.disabled.disabled,
        .datepicker table tr td.range.today.disabled:hover.disabled,
        .datepicker table tr td.range.today[disabled],
        .datepicker table tr td.range.today:hover[disabled],
        .datepicker table tr td.range.today.disabled[disabled],
        .datepicker table tr td.range.today.disabled:hover[disabled] {
            background-color: #f3e97a;
        }

            .datepicker table tr td.range.today:active,
            .datepicker table tr td.range.today:hover:active,
            .datepicker table tr td.range.today.disabled:active,
            .datepicker table tr td.range.today.disabled:hover:active,
            .datepicker table tr td.range.today.active,
            .datepicker table tr td.range.today:hover.active,
            .datepicker table tr td.range.today.disabled.active,
            .datepicker table tr td.range.today.disabled:hover.active {
                background-color: #efe24b \9;
            }

.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
    background-color: #9e9e9e;
    background-image: -moz-linear-gradient(top, #b3b3b3, #808080);
    background-image: -ms-linear-gradient(top, #b3b3b3, #808080);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(#808080));
    background-image: -webkit-linear-gradient(top, #b3b3b3, #808080);
    background-image: -o-linear-gradient(top, #b3b3b3, #808080);
    background-image: linear-gradient(top, #b3b3b3, #808080);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
    border-color: #808080 #808080 #595959;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

    .datepicker table tr td.selected:hover,
    .datepicker table tr td.selected:hover:hover,
    .datepicker table tr td.selected.disabled:hover,
    .datepicker table tr td.selected.disabled:hover:hover,
    .datepicker table tr td.selected:active,
    .datepicker table tr td.selected:hover:active,
    .datepicker table tr td.selected.disabled:active,
    .datepicker table tr td.selected.disabled:hover:active,
    .datepicker table tr td.selected.active,
    .datepicker table tr td.selected:hover.active,
    .datepicker table tr td.selected.disabled.active,
    .datepicker table tr td.selected.disabled:hover.active,
    .datepicker table tr td.selected.disabled,
    .datepicker table tr td.selected:hover.disabled,
    .datepicker table tr td.selected.disabled.disabled,
    .datepicker table tr td.selected.disabled:hover.disabled,
    .datepicker table tr td.selected[disabled],
    .datepicker table tr td.selected:hover[disabled],
    .datepicker table tr td.selected.disabled[disabled],
    .datepicker table tr td.selected.disabled:hover[disabled] {
        background-color: #808080;
    }

        .datepicker table tr td.selected:active,
        .datepicker table tr td.selected:hover:active,
        .datepicker table tr td.selected.disabled:active,
        .datepicker table tr td.selected.disabled:hover:active,
        .datepicker table tr td.selected.active,
        .datepicker table tr td.selected:hover.active,
        .datepicker table tr td.selected.disabled.active,
        .datepicker table tr td.selected.disabled:hover.active {
            background-color: #666666 \9;
        }

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

    .datepicker table tr td.active:hover,
    .datepicker table tr td.active:hover:hover,
    .datepicker table tr td.active.disabled:hover,
    .datepicker table tr td.active.disabled:hover:hover,
    .datepicker table tr td.active:active,
    .datepicker table tr td.active:hover:active,
    .datepicker table tr td.active.disabled:active,
    .datepicker table tr td.active.disabled:hover:active,
    .datepicker table tr td.active.active,
    .datepicker table tr td.active:hover.active,
    .datepicker table tr td.active.disabled.active,
    .datepicker table tr td.active.disabled:hover.active,
    .datepicker table tr td.active.disabled,
    .datepicker table tr td.active:hover.disabled,
    .datepicker table tr td.active.disabled.disabled,
    .datepicker table tr td.active.disabled:hover.disabled,
    .datepicker table tr td.active[disabled],
    .datepicker table tr td.active:hover[disabled],
    .datepicker table tr td.active.disabled[disabled],
    .datepicker table tr td.active.disabled:hover[disabled] {
        background-color: #0044cc;
    }

        .datepicker table tr td.active:active,
        .datepicker table tr td.active:hover:active,
        .datepicker table tr td.active.disabled:active,
        .datepicker table tr td.active.disabled:hover:active,
        .datepicker table tr td.active.active,
        .datepicker table tr td.active:hover.active,
        .datepicker table tr td.active.disabled.active,
        .datepicker table tr td.active.disabled:hover.active {
            background-color: #003399 \9;
        }

.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .datepicker table tr td span:hover {
        background: #eeeeee;
    }

    .datepicker table tr td span.disabled,
    .datepicker table tr td span.disabled:hover {
        background: none;
        color: #999999;
        cursor: default;
    }

    .datepicker table tr td span.active,
    .datepicker table tr td span.active:hover,
    .datepicker table tr td span.active.disabled,
    .datepicker table tr td span.active.disabled:hover {
        background-color: #006dcc;
        background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
        background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
        background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
        background-image: -o-linear-gradient(top, #0088cc, #0044cc);
        background-image: linear-gradient(top, #0088cc, #0044cc);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
        border-color: #0044cc #0044cc #002a80;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

        .datepicker table tr td span.active:hover,
        .datepicker table tr td span.active:hover:hover,
        .datepicker table tr td span.active.disabled:hover,
        .datepicker table tr td span.active.disabled:hover:hover,
        .datepicker table tr td span.active:active,
        .datepicker table tr td span.active:hover:active,
        .datepicker table tr td span.active.disabled:active,
        .datepicker table tr td span.active.disabled:hover:active,
        .datepicker table tr td span.active.active,
        .datepicker table tr td span.active:hover.active,
        .datepicker table tr td span.active.disabled.active,
        .datepicker table tr td span.active.disabled:hover.active,
        .datepicker table tr td span.active.disabled,
        .datepicker table tr td span.active:hover.disabled,
        .datepicker table tr td span.active.disabled.disabled,
        .datepicker table tr td span.active.disabled:hover.disabled,
        .datepicker table tr td span.active[disabled],
        .datepicker table tr td span.active:hover[disabled],
        .datepicker table tr td span.active.disabled[disabled],
        .datepicker table tr td span.active.disabled:hover[disabled] {
            background-color: #0044cc;
        }

            .datepicker table tr td span.active:active,
            .datepicker table tr td span.active:hover:active,
            .datepicker table tr td span.active.disabled:active,
            .datepicker table tr td span.active.disabled:hover:active,
            .datepicker table tr td span.active.active,
            .datepicker table tr td span.active:hover.active,
            .datepicker table tr td span.active.disabled.active,
            .datepicker table tr td span.active.disabled:hover.active {
                background-color: #003399 \9;
            }

    .datepicker table tr td span.old,
    .datepicker table tr td span.new {
        color: #999999;
    }

.datepicker th.datepicker-switch {
    width: 145px;
}

.datepicker thead tr:first-child th,
.datepicker tfoot tr th {
    cursor: pointer;
}

    .datepicker thead tr:first-child th:hover,
    .datepicker tfoot tr th:hover {
        background: #eeeeee;
    }

.datepicker .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
}

.datepicker thead tr:first-child th.cw {
    cursor: default;
    background-color: transparent;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.input-daterange input {
    text-align: center;
}

    .input-daterange input:first-child {
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
    }

    .input-daterange input:last-child {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }

.input-daterange .add-on {
    display: inline-block;
    width: auto;
    min-width: 16px;
    height: 20px;
    padding: 4px 5px;
    font-weight: normal;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
    vertical-align: middle;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    margin-left: -5px;
    margin-right: -5px;
}

.datepicker.dropdown-menu th,
.datepicker.dropdown-menu td {
    padding: 4px 5px;
}

.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
    display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
    display: none;
}


.dropdown-menu li.selected a {
    color: #fff;
    border-bottom: 1px solid #07889a !important;
}

.selectdrop_down .dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #2a92ce !important;
    background: #fff !important;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
}

.selectdrop_down .dropdown-menu li.selected a {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #2a92ce !important;
    text-align: inherit;
    white-space: nowrap;
    background: #fff !important;
    border-bottom: 1px solid #07889a !important;
    border: 0;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #2a92ce !important;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.drop_down .btn {
    background: #fff;
    color: #3e3e3e;
    border: 1px solid #cdd8de !important;
    font-family: seguisb;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    background: #fff;
}

.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    color: #57a3d5;
    border: 1px solid #79c4ef !important;
    float: none;
}

.dropdown-menu li.select a {
    background: #07889a !important;
    color: #fff !important;
    border-bottom: 1px solid #fff !important;
}
/*----selectpicker datepicker ends----*/
/*----datatable css starts----*/
.datatable_cust {
    top: 10px;
}

    .datatable_cust thead th {
        border-right: 1px solid #c3c3c3;
        border-bottom: 1px solid #c3c3c3;
        background: #3d7292;
        color: #fff;
        font-family: seguisb;
        text-align: center;
        font-size: 10pt;
        padding: 8px 6px;
    }

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 1px;
    border-bottom-color: #d4d4d4;
    padding: 6px;
    font-size: 10pt;
    font-family: SEGOEUI;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fbfbfb;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #d2ecfc;
}

.table-striped tbody tr:hover {
    background-color: #cad3d4;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: collapse !important;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    font-size: 10pt;
    font-family: SEGOEUI;
    color: #07889a;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
    font-size: 10pt;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2a92ce;
    border-color: #2a92ce;
}

#example .sorting_1 {
    background: url(/images/edit.png) no-repeat;
    background-position: center center;
}

.view {
    background: url(/Images/GridActionImages/view.png) no-repeat;
    padding: 12px;
    background-position: center center;
    width: 100%;
    float: left;
}

.edit_icon_feed {
    background: url(/Images/GridActionImages/edit.png) no-repeat;
    padding: 12px;
    cursor: pointer;
    background-position: center center;
    width: 100%;
    float: left;
}

.summary_latest {
    background: url(/images/GridActionImages/summary_latest.png) no-repeat scroll center;
    padding: 15px 0px !important;
    background-position: center center;
    width: 100%;
    float: left;
}

.modalWidth {
    max-width: 90%;
}

.buttons-excel {
    background: url(/images/PMS/excel.png) no-repeat 6px 9px #f2f2f2;
    border: 1px solid #2a92ce;
    border-radius: 4px !important;
    margin-right: 6px;
    color: #2a92ce;
    font-family: seguisb;
    font-size: 11pt;
    padding: 4px 10px 4px 25px !important;
}

.btnclass {
    background-color: #2a92ce !important;
}

    .btnclass.active {
        background-color: #3d7292 !important;
    }

.buttons-excel:hover {
    background: url(/images/PMS/excel.png) no-repeat 6px -21px #2a92ce;
    border: 1px solid #2a92ce;
    border-radius: 4px !important;
    margin-right: 6px;
    color: #fff;
    font-family: seguisb;
    font-size: 11pt;
    padding: 4px 10px 4px 25px !important;
}

.buttons-pdf {
    background: url(/images/PMS/pdf.png) no-repeat 8px -25px #f2f2f2;
    border: 1px solid #2a92ce;
    border-radius: 4px !important;
    margin-right: 6px;
    color: #2a92ce;
    font-family: seguisb;
    font-size: 11pt;
    padding: 4px 10px 4px 28px !important;
}

    .buttons-pdf:hover {
        background: url(/images/PMS/pdf.png) no-repeat 8px 8px #2a92ce;
        border: 1px solid #2a92ce;
        border-radius: 4px !important;
        margin-right: 6px;
        color: #fff;
        font-family: seguisb;
        font-size: 11pt;
        padding: 4px 10px 4px 28px !important;
    }

.buttons-approve {
    background: url(/images/PMS/approve.png) no-repeat #fff;
    border: 1px solid #38abd1;
    border-radius: 4px;
    font-size: 10pt;
    color: #38abd1;
    padding: 4px 9px 4px 24px !important;
    font-family: seguisb;
    background-size: 19px;
    background-position: 4px 5px;
}

.buttons-revert {
    background: url(/images/PMS/revert.png) no-repeat #fff;
    border: 1px solid #24b8a1;
    border-radius: 4px;
    font-size: 10pt;
    color: #24b8a1;
    padding: 4px 9px 4px 24px !important;
    font-family: seguisb;
    background-size: 19px;
    background-position: 4px 5px;
}
/*----datatable css ends----*/
tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

.modal-header, .close {
    background-color: #2a92ce;
    color: #fff !important;
    padding: 0px !important;
    margin: 0px !important;
}
/*-----modal header----------*/
.modal-header {
    padding: 8px 16px !important;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 13pt;
}

.delete_icon_feed {
    background: url(/Images/GridActionImages/del_grid.png) no-repeat;
    padding: 12px 0px;
    background-position: center center;
    width: 100%;
    float: left;
}

thead input {
    width: 100%;
    font-size: 10pt !important;
    padding: 2px 10px;
    border-radius: 4px;
    background: transparent;
    color: #fff;
}
/*-------dashboard--------------*/
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

    .flip-container:hover .flipper,
    .flip-container.hover .flipper {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

.flip-container, .front, .back {
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 125px;
}

.style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #3e3e3e;
}

.style-2::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: #3e3e3e;
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #fff;
}

#f1_container {
    position: relative;
    height: 120px;
    z-index: 1;
}

#f1_container {
    perspective: 1000;
}

#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

    .face.back {
        display: block;
        transform: rotateY(180deg);
        box-sizing: border-box;
        color: white;
        text-align: center;
    }

.flip_list {
    padding: 0;
    margin: 0;
    max-height: 112px;
    overflow-y: auto;
}

    .flip_list li a {
        list-style-type: none;
        border-bottom: 1px solid #647190;
        color: #647190;
        padding: 6px;
        font-size: 10pt;
    }

        .flip_list li a:hover {
            list-style-type: none;
            border-bottom: 1px solid #647190;
            color: #fff;
            padding: 6px;
            background: #647190;
            font-size: 10pt;
        }

.dashboard-image {
    margin-top: 10px;
    padding: 0px 14px;
    margin-bottom: 10px;
}

.link_dashboard {
    color: #647190;
    font-family: seguisb;
    font-size: 30pt;
    float: right;
    padding: 0px;
}

.link_dashboard1 {
    color: #f1676e;
    font-family: seguisb;
    font-size: 30pt;
    float: right;
    padding: 0px;
}

.flip_list li {
    list-style-type: none;
    text-align: left;
}

.outer_dashboard1 {
    border-radius: 4px;
    border: 2px solid #f1676e;
    margin-bottom: 10px;
}

    .outer_dashboard1:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.outer_dashboard2 {
    border-radius: 4px;
    border: 2px solid #6d8b8c;
    margin-bottom: 10px;
}

    .outer_dashboard2:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.outer_dashboard3 {
    border-radius: 4px;
    border: 2px solid #525d5d;
    margin-bottom: 10px;
}

    .outer_dashboard3:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.outer_dashboard {
    border-radius: 4px;
    border: 2px solid #647190;
    margin-bottom: 10px;
}

    .outer_dashboard:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.panel_list_bg {
    background: url(/Images/PMS/panel_bg_tiltes.png) no-repeat;
    background-position: right;
    background-color: #fcfbfb;
}

.grid_header {
    background: #5dafdf;
    padding: 10px;
    color: #fff;
    font-size: 12pt;
    font-family: seguisb;
}

.panel_list ul {
    padding: 0;
    margin: 0;
}

    .panel_list ul li {
        list-style-type: none;
        display: inline;
    }

        .panel_list ul li a {
            background: url(/Images/PMS/panel_list.png) no-repeat;
            padding: 8px 18px 0px 13px;
            cursor: pointer;
        }

            .panel_list ul li a.fav {
                background: url(/Images/PMS/panel_list.png) no-repeat;
                background-position: 0px 0px;
            }

            .panel_list ul li a.refresh {
                background: url(/Images/PMS/panel_list.png) no-repeat;
                background-position: 0px -43px;
            }

            .panel_list ul li a.filter_icon {
                background: url(/Images/PMS/panel_list.png) no-repeat;
                background-position: 0px -80px;
            }

.grid_panel_full {
    border: 1px solid #7398ad;
}

.filter_dropdown {
    position: absolute;
    background: #f0f0f0;
    z-index: 999;
    right: 0;
    padding: 10px;
    border: 1px solid #aeaeae;
    top: 33px;
}

.header_text_dshboard1 {
    color: #647190;
    padding: 3px 10px;
    font-family: seguisb;
    font-size: 13pt;
}

.header_text_dshboard2 {
    color: #f1676e;
    padding: 3px 10px;
    font-family: seguisb;
    font-size: 13pt;
}

.flip_list1 {
    padding: 0;
    margin: 0;
    max-height: 112px;
    overflow-y: auto;
}

    .flip_list1 li a {
        list-style-type: none;
        border-bottom: 1px solid #f1676e;
        color: #f1676e;
        padding: 6px;
        font-size: 10pt;
    }

        .flip_list1 li a:hover {
            list-style-type: none;
            border-bottom: 1px solid #f1676e;
            color: #fff;
            padding: 6px;
            background: #f1676e;
            font-size: 10pt;
        }

    .flip_list1 li {
        list-style-type: none;
        text-align: left;
    }

.draw {
    transition: color 0.25s;
    &::before, &::after

{
    border: 2px solid transparent;
    width: 0;
    height: 0;
}


&::before {
    top: 0;
    left: 0;
}

&::after {
    bottom: 0;
    right: 0;
}

&:hover {
    color: #000;
}

    // Hover styles
    &:hover::before,
    &:hover::after {
        width: 100%;
        height: 100%;
    }

    &:hover::before {
        border-top-color: #000;
        border-right-color: #000;
        transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }

    &:hover::after {
        border-bottom-color: #000;
        border-left-color: #000;
        transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    }

}

@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.eot");
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
    content: "\002a";
}

.glyphicon-plus:before {
    content: "\002b";
}

.glyphicon-euro:before,
.glyphicon-eur:before {
    content: "\20ac";
}

.glyphicon-minus:before {
    content: "\2212";
}

.glyphicon-cloud:before {
    content: "\2601";
}

.glyphicon-envelope:before {
    content: "\2709";
}

.glyphicon-pencil:before {
    content: "\270f";
}

.glyphicon-glass:before {
    content: "\e001";
}

.glyphicon-music:before {
    content: "\e002";
}

.glyphicon-search:before {
    content: "\e003";
}

.glyphicon-heart:before {
    content: "\e005";
}

.glyphicon-star:before {
    content: "\e006";
}

.glyphicon-star-empty:before {
    content: "\e007";
}

.glyphicon-user:before {
    content: "\e008";
}

.glyphicon-film:before {
    content: "\e009";
}

.glyphicon-th-large:before {
    content: "\e010";
}

.glyphicon-th:before {
    content: "\e011";
}

.glyphicon-th-list:before {
    content: "\e012";
}

.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-remove:before {
    content: "\e014";
}

.glyphicon-zoom-in:before {
    content: "\e015";
}

.glyphicon-zoom-out:before {
    content: "\e016";
}

.glyphicon-off:before {
    content: "\e017";
}

.glyphicon-signal:before {
    content: "\e018";
}

.glyphicon-cog:before {
    content: "\e019";
}

.glyphicon-trash:before {
    content: "\e020";
}

.glyphicon-home:before {
    content: "\e021";
}

.glyphicon-file:before {
    content: "\e022";
}

.glyphicon-time:before {
    content: "\e023";
}

.glyphicon-road:before {
    content: "\e024";
}

.glyphicon-download-alt:before {
    content: "\e025";
}

.glyphicon-download:before {
    content: "\e026";
}

.glyphicon-upload:before {
    content: "\e027";
}

.glyphicon-inbox:before {
    content: "\e028";
}

.glyphicon-play-circle:before {
    content: "\e029";
}

.glyphicon-repeat:before {
    content: "\e030";
}

.glyphicon-refresh:before {
    content: "\e031";
}

.glyphicon-list-alt:before {
    content: "\e032";
}

.glyphicon-lock:before {
    content: "\e033";
}

.glyphicon-flag:before {
    content: "\e034";
}

.glyphicon-headphones:before {
    content: "\e035";
}

.glyphicon-volume-off:before {
    content: "\e036";
}

.glyphicon-volume-down:before {
    content: "\e037";
}

.glyphicon-volume-up:before {
    content: "\e038";
}

.glyphicon-qrcode:before {
    content: "\e039";
}

.glyphicon-barcode:before {
    content: "\e040";
}

.glyphicon-tag:before {
    content: "\e041";
}

.glyphicon-tags:before {
    content: "\e042";
}

.glyphicon-book:before {
    content: "\e043";
}

.glyphicon-bookmark:before {
    content: "\e044";
}

.glyphicon-print:before {
    content: "\e045";
}

.glyphicon-camera:before {
    content: "\e046";
}

.glyphicon-font:before {
    content: "\e047";
}

.glyphicon-bold:before {
    content: "\e048";
}

.glyphicon-italic:before {
    content: "\e049";
}

.glyphicon-text-height:before {
    content: "\e050";
}

.glyphicon-text-width:before {
    content: "\e051";
}

.glyphicon-align-left:before {
    content: "\e052";
}

.glyphicon-align-center:before {
    content: "\e053";
}

.glyphicon-align-right:before {
    content: "\e054";
}

.glyphicon-align-justify:before {
    content: "\e055";
}

.glyphicon-list:before {
    content: "\e056";
}

.glyphicon-indent-left:before {
    content: "\e057";
}

.glyphicon-indent-right:before {
    content: "\e058";
}

.glyphicon-facetime-video:before {
    content: "\e059";
}

.glyphicon-picture:before {
    content: "\e060";
}

.glyphicon-map-marker:before {
    content: "\e062";
}

.glyphicon-adjust:before {
    content: "\e063";
}

.glyphicon-tint:before {
    content: "\e064";
}

.glyphicon-edit:before {
    content: "\e065";
}

.glyphicon-share:before {
    content: "\e066";
}

.glyphicon-check:before {
    content: "\e067";
}

.glyphicon-move:before {
    content: "\e068";
}

.glyphicon-step-backward:before {
    content: "\e069";
}

.glyphicon-fast-backward:before {
    content: "\e070";
}

.glyphicon-backward:before {
    content: "\e071";
}

.glyphicon-play:before {
    content: "\e072";
}

.glyphicon-pause:before {
    content: "\e073";
}

.glyphicon-stop:before {
    content: "\e074";
}

.glyphicon-forward:before {
    content: "\e075";
}

.glyphicon-fast-forward:before {
    content: "\e076";
}

.glyphicon-step-forward:before {
    content: "\e077";
}

.glyphicon-eject:before {
    content: "\e078";
}

.glyphicon-chevron-left:before {
    content: "\e079";
}

.glyphicon-chevron-right:before {
    content: "\e080";
}

.glyphicon-plus-sign:before {
    content: "\e081";
}

.glyphicon-minus-sign:before {
    content: "\e082";
}

.glyphicon-remove-sign:before {
    content: "\e083";
}

.glyphicon-ok-sign:before {
    content: "\e084";
}

.glyphicon-question-sign:before {
    content: "\e085";
}

.glyphicon-info-sign:before {
    content: "\e086";
}

.glyphicon-screenshot:before {
    content: "\e087";
}

.glyphicon-remove-circle:before {
    content: "\e088";
}

.glyphicon-ok-circle:before {
    content: "\e089";
}

.glyphicon-ban-circle:before {
    content: "\e090";
}

.glyphicon-arrow-left:before {
    content: "\e091";
}

.glyphicon-arrow-right:before {
    content: "\e092";
}

.glyphicon-arrow-up:before {
    content: "\e093";
}

.glyphicon-arrow-down:before {
    content: "\e094";
}

.glyphicon-share-alt:before {
    content: "\e095";
}

.glyphicon-resize-full:before {
    content: "\e096";
}

.glyphicon-resize-small:before {
    content: "\e097";
}

.glyphicon-exclamation-sign:before {
    content: "\e101";
}

.glyphicon-gift:before {
    content: "\e102";
}

.glyphicon-leaf:before {
    content: "\e103";
}

.glyphicon-fire:before {
    content: "\e104";
}

.glyphicon-eye-open:before {
    content: "\e105";
}

.glyphicon-eye-close:before {
    content: "\e106";
}

.glyphicon-warning-sign:before {
    content: "\e107";
}

.glyphicon-plane:before {
    content: "\e108";
}

.glyphicon-calendar:before {
    content: "\e109";
}

.glyphicon-random:before {
    content: "\e110";
}

.glyphicon-comment:before {
    content: "\e111";
}

.glyphicon-magnet:before {
    content: "\e112";
}

.glyphicon-chevron-up:before {
    content: "\e113";
}

.glyphicon-chevron-down:before {
    content: "\e114";
}

.glyphicon-retweet:before {
    content: "\e115";
}

.glyphicon-shopping-cart:before {
    content: "\e116";
}

.glyphicon-folder-close:before {
    content: "\e117";
}

.glyphicon-folder-open:before {
    content: "\e118";
}

.glyphicon-resize-vertical:before {
    content: "\e119";
}

.glyphicon-resize-horizontal:before {
    content: "\e120";
}

.glyphicon-hdd:before {
    content: "\e121";
}

.glyphicon-bullhorn:before {
    content: "\e122";
}

.glyphicon-bell:before {
    content: "\e123";
}

.glyphicon-certificate:before {
    content: "\e124";
}

.glyphicon-thumbs-up:before {
    content: "\e125";
}

.glyphicon-thumbs-down:before {
    content: "\e126";
}

.glyphicon-hand-right:before {
    content: "\e127";
}

.glyphicon-hand-left:before {
    content: "\e128";
}

.glyphicon-hand-up:before {
    content: "\e129";
}

.glyphicon-hand-down:before {
    content: "\e130";
}

.glyphicon-circle-arrow-right:before {
    content: "\e131";
}

.glyphicon-circle-arrow-left:before {
    content: "\e132";
}

.glyphicon-circle-arrow-up:before {
    content: "\e133";
}

.glyphicon-circle-arrow-down:before {
    content: "\e134";
}

.glyphicon-globe:before {
    content: "\e135";
}

.glyphicon-wrench:before {
    content: "\e136";
}

.glyphicon-tasks:before {
    content: "\e137";
}

.glyphicon-filter:before {
    content: "\e138";
}

.glyphicon-briefcase:before {
    content: "\e139";
}

.glyphicon-fullscreen:before {
    content: "\e140";
}

.glyphicon-dashboard:before {
    content: "\e141";
}

.glyphicon-paperclip:before {
    content: "\e142";
}

.glyphicon-heart-empty:before {
    content: "\e143";
}

.glyphicon-link:before {
    content: "\e144";
}

.glyphicon-phone:before {
    content: "\e145";
}

.glyphicon-pushpin:before {
    content: "\e146";
}

.glyphicon-usd:before {
    content: "\e148";
}

.glyphicon-gbp:before {
    content: "\e149";
}

.glyphicon-sort:before {
    content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
    content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
    content: "\e152";
}

.glyphicon-sort-by-order:before {
    content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
    content: "\e154";
}

.glyphicon-sort-by-attributes:before {
    content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
    content: "\e156";
}

.glyphicon-unchecked:before {
    content: "\e157";
}

.glyphicon-expand:before {
    content: "\e158";
}

.glyphicon-collapse-down:before {
    content: "\e159";
}

.glyphicon-collapse-up:before {
    content: "\e160";
}

.glyphicon-log-in:before {
    content: "\e161";
}

.glyphicon-flash:before {
    content: "\e162";
}

.glyphicon-log-out:before {
    content: "\e163";
}

.glyphicon-new-window:before {
    content: "\e164";
}

.glyphicon-record:before {
    content: "\e165";
}

.glyphicon-save:before {
    content: "\e166";
}

.glyphicon-open:before {
    content: "\e167";
}

.glyphicon-saved:before {
    content: "\e168";
}

.glyphicon-import:before {
    content: "\e169";
}

.glyphicon-export:before {
    content: "\e170";
}

.glyphicon-send:before {
    content: "\e171";
}

.glyphicon-floppy-disk:before {
    content: "\e172";
}

.glyphicon-floppy-saved:before {
    content: "\e173";
}

.glyphicon-floppy-remove:before {
    content: "\e174";
}

.glyphicon-floppy-save:before {
    content: "\e175";
}

.glyphicon-floppy-open:before {
    content: "\e176";
}

.glyphicon-credit-card:before {
    content: "\e177";
}

.glyphicon-transfer:before {
    content: "\e178";
}

.glyphicon-cutlery:before {
    content: "\e179";
}

.glyphicon-header:before {
    content: "\e180";
}

.glyphicon-compressed:before {
    content: "\e181";
}

.glyphicon-earphone:before {
    content: "\e182";
}

.glyphicon-phone-alt:before {
    content: "\e183";
}

.glyphicon-tower:before {
    content: "\e184";
}

.glyphicon-stats:before {
    content: "\e185";
}

.glyphicon-sd-video:before {
    content: "\e186";
}

.glyphicon-hd-video:before {
    content: "\e187";
}

.glyphicon-subtitles:before {
    content: "\e188";
}

.glyphicon-sound-stereo:before {
    content: "\e189";
}

.glyphicon-sound-dolby:before {
    content: "\e190";
}

.glyphicon-sound-5-1:before {
    content: "\e191";
}

.glyphicon-sound-6-1:before {
    content: "\e192";
}

.glyphicon-sound-7-1:before {
    content: "\e193";
}

.glyphicon-copyright-mark:before {
    content: "\e194";
}

.glyphicon-registration-mark:before {
    content: "\e195";
}

.glyphicon-cloud-download:before {
    content: "\e197";
}

.glyphicon-cloud-upload:before {
    content: "\e198";
}

.glyphicon-tree-conifer:before {
    content: "\e199";
}

.glyphicon-tree-deciduous:before {
    content: "\e200";
}

.glyphicon-cd:before {
    content: "\e201";
}

.glyphicon-save-file:before {
    content: "\e202";
}

.glyphicon-open-file:before {
    content: "\e203";
}

.glyphicon-level-up:before {
    content: "\e204";
}

.glyphicon-copy:before {
    content: "\e205";
}

.glyphicon-paste:before {
    content: "\e206";
}

.glyphicon-alert:before {
    content: "\e209";
}

.glyphicon-equalizer:before {
    content: "\e210";
}

.glyphicon-king:before {
    content: "\e211";
}

.glyphicon-queen:before {
    content: "\e212";
}

.glyphicon-pawn:before {
    content: "\e213";
}

.glyphicon-bishop:before {
    content: "\e214";
}

.glyphicon-knight:before {
    content: "\e215";
}

.glyphicon-baby-formula:before {
    content: "\e216";
}

.glyphicon-tent:before {
    content: "\26fa";
}

.glyphicon-blackboard:before {
    content: "\e218";
}

.glyphicon-bed:before {
    content: "\e219";
}

.glyphicon-apple:before {
    content: "\f8ff";
}

.glyphicon-erase:before {
    content: "\e221";
}

.glyphicon-hourglass:before {
    content: "\231b";
}

.glyphicon-lamp:before {
    content: "\e223";
}

.glyphicon-duplicate:before {
    content: "\e224";
}

.glyphicon-piggy-bank:before {
    content: "\e225";
}

.glyphicon-scissors:before {
    content: "\e226";
}

.glyphicon-bitcoin:before {
    content: "\e227";
}

.glyphicon-btc:before {
    content: "\e227";
}

.glyphicon-xbt:before {
    content: "\e227";
}

.glyphicon-yen:before {
    content: "\00a5";
}

.glyphicon-jpy:before {
    content: "\00a5";
}

.glyphicon-ruble:before {
    content: "\20bd";
}

.glyphicon-rub:before {
    content: "\20bd";
}

.glyphicon-scale:before {
    content: "\e230";
}

.glyphicon-ice-lolly:before {
    content: "\e231";
}

.glyphicon-ice-lolly-tasted:before {
    content: "\e232";
}

.glyphicon-education:before {
    content: "\e233";
}

.glyphicon-option-horizontal:before {
    content: "\e234";
}

.glyphicon-option-vertical:before {
    content: "\e235";
}

.glyphicon-menu-hamburger:before {
    content: "\e236";
}

.glyphicon-modal-window:before {
    content: "\e237";
}

.glyphicon-oil:before {
    content: "\e238";
}

.glyphicon-grain:before {
    content: "\e239";
}

.glyphicon-sunglasses:before {
    content: "\e240";
}

.glyphicon-text-size:before {
    content: "\e241";
}

.glyphicon-text-color:before {
    content: "\e242";
}

.glyphicon-text-background:before {
    content: "\e243";
}

.glyphicon-object-align-top:before {
    content: "\e244";
}

.glyphicon-object-align-bottom:before {
    content: "\e245";
}

.glyphicon-object-align-horizontal:before {
    content: "\e246";
}

.glyphicon-object-align-left:before {
    content: "\e247";
}

.glyphicon-object-align-vertical:before {
    content: "\e248";
}

.glyphicon-object-align-right:before {
    content: "\e249";
}

.glyphicon-triangle-right:before {
    content: "\e250";
}

.glyphicon-triangle-left:before {
    content: "\e251";
}

.glyphicon-triangle-bottom:before {
    content: "\e252";
}

.glyphicon-triangle-top:before {
    content: "\e253";
}

.glyphicon-console:before {
    content: "\e254";
}

.glyphicon-superscript:before {
    content: "\e255";
}

.glyphicon-subscript:before {
    content: "\e256";
}

.glyphicon-menu-left:before {
    content: "\e257";
}

.glyphicon-menu-right:before {
    content: "\e258";
}

.glyphicon-menu-down:before {
    content: "\e259";
}

.glyphicon-menu-up:before {
    content: "\e260";
}

textarea.form-control {
    height: auto !important;
}

.newbtn1 {
    line-height: 1;
    background: none !important;
    padding: 0px 2px !important;
}

    .newbtn1:before {
        content: "\f078";
        font-family: FontAwesome;
        padding: 7px 7px 6px 7px !important;
        color: #3d7292;
        border: 1px solid #38abd1;
        border-radius: 4px !important;
    }

    .newbtn1:focus, .newbtn2:focus {
        box-shadow: none !important;
    }

.newbtn2 {
    line-height: 1;
    background: none !important;
    padding: 0px 5px 0px 2px !important;
}

    .newbtn2:before {
        content: "\f039";
        font-family: FontAwesome;
        padding: 7px 7px 6px 7px !important;
        color: #3d7292;
        border: 1px solid #38abd1;
        border-radius: 4px !important;
    }

.button-page-length.active a {
    background-color: #d2ecfc !important;
    color: #000 !important;
}

.buttons-columnVisibility.active a {
    background-color: #d2ecfc !important;
    color: #000 !important;
}

.buttons-columnVisibility {
    text-align: left;
    padding: 4px 7px;
    margin-bottom: 4px;
}

    .buttons-columnVisibility a {
        border: 1px solid #38abd1 !important;
        border-radius: 4px;
        text-decoration: none;
        padding: 3px 7px 2px 7px;
        width: 100%;
        float: left;
        margin-bottom: 4px;
    }

.grid-heading_title {
    background: #d1e6f3 !important;
    padding: 10px;
    font-family: seguisb;
    font-size: 11pt;
    color: #056775;
    border-radius: 0px !important;
    border: 1px solid #07889a;
    border-bottom: none;
}

.grid_panel_hod {
    border: 1px solid #07889a;
    padding: 8px 0px !important;
}
.create_grid_panel_hod {
    border: 1px solid #07889a;
    padding: 8px 0px !important;
    background:#fff;
}
.sub_nav {
    display: none;
    position: absolute;
    background-color: #2e2e2e;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1050;
    top: 46px;
    right: 0;
    width: 47%;
    box-shadow: 2px 2px 2px #000;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

    .sub_nav li a {
        color: black;
        padding: 8px 16px !important;
        text-decoration: none;
        display: block;
        width: 100%;
        border-bottom: 1px solid #fff;
        background-color: #2e2e2e !important;
    }

.border-bottom {
    border: none !important;
}

.sub_nav li {
    width: 100%;
}

    .sub_nav li a:hover {
        background-color: #1cadef !important;
        border-bottom: 1px solid #fff;
        width: 100%;
    }

    .sub_nav li a.active:hover {
        background-color: #1cadef !important;
        border-bottom: 1px solid #fff;
        width: 100%;
    }

.test:hover .sub_nav {
    display: block;
}

.test:hover .test {
    background-color: #2e2e2e;
}
.grid_headerstyle {
    font-family: seguisb;
    font-size: 11pt;
    color: #056775;
}
.top_4 {
    margin-top: 4px;
}
.ctlclass {
    position: absolute;
    top: 100%;
    width: 94%;
    display: none;
    z-index: 1050;
}

    .ctlclass ul {
        margin: 0;
        padding: 0;
        border: 1px solid #3d7292;
    }

        .ctlclass ul li {
            list-style-type: none;
            background: #fff;
            padding: 5px 13px;
            color: #3d7292;
            border-bottom: 1px solid #3d7292;
        }

.ctlinput:hover .ctlclass {
    display: block;
}
.productlist {
    pointer-events: none;
    cursor: default;
}