﻿<style>
    .labelBorder {
        padding: 0px 6px;
        border: 1px solid #d2d2d2;
        overflow-y: auto;
        min-height: 96px;
        max-height: 96px;
        font-size: 10pt;
    }
    .labelstyle {
        font-size: 12pt !important;
    }
</style>
<!--Create CAPA-->
<div id="modalViewCAPADetails" data-backdrop="static" class="modal department fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg " style="min-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title editModalTitle">CAPA Details</h4>
                <button type="button" class="close" onclick="CloseCAPAView();">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="col-12 editModalBody content_bg grid_assgin_nav float-left padding-none">
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                            <div class=" col-xl-12">
                                <label class=" custom_label col-form-label float-left">	Quality Notification Number </label>
                                <div class=" custom_label col-form-label labelstyle" id="divQualityEventNumber">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                            <div class=" col-xl-12">
                                <label class=" custom_label col-form-label float-left">Department </label>
                                <div class=" custom_label col-form-label labelstyle" id="divDepartment">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                            <div class="col-xl-12">
                                <label class=" custom_label col-form-label float-left">Type of Action</label>
                                <div class="  custom_label col-form-label labelstyle" id="divTypeOfAction">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 editModalBody content_bg grid_assgin_nav float-left  padding-none">
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                            <div class="col-xl-12">
                                <label class=" custom_label col-form-label float-left">Responsible Person</label>
                                <div class="labelstyle custom_label col-form-label" id="divResponsiblePerson">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                            <div class="col-xl-12">
                                <label class="custom_label col-form-label float-left">QA Reviewer</label>
                                <div class=" labelstyle custom_label col-form-label" id="divQAReviewer">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                            <div class="col-xl-12">
                                <label class="ccustom_label col-form-label float-left">Target Date</label>
                                <div class=" labelstyle custom_label col-form-label" id="divTargetDate">
                                </div>
                            </div>
                        </div>

                    </div>
                  </div>
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                        <label class=" custom_label col-form-label">Description</label>
                        <div class="labelBorder" style="cursor: not-allowed;">
                            <span id="spanCAPADescription">
                            </span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<script>
    function GetCAPADetials(CapaID) {
        ShowPleaseWait('show');
        $.ajax({
            type: "GET",
            url: "@Url.Content("~/QMS/Capa/CAPAEventsDetails")",
            data: { CapaID: CapaID},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (Jsonresult) {
                ShowPleaseWait('hide');
                if (Jsonresult.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else if (Jsonresult.hasError == true) {
                    custAlertMsg(Jsonresult.data, "error");
                }
                else {
                    $("#divQualityEventNumber").text(": " + Jsonresult.data.QualityEvent_Number);
                    $("#divDepartment").text(": " + Jsonresult.data.Department);
                    $("#divTypeOfAction").text(": " + Jsonresult.data.ActionPlanName);
                    $("#divResponsiblePerson").text(": " + Jsonresult.data.ResponsiblePersonName);
                    $("#divQAReviewer").text(": " + Jsonresult.data.QAReviewerName);
                    $("#divTargetDate").text(": " + Jsonresult.data.TargetDate);
                    $("#spanCAPADescription").text(Jsonresult.data.Capa_ActionDesc);
                }
            },
            failure: function (response) {
            },
            error: function (response) {
            }
        });
    }
    function CloseCAPAView() {
        $("#modalViewCAPADetails").modal('hide');
    }
</script>
