﻿@model QMS_BO.QMS_CAPABO.CapaModel
    <input type="hidden" id="hdnAuditEdit" value="0" />
<!--Create CAPA-->
<div id="myModalCreateCAPA" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="min-width:76%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><label class=" custom_label col-form-label" id="lblName"> </label></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">               
                <div id="divCapaBodyInModal"></div>
            </div>
        </div>
    </div>
</div>

<div id="divCapaBodyNotInModal">

<div id="divCapaMain">
    <div hidden="hidden">
        @Html.EditorFor(model => model.CAPAID, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus" } })
    </div>
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
        <div class="col-lg-6 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
            <label class=" custom_label col-form-label"> Quality Notification Number</label>
            @Html.EditorFor(Model => Model.QualityEvent_Number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

            @*@Html.EditorFor(model => model.QualityEvent_Number, new { htmlAttributes = new { @class = "form-control login_input_sign_up", @readonly = "readonly" } })*@
        </div>
        <div class="col-lg-6 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
            <label class=" custom_label col-form-label required"> Department</label>

            <div class="col-12 padding-none">
                @Html.DropDownList("CAPADeptID", Model.ddlDeptList as List<SelectListItem>
                          ,
                          htmlAttributes: new
                          {
                              id = "CapaDeptID",
                              @class = "col-lg-12 padding-none selectpicker1 drop_down",
                              @onchange = "CAPAFillResponsiblePerson(0);",
                         })
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
            <label class=" custom_label col-form-label required">Type of Action</label>
            @Html.DropDownList("CAPAActionPlan", Model.ddlActionplan as List<SelectListItem>
                      ,
                      htmlAttributes: new
                      {
                          id = "CAPAActionPlan",
                          @class = "col-lg-12 padding-none selectpicker1 drop_down",
                      })
        </div>
    </div>
    <div class="col-12 float-left padding-none">

        <div class="col-lg-6 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
            <label class=" custom_label col-form-label required"> Responsible Person</label>
            @Html.DropDownList("CAPAResponsiblePerson", Model.ddlResponsiblePerson as List<SelectListItem>
                       ,
                       htmlAttributes: new
                       {
                           id = "CAPAResponsiblePerson",
                           @class = "col-lg-12 padding-none selectpicker1 drop_down",
                           @onchange = "CAPAFillAssignToQA(0);",
                       })
        </div>
        <div class="col-lg-6 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
            <label class=" custom_label col-form-label required"> Assign to QA :</label>
            @Html.DropDownList("CAPAAssignedQA", Model.ddlQAEmployeeID as List<SelectListItem>
                    ,
                    htmlAttributes: new
                    {
                        id = "CAPAddlAsignedQA",
                        @class = "col-lg-12 padding-none selectpicker1 drop_down",
                    })
        </div>
        <div class="col-lg-6 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
            <label for="" class="custom_label  col-form-label required">Target Date</label>
            @Html.EditorFor(model => model.TargetDate, new { htmlAttributes = new { @id = "idCAPATarget", @class = "form-control datetimepicker", @autocomplete = "off" } })
        </div>
    </div>
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-4 col-4 float-left ">
        <label class=" custom_label col-form-label required">Description</label>
        @Html.TextAreaFor(model => model.Capa_ActionDesc, new { @id = "idCAPAcomment", @class = "form-control", @rows = "6", @autocomplete = "off", maxlength = 1000 })
    </div>

    <div class="col-12 ">
        
        <button type="button" class="btn btn-cancel_popup float-right top" onclick="CAPAClose();">Cancel</button>
        <button type="button" id="idSubmit"  class="btn btn-signup_popup float-right top" onclick="CAPASubmitAction()">Submit</button>
    </div>
</div>
</div>

<script>
    $(function () {
        $("#QualityEvent_Number").focus();
        if (@Model.QualityEvent_TypeID!=9) {
            $('#divCapaBodyInModal').html($('#divCapaBodyNotInModal').html());
            $('#divCapaBodyNotInModal').empty();
        }
    });
</script>

<!--END-->
<!-- #endregion -->
<script>
    $(document).ready(function () {
        $('.selectpicker1').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>
@*<script>
    function GetHODBasedOnDept() {
        //Bind Created HOD
        var DeptID = $('#CapaDeptID').val();
        $.ajax({
            url: '@Url.Content("~/QMS/Capa/AssignedHodDeptwise")',
            type: "Post",
            dataType: "JSON",
            data: { deptid: DeptID, QualityEventTypeID:@Model.QualityEvent_TypeID },
            success: function (JsonResult) {
                var numbers = JsonResult;
                var option = '';
                $("#ddlCAPAHOD").html(""); // clear before appending new list
                for (var i = 0; i < numbers.length; i++) {
                    $("#ddlCAPAHOD").append(
                        $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                }
                $('#ddlCAPAHOD').selectpicker('refresh');
            }
        });
    }
</script>*@
<!--bind Responsible person-->
<script>
    function CAPAFillResponsiblePerson(DefaultSelectedValue) {
        var DeptID = $('#CapaDeptID').val();
        $.ajax({
            url: '@Url.Content("~/QMS/Capa/FillEmployee")',
            type: "GET",
            dataType: "JSON",
            data: { DeptID: DeptID/*, HODEmpID: HODEmpID*/ },
            success: function (impList1) {
                var numbers = impList1;
                var option = '';
                $("#CAPAResponsiblePerson").html(""); // clear before appending new list
                for (var i = 0; i < numbers.length; i++) {
                    $("#CAPAResponsiblePerson").append(
                        $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                }
                $('#CAPAResponsiblePerson').selectpicker('refresh');
                $('#CAPAResponsiblePerson').selectpicker('val', [DefaultSelectedValue]);
               // CAPAFillAssignToQA();
            }
        });

    }
</script>
<!--End-->
<!--ddl Biding for QA Employee-->
<script>
    function CAPAFillAssignToQA(DefaultSelected,ResponsibleAudit=0) {
        var ResponsibleId = "";
        if (DefaultSelected != 0) {
            ResponsibleId = ResponsibleAudit;
        } else {
             ResponsibleId = $("#CAPAResponsiblePerson").val();
        }
        if (ResponsibleId != 0) {
            $.ajax({
                url: '@Url.Content("~/QMS/Capa/BindddlAssignedToQAInCAPA")',
                type: "GET",
                dataType: "JSON",
                data: { ResponsibleId: ResponsibleId ,QualityEventTypeId:@Model.QualityEvent_TypeID},
                success: function (impAssignedQAinCAPA) {
                    var numbers = impAssignedQAinCAPA;
                    var option = '';
                    $("#CAPAddlAsignedQA").html(""); // clear before appending new list
                    for (var i = 0; i < numbers.length; i++) {
                        $("#CAPAddlAsignedQA").append(
                            $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                    }
                    $('#CAPAddlAsignedQA').selectpicker('refresh');
                    $('#CAPAddlAsignedQA').selectpicker('val', [DefaultSelected]);
                }
            });
        }
    }
</script>
<!-- #endregion -->
<script>
    $(document).ready(function () {
        $('#idCAPATarget').datetimepicker({
            format: 'DD MMM YYYY',
            minDate: moment().format('DD MMM YYYY'),
            useCurrent: false,
        });
    });
</script>
<!--Add ActionPlan-->
<script>
    function CAPASubmitAction() {
        errors = [];
        var CAPAID = @Model.CAPAID;
        var DepartmentID = $("#CapaDeptID").val().trim(); if (DepartmentID == 0) { errors.push("Select Department."); }
        var PlanofAction = $("#CAPAActionPlan").val(); if (PlanofAction == 0) { errors.push("Select Type of Action. "); }
        var ResponsibleEmpID = $("#CAPAResponsiblePerson").val(); if (ResponsibleEmpID == 0) { errors.push("Select Responsible Person."); }
        var AssignedQA = $("#CAPAddlAsignedQA").val(); if (AssignedQA == 0) { errors.push("Select Assign To QA.") }
        var TargetDate = $("#idCAPATarget").val().trim(); if (TargetDate == "") { errors.push("Enter Target Date."); }
        var Capa_ActionDesc = $("#idCAPAcomment").val().trim(); if (Capa_ActionDesc == "") { errors.push("Enter Description. "); }
        var QualityEvent_Number = $("#QualityEvent_Number").val().trim(); if (QualityEvent_Number == "") { errors.push("Enter Quality Notification Number. "); }
       

        if (DepartmentID != 0 && TargetDate != "" && Capa_ActionDesc != "" && ResponsibleEmpID != 0 && PlanofAction != 0 && AssignedQA != 0)
        {
            if (@Model.EventsBaseID==0)
            {
               
                if ($("#hdnAuditEdit").val() == 1)//Audit CAPA Edit
                {
                    UpdateEditedAuditCAPA(DepartmentID, ResponsibleEmpID, AssignedQA, PlanofAction, QualityEvent_Number, Capa_ActionDesc, TargetDate, $('#CapaDeptID option:selected').text(), $('#CAPAResponsiblePerson option:selected').text(), $('#CAPAddlAsignedQA option:selected').text(), $('#CAPAActionPlan option:selected').text());

                    custAlertMsg("CAPA Updated Successfully for Response.", "success");
                    return false;
                }
                else {
                    //Audit CAPA
                    AddCAPAtoHtmlTable(DepartmentID, ResponsibleEmpID, AssignedQA, PlanofAction, QualityEvent_Number, Capa_ActionDesc, TargetDate, $('#CapaDeptID option:selected').text(), $('#CAPAResponsiblePerson option:selected').text(), $('#CAPAddlAsignedQA option:selected').text(), $('#CAPAActionPlan option:selected').text());
                    custAlertMsg("CAPA Created Successfully for Response.", "success");
                    return false;
                }
            }
            else {
                ShowPleaseWait('show');
                var change = {
                    "DeptID": DepartmentID, "PlanofAction": PlanofAction, "TargetDate": TargetDate,
                    "QualityEvent_TypeID": @Model.QualityEvent_TypeID, "ResponsibleEmpID": ResponsibleEmpID, "Capa_ActionDesc": Capa_ActionDesc,
                    "QualityEvent_Number": QualityEvent_Number, "CapaQAEmpId": AssignedQA, "CAPAID": CAPAID, "CreatedBy": @Model.CreatedBy, "EventsBaseID":@Model.EventsBaseID,"AssessementUniqueID":@Model.AssessementUniqueID,
                };
                $.post("@Url.Content("~/QMS/Capa/CAPA_Submit")", change,
                    function (aiz) {
                        ShowPleaseWait('hide');
                        if (aiz.hasError == false) {
                            if (@Model.QualityEvent_TypeID== 4) {
                                if (@Model.CAPAID== 0) {
                                    errors.push("CAPA Created Successfully for Note to file No <span class='sucess_info_msg'>@Model.QualityEvent_Number</span>.");
                                } else {
                                    errors.push("CAPA Updated Successfully for Note to file No <span class='sucess_info_msg'>@Model.QualityEvent_Number</span>.");
                                }
                            }
                            else if (@Model.QualityEvent_TypeID== 1) {
                                if (@Model.CAPAID== 0) {
                                    errors.push("CAPA Created Successfully for Incident No <span class='sucess_info_msg'>@Model.QualityEvent_Number</span>.");
                                } else {
                                    errors.push("CAPA Updated Successfully for Incident No <span class='sucess_info_msg'>@Model.QualityEvent_Number</span>.");
                                }
                            }
                            else if (@Model.QualityEvent_TypeID== 2) {
                                if (@Model.CAPAID== 0) {
                                    errors.push("CAPA Created  Successfully for Change Control Note <span class='sucess_info_msg'>@Model.QualityEvent_Number</span>.");
                                } else {
                                    errors.push("CAPA Updated  Successfully for Change Control Note <span class='sucess_info_msg'>@Model.QualityEvent_Number</span>.");
                                }
                            } else if (@Model.QualityEvent_TypeID== 9) {
                                if (@Model.CAPAID== 0) {
                                    errors.push("CAPA Created Successfully for Response .");
                                } else {
                                    errors.push("CAPA Updated Successfully for Response .");
                                }
                            }
                            custAlertMsg(errors.join("<br/>"), "success", "ReloadCAPAGrid(@Model.QualityEvent_TypeID);");
                            return false;
                        } else {
                            errors.push(aiz.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                    }, 'json');
            }
        }else {
        custAlertMsg(errors.join("<br/>"), "error");
        return false;
    }
        }

    function ReloadCAPAGrid(QualityEvent) {
        if (QualityEvent == 2)//Change control
        {
            hideNtfColumns = [1,11];
        GetEventsCAPAList("@Model.EventsBaseID", 2, hideNtfColumns,@Model.AssessementUniqueID);//this method existing in Shared/QMS/_EventsCAPAList folder
        $("#myModalCreateCAPA").modal('hide');
        }
        else if (QualityEvent == 4)//NoteToFile
        {
            ReloadEventsCAPAList();//NTF_HODAction page.
            $("#myModalCreateCAPA").modal('hide');
        }
        else if (QualityEvent == 1)//Incident
        {
            IncidentCAPACalling();
            $("#myModalCreateCAPA").modal('hide');
        }
        else if (QualityEvent == 9)//Audit
        {
            ReloadEventsCAPAList();
            CAPAClear();
        }
        
    }
</script>
<script>
    function CAPAClose() {
        if (@Model.QualityEvent_TypeID==9) {
           
            if ($("#hdnAuditEdit").val() == 1)//Edit
            {
                UpdateAuditCAPACancel();
                $("#idSubmit").text("Submit");
            }
        } else {
            $("#myModalCreateCAPA").modal('hide');
        }
        CAPAClear();
    }
    function CAPAClear() {
         $("#CapaDeptID").val(@Model.DeptID);
         $("#CAPAActionPlan").val(0);
         $("#CAPAResponsiblePerson").val(0); 
        $("#idCAPATarget").val('');
         $("#idCAPAcomment").val('');
         $("#CAPAddlAsignedQA").val(0)
         $('.selectpicker1').selectpicker('refresh');
         $("#hdnAuditEdit").val(0);
         CAPAFillResponsiblePerson(0);
         
    }
    function CAPADisabled() {
        $("#idSubmit").hide();
        $("#CapaDeptID").prop('disabled', true).css("color", "disabled");
        $("#CAPAActionPlan").prop('disabled', true).css("color", "disabled");
        $("#idCAPAcomment").prop('disabled', true).css("color", "disabled");
        $("#CAPAddlAsignedQA").prop('disabled', true).css("color", "disabled");
        $("#CAPAResponsiblePerson").prop('disabled', true).css("color", "disabled");
        $("#idCAPATarget").prop('disabled', true).css("color", "disabled");
    }
</script>
<script>
    function AuditEditCAPA(DeptID, ResponsiblePersionID, AssignedToQAID, PlanOfActionID, Description, TargetDate)
    {
        $("#hdnAuditEdit").val(1);//Audit CAPA Edit
        $('#CapaDeptID').selectpicker('val', [DeptID]);
        CAPAFillResponsiblePerson(ResponsiblePersionID);
        $('#CAPAResponsiblePerson').selectpicker('val', [ResponsiblePersionID]);
        $('#CAPAActionPlan').selectpicker('val', [PlanOfActionID]);

        $("#idCAPAcomment").val(Description);
        $("#idCAPATarget").val(TargetDate);
        $("#idSubmit").text("Update");

        CAPAFillAssignToQA(AssignedToQAID, ResponsiblePersionID);
        $('#CAPAddlAsignedQA').selectpicker('val', [AssignedToQAID]);
       
       
    }
</script>
<!-- #endregion -->