﻿<input type="hidden" id="hdnCAPACount" value="0" />

<div class="col-12 float-left padding-none">
    <table class="ActionGridDt table datatable_cust table-striped table-bordered  no-footer breakword " cellspacing="0" table-layout="fixed" style="width:100%;">
        <thead>
            <tr>
                <th>S.No</th>
                <th>CAPA Number</th>
                <th>Type of Action</th>
                <th>Department</th>
                <th>Responsible Person</th>
                <th>Target Date</th>
                <th>Status</th>
                <th>CAPAID</th>
                <th>QA Reviewer</th>
                <th>Edit</th>
                <th>Remove</th>
                <th>View</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    var EventsOTable
    function GetEventsCAPAList(BaseID, QualityTypeEventID, hideNtfColumns, AssessmentID) {
        if (EventsOTable != null) {
            EventsOTable.destroy();
        }
            $('.ActionGridDt').wrap('<div class="dataTables_scroll" />');
            EventsOTable = $('.ActionGridDt').DataTable({
                columns: [
                    { 'data': 'RowNumber' }, //0
                    { 'data': 'CAPA_Number' },//1
                    { 'data': 'ActionPlanName' },//2
                    { 'data': 'Department' }, //3
                    { 'data': 'EmployeeName' }, //4
                    { 'data': 'TargetDate', type: 'dd-mmm-yyyy' }, //5
                    { 'data': 'CurrentStatus' },//6
                    { 'data': 'CAPAID' },//7
                    { 'data': 'Assigned_QA' },//8
                    {
                        "mData": null,   //9 Edit
                        "bSortable": false,
                        "mRender": function (o) { return '<a class="Edit" title="Edit"  href="#" id="btnCapaEdit"   onclick=EditCapaNoteToFile(this,' + o.CAPAID + ',' + QualityTypeEventID+')></a>'; }
                    },
                    {
                        "mData": null,   // 10 Delete
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="delete delete-prompt"  href="#" title="Remove"   onclick=DeleteEventsCAPARecords(' + o.CAPAID + ',' + o.QualityEvent_TypeID + ',' + o.EventsBaseID + ',\'' + o.QualityEvent_Number + '\')></a>';
                        }
                    },
                    {
                        "mData": null,   //11 View
                        "bSortable": false,
                        "mRender": function (o) { return '<a class="view"  href="#"  Title="View" onclick=EventsCAPAView(this,' + o.CAPAID + ',' + QualityTypeEventID + ')></a>'; }
                    },

                ],
                "scrollY": "335px",
                "paging": true,
                "bDestroy": true,
                "order": [7, "desc"],
                "lengthMenu": [[05, 10, 15, 100], [05, 10, 15, 100]],
                "aoColumnDefs": [{ "targets": hideNtfColumns, "visible": false, "searchable": false }, { className: "textAlignCenter", "targets": [0,9,10,11] },
                    { "orderable": false, "targets": [0] },
                    {
                    "targets": [7],
                    "visible": false
                    },

                ],
                'bAutoWidth': true,
                "sAjaxSource": "@Url.Content("~/QMS/Capa/QualityEvents_CapaList")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push({ "name": "EventsBaseID", "value": (BaseID) }, { "name": "QualityEventTypeID", "value": QualityTypeEventID },
                    { "name": "AssessmentID", "value": (AssessmentID) });
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else{
                                if (result.hasError == true) {
                                    custAlertMsg(result.data, "error", "ReloadDashboard();");
                                }
                                else {
                                    if (result.NoOfCAPACount == 0 && QualityTypeEventID == 9 && BaseID != 0) {
                                        if ($("#hdnIsResponseViewMode").val()=="No") {
                                            makeIsCapaRequiredddlEnabled(); //for Audit CAPA
                                        }
                                    }
                                    else if (result.NoOfCAPACount > 0 && QualityTypeEventID == 9 && BaseID != 0) {
                                        if ($("#hdnIsResponseViewMode").val() == "No") {
                                            makeIsCapaRequiredddlDisable();//for Audit CAPA
                                        }
                                    }
                                    fnCallback(result);

                                    $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                }
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        }


</script>
<script>
    function EditCapaNoteToFile(cntrl, CAPAID, TypeID) {
        var AssessmentID = $("#hdnAssessmentID").val();
            $("#CAPADivLoad").empty();
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#CAPADivLoad").load("@Url.Content("~/QMS/Capa/_CAPACreation")?QaulityEventTypeID=" + TypeID + "&&CAPAID=" + CAPAID + "&&AssessmentID=" + AssessmentID, function () {
                ShowPleaseWait('hide');
                $("#lblName").text("Edit CAPA").css("color", "white");
                if (TypeID != 9) {
                    $('#myModalCreateCAPA').modal('show');
                }
                $("#idSubmit").text("Update");
                $(cntrl).attr("onclick", "EditCapaNoteToFile(this," + CAPAID + "," + TypeID + ")").unbind("click");
            });
    }
    @*function EventsCAPAView(cntrl, CAPAID, TypeID) {
        $("#CAPADivLoad").empty();
            $(cntrl).attr("onclick", "").unbind("click");
            $("#CAPADivLoad").load("@Url.Content("~/QMS/Capa/_CAPACreation")?QaulityEventTypeID=" + TypeID + "&&CAPAID=" + CAPAID +"&&Status=" + 1, function () {
                $("#lblName").text("View CAPA").css("color", "white");
                if (TypeID != 9) {
                    $('#myModalCreateCAPA').modal('show');
                }
                CAPADisabled();//
                $(cntrl).attr("onclick", "EventsCAPAView(this," + CAPAID + "," + TypeID + ")").unbind("click");
            });
    }*@
    var CAPAID = 0, QualityID = "", QualityEvent_Number = "",EventBaseID=0;
    function DeleteEventsCAPARecords(capaID, QulaityTypeID,BaseID,QualityEventNumber) {
        CAPAID = capaID;
        QualityID = QulaityTypeID;
        QualityEvent_Number = QualityEventNumber;
        EventBaseID = BaseID;
        custAlertMsg("Are you sure you want to Remove this CAPA?", "confirm", "RemovedEventsCapaRecord();");
    }
    function RemovedEventsCapaRecord()
    {
     errors = [];
     if (CAPAID != '') {
         ShowPleaseWait("show");
                $.ajax({
                    url: '@Url.Content("~/QMS/Capa/DeleteCAPARecordsActionPlan")',
                    data: {
                        'id': CAPAID, 'QualityEventID': QualityID, 'ActionFileNo': QualityEvent_Number, 'BaseID': EventBaseID
                    },
                    type: 'Post',
                    success: function (JsonRsult) {
                        ShowPleaseWait("hide");
                        if (JsonRsult.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (JsonRsult.hasError==false)
                            {
                                if (QualityID=="2"){
                                    errors.push("CAPA Removed Successfully for Change Control Note Number <span class='sucess_info_msg'> "+QualityEvent_Number+"  </span> .");
                                }
                                if (QualityID=="4"){
                                    errors.push("CAPA Removed Successfully For Note to file Number <span class='sucess_info_msg'>"+QualityEvent_Number+"</span>.");
                                }
                                if (QualityID == "1") {
                                    errors.push("CAPA Removed Successfully For Incident Number <span class='sucess_info_msg'>"+QualityEvent_Number+"</span>.");
                                }
                                if (QualityID == "9") {
                                    errors.push("CAPA Removed Successfully For Response.");
                                }
                                custAlertMsg(errors.join("<br/>"), "success", "ReloadEventsCAPAList(QualityID);");
                                $('#ModalConfirm').modal('hide');
                            }
                            else {
                                custAlertMsg(ResultJson.data, "error", "ReloadEventsCAPAList(QualityID);");
                                return false;
                            }
                        }
                    }
                });
            }
    }


     function EventsCAPAView(cntrl, CAPAID, TypeID) {
        $("#CAPADivLoad").empty();
            $(cntrl).attr("onclick", "").unbind("click");
            GetCAPADetials(CAPAID);
            $("#modalViewCAPADetails").modal('show');
                $(cntrl).attr("onclick", "EventsCAPAView(this," + CAPAID + "," + TypeID + ")").unbind("click");
    }
</script>


