﻿

<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none">
    <table id="tblActionHistory" class="table datatable_cust table-striped table-bordered  no-footer breakword " style="width: 100%">
        <thead>
            <tr>
                <th>ActionHistoryID</th>
                <th>Action</th>
                <th>Role</th>
                <th>Target Date</th>
                <th>Action By</th>
                <th>Action Date</th>
                <th>Comments</th>
                <th>Assigned To</th>
            </tr>
        </thead>
    </table>
</div>
<script>
   
    function LoadGetHistory(EventID, hdncolumns, EventType)
    {
            $('#tblActionHistory').wrap('<div class="dataTables_scroll" />');
            var oTable9 = $('#tblActionHistory').DataTable({
                columns: [
                    { 'data': 'ActionHistoryID' },
                    { 'data': 'ActionStatus' },
                    { 'data': 'ActionRole' },
                    { 'data': 'TargetDate' },
                    { 'data': 'ActionBy' },
                    { 'data': 'ActionDate' },
                     {

                         "mData": null,
                         "bSortable": false,
                         "mRender": function (o) {
                             if (o.CommLength == 1)
                             {
                                 return '<td> <div class="more">'+o.Comments+'</div></td>';
                             }
                             else
                             {
                                 return o.Comments;
                             }
                         }
                     },
                    //{ 'data': 'Comments' },
                    {'data': 'AssignTo'}
                ],
                "bDestroy": true,
                "bFilter": false,
                "binfo": false,
                "aoColumnDefs": [{ "targets": hdncolumns, "visible": false, "searchable": false },{ "width": "25%", "targets": [5] },{ "orderable": false, "targets": [1,2,3,4,5,6,7] }],
                "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
                "sAjaxSource": "@Url.Content("~/QMS/Capa/GetQMSEventsHistoryList")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push(
                        { "name": "EventID", "value": EventID },
                        { "name": "EventTypeID", "value": EventType });
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else{
                                if (result.hasError==true) {
                                    custAlertMsg(result.msg, "error");
                                } else {
                                    fnCallback(result);
                                    ShowMorefun();
                                    //$(".tblActionHistoryClass").css({ "width": "100%" });
                                    //$(".dataTables_filter").css({ "display": "none" });
                                }
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });

                }
            });
        }
</script>
<script>
    //$(document).ready(function () {
    function ShowMorefun(){
        var showChar = 150;
        var ellipsestext = "...";
        var moretext = "Show more";
        var lesstext = "Show less";
        $('.more').each(function () {
            var content = $(this).html().trim();

            if (content.length > showChar) {

                var c = content.substr(0, showChar);
                var h = content.substr(showChar , content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext + '</span><span class="morecontent"><span>' + h + '</span><a href="" class="morelink">' + moretext + '</a></span>';

                $(this).html(html);
            }
        });
        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            }
            else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    }
</script>
