﻿<div id='divBindEventsPartialViews'></div>
<script>
    function ViewQualityEventDetails(cntrl, QualityID, ID) {
            var UniqueID;
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            
            if (QualityID == "2")//Change Control
            {
                $("#divBindEventsPartialViews").load("@Url.Content("~/QMS/ChangeControl/CCNDetails")?id=" + ID, function () {
                    $("#container").find("*").prop("disabled", true);
                    $('#myModalCCNViewDetails').modal('show');
                    ShowPleaseWait('hide');
                    $(cntrl).attr("onclick", "ViewQualityEventDetails(this," + QualityID + "," + ID + ")").unbind("click");
                });
            }
            //NoteToFile
            if (QualityID == "4") {
                $("#divBindEventsPartialViews").load("@Url.Content("~/QMS/NoteToFile/Details")?id=" + ID, function () {
                    $('#myModalNTFDetails').modal('show');
                    $("#dvinitiatorComments").hide();
                    $("#dvddlHoddropdown").hide();
                    $("#submit_Btn").hide();
                    $("#dvddlHide").find("*").prop("disabled", true);
                    $("#NTF_Description").prop("disabled", true);
                    $("#btnCloseNTF").hide();
                    $("#lblNTFName").text("Note to File Details ").css("color", "white");
                    ShowPleaseWait('hide');
                    $(cntrl).attr("onclick", "ViewQualityEventDetails(this," + QualityID + "," + ID + ")").unbind("click");
                });
            }
            //Incident
            if (QualityID == "1") {

                $("#divBindEventsPartialViews").load("/QMS/Incident/IncidentPreviousLoadPV?IncidentMasterID=" + ID, function () {
                    $("#divInitiatorComments").hide();
                    $('#MyModalViewIncident').modal('show');
                    $("#dvddlHod").hide();
                    $("#btnViewClose").hide();
                    ShowPleaseWait('hide');
                    $(cntrl).attr("onclick", "ViewQualityEventDetails(this," + QualityID + "," + ID + ")").unbind("click");

                });
            }
            //audit
            if (QualityID == "9") {
                $("#divBindEventsPartialViews").load("@Url.Content("~/QMS/Capa/_GetAuditView")?ResponseID=" + ID, function () {
                    $('#modalViewCAPAAuditDetails').modal('show');
                    ShowPleaseWait('hide');
                    $(cntrl).attr("onclick", "ViewQualityEventDetails(this," + QualityID + "," + ID + ")").unbind("click");
                });
            }
        //Errata
            if (QualityID == "3") {
                $("#divBindEventsPartialViews").load("@Url.Content("~/QMS/Errata/_ErrataDetailsView")?id=" + ID + "&&Number=" + 4, function () {
                    $('#myModalCCNViewDetails').modal('show');
                    ShowPleaseWait('hide');
                    $("#Erratacontainer").find("*").prop("disabled", true);
                    $(cntrl).attr("onclick", "ViewQualityEventDetails(this," + QualityID +  "," + ID + ")").unbind("click");
                });
            }
        }
</script>
