﻿<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">
    <div id="dvFileUploadList" style="display:none" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">
        <table id="tblFileUploadList" class="table datatable_cust table-striped table-bordered tblCCNInitiateFileUploadListClass">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>UniqueID</th>
                    <th>File Name</th>
                    <th>File Type</th>
                    <th>View</th>
                    <th>Remove</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!--CCN HOD Assess Fill View -->
<div id="MyModelCCNInitiatorFileView" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="min-width:77%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">View File</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body fileModalpopup-Scroll">
                <div class="embed-responsive embed-responsive-16by9" id="dvfileframeInitator">

                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Create Fill Upload List-->
<script>

        var oCCNInitiatorFileuploadList;
    function LoadQMSFileUploadList(hidenColumns, EventID, Status,AssessmentID=0)
    {
            $('#tblCCNInitiateFileUploadList').wrap('<div class="dataTables_scroll" />');
            var oCCNInitiatorFileuploadList = $('#tblCCNInitiateFileUploadList').DataTable({
                columns: [
                    { 'data': 'RowNumberHodAss' }, //0
                    { 'data': 'CCNHodFileUniqueID' },//1
                    { 'data': 'FileNameHod' },//2
                    { 'data': 'FileTypeHod' },//3
                    {
                        "mData": null,       //4 View
                        "bSortable": false,
                        "mRender": function (o) {
                            { return '<a class="view" onclick=ToViewCCInitiatorNDocuments(this,' + o.CCNHodFileUniqueID + ')>' + '' + '</a>'; }
                        }
                    },
                    {


                        "mData": null,       //5 Delete
                        "bSortable": false,
                        "mRender": function (o) {
                            { return '<a class="delete" onclick="DeletedCCNInitiatorFileUploadDocuments(' + o.CCNHodFileUniqueID + ',\'' + o.FileNameHod + '\' )"></a>'; }
                        }
                    },
                ],
                "scrollY": "250px",
                "order":[1,"desc"],
                "paging": false,
                "bDestroy": true,
                "lengthMenu": [[10, 15, 20, 100], [10, 15, 20, "All"]],
                "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] }, { className: "textAlignCenter", "targets": [0] }, { "targets": hidenColumns, "visible": false },
                { "orderable": false, "targets": [0] }],
                'bAutoWidth': true,
                "sAjaxSource": "@Url.Content("~/QMS/ChangeControl/GetFileUploadList")",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    aoData.push(
                        { "name": "Status", "value": Status },
                        { "name": "EventUniqueID", "value": EventID },
                        { "name": "AssessID", "value": AssessmentID},
                        );
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) {
                                window.location.href = '/UserLogin.aspx';
                            } else{
                                if (result.hasError == true) {
                                    custAlertMsg(result.data, "error", "ReloadDashboard();");
                                }
                                else {
                                    fnCallback(result);
                                    $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                    $(".tblCCNInitiateFileUploadListClass").css({ "width": "100%" });
                                    $(".dataTables_filter").css({ "display": "none" });
                                }
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        }
</script>
<!--Files View Function-->
<script>
    function ToViewCCInitiatorNDocuments(cntrl, FileID) {
        $(cntrl).attr("onclick", "").unbind("click");
        var dvShow = document.getElementById("dvfileframeInitator");
        dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=7&FID=" + FileID + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
        $("#MyModelCCNInitiatorFileView").modal('show');
        $(cntrl).attr("onclick", "ToViewCCInitiatorNDocuments(this," + FileID + ")").unbind("click");
    }
</script>

<!--Delete Files-->
<script>
    var Uniqueid = 0;
    var FileName;
    var Status = "Initiator";
    function DeletedCCNInitiatorFileUploadDocuments(ID, File_Name) {
        FileName = File_Name;
        Uniqueid = ID;
        custAlertMsg("Are you sure you want to Remove this record?", "confirm", "funDeletedCCNInitiatorFileUploadDocuments();")
    }
    function funDeletedCCNInitiatorFileUploadDocuments() {
        if (Uniqueid != '') {
            $.ajax({
                url: '/QMS/ChangeControl/DeletedCCNFileUploadDocuments',
                data: { 'UniquePKID': Uniqueid, 'RoleType': Status },
                type: 'Post',
                success: function (ResultJson) {

                    if (ResultJson.hasError == false) {
                        custAlertMsg("File " + FileName + "  Removed Successfully.", "success", "ReloadtblCCNInitiatorFileUploadList();");
                        $('#ModalConfirm').modal('hide');
                    }
                    else {
                        custAlertMsg(ResultJson.data, "error", "ReloadtblCCNInitiatorFileUploadList();");
                        return false;
                    }
                }
            });
        }
    }
    function ReloadtblCCNInitiatorFileUploadList() {
        LoadCCNInitiatorFileUploadList();
    }
</script>

<!-- #endregion -->
@*<script>
    if(@ViewBag.CCNInitiatorFileExistorNot!=0){
        if(@TempData["R"].ToString()== 2||@TempData["R"].ToString()== 'CreateCCN'){
            $("#divtblCCNInitiatorFileUploadList").show();
            LoadCCNInitiatorFileUploadList();
        }
    }
    else{
        $("#InitatorFileTab").hide();
    }
</script>*@
