﻿<style type="text/css">
    a {
        color: #0254EB
    }

        /*a:visited {
            color: #0254EB
        }*/

        a.morelink {
            text-decoration: none;
            outline: none;
        }

    .morecontent span {
        display: none;
    }
</style>
<div id='OpenDilog1'></div>
<div id="myModalTransHistory" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="max-width:80%">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">@ViewBag.TitleName Transactions (@ViewBag.HistoryTitleCapa) </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <input type="hidden" id="HistoryData" name="selectedTraining" />
            </div>
            <div class="modal-body">
                <table id="tblQMSEventsHistory" class="table datatable_cust table-striped breakword table-bordered dataTable no-footer tblQMSEventsHistoryClass" style="width: 100%">
                    <thead>
                        <tr>
                            <th>ActionHistoryID</th>
                            <th>Action</th>
                            <th>Role</th>
                            <th>Target Date</th>
                            <th>Action By</th>
                            <th>Action Date</th>
                            <th>Comments</th>
                            <th>Assigned To</th>
                            <th>Submitted Data</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function LoadQMSEventsHistory(ID, hdncolumns,EventType,IncidentTTS=0)
    {
        $('#tblQMSEventsHistory').wrap('<div class="dataTables_scroll" />');
        var oTable9 = $('#tblQMSEventsHistory').DataTable({
                columns: [
                    { 'data': 'ActionHistoryID' },
                    { 'data': 'ActionStatus' },
                    { 'data': 'ActionRole' },
                    { 'data': 'TargetDate' },
                    { 'data': 'ActionBy' },
                    { 'data': 'ActionDate' },
                    {

                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                                return '<td> <div class="more">'+o.Comments+'</div></td>';
                        }
                    },
                    { 'data': 'AssignTo' },
                    { 'data': 'SubmittedData'}
                ],

                "bFilter": false,
            "binfo": false,
            "scrollY": "42vh",
            "scrollCollapse": true,
                "bDestroy": true,
                "aoColumnDefs": [{ "targets": hdncolumns, "visible": false, "searchable": false }, { "orderable": false, "targets": [1,2,3,4,5,6,7,8] },
                ],
                "sAjaxSource": "@Url.Content("~/QMS/Capa/GetQMSEventsHistoryList")",
                //"sAjaxSource": AizantIT_WebAPI_URL + "/api/QmsService/GetNotefileListData",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push(
                        { "name": "EventID", "value": ID }, { "name": "TMS_TTSID", "value": IncidentTTS }, { "name": "EventTypeID", "value": EventType },
                   );
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgType == "error") {
                                custAlertMsg(result.msg, "error");

                            } else {
                                fnCallback(result);
                                ShowMorefun();
                                $(".tblQMSEventsHistoryClass").css({ "width": "100%" });

                                //$(".dataTables_filter").css({ "display": "none" });
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });

                }
            });

        }

</script>
<script>
    function TransactionHistoryComments(HstID) {
        var div = $("#OpenDilog1");
        div.load("@Url.Content("~/QMS/Capa/GetHistorInPopupByPartialView")?HstID=" + HstID, function () {
            $('#TransHistortyComments').modal('show');
        });
    }
</script>
<script>

</script>
<script>
    //$(document).ready(function () {
    function ShowMorefun(){
        var showChar = 150;
        var ellipsestext = "...";
        var moretext = "Show more";
        var lesstext = "Show less";
        $('.more').each(function () {
            var content = $(this).html().trim();

            if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                $(this).html(html);
            }
        });
        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            }
            else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    }
</script>


