﻿@model Aizant_API_Entities.AizantIT_ImpactPoints

@using (Html.BeginForm())
{
    <div id="myModalImpactpointsCreate" class="modal department fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModal-label">Create Impact Point </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style=" ">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            @Html.Label("Impact Point ", htmlAttributes: new { @class = "custom_label col-form-label required" })
                            <div class="col-12 padding-none">
                                @Html.EditorFor(model => model.Impact_Description, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @maxlength = 150 } })
                                @Html.ValidationMessageFor(model => model.Impact_Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none " id="divTypeStatus">
                            @Html.Label("Status", htmlAttributes: new { @class = "custom_label col-form-label" })
                            <div class="col-12 padding-none">
                                @Html.DropDownListFor(model => model.Currentstatus, new SelectList(new[]
                                 { new { Value = "true", Text = "Active" },new { Value = "false", Text = "In-Active" },}, "Value", "Text", Model), new { @class = "selectpicker drop_down col-12 padding-none" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Create" class="btn-signup_popup" id="Submit" onclick="AddImpactPoint()" />
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>

                </div>
            </div>
        </div>
    </div>
}
    <script>
        function Reload() {
            window.location.reload();
    }
    function AddImpactPoint() {
        errors = [];
        var Impact_Description = $("#Impact_Description").val().trim().replace(/  +/g, ' ');
        var Currentstatus = $("#Currentstatus").val();
        if (Impact_Description != "") {
            var block = {
                "Impact_Description": Impact_Description, "Currentstatus": Currentstatus,
            };
            ShowPleaseWait('show');
            $.post('@Url.Content("~/QMS/ImpactPoints/Create")', block,
                function (aiz) {
                    ShowPleaseWait('hide');
                    if (aiz.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (aiz.hasError == true) {
                            errors.push(aiz.data);
                            custAlertMsg(errors.join("<br/>"), "error");

                            return false;
                        }
                        else {

                            if (aiz) {
                                errors.push("Impact Point Created Successfully.");
                                custAlertMsg(errors.join("<br/>"), "success", "Reload();");
                                return false;

                            } else {
                                errors.push(" Impact Point Already Exists.");
                                custAlertMsg(errors.join("<br/>"), "error");
                                return false;
                            }
                        }
                    }
                }, 'json');
        } else {
            errors.push("Enter Impact Point.");
            custAlertMsg(errors.join("<br/>"), "error");

            return false;
        }
        }
        $('#Impact_Description').keypress(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });
    </script>
    <script>
        $(function () {
            $(".selectpicker").selectpicker();
        });
    </script>

