﻿@model Aizant_API_Entities.AizantIT_ImpactPoints

@using (Html.BeginForm())
{<div id="mymodelImpactEdit" class="modal department fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModal-label">Edit Impact Point</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 padding-none" style="float:none !important;">
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Imp_Desc_ID)

                            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                                @Html.Label("Impact Point", htmlAttributes: new { @class = "custom_label col-form-label required" })
                                <div class="col-12 padding-none">
                                    @Html.EditorFor(model => model.Impact_Description, new { htmlAttributes = new { @class = "form-control", @maxlength = 150 } })
                                    @Html.ValidationMessageFor(model => model.Impact_Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                                @Html.Label("Status", htmlAttributes: new { @class = "custom_label col-form-label" })
                                <div class="col-12 padding-none">
                                    @Html.DropDownListFor(model => model.Currentstatus, new SelectList(new[]
{ new { Value = "true", Text = "Active" },new { Value = "false", Text = "In-Active" },}, "Value", "Text", Model), new { @class = "selectpicker drop_down col-12 padding-none" })
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left padding-none">
                                <label class=" custom_label col-form-label required"> Comments</label>
                                @Html.TextArea("comments", new { htmlAttributes = new { @class = "form-control ", @id = "txtComments", @rows = "3" }, maxlength = 500 })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Update" class="btn-signup_popup" onclick="EditImpactPoint()" />
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function Reload1() {
        $("#mymodelImpactEdit").modal('hide');
        $("#tblImpactPoints").DataTable().ajax.reload();
    }
    function Edits() {
        CutAlert();
        SaveEmployee1();
    }
    function EditImpactPoint() {
        errors = [];
        var Impact_Description = $("#Impact_Description").val().trim().replace(/  +/g, ' ');
        var Currentstatus = $("#Currentstatus").val();
        var Comments = $("#comments").val().trim();
        var Imp_Desc_ID = $("#Imp_Desc_ID").val();
        if (Impact_Description == "") {
            errors.push("Enter Impact Point.");
        }
        if (Comments == "") {
            errors.push("Enter Comments.");
        }
        if (Impact_Description != "" && Comments != "") {
            var Impact = {
                "Impact_Description": Impact_Description, "Currentstatus": Currentstatus, "Imp_Desc_ID": Imp_Desc_ID, "Comments": Comments,
            };
            ShowPleaseWait('show');
            $.post("@Url.Content("~/QMS/ImpactPoints/Edit")", Impact,
                function (aiz) {
                    ShowPleaseWait('hide');
                    if (aiz.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (aiz.hasError == true) {
                            errors.push(aiz.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                        else {
                            if (aiz != 0) {
                                errors.push("Impact Point Updated Successfully.");
                                custAlertMsg(errors.join("<br/>"), "success", "Reload1();");
                                return true;
                            } else {
                                errors.push("Impact Point Already Exists. ");
                                custAlertMsg(errors.join("<br/>"), "error");
                                return false;
                            }
                        }
                    }
                }, 'json');
        } else {
             custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    $('#Impact_Description').keypress(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
</script>

<script>
    $(function () {
        $(".selectpicker").selectpicker();
    });
</script>