﻿@model IEnumerable<Aizant_API_Entities.AizantIT_ImpactPoints>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<!--Exception Function-->
@if (ViewBag.Exception != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>

}
else
{

    <div class="col-lg-6 float-left padding-none">

        <!------buttons---------->
        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6 float-right padding-none">

            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none">
                <button class=" btn-signup_popup float-right" name="Add Capa" value="Add Capa" id="btndept" onclick="CreateImpact(this);">Create New </button>
                <div class="modal fade" id="bootstrapDialog" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true" data-url='@Url.Action("Create", "QMS_ImpactPoints")'></div>
                <div id='divBindPartialViews'></div>
                <div id='OpenDilogImpact'></div>
            </div>

        </div>
        <!------buttons---------->
    </div>

    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Impact Points List</div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="min-height:0px !important">

        <div id="body" class="col-lg-12 " style="overflow: auto;margin-top:10px">
            <table id="tblImpactPoints" class="table datatable_cust table-striped table-bordered dataTable no-footer " cellspacing="0" style="width: 100%" table-layout="fixed">
                <thead>
                    <tr>
                        <th>Impact Id</th>
                        <th>S.No</th>
                        <th>Impact Point  </th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>History</th>
                    </tr>
                </thead>
            </table>
        </div>


    </div>
    <script>
        var tbl = $('#tblImpactPoints').DataTable({
            columns: [
                { 'data': 'Imp_Desc_ID' },
                { 'data': 'RowNumber' },
                { 'data': 'Impact_Description' },
                { 'data': 'CurrentStatus' },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a class="Edit" title="Edit"  href="#"  onclick=EditQualityEvent(this,' + o.Imp_Desc_ID + ')>' + '' + '</a>';
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a class="View" title="History"  href="#" onclick=TransactionHistoryView(this,' + o.Imp_Desc_ID + ')>' + '' + '</a>';
                    }
                }
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }, { className: "textAlignCenter", "targets": [4, 5] }, { "orderable": false, "targets": [1]}
            ],
            "paging": true,
            sAjaxSource: "@Url.Content("~/QMS/ImpactPoints/GetImpactPontsList")",
            sServerMethod: 'post'
        });
        function Reloadtable() {
            tbl.ajax.reload();
            $('#myModalDesignation').modal('hide');
        }
    </script>
    <script>
        function TransactionHistoryView(cntrl, ImpDeptId) {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#divBindPartialViews").empty();
            $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/TransactionHistory")?id=" + ImpDeptId + "&&EventType=" + 502, function () {
                $('#myModalTransHistory').modal('show');
                $('#myModalTransHistory').on('shown.bs.modal', function (e) {
                    var hdnColumns = [0,3,7]
                    LoadQMSEventsHistory(ImpDeptId, hdnColumns,502);
                });
                ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "TransactionHistoryView(this," + ImpDeptId + ")").unbind("click");
            });
        }
        function CreateImpact(cntrl)
        {
            $(cntrl).attr("onclick", "").unbind("click");
            $("#OpenDilogImpact").empty();
            ShowPleaseWait('show');
            $("#OpenDilogImpact").load("@Url.Content("~/QMS/ImpactPoints/Create")",function () {
                $('#myModalImpactpointsCreate').modal('show');
                ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "CreateImpact(this)").unbind("click");
                });
        }
        function EditQualityEvent(cntrl,ImpDeptId) {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#OpenDilogImpact").empty();
            $("#OpenDilogImpact").load("@Url.Content("~/QMS/ImpactPoints/Edit")?id=" + ImpDeptId, function () {
                $('#mymodelImpactEdit').modal('show');
                ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "EditQualityEvent(this," + ImpDeptId + ")").unbind("click");
            });
        }
    </script>
}
<!--Exception Message -->
<script>
    function ExecptionMsg(){
        var Err = "@ViewBag.Exception";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
    }
</script>
