﻿
.tab_grid li a {
    border: 1px solid #fff;
    padding: 7px 26px;
    border-radius: 0px;
    color: #fffcfc;
    font-family: seguisb;
}
.tab_grid li a:hover {
    border: 1px solid #fff;
    padding: 7px 26px;
    border-radius: 0px;
    color: #0a9cb0;
    font-family: seguisb;
}
.btn-primary_radio {
    background: #fff;
    border: 1px solid #38b8ba;
    color: #38b8ba;
    font-family: seguisb;
    /*margin-bottom: 16px;*/
}

    .btn-primary_radio .active {
        background: #38b8ba;
        border: 1px solid #38b8ba;
        color: #fff;
        font-family: seguisb;
    }

        .btn-primary_radio.active.focus, .btn-primary_radio.active:focus, .btn-primary_radio.active:hover, .btn-primary_radio:active.focus, .btn-primary_radio:active:focus, .btn-primary_radio:active:hover, .open > .dropdown-toggle.btn-primary_radio.focus, .open > .dropdown-toggle.btn-primary_radio:focus, .open > .dropdown-toggle.btn-primary_radio:hover {
            color: #fff;
            background-color: #38b8ba;
            border-color: #38b8ba;
            font-family: seguisb;
        }

.add_depart {
    background: url(../../Images/add_icon.png) no-repeat;
    padding: 11px;
    top: 1px;
    background-size: 97%;
    width: 7%;
}

.check_status {
    color: #000;
    font-size: 12pt;
    font-family: seguisb;
    /*margin-top: -9px;*/
    text-align: center;
    cursor: pointer;
    /*padding: 6px 0px;*/
    margin-right: 30px;
    text-decoration: underline;
}

.btn.active, .btn:active {
    color: #fff;
    background-color: #0a9cb0;
    border-color: #0a9cb0;
    font-family: seguisb;
}

.grid_area {
    background: #fff;
    border: 1px solid #38b8ba;
    float: left;
    /*min-height: 654px;
    border-left: none;*/
    overflow: auto;
}

.tab_grid > li.active > a, .tab_grid > li.active > a:focus, .tab_grid > li.active > a:hover {
    color: #fff;
}

.label_panel {
    margin-top: 16px;
}

.tab_grid {
    border-bottom: 1px solid #d4d4d4;
}

.profile_bg {
    border: 4px solid #bfc5c6;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    float: left;
}

.upload-button {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    background: #38b8ba;
}

    .upload-button:hover {
        background: #38b8ba;
    }

    .upload-button:focus {
        background: #077280;
    }

.upload-button_input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.btn-signup {
    margin-left: 10px;
    background: #039db2;
    border: 1px solid #039db2;
    border-radius: 4px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #fff;
    margin-bottom: 10px;
    font-family: seguisb;
}

    .btn-signup:hover {
        margin-left: 10px;
        background: #039db2;
        border: 1px solid #039db2;
        border-radius: 4px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        margin-bottom: 10px;
        font-family: seguisb;
    }

.btn-cancel {
    margin-left: 10px;
    background: #484e4f;
    border: 1px solid #484e4f;
    border-radius: 4px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #fff;
    margin-bottom: 10px;
    font-family: seguisb;
}

    .btn-cancel:hover {
        margin-left: 10px;
        background: #484e4f;
        border: 1px solid #484e4f;
        border-radius: 4px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        margin-bottom: 10px;
        font-family: seguisb;
    }

/* btn-signup_popup {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #075f6b;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #075f6b;
    font-family: seguisb;
    margin-bottom: -1px;
}

    .btn-signup_popup:hover {
        margin-left: 4px;
        background: #075f6b;
        border: 1px solid #38abd1;
        border-radius: 0px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        font-family: seguisb;
    }*/

.btn-cancel_popup {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #f84545;
    border-radius: 4px;
    padding: 4px 22px;
    font-size: 10pt;
    color: #f84545;
    font-family: seguisb;
    margin-bottom: 10px;
}

    .btn-cancel_popup:hover {
        margin-left: 4px;
        background: #f84545;
        border: 1px solid #f84545;
        border-radius: 4px;
        padding: 4px 22px;
        font-size: 10pt;
        color: #fff;
        font-family: seguisb;
        margin-bottom: 10px;
    }

.department .modal-header {
    background: #38b8ba;
    color: #fff;
}

.pagination > li > a, .pagination > li > span {
    margin-left: 0px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #0d6d7a;
    font-family: seguisb;
    border-color: 1px solid #0d6d7a;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #dcfafe;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.even {
    background-color: #c0d4d7;
}

    table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
        background-color: #c0d4d7;
    }

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #dcfafe;
}

table.dataTable.display tbody td {
    text-align: center;
    color: #121111 !important;
    font-family: seguisb;
}

.close {
    color: #fff;
    opacity: 1;
}

.btn-signup_popup {
    margin-left: 5px;
    background: #fff;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 4px 22px;
    font-size: 10pt;
    color: #38b8ba;
    font-family: seguisb;
}

    .btn-signup_popup:hover {
        margin-left: 5px;
        background: #38b8ba;
        border: 1px solid #38abd1;
        border-radius: 4px;
        padding: 4px 22px;
        font-size: 10pt;
        color: #fff;
        font-family: seguisb;
    }




.roles_header_border {
    background: #fff;
    border: 1px solid #064a53;
    margin-bottom: 10px;
    min-height: 428px;
    max-height: 428px;
    overflow: auto;
}
.Panel_Assign {
    min-height: 450px;
    max-height: 450px;
    overflow: auto;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .roles_header_border {
        background: #fff;
        border: 1px solid #064a53;
        margin-bottom: 10px;
        min-height: 450px;
        max-height: 450px;
        overflow: auto;
    }
}

@media only screen and (min-device-width : 1200px) and (max-device-width : 1900px) {
}

.styled-select {
    overflow: hidden;
    padding: 5px;
}

    .styled-select select {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 29px;
        padding: 5px;
        width: 100%; /* If you add too much padding here, the options won't show in IE */
    }

.btn_assign {
    background: #fff;
    border: 1px solid #38b8ba;
    margin-left: 10px;
    float: left;
    margin-bottom: 10px;
}

textarea {
    max-width: 100%;
    max-height: 70px;
    margin-bottom: 10px;
    border: 1px solid #d4d4d4 !important;
}



.roles_header {
    background: #38b8ba;
    border: 1px solid #38b8ba;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-family: seguisb;
}

.selectedbox {
    border-radius: 2px;
    padding: 10px;
    float: left;
}


.check_button {
    border: none !important;
    background: none !important;
    text-decoration: underline;
    color: #38b8ba;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
   
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.blue {
    background: #ffffff;
    padding: 5px;
    border: 1px solid #b4b8b8;
    color: #067b8b;
}

    .blue select {
        color: #067b8b;
        padding: 5px;
    }

.password_wrong {
    background: url(../images/password.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    float: left;
}
table.fixedHeader-floating {
    position: fixed !important;
    background-color: white
}

    table.fixedHeader-floating.no-footer {
        border-bottom-width: 0
    }

table.fixedHeader-locked {
    position: absolute !important;
    background-color: white
}

@media print {
    table.fixedHeader-floating {
        display: none
    }
}

.lock {
    background-image: url('../../Images/GridActionImages/locked.png');
    padding: 3px 12px;
    top: 1px;
    text-align: center;
}

.unlock {
    background-image: url('../../Images/GridActionImages/unclock.png');
    padding: 3px 12px;
    top: 1px;
    text-align: center;
}

.Password {
    background-image: url('../../Images/GridActionImages/password.png');
    padding: 3px 12px;
    top: 1px;
    text-align: center;
}

.Assign_Role {
    background-image: url('../../Images/GridActionImages/assign_roles.png');
    padding: 3px 12px;
    top: 1px;
    text-align: center;
}

.Assigned_Role {
    background-image: url('../../Images/GridActionImages/assgined_roles.png');
    padding: 3px 12px;
    top: 1px;
    text-align: center;
}

.Edit {
    background-image: url('../../Images/GridActionImages/edit.png');
    padding: 3px 12px;
    top: 1px;
    text-align: center;
}
.header_profile {
    background: #38b8ba;
    padding: 10px;
    color: #fff;
    font-size: 12pt;
    font-family: seguisb;
}
.doc_grid tr td {
    font-family: seguisb;
    font-size:10pt;
}
/*------UMS DashBoard -----------*/
.dashboard_panel_1 {
    background: #20a8d8;
    padding: 14px 14px;
    /* height: 165px; */
    border-radius: 8px;
}

.dashboard_panel_2 {
    background: #f86c6b;
    padding: 17px 14px;
    /* height: 165px; */
    border-radius: 8px;
}

.dashboard_panel_3 {
    background: #18cdad;
    padding: 18px 14px;
    /* height: 165px; */
    border-radius: 8px;
}
.dashboard_panel_4 {
    background: #666666;
    padding: 18px 14px;
    height: 150px; 
    border-radius: 8px;
}

.dashboard_panel_header {
    color: #fff;
    font-size: 12pt;
    font-family: seguisb;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.dashboard_panel_value {
    text-align: center;
}

    .dashboard_panel_value a {
        color: #0a394a;
        font-size: 22pt;
        font-family: seguisb;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: #fff;
    }

.dashboard_panel_full {
    border: 1px solid #38b8ba;
    margin-top: 10px;
}

.dashboard_ums_chart {
    width: 400px;
    height: 400px;
}



@media screen and (max-width: 1366px) {
    

    .roles_header_border {
        background: #fff;
        border: 1px solid #064a53;
        margin-bottom: 10px;
        min-height: 350px;
        max-height: 350px;
        overflow: auto;
    }
}
.test.dataTable.stripe tbody tr.odd, .test.dataTable.display tbody tr.even {
    background: #fff ;
}
/*----Newdsboard-------*/
.outer_dashboard {
    border-radius: 4px;
    border: 2px solid #c0e0e6;
    /*height: 98px;*/
    padding: 2px 12px;
    margin-bottom: 10px;
}

    .outer_dashboard:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.outerbg_dashboard1 {
    background: #20a8d8;
}
.outerbg_dashboard2 {
    background: #f86c6b;
}
.outerbg_dashboard3 {
    background: #18cdad;
}
.outerbg_dashboard4 {
    background: #666666;
}
   

.top {
    margin-top: 10px;
}

.link_dashboard a {
    color: #fff;
    font-family: seguisb;
    font-size: 15pt;
    float: right;
    padding: 14px;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fade-in.one {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .fade-in.two {
        -webkit-animation-delay: 0.5s;
        -moz-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }
    .fade-in.three {
        -webkit-animation-delay: 0.7s;
        -moz-animation-delay: 0.7s;
        animation-delay: 0.7s;
    }
    .fade-in.four {
        -webkit-animation-delay: 0.9s;
        -moz-animation-delay: 0.9s;
        animation-delay: 0.9s;
    }
.chart_style {
    height: 400px;
    width: 901px;
}
.panelList.active {
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba;
    width: 100% !important;
    color: #fff !important;
}

.panelList:hover {
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba;
    width: 100% !important;
    color: #fff !important;
}
.panel_ums {
    float:left;
    width:100%;
}
.panel-group .panel + .panel {
    margin-top: 0px;
}
.summary_latest {
    background: url(../../Images/GridActionImages/summary_latest.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
}
.dashboard_panel_header {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #38b8ba;
    color: #418e8f;
    background: #cdedee;
    font-family: seguisb;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 5px 12px;
    margin-left: 1px !important;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #0d6d7a !important;
    border: 1px solid #0d6d7a;
    border-radius: 2px;
    font-family: seguisb;
}
.modal-title, .modal-header {
    text-transform: capitalize;
}

.capitalize {
    text-transform: capitalize;
}