﻿<style>
    .embed-responsive-16by9::before {
        padding-top: 34.25% !important;
    }  
    .embed-responsive {
        min-height: 657px !important;
    }
</style>

<div id="modalViewAttachments" data-backdrop="static" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" style="min-width:90%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">Attachments View</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9" id="dvAttachmentFrame">
                </div>
            </div>
        </div>
    </div>
</div>