﻿<table id="tblDeficiencyAttachments" class="table datatable_cust table-striped table-bordered  no-footer" style="width: 100%">
    <thead>
        <tr>
            <th>Attachment ID</th>
            <th>File Name</th>
            <th>Extension</th>
            <th>Date</th>
            <th>View</th>
            <th>Remove</th>
        </tr>
    </thead>
</table>

<script>
    //To load the Attachment to this pop up
    function ViewAttachments(AttachmentID) {
        var dvShow = document.getElementById("dvAttachmentFrame");
        dvShow.innerHTML = "<iframe class='embed-responsive-item' src='@Url.Content("~/Areas/Regulatory/RA_AttachmentViewer/DeficiencyAttachmentViewer.aspx")?AttachmentID=" + AttachmentID + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
        $("#modalViewAttachments").modal('show', { backdrop: 'static', keyboard: false });
    }
</script>

<script>
    var oDeficiencyAttachments=null;
    var ColumnHide = [];
    function loadDefAttachments()
    {
        if ($.fn.DataTable.isDataTable("#tblDeficiencyAttachments")) {
            $('#tblDeficiencyAttachments').DataTable().clear().destroy();
        }
        var DossierCreateMode = $('#hdnDossierCreateMode').val();
        var EditDeficiencyMode = $('#hdnEditDeficiencyMode').val();
        var ViewDeficiencyMode = $('#hdnViewDeficiencyMode').val();
        if (ViewDeficiencyMode =="ViewDef" ) {
            ColumnHide = [0,5];
        } else if (EditDeficiencyMode =="EditDef") {
            ColumnHide = [0];
        }
        oDeficiencyAttachments = $('#tblDeficiencyAttachments').DataTable({
            columns: [
                { 'data': 'AttachmentID' },
                { 'data': 'FileName' },
                { 'data': 'FileExtention' },
                { 'data': 'AttachmentDate' },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o)
                    {
                        return '<a class="view" title="View" href="#" onclick="ViewAttachments(' + o.AttachmentID + ');"></a>';
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                            return '<a class="delete_icon_feed" title="Delete" href="#" onclick="ConfirmDeleteAttachment(' + o.AttachmentID + ');"></a>';
                    }
                }
            ],
            "scrollY": "250px",
            "aoColumnDefs": [{ "targets": ColumnHide, "visible": false },
                { className: "textAlignCenter", "targets": [2, 3, 4, 5] }],
            "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
            "sAjaxSource": '@Url.Content("~/Regulatory/RegulatoryMain/GetDeficiencyAttachmentList")',
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "DeficiencyID", "value": $("#hdDeficiencyID").val() });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else if (result.msgType == "error") {
                            custAlertMsg(result.msg, "error");
                        }
                        else {
                            fnCallback(result);
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            }
        });      
    }  
</script>

<script>
    function ConfirmDeleteAttachment(AttachmentID)
    {
        custAlertMsg('Are you sure you want to Remove this Attachment?', "confirm", "DeleteAttachment(" + AttachmentID + ")")
    }
    function DeleteAttachment(AttachmentID)
    {
        $.post("@Url.Content("~/Regulatory/RegulatoryMain/DeleteDefAttachment")", {
            "AttachmentID": AttachmentID
        },
            function (result)
            {
                if (result.msgRedirecttoLoginPage)
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else
                {
                    switch (result.msgType)
                    {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg("Deficiency Attachment Removed.", "success", "loadDefAttachments();");
                            break;
                    }
                }
        }, 'json');
    }
</script>




