﻿@model AizantIT_PharmaApp.Areas.Regulatory.Models.RegulatoryViewModel.ViewObservationModel
<!-------- Observation  popup-------------->
<input type="hidden" value="0" id="hdObservationID" />
<input type="hidden" id="hdDossierStatus" value="" />
<div id="myModalObservation" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="max-width:80%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ObservationTitle">Create Observation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body fileModalpopup-Scroll">
                <div class="col-xl-3 col-md-3 col-sm-6 col-lg-3 float-left col-6 padding-none">
                    <label for="" class="col-12 custom_label required">Functional Area</label>
                    <div class="col-12">
                        <select class="col-lg-12 selectpicker drop_down  regulatory_dropdown_style padding-none show-tick" title="Select Functional Area" data-size="5" data-live-search="true" id="ddlFunctionalArea" onchange="onFA_Change();"></select>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-6 col-lg-3 float-left col-6 padding-none">
                    <label for="" class="col-12 custom_label required">Department</label>
                    <div class="col-12">
                        <select class="col-lg-12 selectpicker drop_down  regulatory_dropdown_style padding-none show-tick ObservationMode" title="Select Department" data-size="5" data-live-search="true" id="ddlDepartment" onchange="onObservationDept_Change();"></select>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-6 col-lg-3 float-left float-left col-6 padding-none">
                    <label for="" class="col-12 custom_label required">Responsible Person</label>
                    <div class="col-12">
                        <select class="col-lg-12 selectpicker drop_down  regulatory_dropdown_style padding-none show-tick ObservationMode" title="Select Responsible person" data-size="5" data-live-search="true" id="ddlResponsiblePerson"></select>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-6 col-lg-3 float-left float-left col-6 padding-none">
                    <label for="" class="col-12 custom_label required">Due Date</label>
                    <div class="col-12 ">
                        <input id="txtObservationDueDate" class="form-control  date regulatory_inputborder  DisableObservationDueDate" placeholder="Enter Due Date" autocomplete="off">
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-6 col-lg-3 float-left col-6 padding-none">
                    <label for="" class="col-12 custom_label">Status</label>
                    <div class="col-12">
                        <input id="txtObservationStatus" class="form-control regulatory_inputborder" disabled>
                    </div>
                </div>
                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom ">
                    <label class=" custom_label col-form-label required">Description</label>
                    <textarea class="form-control" rows="9" id="txtDescription" maxlength="3000">@Model.ObservationDescription</textarea>
                </div>
                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom" style="display:none" id="divObservationRemarks">
                    <label class=" custom_label col-form-label required">Remarks</label>
                    <textarea class="form-control" rows="5" id="txtRemarks" maxlength="250"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <div class="float-right">
                    <div class="col-12 ">
                        <button type="button" class="draw btn top btn-sm buttons-approve" style="display:none;">Approve</button>
                        <button type="button" class="btn btn-sm top buttons-revert" style="display:none;"> Revert</button>
                        <button type="button" class="btn top btn-sm Obsersubmitbtn submitbtn" onclick="SubmitObservation();">
                            <span>
                                &#10004
                            </span>Submit
                        </button>
                        <button type="button" class="btn top btn-sm submitbtn ObserUpdatebtn" style="display:none" onclick="UpdateObservation();">
                            <span>
                                &#10004
                            </span>   Update
                        </button>
                        <button type="button" class="btn btn-sm top cancelbtn" data-dismiss="modal">
                            <span>
                                &#10006
                            </span>Cancel
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@*<div id="dmyText" style="display:none">@Model.ObservationDescription</div>*@

<!--RA_Validation Messages for this Page-->
<script>
    const RA_Errormsg55 = "You're not Allowed to Select this user as HOD, Due to This User is Approver for This Deficiency";
    const RA_Errormsg56 = "Select Functional Area";
    const RA_Errormsg57 = "Select Department";
    const RA_Errormsg58 = "Select Responsible person";
    const RA_Errormsg59 = "Select Status";
    const RA_Errormsg60 = "Select Due Date";
    const RA_Errormsg61 = "Enter Description";
    const RA_Errormsg62 = "Observation Updated Successfully";
    const RA_Errormsg63 = "Observation Created Successfully";
</script>
<!--Observation DropDownList's-->
<script>
    $(function () {
        bindOnPaste();
    });
    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });
    $(function () {
        var dossierStatus = $('#hdDossierStatus').val();
         var DeficiencyStatus = $('#hdnDeficiencyStatus').val();
        if (dossierStatus == 'U' || (dossierStatus == 'A' && DeficiencyStatus == 0)) {
            $('#txtObservationStatus').val('Open');
        }
        else if (dossierStatus == 'A' && DeficiencyStatus == "Open") {
            $('#txtObservationStatus').val('Open');
        }
        else {
            $('#txtObservationStatus').val('Close');
        }
         if ('@Model.ObservationID' == 0)
         {
            $("#ddlDepartment").next().addClass('disabled');
            $('#ddlDepartment').selectpicker('val', [0]);
            $("#ddlResponsiblePerson").next().addClass('disabled');
            $('#ddlResponsiblePerson').selectpicker('val', [0]);
            $('.ObservationMode').attr('disabled', 'disabled');
         }
    });
</script>

<script>
    $('.DisableObservationDueDate').attr("disabled", true);
    var DossierStatus = $('#hdDossierStatus').val();
    //var DeficiencyStatus = $('#hdnDeficiencyStatus').val();
    function OnCreateObservationDateValidation() {
        var minDeficiencyReceiptDate;
        var maxDeficiencyDueDate;
        if (DossierStatus == 'U') {
            minDeficiencyReceiptDate = $('#hdDeficiencyReceiptDate').val();
            //maxDeficiencyDueDate = $('#hdDeficiencyDueDate').val();
            maxDeficiencyDueDate = $('#txtDeficiencyDueDate').val();
        }
        else {
            minDeficiencyReceiptDate = $('#txtDeficiencyReceiptDate').val();
            maxDeficiencyDueDate = $('#txtDeficiencyDueDate').val();
        }

        $('#txtObservationDueDate').val(maxDeficiencyDueDate);
        //$('#txtObservationDueDate').datetimepicker({
        //    format: 'DD MMM YYYY',
        //    useCurrent: false,
        //    minDate: new Date(new Date(minDeficiencyReceiptDate).getFullYear(), new Date(minDeficiencyReceiptDate).getMonth(), new Date(minDeficiencyReceiptDate).getDate(), 00, 00, 00),
        //    maxDate: new Date(new Date(maxDeficiencyDueDate).getFullYear(), new Date(maxDeficiencyDueDate).getMonth(), new Date(maxDeficiencyDueDate).getDate(), 23, 59, 59),
        //    widgetPositioning: {
        //        horizontal: 'left',
        //        vertical: 'bottom'
        //    }
        //});
    }
    function OnUpdateObservationDateValidation() {
        var minDeficiencyReceiptDate;
        var maxDeficiencyDueDate;
        if (DossierStatus == 'Under review') {
            minDeficiencyReceiptDate = $('#hdDeficiencyReceiptDate').val();
            // maxDeficiencyDueDate = $('#hdDeficiencyDueDate').val();
            maxDeficiencyDueDate = $('#txtDeficiencyDueDate').val();
        }
        else {
            minDeficiencyReceiptDate = $('#txtDeficiencyReceiptDate').val();
            maxDeficiencyDueDate = $('#txtDeficiencyDueDate').val();
        }
        $('#txtObservationDueDate').val(maxDeficiencyDueDate);
        //  $('#txtObservationDueDate').datetimepicker({
        //    format: 'DD MMM YYYY',
        //    useCurrent: false,
        //    minDate: new Date(new Date(minDeficiencyReceiptDate).getFullYear(), new Date(minDeficiencyReceiptDate).getMonth(), new Date(minDeficiencyReceiptDate).getDate(), 00, 00, 00),
        //    maxDate: new Date(new Date(maxDeficiencyDueDate).getFullYear(), new Date(maxDeficiencyDueDate).getMonth(), new Date(maxDeficiencyDueDate).getDate(), 23, 59, 59),
        //    widgetPositioning: {
        //        horizontal: 'left',
        //        vertical: 'bottom'
        //    }
        //});
    }
</script>
<script>
    function LoadFunctionalArea()
    {
        $.getJSON("/RegulatoryMain/GetFunctionalAreaList",
            function (result) {
                var FunctionalAreaList = result._FunctionalArea;
                $("#ddlFunctionalArea").html(""); // clear before appending new list
                for (var i = 0; i < FunctionalAreaList.length; i++)
                {
                    $('#ddlFunctionalArea').append(
                        $('<option></option>').val(FunctionalAreaList[i].Value).html(FunctionalAreaList[i].Text));
                }
                $('#ddlFunctionalArea').selectpicker('refresh');
            }).fail(function (jqxhr, textStatus, error) {
                var err = textStatus + ", " + error;
                console.log("Request Failed: " + err);
            });
    }
    function LoadFunctionalAreaEdit()
    {
            $("#ddlFunctionalArea").html(""); // clear before appending new list
        $.getJSON("/RegulatoryMain/GetFunctionalAreaList", function (result) {
            var FunctionalAreaList = result._FunctionalArea;
            for (var i = 0; i < FunctionalAreaList.length; i++)
            {
                $('#ddlFunctionalArea').append(
                    $('<option></option>').val(FunctionalAreaList[i].Value).html(FunctionalAreaList[i].Text));
            }
            $("#ddlFunctionalArea").val('@Model.FunctionalAreaID');
                $('#ddlFunctionalArea').selectpicker('refresh');
                $("#ddlFunctionalArea").selectpicker('val',@Model.FunctionalAreaID);
                if ($('#ddlFunctionalArea').val()!='0') {
                    loadFA_DeptsEdit(@Model.FunctionalAreaID);
                }
        }).fail(function (jqxhr, textStatus, error) {
            var err = textStatus + ", " + error;
            console.log("Request Failed: " + err);
        });
    }
    function onFA_Change() {
        var _ObservationID = $("#hdObservationID").val();
        var _SelectedFunctionalAreaID = $('#ddlFunctionalArea').val();
        if (_SelectedFunctionalAreaID == "0") {
            $("#ddlDepartment").next().addClass('disabled');
            $('#ddlDepartment').selectpicker('val', [0]);
            $("#ddlResponsiblePerson").next().addClass('disabled');
            $('#ddlResponsiblePerson').selectpicker('val', [0]);
        }
        else
        {
                $("#ddlDepartment").prop("disabled", false);
                $('#ddlDepartment').selectpicker('val', [0]);
                $("#ddlResponsiblePerson").next().addClass('disabled');
                $('#ddlResponsiblePerson').selectpicker('val', [0]);
                loadFA_Depts(_SelectedFunctionalAreaID);
         }
    }
    function loadFA_Depts(_SelectedFunctionalAreaID)
    {
        $("#ddlDepartment").empty();
        if (_SelectedFunctionalAreaID > 0) {
            $.ajax({
                type: "GET",
                url: "/RegulatoryMain/GetFunctionalAreaDepartmentsList",
                data: ({ FunctionAreaID: _SelectedFunctionalAreaID }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    for (var i = 0; i < result.length; i++)
                    {
                        $('#ddlDepartment').append(
                            $('<option></option>').val(result[i].Value).html(result[i].Text));
                    }
                    $('#ddlDepartment').selectpicker('refresh');
                },
                error: function (jqXHR, exception) {
                    alert(exception);
                }
            });
        }
    }
    function loadFA_DeptsEdit(_SelectedFunctionalAreaID)
    {
        $("#ddlDepartment").html("");
        if (_SelectedFunctionalAreaID > 0)
        {
            $.ajax({
                type: "GET",
                url: "/RegulatoryMain/GetFunctionalAreaDepartmentsList",
                data: ({ FunctionAreaID: _SelectedFunctionalAreaID }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    for (var i = 0; i < result.length; i++)
                    {
                        $('#ddlDepartment').append(
                            $('<option></option>').val(result[i].Value).html(result[i].Text));
                    }
                      $("#ddlDepartment").val('@Model.DepartmentID');
                      $('#ddlDepartment').selectpicker('refresh');
                      $("#ddlDepartment").selectpicker('val',@Model.DepartmentID);
                      if ($('#ddlDepartment').val() != '0')
                      {
                          loadDeptResponsiblePersonEdit($('#ddlDepartment').val())
                      }
                },
                error: function (jqXHR, exception) {
                    alert(exception);
                }
            });
        }
    }
    function onObservationDept_Change() {
        var _SelectedDepartmentID =  $("#ddlDepartment").val();
        if (_SelectedDepartmentID == "0") {
            $("#ddlResponsiblePerson").next().addClass('disabled');
            $('#ddlResponsiblePerson').selectpicker('val', [0]);
        }
        else {
            $("#ddlResponsiblePerson").prop("disabled", false);
            $('#ddlResponsiblePerson').selectpicker('val', [0]);
            loadDeptResponsiblePerson(_SelectedDepartmentID);
        }
    }
    function loadDeptResponsiblePerson(SelectedDepartmentID)
    {
        $("#ddlResponsiblePerson").empty();
        if (SelectedDepartmentID>0) {
            $.ajax({
                type: "GET",
                url: "/RegulatoryMain/GetDepartmentWiseEmployeeList",
                data: ({ DeptID: SelectedDepartmentID }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    DepartmentsList = result.EmployeeList;
                    for (var i = 0; i < result.EmployeeList.length; i++)
                    {
                        $('#ddlResponsiblePerson').append(
                            $('<option></option>').val(result.EmployeeList[i].Value).html(result.EmployeeList[i].Text));
                    }
                    $('#ddlResponsiblePerson').selectpicker('refresh');
                },
                error: function (jqXHR, exception) {
                    alert(exception);
                }
            });
        }
    }
    function loadDeptResponsiblePersonEdit(SelectedDepartmentID)
    {
        $("#ddlResponsiblePerson").html("");
        if (SelectedDepartmentID > 0) {
            $.ajax({
                type: "GET",
                url: "/RegulatoryMain/GetDepartmentWiseEmployeeList",
                data: ({ DeptID: SelectedDepartmentID }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    DepartmentsList = result.EmployeeList;
                    for (var i = 0; i < result.EmployeeList.length; i++) {
                        $('#ddlResponsiblePerson').append(
                            $('<option></option>').val(result.EmployeeList[i].Value).html(result.EmployeeList[i].Text));
                    }
                      $("#ddlResponsiblePerson").val('@Model.ResponsiblePersonID');
                      $('#ddlResponsiblePerson').selectpicker('refresh');
                      $("#ddlResponsiblePerson").selectpicker('val',@Model.ResponsiblePersonID);
                },
                error: function (jqXHR, exception) {
                    alert(exception);
                }
            });
        }
    }
    $('#hdObservationID').val('@Model.ObservationID');
    var ObservationID = '@Model.ObservationID';
    if (ObservationID > 0)
    {
        LoadFunctionalAreaEdit();
        loadObservationDetails();
    }
    else
    {
        LoadFunctionalArea();
        OnCreateObservationDateValidation();
    }
    function loadObservationDetails()
    {
        $('#txtObservationDueDate').val('@Model.DueDate');
        //$('#txtDescription').val($('#dmyText').html());
        // $('#txtDescription').val('Model.ObservationDescription');
        $('#txtRemarks').val('@Model.Remarks');
        $('.Obsersubmitbtn').hide();
        $('.ObserUpdatebtn').show();
        $('#ObservationTitle').html('Edit Observation');
        OnUpdateObservationDateValidation();
    }
    var ObservationData = {};
    function Validationobservation()
    {
        var errors = [];
        var ObservationStatus= $('#txtObservationStatus').val();

        ObservationData = {
            DF_ObservationID: $('#hdObservationID').val(),
            FunctionalAreaID: $('#ddlFunctionalArea').val(),
            DepartmentID: $('#ddlDepartment').val(),
            ObservationDescription: $('#txtDescription').val().trim(),
            ResponsiblePersonEmpID: $('#ddlResponsiblePerson').val(),
            Status: ObservationStatus== "Open" ? "1" : "2",
            Comments: $('#txtRemarks').val(),
            DueDate: $('#txtObservationDueDate').val(),
            DeficiencyID: $('#hdDeficiencyID').val(),
            DeficiencyCurrentStatus: $('#hdnDeficiencyCurrentStatus').val()
        }

        if ($('#ddlDeficiencyApproverId').val() == ObservationData.ResponsiblePersonEmpID)
        {
            errors.push(RA_Errormsg55);
        }
        if (ObservationData.FunctionalAreaID == 0 || ObservationData.FunctionalAreaID == "" || ObservationData.FunctionalAreaID == null)
        {
            errors.push(RA_Errormsg56);
        }
        if (ObservationData.DepartmentID == 0 || ObservationData.DepartmentID == "" || ObservationData.DepartmentID == null)
        {
            errors.push(RA_Errormsg57);
        }
        if (ObservationData.ResponsiblePersonEmpID == 0 || ObservationData.ResponsiblePersonEmpID == "" || ObservationData.ResponsiblePersonEmpID == null)
        {
            errors.push(RA_Errormsg58);
        }
        if (ObservationData.Status == 0 || ObservationData.Status == "" || ObservationData.Status == null)
        {
            errors.push(RA_Errormsg59);
        }
        if (ObservationData.DueDate == "")
        {
            errors.push(RA_Errormsg60);
        }
        if (ObservationData.ObservationDescription == "")
        {
            errors.push(RA_Errormsg61);
        }
        return errors;
    }
    function UpdateObservation()
    {

          var error = [];
          error = Validationobservation(error);
        if (error.length > 0)
        {
              custAlertMsg(error.join("<br/>"), "error");
        }
        else
        {
             AjaxCallUpdateObservation(ObservationData);
        }
    }
    function AjaxCallUpdateObservation(ObservationData)
    {
        ShowPleaseWait('show');
         $.post("@Url.Content("~/Regulatory/RegulatoryMain/UpdateObservation")", ObservationData,
             function (result)
             {
                 
                switch (result.msgType) {
                    case "error":
                        custAlertMsg(result.msg, "error", "GetBackToMainPage();");
                        break;
                    case "success":
                        custAlertMsg(RA_Errormsg62, "success", "AfterCreateOrUpdateDeficiencyObservation();");
                        break;
                }
             }, 'json').always(function () {
                 ShowPleaseWait('hide');
             });
    }
</script>
<!--Submit  Observation-->
<script>
    function SubmitObservation()
    {
          var error = [];
          error = Validationobservation(error);
          if (error.length > 0)
          {
                custAlertMsg(error.join("<br/>"), "error");
          }
          else
          {
                AjaxCallCreateDeficiencyObservation(ObservationData);
          }
    }
    function AjaxCallCreateDeficiencyObservation(ObservationData)
    {
        ShowPleaseWait('show');
         $.post("@Url.Content("~/Regulatory/RegulatoryMain/CreateObservation")", ObservationData,
             function (result) {
                 if (result._ObservationCount > 0)
                 {
                     var DossierStatus = $('#hdDossierStatus').val();
                     var DeficiencyStatus = $('#hdnDeficiencyCurrentStatus').val();
                     var Deficiency_Status = $('#hdnDeficiencyStatus').val();
                     if ((DossierStatus == 'U' && DeficiencyStatus == 1)|| (DossierStatus == 'A' && Deficiency_Status == "Open"))
                     {
                        $('#divBtnApproval').show();
                        $('#divDeficiencyComments').show();
                     }
                 }
                 switch (result.msgType)
                 {
                    case "error":
                         custAlertMsg(result.msg, "error","GetBackToMainPage();");
                        break;
                    case "success":
                         custAlertMsg(RA_Errormsg63, "success", "AfterCreateOrUpdateDeficiencyObservation();");
                        break;
                 }
             }, 'json').always(function () {
                 ShowPleaseWait('hide');
             });
    }
    function AfterCreateOrUpdateDeficiencyObservation()
    {
        var DeficiencyID = $('#hdDeficiencyID').val();
        GetObservationList(DeficiencyID);
        $('#myModalObservation').modal('hide');
    }
</script>