﻿@model AizantIT_PharmaApp.Areas.Regulatory.Models.RegulatoryViewModel.ViewDeficiencyModel
<!--Module Deficiency Pop up-->
<input type="hidden" value="0" id="hdDeficiencyID" />
<input type="hidden" value="" id="hdDeficiencyReceiptDate" />
<input type="hidden" value="" id="hdDeficiencyDueDate" />
<input type="hidden" value="EditDef" id="hdnEditDeficiencyMode" />
<input type="hidden" value="0" id="hdnDeficiencyCurrentStatus" />
<input type="hidden" value="0" id="hdnDeficiencyStatus" />

<input type="hidden" value="9" id="hdnShowType" /><!--8:Deficiency Wise Observation's -->
<div id="myModalDeficiency" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="max-width:95%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="DefTitle">Create Deficiency</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="min-height:308px">
                <div class="col-xl-12 padding-none">
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label required">Deficiency Code</label>
                        <div class="col-sm-12 ">
                            <input id="txtDeficiencyCode" class="form-control  regulatory_inputborder DeficiencyDisable ValidateAlphaNumericWithSpecialChars" placeholder="Enter Deficiency Code" autocomplete="off" maxlength="150" onkeypress="return ValidateAlphaNumericWithSpecialChars(event);">
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none DefCreateHide">
                        <label for="" class="col-12 custom_label required">Type of Deficiency</label>
                        <div class="col-12">
                            <select id="ddlTypeofDeficiencyID" class="col-lg-12 selectpicker drop_down select4 regulatory_dropdown_style padding-none show-tick DeficiencyDisable " title="Select Type of Deficiency" data-size="7" data-live-search="true"></select>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none DefCreateshow" style="display:none">
                        <label for="" class="col-12 custom_label required">Type of Deficiency</label>
                        <div class="col-12">
                            <input id="txtddlTypeofDeficiencyName" class="form-control date regulatory_inputborder DeficiencyDisable">
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label required">Deficiency Receipt Date</label>
                        <div class="col-sm-12 ">
                            <input id="txtDeficiencyReceiptDate" class="form-control date regulatory_inputborder DeficiencyDisable" placeholder="Enter Deficiency Receipt Date" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label required">Deficiency Due Date</label>
                        <div class="col-sm-12 ">
                            <input id="txtDeficiencyDueDate" class="form-control date regulatory_inputborder DeficiencyDisable" placeholder="Enter Due Date" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 ">
                        <label for="" class="col-12 custom_label padding-none">Status</label>
                        <input id="txtDeficiencyStatus" class="form-control regulatory_inputborder" readonly>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none divCloseDate">
                        <label for="" class="col-12 custom_label">Closed Date</label>
                        <div class="col-sm-12 ">
                            <input id="txtClosedDate" class="form-control date regulatory_inputborder DeficiencyDisable" placeholder="Enter Closed Date" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none DefCreateHide" style="display:none" id="divApprover">
                        <label class="col-12 custom_label">Approver</label>
                        <div class="col-12">
                            <select id="ddlDeficiencyApproverId" class="col-lg-12 selectpicker drop_down select4 regulatory_dropdown_style padding-none show-tick DeficiencyDisable " title="Select Approver" data-size="7" data-live-search="true"></select>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none DefCreateshow" style="display:none">
                        <label for="" class="col-12 custom_label">Approver Name<span class="mandatoryStar">*</span></label>
                        <div class="col-12">
                            <input id="txtApproverName" class="form-control date regulatory_inputborder DeficiencyDisable">
                        </div>
                    </div>
                </div>
                <div id="divObservationAndAttachment" style="display:none">
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  top divDeficiencyObservationAttachment ">
                        <ul class="nav nav-tabs tab_grid tab_reg">
                            <li class="nav-item " id="deficiencyTab"><a class="nav-link active" data-toggle="tab" href="#ObservationTabcontent">Observation List</a></li>
                            <li class="nav-item" id="attachmentsTab"><a class="nav-link" data-toggle="tab" href="#attachmentsTabcontent">Attachments</a></li>
                        </ul>
                    </div>
                    <div class="tab-content  float-left col-lg-12 padding-none">
                        <div id="ObservationTabcontent" class="tab-pane active">
                            <div class="col-12 float-left top padding-none">
                                <div class="col-12  float-left padding-none">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom">
                                        <button type="button" data-toggle="modal" class="btn btn-sm float-left  listbtn newbtn  btnCreateObservation" id="btnCreateObservation" onclick="return CreateNewObservation();">Add Observation</button>
                                    </div>
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">
                                        @Html.Partial("~/Areas/Regulatory/Views/RegulatoryMain/_ObservationList.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="attachmentsTabcontent" class="tab-pane ">
                            <div class="col-12 float-left top padding-none">
                                <div class="col-12  float-left padding-none">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                        <button type="button" data-toggle="modal" onclick="OpenUploadAttachment()" data-target="#" class="btn  listbtn newbtn float-left">Add Attachments</button>
                                    </div>
                                    <div id="divAttachmentList" style="display:none" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none">
                                        @Html.Partial("~/Areas/Regulatory/Views/RegulatoryMain/_AttachmentListView.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divDeficiencyComments" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom">
                    <label class="custom_label col-form-label">Comments</label>
                    <textarea class="form-control" rows="3" id="txtDeficiencyComment" maxlength="250"></textarea>
                </div>
            </div>
            <div class=" modal-footer">
                <div class="col-12 float-right">
                    <div class="float-right padding-left_div">
                        <button type="button" class="btn btn-sm cancelbtn float-right" data-dismiss="modal">
                            <span>
                                &#10006
                            </span>Cancel
                        </button>
                    </div>
                    <div class="float-right" id="divbtnDeficiency">
                        <button type="button" class="btn btn-sm submitbtn" id="btnSubmit" onclick="SubmitDeficiency();">
                            <span>
                                &#10004
                            </span>Submit
                        </button>
                        <button type="button" class="btn btn-sm submitbtn" id="btnUpdate" style="display:none" onclick="UpdateDeficiency();">
                            <span>
                                &#10004
                            </span>Update
                        </button>
                    </div>

                    <div class="float-right" id="divBtnApproval" style="display:none">
                        <button type="button" class="btn btn-sm submitbtn" id="btnApproval" onclick="SubmitForApproval();">
                            <span>
                                &#10004
                            </span>Submit For Approval
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divLoadObservationPopup"></div>

<!--RA_Validation Messages for this Page-->
<script>
    const RA_Errormsg47 = "Enter Deficiency Code";
    const RA_Errormsg48 = "Select Type of Deficiency";
    const RA_Errormsg49 = "Select Deficiency Receipt Date";
    const RA_Errormsg50 = "Select Deficiency Due Date";
    const RA_Errormsg51 = "Select Approver";
    const RA_Errormsg52 = "Deficiency submitted for approval";
    const RA_Errormsg53 = "Deficiency Created Successfully";
    const RA_Errormsg54 = "Deficiency Updated Successfully";
</script>


<!--Date Picker's-->
<script>
    var DossierStatus;
    function OnCreateDeficiencyDateValidation()
    {
        var ServerDateNow = '@DateTime.Now.ToString("dd MMM yyyy")';
        var minSubmissionDate = $('#hdnSubmissionDate').val();
        var maxApprovedDate = $('#hdnApprovedDate').val();
        //Deficiency date pickers
        if (maxApprovedDate != 'NA')
        {
            $('#txtDeficiencyReceiptDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
                minDate: new Date(new Date(minSubmissionDate).getFullYear(), new Date(minSubmissionDate).getMonth(), new Date(minSubmissionDate).getDate(), 00, 00, 00),
                maxDate: new Date(new Date(maxApprovedDate).getFullYear(), new Date(maxApprovedDate).getMonth(), new Date(maxApprovedDate).getDate(), 23, 59, 59),
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                }
            });
            $('#txtDeficiencyDueDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
                maxDate: new Date(new Date(maxApprovedDate).getFullYear(), new Date(maxApprovedDate).getMonth(), new Date(maxApprovedDate).getDate(), 23, 59, 59),
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                }
            });
            $('#txtClosedDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
                maxDate: new Date(new Date(maxApprovedDate).getFullYear(), new Date(maxApprovedDate).getMonth(), new Date(maxApprovedDate).getDate(), 23, 59, 59),
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                }
            });
        }
        else if (maxApprovedDate == 'NA')
        {
            $('#txtDeficiencyReceiptDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
                minDate: new Date(new Date(minSubmissionDate).getFullYear(), new Date(minSubmissionDate).getMonth(), new Date(minSubmissionDate).getDate(), 00, 00, 00),
                maxDate: new Date(new Date(ServerDateNow).getFullYear(), new Date(ServerDateNow).getMonth(), new Date(ServerDateNow).getDate(), 23, 59, 59),
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                }
            });
            $('#txtDeficiencyDueDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
                maxDate: new Date(new Date(ServerDateNow).getFullYear(), new Date(ServerDateNow).getMonth(), new Date(ServerDateNow).getDate(), 23, 59, 59),
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                }
            });
            $('#txtClosedDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
                maxDate: new Date(new Date(ServerDateNow).getFullYear(), new Date(ServerDateNow).getMonth(), new Date(ServerDateNow).getDate(), 23, 59, 59),
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                }
            });
            $("#txtDeficiencyReceiptDate").on("dp.change", function (e) {
                        ClearDateFailValidation(e.date);
                $('#txtDeficiencyDueDate').data("DateTimePicker").minDate(new Date(new Date(e.date).getFullYear(), new Date(e.date).getMonth(), new Date(e.date).getDate(), 00, 00, 00));
                $('#txtClosedDate').data("DateTimePicker").minDate(new Date(new Date(e.date).getFullYear(), new Date(e.date).getMonth(), new Date(e.date).getDate(), 00, 00, 00));
            });
            $("#txtDeficiencyDueDate").on("dp.change", function (e) {
                $('#txtClosedDate').val('');
            });
            //$("#txtClosedDate").on("dp.change", function (e) {
            //    var dueDate = $('#txtDeficiencyDueDate').val();
            //    var closeDate = $("#txtClosedDate").val();
            //    if (dueDate > closeDate) {
            //        custAlertMsg("Check the Close Date greater than the Due Date", "error");
            //        $("#txtClosedDate").val('');
            //    }
            //});
        }
        $("#txtDeficiencyReceiptDate").on("dp.change", function (e) {
             ClearDateFailValidation(e.date);
            $('#txtDeficiencyDueDate').data("DateTimePicker").minDate(new Date(new Date(e.date).getFullYear(), new Date(e.date).getMonth(), new Date(e.date).getDate(), 00, 00, 00));
            $('#txtClosedDate').data("DateTimePicker").minDate(new Date(new Date(e.date).getFullYear(), new Date(e.date).getMonth(), new Date(e.date).getDate(), 00, 00, 00));
        });
        $("#txtDeficiencyDueDate").on("dp.change", function (e) {
            $('#txtClosedDate').val('');
        });
   }
    function OnUpdateDeficiencyDateValidation()
    {
        var ServerDateNow = '@DateTime.Now.ToString("dd MMM yyyy")';
         DossierStatus = '@Model.DossierStatus';
        if (DossierStatus != "U")
        {
            var minSubmissionDate = $('#hdnDossierCreateMode').val() == 'Create' ? $('#txtDateofSubmission').val() : $('#hdnSubmissionDate').val();
           // var minSubmissionDate = $('#hdnSubmissionDate').val() == "" ? $('#txtDateofSubmission').val() : $('#hdnSubmissionDate').val();
            var maxApprovedDate = $('#hdnApprovedDate').val() == null ? '@Model.ApproveDate' : $('#hdnApprovedDate').val();

            DeficiencyReceiptDate = $('#txtDeficiencyReceiptDate').val() == "" ? null : $('#txtDeficiencyReceiptDate').val();

                 $('#txtDeficiencyReceiptDate').datetimepicker({
                     format: 'DD MMM YYYY',
                     useCurrent: false,
                     minDate: new Date(new Date(minSubmissionDate).getFullYear(), new Date(minSubmissionDate).getMonth(), new Date(minSubmissionDate).getDate(), 00, 00, 00),
                     maxDate: new Date(new Date(maxApprovedDate).getFullYear(), new Date(maxApprovedDate).getMonth(), new Date(maxApprovedDate).getDate(), 23, 59, 59),
                     widgetPositioning: {
                         horizontal: 'left',
                         vertical: 'bottom'
                     }
                 });
                 $('#txtDeficiencyDueDate').datetimepicker({
                     format: 'DD MMM YYYY',
                     useCurrent: false,
                     minDate: new Date(new Date(DeficiencyReceiptDate).getFullYear(), new Date(DeficiencyReceiptDate).getMonth(), new Date(DeficiencyReceiptDate).getDate(), 00, 00, 00),
                     maxDate: new Date(new Date(maxApprovedDate).getFullYear(), new Date(maxApprovedDate).getMonth(), new Date(maxApprovedDate).getDate(), 23, 59, 59),
                     widgetPositioning: {
                         horizontal: 'left',
                         vertical: 'bottom'
                     }
                 });
                 $('#txtClosedDate').datetimepicker({
                     format: 'DD MMM YYYY',
                     useCurrent: false,
                     minDate: new Date(new Date(DeficiencyReceiptDate).getFullYear(), new Date(DeficiencyReceiptDate).getMonth(), new Date(DeficiencyReceiptDate).getDate(), 00, 00, 00),
                     maxDate: new Date(new Date(maxApprovedDate).getFullYear(), new Date(maxApprovedDate).getMonth(), new Date(maxApprovedDate).getDate(), 23, 59, 59),
                     widgetPositioning: {
                         horizontal: 'left',
                         vertical: 'bottom'
                     }
                 });
        }
        if (DossierStatus == "U")
        {
            var minSubmissionDate = '@Model.SubmissionDate';
            DeficiencyReceiptDate = '@Model.DeficiencyReceiptDate';
            $('#txtDeficiencyReceiptDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
                minDate: new Date(new Date(minSubmissionDate).getFullYear(), new Date(minSubmissionDate).getMonth(), new Date(minSubmissionDate).getDate(), 00, 00, 00),
                maxDate: new Date(new Date(ServerDateNow).getFullYear(), new Date(ServerDateNow).getMonth(), new Date(ServerDateNow).getDate(), 23, 59, 59),
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                }
            });
            $('#txtDeficiencyDueDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
                minDate: new Date(new Date(DeficiencyReceiptDate).getFullYear(), new Date(DeficiencyReceiptDate).getMonth(), new Date(DeficiencyReceiptDate).getDate(), 00, 00, 00),
                maxDate: new Date(new Date(ServerDateNow).getFullYear(), new Date(ServerDateNow).getMonth(), new Date(ServerDateNow).getDate(), 23, 59, 59),
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                }
            });
            $('#txtClosedDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
                minDate: new Date(new Date(DeficiencyReceiptDate).getFullYear(), new Date(DeficiencyReceiptDate).getMonth(), new Date(DeficiencyReceiptDate).getDate(), 00, 00, 00),
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                }
            });
        }
        $("#txtDeficiencyReceiptDate").on("dp.change", function (e) {
            ClearDateFailValidation(e.date);
            $('#txtDeficiencyDueDate').data("DateTimePicker").minDate(new Date(new Date(e.date).getFullYear(), new Date(e.date).getMonth(), new Date(e.date).getDate(), 00, 00, 00));
            $('#txtClosedDate').data("DateTimePicker").minDate(new Date(new Date(e.date).getFullYear(), new Date(e.date).getMonth(), new Date(e.date).getDate(), 00, 00, 00));
        });
        $("#txtDeficiencyDueDate").on("dp.change", function (e) {
            $('#txtClosedDate').val('');
        });
        //$("#txtClosedDate").on("dp.change", function (e) {
        //    var dueDate = $('#txtDeficiencyDueDate').val();
        //    var closeDate = $("#txtClosedDate").val();
        //    if (dueDate >closeDate)
        //    {
        //        custAlertMsg("Check the Close Date greater than the Due Date", "error");
        //        $("#txtClosedDate").val('');
        //    }
        //});
    }
    function ClearDateFailValidation(date)
    {
        var DeficiencyDueDate = $('#txtDeficiencyDueDate').val();
        var closeDate = $("#txtClosedDate").val();
        if (new Date(new Date(date).getFullYear(), new Date(date).getMonth(), new Date(date).getDate()) > new Date(DeficiencyDueDate) )
        {
            $('#txtDeficiencyDueDate').val('');
            $("#txtClosedDate").val('');
        }
        if (new Date(new Date(date).getFullYear(), new Date(date).getMonth(), new Date(date).getDate()) > new Date(closeDate))
        {
            $("#txtClosedDate").val('');
        }
    }
</script>

<!--DropDownList's-->
<script>
    function CreateDeficiencyDropDownList()
    {
        ProductApproverID =  $('#hdnProductApproverID').val();
        $.ajax({
            type: "GET",
            url: "/RegulatoryMain/Deficiencydropdownlist",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var TypeOfDeficiency = result._TypeOFDeficiency;
                var Approver = result._Approver;
                //Type of Deficiency
                $("#ddlTypeofDeficiencyID").html(""); // clear before appending new list
                for (var i = 0; i < TypeOfDeficiency.length; i++)
                {
                    $('#ddlTypeofDeficiencyID').append(
                        $('<option></option>').val(TypeOfDeficiency[i].Value).html(TypeOfDeficiency[i].Text));
                }
                $('#ddlTypeofDeficiencyID').selectpicker('refresh');

                //Approver
                $("#ddlDeficiencyApproverId").html(""); // clear before appending new list
                for (var i = 0; i < Approver.length; i++)
                {
                    $('#ddlDeficiencyApproverId').append(
                        $('<option></option>').val(Approver[i].Value).html(Approver[i].Text));
                }
                $('#ddlDeficiencyApproverId').selectpicker('refresh');
                $("#ddlDeficiencyApproverId").selectpicker('val', ProductApproverID);
            },
            error: function (jqXHR, exception)
            {
                alert(exception);
            }
        });
    }

    function EditDeficiencyDropDownList()
    {
        $.ajax({
            type: "GET",
            url: "/RegulatoryMain/Deficiencydropdownlist",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var TypeOfDeficiency = result._TypeOFDeficiency;
                var Approver = result._Approver;
                //Load Type of Deficiency  DropDownList
                $("#ddlTypeofDeficiencyID").html(""); // clear before appending new list
                for (var i = 0; i < TypeOfDeficiency.length; i++) {
                    $('#ddlTypeofDeficiencyID').append(
                        $('<option></option>').val(TypeOfDeficiency[i].Value).html(TypeOfDeficiency[i].Text));
                }
                $('#ddlTypeofDeficiencyID').selectpicker('refresh');
                $("#ddlTypeofDeficiencyID").selectpicker('val', '@Model.TypeOfDeficiencyID');

                // Load Approver DropDownList
                $("#ddlDeficiencyApproverId").html(""); // clear before appending new list
                for (var i = 0; i < Approver.length; i++) {
                    $('#ddlDeficiencyApproverId').append(
                        $('<option></option>').val(Approver[i].Value).html(Approver[i].Text));
                }
                $('#ddlDeficiencyApproverId').selectpicker('refresh');
                $("#ddlDeficiencyApproverId").selectpicker('val', '@Model.ApproverID');
            },
            error: function (jqXHR, exception)
            {
                alert(exception);
            }
        });
    }

    $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
        var anchor = $(e.target).attr('href');
        if (anchor == "#ObservationTabcontent") {
            if (otblDP_Observation != null || otblDP_Observation != "") {
                otblDP_Observation.draw();
            }
            else {
                GetObservationList('@Model.DeficiencyID');
            }
        }
        else if (anchor == "#attachmentsTabcontent") {
            if (oDeficiencyAttachments != null) {
                oDeficiencyAttachments.draw();
            }
            else {
                loadDefAttachments();
            }
        }
    });
</script>

<script>
    $("#myModalDeficiency").on("hidden.bs.modal", function () {
        GetDeficiencyList();
    });
    $(function () {
        bindOnPaste();
    });
    var DeficiencyData = {};
    //Create Deficiency
    function SubmitDeficiency()
    {
        var error = [];
        error = validateDeficiency(error);
        if (error.length > 0)
        {
             custAlertMsg(error.join("<br/>"), "error");
        }
        else
        {
            AjaxCallCreateDeficiency(DeficiencyData);
        }
    }
    function AjaxCallCreateDeficiency(objDeficiency)
    {
        ShowPleaseWait('show');
        $.post("@Url.Content("~/Regulatory/RegulatoryMain/CreateDeficiency")", objDeficiency,
            function (result) {
                $('#hdDeficiencyID').val(result._DeficiencyID);
                switch (result.msgType) {
                    case "error":
                        custAlertMsg(result.msg, "error");
                        break;
                    case "sysError":
                        custAlertMsg(result.msg, "error", "GetBackToMainPage();");
                        break;
                    case "success":
                        $('#hdnDeficiencyCurrentStatus').val(1);//1:Create Deficiency
                        custAlertMsg(RA_Errormsg53, "success", "AfterCreateDeficiency();");
                        break;
                }
            }, 'json').always(function () {
                ShowPleaseWait('hide');
            });
    }
    function AfterCreateDeficiency()
    {
        CreateNewObservation();
        //GetDeficiencyList();
        $('#txtDeficiencyComment').val('');
        $('#divObservationAndAttachment').show();
        $('#divbtnDeficiency').hide();
        $('#divDeficiencyComments').hide();
        $('.DeficiencyDisable').attr("disabled", true);
        $("#ddlTypeofDeficiencyID").prop("disabled", true);
        $("#ddlDeficiencyApproverId").prop("disabled", true);
        $("#ddlDeficiencyApproverId").selectpicker('refresh');
        $(".btn[data-id='ddlTypeofDeficiencyID']").addClass("disabled");
           var DeficiencyID= $('#hdDeficiencyID').val();
           GetObservationList(DeficiencyID);
        var DossierStatus = $('#hdDossierStatus').val();
        var _DeficiencyStatus = $('#txtDeficiencyStatus').val();

        if (DossierStatus == 'U' || (DossierStatus == 'A' && _DeficiencyStatus=="Open"))
          {
               $('.clsfordivFieldStatus').hide();
               $('.clsforlbldivStatus').show();
           }
    }
    function ResetDeficiencyModalDefaults()
    {
        $('#txtDeficiencyCode').val('');
        $('#txtDeficiencyReceiptDate').val('');
        $('#txtDeficiencyDueDate').val('');
        $('#txtClosedDate').val('');
        $('#txtDeficiencyComment').val('');
    }
    //Update Deficiency
    function UpdateDeficiency()
    {
        var error = [];
        error = validateDeficiency(error);
        if (error.length > 0)
        {
            custAlertMsg(error.join("<br/>"), "error");
        }
        else
        {
          AjaxCallUpdateDeficiency(DeficiencyData);
        }
    }
    function AjaxCallUpdateDeficiency(DeficiencyData)
    {
        ShowPleaseWait('show');
        $.post("@Url.Content("~/Regulatory/RegulatoryMain/UpdateDeficiency")", DeficiencyData,
            function (result)
            {
                //  $('#hdDeficiencyID').val(result._DeficiencyID);
                  switch (result.msgType)
                  {
                      case "error":
                        custAlertMsg(result.msg, "error");
                        break;
                      case "sysError":
                          custAlertMsg(result.msg, "error","GetBackToMainPage();");
                        break;
                    case "success":
                          custAlertMsg(RA_Errormsg54, "success", "ReloadDeficiencyDatatable();");
                        break;
                }
            }, 'json').always(function () {
                ShowPleaseWait('hide');
            });
    }
    function ReloadDeficiencyDatatable()
    {
        $('#myModalDeficiency').modal('hide');
       // GetDeficiencyList();
    }
    //Deficiency Validation's
    function validateDeficiency(errors)
    {
        var _DeficiencyStatus = $('#txtDeficiencyStatus').val();
        var dossierStatus = $('#hdDossierStatus').val();
        $('#hdDossierStatus').val(dossierStatus);//Create Deficiency Page Hiden Field
        $('#hdnDeficiencyStatus').val(_DeficiencyStatus);
        var ApproverID, closedDate,Deficiency_Status;
        if (dossierStatus == "U" || (dossierStatus == "A" && _DeficiencyStatus == "Open"))
        {
            ApproverID = $('#ddlDeficiencyApproverId').val();
            closedDate = null;
            Deficiency_Status = "1";
        }
        //else if (dossierStatus == "A" && _DeficiencyStatus == "Open")
        //{
        //    ApproverID = $('#ddlDeficiencyApproverId').val();
        //    closedDate = null;
        //    Deficiency_Status = "1";
        //}
        else
        {
           var approverID = $('#ddlApproverId').val();
            ApproverID = approverID == undefined ? $('#hdDossierApproverID').val() : $('#ddlApproverId').val();
            closedDate = $('#txtClosedDate').val();
            Deficiency_Status = "2";
        }

        DeficiencyData = {
            DeficiencyCode: $.trim($('#txtDeficiencyCode').val()),
            ProductDossierID: $('#hdProductDossierID').val(),
            ApproverID:  ApproverID,
            TypeOfDeficiencyID: $('#ddlTypeofDeficiencyID').val() ,
            DeficiencyReceiptDate: $('#txtDeficiencyReceiptDate').val(),
            DueDate: $('#txtDeficiencyDueDate').val(),
            ClosedDate: closedDate,
            Remarks: $('#txtDeficiencyComment').val(),
            DeficiencyID: $('#hdDeficiencyID').val(),
            DeficiencyStatus: Deficiency_Status,
            DossierStatus: dossierStatus
        };
        $('#hdDeficiencyReceiptDate').val(DeficiencyData.DeficiencyReceiptDate);
        $('#hdDeficiencyDueDate').val(DeficiencyData.DueDate);

        if (DeficiencyData.DeficiencyCode == "")
        {
            errors.push(RA_Errormsg47);
        }
        if (DeficiencyData.TypeOfDeficiencyID == 0 || DeficiencyData.TypeOfDeficiencyID == null)
        {
            errors.push(RA_Errormsg48);
        }
        if (DeficiencyData.DeficiencyReceiptDate == "")
        {
            errors.push(RA_Errormsg49);
        }
        if (DeficiencyData.DueDate == "")
        {
            errors.push(RA_Errormsg50);
        }
        if (dossierStatus == "U")
        {
            if (DeficiencyData.ApproverID == 0 || DeficiencyData.ApproverID == null)
            {
                errors.push(RA_Errormsg51);
            }
        }
        return errors;
    }
    //Deficiency Observation
    function CreateNewObservation()
    {
        setTimeout(function () { $("#btnCreateObservation").attr("disabled", true); }, 1000);
        var ObservationID = 0;
        $("#divLoadObservationPopup").empty();
        $("#divLoadObservationPopup").load("@Url.Content("~/Regulatory/RegulatoryMain/_CreateObservation")?ObservationID=" + ObservationID + "", function () {
            LoadFunctionalArea();
            bindOnPaste();
             $('#myModalObservation').modal('show');
             $('#divObservationRemarks').hide();
        setTimeout(function () { $("#btnCreateObservation").attr("disabled", false); }, 1000);
        });
    }
    function OpenUploadAttachment() {
        $("#modalDeficiencyAttachmentUpload").modal("show");
    }
</script>

<!--Under Review  Process-->
<script>
    function SubmitForApproval() {
        var DeficiencyData = {
            "DeficiencyID": $('#hdDeficiencyID').val(),
            "Remarks": $('#txtDeficiencyComment').val(),
        }
          $.post("@Url.Content("~/Regulatory/RegulatoryMain/DeficiencySubmitForApproval")", DeficiencyData,
            function (result)
            {
                ShowPleaseWait('hide');
                switch (result.msgType)
                {
                    case "error":
                        custAlertMsg(result.msg, "error","GetBackToMainPage();");
                        break;
                    case "success":
                        custAlertMsg(RA_Errormsg52, "success","AfterDeficiencySubmitForApproval();");
                        break;
                }
            }, 'json').always(function () {
                ShowPleaseWait('hide');
            });
    }
    function AfterDeficiencySubmitForApproval()
    {
        GetDeficiencyList();
        $("#myModalDeficiency").modal("hide");
    }
     function GetBackToMainPage()
     {
            var ListType = 0;//pending List type
            window.open('@Url.Content("~//Regulatory/RegulatoryMain/DossierMainList?ShowType=")'+ListType, '_self');
     }
</script>

<!-- initial load-->
<script>
    var minSubmissionDate;
    var DeficiencyReceiptDate;
    $(function () {
        var DossierCurrentStatus =  $('#hd_DossierCurrentStatus').val();
        var DeficiencyCurrentStatus = '@Model.DeficiencyCurrentStatus';
        $('#hdnDeficiencyCurrentStatus').val(DeficiencyCurrentStatus);
        $('#hdDeficiencyID').val('@Model.DeficiencyID');
        var DeficiencyID = '@Model.DeficiencyID';
        if (DeficiencyID > 0)
        {
            $('#txtDeficiencyCode').val('@Model.DeficiencyCode');
            $('#txtDeficiencyReceiptDate').val('@Model.DeficiencyReceiptDate');
            $('#hdDeficiencyReceiptDate').val('@Model.DeficiencyReceiptDate');
            $('#hdDeficiencyDueDate').val('@Model.DueDate');
            $('#txtDeficiencyDueDate').val('@Model.DueDate');
            $('#txtClosedDate').val('@Model.ClosedDate');
            $('#txtDeficiencyStatus').val('@Model.DeficiencyStatus');
            $('#DefTitle').html('Edit Deficiency');
            minSubmissionDate = '@Model.SubmissionDate';
            DossierStatus = '@Model.DossierStatus';
            $('#hdDossierStatus').val(DossierStatus);
            $('#hdnDeficiencyStatus').val('@Model.DeficiencyStatus');
            if (DossierStatus == "U" || (DossierStatus == "A" && '@Model.DeficiencyStatus' =="Open" ))
            {
                $('.divCloseDate').hide();
                $('#divApprover').show();
                $('#txtDeficiencyStatus').val('Open');
                if (DeficiencyCurrentStatus == 1)
                {//create Deficiency
                    $('#divbtnDeficiency').hide();
                    //$('#divDeficiencyComments').hide();
                }
                if (DeficiencyCurrentStatus == 4)
                {//Revert
                    $('#btnUpdate').show();
                    $('#btnSubmit').hide();
                    $('#btnApproval').hide();
                }
            }
            else
            {
                    $('#txtDeficiencyStatus').val('Close');
                    $("#txtDeficiencyStatus").prop("disabled", true);
                    $('#btnUpdate').show();
                    $('#btnSubmit').hide();
                    $('.divCloseDate').show();
                    $('#divApprover').hide();
            }
            $('#hdnSubmissionDate').val(minSubmissionDate);
            OnUpdateDeficiencyDateValidation();
        }
        else
        {
            minSubmissionDate = $('#hdnSubmissionDate').val();
            DossierStatus = $('#hdDossierStatus').val();
            if (DossierStatus == "U" )
            {
                $('.divCloseDate').hide();
                $('#divApprover').show();
                $('#txtDeficiencyStatus').val('Open');
            }
            else
            {
                if (DossierCurrentStatus == 8)
                {
                    $('#txtDeficiencyStatus').val('Open');
                    $('.divCloseDate').hide();
                    $('#divApprover').show();
                }
                else
                {
                    $('#txtDeficiencyStatus').val('Close');
                    $("#txtDeficiencyStatus").prop("disabled", true);
                    $('.divCloseDate').show();
                    $('#divApprover').hide();
                }
            }
            OnCreateDeficiencyDateValidation();
        }
        if ('@Model.DeficiencyAttachmentID' > 0)
        {
            $('#divAttachmentList').show();
            loadDefAttachments();
        }
        if (@Model.DeficiencyCurrentStatus== 1)
        {
            DossierStatus = $('#hdDossierStatus').val();
            if (DossierStatus == "U" || (DossierStatus == "A" && '@Model.DeficiencyStatus' =="Open" ))
            {
                $('.DeficiencyDisable').prop("disabled", true);//Deficiency Current Status 1:'Create Deficiency' the Disable the All the Fields
                $('.DefCreateHide').hide();
                $('.DefCreateshow').show();
                $('#txtddlTypeofDeficiencyName').val('@Model.TypeOfDeficiencyName');
                $('#txtApproverName').val('@Model.ApproverName');
                $('#btnUpdate').hide();
            }
            else
            {
                $('#btnUpdate').show();
            }
        }
        if (@Model.ObservationCount!= 0 && DeficiencyCurrentStatus != 4) {//if Deficiency Wise Observation Exist it show the Submit For Approval Button
            $('#divBtnApproval').show();
        }
        @*if (DossierStatus == "A" && '@Model.DeficiencyStatus' =="Open")
        {
            $('#divBtnApproval').show();
        }*@
        var ShowType=$('#hdshowType').val();
        if (ShowType=="6")
        {
            $('.DeficiencyDisable').prop("disabled", false);//Deficiency Current Status 1:'Create Deficiency' the Disable the All the Fields
            $("#ddlTypeofDeficiencyID").prop("disabled", false);
            $(".btn[data-id='ddlTypeofDeficiencyID']").removeClass("disabled")
            $('.DefCreateHide').show();
            $('.DefCreateshow').hide();
        }
    });
</script>
