﻿@using System.Data;
<input type="hidden" value="0" id="hdDeficiencyID" />
<input type="hidden" value="0" id="hdHistoryTblID" />
<input type="hidden" value="" id="hdDossierStatus" />
<input type="hidden" value="0" id="hd_DossierCurrentStatus" />
<input type="hidden" value="0" id="hdDeficiencyCount" />

<div class="col-12 float-left padding-none">
    <div class="card mb-0 col-12 top padding-none">
        <div class="col-12 regulatory_create-heading_title card-header header_col " data-toggle="collapse" data-parent="#accordionDeficiency" href="#collapseDeficiency" id="DeficiencyHeader">Deficiency List</div>
        <div class="col-12 regulatory_create_panel_hod float-left collapse show grid_panel_hod bottom" id="collapseDeficiency" data-parent="#accordionDeficiency">
            <div class="col-12"><button type="button" data-toggle="modal" id="CreateNewDefbtn" style="margin-bottom:3px" class="btn btn-sm float-left  listbtn newbtn " onclick="CreateNewDeficiency();">Create Deficiency</button></div>
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top  divtblDeficiencyList ">
                <table id="tblDeficiencyList" class="table float-left datatable_cust table-striped  table-bordered float-left breakword" style="width:100%">
                    <thead>
                        <tr>
                            <th>Deficiency ID</th>
                            <th>Application No.</th>
                            <th>Product Name</th>
                            <th>Type of Deficiency</th>
                            <th>Deficiency Code</th>
                            <th>Receipt Date</th>
                            <th>Due Date</th>
                            <th>Deficiency Status</th>
                            <th>Deficiency Current Status</th>
                            @*<th>ProductDossierID</th>
                            <th>CurrentStatusID</th>
                            <th>AuthorID</th>
                            <th>DossierCurrentStatusID</th>
                            <th>DossierCreatedAs</th>
                            <th>Approver ID</th>*@
                            <th>Product Details</th>
                            <th>Action</th>
                            <th>History</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="divLoadDeficiencyPopups"></div>
@Html.Partial("_AttachmentViewer")

@Html.Partial("_UploadAttachments")
<!--ProductDossierModalPopup-->
<div class="modal fade" role="dialog" id="myModalProductDossier" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txt">View Product Details</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="LoadProductDossierPopup" style="max-height: 600px;  overflow-y: auto;">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm top cancelbtn float-right" data-dismiss="modal">
                    <span>
                        &#10006
                    </span>Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--Deficiency Submit-->
<script>
    var PageInitSelectPicker = PageInitDeficiencyDetails = false;
    $(function () {
        if (!PageInitSelectPicker) {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true,
                size: 7
            });
        }
        PageInitSelectPicker = true;
    });

    function CreateNewDeficiency()
    {
        setTimeout(function () { $("#CreateNewDefbtn").attr("disabled", true); }, 0);
        var DeficiencyID = 0;
        var DossierStatus = $('#hdDossierStatus').val();
        $('#hdDossierStatus').val(DossierStatus);
       // var DossierCurrentStatus = $("#hdnCurrentStatus").val();
        $('#hd_DossierCurrentStatus').val($("#hdnCurrentStatus").val());
         $("#divLoadDeficiencyPopups").empty();
         $("#divLoadDeficiencyPopups").load("@Url.Content("~/Regulatory/RegulatoryMain/_CreateDeficiency")?DeficiencyID=" + DeficiencyID + "", function () {
             $('#hdDeficiencyID').val(DeficiencyID);
             $("#myModalDeficiency").modal("show");
             CreateDeficiencyDropDownList();
        });
        setTimeout(function () { $("#CreateNewDefbtn").attr("disabled", false); }, 0);
    }
    //$('#myModalDeficiency').on('shown.bs.modal', function (e) {
    //    GetObservationList(0);
    //});
</script>

<!--Deficiency List-->
<script>
    var AuthenticatedDefEmpID = @Convert.ToInt32((Session["UserDetails"] as DataSet).Tables[0].Rows[0]["EmpID"]);
    var DeficiencyMode = $('#hdnDeficiencyMode').val();
     if (DeficiencyMode == "View")
    {
        $('#CreateNewDefbtn').hide();
    }
    var ShowType = $('#hdshowType').val();
    $(function () {
        if (!PageInitDeficiencyDetails)
        {
            if (ShowType == 11 || ShowType == 15) { 
                $('#DeficiencyHeader').text("Deficiency Pending List");
                $('#hdnObservationView').val('ObservationCreation');
            }
            else if (ShowType == 12) {
                $('#DeficiencyHeader').text("Deficiency Review List");
            }
            else if (ShowType == 14) {
                  $('#DeficiencyHeader').text("Deficiency Review List");
            }
            else if (ShowType == 13) {
                $('#DeficiencyHeader').text("Deficiency Reverted List");
                $('#hdnObservationView').val('ObservationCreation');
            }
            else if (ShowType == 16) {
                $('#DeficiencyHeader').text("Deficiency Completed List");
            }
            //else if (ShowType == 0 || ShowType == 1 || ShowType == 4 /*|| (ShowType == 3 && d !=8)*/)
            //{
            //   // $('#CreateNewDefbtn').hide();
            //}
            GetDeficiencyList();
            PageInitDeficiencyDetails = true;
        }
    });
    var otblDP_Deficiency=null;
    function GetDeficiencyList()
    {
        var ColumnHide = [];
        var ProductDetails = $('#hdnProductDetails').val();
        var ProductDossierID = $('#hdProductDossierID').val();
        if (ProductDetails == "Product")
        {
            ColumnHide = [0]
        }
        else
        {
            ColumnHide = [0,1,2,9]
        }
        if (otblDP_Deficiency != null) {
            otblDP_Deficiency.destroy();
        }
        otblDP_Deficiency = $('#tblDeficiencyList').DataTable({
            columns:
            [
                    { 'data': 'DeficiencyID' },//0
                    { 'data': 'ApplicationNumber' },//1
                    { 'data': 'ProductName' },//2
                    { 'data': 'TypeofDeficiency' },//3
                    { 'data': 'DeficiencyCode' }, //4
                    { 'data': 'DeficiencyReceiptDate' },//5
                    { 'data': 'DueDate' },//6
                    { 'data': 'DeficiencyStatus' },//7
                    { 'data': 'DeficiencyCurrentStatus' },//8
                    //{ 'data': 'ProductDossierID' },//9
                    //{ 'data': 'CurrentStatusID' },//10
                    //{ 'data': 'AuthorID' },//11
                    //{ 'data': 'DossierCurrentStatusID' },//12
                    //{ 'data': 'DossierCreatedAs' },//13
                    //{ 'data': 'AprroverID' },//13
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="view text-center" title="View Product" style="margin-left:0%" onclick="ViewProductDossier(this,' + o.ProductDossierID + ')"></a>';
                        }
                    },//14--15 9
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o)
                        {
                            
                              // $('#hd_DossierCurrentStatus').val(o.DossierCurrentStatusID);
                            if ($('#hdshowType').val() == 3 && (o.AuthorID != AuthenticatedDefEmpID) ) {
                                return '<a class="view text-center" title="View Deficiency" style="margin-left:0%" onclick="ViewDeficiency(this,' + o.DeficiencyID + ')"></a>';
                            }
                            else
                            {
                                if (o.DossierCreatedAs == "A" && o.DossierCurrentStatusID != 8)
                                {
                                    if (([1, 4].indexOf(o.DossierCurrentStatusID) > -1) && (o.AuthorID == AuthenticatedDefEmpID)) {
                                        return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit" title="Edit Deficiency" style="margin-left:0%" onclick="EditDeficiency(this,' + o.DeficiencyID + ',' + o.ProductDossierID + ')"></a>';
                                    }
                                    else {
                                        return '<a class="view text-center" title="View Deficiency" style="margin-left:0%" onclick="ViewDeficiency(this,' + o.DeficiencyID + ')"></a>';
                                    }
                                }
                                else if (o.DossierCreatedAs == "U")
                                {
                                    if (([1, 4].indexOf(o.CurrentStatusID) > -1) && (o.AuthorID == AuthenticatedDefEmpID)) {
                                        return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit" title="Edit Deficiency" style="margin-left:0%" onclick="EditDeficiency(this,' + o.DeficiencyID + ',' + o.ProductDossierID + ')"></a>';
                                    }
                                    else if (([2].indexOf(o.CurrentStatusID) > -1) && (ShowType == 12 || ShowType == 14)) {
                                        return '<a class="regulatory_approveicon text-center" title="Approve Deficiency" style="margin-left:0%" onclick="ViewDeficiency(this,' + o.DeficiencyID + ')"></a>';
                                    } else if (([2].indexOf(o.CurrentStatusID) > -1) && o.AprroverID == AuthenticatedDefEmpID) {
                                        return '<a class="regulatory_approveicon text-center" title="Approve Deficiency" style="margin-left:0%" onclick="ViewDeficiency(this,' + o.DeficiencyID + ')"></a>';
                                    }
                                    else {
                                        return '<a class="view text-center" title="View Deficiency" style="margin-left:0%" onclick="ViewDeficiency(this,' + o.DeficiencyID + ')"></a>';
                                    }
                                }
                                else
                                {
                                    if (([1, 4].indexOf(o.CurrentStatusID) > -1) && (o.AuthorID == AuthenticatedDefEmpID)) {
                                        return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit" title="Edit Deficiency" style="margin-left:0%" onclick="EditDeficiency(this,' + o.DeficiencyID + ',' + o.ProductDossierID + ')"></a>';
                                    }
                                    else if (([2].indexOf(o.CurrentStatusID) > -1) && (ShowType == 12 || ShowType == 14)) {
                                        return '<a class="regulatory_approveicon text-center" title="Approve Deficiency" style="margin-left:0%" onclick="ViewDeficiency(this,' + o.DeficiencyID + ')"></a>';
                                    }
                                    else if (([2].indexOf(o.CurrentStatusID) > -1) && o.AprroverID == AuthenticatedDefEmpID )
                                    {
                                        return '<a class="regulatory_approveicon text-center" title="Approve Deficiency" style="margin-left:0%" onclick="ViewDeficiency(this,' + o.DeficiencyID + ')"></a>';
                                    }
                                    else {
                                        return '<a class="view text-center" title="View Deficiency" style="margin-left:0%" onclick="ViewDeficiency(this,' + o.DeficiencyID + ')"></a>';
                                    }
                                }
                            }
                        }
                    },//15--16 10
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="btnRegulatoryAgencyEdit summary_latest History text-center" title="History" style="margin-left:0%" data-toggle="modal" data-target="#modalRegulatoryHistory" onclick="ViewDeficiencyHistory('+ o.DeficiencyID +')"></a>';
                        }
                    }//16--17 11
            ],
            "aoColumnDefs": [
                {
                    "targets": ColumnHide,
                    "visible": false,
                    "searchable": false
                },
                { className: "textAlignCenter", "targets": [4, 5, 6,9,10,11] }],
            "sAjaxSource": "@Url.Content("~/Regulatory/RegulatoryMain/GetDeficiencyList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "ShowType", "value": $('#hdshowType').val() },{ "name": "ProductDossierID", "value": ProductDossierID });//0:Dossier Wise Deficiency List
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result)
                    {
                        $('#hdDeficiencyCount').val(result.aaData.length)
                        if (result.msgType == "error")
                        {
                            custAlertMsg(result.msg, "error");
                        }
                        else
                        {
                            if (result.length == "error") {
                                custAlertMsg(result.msg, "error");
                            }
                            fnCallback(result);
                        }
                    },
                });
            }
        });
    }
</script>

<!--Edit Deficiency-->
<script>
    function EditDeficiency(cntrl, DeficiencyID, ProductDossierID)
    {
        $(cntrl).attr("onclick", "").unbind("click");
        ShowPleaseWait('show');
        $('#hdDeficiencyID').val(DeficiencyID);
        $('#hdProductDossierID').val(ProductDossierID);
        $("#divLoadDeficiencyPopups").empty();
        $("#divLoadDeficiencyPopups").load("@Url.Content("~/Regulatory/RegulatoryMain/_CreateDeficiency")?DeficiencyID=" + DeficiencyID + "", function ()
        {
            EditDeficiencyDropDownList();
            $("#myModalDeficiency").modal("show");
            $('#divObservationAndAttachment').show();
            $('.DeficiencyDisable').attr("disabled", false);
          //  $("#txtDeficiencyCode").prop("disabled", true);
            $('.DefCreateHide').show();
            $('.DefCreateshow').hide();
            $('#hdnDeficiencyMode').val("Edit");
        });
        ShowPleaseWait('hide');
        $(cntrl).attr("onclick", "EditDeficiency(this," + DeficiencyID + "," + ProductDossierID+")").unbind("click");
    }
</script>

<!--View Deficiency-->
<script>
    function ViewDeficiency(cntrl, DeficiencyID)
    {
        $(cntrl).attr("onclick", "").unbind("click");
        ShowPleaseWait('show');
        $('#hdDeficiencyID').val(DeficiencyID);
        $("#divLoadDeficiencyPopups").empty();
        $("#divLoadDeficiencyPopups").load("@Url.Content("~/Regulatory/RegulatoryMain/_ViewDeficiency")?DeficiencyID=" + DeficiencyID + "", function () {
            $("#ViewDeficiency").modal("show");
            $('#hdnDeficiencyMode').val("View");
            $('#hdnObservationView').val('ObservationView');
        });
        ShowPleaseWait('hide');
      $(cntrl).attr("onclick", "ViewDeficiency(this," + DeficiencyID + ")").unbind("click");
    }
</script>

<!--View Product Details-->
<script>
    function ViewProductDossier(cntrl,ProductDossierID)
    {
        $(cntrl).attr("onclick", "").unbind("click");
        ShowPleaseWait('show');
        $("#LoadProductDossierPopup").empty();
        $("#LoadProductDossierPopup").load("@Url.Content("~/Regulatory/RegulatoryMain/_ViewDossierDetails")?DossierID=" +ProductDossierID, function () {
            $("#myModalProductDossier").modal("show");
            $('#divDossierStatus').hide();
            $('#lblDivDossierStatus').show();
            $('#lblDivMarketingStatus').show();
            $('#divMarketingStatus').hide();
            $('#CreateNewDefbtn').hide();
        });
        ShowPleaseWait('hide');
        $(cntrl).attr("onclick", "ViewProductDossier(this," + ProductDossierID + ")").unbind("click");
    }
</script>
<!--Deficiency History-->
<script>
    function ViewDeficiencyHistory(DeficiencyID) {
        ViewRegulatoryHistory(DeficiencyID, 2);//2:deficiency table
    }
</script>