﻿@using System.Data;

<input type="hidden" value="0" id="hdObservationID" />
<input type="hidden" id="hdDossierStatus" value="" />

<table id="tblObservationList" class="table float-left datatable_cust table-striped  table-bordered breakword" style="width:100%">
    <thead>
        <tr>
            <th>Observation ID</th>
            @*<th>Application No.</th>
            <th>Product Number</th>*@
            <th>Functional Area</th>
            <th>Department</th>
            <th>Responsible Person</th>
            @*<th>Due Date</th>
            <th>Market</th>
            <th>Client</th>
            <th>Applicant</th>*@
            <th>Observation Status</th>
            <th>Observation Current Status</th>
            <th>ProductDossier ID</th>
            <th>Deficiency ID</th>
            <th>Action</th>
            <th>Delete</th>
            <th>History</th>
        </tr>
    </thead>
</table>

<script>
    var otblDP_Observation;   
    var ColumnHide = [];
    var AuthenticatedObserEmpID = @Convert.ToInt32((Session["UserDetails"] as DataSet).Tables[0].Rows[0]["EmpID"]);
    function GetObservationList(Deficiency_ID)
    {
        var DeficiencyID
        if (Deficiency_ID > 0)
        {
            DeficiencyID = Deficiency_ID;
        }
        else
        {
            DeficiencyID = $('#hdDeficiencyID').val();
        }
        var ObservationViewMode = $('#hdnObservationView').val();
        var DeficiencyMode = $('#hdnDeficiencyMode').val();
        var EditDeficiencyMode = $('#hdnEditDeficiencyMode').val();
        var ViewDeficiencyMode = $('#hdnViewDeficiencyMode').val();
        if (ViewDeficiencyMode == "ViewDef")
        {
            ColumnHide = [0, 6, 7, 9];
        }
        else if (EditDeficiencyMode == "EditDef")
        {
            ColumnHide = [0, 6, 7];
        }
        if (otblDP_Observation != null)
        {
            otblDP_Observation.destroy();
        }
        otblDP_Observation = $('#tblObservationList').DataTable({
            columns:
            [
                { 'data': 'ObservationID' },//0
                //{ 'data': 'ApplicationNumber' },//1
                //{ 'data': 'ProductName' },//2
                { 'data': 'FunctionalArea' },//3 1
                { 'data': 'DepartmentName' },//4 2
                { 'data': 'ResponsiblePerson' },//5 3
                //{ 'data': 'DueDate' },//6
                //{ 'data': 'Market' },//7
               // { 'data': 'Client' },//8
                //{ 'data': 'Applicant' },//9
                { 'data': 'ObservationStatus' },//10 4
                { 'data': 'ObservationCurrentStatus' },//11 5
                { 'data': 'ProductDossierID' },//12 6
                { 'data': 'DeficiencyID' },//13 7
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o)
                    {
                        if ($('#hdshowType').val() == 3) {//3 Product Details Main List
                            return '<a class="view" title="View Observation" style="margin-left:0%" onclick="ViewObservation(this,' + o.ObservationID + ')"></a>';
                        }
                        else
                        {
                            if (o.DossierCreatedAs == "A" && o.DossierCurrentStatusID != 8) {
                                if (([1, 4].indexOf(o.DossierCurrentStatusID) > -1) && DeficiencyMode != "View") {
                                    return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit"  onclick="EditObservation(this,' + o.ObservationID + ')"></a>';
                                }
                                else {
                                    return '<a class="view" title="View Observation" onclick="ViewObservation(this,' + o.ObservationID + ')"></a>';
                                }
                            }
                            else if (o.DossierCreatedAs == "U")
                            {
                                if (([1, 4].indexOf(o.DeficiencyCurrentStatusID) > -1) && (o.ObservationCurrentStatusID != 3) && (ObservationViewMode != "ObservationView")) {
                                    return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit" title="Edit Observation"  onclick="EditObservation(this,' + o.ObservationID + ')"></a>';
                                }
                                else {
                                    return '<a class="view" title="View Observation" onclick="ViewObservation(this,' + o.ObservationID + ')"></a>';
                                }
                            }
                            else
                            {
                                if (([1, 4].indexOf(o.DeficiencyCurrentStatusID) > -1) && (o.ObservationCurrentStatusID != 3) && (ObservationViewMode != "ObservationView")) {
                                    return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit" title="Edit Observation"  onclick="EditObservation(this,' + o.ObservationID + ')"></a>';
                                }
                                else {
                                    return '<a class="view" title="View Observation" onclick="ViewObservation(this,' + o.ObservationID + ')"></a>';
                                }
                            }
                        }
                    }
                    },//14 8
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            if (o.DossierCreatedAs == "A" && o.DossierCurrentStatusID != 8) {
                                if (([1, 4].indexOf(o.DossierCurrentStatusID) > -1)) {
                                    return '<a class="btnRegulatoryAgencyEdit delete_icon_feed" title="Delete" onclick="DeleteObservation(this,' + o.ObservationID + ')"></a>';
                                } else {
                                    return '';
                                }

                            }
                            else if (o.DossierCreatedAs == "U") {
                                if (([1, 4].indexOf(o.DeficiencyCurrentStatusID) > -1) && (o.ObservationCurrentStatusID != 3)) {
                                    return '<a class="btnRegulatoryAgencyEdit delete_icon_feed" title="Delete"  onclick="DeleteObservation(this,' + o.ObservationID + ')"></a>';
                                }
                                else {
                                    return '';
                                }
                            }
                            else {
                                if (([1, 4].indexOf(o.DeficiencyCurrentStatusID) > -1) && (o.ObservationCurrentStatusID != 3)) {
                                    return '<a class="btnRegulatoryAgencyEdit delete_icon_feed" title="Delete"  onclick="DeleteObservation(this,' + o.ObservationID + ')"></a>';
                                }
                                else {
                                    return '';
                                }
                            }

                        }
                    },//15 9
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="btnRegulatoryAgencyEdit summary_latest History" title="History" data-toggle="modal" data-target="#modalRegulatoryHistory" onclick="ViewObservationHistory(' + o.ObservationID + ')"></a>';
                        }
                    }//16 10
                ],
            "aoColumnDefs": [
            //    { "targets": [0, 1, 2, 6, 7, 8, 9, 12, 13], "visible": false },
            {
                "targets": ColumnHide,
                "visible": false,
                "searchable": false
            }, { className: "textAlignCenter", "targets": [2, 8, 9, 10] }],
            "lengthMenu": [[5,10, 25, 50], [5,10, 25, 50]],
            "sAjaxSource": "@Url.Content("~/Regulatory/RegulatoryMain/GetObservationList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "ShowType", "value": 17 }, { "name": "DeficiencyID", "value": DeficiencyID });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result)
                    {
                        if (result.msgType == "error")
                        {
                            custAlertMsg(result.msg, "error");
                        }
                        else
                        {
                            if (result.length == "error") {
                                custAlertMsg(result.msg, "error");
                            }
                            fnCallback(result);
                        }
                    },
                });
            }
        });
        }
      $('#myModalDeficiency').on('shown.bs.modal', function (e)
      {
          $('.dataTable').DataTable().draw();
            GetObservationList(0);
      });
</script>

<script>
    function ViewObservation(cntrl, ObservationID)
    {
        $(cntrl).attr("onclick", "").unbind("click");
        ShowPleaseWait('show');
        $("#divLoadViewObservation").empty();
        $("#divLoadViewObservation").load("@Url.Content("~/Regulatory/RegulatoryMain/_ViewObservation")?ObservationID=" + ObservationID + "", function () {
            $("#ViewObservationModal").modal("show");
        });
        ShowPleaseWait('hide');
            $(cntrl).attr("onclick", "ViewObservation(this," + ObservationID + ")").unbind("click");
    }
    function EditObservation(cntrl, ObservationID)
    {
        $('#divObservationRemarks').show();
        $(cntrl).attr("onclick", "").unbind("click");
        ShowPleaseWait('show');
        $('#hdObservationID').val(ObservationID);
        $(".btnCreateObservation").show();
        $("#divLoadObservationPopup").empty();
        $("#divLoadObservationPopup").load("@Url.Content("~/Regulatory/RegulatoryMain/_CreateObservation")?ObservationID=" + ObservationID + "", function () {
        $("#myModalObservation").modal("show");
        });
        ShowPleaseWait('hide');
        $(cntrl).attr("onclick", "EditObservation(this," + ObservationID + ")").unbind("click");
    }
        function DeleteObservation(cntrl,ObservationID) {
        $(cntrl).attr("onclick", "").unbind("click");
        $('#hdObservationID').val(ObservationID);
        if (ObservationID > 0) {
            custAlertMsg("Are you sure you want to Remove this Record ?", "confirm", "DeleteObservationConfirm();");
        }
        $(cntrl).attr("onclick", "DeleteObservation(this," + ObservationID + ")").unbind("click");
    }

     function DeleteObservationConfirm() {
         var ObservationID = $('#hdObservationID').val();
         var DeficiencyID = $('#hdDeficiencyID').val();
         var ObservationData = { "ObservationID": ObservationID, "DeficiencyID": DeficiencyID};
        $.post("@Url.Content("~/Regulatory/RegulatoryMain/DeleteObservation")", ObservationData,
            function (result) {
                  switch (result.msgType) {
                      case "error":
                          custAlertMsg(result.msg, "error");
                          break;
                      case "warning":
                          custAlertMsg("There should be at least one Observation for Deficiency","warning");
                          break;
                      case "success":

                          custAlertMsg("Observation Deleted", "success", "GetObservationList('" + DeficiencyID+"');");
                          break;
                }
            }, 'json');
        }

    function ViewObservationHistory(ObservationID) {
         $('#hdObservationID').val(ObservationID);
         ViewRegulatoryHistory(ObservationID, 3);
     }
</script>
