﻿<div class="modal fade" id="modalRegulatoryHistory" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="min-width:90%;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">History</h4>
                <button type="button" class="close" onclick="$('#modalRegulatoryHistory').modal('hide')">&times;</button>
            </div>
            <div class="modal-body">
                <table id="tblRegulatoryHistory" class="table datatable_cust table-striped table-bordered top" style="width:100%">
                    <thead>
                        <tr>
                            <th>History ID </th>
                            <th>Action</th>
                            <th>Role</th>
                            <th>Action By</th>
                            <th>Action Date</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var _HistoryBaseID=0, _HistoryTableID=0;
    function ViewRegulatoryHistory(BaseID, TableID)
    {
        _HistoryBaseID = BaseID;
        _HistoryTableID = TableID;
        $('#modalRegulatoryHistory').show();
        RegulatoryHistory(_HistoryBaseID, _HistoryTableID);
    }  
    var otblRegulatoryHistory;
    function RegulatoryHistory(_HistoryBaseID, _HistoryTableID)
    {
        if (otblRegulatoryHistory!=null) {
            otblRegulatoryHistory.destroy();
        }
        otblRegulatoryHistory = $('#tblRegulatoryHistory').DataTable({
        columns:
        [
                { 'data': 'History_ID' },//0
                { 'data': 'ActionStatus' },//1
                { 'data': 'ActionRole' },//2
                { 'data': 'ActionBy' },//3
                { 'data': 'ActionDate' },//4
                { 'data': 'Comments' }//5

            ],
            "aoColumnDefs": [{ "targets": [0], "visible": false },
                { className: "textAlignCenter", "targets": [0] }, { "orderable": false, "targets": [0,1,2,3,4,5]}],
        "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
        "sAjaxSource": '@Url.Content("~/Regulatory/RegulatoryMain/GetDossierHistoryList")',
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "BaseID", "value": _HistoryBaseID }, { "name": "TableID", "value": _HistoryTableID });
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {
                    if (result.msgType == "error") {
                        custAlertMsg(result.msg, "error");
                    }
                    else {
                        fnCallback(result);
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
    }
</script>