﻿<link href=@Url.Content("~/Content/bootstrap-fileinput/css/fileinput.css") rel="stylesheet" />
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/fileinput.js")></script>
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/theme.js")></script>

@Html.Hidden("hdnDeficiencyFilesUploadCount")

<div id="modalDeficiencyAttachmentUpload" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <form enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Add Attachment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body Modalpopup-Scroll">                   
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                        <label class=" custom_label col-form-label"></label>
                        <div class="file-loading">
                            <input id="fuDeficiencyReport" class="custom-file-input" name="DeficiencyReportFileUpload" type="file" multiple accept="application/msword,text/plain, application/pdf, image/*">
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                </div>
            </form>
        </div>
    </div>
</div>
<!--Deficiency File Upload-->
<script>
    var AllDeficiencyFilesUploaded=0;
    $("#fuDeficiencyReport").fileinput({
             'theme': 'explorer-fa',
             'uploadUrl': '@Url.Content("~/Regulatory/RegulatoryMain/DeficiencyAttachments")',
             'showUpload': true,
             'showCancel': false,
             'showClose':true,
             'maxFileCount': 5,
             'maxFileSize':10000,
             'required': true,
             'overwriteInitial': false,
             'allowedFileExtensions': ['jpg', 'png', 'docx', 'doc', 'pdf', 'txt','rtf'],
             'initialPreviewAsData': true,
             'uploadExtraData': function () {
                 var fileExtraData = {
                     "DeficiencyID": $('#hdDeficiencyID').val()
                 }
                 return fileExtraData;
             },
             'browseOnZoneClick': true,
             'fileActionSettings':
             {
                showUpload: false,
                showRemove: true
             }            
        });
    $('#fuDeficiencyReport').on('fileuploaded', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        if (response.msg != null) {
            AllDeficiencyFilesUploaded = AllDeficiencyFilesUploaded + 1;
            if (AllDeficiencyFilesUploaded == parseInt($('#hdnDeficiencyFilesUploadCount').val()))
            {
                custAlertMsg(response.msg, response.msgType, 'clearDeficiencyFileInput()');
                $('#divAttachmentList').show();
                loadDefAttachments();
            }
        }
    });

    function clearDeficiencyFileInput()
    {
        $('#fuDeficiencyReport').fileinput('clear');
    }

    $('#fuDeficiencyReport').on('filepreupload', function (event, data, previewId, index, jqXHR) {
        AllDeficiencyFilesUploaded = 0;
        $('#hdnDeficiencyFilesUploadCount').val(data.filescount);
        var fileNamesExceedCount = 0;
        //fileNamesExceedCount = data.filenames.length;
        $('.file-preview-thumbnails>.file-preview-frame.explorer-frame.kv-preview-thumb').each(function () {
            if ($(this).find('.explorer-caption').attr('title').length > 200)
            {
                fileNamesExceedCount++;
                $(this).find('.explorer-caption').css("color", "red");
            }
        });
        if (fileNamesExceedCount > 0)
        {
            var strMsg = fileNamesExceedCount + ' file name exceed' + (fileNamesExceedCount > 1 ? 's' : '') + ' 200 characters';
            return
            {
                message: strMsg
            };
        }
    });

    $('#fuDeficiencyReport').on('filecustomerror', function (event, params, msg) {
        $('.kv-fileinput-error.file-error-message').empty();
        var errorMsg = '<button type="button" class="close kv-error-close" aria-label="Close">' +
            '<span aria-hidden="true">×</span></button>' +
            '<ul><li>' + msg + '</li></ul>';
        $('.kv-fileinput-error.file-error-message').html(errorMsg);
    });
</script>

