﻿@model AizantIT_PharmaApp.Areas.Regulatory.Models.RegulatoryViewModel.ViewDeficiencyModel
<!--Module Deficiency Pop-up-->
<input type="hidden" value="" id="hdDeficiencyReceiptDate" />
<input type="hidden" value="" id="hdDeficiencyDueDate" />
<input type="hidden" value="ViewDef" id="hdnViewDeficiencyMode" />
<input type="hidden" value="9" id="hdnShowType" /><!--8:Deficiency Wise Observation's -->

<div id="ViewDeficiency" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" style="max-width:80%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deficiency Details</h4>
                <button type="button" class="close" onclick="LoadDeficiency();" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body Modalpopup-Scroll" id="deficiencyLoad">
                <div class="col-xl-12 padding-none">
                    <div class="col-xl-12 padding-none">
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                            <label for="" class="col-12 custom_label">DeficiencyCode</label>
                            <div class="product_inputview">@Html.DisplayFor(model => model.DeficiencyCode)</div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                            <label for="" class="col-12 custom_label">Type of Deficiency</label>
                            <div class="product_inputview">@Html.DisplayFor(model => model.TypeOfDeficiencyName)</div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                            <label for="" class="col-12 custom_label">Deficiency Receipt Date</label>
                            <div class="product_inputview">@Html.DisplayFor(model => model.DeficiencyReceiptDate)</div>
                        </div>

                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                            <label for="" class="col-12 custom_label">Due Date</label>
                            <div class="product_inputview">@Html.DisplayFor(model => model.DueDate)</div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                            <label for="" class="col-12 custom_label">Status</label>
                            <div class="product_inputview">@Html.DisplayFor(model => model.DeficiencyStatus)</div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none" id="divCloseDate">
                            <label for="" class="col-12 custom_label">Closed Date</label>
                            <div class="product_inputview">@Html.DisplayFor(model => model.ClosedDate)</div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none" id="divApproveName">
                            <label for="" class="col-12 custom_label">Approver</label>
                            <div class="product_inputview">@Html.DisplayFor(model => model.ApproverName)</div>
                        </div>
                    </div>
                </div>
                <div id="divObservationAndAttachment">
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none top divDeficiencyObservationAttachment ">
                        <ul class="nav nav-tabs tab_grid">
                            <li class="nav-item " id="deficiencyTab"><a class="nav-link active" data-toggle="tab" href="#ObservationTabcontent">Observation List</a></li>
                            <li class="nav-item" id="attachmentsTab"><a class="nav-link" data-toggle="tab" href="#attachmentsTabcontent">Attachments</a></li>
                        </ul>
                    </div>
                    <div class="tab-content  float-left col-lg-12 padding-none top">
                        <div id="ObservationTabcontent" class="tab-pane active">
                            <div class="col-12 float-left top">
                                <div class="col-12 regulatory_create_panel_hod float-left">                                  
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 " id="loadObservationList">
                                        @Html.Partial("~/Areas/Regulatory/Views/RegulatoryMain/_ObservationList.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="attachmentsTabcontent" class="tab-pane ">
                            <div class="col-12 regulatory_create_panel_hod float-left">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">
                                    <div id="attachmentgrid_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                        <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                                            <div class="col-sm-12">
                                                @Html.Partial("~/Areas/Regulatory/Views/RegulatoryMain/_AttachmentListView.cshtml")
                                            </div>
                                        </div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="divDeficiencyComments" style="display:none" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom">
                        <label class="custom_label col-form-label">Comments</label>
                        <textarea class="form-control" rows="3" id="txtDeficiencyComment" maxlength="250"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12 float-right">
                    <div class="padding-left_div float-right">
                        <button type="button" class="btn btn-sm top cancelbtn float-right" onclick="LoadDeficiency();" data-dismiss="modal">
                            <span>
                                &#10006
                            </span>  Cancel
                        </button>
                    </div>
                    <div class="float-right" id="divBtnApproveOrRevert">
                        <button type="button" class="draw btn top btn-sm buttons-approve" onclick="DeficiencyApproveOrRevert('5')">Approve</button><!--5 Approved-->
                        <button type="button" class="btn btn-sm top buttons-revert" onclick="DeficiencyApproveOrRevert('4')"> Revert</button><!--4 Revert-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divLoadViewObservation"></div>

<!--call Electronic Signature -->
@Html.Partial("_ElectronicPartialView")
<script>
    var DeficiencyID = '@Model.DeficiencyID';
    var DeficiencyMode = $('#hdnDeficiencyMode').val();
    var DeficiencyStatus = '@Model.DeficiencyCurrentStatus';
    var DeficiencyMode = $('#hdnDeficiencyMode').val();
    var Approver = '@Model.ApproverID';
    if (('@(new int[] {2}.Contains(Model.DeficiencyCurrentStatus))' == 'True') && (@Model.ApproverID==@Model.AuthenticationEmpID))
    {
        $('#divBtnApproveOrRevert').show();
        $('#divDeficiencyComments').show();
    }
    else {
        $('#divBtnApproveOrRevert').hide();
    }
   // var values = [2,4,5,6]
    if ('@Model.DossierStatus' == 'A' && (DeficiencyStatus == 1 || DeficiencyStatus == 3))
    {
       if (@Model.DossierCurrentStatus== 8) {
            $('#divApproveName').show();
            $('#divBtnApproveOrRevert').hide();
            $('#divCloseDate').hide();
            
        }
        else {
            $('#divApproveName').hide();
            $('#divBtnApproveOrRevert').hide();
            $('#divCloseDate').show();
        }
    }
    else if ('@Model.DossierStatus' == 'U')
    {
        $('#divApproveName').show();
        $('#divCloseDate').hide();
    }
    else
    {
        if ('@Model.DossierStatus' == 'A' && DeficiencyStatus == 6)
        {
            $('#divApproveName').hide();
            $('#divCloseDate').show();
        }
        else {
        $('#divApproveName').show();
        $('#divCloseDate').hide();
        }
    }
    if ((@Model.DeficiencyAttachmentID==0) && DeficiencyMode == "View")
    {
        $('#attachmentsTab').hide();
    }
    function OpenUploadAttachment()
    {
        $("#modalDeficiencyAttachmentUpload").modal("show");
    }
    var DeficiencyMode = $('#hdnDeficiencyMode').val();
    if (DeficiencyMode == "View") {
        $('#AddAttachmentsbtn').hide();
    }
   
    $('#ViewDeficiency').on('shown.bs.modal', function (e) {
        var Showtype = $("#hdnShowType").val();
        if (Showtype == 9)
        {
            GetObservationList(@Model.DeficiencyID);
        }
        else
        {
            if (window.location.pathname != "/Regulatory/RegulatoryMain/ObservationMainList") {
                GetObservationList($('#hdDeficiencyID').val());
            }
        }
    });
       //Deficiency Observation
    function CreateNewObservation()
    {
        ShowPleaseWait('show');
        var ObservationID = 0;
        $("#divLoadViewObservation").empty();
        $("#divLoadViewObservation").load("@Url.Content("~/Regulatory/RegulatoryMain/_CreateObservation")?ObservationID=" + ObservationID + "", function () {
              LoadFunctionalArea();
             $('#myModalObservation').modal('show');
        });
        ShowPleaseWait('hide');
    }

    $('#hdDeficiencyReceiptDate').val('@Model.DeficiencyReceiptDate');
    $('#hdDeficiencyDueDate').val('@Model.DueDate');
    var Approvaltype = "";
    function DeficiencyApproveOrRevert(DeficiencyStatus)
    {
         Approvaltype = DeficiencyStatus;
         var Comments = $("#txtDeficiencyComment").val().trim();
         var Remarks = Comments.trimLeft(" ");
        if (Approvaltype == 4 && Remarks == "")
        {
            custAlertMsg('Enter comments', "error", "FocusOnComments();");
        }
        else
        {
            ElectronicSignPopupOpen('DeficiencyApproval');
        }
    }

    function DeficiencyApproval() {
        var msg = "Approved";
        var DeficiencyStatus = 5;
            if (Approvaltype == 4)
            {
                msg = "Reverted";
                DeficiencyStatus = 4;
            }
            var DeficiencyData = {
                "DeficiencyID": '@Model.DeficiencyID',
                "DeficiencyComment": $('#txtDeficiencyComment').val().trim(),
                "DeficiencyStatus": DeficiencyStatus
            };
            if (DeficiencyData.DeficiencyStatus == 4) {
                if (DeficiencyData.DeficiencyComment == "")
                {
                    custAlertMsg("Enter Comments.", "error");
                    return false;
                }
            }
            
            $.post("@Url.Content("~/Regulatory/RegulatoryMain/DeficiencyApproval")", DeficiencyData,
                function (result)
                {
                    ShowPleaseWait('hide');
                    switch (result.msgType)
                    {
                        case "error":
                            custAlertMsg(result.msg, "error", "GetBackToMainList();");
                            break;
                        case "success":
                            custAlertMsg("Deficiency has been " + msg, "success", "GetBackToMainList();");
                            break;
                    }
                }, 'json').always(function () {
                    ShowPleaseWait('hide');
                });
        }

     function GetBackToMainList()
     {
         $("#ViewDeficiency").modal("hide");
         GetDeficiencyList();
          window.location.href = '@Url.Action("DeficiencyMainList", "RegulatoryMain", routeValues: new { area = "Regulatory",ShowType = 12})';
      }
     function LoadDeficiency()
     {
         if ($('#hdnShowType').val() != 15 || $('#hdnShowType').val() != 23 )
         {
             GetDeficiencyList();
         }
     }
     function FocusOnComments()
     {
        $('#txtcomments').focus();
     }
</script>

<script>
    if ('@Model.DeficiencyStatus' == 'Close')
    {
        $("#divBtnApproveOrRevert").hide();
    }
</script>

<!---To Load Observation && attachment List On Tab Click--->
<script>
    $(document).ready(function ()
    {
        $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
            var anchor = $(e.target).attr('href');
            if (anchor == "#ObservationTabcontent") {
                if (otblDP_Observation != null || otblDP_Observation != "") {
                    otblDP_Observation.draw();
                }
                else {
                    GetObservationList(@Model.DeficiencyID);
                }
            }
            else if (anchor == "#attachmentsTabcontent") {
                if (oDeficiencyAttachments != null) {
                    oDeficiencyAttachments.draw();
                }
                else {
                    loadDefAttachments();
                }
            }
        });
    });
</script>