﻿@model AizantIT_PharmaApp.Areas.Regulatory.Models.RegulatoryViewModel.ViewDossierModel
@Html.HiddenFor(a => a.ProductDossierID, new { id = "hdProductDossierId" })
<input type="hidden" value="" id="hdnDossierStatus" />
<input type="hidden" value="" id="hdnReviewerDate" />
<input type="hidden" value="" id="hdnGoalDate" />
<input type="hidden" value="" id="hdnCurrentStatus" />
<input type="hidden" value="" id="hdnSubmissionDate" />
<input type="hidden" value="0" id="hdnProductApproverID" />
<div id="divProductDetailsViewMain">
    <div id="accordioncreate" class="col-12 accordion float-left padding-none top bottom">
        <div class="card mb-0">
            <div class="col-12 regulatory_create-heading_title card-header header_col " data-toggle="collapse" data-parent="#accordioncreate" href="#collapsecreate">Product Details</div>
            <button class="btn btn-sm innerbtn" data-toggle="modal" data-target="#modalRegulatoryHistory" onclick="ViewDossierHistory();">History</button>
            <div class="col-12 regulatory_create_panel_hod float-left collapse show" id="collapsecreate" data-parent="#accordioncreate">
                <div class="col-12 float-left">
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none clsforlbldivStatus " id="lblDivDossierStatus">
                        <label for="" class="col-12 custom_label ">Dossier Status</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.DossierStatus)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none clsfordivFieldStatus" style="display:none" id="divDossierStatus">
                        <label for="" class="col-12 custom_label ">Dossier Status</label>
                        <div class="col-12">
                            <select class="col-lg-12 selectpicker regulatory_dropdown_style padding-none show-tick ProductEditMode ResetField" title="Select Process Type" id="ddlDossierStatus" onchange="OnDossierStatusChange(this.value);">
                                <option value="U" selected>Under Review</option>
                                <option value="A">Approved</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label class="col-12 custom_label">Application Number</label>
                        <div id="divAppNum" class="product_inputview">@Html.DisplayFor(model => model.ApplicationNumber)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label">Product</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.ProductName)</div>
                    </div>
                </div>
                <div class="col-12 float-left">
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label">Client</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.ClinetName)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label">Applicant</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.ApplicantName)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                        <label class="col-12 custom_label"> Dosage Form</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.DosageForm)</div>
                    </div>
                </div>
                <div class="col-12 float-left">
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                        <label class="col-12 custom_label">Market</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.MarketName)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label class="col-12 custom_label">Country</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.CountryName)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label">Drug Product Manufacturing Site</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.DPManufacturingSiteName)</div>
                    </div>
                </div>
                <div class="col-12 float-left">
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label">Shelf Life (In Months)</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.ShelfLifeID)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none clsforlbldivStatus" id="lblDivMarketingStatus">
                        <label for="" class="col-12 custom_label ">Marketing Status</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.MarketingStatus)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none " style="display:none" id="divMarketingStatus">
                        <label class="col-12 custom_label col-form-label">Marketing Status</label>
                        <div class="col-12">
                            <select class="col-lg-12 selectpicker drop_down regulatory_dropdown_style padding-none show-tick" title="--Select--" data-size="5" data-live-search="true" id="ddlMarketStatus">
                                <option value="0">--Select--</option>
                                <option value="1">Yes</option>
                                <option value="2">No</option>
                                <option value="3" selected>NA</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label">Author</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.AuthorName)</div>
                    </div>

                </div>
                <div class="col-12 float-left">
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label">Current Status</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.DossierCurrentStatus)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label">Strength</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.Strength)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label ">Date of Submission</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.SubmissionDate)</div>
                    </div>
                </div>
                <div class="col-12 float-left">
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none" id="lblDivReviewAcceptedDate">
                        <label for="" class="col-12 custom_label">Review Accepted Date</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.ReviewAcceptedDate)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none " id="divReviewAcceptedDate" style="display:none">
                        <label for="" class="col-12 custom_label">Review Accepted Date</label>
                        <div class="col-sm-12 ">
                            <input id="txtReviewAcceptedDate" class="form-control DossierDisable   regulatory_inputborder" placeholder="Enter Review Accepted Date" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none" id="lblDivGoalDate">
                        <label for="" class="col-12 custom_label">Goal Date</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.GoalDate)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none " id="divGoalDate" style="display:none">
                        <label for="" class="col-12 custom_label">Goal Date</label>
                        <div class="col-sm-12 ">
                            <input id="txtGoalDate" class="form-control  DossierDisable  regulatory_inputborder" placeholder="Enter Goal Date " autocomplete="off">
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none" style="display:none" id="lblDivApprovedDate">
                        <label for="" class="col-12 custom_label ">Approved Date</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.ApprovedDate)</div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none" id="divApprovedDate" style="display:none">
                        <label for="" class="col-12 custom_label col-form-label">Approved Date</label>
                        <div class="col-sm-12 ">
                            <input id="txtApprovedDate" class="form-control  date regulatory_inputborder" placeholder="Enter Approved Date" autocomplete="off">
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label ">Drug Product Storage Condition</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.DP_StorageCondition)</div>
                    </div>
                    <div class="col-xl-12 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label ">Pack Details</label>
                        <div class="product_inputview">@Html.DisplayFor(model => model.PackDetails)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--CTL-->
    <div id="accordionctl" class="col-12 accordion float-left padding-none top">
        <div class="card mb-0">
            <div class="col-12 regulatory_create-heading_title card-header header_col " data-toggle="collapse" data-parent="#accordionctl" href="#collapsectl">Contract Testing Laboratory</div>
            <div class="col-12 regulatory_create_panel_hod float-left collapse show" id="collapsectl" data-parent="#accordionctl">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  top">
                    <table id="contractgrid" class="table float-left datatable_cust table-striped  table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Contract Testing Laboratory</th>
                                <th>Type of Function</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.ContractTestingLabName != null)
                            {
                                foreach (var item in Model.ContractTestingLabName)
                                {
                                    <tr>
                                        <td class="text-left"><span class="ContractTestingNameClass">@item.CTL_Name</span></td>
                                        <td class="text-left"><span class="ContractTestingFuntionalityClass">@item.FunctionalType</span></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Product DMF-->
    <div id="accordionDMF" class="col-12 accordion float-left padding-none top">
        <div class="card mb-0">
            <div class="col-12 regulatory_create-heading_title card-header header_col " data-toggle="collapse" data-parent="#accordionDMF" href="#collapsedmf">DMF Holder</div>
            <div class="col-12 regulatory_create_panel_hod float-left collapse show" id="collapsedmf" data-parent="#accordionDMF">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12   top ">
                    <table id="tblDmfHolder" class="table float-left datatable_cust table-striped  table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>DMF Holder</th>
                                <th>Drug Substance</th>
                                <th>DS Manufacturing Site</th>
                                <th>DMF Number</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyempty">
                            @if (Model.Product_DMFHolder != null)
                            {
                                foreach (var item in Model.Product_DMFHolder)
                                {
                                    <tr>
                                        <td><span class="DMFHolderNameClass">@item.DMF_HolderName</span></td>
                                        <td><span class="DrugSubStanceNameClass">@item.DrugSubstance_Name</span></td>
                                        <td><span class="DSManufacturingNameClass">@item.DSManufacturing_Name</span></td>
                                        <td><span class="DMFNumberClass">@item.DMFNumber</span></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        $('#hdnReviewerDate').val('@Model.ReviewAcceptedDate');
        $('#hdnGoalDate').val('@Model.GoalDate');
        var ApprovalDate = '@Model.ApprovedDate' == "NA" ? $('#hdnReviewerDate').val() :'@Model.ApprovedDate';
        var dossierStatus = $('#ddlDossierStatus').val();
        $('#hdnSubmissionDate').val('@Model.SubmissionDate');
        $('#hdnApprovedDate').val('@Model.ApprovedDate');
        $('#hdnDossierStatus').val('@Model.DossierStatus');
        $('#hdnCurrentStatus').val('@Model.CurrentStatus');
        $('#hdnProductApproverID').val('@Model.ApproverID');
</script>
<!--Date Validations-->
<script>
    var ServerDateNow = '@DateTime.Now.ToString("dd MMM yyyy")';
    var minSubmissionDate = $('#hdnSubmissionDate').val();
    var ReviewAcceptDate = '@Model.ReviewAcceptedDate' == "NA" ? null : $('#hdnReviewerDate').val();
    $(function () {
        $('#txtReviewAcceptedDate').datetimepicker({
            useCurrent: false,
            format: 'DD MMM YYYY',
            minDate: new Date(new Date(minSubmissionDate).getFullYear(), new Date(minSubmissionDate).getMonth(), new Date(minSubmissionDate).getDate(), 00, 00, 00),
            maxDate: new Date(new Date(ServerDateNow).getFullYear(), new Date(ServerDateNow).getMonth(), new Date(ServerDateNow).getDate(), 23, 59, 59),
        });
        if (@Model.CurrentStatus == 7)//Dossier Approved by Ra Approver
        {
            $('#txtGoalDate').datetimepicker({
                useCurrent: false,
                format: 'DD MMM YYYY',
                minDate: new Date(new Date(ReviewAcceptDate).getFullYear(), new Date(ReviewAcceptDate).getMonth(), new Date(ReviewAcceptDate).getDate(), 00, 00, 00)
            });
        }
        else if (@Model.CurrentStatus == 5)//Review Date Submit
        {
            $('#txtGoalDate').datetimepicker({
                useCurrent: false,
                format: 'DD MMM YYYY',
                minDate: new Date(new Date(ReviewAcceptDate).getFullYear(), new Date(ReviewAcceptDate).getMonth(), new Date(ReviewAcceptDate).getDate(), 00, 00, 00)
            });
        }
        else if (@Model.CurrentStatus == 6)//Goal Date Submit
        {
            $('#txtGoalDate').datetimepicker({
                useCurrent: false,
                format: 'DD MMM YYYY',
                minDate: new Date(new Date(ReviewAcceptDate).getFullYear(), new Date(ReviewAcceptDate).getMonth(), new Date(ReviewAcceptDate).getDate(), 00, 00, 00)
            });
        }
        if (('@Model.GoalDate' != 'NA' && '@Model.ReviewAcceptedDate' != 'NA') && ('@Model.DossierStatus' == 'Under Review') && (@Model.AuthorID==@Model.AuthenticationEmpID) && (@Model.CurrentStatus!=8))
        {
           $('#txtApprovedDate').datetimepicker({
                useCurrent: false,
                format: 'DD MMM YYYY',
                minDate: new Date(new Date('@Model.ReviewAcceptedDate').getFullYear(), new Date('@Model.ReviewAcceptedDate').getMonth(), new Date('@Model.ReviewAcceptedDate').getDate(), 00, 00, 00),
                maxDate: new Date(new Date(ServerDateNow).getFullYear(), new Date(ServerDateNow).getMonth(), new Date(ServerDateNow).getDate(), 23, 59, 59),
           });
        }
        if (dossierStatus=='U')
        {
            $("#txtReviewAcceptedDate").on("dp.change", function (e) {
                OnClearDateFailValidation(e.date);
                $('#txtGoalDate').data("DateTimePicker").minDate(new Date(new Date(e.date).getFullYear(), new Date(e.date).getMonth(), new Date(e.date).getDate(), 00, 00, 00));
                //$('#txtApprovedDate').data("DateTimePicker").minDate(e.date);
            });
        }
    });
    function OnClearDateFailValidation(date)
    {
        var GoalDate = $('#txtGoalDate').val();
        var ReviewAcceptedDate = $('#txtReviewAcceptedDate').val();
        if (new Date(new Date(date).getFullYear(), new Date(date).getMonth(), new Date(date).getDate()) > new Date(ReviewAcceptedDate)) {
            $('#txtReviewAcceptedDate').val('');
        }
        if (new Date(new Date(date).getFullYear(), new Date(date).getMonth(), new Date(date).getDate()) > new Date(GoalDate)) {
            $('#txtGoalDate').val('');
        }
    }
</script>

<!--On Document Ready-->
<script>
    $(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            dropupAuto: true,
            showSubtext: true,
            count: true,
            size: 7
        });
    });
</script>

<!--Show the Dossier Form Based on the Dossier Status & Current Status-->
<script>
    //DossierStatus Change
    function OnDossierStatusChange(DossierStatus)
    {
        if (DossierStatus == 'A')
        {
            $('#divApprovedDate').show();
            $('#btnSumbitApproverDate').show();
            $('#btnSubmitDateValidation').hide();
            $('#CreateNewDefbtn').hide();
            $('#lblDivMarketingStatus').hide();
            $('#divMarketingStatus').show();
        }
        else
        {
            $('#btnSumbitApproverDate').hide();
            $('#btnSubmitDateValidation').hide();
            $('#divApprovedDate').hide();
            $('#CreateNewDefbtn').show();//Def -Create Button
            $('#divMarketingStatus').hide();
            $('#lblDivMarketingStatus').show();
        }
    }
    if ((@Model.CurrentStatus == 5) && ('@Model.DossierStatus' == 'Under Review') && (@Model.AuthorID==@Model.AuthenticationEmpID))
    {
         $('#divSubmitDateValidation').show();
         $('#CreateNewDefbtn').show();
         //Date Fields as Edit or View Mode
         if ('@Model.ReviewAcceptedDate' != 'NA')
         {
             if ('@Model.GoalDate' == 'NA') {
                 $('#divGoalDate').show();
                 $('#lblDivGoalDate').hide();
                 $('#btnSubmitDateValidation').show();
             }
         }
         else
         {
             $('#divGoalDate').show();
             $('#divReviewAcceptedDate').show();
             $('#lblDivReviewAcceptedDate').hide();
             $('#lblDivGoalDate').hide();
         }
     }
       if ((@Model.CurrentStatus== 6) && ('@Model.DossierStatus' == 'Under Review') && (@Model.AuthorID==@Model.AuthenticationEmpID)) {
           if (@Model.DeficiencyCount==0)
           {
            $('.clsfordivFieldStatus').show();
            $('.clsforlbldivStatus').hide();
            $('#btnSubmitDateValidation').hide();
            $('#lblDivMarketingStatus').show();
          }
           else
           {
            $('#btnSubmitDateValidation').hide();
        }
    }
   // $('#CreateNewDefbtn').show();// Def Creation Button
    if ((@Model.CurrentStatus == 7) && ('@Model.DossierStatus' == 'Under Review') && (@Model.AuthorID==@Model.AuthenticationEmpID)) {
        $('#divSubmitDateValidation').show();
        //Date Fields as Edit or View Mode
        if ('@Model.ReviewAcceptedDate' != 'NA') {
            if ('@Model.GoalDate' == 'NA') {
                $('#divGoalDate').show();
                $('#lblDivGoalDate').hide();
            }
            else if (@Model.DeficiencyCount== 0) {
                $('.clsfordivFieldStatus').show();
                $('.clsforlbldivStatus').hide();
                $('#btnSubmitDateValidation').hide();
                $('#lblDivMarketingStatus').show();
            }
            else {
                $('#btnSubmitDateValidation').hide();
            }
        }
        else {
            $('#divGoalDate').show();
            $('#divReviewAcceptedDate').show();
            $('#lblDivReviewAcceptedDate').hide();
            $('#lblDivGoalDate').hide();
        }
    }
    else if (@Model.CurrentStatus == 2 )
    {
        $('#CreateNewDefbtn').hide();
    }
    if (@Model.CurrentStatus == 8)
    {
        $('.clsfordivFieldStatus').hide();
        $('.clsforlbldivStatus').show();
        $("#lblDivApprovedDate").show();
    }
    if ('@Model.DossierStatus'=='Approved')
    {
        $("#lblDivApprovedDate").show();
    } 
    if ($('#hdshowType').val() == '3' && (@Model.AuthorID!=@Model.AuthenticationEmpID)) {//3 Product Details Main List
        $('#CreateNewDefbtn').hide();
    }
    else if (@Model.ApproverID==@Model.AuthenticationEmpID)
    {
        $('.clsfordivFieldStatus').hide();
        $('.clsforlbldivStatus').show();
        $('#CreateNewDefbtn').hide();
    }
</script>
<script>
    function ViewDossierHistory() {
        ViewRegulatoryHistory($("#hdProductDossierId").val(), 1);
    }
</script>
