﻿@model AizantIT_PharmaApp.Areas.Regulatory.Models.RegulatoryViewModel.ViewObservationModel
<input type="hidden" value="0" id="hdObservationID" />
@Html.HiddenFor(a => a.ObservationID, new { id = "hdObservationID" })
<!--------Start Observation popUp-------------->
<div id="ViewObservationModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="max-width:80%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Observation Details</h4>
                <button type="button" class="close" onclick="LoadObservationList();" data-dismiss="ViewObservationModal">&times;</button>
            </div>
            <div class="modal-body" style="max-height:600px;overflow-y:auto;">
                <div class="col-xl-3 col-md-3 col-sm-6 col-lg-3 float-left float-left col-6 padding-none">
                    <label for="" class="col-12 custom_label">Functional Area</label>
                    <div class="product_inputview">@Html.DisplayFor(model => model.FunctionalAreaName)</div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-6 col-lg-3 float-left col-6 padding-none">
                    <label for="" class="col-12 custom_label">Department</label>
                    <div class="product_inputview">@Html.DisplayFor(model => model.DepartmentName)</div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-6 col-lg-3 float-left float-left col-6 padding-none">
                    <label for="" class="col-12 custom_label">Responsible person</label>
                    <div class="product_inputview">@Html.DisplayFor(model => model.ResponsiblePerson)</div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-6 col-lg-3 float-left float-left col-6 padding-none">
                    <label for="" class="col-12 custom_label">Due Date</label>
                    <div class="product_inputview">@Html.DisplayFor(model => model.DueDate)</div>
                </div>
                <div class="col-xl-3 col-md-3 col-sm-6 col-lg-3 float-left float-left col-6 padding-none">
                    <label for="" class="col-12 custom_label">Status</label>
                    <div class="product_inputview" id="lblObservationStatus">@Html.DisplayFor(model => model.ObservationStatus)</div>
                    <div class="col-12" style="display:none" id="divObservationStatus">
                        <select class="col-lg-12 selectpicker regulatory_dropdown_style padding-none show-tick ProductEditMode ResetField " title="Select Status"  id="ddlObservationStatus" disabled>
                            <option value="1">Open</option>
                            <option value="2">Close</option>
                        </select>
                    </div>
                </div>
                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom ">
                    <label class=" custom_label col-form-label">Description</label>
                    <textarea class="form-control" rows="9" disabled>@Html.DisplayFor(model => model.ObservationDescription)</textarea>
                </div>
                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom" style="display:none" id="divRemarksObservation">
                    <label class=" custom_label col-form-label">Remarks</label>
                    <textarea class="form-control txtremarks" id="txtRemarks" maxlength="250" rows="3" disabled>@Html.DisplayFor(model => model.Remarks)</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12">
                    <div class="padding-left_div float-right">
                        <button type="button" class="btn btn-sm top cancelbtn float-right" onclick="LoadObservationList();">
                            <span>
                                &#10006
                            </span>  Cancel
                        </button>
                        </div>
                        <button type="button" class="btn top btn-sm submitbtn float-right" style="display:none" id="btnObservationAccepted" onclick="ObservationAccepted('2');">
                            <span>
                                &#10004
                            </span> Accept
                        </button>
                    @if(Model.ObservationCurrentStatus == 2)
                    {
                        <button type="button" class="btn top btn-sm submitbtn float-right"  id="btnObservationSubmitted" onclick="ObservationAccepted('3');">
                            Click here to Close Observation
                        </button>
                    }
                    </div>
                </div>
            </div>
    </div>
</div>
<!--------End  Observation pop up-------------->
<!--To Reload Observation List---->
<script>
    function LoadObservationList()
    {
       $('#ViewObservationModal').modal('hide');
    }
</script>
<!--Observation Accept or Completion Function-->
<script>
    function ObservationAccepted(responceTypeID)
    {
        if (responceTypeID == 3)
        {
            $('#ddlObservationStatus').selectpicker('refresh');
            $("#ddlObservationStatus").selectpicker('val', 2);
        }
        var Comments = $('#txtRemarks').val();
        var Remarks = Comments.trimLeft(" ");
          var ObservationData =
          {
            "ObservationID":$("#hdObservationID").val(),
            "ObservationStatus": $('#ddlObservationStatus').val(),
            "ResponceType": responceTypeID,
            "Comments": Remarks,
          };
          ShowPleaseWait('show');
          var msg = responceTypeID == 2 ? "Observation Accepted" : "Observation Closed";//Where 2 Mean's Observation Accepted,3:Completed
        $.post("@Url.Content("~/Regulatory/RegulatoryMain/ObservationAcceptOrComplete")", ObservationData,
            function (result)
            {
                switch (result.msgType)
                {
                    case "error":
                        custAlertMsg(result.msg, "error", "AfterAcceptObservation();");
                        break;
                    case "success":
                        custAlertMsg(msg, "success","AfterAcceptObservation();");
                        break;
                }
            }, 'json').always(function () {
                ShowPleaseWait('hide');
            });
    }
    function AfterAcceptObservation()
    {
        GetReLoadObservationMainList();
        $("#ViewObservationModal").modal("show");
        $('#btnObservationSubmitted').show();
        $('#btnObservationAccepted').hide();
        $('#lblObservationStatus').hide();
        $('#divObservationStatus').show();
    }
    //Observation Current Status and Responsible Person Checking 
    if ('@Model.ObservationStatus' == 'Open' && @Model.ObservationCurrentStatus== 1 && @Model.ResponsiblePersonID==@Model.AuthenticationEmpID)
    {
        $('#btnObservationAccepted').show();
    }
    else if ('@Model.ObservationStatus' == 'Open' && @Model.ObservationCurrentStatus== 2 && @Model.ResponsiblePersonID==@Model.AuthenticationEmpID)
    {
        $('#lblObservationStatus').hide();
        $('#divObservationStatus').show();
        $('#ddlObservationStatus').selectpicker('refresh');
        $("#ddlObservationStatus").selectpicker('val', 1);
        $('#btnObservationSubmitted').show();
        $('.txtremarks').prop("disabled", false);
        $('.txtremarks').empty();        
    }
    else
    {
        $('#btnObservationAccepted').hide();
        $('#btnObservationSubmitted').hide();
    }
    //Onservation Status on Change Funcation
 
    function GetReLoadObservationMainList()
    {
        var ShowType = $('#hdnShowType').val();
        window.open('@Url.Content("~//Regulatory/RegulatoryMain/ObservationMainList?ShowType=")' + ShowType, '_self');
    }

</script>
