﻿@model AizantIT_PharmaApp.Areas.Regulatory.Models.RegulatoryViewModel.DossierViewModel
@{
    ViewBag.Title = "DeficiencyMainList";
    Layout = "~/Areas/Regulatory/Views/Shared/_RegulatoryLayout.cshtml";
}
<input type="hidden" id="hdProductDossierID" value="0" />
<input type="hidden" value="0" id="hdDeficiencyID" />
<input type="hidden" value="" id="hdshowType" />
<input type="hidden" value="View" id="hdnDeficiencyMode" />
<input type="hidden" value="Product" id="hdnProductDetails" />
<input type="hidden" value="ObservationView" id="hdnObservationView" />
<input type="hidden" value="" id="hdnSubmissionDate" />

<div class="card mb-0 col-12">
    @Html.Partial("~/Areas/Regulatory/Views/RegulatoryMain/_DeficiencyList.cshtml")
</div>
<!--Common History Partial View-->
@Html.Partial("~/Areas/Regulatory/Views/RegulatoryMain/_RegulatoryHistory.cshtml")
<script>
    $("#DeficiencyHeader").removeAttr("href");
     var ShowType =@ViewBag.ShowType;
    $('#hdshowType').val(ShowType);
    var DeficiencyID =@ViewBag.DeficiencyID;
    $('#hdDeficiencyID').val(DeficiencyID);
    var ProductDossierID =@ViewBag.ProductDossierID;
    $('#hdProductDossierID').val(ProductDossierID);
    if ((ShowType == 12 || ShowType == 11 )&& DeficiencyID != 0) {
         ViewDeficiency(this, DeficiencyID);
     }
     if (ShowType == 13 && DeficiencyID != 0) {
         EditDeficiency(this, DeficiencyID,ProductDossierID);
     }
</script>
