﻿
@{
    ViewBag.Title = "DossierRevertedList";
    Layout = "~/Areas/Regulatory/Views/Shared/_RegulatoryLayout.cshtml";
}

<script src=@Url.Content("~/AppScripts/PMS/colvisdatatable.js")></script>

<input type="hidden" value="0" id="hdProductDossierId" />
<!---tbl ReviewListList--->
<div id="dvDossierList">
    <div class="container-fluid">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 formlist top padding-none">
            <div class="col-xl-12 col-md-12 col-sm-12  float-left padding-none top bottom">
                <table id="tblDossierReviewList" class="table datatable_cust table-striped table-bordered top" style="width:100%">
                    <thead>
                        <tr id="tablerow">
                            <th>DossierID</th>
                            <th>S.No</th>
                            <th>Product Name</th>
                            <th>Application Number</th>
                            <th>Submission Date</th>
                            <th>Approver Name</th>
                            <th>Author Name</th>
                            <th>Status</th>
                            <th>Dossier Status</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>History</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Dossier Datatable-->
<!---History Modal popup-->
<div id="divHistory">
    <div class="modal" id="HistoryModal">
        <div class="modal-dialog" style="max-width:50%;">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">History</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="modelbody">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#tblDossierReviewList thead tr').clone(true).appendTo('#tblDossierReviewList thead');

    $('#tblDossierReviewList thead tr:eq(1) th').each(function (i) {
        if (i < 9) {

            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search " />');

            $('input', this).on('keyup change', function () {
                if (Dossiertable.column(i).search() !== this.value) {
                    Dossiertable
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
            if (i == 1)
            {
                $(this).html('');
            }
        }
        else {
            $(this).html('');
        }
    });

    var Dossiertable = $('#tblDossierReviewList').DataTable({
        columns:
        [
            { 'data': 'DossierID' },//0
            { 'data': 'RowNumber' },//1
            { 'data': 'ProductName' },//2
            { 'data': 'ApplicationNumber' },//3
            { 'data': 'SubmissionDate' },//4
            { 'data': 'ApproverName' },//5
            { 'data': 'AuthorName' },//6
            { 'data': 'CurrentStatus' },//7
            { 'data': 'DossierStatus' },//8
            {
                "mData": null,
                "bSortable": false,
                "render": function (o) {
                    return '<a class="view_tms" style="margin-left:0%" onclick=DossierView(' + o.DossierID + ')>' + '' + '</a>';
                }
            },//9
            {
                "mData": null,
                "bSortable": false,
                "render": function (o) {
                    var DosseirView = '@Url.Action("DossierEditing", "RegulatoryMain")?DossierID=' + o.DossierID;
                    return '<a class="edit_icon_feed " style="margin-left:0%" href="' + DosseirView + '"> </a>';
                }
            },//10
            {
                "mData": null,
                "bSortable": false,
                "render": function (o) {

                    return '<a class="summary_latest"  style="margin-left:0%" onclick=DossierHistory(' + o.DossierID + ')>' + '' + '</a>';
                }
            },//11
        ],

        columnDefs: [{ "targets": [0], "visible": false }, { "targets": [1, 2, 3, 7, 8, 9, 10, 11], className: 'noVis' }, { "orderable": false, "targets": [1, 9, 10, 11] },],
        "sAjaxSource": '@Url.Content("~/Regulatory/RegulatoryMain/GetDossierList")',
        "fnServerData": function (sSource, aoData, fnCallback) {
            aoData.push({ "name": "ListType", "value": 4 });
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {
                    if (result.msgType == "error") {
                        custAlertMsg(result.msg, "error");
                    }
                    else {
                        fnCallback(result);
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
</script>
<!--Function in Dossier-->
<script>
    @*function DossierView(DossierID) {
        $('#hdProductDossierId').val(DossierID);
        window.open('@Url.Content("~/Regulatory/RegulatoryMain/ViewDossierDetails?DossierID=")' + DossierID);
    }
    function DossierHistory(DossierID) {
        $('#hdProductDossierId').val(DossierID);
        $('#HistoryModal').modal('show');
        var divPartialView = $("#modelbody");
        divPartialView.load("@Url.Content("~/Regulatory/RegulatoryMain/DossierHistory")", { "DossierID": DossierID});
    }*@
</script>



