﻿@{
    ViewBag.Title = "DossierMainList";
    Layout = "~/Areas/Regulatory/Views/Shared/_RegulatoryLayout.cshtml";
}
<input type="hidden" value="" id="hdshowType" />
<script src=@Url.Content("~/AppScripts/PMS/colvisdatatable.js")></script>
<link href=@Url.Content("~/AppCSS/PMS/columndatatablebuttons.css") rel="stylesheet" />

<input type="hidden" value="0" id="hdProductDossierId" />
<input type="hidden" value="" id="hdnBackToList" />
<!---tbl ProductList--->
<div id="dvDossierList">
    <div class="container-fluid">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 regulatory_create-heading_title top hidden" id="titleProduct">Product Details Main List</div>
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 formlist  padding-none grid_panel_hod bottom">
            <div class="col-xl-12 col-md-12 col-sm-12  float-left padding-none top">
                <table id="tblDossierMainlist" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
                    <thead>
                        <tr id="tablerow">
                            <th>DossierID</th>
                            <th>S.No</th>
                            <th>Product</th>
                            <th>Application No.</th>
                            <th>Submission Date</th>
                            <th>Review Accepted Date</th>
                            <th>Applicant</th>
                            <th>Client</th>
                            <th>Status</th>
                            <th>Goal Date</th>
                            <th>Dossier Status</th>
                            <th>Approved Date</th>
                            <th>Dossier Current StatusID</th>
                            <th>Athor EmpID</th>
                            <th>ApproverID</th>
                            <th>View</th>
                            <th>Action</th>
                            <th>History</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Common History Partial View-->
@Html.Partial("~/Areas/Regulatory/Views/RegulatoryMain/_RegulatoryHistory.cshtml")
<!--Dossier DataTable-->
<script>
    var LoginEmpID = @((Session["UserDetails"] as System.Data.DataSet).Tables[0].Rows[0]["EmpID"].ToString());
    var ColumnHide = [];
    var ListHide = [];
    var ListType =@ViewBag.ShowType;
    var isJqureyDatatable = "Y";
    var TotalJqueryDatatabletblProductDetailsListCount = 0;
    $('#hdnBackToList').val(ListType);
    $('#hdshowType').val(ListType);
    if (ListType == 0 || ListType == 9 || ListType == 7 || ListType == 5) {
        $('#titleProduct').text("Product Details Pending List");
    }
    else if (ListType == 2) {
        $('#titleProduct').text("Product Details Reverted List");
    }
    else if (ListType == 1 || ListType == 4) {
        $('#titleProduct').text("Product Details Review  List");
    }
    else if (ListType == 8 || ListType == 6)
    {
        $('#titleProduct').text("Product Details Completed  List");
    }

    $('#tblDossierMainlist thead tr').clone(true).appendTo('#tblDossierMainlist thead');
    $('#tblDossierMainlist thead tr:eq(1) th').each(function (i) {
        if (i <12) {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search " />');

            $('input', this).on('keyup change', function () {
                if (ProductDossiertable.column(i).search() !== this.value) {
                    ProductDossiertable
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
            if (i == 1)
            {
                $(this).html('');
            }
        }
        else {
            $(this).html('');
        }
    });
    
        if (ListType == "3")//3 Product Details Main List
        {
            ColumnHide = [0, 8, 12, 13, 14, 15];
            ListHide = [0, 1, 2, 3, 12, 13, 14,  15];
        }
       if (ListType == "1")
       {
           ColumnHide = [0, 8, 12, 13, 14, 15];
           ListHide = [0, 1, 2, 3, 12, 13, 14, 15];

       }
       if (ListType == "0" || ListType == "2" || ListType == "4" || ListType == "5" || ListType == "6" || ListType == "7" || ListType == "8" || ListType == "9") {
           ColumnHide = [0, 8, 12, 13, 14,  15];
           ListHide = [0, 1, 2, 3, 12, 13, 14,  15];
       }
    
    var ProductDossiertable = $('#tblDossierMainlist').DataTable({
        columns:
        [
            { 'data': 'DossierID' },//0
            { 'data': 'RowNumber' },//1
            { 'data': 'ProductName' },//2
            { 'data': 'ApplicationNumber' },//3
            { 'data': 'SubmissionDate' },//4
            { 'data': 'ReviewAcceptedDate' },//5
            { 'data': 'ApplicantName' },//6
            { 'data': 'ClientName' },//7
            { 'data': 'CurrentStatus' },//8
            { 'data': 'GoalDate' },//9
            { 'data': 'DossierStatus' },//10
            { 'data': 'ApprovedDate' },//11
            { 'data': 'DossierCurrentStatusID' },//12
            { 'data': 'AthorEmpID' },//12--13
            { 'data': 'ApproverEmpID' },//12--14
            {
                "mData": null,
                "bSortable": false,
                "render": function (o) {
                    return '<a class="view" title="Product Details View" style="margin-left:0%" onclick="DossierView(' + o.DossierID + ')">' + '' + '</a>';
                }
            },//13--15
              {
                "mData": null,
                "bSortable": false,
                  "render": function (o) {
                      var URLWord = '@Url.Action("CreateDossierMain", "RegulatoryMain")?ProductDossierID=' + o.DossierID;
                    if (ListType == 3 && (o.DossierCurrentStatusID == 1 || o.DossierCurrentStatusID == 4))//3 Product Details Main List,1:Product Created,4:Product Reverted
                    {
                         return '<a class="view" style="margin-left:0%" href="' + URLWord + '")></a>';
                    }
                    else if ((o.DossierCurrentStatusID == 1 || o.DossierCurrentStatusID == 4) && (ListType != 3 && ListType != 1) )//3: Product Details Main List,1:Product Created,4:Product Reverted
                    {
                        return '<a class="Edit" style="margin-left:0%" href="' + URLWord + '")></a>';
                    }
                    else if ((ListType == 1 || ListType == 4 || ListType == 3) && (o.DossierCurrentStatusID == 2 && o.ApproverEmpID == LoginEmpID))
                    {
                        return '<a class="regulatory_approveicon" title="Product Details View" style="margin-left:0%" onclick="DossierView(' + o.DossierID + ')"></a>';
                    }
                    else
                    {
                        return '<a class="view" title="Product Details View" style="margin-left:0%" onclick="DossierView(' + o.DossierID + ')"></a>';
                    }

                }
            },//14--16
            {
                "mData": null,
                "bSortable": false,
                "render": function (o)
                {
                    return '<a class="summary_latest" title="History"  style="margin-left:0%" data-toggle="modal" data-target="#modalRegulatoryHistory" onclick="ViewDossierHistory(' + o.DossierID + ')"></a>';
                }
            },//15--17
        ],

        "orderCellsTop": true,
        fixedHeader: true,
        "scrollY": "50vh",
        dom: 'Bfrtip',
        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
        columnDefs: [{ "targets": ListHide, className: 'noVis' }, { "targets": ColumnHide, "visible": false }, { "orderable": false, "targets": [1] }, { className: "textAlignCenter", "targets": [15,16,17] }],
        buttons: ['pageLength',
            {  extend: 'colvis',
               columns: ':not(.noVis)'
            },
        ],
        "sAjaxSource": '@Url.Content("~/Regulatory/RegulatoryMain/GetProductDetailsList")',
        "fnServerData": function (sSource, aoData, fnCallback) {
            aoData.push({ "name": "ListType", "value": ListType }, { "name": "IsJqureyDatatable", "value": isJqureyDatatable });
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {

                    if (result.msgType == "error") {
                        custAlertMsg(result.msg, "error");
                    }
                    else {
                        fnCallback(result);
                        TotalJqueryDatatabletblProductDetailsListCount = ProductDossiertable.page.info().recordsTotal;
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }

            });

        }
    });
    $(".buttons-page-length").addClass("newbtn1");
    $(".buttons-page-length,.buttons-colvis").text("");
    $(".buttons-colvis").addClass("newbtn2 visibility_btn");
    $(".newbtn1").click(function () {
        $(".dt-button-collection").addClass("btndiv");
        $($.fn.dataTable.tables(true)).css('width', '100%');
        $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
    });
     //$(".visibility_btn").after("<button class='btn  buttons-pdf'><span>PDF</span></button>");
    if (ListType == 3)//3 Product Details Main List
    {
         @*$(".visibility_btn").after("<a class='btn  buttons-pdf' href='@Url.Action("GetProductDetailsList", "RegulatoryMain")?ListType=" + ListType + "&IsJqureyDatatable=N'>PDF</a>");*@
        $(".visibility_btn").after("<a class='btn  buttons-pdf' onclick='ExporttoPDFProductDetailsList();'>PDF</a>");
    }

    function ExporttoPDFProductDetailsList()
    {
        if (TotalJqueryDatatabletblProductDetailsListCount>0)
        {
            window.location.href = '@Url.Action("GetProductDetailsList", "RegulatoryMain")?ListType=' + ListType + '&IsJqureyDatatable=N';
        }
        else
        {
            custAlertMsg("No Records To Export.","error"); 
        }
    }

</script>
<!--Function for Dossier History-->
<script>
    function ViewDossierHistory(DossierID)
    {
        $('#hdProductDossierId').val(DossierID);
        ViewRegulatoryHistory(DossierID, 1);
    }
    function DossierView(DossierID)
    {
        $('#hdProductDossierId').val(DossierID);
        window.open('@Url.Content("~/Regulatory/RegulatoryMain/ViewDossierDetails?DossierID=")' + DossierID + '&ListType='+ListType,'_self');
    }
</script>