﻿@model AizantIT_PharmaApp.Areas.Regulatory.Models.RegulatoryViewModel.ViewObservationModel
@{
    ViewBag.Title = "ObservationMainList";
    Layout = "~/Areas/Regulatory/Views/Shared/_RegulatoryLayout.cshtml";
}
<script src=@Url.Content("~/AppScripts/PMS/colvisdatatable.js")></script>
<link href=@Url.Content("~/AppCSS/PMS/columndatatablebuttons.css") rel="stylesheet" />
<input type="hidden" value="0" id="hdObservationID" />
<input type="hidden" id="hdDossierStatus" value="" />
<input type="hidden" id="hdnShowType" value="" />
<input type="hidden" value="" id="hdnSubmissionDate" />

<div class="col-12 float-left top">
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 regulatory_create-heading_title" id="ObservationtitleText">Observation  Main List</div>
    <a href="DownloadObservationReport"></a>
    <div class="col-12 float-left  grid_panel_hod bottom">
        <table id="tblObservationMainList" class="table float-left datatable_cust table-striped  table-bordered top breakword" style="width:100%">
            <thead>
                <tr>
                    <th>Observation ID</th>
                    <th>S.No</th>
                    <th>Application No.</th>
                    <th>Product</th>
                    <th>Functional Area</th>
                    <th>Department</th>
                    <th>Responsible Person</th>
                    <th>Due Date</th>
                    <th>Market</th>
                    <th>Client</th>
                    <th>Applicant</th>
                    <th>Status</th>
                    <th>Action Status</th>
                    <th>ProductDossier ID</th>
                    <th>Deficiency ID</th>
                    <th>Product</th>
                    <th>Deficiency</th>
                    <th>Observation</th>
                    <th>History</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="divLoadDeficiencyMainPopup"></div>
<div id="divLoadObservationPopup"></div>

<!--ProductDossierModalPopup-->
<div class="modal fade" role="dialog" id="myModalProductDossier" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width:90%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txt">View Product Details</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body Modalpopup-Scroll" id="LoadProductDossierPopup"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm top cancelbtn float-right" data-dismiss="modal">
                    <span>
                        &#10006
                    </span>  Close
                </button>
            </div>
        </div>
    </div>
</div>
<!--Common History Partial View-->
@Html.Partial("~/Areas/Regulatory/Views/RegulatoryMain/_RegulatoryHistory.cshtml")
<!--Observation List-->
<script>
    var otblDP_Observation;
    $('#tblObservationMainList thead tr').clone(true).appendTo('#tblObservationMainList thead');

    $('#tblObservationMainList thead tr:eq(1) th').each(function (i) {
        if (i < 12) {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search"/>');

            $('input', this).on('keyup change', function () {
                if (otblDP_Observation.column(i).search() !== this.value) {
                    otblDP_Observation
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
            if (i == 0 || i == 1) {
                $(this).html('');
            }
        }
        else {
            $(this).html('');
        }
    });

    $(function ()
    {
        var IsJqueryTable = "Y";
        GetObservationMainList(IsJqueryTable);
    });

    var ShowType =@ViewBag.ShowTypes;
    if (ShowType == 22) {
        $('#ObservationtitleText').text("Observation Pending List");
    }
    else if (ShowType == 18 || ShowType == 20)
    {
        $('#ObservationtitleText').text("Observation Accept List");
    }
    else if (ShowType == 19 || ShowType == 21)
    {
        $('#ObservationtitleText').text("Observation Closer List");
    }
    var ObservationID=@ViewBag.ObservationID;
    $("#hdnShowType").val(ShowType);
    if (ShowType == 18 && ObservationID != 0)
    {
        ViewObservationOB(this, ObservationID);
    }
    var DeficiencyID = 0;
    var ObservationID = 0;
    var ProductDossierID = 0;
    var TotalJqueryDatatabletblObservationMainListCount = 0;
    function GetObservationMainList(IsJqueryTable)
    {
        if (otblDP_Observation != null)
        {
            otblDP_Observation.destroy();
        }

        otblDP_Observation = $('#tblObservationMainList').DataTable({
            columns:
                [
                     { 'data': 'ObservationID' },//0
                     { 'data': 'RowNumber' },//1
                     { 'data': 'ApplicationNumber' },//2
                     { 'data': 'ProductName' },//3
                     { 'data': 'FunctionalArea' },//4
                     { 'data': 'DepartmentName' },//5
                     { 'data': 'ResponsiblePerson' },//6
                     { 'data': 'DueDate'},//7
                     { 'data': 'Market'},//8
                     { 'data': 'Client'},//9
                     { 'data': 'Applicant' },//10
                     { 'data': 'ObservationStatus' },//11
                     { 'data': 'ObservationCurrentStatus' },//12
                     { 'data': 'ProductDossierID' },//13
                     { 'data': 'DeficiencyID' },//14
                     {
                         "mData": null,
                         "bSortable": false,
                         "mRender": function (o)
                         {
                             return '<a class="view" title="View Product" style="margin-left:0%" onclick="ViewProductDossierOB(this,' + o.ProductDossierID + ')"></a>';
                        }
                     },//15
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o)
                        {
                            return '<a class="view" title="View Deficiency" style="margin-left:0%" onclick="ViewDeficiencyOB(this,' + o.DeficiencyID + ')"></a>';
                        }
                    },//16
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o)
                        {
                            return '<a class="view" title="View Observation" style="margin-left:0%" onclick="ViewObservationOB(this,' + o.ObservationID + ')"></a>';
                        }
                    },//17
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o)
                        {
                            return '<a class="btnRegulatoryAgencyEdit summary_latest History" title="History" style="margin-left:0%" data-toggle="modal" data-target="#modalRegulatoryHistory" onclick="ViewObservationMainHistory(this,' + o.ObservationID + ')"></a>';
                        }
                    }//18
                ],
            orderCellsTop: true,
            fixedHeader: true,
            dom: 'Bfrtip',
            "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
            "aoColumnDefs": [{ "targets": [0,1, 4, 5, 12, 13, 14], className: 'noVis' }, { "targets": [0, 13, 14], "visible": false }, { "orderable": false, "targets": [1] }, { className: "textAlignCenter", "targets": [15,16,17,18] }],
            buttons: ['pageLength',

                {
                    extend: 'colvis',
                    columns: ':not(.noVis)'
                },
            ],
            "sAjaxSource": "@Url.Content("~/Regulatory/RegulatoryMain/GetObservationList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "ShowType", "value": ShowType }, { "name": "ObservationID", "value": ObservationID }, { "name": "DeficiencyID", "value": DeficiencyID }, { "name": "ProductDossierID", "value": ProductDossierID }, { "name": "IsJqueryDataTable", "value": IsJqueryTable });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result)
                    {
                        if (result.msgType == "error")
                        {
                            custAlertMsg(result.msg, "error");
                        }
                        else
                        {
                            if (result.length == "error")
                            {
                                custAlertMsg(result.msg, "error");
                            }
                            fnCallback(result);
                             TotalJqueryDatatabletblObservationMainListCount = otblDP_Observation.page.info().recordsTotal;
                        }
                    },
                });
            }
        });
        $(".buttons-page-length").addClass("newbtn1");
        $(".buttons-page-length,.buttons-colvis").text("");
        $(".buttons-colvis").addClass("newbtn2 visibility_btn");
        $(".newbtn1").click(function () {
            $(".dt-button-collection").addClass("btndiv");
        });
        var False = "false";
        if (ShowType == 23 && "Y" == "@ViewBag.ShowExportPDF")
        {
            @*$(".visibility_btn").after("<a class='btn  buttons-pdf' href='@Url.Action("GetObservationList", "RegulatoryMain")?ShowType=" + ShowType + "&ObservationID=" + ObservationID + "&DeficiencyID=" + DeficiencyID + "&ProductDossierID=" + ProductDossierID + "&IsJqueryDataTable=N'>PDF</a>");*@
            $(".visibility_btn").after("<a class='btn  buttons-pdf' onclick='ExporttoPDFObservationList();'>PDF</a>");
        }
    }

    function ExporttoPDFObservationList()
    {
        if (TotalJqueryDatatabletblObservationMainListCount > 0)
        {
             window.location.href = '@Url.Action("GetObservationList", "RegulatoryMain")?ShowType=' + ShowType + ' &ObservationID=' + ObservationID + ' &DeficiencyID=' + DeficiencyID + ' &ProductDossierID=' + ProductDossierID + ' &IsJqueryDataTable=N';
        }
        else
        {
            custAlertMsg("No Records To Export.", "error");
        }

    }

    $('#myModalDeficiency').on('shown.bs.modal', function (e) {
            GetObservationMainList(IsJqueryTable);
        });

    function ViewProductDossierOB(cntrl,ProductDossierId)
    {
        $(cntrl).attr("onclick", "").unbind("click");
        ShowPleaseWait('show');
         $("#LoadProductDossierPopup").empty();
        $("#LoadProductDossierPopup").load("@Url.Content("~/Regulatory/RegulatoryMain/_ViewDossierDetails")?DossierID=" + ProductDossierId, function () {
            $("#myModalProductDossier").modal("show");
        });
        ShowPleaseWait('hide');
        $(cntrl).attr("onclick", "ViewProductDossierOB(this," + ProductDossierId + ")").unbind("click");
    }
    function ViewDeficiencyOB(cntrl,DeficiencyID)
    {
        $(cntrl).attr("onclick", "").unbind("click");
        ShowPleaseWait('show');
        $("#hdDeficiencyID").val(DeficiencyID);
        $("#divLoadDeficiencyMainPopup").empty();
        $("#divLoadDeficiencyMainPopup").load("@Url.Content("~/Regulatory/RegulatoryMain/_ViewDeficiency")?DeficiencyID=" + DeficiencyID, function () {
            $("#ViewDeficiency").modal("show");
            $("#divObservationAndAttachment").hide();
            $("#divBtnApproveOrRevert").hide();
        });
        ShowPleaseWait('hide');
        $(cntrl).attr("onclick", "ViewDeficiencyOB(this," + DeficiencyID + ")").unbind("click");
    }
    function ViewObservationOB(cntrl,ObservationID)
    {
        $(cntrl).attr("onclick", "").unbind("click");
        ShowPleaseWait('show');
        $("#hdObservationID").val(ObservationID);
        $("#divLoadObservationPopup").empty();
        $("#divLoadObservationPopup").load("@Url.Content("~/Regulatory/RegulatoryMain/_ViewObservation")?ObservationID=" + ObservationID, function () {
            $("#ViewObservationModal").modal("show");
        });
        ShowPleaseWait('hide');
        $(cntrl).attr("onclick", "ViewObservationOB(this," + ObservationID + ")").unbind("click");
    }
    function ViewObservationMainHistory(cntrl,ObservationID)
    {
        $(cntrl).attr("onclick", "").unbind("click");
        $('#hdObservationID').val(ObservationID);
        ViewRegulatoryHistory(ObservationID, 3);
        $(cntrl).attr("onclick", "ViewObservationMainHistory(this," + ObservationID + ")").unbind("click");
    }
</script>