﻿@model AizantIT_PharmaApp.Areas.Regulatory.Models.RegulatoryViewModel.DossierViewModel
@{
    ViewBag.Title = "ReassignRegulatoryEmployees";
    Layout = "~/Areas/Regulatory/Views/Shared/_RegulatoryLayout.cshtml";  
}
@if (ViewBag.SysError != "" && ViewBag.SysError != null)
{
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="text-align:center;color:red">
        @ViewBag.SysError
    </div>
}
else
{
    <div class="col-12 float-left">
        <button type="button" class="btn btn-sm float-left listbtn top" onclick="location.href='@Url.Action("ReAssignProductList", "RegulatoryMain", new { Area = "Regulatory" })'"><img src="~/Images/PMS/back.png"> Back to list</button>
    </div>
    <div class="container-fluid">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 regulatory_create-heading_title top">Re-Assign Product Employee</div>
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 formlist  padding-none grid_panel_hod bottom">
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12   padding-none">

                <div class="col-xl-6 col-md-4 col-sm-6 col-lg-3 float-left col-6 ">
                    <label class="float-left custom_label  padding-right_div top ">Application Number :</label>
                    <div class="col-9 float-left custom_label  top padding-none">
                        @Html.DisplayFor(Model => Model.ApplicationNumber)
                    </div>
                </div>
                <div class="col-xl-6 col-md-4 col-sm-6 col-lg-3 float-left col-6  padding-none">
                    <label class="col-2 float-left custom_label  padding-right_div top ">Product Name :</label>
                    <div class="col-10 float-left custom_label  top">
                        @Html.DisplayFor(Model => Model.ProductName)
                    </div>
                </div>
            </div>
            <div class="col-12 float-left padding-none">
                <div class="col-xl-6 col-md-4 col-sm-6 col-lg-3 float-left col-6 top">
                    <label class=" float-left custom_label  padding-right_div top required">Product RA Lead :</label>
                    <div class="col-9 float-left custom_label " id="divddlAuthorList">
                        @Html.DropDownList("RA_LeadList", Model.RA_LeadList as List<SelectListItem>,
                                            htmlAttributes: new
                                            {
                                                id = "ddlRA_LeadList",
                                                @class = "col-lg-12 selectpicker drop_down  regulatory_dropdown_style padding-none show-tick  ",
                                                @title = "-- Select RA Lead --",
                                                @onchange = "CheckTheApproverAndLead(this.value,'RA_Lead');",
                                                name = "RA_LeadList"
                                            })
                    </div>
                    <div id="dvRa_leadName" class="top" style="display:none">
                        <span id="spAuthorName"></span>
                    </div>
                </div>
                <div class="col-xl-6 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none top">

                    <label class="float-left custom_label  padding-right_div top required">Product RA Approver :</label>
                    <div class="col-9 float-left custom_label padding-none" id="divddlApproverList">
                        @Html.DropDownList("ApproverList", Model.ApproverList as List<SelectListItem>,
                                                              htmlAttributes: new
                                                              {
                                                                  id = "ddlApproverList",
                                                                  @class = "col-lg-12 selectpicker drop_down regulatory_dropdown_style padding-none show-tick",
                                                                  @title = "-- Select Approver --",
                                                                  @onchange = "CheckTheApproverAndLead(this.value,'Approver');",
                                                                  name = "ApproverList"
                                                              })

                    </div>
                    <div id="dvApprover" class="top" style="dispaly:none">
                        <span id="spApproverName"></span>
                    </div>
                </div>
            </div>
            <div class=" col-xl-12 col-md-12 col-sm-12 bottom col-lg-12  float-left col-12 dvDossierCommentnsandbtn ">
                <label class="custom_label col-form-label required" for="txtAuditcomment">Comments</label>
                <textarea class="form-control ValidateFreeText" rows="3" id="txtReasonOrCommentsForReassign" name="AuditComments" onkeypress="return ValidateFreeText(event);" maxlength="250" placeholder="Enter Comments"></textarea>
            </div>
            <div class="col-12 text-right float-left dvDossierCommentnsandbtn">
                <button type="button" class="btn btn-signup_popup " onclick="UpdateProductDossierEmployees();">
                    <span>
                        &#10004
                    </span>Update
                </button>
                <button type="button" class="btn buttons-reset " onclick="makeValuesandVariablestoDefault();">Reset</button>
            </div>
            <div class="col-12 float-left" id="deficiencydiv">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 regulatory_create-heading_title top">Deficiency List</div>
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 formlist  padding-none grid_panel_hod bottom">
                    <div class="col-12 float-left">
                        <table id="tblReAssignEmployeedeficiency" class="table datatable_cust table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th>DeficiencyID</th>
                                    <th>Type of Deficiency</th>
                                    <th>Deficiency Code</th>
                                    <th>Deficiency Status</th>
                                    <th>Deficiency Current Status</th>
                                    <th>Current StatusID</th>
                                    <th>Deficiency Approver ID</th>
                                    <th>Author</th>
                                    <th>Approver</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-cancel_popup float-right" onclick="location.href='@Url.Action("ReAssignProductList", "RegulatoryMain", new { Area = "Regulatory" })'">
                    <span>
                        &#10006
                    </span>Cancel
                </button>
            </div>
        </div>
    </div>

    <!--------observation popup-------------->
    <div id="myModalReAssignobsv" class="modal fade" role="dialog" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-lg" style="min-width:90%">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="titleDeficiencyCode">Deficiency</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none ">
                        <div class="col-xl-6 col-md-4 col-sm-6 col-lg-3 float-left col-6 ">
                            <div class="col-12 float-left padding-none">
                                <label class="float-left custom_label top padding-right_div required " id="lbdefText">Product RA Lead :</label>
                                <div class="col-9 float-left custom_label">
                                   <div id="spnDefRalead" class="top"> <span id="spanProductRaLeadName">Ralead</span></div>
                                   <div id="dvDefRalead">
                                       @Html.DropDownList("RA_LeadList", Model.RA_LeadList as List<SelectListItem>,
                                          htmlAttributes: new
                                          {
                                              id = "ddldef_LeadList",
                                              @class = "col-lg-12 selectpicker drop_down regulatory_dropdown_style padding-none show-tick",
                                              @title = "-- Select RA Lead --",
                                              @onchange = "CheckTheApproverAndLead(this.value,'RA_Lead');",
                                              name = "RA_LeadList"
                                          })
                                       </div>
                                       </div>
                                   </div>
                        </div>
                        <div class="col-xl-6 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-right_div">
                            <div class="col-12 float-left padding-none">
                                <label class="float-left custom_label  top padding-right_div  required">Deficiency RA Approver :</label>
                                <div id="spnDefRaApprover" class="top"> <span id="spanProductRaApproverName">Approver</span></div>

                                <div class="col-8 float-left custom_label" id="divDefRaApprover">
                                    @Html.DropDownList("DeficiencyApproverList", Model.ApproverList as List<SelectListItem>,
                                                      htmlAttributes: new
                                                      {
                                                          id = "ddlDeficiencyApproverList",
                                                          @class = "col-lg-12 selectpicker drop_down regulatory_dropdown_style padding-none show-tick",
                                                          @title = "-- Select Approver --",
                                                          name = "DeficiencyApproverList"
                                                      })
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none top" id="divDeficiencyBtnAndComments">
                            <div class="col-12 float-left padding-none">
                                <div class=" col-xl-12 col-md-12 col-sm-12 bottom col-lg-12  float-left col-12" id="divReAssignDeficiencyComment">
                                    <label class="custom_label col-form-label required" for="txtAuditcomment">Comments</label>
                                    <textarea class="form-control ValidateFreeText" rows="3" id="txtReAssignDeficiencyComment" name="DeficiencyComments" onkeypress="return ValidateFreeText(event);" maxlength="250" placeholder="Enter Comments"></textarea>
                                </div>
                                <div class="col-12 text-right float-left">
                                    <button type="button" class="btn btn-signup_popup top" onclick="UpdateReAssignDeficiency();">
                                        <span>
                                            &#10004
                                        </span>Update
                                    </button>
                                    <button type="button" class="btn buttons-reset top" onclick="CancelReAssignDeficiency();">Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 regulatory_create-heading_title top">Observations</div>
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 formlist  padding-none grid_panel_hod bottom">
                                <div class="col-12 float-left">
                                    <table id="tblReAssignEmployeeobsrvation" class="table datatable_cust table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>ObservationID</th>
                                                <th>Functional Area</th>
                                                <th>Department</th>
                                                <th>Responsible Person</th>
                                                <th>Observation Status</th>
                                                <th>Observation Current Status</th>
                                                <th>ObservationCurrentStatusID</th>
                                                <th>ResponsiblePersonEmpID</th>
                                                <th>Edit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class=" col-xl-12 col-md-12 col-sm-12 bottom col-lg-12  float-left col-12" id="cmntsdiv" style="display:none;">
                            <label class="custom_label col-form-label required" for="txtAuditcomment">Comments</label>
                            <textarea class="form-control ValidateFreeText" rows="3" id="txtObservationcomment" name="AuditComments" onkeypress="return ValidateFreeText(event);" maxlength="250" placeholder="Enter Comments"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="col-12 text-right padding-none" id="obsvbtns" style="display:none;">
                        <button type="button" class="btn btn-signup_popup top" onclick="UpdateObservationHOD();">
                            <span>
                                &#10004
                            </span>Update
                        </button>
                        <button type="button" class="btn btn-cancel_popup top" onclick="CancelReAssignEmployeeBtn();">
                            <span>
                                &#10006
                            </span>Cancel
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        const RA_Errormsg64 = "There's no changes to update";
        const RA_Errormsg65 = "Unable to Update";
        const RA_Errormsg66 = "Select Product RA Lead";
        const RA_Errormsg67 = "Select Product RA Approver";
        const RA_Errormsg68 = "Enter Comments";
        const RA_Errormsg69 = "You're not Allowed to Select this user as HOD, Due to, This User is Deficiency Approver Person";
        const RA_Errormsg70 = "Select Hod";
        const RA_Errormsg71 = "HOD Updated";
        const RA_Errormsg72 = "Select Deficiency Approver";
        const RA_Errormsg73 = "Select Deficiency Lead";
    </script>

    <!--------observation popup-------------->
    <script>
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
        $("#ddlApproverList").val('@Model.ApproverID');
        $("#ddlApproverList").selectpicker("refresh");

        $("#ddlRA_LeadList").val('@Model.AuthorID');
        $("#ddlRA_LeadList").selectpicker("refresh");
        @*if ('@Model.DossierStatus' == 'U') {
            $("#spanProductRaLeadName").text($("#ddlRA_LeadList :selected").text());
            $('#dvDefRalead').hide();
        } else {
            $('#spnDefRalead').hide();
            $('#lbdefText').html('Deficiency RA Lead');
            $('#dvRa_leadName').show();
        }*@ 
        function CheckTheApproverAndLead(ddlValue, DropDownType) {
        if (DropDownType == "Approver" && $("#ddlRA_LeadList").val() == ddlValue) {
            $("#ddlRA_LeadList").val("default");
            $("#ddlRA_LeadList").selectpicker("refresh");
        }
        else if (DropDownType == "RA_Lead" && $("#ddlApproverList").val() == ddlValue) {
            $("#ddlApproverList").val("default");
            $("#ddlApproverList").selectpicker("refresh");
        }
        }
        var _ProductDossierID = decodeURI(window.location.search.substring(window.location.search.indexOf('ProductID=') + 10));
        var _ProductDossierAuthorEmpID = $("#ddlRA_LeadList").val() == null ? 0 : $("#ddlRA_LeadList").val();
        var _ProductDossierApproverEmpID = $("#ddlApproverList").val() == null ? 0 : $("#ddlApproverList").val();
        var _IsProductDossierAuthorChanged = false;
        var _IsProductDossierApproverChanged = false;
        var _ReasonOrCommentsForReassign = "";
        var _ObservationID = "0";
        var _ObservationHodEmpID = "0";
        var _DeficiencyApproverID = "0";
        var _DeficiencyAuthorID = "0";
        var _DeficiencyID = 0;

        function makeValuesandVariablestoDefault()
        {
         _IsProductDossierAuthorChanged = false;
         _IsProductDossierApproverChanged = false;
         _ReasonOrCommentsForReassign = "";
         _ObservationID = "0";
         _ObservationHodEmpID = "0";
         $('#txtReasonOrCommentsForReassign').val("");
         $("#ddlRA_LeadList").val(_ProductDossierAuthorEmpID);
         $("#ddlRA_LeadList").selectpicker("refresh");
         $("#ddlApproverList").val(_ProductDossierApproverEmpID);
         $("#ddlApproverList").selectpicker("refresh");
        }

        function UpdateProductDossierEmployees()
        {
            var ProductDossierAuthorEmpID = $("#ddlRA_LeadList").val();
            var ProductDossierApproverEmpID = $("#ddlApproverList").val();
            var ReasonOrCommentsForReassign = $('#txtReasonOrCommentsForReassign').val().trim();
            var ValidationMasgs = [];

            if (_ProductDossierID=="0") {
                ValidationMasgs.push(RA_Errormsg65);
            }
            if (ProductDossierAuthorEmpID == "0" || ProductDossierAuthorEmpID == null) {
                ValidationMasgs.push(RA_Errormsg66);
            }
            if (ProductDossierApproverEmpID == "0" || ProductDossierApproverEmpID == null) {
                ValidationMasgs.push(RA_Errormsg67);
            }

            if (ReasonOrCommentsForReassign == "") {
                ValidationMasgs.push(RA_Errormsg68);
            }

            if (_ProductDossierAuthorEmpID == ProductDossierAuthorEmpID
                && _ProductDossierApproverEmpID == ProductDossierApproverEmpID) {
                custAlertMsg(RA_Errormsg64, "warning");
                return false;
            }
            if (ValidationMasgs.length > 0) {
                custAlertMsg(ValidationMasgs.join(",</br>")+".", "error");
            }
            else {
                    if (_ProductDossierAuthorEmpID != ProductDossierAuthorEmpID) {
                        _IsProductDossierAuthorChanged = true;
                    }
                    if (_ProductDossierApproverEmpID != ProductDossierApproverEmpID) {
                        _IsProductDossierApproverChanged = true;
                    }
                    ajaxUpdateProductDossierReassignedEmployees(_ProductDossierID, ProductDossierAuthorEmpID,
                        ProductDossierApproverEmpID, _IsProductDossierAuthorChanged,
                        _IsProductDossierApproverChanged, ReasonOrCommentsForReassign);
            }
    }
        function ajaxUpdateProductDossierReassignedEmployees(ProductID, RA_Lead_EmpID,
            RA_Approver_EmpID, IsRA_LeadChanged,
            IsA_ApproverChanged, Remarks)
        {
        var objReassignProductDossierEmps = {
            "ProductID": ProductID,
            "RA_Lead_EmpID": RA_Lead_EmpID,
            "RA_Approver_EmpID": RA_Approver_EmpID,
            "IsRA_LeadChanged": IsRA_LeadChanged,
            "IsA_ApproverChanged": IsA_ApproverChanged,
            "Remarks": Remarks
            };
        ShowPleaseWait('show');
        $.post("@Url.Content("~/Regulatory/RegulatoryMain/ReAssignEmps")", objReassignProductDossierEmps,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    if (result.UpdatedLeadEmpID == RA_Lead_EmpID) {
                        _ProductDossierAuthorEmpID = RA_Lead_EmpID;
                        $('#spanProductRaLeadName').html($("#ddlRA_LeadList :selected").text());
                    }
                    if (result.UpdatedApproverEmpID == RA_Approver_EmpID) {
                        _ProductDossierApproverEmpID = RA_Approver_EmpID
                    }

                    switch (result.MsgType) {
                        case "sysError":
                            custAlertMsg(result.Msg, "error", "ReloadPage()");
                            break;
                        case "error":
                            custAlertMsg(result.Msg, "error", "OnSuccessOfProductDossierReassignedEmployees()");
                            break;
                        case "info":
                            custAlertMsg(result.Msg, "info", "OnSuccessOfProductDossierReassignedEmployees();");
                            break;
                        case "success":
                            custAlertMsg(result.Msg, "success", "OnSuccessOfProductDossierReassignedEmployees();");
                            break;
                    }
                }
            }, "json").always(function () {
                ShowPleaseWait('hide'); 
            });
    }
    function OnSuccessOfProductDossierReassignedEmployees()
    {
        $('#txtReasonOrCommentsForReassign').val("");
        makeValuesandVariablestoDefault();
    }
    </script>
}
<!-- Re-assign Observation DataTable -->
<script>
    var tblReAssignEmployeeobsrvation;
    function ReAssignEmployeeObsrvation(DeficiencyID) {
        if (tblReAssignEmployeeobsrvation != null) {
            tblReAssignEmployeeobsrvation.destroy();
        }
        tblReAssignEmployeeobsrvation = $('#tblReAssignEmployeeobsrvation').DataTable({
            columns:
            [
                { 'data': 'ObservationID' },//0
                { 'data': 'FunctionalArea' },//1
                { 'data': 'DepartmentName' },//2
                {
                    "render": function (data, type, full, meta) {
                        return '<span class="lblResponseName">' + full.ResponsiblePerson + ' </span>'
                            + '<select class="ddlResponsePerson selectpicker drop_down padding-none dropdown_style col-12 float-left" data-live-search="true" data-size="5" style="display:none;"><select>';
                    }
                },//3
                { 'data': 'ObservationStatus' },//4
                { 'data': 'ObservationCurrentStatus' },//5
                { 'data': 'ObservationCurrentStatusID' },//6
                { 'data': 'ResponsiblePersonEmpID' },//7
                {
                    "render": function (data, type, full, meta) {
                        return '<a class="edit_icon_feed Edit btnReAssignEmployeeEdit" style= "margin-left:0%" onclick= "EditReAssignObservation(' + full.ObservationID + ',' + full.ResponsiblePersonEmpID+',this);"></a>';
                    }
                },//8
                  ],
                "aoColumnDefs": [
                    { "targets": [0,6,7], "visible": false },
                { "orderable": false, "targets": [8] },
                { className: "textAlignCenter", "targets": [8] }],

                "scrollY": "",
                "scrollX": false,
                "sAjaxSource": "@Url.Content("~/Regulatory/RegulatoryMain/ReAssignObservationList")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push({ "name": "DeficiencyID", "value": DeficiencyID });
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            $("#obsvbtns,#cmntsdiv").hide();
                            if (_DefCurrentStatusID != 5) {
                             $('#divDeficiencyBtnAndComments').show();
                            }
                           fnCallback(result);
                        },
                    });
                }
        });
    }
</script>
<!--Observation Edit-->
<script>
    function EditReAssignObservation(ObservationID, ResponsiblePersonID, Control)
    {
        $(Control).closest("tr").find(".lblResponseName").css("display", "none");
        $(Control).closest("tr").find(".ddlResponsePerson").css("display", "true");
        _ObservationHodEmpID = ResponsiblePersonID;
        _ObservationID = ObservationID;
        ObservationEditVisibility('N')
        $.ajax({
            type: "Get",
            url: "/RegulatoryMain/GetObservationResponsePersonList",
            data: { ObservationID: ObservationID },
            datatype: "json",
            traditional: true,
            success: function (data) {
                $(Control).closest("tr").find(".ddlResponsePerson").html(""); // clear before appending new list
                var option = '';
                var SelectedEmpId = 0;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Selected == true) {
                        SelectedEmpId = data[i].Value;//Selected values
                    }
                    $(Control).closest("tr").find('.ddlResponsePerson').append(
                        $('<option></option>').val(data[i].Value).html(data[i].Text));
                    $(Control).closest("tr").find(".ddlResponsePerson option[value=" + SelectedEmpId + "]").attr('selected', 'selected');
                }
                $(Control).closest("tr").find('.ddlResponsePerson').selectpicker('refresh');
            }
        });
    }

    function ObservationEditVisibility(visible) {
        if (visible == "Y")
        {
            $(".btnReAssignEmployeeEdit").show();
            $('#txtObservationcomment').val("");
            $("#obsvbtns,#cmntsdiv").hide();
            //For Deficiency Btn and Comments Fields Hideing
            if (_DefCurrentStatusID!=5) {
            $('#divDeficiencyBtnAndComments').show();
            }
            $("#ddlDeficiencyApproverList").prop("disabled", false);
            $("#ddldef_LeadList").prop("disabled", false);
            CancelReAssignDeficiency();
        }
        else {
            $(".btnReAssignEmployeeEdit").hide();
            $('#txtObservationcomment').val("");
            $("#obsvbtns,#cmntsdiv").show();
                //For Deficiency Btn and Comments Fields Hideing
            $('#divDeficiencyBtnAndComments').hide();
            $("#ddlDeficiencyApproverList").prop("disabled", true);
            $("#ddldef_LeadList").prop("disabled", true);
            CancelReAssignDeficiency();
        }
    }
    var CancelReAssignEmployeeBtn = function () {
        ObservationEditVisibility('Y');
        ReAssignEmployeeObsrvation(_DeficiencyID);
    }

    var ReLoadReAssignObservationDataTable = function () {
        ReAssignEmployeeObsrvation(_DeficiencyID);
        ObservationEditVisibility('Y');
    }

    function UpdateObservationHOD() {

        var ObservationHodEmpID = $(".ddlResponsePerson option:selected").val();
        var ReasonOrCommentsForReassign = $('#txtObservationcomment').val().trim();
        var ValidationMasgs = [];
        if ($('#ddlDeficiencyApproverList').val() == ObservationHodEmpID) {
            ValidationMasgs.push(RA_Errormsg69);
        }

        if (ObservationHodEmpID == "0" || ObservationHodEmpID == null) {
            ValidationMasgs.push(RA_Errormsg70);
        }
        if (ReasonOrCommentsForReassign == "") {
            ValidationMasgs.push(RA_Errormsg68);
        }
        if (ValidationMasgs.length > 0) {
            custAlertMsg(ValidationMasgs.join(",</br>")+".", "error");
        }
        else
        {
            if (_ObservationHodEmpID == ObservationHodEmpID) {
                custAlertMsg(RA_Errormsg64, "warning");
                return false;
            }
            else {
                ajaxUpdateObservationHOD(_ObservationID, ObservationHodEmpID,ReasonOrCommentsForReassign);
            }
        }
    }
    function ajaxUpdateObservationHOD(ObservationID, HOD_EmpID, Remarks) {
        var objReassignProductDossierEmps = {
            "ObservationID": ObservationID,
            "RA_HOD_EmpID": HOD_EmpID,
            "Remarks": Remarks
        };
        ShowPleaseWait('show');
        $.post("@Url.Content("~/Regulatory/RegulatoryMain/ReAssignObservationHOD")", objReassignProductDossierEmps,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error","ReLoadReAssignObservationDataTable();");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg(RA_Errormsg71, "success", "ReLoadReAssignObservationDataTable();");
                            break;
                    }
                }
            }, "json").always(function () {
                ShowPleaseWait('hide');
            });
    }
</script>
<!-- Re-assign Deficiency DataTable -->
<script>
    $(function () {
        ReAssignEmployeedeficiency();
    })
    var tblReAssignEmployeedeficiency;
    function ReAssignEmployeedeficiency()
    {
        if (tblReAssignEmployeedeficiency != null) {
            tblReAssignEmployeedeficiency.destroy();
        }
        tblReAssignEmployeedeficiency = $('#tblReAssignEmployeedeficiency').DataTable({
            columns:
            [
                { 'data': 'DeficiencyID' },//0
                { 'data': 'TypeofDeficiency' },//1
                { 'data': 'DeficiencyCode' },//2
                { 'data': 'DeficiencyStatus' },//3
                { 'data': 'DeficiencyCurrentStatus' },//4
                { 'data': 'CurrentStatusID' },//5
                { 'data': 'DeficiencyAprroverID' },//6
                { 'data': 'DeficiencyAuthorName' },//7
                { 'data': 'DeficiencyApproverName' },//8
                {
                    "render": function (data, type, full, meta) {
                        return '<a class="edit_icon_feed Edit" style= "margin-left:0%" onclick= "ReAssignDeficiencyEdit(' + full.DeficiencyID + ',\'' + full.DeficiencyCode + '\',' + full.DeficiencyAprroverID + ',' + full.DeficiencyLeadID + ',' + full.CurrentStatusID + ',\'' + full.DeficiencyAuthorName + '\',\'' + full.DeficiencyApproverName + '\',);"></a>';
                    }
                },//9
            ],
                "aoColumnDefs": [
                    { "targets": [0,5,6,7,8], "visible": false },
                { "orderable": false, "targets": [9] },
                    { className: "textAlignCenter", "targets": [9] }],
                "scrollY": "",
                "lengthMenu": [[5,10, 25, 50, 100], [5,10, 25, 50, 100]],
                "scrollX": false,
                "sAjaxSource": "@Url.Content("~/Regulatory/RegulatoryMain/ReAssignDeficiencyList")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push({ "name": "ProductDossierId", "value": _ProductDossierID });
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                           fnCallback(result);
                        },
                    });
                }
        });
    }
</script>
<script>
    var _DefCurrentStatusID = 0;
    function ReAssignDeficiencyEdit(DeficiencyID, DeficiencyCode, DeficiencyApproverID, DeficiencyLeadID,DefCurrentStatusID,Author,Approver) {
        $("#titleDeficiencyCode").html("Deficiency Code : " + DeficiencyCode);
        $("#myModalReAssignobsv").modal('show');
        
        _DefCurrentStatusID = DefCurrentStatusID;
        if (DefCurrentStatusID == 5) {
            $('#divDefRaApprover,#dvDefRalead,#divDeficiencyBtnAndComments').hide();
            $('#spanProductRaLeadName').html(Author);
            $('#spanProductRaApproverName').html(Approver);
            $('#spnDefRalead,#spnDefRaApprover').show();
        }
        else
        {
            $('#spnDefRalead,#spnDefRaApprover').hide();
            $('#divDefRaApprover,#dvDefRalead,#divDeficiencyBtnAndComments').show();
            $("#ddlDeficiencyApproverList").val(DeficiencyApproverID);
            $("#ddldef_LeadList").val(DeficiencyLeadID);
        }
        if ('@Model.DossierStatus' == 'U') {
            $("#spanProductRaLeadName").text('@Model.AuthorName');
            $('#dvDefRalead').hide();
            $('#spnDefRalead').show();
        }
        _DeficiencyApproverID = DeficiencyApproverID;
        _DeficiencyAuthorID = DeficiencyLeadID;
        _DeficiencyID = DeficiencyID;
        $("#ddlDeficiencyApproverList").selectpicker("refresh");
        $("#ddldef_LeadList").selectpicker("refresh");
        //Bind the Observation List
        ReAssignEmployeeObsrvation(DeficiencyID);
        ObservationEditVisibility('Y');
    }
    function CancelReAssignDeficiency() {
        if (_DefCurrentStatusID!=5) {
            $("#ddlDeficiencyApproverList").val(_DeficiencyApproverID);
            $("#ddlDeficiencyApproverList").selectpicker("refresh");
            $("#ddldef_LeadList").val(_DeficiencyAuthorID);
            $("#ddldef_LeadList").selectpicker("refresh");
            $('#txtReAssignDeficiencyComment').val(" ");
        }
        
    }
    function UpdateReAssignDeficiency() {
        var ValidationMasgs = [];
        var DeficiencyData = {
            DeficiencyApproverEmpID: $('#ddlDeficiencyApproverList').val(),
            DeficiencyLeadEmpID: $('#ddldef_LeadList').val(),
            DeficiencyID: _DeficiencyID,
            Remarks: $('#txtReAssignDeficiencyComment').val().trim()
        }
        var ApproverEmpID = parseInt(DeficiencyData.DeficiencyApproverEmpID);
        var AuthorID = parseInt(DeficiencyData.DeficiencyLeadEmpID);
        if (ApproverEmpID == _DeficiencyApproverID && AuthorID == _DeficiencyAuthorID) {
            custAlertMsg(RA_Errormsg64, "warning");
            return false;
        }
        if (DeficiencyData.DeficiencyLeadEmpID == "0" || DeficiencyData.DeficiencyLeadEmpID == null) {
            ValidationMasgs.push(RA_Errormsg73);
        }
        if (DeficiencyData.DeficiencyApproverEmpID == "0" || DeficiencyData.DeficiencyApproverEmpID == null) {
            ValidationMasgs.push(RA_Errormsg72);
        }
        if (DeficiencyData.Remarks == "")
        {
            ValidationMasgs.push(RA_Errormsg68);
        }
        if (ValidationMasgs.length > 0) {
            custAlertMsg(ValidationMasgs.join(",</br>") + ".", "error");
            return false;
        }
        else {
            ShowPleaseWait('show');
            $.post("@Url.Content("~/Regulatory/RegulatoryMain/ReassignDeficiencyApprover")", DeficiencyData,
                function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "Custerror":
                            custAlertMsg(result.msg, "error","ReloadPage();");
                            break;
                        case "error":
                            custAlertMsg(result.msg, "error", "OnSuccessOfDeficiencyReassignedEmployees();");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info","OnSuccessOfDeficiencyReassignedEmployees();");
                            break;
                        case "success":
                            _DeficiencyApproverID =ApproverEmpID;
                            _DeficiencyAuthorID = AuthorID;
                            custAlertMsg(result.msg, "success", "OnSuccessOfDeficiencyReassignedEmployees();");
                            break;
                    }
                }
                }, "json").always(function () {
                    ShowPleaseWait('hide');
                });
        }
    }
    function OnSuccessOfDeficiencyReassignedEmployees() {
        CancelReAssignDeficiency();
        ReAssignEmployeedeficiency();
    }

    function ReloadPage(){
              window.open('@Url.Content("~//Regulatory/RegulatoryMain/ReassignRegulatoryEmployees?ProductID=")'+'@Model.DossierID');
    }
    //var _ApproverName = $('#ddlApproverList :selected').text();
    if ("@Model.CurrentStatus" == "Dossier Completed") {
        $('#divddlApproverList,#divddlAuthorList').hide();
        $('#dvApprover,#dvRa_leadName').show();
        $('.dvDossierCommentnsandbtn').hide();
        $('#spApproverName').html('@Model.ApproverName');
        $('#spAuthorName').html('@Model.AuthorName');
        $('#lbdefText').html('Deficiency RA Lead');
    }
</script>