﻿@{
    ViewBag.Title = "ReAssignProductList";
    Layout = "~/Areas/Regulatory/Views/Shared/_RegulatoryLayout.cshtml";
}
<div class="container-fluid">
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 regulatory_create-heading_title top">Re-assign Employee</div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 formlist  padding-none grid_panel_hod bottom">
        <div class="col-xl-12 col-md-12 col-sm-12  float-left  top">
            <table class="table datatable_cust table-striped table-bordered top breakword" id="tblProductReAssignList" style="width:100%">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Dossier Current StatusID</th>
                        <th>Product Name</th>
                        <th>Application No.</th>
                        <th>Applicant Name</th>
                        <th>Client Name</th>
                        <th>Current Status</th>
                        <th>Dossier Status</th>
                        <th>Author</th>
                        <th>Approver</th>
                        <th>Edit</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- Re-assign Product Details dataTable List-->
<script>
    $(function () {
        ProductDetailsList();
    })
    var oTblProductReAssignEmps;
    function ProductDetailsList() {
        if (oTblProductReAssignEmps != null) {
            oTblProductReAssignEmps.destroy();
        }
        oTblProductReAssignEmps= $('#tblProductReAssignList').DataTable({
            columns:
            [
                { 'data': 'DossierID' },//0
                { 'data': 'DossierCurrentStatusID' },//1
                { 'data': 'ProductName' },//2
                { 'data': 'ApplicationNumber' },//3
                { 'data': 'ApplicantName' },//4
                { 'data': 'ClientName' },//5
                { 'data': 'CurrentStatus' },//6
                { 'data': 'DossierStatus' },//7
                { 'data': 'Author' },//8
                { 'data': 'Approver' },//9
                {
                    "render": function (data, type, full, meta) {
                        var UrlReAssignRegulatoryEmployees = '@Url.Action("ReAssignRegulatoryEmployees", "RegulatoryMain")?ProductID=' + full.DossierID;
                        return '<a class="edit_icon_feed Edit btnReAssignEmployeeEdit" title="Edit" style="margin-left:0%" href="' + UrlReAssignRegulatoryEmployees + '"></a>';
                    }
                },//10
                  ],
                "aoColumnDefs": [
                    { "targets": [0,1], "visible": false },
                    { "orderable": false, "targets": [10] }],
                "scrollY": "48vh",
                "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
                "scrollX": false,
                "sAjaxSource": "@Url.Content("~/Regulatory/RegulatoryMain/ReAssignProductListData")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                           fnCallback(result);
                        },
                    });
                }
        });
    }
</script>
