﻿@model AizantIT_PharmaApp.Areas.Regulatory.Models.RegulatoryViewModel.RegulatoryDashBoard
@{
    ViewBag.Title = "RegulatoryDashBoard";
    Layout = "~/Areas/Regulatory/Views/Shared/_RegulatoryLayout.cshtml";
}
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href=@Url.Content("~/DevExtremeContent/dx.common.css") rel="stylesheet" />
<link href=@Url.Content("~/DevExtremeContent/dx.light.css") rel="stylesheet" />
<script src=@Url.Content("~/DevExtremeScripts/dx.all.js")></script>
<!--Cards-->
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  formlist top">
    <div class="col-lg-12 padding-none">
        <div class="col-lg-12 padding-none panel_list_bg top float-left ">
            @if (Model.PendingCard)
            {
                <div id="f1_container" class="col-lg-3 float-left padding-right_div bottom">
                    <div id="f1_card" class="shadow col-lg-12 ">
                        <div class="front face outer_dashboard">
                            <div style="position:absolute; right:0; top:20;"> <img src="~/Images/PMS/approve.png" class="" alt="Approve" /></div>
                            <div class="col-lg-12 header_text_dshboard1">Pending </div>
                            <div class="col-lg-12 padding-none">

                                <div class="col-lg-6 float-left padding-none "> <img src="~/Images/PMS/approve_small.png" class="dashboard-image" alt="Approve" /></div>
                                <div class="col-lg-6 float-left">
                                    <span class="link_dashboard">@Html.DisplayFor(a => a.PendingTotalCount)</span>
                                </div>
                            </div>
                        </div>
                        <div class="back face center outer_dashboard">
                            @if (Model.pendingListItems.Count > 0)
                            {
                                foreach (var item in Model.pendingListItems)
                                {
                                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 float-left padding-none" id="divPendingViewDetails" visible="true">
                                        <div class="col-lg-12 padding-none">
                                            <div class="col-lg-12 padding-none">
                                                <div class=" col-lg-12 padding-none  float-right ">
                                                    <ul class="col-lg-12 col-xs-12 col-sm-12 col-md-12 flip_list style-2 ">
                                                        <li>
                                                            <a href="#" class="float-left col-lg-12 col-xs-12 col-sm-12 col-md-12" onclick="location.href='@item.NavigationLink'">
                                                                <div class="float-left padding-none col-lg-11">@item.PendingText</div>
                                                                <div class="float-right padding-none col-lg-1 ">
                                                                    <div class="dashboard_panel_value"> @item.PendingCount</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12  float-left" id="divPendingNoDetails">
                                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12  reg_Pen_norecords  float-left">No Details</div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            }
            <!--Revert Card-->
            @if (Model.RevertedCard)
            {
                <div id="f1_container" class="col-lg-3 float-left padding-right_div bottom">
                    <div id="f1_card" class="shadow col-lg-12 ">
                        <div class="front face outer_dashboard1">
                            <div style="position:absolute; right:0;opacity:0.2; top:20;"> <img src="~/Images/PMS/reverted.png" class="" alt="Approve" /></div>
                            <div class="col-lg-12 header_text_dshboard2">Reverted </div>
                            <div class="col-lg-12 padding-none float-left">
                                <div class="col-lg-6 padding-none float-left"> <img src="~/Images/PMS/revetred_small.png" class="dashboard-image" alt="Approve" /></div>
                                <div class="col-lg-6 float-left ">
                                    <span class="link_dashboard1">@Html.DisplayFor(a => a.RevertTotalCount) </span>
                                </div>
                            </div>
                        </div>
                        <div class="back face center outer_dashboard1">
                            @if (Model.revertListItems.Count > 0)
                            {
                                foreach (var item in Model.revertListItems)
                                {
                                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 float-left padding-none" id="divRevertedViewDetails">
                                        <div class="col-lg-12 padding-none">

                                            <div class="col-lg-12 padding-none">
                                                <div class=" col-lg-12 padding-none  float-right ">
                                                    <ul class="col-lg-12 col-xs-12 col-sm-12 col-md-12 flip_list style-2 ">

                                                        <li>
                                                            <a href="#" class="float-left col-lg-12 col-xs-12 col-sm-12 col-md-12" onclick="location.href='@item.NavigationLink'">
                                                                <div class="float-left padding-none col-lg-11">@item.RevertText </div>
                                                                <div class="float-right padding-none col-lg-1 ">
                                                                    <div class="dashboard_panel_value">@item.RevertCount</div>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12  float-left" id="divRevertedNoDetails">
                                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12  reg_Rev_norecords  float-left">No Details</div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!----charts----->
<div class="col-12 float-left padding-none" id="divDossierAndDeficiencyChart" style="display:none">
    <div class="col-md-6 top float-left">
        <div class="grid_header float-left col-lg-12">
            <div class="col-lg-6 float-left padding-none">Product Details</div>
            <div class="col-lg-6 float-left padding-none">
                <div class="panel_list float-right">
                    <ul>
                        <li>
                            <a class="refresh" onclick="loadProductDossierChart();"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 grid_panel_full bottom float-left">
            <div class="demo-container" style="height:400px">
                <div id="ProductDossierChart"></div>
                <div id="divNo_Dossierdetails" class="noDossierData">Loading...</div>
            </div>
        </div>
    </div>
    <!---Deficiency chart---->
    <div class="col-md-6 top float-left">
        <div class="grid_header float-left col-lg-12">
            <div class="col-lg-6 float-left padding-none">Deficiency Details</div>
            <div class="col-lg-6 float-left padding-none">
                <div class="panel_list float-right">
                    <ul>
                        <li>
                            <a class="refresh" onclick="loadDeficiencyChart();"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12  grid_panel_full bottom float-left">
            <div md="main" class="chart" style="height:400px">
                <div id="DeficiencyPiechart"></div>
                <div id="divNoDeficiency" class="noDossierData">Loading...</div>
            </div>

        </div>
    </div>
</div>
<!--Observation chart---->
<div class="col-12 float-left padding-none" id="divObservationChart" style="display:none">
    <div class="col-md-6  top float-left">
        <div class="grid_header float-left col-lg-12">
            <div class="col-lg-6 float-left padding-none">Observation Details</div>
            <div class="col-lg-6 float-left padding-none">
                <div class="panel_list float-right">
                    <ul>
                        <li>
                            <a class="refresh" onclick="loadObservationChart();"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12  grid_panel_full bottom float-left">
            <div class="demo-container" style="height:400px">
                <div id="Linechart"></div>
                <div id="divObservationEmpty" class="noDossierData">Loading...</div>
            </div>
        </div>
    </div>
</div>

<!---Dossier Pending and Completed Chart--->
<script>

    var _dataSource;
    function loadProductDossierChart()
    {
        $.post("@Url.Content("~/Regulatory/RegulatoryMain/DossierChart")",
            function (result) {
                if (result.msgRedirecttoLoginPage)
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else
                {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            data = result.aaData;                         
                            if (data[0].EventName == "Approved" && data[0].Pending == 0 && data[0].Completed == 0 &&
                                    data[1].EventName == "UnderReview" && data[1].Pending == 0 && data[1].Completed == 0)
                            {
                                $("#divNo_Dossierdetails").html('No Product Details Data');                               
                            }
                            else {
                                $("#divNo_Dossierdetails").hide();
                                bindDataToProductDossierChart(data);
                            }
                            break;
                    }
                }
            }, 'json');
    }

    function bindDataToProductDossierChart(_dataSource)
    {
        $("#ProductDossierChart").dxChart({
            dataSource: _dataSource,
            commonSeriesSettings: {
                argumentField: "EventName",
                type: "stackedBar",
                barWidth: 50
            },
            series: [
                {
                    valueField: "Completed",
                    name: "Completed",
                    label: {
                        visible: false,
                        position: "inside",
                        backgroundColor: "none"
                    }
                },
                {
                    valueField: "Pending",
                    name: "Pending",
                    label: {
                        visible: false,
                        position: "inside",
                        backgroundColor: "none"
                    }
                }
            ],
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center",
                itemTextPosition: 'top'
            },
            title: " ",
            tooltip: {
                enabled: true,
                location: "edge",
                customizeTooltip: function (arg) {
                    return {
                        text: arg.seriesName + " : " + arg.valueText
                    };
                }
            },
            onPointClick: function (e) {
                var point = e.target;
                var argument = point.argument;
                var val = point.series.name;
                NavigateLinkForCompletedandPendingDossier(argument, val);
            }
        });
    }

    function NavigateLinkForCompletedandPendingDossier(argument, val) {
        if (argument == "Approved" && val == "Pending") {
            var ListType = 5;//pending List type
            window.open('@Url.Content("~//Regulatory/RegulatoryMain/DossierMainList?ShowType=")'+ListType, '_self');
        }
        else if (argument == "Approved" && val == "Completed") {
            var ListType = 6;//Completed List type
            window.open('@Url.Content("~//Regulatory/RegulatoryMain/DossierMainList?ShowType=")'+ListType, '_self');
        }
        else if (argument == "UnderReview" && val == "Pending") {
            var ListType = 7;//pending List type
            window.open('@Url.Content("~//Regulatory/RegulatoryMain/DossierMainList?ShowType=")'+ListType, '_self');
        }
        else if (argument == "UnderReview" && val == "Completed") {
            var ListType = 8;//Completed List type
            window.open('@Url.Content("~//Regulatory/RegulatoryMain/DossierMainList?ShowType=")'+ListType, '_self');
        }
    }
</script>

<!--Deficiency Chart-->
<script>
        var _DeficiencyDataSource;
        function loadDeficiencyChart() {
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": '@Url.Action("DeficiencyChartList","RegulatoryMain")',
                "success": function (msg) {
                    if (msg._DeficinecyCount>0) {
                        _DeficiencyDataSource = msg.DeficiencychartList;
                        $('#divNoDeficiency').hide();
                        bindDeficiencyChart();
                    }
                    else {
                        $('#DeficiencyPiechart').hide();
                        $('#divNoDeficiency').html('No Deficiency Data');
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }

    function bindDeficiencyChart() {
        $("#DeficiencyPiechart").dxPieChart({
            size: {
                width: 500
            },
            palette: "bright",
            dataSource: _DeficiencyDataSource,
            commonSeriesSettings: {
                argumentField:"Deficiency"
            },
            series: [
                {
                    argumentField: "EventName",
                    valueField: "TotalRecords",
                    label: {
                        visible: true,
                        connector: {
                            visible: true,
                            width: 1
                        }
                    }
                }
            ],
            tooltip: {
                enabled: true,
                customizeTooltip: function (args) {
                    return {
                        html: "<div class='state-tooltip'>" + args.argument + " : " + args.value+"</div>"
                    };
                }
            },
            onPointClick: function (e) {
                var point = e.target;
                toggleVisibility(point);
            },
            onLegendClick: function (e) {
                var arg = e.target;
                toggleVisibility(this.getAllSeries()[0].getPointsByArg(arg)[0]);
            }
        });
    }
    function toggleVisibility(item) {
        if (item.argument == "Completed")
        {
            var ListType = 16;//Complete List type
            window.open('@Url.Content("~//Regulatory/RegulatoryMain/DeficiencyMainList?ShowType=")'+ListType, '_self');
        }
        else
        {
            var ListType = 15;//pending List type
            window.open('@Url.Content("~//Regulatory/RegulatoryMain/DeficiencyMainList?ShowType=")'+ListType, '_self');
        }
    }
</script>

<!--Observation Chart-->
<script>

    var _dataSource;
    function loadObservationChart()
    {
        $.post("@Url.Content("~/Regulatory/RegulatoryMain/ObservationChart")",
            function (result) {
                if (result.msgRedirecttoLoginPage)
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else
                {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            data = result.aaData;
                            for (var i = 0; i < data.length; i++)
                            {
                                if (data[0].EventName == "Accept" && data[0].Pending == 0 && data[1].EventName == "Closer" && data[1].Pending == 0)
                                {
                                    $("#divObservationEmpty").html('No Observation Data');
                                }
                                else
                                {
                                    $("#divObservationEmpty").hide();
                                    bindObservationChart(data);
                                }
                            }
                            break;
                    }
                }
            }, 'json');
    }
    function bindObservationChart(_dataSource)
    {
        $("#Linechart").dxPieChart({
            type: "doughnut",
            dataSource: _dataSource,
            palette: "Soft Pastel",
            legend: {
                horizontalAlignment: "right",
                verticalAlignment: "top",
                margin: 0
            },
            onPointClick: function (arg) {
                arg.target.select();
            },
            series: [{
                smallValuesGrouping: {
                    mode: "topN",
                    topCount: 3
                },
                argumentField: "EventName",
                valueField: "Pending",
                label: {
                    visible: true,
                    format: "fixedPoint",
                    customizeText: function (point) {
                        return point.argumentText + " : " + point.valueText;
                    },
                    connector: {
                        visible: true,
                        width: 1
                    }
                }
            }],
            onPointClick: function (e) {
                var point = e.target;
                var argument = point.argument;//UnderReview
                var CompletedValue = point.originalValue;
                if (CompletedValue != 0) {
                    NavigateLinkForAcceptandClosed(argument);
                }
            }
        });
    }
    function NavigateLinkForAcceptandClosed(argument)
    {
        if (argument == "Accept")
        {
            var ListType = 20;//Accept List type
            window.open('@Url.Content("~//Regulatory/RegulatoryMain/ObservationMainList?ShowType=")' + ListType, '_self');
        }
        else if (argument == "Closer")
        {
            var ListType = 21;//Closed List type
            window.open('@Url.Content("~//Regulatory/RegulatoryMain/ObservationMainList?ShowType=")' + ListType, '_self');
        }
    }
</script>
<!--Roles to access Charts-->
<script>
    if (@Model.RaHod==42 && @Model.RaLead==40)
    {
        $('#divDossierAndDeficiencyChart').show();       
    }
    if (@Model.RaHod==42)
    {
        $('#divObservationChart').show();
        loadObservationChart();
    }
    if (@Model.RaLead==40)
    {
        loadDeficiencyChart();
        loadProductDossierChart();
        $('#divDossierAndDeficiencyChart').show();
    }
</script>

