﻿@model AizantIT_PharmaApp.Areas.Regulatory.Models.RegulatoryViewModel.DossierMainDetails

@{
    ViewBag.Title = "ViewDossierDetails";
    Layout = "~/Areas/Regulatory/Views/Shared/_RegulatoryLayout.cshtml";
}
@Html.HiddenFor(m => m.ProductDossierID, new { id = "hdProductDossierID" })
<input type="hidden" value="View" id="hdnDeficiencyMode" />
<input type="hidden" value="" id="hdnSubmissionDate" />
<input type="hidden" value="" id="hdnApprovedDate" />
<input type="hidden" value="" id="hdDossierStatus" />
<input type="hidden" value="0" id="hdnStatusValue" />
<input type="hidden" value="0" id="hdDeficiencyID" />
<input type="hidden" value="" id="hdDeficiencyReceiptDate" />
<input type="hidden" value="" id="hdDeficiencyDueDate" />
<input type="hidden" value="0" id="hdDossierApproverID" />
<input type="hidden" value="" id="hdnObservationView" />
@*<input type="hidden" value="10" id="hdshowType" />*@<!--5:Product Wise Deficiency's -->

@Html.HiddenFor(a=>a.ListType, htmlAttributes: new { id= "hdshowType" })
<div class="container-fluid">
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 formlist top">
        <button type="button" class="btn btn-sm float-left top listbtn" onclick="BackToList()"><img src="/Images/PMS/back.png"> Back to list</button>
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 formborder top bottom ">
            <div id="ViewDossierDeatils">
            </div>

            <div id="accordionDeficiency" class="col-12 accordion float-left padding-none top">
                <div class="card mb-0">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  top padding-none">
                        @Html.Partial("~/Areas/Regulatory/Views/RegulatoryMain/_DeficiencyList.cshtml")
                    </div>
                </div>
            </div>
            <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom padding-none" style="display:none" id="divDossierComments">
                <label class=" custom_label col-form-label">Comments</label>
                <textarea class="form-control" maxlength="250" rows="3" id="txtcomments"></textarea>
            </div>
            <div class="col-12 bottom top padding-none">
                <label class=" custom_label col-form-label float-left">Approver:</label>
                <div class="product_inputview float-left top">@Html.DisplayFor(model => model.DossierApproverName)</div>
                <div class="float-right padding-none bottom">
                    <div class="col-12 padding-none float-left">
                        <div class="float-left" id="divApproveRevertbtns" style="display:none">
                            <button type="button" class="draw btn top btn-sm buttons-approve" onclick="ApprovalSubmit('Approved')">Approve</button>
                            <button type="button" class="btn btn-sm top buttons-revert" onclick="ApprovalSubmit('Reverted')"> Revert</button>
                        </div>
                        <div class="float-right">
                            <div class="float-left padding-none" id="divSubmitDateValidation" style="display:none">
                                <button type="button" class="btn btn-sm top submitbtn" id="btnSubmitDateValidation" onclick="DossierDateSubmission();">
                                    <span>
                                        &#10004
                                    </span> Submit
                                </button>
                            </div>
                            <button type="button" class="btn btn-sm top submitbtn" id="btnSumbitApproverDate" style="display:none" onclick="onProductDossierComplete();">
                                <span>
                                    &#10004
                                </span> Submit
                            </button>
                            <button type="button" class="btn btn-sm top cancelbtn" style="margin-left:3px" onclick="OnCancelbtnClick();">
                                <span>
                                    &#10006
                                </span> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-----Modal Confirm content---->
    <div class="modal" id="ModalConfirmDossier">
        <div class="ModalConfirm modal-dialog modal-dialog-centered">
            <div class="modal-content modalMainContent">
                <!-- Modal Header -->
                <div class=" modal-header ModalConfirm ModalHeaderPart alertImg">
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <!-- Modal body -->
                <div class="col-lg-12 padding-none">
                    <p class="col-lg-12" style="max-height: 128px; color:#000;overflow-x: auto;">There is No deficiency on Product Dossier, Do you want to continue?</p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer ModalFooterPart">
                    <button type="button" id="btnConfirmDossierOk" class="btn btn-success_popup top" onclick="AjaxSubmitForDossierComplete();"
                            style=" border: 1px solid #01a6f5;color: #01a6f5;background: #fff;" data-dismiss="modal">
                        Yes
                    </button>
                    <button type="button" class="btn btn-cancel_popup top" id="btnConfirmDossierNo" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divLoadViewObservation"></div>
<!--Common History Partial View-->
@Html.Partial("~/Areas/Regulatory/Views/RegulatoryMain/_RegulatoryHistory.cshtml")
<!--call Electronic Signature -->
@Html.Partial("_ElectronicPartialView")
<script>
    var DeficiencyCount =@Model.DeficiencyCount;
    var CurrentStatus=@Model.CurrentStatus;
    var hdnReviewDate = $('#hdnReviewerDate').val();
    var hdnGoalDate = $('#hdnGoalDate').val();
    $('#hdDossierStatus').val('@Model.DossierStatus');
    $('#hdDossierApproverID').val('@Model.DossierApproverID');
    @*$('#hdListType').val('@Model.ListType');*@
    if ('@(new int[]{0,3,9}.Contains(Model.ListType))')
    {
        $('#hdshowType').val('10');
    }
    else 
    {
         $('#hdshowType').val('@Model.ListType');
    }


</script>
<!--Approval OR Revert Function-->
<script>
    var Comments = "";
    var Approvaltype = "";
    function ApprovalSubmit(approvalType)
    {
        Comments = $('#txtcomments').val().trim();
        Approvaltype = approvalType;
        if (Approvaltype == "Reverted" && Comments == "")
        {
            custAlertMsg('Enter comments', "error","FocusOnComments();");
        }
        else
        {
            if ('@Model.CurrentStatus' == '2')
            {
                ElectronicSignPopupOpen('DossierApprovalOrRevert');
            }
        }
    }

        function DossierApprovalOrRevert() {
        var CurrentStatus = 4;
        if (Approvaltype == "Approved")
        {
            CurrentStatus = 7;
        }
        ShowPleaseWait('show');
        var DossierApproval = { "ProductDossierID": $("#hdProductDossierID").val(), "CurrentStatus": CurrentStatus, "Comments": $("#txtcomments").val().trim() };
        $.post("@Url.Content("~/Regulatory/RegulatoryMain/DossierApproval")", DossierApproval,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error","OnDossierApprovalSucess();");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg("Product Application Number <b>" + $("#divAppNum").text() + "</b> has been " + Approvaltype, "success", "OnDossierApprovalSucess();");
                            break;
                    }
                }
            }, 'json').always(function () {
                ShowPleaseWait('hide');
            });
    }
    function OnDossierApprovalSucess() {
            window.location.href = '@Url.Action("DossierMainList", "RegulatoryMain", routeValues: new { area = "Regulatory",ShowType = 1 })';
    }
    function FocusOnComments() {
        $('#txtcomments').focus();
    }
</script>
<!--BackToList and Cancel Button Functions  -->

<script>
function BackToList()
{
    //TempData value Get in DeficiencyMainList
    if (@Model.ListType== 13)
    {
        window.location.href = '@Url.Action("DeficiencyMainList", "RegulatoryMain", routeValues: new { area = "Regulatory",ShowType = 13})';
    }
    else if (@Model.ListType== 12)
    {
            window.location.href = '@Url.Action("DeficiencyMainList", "RegulatoryMain", routeValues: new { area = "Regulatory",ShowType = 12 })';
    }
    else
    {
        window.location.href = '@Url.Action("DossierMainList", "RegulatoryMain", routeValues: new { area = "Regulatory",ShowType = @Model.ListType })';
    }
}
function OnCancelbtnClick() {
    if (@Model.ListType== 13)
    {
        window.location.href = '@Url.Action("DeficiencyMainList", "RegulatoryMain", routeValues: new { area = "Regulatory",ShowType = 13 })';
    }
        else if (@Model.ListType== 12)
    {
            window.location.href = '@Url.Action("DeficiencyMainList", "RegulatoryMain", routeValues: new { area = "Regulatory",ShowType = 12 })';
    }
    else
    {
        window.location.href = '@Url.Action("DossierMainList", "RegulatoryMain", routeValues: new { area = "Regulatory",ShowType = @Model.ListType })';
    }
}
</script>
<!--Under Review Process-->
<!--Date Submission(Review AcceptDate,Goal Date) -->
<script>
    function DossierDateSubmission()
    {
        var hdnReviewDate = $('#hdnReviewerDate').val();
        var hdnGoalDate = $('#hdnGoalDate').val();
        var errors = [];
        var ProductDossierID = $('#hdProductDossierID').val();
        var ReviewAcceptedDate = $('#txtReviewAcceptedDate').val() == "" ? hdnReviewDate : $('#txtReviewAcceptedDate').val();
        var GoalDate = $('#txtGoalDate').val();
        var Comment = $('#txtcomments').val();
        var DossierStatus = $('#hdDossierStatus').val();
        var CurrentStatus = $("#hdnCurrentStatus").val();
        if (CurrentStatus==7)//Product Details Approved(CurrentStatus==7)
        {
            //if ((ReviewAcceptedDate == "" || ReviewAcceptedDate == null || ReviewAcceptedDate == "NA") && (GoalDate == "" || GoalDate == null || GoalDate == "NA"))
            //{
            //    errors.push("Select Review Accepted Date & Goal Date.");
            //}
            //else
            if (ReviewAcceptedDate == "" || ReviewAcceptedDate == null || ReviewAcceptedDate == "NA")
            {
                errors.push("Select Review Accepted Date.");
            }
            else if ((GoalDate == "" || GoalDate == null || GoalDate == "NA") && hdnReviewDate!="NA"  && DossierStatus =='U') /*(GoalDate != "" && GoalDate != null && GoalDate != "NA") */
            {
                errors.push("Select Goal Date.");
            }
            else
            {
                $('#hdnReviewerDate').val(ReviewAcceptedDate);
            }
        }
        if (CurrentStatus == 5)//After Review Accept Date Submitted(CurrentStatus==5)
        {
            if (GoalDate != "" && GoalDate != null && GoalDate != "NA")
            {
                if (ReviewAcceptedDate == "" || ReviewAcceptedDate == null || ReviewAcceptedDate == "NA")
                {
                    errors.push("Select Review Accepted Date.");
                }
            }
            else if ((GoalDate == "" || GoalDate == null || GoalDate == "NA") && DossierStatus=='U')
            {
                errors.push("Select Goal  Date.");
            }
        }
        if (errors.length > 0)
        {
            custAlertMsg(errors.join("<br/>"), "error");
        }
        else
        {
            var DossierData = { "ProductDossierID": ProductDossierID, "ReviewAcceptedDate": ReviewAcceptedDate, "GoalDate": GoalDate, "Comments": Comment};
            AjaxCallDossierDateSubmission(DossierData);
        }
    }
    function AjaxCallDossierDateSubmission(DossierData)
    {
        ShowPleaseWait('show');
        $.post("@Url.Content("~/Regulatory/RegulatoryMain/DossierDatesSubmission")", DossierData,
            function (result) {
                if ((result._DeficiencyCount == 0) && (result._ResultType == 3 )|| (result._ResultType==2))
                {
                    VisibleFieldsforDateValidation();
                }
                switch (result._ResultType)
                {
                        case 0:
                        custAlertMsg("Unknown Issue Occurred, No Action Taken.", "error");
                            break;
                        case 1:
                        custAlertMsg("Review Accepted Date Added", "success","ReviewAccptedDateReload();");
                            break;
                        case 2:
                        custAlertMsg("Goal Date Added", "success", "ReviewAccptedDateReload();");
                            break;
                        case 3:
                        custAlertMsg("Review Accepted Date And Goal Date Added", "success","hideSubmitBtn();");
                            break;
                        case 4:
                        custAlertMsg(result.msg, "error","GetBackToMainList();");
                            break;
                }
            }, 'json').always(function () {
                ShowPleaseWait('hide');
            });
    }
    function ReviewAccptedDateReload()
    {
        location.reload(true);
    }
    function hideSubmitBtn() {
        location.reload(true);
        $('#btnSubmitDateValidation').hide();
    }
</script>
<!--Product Dossier Completion-->
<script>
    function onProductDossierComplete()
    {
        var ApproverDate = $('#txtApprovedDate').val();
        if (ApproverDate == "")
        {
            custAlertMsg("select Approved Date", "error");
            return false;
        }
        else
        {
            var DeficiencyCount = $('#hdDeficiencyCount').val();
            if (DeficiencyCount == 0)
            {
                $('#ModalConfirmDossier').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            }
            else
            {
                AjaxSubmitForDossierComplete();
            }
        }
    }
    function AjaxSubmitForDossierComplete()
    {
        var DossierData = {
            "ProductDossierID": $('#hdProductDossierID').val(),
            "DossierStatus": $('#ddlDossierStatus').val(),
            "ApprovedDate": $('#txtApprovedDate').val(),
            "MarketStatus": $('#ddlMarketStatus').val()
        };
        ShowPleaseWait('show');
            $.post("@Url.Content("~/Regulatory/RegulatoryMain/ProductDossierComplete")", DossierData,
        function (result) {
            switch (result.msgType) {
                    case "error":
                    custAlertMsg(result.msg, "error", "GetBackToMainList()");
                        break;
                    case "success":
                         custAlertMsg("Product Details Completed", "success","GetBackToMainList();");
                         break;
                    case "warning":
                         custAlertMsg("Close the all the Deficiency(s)", "warning");
                        break;
            }
                }, 'json').always(function () {
                    ShowPleaseWait('hide');
                });
    }
    function GetBackToMainList()
    {
        var ListType = 0;//pending List type
        window.open('@Url.Content("~//Regulatory/RegulatoryMain/DossierMainList?ShowType=")' + ListType, '_self');
    }
</script>
<!--To load View Dossier Details-->
<script>
         $("#ViewDossierDeatils").load("/Regulatory/RegulatoryMain/_ViewDossierDetails?DossierID=" + @Model.ProductDossierID);
</script>
<!--Product Current Status Checking -->
<script>
    if ('@Model.CurrentStatus'==8)
    {
        $('#CreateNewDefbtn').show();
    }
         if (('@(new int[] { 5,6 }.Contains(Model.CurrentStatus))' == 'True') && (@Model.DossierAuthorID==@Model.AuthenticationEmpID) && ('@Model.DossierStatus' == 'U')) {

             $('#divSubmitDateValidation').show();
             $('#CreateNewDefbtn').show();
             if ('@Model.ReviewAcceptedDate' != 'NA') {
                 if ('@Model.GoalDate' == 'NA') {
                     $('#divGoalDate').show();
                     $('#lblDivGoalDate').hide();
                 }
             }
             else {
                 $('#divGoalDate').show();
                 $('#divReviewAcceptedDate').show();
                 $('#lblDivReviewAcceptedDate').hide();
                 $('#lblDivGoalDate').hide();
             }
         } else if (('@(new int[] {2}.Contains(Model.CurrentStatus))' == 'True') && (@Model.DossierApproverID==@Model.AuthenticationEmpID) && ('@Model.DossierStatus' == 'A' || '@Model.DossierStatus' == 'U')) {
             $('#divApproveRevertbtns').show();
             $('#divDossierComments').show();
             if ('@Model.DeficiencyExists' == 'True') {
                 $('#accordionDeficiency').show();
             }
             else {
                 $('#accordionDeficiency').hide();
             }
         }
         else if (('@(new int[] {2,4}.Contains(Model.CurrentStatus))' == 'True') && ('@Model.DossierStatus' == 'A' || '@Model.DossierStatus' == 'U')) {
             if (('@Model.DeficiencyExists' == 'True') && (@Model.DossierAuthorID==@Model.AuthenticationEmpID || @Model.DossierApproverID==@Model.AuthenticationEmpID)) {
                 $('#accordionDeficiency').show();
             }
             else {
                 $('#accordionDeficiency').hide();
             }
         }
         else if ('@Model.CurrentStatus' == 4) {
             $('#divDossierComments').hide();
         }
         if (('@Model.CurrentStatus' == 7) && ('@Model.DossierStatus' == 'U') && (@Model.DossierAuthorID==@Model.AuthenticationEmpID))
         {
             $('#divSubmitDateValidation').show();
                $('#CreateNewDefbtn').show();
                //Date Fields as Edit or View Mode
                if ('@Model.ReviewAcceptedDate' != 'NA')
                {

                    if ('@Model.GoalDate' == 'NA') {
                        $('#divGoalDate').show();
                        $('#lblDivGoalDate').hide();
                    }
                    else {
                       if (@Model.DeficiencyCount==0) {
                        $('.clsfordivFieldStatus').show();
                        $('.clsforlbldivStatus').hide();
                        $('#btnSubmitDateValidation').hide();
                    }
                    else {
                        $('#btnSubmitDateValidation').hide();
                    }
                    }
                }
                else
                {
                    $('#divGoalDate').show();
                    $('#divReviewAcceptedDate').show();
                    $('#lblDivReviewAcceptedDate').hide();
                    $('#lblDivGoalDate').hide();
                }
         }
          if ((@Model.DeficiencyCount > 0) && ('@Model.DossierStatus' == 'U') && (@Model.DossierAuthorID==@Model.AuthenticationEmpID))
         {

                    //Date Fields as Edit or View Mode
             if (@Model.CurrentStatus==7) {
                 $('#divSubmitDateValidation').show();

                 $('#CreateNewDefbtn').show();
                 if ('@Model.ReviewAcceptedDate' != 'NA') {

                     if ('@Model.GoalDate' == 'NA')
                     {
                         $('#divGoalDate').show();
                         $('#lblDivGoalDate').hide();
                     }
                     else if (@Model.DeficiencyCount==0)
                         {
                                $('.clsfordivFieldStatus').show();
                                $('.clsforlbldivStatus').hide();
                                $('#btnSubmitDateValidation').hide();
                        }
                         else
                         {
                                $('#btnSubmitDateValidation').hide();
                         }
                 }
                 else
                 {
                     $('#divGoalDate').show();
                     $('#divReviewAcceptedDate').show();
                     $('#lblDivReviewAcceptedDate').hide();
                     $('#lblDivGoalDate').hide();
                 }
             }
             else {
                 $('.clsfordivFieldStatus').show();
                 $('.clsforlbldivStatus').hide();
                 $('#btnSubmitDateValidation').hide();
                 $('#btnSumbitApproverDate').hide();
             }
         }
</script>
<script>
    function VisibleFieldsforDateValidation() {
        $('.clsfordivFieldStatus').show();
        $('.clsforlbldivStatus').hide();
    }
</script>

<script>
    //Navigate to  Product Details Main List  if exist deficiency's Show the Data Table 
    if ($('#hdshowType').val() == "3") {

        if ('@Model.DeficiencyExists' == 'True') {
            $('#accordionDeficiency').show();
        }
        //else {
        //    $('#accordionDeficiency').hide();
        //}
    }
</script>
