﻿@import url('../login/button.css');
@import url('../Common/common.css');
@import url('../grid_icons/grid_icon.css');
@import url('../datetimepicker/datetimepicker.css');
@import url('../ui components/tabs.css');
@import url('../Common/sticky_popup_styles.css');
@import url('dms_dashboard.css');

.check_button {
    border: 1px solid #6a6a6a;
    border-radius: 4px;
    background: #6a6a6a;
    color: #fff;
    padding: 0px 5px;
    margin-top: -3px;
    font-size: 10pt;
}

.btn-track_edit {
    margin-bottom: 4px;
    margin-right: 4px;
    background: #5da2be;
    border: 1px solid #5da2be;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 14px;
    color: #fff;
    font-family: seguisb;
    border-radius: 4px;
}

    .btn-track_edit:hover {
        color: #fff;
    }

.btn-file-upload, .btn-file-upload-multiple {
    width: 100%;
    position: relative;
    padding: 3px 1px;
}

    .btn-file-upload:after {
        content: attr(value);
        position: absolute;
        padding: 5px 15px;
        left: 0;
        background: #909090;
        color: #fff;
        border-radius: 4px;
        text-align: center;
        font-size: 13px;
        border: 1px solid #606669;
    }


    .btn-file-upload-multiple:after {
        content: attr(value);
        position: absolute;
        left: 0;
        padding: 5px 15px;
        background: #909090;
        color: #fff;
        border-radius: 4px;
        text-align: center;
        font-size: 13px;
        border: 1px solid #606669;
    }

.dms_info_text {
    color: #8097af;
    font-family: seguisb;
    font-weight: bold;
    font-size: 10pt;
}

.note_lbl {
    color: #9faebb;
    font-family: seguisb;
    padding-right: 6px;
    font-size: 9pt;
    margin-top: 4px;
    float: left;
}

.legend_images img {
    margin-top: -3px;
    width: 21px;
}

.gridpager tr td {
    padding: 5px 13px;
    background: #38b8ba;
    border: 1px solid #fff;
    color: #000;
}

.gridpager, .gridpager td {
    text-align: right;
    color: #38b8ba;
    background: #efffff;
    font-weight: bold;
    text-decoration: none;
}

.gridpager a {
    color: White;
    font-weight: normal;
}

.gridpager table {
    float: right;
}
.inactive_emp {
    background: #e2baba !important
}
.inactive_emp_leg {
    border: 1px solid #ad6e6e;
    padding: 10px;
    border-radius: 4px;
    background: #e2baba !important
}
.inactive_text {
    color: #3e3e3e;
    padding: 5px 11px;
    font-size: 10pt;
    font-weight: bold;
    font-family: seguisb;
    margin-top: -4px;
    float: left;
}
.regulatory_dropdown_inactive {
    color:  #fd4545 !important;
}
.border_top_none{
    border-top:none;
}
/* ---- modalpopup scroll bar in dms ---- */
.Modalpopup-Scroll {
    max-height: 500px;
    overflow-y: auto;
}

/*File view popup*/
.fileModalpopup-Scroll {
    max-height: 690px;
    overflow-y: auto;
}
/*.fa-search:before {
    content: "\f002";
    color: #38b8ba;
}

.searchableinput,.searchableinput:focus {
    color: #38b8ba !important;
}
.search_bgcolor {
    background-color: #cdedee !important;
}
.documentdiv_border {
    border: 2px solid #c8d2d2;
}
.searchableinput {
    border: 2px solid #38b8ba !important;
    border-right: 0 !important;
    padding:0px !important;
}
.searchicon_border {
    border: 2px solid #38b8ba !important;
    border-left: 0 !important;
}
.documentnum_div {
    color: #969d9d;
    font-size: 13pt;
    font-family: seguisb;
    text-decoration: underline;
    text-underline-position: under;
}
.documentcontent_div {
    font-size: 13pt;
    font-family: seguisb;
}
.colour_div {
    color: #38b8ba;
}
.dms_btn-search {
    background: #38b8ba;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}
.dms_btn-ok {
    background: #38b8ba;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 8px 30px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}
.max_text {
    color: #c5c6c6;
    font-size: 10pt;
    font-family: seguisb;
    padding:1px;
}*/
.report_btn {
    background: url(../../Images/report_icon.png) #fff no-repeat;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    background-position: 1px 2px;
    background-size: 32%;
    padding: 4px 8px 4px 25px;
    font-size: 10pt;
    color: #38b8ba;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}
    .report_btn:hover {
        background: url(../../images/report_icon_hover.png) #38b8ba no-repeat;
        border: 1px solid #38b8ba;
        border-radius: 4px;
        background-position: 1px 2px;
        background-size: 32%;
        padding: 4px 8px 4px 25px;
        font-size: 10pt;
        color: #fff;
        font-family: seguisb;
        text-decoration: none;
        cursor: pointer;
    }
.btn-DirectPrint {
    background: #fff;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 10pt;
    color: #38b8ba;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
    margin-left: -9rem;
    margin-right: 19px;
}

