﻿.panel_list_bg {
    background: url(../../Images/common_dashboard/panel_bg_tiltes.png) no-repeat;
    background-position: right top;
    background-color: #fcfbfb;
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

    .flip-container:hover .flipper,
    .flip-container.hover .flipper {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 125px;
}



.f1_container {
    position: relative;
    height: 120px;
    z-index: 1;
}

.f1_container {
    perspective: 1000;
}

.f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.f1_container:hover .f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

    .face.back {
        display: block;
        transform: rotateY(180deg);
        box-sizing: border-box;
        color: white;
        text-align: center;
    }

.flip_list {
    padding: 0;
    margin: 0;
    max-height: 112px;
    overflow-y: auto;
}

    .flip_list li a {
        list-style-type: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        padding: 4px 7px 4px 6px;
        font-size: 10pt;
        text-align: left;
        font-family: seguisb;
    }

        .flip_list li a:hover {
            list-style-type: none;
            border-bottom: 1px solid #fff;
            color: #3e3e3e;
            padding: 4px 7px 4px 6px;
            background: #fff;
            font-size: 10pt;
            text-align: left;
            font-family: seguisb;
            border-radius: 4px;
        }

    .flip_list li {
        list-style-type: none;
    }




.outer_dashboard {
    border-radius: 4px;
    border: 2px solid #32a4c0 !important;
    margin-bottom: 10px;
    background: #32a4c0 !important;
    height: auto !important;
    padding: 2px 12px;
}

    .outer_dashboard:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.header_text_dshboard {
    color: #fff;
    padding: 10px;
    font-family: seguisb;
    font-size: 11pt;
    border-bottom: none !important;
}

.dashboard-image {
    margin-top: 10px;
    padding: 0px 14px;
    margin-bottom: 10px;
}

.link_dashboard {
    color: #fff;
    font-family: seguisb;
    font-size: 25pt;
    float: right;
    padding: 0px;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.dashboard_frontpanel_value {
    font-size: 25pt;
    font-weight: bold;
}

.view_text_dshboard {
    color: #fff;
    padding: 8px;
    font-family: seguisb;
    font-size: 13px;
}

.card_view_box_1 {
    color: #fff;
    padding: 33px !important;
    text-align: center;
    width: 100%;
    font-size: 15pt;
}

.outer_dashboard1 {
    border-radius: 4px;
    border: 2px solid #d07d7d;
    margin-bottom: 10px;
    background: #d07d7d;
}

.outer_dashboard2 {
    border-radius: 4px;
    border: 2px solid #6d8b8c;
    margin-bottom: 10px;
    background: #6d8b8c;
}

.outer_dashboard3 {
    border-radius: 4px;
    border: 2px solid #525d5d;
    margin-bottom: 10px;
    background: #525d5d;
    height: 100%;
}

.form-group {
    margin-bottom: 5px;
}

    .form-group label {
        color: #38b8ba;
        font-family: seguisb;
    }

.calender_atc {
    margin: 0;
    padding: 6px;
    background: #fff;
    border: 2px solid #525d5d;
    float: right;
}

.dropdown_dashboard {
    margin: 9px -11px;
    padding: 0;
}

.calender_atc li {
    display: inline;
}

    .calender_atc li a {
        padding: 20px 10px;
        background: #f1f0f0;
        margin-bottom: 2px;
        float: left;
        border-right: 2px solid #fff;
        width: 25%;
        color: #525d5d;
        font-family: seguisb;
        font-size: 10px;
    }

        .calender_atc li a.active {
            padding: 20px 10px;
            background: #525d5d;
            margin-bottom: 2px;
            float: left;
            border-right: 2px solid #fff;
            width: 25%;
            color: #fff;
            font-family: seguisb;
            text-decoration: none;
            cursor: pointer;
        }

.atc_month_count {
    float: right;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.atcCardDocsList {
    /* position: absolute; */
    background: #fff;
    border: 2px solid #3e3e3e;
    min-height: 225px;
    max-height: 400px;
    overflow: auto;
    float: right;
    box-shadow: 0px 25px 30px -16px;
}

.grid_header_dashboard {
    background: #d4d4d4;
    padding: 7px;
    color: #2e2e2e;
    font-size: 9pt;
    font-family: seguisb;
}

.close_Cal {
    cursor: pointer;
}

#tblAtcDocsList thead th {
    background: #525d5d;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    font-family: seguisb;
    padding: 8px 0px;
}



#tblAtcDocsList tbody tr td {
    border-bottom: 1px solid #3e3e3e;
    font-size: 13px;
    font-weight: 600;
    font-family: seguisb;
    text-align: center;
    padding: 8px 0px;
    color: #000 !important;
}


.panel_list ul li a.refresh {
    background: url(../../Images/common_dashboard/panel_list.png) no-repeat;
    background-position: 0px -43px;
}

.panel_list ul li a {
    background: url(../../Images/common_dashboard/panel_list.png) no-repeat;
    padding: 8px 18px 8px 13px;
    cursor: pointer;
}

    .panel_list ul li a.filter_icon {
        background: url(../../Images/common_dashboard/panel_list.png) no-repeat;
        background-position: 0px -80px;
    }

.filter_dropdown {
    position: absolute;
    background: #f0f0f0;
    z-index: 8;
    right: 0;
    padding: 10px;
    border: 1px solid #aeaeae;
    top: 33px;
    width: 300px;
}

.panel_list ul {
    padding: 0;
    margin: 0;
}

.panel_list ul li {
    list-style-type: none;
    display: inline;
}

.form-group {
    margin-bottom: 5px;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dx-theme-generic-typography {
    background-color: #fff;
    color: #333;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
    line-height: 1.35715;
}

.chart_title_bottom {
    font-family: seguisb;
    font-size: 11pt;
    color: #406b71;
}

.norecords {
    width: 100%;
    text-align: center;
    padding: 42px;
    font-size: 14pt;
    color: #fff;
}

.noOverDuerecords {
    width: 100%;
    text-align: center;
    padding: 151px;
    font-size: 22pt;
    color: #07889A;
}

.chart_height {
    height: 346px;
}

#Barchart {
    height: 300px;
}



#OverDueChart {
    height: 300px;
}

.panel-heading_title {
    background: #cdedee !important;
    padding: 10px;
    font-family: seguisb;
    font-size: 11pt;
    color: #418e8f;
    border-radius: 0 !important;
    border: 1px solid #38b8ba;
    border-bottom: none;
}

.grid_panel_hod {
    border: 1px solid #38b8ba;
    padding: 8px 0 !important;
}

.noCaparecords {
    width: 100%;
    text-align: center;
    padding-top: 185px;
    font-size: 22pt;
    color: #07889a;
    height: 449px;
}

.outer_dashboard:hover {
    -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
}

.outer_dashboard1:hover {
    -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
}

.outer_dashboard2:hover {
    -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
}

.outer_dashboard3:hover {
    -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
}
.chart_border {
    border: 1px solid #d4d4d4;
}