﻿@model QMS_BO.QMS_ChangeControl_BO.CCNMaster
@{ int rowNo = 0; }
<style>
    .Modalpopup-Scroll {
        max-height: 600px;
        overflow-y: auto;
    }
</style>

<input id="GetAssessHOD" type="hidden" value="" />
<div id="myModalCCNManage" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog  modal-dialog-centered" style="max-width:80%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">Change control Note Manage</h4>
                <button type="button" class="close" onclick="CloseManage();">&times;</button>
            </div>
            <div class="modal-body Modalpopup-Scroll style-3">
                <div id="accordionConent" class="accordion">
                    <div class="card mb-0 col-12 top">
                        <div class="card-header panel-heading_title" data-toggle="collapse" href="#collapseOneSub" data-parent="#accordionConent">
                            <a class="card-title collapsed">
                                View Change Control Note
                            </a>
                        </div>
                        <div id="collapseOneSub" class="collapse show" data-parent="#accordionConent">
                            <div class="card-body col-12 float-left grid_panel_hod bottom">
                                <div class="col-12 ">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 userprofile_bg float-left col-12   bottom" id="MainDIV">

                                        <div hidden="hidden">
                                            @Html.EditorFor(model => model.CCN_ID, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 " style="padding:5px;">
                                            <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">CCN Number</label>
                                            <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.CCN_No, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 " style="padding:5px;">
                                            <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Department</label>
                                            <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined">
                                                @Html.DisplayFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                            <label for="inputEmail3" class=" float-left padding-none profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Date </label>
                                            <div class="col-sm-8 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.CCN_Date, new
                                                {
                                                htmlAttributes = new { @class = "form-control datetimepicker", @formate = "DD-MMM-yyyy" }
                                                })
                                            </div>
                                        </div>
                                        <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                            <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Type of Change</label>
                                            <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                                @Html.DisplayFor(model => model.TypeChange, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                            <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Category of Change</label>
                                            <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.CategoryofChangeName, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>


                                        <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                            <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Item Code </label>
                                            <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                                @Html.DisplayFor(model => model.ItemCode, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div id="temporaryfileds" style="display:none">
                                            <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                                <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Applicable Batch/es#/Lot/s#/Strength/s# </label>
                                                <div class="col-xl-6 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left" style="margin-top: 6px;">
                                                    @Html.DisplayFor(model => model.ApplicableBatch, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                                <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Applicable Timeline</label>
                                                <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                                    @Html.DisplayFor(model => model.ApplicableTimeline, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 custom_text_view">
                                                <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-2 col-md-4 col-sm-6 col-lg-4 float-left col-6">Applicable Equipment/Instrument/Area Name&ID </label>
                                                <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left " style="margin-top: 16px;">
                                                    @Html.DisplayFor(model => model.ApplicableEquipment, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>

                                        </div>
                                        <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                            <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Project Number</label>
                                            <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined">
                                                @Html.DisplayFor(model => model.ProjectNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                            <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Market </label>
                                            <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                                @Html.DisplayFor(model => model.MarketName, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                            <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Document Type</label>
                                            <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.DocumentTypeName, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class=" col-xl-6 col-md-12 col-sm-12 col-lg-12 float-left col-12 custom_text_view">
                                            <label for="inputEmail3" class=" padding-none float-left profile_label  col-xl-4 col-md-2 col-sm-2 col-lg-2  float-left col-2">Document Reference No</label>
                                            <div class="col-xl-8 col-md-10 col-sm-10 col-lg-10 float-left col-10 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.ReferenceNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 custom_text_view">
                                            <label for="inputEmail3" class=" profile_label float-left col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2 padding-none">Document Name</label>
                                            <div class="col-xl-10 col-md-10 col-sm-10 col-lg-10 float-left col-10 padding-none profile_defined float-left">
                                                @*DocumentDetails*@
                                                @Html.DisplayFor(model => model.DocTitle, new { htmlAttributes = new { @class = "form-control", @id= "DocumentDetails" } })
                                            </div>
                                        </div>
                                        @if (@Model.DueDate != "N/A")
                                        {
                                        <div class=" col-xl-12 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                            <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-2 col-md-4 col-sm-6 col-lg-4 float-left col-6">DueDate  </label>
                                            <div class="col-xl-10 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                                @Html.DisplayFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 float-left top bottom">
                    <div id="accordioncontent" class="accordion">
                        <div class="card mb-0">
                            <div class="card-header panel-heading_title " data-toggle="collapse" href="#collapsetwoSub">
                                <a class="card-title collapsed">
                                    Change Control Note Users
                                </a>
                            </div>

                            <div id="collapsetwoSub" class="collapse show" data-parent="">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none grid_panel_hod ">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12">
                                        <table id="tblAdminMangeRoles" class="table datatable_cust table-striped table-bordered no-footer" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Role Names</th>
                                                    <th style="display:none">Selected Values</th>
                                                    <th>Employee</th>
                                                    <th style="width:140px">Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--Get History Data-->
                                                @foreach (QMS_BO.QMS_ChangeControl_BO.CCNMaster item in ViewBag.GetManageRolesList)
                                                {
                                                <tr>
                                                    <td class="GetSerialNo">@(rowNo += 1)</td>
                                                    <td style="display:none" class="selectedRolesID">@item.SelectedAssessmentHOD</td>
                                                    <td class="RoleNameforManage">@item.AdminMangeRoleName</td>
                                                    <td class="text-center">
                                                        @if (((@Model.CurrentStatus == 3 || @Model.CurrentStatus == 6) && item.AdminMangeRoleName == "Initiator")
                                                        || ((@Model.CurrentStatus == 1 || @Model.CurrentStatus == 12) && item.AdminMangeRoleName == "HOD")
                                                        || ((@Model.CurrentStatus == 2 || @Model.CurrentStatus == 8 || @Model.CurrentStatus == 25 || @Model.CurrentStatus == 5) && item.AdminMangeRoleName == "QA")
                                                        || ((@Model.CurrentStatus == 15 || @Model.CurrentStatus == 24) && item.AdminMangeRoleName == "HeadQA"))
                                                        {
                                                        @Html.DropDownList("IDAssignedRoleID", item.ddlAdminManageRoles as List<SelectListItem>
                                                                     ,
                                                                     htmlAttributes: new
                                                                     {
                                                                         @class = " col-lg-6  ddlRolesUSerDropdown padding-none selectpicker1 drop_down ",
                                                                         @disabled = "disabled",
                                                                     })
                                                        }
                                                        else
                                                        {
                                                            if (@item.SelectedEmployee != null)
                                                            { @item.SelectedEmployee;
                                                            }
                                                            else
                                                            { <label>N/A</label>
                                                            }
                                                        }
                                                    </td>
                                                    <td class="text-center" style="width:300px">
                                                        @if (((@Model.CurrentStatus == 3 || @Model.CurrentStatus == 6) && item.AdminMangeRoleName == "Initiator")
                                                        || ((@Model.CurrentStatus == 1 || @Model.CurrentStatus == 12) && item.AdminMangeRoleName == "HOD")
                                                        || ((@Model.CurrentStatus == 2 || @Model.CurrentStatus == 8 || @Model.CurrentStatus == 25 || @Model.CurrentStatus == 5) && item.AdminMangeRoleName == "QA")
                                                        || ((@Model.CurrentStatus == 15 || @Model.CurrentStatus == 24) && item.AdminMangeRoleName == "HeadQA"))
                                                        {

                                                        <a class="btnCCNRolesEdit edit_icon_feed Edit Edit_btns" title="Edit" style="margin-left:0%;"></a>
                                                        <button type="button" class="btnCCNRolesUpdate  btn btn-revert_popup" style="margin-bottom:0px;display:none">Update</button>
                                                        <button type="button" class="btnCCNRolesCancel  btn btn-cancel_popup" style="margin-bottom:0px;display:none">Cancel</button>
                                                        }
                                                        else
                                                        {
                                                        <span>N/A</span>
                                                        }
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Assessment List-->
                <div class="col-xl-12 float-left" id="DvAssessmentCCN" style="display:none">
                    <div id="accordioncontent" class="accordion top">
                        <div class="card mb-0">
                            <div class="card-header panel-heading_title " data-toggle="collapse" href="#collapseThreeSub">
                                <a class="card-title collapsed">
                                    Assessment HOD's
                                </a>
                            </div>

                            <div id="collapseThreeSub" class="collapse show" data-parent="">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none grid_panel_hod  ">
                                    <table id="tblAssessmentReview" class="table datatable_cust table-striped  table-bordered  no-footer" cellspacing="0" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>AssessmentID</th>
                                                <th>CCN_ID</th>
                                                <th>DeptID</th>
                                                <th>BlockID</th>
                                                <th>EmpID</th>
                                                <th>Department</th>
                                                <th>Block</th>
                                                <th>HOD Name</th>
                                                <th>Current Status</th>
                                                <th class="editbtn" style="width:140px">Edit</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12 bottom float-right padding-right_div">
                    <div class="col-12 float-right padding-right_div">
                        <button onclick="CloseManage();" id="btnDeptCancel" class="btn btn-cancel_popup float-right" tabindex="10">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="MyModelReAssigneComments" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">
                    Comments
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                        <label for="username" class="custom_label col-form-label required">Comments</label>
                        <div class="col-12 padding-none">
                            <textarea type="text" class="col-12  padding-none  drop_down selectpicker" name="name" id="ReassignComments" placeholder="Comments" rows="4" maxlength="500"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-signup_popup" id="btnAProve" onclick="ModifiedSubmitAction()">Submit</button>
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="MyModelAssessmentReAssigneComments" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">
                    Comments
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                        <label for="username" class="custom_label col-form-label required">Reason</label>
                        <div class="col-12 padding-none">
                            <textarea type="text" class="col-12  padding-none  drop_down selectpicker" name="name" id="txtAssessmentReassignComments" placeholder="Comments" rows="4" maxlength="500"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-signup_popup" id="btnAProve" onclick="ModifiedAssessmentSubmitAction()">Submit</button>
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.selectpicker1').selectpicker({
        liveSearch: true,
        showSubtext: true,
        size: 7
    });
</script>



<!-- #region  Assessment Manage-->
<!--JQuery Data table for Assessment-->
<script>
    var oTable1 = "";
    function GetAssessmentDepartments() {
        //Assigned Department  and Responsible HOD's List
        $('#tblAssessmentReview').wrap('<div class="dataTables_scroll" />');
        oTable1 = $('#tblAssessmentReview').DataTable({
            columns: [
                { 'data': 'RowNumber' }, //0
                {
                    "mData": null,   //10 View
                    "bSortable": false,
                    "mRender": function (o) {
                        {
                            return '<label class="lblUniqueID" >' + o.UniqueID + '</label>'
                        }
                    }
                },
                { 'data': 'CCN_ID' },//2
                { 'data': 'DeptID' },//3
                { 'data': 'BlockID' }, //4
                { 'data': 'EmpID' }, //5
                { 'data': 'DeptName' }, //6
                { 'data': 'BlockName' }, //7
                {
                    'data': 'ddlAssessmentHODs',
                }, //8
                { 'data': 'CuurentStatus' },//9
                {
                    "mData": null,   //10 View
                    "bSortable": false,
                    "mRender": function (o) {

                        {
                            if (o.CurrentStatusNumber == 7 || o.CurrentStatusNumber == 3 || o.CurrentStatusNumber == 9) {
                                return '<a class="btnAssessmentEdit edit_icon_feed Edit " title="Edit" style="margin-left:0%;"  ></a> <button type="button" class="btnAssessmentUpdate float-left  btn btn-revert_popup" style="margin-bottom:0px;display:none"onclick="GetUpdateHodAssessemnt(' + o.UniqueID + ',' + o.EmpID + ');" >Update</button> <button type="button" class="btnAssessmentCancel  float-left btn btn-cancel_popup" style="margin-bottom:0px;display:none">Cancel</button>'
                            } else {
                                return '<span >N/A</span>';
                            }
                        }
                    }
                },
            ],
            "paging": true,
            "bDestroy": true,
            "scrollY": "",
            "scrollX": false,
            "aoColumnDefs": [{ "targets": [1, 2, 3, 4, 5], "visible": false, "searchable": false }, { className: "textAlignCenter", "targets": [10] },
            {
                targets: [8], render: function (a, b, data, d) {
                    var ddl = "<select disabled  class='ddlUserDropdown col-12 drop_down padding-none selectpicker1' onchange='GetStoredHidden(this);' >";
                    if (data.CurrentStatusNumber == 7 || data.CurrentStatusNumber == 3 || data.CurrentStatusNumber == 9)
                    {
                        for (var i = 0; i < data.ddlAssessmentHODs.length; i++) {
                            if (data.ddlAssessmentHODs[i].Selected == true) {
                                ddl = ddl + "<option selected value='" + data.ddlAssessmentHODs[i].Value + "'>" + data.ddlAssessmentHODs[i].Text + "</option>";
                            }
                            else {
                                ddl = ddl + "<option value='" + data.ddlAssessmentHODs[i].Value + "'>" + data.ddlAssessmentHODs[i].Text + "</option>";
                            }
                        }
                        ddl += "</select>";
                        return ddl;
                    } else {
                        return data.EmployeeName;
                    }
                }
            },
            ],
            'bAutoWidth': true,
            /**/
            "sAjaxSource": "@Url.Content("~/QMS/ChangeControl/GetAssementForCCNManaging")",
    /**/
    "fnServerData": function (sSource, aoData, fnCallback) {
        /**/
        aoData.push({ "name": "CCN_No", "value": (@Model.CCN_ID) });
    /**/
    $.ajax({
        "dataType": 'json',
        "contentType": "application/json; charset=utf-8",
        "type": "GET",
        "url": sSource,
        "data": aoData,
        "success": function (result) {
            if (result.msgRedirecttoLoginPage) //Singal Instance
            {
                window.location.href = '/UserLogin.aspx';
            }
            else {
                if (result.hasError == true) {
                    custAlertMsg(result.data, "error", "ReloadDashboard();");
                }
                else {
                    fnCallback(result);
                    $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                    //$(".tblAssessmentReviewClass").css({ "width": "100%" });
                    $(".dataTables_filter").css({ "display": "none" });
                    $(".editbtn").css("width", 140);
                    $('.selectpicker1').selectpicker({
                        liveSearch: true,
                        showSubtext: true,
                        size: 7
                    });
                }
            }
        },
        error: function (xhr, textStatus, error) {
            if (typeof console == "object") {
                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
            }
        }
    });
}
});
}

</script>
<script>
    /**/
    if (@ViewBag.AssessmentExistOrNot!=0) {
        /**/
        $("#DvAssessmentCCN").show();
        $('#myModalCCNManage').on('shown.bs.modal', function (e) {
            GetAssessmentDepartments();
        });
    }
    else {
        $("#DvAssessmentCCN").hide();
    }
    // GetAssessmentDepartments();
</script>
<!--Assessment Managing-->
<script>
    $('#tblAssessmentReview').on('click', '.btnAssessmentEdit', function () {
        $(this).closest("tr").find(".btnAssessmentUpdate").css("display", "inline-block");
        $(this).closest("tr").find(".btnAssessmentCancel").css("display", "inline-block");
        $('.btnAssessmentEdit').css("display", "none");
        $(this).closest("tr").find(".ddlUserDropdown").removeAttr('disabled');
        $(this).closest("tr").find(".ddlUserDropdown").next().removeClass('disabled');
        $("#tblNTFAdminManage .ddlUserDropdown").selectpicker("refresh");
    });
    $('#tblAssessmentReview').on('click', '.btnAssessmentCancel', function () {

        ReloadAssessmentGrid();
    });
    var AssessID = "";
    var PerviousEmpId = "";
    var NewHodValue = "";
    var GetAssessmentComments = "";
    function GetUpdateHodAssessemnt(AssessmentID, PerviousHodEMPID) {
        NewHodValue = $("#GetAssessHOD").val();

        if (NewHodValue == "" || PerviousHodEMPID == NewHodValue) {
            custAlertMsg("There are no Changes to Update.", "warning");
        } else if (NewHodValue == 0) {
            custAlertMsg("Select Employee.", "error");
        }
        else {
            AssessID = AssessmentID;
            PerviousEmpId = PerviousHodEMPID;
            $("#MyModelAssessmentReAssigneComments").modal('show');
            $("#txtAssessmentReassignComments").val('');
        }

    }
    function ModifiedAssessmentSubmitAction() {
        GetAssessmentComments = $("#txtAssessmentReassignComments").val();
        if (GetAssessmentComments != "") {
            custAlertMsg("Are you sure you want to Change Employee ?", "confirm", "ModifiedHods();");
        } else {
            custAlertMsg("Enter Comments.", "error");
        }
    }
    function ModifiedHods() {
        ShowPleaseWait("show");
        $.post("@Url.Content("~/QMS/ChangeControl/AssessmentModifyAdmin")?EmployeeID=" + NewHodValue + "&AssessmentID=" + AssessID + "&CCNID=" +@Model.CCN_ID+"&AssessmentComments=" + GetAssessmentComments,
        
            function (result) {
                ShowPleaseWait("hide");
            if (result.msgRedirecttoLoginPage) {
                window.location.href = '/UserLogin.aspx';
            } else {
                if (result.hasError == false) {

                    $("#GetAssessHOD").val("");
                    $("#MyModelAssessmentReAssigneComments").modal('hide');
                    custAlertMsg("CCN Employee Updated By Admin Successfully.", "success", "ReloadAssessmentGrid();");

                }
                else {
                    if (result.msgType == "warning") {
                        custAlertMsg(result.data, "warning", "ReloadMangeRolesCCN();");

                    }
                    else {
                        custAlertMsg(result.data, "error", "ReloadMangeRolesCCN();");

                    }
                }
            }
        }, 'json');
}
function ReloadAssessmentGrid() {
    GetAssessmentDepartments();
}
</script>
<script>
    function GetStoredHidden(ddlID) {
        var id = ddlID.value;
        $("#GetAssessHOD").val(ddlID.value);
    }
</script>
<!-- #end region -->
<!-- #region Bind User Roles Drop down -->
<script>

    function DefaultAdminManageTableDisplay() {

        $("#tblAdminMangeRoles .btnCCNRolesUpdate").hide();
        $("#tblAdminMangeRoles .btnCCNRolesCancel").hide();
        $("#tblAdminMangeRoles .btnCCNRolesEdit").show();
        $('#tblAdminMangeRoles .ddlRolesUSerDropdown').attr("disabled", "disabled");
        $("#tblAdminMangeRoles .ddlRolesUSerDropdown").prop('disabled', true).css("color", "disabled");
        $("#tblAdminMangeRoles .ddlRolesUSerDropdown").selectpicker("refresh");
    }

</script>
<script>
    $('.btnCCNRolesEdit').click(function () {
        DefaultAdminManageTableDisplay();

        $(this).closest("tr").find(".btnCCNRolesUpdate").show();
        $(this).closest("tr").find(".btnCCNRolesCancel").show();
        $(this).closest("tr").find(".btnCCNRolesEdit").hide();
        $(this).closest("tr").find(".ddlRolesUSerDropdown").removeAttr('disabled');
        $(this).closest("tr").find(".ddlRolesUSerDropdown").selectpicker("refresh");
    });
    $(".btnCCNRolesCancel").click(function () {
        //Previous value binded
        var SelectedlblEmpValue = $(this).closest("tr").find(".selectedRolesID").text().trim();
        $(this).closest("tr").find(".ddlRolesUSerDropdown").val(SelectedlblEmpValue);
        DefaultAdminManageTableDisplay();
    });
    var GetModifiedValue = "";
    var GetSelectedHODValues = "";
    var GetStatus = "";
    var SelectedCCNRolesEmployeID = "";
    var GetComments = "";
    $('.btnCCNRolesUpdate').click(function () {

        SelectedCCNRolesEmployeID = $(this).closest("tr").find(".selectedRolesID");
        GetModifiedValue = $(this).closest("tr").find(".ddlRolesUSerDropdown option:selected").val();
        GetSelectedHODValues = $(this).closest("tr").find(".selectedRolesID").text();
        GetStatus = $(this).closest("tr").find(".GetSerialNo").text();
        if (GetModifiedValue == 0) {
            custAlertMsg("Select Employee", "error");
        }
        else if (GetModifiedValue == GetSelectedHODValues) {
            custAlertMsg("There are no Changes to Update", "warning");
        } else {
            $("#MyModelReAssigneComments").modal('show');
            $("#ReassignComments").val('');
        }
    });
    function ModifiedSubmitAction() {
        GetComments = $("#ReassignComments").val().trim();
        if (GetComments != "") {
            custAlertMsg("Are you sure you want to Change Employee ?", "confirm", "ModifiedRolesHods();");
        }
        else {
            custAlertMsg("Enter Comments", "error");
        }
    }
    function ModifiedRolesHods() {
        ShowPleaseWait('show');
        $.post("@Url.Content("~/QMS/ChangeControl/ModifyEmployeesManageRoles")?EmployeeID=" + GetModifiedValue + "&CCNID=" + @Model.CCN_ID+"&Status=" + GetStatus + "&ReassignComments=" + GetComments,

            function (result) {
                ShowPleaseWait('hide');
            if (result.msgRedirecttoLoginPage) {
                window.location.href = '/UserLogin.aspx';
            } else {
                if (result.hasError == false) {

                    SelectedCCNRolesEmployeID.text(GetModifiedValue);
                    custAlertMsg("CCN Employee Updated By Admin Successfully.", "success");
                    DefaultAdminManageTableDisplay();
                    $("#MyModelReAssigneComments").modal('hide');
                    //When qa change assessment hod grid reloaded
                    if (GetStatus == 3) {
                        ReloadAssessmentGrid();
                    }
                }
                else {
                    if (result.msgType == "warning") {
                        custAlertMsg(result.data, "warning", "ReloadMangeRolesCCN();");
                    }
                    else {
                        custAlertMsg(result.data, "error", "ReloadMangeRolesCCN();");
                    }
                }
            }
        });
}
function ReloadMangeRolesCCN() {
    /**/
    window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = "21" })';
    /**/
}
</script>
<!-- #end region -->
<script>
    /**/
    if (@Model.CategoryofChange==2) {
        /**/
        $("#temporaryfileds").show();
    } else {
        $("#temporaryfileds").hide();
    }
    function CloseManage() {
        $("#myModalCCNManage").modal('hide');
        $("#tblCCNList").DataTable().ajax.reload();
    }
</script>