﻿@model QMS_BO.QMS_ChangeControl_BO.CCNMaster
<style>
    .textarea_height {
        min-height: 120px !important;
    }

</style>
<div id="myModalCCNViewDetails" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:70%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">Change Control Note Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                
            </div>
            <div class="modal-body Modalpopup-Scroll" id="container" >
                <div hidden="hidden">
                    @Html.EditorFor(model => model.CCN_ID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 padding-none  ">
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  float-left ">
                        <label class=" custom_label col-form-label">CCN Number</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(Model => Model.CCN_No, new { htmlAttributes = new { @class = "form-control ", name = "ReferenceNumberOthers", @autocomplete = "off", @maxlength = 50 } })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left  ">
                        <label class=" custom_label col-form-label">Create Date</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.CCN_Date, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  float-left ">
                        <label class=" custom_label col-form-label">Department</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left  ">
                        <label class=" custom_label col-form-label">Market </label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.MarketName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  float-left ">
                        <label class=" custom_label col-form-label">Type of Change</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.TypeChange, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  float-left ">
                        <label class=" custom_label col-form-label">Item Code</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.ItemCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  float-left ">
                        <label class=" custom_label col-form-label">Category of Change</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.CategoryofChangeName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left  ">
                        <label class=" custom_label col-form-label">Project No</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.ProjectNumber, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div id="temporaryfileds" style="display:none">
                        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  float-left ">
                            <label class=" custom_label col-form-label">Applicable Batch/es#/Lot/s#/Strength/s#</label>
                            <div class="col-12 padding-none">
                                @Html.TextAreaFor(model => model.ApplicableBatch, new { htmlAttributes = new { @class = "form-control" } })
                            </div>

                        </div>
                        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left  ">
                            <label class=" custom_label col-form-label">Applicable Timeline</label>
                            <div class="col-12 padding-none">
                                @Html.EditorFor(model => model.ApplicableTimeline, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                            <label class=" custom_label col-form-label">Applicable Equipment/Instrument/Area Name&ID</label>
                            @Html.TextAreaFor(model => model.ApplicableEquipment, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                     </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  float-left ">
                                <label class=" custom_label col-form-label">Document Type</label>
                                <div class="col-12 padding-none">
                                    @Html.EditorFor(model => model.DocumentTypeName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left ">
                                <label class=" custom_label col-form-label">Reference Document No</label>
                                <div class="col-12 padding-none">
                                    @Html.EditorFor(model => model.ReferenceNumber, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                <label class=" custom_label col-form-label">Document Name</label>
                                @Html.TextAreaFor(model => model.DocName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                <label class=" custom_label col-form-label">Brief Description of Proposed Change(s):</label>
                                @Html.TextAreaFor(model => model.DescriptionofProposedChanges, new { @class = "textarea_height", @rows = "4" })

                            </div>
                            <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                <label class=" custom_label col-form-label">Reason for Change(s):</label>
                                @Html.TextAreaFor(model => model.ReasonforChange, new { @class = "textarea_height ", @rows = "4" })
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                            <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                <label class=" custom_label col-form-label">Justification for Change(s):</label>
                                @Html.TextAreaFor(model => model.JustificationforChange, new { @class = "textarea_height", @rows = "5" })
                            </div>
                            <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                <label class=" custom_label col-form-label">Existing Procedure/Method:</label>
                                @Html.TextAreaFor(model => model.ExistingProcedure, new { @class = "textarea_height", @rows = "5" })
                            </div>
                        </div>
                    </div>

                </div>
        </div>
        </div>
    </div>
<script>
    $("#DocName").attr('title', '@Model.DocName');
    $("#CategoryofChangeName").attr('title', '@Model.CategoryofChangeName');
    $("#DepartmentName").attr('title', '@Model.DepartmentName');
    $("#MarketName").attr('title', '@Model.MarketName');
    $("#TypeChange").attr('title', '@Model.TypeChange');
    $("#ItemCode").attr('title', '@Model.ItemCode');
    $("#ProjectNumber").attr('title', '@Model.ProjectNumber');
    $("#ReferenceNumber").attr('title', '@Model.ReferenceNumber');
    if (@Model.CategoryofChange==2)//Temporary
    {
        $("#temporaryfileds").show();
        @*$("#ApplicableBatch").attr('title', '@Model.ApplicableBatch');
        $("#ApplicableEquipment").attr('title', '@Model.ApplicableEquipment');*@
        } else {
            $("#temporaryfileds").hide();
        }

</script>