﻿
@{
    ViewBag.Title = "CCNList";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}

@if (ViewBag.Exception != null)
{

    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>

}
else
{
    <div class="col-lg-6 float-left padding-none">
        <!------Create CCN button---------->
        <div class="float-right padding-none">
            <button class=" btn-signup_popup float-right bottom" style="display:none" id="btnCcncreate" onclick="CreateCCN();">Create New </button>
        </div>
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none">
            <button class=" btn-signup_popup float-right bottom" style="display:none" id="btnBackToDashboard" onclick="BackToDashboard();">Dashboard </button>
        </div>
        <div id='OpenDilog'></div>
    </div>

    <!-- #region CCN List Table -->

    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title" id="lblName"></div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="min-height:0px !important">
        <table id="tblCCNList" class="table datatable_cust table-striped table-bordered dataTable no-footer " width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>CCN_ID</th>
                    <th>CCN Number</th>
                    <th>Department</th>
                    <th>Block</th>
                    <th>Created By</th>
                    <th>Classification</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>View</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>View</th><!--Main ListView-->
                    <th>Manage</th>
                    <th>History</th>
                    <th>Block ID</th>
                    <th>AssessmentID</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- #endregion -->

    <!-- #region Navigate ScriptFunction -->

    <script>
    //View Details of CCN
    function CCNViewDetails(cntrl,C_ID)
    {
        $(cntrl).attr("onclick", "").unbind("click");
         $("#OpenDilog").empty();
        $("#OpenDilog").load("@Url.Content("~/QMS/ChangeControl/CCNDetails")?id=" + C_ID, function () {
            $("#container").find("*").prop("disabled", true);
            $('#myModalCCNViewDetails').modal('show');
            $(cntrl).attr("onclick", "CCNViewDetails(this," + C_ID + ")").unbind("click");

        });
     }
    //History of CCN
        function TransactionHistoryView(cntrl,C_ID,number)
        {
            $(cntrl).attr("onclick", "").unbind("click");
            $("#OpenDilog").empty();
            ShowPleaseWait('show');
            $("#OpenDilog").load("@Url.Content("~/QMS/Capa/TransactionHistory")?id=" + C_ID + "&&EventType=" + 2, function () {
                $('#myModalTransHistory').modal('show');
                ShowPleaseWait('hide');
                $('#myModalTransHistory').on('shown.bs.modal', function (e) {
                    var hdnColumns = [0,3,8]
                    LoadQMSEventsHistory(C_ID, hdnColumns,2);
                });
               
                $(cntrl).attr("onclick", "TransactionHistoryView(this," + C_ID + "," + number + ")").unbind("click");
           });
       }
        //Edit of CCN
        function CCNUpdatebyinitiator(C_ID)
        {
        window.location = "@Url.Content("~/QMS/ChangeControl/CreateCCN/")?id=" + C_ID;
        }

        function CCNApprovebyHod(C_ID, BlockID, AssessmentID)
        {
            ShowPleaseWait('show');
        window.location = "@Url.Content("~/QMS/ChangeControl/CCNHODApprove/")?id=" + C_ID + "&&BlockID=" + BlockID + "&&AssessmentID=" + AssessmentID;
        }
    //CCN Main List
        function CCNMainList(C_ID)
        {
        window.location = "@Url.Content("~/QMS/ChangeControl/MainListCCN/")?id=" + C_ID;
        }
    //Create CCN from List
        function CreateCCN()
        {
        window.location = "@Url.Content("~/QMS/ChangeControl/CreateCCN")";
        }
        function CCNManege(cntrl, C_ID)
        {
            $(cntrl).attr("onclick", "").unbind("click");
            $("#OpenDilog").empty();
            ShowPleaseWait('show');
            $("#OpenDilog").load("@Url.Content("~/QMS/ChangeControl/_CCNManege")?CCNID=" + C_ID , function () {
                $('#myModalCCNManage').modal('show');
                ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "CCNManege(this," + C_ID + ")").unbind("click");
            });
        }
    </script>

    <!-- #endregion -->

    <!-- #region GetCCNList jqueryDatatable -->

    <!--Get JQuery Data table Data-->
    <script>
        var hideNtfColumns = [];
        var columnhide = [];
        var title = "";
        switch (@TempData["QueryString"].ToString()) {
            case 1://CTransL
                hideNtfColumns = [0, 1, 4, 6, 9, 10, 11, 13, 15, 16];
                columnhide = [0, 1, 4, 6];
                title = "CCN Created List";
                $("#btnCcncreate").show();
                break;
            case 2:  //Initiator_RevertedList
                hideNtfColumns = [0, 1, 4, 6, 9, 11, 12, 13, 15, 16];
                columnhide = [0, 1, 4, 6];
                title = "Reverted CCN List";
                break;
            case 3://CCNHodReview
                hideNtfColumns = [0, 1, 4, 6, 9, 10, 12, 13, 15, 16];
                columnhide = [0, 1, 4, 6];
                title = "CCN Review List";
                break;
            case 4://QA_AssessmentList
                hideNtfColumns = [0, 1, 4, 6, 9, 10, 12, 13, 15, , 16];
                columnhide = [0, 1, 4, 6];
                title = "QA Assessment List";
                break;
            case 5:// HODImpactpoints
                hideNtfColumns = [0, 1, 6, 9, 10, 12, 13, 15, 16];
                columnhide = [0, 1, 6];
                title = "Impact Assessment List";

                break;
            case 6: //HOD_RevertedImpactpoints
                hideNtfColumns = [0, 1, 9, 13, 15, 4, 6, 10, 12, 16];
                columnhide = [0, 1,4,6];
                title = "Impact Assessment Reverted List";
                break;
            case 7://HOD_ImpactPointsMultiNotifn
                hideNtfColumns = [0, 1, 9, 13, 15, 6, 10, 12, 16];
                columnhide = [0, 1,6];
                title = "Impact Assessment List";
                break;
            case 8://HOD_RevertImpactpointMultiRevertNotifn
                hideNtfColumns = [0, 1, 13, 15, 6, 10, 12, 16];
                columnhide = [0, 1,6];
                title = "Impact Assessment Reverted List";
                break;
            case 9://QA_RevertedList
                hideNtfColumns = [0, 1, 9, 13, 15, 4, 6, 10, 12, 16];
                columnhide = [0, 1, 4, 6];
                title = "Reverted CCN List";
                break;

            case 10:// HeadQA_Approval
                hideNtfColumns = [0, 1, 9, 13, 16, 15, 4, 10, 12];
                columnhide = [0, 1, 4];
                title = "CCN Head QA Approval List";
                break;
            case 11://CCN_QAClose
                hideNtfColumns = [0, 1, 9, 13, 16, 15, 4, 6, 10, 12];
                columnhide = [0, 1, 4, 6];
                title = "CCN to be Closed List";
                break;
            case 12://QA_Verification
                hideNtfColumns = [0, 1, 9, 11, 13, 16, 15, 4, 6, 10, 12];
                columnhide = [0, 1, 4, 6];
                title = "CCN Verify List";
                break;
            case 14: // CCN Main List
                hideNtfColumns = [0, 1, 11, 9, 13, 16, 15, 4, 6, 10];
                columnhide = [0, 1, 4, 6];
                title = "CCN Main List";
                break;
            case 21: // CCN Manage
                hideNtfColumns = [0, 1, 11, 9, 16, 15, 4, 6, 10, 12];
                columnhide = [0, 1, 4, 6];
                title = "CCN Manage List";
                break;
            case 15://C_Pending
                hideNtfColumns = [0, 1, 9, 11, 13, 16, 15, 4, 6, 10];
                columnhide = [0, 1, 4, 6];
                title = "CCN Pending List";
                $("#btnBackToDashboard").show();
                break;
            case 16://C_Rejected
                hideNtfColumns = [0, 1, 9, 11, 13, 16, 15, 4, 6, 10];
                columnhide = [0, 1, 4, 6];
                title = "CCN Rejected List";
                $("#btnBackToDashboard").show();
                break;
            case 19://C_Closer
                hideNtfColumns = [0, 1, 9, 11, 13, 16, 15, 4, 6, 10];
                columnhide = [0, 1, 4, 6];
                title = "CCN Closed List";
                $("#btnBackToDashboard").show();
                break;
            case 17://C_Approved
                hideNtfColumns = [0, 1, 9, 11, 13, 16, 15, 4, 6, 10];
                columnhide = [0, 1, 4, 6];
                title = "CCN Approved List";
                $("#btnBackToDashboard").show();
                break;
            case 18://C_Verify
                hideNtfColumns = [0, 1, 9, 11, 13, 16, 15, 4, 6, 10];
                columnhide = [0, 1, 4, 6];
                title = "";
                $("#btnBackToDashboard").show();
                break;
            case 20://C_DueDate overdue
                hideNtfColumns = [0, 1, 9, 11, 13, 16, 15, 4, 6, 10];
                columnhide = [0, 1, 4, 6];
                title = "CCN OverDue List";
                $("#btnBackToDashboard").show();
                break;
        }
        $("#lblName").text(title);
        $('#tblCCNList thead tr').clone(true).appendTo('#tblCCNList thead');
        $('#tblCCNList thead tr:eq(1) th').each(function (i) {
            if (i < 9) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search " />');

                $('input', this).on('keyup change', function () {
                    if (oTable.column(i).search() !== this.value) {
                        oTable
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
                if (i == 1) {
                    $(this).html('');
                }
            }
            else {
                $(this).html('');
            }
        });


    $('#tblCCNList').wrap('<div class="dataTables_scroll" />');
    var oTable = $('#tblCCNList').DataTable({
                columns: [
                 { 'data': 'RowNumber' }, //0
                 { 'data': 'CCNID' }, //1
                 { 'data': 'CCN_Number' },  //2
                 { 'data': 'Department' }, //4 3
                 { 'data': 'Block' }, //5 4
                 { 'data': 'Initiatedby' }, //6 5
                    { 'data': 'Classification' },//7 6
                    { 'data': 'CCN_Date', type: 'dd-mmm-yyyy' }, //3 7
                 { 'data': 'CurrentStatus' },// 8
                 {
                 "mData": null,   //9 View
                  "bSortable": false,
                  "mRender": function (o) { return '<a class="view"  href="#"   onclick=CCNViewDetails(this,' + o.CCNID + ')>' + '' + '</a>'; }
                 },
                  {
                      "mData": null,   //10CCNEdit
                      "bSortable": false,
                      "mRender": function (o) { return '<a class="action_qms"  href="#" onclick=CCNUpdatebyinitiator(' + o.CCNID + ')>' + '' + '</a>'; }
                  },
                  {
                      "mData": null,   //11CCNApprovebyHod
                      "bSortable": false,
                      "mRender": function (o) {

                          return '<a class="action_qms"title="Action"  href="#" onclick=CCNApprovebyHod(' + o.CCNID + ',' + o.BlockID + ',' + o.AssessmentID+')>' + '' + '</a>';
                      }
                  },
                  {
                      "mData": null,   //12 CCN MainList
                      "bSortable": false,
                      "mRender": function (o) {
                          return '<a class="view" title="View"  href="#" onclick=CCNMainList(' + o.CCNID + ')>' + '' + '</a>';
                      }
                  },
                  {
                      "mData": null,   // 13CCN MainList
                      "bSortable": false,
                      "mRender": function (o) {
                          return '<a class="action_qms"  href="#" title="Manage" onclick=CCNManege(this,' + o.CCNID +  ')>' + '' + '</a>';
                      }
                  },
                  {
                      "mData": null,   // CCN history 14
                      "bSortable": false,
                      "mRender": function (o) {
                          return '<a class="View" href="#" title="History"  onclick=TransactionHistoryView(this,' + o.CCNID + ',"2")>' + '' + '</a>';
                      }
                  },
                 // { 'data': 'Transaction' },// History  14
                  { 'data': 'BlockID' },//  15
                  { 'data': 'AssessmentID' },// 16

        ],
                "orderCellsTop": true,
           "responsive": true,
            "paging": true,
            "order": [1, "desc"],
            "aoColumnDefs": [{ className: "dt-body-left", "targets": [1, 2, 3, 4, 5] }, { className: "textAlignCenter", "targets": [9, 10, 11, 12, 13, 14] },
                { "targets": hideNtfColumns, "visible": false }, { "targets": columnhide, "visible": false },
                //{
                //    targets: [14], render: function (a, b, data, d) {
                //            return '<a class="View" href="#" title="History"  onclick=TransactionHistoryView(this,' + data.CCNID + ',"2")>' + '' + '</a>';
                //    }
                //},
                {
                    className: 'dt-right',
                    targets: '_all'
                },{ "orderable": false, "targets": [0,14] }],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/QMS/ChangeControl/GetCCNDataList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push(
                    { "name": "Role", "value": ('@TempData["QueryString"].ToString()') },
                    @*{ "name": "CCN_ID", "value": (@TempData["CCN_ID"].ToString()) },*@
                    { "name": "RoleIDCharts", "value": ('@TempData["RoleIDFromCharts"].ToString()') },
                     { "name": "DeptDashboard", "value": ('@TempData["DeptIDFromDashboard"].ToString()') },
                    { "name": "FromDateDashboard", "value": ('@TempData["FromDateDashboard"].ToString()') },
                    { "name": "ToDateDashboard", "value": ('@TempData["ToDateDashboard"].ToString()') },
                    { "name": "EventChart", "value": ('@TempData["CCNEvent"].ToString()') }),
                 $.ajax({
                     "dataType": 'json',
                     "contentType": "application/json; charset=utf-8",
                     "type": "GET",
                     "url": sSource,
                     "data": aoData,
                     "success": function (result) {
                         if (result.msgRedirecttoLoginPage) //Single Instance
                         {
                             window.location.href = '/UserLogin.aspx';
                         } 
                         else {
                             if (result.hasError==true) {
                                 custAlertMsg(result.data, "error","ReloadDashboard();");
                             }
                             else {
                                 fnCallback(result);
                             }
                         }
                     },
                     error: function (xhr, textStatus, error) {
                         if (typeof console == "object") {
                             console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                         }
                     }
                 });
            }
        });

   //Changed Column Name Assigned By inseted of Initiatedby when Hod Assessment list
    if (@TempData["QueryString"].ToString() == 5|| @TempData["QueryString"].ToString() == 7 ||'@TempData["QueryString"].ToString()' == 6) {
        $(oTable.column(6).header()).text('Assigned By');
    }
    </script>
    <!-- #endregion -->

    <script>
    function BackToDashboard(){
        window.location.href = '@Url.Action("QMS_Dashboard", "DashBoard", routeValues: new {  })';
    }
    </script>
}
<!-- Exception Message -->
<script>
    function ExecptionMsg(){

        var Err = "@ViewBag.Exception";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
    }
</script>




