﻿@model QMS_BO.QMS_ChangeControl_BO.CCNClose
<link href=@Url.Content("~/Content/bootstrap-theme.css") rel="stylesheet" />
<link href=@Url.Content("~/Content/bootstrap-fileinput/css/fileinput.css") rel="stylesheet" />
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/fileinput.js")></script>
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/theme.js")></script>
<style>
    .ModalCCnClosepopup-Scroll {
        max-height: 600px;
        overflow-y: auto;
    }
</style>
@using (Html.BeginForm())
{
    @Html.Hidden("hdnCCNCloseFilesUploadCount")
    @Html.AntiForgeryToken()
    <div id="myModalCreateClose" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" max-height: 300px; overflow-y: auto;>
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content padding-none">
                <form id="formAuditUpload" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Close Change Control Note</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body ModalCCnClosepopup-Scroll style-3">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-lg-12 col-xl-6 col-md-12 col-sm-12 col-12 float-left padding-none">
                                @Html.Label("CCN Number", htmlAttributes: new { @class = "col-12 custom_label col-form-label padding-none" })
                                <div class="col-12 float-left padding-none">
                                    @Html.EditorFor(model => model.CCN_Number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6 col-md-12 col-sm-12 col-12 float-left  padding-left_div">
                                @Html.Label("Closure Date", htmlAttributes: new { @id = "lblEffective_Date", @class = "custom_label col-form-label required padding-none" })
                                <div class="col-12 float-left padding-none" style="margin-left: 1px;">
                                    @Html.EditorFor(model => model.ClosureDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                                @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "custom_label col-form-label required" })
                                <div class="col-12 padding-none">
                                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control ", @rows = "3", @maxlength = "500" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CCNCloseFileUpload, htmlAttributes: new { @class = "custom_label col-form-label col-md-2 padding-none" })
                                <div class="col-md-12 padding-none">
                                    <input id="fuCCNCloseResponse" class="custom-file-input" type="file" multiple accept="application/msword,text/plain, application/pdf, image/*">
                                </div>
                            </div>
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none">
                                <div id="divtblCCNCloseFileUploadList" style="display:none" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none">
                                    <table id="tblCCNCloseFileUploadList" class="table datatable_cust table-striped table-bordered" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>UniqueID</th>
                                                <th>File Name</th>
                                                <th>File Type</th>
                                                <th>View</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" id="footer">
                        <button type="button" class="btn btn-signup_popup" id="btnAProve" onclick="ADDCloseCCN()">Submit</button>
                        <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--CCN Fill View -->
    <div id="MyModelCCNCloseFileView" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="min-width:77%;">
            <!-- Modal content-->
            <div class="modal-content padding-none">
                <div class="modal-header">
                    <h4 class="modal-title">View File</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body ">
                    <div class="embed-responsive embed-responsive-16by9" id="dvfileframeClose">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End-->
}
<!--call Electronic Signature -->
@Html.Partial("_ElectronicPartialView")
<!--File upload script-->
<script>
    var AllCCNCloseFilesUploaded=0;
    $("#fuCCNCloseResponse").fileinput({
             'theme': 'explorer-fa',
             'uploadUrl': '@Url.Content("~/QMS/ChangeControl/BindFileUploadForCCNClose")',
             'showUpload': true,
             'showCancel': false,
             'showClose':true,
             'maxFileCount': 5,
             'maxFileSize':10000,
             'required': true,
             'overwriteInitial': false,
             //'allowedFileExtensions': ['jpg', 'png', 'docx', 'doc', 'pdf', 'txt','rtf','xls','xlsx'],
             'allowedFileExtensions': ['pdf'],
             'initialPreviewAsData': true,
             'uploadExtraData': function () {
                 var fileExtraData = {

                    "CCNID" : @Model.CCNID,

                 }
                 return fileExtraData;
             },
             'browseOnZoneClick': true,
             'fileActionSettings': {
                showUpload: false,
                showRemove: true
             }
    });


    $('#fuCCNCloseResponse').on('fileuploaded', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        
        if (response.msg != null) {

            AllCCNCloseFilesUploaded=AllCCNCloseFilesUploaded+1;
            if (AllCCNCloseFilesUploaded == parseInt($('#hdnCCNCloseFilesUploadCount').val()))
            {
                
                switch (response.msgType) {
                    case "error":
                        custAlertMsg(response.msg, "error",'clearCCNCloseFileInput()');
                        break;
                    case "info":
                        custAlertMsg(response.msg, "info",'clearCCNCloseFileInput()');
                        break;
                    case "success":
                        custAlertMsg(response.msg, 'success', 'clearCCNCloseFileInput()');
                        break;
                }
                ReloadtblCCNCloseFileUploadList();
                $("#divtblCCNCloseFileUploadList").show();
            }
        }
    });

    function clearCCNCloseFileInput() {
        $('#fuCCNCloseResponse').fileinput('clear');
        ClearTempDatainCloserController();

    }
    $('#fuCCNCloseResponse').on('filepreupload', function (event, data, previewId, index, jqXHR) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        var fileNamesExceedCount = 0;
        $('.file-preview-thumbnails .file-preview-frame.explorer-frame.kv-preview-thumb').each(function () {
            if ($(this).attr('title').length > 200) {
                fileNamesExceedCount++;
                $(this).find('.explorer-caption').css("color", "red");
            }
        });
        if (fileNamesExceedCount > 0) {
            return {
                message: fileNamesExceedCount + ' file name exceeds 200 characters'
            };
        }
        AllCCNCloseFilesUploaded = 0;
        $('#hdnCCNCloseFilesUploadCount').val(data.filescount);
    });
    function ClearTempDatainCloserController(){
        var TempRemove="CloseCCN";
        $.ajax({
            url: '@Url.Content("~/QMS/ChangeControl/RemoveTempData")',
            type: "GET",
            dataType: "JSON",
            data: { "RoleTypeTemp":TempRemove },
            success:   function(aiz)
            {
                if (aiz.hasError == false) {
                }
                else {
                    custAlertMsg(aiz.data, "error");
                    return false;
                }
            }
        });
    }
</script>

<!--CCN Close Fill Upload List-->
<script>
        var oCCNCloseFileuploadList;
        function LoadCCNHodAssessmentFileUploadList()
        {
            var Status="Close";
            $('#tblCCNCloseFileUploadList').wrap('<div class="dataTables_scroll" />');
            var oCCNCloseFileuploadList = $('#tblCCNCloseFileUploadList').DataTable({
                columns: [
                    { 'data': 'RowNumberHodAss' }, //0
                    { 'data': 'CCNHodFileUniqueID' },//1
                    { 'data': 'FileNameHod' },//2
                    { 'data': 'FileTypeHod' },//3
                    {
                        "mData": null,       //4 View
                        "bSortable": false,
                        "mRender": function (o) {
                            { return '<a class="view" href="#" title="View" onclick=ToViewCCNCloseDocuments(this,' + o.CCNHodFileUniqueID + ')>' + '' + '</a>'; }
                        }
                    },
                    {
                        "mData": null,       //5 Delete
                        "bSortable": false,
                        "mRender": function (o) {
                            { return '<a class="delete" title="Remove" onclick=DeletedCCNCloseFileUploadDocuments(' + o.CCNHodFileUniqueID + ')>' + '' + '</a>'; }
                        }
                    },
                ],
                "paging": true,
                "order": [1, "desc"],
                "lengthMenu": [[05, 10, 15, 100], [05, 10, 15, 100]],
                "bDestroy": true,
                "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] },
                    { className: "textAlignCenter", "targets": [0,4,5] }, { "orderable": false, "targets": [0] },
                    {
                    "targets": [1,3],
                    "visible": false,
                    "searchable": false
                }],
                'bAutoWidth': true,
                "sAjaxSource": "@Url.Content("~/QMS/ChangeControl/GetHodAssUploadList")",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    aoData.push({ "name": "CCNNumber", "value":@Model.CCNID},
                        {"name":"Status","value":Status});
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if ('@ViewBag.SysError'!="") {
                                custAlertMsg(result, "error");
                            }
                            else {
                                fnCallback(result);
                                $(".dataTables_filter").css({ "display": "none" });
                                $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        }

    function ReloadtblCCNCloseFileUploadList(){
        LoadCCNHodAssessmentFileUploadList();
    }
</script>

<!-- #endregion -->
<!--Files View Function-->
<script>
    function ToViewCCNCloseDocuments(doubleclick, FileID) {
        $(doubleclick).attr("onclick", "").unbind("click");
        var dvShow = document.getElementById("dvfileframeClose");
        dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=5&FID=" + FileID + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
        $("#MyModelCCNCloseFileView").modal('show');
        $(doubleclick).attr("onclick", "ToViewCCNCloseDocuments(this," + FileID + ")").unbind("click");
    }
</script>

<!--Delete Files-->
<script>
        var Uniqueid = 0;
        var Status="Close";
        function DeletedCCNCloseFileUploadDocuments(ID) { 
           
        Uniqueid = ID;
        custAlertMsg("Are you sure you want to Remove this record?", "confirm", "funDeleteCCNCloseFileUploadDocuments();")
    }
        function funDeleteCCNCloseFileUploadDocuments() {
           
        errors = [];
        if (Uniqueid != '') {
            ShowPleaseWait('show');
            $.ajax({
                url: '/QMS/ChangeControl/DeletedCCNFileUploadDocuments',
                data: { 'AttachmentID': Uniqueid ,'RoleType':Status},
                type: 'Post',
                success: function (ResultJson) {
                    ShowPleaseWait('hide');
                    if (ResultJson.hasError == false) {
                        custAlertMsg("File Removed Successfully.", "success", "ReloadtblCCNCloseFileUploadList();");
                        $('#ModalConfirm').modal('hide');
                    }
                    else {
                        custAlertMsg(ResultJson.data, "error", "ReloadtblCCNCloseFileUploadList();");
                        return false;
                    }
                }
            });
        }
    }
</script>
<script>
        var CommentsClose;
        var CCN_Number;
    function ADDCloseCCN(){
        errors = [];
         CommentsClose = $("#Comments").val().trim();
        if (CommentsClose == "") { errors.push("Enter Comments. "); }
        CCN_Number = $("#CCN_Number").val().trim();
        if (CommentsClose != "") {
            ElectronicSignPopupOpen('SubmitCCNClose');
        }
        else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    function SubmitCCNClose() {
        errors = [];
        ShowPleaseWait('show');
        var _CCNCloseFile = $('#CCNCloseFileUpload').val();
        var CCNFormData = new FormData();
        //CCNFormData.append("EffectiveDate", Closure_Date);
        CCNFormData.append("CCN_Number", CCN_Number);
        CCNFormData.append("Comments", CommentsClose);
        CCNFormData.append("CCNID", @Model.CCNID);
        $.ajax({
            url: '@Url.Content("~/QMS/ChangeControl/AddCCNCloseDetails")',
            data: CCNFormData,
            dataType: 'json',
            contentType: false,
            processData: false,
            type: 'Post',
            success: function (result) {

                ShowPleaseWait('hide');
                if (result.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                } 
                else{
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg("Change Control Note <span class='sucess_info_msg'> @Model.CCN_Number </span> Closed Successfully.", "success","ReloadCloser();" );
                            break;

                    }
                
                }
            }
        });
    }
    function ReloadCloser() {
        window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 11, area = "QMS" })';
    }
</script>

@*<script>
    $(function () {
       
        $('#ClosureDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
        });
        var CCNDate = '@ViewBag.CCNDate';
        var _mindateClose = new Date(CCNDate);
        var _CurrentDate = new Date();
        _mindateClose.setDate(_mindateClose.getDate());
        $('#EffectiveDate').data("DateTimePicker").minDate(_mindateClose);
        $('#EffectiveDate').data("DateTimePicker").maxDate(_CurrentDate);
    });
</script>*@
