﻿@model QMS_BO.QMS_ChangeControl_BO.CCNMaster
<link href=@Url.Content("~/Content/bootstrap-theme.css") rel="stylesheet" />
<link href=@Url.Content("~/Content/bootstrap-fileinput/css/fileinput.css") rel="stylesheet" />
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/fileinput.js")></script>
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/theme.js")></script>
@{
    ViewBag.Title = "CreateCCN";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}

@if (ViewBag.Exception != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>

}
else
{
    @Html.HiddenFor(model => model.hdnCCNIsTempReferalID)
    @Html.Hidden("hdnCCNInitiatorFilesUploadCount")
    <div id='OpenDilog'></div>
    <div class="float-right padding-none">
        <button type="button" class=" btn-signup_popup float-right bottom" id="btnCcncreate" onclick="ReloadPageCreateCCN();">Back to List</button>
    </div>
    <div class=" col-12 grid_area float-left padding-none" id="paragraph2">

        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">
            <span id="lblNameCCN"> </span>@*Create CCN*@
        </div>
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none">
            @using (Html.BeginForm("CreateCCN", "ChangeControlNote", FormMethod.Post, new { @id = "form1" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6  padding-none">
                        <label class="col-12 custom_label col-form-label required">Department </label>
                        <div class="col-lg-12">
                            @Html.DropDownList("DeptID", Model.ddlDeptList as List<SelectListItem>,
                                                                                        htmlAttributes: new
                                                                                        {
                                                                                            id = "DeptID",
                                                                                            @class = "col-lg-12 padding-none selectpicker1 drop_down",

                                                                                            @onchange = "FillCCNNo();",

                                                                                        })
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                        <label for="" class="col-12 custom_label col-form-label">CCN Number</label>
                        <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                            @Html.EditorFor(model => model.CCN_No, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-12 custom_label col-form-label">Created Date</label>
                        <div class="col-sm-12 ">
                            @Html.EditorFor(model => model.CCN_Date, new { htmlAttributes = new { @class = "form-control login_input_sign_up", @Value = @DateTime.Now.ToString("dd MMM yyyy"), @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.CCN_Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                        <label class="col-10 custom_label col-form-label required"> Type of Change </label>
                        <a href="#" title="Add" data-toggle="modal" onclick="TypeChangeOpen(this);">
                            <div class="add_depart col-sm-1 pull-right"></div>
                        </a>
                        <div class="col-12">
                            @Html.DropDownList("TC_ID", Model.ddlTypeOfChangeList as List<SelectListItem>,
                                                                       htmlAttributes: new
                                                                       {
                                                                           id = "TC_ID",
                                                                           @class = "col-12  padding-none  drop_down selectpicker1",
                                                                       })
                        </div>
                    </div>


                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-10 custom_label col-form-label">Project Number </label>
                        <a href="#" title="Add" data-toggle="modal" onclick="ProjectModelPopup(this);">
                            <div class="add_depart col-sm-1 pull-right"></div>
                        </a>
                        <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                            @Html.DropDownList("ProjectCreate", Model.ddlProjectList as List<SelectListItem>,
                                                       htmlAttributes: new
                                                       {
                                                           id = "ProjectCreate",
                                                           @class = "col-12  padding-none  drop_down selectpicker1",
                                                       })
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                        <label class="col-12 custom_label col-form-label required "> Category of Change </label>
                        <div class="col-12 ">
                            @Html.DropDownListFor(model => model.CategoryofChange, new SelectList(new[]
                                                                                                      { new { Value = "0", Text = "Select" },new { Value = "1", Text = "Permanent" },
                                                                                                                                   new { Value = "2", Text = "Temporary" },}, "Value", "Text", Model),
                                                                                                    new { @class = "col-lg-12 selectpicker1 padding-none drop_down", @onchange = "TemporaryOnchange(this.value);", })
                        </div>
                    </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 padding-none float-left divtemporaryfields " style="display:none;">
                            <label for="" class="col-12 custom_label col-form-label required">Applicable Batch/es#/Lot/s#/Strength/s#</label>
                            <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                                @Html.TextAreaFor(model => model.ApplicableBatch, new { @class = "form-control", @rows = "3", @autocomplete = "off", @maxlength = 300 })
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 padding-none float-left divtemporaryfields" style="display:none;">
                            <label for="" class="col-12 custom_label col-form-label required">Applicable Equipment /Instrument /Area Name & ID</label>
                            <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                                @Html.TextAreaFor(model => model.ApplicableEquipment, new { @class = "form-control", @rows = "3", @autocomplete = "off", @maxlength = 300 })
                            </div>
                        </div>
                        
                  
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none divtemporaryfields " style="display:none;">
                        <label for="" class="col-12 custom_label col-form-label">
                            Applicable Timeline
                        </label>
                        <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left ">
                            @Html.EditorFor(model => model.ApplicableTimeline, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", } })
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                        <label for="" class="col-10 custom_label col-form-label">Item Code </label>
                        <a href="#" title="Add" data-toggle="modal" onclick="ItemModelPopup(this);">
                            <div class="add_depart col-sm-1 pull-right"></div>
                        </a>
                        <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                            @Html.DropDownList("ItemCodeCreate", Model.ddlItemList as List<SelectListItem>,
                                                                                 htmlAttributes: new
                                                                                 {
                                                                                     id = "ItemCodeCreate",
                                                                                     @class = "col-12  padding-none  drop_down selectpicker1",
                                                                                 })
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                        <label class="col-10 custom_label col-form-label"> Market</label>
                        <div class="col-12">
                            @Html.DropDownList("Market", Model.ddlMarketList as List<SelectListItem>,
                                                                                  htmlAttributes: new
                                                                                  {
                                                                                      id = "Market",
                                                                                      @class = "col-12  padding-none  drop_down selectpicker1",
                                                                                  })
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                    <div class="col-xl-2 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                        <label for="" class="col-12 custom_label col-form-label">Document Type</label>
                        <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                            @Html.DropDownList("DocumentType", Model.ddlDocumentTypeList as List<SelectListItem>,
                                                                                 htmlAttributes: new
                                                                                 {
                                                                                     id = "DocumentType",
                                                                                     @class = "col-12  padding-none  drop_down selectpicker1",
                                                                                     @onchange = "GetReferenceNumber(2);",
                                                                                 })
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left " id="divddlRef">
                        <label for="" class="col-12 custom_label col-form-label">Reference Document No.</label>
                        <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                            @if (Model.CurrentStatus == 3 || Model.CurrentStatus == 6 || Model.CurrentStatus == 9)
                            {
                                @Html.DropDownList("ReferenceNumber", null, "Select", htmlAttributes: new { @id = "ReferenceNumber", @class = " col-12  padding-none  drop_down selectpicker1", @onchange = "GetDocumentName();" })
                            }
                            else
                            {
                                @Html.DropDownList("ReferenceNumber", new SelectList(Enumerable.Empty<SelectListItem>
                               ()), "Select", htmlAttributes: new { @id = "ReferenceNumber", @class = " col-12  padding-none  drop_down selectpicker1", @onchange = "GetDocumentName();" })
                            }
                        </div>
                        <!--Enter Reference Number-->
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left " id="divRefrenceNumberOthers" style="display:none">
                        <label class=" col-12 custom_label col-form-label"> Reference Document No. </label>
                        <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                            @Html.EditorFor(Model => Model.ReferenceNumber, new { htmlAttributes = new { @class = "form-control ", @id = "ReferenceNumberOthers", @autocomplete = "off", @maxlength = 50 } })
                        </div>
                    </div>
                    <div class="col-7 float-left " id="divdocNameReadOnly">
                        <label class=" custom_label col-form-label "> Document Name</label>
                        @Html.EditorFor(Model => Model.DocTitle, new { htmlAttributes = new { @class = "form-control ", @id = "DocTitle", @disabled = "disabled", @autocomplete = "off"} })
                    </div>
                    <!--Enter Document Name-->
                    <div class="col-7 float-left " id="divdocName" style="display:none">
                        <label class=" custom_label col-form-label"> Document Name </label>
                        @Html.EditorFor(Model => Model.DocTitle, new { htmlAttributes = new { @class = "form-control ", @id = "DocName", @maxlength = 500, @autocomplete = "off", @onkeypress = "return RestrictStarFrontSlashSquareBraces(event);", @onpaste= "return ValidateStarFrontSlashSquareBracesOnPaste();" } })
                    </div>
                </div>

                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                        <label class=" custom_label col-form-label required">Brief Description of Proposed Change(s) : </label>
                        @Html.TextAreaFor(model => model.DescriptionofProposedChanges, new { @class = "form-control", @rows = "6", @autocomplete = "off" })

                    </div>
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                        <label class=" custom_label col-form-label required">Reason for Change(s) : </label>
                        @Html.TextAreaFor(model => model.ReasonforChange, new { @class = "form-control", @rows = "6", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                        <label class=" custom_label col-form-label required">Justification for Change(s) :</label>
                        @Html.TextAreaFor(model => model.JustificationforChange, new { @class = "form-control", @rows = "6", @autocomplete = "off" })
                    </div>
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                        <label class=" custom_label col-form-label required">Existing Procedure/Method :</label>
                        @Html.TextAreaFor(model => model.ExistingProcedure, new { @class = "form-control", @rows = "6", @autocomplete = "off" })
                    </div>
                </div>

                <div class="col-12">
                    <input type="button" value="Add Attachment" class="btn btn-signup_popup float-left top bottom" onclick="CCNIniFileUpload(this);" />
                </div>
                <div>
                    @Html.Partial("~/Areas/QMS/Views/ChangeControl/InitatorFileUploadPV.cshtml")
                </div>

                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                    @if (Model.CurrentStatus == 3 || Model.CurrentStatus == 6 || Model.CurrentStatus == 9)
                    {
                        <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                            <label class=" custom_label col-form-label">Comments:</label>
                            @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @rows = "3", @disabled = "disabled", @maxlength = 1000 })

                        </div>
                    }
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                        <label class=" custom_label col-form-label required">Initiator Comments :</label>
                        @Html.TextAreaFor(model => model.Initiator_Comments, new { @class = "form-control", @rows = "3", @autocomplete = "off", maxlength = 1000 })
                    </div>

                </div>

                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top bottom">
                    <!--Assigned Hod's-->
                    <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 padding-none float-left col-6 float-left  ">
                        <label class=" custom_label col-form-label float-left required"> Assign to HOD :</label>
                        <div class="float-left ">
                            <!--Bind Assigned Hod's when the Revert CCN by QA and HOD-->
                            @if ((Model.CurrentStatus == 3 || Model.CurrentStatus == 6))
                            {
                                @Html.DropDownList("AssignedHOD", null, htmlAttributes: new { @id = "AssignedHOD", @class = " padding-none  drop_down selectpicker1" })
                            }
                            //Bind Assigned Hod's when the Create CCN
                            else
                            {
                                @Html.DropDownList("AssignedHOD", new SelectList(Enumerable.Empty<SelectListItem>
                                          ()), "Select Employee", htmlAttributes: new { id = "AssignedHOD", @class = " padding-none  drop_down selectpicker1" })
                            }


                        </div>
                    </div>
                    <button type="button" class="btn btn-cancel_popup float-right" onclick="ReloadPageCreateCCN();">Cancel</button>


                    @if (Model.CurrentStatus == 3 || Model.CurrentStatus == 6 || Model.CurrentStatus == 9)
                    {
                        <input type="button" value="Update" class="btn btn-signup_popup float-right" onclick="CCNCreateorUpdate('Updated');" />
                    }
                    else
                    {
                        <input type="button" value="Submit" class="btn btn-signup_popup float-right" onclick="CCNCreateorUpdate('Created');" />
                    }
                </div>
            }
        </div>
    </div>

    <!--CCN Initiator File Upload -->
    <div id="myModalInitFileUpload" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg  ">
            <!-- Modal content-->
            <div class="modal-content padding-none">

                <div class="modal-header">
                    <h4 class="modal-title"> Add Attachments</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form id="formAuditUpload" enctype="multipart/form-data" autocomplete="off">
                    <div class="modal-body Modalpopup-Scroll">
                        <div class="">
                            @Html.Label("Browse File", htmlAttributes: new { @class = "control-label col-form-label col-md-2 required padding-none" })
                            <div class="col-md-10 file-loading">
                                <input id="fuCCNResponse" class="custom-file-input" type="file" multiple accept="application/msword,text/plain, application/pdf, image/*">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Bind Document Numbers when select Document Type -->

    <!--call Electronic Signature -->
    @Html.Partial("_ElectronicPartialView")


    <script>
        //For Binding DocumentReferenceNo dropdown based on select DocumentType
        function GetReferenceNumber(id) {
        errors = [];
        var DeptID = $("#DeptID").val();
        var DocumentTypeID = $('#DocumentType').val();
        if (DeptID != "0") {
            if (DocumentTypeID == "0") {
                $("#divdocName").show();
                $("#divRefrenceNumberOthers").show();
                $("#divdocNameReadOnly").hide();
                $("#divddlRef").hide();
                $("#ReferenceNumberOthers").val("");
                $("#DocName").val("");
            }
            if (DocumentTypeID > "0" || DocumentTypeID == "-1") {
                $("#divdocName").hide();
                $("#divRefrenceNumberOthers").hide();
                $("#divdocNameReadOnly").show();
                $("#divddlRef").show();
                $("#DocTitle").val("");
                $("#DocName").val("");
                $("ReferenceNumberOthers").val("");
                $.ajax({
                    url: '@Url.Content("~/QMS/QMSCommon/BindReferenceNo")',
                    type: "post",
                    dataType: "JSON",
                    data: { DeptID: DeptID, DocumentTypeID: DocumentTypeID },
                    success: function (jsonResult) {
                        if(jsonResult.msgRedirecttoLoginPage) {
                            window.location.href = '/UserLogin.aspx';
                        }
                        if(jsonResult.hasError==true){
                            custAlertMsg(jsonResult.data, "error");
                        }
                        else{
                            var numbers = jsonResult;
                            var option = '';
                            $("#ReferenceNumber").html(""); // clear before appending new list
                            for (var i = 0; i < numbers.length; i++) {
                                $("#ReferenceNumber").append(
                                    $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                            }
                            $('#ReferenceNumber').selectpicker('refresh');
                        }
                    }

                });
            }
        }
        else {
            $("#DocumentType").val("-1");
            $("#ReferenceNumber").val("0");
            $("#DocTitle").val("");
            $.ajax({
                url: '@Url.Content("~/QMS/QMSCommon/BindReferenceNo")',
                type: "post",
                dataType: "JSON",
                data: { DeptID: DeptID, DocumentTypeID: DocumentTypeID },
                success: function (jsonResult) {

                    if (jsonResult.msgRedirecttoLoginPage) {
                        window.location.href = '/UserLogin.aspx';
                    }
                    if(jsonResult.hasError==true){
                        custAlertMsg(jsonResult.data, "error");
                    }
                    else{
                        var numbers = jsonResult;
                        var option = '';

                        $("#ReferenceNumber").html(""); // clear before appending new list
                        for (var i = 0; i < numbers.length; i++) {
                            $("#ReferenceNumber").append(
                                $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                        }
                        $('#ReferenceNumber').selectpicker('refresh');
                    }
                }
            });
            if (id == 2) {
                if (DeptID == "0") {
                    custAlertMsg("Select Department", "error");
                }
                return false;
            }
        }
    }
    </script>
    <!--ENd-->
    <script>
    $(document).ready(function () {

        if (@Model.CurrentStatus == 9 ||@Model.CurrentStatus == 6 || @Model.CurrentStatus == 24 || @Model.CurrentStatus == 25 || @Model.CurrentStatus == 3)
 {
        $("#DeptID").prop('disabled', true).css("color", "disabled");
    }
});
    </script>
    <script>
        $(document).ready(function () {
           
        $('#datetimepicker').datetimepicker({
            orientation: 'auto bottom',
            autoclose: true,
            minDate: 0
        });
        $('.selectpicker1').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size:7
        });
        $('#datetimepicker1').datetimepicker({
            orientation: 'auto bottom',
            autoclose: true
        });
    });

    //Auto Generated CCN Number
    function FillCCNNo() {
        var DeptID = $('#DeptID').val();
        //For Reloading Document Type Empty
        //When selecting Department then id is 1
        GetReferenceNumber(1);
        $("#DocTitle").val("");
        $("#DocumentType").val("-1");
        $("#ReferenceNumber").val("");
        $("#DocumentType").selectpicker('refresh');
        $("#ReferenceNumber").selectpicker('refresh');
        if (DeptID != "0") {
            $.ajax({
                url: '@Url.Content("~/QMS/ChangeControl/CCNNumber")',
                type: "GET",
                dataType: "JSON",
                data: { DeptID: DeptID },
                success: function (jsonResult) {
                    if (jsonResult.msgRedirecttoLoginPage == true) {
                        //single instance
                        window.location.href = '/UserLogin.aspx';
                    }
                    else if (jsonResult.hasError == true) {//Execption
                        custAlertMsg(jsonResult.data, "error");
                    }
                    else {
                        if (jsonResult.data == 1) {
                            custAlertMsg('Please contact admin,System Masters not available.', "error");
                            return false;
                        } else {
                            $("#CCN_No").val(jsonResult.data);
                        }
                    }
                }
            });
        } else {
            GetReferenceNumber(1);
            $("#CCN_No").val("");
            $("#DocTitle").val("");
            $("#DocumentType").val("-1");
            $("#ReferenceNumber").val("");
            $("#DocumentType").selectpicker('refresh');
            $("#ReferenceNumber").selectpicker('refresh');
        }
        //Bind Assigned HOD's
        $.ajax({
            url: '@Url.Content("~/QMS/QMSCommon/BindHOD")',
            type: "POST",
            dataType: "JSON",
            data: { deptid: DeptID },
            success: function (impList1) {
                if(impList1.msgRedirecttoLoginPage==true){
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if(impList1.hasError==true){
                        custAlertMsg(impList1.data, "error");
                    }
                    else{
                        var numbers = impList1;
                        var option = '';
                        $("#AssignedHOD").html(""); // clear before appending new list
                        for (var i = 0; i < numbers.length; i++) {
                            $("#AssignedHOD").append(
                                $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                        }
                        $('#AssignedHOD').selectpicker('refresh');
                    }
                }
            }
        });
    }
    </script>
    <!--CCN UpdateScript-->
    <script>
        var CreateStatus;
        var DeptID;
        var CCN_No;
        var CCN_Date;
        var TC_ID ;
        var MarketID ;
        var ProjectID;
        var ItemID;
        var CategoryofChange;
        var DocumentType;
        var VersionID;
        var DocTitle;
        var DescriptionofProposedChanges;
        var ReasonforChange;
        var JustificationforChange;
        var ExistingProcedure;
        var Initiator_Comments;
        var HOD_EmpID;
        var CCNID;
        var CCNStatus;
        var ApplicableBatch;
        var ApplicableEquipment;
        var ApplicableTimeline;
        function CCNCreateorUpdate(Status) {
            CreateStatus=Status;
            if (Status == "Updated")
            {
             CCNID =@Model.CCN_ID;
              CCNStatus =@Model.CurrentStatus;
            }
        errors = [];
        DeptID = $("#DeptID :selected").val();
        if (DeptID == "" || DeptID == 0) { errors.push("Select Department."); }
         CCN_No = $("#CCN_No").val().trim();
         CCN_Date = $("#CCN_Date").val().trim();
         if (CCN_Date == "") { errors.push("Enter CCN_Date."); }
         TC_ID = $("#TC_ID :selected").val();
        if (TC_ID == "0")
        {
            errors.push("Select Type Of Change.");
        }
         MarketID = $("#Market :selected").val();
         ProjectID = $("#ProjectCreate").val();
         ItemID = $("#ItemCodeCreate").val();

         CategoryofChange = $("#CategoryofChange :selected").val();
         if (CategoryofChange == "" || CategoryofChange == 0) { errors.push("Select Category of change."); }
         if (CategoryofChange == 2) {
             ApplicableBatch = $("#ApplicableBatch").val().trim();
             ApplicableEquipment = $("#ApplicableEquipment").val().trim();
             ApplicableTimeline = $("#ApplicableTimeline").val().trim();
             if (ApplicableBatch == "") { errors.push("Enter  Applicable Batch/es#/Lot/s#/Strength/s#."); }
             if (ApplicableEquipment == "") { errors.push("Enter Applicable Equipment /Instrument /Area Name & ID."); }
             //if (ApplicableTimeline == "") { errors.push("Enter Applicable Timeline."); }
         }
         DocumentType = $("#DocumentType").val();
         VersionID = $("#ReferenceNumber :selected").val();
        //DocumentType is  Not Others and not Seelct
        if (DocumentType != 0 && DocumentType != -1)
        {
             VersionID = $("#ReferenceNumber :selected").val().trim();
            if (VersionID == "0")
            {
                errors.push("Select Reference Document No.");
            }
        }
        else if (DocumentType == 0)//Others
        {
             VersionID = $("#ReferenceNumberOthers").val().trim();
            if (VersionID == "") {
                errors.push("Enter Reference Document No.");
            }
             DocTitle = $("#DocName").val().trim();
             if (DocTitle == "") {
                 errors.push("Enter Document Name.");
             } 
        }
         DescriptionofProposedChanges = $("#DescriptionofProposedChanges").val().trim(); if (DescriptionofProposedChanges == "") { errors.push("Enter Brief Description of Proposed Change(s). "); }
         ReasonforChange = $("#ReasonforChange").val().trim(); if (ReasonforChange == "") { errors.push("Enter Reason for Change."); }
         JustificationforChange = $("#JustificationforChange").val().trim(); if (JustificationforChange == "") { errors.push("Enter Justification for Change."); }
         ExistingProcedure = $("#ExistingProcedure").val().trim(); if (ExistingProcedure == "") { errors.push("Enter Existing Procedure/Method.  "); }
         Initiator_Comments = $("#Initiator_Comments").val().trim(); if (Initiator_Comments == "") { errors.push("Enter Initiator Comments. "); }
             HOD_EmpID = $("#AssignedHOD :selected").val();
            if (HOD_EmpID == "0" || HOD_EmpID == "")
            {
                     errors.push("Select Assign to HOD.");
        }
if (DeptID != 0 && TC_ID != "0" && ReasonforChange != "" && JustificationforChange != "" /*&& DocumentType != "-1"*/
    && DescriptionofProposedChanges != "" && HOD_EmpID != "0" && CategoryofChange != "0" && Initiator_Comments != "" && ExistingProcedure != "")
{
    if (CategoryofChange == 2)//Permanent
    {
        if (ApplicableBatch == "" || ApplicableEquipment == "") {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    if (DocumentType == "0")//Others
    {
        //if DocumentType is Others it check document Title is Empty
        if (DocTitle != "" && VersionID != "") {
                ElectronicSignPopupOpen('CCNCreateSubmitCode');
        } else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    //if DocumentType not Others it check VersionID is Empty
    else if (DocumentType != "0" && DocumentType != "-1")//Not  Others and Select
    {
        if (VersionID != "0")
        {
                ElectronicSignPopupOpen('CCNCreateSubmitCode');
        } else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    } else if (DocumentType == "-1")//Select 
    {
            ElectronicSignPopupOpen('CCNCreateSubmitCode');
    }
}
else {

    custAlertMsg(errors.join("<br/>"), "error");
    return false;
}
        }
        function CCNCreateSubmitCode() {
            errors = [];
            ShowPleaseWait('show');
            var change = {
                "TC_ID": TC_ID, "MarketID": MarketID, "ItemID": ItemID, "ProjectID": ProjectID,
                "HOD_EmpID": HOD_EmpID, "DeptID": DeptID, "ReasonforChange": ReasonforChange, "JustificationforChange": JustificationforChange,
                "ExistingProcedure": ExistingProcedure, "CCN_No": CCN_No, "CCN_Date": CCN_Date,
                "Initiator_Comments": Initiator_Comments, "CategoryofChange": CategoryofChange,
                "DocumentType": DocumentType,
                "DescriptionofProposedChanges": DescriptionofProposedChanges, "VersionID": VersionID, "DocName": DocTitle, "CCN_ID": CCNID, "CurrentStatus": CCNStatus,
                "ApplicableBatch": ApplicableBatch, "ApplicableEquipment": ApplicableEquipment, "ApplicableTimeline": ApplicableTimeline

            };
            $.post("@Url.Content("~/QMS/ChangeControl/CreateCCN")?Status=" + CreateStatus, change,
                function (aiz) {
                    ShowPleaseWait('hide');
                    if (aiz.msgRedirecttoLoginPage) //Single Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    } else{
                        if (aiz.hasError == false) {

                            custAlertMsg("Change Control Note   <span class='sucess_info_msg'>" + aiz.data + "</span> " + CreateStatus + " successfully.", "success", "ReloadPageCreateCCN();");
                            return false;
                        } else {
                            custAlertMsg(aiz.data, "error");

                            return false;
                        }
                    }
                }, 'json');
        }

        function ReloadPageCreateCCN()
        {
            ElectronicSignPopupClose();
            if (@Model.CurrentStatus == 3|| @Model.CurrentStatus == 6)
            {
                 window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 2, area = "QMS" })';
        }
        else
        {
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 1, area = "QMS" })';
        }
    }
    </script>
    <!--END-->
    <!--Bind Document Name when click on Document number-->
    <script>
    function GetDocumentName() {
        var DeptID = $('#DeptID').val();
        var versionID = $('#ReferenceNumber').val();
        var DocumentTypeID = $('#DocumentType').val();
        if (versionID != "") {
            $.ajax({
                url: '@Url.Content("~/QMS/QMSCommon/BindDocumentName")',
                type: "GET",
                dataType: "JSON",
                data: { versionID: versionID, DocumentTypeID: DocumentTypeID },
                success: function (jsonResult) {
                    if (jsonResult.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    } else{
                        if(jsonResult.hasError==false){
                            $("#DocTitle").val(jsonResult.data); // clear before appending new list
                            //Hover
                            $("#DocTitle").attr('title', jsonResult.data);
                        }
                        else{
                            custAlertMsg(jsonResult.data, 'error');
                        }
                    }
                },
            });
        }
    }
    </script>
    <!--END-->
    <!--Masters-->
    <script>
        function TypeChangeOpen(cntrl) {
            $(cntrl).attr("onclick", "").unbind("click");
            $("#OpenDilog").empty();
            ShowPleaseWait('show');
            $("#OpenDilog").load("@Url.Content("~/QMS/TypeChangeMaster/Create")",function () {
                $('#myModalTypechangeCreate').modal('show');
                ShowPleaseWait('hide');
            //Disable Status in CCN Create Page
            $("#Currentstatus").prop('disabled', true).css("color", "disabled");
            $(cntrl).attr("onclick", "TypeChangeOpen(this)").unbind("click");
        });
    }
    function ItemModelPopup(cntrl) {
                $(cntrl).attr("onclick", "").unbind("click");
                $("#OpenDilog").empty();
                ShowPleaseWait('show');
                $("#OpenDilog").load("@Url.Content("~/QMS/TypeChangeMaster/ItemName")",function () {
                    $('#myModalItemCreate').modal('show');
                    ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "ItemModelPopup(this)").unbind("click");

        });
    }
        function ProjectModelPopup(cntrl) {
                var _source="@Url.Content("~/QMS/TypeChangeMaster/ProjectName")";
                $(cntrl).attr("onclick", "").unbind("click");
                ShowPleaseWait('show');
                $("#OpenDilog").empty();
                $("#OpenDilog").load("@Url.Content("~/QMS/TypeChangeMaster/ProjectName")",function () {
                    $('#myModalProjectCreate').modal('show');
                    ShowPleaseWait('hide');
                    $(cntrl).attr("onclick", "ProjectModelPopup(this)").unbind("click");
        });
    }
    </script>
    <!--END-->


    <!--END-->
    <!--Hide and Show the Document Details text box when click on Document Type -->
    <script>
        $(document).ready(function () {
        var v1 =@Model.DocumentType;
        if (@Model.CCN_ID!=0) {
            if (v1 == "0") {
                $("#divddlRef").hide();
                $("#divdocName").show();
                $("#divRefrenceNumberOthers").show();
                $("#divdocNameReadOnly").hide();

            }
            else {
                $("#divddlRef").show();
                $("#divdocName").hide();
                $("#divRefrenceNumberOthers").hide();
                $("#divdocNameReadOnly").show();
            }
        } else {
            $("#divddlRef").show();
            $("#divdocName").hide();
            $("#divRefrenceNumberOthers").hide();
            $("#divdocNameReadOnly").show();
        }
        
});
    </script>
    <script>
        $("#DocTitle").attr('title', '@Model.DocTitle');
    </script>
    <!--END-->
    <script>
        function CCNIniFileUpload(cntrl) {
            $(cntrl).attr("onclick", "").unbind("click");
            $('#myModalInitFileUpload').modal('show');
            $(cntrl).attr("onclick", "CCNIniFileUpload(this)").unbind("click");

        }
        var AllCCNFilesUploaded = 0;
        $("#fuCCNResponse").fileinput({

             'theme': 'explorer-fa',
             'uploadUrl': '@Url.Content("~/QMS/ChangeControl/BindFileUploadForCCNInitator")',
             'showUpload': true,
             'showCancel': false,
             'showClose':true,
             'maxFileCount': 5,
             'maxFileSize':10000,
             'required': true,
             'overwriteInitial': false,
             //'allowedFileExtensions': ['jpg', 'png', 'docx', 'doc', 'pdf', 'txt','rtf','xls','xlsx'],
             'allowedFileExtensions': [ 'pdf'],
             'initialPreviewAsData': true,
             'uploadExtraData': function () {
                 var fileExtraData = {
                    "CCNID" : @Model.CCN_ID,
                 }
                 return fileExtraData;
             },
             'browseOnZoneClick': true,
             'fileActionSettings': {
                showUpload: false,
                showRemove: true
             }
    });

        $('#fuCCNResponse').on('fileuploaded', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;

        if (response.msg != null) {
            AllCCNFilesUploaded=AllCCNFilesUploaded+1;
            if (response.msgRedirecttoLoginPage) {
                window.location.href = '/UserLogin.aspx';
            }
            else
            {
                if(response.msgType!="Exceptionerror"){
                    var HdnFileCount=$('#hdnCCNInitiatorFilesUploadCount').val();
                    if (AllCCNFilesUploaded == HdnFileCount)
                    {
                        switch (response.msgType) {
                            case "error":
                                custAlertMsg(response.msg, "error",'clearResponseFileInput()');
                                break;
                            case "info":
                                custAlertMsg(response.msg, "info",'clearResponseFileInput()');
                                break;
                            case "success":
                                custAlertMsg(response.msg, 'success', 'clearResponseFileInput()');

                                break;
                        }
                    }
                }
                else{
                    custAlertMsg(response.msg, "error",'clearResponseFileInput()');
                }
            }
            }
    });
        $('#fuCCNResponse').on('filepreupload', function (event, data, previewId, index, jqXHR) {
        var form = data.form, files = data.files, extra = data.extra,
                response = data.response, reader = data.reader;
        var fileNamesExceedCount = 0;
        $('.file-preview-thumbnails .file-preview-frame.explorer-frame.kv-preview-thumb').each(function () {
            if ($(this).attr('title').length > 200) {
                fileNamesExceedCount++;
                $(this).find('.explorer-caption').css("color", "red");
            }
        });
        if (fileNamesExceedCount > 0) {
            return {
                message: fileNamesExceedCount + ' file name exceeds 200 characters'
            };
        }
        AllCCNFilesUploaded = 0;
        $('#hdnCCNInitiatorFilesUploadCount').val(data.filescount);
    });

    function clearResponseFileInput() {
        $("#divtblCCNInitiatorFileUploadList").show();
        $('#myModalInitFileUpload').modal('hide');
        LoadCCNInitiatorFileUploadList();
        $('#fuCCNResponse').fileinput('clear');
        ClearTempDatainController();

    }
    function ClearTempDatainController(){
        var Status="InitateFile"
        $.ajax({
            url: '@Url.Content("~/QMS/ChangeControl/RemoveTempData")',
            type: "GET",
            dataType: "JSON",
            data: { "RoleTypeTemp":Status},
            success:   function(aiz)
            {
                if (aiz.msgRedirecttoLoginPage) {//Single Instance
                    window.location.href = '/UserLogin.aspx';
                } else{
                    if (aiz.hasError == false) {
                    }
                    else {
                        custAlertMsg(aiz.data, "error");
                        return false;
                    }
                }
            }
        });
    }
    </script>
    <script>
        function TemporaryOnchange(selectedValue) {
            if (selectedValue == 2) {
                $(".divtemporaryfields").show();
            } else {
                $(".divtemporaryfields").hide();
            }
        }
        
        if (@Model.CategoryofChange== 2) {
            
            $(".divtemporaryfields").show();
        } else {
            $(".divtemporaryfields").hide();
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#ApplicableTimeline').datetimepicker({
                format: 'DD MMM YYYY',
                minDate: moment().format('DD MMM YYYY'),
                maxDate:'30 Dec 9999',
                useCurrent: false,
            });
            if ("@TempData["QueryString"].ToString()" =="CCNCreat") {
                $("#lblNameCCN").text("Create CCN");
            } else {
                $("#lblNameCCN").text("Update CCN");
            }
        });
    </script>
    <script>
        if (@Model.CCN_ID==0) {
            $("#DocumentType").val("-1");
        }
    </script>
 
}
<script>
        function ExecptionMsg() {
            var Err = "@ViewBag.Exception";
            if (Err != "") {
                errors = [];
                errors.push(Err);
                custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
            }
        }
</script>



