﻿@model Aizant_API_Entities.AizantIT_ChangeControlCommitte

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="myModalEditCCC" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static"  >

        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><label class=" custom_label col-form-label" id="lblName"> </label></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="container">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Assessment_ID)
                    @Html.HiddenFor(model => model.CCN_ID)
                    <label class=" custom_label col-form-label"> Block Name</label>

                    @Html.DropDownList("BlockIDEdit", null, htmlAttributes: new { @class = "col-12  padding-none  drop_down selectpicker",@onchange="BindImpactDepartment();" })

                    <label class=" custom_label col-form-label"> Department</label>

                    @Html.DropDownList("DeptID", null, htmlAttributes: new { @class = "col-12  padding-none  drop_down selectpicker",@onchange= "BindImpactHOD();" })
                    <label class=" custom_label col-form-label"> HOD's</label>

                    @Html.DropDownList("EmployeeName1", null, htmlAttributes: new { @class = "col-12  padding-none  drop_down selectpicker" })
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnUpdate" class="btn btn-signup_popup" onclick="SubmitCCCAction()">Update</button>
                    <button type="button" class="btn btn-cancel_popup" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size:7
        });
    });
</script>
<script>
    function SubmitCCCAction() {
        errors = [];
        var CCN_ID = $("#CCN_ID").val().trim();
        var DeptID = $("#DeptID :selected").val(); if (DeptID == 0) { errors.push("Select Department"); }
        var UniqueID = $("#Assessment_ID").val();
        var BlockIDCCN = $("#BlockIDEdit").val(); if (BlockIDCCN == "") { errors.push("Select Block"); }
        var EmpID = $("#EmployeeName1").val(); if (EmpID == 0) { errors.push("Select HOd's"); }

        if (DeptID !=0 && BlockID != "" && EmpID != 0) {
            var change = {
                "CCN_ID": CCN_ID, "DeptID": DeptID, "UniqueID": UniqueID,
                "BlockID": BlockIDCCN, "AssigndToID": EmpID,

            };
            $.post("@Url.Content("~/QMS/ChangeControl/UpdateCCN_ChangeControlCommitte")", change,
                function (aiz) {
                    if (aiz.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (aiz.hasError == false) {

                            errors.push("Updated Successfully");
                            custAlertMsg(errors.join("<br/>"), "success", "Reload();");
                            return false;
                        } else {
                            errors.push(aiz.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                    }
                }, 'json');
        } else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    function Reload() {
        oTable1.ajax.reload();
        $("#myModalEditCCC").modal('hide');
    }
</script>
<script>
    function BindImpactDepartment() {

        var BlockID = $('#BlockIDEdit').val();
        $.ajax({
            url: '@Url.Content("~/QMS/ChangeControl/BindImpactDepartmentForChange")',
            type: "GET",
            dataType: "JSON",
            data: { BlockID: BlockID },
            success: function (impList1) {
                var numbers = impList1;
                var option = '';
                $("#DeptID").html(""); // clear before appending new list
                for (var i = 0; i < numbers.length; i++) {
                    $("#DeptID").append(
                        $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                }
                $('#DeptID').selectpicker('refresh');
            }
        });
    }
    function BindImpactHOD() {
        var DeptID = $('#DeptID').val();
        $.ajax({
            url: '@Url.Content("~/QMS/ChangeControl/BindImpactHOD")',
            type: "GET",
            dataType: "JSON",
            data: { deptid: DeptID },
            success: function (impList1) {
                var numbers = impList1;
                var option = '';
                $("#EmployeeName1").html(""); // clear before appending new list
                for (var i = 0; i < numbers.length; i++) {
                    $("#EmployeeName1").append(
                        $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                }
                $('#EmployeeName1').selectpicker('refresh');
            }
        });
    }
</script>
<script>
    $("#BlockIDEdit").prop('disabled', true).css("color", "disabled");
    $("#DeptID").prop('disabled', true).css("color", "disabled");
</script>