﻿@model QMS_BO.QMS_ChangeControl_BO.CCNMaster
@{ int rowNo = 0; }
@{
    ViewBag.Title = "MainListCCN";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<style>
    table datatable_cust table-striped table-bordered dataTable no-footer {
        width: 0px !important;
    }
</style>
<style>
    textarea {
        background-color: #fff;
    }
</style>

@if (ViewBag.Exception != null)
{

    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>

}
else
{
    <div class="float-right padding-none">
        <a class=" btn-signup_popup float-right bottom" id="btnCcncreate" onclick="CancelReload();">Back to List</a>
    </div>
    <div class=" col-12 grid_area float-left padding-left_div" id="paragraph2">
        <div class="col-lg-12 float-left padding-none">
            <div id='OpenDilog'></div>

        </div>

        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel padding-none">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div id="accordionConent" class="accordion">
                    <div class="card mb-0">

                        <div class=" card-header header_col_sub" data-toggle="collapse" href="#collapseOneSub" data-parent="#accordionConent">
                            <a class="card-title collapsed">
                                View Change Control Note
                            </a>
                        </div>
                        <div id="collapseOneSub" class="collapse show" data-parent="accordionConent">
                            <div class="card-body  col-12 float-left " style="border-bottom:1px solid #38b8ba!important;">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 userprofile_bg float-left col-12  info_bg" id="MainDIV">

                                    <div hidden="hidden">
                                        @Html.EditorFor(model => model.CCN_ID, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                        <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">CCN Number </label>
                                        <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.CCN_No, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                        <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Department </label>
                                        <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined">
                                            @Html.DisplayFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                        <label for="inputEmail3" class=" float-left padding-none profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Create Date </label>
                                        <div class="col-sm-8 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.CCN_Date, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                        <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Type of Change  </label>
                                        <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                            @Html.DisplayFor(model => model.TypeChange, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>

                                    <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                        <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Project Number</label>
                                        <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined">
                                            @Html.DisplayFor(model => model.ProjectNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                        <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Category of Change </label>
                                        <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.CategoryofChangeName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>

                                    <div id="temporaryfileds" style="display:none">
                                        <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 custom_text_view">
                                            <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-2 col-md-2 col-sm-6 col-lg-2 float-left col-6">Applicable Batch/es#/Lot/s#/Strength/s# </label>
                                            <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left" style="margin-top: 6px;">
                                                @Html.DisplayFor(model => model.ApplicableBatch, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                        <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 custom_text_view">
                                            <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-2 col-md-4 col-sm-6 col-lg-4 float-left col-6">Applicable Equipment/Instrument/Area Name&ID </label>
                                            <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left " style="margin-top: 16px;">
                                                @Html.DisplayFor(model => model.ApplicableEquipment, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 custom_text_view">
                                            <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-2 col-md-2 col-sm-6 col-lg-2 float-left col-6">Applicable Timeline</label>
                                            <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                                @Html.DisplayFor(model => model.ApplicableTimeline, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                    </div>
                                    <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                        <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Item Code  </label>
                                        <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                            @Html.DisplayFor(model => model.ItemCode, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                        <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Market </label>
                                        <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                            @Html.DisplayFor(model => model.MarketName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class=" col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                        <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Document Type</label>
                                        <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.DocumentTypeName, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class=" col-xl-6 col-md-12 col-sm-12 col-lg-12 float-left col-12 custom_text_view">
                                        <label for="inputEmail3" class=" padding-none float-left profile_label  col-xl-4 col-md-2 col-sm-2 col-lg-2  float-left col-2">Reference Document No.</label>
                                        <div class="col-xl-8 col-md-10 col-sm-10 col-lg-10 float-left col-10 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.ReferenceNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 custom_text_view">
                                        <label for="inputEmail3" class=" profile_label float-left col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2 padding-none">Document Name</label>
                                        <div class="col-xl-10 col-md-10 col-sm-10 col-lg-10 float-left col-10 padding-none profile_defined float-left">
                                            @*DocumentDetails*@
                                            @Html.DisplayFor(model => model.DocTitle, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    @if (@Model.DueDate != "N/A")
                                    {
                                        <div class=" col-xl-12 col-md-6 col-sm-6 col-lg-6 float-left col-6 custom_text_view">
                                            <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-2 col-md-4 col-sm-6 col-lg-4 float-left col-6">Due Date  </label>
                                            <div class="col-xl-10 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                                @Html.DisplayFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-header header_col_sub collapsed" data-toggle="collapse" href="#collapseTwoSub" hidden="hidden">
                            <a class="card-title">
                                CCN Number
                            </a>
                        </div>
                        <!--Tabs-->
                        <div id="collapseTwoSub" class="collapse show " data-parent="">
                            <div class="card-body  col-xl-12 col-md-12 col-sm-12 col-lg-12 col-12 float-left padding-none top">
                                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                                    <ul class="nav nav-tabs tab_grid">
                                        <li class="nav-item active1" id="desce"><a class="nav-link active" data-toggle="tab" href="#home2">Description</a></li>
                                        <li class="nav-item" id="CCCTab1"><a class="nav-link" data-toggle="tab" href="#CCCTab">Assessment</a></li>
                                        <li class="nav-item" id="ClassificationTab"><a class="nav-link" data-toggle="tab" href="#home3">Action Plan</a></li>
                                        <li class="nav-item" id="ClosuerCCNTab"><a class="nav-link" data-toggle="tab" href="#home6">Close CCN</a></li>
                                        <li class="nav-item" id="InitatorFileTab"><a class="nav-link" data-toggle="tab" href="#InitiatorFiles">Attachments</a></li>
                                        <li class="nav-item" id="historyItem"><a class="nav-link " data-toggle="tab" href="#home">History</a></li>
                                    </ul>
                                </div>
                                <div class="tab-content tab_content float-left col-lg-12 padding-none" id="test">
                                    <div id="CCCTab" class="tab-pane">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top float-left">Assessment List</div>
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  grid_border ">
                                                <!--Assessment List-->
                                                <table id="tblAssessmentReview" class="table datatable_cust table-striped table-bordered  no-footer" cellspacing="0" style="width: 100%" table-layout="fixed">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>UniqueID</th>
                                                            <th>CCN_ID</th>
                                                            <th>DeptID</th>
                                                            <th>BlockID</th>
                                                            <th>EmpID</th>
                                                            <th>Department</th>
                                                            <th>Block</th>
                                                            <th>HOD</th>
                                                            <th>Status</th>
                                                            <th>View Assessment</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div id="QAFWDToHeadQATab">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top float-left">Classification</div>
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none grid_border bottom">
                                                    <div class=" btn-group-toggle float-left radio_buttons col-4" data-toggle="buttons" id="divclassification">
                                                        <label class="col-12 custom_label col-form-label float-left padding-none"> Change Classification</label>
                                                        <label class="btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4" id="lblmajor">
                                                            <input type="radio" name="options" id="rdbtnMajor" autocomplete="off"> Major
                                                        </label>
                                                        <label class="btn btn btn-secondary  col-sm-4 col-xs-4 col-lg-4 col-md-4" id="lblminor">
                                                            <input type="radio" name="options" id="rdbtnMinor" autocomplete="off"> Minor
                                                        </label>
                                                    </div>
                                                    <div class="col-2 padding-none float-left top bottom" id="divselectHeadQA">
                                                        <label class="col-12 custom_label col-form-label float-left padding-none"> Select Head QA</label>
                                                        @*@Html.DropDownList("HeadQA_EmpID", Model.ddlAssignedHeadQA, "Select", htmlAttributes: new { id = "HeadQA_EmpID", @class = "col-lg-12 padding-none selectpicker drop_down", @disabled = "disabled" })*@
                                                        @Html.Editor("headqaEmployeeName", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                    <!--Click on Major Note will appear -->
                                                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 Note_Point ">
                                                        <label id="lblMajorNote" style="display:none" class="Note_Point">Note: Risk Assessment shall be required for the Change Control</label>
                                                    </div>
                                                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 " id="divQAAssesmentText">
                                                        <label class="col-12 custom_label col-form-label float-left padding-none">QA Assessment Summary:</label>
                                                        @if (@Model.CurrentStatus == 8 || @Model.CurrentStatus == 15 || @Model.CurrentStatus == 30 || @Model.CurrentStatus == 11 || Model.CurrentStatus == 26 || Model.CurrentStatus == 25 || Model.CurrentStatus == 24 || Model.CurrentStatus == 29 || @Model.CurrentStatus == 10)
        {
                                                <!--Redad only when 8,15,11,26,25,24 29-->
                                                @Html.TextArea("name", (string)ViewBag.QAAssess_SumaryComments, new { @class = "form-control bottom", @rows = "3", @readonly = "readonly", @id = "Ass_SumaryComments" })
}
else
{
                                                @Html.TextArea("txtAssessmentSumary", new { @class = "form-control ", @rows = "3", @id = "txtAssessmentSumary" })
}
                                                    </div>
                                                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none bottom" id="divHeadQAAction">
                                                        <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 " id="divHeadQASumaryTextArea">
                                                            <label for="inputEmail3" class="custom_label col-form-label  padding-none float-left col-sm-4 top" style="text-align:left">Head QA Assessment Summary:</label>
                                                            <div class="col-sm-12 padding-none  bottom">
                                                                @if (Model.CurrentStatus == 15)
                {
                                                @Html.TextArea("HEADQA_Comments", new { @class = "form-control ", @rows = "3", @name = "HEADQA_Comments" })
}
else
{
                                                @Html.TextAreaFor(model => model.HEADQA_Comments, new { @class = "form-control ", @rows = "3" })
}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="home6" class="tab-pane">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12   padding-none" id="divClosuer">
                                            <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top bottom" id="divcloserEffectiveDate" style="border-bottom:1px solid #38b8ba!important;">
                                                <label for="inputEmail3" class=" padding-none float-left" style="text-align:left">Closure Date:</label>
                                                <div class=" padding-none profile_defined bottom">
                                                    @Html.Display("CCNCloserEffectiveDate", new { @class = "form-control ", @name = "CCNClosercomments" })
                                                </div>
                                            </div>
                                            <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 " id="divclosercomments">
                                                <label for="inputEmail3" class=" padding-none float-left col-sm-2" style="text-align:left">Comments:</label>
                                                <div class="col-sm-12 padding-none  bottom">
                                                    @Html.TextArea("CCNClosercomments", new { @class = "form-control ", @rows = "3", @name = "CCNClosercomments" })
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top float-left">CCN Close Attachments</div>
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  grid_border ">
                                                    <div id="divtblCCNCloseFileUploadList" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none">
                                                        <table id="tblCCNCloseFileUploadList" class="table datatable_cust table-striped table-bordered " style="width:100%;">
                                                            <thead>
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th>UniqueID</th>
                                                                    <th>File Name</th>
                                                                    <th>File Type</th>
                                                                    <th>View</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--History At HOD Page and QA Page-->
                                    <div id="home" class="tab-pane  ">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top style-3">
                                            @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_HistoryDetails.cshtml")
                                        </div>
                                    </div>
                                    <div id="home2" class="tab-pane active ">
                                        <div id="HODDIV">
                                            <!--Text Areas-->
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                                                <div class=" col-xl-12 col-md-12 col-sm-6 col-lg-12 float-left col-12 ">
                                                    <label class=" custom_label col-form-label">Brief Description of Proposed Change(s):</label>
                                                    @Html.TextAreaFor(model => model.DescriptionofProposedChanges, new { @class = "form-control style-3", @rows = "6" })
                                                </div>
                                                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                                    <label class=" custom_label col-form-label">Reason for Change(s):</label>
                                                    @Html.TextAreaFor(model => model.ReasonforChange, new { @class = "form-control style-3", @rows = "6" })
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                                                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                                    <label class=" custom_label col-form-label">Justification for Change(s):</label>
                                                    @Html.TextAreaFor(model => model.JustificationforChange, new { @class = "form-control style-3", @rows = "6" })
                                                </div>
                                                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                                    <label class=" custom_label col-form-label">Existing Procedure/Method:</label>
                                                    @Html.TextAreaFor(model => model.ExistingProcedure, new { @class = "form-control style-3", @rows = "6" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="InitiatorFiles" class="tab-pane  ">
                                        <div>
                                            @Html.Partial("~/Areas/QMS/Views/ChangeControl/InitatorFileUploadPV.cshtml")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Close Main Of CCN-->
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top bottom padding-none">
                            <div class="col-12 float-left">
                                <button type="button" class="btn btn-cancel_popup float-right" onclick="CancelReload();">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--CCN Fill View -->
                <div id="MyModelCCNCloseFileView" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg" style="min-width:77%;">
                        <!-- Modal content-->
                        <div class="modal-content padding-none">
                            <div class="modal-header">
                                <h4 class="modal-title">View File</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body fileModalpopup-Scroll">
                                <div class="embed-responsive embed-responsive-16by9" id="dvfileframeClose">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End-->
            }
        </div>
    </div>
    <!--CCN Close Fill Upload List-->
    <script>
        var oCCNCloseFileuploadList;
        function LoadCCNHodAssessmentFileUploadList()
        {
            var Status="Close";
            $('#tblCCNCloseFileUploadList').wrap('<div class="dataTables_scroll" />');
            var oCCNCloseFileuploadList = $('#tblCCNCloseFileUploadList').DataTable({
                columns: [
                    { 'data': 'RowNumberHodAss' }, //0
                    { 'data': 'CCNHodFileUniqueID' },//1
                    { 'data': 'FileNameHod' },//2
                    { 'data': 'FileTypeHod' },//3
                    {
                        "mData": null,       //4 View
                        "bSortable": false,
                        "mRender": function (o) {
                            { return '<a class="view" href="#"  title="View" onclick=ToViewCCNCloseDocuments(' + o.CCNHodFileUniqueID + ')>' + '' + '</a>'; }
                        }
                    },
                ],
                "scrollY": "250px",
                "paging": true,
                "order": [1, "desc"],
                "lengthMenu": [[05, 10, 15, 100], [05, 10, 15, 100]],
                "bDestroy": true,
                "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] }, { className: "textAlignCenter", "targets": [0,4] }, {
                    "targets": [1,3],
                    "visible": false,
                    "searchable": false
                }, { "orderable": false, "targets": [0] }],
                'bAutoWidth': true,
                "sAjaxSource": "@Url.Content("~/QMS/ChangeControl/GetHodAssUploadList")",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    aoData.push({ "name": "CCNNumber", "value":@Model.CCN_ID},
                        {"name":"Status","value":Status});
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else{
                                if (result.hasError==true) {
                                    custAlertMsg(result, "error");
                                }
                                else {
                                    fnCallback(result);
                                    $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                    $(".dataTables_filter").css({ "display": "none" });
                                }
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        }
    function ReloadtblCCNCloseFileUploadList(){
        LoadCCNHodAssessmentFileUploadList();
    }
    </script>
    <!-- #endregion -->

    <!--END-->
    <!--On click Tab-->
    <script>
        $('#ClosuerCCNTab').on('click', function () {
            ReloadtblCCNCloseFileUploadList();
        });
        $('#historyItem').on('click', function () {
            var hdncolumns = [0,3]
            LoadGetHistory(@Model.CCN_ID, hdncolumns,2);
        });
        //Assessment TAb
        $('#CCCTab1').on('click', function () {
            GetAssessmentDepartments();
        });
        $('#InitatorFileTab').on('click', function () {
            $("#divtblCCNInitiatorFileUploadList").show();
            LoadCCNInitiatorFileUploadList();
        });
    </script>
    <!--Files View Function-->
    <script>
        function ToViewCCNCloseDocuments(FileID) {
            var dvShow = document.getElementById("dvfileframeClose");
            dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=5&FID=" + FileID + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
            $("#MyModelCCNCloseFileView").modal('show');
        }
    </script>
    <!--Assigned Department  and Responsible HOD's List-->
    <script>
    function GetAssessmentDepartments(){

        $('#tblAssessmentReview').wrap('<div class="dataTables_scroll" />');
        var oTable1 = $('#tblAssessmentReview').DataTable({
            columns: [
                { 'data': 'RowNumber' }, //0
                { 'data': 'UniqueID' },//1
                { 'data': 'CCN_ID' },//2
                { 'data': 'DeptID' },//3
                { 'data': 'BlockID' }, //4
                { 'data': 'EmpID' }, //5
                { 'data': 'DeptName' }, //6
                { 'data': 'BlockName' }, //7
                { 'data': 'EmployeeName' }, //8
                { 'data': 'CuurentStatus' },//9
                {
                    "mData": null,   //10 View
                    "bSortable": false,
                    "mRender": function (o) {
                        if (o.CurrentStatusNumber == 1) { return ""; } else if (o.CurrentStatusNumber == 7) { return ""; } else if (o.CurrentStatusNumber == 3) { return ""; }
                        else if (o.CurrentStatusNumber == 9) { return ""; }
                        else { return '<a class="view"  href="#" title="View"   onclick="CCN_HODCCCView(this,' + o.UniqueID + ',' + o.CCN_ID + ',' + o.DeptID + ',' + o.BlockID + ')">' + '' + '</a>';  }
                    }
                },
            ],
            "scrollY": "335px",
            "paging": true,
            "order": [1, "desc"],
            "bDestroy": true,
            "aoColumnDefs": [{ "targets": [1, 2, 3, 4, 5], "visible": false, "searchable": false },
                { "orderable": false, "targets": [0] },{ className: "textAlignCenter", "targets": [0,10] }],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/QMS/ChangeControl/GetCCN_DeptAssementList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "CCN_No", "value": (@Model.CCN_ID) });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (result.hasError == true) {
                                custAlertMsg(result.data, "error", "ReloadDashboard();");
                            }
                            else {
                                fnCallback(result);
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            }
        });
    }
    </script>
    <!--Change of Classification tables or Active or InActive when true or False-->
    <script>
        if ('@Model.ChangeClassification' != null) {
                if ('@Model.ChangeClassification' == '1') {//1 means major
                $('#lblmajor').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");
                $('#lblminor').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 ");
                $("#rdbtnMajor").attr('checked', 'checked');
                $("#lblMajorNote").show();
            } else if ('@Model.ChangeClassification' == '0') {//0 means Minor
            $('#lblmajor').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 ");
            $('#lblminor').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active ");
            $("#rdbtnMinor").attr('checked', 'checked');
            $("#lblMajorNote").hide();
        }
        }
    </script>
    <!--View Assessments-->
    <script>
        function CCN_HODCCCView(doubleClick, UID, E_ID, deptid, blockid)
        {
        $(doubleClick).attr("onclick", "").unbind("click");
        $("#OpenDilog").empty();
        $("#OpenDilog").load("@Url.Content("~/QMS/ChangeControl/ViewHODAssessmentDetails")?UID=" + UID + "&&CCNID=" + E_ID + "&&DeptID=" + deptid + "&&blockID=" + blockid, function () {
            $("#btnAProve").hide();
            $("#btnReject").hide();
            $('#myModalHODViewDetails').modal('show');
            $(doubleClick).attr("onclick", "CCN_HODCCCView(this," + UID + "," + E_ID + "," + deptid + "," + blockid + ")").unbind("click");
        });
        }
    </script>
    <!--Reload-->
    <script>
        function CancelReload()
        {
            if(@TempData["QueryString"]==15){
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 15, area = "QMS" })';
            }
            if(@TempData["QueryString"]==1){
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 1, area = "QMS" })';
            }
            if(@TempData["QueryString"]==16){
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 16, area = "QMS" })';
            }
            if(@TempData["QueryString"]==17){
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 17, area = "QMS" })';
        }
            if(@TempData["QueryString"]==18){
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 18, area = "QMS" })';
            }
            if(@TempData["QueryString"]==19){
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 19, area = "QMS" })';
            }
            if(@TempData["QueryString"]==20){
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 20, area = "QMS" })';
            }
            if(@TempData["QueryString"]==14){
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 14, area = "QMS" })';
            }
        }
    </script>
    <script>
        if (@Model.CategoryofChange==2) {
            $("#temporaryfileds").show();
        } else {
            $("#temporaryfileds").hide();
        }
    </script>
    <!-- Main List Displayed As per Status-->
    <script>
        $("#HODDIV").find("*").prop("disabled", true);
        $("#MainDIV").find("*").prop("disabled", true);
        //Change control commite tab
        $("#CCCTab1").show();
        //Classification disable
        $('#divclassification').css('pointer-events', 'none');
        $("#divQAAssesmentText").find("*").prop("disabled", true);
        $("#divClosuer").find("*").prop("disabled", true);
        $("#divVerificationCCN").find("*").prop("disabled", true);
        $("#divHeadQAAction").show();
        $("#divHeadQAAction").find("*").prop("disabled", true);
        //Hod Comments Disabled
        $("#divDescription2").find("*").prop("disabled", true);
        $("#ClassificationTab").hide();
        $("#HeadQA_EmpID").prop('disabled', true).css("color", "disabled");
        $("#headqaEmployeeName").attr('title', '@ViewBag.headqaEmployeeName');
    </script>

    <!--For fixing scroll issue when clicking on accordian-->
    <script>
        $('#accordionConent').on('hidden.bs.collapse', function () {
            $('.dataTable').DataTable().columns.adjust();
        });
        $('#accordionConent').on('shown.bs.collapse', function () {
            $('.dataTable').DataTable().columns.adjust();
        });
    </script>
    <!--End-->
}
<script>
    function ExecptionMsg()
    {
        var Err = "@ViewBag.Exception";
        if (Err != "")
        {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error");
        }
        else {

        }
    }
</script>