﻿
@{
    /**/

    /**/

    ViewBag.Title = "ReportList";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}

@if (TempData["Exception"] != null)
{

    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>

}
else
{
    <input type="hidden" id="hdnCCNIDReportView" value="0" />
    <input type="hidden" id="hdnDept" value="0" />
    <input type="hidden" id="hdnFname" value="yes.pdf" />
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title" id="lblName"> @*<label id="lblName" style="color:#056775;font-size:14px"></label>*@</div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12   padding-none grid_panel_hod">
        <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-4 ">
            <label class="col-12 custom_label col-form-label padding-none"> Department</label>
            <div class="col-lg-12 padding-none">
                @Html.DropDownList("ddlDepartmentBinding", null, htmlAttributes: new { @id = "ddlDepartmentBinding", @class = " col-12  padding-none selectpicker1 drop_down" })
            </div>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-4 ">
            <label class="col-12 custom_label col-form-label padding-none required"> From Date</label>
            <div class="col-lg-12 padding-none">
                @Html.Editor("ddlRptFromDate", new { htmlAttributes = new { @class = "form-control ", @id = "ddlRptFromDate", @autocomplete = "off" } })
            </div>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-4 ">
            <label class="col-12 custom_label col-form-label padding-none required"> To Date</label>
            <div class="col-lg-12 padding-none">
                @Html.Editor("ddlRptToDate", new { htmlAttributes = new { @class = "form-control ", @id = "ddlRptToDate", @autocomplete = "off" } })
            </div>
        </div>

        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left top col-12 text-right">
            <button type="button" class="btn btn-signup_popup " id="btnReptSubmit" onclick="ReportListValidation()">Submit</button>
            <button type="button" class="btn btn-cancel_popup" id="btnReptReset" onclick="ReportListRestValidation()">Reset</button>
            <button type="button" class="btn btn-revert_popup"  id="btnReptPrint" onclick="CCNReportView(this)">Print Report List</button>
        </div>
    </div>
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="min-height:0px !important">
            <table id="tblCCNList" class="table datatable_cust table-striped table-bordered  no-footer " width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>CCN_ID</th>
                        <th>CCN Number</th>
                        <th>Department</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Due Date</th>
                        <th>Classification</th>
                        <th>Status</th>
                        <th>Report</th><!--Report 13-->
                    </tr>
                </thead>
            </table>

        </div>

        <!--Capa Fill View -->
        <div id="MyModelCCNFileView" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div id="divModalSize" class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content padding-none">
                    <div class="modal-header">
                        <h4 class="modal-title">Change Control Note Report</h4>
                        <div class=" float-right padding-none">
                            @if (TempData["QuerySting"].ToString() == "13")//Only Head QA
                            {
                                <button type="button" id="btnPrintTF" class="btn-signup_popup" onclick="PrintCCNFile();">Print</button>
                                <button type="button" class="btn-signup_popup" id="btnPDFDownload" onclick="DownloadPDFCCN();">Download</button>
                            }
                            <button type="button" class="close" data-dismiss="modal" onclick="closeWaitModelCCN();">&times;</button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9" id="dvfileframe">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End-->
        <!--Get JQuery Data table Data-->
        <script>
            var ReportListTable;
            $('#tblCCNList thead tr').clone(true).appendTo('#tblCCNList thead');
            $('#tblCCNList thead tr:eq(1) th').each(function (i) {
                if (i < 9) {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Search " />');

                    $('input', this).on('keyup change', function () {
                        if (ReportListTable.column(i).search() !== this.value) {
                            ReportListTable
                                .column(i)
                                .search(this.value)
                                .draw();
                        }
                    });
                    if (i == 1 && i==0) {
                        $(this).html('');
                    }
                }
                else {
                    $(this).html('');
                }
            });

        function GetCCNReportList(DeptID, FromDate, ToDate) {
            $('#tblCCNList').wrap('<div class="dataTables_scroll" />');
             ReportListTable = $('#tblCCNList').DataTable({
                columns: [
                    { 'data': 'RowNumber' }, //0
                    { 'data': 'CCNID' }, //1
                    { 'data': 'CCN_Number' },  //2
                    { 'data': 'Department' }, //3
                    { 'data': 'Initiatedby' }, //4
                    { 'data': 'CCN_Date', type: 'dd-mmm-yyyy' },  //5
                    { 'data': 'Due_Date' },//6 Newly Added
                    { 'data': 'Classification' }, //7 Newly Added
                    { 'data': 'CurrentStatus' },// 6 //8
                    {
                        "mData": null,   //7 CCN Report
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="view"  href="#" title="Report"   onclick=PdfFormViewerContentLoading(' + o.CCNID + ',' + o.CurrentStatunumber+')>' + '' + '</a>';
                        }
                    },
                ],
                "language": {
                    "searchPlaceholder": "Search Records",
                    "infoFiltered": "",
                    "emptyTable": "No Records Available"
                },
                "orderCellsTop": true,
                "responsive": true,
                "paging": true,
                "order": [[1, "desc"]],
                "bDestroy": true,
                "aoColumnDefs": [{ "targets": [0, 1], "visible": false, "searchable": false },
                    { className: "textAlignCenter", "targets": [9] },
                {
                    className: 'dt-right',
                    targets: '_all'
                    }],
                'bAutoWidth': true,
                "sAjaxSource": "@Url.Content("~/QMS/ChangeControl/GetCCNReportList")",

                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push(
                        { "name": "Role", "value": ('@TempData["QuerySting"]') },
                        { "name": "DeptRpt", "value": DeptID },
                        { "name": "FromDateRpt", "value": FromDate  },
                        { "name": "ToDateReport", "value": ToDate }
                    );
                    ShowPleaseWait('show');
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            ShowPleaseWait('hide');
                            if (result.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else {
                                if (result.hasError == true) {
                                    custAlertMsg(result.data, "error", "ReloadDashboard();");
                                }
                                else {
                                    fnCallback(result);
                                }
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        }

        </script>
        <!--Call Partial View-->
        <!--DateTime Picker-->
        <script>
            $(document).ready(function () {
                var CurrentDate;
                var FromDate;
                $('#ddlRptFromDate').datetimepicker({
                    format: 'DD MMM YYYY',
                    useCurrent: false,
                    maxDate: new Date(new Date()),
                    minDate: '01 Jan 1900',
                });
                FromDate = moment().subtract(1, 'months').format("DD MMM YYYY")
                $('#ddlRptToDate').datetimepicker({
                    format: 'DD MMM YYYY',
                    maxDate: new Date(),
                });
                CurrentDate = moment().format("DD MMM YYYY");

                $('#ddlRptToDate').val(CurrentDate);
                //For From Date
                $('#ddlRptFromDate').val(FromDate);
            });
            $('#ddlRptFromDate').on("dp.change", function (e) {
                $('#ddlRptToDate').data("DateTimePicker").minDate(e.date);
                $('#ddlRptToDate').val("");
            });
        </script>

        <script>
            function ReportListRestValidation() {
                $('#ddlDepartmentBinding').selectpicker('val', [0]);
                $('#ddlDepartmentBinding').selectpicker('refresh');
                $("#ddlRptFromDate").val(moment().subtract(1, 'months').format("DD MMM YYYY"));
                $("#ddlRptToDate").val(moment().format("DD MMM YYYY"));
                //ReloadCCNReportList();
                GetCCNReportList(0, '0', '0');
            }
            function ReportListValidation() {
                var RptFromDate = $("#ddlRptFromDate").val().trim();
                var RptToDate = $("#ddlRptToDate").val().trim();
                var Role = "Report";
                errors = [];
                if (RptFromDate == "") { errors.push("Select From Date."); }
                if (RptToDate == "") { errors.push("Select To Date."); }
                if (errors.length > 0) {
                    custAlertMsg(errors.join("<br/>"), "error");
                    return false;
                }
                GetCCNReportList($("#ddlDepartmentBinding").val(), RptFromDate, RptToDate);
                //ReloadCCNReportList();

            }
            GetCCNReportList(0, '0', '0');
        </script>
        <script>
            function ViewCCNReport(cntrl, C_ID) {
                $(cntrl).attr("onclick", "").unbind("click");
                funToViewCCNDocuments(C_ID);
                $(cntrl).attr("onclick", "ViewCCNReport(this," + C_ID + ")").unbind("click");
            }
        </script>
        <script>
            function funToViewCCNDocuments(CCNID) {
                $("#hdnCCNIDReportView").val(CCNID);
                document.getElementById("dvfileframe").innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=TRPT&FID=" + CCNID + "&QualityID=" + 2 + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
                $("#MyModelCCNFileView").modal('show');

            }
            function funPrintViewCCNDocuments() {
                $("#divModalSize").css("max-width", "80%");
                var TFFName = document.getElementById("hdnFname").value;
                var dvShow = document.getElementById("dvfileframe");
                dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=TRPT&FID=" + TFFName + "&QualityID=" + 10 + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
                $("#MyModelCCNFileView").modal('show');
                $("#btnPDFDownload").hide();

            }
        </script>
        <script>
            $("#lblName").text("CCN Report List");
        </script>

        <script>
            $(document).ready(function () {
                $('.selectpicker1').selectpicker({
                    liveSearch: true,
                    showSubtext: true,
                    size: 7
                });
            });
        </script>
        <script>
            function closeWaitModelCCN() {
                $('#MyModelWaiting').modal('hide');
            }
        </script>
        <!--List Print View-->
        <script>
        var CCNPrintFilePath = "";
    function CCNReportView(cntrl) {
        $(cntrl).attr("onclick", "").unbind("click");

        errors = [];
        //For passing Role status on CCN List Report
        var RoleStatus = @TempData["QuerySting"].ToString();
        var DepartmentID1 = $("#ddlDepartmentBinding").val();
        var RptFromDate1 = $("#ddlRptFromDate").val().trim();
        var RptToDate1 = $("#ddlRptToDate").val().trim();
        if (RptFromDate1 == "") { errors.push("Select From Date."); }
        if (RptToDate1 == "") { errors.push("Select To Date."); }
        if (errors.length > 0) {
            $(cntrl).attr("onclick", "CCNReportView(this)").unbind("click");
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        ShowPleaseWait('show');
        $.ajax({
            url: '/QMS/ChangeControl/CCNReportPrintView',
            data: {
                'DepartmentID': DepartmentID1, 'RptFromDate': RptFromDate1, 'RptToDate': RptToDate1, 'RoledIDStatus': RoleStatus
            },
            type: 'Get',
            success: function (result) {
                ShowPleaseWait('hide');
                if (result.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    if (result.data == "No Records found") {
                        $('#MyModelWaiting').modal('hide');
                        custAlertMsg("Records Not Found", "error");
                    }
                    else if (result.hasError == true) {
                        custAlertMsg(result.data, "error");
                        return false;
                    }
                    else {
                        $("#divModalSize").css("max-width", "80%");
                        var dvShow = document.getElementById("dvfileframe");
                        $('#MyModelWaitingInc').modal('hide');
                        $("#hdnFname").val(result.data);
                        CCNPrintFilePath = result.PrintFilePath;//Store File Path
                        //funPrintViewCCNDocuments();
                        PdfViewerContentLoading(CCNPrintFilePath, dvShow);
                        $("#MyModelCCNFileView").modal('show');
                        $("#btnPDFDownload").hide();
                    }
                    $(cntrl).attr("onclick", "CCNReportView(this)").unbind("click");
                }
            }
        });
    }
        </script>

        <script>

            function PdfFormViewerContentLoading(CCNID, CurrentStatus) {
                $("#hdnCCNIDReportView").val(CCNID);
                var objInputstr = { "CCNID": CCNID, "CurrentStatus": CurrentStatus };
                var jsonData = JSON.stringify(objInputstr);
                $.ajax({
                    type: "POST",
                    url: '/QMS/ChangeControl/CCNGetFinalReportPDFPath',
                    data: jsonData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.msgType == "success") {
                            var dvShow = document.getElementById("dvfileframe");
                            $("#divModalSize").css("max-width", "95%");
                            $("#btnPDFDownload").show();
                            PdfViewerContentLoading(response.data, dvShow);
                            CCNPrintFilePath = response.data;//Store File Path
                            $("#MyModelCCNFileView").modal('show');
                        }
                        else {
                            custAlertMsg(response.data, "error");
                        }
                    }
                })
            }
        </script>
        <script>
            function PrintCCNFile() {
                if (CCNPrintFilePath != "") {
                    var objFra = document.createElement('iframe');   //Creating IFrame.
                    objFra.style.visibility = "hidden";
                    objFra.src = window.location.origin + "/" + CCNPrintFilePath;  // source.
                    document.body.appendChild(objFra);  // Adding the frame to the web page.
                    objFra.contentWindow.focus();       // Set focus.
                    objFra.contentWindow.print();
                    //logPrintClick();
                }
                else {
                    custAlertMsg(" File doesn't exist to print.", "warning");
                }
            }
        </script>
        <script src='@Url.Content("~/AppScripts/CommonPDF_Viewer.js")'></script>
        <!--Download PDF -->
        <script>
    function DownloadPDFCCN() {
        var ccnID = $("#hdnCCNIDReportView").val()
        window.location = "@Url.Content("~/QMS/ChangeControl/DownloadChangeControlReport/")?CCNID=" + ccnID;
    }
        </script>
        }


        <!-- Exception Message -->
        <script>
    function ExecptionMsg(){
        var Err = "@TempData["Exception"]";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
    }
        </script>

