﻿@model Aizant_API_Entities.AizantIT_ChangeControlCommitte
<div id='OpenDilogImpact'></div>
<div id='CAPADivLoad'></div>

<div id="myModalHODViewDetails" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width:90%">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title"> Department: @ViewData["AssignedDeptName"] (@ViewData["AssigneDBlockName"])</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body Modalpopup-Scroll style-3">
                <div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Impact Assessment List</div>

                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_border">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                            <table id="assessmentGrid1" class="table datatable_cust table-striped table-bordered  no-footer breakword" cellspacing="0" style="width: 100%" table-layout="fixed">
                                <thead>
                                    <tr>

                                        <th>Impact Points</th>
                                        <th>Yes/No</th>
                                        <th>Document Title or Doc Ref No</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (QMS_BO.QMS_ChangeControl_BO.ImpactPoints row in ViewBag.Impact)
                                    {
                                        <tr>

                                            <td class="CustomerId">
                                                @row.ImpactName
                                            </td>
                                            <td class="IsYesorNo" style="width:100px">
                                                @row.isyesorNo
                                            </td>
                                            <td class="DocTitleorNo">
                                                @row.DocNo
                                            </td>
                                            <td class="Comments">
                                                @row.Comments
                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>

                        <!--Assessment File upload List-->
                        <div id="divattachmentHod" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top">Attachments</div>
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none grid_border ">
                                <div id="divtblCCNFileUploadList" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none top">
                                    <table id="tblCCNFileUploadListInQA" class="table datatable_cust  table-striped table-bordered" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>UniqueID</th>
                                                <th>File Name</th>
                                                <th>File Type</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none" id="divDescription2">
                            <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                <label class=" custom_label col-form-label">HOD Comments:</label>
                                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control ", @rows = "3", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- CAPA List-->
                        <div id="dvCapaHeader" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top">CCN CAPA List</div>
                        <div id="dvCAPA_Assess" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_border">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_EventsCAPAList.cshtml")
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer" id="footer">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top bottom">
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup float-right" tabindex="10">Cancel</button>
                    <button type="button" class="btn btn-revert_popup float-right" id="btnReject" onclick="UpdateRevert()">Revert</button>
                    <button type="button" class="btn btn-signup_popup float-right" id="btnAProve" onclick="UpdateApprove()">Approve</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/QMS/Views/Shared/QMS/_CAPADetailsView.cshtml")

<div id="myModalRevert" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">
                    Revert
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                        <label for="username" class="custom_label col-form-label required">Reason</label>
                        <div class="col-12 padding-none">
                            @Html.TextArea("txtComments", new { @class = "form-control ", @rows = "4", @id = "txtComments", @maxlength = "500" })
                            @*<textarea type="text" class="col-12  padding-none  drop_down selectpicker" name="name" id="txtComments" placeholder="Reason" ,maxlength="500" ,rows="4" />*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-signup_popup" id="btnAProve" onclick="UpdateRevertAssessment()">Submit</button>
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CCN HOD Assess Fill View -->
<div id="MyModelCCNAssessmentFileView" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="min-width:77%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">View File</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="embed-responsive embed-responsive-16by9" id="dvfileAssframe">

                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->

<script>
    $("#assessmentGrid1").find("*").prop("disabled", true);
    $("#Comments").prop("disabled", true);
    $('#myModalHODViewDetails').on('shown.bs.modal', function (e) {
        $('#assessmentGrid1').DataTable().draw();
        var hideNtfColumns = [];
        if (@Model.CurrentStatus==8||@Model.CurrentStatus==29 ) {
            hideNtfColumns = [7, 9,10];
        } else {
            hideNtfColumns = [1, 7, 9,10];
        }
        GetEventsCAPAList("@Model.CCN_ID", 2, hideNtfColumns,@Model.Assessment_ID);//this method existing in Shared/QMS/_EventsCAPAList folder
});
$(function () {
    $('#assessmentGrid1').DataTable({
        "bServerSide": false,
    });
});
</script>
<script>
    //Assessment Revert open Comment popup
    function UpdateRevert() {
        $("#txtComments").val("");
        $("#myModalRevert").modal('show');
    }
</script>
<script>

    function UpdateRevertAssessment() {

        var Role=@TempData["QueryString"];
        errors = [];
        var HEADQA_Comments = $("#txtComments").val().trim();
            if (HEADQA_Comments == "") { errors.push("Enter Reason.");
            if (errors.length > 0) {
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
            }
            }
            if (Role == 10) {
                //Without Electronic signature
                AssessmentRevertByQA();
            }
            if (Role == 4) {
                //With Electronic Signature
                ElectronicSignPopupOpen('AssessmentRevertByQA');
            }
    }
    function AssessmentRevertByQA()
    {
        ShowPleaseWait('show');
        //Geting Role
                var Role=@TempData["QueryString"];
                if (Role == 4) {
                    GetCurrentStatus = 3;
                }
                if (Role == 10) {
                   // GetCurrentStatus = 9;
                    GetCurrentStatus = 13;
                }
             var operation="AssessmentApproveQA"
        var HEADQA_Comments = $("#txtComments").val();
                          $.ajax({
                  url: '@Url.Content("~/QMS/ChangeControl/ApproveRevertActions")',
             data: {
                 "CurrentStatus": GetCurrentStatus, "Comments": HEADQA_Comments, "CCN_ID":@Model.CCN_ID,
                 "AssessmentId":@Model.Assessment_ID,"DatabaseSubmitStatus": operation,
                    },
                  type: 'Post',
                  success: function (JsonResultCCN) {
                      ShowPleaseWait('hide');
                      if (JsonResultCCN.msgRedirecttoLoginPage) //Singal Instance
                      {
                          window.location.href = '/UserLogin.aspx';
                      }
                      else{
                          if (JsonResultCCN.hasError == false) {
                              if (JsonResultCCN.data.CurrentStatus == 13) {
                                  custAlertMsg("Assessment Reverted Successfully for Change Control Note<span class='sucess_info_msg'> @TempData["CCNNumber"] </span> .", "success", " HqaCloseAssessmentPopup();");
                                  return false;
                              }
                              if (JsonResultCCN.data.CurrentStatus == 3) {
                                  custAlertMsg(" Assessment Reverted Successfully For Change Control Note<span class='sucess_info_msg'> @TempData["CCNNumber"] </span>.", "success", " CloseAssessmentPopup();");
                                  return false;
                              }
                          }
                          else {
                              custAlertMsg(JsonResultCCN.data, "error");
                              return false;
                          }
                      }
                  }
            });
    }


</script>
<script>
    function HqaCloseAssessmentPopup() {
        //Partial view Page in Main Shared foleder
        ElectronicSignPopupClose();
        $("#myModalHODViewDetails").modal('hide');
        $("#myModalRevert").modal('hide');
        // Navigate CCNHodApprove Page For Refersh Buttons and Table
        ReloadAssessmentHeadQa();
    }
</script>
<script>
    function UpdateApprove() {
        ElectronicSignPopupOpen('AssessmentApproveByQA');
    }
    function AssessmentApproveByQA() {
        var AssessmentSataus;
          var Role=@TempData["QueryString"];
          errors = [];
          if (Role == 4) {
              AssessmentSataus = 4;
          }
          if (Role ==10) {
              AssessmentSataus = 8;
          }
          var operation = "AssessmentApproveQA"
          ShowPleaseWait('show');
              $.ajax({
                  url: '@Url.Content("~/QMS/ChangeControl/ApproveRevertActions")',
             data: {
                 "CurrentStatus": AssessmentSataus,"CCN_ID":@Model.CCN_ID,"AssessmentId":@Model.Assessment_ID,"DatabaseSubmitStatus": operation,
                    },
                  type: 'Post',
                  success: function (JsonResultCCN) {
                      ShowPleaseWait('hide');
                      if (JsonResultCCN.msgRedirecttoLoginPage) //Singal Instance
                      {
                          window.location.href = '/UserLogin.aspx';
                      }
                      else{
                          if (JsonResultCCN.hasError == false) {
                              var countAssessment = JsonResultCCN.data.AssessmentCompletedOrNotStatus;
                              custAlertMsg("Assessment Approved Successfully for Change Control Note <span class='sucess_info_msg'> @TempData["CCNNumber"] </span>.", "success", " CloseAssessmentPopup('" + countAssessment+"');");
                              return false;
                          }
                          else {
                              custAlertMsg(JsonResultCCN.data, "error");
                              return false;
                          }
                      }
                  }
            });
    }
    function CloseAssessmentPopup(GetAssessmentCount) {
        //Partial view Page in Main Shared foleder
        ElectronicSignPopupClose();
        $("#myModalHODViewDetails").modal('hide');
        $("#myModalRevert").modal('hide');
        //CCNhodapprove.cshtml page
        ReloadAssessmentGrid(GetAssessmentCount);
    }
</script>
<!--Hod Assessment Fill Upload List-->
<script>

    var oCCNHodAssessFileuploadList;
    function  LoadUploadFileList()
    {
        var Status="HodAssessment";
            $('#tblCCNFileUploadListInQA').wrap('<div class="dataTables_scroll" />');
            var oCCNHodAssessFileuploadList = $('#tblCCNFileUploadListInQA').DataTable({
                columns: [
                    { 'data': 'RowNumberHodAss' }, //0
                    { 'data': 'CCNHodFileUniqueID' },//1
                    { 'data': 'FileNameHod' },//2
                    { 'data': 'FileTypeHod' },//3

                    {
                        "mData": null,       //4 View
                        "bSortable": false,
                        "mRender": function (o) {
                            { return '<a class="view" href="#" title="View" onclick=ToViewCCNAssessDocuments(' + o.CCNHodFileUniqueID + ')>' + '' + '</a>'; }
                        }
                    },
                ],
                "scrollY": "250px",
                "lengthMenu": [[05, 10, 15, 100], [05, 10, 15, 100]],
                "paging": true,
                "bDestroy": true,
                "order":[1,"desc"],
                "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] }, {
                    "targets": [1,3],
                    "visible": false,
                    "searchable": false
                }, { className: "textAlignCenter", "targets": [0,4] },{ "orderable": false, "targets": [0] }],
                'bAutoWidth': true,
                "sAjaxSource": "@Url.Content("~/QMS/ChangeControl/GetHodAssUploadList")",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    aoData.push({ "name": "CCNNumber", "value":@Model.CCN_ID},
                        {"name":"AssessID","value":@ViewBag.AssessmeentID},
                         {"name":"Status","value":Status});
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else{
                                if (result.hasError==true) {
                                    custAlertMsg(result, "error");
                                }
                                else {
                                    fnCallback(result);
                                    $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                }
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        }
</script>
<script>
    if(@ViewBag.FilesCountHOD==0){
        $("#divattachmentHod").hide();
        $("#divtblCCNFileUploadList").hide();
    }
    else{
        $('#myModalHODViewDetails').on('shown.bs.modal', function (e) {

            LoadUploadFileList();


        });
    }
    function ToViewCCNAssessDocuments(FileID) {
        var dvShow = document.getElementById("dvfileAssframe");
        dvShow.innerHTML = "<iframe class='' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=4&FID=" + FileID + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
        $("#MyModelCCNAssessmentFileView").modal('show');
    }
</script>


