﻿@model QMS_BO.QMS_Errata_BO.ErrataBO
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    var None = "N/A";
    <div id="myModalAdminManage" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="max-width:80%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Manage Errata</h4>
                    <button type="button" class="close" onclick="RevertToMainListPage();">&times;</button>
                </div>
                <div class="modal-body fileModalpopup-Scroll style-3">
                    <div id="accordionConent" class="accordion">
                        <div class="card mb-0 col-12 top">
                            <div class="card-header panel-heading_title" data-toggle="collapse" href="#collapseOneSub" data-parent="#accordionConent">
                                <a class="card-title collapsed">
                                    Errata Details
                                </a>
                            </div>
                            <div id="collapseOneSub" class="collapse show" data-parent="#accordionConent">
                                <div class="card-body col-12 float-left grid_panel_hod bottom">
                                    <div class="col-12 top">
                                        <div class="col-12 float-left  info_bg bottom">
                                            <div class="col-6 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Department </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(Model => Model.DeptName, new { htmlAttributes = new { @id = "DeptName", @class = " edit_text" } })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Type of Correction</label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(Model => Model.TypeofChangeName, new { htmlAttributes = new { @class = " edit_text" } })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view ">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Errata File Number </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.ErrataFileNo, new { htmlAttributes = new { @class = "edit_textl", @autofocus = "autofocus" } })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view">
                                                <label for="" class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Created Date </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.Initiator_SubmitedDate, new { htmlAttributes = new { @class = "edit_text ", name = "Create_Date" } })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Section Number </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.SectionNo, new { htmlAttributes = new { @class = "edit_text ", name = "NTF_Description" } })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Document Type</label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(Model => Model.DocumentTypeName, new { htmlAttributes = new { @class = "edit_text ", name = "DocumentTypeName" } })
                                                </div>
                                            </div>
                                            <div class="col-12 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Reference Document No.</label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(Model => Model.DocumentNo, new { htmlAttributes = new { @class = "edit_text ", name = "ReferenceNumber" } })
                                                </div>
                                            </div>

                                            <div class="col-12 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Document Name</label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(Model => Model.DocTitle, new { htmlAttributes = new { @class = "edit_text ", name = "DocTitle" } })
                                                </div>
                                            </div>
                                            <div class="col-12 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Proposed corrections in Documents: </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.ProposedCorrectionDoc_Desc, new { htmlAttributes = new { @class = "edit_text ", name = "NTF_Description" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="accordionAdminContent" class="accordion">
                                <div class="card mb-0 col-12 top padding-none">
                                    <div class="card-header panel-heading_title" data-toggle="collapse" href="#collapsetwoSub" data-parent="#accordionAdminContent">
                                        <a class="card-title collapsed">
                                            Manage Errata Users
                                        </a>
                                    </div>
                                    <!--Table start-->
                                    <div id="collapsetwoSub" class="collapse show" data-parent="#accordionAdminContent">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none grid_panel_hod ">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12">
                                                <table id="tblERTAdminManage" class="table datatable_cust table-striped  top table-bordered" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none">S.No</th>
                                                            <th style="display:none">Selected Values</th>
                                                            <th>RoleNames</th>

                                                            <th>Employee</th>
                                                            <th style="width:140px">Edit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (QMS_BO.QMS_Errata_BO.ErrataBO row in @ViewBag.ListEmployees)
                                                        {
                                                            <tr>
                                                                <td class="lblSno" style="display:none">
                                                                    @Html.Label("Admin Manage HOD", row.Sno.ToString(), htmlAttributes: new { @class = "custom_label form-label  col-12 float-left padding-none " })
                                                                </td>
                                                                <td class="lblselectEmp" style="display:none;">
                                                                    @Html.Label("Admin Manage HOD", row.SelectDDLEmp.ToString(), htmlAttributes: new { @class = "custom_label form-label  col-12 float-left padding-none " })
                                                                </td>
                                                                <td class="lblselectRole" style="width:300px;text-align:left">
                                                                    @Html.Label("Admin Manage HOD", row.RoleName, htmlAttributes: new { @class = "custom_label form-label  col-12 float-left padding-none " })
                                                                </td>
                                                                <td>
                                                                    @if (
                                                                    ((Model.CurrentStatus == 1 || Model.CurrentStatus == 2 || Model.CurrentStatus == 5) && row.RoleName == "HOD")
                                                                    ||
                                                                    ((Model.CurrentStatus == 4  || Model.CurrentStatus == 13) && row.RoleName == "HeadQa")
                                                                    ||
                                                                    ((Model.CurrentStatus == 6) && row.RoleName == "QA")
                                                                    ||
                                                                    (Model.CurrentStatus == 3 || Model.CurrentStatus == 15) && row.RoleName == "Initiator")
                                                                    {
                                                                    @Html.DropDownList("AssignedQAEmpId", row.DDLEmpList as List<SelectListItem>,
         htmlAttributes: new
         {
             @class = "col-lg-6 text-center padding-none drop_down selectpicker ddlTabelDropdown",
             data_show_subtext = "true",
             data_live_search = "true"
         })
                                                                    }
                                                                    else
                                                                    {
                                                                    if (@row.SelectedEmployeeName != null)
                                                                    {
                                                                    @row.SelectedEmployeeName
                                                                    }
                                                                    else
                                                                    {
                                                                    <label>N/A</label>
                                                                    }
                                                                    }
                                                                </td>
                                                                <td class="UserDefinedTableButtonstd" style="width:300px">
                                                                    @if (
                                                                    ((Model.CurrentStatus == 1 || Model.CurrentStatus == 2 || Model.CurrentStatus == 5) && row.RoleName == "HOD")
                                                                    ||
                                                                    ((Model.CurrentStatus == 4  || Model.CurrentStatus == 13) && row.RoleName == "HeadQa")
                                                                    ||
                                                                    ((Model.CurrentStatus == 6) && row.RoleName == "QA")
                                                                    ||
                                                                    (Model.CurrentStatus == 3 || Model.CurrentStatus == 15) && row.RoleName == "Initiator")
                                                                    {
                                                                        <a class="btnERTManageEdit edit_icon_feed Edit Edit_btns" title="Edit" style="margin-left:0%;"></a>
                                                                        <button type="button" class="btnERTManageUpdate   btn btn-revert_popup" style="margin-bottom:0px;display:none; padding:none;">Update</button>
                                                                        <button type="button" class="btnERTManageCancel   btn btn-cancel_popup" style="margin-bottom:0px;display:none; padding:none;">Cancel</button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <label>N/A</label>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                <!--End-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer float-right top">
                    <div class="col-12 bottom float-right ">
                        <button type="button" id="Cancel_btn" class="btn btn-cancel_popup float-right padding-none" onclick="RevertToMainListPage();">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Admin Comments Popup-->
    <div id="MyModelReAssigneComments" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Comments
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            <label for="username" class="custom_label col-form-label required">Comments</label>
                            <div class="col-12 padding-none">
                                <textarea type="text" class="col-12  padding-none  drop_down selectpicker" name="name" id="ReassignComments" placeholder="Comments" rows="4" maxlength="500"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-signup_popup" id="btnAProve" onclick="ModifiedSubmitAction()">Submit</button>
                        <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--Edit Functionality-->
<script>
    //Onclick Edit functionality
    $('.btnERTManageEdit').click(function () {
        DefaultAdminManageTableDisplay();
        $(this).closest("tr").find(".btnERTManageUpdate").show();
        $(this).closest("tr").find(".btnERTManageCancel").show();
        $(this).closest("tr").find(".btnERTManageEdit").hide();
        $(this).closest("tr").find(".ddlTabelDropdown").removeAttr('disabled');
        $(this).closest("tr").find(".ddlTabelDropdown").selectpicker("refresh");
    });
    //Onclick Cancel Functionality
    $(".btnERTManageCancel").click(function () {
        var SelectedlblEmpValue = $(this).closest("tr").find(".lblselectEmp").text().trim();
        $(this).closest("tr").find(".ddlTabelDropdown").val(SelectedlblEmpValue);
        DefaultAdminManageTableDisplay();
    });
</script>
<!--End-->
<!--Onclick Update Functionality-->
<script>
    var lblControlSelectedEmpValue = "";
    var Sno = "";
    var SelectedlblEmpValue = "";
    var SelectedlblselectRole = "";
    var SelectedDDLEmpValue = "";
    var GetComments = "";
    $(".btnERTManageUpdate").click(function () {
        errors = [];
            lblControlSelectedEmpValue = $(this).closest("tr").find(".lblselectEmp");
            Sno = $(this).closest("tr").find(".lblSno").text().trim();
            SelectedlblEmpValue = $(this).closest("tr").find(".lblselectEmp").text().trim();
            SelectedlblselectRole = $(this).closest("tr").find(".lblselectRole").text().trim();
            SelectedDDLEmpValue = $(this).closest("tr").find(".ddlTabelDropdown option:selected").val();
            if (SelectedDDLEmpValue == 0) {
                custAlertMsg("Select Employee.", "error");
                return false;
            }
            else if (SelectedlblEmpValue == SelectedDDLEmpValue) {
                custAlertMsg("No Changes has made by Admin.", "info");
                return false;
            }
            else {
                $("#MyModelReAssigneComments").modal('show');
                $("#ReassignComments").val('');
            }
    });

    function ModifiedSubmitAction() {
        GetComments = $("#ReassignComments").val().trim();
        if (GetComments != "") {
            custAlertMsg("Are you sure you want to Change Employee?", "confirm", "ModifiedRolesHods();");
        }
        else {
            custAlertMsg("Enter Comments.", "error");
        }
    }

    function ModifiedRolesHods() {
        ShowPleaseWait('show');
        $.ajax({
               url: '@Url.Content("~/QMS/Errata/UpdateManageEmp")',
               data: {
                   'Sno': Sno, 'ER_ID':@Model.ER_ID,'CurrentStatus':@Model.CurrentStatus,
                   'SelectEmployee': SelectedDDLEmpValue, 'ReassignComments': GetComments,
                },
                type: 'Post',
                success: function (JsonResultErrata) {
                ShowPleaseWait('hide');
                    if (JsonResultErrata.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (JsonResultErrata.hasError == false) {
                            lblControlSelectedEmpValue.text(SelectedDDLEmpValue);
                            custAlertMsg("Errata Employee Updated by Admin Successfully.", "success", "DefaultAdminManageTableDisplay();");
                            $("#MyModelReAssigneComments").modal('hide');
                            return false;
                        }
                        else {
                            errors.push(JsonResultErrata.data);
                            custAlertMsg(errors.join("<br/>"), "error", "");
                            return false;
                        }
                    }
                }
            });
    }
</script>
<!--For Refreshing Table-->
<script>
    function DefaultAdminManageTableDisplay() {
        $("#tblERTAdminManage .btnERTManageUpdate").hide();
        $("#tblERTAdminManage .btnERTManageCancel").hide();
        $("#tblERTAdminManage .btnERTManageEdit").show();
        $("#tblERTAdminManage .ddlTabelDropdown").prop("disabled", true);
        $("#tblERTAdminManage .ddlTabelDropdown").selectpicker('refresh');
    }
    DefaultAdminManageTableDisplay();
</script>
<script>
    function RevertToMainListPage() {
        $("#myModalAdminManage").modal('hide');
        $("#tblErrataList").DataTable().ajax.reload();
    }
</script>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>
<!--End-->