﻿@model QMS_BO.QMS_Errata_BO.ErrataBO
    <div id="hideImpactList" class=" col-12 padding-none" style="display:none;">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title"> Assessments</div>
        </div>
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  grid_assgin">
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none" style="min-height:0px !important">
                <table id="assessmentGrid" class="table datatable_cust table-striped table-bordered float-left" style="width:100%;">
                    <thead>
                        <tr>
                            <th hidden="hidden">ImpactPointID</th>
                            <th>Impact Points</th>
                            <th>Yes/No</th>
                            <th>Document Title or Ref No</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (QMS_BO.QMS_Errata_BO.ErrataAssessImpactPoints row in ViewBag.Impact)
                        {
                            <tr>
                                <td class="CustomerId" hidden="hidden">
                                    @row.ImpactPointID
                                </td>
                                <td class="CustomerId" style="text-align:left;">
                                    @row.ImpactName
                                </td>
                                <td class="IsYesorNo" style="width:100px">
                                    @if(Model.CurrentStatus == 1 || Model.CurrentStatus == 2)
                                    {
                                    @Html.DropDownList("DDlYesNo", row._lstImpactStatus as SelectList, htmlAttributes: new { @id = "DDlYesNo", @class = " col-12  padding-none selectpicker1 drop_down " })
                                    }
                                    else
                                    {
                                    @Html.DropDownList("DDlYesNo1", row._lstImpactStatus as SelectList, htmlAttributes: new { @id = "DDlYesNo", @class = " col-12  padding-none selectpicker1 drop_down " })
                                    }
                                </td>
                                <td class="DocTitleorNo">
                                    <input type="text" class="select_grid" placeholder="Enter Reference Document No." value="@row.DocNo" title="@row.DocNo" maxlength=250 />
                                </td>
                                <td class="Comments">
                                    <input type="text" class="select_grid" placeholder="Enter Comments" value="@row.Comments" title="@row.Comments" maxlength=250 />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.selectpicker1').selectpicker({
                liveSearch: true,
                showSubtext: true,
                size: 7
            });
        });
    </script>
    <script>
        if (@Model.CurrentStatus=="4" || @TempData["QueryE"].ToString() == "8" || @TempData["QueryE"].ToString() == "9" || @Model.CurrentStatus=="13" || @Model.CurrentStatus=="3" || @Model.CurrentStatus=="6" || @Model.CurrentStatus=="8" || @Model.CurrentStatus == "7" || @Model.CurrentStatus=="9" || @Model.CurrentStatus=="10" || @Model.CurrentStatus == "12"|| @Model.CurrentStatus == "15") {
            $("#assessmentGrid").find("input,button,textarea,select").attr("disabled", "disabled").css("cursor", "no-drop");;
        }
        @*if (@TempData["QueryE"].ToString() == "8") {
            $("#assessmentGrid").find("input,button,textarea,select").attr("disabled", "disabled").css("cursor", "no-drop");;
        }*@
    </script>
