﻿@model QMS_BO.QMS_Errata_BO.ErrataBO

<div id="myModalCCNViewDetails" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:70%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">Errata Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body Modalpopup-Scroll" id="Erratacontainer">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 padding-none  ">
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  float-left ">
                        <label class=" custom_label col-form-label">Department</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(Model => Model.DeptName, new { htmlAttributes = new { @class = "form-control ", name = "ReferenceNumberOthers", @autocomplete = "off", @maxlength = 50 } })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left  ">
                        <label class=" custom_label col-form-label">Type of Correction</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.TypeofChangeName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  float-left ">
                        <label class=" custom_label col-form-label"> Errata File Number</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.ErrataFileNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left  ">
                        <label class=" custom_label col-form-label">Created Date </label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.Initiator_SubmitedDate, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  float-left ">
                        <label class=" custom_label col-form-label">Section Number</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.SectionNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  float-left ">
                        <label class=" custom_label col-form-label">Document Type</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.DocumentTypeName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  float-left ">
                        <label class=" custom_label col-form-label">Reference Document No.</label>
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.DocumentNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left  ">
                        <label class=" custom_label col-form-label">Document Name</label>
                        <div class="col-12 padding-none">
                            @Html.TextAreaFor(model => model.DocTitle, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  float-left ">
                        <label class=" custom_label col-form-label">Proposed corrections in Documents: </label>
                        <div class="col-12 padding-none">
                            @Html.TextAreaFor(model => model.ProposedCorrectionDoc_Desc, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>