﻿@model QMS_BO.QMS_Errata_BO.ErrataBO
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!--------Start Create Errata  pop up-------------->
<form id="frmCreate">
    <div id="myModalErrata" class="modal department qms_footer fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg col-lg-12" style="max-width:80%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="lblErrata"></h4>
                    <button type="button" class="close" onclick="RevertIndexPage();">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-12 padding-none float-left">
                        <div class="col-3 float-left ">
                            <label class=" custom_label col-form-label required">Department</label>
                            @Html.DropDownList("Department", null, htmlAttributes: new { @id = "Department", @class = " col-12  padding-none  drop_down selectpicker", @onchange= "FillAssignHODOnchangeDept();",  @autofocus = "autofocus" })
                        </div>
                        <div class="col-3 float-left ">
                            <label class=" custom_label col-form-label required">Type of Correction </label>
                            @Html.DropDownList("TypeOfCorrection", null, "Select", htmlAttributes: new { @id = "TypeOfCorrection", @onchange = "GetErratNumber();", @class = "drop_down col-12  padding-none selectpicker " })
                        </div>
                        <div class="col-3 float-left">
                            <label class=" custom_label col-form-label">Errata File Number</label>
                            @Html.EditorFor(model => model.ErrataFileNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", maxlength = 100 } })
                        </div>
                        <div class="col-3 float-left ">
                            <label for="" class="custom_label col-form-label">Created Date</label>
                            @Html.EditorFor(model => model.Initiator_SubmitedDate, new { htmlAttributes = new { @class = "form-control ", name = "Create_Date", @Value = @DateTime.Now.ToString("dd MMM yyyy"), @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-12 padding-none float-left">
                        <form autocomplete="off">
                            <div class="col-3 float-left ">
                                <label class=" custom_label col-form-label required"> Section Number</label>
                                @Html.EditorFor(model => model.SectionNo, new { htmlAttributes = new { @class = "form-control ", name = "SectionNo", maxlength = 50, @autocomplete = "off" } })
                            </div>
                        </form>
                        <div class="col-3 float-left ">
                            <label class=" custom_label col-form-label required"> Document Type</label>
                            @Html.DropDownList("DocumentType", null, htmlAttributes: new { @id = "DocumentType", @class = " col-12  padding-none selectpicker drop_down ", size = 5, @onchange = "GetReferenceNumber(2);" })
                        </div>
                        <div class="col-6 float-left " id="divReference">
                            <label class=" custom_label col-form-label required">Reference Document No.</label>
                            <!--Edit bind Reference-->
                            @if (Model.CurrentStatus == 3 || Model.CurrentStatus == 10)
        {
                    @Html.DropDownList("ReferenceNumber", null, "Select", htmlAttributes: new { @id = "ReferenceNumber", @class = " col-12  padding-none selectpicker drop_down ", @onchange = "GetDocumentName();" })
}
else
{
                    @Html.DropDownList("ReferenceNumber", new SelectList(Enumerable.Empty<SelectListItem>()), "Select ReferenceNumber", htmlAttributes: new { id = "ReferenceNumber", @class = " col-12  padding-none  drop_down selectpicker", @onchange = "GetDocumentName();" })
}
                        </div>
                        <!--Enter Reference Number-->
                        <div class="col-6 float-left " id="divRefrenceNumber" style="display:none">
                            <label class=" custom_label col-form-label required">Reference Document No.</label>
                            @Html.EditorFor(Model => Model.DocumentNo, new { htmlAttributes = new { @class = "form-control ", name = "ReferenceNumberEdit", @autocomplete = "off", maxlength = 50 } })
                        </div>

                    </div>
                    <!--Document Name auto fill-->
                    <div class="col-12 float-left " id="divdocNameReadOnly">
                        <label class=" custom_label col-form-label "> Document Name</label>
                        @Html.TextAreaFor(model => model.DocTitle, new { @class = "",@rows="2", name = "DocTitle", @disabled = "disabled", maxlength = 500, style = "cursor: not-allowed" })
                    </div>
                    <!--Enter Document Name-->
                    <div class="col-12 float-left " id="divdocName" style="display:none">
                        <label class=" custom_label col-form-label required"> Document Name </label>
                        @Html.TextAreaFor(Model => Model.DocTitle1, new { @class = " form-control",@onkeypress= "return RestrictStarFrontSlashSquareBraces(event)",@onpaste= "return ValidateStarFrontSlashSquareBracesOnPaste()", @cols = 80, @rows = 2, maxlength = 500 })
                    </div>
                    <div class="col-12 float-left ">
                        <label class=" custom_label col-form-label required"> Proposed Corrections in Documents</label>
                        @Html.TextAreaFor(model => model.ProposedCorrectionDoc_Desc, new { @class = "form-control", @cols = 80, @rows = 6, maxlength = 1000 })

                    </div>
                    @if (Model.CurrentStatus == 3 || Model.CurrentStatus == 10)
                    {
                        <div class="col-12 float-left ">
                            <label class=" custom_label col-form-label"> Reverted Comments :</label>    
                            @*@ViewBag.ActionBy*@
                            @Html.TextAreaFor(model => model.HOD_Comments, new { @class = "", @cols = 80, @rows = 3, @disabled = "disabled", maxlength = 1000, style = "cursor: not-allowed" })
                        </div>
                    }
                    <div class="col-12 float-left ">
                        <label class=" custom_label col-form-label required"> Initiator Comments</label>
                        @Html.TextAreaFor(model => model.initiator_Comments, new { @class = " ", @cols = 80, @rows = 3, maxlength = 1000 })
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-12 float-left">
                        <div class="col-6  float-left padding-right_div">
                            <label class="custom_label col-form-label required"> Assign to HOD:</label>
                            @if (Model.CurrentStatus == 3 || Model.CurrentStatus == 10)
                            {
                                @Html.DropDownList("HOD", null, "Select", htmlAttributes: new { @id = "HOD", @class = " col-6  padding-none selectpicker drop_down " })
                            }
                            else
                            {
                                @Html.DropDownList("HOD", new SelectList(Enumerable.Empty<SelectListItem>()), "Select HOD", htmlAttributes: new { @name = "HOD", @id = "HOD", @class = " col-6  padding-none  drop_down selectpicker" })
                            }
                        </div>
                        <div class=" float-right padding-none">
                                @if (Model.CurrentStatus == 3 || Model.CurrentStatus == 10)
                                {
                                    <button type="button" id="BtnUpdate" class="btn btn-signup_popup" onclick="AddErrata('Update');">Update</button>
                                }
                                else
                                {
                                    <button type="button" id="submit_Btn" class="btn btn-signup_popup" onclick="AddErrata('Created');">Submit</button>
                                }
                                <button type="button" class="btn btn-cancel_popup" onclick="RevertIndexPage();">Cancel</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <!--call Electronic Signature -->
    @Html.Partial("_ElectronicPartialView")
</form>
}
<script>
    if(@Model.CurrentStatus == 3 || @Model.CurrentStatus == 10)
    {
        $("#Department").prop('disabled', true).css("color", "disabled");
        $("#TypeOfCorrection").prop('disabled', true).css("color", "disabled");
    }
</script>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size:7
        });
    });
</script>
<!--Binding Current System Date on Created Date text box-->
<script>
    $(function () {
        var date = new Date();
        date.setDate(date.getDate());
        $('.datetimepicker').datetimepicker({
            startDate: date,
            format: 'dd/mm/yyyy',
            autoclose: true,
        });
    });
</script>
<script>
    // For populating Errata File Number based on select Department
    function GetErratNumber() {
        var errors = [];
        var DeptID = $('#Department').val();
        var TypeOfcorrection = $("#TypeOfCorrection").val();
        //For Reloading Document Type Empty
        //When selecting Department then id is 1
        //GetReferenceNumber(1);
        $("#ErrataFileNo").val("");
        if (DeptID != "0") {
            $.ajax({
                url: '@Url.Content("~/QMS/Errata/BindErrataNo")',
                type: "GET",
                dataType: "JSON",
                data: { DeptID: DeptID, TypeOfCorrection: TypeOfcorrection },
                success: function (NTFile) {
                    if (NTFile.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (NTFile.hasError == false) {
                            if (NTFile.data == 1) {

                                custAlertMsg("Please contact admin,System Masters not available.", "error");
                                return false;
                            }
                            else {
                                $("#ErrataFileNo").val(NTFile.data); // clear before appending new list
                            }
                        }
                        else {
                            errors.push(NTFile.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                    }
                }
            });
        }
        else {
            GetReferenceNumber(1);
            $("#ErrataFileNo").val("");
            $("#DocTitle").val("");
            $("#DocumentType").val("-1");
            $("#ReferenceNumber").val("");
            $("#DocumentType").selectpicker('refresh');
            $("#ReferenceNumber").selectpicker('refresh');
        }
    }
    function FillAssignHODOnchangeDept() {
        //For binding HOD names based on select Department
        var DeptID = $('#Department').val();
        GetReferenceNumber(1);
        $("#ErrataFileNo").val("");
        $("#DocTitle").val("");
        $("#DocumentType").val("-1");
        $("#ReferenceNumber").val("");
        $("#DocumentType").selectpicker('refresh');
        $("#ReferenceNumber").selectpicker('refresh');
        $("#TypeOfCorrection").val("");
        $("#TypeOfCorrection").selectpicker('refresh');

        $.ajax({
            url: '@Url.Content("~/QMS/QMSCommon/BindHOD")',
            type: "Post",
            dataType: "JSON",
            data: { DeptID: DeptID },
            success: function (jsonResult) {
                if (jsonResult.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if(jsonResult.hasError==true){
                        custAlertMsg(jsonResult.data, "error");
                    }else{
                        var numbers = jsonResult;
                        var option = '';
                        $("#HOD").html(""); // clear before appending new list
                        for (var i = 0; i < numbers.length; i++) {
                            $("#HOD").append(
                                $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                        }
                        $('#HOD').selectpicker('refresh');
                    }
                }
            }
        });
    }
</script>
<script>
    //For binding the DocumentType Dropdown
    $(document).ready(function () {
        var v1 =@Model.DocumentType;
        if (v1 == "0") {
            $("#divReference").hide();
            $("#divdocName").show();
            $("#divRefrenceNumber").show();
            $("#divdocNameReadOnly").hide();
        }
        else {
            $("#divReference").show();
            $("#divdocName").hide();
            $("#divRefrenceNumber").hide();
            $("#divdocNameReadOnly").show();
        }
    });
</script>
<script>
    //For Binding DocumentReferenceNo dropdown based on select DocumentType
    function GetReferenceNumber(id) {
        errors = [];
        var DeptID = $('#Department').val();
        var DocumentTypeID = $('#DocumentType').val();
        if (DeptID != "0") {
            //Others
            if (DocumentTypeID == "0") {
                $("#divReference").hide();
                $("#divdocName").show();
                $("#divRefrenceNumber").show();
                $("#divdocNameReadOnly").hide();
                $("#DocumentNo").val("");
                $("#DocTitle").val("");
              $("#DocTitle1").val("");
            }
            if (DocumentTypeID > "0" || DocumentTypeID == "-1") {
                $("#divReference").show();
                $("#divdocName").hide();
                $("#divRefrenceNumber").hide();
                $("#divdocNameReadOnly").show();
                $("#DocTitle").val("");
                $("#DocTitle1").val("");
                $.ajax({
                    url: '@Url.Content("~/QMS/QMSCommon/BindReferenceNo")',
                    type: "post",
                    dataType: "JSON",
                    data: { DeptID: DeptID, DocumentTypeID: DocumentTypeID },
                    success: function (jsonResult) {
                        if (jsonResult.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        } 
                        else{
                            if(jsonResult.hasError==true){
                                custAlertMsg(jsonResult.data, "error");
                            }else{
                                var numbers = jsonResult;
                                var option = '';
                                $("#ReferenceNumber").html(""); // clear before appending new list
                                for (var i = 0; i < numbers.length; i++) {
                                    $("#ReferenceNumber").append(
                                        $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                                }
                                $('#ReferenceNumber').selectpicker('refresh');
                            }
                        }
                    }
                });
            }
        }
        else {
            $("#DocumentType").val("0");
            $("#ReferenceNumber").val("0");
            $("#DocTitle").val("");
            $.ajax({
                url: '@Url.Content("~/QMS/QMSCommon/BindReferenceNo")',
                type: "post",
                dataType: "JSON",
                data: { DeptID: DeptID, DocumentTypeID: DocumentTypeID },
                success: function (jsonResult) {
                    if (jsonResult.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    } 
                    else{
                        if(jsonResult.hasError==true){
                            custAlertMsg(jsonResult.data, "error");
                        }else{
                            var numbers = jsonResult;
                            var option = '';

                            $("#ReferenceNumber").html(""); // clear before appending new list
                            for (var i = 0; i < numbers.length; i++) {
                                $("#ReferenceNumber").append(
                                    $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                            }
                            $('#ReferenceNumber').selectpicker('refresh');
                        }
                    }
                }
            });
            //For Populating Error msg when DocumentType is selected without selecting Department
            if (id == 2) {
                if (DeptID == "0") {
                    errors.push("Select Department");
                    custAlertMsg(errors.join("<br/>"), "error");
                    $("#DocumentType").val("-1");
                } return false;
            }
        }
    }
    //For populating DocumentName text box by selecting on DocumentReferenceNo
    function GetDocumentName() {
        var DeptIDForDocName = $('#Department').val();
        var versionID = $('#ReferenceNumber').val();
        var DocumentTypeID = $('#DocumentType').val();
        if (versionID != "") {
            $.ajax({
                url: '@Url.Content("~/QMS/QMSCommon/BindDocumentName")',
                type: "GET",
                dataType: "JSON",
                data: { versionID: versionID, DocumentTypeID: DocumentTypeID },
                success: function (BindDocname) {
                    if (BindDocname.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    } 
                    else{
                        if (BindDocname.hasError == false) {
                            $("#DocTitle").val(BindDocname.data); // clear before appending new list
                        }
                        else {
                            errors.push(BindDocname.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                    }
                }
            });
        }
    }
</script>

<!--JS Function for Create and Update Validation on Errata-->
<script>
    var ErrataCreationStatus;
    var ErrataFileNumber;
    var ER_ID;
    var Department;
    var CreateDate;
    var CreateDate;
    var DocumentType;
    var versionID;
    var DocName;
    var Section;
    var Description;
    var Comments;
    var HOD;
    var TypeOfCorrectionErrata;
    function AddErrata(Status) {
        ErrataCreationStatus=Status;
        if (Status == "Update") {
             ER_ID=@Model.ER_ID;
        }
        errors = [];
        Section = $("#SectionNo").val().trim();
         ErrataFileNumber = $("#ErrataFileNo").val().trim();
         Department = $("#Department :selected").val();
        if (Department == "" || Department == 0) {
            errors.push("Select Department.");
        }
         CreateDate = $("#Initiator_SubmitedDate").val().trim();
        if (CreateDate == "") {
            errors.push("Enter Date.");
         }
        TypeOfCorrectionErrata = $("#TypeOfCorrection").val();
        if (TypeOfCorrectionErrata == "" || TypeOfCorrectionErrata == "undefined") {
            errors.push("Select Type of Correction.");
        }
        if (Section == "") {
            errors.push("Enter Section Number.");
        }
         DocumentType = $("#DocumentType :selected").val();
        if (DocumentType == ""||DocumentType == "undefined" || DocumentType == -1) {
            errors.push("Select Document Type.");
        }
        if (DocumentType != "0") {
            versionID = $("#ReferenceNumber").val();
            if (versionID == "" || versionID == 0) {
                errors.push("Select Reference Document No. ");
            }
           
             DocName = $("#DocTitle").val();
            if (DocName == "") {
                errors.push("Select Document Name. ");
            }
        }
        else {
            //Reference Number Edit
             versionID = $("#DocumentNo").val().trim();;
            if (versionID == "") {
                errors.push("Enter Reference Document No.");
             }
            DocName = $("#DocTitle1").val().trim();;
            if (DocName == "") {
                errors.push("Enter Document Name. ");
            }
        }
        
       
         Description = $("#ProposedCorrectionDoc_Desc").val().trim();;
        if (Description == "") {
            errors.push("Enter Proposed Corrections in Documents.");
        }
         Comments = $("#initiator_Comments").val().trim();;
        if (Comments == "") {
            errors.push("Enter Initiator Comments.");
         }
         HOD = $("#HOD :selected").val();
        if (HOD == "" || HOD=="0") {
            errors.push("Select Assign to HOD.");
        }
        if (ErrataFileNumber != "" && HOD != "" && HOD != "0" && CreateDate != "" &&
            Description != "" && versionID != "" && DocName != "" && Section != "" &&
            Department != "" && DocumentType != "" && Comments != "" && TypeOfCorrectionErrata!="") {
            ElectronicSignPopupOpen('ErrataCreateSubmittCode');
        } else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    
    function ErrataCreateSubmittCode(){
        errors = [];
        var change = {
            "ErrataFileNo": ErrataFileNumber, "Initiator_SubmitedDate": CreateDate, "DeptID": Department, "versionID": versionID, "ER_ID": ER_ID,
            "ProposedCorrectionDoc_Desc": Description, "HOD_EmpID": HOD, "DocumentType": DocumentType, "DocTitle": DocName, "initiator_Comments": Comments,
            "SectionNo": Section, "TypeofCorrection": TypeOfCorrectionErrata
        };
        //For Restricting multiple clicks
        ShowPleaseWait('show');
        $.post("@Url.Content("~/QMS/Errata/Errat_Create")?Status=" + ErrataCreationStatus, change,
            function (aiz) {
                //For Restricting multiple clicks
                ShowPleaseWait('hide');
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                } 
                else{
                    if (aiz.hasError == false) {
                        ElectronicSignPopupClose();
                        if (ErrataCreationStatus == "Update") {
                            errors.push("Errata <span class='sucess_info_msg'>" + aiz.data + "</span> Updated Successfully.");

                            custAlertMsg(errors.join("<br/>"), "success","ReloadRevertPage();");
                            
                        } else {
                            errors.push("Errata <span class='sucess_info_msg'>" + aiz.data + "</span>  Created Successfully.");

                            custAlertMsg(errors.join("<br/>"), "success"," RevertIndexPage();");
                           
                        }
                        return false;
                    } else {
                        errors.push(aiz.data);
                        custAlertMsg(errors.join("<br/>"), "error");

                        return false;
                    }
                }
            }, 'json');
    }
</script>
<script>
    function ReloadRevertPage(){
        $("#myModalErrata").modal('hide');
        window.location.href = '@Url.Action("Errata_List", "Errata", routeValues: new { ShowType = 3, area = "QMS" })';
    }
    function RevertIndexPage() {
        $("#myModalErrata").modal('hide');
        //Reload Errata List without page Refersh
        $('#tblErrataList').DataTable().ajax.reload();
    }
</script>





