﻿@model QMS_BO.QMS_Errata_BO.ErrataBO
<style>
    .Modalpopup-ScrollErrata {
        max-height: 600px;
        overflow-y: auto;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id='OpenDilogPartial'></div>
    <!------Confirmation pop up script call----->
    <div hidden="hidden"> <button id="btnElectronic" href="javascript:void(0)" class="btn btn-danger delete-prompt">Delete</button></div>
    <!----End-->
    <!--------Start Create Incident Report pop up-------------->
    <div id="myModalHOD" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="max-width:80%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">View Errata Details (  @Model.ErrataFileNo  )</h4>
                    <button type="button" class="close" onclick="RevertIndexPage();">&times;</button>
                </div>
                <div class="modal-body  Modalpopup-ScrollErrata style-3">
                    <div id="accordionConent" class="accordion">
                        <div class="card mb-0  top grid_panel">
                            <div class="card-header header_col_sub" data-toggle="collapse" href="#collapseOneSub" data-parent="#accordionConent">
                                <a class="card-title collapsed">
                                    View Errata Details
                                </a>
                            </div>
                            <div id="collapseOneSub" class="collapse show" data-parent="#accordionConent">
                                <div class="card-body col-12 float-left ">
                                    <div class="col-12 float-left info_bg ">
                                        <div class="col-6 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Department </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.DeptName, new { htmlAttributes = new { @id = "DeptName", @class = " edit_text" } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Type of Correction</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.TypeofChangeName, new { htmlAttributes = new { @class = " edit_text" } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view ">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Errata File Number </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.ErrataFileNo, new { htmlAttributes = new { @class = "edit_textl", @readonly = "readonly", @autofocus = "autofocus" } })
                                            </div>
                                        </div>

                                        <div class="col-6 float-left custom_text_view">
                                            <label for="" class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Created Date </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.Initiator_SubmitedDate, new { htmlAttributes = new { @class = "edit_text ", name = "Create_Date" } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Section Number </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.SectionNo, new { htmlAttributes = new { @class = "edit_text ", name = "NTF_Description" } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Document Type</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.DocumentTypeName, new { htmlAttributes = new { @class = "edit_text ", name = "DocumentTypeName" } })
                                            </div>
                                        </div>
                                        <div class="col-12 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Reference Document No.</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.DocumentNo, new { htmlAttributes = new { @class = "edit_text ", name = "ReferenceNumber" } })
                                            </div>
                                        </div>

                                        <div class="col-12 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Document Name</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.DocTitle, new { htmlAttributes = new { @class = "edit_text ", name = "DocTitle" } })
                                            </div>
                                        </div>
                                        <div class="col-12 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Proposed Corrections in Documents</label>
                                            <div class="col-12 top">
                                                <div class=" col-xl-10 col-md-10 col-sm-6 col-lg-10 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.ProposedCorrectionDoc_Desc, new { htmlAttributes = new { @class = "edit_text ", name = "NTF_Description" } })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div id="hideHod" class=" col-12 padding-none" style="display:none">
                        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  bottom top padding-none">
                            @Html.Label("Type of Correction :", htmlAttributes: new { @class = "custom_label form-label float-left required " })

                            @if (Model.CurrentStatus == 1 || Model.CurrentStatus == 2)
                            {
                                @Html.DropDownList("TypeOfCorrection", null, "Select", htmlAttributes: new { @id = "TypeOfCorrection", @class = "drop_down selectpicker " })
                            }
                            @if (Model.CurrentStatus == 5 || Model.CurrentStatus == 4 || Model.CurrentStatus == 6 || Model.CurrentStatus == 8 || Model.CurrentStatus == 13 || Model.CurrentStatus == 12)
                            {
                                @Html.DisplayFor(model => model.TypeofChangeName, new { htmlAttributes = new { @class = "edit_text ", name = "TypeofChangeName" } })
                            }
                        </div>
                    </div>*@
                    <!--Calling partial view for Impact points-->
                    <div class="card mb-0 col-12 float-left padding-none">
                        <div>
                            @Html.Partial("~/Areas/QMS/Views/Errata/_ErrataImpactPoints.cshtml")
                        </div>
                    </div>
                    <!--End-->

                    <div class="col-12  bottom padding-none">
                        <div id="hideImpactList" class=" col-12 padding-none" style="display:none;">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title"> Assessments</div>
                            </div>
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  grid_assgin">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none" style="min-height:0px !important">

                                </div>
                            </div>
                        </div>
                        <div class="=col-12 padding-none">
                            <div id="divjust" style="display:none">
                                <div class="col-12 float-left padding-none">
                                    <label class=" custom_label col-form-label">Justification<span class="mandatoryStar">*</span></label>
                                    @Html.TextAreaFor(model => model.JustificationDesc, new { @class = "", @cols = 80, @rows = 3, @readonly = "readonly" })
                                </div>
                            </div>
                            <div id="divEval" style="display:none">
                                <div class="col-12 float-left padding-none">
                                    <label class=" custom_label col-form-label">Evaluation<span class="mandatoryStar">*</span></label>
                                    @Html.TextAreaFor(model => model.Evaluation_Desc, new { @class = "", @cols = 80, @rows = 3, @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-12 float-left padding-none" id="divHeadQAChangeMade">
                                @if (Model.MasterDocument == true || Model.SoftCopy == true || Model.Other_DocCheck == true || Model.OtherDocumnets != null)
                                {
                                    <label class=" custom_label col-form-label required">  Changes Made in  :</label>
                                }
                                @if (Model.MasterDocument == true)
                                {
                                    <span class="edit_text " style="margin-left:10px">
                                        @Html.DisplayFor(model => model.MasterDocument, new { htmlAttributes = new { @class = "edit_text", name = "MasterDocument" } })
                                        : MasterDocument
                                    </span>
                                }
                                @if (Model.SoftCopy == true)
                                {
                                    <span class="edit_text " style="margin-left:15px">
                                        @Html.DisplayFor(model => model.SoftCopy, new { htmlAttributes = new { @class = "edit_text ", name = "SoftCopy" } })
                                        : Soft Copy
                                    </span>
                                }
                                @if (Model.Other_DocCheck == true)
                                {
                                    <span class="edit_text " style="margin-left:15px">
                                        @Html.DisplayFor(model => model.Other_DocCheck, new { htmlAttributes = new { @class = "edit_text ", name = "Other_DocCheck" } })
                                        : Other Documents
                                    </span>
                                }
                                @if (Model.OtherDocumnets != null)
                                {
                                    <div class="col-12 float-left padding-none" id="">
                                        <label class=" custom_label padding-none col-form-label required">Document Numbers:</label>
                                        @Html.TextAreaFor(model => model.OtherDocumnets, new { @class = " ", @rows = 3, name = "OtherDocumnets", @disabled = "disabled", style ="cursor: not-allowed"})
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-12 bottom padding-none">
                        <div id="AssignQA" class=" col-6 top padding-none" style="display:none">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left padding-none ">
                                @if (Model.CurrentStatus == 2 || Model.CurrentStatus == 1)
                                {
                                    @Html.Label("Assign To QA", htmlAttributes: new { @class = "custom_label form-label  col-4 float-left required padding-none" })
                                    <div class="col-8 float-left padding-none">
                                        @Html.DropDownList("QAEmployee", null, "Select", htmlAttributes: new { @id = "QAEmployee", @class = " col-lg-12  padding-none  drop_down selectpicker" })
                                    </div>
                                }
                            </div>
                        </div>
                        <div id="AssignHeadQA" class=" col-6 top padding-none" style="display:none">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left padding-none ">
                                @if (Model.CurrentStatus == 4 || Model.CurrentStatus == 13)
                                {
                                    @Html.Label("Assign To HeadQA :", htmlAttributes: new { @class = "custom_label form-label  col-6 float-left required padding-none" })
                                    <div class="col-8 padding-none float-left">
                                        @Html.DropDownList("HEQAEmployee", null, "Select", htmlAttributes: new { @id = "HEQAEmployee", @class = " col-lg-12  padding-none  drop_down selectpicker" })
                                    </div>
                                }
                            </div>
                        </div>
                        <div class=" float-right padding-right_div">
                            <button type="button" id="Cancel_btn" class="btn btn-cancel_popup" onclick="RevertIndexPage();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!--END -->
<script>
    //Hide and Show based on CurrentStatus
    $(document).ready(function () {
        var v1 =@Model.CurrentStatus;
        if (v1 == 4 || v1 == 5 || v1 == 6 || v1 == 8 || v1 == 13 || v1 == 12 || v1 == 15) {
        $("#hideHod").show();
        $("#hideImpactList").show();
        $("#revertBtn").show();
        $("#Next_Btn").show();
        $("#rejectBtn").show();
        $("#submit_BtnQA").hide();
        $("#divjust").show();
        $("#AssignQA").show();
    }
});
    //Hide and Show based on CurrentStatus
$(document).ready(function () {
    var v1 =@Model.CurrentStatus;
    if (v1 == 5) {
        $("#submit_Btn").show();
        $("#revertBtn").hide();
        $("#rejectBtn").hide();
        $("#divHeadQAChangeMade").hide();
    }
    if (v1 == 6 || v1 == 8) {
        $("#divHeadQAChangeMade").show();
        $("#rejectBtn").hide();
        $("#revertBtn").hide();
    }
    if (v1 == 6 || v1 == 15 || v1 == 8) {
        $("#divEval").show();
    }
    if (v1 == 1 || v1 == 2 || v1 == 4 || v1 == 13) {
        $("#divHeadQAChangeMade").hide();
    }
});
</script>
<script>
    function RevertIndexPage() {
        $("#myModalHOD").modal('hide');
        $("#tblErrataList").DataTable().ajax.reload();
    }
</script>

<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>
<!--For showing Validation Error Messages-->
<script>
    $(document).ready(function () {
        var Err = "@ViewBag.Error";
    if (Err != "") {
        errors = [];
        errors.push(Err);
        custAlertMsg(errors.join("<br />"), "error");
    }
    else {
    }
});
</script>
<!--End-->
<script>
    //Disable All Comments it is for only view.
    $("#JustificationDesc").prop('disabled', true).css("cursor", "no-drop");
    $("#Evaluation_Desc").prop('disabled', true).css("cursor", "no-drop");
    $("#HQA_Comments").prop('disabled', true).css("cursor", "no-drop");
</script>




