﻿@model QMS_BO.QMS_Errata_BO.ErrataBO
@{
    ViewBag.Title = "Errata_List";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}

<!--Exception Function-->
@if (ViewBag.Exception != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>
}
else
{
    <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6 float-right padding-none">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none" id="divCreate" style="display:none">
            <button class=" btn-signup_popup float-right" name="Add Capa" value="Add Capa" id="btndept" onclick="CreateErrata(this);">Create Errata </button>
        </div>
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none">
            <button class=" btn-signup_popup float-right bottom" style="display:none" id="btnBackToDashboard" onclick="BackToDashboard();">Dashboard </button>
        </div>
        <div id='OpenDilog'>
        </div> <!--Open model pop up-->
    </div>
    <!------buttons---------->
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title" id="lblName"> @*<label id="lblName" style="color:#056775;font-size:14px"></label*@></div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="min-height:0px !important">
        <table id="tblErrataList" class=" table datatable_cust table-striped table-bordered dataTable no-footer" cellspacing="0" style="width: 100%">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>ER_ID</th>
                    <th>Errata Number</th>
                    <th>Department</th>
                    <th>Reference Document_No.</th>
                    <th>Document Name</th>
                    <th>Section No</th>
                    <th>Created by</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th> <!--HOD Revert-->
                    <th>Action</th><!--Head QA-->
                    <th>View</th><!--Main list View-->
                    <th>Manage</th>
                    <th>History</th>
                </tr>
            </thead>
        </table>
    </div>
    <!--JS Scripts for Create, Edit , View history, View Hod in Errata-->
    <script>
    //Create New Document Report on Errata(Create) on Errata Review List
        function CreateErrata(cntrl)
        {
              $(cntrl).attr("onclick", "").unbind("click");
              $("#OpenDilog").empty();
              ShowPleaseWait('show');
             $("#OpenDilog").load("@Url.Content("~/QMS/Errata/Errata_Create")?id=0", function ()
             {
                 ShowPleaseWait('hide');
                 $('#myModalErrata').modal('show');
                 $("#lblErrata").text("Create Errata").css("color", "white");
            $(cntrl).attr("onclick", "CreateErrata(this)").unbind("click");
        });
    }
    //Edit Errata file on Errata(Reverted) on Errata Review List
        function EditErrataFile(cntrl, ER_ID) {
            $(cntrl).attr("onclick", "").unbind("click");
        if (ER_ID == 0) {
            //if value 0 this is returning empty view
        }
        else {
            $("#OpenDilog").empty();
            $("#OpenDilog").load("@Url.Content("~/QMS/Errata/Errata_Create")?id=" + ER_ID, function () {
                $('#myModalErrata').modal('show');
                if (@TempData["QueryE"].ToString()==3)//Revert Errata
                {
                    $("#lblErrata").text("Edit Errata").css("color", "white");
                } else//Create Errata
                {
                    $("#lblErrata").text("Create Errata").css("color", "white");
                }
                $(cntrl).attr("onclick", "EditErrataFile(this," + ER_ID + ")").unbind("click");
            });
        }
    }
    //To View Hod
        function ViewHOD(cntrl, ER_ID, number) {
            $(cntrl).attr("onclick", "").unbind("click");
        if (ER_ID == 0) {
            //if value 0 this is returning empty view
        }
        else {
            $("#OpenDilog").empty();
            ShowPleaseWait('show');
            $("#OpenDilog").load("@Url.Content("~/QMS/Errata/Errata_HODReview")?id=" + ER_ID + "&&Number=" + number, function () {
            ShowPleaseWait('hide');
                $('#myModalHOD').modal('show');
                $(cntrl).attr("onclick", "ViewHOD(this," + ER_ID + "," + number + ")").unbind("click");
            });
        }
        }
        function QAReview(cntrl, ER_ID, number) {
            $(cntrl).attr("onclick", "").unbind("click");
        if (ER_ID == 0) {
            //if value 0 this is returning empty view
        }
        else {
            $("#OpenDilog").empty();
            ShowPleaseWait('show');
            $("#OpenDilog").load("@Url.Content("~/QMS/Errata/Errata_QAReview")?id=" + ER_ID + "&&Number=" + number, function () {
            ShowPleaseWait('hide');
            $('#MyModelErratQAReview').modal('show');
                $(cntrl).attr("onclick", "ViewHOD(this," + ER_ID + "," + number + ")").unbind("click");
            });
        }
        }
    //To View History on Errata(Reverted) on Errata Review List
    function History(cntrl,ER_ID, number) {
        $(cntrl).attr("onclick", "").unbind("click");
        $("#OpenDilog").empty();
        ShowPleaseWait('show');
        $("#OpenDilog").load("@Url.Content("~/QMS/Capa/TransactionHistory")?id=" + ER_ID + "&&EventType=" + number, function () {
        ShowPleaseWait('hide');
                $('#myModalTransHistory').modal('show');
                $('#myModalTransHistory').on('shown.bs.modal', function (e) {
                    var hdnColumns = [0,3,8]
                    LoadQMSEventsHistory(ER_ID, hdnColumns, number);
                });
            $(cntrl).attr("onclick", "History(this," + ER_ID + "," + number + ")").unbind("click");
        });
    }
    </script>
    <!-- To View List in Errata -->
    <script>
    //To View Errta Admin Manage Popup
    function ErrataAdminManage(cntrl,ER_ID, number)
    {
        $(cntrl).attr("onclick", "").unbind("click");
        $("#OpenDilog").empty();
        ShowPleaseWait('show');
        $("#OpenDilog").load("@Url.Content("~/QMS/Errata/_ErrataAdminManage")?id=" + ER_ID + "&&Status=" + number, function () {
        ShowPleaseWait('hide');
            $('#myModalAdminManage').modal('show');
            $(cntrl).attr("onclick", "ErrataAdminManage(this," + ER_ID + "," + number + ")").unbind("click");
        });
    }
    </script>
    <script>
        //For Coloumn wise search on Jquery Grid
        $('#tblErrataList thead tr').clone(true).appendTo('#tblErrataList thead');
        $('#tblErrataList thead tr:eq(1) th').each(function (i) {
            if (i < 10) {
                var title = $(this).text();

                $(this).html('<input type="text" placeholder="Search" />');

                $('input', this).on('keyup change', function () {
                    if (oErrataTable.column(i).search() !== this.value) {
                        oErrataTable
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
                //if (i == 11 || i == 12) {
                //    $(this).html('');
                //}
            }
            else {
                $(this).html('');
            }

        });
    //end
        

        var hideNtfColumns = [];
        var ColumnHide = [];
    var title = "";
    switch (@TempData["QueryE"].ToString())
    {
    case 1://INT
            hideNtfColumns = [0, 1, 6, 11, 12, 10, 13, 14, 15, 16];
            ColumnHide = [0,1,6];
    title = "Create Errata List";
    $("#divCreate").show();
    break;
    case 3://HRT
    if (@ViewBag.ERID > 0)
    {
    EditErrataFile(this,@ViewBag.ERID)
            }
        ColumnHide = [0, 1, 6];
        hideNtfColumns = [0,1, 6, 11, 12, 13, 14, 15, 16];
    title = "Reverted Errata List";
    break;
    case 2://HOD
    if (@ViewBag.ERID > 0)
    {
    ViewHOD(this,@ViewBag.ERID, "1");
            }
        ColumnHide = [0, 1, 6];
        hideNtfColumns = [0,1, 6, 10, 12, 13, 14, 15, 16];
    title = "Review Errata List";
    break;
    case 4://QA
    if (@ViewBag.ERID > 0)
    {
    ViewHOD(this,@ViewBag.ERID, "2");
            }
        ColumnHide = [0, 1, 6];
        hideNtfColumns = [0,1, 6, 10, 11, 13, 14, 15, 16];
    title = "Review Errata List";
    break;
    case 5:// QART
    if (@ViewBag.ERID > 0)
    {
    ViewHOD(this,@ViewBag.ERID, "3");
            }
        ColumnHide = [0, 1, 6];
        hideNtfColumns = [0,1, 6, 10, 11, 12, 14, 15, 16];
    title = "Reverted Errata List";
    break;
    case 6: //HQA
    if (@ViewBag.ERID > 0)
    {
        QAReview(this,@ViewBag.ERID, "4");
            }
        ColumnHide = [0, 1, 6];
        hideNtfColumns = [0,1, 6, 10, 11, 13, 12, 15, 16];
    title = "Review Errata List";
    break;
    case 7://QAVF
            hideNtfColumns = [0, 1, 6, 10, 11, 13, 12, 15, 16];
            ColumnHide = [0, 1, 6];
    title = "Verify Errata List";
    break;
    case 8://EMainList
            hideNtfColumns = [0, 1, 6, 10, 11, 13, 12, 14, 16];
            ColumnHide = [0, 1, 6];
    title = "Errata Main List";
    break;
    case 13: //Errata Admin Manage
            hideNtfColumns = [0, 1, 6, 10, 11, 13, 12, 14, 15];
            ColumnHide = [0, 1, 6];
    title = "Errata Manage List";
    break;
    case 9://E_Pending
            hideNtfColumns = [0, 1, 6, 10, 11, 13, 12, 14, 16];
            ColumnHide = [0, 1, 6];
    title = "Errata Pending  List";
    $("#btnBackToDashboard").show();
    break;
    case 10:// E_Approved
            hideNtfColumns = [0, 1, 6, 10, 11, 13, 12, 14, 16];
            ColumnHide = [0, 1, 6];
    title = "Errata Approved  List";
    $("#btnBackToDashboard").show();
    break;
    case 11://E_Rejected
            hideNtfColumns = [0, 1, 6, 10, 11, 13, 12, 14, 16];
            ColumnHide = [0, 1, 6];
    title = "Errata Rejected List";
    $("#btnBackToDashboard").show();
    break;
    case 15://E_Complete
           if (@ViewBag.ERID > 0)
    {
        QAReview(this,@ViewBag.ERID, "4");
    }
        hideNtfColumns = [0,1, 6, 10, 11, 13, 12, 15, 16];
    title = "Complete Errata List";
    break;
    }
    $("#lblName").text(title);
    $('#tblErrataList').wrap('<div class="dataTables_scroll" />');
    var oErrataTable = $('#tblErrataList').DataTable({
    columns: [
    { 'data': 'Rownumber' }, //0
    { 'data': 'ER_ID' },//1
    { 'data': 'ErrataFileNo'},//2
    { 'data': 'DeptName' }, //3
    { 'data': 'DocumentNo' },//4
    { 'data': 'DocTitle'},//5
    { 'data': 'SectionNo' },//6
    { 'data': 'EmpName' }, //7
    { 'data': 'Initiator_SubmitedDate', type: 'dd-mmm-yyyy' }, //8
    { 'data': 'Status' },//9
    {
    "mData": null,       //10 Edit Errata
    "bSortable": false,
    "mRender": function(o) {
        { return '<a class="action_qms" href="#" title="Action" onclick=EditErrataFile(this,' + o.ER_ID + ')>' + '' + '</a>' ; }
                 }
                 },
                 {
                 "mData" : null,       //11 HOD View Errata
    "bSortable": false,
    "mRender": function(o) {
        { return '<a class="action_qms" href="#" title="Action" onclick=ViewHOD(this,' + o.ER_ID + ',"1")>' + '' + '</a>' ; }
                 }
                 },
                 {
                 "mData" : null,       //12 QA View Errata
    "bSortable": false,
    "mRender": function(o) {
        { return '<a class="action_qms" href="#" title="Action" onclick=ViewHOD(this,' + o.ER_ID + ',"2")>' + '' + '</a>' ; }
                 }
                 },
                 {
                 "mData" : null,       //13 hod Revert Errata
    "bSortable": false,
    "mRender": function(o) {
        { return '<a class="action_qms" href="#" title="Action" onclick=ViewHOD(this,' + o.ER_ID + ',"3")>' + '' + '</a>' ; }
                 }
                 },
                 {
                 "mData" : null,       //14 HeadQA Review
    "bSortable": false,
    "mRender": function(o) {
        { return '<a class="action_qms" href="#" title="Action" onclick=QAReview(this,' + o.ER_ID + ',"4")>' + '' + '</a>' ; }
                 }
                 },
                 {
                 "mData" : null,       //15  View Errata no actions
    "bSortable": false,
    "mRender": function(o) {
        { return '<a class="view" href="#" title="View" onclick=MainListViewErrata(this,' + o.ER_ID + ',"4")>' + '' + '</a>' ; }
                 }
                 },

        {
            "mData": null,       //16  View Errata Admin Manage actions
            "bSortable": false,
            "mRender": function (o) {
                { return '<a class="action_qms" href="#" title="Manage" onclick=ErrataAdminManage(this,' + o.ER_ID + ',"4")>' + '' + '</a>'; }
            }
        },
        {
            "mData": null,       //17 History NoteToFile
            "bSortable": false,
            "mRender": function (o) {
                { return '<a class="View" href="#" title="History" onclick=History(this,' + o.ER_ID + ',"3")>' + '' + '</a>'; }
            }
        },

        ],
        "orderCellsTop": true,
        "order":[1,"desc"],
    "aoColumnDefs": [{ className: "dt-body-left", "targets": [1, 2, 3, 4, 5]
        }, { className: "textAlignCenter", "targets": [10, 11, 12, 13, 14, 15, 16, 17] }, { "targets": hideNtfColumns, "visible": false },
        { "targets": ColumnHide, "visible": false }, { "orderable": false, "targets": [0] }],
    "sAjaxSource": "@Url.Content("~/QMS/Errata/GetErrataList")",
    "fnServerData": function(sSource, aoData, fnCallback)
    {
    aoData.push({ "name": "Role", "value": ('@TempData["QueryE"].ToString()') },
    { "name": "RoleIDCharts", "value": ('@TempData["RoleIDFromCharts"].ToString()') },
    { "name": "DeptDashboard", "value": ('@TempData["DeptIDFromDashboard"].ToString()') },
    { "name": "FromDateDashboard", "value": ('@TempData["FromDateDashboard"].ToString()') },
    { "name": "ToDateDashboard", "value": ('@TempData["ToDateDashboard"].ToString()') });
    $.ajax({
    "dataType": 'json',
    "contentType": "application/json; charset=utf-8",
    "type": "GET",
    "url": sSource,
    "data": aoData,
    "success": function(result) {
        if (result.msgRedirecttoLoginPage) //Singal Instance
        {
            window.location.href = '/UserLogin.aspx';
        }
        else{
            if (result.hasError == true)
            {
                custAlertMsg(result.data, "error", "ReloadDashboard();");
            }
            else
            {
                fnCallback(result);
            }
        }
    },
    error: function(xhr, textStatus, error) {
    if (typeof console == "object")
            {
            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
            }
    }
    });
    }
    });
    </script>
    <!--To View Errata from main list no actions-->
    <script>
    function MainListViewErrata(cntrl,ER_ID, number) {
        $(cntrl).attr("onclick", "").unbind("click");
        $("#OpenDilog").empty();
        ShowPleaseWait('show');
        $("#OpenDilog").load("@Url.Content("~/QMS/Errata/ErrataMainListView")?id=" + ER_ID + "&&Number=" + number, function () {
        ShowPleaseWait('hide');
            $('#myModalHOD').modal('show');
            $(cntrl).attr("onclick", "MainListViewErrata(this," + ER_ID + "," + number + ")").unbind("click");
         });
    }
    </script>
    <!--End To View Errata from main list no actions-->
    <script>
    function BackToDashboard(){
        window.location.href = '@Url.Action("QMS_Dashboard", "DashBoard", routeValues: new {  })';
    }
    </script>
}
<!--Exception Message -->
<script>
    function ExecptionMsg() {
        var Err = "@ViewBag.Exception";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
    }
</script>


