﻿@model QMS_BO.QMS_Errata_BO.ErrataBO

<div id='OpenDilogPartial'></div>
<!--------Start Create Incident Report pop up-------------->
<div id="MyModelErratQAReview" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="max-width:80%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Errata Details (  @Model.ErrataFileNo  )</h4>
                <button type="button" class="close" onclick="RevertIndexPage();">&times;</button>
            </div>
            <div class="modal-body  Modalpopup-Scroll style-3">
                <div id="accordionConent" class="accordion">
                    <div class="card mb-0  top grid_panel">
                        <div class="card-header header_col_sub" data-toggle="collapse" href="#collapseOneSub" data-parent="#accordionConent">
                            <a class="card-title collapsed">
                                View Errata Details
                            </a>
                        </div>
                        <div id="collapseOneSub" class="collapse show" data-parent="#accordionConent">
                            <div class="card-body col-12 float-left ">
                                <div class="col-12 float-left  info_bg ">
                                    <div class="col-6 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Department</label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.DeptName, new { htmlAttributes = new { @id = "DeptName", @class = " edit_text" } })
                                        </div>
                                    </div>
                                    <div class="col-6 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Type of Correction</label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.TypeofChangeName, new { htmlAttributes = new { @class = " edit_text" } })
                                        </div>
                                    </div>
                                    <div class="col-6 float-left custom_text_view ">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Errata File Number </label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.ErrataFileNo, new { htmlAttributes = new { @class = "edit_textl", @autofocus = "autofocus" } })
                                        </div>
                                    </div>
                                    <div class="col-6 float-left custom_text_view">
                                        <label for="" class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Created Date </label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.Initiator_SubmitedDate, new { htmlAttributes = new { @class = "edit_text ", name = "Create_Date" } })
                                        </div>
                                    </div>
                                    <div class="col-6 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Section Number </label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.SectionNo, new { htmlAttributes = new { @class = "edit_text ", name = "NTF_Description" } })
                                        </div>
                                    </div>
                                    <div class="col-6 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Document Type</label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.DocumentTypeName, new { htmlAttributes = new { @class = "edit_text ", name = "DocumentTypeName" } })
                                        </div>
                                    </div>
                                    <div class="col-12 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Reference Document No.</label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.DocumentNo, new { htmlAttributes = new { @class = "edit_text ", name = "ReferenceNumber" } })
                                        </div>
                                    </div>

                                    <div class="col-12 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Document Name</label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.DocTitle, new { htmlAttributes = new { @class = "edit_text ", name = "DocTitle" } })
                                        </div>
                                    </div>

                                    <div class="col-12 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Proposed corrections in Documents: </label>
                                        <div class=" col-xl-10 col-md-10 col-sm-6 col-lg-10 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.ProposedCorrectionDoc_Desc, new { htmlAttributes = new { @class = "edit_text ", name = "NTF_Description" } })
                                        </div>
                                    </div>
                                    <div class="col-12 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2" id="lblLatestCommentsErrata"></label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.LatestCommentsErrata, new { htmlAttributes = new { @class = "edit_text ", name = "LatestCommentsErrata" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Impact Points-->
                <div class="card mb-0 col-12 float-left padding-none">
                    <div>
                        @Html.Partial("~/Areas/QMS/Views/Errata/_ErrataImpactPoints.cshtml")
                    </div>
                </div>
                <div class="col-12   bottom padding-none">
                    <div class="=col-12">
                        <div>
                            <div class="col-12 float-left padding-none">
                                <label class=" custom_label col-form-label required">Justification</label>
                                @Html.TextAreaFor(model => model.JustificationDesc, new { @class = "", @cols = 80, @rows = 3, @disabled = "disabled", style = "cursor: not-allowed" })
                            </div>
                        </div>
                        <div>
                            <div class="col-12 float-left padding-none">
                                <label class=" custom_label col-form-label required">Evaluation</label>
                                @Html.TextAreaFor(model => model.Evaluation_Desc, new { @class = "", @cols = 80, @rows = 3, @disabled = "disabled", maxlength = 1000, style = "cursor: not-allowed" })
                            </div>
                        </div>
                        <div id="hideHodDoc" class=" col-12  padding-none">
                            <div class="col-12 float-left padding-none">
                                <label class="custom_label col-form-label float-left required"> Changes Made in </label>
                            </div>
                            <div class="col-12 padding-none float-left grid_assgin ">

                                <div class="col-12  float-left assign_to top bottom padding-none">
                                    <label class=" col-3 form-check-label">
                                        @Html.CheckBoxFor(Model => Model.MasterDocument, new { htmlAttributes = new { @id = "MasterDocument", @class = "form-control", @onchange = "UnCheckOtherDocument();" } })
                                        Master Documents
                                    </label>
                                    <label class=" col-3 form-check-label">
                                        @Html.CheckBoxFor(Model => Model.SoftCopy, new { htmlAttributes = new { @id = "SoftCopy", @class = "form-control", @onchange = "UnCheckOtherDocument();" } })
                                        Soft Copy
                                    </label><label class=" col-3 form-check-label">
                                        <input type="checkbox" id="CkOthers" class="form-check-input" onchange="OtherDocument();" value="3">
                                         Others Departments
                                    </label>
                                </div>
                                <div id="TextBoxesGroup" class="col-12 float-left">
                                    <div id="TextBoxDiv1" class="custom_label form-label padding-none col-12 float-right">
                                        <label class="col-12 custom_label form-label padding-none required">Document Numbers : </label>
                                        @Html.TextAreaFor(model => model.OtherDocumnets, new { @class = "", @cols = 80, @rows = 3, maxlength = 500 })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 float-left padding-none" id="divHqacomments">
                            <label class=" custom_label col-form-label required" id="lblCommentsName">QA Comments</label>
                            @Html.TextAreaFor(model => model.QA_Comments, new { @id = "QA_Comments", @class = " ", @rows = "3", maxlength = 1000 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12 bottom padding-none">


                    <div class="float-right  padding-right_div">
                        @if (Model.CurrentStatus == 6)
    {
                    <button type="button" id="btnSubmitQA" class="btn btn-signup_popup float-left " onclick="QASubmit();">Submit</button>
}
else
{ <button type="button" id="btnComplete" class="btn btn-signup_popup float-left " onclick="InitiatorComplete();">Complete</button>
}
                        <button type="button" id="Cancel_btn" class="btn btn-cancel_popup float-left" onclick="RevertIndexPage();">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--call Electronic Signature -->
@Html.Partial("_ElectronicPartialView")
<script>
    if (@Model.CurrentStatus==15)//Initiator
    {
        $("#hideHodDoc").hide();
        $("#lblCommentsName").text("Initiator Comments")
        $("#lblLatestCommentsErrata").text("Head QA Comments")
    } else//QA 
    {
        $("#hideHodDoc").show();
        $("#lblLatestCommentsErrata").text("Initiator Comments")
        $("#lblCommentsName").text("QA Comments")
    
    }
    $("#hideImpactList").show();
</script>
<script>

    function RevertIndexPage() {
        $("#MyModelErratQAReview").modal('hide');
        $("#tblErrataList").DataTable().ajax.reload();
    }</script>
<!--Un check the Other Document when click on Master Document and Soft copy-->
<script>
    $("#MasterDocument").click(function () {
        var Master = document.getElementById("MasterDocument").checked;
        if (Master == true) {
            $('#CkOthers').prop('checked', false);
        }
    });
    $("#SoftCopy").click(function () {
        var soft = document.getElementById("SoftCopy").checked;
        if (soft == true) {
            $('#CkOthers').prop('checked', false);
        }
    });
</script>
<!--Click the Other documents to display text area-->
<script>
    function OtherDocument() {
        var Doc1 = document.getElementById("CkOthers").checked;
        if (Doc1 == true) {
            $('#MasterDocument').prop('checked', false);
            $('#SoftCopy').prop('checked', false);
        }
    }
</script>
<script>
    var Others;
    var SoftCopy2;
    var MasterDoc;
    var Comments;
    var Head_QA;
    var documentName;
    function QASubmit() {
        errors = [];
        Others = document.getElementById("CkOthers").checked;
        SoftCopy2 = document.getElementById("SoftCopy").checked;
        MasterDoc = document.getElementById("MasterDocument").checked;
        Comments = $("#QA_Comments").val().trim();
        documentName = $("#OtherDocumnets").val().trim();
        
        if (Others == false && SoftCopy2 == false && MasterDoc == false) {
            errors.push("Select Atleast one on Changes Made in.");
        }
        if (documentName == "") {
            errors.push("Enter Document Numbers.");
        }
        if (Comments == "") {
            errors.push("Enter QA Comments.");
        }
        if ((Comments != "" && documentName != "") && (Others != false || SoftCopy2 != false || MasterDoc != false)) {
            ElectronicSignPopupOpen('QAApproveErrata');
        }
        else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
</script>
<script>
    var InitiatorComments;
    function InitiatorComplete() {
          var id=@Model.QA_EmpID;
        errors = [];
        InitiatorComments = $("#QA_Comments").val().trim();
        if (InitiatorComments == "") {
            errors.push("Enter Initiator Comments.");
        }
        if (InitiatorComments != "" ) {
            ElectronicSignPopupOpen('CompleteErrata');
        }
        else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    function CompleteErrata() {
        var Status = "InitiatorComplete";
        var Empid =@TempData["EmpID"];

        //For Restricting multiple clicks
        ShowPleaseWait('show');
        $.ajax({
            url: "@Url.Content("~/QMS/Errata/ApproveErrataFile")?Status=" + Status,
            data: {
                "ER_ID":@Model.ER_ID, "initiator_Comments": InitiatorComments,
                'EmpID': Empid,'QA_EmpID': @Model.QA_EmpID,

                },
                type: 'Post',
                success: function (JsonResultErrata)
                {
                    //For Restricting multiple clicks
                    ShowPleaseWait('hide');
                    if (JsonResultErrata.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else
                    {
                        if (JsonResultErrata.hasError == false) {
                            errors.push("Errata <span class='sucess_info_msg'> @Model.ErrataFileNo </span> Completed Successfully.");
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            return false;
                        }
                        else {
                            errors.push(JsonResultErrata.data);
                            custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                            return false;
                        }
                    }
                }
});
    }
</script>
<script>
    function QAApproveErrata() {
        errors = [];
        var Status = "QASubmit"
        var v1 =@Model.CurrentStatus;
        var Empid =@TempData["EmpID"];
        //For Restricting multiple clicks
        ShowPleaseWait('show');
        $.ajax({
            url: "@Url.Content("~/QMS/Errata/ApproveErrataFile")?Status=" + Status,
            data: {
                 "ER_ID":@Model.ER_ID, "QA_Comments": Comments,
                "Other_DocCheck": Others, "SoftCopy": SoftCopy2, 'EmpID': Empid,
                "MasterDocument": MasterDoc, "OtherDocumnets": documentName
                },
                type: 'Post',
                success: function (JsonResultErrata)
                {
                    //For Restricting multiple clicks
                    ShowPleaseWait('hide');
                    if (JsonResultErrata.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else
                    {
                        if (JsonResultErrata.hasError == false) {
                            errors.push("Errata <span class='sucess_info_msg'> @Model.ErrataFileNo </span> Submitted Successfully.");
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            return false;
                        }
                        else {
                            errors.push(JsonResultErrata.data);
                            custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                            return false;
                        }
                    }
                }
});
    }
</script>
<script>
    function closeViewPopup() {
        if (@Model.CurrentStatus==15) {
             window.location.href = '@Url.Action("Errata_List", "Errata", routeValues: new { ShowType = 15, area = "QMS" })';

        } else {
             window.location.href = '@Url.Action("Errata_List", "Errata", routeValues: new { ShowType = 6, area = "QMS" })';

        }
            $("#MyModelErratQAReview").modal('hide');
    }
</script>