@model QMS_BO.QMS_Errata_BO.ErrataBO
<style>
    .Modalpopup-ScrollErrata {
        max-height: 600px;
        overflow-y: auto;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id='OpenDilogPartial'></div>
    <!--------Start Create Incident Report pop up-------------->
    <div id="myModalHOD" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="max-width:80%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">View Errata Details (  @Model.ErrataFileNo  )</h4>
                    <button type="button" class="close" onclick="RevertIndexPage();">&times;</button>
                </div>
                <div class="modal-body  Modalpopup-ScrollErrata style-3">
                    <div id="accordionConent" class="accordion">
                        <div class="card mb-0  top grid_panel">
                            <div class="card-header header_col_sub" data-toggle="collapse" href="#collapseOneSub" data-parent="#accordionConent">
                                <a class="card-title collapsed">
                                    View Errata Details
                                </a>
                            </div>
                            <div id="collapseOneSub" class="collapse show" data-parent="#accordionConent">
                                <div class="card-body col-12 float-left ">
                                    <div class="col-12 float-left  info_bg ">
                                        <div class="col-6 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Department</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.DeptName, new { htmlAttributes = new { @id = "DeptName", @class = " edit_text" } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Type of Correction</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.TypeofChangeName, new { htmlAttributes = new { @class = " edit_text" } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view ">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Errata File Number </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.ErrataFileNo, new { htmlAttributes = new { @class = "edit_textl", @autofocus = "autofocus" } })
                                            </div>
                                        </div>

                                        <div class="col-6 float-left custom_text_view">
                                            <label for="" class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Created Date </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.Initiator_SubmitedDate, new { htmlAttributes = new { @class = "edit_text ", name = "Create_Date" } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Section Number </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.SectionNo, new { htmlAttributes = new { @class = "edit_text ", name = "NTF_Description" } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-4">Document Type</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.DocumentTypeName, new { htmlAttributes = new { @class = "edit_text ", name = "DocumentTypeName" } })
                                            </div>
                                        </div>
                                        <div class="col-12 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Reference Document No.</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.DocumentNo, new { htmlAttributes = new { @class = "edit_text ", name = "ReferenceNumber" } })
                                            </div>
                                        </div>

                                        <div class="col-12 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Document Name</label>
                                            <div class=" col-xl-10 col-md-10 col-sm-6 col-lg-10 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.DocTitle, new { htmlAttributes = new { @class = "edit_text ", name = "DocTitle" } })
                                            </div>
                                        </div>

                                        <div class="col-12 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Proposed corrections in Documents: </label>
                                            <div class=" col-xl-10 col-md-10 col-sm-6 col-lg-10 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.ProposedCorrectionDoc_Desc, new { htmlAttributes = new { @class = "edit_text ", name = "NTF_Description" } })
                                            </div>
                                        </div>
                                        <div class="col-12 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2" id="lblLatestCommentsErrata"></label>
                                            <div class=" col-xl-10 col-md-10 col-sm-6 col-lg-10 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.LatestCommentsErrata, new { htmlAttributes = new { @class = "edit_text ", name = "LatestCommentsErrata" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div id="hideHod" class=" col-12 padding-none" style="display:none">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6  padding-none bottom top">
                                @Html.Label("Type of Correction :", htmlAttributes: new { @class = "custom_label form-label float-left required" })
                                @if (Model.CurrentStatus == 1 || Model.CurrentStatus == 2 || Model.CurrentStatus == 5)
                                {
                                    @Html.DropDownList("TypeOfCorrection", null, "Select", htmlAttributes: new { @id = "TypeOfCorrection", @class = "drop_down selectpicker " })
                                }
                                @if (Model.CurrentStatus == 4 || Model.CurrentStatus == 6 || Model.CurrentStatus == 8 || Model.CurrentStatus == 13)
                                {
                                    @Html.DisplayFor(model => model.TypeofChangeName, new { htmlAttributes = new { @class = "edit_text ", name = "TypeofChangeName" } })
                                }
                            </div>
                        </div>*@

                    <!--Impact Points-->
                    <div class="card mb-0 col-12 float-left padding-none">
                        <div>
                            @Html.Partial("~/Areas/QMS/Views/Errata/_ErrataImpactPoints.cshtml")
                        </div>
                    </div>
                    <div class="col-12   bottom padding-none">
                        <div class="=col-12">
                            <div id="divjust" style="display:none">
                                <div class="col-12 float-left padding-none">
                                    <label class=" custom_label col-form-label required">Justification</label>
                                    @if (Model.CurrentStatus == 1 || Model.CurrentStatus == 2)
                                    {
                                        @Html.TextAreaFor(model => model.JustificationDesc, new { @class = "", @cols = 80, @rows = 3, maxlength = 500 })
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(model => model.JustificationDesc, new { @class = "", @cols = 80, @rows = 3, @disabled = "disabled", style = "cursor: not-allowed" })
                                    }
                                </div>
                            </div>
                            <div id="divEval" style="display:none">
                                <div class="col-12 float-left padding-none">
                                    <label class=" custom_label col-form-label required">Evaluation</label>
                                    @if (Model.CurrentStatus == 4 || Model.CurrentStatus == 13)
                                    {
                                        @Html.TextAreaFor(model => model.Evaluation_Desc, new { @class = "", @cols = 80, @rows = 3, maxlength = 1000 })
                                    }
                                </div>
                            </div>
                            @if (Model.CurrentStatus == 5)
                            {
                                <div class="col-12 float-left padding-none">
                                    <label class=" custom_label col-form-label">Reverted Comments:</label> 
                                    @*@ViewBag.ActionBy*@
                                    @Html.TextAreaFor(model => model.QA_Comments, new { @class = "", @cols = 80, @rows = 3, @disabled = "disabled", style = "cursor: not-allowed", maxlength = 1000 })
                                </div>
                            }
                            <div class="col-12 float-left padding-none">
                                @if (Model.CurrentStatus == 2 || Model.CurrentStatus == 1 || Model.CurrentStatus == 5)
                                {
                                    <label class=" custom_label col-form-label required">HOD Comments</label>
                                    @Html.TextAreaFor(model => model.HOD_Comments, new { @class = "", @cols = 80, @rows = 3, maxlength = 1000, @autofocus = "autofocus" })
                                }
                                @if (Model.CurrentStatus == 4 || Model.CurrentStatus == 13)
                                {
                                    <label class=" custom_label col-form-label required">Head QA Comments</label>
                                    @Html.TextAreaFor(model => model.HQA_Comments, new { @class = "", @cols = 80, @rows = 3, maxlength = 1000 })
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-12 bottom padding-none">
                        <div id="Assign_HQA" class=" col-8  padding-none" style="display:none">
                            <div class="col-lg-6 col-xl-8 col-md-6 col-sm-6 col-6 float-left padding-none ">
                                @if (Model.CurrentStatus == 2 || Model.CurrentStatus == 1 || Model.CurrentStatus == 5)
                                {
                                    @Html.Label("Assign to Head QA :", htmlAttributes: new { @class = "custom_label form-label float-left required padding-none" })
                                    <div class="col-8 float-left">
                                        @Html.DropDownList("HEQAEmployee", Model.ddl_HeadQAEmpID as List<SelectListItem>, htmlAttributes: new { @id = "HEQAEmployee", @class = " col-lg-12  padding-none  drop_down selectpicker" })
                                    </div>
                                }
                            </div>
                        </div>
                        <div class=" col-6  padding-none">
                            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                                @if (Model.CurrentStatus == 4 || Model.CurrentStatus == 13)
                                {
                                    @Html.Label("Assign to QA :", htmlAttributes: new { @class = "custom_label form-label  float-left required padding-none" })
                                    <div class="col-8 float-left ">
                                        @Html.DropDownList("QAEmployee", Model.ddl_QAEmpID as List<SelectListItem>, htmlAttributes: new { @id = "QAEmployee", @class = " col-lg-12  padding-none  drop_down selectpicker" })
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="text-right  padding-none">
                            @if (Model.CurrentStatus == 2 || Model.CurrentStatus == 1)
                            {
                                <button type="button" id="Next_Btn" class="btn btn-signup_popup" onclick="Next();">Next</button>
                            }
                            @if (Model.CurrentStatus == 4 || Model.CurrentStatus == 13)
                            {
                                <button type="button" id="submit_BtnQA" class="btn btn-signup_popup " onclick="QASubmit();">Approve</button>
                            }
                            @if (Model.CurrentStatus == 5 || Model.CurrentStatus == 1 || Model.CurrentStatus == 2)
                            {
                                <button type="button" id="submit_Btn" class="btn btn-signup_popup " style="display:none" onclick="SubmitToQA();">Approve</button>
                            }
                            @if (Model.CurrentStatus == 1 || Model.CurrentStatus == 2)
                            {
                                <button type="button" id="revertBtnHOD" class="btn btn-revert_popup " onclick="RevertToInitiatorHOD(1);">Revert</button>
                            }
                            else
                            { //Head QA Revert
                                <button type="button" id="revertBtn" class="btn btn-revert_popup " onclick="WhomtoRevert();">Revert</button>
                            }
                            <button type="button" id="rejectBtn" class="btn btn-reject" onclick="RevertToInitiatorHOD(2);">Reject</button>

                            <button type="button" id="Cancel_btn" class="btn btn-cancel_popup" onclick="RevertIndexPage();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Revert Model pop up Whom to Revert-->
    <div id="MyModelRevert" class="modal department fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content padding-none">
                <div class="modal-header">
                    <h4 class="modal-title">Whom to Revert</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            <div id="divEmp">
                                <div class="col-6 float-left assign_to">
                                    @if (Model.CurrentStatus == 4 || Model.CurrentStatus == 13)
                                    {
                                        @ViewBag.HODEmployeeName
                                    }
                                    @Html.HiddenFor(Model => Model.Hidden, new { id = "MyHidden" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="footer">
                    <button type="button" class="btn btn-signup_popup" id="btnAProve" onclick="QARevertToHOD();">Submit</button>
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
                </div>
            </div>
        </div>Revert()
    </div>
    <!--End Revert Model pop up Whom to Revert-->
}
<!--END -->
<!--call Electronic Signature -->
@Html.Partial("_ElectronicPartialView")

<!--Hide and Show based on CurrentStatus-->
<script>
    $(document).ready(function () {
        var v1 =@Model.CurrentStatus;
    if (v1 == 4 || v1 == 5 || v1 == 6 || v1 == 8 || v1 == 13) {
        //$("#hideHod").show();
        $("#hideImpactList").show();
        $("#revertBtn").show();
        $("#Next_Btn").show();
        $("#rejectBtn").show();
        $("#divjust").show();
        $("#Assign_HQA").show();
    }
});
    //Hide and Show based on CurrentStatus
$(document).ready(function () {
    var v1 =@Model.CurrentStatus;
    if (v1 == 5) {
        $("#submit_Btn").show();
        $("#revertBtn").hide();
        $("#rejectBtn").hide();
    }
    if (v1 == 6 || v1 == 8) {
        $("#rejectBtn").hide();
        $("#revertBtn").hide();
    }
    if (v1 == 4 || v1 == 6 || v1 == 8 || v1 == 13) {
        $("#divEval").show();
    }

});
</script>
<!--Button show and Model pop up hide-->
<script>
    //Hide and Show when click on NEXT button
    function Next() {
       // $("#hideHod").show();
        $("#hideImpactList").show();
        $("#revertBtnHOD").hide();
        $("#Next_Btn").hide();
        $("#rejectBtn").hide();
        $("#submit_Btn").show();
        $("#divjust").show();
        $("#Assign_HQA").show();
    }
    function RevertIndexPage() {
        if (@Model.CurrentStatus=="1" || @Model.CurrentStatus=="2"||@Model.CurrentStatus=="4"
            || @Model.CurrentStatus=="13"||@Model.CurrentStatus=="5"
           ||@Model.CurrentStatus=="6"||@Model.CurrentStatus=="8" )
        {
            $("#myModalHOD").modal('hide');
            $("#tblErrataList").DataTable().ajax.reload();
       }
}
</script>
<!--Click the Other documents to display text area-->
<script>
    function OtherDocument() {
        var Doc1 = document.getElementById("CkOthers").checked;
        if (Doc1 == true) {
            $('#MasterDocument').prop('checked', false);
            $('#SoftCopy').prop('checked', false);
        }
    }
</script>
<!--Un check the Other Document when click on Master Document and Soft copy-->
<script>
    $("#MasterDocument").click(function () {
        var Master = document.getElementById("MasterDocument").checked;
        if (Master == true) {
            $('#CkOthers').prop('checked', false);
        }
    });
    $("#SoftCopy").click(function () {
        var soft = document.getElementById("SoftCopy").checked;
        if (soft == true) {
            $('#CkOthers').prop('checked', false);
        }
    });
</script>
<!--Select picker-->
<script>
    $(document).ready(function () {
         if (@Model.CurrentStatus == "5") {
             $("#submit_Btn").text("Update");
            }
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>
<!--Hod And HeadQA Revert and Reject  Actions -->
<script>
    var GetErrataStatus;
    var Comments;
    var v1;
    function RevertToInitiatorHOD(Status) {
        GetErrataStatus = Status;//1 Revert 2 Reject
        errors = [];
         v1 =@Model.CurrentStatus;
    var value = "";
    if (v1 == 2 || v1 == 1) {
        value = "HOD";//display
        Comments = $("#HOD_Comments").val().trim();
    }
    if (v1 == 4 || v1 == 13) {
        value = "HQA";
        Comments = $("#HQA_Comments").val().trim();
    }
    if (Comments == "") {
        errors.push("Enter " + value + " Comments.");
    }
    if (Comments != "") {
        ElectronicSignPopupOpen('HodRevertandRejectErrataFile');
    }
else {
    custAlertMsg(errors.join("<br/>"), "error");
    return false;
}
    }
    function HodRevertandRejectErrataFile() {
        errors = [];
        var Roleid = "";
        var Empid =@TempData["EmpID"];
        var Status = "";
        if (GetErrataStatus == 1)
        {
        Status = "HOD";//HOD Revert
    }
        if (GetErrataStatus == 2)//Reject
        {
            Status = "R";//HOD and QA Reject
        if (v1 == 1 ||v1==2){
            Roleid = 25;
        }
        if (v1 == 4 ||v1==13) {
            Roleid = 27;
        }
        }
    //For Restricting multiple clicks
    ShowPleaseWait('show');
    $.ajax({
        url: '@Url.Content("~/QMS/Errata/RevertAndRejectErrataFile")',
        data: {
            'ER_ID':@Model.ER_ID,'CurrentStatus':@Model.CurrentStatus,'EmpID': Empid, 'HOD_Comments': Comments,
            'HQA_Comments': Comments, 'Status': Status, 'RoleId': Roleid
        },
        type: 'Post',
        success: function (JsonResultErrata) {
            //For Restricting multiple clicks
            ShowPleaseWait('hide');
            if (JsonResultErrata.msgRedirecttoLoginPage) //Singal Instance
            {
                window.location.href = '/UserLogin.aspx';
            }
            else{
                if (JsonResultErrata.hasError == false) {
                    if (JsonResultErrata.data.Status == "R") {
                        errors.push("Errata <span class='sucess_info_msg'> @Model.ErrataFileNo </span> Rejected Successfully.");
                    }
                    else {
                        errors.push(" Errata <span class='sucess_info_msg'> @Model.ErrataFileNo </span> Reverted Successfully.");
                    }
                    custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                    return false;
                }
                else {
                    errors.push(JsonResultErrata.data);
                    custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                    return false;
                }
            }
        }
});
    }
</script>
<!--End-->
<!--Hod Submitted To QA-->
<script>
    var typeofCorrection;
    var Justification;
    var hodcomments;
    var AssignHQA;
    function SubmitToQA() {
        errors = [];
     typeofCorrection = $("#TypeOfCorrection :selected").val();
    if (typeofCorrection == "") {
        errors.push("Select Type of Correction.");
    }
     Justification = $("#JustificationDesc").val().trim();
    if (Justification == "") {
        errors.push("Enter Justification.");
    }
     hodcomments = $("#HOD_Comments").val().trim();
    if (hodcomments == ""){
        errors.push("Enter HOD Comments.");
    }
    AssignHQA = $("#HEQAEmployee :selected").val();
    if (AssignHQA == "0") {
        errors.push("Select Assign To Head QA.");
    }
    if (AssignHQA != "0" && typeofCorrection != "" && Justification != "" && hodcomments !="") {

        ElectronicSignPopupOpen('ApproveErrataFile');
    }
    else {
    custAlertMsg(errors.join("<br/>"), "error");
    return false;
 }
    }
    //Submit Code
    function ApproveErrataFile() {
        errors = [];
        var messageText;
        var v1 =@Model.CurrentStatus;
        var Empid =@TempData["EmpID"];
            /*Hod Modfiy*/
            if (v1 == 5) {
                var Status = "Update";
                messageText = "Updated Successfully.";
            }
            else {
                //Hod Submitted to QA
                var Status = "Submit";
                messageText = "Approved Successfully.";
            }
        var Impacts = new Array();
         $("#assessmentGrid TBODY TR").each(function () {
        var row = $(this);
        var Impact = {};
        Impact.ER_Filenumber =@Model.ER_ID;

        Impact.ImpactPointID = row.find("TD").eq(0).html().trim();
        Impact.isyesorNo = row.find('TD').eq(2).find("option:selected").val();
        Impact.DocNo = row.find("TD").eq(3).find('input').val() == undefined ? '' : row.find("TD").eq(3).find('input').val().trim();
        Impact.Comments = row.find('TD').eq(4).find('input').val() == undefined ? '' : row.find("TD").eq(4).find('input').val().trim();
        Impacts.push(Impact);
        });
         //For Restricting multiple clicks
         ShowPleaseWait('show');
            $.ajax({
                url: "@Url.Content("~/QMS/Errata/ApproveErrataFile")?Status=" + Status,
                data: {
                    "Impacts": Impacts,
                    "HOD_Comments": hodcomments, "ER_ID":@Model.ER_ID,'EmpID': Empid, "JustificationDesc": Justification, "HeadQA_EmpID": AssignHQA, "TypeofCorrection": typeofCorrection
        },
        type: 'Post',
        success: function (JsonResultErrata) {
            //For Restricting multiple clicks
            ShowPleaseWait('hide');
            if (JsonResultErrata.msgRedirecttoLoginPage) //Singal Instance
            {
                window.location.href = '/UserLogin.aspx';
            }
            else{
                if (JsonResultErrata.hasError == false) {
                    errors.push("Errata <span class='sucess_info_msg'> @Model.ErrataFileNo </span> " + messageText);
                    custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                    return false;
                }
                else {
                    errors.push(JsonResultErrata.data);
                    custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                    return false;
                }
            }
        }
});
    }
</script>
<!--End-->
<!--Revert to HOD By Head QA -->
<script>
    function WhomtoRevert() {
        errors = [];
        var v1 =@Model.CurrentStatus;
        var Comments = $("#HQA_Comments").val();
    if (Comments == "") {
        errors.push("Enter Head QA comments.");
    }
    if (Comments != "") {
            $('#MyModelRevert').modal('show');
    }
    else {
        custAlertMsg(errors.join("<br/>"), "error");
        return false;
    }
    }
</script>
<!--Head QA Revert ErrataFile-->
<script>
    function QARevertToHOD() {
        ElectronicSignPopupOpen('QARevertErrataFile');
    }
    function QARevertErrataFile() {
         errors = [];
         var Empid =@TempData["EmpID"];
         var Status = "HQA";
         var Comments = $("#HQA_Comments").val().trim();
         //For Restricting multiple clicks
         ShowPleaseWait('show');
            $.ajax({
                url: '@Url.Content("~/QMS/Errata/RevertAndRejectErrataFile")',
                data: { 'ER_ID':@Model.ER_ID,'CurrentStatus':@Model.CurrentStatus,'EmpID': Empid, 'HQA_Comments': Comments, 'Status': Status, 'Select_RevertEmp': 25 },
            type: 'Post',
            success: function (JsonResultErrata)
            {
                //For Restricting multiple clicks
                ShowPleaseWait('hide');
                if (JsonResultErrata.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    if (JsonResultErrata.hasError == false) {
                        errors.push("Errata <span class='sucess_info_msg'> @Model.ErrataFileNo </span>  Reverted Successfully.");
                        custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                        return false;
                    }
                    else {
                        errors.push(JsonResultErrata.data);
                        custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                        return false;
                    }
                }
            }
            });
         }
</script>
<!--End-->
<!--Close ViewPopup and Redirected To Hod Page-->
<script>
    function closeViewPopup() {
        ElectronicSignPopupClose();
        if(@Model.CurrentStatus==1||@Model.CurrentStatus==2){
            window.location.href = '@Url.Action("Errata_List", "Errata", routeValues: new { ShowType = 2, area = "QMS" })';
            $("#myModalHOD").modal('hide');
        }
        if(@Model.CurrentStatus==5){
            window.location.href = '@Url.Action("Errata_List", "Errata", routeValues: new { ShowType = 5, area = "QMS" })';
            $("#myModalHOD").modal('hide');
        }
        if(@Model.CurrentStatus==4||@Model.CurrentStatus==13){
            window.location.href = '@Url.Action("Errata_List", "Errata", routeValues: new { ShowType = 4, area = "QMS" })';
            $("#myModalHOD").modal('hide');
            $("#MyModelRevert").modal('hide');
        }
    }
</script>
<!--End-->
<!--QA Submit validation-->
<script>
    var Comments;
    var EvaluationDesc;
    var QA_EmpID;
    function QASubmit()
    {
    errors = [];
    Comments = $("#HQA_Comments").val().trim();
     EvaluationDesc = $("#Evaluation_Desc").val().trim();
     QA_EmpID = $("#QAEmployee :selected").val();
    if (EvaluationDesc == "") {
        errors.push("Enter Evaluation.");
    }
    if (Comments == ""){
        errors.push("Enter Head QA Comments.");
    }
    if (QA_EmpID == "0") {
        errors.push("Select Assign To QA.");
    }
    if (QA_EmpID != "0" && EvaluationDesc != "" && Comments != "")
    {
        ElectronicSignPopupOpen('QAApproveErrata');
    }
    else {
    custAlertMsg(errors.join("<br/>"), "error");
    return false;
        }
    }

    function QAApproveErrata() {
        errors = [];
        var Status = "HQASubmit"
        var v1 =@Model.CurrentStatus;
        var Empid =@TempData["EmpID"];
        //For Restricting multiple clicks
        ShowPleaseWait('show');
        $.ajax({
            url: "@Url.Content("~/QMS/Errata/ApproveErrataFile")?Status=" + Status,
            data: {
                "QA_EmpID": QA_EmpID, "ER_ID":@Model.ER_ID, "HQA_Comments": Comments,
                 'EmpID': Empid,"Evaluation_Desc": EvaluationDesc
                },
                type: 'Post',
                success: function (JsonResultErrata)
                {
                    //For Restricting multiple clicks
                    ShowPleaseWait('hide');
                    if (JsonResultErrata.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else
                    {
                        if (JsonResultErrata.hasError == false) {
                            errors.push("Errata <span class='sucess_info_msg'> @Model.ErrataFileNo </span> Approved Successfully.");
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            return false;
                        }
                        else {
                            errors.push(JsonResultErrata.data);
                            custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                            return false;
                        }
                    }
                }
});
    }
</script>
<!--END-->
<!--Head QA Submitted-->
<script>
    var Comments;
    function HQASubmit() {
    errors = [];
     Comments = $("#HQA_Comments").val().trim();
     if (Comments == "") {
        errors.push("Enter Head QA Comments.");
    }
    if (Comments != "") {
        ElectronicSignPopupOpen('HeadQaSubmitErrata');
}
else {
    custAlertMsg(errors.join("<br/>"), "error");
    return false;
}
    }
    function HeadQaSubmitErrata() {
        errors = [];
        var Status = "HQASubmit";
        var Empid =@TempData["EmpID"];
        //For Restricting multiple clicks
        ShowPleaseWait('show');
        $.ajax({
            url: "@Url.Content("~/QMS/Errata/ApproveErrataFile")?Status=" + Status,
            data: {
                "ER_ID":@Model.ER_ID, "HQA_Comments": Comments, 'EmpID': Empid,
                },
                type: 'Post',
                success: function (JsonResultErrata) {
                    //For Restricting multiple clicks
                    ShowPleaseWait('hide');
                    if (JsonResultErrata.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (JsonResultErrata.hasError == false) {
                            errors.push("Errata <span class='sucess_info_msg'> @Model.ErrataFileNo </span> Approved Successfully.");
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            return false;
                        }
                        else {
                            errors.push(JsonResultErrata.data);
                            custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                            return false;
                        }
                    }
                }
            });
}
</script>
<!--END-->
<!--Errata Latest comments Label names-->
<script>
    if(@Model.CurrentStatus==1||@Model.CurrentStatus==2){
        $("#lblLatestCommentsErrata").text("Initiator Comments");
    }
    if(@Model.CurrentStatus==4||@Model.CurrentStatus==13){
        $("#lblLatestCommentsErrata").text("Hod Comments");
    }
    if(@Model.CurrentStatus==5||@Model.CurrentStatus==6){
        $("#lblLatestCommentsErrata").text("Head QA Comments");
    }
</script>
<!--END-->
<!--For showing Validation Error Messages-->
<script>
    $(document).ready(function () {
        var Err = "@ViewBag.Error";
    if (Err != "") {
        errors = [];
        errors.push(Err);
        custAlertMsg(errors.join("<br />"), "error");
    }
    else {
    }
});
</script>
<!--End-->
