﻿@model IEnumerable<QMS_BO.QMS_Errata_BO.ErrataBO>
@{
    ViewBag.Title = "GetErrataSigletoneList";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}

<h2>GetErrataSigletoneList</h2>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrataFileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposedCorrectionDoc_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeptID)
        </th>
    </tr>
    @foreach (QMS_BO.QMS_Errata_BO.ErrataBO item in ViewBag.ErrataList)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ER_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ErrataFileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProposedCorrectionDoc_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ER_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ER_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ER_ID })
        </td>
    </tr>
        }

    </table>


<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ErrataFileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposedCorrectionDoc_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeptID)
        </th>
    </tr>
    @foreach (QMS_BO.QMS_Errata_BO.ErrataBO item in ViewBag.ErrataList1)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ErrataFileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposedCorrectionDoc_Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptID)
            </td>
        </tr>
    }

</table>

