﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/DMS_Master/NestedDMS_Master.Master" AutoEventWireup="true" CodeBehind="DMS_HomePage.aspx.cs" Inherits="AizantIT_PharmaApp.DMS.DMS_HomePage" %>
<%@ Register Assembly="DevExpress.XtraCharts.v18.1.Web, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.XtraCharts.Web" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.XtraCharts.v18.1.Web, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.XtraCharts.Web.Designer" TagPrefix="dxchartdesigner" %>
<%@ Register Assembly="DevExpress.Web.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.XtraCharts.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.XtraCharts" TagPrefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%# ResolveUrl("~/AppCSS/DMS/DMS_StyleSheet.css")%>" rel="stylesheet" />
    <style>
        .model_box {
            float: left;
            background: #fff;
            border-radius: 4px;
            border: 1px solid #098293;
            color: #098293;
            margin-bottom: 2px;
            margin-top: 0px;
            margin-right: 10px;
        }

            .model_box:hover {
                float: left;
                background: #098293;
                border-radius: 4px;
                border: 1px solid #098293;
                color: #fff;
                margin-bottom: 2px;
                margin-top: 1px;
            }

        .header_box {
            float: left;
            padding: 6px 5px 1px 5px;
            font-size: 13px;
            font-family: seguisb;
        }

        .value_box {
            float: right;
            padding: 6px 12px 6px;
            font-size: 12px;
            font-family: seguisb;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="col-lg-1 pull-left padding-none">
        <span class="closebtn">&#9776;</span>
        <span style="display: none;" class="closebtn1">&#9776;</span>
    </div>
    <div class="col-lg-12 grid_area_tms outer_border_DMSDashborad">
        <asp:HyperLink ID="hlReverted" NavigateUrl="~/DMS/DocumentIntiator/Reverted_Documents.aspx" runat="server">
            <div class="col-lg-3 padding-right_div fade-inTms one" id="divRevertedInitiation" runat="server" visible="false">
                <div class="col-lg-12 outer_dashboard  pull-left">
                    <div class="col-lg-12 header_text_dshboard">Reverted Initiation Requests</div>
                    <div class="col-lg-12 padding-none">
                        <div class="col-lg-6 padding-none ">
                            <img src="<%= ResolveUrl("~/Images/DMSDashboard/revert.png")%>" class="dashboard-image" alt="Approve" />
                        </div>
                        <div class="col-lg-6 ">
                            <asp:Label ID="lblRevertedinitiation" CssClass="link_dashboard" runat="server" Text="0"></asp:Label>
                        </div>
                    </div>
                </div>
            </div>
        </asp:HyperLink>
        <asp:HyperLink ID="hlApproverQA" NavigateUrl="~/DMS/DocumentApprover/Initiated_Documents.aspx" runat="server">
            <div class="col-lg-3 padding-right_div fade-inTms one" id="divApproverQA" runat="server" visible="false">
                <div class="col-lg-12 outer_dashboard  pull-left">
                    <div class="col-lg-12 header_text_dshboard">Initiation Approval</div>
                    <div class="col-lg-12 padding-none">
                        <div class="col-lg-6 padding-none ">
                            <img src="<%= ResolveUrl("~/Images/DMSDashboard/approve.png")%>" class="dashboard-image" alt="Approve" />
                        </div>
                        <div class="col-lg-6 ">
                            <asp:Label ID="lblApproverQA" CssClass="link_dashboard" runat="server" Text="0"></asp:Label>
                        </div>
                    </div>
                </div>
            </div>
        </asp:HyperLink>
        <asp:HyperLink ID="hlCreatorApprover" NavigateUrl="~/DMS/DocumentCreator/Create_Document.aspx?tab=1" runat="server">
            <div class="col-lg-3 padding-right_div fade-inTms one" id="divApproverCreator" runat="server" visible="false">
                <div class="col-lg-12 outer_dashboard  pull-left">
                    <div class="col-lg-12 header_text_dshboard">Document Creation</div>
                    <div class="col-lg-12 padding-none">
                        <div class="col-lg-6 padding-none ">
                            <img src="<%= ResolveUrl("~/Images/DMSDashboard/assign.png")%>" class="dashboard-image" alt="Approve" />
                        </div>
                        <div class="col-lg-6 ">
                            <asp:Label ID="lblApproverCreator" CssClass="link_dashboard" runat="server" Text="0"></asp:Label>
                        </div>
                    </div>
                </div>
            </div>
        </asp:HyperLink>
        <asp:HyperLink ID="hlCreatorRevert" NavigateUrl="~/DMS/DocumentCreator/Create_Document.aspx?tab=2" runat="server">
            <div class="col-lg-3 padding-right_div fade-inTms one" id="divCreatorRevert" runat="server" visible="false">
                <div class="col-lg-12 outer_dashboard  pull-left">
                    <div class="col-lg-12 header_text_dshboard">Reverted Documents</div>
                    <div class="col-lg-12 padding-none">
                        <div class="col-lg-6 padding-none ">
                            <img src="<%= ResolveUrl("~/Images/DMSDashboard/revert.png")%>" class="dashboard-image" alt="Approve" />
                        </div>
                        <div class="col-lg-6 ">
                            <asp:Label ID="lblCreatorRevert" CssClass="link_dashboard" runat="server" Text="0"></asp:Label>
                        </div>
                    </div>
                </div>
            </div>
        </asp:HyperLink>
        <asp:HyperLink ID="hlReviewer" NavigateUrl="~/DMS/DocumentReviewer/Review_Document.aspx" runat="server">
            <div class="col-lg-3 padding-right_div fade-inTms one" id="divReviewer" runat="server" visible="false">
                <div class="col-lg-12 outer_dashboard  pull-left">
                    <div class="col-lg-12 header_text_dshboard">Review Documents</div>
                    <div class="col-lg-12 padding-none">
                        <div class="col-lg-6 padding-none ">
                            <img src="<%= ResolveUrl("~/Images/DMSDashboard/approve.png")%>" class="dashboard-image" alt="Approve" />
                        </div>
                        <div class="col-lg-6 ">
                            <asp:Label ID="lblReviewer" CssClass="link_dashboard" runat="server" Text="0"></asp:Label>
                        </div>
                    </div>
                </div>
            </div>
        </asp:HyperLink>
        <asp:HyperLink ID="hlApproverDoc" NavigateUrl="~/DMS/DocumentApprover/Approve_Documents.aspx" runat="server">
            <div class="col-lg-3 padding-right_div fade-inTms one" id="divApproverDoc" runat="server" visible="false">
                <div class="col-lg-12 outer_dashboard  pull-left">
                    <div class="col-lg-12 header_text_dshboard">Approve Documents</div>
                    <div class="col-lg-12 padding-none">
                        <div class="col-lg-6 padding-none ">
                            <img src="<%= ResolveUrl("~/Images/DMSDashboard/approve.png")%>" class="dashboard-image" alt="Approve" />
                        </div>
                        <div class="col-lg-6 ">
                            <asp:Label ID="lblApproverDoc" CssClass="link_dashboard" runat="server" Text="0"></asp:Label>
                        </div>
                    </div>
                </div>
            </div>
        </asp:HyperLink>
        <asp:HyperLink ID="hlRenewDocument" NavigateUrl="~/DMS/DocumentApprover/Renew_Document.aspx" runat="server">
            <div class="col-lg-3 padding-right_div fade-inTms one" id="divRenewDocument" runat="server" visible="false">
                <div class="col-lg-12 outer_dashboard_urgent pull-left">
                    <div class="col-lg-12 header_text_dshboard">Renew Documents</div>
                    <div class="col-lg-12 padding-none">
                        <div class="col-lg-6 padding-none ">
                            <img src="<%= ResolveUrl("~/Images/DMSDashboard/calander.png")%>" class="dashboard-image" alt="Approve" />
                        </div>
                        <div class="col-lg-6 ">
                            <asp:Label ID="lblRenewDocument" CssClass="link_dashboard" runat="server" Text="0"></asp:Label>
                        </div>
                    </div>
                </div>
            </div>
        </asp:HyperLink>
        <asp:HyperLink ID="hlAuthorize" NavigateUrl="~/DMS/DocumentAuthorizer/Authorize_Documents.aspx" runat="server">
            <div class="col-lg-3 padding-right_div fade-inTms one" id="divAuthorize" runat="server" visible="false">
                <div class="col-lg-12 outer_dashboard  pull-left">
                    <div class="col-lg-12 header_text_dshboard">Authorize Documents</div>
                    <div class="col-lg-12 padding-none">
                        <div class="col-lg-6 padding-none ">
                            <img src="<%= ResolveUrl("~/Images/DMSDashboard/approve.png")%>" class="dashboard-image" alt="Approve" />
                        </div>
                        <div class="col-lg-6 ">
                            <asp:Label ID="lblAuthorize" CssClass="link_dashboard" runat="server" Text="0"></asp:Label>
                        </div>
                    </div>
                </div>
            </div>
        </asp:HyperLink>
        <asp:HyperLink ID="hlEffective" NavigateUrl="~/DMS/DocumentApprover/Effective_Documents.aspx" runat="server">
            <div class="col-lg-3 padding-right_div fade-inTms one" id="dvEfective" runat="server" visible="false">
                <div class="col-lg-12 outer_dashboard  pull-left">
                    <div class="col-lg-12 header_text_dshboard">To Be Effective Documents</div>
                    <div class="col-lg-12 padding-none">
                        <div class="col-lg-6 padding-none ">
                            <img src="<%= ResolveUrl("~/Images/DMSDashboard/calander.png")%>" class="dashboard-image" alt="Approve" />
                        </div>
                        <div class="col-lg-6 ">
                            <asp:Label ID="lblEffective" CssClass="link_dashboard" runat="server" Text="0"></asp:Label>
                        </div>
                    </div>
                </div>
            </div>
        </asp:HyperLink>
        <div class="col-lg-11">
        </div>
        <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
        <div class="col-xs-12 padding-none ">
            <section id="content1">
                <%--<div id="NoofDoc" runat="server" visible="false" align="center" class="col-lg-12  info_doc">
                    <label id="noof" runat="server" style="color: red;">
                        <a href="<%=ResolveUrl("~/DMS/DocumentApprover/Renew_Document.aspx")%>">
                            <asp:Label ID="lbl_Doclist" runat="server"></asp:Label> documents are going to expire with in 15 days.</label></a>
                </div>--%>
                <div class="col-xs-12" style="padding: 4px;">
                    <div id="initiator" runat="server" visible="false">
                        <div class="col-xs-12 padding-none" style="margin-top: -10px;">
                            <div class="col-xs-12 dms_panel">
                                <div class="col-lg-6 top padding-none">
                                    <div class="col-lg-6">
                                        <label id="Label11 col-lg-12 padding-none">Select Department  </label>
                                        <asp:UpdatePanel ID="updashboard" runat="server">
                                            <ContentTemplate>
                                                <asp:DropDownList ID="ddl_DeptName" runat="server" AutoPostBack="true" data-size="9" CssClass="col-lg-12 padding-none selectpicker drop_down " data-live-search="true" OnSelectedIndexChanged="ddl_DeptName_SelectedIndexChanged"></asp:DropDownList>
                                            </ContentTemplate>
                                        </asp:UpdatePanel>
                                    </div>
                                    <div class="col-lg-6  padding-none">
                                        <label id="Label12 col-lg-12 padding-none">Select Document Type</label>
                                        <asp:UpdatePanel ID="UpdatePanel1" runat="server">
                                            <ContentTemplate>
                                                <asp:DropDownList ID="ddl_DocType" runat="server" AutoPostBack="true" data-size="9" CssClass="col-lg-12 padding-none selectpicker drop_down " data-live-search="true" OnSelectedIndexChanged="ddl_DocType_SelectedIndexChanged"></asp:DropDownList>
                                            </ContentTemplate>
                                        </asp:UpdatePanel>
                                    </div>
                                    <asp:UpdatePanel ID="UP1" runat="server">
                                        <ContentTemplate>
                                            <div class="col-lg-6 top padding-none col-lg-offset-3">
                                                <dx:WebChartControl ID="WebChartControl3" runat="server" BackColor="Transparent" CrosshairEnabled="True" Width="500px" Height="400px" ToolTipEnabled="True" PaletteName="Apex">
                                                    <EmptyChartText Text="No Document Types for current Department" TextColor="#07889a" />
                                                    <SeriesSerializable>
                                                        <dx:Series Name="Series1" LegendTextPattern="{A}:{V}" ValueDataMembersSerializable="NoofDocuments" ArgumentDataMember="Document Type" LegendName="Default Legend">
                                                            <ViewSerializable>
                                                                <dx:PieSeriesView>
                                                                </dx:PieSeriesView>
                                                            </ViewSerializable>
                                                            <LabelSerializable>
                                                                <dx:PieSeriesLabel TextPattern="{V}" BackColor="0, 0, 0" Position="Outside" TextAlignment="Near" TextColor="Azure">
                                                                </dx:PieSeriesLabel>
                                                            </LabelSerializable>
                                                        </dx:Series>
                                                    </SeriesSerializable>
                                                </dx:WebChartControl>
                                            </div>
                                        </ContentTemplate>
                                    </asp:UpdatePanel>
                                </div>
                                <div class="col-lg-6 top padding-none">                                     
                                    <div class="col-lg-1">
                            <asp:Label ID="Label1" runat="server" Style="color: #07889a" Text="From Date :"></asp:Label>
                        </div>
                        <div class="col-lg-4" id="datetimepicker1">
                            <asp:TextBox ID="txt_FromDate" runat="server" CssClass="form-control DatePicker"></asp:TextBox>
                        </div>
                                    <div class="col-lg-1">
                            <asp:Label ID="Label2" runat="server" Style="color: #07889a" Text="To Date :"></asp:Label>
                        </div>
                        <div class="col-lg-4" id="datetimepicker2">
                            <asp:TextBox ID="txt_ToDate" runat="server" CssClass="form-control DatePicker"></asp:TextBox>
                        </div>
                                    <div>
                                        <asp:Button ID="btn_RecentlyRevised" runat="server" Text="Submit" OnClick="btn_RecentlyRevised_Click" />
                                    </div>
                                        <asp:UpdatePanel ID="UpdatePanel2" runat="server">
                                        <ContentTemplate>
                                            <div class="col-lg-6 top padding-none col-lg-offset-3">
                                                <dx:WebChartControl ID="WebChartControl1" runat="server" BackColor="Transparent" CrosshairEnabled="True" Width="500px" Height="400px" ToolTipEnabled="True" PaletteName="Apex">
                                                    <EmptyChartText Text="No Document Types for current Department" TextColor="#07889a" />
                                                    <SeriesSerializable>
                                                        <dx:Series Name="Series1" LegendTextPattern="{A}:{V}" ValueDataMembersSerializable="No.ofRecentlyRevisedDocuments" ArgumentDataMember="DeptCode" LegendName="Default Legend">
                                                            <ViewSerializable>
                                                                <dx:PieSeriesView>
                                                                </dx:PieSeriesView>
                                                            </ViewSerializable>
                                                            <LabelSerializable>
                                                                <dx:PieSeriesLabel TextPattern="{V}" BackColor="0, 0, 0" Position="Outside" TextAlignment="Near" TextColor="Azure">
                                                                </dx:PieSeriesLabel>
                                                            </LabelSerializable>
                                                        </dx:Series>
                                                    </SeriesSerializable>
                                                </dx:WebChartControl>
                                            </div>
                                        </ContentTemplate>
                                    </asp:UpdatePanel>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <%--<div id="Creator" runat="server" visible="false">
                        <div class="col-lg-12 dms_panel">
                            <div class="col-lg-6 dms_panel_inner" style="padding-top: 53px;">
                                <dx:WebChartControl ID="WebChartControl2" runat="server" CrosshairEnabled="True" DataSourceID="SqlDataSource2" Width="500px" Height="400px" ToolTipEnabled="True">
                                    <DiagramSerializable>
                                        <dx:SimpleDiagram3D RotationMatrixSerializable="1;0;0;0;0;0.5;-0.866025403784439;0;0;0.866025403784439;0.5;0;0;0;0;1">
                                        </dx:SimpleDiagram3D>
                                    </DiagramSerializable>
                                    <Legend Name="Default Legend"></Legend>
                                    <SeriesSerializable>
                                        <dx:Series ArgumentDataMember="Status" LegendTextPattern="{A}:{V}" Name="Series 1" ValueDataMembersSerializable="NoofDocuments" ToolTipPointPattern="{A}:{V}">
                                            <ViewSerializable>
                                                <dx:PieSeriesView>
                                                </dx:PieSeriesView>
                                            </ViewSerializable>
                                            <LabelSerializable>
                                                <dx:PieSeriesLabel TextPattern="{V}" BackColor="0, 0, 0" Position="Inside" TextAlignment="Near" TextColor="Azure">
                                                </dx:PieSeriesLabel>
                                            </LabelSerializable>
                                        </dx:Series>
                                    </SeriesSerializable>
                                    <Titles>
                                        <dx:ChartTitle Text="Creator" Visibility="True" />
                                    </Titles>
                                </dx:WebChartControl>
                            </div>
                            <div class="col-lg-6 ">
                                <asp:DropDownList ID="ddl_Department" runat="server" AutoPostBack="true" CssClass="form-control" Style="position: relative; top: 6px;"></asp:DropDownList>
                                <dx:WebChartControl ID="WebChartControl1" runat="server" CrosshairEnabled="False" DataSourceID="SqlDataSource3" Width="500px" Height="400px" ToolTipEnabled="True">
                                    <EmptyChartText Text="No Documents for current Department" />
                                    <DiagramSerializable>
                                        <dx:XYDiagram Rotated="True">
                                            <AxisX Reverse="True" VisibleInPanesSerializable="-1" Title-Text="Document Stages" Title-Visibility="True">
                                            </AxisX>
                                            <AxisY VisibleInPanesSerializable="-1" Title-Text="No of Documents" Title-Visibility="True">
                                            </AxisY>
                                        </dx:XYDiagram>
                                    </DiagramSerializable>
                                    <Legend Name="Default Legend" TextVisible="False" Visibility="False"><Title Text="Document"></Title></Legend>
                                    <SeriesSerializable>
                                        <dx:Series ArgumentDataMember="Status" Name="Series 2" ValueDataMembersSerializable="NoofDocuments">
                                        </dx:Series>
                                    </SeriesSerializable>
                                    <SeriesTemplate LabelsVisibility="False" CrosshairLabelVisibility="False">
                                        <LabelSerializable>
                                            <dx:SideBySideBarSeriesLabel ShowForZeroValues="True">
                                            </dx:SideBySideBarSeriesLabel>
                                        </LabelSerializable>
                                    </SeriesTemplate>
                                    <Titles>
                                        <dx:ChartTitle Text="Creator" />
                                    </Titles>
                                </dx:WebChartControl>
                            </div>
                        </div>
                    </div>
                    <div id="reviewer" runat="server" visible="false">
                        <div class="col-lg-12 dms_panel">
                            <div class="col-lg-6 dms_panel_inner" style="padding-top: 53px;">
                                <dx:WebChartControl ID="WebChartControl6" runat="server" CrosshairEnabled="True" DataSourceID="SqlDataSource5" Width="500px" Height="400px" ToolTipEnabled="True">
                                    <DiagramSerializable>
                                        <dx:SimpleDiagram3D RotationMatrixSerializable="1;0;0;0;0;0.5;-0.866025403784439;0;0;0.866025403784439;0.5;0;0;0;0;1">
                                        </dx:SimpleDiagram3D>
                                    </DiagramSerializable>
                                    <Legend Name="Default Legend"></Legend>
                                    <SeriesSerializable>
                                        <dx:Series ArgumentDataMember="Status" LegendTextPattern="{A}:{V}" Name="Series 1" ValueDataMembersSerializable="NoofDocuments" ToolTipPointPattern="{A}:{V}">
                                            <ViewSerializable>
                                                <dx:PieSeriesView>
                                                </dx:PieSeriesView>
                                            </ViewSerializable>
                                            <LabelSerializable>
                                                <dx:PieSeriesLabel TextPattern="{V}" BackColor="0, 0, 0" Position="Inside" TextAlignment="Near" TextColor="Azure">
                                                </dx:PieSeriesLabel>
                                            </LabelSerializable>
                                        </dx:Series>
                                    </SeriesSerializable>
                                    <Titles>
                                        <dx:ChartTitle Text="Reviewer" Visibility="True" />
                                    </Titles>
                                </dx:WebChartControl>
                            </div>
                            <div class="col-lg-6 ">
                                <asp:DropDownList ID="DropDownList3" runat="server" AutoPostBack="true" CssClass="form-control" Style="position: relative; top: 6px;"></asp:DropDownList>
                                <dx:WebChartControl ID="WebChartControl11" runat="server" CrosshairEnabled="False" DataSourceID="SqlDataSource10" Width="500px" Height="400px" ToolTipEnabled="True">
                                    <EmptyChartText Text="No Documents for current Department" />
                                    <DiagramSerializable>
                                        <dx:XYDiagram Rotated="True">
                                            <AxisX Reverse="True" VisibleInPanesSerializable="-1" Title-Text="Document Stages" Title-Visibility="True">
                                            </AxisX>
                                            <AxisY VisibleInPanesSerializable="-1" Title-Text="No of Documents" Title-Visibility="True">
                                            </AxisY>
                                        </dx:XYDiagram>
                                    </DiagramSerializable>
                                    <Legend Name="Default Legend" TextVisible="False" Visibility="False"><Title Text="Document"></Title></Legend>
                                    <SeriesSerializable>
                                        <dx:Series ArgumentDataMember="Status" Name="Series 2" ValueDataMembersSerializable="NoofDocuments">
                                        </dx:Series>
                                    </SeriesSerializable>
                                    <SeriesTemplate LabelsVisibility="False" CrosshairLabelVisibility="False">
                                        <LabelSerializable>
                                            <dx:SideBySideBarSeriesLabel ShowForZeroValues="True">
                                            </dx:SideBySideBarSeriesLabel>
                                        </LabelSerializable>
                                    </SeriesTemplate>
                                    <Titles>
                                        <dx:ChartTitle Text="Reviewer" />
                                    </Titles>
                                </dx:WebChartControl>
                            </div>
                        </div>
                    </div>
                    <div id="approver" runat="server" visible="false">
                        <div class="col-lg-12 dms_panel">
                            <div class="col-lg-6 dms_panel_inner" style="padding-top: 53px;">
                                <dx:WebChartControl ID="WebChartControl7" runat="server" CrosshairEnabled="True" DataSourceID="SqlDataSource6" Width="500px" Height="400px" ToolTipEnabled="True">
                                    <DiagramSerializable>
                                        <dx:SimpleDiagram3D RotationMatrixSerializable="1;0;0;0;0;0.5;-0.866025403784439;0;0;0.866025403784439;0.5;0;0;0;0;1">
                                        </dx:SimpleDiagram3D>
                                    </DiagramSerializable>
                                    <Legend Name="Default Legend"></Legend>
                                    <SeriesSerializable>
                                        <dx:Series ArgumentDataMember="Status" LegendTextPattern="{A}:{V}" Name="Series 1" ValueDataMembersSerializable="NoofDocuments" ToolTipPointPattern="{A}:{V}">
                                            <ViewSerializable>
                                                <dx:PieSeriesView>
                                                </dx:PieSeriesView>
                                            </ViewSerializable>
                                            <LabelSerializable>
                                                <dx:PieSeriesLabel TextPattern="{V}" BackColor="0, 0, 0" Position="Inside" TextAlignment="Near" TextColor="Azure">
                                                </dx:PieSeriesLabel>
                                            </LabelSerializable>
                                        </dx:Series>
                                    </SeriesSerializable>
                                    <Titles>
                                        <dx:ChartTitle Text="Approver" Visibility="True" />
                                    </Titles>
                                </dx:WebChartControl>
                            </div>
                            <div class="col-lg-6 ">
                                <asp:DropDownList ID="DropDownList4" runat="server" AutoPostBack="true" CssClass="form-control" Style="position: relative; top: 6px;"></asp:DropDownList>
                                <dx:WebChartControl ID="WebChartControl12" runat="server" CrosshairEnabled="False" DataSourceID="SqlDataSource11" Width="500px" Height="400px" ToolTipEnabled="True">
                                    <EmptyChartText Text="No Documents for current Department" />
                                    <DiagramSerializable>
                                        <dx:XYDiagram Rotated="True">
                                            <AxisX Reverse="True" VisibleInPanesSerializable="-1" Title-Text="Document Stages" Title-Visibility="True">
                                            </AxisX>
                                            <AxisY VisibleInPanesSerializable="-1" Title-Text="No of Documents" Title-Visibility="True">
                                            </AxisY>
                                        </dx:XYDiagram>
                                    </DiagramSerializable>
                                    <Legend Name="Default Legend" TextVisible="False" Visibility="False"><Title Text="Document"></Title></Legend>
                                    <SeriesSerializable>
                                        <dx:Series ArgumentDataMember="Status" Name="Series 2" ValueDataMembersSerializable="NoofDocuments">
                                        </dx:Series>
                                    </SeriesSerializable>
                                    <SeriesTemplate LabelsVisibility="False" CrosshairLabelVisibility="False">
                                        <LabelSerializable>
                                            <dx:SideBySideBarSeriesLabel ShowForZeroValues="True">
                                            </dx:SideBySideBarSeriesLabel>
                                        </LabelSerializable>
                                    </SeriesTemplate>
                                    <Titles>
                                        <dx:ChartTitle Text="Approver" />
                                    </Titles>
                                </dx:WebChartControl>
                            </div>
                        </div>
                    </div>
                    <div id="Author" runat="server" visible="false">
                        <div class="col-lg-12 dms_panel">
                            <div class="col-lg-6 dms_panel_inner" style="padding-top: 53px;">
                                <dx:WebChartControl ID="WebChartControl8" runat="server" CrosshairEnabled="True" DataSourceID="SqlDataSource7" Width="500px" Height="400px" ToolTipEnabled="True">
                                    <DiagramSerializable>
                                        <dx:SimpleDiagram3D RotationMatrixSerializable="1;0;0;0;0;0.5;-0.866025403784439;0;0;0.866025403784439;0.5;0;0;0;0;1">
                                        </dx:SimpleDiagram3D>
                                    </DiagramSerializable>
                                    <Legend Name="Default Legend"></Legend>
                                    <SeriesSerializable>
                                        <dx:Series ArgumentDataMember="Status" LegendTextPattern="{A}:{V}" Name="Series 1" ValueDataMembersSerializable="NoofDocuments" ToolTipPointPattern="{A}:{V}">
                                            <ViewSerializable>
                                                <dx:PieSeriesView>
                                                </dx:PieSeriesView>
                                            </ViewSerializable>
                                            <LabelSerializable>
                                                <dx:PieSeriesLabel TextPattern="{V}" BackColor="0, 0, 0" Position="Inside" TextAlignment="Near" TextColor="Azure">
                                                </dx:PieSeriesLabel>
                                            </LabelSerializable>
                                        </dx:Series>
                                    </SeriesSerializable>
                                    <Titles>
                                        <dx:ChartTitle Text="Authorizer" Visibility="True" />
                                    </Titles>
                                </dx:WebChartControl>
                            </div>
                            <div class="col-lg-6 ">
                                <asp:DropDownList ID="DropDownList5" runat="server" AutoPostBack="true" CssClass="form-control" Style="position: relative; top: 6px;"></asp:DropDownList>
                                <dx:WebChartControl ID="WebChartControl13" runat="server" CrosshairEnabled="False" DataSourceID="SqlDataSource12" Width="500px" Height="400px" ToolTipEnabled="True">
                                    <EmptyChartText Text="No Documents for current Department" />
                                    <DiagramSerializable>
                                        <dx:XYDiagram Rotated="True">
                                            <AxisX Reverse="True" VisibleInPanesSerializable="-1" Title-Text="Document Stages" Title-Visibility="True">
                                            </AxisX>
                                            <AxisY VisibleInPanesSerializable="-1" Title-Text="No of Documents" Title-Visibility="True">
                                            </AxisY>
                                        </dx:XYDiagram>
                                    </DiagramSerializable>
                                    <Legend Name="Default Legend" TextVisible="False" Visibility="False"><Title Text="Document"></Title></Legend>
                                    <SeriesSerializable>
                                        <dx:Series ArgumentDataMember="Status" Name="Series 2" ValueDataMembersSerializable="NoofDocuments">
                                        </dx:Series>
                                    </SeriesSerializable>
                                    <SeriesTemplate LabelsVisibility="False" CrosshairLabelVisibility="False">
                                        <LabelSerializable>
                                            <dx:SideBySideBarSeriesLabel ShowForZeroValues="True">
                                            </dx:SideBySideBarSeriesLabel>
                                        </LabelSerializable>
                                    </SeriesTemplate>
                                    <Titles>
                                        <dx:ChartTitle Text="Authorizer" />
                                    </Titles>
                                </dx:WebChartControl>
                            </div>
                        </div>
                    </div>
                    <div id="QA" runat="server" visible="false">
                        <div class="col-lg-12 dms_panel">
                            <div class="col-lg-6 dms_panel_inner" style="padding-top: 53px;">
                                <dx:WebChartControl ID="WebChartControl5" runat="server" CrosshairEnabled="True" DataSourceID="SqlDataSource4" Width="500px" Height="400px" ToolTipEnabled="True">
                                    <DiagramSerializable>
                                        <dx:SimpleDiagram3D RotationMatrixSerializable="1;0;0;0;0;0.5;-0.866025403784439;0;0;0.866025403784439;0.5;0;0;0;0;1">
                                        </dx:SimpleDiagram3D>
                                    </DiagramSerializable>
                                    <Legend Name="Default Legend"></Legend>
                                    <SeriesSerializable>
                                        <dx:Series ArgumentDataMember="Status" LegendTextPattern="{A}:{V}" Name="Series 1" ValueDataMembersSerializable="NoofDocuments" ToolTipPointPattern="{A}:{V}">
                                            <ViewSerializable>
                                                <dx:PieSeriesView>
                                                </dx:PieSeriesView>
                                            </ViewSerializable>
                                            <LabelSerializable>
                                                <dx:PieSeriesLabel TextPattern="{V}" BackColor="0, 0, 0" Position="Inside" TextAlignment="Near" TextColor="Azure">
                                                </dx:PieSeriesLabel>
                                            </LabelSerializable>
                                        </dx:Series>
                                    </SeriesSerializable>
                                    <Titles>
                                        <dx:ChartTitle Text="QA" Visibility="True" />
                                    </Titles>
                                </dx:WebChartControl>
                            </div>
                            <div class="col-lg-6 ">
                                <asp:DropDownList ID="DropDownList2" runat="server" AutoPostBack="true"></asp:DropDownList>
                                <dx:WebChartControl ID="WebChartControl10" runat="server" CrosshairEnabled="False" DataSourceID="SqlDataSource9" Width="500px" Height="400px" ToolTipEnabled="True">
                                    <EmptyChartText Text="No Documents for current Department" />
                                    <DiagramSerializable>
                                        <dx:XYDiagram Rotated="True">
                                            <AxisX Reverse="True" VisibleInPanesSerializable="-1" Title-Text="Document Stages" Title-Visibility="True">
                                            </AxisX>
                                            <AxisY VisibleInPanesSerializable="-1" Title-Text="No of Documents" Title-Visibility="True">
                                            </AxisY>
                                        </dx:XYDiagram>
                                    </DiagramSerializable>
                                    <Legend Name="Default Legend" TextVisible="False" Visibility="False"><Title Text="Document"></Title></Legend>
                                    <SeriesSerializable>
                                        <dx:Series ArgumentDataMember="Status" Name="Series 2" ValueDataMembersSerializable="NoofDocuments">
                                        </dx:Series>
                                    </SeriesSerializable>
                                    <SeriesTemplate LabelsVisibility="False" CrosshairLabelVisibility="False">
                                        <LabelSerializable>
                                            <dx:SideBySideBarSeriesLabel ShowForZeroValues="True">
                                            </dx:SideBySideBarSeriesLabel>
                                        </LabelSerializable>
                                    </SeriesTemplate>
                                    <Titles>
                                        <dx:ChartTitle Text="QA" />
                                    </Titles>
                                </dx:WebChartControl>
                            </div>
                        </div>
                    </div>--%>
                    <asp:SqlDataSource ID="DataSource" runat="server" ConnectionString="<%$ ConnectionStrings:AizantIT_ConStr %>" SelectCommand="SELECT COUNT(t1.DocumentNumber) AS 'NoofDocuments', t2.[Document Type] FROM DMS.AizantIT_DocumentMaster AS t1 INNER JOIN DMS.AizantIT_DocumentType AS t2 ON t1.DocumentType = t2.DocumentTypeID inner join DMS.AizantIT_DocVersion t3 on t1.DocumentID=t3.DocumentID WHERE ((t1.DeptID = @DeptID) OR (@DeptID = 0))  and ((t2.DocumentTypeID = @DocTypeID) OR (@DocTypeID = 0)) and t3.EffectiveDate is not null GROUP BY t2.[Document Type]">
                        <SelectParameters>
                            <asp:ControlParameter ControlID="ddl_DeptName" Name="DeptID" PropertyName="SelectedValue" Type="Int32" DefaultValue="0" />
                            <asp:ControlParameter ControlID="ddl_DocType" Name="DocTypeID" PropertyName="SelectedValue" Type="Int32" DefaultValue="0" />
                        </SelectParameters>
                    </asp:SqlDataSource>
                    <asp:SqlDataSource ID="SqlDataSource2" runat="server" ConnectionString="<%$ ConnectionStrings:AizantIT_ConStr %>" SelectCommand="select count(DocumentID) as 'NoofDocuments',case when status='A' then 'Approved' when status='I' then 'Pending' end as 'Status' from DMS.AizantIT_DocVersion where CreatorID=@CreatorID group by status ">
                        <SelectParameters>
                            <asp:SessionParameter DefaultValue="" Name="CreatorID" SessionField="EmpID" />
                        </SelectParameters>
                    </asp:SqlDataSource>
                   <%-- <asp:SqlDataSource ID="SqlDataSource3" runat="server" ConnectionString="<%$ ConnectionStrings:AizantIT_ConStr %>" SelectCommand="SELECT COUNT(T1.DocumentID) AS 'NoofDocuments', CASE WHEN DocumentStatus IS NULL THEN 'QA' WHEN DocumentStatus = '0' THEN 'Creator' WHEN DocumentStatus = '1' THEN 'Reviewer' WHEN DocumentStatus = '2' THEN 'Approver' WHEN DocumentStatus = '3' THEN 'Authorizer' WHEN DocumentStatus = 'AR' THEN 'Rejected by QA' WHEN DocumentStatus = '1R' THEN 'Rejected by Reviewer' WHEN DocumentStatus = '1A' THEN 'Rejected by Approver' WHEN DocumentStatus = '1Au' THEN 'Rejected by Authorizer' WHEN DocumentStatus = 'WR' THEN 'withdrawal Rejected' END AS 'Status' FROM DMS.AizantIT_DocVersion AS T1 INNER JOIN DMS.AizantIT_DocumentMaster AS T2 ON T1.DocumentID = T2.DocumentID WHERE (T1.CreatorID = @CreatorID) AND (T2.DeptID = @DeptID) OR (@DeptID = 0) GROUP BY T1.DocumentStatus">
                        <SelectParameters>
                            <asp:SessionParameter DefaultValue="" Name="CreatorID" SessionField="EmpID" />
                            <asp:ControlParameter ControlID="ddl_Department" DefaultValue="0" Name="DeptID" PropertyName="SelectedValue" />
                        </SelectParameters>
                    </asp:SqlDataSource>--%>
                    <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:AizantIT_ConStr %>" SelectCommand="select count(DocumentID) as 'NoofDocuments',case when status='A' then 'Approved' when status='I' then 'Pending' end as 'Status' from DMS.AizantIT_DocVersion where IntiatedBy=@InitiatorID group by status">
                        <SelectParameters>
                            <asp:SessionParameter DefaultValue="" Name="InitiatorID" SessionField="EmpID" />
                        </SelectParameters>
                    </asp:SqlDataSource>
                    <asp:SqlDataSource ID="SqlDataSource4" runat="server" ConnectionString="<%$ ConnectionStrings:AizantIT_ConStr %>" SelectCommand="select count(DocumentID) as 'NoofDocuments',case when t1.Status='A' then 'Approved' when t1.Status='I' then 'Pending' end as 'Status' from DMS.AizantIT_DocVersion t1 inner join DMS.AizantIT_InitiatedDocApprovedBy t2 on t1.ID=t2.VersionID where t2.ApproverID=@ApproverID group by t1.Status">
                        <SelectParameters>
                            <asp:SessionParameter Name="ApproverID" SessionField="EmpID" />
                        </SelectParameters>
                    </asp:SqlDataSource>
                    <%--<asp:SqlDataSource ID="SqlDataSource9" runat="server" ConnectionString="<%$ ConnectionStrings:AizantIT_ConStr %>" SelectCommand="SELECT COUNT(T1.DocumentID) AS 'NoofDocuments', CASE WHEN DocumentStatus is null THEN 'QA' WHEN DocumentStatus = '0' THEN 'Creator' WHEN DocumentStatus = '1' THEN 'Reviewer' WHEN DocumentStatus = '2' THEN 'Approver' WHEN DocumentStatus = '3' THEN 'Authorizer' WHEN DocumentStatus = 'AR' THEN 'Rejected by QA' WHEN DocumentStatus = '1R' THEN 'Rejected by Reviewer' WHEN DocumentStatus = '1A' THEN 'Rejected by Approver' WHEN DocumentStatus = '1Au' THEN 'Rejected by Authorizer' WHEN DocumentStatus = 'WR' THEN 'withdrawal Rejected' END AS 'Status' FROM DMS.AizantIT_DocVersion AS T1 INNER JOIN DMS.AizantIT_DocumentMaster AS T2 ON T1.DocumentID = T2.DocumentID inner join DMS.AizantIT_InitiatedDocApprovedBy t3 on t1.ID=t3.VersionID WHERE (T3.ApproverID = @ApproverID) and T2.DeptID=@DeptID OR @DeptID=0 GROUP BY T1.DocumentStatus">
                        <SelectParameters>
                            <asp:SessionParameter Name="ApproverID" SessionField="EmpID" />
                            <asp:ControlParameter ControlID="DropDownList2" DefaultValue="0" Name="DeptID" PropertyName="SelectedValue" />
                        </SelectParameters>
                    </asp:SqlDataSource>--%>
                    <asp:SqlDataSource ID="SqlDataSource5" runat="server" ConnectionString="<%$ ConnectionStrings:AizantIT_ConStr %>" SelectCommand="SELECT COUNT(t1.DocumentID) AS 'NoofDocuments', CASE WHEN t1.Status = 'A' THEN 'Approved' WHEN t1.Status = 'I' THEN 'Pending' END AS 'Status' FROM DMS.AizantIT_DocVersion AS t1 INNER JOIN DMS.AizantIT_DocReviewedBy AS t2 ON t1.ID = t2.VersionID WHERE (t2.ReviewedBy = @ReviewedBy) GROUP BY t1.Status">
                        <SelectParameters>
                            <asp:SessionParameter Name="ReviewedBy" SessionField="EmpID" />
                        </SelectParameters>
                    </asp:SqlDataSource>
                   <%-- <asp:SqlDataSource ID="SqlDataSource10" runat="server" ConnectionString="<%$ ConnectionStrings:AizantIT_ConStr %>" SelectCommand="SELECT COUNT(T1.DocumentID) AS 'NoofDocuments', CASE WHEN DocumentStatus is null THEN 'QA' WHEN DocumentStatus = '0' THEN 'Creator' WHEN DocumentStatus = '1' THEN 'Reviewer' WHEN DocumentStatus = '2' THEN 'Approver' WHEN DocumentStatus = '3' THEN 'Authorizer' WHEN DocumentStatus = 'AR' THEN 'Rejected by QA' WHEN DocumentStatus = '1R' THEN 'Rejected by Reviewer' WHEN DocumentStatus = '1A' THEN 'Rejected by Approver' WHEN DocumentStatus = '1Au' THEN 'Rejected by Authorizer' WHEN DocumentStatus = 'WR' THEN 'withdrawal Rejected' END AS 'Status' FROM DMS.AizantIT_DocVersion AS T1 INNER JOIN DMS.AizantIT_DocumentMaster AS T2 ON T1.DocumentID = T2.DocumentID inner join DMS.AizantIT_DocReviewedBy t3 on t1.ID=t3.VersionID WHERE (T3.ReviewedBy = @ReviewedBy) and T2.DeptID=@DeptID or @DeptID=0 GROUP BY T1.DocumentStatus">
                        <SelectParameters>
                            <asp:SessionParameter Name="ReviewedBy" SessionField="EmpID" />
                            <asp:ControlParameter ControlID="DropDownList3" Name="DeptID" PropertyName="SelectedValue" DefaultValue="0" />
                        </SelectParameters>
                    </asp:SqlDataSource>--%>
                    <asp:SqlDataSource ID="SqlDataSource6" runat="server" ConnectionString="<%$ ConnectionStrings:AizantIT_ConStr %>" SelectCommand="SELECT COUNT(t1.DocumentID) AS 'NoofDocuments', CASE WHEN t1.Status = 'A' THEN 'Approved' WHEN t1.Status = 'I' THEN 'Pending' END AS 'Status' FROM DMS.AizantIT_DocVersion AS t1 INNER JOIN DMS.AizantIT_DocumentApprovedBy AS t2 ON t1.ID = t2.VersionID WHERE (t2.ApprovedBy = @ApprovedBy) GROUP BY t1.Status">
                        <SelectParameters>
                            <asp:SessionParameter Name="ApprovedBy" SessionField="EmpID" />
                        </SelectParameters>
                    </asp:SqlDataSource>
                    <%--<asp:SqlDataSource ID="SqlDataSource11" runat="server" ConnectionString="<%$ ConnectionStrings:AizantIT_ConStr %>" SelectCommand="SELECT COUNT(T1.DocumentID) AS 'NoofDocuments', CASE WHEN DocumentStatus is NULL THEN 'QA' WHEN DocumentStatus = '0' THEN 'Creator' WHEN DocumentStatus = '1' THEN 'Reviewer' WHEN DocumentStatus = '2' THEN 'Approver' WHEN DocumentStatus = '3' THEN 'Authorizer' WHEN DocumentStatus = 'AR' THEN 'Rejected by QA' WHEN DocumentStatus = '1R' THEN 'Rejected by Reviewer' WHEN DocumentStatus = '1A' THEN 'Rejected by Approver' WHEN DocumentStatus = '1Au' THEN 'Rejected by Authorizer' WHEN DocumentStatus = 'WR' THEN 'withdrawal Rejected' END AS 'Status' FROM DMS.AizantIT_DocVersion AS T1 INNER JOIN DMS.AizantIT_DocumentMaster AS T2 ON T1.DocumentID = T2.DocumentID inner join DMS.AizantIT_DocumentApprovedBy t3 on t1.ID=t3.VersionID WHERE (T3.ApprovedBy = @ApprovedBy) and T2.DeptID=@DeptID or @DeptID=0 GROUP BY T1.DocumentStatus">
                        <SelectParameters>
                            <asp:SessionParameter Name="ApprovedBy" SessionField="EmpID" />
                            <asp:ControlParameter ControlID="DropDownList4" Name="DeptID" PropertyName="SelectedValue" DefaultValue="0" />
                        </SelectParameters>
                    </asp:SqlDataSource>--%>
                    <asp:SqlDataSource ID="SqlDataSource7" runat="server" ConnectionString="<%$ ConnectionStrings:AizantIT_ConStr %>" SelectCommand="SELECT COUNT(t1.DocumentID) AS 'NoofDocuments', CASE WHEN t1.Status = 'A' THEN 'Approved' WHEN t1.Status = 'I' THEN 'Pending' END AS 'Status' FROM DMS.AizantIT_DocVersion AS t1 INNER JOIN DMS.AizantIT_DocAuthorizedBy AS t2 ON t1.ID = t2.VersionID WHERE (t2.AuthorizedBy = @AuthorizedBy) GROUP BY t1.Status">
                        <SelectParameters>
                            <asp:SessionParameter Name="AuthorizedBy" SessionField="EmpID" />
                        </SelectParameters>
                    </asp:SqlDataSource>
                   <%-- <asp:SqlDataSource ID="SqlDataSource12" runat="server" ConnectionString="<%$ ConnectionStrings:AizantIT_ConStr %>" SelectCommand="SELECT COUNT(T1.DocumentID) AS 'NoofDocuments', CASE WHEN DocumentStatus IS NULL THEN 'QA' WHEN DocumentStatus = '0' THEN 'Creator' WHEN DocumentStatus = '1' THEN 'Reviewer' WHEN DocumentStatus = '2' THEN 'Approver' WHEN DocumentStatus = '3' THEN 'Authorizer' WHEN DocumentStatus = 'AR' THEN 'Rejected by QA' WHEN DocumentStatus = '1R' THEN 'Rejected by Reviewer' WHEN DocumentStatus = '1A' THEN 'Rejected by Approver' WHEN DocumentStatus = '1Au' THEN 'Rejected by Authorizer' WHEN DocumentStatus = 'WR' THEN 'withdrawal Rejected' END AS 'Status' FROM DMS.AizantIT_DocVersion AS T1 INNER JOIN DMS.AizantIT_DocumentMaster AS T2 ON T1.DocumentID = T2.DocumentID inner join DMS.AizantIT_DocAuthorizedBy t3 on t1.ID=t3.VersionID WHERE (T3.AuthorizedBy = @AuthorizedBy) and T2.DeptID=@DeptID or @DeptID=0 GROUP BY T1.DocumentStatus">
                        <SelectParameters>
                            <asp:SessionParameter Name="AuthorizedBy" SessionField="EmpID" />
                            <asp:ControlParameter ControlID="DropDownList5" Name="DeptID" PropertyName="SelectedValue" DefaultValue="0" />
                        </SelectParameters>
                    </asp:SqlDataSource>--%>
                </div>
            </section>
        </div>
    </div>
     <script>       
        $('#<%=txt_FromDate.ClientID%>').datetimepicker({
            format: 'DD MMM YYYY',
            maxDate: new Date('<%=DateTime.Now.Date.ToString("dd MMM yyyy")%>'),
            useCurrent: false,
        });
    </script>
     <script>       
         $('#<%=txt_ToDate.ClientID%>').datetimepicker({
             format: 'DD MMM YYYY',
             //minDate: new Date('<%=DateTime.Now.Date.ToString("dd MMM yyyy")%>'),
            //useCurrent: false,
         });
    </script>
    <%--<script>
        $(function () {
            $('#<%=txt_FromDate.ClientID%>').on("dp.change", function (e) {
                $('#<%=txt_ToDate.ClientID%>').data("DateTimePicker").minDate(e.date);
             <%--   var _mindate = new Date(e.date);
                _mindate.setDate(_mindate.getDate() - 1)// subtract one day
                _mindate.setFullYear(_mindate.getFullYear() + 2) //to add years
                $('#<%=txt_ToDate.ClientID%>').val(_mindate.format('dd MMM yyyy'))--%>
         <%--   });
        });
    </script>--%>
    <link href="<%=ResolveUrl("~/Content/bootstrap-datetimepicker.min.css")%>" rel="stylesheet" />
    <script src="<%=ResolveUrl("~/Scripts/bootstrap-datetimepicker.min.js")%>"></script>
    <link href="<%=ResolveUrl("~/Scripts/select2-4.0.3/dist/css/select2.min.css")%>" rel="stylesheet" />
    <script src="<%=ResolveUrl("~/Scripts/select2-4.0.3/dist/js/select2.min.js")%>"></script>
</asp:Content>
