﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/VMS_Master/NestedVMS_Master.master" AutoEventWireup="true" CodeBehind="ExportReport.aspx.cs" Inherits="AizantIT_PharmaApp.VMS.Admin.ExportReport" %>
<asp:Content ID="Content1" ContentPlaceHolderID="VMSBody" runat="server">
</asp:Content>
