﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/MainMaster.Master" AutoEventWireup="true" CodeBehind="SecurityHomePage.aspx.cs" Inherits="AizantIT_PharmaApp.VMS.DashBoard.SecurityHomePage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class=" col-lg-12 vms_bg">
				<div class="col-lg-12 col-lg-12 col-lg-12 col-lg-12 text_content">How May I Help You ?</div>
				<div class="container-fluid">
			<ul class="vms_landing">
                <li class="">
				<a href="/VmsHomePage.aspx">
					<div class=" " >
						<img src="../Security_Images/dashboard.png" alt="Smiley face" class="img_langing img-responsive"/>
						<div class="moudle_name_vms">Dashboard</div>
					</div>
				</a>
			</li>
                <li class="">
				<a href="/VMS/VisitorRegister/VisitorRegister.aspx" title="Visitor">
					<div class="">
						<img src="../Security_Images/visitors.png" alt="Visitor" class="img_langing img-responsive"/>
						<div class="moudle_name_vms">Visitor</div>
					</div>
				</a>
			</li>
			<li class="">
				<a href="/VMS/VehicleRegister/Vechile_Register.aspx" title="Vehicle">
					<div class="">
						<img src="../Security_Images/vechile.png" alt="Vehicle" class="img_langing img-responsive"/>
						<div class="moudle_name_vms">Vehicle</div>
					</div>
				</a>
			</li>			
			
			</ul>
			</div>
				</div>	
</asp:Content>
