﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/VMS_Master/NestedVMS_Master.master" AutoEventWireup="true" CodeBehind="SecurityLandingPage.aspx.cs" Inherits="AizantIT_PharmaApp.VMS.DashBoard.SecurityLandingPage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="VMSBody" runat="server">
    
<!DOCTYPE html>

<html lang="en">

	<head>

		<meta charset="utf-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Aizant</title>

	<%--	<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/datatables.css" rel="stylesheet">
		<link href="../css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="../css/bootstrap-select.css">
		
		 <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css' />--%>

	</head>

	<body class="vms_bg">
	
			<div class=" col-lg-12 vms_bg float-left">
				<div class="col-lg-12 col-lg-12 col-lg-12 col-lg-12 text_content">How May I Help You ?</div>
				<div class="container-fluid">
			<ul class="vms_landing">
                <li class="">
				<a href="/VMS/VisitorRegister/VisitorRegister.aspx" title="Visitor">
					<div class="">
						<img src="../Security_Images/visitors.png" alt="Visitor" class="img_langing img-responsive"/>
						<div class="moudle_name_vms">Visitor</div>
					</div>
				</a>
			</li>

			<li class="">
				<a href="/VMS/VehicleRegister/Vechile_Register.aspx" title="Vehicle">
					<div class="">
                        
						<img src="../Security_Images/vechile.png" alt="Vehicle" class="img_langing img-responsive"/>
						<div class="moudle_name_vms">Vehicle</div>
                        
					</div>
				</a>
			</li>
			
			<li class="">
				<a href="/VMS/VMS_HomePage.aspx" title="Dashboard">
					<div class=" " >
						<img src="../Security_Images/dashboard.png" alt="Smiley face" class="img_langing img-responsive"/>
						<div class="moudle_name_vms">Dashboard</div>
					</div>
				</a>
			</li>
			
			
			
				
			</ul>
				
			</div>
				</div>		
			

		<%--<script src="../js/jquery.min.js"></script>

		<script src="../js/bootstrap.min.js"></script>--%>
		<script>
$(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});
</script>
	</body>

</html>
















</asp:Content>
