﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SecuritySettings1.aspx.cs" Inherits="AizantIT_PharmaApp.UserManagement.SecuritySettings1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style>html {
    background: #fff;
}</style>
</head>
<body>
    <!--From MainMaster-->
   <%--  Commented by pradeep--%>
    <link href="<%=ResolveUrl("~/Content/bootstrap.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/Content/font-awesome.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/AppCSS/Editor/site.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/AppCSS/src/richtext.min.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/Scripts/jquery-ui.css")%>" rel="stylesheet" />
        <script src="<%=ResolveUrl("~/Scripts/jquery-3.2.1.min.js")%>"></script>
        <script src="<%=ResolveUrl("~/Scripts/jquery-ui.js")%>"></script>
        <script src="<%=ResolveUrl("~/Scripts/bootstrap.min.js")%>"></script>
        <script src="<%=ResolveUrl("~/AppCSS/src/jquery.richtext.js")%>"></script>
        <link href="<%=ResolveUrl("~/Scripts/select2-4.0.3/dist/css/select2.min.css")%>" rel="stylesheet" />
        <script src="<%=ResolveUrl("~/Scripts/select2-4.0.3/dist/js/select2.min.js")%>"></script>
        <script src="<%=ResolveUrl("~/Scripts/moment.min.js")%>"></script>
        <script src="<%=ResolveUrl("~/Scripts/bootstrap-datetimepicker.min.js")%>"></script>
        <script src="<%=ResolveUrl("~/Scripts/select2-4.0.3/accordion.js")%>"></script>
        <link href="<%=ResolveUrl("~/AppCSS/AppStyles.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/AppCSS/LeftNaviStyle.css")%>" rel="stylesheet" />
        <script src="<%=ResolveUrl("~/AppScripts/GlobalScripts.js")%>"></script>
        <link href="<%=ResolveUrl("~/AppCSS/CustAlerts/custAlert.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/AppCSS/Main_style.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/AppCSS/Calender.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/AppCSS/UserLogin/UserLoginStyles.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/AppCSS/MyProfileStyles.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/Content/bootstrap-select.css")%>" rel="stylesheet" />
        <script src="<%=ResolveUrl("~/Scripts/bootstrap-select.min.js")%>"></script>
    
    <!--End Main Master-->



   <%--  <link href="<%# ResolveUrl("~/Content/bootstrap.css")%>" rel="stylesheet" />
    <script src="<%# ResolveUrl("~/Scripts/jquery-3.2.1.min.js")%>"></script>
    <script src="<%# ResolveUrl("~/Scripts/moment.min.js")%>"></script>
    <link href="<%# ResolveUrl("~/Content/font-awesome.css")%>" rel="stylesheet" />
    <link href="<%# ResolveUrl("~/Content/font-awesome.min.css")%>" rel="stylesheet" />
    <script src="<%# ResolveUrl("~/Scripts/bootstrap.min.js")%>"></script>
    <script src="<%# ResolveUrl("~/AppScripts/GlobalScripts.js")%>"></script>
    <link href="<%# ResolveUrl("~/AppCSS/AppStyles.css")%>" rel="stylesheet" />
    <link rel="shortcut icon" href="<%# ResolveUrl("~/favicon.ico")%>" />
    <link href="<%# ResolveUrl("~/AppCSS/CustAlerts/custAlert.css")%>" rel="stylesheet" />
    <link href="<%# ResolveUrl("~/AppCSS/UserLogin/UserLoginStyles.css")%>" rel="stylesheet" />--%>

    <%--<link href="<%=ResolveUrl("~/Content/font-awesome.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("~/AppCSS/Main_style.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("~/Scripts/jquery-ui.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("~/Content/bootstrap.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("~/AppCSS/VMS_CSS/AppStyles.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("~/Content/bootstrap-datetimepicker.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("~/Content/bootstrap-datetimepicker.min.css")%>" rel="stylesheet" />
    <link href="<%=ResolveUrl("~/Scripts/select2-4.0.3/dist/css/select2.min.css")%>" rel="stylesheet" />
    <script src="<%=ResolveUrl("~/Scripts/jquery-3.2.1.min.js")%>"></script>
    <script src="<%=ResolveUrl("~/Scripts/bootstrap.min.js")%>"></script>
    <script src="<%=ResolveUrl("~/Scripts/moment.min.js")%>"></script>
    <script src="<%=ResolveUrl("~/Scripts/bootstrap-datetimepicker.js")%>"></script>
   
    <script src="<%=ResolveUrl("~/Scripts/bootstrap-datetimepicker.min.js")%>"></script>
    
    <script src="<%=ResolveUrl("~/Scripts/select2-4.0.3/dist/js/select2.min.js")%>"></script>  
--%>

    <form id="myform" runat="server">
        

    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
   
    <asp:HiddenField ID="HFMyProEmpID" runat="server" />
    <asp:HiddenField ID="hdnQuestion" runat="server" />
    <asp:HiddenField ID="hdnAnswer" runat="server" />
<!--------  Settings popup-------------->
			<%--<div id="Settings" class="modal department fade" role="dialog">--%>
			  <%--<div class="modal-dialog modal-lg">--%>
				<!-- Modal content-->
				<%--<div class="modal-content">	--%>
				  <%--<div class="modal-header">--%>
					<%--<button type="button" class="close" data-dismiss="modal">&times;</button>--%>
					<%--<h4 class="modal-title">Settings</h4>--%>
				 <%-- </div>--%>
				  <%--<div class="modal-body">--%>
                <div style="background-color:white;">
					<ul class="nav nav-tabs tab_grid">
					  <li class="active"><a data-toggle="tab" href="#home">Change Password</a></li>
					  <li><a data-toggle="tab" href="#menu1">Security Questions</a></li>
					  
					</ul>

					<div id="SecurityBodyPopUp" class="tab-content" style="background-color:white">
					  <div id="home" class="tab-pane fade in active" style="background-color:white">
					
						  <div class="form-group col-sm-12">
							<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:right;" >Old Password <span class="smallred_label">*</span></label>
							<div class="col-sm-4">
							  <input type="password" runat="server" class="form-control" id="txtCurrentPwd" placeholder="Enter Old Password" autocomplete="off" onkeypress="return NoSpace(event)" maxlength="250"/>
							</div>
						  </div>
						   <div class="form-group col-sm-12">
							<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:right;">New Password <span class="smallred_label">*</span></label>
							<div class="col-sm-4">
							  <input type="password" runat="server" class="form-control" id="txtNewPassword" placeholder="Enter New Password" data-toggle="tooltip" data-placement="bottom" title=" Password must contain atleast 8 characters,one uppercase,one lowercase,one special character and one number." autocomplete="off" onkeypress="return NoSpace(event)" maxlength="250"/>
							</div>
						  </div>
						   <div class="form-group col-sm-12">
							<label for="inputEmail3" class="col-sm-4 control-label " style="text-align:right;" >Confirm Password <span class="smallred_label">*</span></label>
							<div class="col-sm-4">
							  <input type="password" runat="server" class="form-control" id="txtConfirmPassword" placeholder="Enter Confirm Password" data-toggle="tooltip" data-placement="bottom" title="Password and Confirm Password should be same" autocomplete="off" maxlength="250" onkeypress="return NoSpace(event);"/>
							</div>
						  </div>
						  <div class="top" style="text-align:right;">

					<%--<button type="button" class="btn btn-approve_popup   " data-dismiss="modal">Create</button>--%>
                   <div class="">
                       <div class="col-sm-8">
                           <%--<button id="btnCanclePwd" type="button" data-dismiss="modal" class="btn btn-canceldms_popup pull-right" runat="server" onclick="ModelPopupClear();">Cancel</button>--%>
                           <asp:Button ID="btnCancelPwd" type="button" runat="server" CssClass="btn btn-canceldms_popup pull-right" data-dismiss="modal" Text="Cancel" OnClick="btnCancelPwd_Click"/>
                        <asp:UpdatePanel ID="upbtnpwdCreatePopup" runat="server" UpdateMode="Conditional">
                        <ContentTemplate>
                        <%--<asp:Button ID="btnPwdSubmit" type="button" runat="server" CssClass="btn btn-approve_popup pull-right" data-dismiss="modal" Text="Submit"  OnClientClick=" return  ValidateChangePassword();" OnClick="btnPwdSubmit_Click"/>--%>
					    </ContentTemplate>
                    </asp:UpdatePanel>
                           <button id="btnPwdSubmit" type="button" data-dismiss="modal" class="btn btn-approve_popup pull-right" onclick="return  ValidateChangePassword();">Submit</button>
                           <%--<asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />--%>
                   </div>
                   </div>
                   </div>
						 
					  </div>
					  
             <div id="menu1" class="tab-pane fade top">
						 <asp:UpdatePanel ID="uptxtSecAns" UpdateMode="Conditional" runat="server">
                             <ContentTemplate>
						<label for="inputEmail" class=" col-lg-12 custom_label_answer pull-left">Security Questions <span class="smallred_label">*</span><span class="" style="float: right;">
                                                    <%--<a href="#">
                                                        <img id="btnEdit" src="../Images/GridActionImages/edit.png" alt="Edit">
                                                    </a>--%></span></label>
						<div class="col-lg-12">
                            <asp:TextBox ID="txtSecQues" runat="server" CssClass="form-control" Enabled="false" TextMode="MultiLine" Rows="3" MaxLength="250" onkeypress="return NoSpaceAllowUserQue(event);"></asp:TextBox>
							
						</div>
						<label for="inputEmail3" class=" col-lg-12 control-label custom_label_answer">Security Answer <span class="smallred_label">*</span></label>
						<div class="col-lg-12 ">
							<%--<textarea class="form-control" rows="5" id="txtSecAnswer" runat="server"></textarea>--%>
                           <%-- <asp:TextBox ID="TextBox1" CssClass="form-control" Enabled="false" TextMode="MultiLine" Rows="3" MaxLength="20" runat="server" Height="40" onpaste="return false" onkeypress="return NoSpaceAllowUserAns(event);"></asp:TextBox>--%>

                            <asp:TextBox ID="txtSecAns" CssClass="form-control" Enabled="false" TextMode="MultiLine" Rows="3" MaxLength="20" runat="server" onpaste="return false" onkeypress="return NoSpaceAllowUserAns(event);"></asp:TextBox>
						</div>
                                 </ContentTemplate>
					</asp:UpdatePanel>
						
				  <div class="top col-lg-12" style="text-align:right;">
					<%--<button type="button" class="btn btn-approve_popup   " data-dismiss="modal">Update</button>--%>
                    <asp:UpdatePanel ID="upbtnEdit" UpdateMode="Conditional" runat="server">
                       <ContentTemplate>
                    <asp:Button ID="btnSecEdit" CssClass="btn btn-approve_popup" runat="server" Text="Edit" OnClick="btnEdit_Click" /> 
                    <asp:Button ID="btnSecUpdate" CssClass="btn btn-approve_popup" runat="server" Text="Update" Visible="false" OnClick="btnSecUpdate_Click" OnClientClick="javascript:return validateSecurityQandAns();"/>
					<asp:Button ID="btnSecCancel" CssClass="btn btn-canceldms_popup" runat="server" Text="Cancel" Visible="false" OnClick="btnSecCancel_Click" />
                   <%-- <button type="button" class="btn btn-canceldms_popup" data-dismiss="modal">Cancel</button>--%>
				       </ContentTemplate>
                   </asp:UpdatePanel>
                  </div>
			</div>
					</div>
					
				<%--  </div>
				  
				</div>

			  </div>
			</div>--%>
<!-------- End Settings-------------->
         </div>
          <!---Error popup--->
        <div id="ModalError" class="modal error_popup" role="dialog" style="z-index:9999">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Error</h4>
                    </div>
                    <div class="modal-body" style="padding: 0px">
                        <div class="col-lg-12 padding-none" style="padding: 10px">
                            <div class="error_icon col-lg-2">
                                <img src="<%=ResolveUrl("~/Images/CustomAlerts/error.png")%>" style="width: 46px" alt="Smiley face" />
                            </div>
                            <p id="msgError" class="col-lg-10" style="padding: 10px 12px; max-height: 300px; overflow-x: auto; font-family: arial; color: #d94032; font-weight: bold;" runat="server"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnErrorOk" class="btn-cancel_popup" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Error Popup-->

          <!-- Success content-->
        <div id="ModalSuccess" class="modal success_popup" role="dialog" style="z-index:9999">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Success</h4>
                    </div>
                    <div class="modal-body" style="padding: 0px">
                        <div class="col-lg-12 padding-none" style="padding: 10px">
                            <div class="success_icon col-lg-2">
                                <img src="<%=ResolveUrl("~/Images/CustomAlerts/success.png")%>" style="width: 46px" alt="Smiley face" />
                            </div>
                            <p id="msgSuccess" class="col-lg-10" style="padding: 4px 0px; max-height: 128px; overflow-x: auto;" runat="server"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnSuccessOk" class="btn-success_popup" data-dismiss="modal" runat="server">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Success content-->

     
        <!-- Information content-->
        <div id="ModalInfo" class="modal info_popup" role="dialog" style="z-index:9999">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-headerinfo">
                        <h4 class="modal-title">Information</h4>
                    </div>
                    <div class="modal-body" style="padding: 0px">
                        <div class="col-lg-12 padding-none" style="padding: 10px">
                            <div class="success_icon col-lg-2">
                                <img src="<%=ResolveUrl("~/Images/CustomAlerts/Info.png")%>" style="width: 46px" alt="Smiley face" />
                            </div>

                            <p id="msgInfo" class="col-lg-10" style="padding: 4px 0px; max-height: 128px; overflow-x: auto;" runat="server"></p>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnInfoOk" class="btn cancelinfo-btn" data-dismiss="modal" runat="server">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Information content-->

        <!-- Warning content-->
        <div id="ModalWarning" class="modal warning_popup" role="dialog" style="z-index:9999">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Warning</h4>
                    </div>
                    <div class="modal-body" style="padding: 0px">
                        <div class="col-lg-12 padding-none" style="padding: 10px">
                            <div class="success_icon col-lg-2">
                                <img src="<%=ResolveUrl("~/Images/CustomAlerts/warning.png")%>" style="width: 46px" alt="Smiley face" />
                            </div>
                            <p id="msgWarning" class="col-lg-10" runat="server" style="padding: 4px 0px; max-height: 128px; overflow-x: auto; font-family: arial; color: #d94032; font-weight: bold;"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnWarningOk" class="btnWarningOk" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Warning content-->

        <!--To Show Custom Alert Messages-->
        <script>
            function custAlertMsg(message, alertType, okEvent) {
                var okEvent = okEvent || false;

                if (!okEvent) {
                    okEvent = '';
                }
                if (alertType == 'error') {
                    document.getElementById("msgError").innerHTML = message;
                    //$("#ModalError").modal();
                    $('#ModalError').modal({ backdrop: 'static', keyboard: false });
                    $('#btnErrorOk').attr('onclick', okEvent);
                    $('#btnErrorOk').focus();
                    if (okEvent != '') {
                        // document.getElementById('btnErrorOk').setAttribute('onclick', okEvent)
                    }
                }
                else if (alertType == 'success') {
                    document.getElementById("msgSuccess").innerHTML = message;
                    //$("#ModalSuccess").modal();
                    $('#ModalSuccess').modal({ backdrop: 'static', keyboard: false });
                    $('#btnSuccessOk').attr('onclick', okEvent);
                    $('#btnSuccessOk').focus();
                    if (okEvent != '') {
                        // document.getElementById('btnSuccessOk').addEventListener("click", okfunc);
                        //document.getElementById('btnSuccessOk').setAttribute('onclick', okEvent)
                    }
                }
                else if (alertType == 'warning') {
                    document.getElementById("msgWarning").innerHTML = message;
                    //  $("#ModalWarning").modal();
                    $('#ModalWarning').modal({ backdrop: 'static', keyboard: false });
                    $('#btnWarningOk').attr('onclick', okEvent);
                    $('#btnWarningOk').focus();
                }
                else if (alertType == 'info') {
                    document.getElementById("msgInfo").innerHTML = message;
                    //  $("#ModalInfo").modal();
                    $('#ModalInfo').modal({ backdrop: 'static', keyboard: false });
                    $('#btnInfoOk').attr('onclick', okEvent);
                    $('#btnInfoOk').focus();
                    if (okEvent != '') {
                        // document.getElementById('btnInfoOk').setAttribute('onclick', okEvent)

                    }
                }
                else if (alertType == 'confirm') {
                    document.getElementById("msgConfirm").innerHTML = message;
                    $('#ModalConfirm').modal({ backdrop: 'static', keyboard: false });
                    $('#btnCnfYes').focus();
                }
            }
        </script>

     <script>
        //This is for Validate Change password( Current and New and Confirm Password)
        function ValidateChangePassword() {
           <%-- var txtCurrentPwd = document.getElementById("<%=txtCurrentPwd.ClientID%>").value;--%>
            var txtCurrentPwd = document.getElementById("<%=txtCurrentPwd.ClientID%>").value;
            var txtNewPwd = document.getElementById("<%=txtNewPassword.ClientID%>").value;
            var txtConfirmPwd = document.getElementById("<%=txtConfirmPassword.ClientID%>").value;
            var undefChar = /[\ _]/;
            var undefChars = /[\ _]/;
            errors = [];
            if (txtCurrentPwd == '') {
                errors.push("Enter Current Password")
            }
            if (txtNewPwd != "") {

                if ((txtNewPwd.length < 8) || (txtNewPwd.length > 15)) {
                    errors.push("Password must contain Minimum 8 characters");
                }
                if (txtNewPwd.search(/[a-z]/) < 0) {
                    errors.push("Your Password must contain atleast one Lower Case");
                }
                if (txtNewPwd.search(/[A-Z]/) < 0) {
                    errors.push("Your Password must contain atleast one Upper Case");
                }
                if (txtNewPwd.search(/[0-9]/) < 0) {
                    errors.push("Your Password must contain atleast one Number");
                }
                if (txtNewPwd.search(/[@#&*]/) < 0) {
                    errors.push("Password must contain atleast one @,#,&,* character");
                }
                if (txtCurrentPwd == txtNewPwd) {
                    errors.push("New Password should not be same as old password")
                }
            }
            if (txtNewPwd == '') {
                errors.push("Enter New Password");

            }
            if (txtConfirmPwd != "") {
                if (txtNewPwd != txtConfirmPwd) {
                    errors.push(" New Password and Confirm Password should match");
                }
            }
            if (txtConfirmPwd == '') {
                errors.push("Enter Confirm Password");
            }

            if (errors.length > 0) {
                document.getElementById('msgError').innerHTML = errors.join("<br/>");
                $('#ModalError').modal();
                $("#btnErrorOk").focus();
                return false;
            }
            else {
                return true;
            }
        }
    </script>

    <script>
        //This is for clearing the Fields
        function ModelPopupClear() {
            document.getElementById("<%=txtCurrentPwd.ClientID%>").value = "";
            document.getElementById("<%=txtNewPassword.ClientID%>").value = "";
            document.getElementById("<%=txtConfirmPassword.ClientID%>").value = "";
        }
    </script>

      <script type="text/javascript">
          //required fields for Security Question and Answer
          function validateSecurityQandAns() {
              var SecurityQuestion = document.getElementById("<%=txtSecQues.ClientID%>").value;
            var SecurityAnswer = document.getElementById("<%=txtSecAns.ClientID%>").value;
            errors = [];
            if (SecurityQuestion == '') {
                errors.push("Enter Security Question");
            }
            if (SecurityQuestion != '') {
                if (SecurityQuestion.length <= 3) {
                    errors.push("SecurityQuestion Should Be Atleast 4 Characters");
                }
            }
            if (SecurityAnswer == '') {
                errors.push("Enter Security Answer");
            }
            if (SecurityAnswer != '') {
                if (SecurityAnswer.length <= 1) {
                    errors.push("SecurityAnswer Should Be Atleast 2 Characters");
                }
            }
            if (errors.length > 0) {
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
            }
            else {
                return true;
            }
          }
    </script>

    <script>
          function Reset() {
              document.getElementById("<%=txtNewPassword.ClientID%>").value = "";
                document.getElementById("<%=txtConfirmPassword.ClientID%>").value = "";
                document.getElementById("<%=txtCurrentPwd.ClientID%>").value = "";
          }
          //for clearing the signup page
          function ClearChangePwd() {
              Reset();
              $("#ChangePasswordwdModal").modal('hide');
          }
          function ClearChangePwd1() {
              Reset();

              $("#ChangePasswordwdModal").modal('show');
          }
    </script>

       <%-- </form>--%>
    <%--<form id="form1" runat="server">
        <div>




        </div>
    </form>--%>
        </form>
</body>
</html>
