﻿@model AizantIT_PharmaApp.Areas.QMS.Models.Audit.ViewModel.ObservationSystem
@if (ViewBag.ShowType != "View")
{
    <div class="col-12 float-left padding-none">
        <div class="col-xl-3 col-md-6 col-sm-6 col-lg-6 float-left col-6 padding-none">
            <label class="col-12 custom_label col-form-label" for="ddlAuditSystem">6 System<span class="mandatoryStar">*</span></label>
            <div class="col-12">
                @Html.DropDownList("AuditSystem", Model.FDA6SystemList as List<SelectListItem>,
                                                                htmlAttributes: new
                                                                {
                                                                    id = "ddlAuditSystem",
                                                                    @class = "col-lg-12 padding-none selectpicker drop_down",
                                                                    @title = "-- Select 6 System --",
                                                                    @onchange = "OnObservationSystemChange(this.value,'0');"
                                                                })
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-6 col-lg-6 float-left col-6 padding-none">
            <label class="col-12 custom_label col-form-label" for="ddlAuditArea">Audit Area<span class="mandatoryStar">*</span></label>
            <div class="col-12">
                @Html.DropDownList("AuditArea", Model.AreaList as List<SelectListItem>,
                                                                htmlAttributes: new
                                                                {
                                                                    id = "ddlAuditArea",
                                                                    @class = "col-lg-12 selectpicker drop_down float-left padding-none",
                                                                    @title = "-- Select Audit Area --",
                                                                    @onchange = "OnAuditAreaChange(this.value,'0');",
                                                                    disabled = "disabled"
                                                                })
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-6 col-lg-6 float-left col-6 padding-none">
            <label class="col-12 custom_label col-form-label" for="ddlObservationSubArea">Sub Area<span class="mandatoryStar">*</span></label>
            <div class="col-12">
                @Html.DropDownList("ObservationSubSystem", Model.SubAreaList as List<SelectListItem>,
                                                                htmlAttributes: new
                                                                {
                                                                    id = "ddlObservationSubArea",
                                                                    @class = "col-lg-12 selectpicker drop_down float-left padding-none popup_area",
                                                                    @title = "-- Select Sub Area --",
                                                                    disabled = "disabled"
                                                                })
            </div>
        </div>
        <div class="col-xl-3 col-md-6 col-sm-6 col-lg-6 float-left col-6 padding-none">
            <label class="col-12 custom_label col-form-label" for="txtSystemRemarks">Remarks</label>
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-6">
                <input class="form-control" type="text" placeholder="Enter Remarks" id="txtSystemRemarks" maxlength="150">
            </div>
        </div>
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12   text-right">
            <button type="button" class="btn btn-signup_popup top" id="btnAddObservationSystem" onclick="AddObservationSystem();">Add</button>
            <button type="button" class="btn btn-cancel_popup top" id="btnAddObservationSystemCancel" onclick="CancelObservationSysytem();">Cancel</button>
            <button type="button" class="btn btn-signup_popup top" id="btnUpdateObservationSystem" onclick="OnUpdateObservationSystem();" style="display:none;">Update</button>
            <button type="button" class="btn btn-cancel_popup top" id="btnUpdateObservationSystemCancel" onclick="CancelUpdateObservationSysytem();" style="display:none;">Cancel</button>
        </div>
    </div>
}
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  top fixedHeightTable">
    <table id="tblObservationSys" class="table datatable_cust table-striped table-bordered" style="width:100%;">
        <thead>
            <tr class="UserDefinedTableBody">
                <th style="display:none;">OnAuditSystemID</th>
                <th style="display:none">SystemID</th>
                <th>6 System Name</th>
                <th style="display:none">AreaID</th>
                <th>Area Name</th>
                <th style="display:none">SubAreaID</th>
                <th>Sub Area Name</th>
                <th>Remarks</th>
                @if (ViewBag.ShowType != "View")
                {
                    <th>Action</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.ObservationSystemListData.Count == 0)
            {
                <tr class="ObservationSysEmptyRow">
                    <td colspan="9">
                        No Records Available
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model.ObservationSystemListData)
                {
                    <tr class="ObservationSubSysRow UserDefinedTableBody">
                        <td style="display:none;">
                            <span class="ObservationOnSystemIDLblClass">
                                @Html.DisplayFor(modelItem => item.ObservationOnSystemID)
                            </span>
                        </td>
                        <td style="display:none;">
                            <span class="ObservationFDA_SystemIDLblClass">
                                @Html.DisplayFor(modelItem => item.FDA_SystemID)
                            </span>
                        </td>
                        <td>
                            <span class="observationSystemNameLblClass">
                                @Html.DisplayFor(modelItem => item.FDA_SystemName)
                            </span>
                        </td>
                        <td style="display:none;">
                            <span class="ObservationAreaIDLblClass">
                                @Html.DisplayFor(modelItem => item.AreaID)
                            </span>
                        </td>
                        <td>
                            <span class="observationAreaNameLblClass">
                                @Html.DisplayFor(modelItem => item.AreaName)
                            </span>
                        </td>

                        <td style="display:none;">
                            <span class="observationSubAreaIDLblClass">
                                @Html.DisplayFor(modelItem => item.SubAreaID)
                            </span>
                        </td>
                        <td>
                            <span class="observationSubAreaNameLblClass">
                                @Html.DisplayFor(modelItem => item.SubAreaName)
                            </span>
                        </td>
                        <td>
                            <span class="observationSysRemarksLblClass">
                                @Html.DisplayFor(modelItem => item.Remarks)
                            </span>
                        </td>
                        @if (ViewBag.ShowType != "View")
                        {
                        <td>
                            <div class="text-center ObservationSysActions">
                                <a class="action_edit_icon_feed" title="Edit" onclick="EditSytem(this)"></a>
                                <a class="tb_action_delete_icon_feed" title="Remove" onclick="RemoveSytem(this)"></a>
                                </div>
                        </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@if (ViewBag.ShowType != "View")
{
<script>
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
        //On AuditSystem Change to load the Sub Systems
    function OnAuditAreaChange(AreaID,SelectedValue) {
        $("#ddlObservationSubArea").empty();
        $("#ddlObservationSubArea").removeAttr('disabled');
        $.post("@Url.Content("~/QMS/AuditMain/GetSubAreaListByAreaID")?AreaID=" + AreaID,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            $(result.msg).each(function () {
                                $("#ddlObservationSubArea").append($("<option></option>").val(this.Value).html(this.Text));
                            });
                            $("#ddlObservationSubArea").val('default');
                            $("#ddlObservationSubArea").selectpicker("refresh");
                            if (SelectedValue != "0") {
                                $('#ddlObservationSubArea').selectpicker('val', SelectedValue);
                            }
                            break;
                    }
                }
                }, 'json');
        }
         //On AuditSystem Change to load the Areas
    function OnObservationSystemChange(SystemID,SelectedValue) {
        $("#ddlAuditArea").empty();
        $("#ddlAuditArea").removeAttr('disabled');
        $.post("@Url.Content("~/QMS/AuditMain/GetAreaListByFDASystemID")?FDA_SystemID=" + SystemID,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            $(result.msg).each(function () {
                                $("#ddlAuditArea").append($("<option></option>").val(this.Value).html(this.Text));
                            });
                            $("#ddlAuditArea").val('default');
                            $("#ddlAuditArea").selectpicker("refresh");
                            if (SelectedValue != "0") {
                                $('#ddlAuditArea').selectpicker('val', SelectedValue);
                            }
                            break;
                    }
                }
                }, 'json');
    }
        //For Adding the Systems to Observation
        function AddObservationSystem() {
            //Change it later after implementing FDA-System
            // var FDA_SystemID = 1;
            var FDA_SystemID = $("#ddlAuditSystem").val();
            var ObservationAreaID = $("#ddlAuditArea").val();
            var ObservationSubAreaID = $("#ddlObservationSubArea").val();
            var ObseravtionSystemRemarks = $("#txtSystemRemarks").val().trim();
            errors = [];
            if (FDA_SystemID == "" || FDA_SystemID == "0" || FDA_SystemID == null) {
                errors.push("Select 6 System");
            }
            if (ObservationAreaID == "" || ObservationAreaID == "0" || ObservationAreaID == null) {
                errors.push("Select Audit Area");
            }
            if (ObservationSubAreaID == "" || ObservationSubAreaID == "0" || ObservationSubAreaID == null) {
                errors.push("Select Sub Area");
            }
            if (errors.length > 0) {
                custAlertMsg(errors.join(",<br/>") + ".", "error");
                return false;
            }
            else {
                if (ObseravtionSystemRemarks == "") {
                    ObseravtionSystemRemarks = "N/A";
                }
                AddSystemToObservationTable(FDA_SystemID, $("#ddlAuditSystem option:selected").text().trim(), ObservationAreaID, $("#ddlAuditArea option:selected").text().trim(), ObservationSubAreaID, $("#ddlObservationSubArea option:selected").text().trim(), ObseravtionSystemRemarks);
                //custAlertMsg("System Added Successfully.", "success");
                return false;
            }
        }

        // For Adding the Selected System, Area and Sub Areas to Systems HTML Table
        function AddSystemToObservationTable(FDA_SystemID, FDA_SystemName, AreaID, AreaName, SubAreaID, SubAreaName, SystemRemarks) {
            $("#tblObservationSys .ObservationSysEmptyRow").remove();
            var IsAuditSysUnique = true;
            // Validating wethere there is any Repeated System and Subsystem already added in Systems HTML table
            $('#tblObservationSys .ObservationSubSysRow').each(function () {
               
                    //alert($(this).find(".ObservationFDA_SystemIDLblClass").text().trim() + "," + $(this).find(".ObservationAreaIDLblClass").text().trim() + "," + $(this).find(".observationSubAreaIDLblClass").text().trim());
                    if (($(this).find(".ObservationFDA_SystemIDLblClass").text().trim() == FDA_SystemID) && ($(this).find(".ObservationAreaIDLblClass").text().trim() == AreaID) && ($(this).find(".observationSubAreaIDLblClass").text().trim() == SubAreaID)) {
                        IsAuditSysUnique = false;
                   
                }
            });
            if (IsAuditSysUnique) {
                if (IsObservationUpdate == true) {
                    AjaxCallAddAuditObservationsystem($("#hdnObservationID").val(), FDA_SystemID, FDA_SystemName, AreaID, AreaName, SubAreaID, SubAreaName, SystemRemarks);
                }
                else {
                    AppendObservationSystemtoHtmlTable("0", FDA_SystemID, FDA_SystemName, AreaID, AreaName, SubAreaID, SubAreaName, SystemRemarks);
                    custAlertMsg("System added to this Observation", "success", "CancelObservationSysytem();");
                }
            }
            else {
                custAlertMsg("6 System, Area and Sub Area already added.", "info");
            }
        }

          //Ajax call for Adding the system to DB(Data Base) since they were addeed newly.
        function AjaxCallAddAuditObservationsystem(ObservationID, FDA_SystemID, FDA_SystemName, AreaID, AreaName, SubAreaID, SubAreaName, SystemRemarks) {
            $.post("@Url.Content("~/QMS/AuditMain/AddObservationSystem")?ObservationID=" + ObservationID + "&FDA_SystemID=" + FDA_SystemID + "&AreaID=" + AreaID+"&SubAreaID="+SubAreaID+"&Remarks="+SystemRemarks,
             function (result) {
                 if (result.msgRedirecttoLoginPage) {
                     window.location.href = '/UserLogin.aspx';
                 }
                 else {
                     switch (result.msgType) {
                         case "error":
                             custAlertMsg(result.msg, "error");
                             break;
                         case "info":
                             custAlertMsg(result.msg, "info");
                             break;
                         case "warning":
                             custAlertMsg(result.msg, "warning");
                             break;
                         case "success":
                             custAlertMsg(result.msg, "success", "OnAddObservationAddSuccess('" + result.OnAuditSystemID + "','" + FDA_SystemID + "','" + FDA_SystemName + "','" + AreaID + "','" + AreaName + "','" + SubAreaID + "','" + SubAreaName + "','" + SystemRemarks + "');");
                             break;
                     }
                 }
            }, 'json');
    }
        function OnAddObservationAddSuccess(OnAuditSystemID, FDA_SystemID, FDA_SystemName, AreaID, AreaName, SubAreaID, SubAreaName, SystemRemarks) {
            AppendObservationSystemtoHtmlTable(OnAuditSystemID, FDA_SystemID, FDA_SystemName, AreaID, AreaName, SubAreaID, SubAreaName, SystemRemarks);
            CancelObservationSysytem();
        }
        //For Cancel SystemAdding
        function CancelObservationSysytem() {
            $("#ddlAuditSystem").val('default');
            $("#ddlAuditSystem").selectpicker("refresh");
            $("#ddlAuditArea").empty();
            $("#ddlAuditArea").prop("disabled", true);
            $("#ddlAuditArea").val('default');
            $("#ddlAuditArea").selectpicker("refresh");
            $("#ddlObservationSubArea").empty();
            $("#ddlObservationSubArea").prop("disabled", true);
            $("#ddlObservationSubArea").val('default');
            $("#ddlObservationSubArea").selectpicker("refresh");
            $("#txtSystemRemarks").val("");
        }
        var EditSystemCntrl;
        var OnObservationSystemID;
        var FDASystemID;
        var AreaID;
        var SubAreaID;
        var SystemRemarks;
        //For Editing The Systems of HTML Table binding values to controls.
        function EditSytem(cntrl) {
            CancelUpdateObservationSysytem();
            EditSystemCntrl = cntrl;
            $(cntrl).closest('tr').addClass("trSystem_RowEdit");
            $(cntrl).closest("tr").find(".ObservationSysActions").hide();
            //$(cntrl).closest("tr").find(".delete_icon_feed").css("display", "none");
            $("#btnAddObservationSystem").css("display", "none");
            $("#btnAddObservationSystemCancel").css("display", "none");
            $("#btnUpdateObservationSystem").css("display", "inline-block");
            $("#btnUpdateObservationSystemCancel").css("display", "inline-block");

             OnObservationSystemID = $(cntrl).closest('tr').find(".ObservationOnSystemIDLblClass").text().trim();
             FDASystemID = $(cntrl).closest('tr').find(".ObservationFDA_SystemIDLblClass").text().trim();
             AreaID = $(cntrl).closest('tr').find(".ObservationAreaIDLblClass").text().trim();
             SubAreaID = $(cntrl).closest('tr').find(".observationSubAreaIDLblClass").text().trim();
             SystemRemarks = $(cntrl).closest('tr').find(".observationSysRemarksLblClass").text().trim();

             $("#ddlAuditSystem").val(FDASystemID);
             $("#ddlAuditSystem").selectpicker("refresh");
            OnObservationSystemChange(FDASystemID, AreaID);
            OnAuditAreaChange(AreaID, SubAreaID);
            if (SystemRemarks != "N/A") {
                $("#txtSystemRemarks").val(SystemRemarks);
            }
            else {
                $("#txtSystemRemarks").val("");
            }
        }
    //For validation the Update Observation Button Click.
        function OnUpdateObservationSystem() {
            var UpdatedFDA_SystemID = $("#ddlAuditSystem").val();
            var UpdatedObservationAreaID = $("#ddlAuditArea").val();
            var UpdatedObservationSubAreaID = $("#ddlObservationSubArea").val();
            var UpdatedObseravtionSystemRemarks = $("#txtSystemRemarks").val().trim();
            if (UpdatedObseravtionSystemRemarks == "") {
                UpdatedObseravtionSystemRemarks = "N/A";
            }
            errors = [];
            if (UpdatedFDA_SystemID == "" || UpdatedFDA_SystemID == "0" || UpdatedFDA_SystemID == null) {
                errors.push("Select 6 System");
            }
            if (UpdatedObservationAreaID == "" || UpdatedObservationAreaID == "0" || UpdatedObservationAreaID == null) {
                errors.push("Select Audit Area");
            }
            if (UpdatedObservationSubAreaID == "" || UpdatedObservationSubAreaID == "0" || UpdatedObservationSubAreaID == null) {
                errors.push("Select Sub Area");
            }
            if (errors.length > 0) {
                custAlertMsg(errors.join(",<br/>") + ".", "error");
                return false;
            }
            if (UpdatedFDA_SystemID == FDASystemID && UpdatedObservationAreaID == AreaID && UpdatedObservationSubAreaID == SubAreaID && UpdatedObseravtionSystemRemarks == SystemRemarks) {
                custAlertMsg("There's no changes to update.", "warning");
                return false;
            }
            else {
                var IsAuditSysUnique = true;
                // Validating wethere there is any Repeated System and Subsystem already added in Systems HTML table
                $('#tblObservationSys .ObservationSubSysRow').each(function () {
                        if (!$(this).hasClass('trSystem_RowEdit')) {
                        //alert($(this).find(".ObservationFDA_SystemIDLblClass").text().trim() + "," + $(this).find(".ObservationAreaIDLblClass").text().trim() + "," + $(this).find(".observationSubAreaIDLblClass").text().trim());
                        if (($(this).find(".ObservationOnSystemIDLblClass").text().trim() == OnObservationSystemID) && ($(this).find(".ObservationFDA_SystemIDLblClass").text().trim() == UpdatedFDA_SystemID) && ($(this).find(".ObservationAreaIDLblClass").text().trim() == UpdatedObservationAreaID) && ($(this).find(".observationSubAreaIDLblClass").text().trim() == UpdatedObservationSubAreaID)) {
                            IsAuditSysUnique = false;
                        }
                    }
                });
                if (IsAuditSysUnique) {
                    UpdateObservationSystem(OnObservationSystemID, UpdatedFDA_SystemID, $("#ddlAuditSystem option:selected").text().trim(), UpdatedObservationAreaID, $("#ddlAuditArea option:selected").text().trim(), UpdatedObservationSubAreaID, $("#ddlObservationSubArea option:selected").text().trim(), UpdatedObseravtionSystemRemarks);
                    custAlertMsg("System Updated Successfully.", "success");
                    return false;
                }
                else {
                    custAlertMsg("6 System, Area and Sub Area already added.", "info");
                }
            }
        }
    //For Updating the Observation System
        function UpdateObservationSystem(OnObservationSystemID, UpdatedFDA_SystemID,UpdatedSystemName, UpdatedObservationAreaID,UpdatedObservationAreaName, UpdatedObservationSubAreaID,UpdatedObservationSubAreaName, UpdatedObseravtionSystemRemarks) {
            if (OnObservationSystemID != "0") {
                //Ajax Call for Updating the Records in DB
                AjaxCallUpdateAuditObservationsystem(OnObservationSystemID, UpdatedFDA_SystemID, UpdatedSystemName, UpdatedObservationAreaID, UpdatedObservationAreaName, UpdatedObservationSubAreaID, UpdatedObservationSubAreaName, UpdatedObseravtionSystemRemarks);
            }
            else {
                UpdateObservationSystemInHtmlTable(OnObservationSystemID, UpdatedFDA_SystemID, UpdatedSystemName, UpdatedObservationAreaID, UpdatedObservationAreaName, UpdatedObservationSubAreaID, UpdatedObservationSubAreaName, UpdatedObseravtionSystemRemarks);
                CancelUpdateObservationSysytem();
            }
        }
        //Ajax call for Adding the system to DB(Data Base) since they were addeed newly.
        function AjaxCallUpdateAuditObservationsystem(OnObservationSystemID, FDA_SystemID, FDA_SystemName, AreaID, AreaName, SubAreaID, SubAreaName, SystemRemarks) {
            $.post("@Url.Content("~/QMS/AuditMain/UpdateObservationSystem")?OnObservationSystemID=" + OnObservationSystemID + "&FDA_SystemID=" + FDA_SystemID + "&AreaID=" + AreaID+"&SubAreaID="+SubAreaID+"&Remarks="+SystemRemarks,
             function (result) {
                 if (result.msgRedirecttoLoginPage) {
                     window.location.href = '/UserLogin.aspx';
                 }
                 else {
                     switch (result.msgType) {
                         case "error":
                             custAlertMsg(result.msg, "error");
                             break;
                         case "info":
                             custAlertMsg(result.msg, "info");
                             break;
                         case "warning":
                             custAlertMsg(result.msg, "warning");
                             break;
                         case "success":
                             custAlertMsg(result.msg, "success", "OnUpdateObservationDBSuccess('" + OnObservationSystemID + "','" + FDA_SystemID + "','" + FDA_SystemName + "','" + AreaID + "','" + AreaName + "','" + SubAreaID + "','" + SubAreaName + "','" + SystemRemarks + "');");
                             break;
                     }
                 }
            }, 'json');
        }
    //For Update Success in DB
        function OnUpdateObservationDBSuccess(OnObservationSystemID, FDA_SystemID, FDA_SystemName, AreaID, AreaName, SubAreaID, SubAreaName, SystemRemarks) {
            UpdateObservationSystemInHtmlTable(OnObservationSystemID, FDA_SystemID, FDA_SystemName, AreaID, AreaName, SubAreaID, SubAreaName, SystemRemarks);
            CancelUpdateObservationSysytem();
        }
        //For Cancling the EditSystem
        function CancelUpdateObservationSysytem() {
            CancelObservationSysytem();
            //$(EditSystemCntrl).closest("tr").find(".Edit").css("display", "inline-block");
            $(EditSystemCntrl).closest("tr").find(".ObservationSysActions").show();
                //.css("display", "inline-block");

            $("#btnAddObservationSystem").css("display", "inline-block");
            $("#btnAddObservationSystemCancel").css("display", "inline-block");
            $("#btnUpdateObservationSystem").css("display", "none");
            $("#btnUpdateObservationSystemCancel").css("display", "none");
            EditSystemCntrl = null;
        }
    // For Deleting or Removing the added Systems of HTML table
        var RemoveCntrl;
        function RemoveSytem(cntrl) {
            RemoveCntrl = cntrl;
        var OnObservationSystemID = $(cntrl).closest('tr').find(".ObservationOnSystemIDLblClass").text().trim();
        if ($("#tblObservationSys tbody tr ").length > 1) {
            if (OnObservationSystemID != "0") {//Checking wethere this is an update or Creation of New audit
                custAlertMsg("Are you sure of Removing this System?", "confirm", "AjaxCallDeleteAuditObservationsystem(" + OnObservationSystemID + ");");
            }
            else if (OnObservationSystemID == "0") {
               // DeleteSystemFromHtmlTable(cntrl); // Since we had delete(Remove) button, we should ask confirmation by suggested by MSR.
                custAlertMsg("Are you sure of Removing this System?", "confirm", "DeleteSystemFromHtmlTable();");
            }
        }
        else {
            custAlertMsg("There Should be atleast one System.", "warning");
        }
    }
    //function DeleteSystemFromHtmlTable(cntrl) {
        function DeleteSystemFromHtmlTable() {
        $(RemoveCntrl).closest('tr').remove();
        if ($("#tblObservationSys tbody tr").length == 0) {
            $("#tblObservationSys tbody").append('<tr class="ObservationSysEmptyRow"><td colspan="9">No Records Added</td></tr>');
        }
        RemoveCntrl = null;
    }
     //Ajax call for deleting the removed rows from DB(Data Base) sinced thy were already eixst in DB.
    function AjaxCallDeleteAuditObservationsystem(OnAuditSystemID) {
        $.post("@Url.Content("~/QMS/AuditMain/DeleteObservationSystem")?ObservationOnSystemID="+ OnAuditSystemID,
             function (result) {
                 if (result.msgRedirecttoLoginPage) {
                     window.location.href = '/UserLogin.aspx';
                 }
                 else {
                     switch (result.msgType) {
                         case "error":
                             custAlertMsg(result.msg, "error");
                             break;
                         case "info":
                             custAlertMsg(result.msg, "info");
                             break;
                         case "warning":
                             custAlertMsg(result.msg, "warning");
                             break;
                         case "success":
                             custAlertMsg(result.msg, "success", "DeleteSystemFromHtmlTableusingOnAuditSystemID('" + OnAuditSystemID + "');");
                             break;
                     }
                 }
                }, 'json');
    }
    function DeleteSystemFromHtmlTableusingOnAuditSystemID(OnAuditSystemID) {
        $('#tblObservationSys .ObservationSubSysRow').each(function () {
            if ($(this).find(".ObservationOnSystemIDLblClass").text().trim() == OnAuditSystemID) {
                $(this).closest('tr').remove();
            }
        });
    }

    //For appending Observation System to HTML TAble
    function AppendObservationSystemtoHtmlTable(OnObservationSystemID, FDA_SystemID, FDA_SystemName, AreaID, AreaName, SubAreaID, SubAreaName, SystemRemarks) {
        $("#tblObservationSys tbody").append('<tr class="ObservationSubSysRow UserDefinedTableBody">' +
            '<td style="display:none"><span class="ObservationOnSystemIDLblClass">' + OnObservationSystemID + '</span></td>' +
            '<td style="display:none"><span class="ObservationFDA_SystemIDLblClass">' + FDA_SystemID + '</span></td>' +
            '<td><span class="observationSystemNameLblClass">' + FDA_SystemName + '</span></td>' +
            '<td style="display:none"><span class="ObservationAreaIDLblClass">' + AreaID + '</span></td>' +
            '<td><span class="observationAreaNameLblClass">' + AreaName + '</span></td>' +
            '<td style="display:none"><span class="observationSubAreaIDLblClass">' + SubAreaID + '</span></td>' +
            '<td><span class="observationSubAreaNameLblClass">' + SubAreaName + '</span></td>' +
            '<td><span class="observationSysRemarksLblClass">' + SystemRemarks + '</span></td>' +
            '<td><div class="text-center ObservationSysActions"><a class="action_edit_icon_feed" title="Edit" onclick="EditSytem(this)"></a>'+
            '<a class="tb_action_delete_icon_feed" title="Remove" onclick="RemoveSytem(this)"></a></div></td >' +
            '</tr>');
    }
    // For Updating the Observation System in HTML table
    function UpdateObservationSystemInHtmlTable(OnObservationSystemID, FDA_SystemID, FDA_SystemName, AreaID, AreaName, SubAreaID, SubAreaName, SystemRemarks) {
        $(EditSystemCntrl).closest("tr").find(".ObservationOnSystemIDLblClass").text(OnObservationSystemID);
        $(EditSystemCntrl).closest("tr").find(".ObservationFDA_SystemIDLblClass").text(FDA_SystemID);
        $(EditSystemCntrl).closest("tr").find(".observationSystemNameLblClass").text(FDA_SystemName);
        $(EditSystemCntrl).closest("tr").find(".ObservationAreaIDLblClass").text(AreaID);
        $(EditSystemCntrl).closest("tr").find(".observationAreaNameLblClass").text(AreaName);
        $(EditSystemCntrl).closest("tr").find(".observationSubAreaIDLblClass").text(SubAreaID);
        $(EditSystemCntrl).closest("tr").find(".observationSubAreaNameLblClass").text(SubAreaName);
        $(EditSystemCntrl).closest("tr").find(".observationSysRemarksLblClass").text(SystemRemarks);

        //$(EditSystemCntrl).closest("tr").find(".Edit").css("display", "inline-block");
        $(EditSystemCntrl).closest("tr").find(".ObservationSysActions").show();
        //$(EditSystemCntrl).closest("tr").find(".Edit").on("click", function () {
        //    EditSytem(EditSystemCntrl);
        //});
    }

</script>
}
