﻿<div id="modalViewResponse" data-backdrop="static" class="modal department fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title editModalTitle">Response Details</h4>
                <button type="button" class="close" onclick="ClosemodalViewResponsePopup();">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col-12 padding-none">
                    <div class="col-12 editModalBody content_bg grid_assgin_nav float-left">
                        <div class="col-xl-7 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                            <div class=" col-xl-12 padding-none" >
                                <label class="col-xl-3 custom_label col-form-label float-left padding-none" style="margin: 6px 0px 0px 6px;">	Responsible Employee </label>
                                <div class="col-xl-8 custom_label col-form-label float-left padding-none" id="divResponsibleEmp">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                            <div class=" col-xl-12">
                                <label class="col-xl-3 custom_label col-form-label float-left">Submitted Date </label>
                                <div class="col-xl-9 siteLabel custom_label col-form-label" id="divResponseSubmittedDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none" id="divCloserDate" style="display:none">
                            <div class="col-xl-12">
                                <label class="col-xl-3 custom_label col-form-label float-left">Closure Date </label>
                                <div class="col-xl-9 siteLabel custom_label col-form-label" id="divResponseClosureDate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                    <label class=" custom_label col-form-label">Response Description<span class="mandatoryStar">*</span></label>
                    <div class="labelBorder" style="cursor: not-allowed;">
                        <span id="spanResponseDescription">
                        </span>
                    </div>
                </div>

                <div class="col-12 float-left CapaListJQDatatable">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top float-left ">CAPA List</div>
                    <div class="col-12 float-left grid_panel_hod padding-none">
                        <div class="col-12 float-left">
                            <div class="col-12 float-left padding-none" id="divAuditCapaListFinal">
                                @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_EventsCAPAList.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ClosemodalViewResponsePopup() {
        $('#modalViewResponse').modal('hide');
    }

    function ViewResponse(ResponseID) {
        ShowPleaseWait('show');
        $("#hdnResponseID").val(ResponseID);
         $.ajax({
            type: "GET",
            url: "@Url.Content("~/QMS/AuditMain/ViewResponseDetails")",
            data: { ResponseID: ResponseID},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ShowPleaseWait('hide');
                if (response.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else if (response.msgType == "error") {
                    custAlertMsg(response.msg, "error");
                }
                else {
                    $("#divResponsibleEmp").text(": " + response.objObservationResponse.ResponsibleEmpName);
                    $("#divResponseSubmittedDate").text(": " + response.objObservationResponse.SubmittedDate);
                    $("#spanResponseDescription").text(response.objObservationResponse.ResponseDescription);
                    $('#modalViewResponse').modal('show');
                    if (response.objObservationResponse.ExpectedOrCloserDate != "") {
                        $("#divResponseClosureDate").text(": " + response.objObservationResponse.ExpectedOrCloserDate);
                        $("#divCloserDate").show();
                    }
                    else {
                        $("#divCloserDate").hide();
                    }
                    if (response.objObservationResponse.IsCapaRequired == 0) {
                        $(".CapaListJQDatatable").hide();
                    }
                    else {
                        $(".CapaListJQDatatable").show();
                    }
                }
            },
            failure: function (response) {
            },
            error: function (response) {
            }
        });
    }
</script>
<script>
    $('#modalViewResponse').on('shown.bs.modal', function () {
        var hideCAPAViewColumns = [9, 10];
        GetEventsCAPAList($("#hdnResponseID").val(), 9, hideCAPAViewColumns, 0);//this method existing in Shared/QMS/_EventsCAPAList folder
    });
</script>