﻿<!--Begin Modal Dialog for Observation History-->
<div id="modalObservationHistory" class="modal department fade" role="dialog" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:90%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titleObservation">Observation History</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table id="tblObservationHistory" class="table datatable_cust table-striped table-bordered no-footer" style="width: 100%">
                    <thead>
                        <tr>
                            <th>ActionHistoryID</th>
                            <th>Action</th>
                            <th>Role</th>
                            <th>Action By</th>
                            <th>Action Date</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer ">
                @*<button type="button" class="btn btn-cancel_popup top" data-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>
<!--End Modal Dialog for Observation History-->
<!--Begin Script for loading Observation History-->
<script>
    var oObservationHistory;
    function ShowObservationHistory(historyUrl) {
        if (oObservationHistory != null) {
            oObservationHistory.destroy();
        }
        oObservationHistory = $('#tblObservationHistory').DataTable({
            columns: [
                { 'data': 'ActionHistoryID' },
                { 'data': 'ActionStatus' },
                { 'data': 'ActionRole' },
                { 'data': 'ActionBy' },
                { 'data': 'ActionDate' },
                { 'data': 'Remarks' }
            ],
            "scrollY": "250px",
            "aoColumnDefs": [{ "targets": [0], "visible": false }, { className: "textAlignCenter", "targets": [4] }, { "width": "25%", "targets": [5] }, { "targets": [0, 1, 2, 3, 4, 5], "bSortable": false }],
            "bServerSide": true,
            "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
            "sAjaxSource": historyUrl,
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "ObservationID", "value": $("#hdnObservationID").val()});
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else if (result.msgType == "error") {
                            custAlertMsg(result.msg, "error");
                        }
                            else {
                               fnCallback(result);
                            }
                        },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });

            }
        });
    }
    //On Modal Show
    $('#modalObservationHistory').on('shown.bs.modal', function () {
        ShowObservationHistory('@Url.Content("~/QMS/AuditMain/GetObservationHistory")');
    });
</script>
<!--End Script for loading Observation History-->
