﻿@{
    ViewBag.Title = "Audit List";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<title>@ViewBag.Title</title>
<input type="hidden" name="AuditID" id="AuditID" value="2" />
<input type="hidden" name="hdnExportbaseTypeID" id="hdnExportbaseTypeID" value="1" />
@*Start  copy Form ViewAuditObservationListFOrHODandQa*@
<input type="hidden" name="AuditMode" id="hdnAuditMode" value="View" />
<input type="hidden" name="AuditCurrentStatusID" id="hdnAuditCurrentStatusID" value="5" />
<input type="hidden" name="AuditCreationStatus" id="hdnAuditCreationStatusID" value="1" />
<input type="hidden" name="ResponseID" id="hdnResponseID" value="0" />
<input type="hidden" name="ObservationNameInSearchBox" id="hdnObservationNameInSearchBox" value="" />
<input type="hidden" name="FromListType" id="hdnFromListType" value="" />
@* End copy Form ViewAuditObservationListFOrHODandQa*@
<link href="@Url.Content("~/AppCSS/Common/Progress.css")" rel="stylesheet" />

@if (ViewBag.SysError != "" && ViewBag.SysError != null)
{
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="text-align:center;color:red">
        @ViewBag.SysError
    </div>
}
else
{
    <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6 float-right padding-none">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none" id="btnCreateAudit" style="display:none;">
            @Html.ActionLink("New Audit Report", "CreateAuditReport", "AuditMain", routeValues: new { area = "QMS" },
                                                                                                                     htmlAttributes: new
                                                                                                                     {
                                                                                                                         @class = "float-right btn btn-dashboard",
                                                                                                                         @title = "New Audit Report"
                                                                                                                     })
        </div>
    </div>

    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">
        <div class="col-xl-5 col-md-5 col-sm-5 col-lg-5 float-left col-6 padding-none" id="auditListTitle"></div>
        <button type="button" class="btn btn-secondary btn-sm float-right" id="btnAuditFilterPopupOpen" style="display:none;" onclick="BindFilterDropDownValuesAndOpenPopup();">Apply Filter</button>
        <button type="button" class="btn btn-secondary btn-sm float-right" id="btnObservationFilterPopupOpen" style="display:none;" onclick="BindFilterDropDownValuesAndOpenPopup();">Apply Filter</button>
        <div class="col-xl-4 col-md-3 col-sm-3 col-lg-4 float-right col-6 padding-none" id="divddlTypeOfReport" style="display:none;">
            <div class="col-xl-8 col-lg-7 col-md-7 float-right ">
                <select class="col-lg-12 drop_down selectpicker1 padding-none audit_drp" id="ddlTypeofReport" onchange="OnddlTypeofReportChange(this.value)">
                    <option value="1">Audit Report List</option>
                    <option value="2">Observation Report List</option>
                </select>
            </div>
            <label class=" custom_label  float-right padding-none">Report Type :</label>

        </div>
    </div>

    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" id="divTableAuditReportList">
        <table id="tblAuditReportList" class="table datatable_cust table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Audit ID</th>
                    <th>Audit No.</th>
                    <th>Category</th>
                    <th>Category Type</th>
                    <th>Business Division</th>
                    <th>Duration</th>
                    <th>Audited On Dates</th>
                    <th>Report Date</th>
                    <th>Current Status</th>
                    <th>Public</th>
                    <th>ActionStatusID</th>
                    <th>View</th>
                    <th>Public</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" id="divTableObservationReportList" style="display:none;">
        @Html.Partial("~/Areas/QMS/Views/Shared/QmsAudit/_AuditObservations.cshtml")
    </div>

    <div class="modal department " id="modalAuditFilter" role="dialog" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-lg" style="min-width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="h4FilterCriteria">Filter Criteria</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div name="auditFilter">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none" id="divAuditReportFilter">
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                                <label class="col-12 custom_label col-form-label">Category</label>
                                <div class="col-12">
                                    @Html.DropDownList("Category", ViewBag.CategoryList as List<SelectListItem>,
htmlAttributes: new
{
id = "ddlCategory",
@class = "col-lg-12 float-left padding-none selectpicker1 drop_down",
@title = "-- Select Category --",
name = "CategoryID"
})
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                                <label class="col-12 custom_label col-form-label">Category Type</label>
                                <div class="col-12">
                                    @Html.DropDownList("CategoryType", ViewBag.CategoryTypeList as List<SelectListItem>,
htmlAttributes: new
{
id = "ddlCategoryType",
@class = "col-lg-12 float-left padding-none selectpicker1 drop_down ",
@title = "-- Select Category Type --",
@onchange = "OnCategoryTypeChange(this.value);",
name = "CategoryTypeID"
})
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left " id="divRegulatory" style="display:none">
                                <label class="col-12 custom_label col-form-label">Regulatory Agency</label>
                                <div class="col-12">
                                    @Html.DropDownList("RegulatoryAgency", ViewBag.RegulatoryAgencyList as List<SelectListItem>,
htmlAttributes: new
{
id = "ddlRegulatoryAgency",
@class = "col-lg-12 float-left padding-none selectpicker drop_down",
@title = "-- Select Regulatory Agency --",
@onchange = "OnRegulatoryAgencyChange(this.value);",
name = "RegulatoryAgencyID"
})
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left " id="divClient" style="display:none">
                                <label class="col-12 custom_label col-form-label">Client</label>
                                <div class="col-12">
                                    @Html.DropDownList("Client", ViewBag.ClientList as List<SelectListItem>,
htmlAttributes: new
{
id = "ddlClient",
@class = "col-lg-12 float-left padding-none selectpicker drop_down ",
@title = "-- Select Client --",
name = "ClientID"
})
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                                <label class="col-12 custom_label col-form-label">Type of Audit</label>
                                <div class="col-12">
                                    <select class="col-lg-12 selectpicker drop_down padding-none" data-live-search="true" title="-- Select Type Of Audit --" id="ddlTypeOfAudit"></select>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                                <label class="col-12 custom_label col-form-label">Business Division</label>
                                <div class="col-12 ">
                                    @Html.DropDownList("BusinessDivision", ViewBag.BusinessDivisionList as List<SelectListItem>,
htmlAttributes: new
{
id = "ddlBusinessDivision",
@class = "col-lg-12 float-left padding-none selectpicker drop_down ",
@title = "-- Select Business Division --",
@onchange = "OnBusinessDivisionChange(this.value);",
name = "Business Division"
})
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                                <label class="col-12 custom_label col-form-label">Site</label>
                                <div class="col-12">
                                    <select class="col-lg-12 selectpicker drop_down padding-none" title=" -- Select Site's --" multiple data-live-search="true" id="ddlSite"></select>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                                <label for="txtAuditFromDate" class="col-12 custom_label col-form-label">
                                    Audit Start Date
                                </label>
                                <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                                    <input class="form-control ViewDatefn" type="text" id="txtAuditFromDate" placeholder="Audit Start Date (dd MMM YYYY)">
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                                <label for="txtAuditToDate" class="col-12 custom_label col-form-label">
                                    Audit End Date
                                </label>
                                <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                                    <input class="form-control ViewDatefn" type="text" id="txtAuditToDate" placeholder="Audit End Date (dd MMM YYYY)">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div name="obserFilter">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none" id="divObservationReportFilter" style="display:none;">
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                                <label class="col-12 custom_label col-form-label">Site</label>
                                <div class="col-12">
                                    @Html.DropDownList("Site", ViewBag.SiteList as List<SelectListItem>,
htmlAttributes: new
{
id = "ddlObservationSite",
@class = "col-lg-12 float-left padding-none selectpicker drop_down ",
@title = "-- Select Site --",
name = "SiteID"
})
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                                <label class="col-12 custom_label col-form-label">Department</label>
                                <div class="col-12">
                                    @Html.DropDownList("Department", ViewBag.DepartmentList as List<SelectListItem>,
htmlAttributes: new
{
id = "ddlDepartment",
@class = "col-lg-12 float-left padding-none selectpicker drop_down ",
@title = "-- Select Department--",
name = "DepartmentID"
})
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none float-left ">
                                <label class="col-12 custom_label col-form-label">Category</label>
                                <div class="col-12">
                                    <select class="col-lg-12 selectpicker drop_down padding-none audit_drp" id="ddlObservationCategory" title="-- Select Category --">
                                        <option value="0">-- Select Category --</option>
                                        <option value="1">Minor</option>
                                        <option value="2">Major</option>
                                        <option value="3">Critical</option>
                                        <option value="4">Recommendation</option>
                                        <option value="5">483</option>
                                        <option value="6">Others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                                <label for="txtObservationFromDate" class="col-12 custom_label col-form-label">
                                    From Observation Due Date
                                </label>
                                <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                                    <input class="form-control" type="text" id="txtObservationFromDate" placeholder="Observation From Due Date (dd MMM YYYY)">
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                                <label for="txtObservationToDate" class="col-12 custom_label col-form-label">
                                    To Observation Due Date
                                </label>
                                <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                                    <input class="form-control" type="text" id="txtObservationToDate" placeholder="Observation To Due Date (dd MMM YYYY)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-signup_popup top" onclick="ValidateAuditFilterCriteria();">Apply</button>
                    <button type="button" class="btn btn-danger btn-cancel_popup top" onclick="CancelAuditFilterCriteria();">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    @*Start  copy Form ViewAuditObservationListFOrHODandQa*@

    @Html.Partial("~/Areas/QMS/Views/AuditMain/_ViewObservationHistory.cshtml")
    @Html.Partial("~/Areas/QMS/Views/Shared/QmsAudit/_ResponseAttachmentList.cshtml")
    @Html.Partial("~/Areas/QMS/Views/Shared/QmsAudit/_ViewAttachments.cshtml")
    @Html.Partial("_ElectronicPartialView")
    @Html.Partial("~/Areas/QMS/Views/AuditMain/_ViewResponseDetails.cshtml")

    @*End  copy Form ViewAuditObservationListFOrHODandQa*@
    <script>
    //For Disabling the By Aizant
    $("#ddlCategory option[value='1']").prop('disabled', 'disabled');

    //To selecting the For Aizant
    $('#ddlCategory').val('2');
    $("#ddlCategory").prop('disabled', 'disabled');
    $(function ()
    {
        var SysError ='@TempData["SysErrorMsg"]';
        if (SysError!="")
        {
           custAlertMsg(SysError, "error");
        }
    });
    </script>
    <!--Begin Filter Default script-->
    <script>
        //For TypeofReport Change
        function OnddlTypeofReportChange(DropDownValue) {
            if (DropDownValue == "1") {
                //Audit Report
                $("#divAuditReportFilter").css("display", "inline-block");
                $("#divObservationReportFilter").css("display", "none");
                $("#divTableAuditReportList").css("display", "inline-block");
                $("#divTableObservationReportList").css("display", "none");
                $("#auditListTitle").html("Audit Report List");
                $("#h4FilterCriteria").text("Audit Filter Criteria");
                TypeOfList = "AuditReportMain";
                LoadAuditReportMianList();
            }
            else {
                //Observation Report
                $("#divAuditReportFilter").css("display", "none");
                $("#divObservationReportFilter").css("display", "inline-block");
                $("#divTableAuditReportList").css("display", "none");
                $("#divTableObservationReportList").css("display", "inline-block");
                $("#auditListTitle").html("Observation Report List");
                $("#h4FilterCriteria").text("Observation Filter Criteria");
                TypeOfList = "ObservationReportMain";
                ObservationTypeOfList = "ObservationReportMain";
                LoadAuditObservationReportList();
            }
           // $("#btnAuditFilterPopupOpen").html('Apply Filter');
        }
        //Show Observation List
        function ShowObservationList() {
            $("#divTableAuditReportList").css("display", "none");
            $("#divTableObservationReportList").css("display", "inline-block");
            //LoadAuditObservationReportList();
            loadObservationReportList();

        }
    //This variable is for checking whether
        var IsAuditFilterRecordsBinded = false;
        // For Getting the array List of Selected Values of Multi-select Dropdown by passing its ID.
        function GetDropDownSelectedValues(DropDownID) {
            var SelectedDDLVals = [];
            var SelectedDropDown = "#" + DropDownID + " option:selected";
            $.each($(SelectedDropDown), function () {
                if ($(this).val() != "0" && $(this).val() != "") {
                    SelectedDDLVals.push($(this).val());
                }
            });
            return SelectedDDLVals;
        }
        var CurrentServerDate = '@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")';
        //For Date Pickers

        $('#txtObservationFromDate').datetimepicker({
            format: 'DD MMM YYYY',
            useCurrent: false,
            minDate: '01/01/1800',
            keyBinds: { 't': null },
            //maxDate: new Date().setHours(23, 59, 59, 59),
           // maxDate: new Date(new Date(CurrentServerDate).getFullYear(), new Date(CurrentServerDate).getMonth(), new Date(CurrentServerDate).getDate(), 23, 59, 59),
        });
        $('#txtObservationToDate').datetimepicker({
            format: 'DD MMM YYYY',
            useCurrent: false,
            minDate: '01/01/1800',
            keyBinds: { 't': null }
            // maxDate: new Date().setHours(23, 59, 59, 59),
           // maxDate: new Date(new Date(CurrentServerDate).getFullYear(), new Date(CurrentServerDate).getMonth(), new Date(CurrentServerDate).getDate(), 23, 59, 59),
        });
        $('#txtObservationFromDate').on("dp.change", function (e) {
            $('#txtObservationToDate').data("DateTimePicker").minDate(e.date);
            Todate = $("#txtObservationToDate").val();
            if (new Date(new Date(e.date).getFullYear(), new Date(e.date).getMonth(), new Date(e.date).getDate()) > new Date(Todate)) {
                $('#txtObservationToDate').val("");
            }
        });
        $('#txtAuditFromDate').datetimepicker({
            format: 'DD MMM YYYY',
            useCurrent: false,
            minDate: '01/01/1800',
            //maxDate: new Date().setHours(23, 59, 59, 59),
            maxDate: new Date(new Date(CurrentServerDate).getFullYear(), new Date(CurrentServerDate).getMonth(), new Date(CurrentServerDate).getDate(), 23, 59, 59),
            keyBinds: { 't': null }
        });
        $('#txtAuditToDate').datetimepicker({
            format: 'DD MMM YYYY',
            useCurrent: false,
            minDate:'01/01/1800',
           // maxDate: new Date().setHours(23, 59, 59, 59),
            maxDate: new Date(new Date(CurrentServerDate).getFullYear(), new Date(CurrentServerDate).getMonth(), new Date(CurrentServerDate).getDate(), 23, 59, 59),
            keyBinds: { 't': null }
        });
        $('.ViewDatefn').on('dp.hide', function (e) {
            var CurrentDatePickerID = $(this).attr('id');
            var CurrentViewDate = $("#" + CurrentDatePickerID).datetimepicker('viewDate');
            setTimeout(function () {
                $("#" + CurrentDatePickerID).data('DateTimePicker')
                    .viewDate(moment(CurrentViewDate));
            }, 0);

        });
        $('#txtAuditFromDate').on("dp.change", function (e) {
            $('#txtAuditToDate').data("DateTimePicker").minDate(e.date);
            Todate = $("#txtAuditToDate").val();
            if (new Date(new Date(e.date).getFullYear(), new Date(e.date).getMonth(), new Date(e.date).getDate()) > new Date(Todate)) {
                $('#txtAuditToDate').val("");
            }
        });
        
        //To Bind Filters Dropdown on PopupOpen
        function BindFilterDropDownValuesAndOpenPopup() {
            $('#modalAuditFilter').modal('show', { backdrop: 'static', keyboard: false });
        }
    </script>
    <!--End Filter Default script-->
    <!--Begin For Dropdowns Change load the dependency ddls-->
    <script>
        function OnRegulatoryAgencyChange(RegulatoryAgencyID) {
            if (RegulatoryAgencyID == "0") {
                $("#ddlClient").val('default');
                $("#ddlClient").selectpicker("refresh");
                $("#divClient").hide();
            }
            else {
               // $("#ddlClient").val('default');
                //$("#ddlClient").selectpicker("refresh");
                $("#divClient").show();
            }
        }
          // on Category Type change Load the TypeOfAudit dropdown and Show hide the Client and RegulatoryAgency Divs
        function OnCategoryTypeChange(CategoryTypeID) {
        $("#divRegulatory").hide();
        $("#divClient").hide();
        if (CategoryTypeID == "4") { // 4 represents For Client.
            $("#ddlClient").val('default');
            $("#ddlClient").selectpicker("refresh");
            $("#divClient").show();
        }
        else if (CategoryTypeID == "3") {//3 Regulatory Agency
            $("#ddlRegulatoryAgency").val('default');
            $("#ddlRegulatoryAgency").selectpicker("refresh");
            $("#divRegulatory").show();
            $("#ddlClient").val('default');
            $("#ddlClient").selectpicker("refresh");
            //$("#divClient").show();
        }
        // For Loading the Type Of based on Category Type ID
        var TypeOfRepresents = 0;
        if (CategoryTypeID == "1" || CategoryTypeID == "3") {  //1 for self-Inspection and 3 for Regulatory Inspection Then it is totally for Inspection
            TypeOfRepresents = 2; //For Inspection
        }
        else if (CategoryTypeID=="4"){ //4 This is Audit
            TypeOfRepresents = 1;
        }
        $("#ddlTypeOfAudit").empty();
        $("#ddlTypeOfAudit").append($("<option></option>").val("0").html(" -- Select Type Of Audit --"));
       // $("#ddlTypeOfAudit").removeAttr('disabled');
        if (TypeOfRepresents!=0) {
             $.post("@Url.Content("~/QMS/AuditMain/GetTypeOfList")?TypeOfRepresents=" + TypeOfRepresents,
                 function (result) {
                     if (result.msgRedirecttoLoginPage) {
                         window.location.href = '/UserLogin.aspx';
                     }
                     else {
                         switch (result.msgType) {
                             case "error":
                                 custAlertMsg(result.msg, "error");
                                 break;
                             case "info":
                                 custAlertMsg(result.msg, "info");
                                 break;
                             case "warning":
                                 custAlertMsg(result.msg, "warning");
                                 break;
                             case "success":
                                 $(result.msg).each(function () {
                                     $("#ddlTypeOfAudit").append($("<option></option>").val(this.Value).html(this.Text));
                                 });
                                 $("#ddlTypeOfAudit").val('default');
                                 $("#ddlTypeOfAudit").selectpicker("refresh");
                                 break;
                         }
                     }
            }, 'json');
        }

            $("#ddlTypeOfAudit").val('default');
            $("#ddlTypeOfAudit").selectpicker("refresh");
        }
         //On BusinessDivision DDL Change Load the ActiveSites Dropdown by BusinessDivisionID
    function OnBusinessDivisionChange(BusinessDivisionID) {
        $("#ddlSite").empty();
        if (BusinessDivisionID!="0") {

        $.post("@Url.Content("~/QMS/AuditMain/GetSiteListByBusinessDivisionID")?BusinessDivisionID=" + BusinessDivisionID,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            $(result.msg).each(function () {
                                $("#ddlSite").append($("<option></option>").val(this.Value).html(this.Text));
                                $("#ddlSite").val('default');
                                $("#ddlSite").selectpicker("refresh");
                            });
                            break;
                    }
                }
            }, 'json');
        }
        $("#ddlSite").val('default');
        $("#ddlSite").selectpicker("refresh");
    }
    </script>
    <!--End For Dropdowns Change load the dependency ddls-->
    <script>
    var HasAuditHeadQARole = "False";
    var HasAuditQARole = "False";
    var TypeOfList = "";
    var CategoryID = "0";
    var CategoryTypeID = "0";
    var AuditStatusID="0";
    var TypeOfAuditID = "0";
    var RegulatoryAgencyID = "0";
    var ClientID = "0";
    var BusinessDivisionID = "0";
    var AuditSiteIDs = [];
    var FromAuditDate = "";
    var ToAuditDate = "";

     if ('@ViewBag.CategoryTypeID' != "" && '@ViewBag.CategoryTypeID' != "0" &&'@ViewBag.AuditStatusID' != "" && '@ViewBag.AuditStatusID' != "0" &&
        (('@ViewBag.CategoryTypeID' == "3" && '@ViewBag.RegulatoryAgencyID' != "0") || ('@ViewBag.CategoryTypeID' == "4" && '@ViewBag.ClientID' != "0"))
       )
     {
         AuditStatusID = '@ViewBag.AuditStatusID';
         CategoryTypeID = '@ViewBag.CategoryTypeID';
         $("#ddlCategoryType").val(CategoryTypeID);
         OnCategoryTypeChange(CategoryTypeID);
        if (CategoryTypeID=="3") {
            RegulatoryAgencyID = '@ViewBag.RegulatoryAgencyID';
            $("#ddlRegulatoryAgency").val(RegulatoryAgencyID);
            $("#ddlRegulatoryAgency").selectpicker("refresh");
        }
        if (CategoryTypeID=="4") {
            ClientID = '@ViewBag.ClientID';
            $("#ddlClient").val(ClientID);
            $("#ddlClient").selectpicker("refresh");
        }
        $("#btnAuditFilterPopupOpen").html('Filter Applied');
    }

        $(function () {
          TypeOfList = '@ViewBag.TypeOfList';
          ObservationTypeOfList='@ViewBag.TypeOfList';
          HasAuditHeadQARole = '@ViewBag.HasAuditHeadQARole';
          HasAuditQARole = '@ViewBag.HasAuditQARole';
           switch (TypeOfList) {
               case "Pending":
                   $("#btnCreateAudit").show();
                   $("#auditListTitle").html("Audit Pending List");
                   loadAuditReportList();
                   break;
               case "OnlyHeadQAReverted":
                   $("#auditListTitle").html("Audit Revert List");
                   loadAuditReportList();
                   break;
               case "ObservationResponseCompleted":
                   $("#auditListTitle").html("Audit Complete Pending List");
                   loadAuditReportList();
                   break;
               case "Review":
                   $("#auditListTitle").html("Audit Review List");
                   loadAuditReportList();
                   break;
               case "OnlyForApproval":
                   $("#auditListTitle").html("Audit Approval List");
                   loadAuditReportList();
                   break;
               case "Assigned":
                   $("#auditListTitle").html("Audit Assigned List");
                   loadAuditReportList();
                   break;
               case "AuditReportMain":
                   $("#divddlTypeOfReport").show();//If it is main list showing the Filter Dropdown
                  // $("#btnAuditFilterPopupOpen").show();//If it is main list showing the Filter Button
                   $("#ddlTypeofReport").val("1");
                   $("#ddlTypeofReport").selectpicker("refresh");
                   OnddlTypeofReportChange("1");
                   break;
               case "ObservationReportMain":
                   $("#divddlTypeOfReport").show();//If it is main list showing the Filter Dropdown
                 //  $("#btnAuditFilterPopupOpen").show();//If it is main list showing the Filter Button
                   $("#ddlTypeofReport").val("2");
                   $("#ddlTypeofReport").selectpicker("refresh");
                   OnddlTypeofReportChange("2");
                   break;
               case "ObservationAssignedCompleteList":
                   $("#auditListTitle").html("Observation Assigned List");
                   ShowObservationList();
                   break;
               case "ObservationReviewCompleteList":
                   $("#auditListTitle").html("Observation Response Review List");
                   ShowObservationList();
                   break;
               case "AllDueAndOverDueObservationsList":
                   $("#auditListTitle").html("Observation Due and Over Due List (All)");
                   ShowObservationList();
                   break;
               case "AllObservationDueDateReminder":
                   $("#auditListTitle").html("Observation Due Date in a week List (All)");
                   ShowObservationList();
                   break;
               case "ObservationApprovalPending":
                   $("#auditListTitle").html("Observation Response Approval Pending List");
                   ShowObservationList();
                   break;
               case "ObservationRevertedResponse":
                   $("#auditListTitle").html("Observation Response Reverted List");
                   ShowObservationList();
                   break;
               case "ObservationAcceptPending":
                   $("#auditListTitle").html("Observation Accept Pending List");
                   ShowObservationList();
                   break;
               case "ObservationResponsePending":
                   $("#auditListTitle").html("Observation Response Pending List");
                   ShowObservationList();
                   break;
               case "ObservationDueDateReminderToHOD":
                   $("#auditListTitle").html("Assigned Observation Due Date Reminder List");
                   ShowObservationList();
                   break;
               case "ObservationOverDueToHOD":
                   $("#auditListTitle").html("Assigned Observation Over Due List");
                   ShowObservationList();
                   break;
               case "AllObservationOverDueDate":
                   $("#auditListTitle").html("Observation Over Due (All)");
                   ShowObservationList();
                   break;
           }
           //if (TypeOfList !="ObservationReportMain") {
               //loadAuditReportList();
          // }
      });

    //For Making Public or removing public
    function SubmitISPublic(AudtID, CheckBox) {
        var IsPublic = false;
        if (CheckBox.is(':checked')) {
            IsPublic = true;
        }
        AjaxCallSubmitIsPublic(AudtID, IsPublic);
    }
       //Ajax call for Submitting the Is Public to DB
    function AjaxCallSubmitIsPublic(AuditID, IsPublic) {
        $.post("@Url.Content("~/QMS/AuditMain/MakeAuditReportIsPublic")?AuditID=" + AuditID + "&IsPublic=" + IsPublic,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg(result.msg, "success");
                            break;
                    }
                }
            }, 'json');
    }

    </script>
    <!--Begin script AuditReport Datatable-->
    <script>
    var oAuditReportList;
    function loadAuditReportList()
    {
          if (oAuditReportList != null)
          {
            oAuditReportList.destroy();
          }

         oAuditReportList = $('#tblAuditReportList').DataTable({
            columns: [
                { 'data': 'AuditID' },
                { 'data': 'AuditNum' },
                { 'data': 'Category' },
                { 'data': 'CategoryType' },
                { 'data': 'BusinessDivision' },
                { 'data': 'NoOfAuditDays' },
                { 'data': 'AuditDates' },
                { 'data': 'ReportedDate' },
                { 'data': 'AuditStatus' },
                { 'data': 'IsPublic' },
                { 'data': 'ActionStatusID' },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a class="view" title="View Audit" href="#" onclick="ViewAuditReportAs(' + o.AuditID + ',\'' + TypeOfList + '\',' + o.ActionStatusID + ');"></a>';
                    }
                },//11
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        if (o.ActionStatusID == 8 || o.ActionStatusID == 9 || o.ActionStatusID == 10) {
                            if (o.IsPublic == "Yes") {
                                return "<input style='margin-top:7px;' type='checkbox' checked onclick='SubmitISPublic(" + o.AuditID + ",$(this))'/>";
                            }
                            else {
                                return '<input style="margin- top:7px;" type="checkbox" onclick="SubmitISPublic(' + o.AuditID + ', $(this))"/>';
                            }
                        }
                        else {
                            return '-NA-'
                        }
                    }
                }//12
            ],
              "aoColumnDefs": [{ "targets": [0,6,9,10], "visible": false, "searchable": false },
                { className: "textAlignCenter", "targets": [5,7,11,12] }],
             "sAjaxSource": "@Url.Content("~/QMS/AuditMain/GetAuditReportList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "TypeOfList", "value": TypeOfList },
                    { "name": "CategoryID", "value": CategoryID },
                    { "name": "CategoryTypeID", "value": CategoryTypeID },
                    { "name": "AuditStatusID", "value": AuditStatusID },
                    { "name": "TypeOfAuditID", "value": TypeOfAuditID },
                    { "name": "RegulatoryAgencyID", "value": RegulatoryAgencyID },
                    { "name": "ClientID", "value": ClientID },
                    { "name": "BusinessDivisionID", "value": BusinessDivisionID },
                    { "name": "AuditSiteIDs", "value": AuditSiteIDs },
                    { "name": "FromAuditDate", "value": FromAuditDate },
                    { "name": "ToAuditDate", "value": ToAuditDate }
                );
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else if (result.msgType=="error") {
                                custAlertMsg(result.msg, "error");
                            }
                            else {
                                fnCallback(result);
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                               // var msg = textStatus;
                                var msg = "";
                                if (xhr.status === 0) {
                                    msg = 'No server Connection, Verify Network.';
                                } else if (xhr.status == 404) {
                                    msg = 'Requested page not found. [404]';
                                } else if (xhr.status == 500) {
                                    msg = 'Internal Server Error [500].';
                                }
                                if (msg!="") {
                                    custAlertMsg(msg, "error");
                                }
                            }
                        }
                });
            }
         });
        if (HasAuditHeadQARole == "True" && TypeOfList =="AuditReportMain") {
            $('#tblAuditReportList').DataTable().columns([0,6, 9, 10]).visible(false);
        }
        else {
            $('#tblAuditReportList').DataTable().columns([0, 6,9, 10,12]).visible(false);
         }
      //If user had HeadQARole and he is from:
      //1) Review list
        //If user had Audit QA role and he is from :
      //  1)main list(left navi, he can change his records(Response Approval, Audit Completion)
      // 2) Pending list or OnlyHeadQAReverted , he can modify the Audit Report
      //  so make the column name to Action and not view.
        if (
            (HasAuditHeadQARole == "True" && (TypeOfList == "Review" || TypeOfList=="OnlyForApproval"))
            ||
            (HasAuditQARole == "True" && (TypeOfList == "AuditReportMain" || TypeOfList == "Pending" || TypeOfList == "OnlyHeadQAReverted" || TypeOfList=="ObservationResponseCompleted"))
        ) {
             $(oAuditReportList.column(11).header()).text('Action');
        }
        //oAuditReportList.search('CAR003').draw();
        }

    function ViewAuditReportAs(auditID,TypeOfList,CurrentStatus)
    {

        if ((CurrentStatus == "3" || CurrentStatus == "1") && (TypeOfList == "Pending" || TypeOfList =="OnlyHeadQAReverted")) {
            window.open('@Url.Content("~/QMS/AuditMain/ModifyAuditReport?AuditID=")' + auditID + "&AuditCurrentStatusID=" + CurrentStatus + "&FromListType=" + TypeOfList,'_self');
        }
        else
        {
           // var CurrentURL = window.location.href;
            var ExtraQueryStringForChartRecords = window.location.search;
            //url = url.split("&").pop();
            //url = url.substr(0, url.indexOf('&'));
            //var testStr = "sometext-20202"
            ExtraQueryStringForChartRecords = ExtraQueryStringForChartRecords.substring(ExtraQueryStringForChartRecords.indexOf('&') + 1);
            //alert(encodeURI(url));
            if (ExtraQueryStringForChartRecords.match("CategoryTypeID") && ExtraQueryStringForChartRecords.match("RegulatoryCodeOrClientName") && ExtraQueryStringForChartRecords.match("AuditStatusID")) {
                window.open('@Url.Content("~/QMS/AuditMain/ViewAuditReport?AuditID=")' + auditID + "&viewType=" + TypeOfList + "&" + encodeURI(ExtraQueryStringForChartRecords), '_self');
            }
            else {
                window.open('@Url.Content("~/QMS/AuditMain/ViewAuditReport?AuditID=")' + auditID + "&viewType=" + TypeOfList,'_self');
            }
        }
    }
    </script>
    <!--End script AuditReport Datatable-->
    <script>
        //For reseting the Filter variable to 0
        function ResetAuditFilterVariables() {
            CategoryID = "0";
            CategoryTypeID = "0";
            TypeOfAuditID = "0";
            RegulatoryAgencyID = "0";
            ClientID = "0";
            BusinessDivisionID = "0";
            AuditSiteIDs = [];
            FromAuditDate = "";
            ToAuditDate = "";
        }
        //For Validating Filter Criteria
        function ValidateAuditFilterCriteria() {
            if ($('#ddlTypeofReport').val() == "1") {//For Audit filter
                var Category = $("#ddlCategory").val();
                var CategoryType = $("#ddlCategoryType").val();
                var TypeOfAudit = $("#ddlTypeOfAudit").val();
                var RegulatoryAgency = $("#ddlRegulatoryAgency").val();
                var Client = $("#ddlClient").val();
                var BusinessDivision = $("#ddlBusinessDivision").val();
                var SiteIDs = GetDropDownSelectedValues('ddlSite');//Arry of SiteIDs.
                var FromDate = $("#txtAuditFromDate").val();
                var ToDate = $("#txtAuditToDate").val();
                errors = [];
                //Checkin wethere there's atleast one filter fcriteria selected
                if (
                    //(Category == "" || Category == "0" || Category == null) &&
                    (CategoryType == "" || CategoryType == "0" || CategoryType == null) &&
                    (TypeOfAudit == "" || TypeOfAudit == "0" || TypeOfAudit == null) && (RegulatoryAgency == "" || RegulatoryAgency == "0" || RegulatoryAgency == null) &&
                    (Client == "" || Client == "0" || Client == null) && (BusinessDivision == "" || BusinessDivision == "0" || BusinessDivision == null) &&
                    (SiteIDs.length == 0) && (FromDate == "" || FromDate == null) && (ToDate == "" || ToDate == null)
                ) {
                    errors.push("Select atleast one Filter Criteria to Apply");
                }
                //If From date is given to date is mandatory
                if ((FromDate != "" && FromDate != null) && (ToDate == "" || ToDate == null)) {
                    errors.push("Select Audit End Date");
                }
                //If to date is given from date is mandatory
                if ((ToDate != "" && ToDate != null) && (FromDate == "" || FromDate == null)) {
                    errors.push("Select Audit Start Date");
                }
                if (errors.length > 0) {
                    custAlertMsg(errors.join(",<br/>") + ".", "error");
                    return false;
                }
                else {
                    ResetAuditFilterVariables();
                    if (Category != "" && Category != "0" && Category != null) {
                        CategoryID = Category;
                    }
                    if (CategoryType != "" && CategoryType != "0" && CategoryType != null) {
                        CategoryTypeID = CategoryType;
                    }
                    if (TypeOfAudit != "" && TypeOfAudit != "0" && TypeOfAudit != null) {
                        TypeOfAuditID = TypeOfAudit;
                    }
                    if (RegulatoryAgency != "" && RegulatoryAgency != "0" && RegulatoryAgency != null) {
                        RegulatoryAgencyID = RegulatoryAgency;
                    }
                    if (Client != "" && Client != "0" && Client != null) {
                        ClientID = Client;
                    }
                    if (BusinessDivision != "" && BusinessDivision != "0" && BusinessDivision != null) {
                        BusinessDivisionID = BusinessDivision;
                    }
                    if (SiteIDs.length != 0) {
                        AuditSiteIDs = SiteIDs;
                    }
                    if (FromDate != "" && FromDate != null) {
                        FromAuditDate = FromDate;
                    }
                    if (ToDate != "" && ToDate != null) {
                        ToAuditDate = ToDate;
                    }
                    $("#btnAuditFilterPopupOpen").text('Audit Filter Applied');
                    $('#modalAuditFilter').modal('hide');
                    LoadAuditReportMianList();
                    //alert("Category=" + Category + ",CategoryType= " + CategoryType + ",TypeOfAudit=" + TypeOfAudit + ",RegulatoryAgency="
                    //    + RegulatoryAgency + ",Client=" + Client + ",BusinessDivision=" + BusinessDivision + ",SiteIDs=" + SiteIDs + ",FromDate="
                    //    + FromDate + ",ToDate=" + ToDate);
                }
            }
            else {

                var ddlObservationSite = $("#ddlObservationSite").val();
                var ddlDepartment = $("#ddlDepartment").val();
                var ddlObservationCategory = $("#ddlObservationCategory").val();
                var txtObservationFromDate = $("#txtObservationFromDate").val();
                var txtObservationToDate = $("#txtObservationToDate").val();
                errors = [];
                //Checkin wethere there's atleast one filter fcriteria selected
                if (
                    (ddlObservationSite == "" || ddlObservationSite == "0" || ddlObservationSite == null) &&
                    (ddlDepartment == "" || ddlDepartment == "0" || ddlDepartment == null) &&
                    (ddlObservationCategory == "" || ddlObservationCategory == "0" || ddlObservationCategory == null) &&
                    (txtObservationFromDate == "" || txtObservationFromDate == null) && (txtObservationToDate == "" || txtObservationToDate == null)
                ) {
                    errors.push("Select atleast one Filter Criteria to Apply");
                }
                //If From date is given to date is mandatory
                if ((txtObservationFromDate != "" && txtObservationFromDate != null) && (txtObservationToDate == "" || txtObservationToDate == null)) {
                    errors.push("Select To Observation Due Date");
                }
                //If to date is given from date is mandatory
                if ((txtObservationToDate != "" && txtObservationToDate != null) && (txtObservationFromDate == "" || txtObservationFromDate == null)) {
                    errors.push("Select From Observation Due Date");
                }
                if (errors.length > 0) {
                    custAlertMsg(errors.join(",<br/>") + ".", "error");
                    return false;
                }
                else {
                    ResetObservationFilterVariables();
                    if (ddlObservationSite != "" && ddlObservationSite != "0" && ddlObservationSite != null) {
                        ObservationSiteID = ddlObservationSite;
                    }
                    if (ddlDepartment != "" && ddlDepartment != "0" && ddlDepartment != null) {
                        ObservationDepartmentID = ddlDepartment;
                    }
                    if (ddlObservationCategory != "" && ddlObservationCategory != "0" && ddlObservationCategory != null) {
                        ObservationCategoryID = ddlObservationCategory;
                    }
                    if (txtObservationFromDate != "" && txtObservationFromDate != null) {
                        FromObservationDate = txtObservationFromDate;
                    }
                    if (txtObservationToDate != "" && txtObservationToDate != null) {
                        ToObservationDueDate = txtObservationToDate;
                    }
                    $("#btnObservationFilterPopupOpen").text('Observation Filter Applied');
                    $('#modalAuditFilter').modal('hide');
                    LoadAuditObservationReportList();
                }
            }
        }

        //On Cancel Click of Filter
        function CancelAuditFilterCriteria() {
            if ($('#ddlTypeofReport').val() == "1") {//For Audit filter
                ResetAuditFilterVariables();
                //$("#ddlCategory").val('0');
                //$("#ddlCategory").selectpicker("refresh");
                $("#ddlCategoryType").val('0');
                $("#ddlCategoryType").selectpicker("refresh");
                $("#ddlTypeOfAudit").empty();
                $("#ddlTypeOfAudit").val('0');
                $("#ddlTypeOfAudit").selectpicker("refresh");
                $("#ddlRegulatoryAgency").val('default');
                $("#ddlRegulatoryAgency").selectpicker("refresh");
                $("#ddlClient").val('default');
                $("#ddlClient").selectpicker("refresh");
                $("#ddlBusinessDivision").val('0');
                $("#ddlBusinessDivision").selectpicker("refresh");
                $("#ddlSite").empty();
                $("#ddlSite").val('default');
                $("#ddlSite").selectpicker("refresh");
                $("#txtAuditFromDate").val("");
                $("#txtAuditToDate").val("");
                $("#divRegulatory").hide();
                $("#divClient").hide();
                if ($('#btnAuditFilterPopupOpen').text() == "Audit Filter Applied") {
                    LoadAuditReportMianList();
                }
                $("#btnAuditFilterPopupOpen").html('Apply Filter');
            }
            else//For Observation Filter
            {
                ResetObservationFilterVariables();
                $("#ddlObservationSite").val('0');
                $("#ddlObservationSite").selectpicker("refresh");
                $("#ddlDepartment").val('0');
                $("#ddlDepartment").selectpicker("refresh");
                $("#ddlObservationCategory").val('0');
                $("#ddlObservationCategory").selectpicker("refresh");
                $("#txtObservationFromDate").val("");
                $("#txtObservationToDate").val("");
                if ($('#btnObservationFilterPopupOpen').text() == "Observation Filter Applied") {
                    LoadAuditObservationReportList();
                }
                $("#btnObservationFilterPopupOpen").html('Apply Filter');
            }
            $('#modalAuditFilter').modal('hide');

        }
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
        });
        $('.selectpicker1').selectpicker({
            showSubtext: true,
        });

        function LoadAuditObservationReportList() {
            $('#btnObservationFilterPopupOpen').show();
            $('#btnAuditFilterPopupOpen').hide();
            loadObservationReportList();
        }
        function LoadAuditReportMianList() {
            $('#btnObservationFilterPopupOpen').hide();
            $('#btnAuditFilterPopupOpen').show();
            loadAuditReportList();
        }
    </script>

    <script>
        //Copy to ViewAuditObservationListHodAndQA
        //To load the Attachment to this popup
        function ViewAttachments(BaseID, BaseType, FileName) {
            // $("#divFileName").text(FileName);
            var dvShow = document.getElementById("dvAttachmentFrame");
            dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMS_Audit/QMS_AuditAttachmentViewer.aspx?BaseID=" + BaseID + "&BaseType=" + BaseType + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
            $("#modalViewAttachments").modal('show', { backdrop: 'static', keyboard: false });
        }
    </script>
}
