﻿@model AizantIT_PharmaApp.Areas.QMS.Models.Audit.ViewModel.AuditReportView
@{
    ViewBag.Title = "Audit Report Details";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<title>@ViewBag.Title</title>
<style>
    .collapseAudit {
        font-size: 21px !important;
    }

    .fixedHeight {
        overflow-y: auto;
        max-height: 70px;
    }

    .fixedHeightTable {
        overflow-y: auto;
        max-height: 165px;
    }
</style>

<input type="hidden" name="AuditMode" id="hdnAuditMode" value="View" />
<input type="hidden" name="AuditStatus" id="hdnAuditCreationStatusID" value="1" />
<input type="hidden" name="ResponseID" id="hdnResponseID" value="0" />
<input type="hidden" name="FromListType" id="hdnFromListType" value="" />
<input type="hidden" name="ObservationNameInSearchBox" id="hdnObservationNameInSearchBox" value="" />

@*<link href="@Url.Content("~/AppCSS/Common/Progress.css")" rel="stylesheet" />*@

@if (ViewBag.SysError == "" || ViewBag.SysError == null)
{
    <div class="col-lg-6 float-left padding-none">
        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6 float-right padding-none">
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none">
                <a class=" btn-signup_popup float-right bottom" onclick="BackToList();" href='#'>Back to list</a>
            </div>
        </div>
    </div>
}
@Html.HiddenFor(model => model.AuditID)
@Html.HiddenFor(model => model.ActionStatusID)
@Html.HiddenFor(model => model.AuditCurrentStatusID, new { @id = "hdnAuditCurrentStatusID", @name = "AuditCurrentStatusID" })
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title AuditMainDetailsCollapse">
    <div>Audit Report<i class="collapseAudit float-right fa fa-minus-circle"></i></div>
</div>
@if (ViewBag.SysError != "" && ViewBag.SysError != null)
{
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="text-align:center;color:red">
        @ViewBag.SysError
    </div>
}
else
{
    <script>
        //Written here since it should be assigned before the Observations list script gets executed.
        if ("@Model.AuditStatus" == "Completed")
        {
            $("#hdnAuditCreationStatusID").val("2");
        }
        if ("@Model.ObservationNameInSearchBox" != "")
        {
            $("#hdnObservationNameInSearchBox").val("@Model.ObservationNameInSearchBox");
        }
    </script>
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel padding-none">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                    <div class="headerInfo col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  content_bg">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">
                            <div class="col-xl-4 col-md-3 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Audit Number</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 custom_label col-form-label" id="divAuditReportNumber">
                                        @Html.DisplayFor(model => model.AuditNum)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-3 col-sm-6 col-lg-6 float-left col-6 padding-none float-left ">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Category</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6   custom_label col-form-label">
                                        @Html.DisplayFor(model => model.Category)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-3 col-sm-6 col-lg-6 float-left col-6 padding-none float-left ">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Category Type</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label" id="divCategoryType">
                                        @Html.DisplayFor(model => model.CategoryType)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">


                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Type of Audit</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1  custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label">
                                        @Html.DisplayFor(model => model.TypeOfName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label for="" class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Business Division</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label">
                                        @Html.DisplayFor(model => model.BusinessDivision)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Site's</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label fixedHeight">
                                        @Html.DisplayFor(model => model.Sites)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">


                            @if (Model.RegulatoryAgency != "" && Model.RegulatoryAgency != null)
                            {
                                <div id="divRegulatoryAgencySection">
                                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <label class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Country/Region</label>
                                            <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                            <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label">
                                                @Html.DisplayFor(model => model.RegionName)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <label class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left fixedHeight">Regulatory Agency</label>
                                            <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                            <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label">
                                                @Html.DisplayFor(model => model.RegulatoryAgency)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Nature of Inspection</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label">
                                        @Html.DisplayFor(model => model.NatureOfInspection)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">

                            @if (Model.ClientName != "" && Model.ClientName != null)
                            {
                                <div id="divClientSection" class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        @if (Model.RegulatoryAgency != "" && Model.RegulatoryAgency != null)
                                        {
                                            <label class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Initiated By</label>
                                        }
                                        else
                                        {
                                            <label class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Client</label>
                                        }
                                        <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                        <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label">
                                            @Html.DisplayFor(model => model.ClientName)
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label for="" class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left fixedHeight">Auditor/s</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label fixedHeight">
                                        @Html.DisplayFor(model => model.Auditors)
                                    </div>
                                </div>
                            </div>



                            @if (Model.Observers != "" && Model.Observers != null)
                            {
                                <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <label for="" class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left fixedHeight">Observer/s</label>
                                        <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                        <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label fixedHeight">
                                            @Html.DisplayFor(model => model.Observers)
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label for="" class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left fixedHeight">Audit Date/s</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label fixedHeight">
                                        @Html.DisplayFor(model => model.AuditedDates)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    @*<label for="" class="col-xl-5 custom_label col-form-label float-left">Audit Reported Date</label> Commented Because of TaskID:4618 Check List ID:7*@
                                    <label for="" class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Date of Audit Report</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label">
                                        @Html.DisplayFor(model => model.AuditReportedDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label for="" class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Response Due Date</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label">
                                        @Html.DisplayFor(model => model.AuditDueDate)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">
                            @if (((new int[] { 6 }.Contains(Model.ActionStatusID) && ViewBag.EmpRole != "Author") || Model.ActionStatusID != 6))
                            {
                                <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <label for="" class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Status</label>
                                        <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                        <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label">
                                            @Html.DisplayFor(model => model.AuditStatus)
                                        </div>
                                    </div>
                                </div>
                            }


                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label for="" class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Author</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label fixedHeight">
                                        @Html.DisplayFor(model => model.AuthorName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <label for="" class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Approver</label>
                                    <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                    <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label fixedHeight">
                                        @Html.DisplayFor(model => model.ApproverName)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">
                            @if (Model.CertifiedDate != "" && Model.CertifiedDate != null && ((new int[] { 6 }.Contains(Model.ActionStatusID) && ViewBag.EmpRole != "Author") || Model.ActionStatusID != 6))
                            {
                                <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        @*<label for="" class="col-xl-5 custom_label col-form-label float-left">Certified Date</label> According to TaskID:4618 and CheckListID:11*@
                                        <label for="" class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Date of Certificate</label>
                                        <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                        <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label">
                                            @Html.DisplayFor(model => model.CertifiedDate)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                                    <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        @*<label for="" class="col-xl-5 custom_label col-form-label float-left">Certificate Expires</label> according to TasKId:4618 and Checklist ID:12*@
                                        <label for="" class="col-xl-5 col-lg-4 col-md-4 custom_label col-form-label float-left">Certificate Valid Up To</label>
                                        <div class="col-xl-1 col-lg-1 col-md-1 custom_label col-form-label"> :</div>
                                        <div class="col-xl-6 col-lg-6 col-md-6  custom_label col-form-label">
                                            @Html.DisplayFor(model => model.CertificateValidUntil)
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @if (new int[] { 6 }.Contains(Model.ActionStatusID) && ViewBag.EmpRole == "Author")
                {
                    <div id="divAuditCompletion" class="col-12 float-left padding-none  bottom" style="border-bottom:1px solid #d4d4d4;">
                        <div class="col-xl-3 col-md-3 col-sm-6 col-lg-3 float-left col-6 padding-none bottom">
                            <div class="col-12 padding-none">
                                <label for="txtAuditCertificateDate" class="col-12 custom_label col-form-label">Date of Certificate</label>
                                <div class="col-sm-12 ">
                                    <input id="txtAuditCertificateDate" value="@Html.DisplayFor(model => model.CertifiedDate)" placeholder="Select Date of Certificate " class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 col-sm-6 col-lg-3 float-left col-3 padding-none bottom">
                            <div class="col-12 padding-none">
                                <label for="txtAuditCertificateValidUntilDate" class="col-12 custom_label col-form-label">Certificate Valid Up To</label>
                                <div class="col-sm-12 ">
                                    <input id="txtAuditCertificateValidUntilDate" value="@Html.DisplayFor(model => model.CertificateValidUntil)" placeholder="Select Certificate Valid Up To" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-xl-12 col-md-12 col-sm-12 top col-lg-12 float-left col-12">
                    <ul class="nav nav-pills tab_grid">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#AuditObservation">Observations</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#AuditAttachments">Attachments</a></li>
                        @if (Model.IsApproved == "Y" && (Model.CountOFAuditResponseReport > 0 || (Model.CountOFAuditResponseReport == 0 && Model.AuditStatus == "Open" && ViewBag.EmpRole == "Approver" && Model.ShowARR_Button == "Y")))
                        {
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tabAuditResponseReport">Audit Response</a></li>
                        }
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#AuditHistory" id="liAuditHistory">History</a></li>
                    </ul>
                    <div class="tab-content tab_content_assigment float-left col-lg-12 padding-none " id="test">
                        <div id="AuditObservation" class="tab-pane active">
                            <div class="grid_panel_hod col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none bottom top">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none  top ">
                                    @Html.Partial("QmsAudit/_AuditObservations")
                                </div>
                            </div>
                        </div>
                        <div id="AuditAttachments" class="tab-pane">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none grid_panel_hod bottom top">
                                @if (new int[] { 5, 6, 7 }.Contains(Model.ActionStatusID) && ViewBag.EmpRole == "Author")
                                {
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12">
                                            <button type="button" data-toggle="modal" data-target="#modalAuditAttachmentUpload" data-backdrop="static" data-keyboard="false"
                                                    class="btn btn-signup_popup float-right">
                                                Add Attachment
                                            </button>
                                        </div>
                                    </div>
                                }
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  top padding-none ">
                                    @Html.Partial("~/Areas/QMS/Views/Shared/QmsAudit/_AuditAttachments.cshtml")
                                </div>
                            </div>
                        </div>
                        <div id="tabAuditResponseReport" class="tab-pane">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none grid_panel_hod top bottom">
                                @if (ViewBag.EmpRole == "Approver" && Model.ShowARR_Button == "Y")
                                {
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  ">
                                            <button type="button" class="btn btn-signup_popup float-right" id="btnGenerateAuditResponse" onclick="onReportClickConfirmForObservationResponseDescEdit();">
                                                Generate Audit Response
                                            </button>
                                        </div>
                                    </div>
                                }
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  top  padding-none">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  top  padding-none">
                                        @Html.Partial("~/Areas/QMS/Views/Shared/QmsAudit/_AuditResponseReportList.cshtml")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="AuditHistory" class="tab-pane">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none grid_panel_hod top bottom">
                                @Html.Partial("~/Areas/QMS/Views/Shared/QmsAudit/_HistoryDetailsInAudit.cshtml")
                            </div>
                        </div>
                    </div>
                </div>

                @if (new int[] { 2, 4 }.Contains(Model.ActionStatusID) && ViewBag.EmpRole == "Approver")
                {
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none" style="position:relative;">
                        <div class=" col-xl-12 col-md-12 col-sm-12  col-lg-12 float-left col-12 ">
                            <label class="custom_label col-form-label">Comments</label>
                            <textarea class="form-control" rows="3" id="txtAuditcomment" name="AuditComments" placeholder="Enter Comments" maxlength="250"></textarea>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6  col-md-6 col-sm-6 col-lg-6 float-left col-6 padding-none" style="position:relative;">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6  col-md-6 col-sm-6 col-lg-6 float-right text-right col-6 bottom">
                            <a class="top btn btn-signup_popup" title="Approve" href="#" onclick="ApprovalAction('Approved');">Approve</a>
                            <a class="top btn btn-cancel_popup" title="Revert" href="#" onclick="ApprovalAction('Revert');" style="margin-left:0%;">Revert</a>
                        </div>
                    </div>
                }
                @if (new int[] { 6 }.Contains(Model.ActionStatusID) && ViewBag.EmpRole == "Author")
                {
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none" style="position:relative;">
                        <div class=" col-xl-12 col-md-12 col-sm-12  col-lg-12 float-left col-12 ">
                            <label class=" custom_label col-form-label" for="txtAuditCompletionComment">Comments</label>
                            <textarea class="form-control" rows="3" id="txtAuditCompletionComment" name="AuditComments" onkeypress="return ValidateFreeText(event);" onpaste="return ValidateFreeTextOnPaste();" placeholder="Enter Comments" maxlength="250"></textarea>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6  col-md-6 col-sm-6 col-lg-6 float-left col-6 padding-none" style="position:relative;">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6  col-md-6 col-sm-6 col-lg-6 float-right text-right col-6 bottom">
                            <a class="top btn btn-signup_popup" title="click here to close this audit" href="#" onclick="SubmitAuditCompletion();">Submit Completion</a>
                            <a class="top btn btn-cancel_popup" title="Cancel" onclick="BackToList();" href="#" style="margin-left:0%;">Cancel</a>
                        </div>
                    </div>
                }
            </div>

            @Html.Partial("~/Areas/QMS/Views/Shared/QmsAudit/_AuditAttachmentFileUpload.cshtml")
            @Html.Partial("~/Areas/QMS/Views/AuditMain/_ViewObservationHistory.cshtml")
            @Html.Partial("~/Areas/QMS/Views/Shared/QmsAudit/_ResponseAttachmentList.cshtml")
            @Html.Partial("~/Areas/QMS/Views/Shared/QmsAudit/_ViewAttachments.cshtml")
        </div>

        @Html.Partial("_ElectronicPartialView")
        @Html.Partial("~/Areas/QMS/Views/AuditMain/_ViewResponseDetails.cshtml")

        <!--Modal popup for Cover letter attachment-->
        <div id="modalAuditResponseCoverLetterAttachmentUpload" class="modal department fade" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <!-- Modal content-->
                <div class="modal-content">
                    <form enctype="multipart/form-data">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Cover Letter</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                <label class=" custom_label col-form-label"></label>
                                <div class="file-loading">
                                    <input id="fuAuditResponseReportCoverLetter" class="custom-file-input" name="AuditResponseReportCoverLetterUpload" type="file" accept="application/pdf">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer ">
                            <div class="col-12 float-left text-right">
                                <button type="button" class="btn btn-cancel_popup top" data-dismiss="modal" onclick="GenereteAuditResponseReport();">Skip & Generate Audit Response</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--To Show Attachment Delete-->
        <div>
            @if (new int[] { 1, 3, 5, 6, 7 }.Contains(Model.ActionStatusID) && ViewBag.EmpRole == "Author")
            {
                <script type="text/javascript">
                    showAuditAttachmentColumns = [0];
                </script>
            }
        </div>

        <!--Ml Feature Checking-->
        <script src="~/AppScripts/ML_FeaturesChecking.js"></script>
        <script>
            GetMLFeatureChecking(4);//Passing Paramenter Module ID
        </script>
       
        <script>
            //For Attachment Drop down
            var AuditCategoryType = $('#divCategoryType').text().replace(":", "").trim();
        if (AuditCategoryType == "Client Audit") {
                $("#ddlAuditAttachmentType option[value='3']").text("Scribe Notes");
        }
        </script>

        <!--For Attachment Completion-->
        <script>

            function SubmitAuditCompletion() {
                if (($("#txtAuditCertificateDate").val() != "" && $("#txtAuditCertificateValidUntilDate").val() == "")
                    || ($("#txtAuditCertificateDate").val() == "" && $("#txtAuditCertificateValidUntilDate").val() != "")) {
                    if ($("#txtAuditCertificateDate").val() == "") {
                        custAlertMsg("Enter Audit Date of Certificate ", "error");
                    }
                    else {
                        custAlertMsg("Enter Audit Certificate Valid Up to", "error");
                    }
                }
                else {
                    custAlertMsg("You will not be able to Generate Audit Response Report on Closed Audit, Are you sure of closing Audit?", "confirm", "AjaxSubmitAuditCompletion();");
                }
            }

            function AjaxSubmitAuditCompletion()
            {
                var objAuditReport = {
                    "AuditID": $("#AuditID").val(),
                    "AuditCertificateDate": $("#txtAuditCertificateDate").val(),
                    "AuditCertificateValidUntilDate": $("#txtAuditCertificateValidUntilDate").val(),
                    "AuditComments": $("#txtAuditCompletionComment").val()
                };

                ShowPleaseWait('show');
                 $.post("@Url.Content("~/QMS/AuditMain/SubmitAuditCompletion")", objAuditReport,
                     function (result) {
                         ShowPleaseWait('hide');
                         if (result.msgRedirecttoLoginPage) {
                             window.location.href = '/UserLogin.aspx';
                         }
                         else {
                             switch (result.msgType) {
                                 case "error":
                                     custAlertMsg(result.msg, "error");
                                     break;
                                 case "info":
                                     custAlertMsg(result.msg, "info");
                                     break;
                                 case "warning":
                                     custAlertMsg(result.msg, "warning");
                                     break;
                                 case "success":
                                     custAlertMsg(result.msg, "success", "BackToList();");
                                     break;
                             }
                         }
                }, 'json');

            }
        </script>

        <!--Certificate Dates-->
        <script>
            var CurrentServerDate='@Convert.ToDateTime(DateTime.Now).ToString("dd MMM yyyy")';
            $('#txtAuditCertificateDate').datetimepicker({
                format: 'DD MMM YYYY',
                //keyBinds: { 't': null },
                useCurrent: false,
                minDate: new Date('@Html.DisplayFor(model => model.AuditReportedDate)').setHours(0, 0, 0, 0),
                //maxDate: new Date().setHours(23, 59, 59, 59),
                maxDate: new Date(new Date(CurrentServerDate).getFullYear(), new Date(CurrentServerDate).getMonth(), new Date(CurrentServerDate).getDate(), 23, 59, 59),
                widgetPositioning: {
                horizontal: 'right',
                vertical: 'bottom'
                }
            });

            $('#txtAuditCertificateValidUntilDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
                //keyBinds: { t: null },
                minDate: new Date('@Html.DisplayFor(model => model.AuditReportedDate)').setHours(0, 0, 0, 0),
                widgetPositioning: {
                horizontal: 'right',
                vertical: 'bottom'
                }
            });
            $('#txtAuditCertificateDate').on("dp.change", function (e) {
                $('#txtAuditCertificateValidUntilDate').data("DateTimePicker").minDate(e.date);
                CertificateValidUntilDate = $("#txtAuditCertificateValidUntilDate").val();
                if (new Date(new Date(e.date).getFullYear(), new Date(e.date).getMonth(), new Date(e.date).getDate()) > new Date(CertificateValidUntilDate)) {
                $('#txtAuditCertificateValidUntilDate').val("");
                }
            });
            function LoadAuditObservationList() {
                ObservationAuditID = $("#AuditID").val();
                ObservationTypeOfList = "";//Observation List is not loading in View and Creation of Audit Report.
                //ObservationAuditID = $("#AuditID").val();
                if ($("#hdnIsShowAssigned").val() == "Yes") {
                    ObservationTypeOfList = "ShowAssignedtoHODonAudit";
                }
                dataTableObservationInVisibleandNonSearchableColumns = [0,11];
                DefaultObservationReportListOrder = 2;
                loadObservationReportList();
            }
        </script>

        <!--Init View-->
        <script>
            var listType = '@ViewBag.listType';
            ObservationTypeOfList = '@ViewBag.listType';
            if (listType == 'Assigned' || listType == 'AssignedCompleteList' || listType == 'AcceptPending' || listType == 'ResponsePending' || listType == 'RevertedResponse' || listType == "ObservationDueDateReminderToHOD" || listType == "ObservationOverDueToHOD")
            {
                $("#hdnFromListType").val(listType);
                $("#hdnIsShowAssigned").val('Yes')
                LoadAuditObservationList();
            }
            else
            {
                $("#hdnFromListType").val(listType);
                LoadAuditObservationList();
            }
        </script>

        <!--Select Picker In-it-->
        <script>
            var isTrue = '@ViewBag.loadSeletPicker';
            if (isTrue == "Yes") {
                $('.selectpicker').selectpicker({
                                    liveSearch: true,
                    showSubtext: true,
                });
            }

            $(function () {
                $('.AuditMainDetailsCollapse').click(function () {
                    $('.headerInfo').toggle();
                    $(this).find('i').toggleClass('fa-minus-circle fa-plus-circle');
                    $('.dataTable').DataTable().columns.adjust();
                });
            });
        </script>

        <!--Approval Actions-->
        <script>
            var auditApprovalType = "";
            function ApprovalAction(ApprovalType)
            {
                auditApprovalType = ApprovalType;
                if (ApprovalType == "Revert" && $("#txtAuditcomment").val().trim() == "") {
                    custAlertMsg("Comments are mandatory while reverting", "error", "$('#txtAuditcomment').focus();");
                }
                else
                {
                    ElectronicSignPopupOpen('AuditApprovalCallBack');
                }
            }

            function AuditApprovalCallBack()
            {
                var AuditApproval = { "AuditID": $("#AuditID").val(), "ApprovalType": auditApprovalType, "Comments": $("#txtAuditcomment").val().trim() };

                if (auditApprovalType =='Approved') {
                    ShowPleaseWait('show');
                }
                $.post("@Url.Content("~/QMS/AuditMain/AuditApproval")", AuditApproval,
                    function (result)
                    {
                        if (auditApprovalType == 'Approved')
                        {
                            ShowPleaseWait('hide');
                        }
                        if (result.msgRedirecttoLoginPage) {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else
                        {
                            switch (result.msgType) {
                            case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                            case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                            case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                            case "success":
                                    custAlertMsg("Audit Report Number <b>" + $("#divAuditReportNumber").text() + "</b> has been " + result.msg, "success", "OnAuditApprovalSucess();");
                                    //ML feature Checking ,3:ML_FeatureID
                                    if (ML_FeatureIDs.includes(3) == true) {
                                        LoadML_Data();
                                    }
                            break;
                            }
                        }
                    }, 'json');
            }
            //On Audit Revert Success
            function OnAuditApprovalSucess() {
                var ListType = $("#hdnFromListType").val();
                window.open('@Url.Content("~/QMS/AuditMain/InitAuditReportList?listType=")' + ListType, '_self');
            }
        </script>

        <!---To Load ML_Data---->
        <script>
            function LoadML_Data() {
                //var path = window.location.origin;
                // $.getScript(path + "/AppScripts/ML_Setup.js", function (data, textStatus, jqxhr) {
                $.get(AGA_ML_URL + "/audit", { "id": $("#AuditID").val() });
                //});
            }
        </script>

        <!--Call Data table-->
        <script>
            $(function () {
                $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
                    var anchor = $(e.target).attr('href');
                    if (anchor == "#AuditHistory")
                    {
                        ShowHistory('@Url.Content("~/QMS/AuditMain/GetAuditHistoryList")');
                    }
                    else if (anchor == "#AuditAttachments")
                    {
                        loadAuditAttachments();
                    } else if (anchor == "#tabAuditResponseReport")
                    {
                        LoadAuditResponseReportList();
                        }
                    else
                    {
                        LoadAuditObservationList();
                    }
                })
            });

        </script>

        <!--Viewer Role-->
        <script>
            var IsOnlyViewer = '@ViewBag.HasOnlyViewerRole';
            if (IsOnlyViewer == "True") {
                $("#liAuditHistory").hide();
                $("#btnObservationHistoryViewPopup").hide();
            }
        </script>

        <script>
        function BackToList() {
            var backToList = '';
            var BacktoURL = window.location.search;
            if (listType != "") {
                if ((listType == "AuditReportMain" || listType == "Pending") && (BacktoURL.match("CategoryTypeID") && BacktoURL.match("RegulatoryCodeOrClientName") && BacktoURL.match("AuditStatusID"))) {//Written for Cgart Query Strings
                    BacktoURL = decodeURI(BacktoURL.substring(BacktoURL.indexOf('viewType=') + 9));
                    backToList = window.location.origin + "/QMS/AuditMain/InitAuditReportList?listType="+ BacktoURL;
                }
                else {
                    backToList = '@Url.Content("~/QMS/AuditMain/InitAuditReportList?listType=" + ViewBag.listType)';
                }
                window.open(backToList, '_self');
            }
        }
        </script>
        <!--Script for Audit Report Generate-->
        <script>
            function onReportClickConfirmForObservationResponseDescEdit() {
                custAlertMsg("Would you like to change any Observation response Description?",
                    "confirm", "OpenObservationResponseDescEditPopup();", "OpenCoverLetterFileUploadPopup();");
                //Refer _AuditResponseReportList.cshtml
            }
            function OpenObservationResponseDescEditPopup() {
                $('#h4ResponseDescEditModalTitle').text('Audit Number : ' + '@Model.AuditNum');
                $('#txtObservationSearch').val("");
                $('#AuditObservationResponseDescEditModal').modal('show');
                GetListOfObservationsForThisReponse();
            }
            function OpenCoverLetterFileUploadPopup() {
                $('#AuditObservationResponseDescEditModal').modal('hide');
                $('#modalAuditResponseCoverLetterAttachmentUpload').modal('show');
            }
            function GenereteAuditResponseReport() {
                //Ajax Call For Generating The Audit Report
                ShowDocumentWait('show');
                $.post("@Url.Content("~/QMS/AuditMain/GenerateAuditResponseReport")?AuditID=" + $("#AuditID").val() ,
                    function (result) {
                        ShowDocumentWait('hide');
                    if (result.msgRedirecttoLoginPage) {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        switch (result.msgType) {
                            case "error":
                                custAlertMsg(result.msg, "error");
                                break;
                            case "info":
                                custAlertMsg(result.msg, "info");
                                break;
                            case "warning":
                                custAlertMsg(result.msg, "warning");
                                break;
                            case "success":
                                custAlertMsg(result.msg, "success", "OnGenerationOfAuditResponseReportSucess();");
                                break;
                        }
                    }
                }, 'json');
            }
            function OnGenerationOfAuditResponseReportSucess() {
                LoadAuditResponseReportList();
                $("#btnGenerateAuditResponse").hide();
            }

            $("#fuAuditResponseReportCoverLetter").fileinput({
             'theme': 'explorer-fa',
             'uploadUrl': '@Url.Content("~/QMS/AuditMain/GenerateAuditResponseReportWithCoverLetterUploaded")',
             'showUpload': true,
             'showCancel': false,
             'uploadLabel': 'Upload & Generate Audit Response',
             'showClose':true,
             'maxFileCount': 1,
             'maxFileSize':10000,
             'required': true,
             'msgPlaceholder': 'Select Cover Letter ...',
             'overwriteInitial': false,
             'allowedFileExtensions': ['pdf'],
             'initialPreviewAsData': true,
             'uploadExtraData': function () {
                 var fileExtraData = {
                     "AuditReportID": $('#AuditID').val()
                 }
                 return fileExtraData;
             },
             'browseOnZoneClick': true,
             'fileActionSettings':
             {
                showUpload: false,
                showRemove: true
             },
             'dropZoneTitle': 'Drag & Drop Cover Letter here &hellip;',
             'dropZoneClickTitle': '<br>(or click here to select)'
        });
            $('#fuAuditResponseReportCoverLetter').on('fileuploaded', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        if (response.msg != null) {
            ShowDocumentWait('hide');
            switch (response.msgType) {
                case "error":
                    custAlertMsg(response.msg, "error",'clearAuditResponseReportCoverLetterFileInput();');
                    break;
                case "info":
                    custAlertMsg(response.msg, "info", 'clearAuditResponseReportCoverLetterFileInput();');
                    break;
                case "warning":
                    custAlertMsg(response.msg, "warning", 'clearAuditResponseReportCoverLetterFileInput();');
                    break;
                case "success":
                    custAlertMsg(response.msg, response.msgType, 'OnCoverUploadandReportSuccess();');
                    break;
            }
        }
    });

            function clearAuditResponseReportCoverLetterFileInput() {
                $('#fuAuditResponseReportCoverLetter').fileinput('clear');
                $('#modalAuditResponseCoverLetterAttachmentUpload').modal('hide');
            }
            function OnCoverUploadandReportSuccess() {
                clearAuditResponseReportCoverLetterFileInput();
                LoadAuditResponseReportList();
                $("#btnGenerateAuditResponse").hide();
            }

            $('#fuAuditResponseReportCoverLetter').on('filepreupload', function (event, data, previewId, index, jqXHR)
            {
                var form = data.form, files = data.files, extra = data.extra,
                response = data.response, reader = data.reader;
                var fileNamesExceedCount = 0;
                $('.file-preview-thumbnails .file-preview-frame.explorer-frame.kv-preview-thumb').each(function () {
                if ($(this).attr('title').length > 200) {
                    fileNamesExceedCount++;
                    $(this).find('.explorer-caption').css("color", "red");
                }
                });
                if (fileNamesExceedCount > 0) {
                return {
                    message: fileNamesExceedCount + ' file name exceeds 200 characters'
                };
                }
                else {
                ShowDocumentWait('show');
                $('#modalAuditResponseCoverLetterAttachmentUpload').modal('hide');
                }
            });

            $('#fuAuditResponseReportCoverLetter').on('filecustomerror', function (event, params, msg)
            {
                $('.kv-fileinput-error.file-error-message').empty();
                var errorMsg ='<button type="button" class="close kv-error-close" aria-label="Close">'+
                '<span aria-hidden="true">×</span></button>'+
                    '<ul><li>' + msg+'</li></ul>';
                $('.kv-fileinput-error.file-error-message').html(errorMsg);
            });
        </script>
    }
}