﻿@model AizantIT_PharmaApp.Areas.AdminSetup.Models.MasterProperties
@Html.HiddenFor(a => a.MarketID, htmlAttributes: new { id = "txtMarketID" })

@{
    ViewBag.Title = "Market";
    Layout = "~/Areas/AdminSetup/Views/Shared/_AdminSetupLayout.cshtml";
}

@*<script src="~/AppScripts/GlobalScripts.js"></script>*@
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Market</div>
<div class="tab-content tab_content_assigment float-left col-lg-12 padding-none">
    @if (ViewBag.SysError != "" && ViewBag.SysError != null)
    {
        <div style="text-align:center;color:red">
            @ViewBag.SysError
        </div>
    }
    else
    {
        <div class="tab-pane active">
            <div class="grid_panel_hod col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">          
                <div class="col-12 float-left top">
                    <!--Start Market List-->
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none top bottom">
                        <table id="tblMarket" class="table datatable_cust table-striped  table-bordered dataTable no-footer tblMarketClass top" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>MarketID</th>
                                    <th>Market Code</th>
                                    <th>Market Name</th>
                                    <th>Edit</th>
                                    <th>History</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <!--End Market List-->
                </div>

            </div>
        </div>       
    }
</div>

<!--DataTableList-->
<script>  
    function GetMarketList() {
            $('#tblMarket').DataTable({
                columns:
                    [
                        { 'data': 'RowNumber' },//0
                        { 'data': 'MarketID' },//1
                        { 'data': 'MarketCode' },//2
                        { 'data': 'MarketName' },//3
                        {
                            "render": function (data, type, full, meta) {
                                return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit" style="margin-left:0%" onclick="AddorEditMarket(' + full.MarketID + ')"></a>';
                            }
                        },//4
                        {
                            "render": function (data, type, full, meta) {
                                return '<a class="btnRegulatoryAgencyEdit summary_latest History"  style="margin-left:0%" onclick="HistoryMarketDetails(' + full.MarketID + ')"></a>';
                            }
                        },//5
                    ],
                "pagingType": "simple_numbers",
                "language":
                {
                    "searchPlaceholder": "Search Records",
                    "infoFiltered": "",
                    "emptyTable": "No Records Available"
                },
                "processing": false,
                "orderClasses": false,
                "bDestroy": true,
                "order": [[1, "desc"]],
                "info": true,
               // "scrollY": true,
                "scrollCollapse": true,
                "responsive": true,
                "paging": true,
                "search":
                {
                    "regex": true,
                },
                //"bProcessing": true,
                "bServerSide": true,
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                "aoColumnDefs": [{ "targets": [1,4,5], "visible": false }, { className: "dt-body-left", "targets": [2, 3] }, { className: "textAlignCenter", "targets": [0] }, { "orderable": false, "targets": [0,4, 5] }
                ],
                'bAutoWidth': true,
                "sAjaxSource": "@Url.Content("~/AdminSetup/Market/GetMarketList")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.hasError == true) {
                                custAlertMsg(result.data, "error");
                            }
                            else {
                                fnCallback(result);
                                //ShowMoreorless();
                                $(".tblMarketClass").css({ "width": "100%" });
                            }
                        },
                    });
                }
            });
        } 
  //  DataGrid Reload
  function Reloadtable() {
      $('#myModalMarket').modal('hide');
      GetMarketList();
  }
  </script>
 <!--LoadTheDataListMethod-->
 <script>
     $(function () {
         GetMarketList();
         $('.dataTable').DataTable().draw();
     });
 </script>
