﻿@using System.Data
@model API_BussinessObjects.LandingPageBO
@*@model string*@
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Home</h2>
<link href="../AppCSS/landing/landing.css" rel="stylesheet" />

<div class="bg_landing"></div>
<div class="container-fluid">
    <ul class="CardRow1 landing_nav" id="divModules">

        @if (Model.ShowUMSModule)
        {
            <a ID="hlUMS" href="~/UserManagement/DashboardUMS.aspx">
                <li>
                    <div class="icon_1 shadow_img col-centered" tabindex="1">
                        <img src="../Images/Landing/icon3.png" alt="Administration" class="img_langing" />
                        <div class="module_name">Administration<br />Setup</div>
                    </div>
                </li>
            </a>
        }

        @if (Model.ShowDMSModule)
        {
            <a ID="hlDMS" href="~/DMS/DMSHomePage.aspx">
                <li>
                    <div class="icon_1 shadow_img col-centered" tabindex="2">
                        <img src="../Images/Landing/icon4.png" alt="DMS" class="img_langing" />
                        <div class="module_name">Document Management System</div>
                    </div>
                </li>
            </a>
        }

        @if (Model.ShowTMSModule)
        {
            <a ID="hlTMS" href="~/TMS/TmsDashboard.aspx">
                <li>
                    <div class="icon_1 shadow_img col-centered" tabindex="3">
                        <img src="../Images/Landing/icon2.png" alt="TMS" class="img_langing" />
                        <div class="module_name">Training Management System</div>
                    </div>
                </li>
            </a>
        }

        @if (Model.ShowVMSModule)
        {
            <a ID="hlVMS" href="~/VMS/VMS_HomePage.aspx">
                <li>
                    <div class="icon_1 shadow_img col-centered" tabindex="4">
                        <img src="../Images/Landing/icon1.png" alt="VMS" class="img_langing" />
                        <div class="module_name">Visitor <br /> Management System</div>
                    </div>
                </li>
            </a>
        }

        @if (Model.ShowQMSModule)
        {
            <a ID="hlQMS" href="~/QMS/DashBoard/QMS_Dashboard">
                <li>
                    <div class="icon_1 shadow_img col-centered" tabindex="5">
                        <img src="../Images/Landing/icon5.png" alt="QMS" class="img_langing" />
                        <div class="module_name">Quality<br /> Management System</div>
                    </div>
                </li>
            </a>
        }

        @if (Model.ShowPMSModule)
        {
            <a ID="hlPMS" href="~/PRODUCT/Product/_Product?showType=1">
                <li>
                    <div class="icon_1 shadow_img col-centered" tabindex="6">
                        <img src="../Images/Landing/product_icon.png" alt="Product" class="img_langing" />
                        <div class="module_name">Product<br /> Search</div>
                    </div>
                </li>
            </a>
        }

        @if (Model.ShowRMSModule)
        {
            <a ID="hlRA" href="~/Regulatory/RegulatoryMain/RegulatoryDashBoard">
                <li>
                    <div class="icon_1 shadow_img col-centered" tabindex="7">
                        <img src="../Images/Landing/regulatory_icon.png" alt="Regulatory" class="img_langing" />
                        <div class="module_name">Regulatory Affairs Database</div>
                    </div>
                </li>
            </a>
        }
        @*<a ID="hlGlobal" href="~/UserManagement/DashboardUMS.aspx"  Visible="false">
                <li>
                    <div class="icon_1 shadow_img col-centered" tabindex="8">
                        <img src="../Images/Landing/icon3.png" alt="Smiley face" class="img_langing" />
                        <div class="module_name">Global Setup<br /> Management System</div>
                    </div>
                </li>
            </a>*@
    </ul>
</div>

@*<script>
        $(document).ready(function () {
            debugger;
            var UserDetails = JSON.stringify(@Model);
            $.ajax({
                type: "GET",
                url: "http://localhost:53973/api/home/ViewModuleLandingCards",
                dataType: "json",
                data: UserDetails,
                contentType: 'application/json;charset=utf-8',
                success: function (data) {

                }
            });
        });
    </script>*@
<script>
        //$(document).ready(function () {
        //    var selector = '.landing_links ul li a';

        //    $(selector).on('click', function () {
        //        $(selector).removeClass('active');
        //        $(this).addClass('active');
        //    });
    $(document).ready(function () {
        function NavigateToURL() {
            if (@Model.UMSNavigateUrl){
                var navUMS =@Model.UMSNavigateUrl;
                $("#hlUMS").prop("href", navUMS);
            }
            if (@Model.QMSNavigateUrl){
                var navQMS =@Model.QMSNavigateUrl;
                $("#hlQMS").prop("href", navQMS);
            }
            if (@Model.RMSNavigateUrl){
                var navRMS =@Model.RMSNavigateUrl;
                $("#hlRA").prop("href", navRMS);
            }
            if (@Model.ExpireMessage){
                var pwdExpire =@Model.UMSNavigateUrl;
                custAlertMsg(pwdExpire, "warning");
            }
    }

     function ModulesToShow() {
         var divModules = document.getElementById("divModules");
         var count=@Model.ModuleCount;
         if (count > 9 && count <= 18) {
             divModules.classList.remove("CardRow1");
             divModules.classList.add("CardRow2");
         }
         if (count > 18 && count <= 27) {
             divModules.classList.remove("CardRow1");
             divModules.classList.add("CardRow3");
         }
    }
    });
</script>

