<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <app-management-level-chart></app-management-level-chart>
        </div>
        <div class="col-md-6">
            <app-department-performance-chart></app-department-performance-chart>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-capa-chart></app-capa-chart>
        </div>
    </div>
</div>