﻿.success_popup .modal-content {
    border: 1px solid #3ab16a;
}

.success_popup .modal-header {
    background: #fff;
    color: #3ab16a;
    padding: 0px 22px;
    border-bottom: 1px solid #3ab16a;
}
.success_popup .modal-footer {
       border-top: none;
}
.error_popup .modal-footer {
    border: none !important;
}
.btn-success_popup {
    margin-left: 5px;
    background: #fff;
    border: 1px solid #3ab16a;
    border-radius: 4px;
    padding: 4px 14px;
    font-size: 12pt;
    color: #3ab16a;
    font-family: seguisb;
    margin-bottom: 10px;
    /*margin-top:10px;*/
}
    .btn-success_popup:hover {
        margin-left: 5px;
        background: #3ab16a;
        border: 1px solid #3ab16a;
        border-radius: 4px;
        padding: 4px 14px;
        font-size: 12pt;
        color: #fff;
        font-family: seguisb;
        margin-bottom: 10px;
    }
.confirmation_popup .modal-header {
    background: #fff;
    color: #57a5f6;
    padding: 10px 22px;
    border-bottom: 1px solid #57a5f6;
}

.confirmation_popup .modal-content {
    border: 1px solid #57a5f6;
}
.error_popup .modal-content {
    border: 1px solid #f95a5a;
}
.error_popup .modal-header {
    background: #fff;
    color: #f95a5a;
    padding: 10px 22px;
    border-bottom: 1px solid #f95a5a;
}
.btn-cancel_popup {
    margin-left: 5px;
    background: #fff;
    border: 1px solid #f95a5a;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 10pt;
    color: #f95a5a;
    font-family: seguisb;
    margin-bottom: 10px;
}

    .btn-cancel_popup:hover {
        margin-left: 5px;
        background: #f95a5a;
        border: 1px solid #f95a5a;
        border-radius: 4px;
        padding: 4px 10px;
        font-size: 10pt;
        color: #fff;
        font-family: seguisb;
        margin-bottom: 10px;
    }

.warning_popup .modal-content {
    border: 1px solid #f65d21;
}

.warning_popup .modal-header {
    background: #fff;
    color: #f65d21;
    padding: 10px 22px;
    border-bottom: 1px solid #f65d21;
}


.info_popup .modal-content {
    border: 1px solid #15afc2;
}

/*.info_popup .modal-header {
    background: #0781de;
    color: #2994e5;
    padding: 10px 22px;
}*/
.continue-btn {
    background: #fff;
    border: 1px solid #57a5f6;
    color: #57a5f6;
    font-family: seguisb;
    padding-bottom: 5px;
    padding: 5px 22px;
    margin-bottom: 4px;
    border-radius: 4px;
}
    .continue-btn:hover {
        background: #57a5f6;
        border: 1px solid #57a5f6;
        color: #fff;
        border-radius: 4px;
        font-family: seguisb;
        padding-bottom: 5px;
        margin-bottom: 4px;
    }
.cancelinfo-btn {
    background: #fff;
    border: 1px solid #15afc2;
    color: #15afc2;
    font-family: seguisb;
}
    .cancelinfo-btn:hover {
        background: #15afc2;
        border: 1px solid #15afc2;
        color: #fff;
        font-family: seguisb;
    }
.btn-cancelwarning_popup {
    margin-left: 5px;
    background: #fff;
    border: 1px solid #f65d21;
    border-radius: 4px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #f65d21;
    font-family: seguisb;
    margin-bottom: 10px;
}
    .btn-cancelwarning_popup:hover {
        margin-left: 5px;
        background: #f65d21;
        border: 1px solid #f65d21;
        border-radius: 4px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        font-family: seguisb;
        margin-bottom: 10px;
    }
.btn-ConfirmNo_popup {
    margin-left: 5px;
    background: #fff;
    border: 1px solid #ff7d7d;
    border-radius: 4px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #ff7d7d;
    font-family: seguisb;
    margin-bottom: 10px;
}
    .btn-ConfirmNo_popup:hover {
        margin-left: 5px;
        background: #ff7d7d;
        border: 1px solid #ff7d7d;
        border-radius: 4px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        font-family: seguisb;
        margin-bottom: 10px;
    }
.btnSuccessOk {
    background: #fff;
    border: 1px solid green;
    color: green;
    font-family: seguisb;
}

.btnErrorOk {
    background: #fff;
    border: 1px solid green;
    color: orangered;
    font-family: seguisb;
}

.btnInfoOk {
    background: #fff;
    border: 1px solid #0781de;
    color: #0781de;
    font-family: seguisb;
}

.btnConfirmYes {
    background: #fff;
    border: 1px solid #57a5f6;
    color: #57a5f6;
    font-family: seguisb;
    padding-bottom: 5px;
    padding: 6px 21px;
    margin-bottom: 2px;
    border-radius: 4px;
}
    .btnConfirmYes:hover {
        background: #57a5f6;
        border: 1px solid #57a5f6;
        color: #fff;
        border-radius: 4px;
        font-family: seguisb;
        padding-bottom: 5px;
        margin-bottom: 4px;
    }
.modal-headerinfo {
    background: #fff;
    color: #15afc2;
    padding-left: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding: 10px 22px;
}

.btnConfirmNo {
    margin-left: 5px;
    background: #fff;
    border: 1px solid #f95a5a;
    border-radius: 4px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #f95a5a;
    font-family: seguisb;
    margin-bottom: 10px;
}
    .btnConfirmNo:hover {
        margin-left: 5px;
        background: #f95a5a;
        border: 1px solid #f95a5a;
        border-radius: 4px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        font-family: seguisb;
        margin-bottom: 10px;
    }

.btnWarningOk {
    margin-left: 5px;
    background: #fff;
    border: 1px solid #f65d21;
    border-radius: 4px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #f65d21;
    font-family: seguisb;
    margin-bottom: 10px;
}
    .btnWarningOk:hover {
        margin-left: 5px;
        background: #f65d21;
        border: 1px solid #f65d21;
        border-radius: 4px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        margin-bottom: 10px;
        font-family: seguisb;
    }

