﻿
.ModalWarning .ModalHeaderPart {
    background: url("../../Images/CustomAlerts/warning2.png") no-repeat;
    padding: 20px 12px 20px 77px !important;
    background-size: 11%;
    background-position: 12px;
    color: #cc9c1a !important;
    border-bottom: 1px solid #cc9c1a;
}

.ModalInfo .ModalHeaderPart {
    background: url("../../Images/CustomAlerts/Info.png") no-repeat;
    padding: 20px 12px 20px 77px !important;
    background-size: 11%;
    background-position: 12px;
    border-bottom: 1px solid #01a6f5;
    color: #01a6f5 !important;
}

.ModalConfirm .ModalHeaderPart {
    background: url("../../Images/CustomAlerts/confirm.png") no-repeat;
    padding: 20px 12px 20px 77px !important;
    background-size: 11%;
    background-position: 12px;
    border-bottom: 1px solid #01a6f5;
    color: #01a6f5 !important;
}

.ModalDanger .ModalHeaderPart {
    background: url("../../Images/CustomAlerts/error.png") no-repeat;
    padding: 20px 12px 20px 77px !important;
    background-size: 11%;
    background-position: 12px;
    color: #f44336 !important;
    border-bottom: 1px solid #f44336;
}
.ModalSucess .ModalHeaderPart {
    background: url("../../Images/CustomAlerts/success.png") no-repeat;
    padding: 20px 12px 20px 77px !important;
    color: #099634 !important;
    border-bottom: 1px solid #099634 !important;
    background-size: 11%;
    background-position: 12px;
}
.ModalSucess .ModalFooterPart {
    border-top: 1px solid #099634;
}

.ModalWarning .ModalFooterPart {
    border-top: 1px solid #cc9c1a;
}

.ModalInfo .ModalFooterPart {
    border-top: 1px solid #01a6f5;
}

.ModalConfirm .ModalFooterPart {
    border-top: 1px solid #01a6f5;
}

.ModalDanger .ModalFooterPart {
    border-top: 1px solid #f44336 !important;
}

.ModalSucess .modalMainContent {
    background-color: #dbfbdd;
}

.ModalWarning .modalMainContent {
    background-color: #f7eac9;
}

.img_popup {
    width: 10%;
    float: left;
}

.ModalInfo .modalMainContent {
    background-color: #c8e6f5;
}

.ModalConfirm .modalMainContent {
    background-color: #c8e6f5;
}

.ModalDanger .modalMainContent {
    background-color: #ffe6e4;
}

.ModalSucess .CustAlertOk {
    border: 1px solid #099634;
    color: #099634;
    background: #fff;
}

.ModalWarning .CustAlertOk {
    border: 1px solid #cc9c1a;
    color: #cc9c1a;
    background: #fff;
}

.ModalInfo .CustAlertOk {
    border: 1px solid #01a6f5;
    color: #01a6f5;
    background: #fff;
}

.ModalConfirm .CustAlertOk {
    border: 1px solid #01a6f5;
    color: #01a6f5;
    background: #fff;
}

.ModalDanger .CustAlertOk {
    border: 1px solid #f44336;
    color: #f44336;
    background: #fff;
}

.alertImg {
    text-align: left;
    float: left;
}
