/* grid icons css*/
.lock {
    background: url('../../Images/GridActionImages/locked.png') no-repeat;
    padding: 3px 12px;
    text-align: center;
    cursor: pointer;
}

.unlock {
    background: url('../../Images/GridActionImages/unclock.png') no-repeat;
    padding: 3px 12px;
    text-align: center;
    cursor: pointer;
}

.Password {
    background: url('../../Images/GridActionImages/password.png') no-repeat;
    padding: 3px 12px;
    text-align: center;
    cursor: pointer;
}

.Assign_Role {
    background: url('../../Images/GridActionImages/assign_roles.png') no-repeat;
    padding: 3px 12px;
    text-align: center;
    cursor: pointer;
}

.Assigned_Role {
    background: url('../../Images/GridActionImages/assgined_roles.png') no-repeat;
    padding: 3px 12px;
    text-align: center;
    cursor: pointer;
}
.Edit {
    background: url('../../Images/GridActionImages/edit.png') no-repeat;
    padding: 3px 12px;
    text-align: center;
    cursor: pointer;
}
/* Action Icons */
.view {
    background: url(../../Images/TMS_Images/view_tms.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
    /*background-size: 24px 24px;*/
}

.read_tms {
    background: url(../../Images/TMS_Images/read_tms.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.AnswerSheet_tms {
    background: url(../../Images/TMS_Images/answer_sheet.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
    /*background-size: 24px 24px;*/
}

.Create_tms {
    background: url(../../Images/TMS_Images/create_grid.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.OralEvaluation_tms {
    background: url(../../Images/TMS_Images/oral_grid.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
    /*background-size: 24px 24px;*/
}

.trainedrecords_tms {
    background: url(../../Images/TMS_Images/training_record_grid.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
    /*background-size: 24px 24px;*/
}

.trainingfile_tms {
    background: url(../../Images/TMS_Images/trainingfile_grid.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
    /*background-size: 24px 24px;*/
}

.btngridassign_tms {
    background: url(../../Images/TMS_Images/create_icon.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.btngridedit_tms {
    background: url(../../Images/GridActionImages/edit.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.summary_latest {
    background: url(../../Images/TMS_Images/summary_latest.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.feedback_tms {
    /*background: url(../../Images/TMS_Images/Feedback_Thumb.png) no-repeat;*/
    background: url(../../Images/TMS_Images/Feedback.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.AcceptMyJr_tms {
    background: url(../../Images/TMS_Images/accept.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.ApproveDoc_tms {
    background: url(../../Images/TMS_Images/accept.png) no-repeat;
    padding: 5px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.Evaluation_tms {
    background: url(../../Images/TMS_Images/evalute_exam.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.viewFile_tms {
    /*background: url(../../Images/TMS_Images/DocSearch.png) no-repeat;*/
    background: url(../../Images/TMS_Images/ViewFile.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.AnsSheet_tms {
    /*background: url(../../Images/TMS_Images/DocSearch.png) no-repeat;*/
    background: url(../../Images/TMS_Images/view_answer.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.Training_tms {
    background: url(../../Images/TMS_Images/training_file.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.revert_tms {
    background: url(../../Images/TMS_Images/revert_tms.png) no-repeat;
    padding: 5px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.attendence_LogComplete_tms {
    background: url(../../Images/TMS_Images/log_Completed.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.attendence_LogPending_tms {
    background: url(../../Images/TMS_Images/log_Completed.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.list_tms {
    background: url(../images/tms/list_ceated.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}


.print {
    background: url(../../images/GridActionImages/Print.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.download {
    background: url(../../images/GridActionImages/download.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.return {
    background: url(../../images/GridActionImages/return.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.privacy {
    background: url(../../images/GridActionImages/privacy.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.verify {
    background: url(../../images/GridActionImages/verify.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}
.view_req {
    background: url(../../Images/GridActionImages/approve.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.Refferals {
    background: url(../../Images/GridActionImages/refarals1.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.delete {
    background: url(../../Images/GridActionImages/del_grid.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.view_Training {
    background: url(../../Images/GridActionImages/revert_tms.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}
.edit_Training {
    background: url(../../Images/GridActionImages/edit_red.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}
.create_dms {
    background: url(../../Images/GridActionImages/create_icon.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.review_dms {
    background: url(../../Images/GridActionImages/review.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.approve_dms {
    background: url(../../Images/GridActionImages/approve.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.approve_training {
    background: url(../../Images/GridActionImages/approve_training.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.authorize_dms {
    background: url(../../Images/GridActionImages/verification.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}

.authorize_training {
    background: url(../../Images/GridActionImages/verfication.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    cursor: pointer;
}
.check_button {
    border: 1px solid #6a6a6a;
    border-radius: 4px;
    background: #6a6a6a;
    color: #fff;
    padding: 0px 5px;
    margin-top: -3px;
    font-size: 10pt;
    cursor: pointer;
}