.padding-none {
    padding: 0px !important;
}

.top {
    margin-top: 10px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-bottom: 1px solid #38b8ba !important;
    outline: 0;
    box-shadow: none !important;
}

.form-group {
    margin-bottom: 5px;
}

    .form-group label {
        color: #38b8ba;
        font-family: seguisb;
    }

.bottom {
    margin-bottom: 10px;
}

.padding-right_div {
    padding-right: 10px;
    padding-left: 0px;
}

.padding-left_div {
    padding-left: 6px;
    padding-right: 0px;
}

.mandatoryStar {
    color: red;
    font-size: 12px;
    padding-left: 3px;
}

.required:after {
    content: "*";
    font-size: 12px;
    padding-left: 3px;
    color: red;
}

.smallred_label {
    color: red !important;
    font-size: 12pt !important;
}

.label-style {
    color: #38b8ba;
    font-family: seguisb;
    font-size: 10pt;
}

.capitalize {
    text-transform: capitalize;
}

.login_input_sign_up {
    background: #fff;
    color: #000;
    border-radius: 0px !important;
    height: 30px !important;
    padding: 0px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.custom_label {
    padding-bottom: 0;
    font-size: 14px;
    padding-right: 6px;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.profile_label {
    background: url(../../../Images/DMSDashboard/isto.png) no-repeat center right;
    color: #38b8ba;
    font-size: 10pt;
    text-align: left;
    margin-bottom: 0;
}

.label_name {
    color: #38b8ba;
    font-size: 10pt;
    text-align: left;
    margin-bottom: 0;
}

label {
    color: #38b8ba;
    font-family: seguisb;
    font-size: 10pt;
    margin-bottom: 0px !important;
}

.padding-none {
    padding: 0 !important;
}

.style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #38b8ba;
}

.style-2::-webkit-scrollbar {
    width: 8px;
    background-color: #38b8ba;
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #fff;
}

.style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #d4d4d4;
}

.style-3::-webkit-scrollbar {
    width: 8px;
    background-color: #d4d4d4;
}

.style-3::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #38b8ba;
}

.department .modal-header {
    padding: 8px 14px;
    background: #38b8ba;
    color: #fff;
    font-size: 12pt;
}

.department .modal-title {
    font-size: 14px;
    color: #fff;
}

.department .modal-body {
    padding: 8px 16px;
}

.department .modal-footer {
    padding: 7px 16px 8px;
}

.dropdown-menu li a:hover {
    background: #38b8ba !important;
    color: #fff !important;
}

.dropdown-menu li.active a {
    background: #38b8ba;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.regulatory_dropdown_style .dropdown-menu li a {
    background: #fff;
    color: #517183;
    border-bottom: 1px solid #07889a !important;
}

    .regulatory_dropdown_style .dropdown-menu li a:hover {
        background: #38b8ba !important;
        color: #fff !important;
    }

.dropdown-menu li.selected a {
    background: #38b8ba !important;
    color: #fff !important;
    border-bottom: 1px solid #fff !important;
}

.dropdown-menu li.active a {
    background: #38b8ba;
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.regulatory_dropdown_style .btn {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    /*border-bottom: 1px solid #d4d4d4 !important;*/
    border-radius: 0px;
    background-color: #fff;
    padding: 2px !important;
}

.regulatory_dropdown_style .bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    float: none;
    padding: 0px;
}


.regulatory_dropdown_style > .dropdown-toggle.bs-placeholder, .regulatory_dropdown_style > .dropdown-toggle.bs-placeholder:hover, .regulatory_dropdown_style > .dropdown-toggle.bs-placeholder:focus, .regulatory_dropdown_style > .dropdown-toggle.bs-placeholder:active {
    color: #c0c2c3 !important;
}

.regulatory_dropdown_style .btn {
    background-color: transparent !important;
}

.dashboard_panel_header {
    text-align: left;
    padding: 8px 10px;
    border-bottom: 1px solid #38b8ba;
    color: #418e8f;
    background: #cdedee;
    font-family: seguisb;
    font-size: 10pt;
}
/*-----datatable grid custom css------*/
.datatable_cust {
    top: 10px;
}

    .datatable_cust tbody tr:nth-of-type(odd) {
        background-color: #c0d4d7;
    }

    .datatable_cust tbody tr:nth-of-type(even) {
        background-color: #dcfafe;
    }

    .datatable_cust tbody tr th {
        background-color: #38b8ba;
    }

    .datatable_cust tbody tr td {
        border: 1px solid #dee2e6;
        padding: 5px 10px;
        font-size: 10pt;
        text-align: center;
    }

    .datatable_cust thead th {
        padding: 10px;
        border-right: 1px solid #c3c3c3;
        border-bottom: 1px solid #c3c3c3;
        background: #38b8ba;
        color: #fff;
        font-family: seguisb;
        text-align: center;
        font-size: 10pt;
    }

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 1px;
    border-bottom-color: #d4d4d4;
    padding: 6px;
    font-size: 10pt;
    font-family: SEGOEUI;
    text-align: left;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 1;
}


.table-striped tbody tr:nth-of-type(even) {
    background-color: #fff;
}

.table-striped tbody tr:hover {
    background-color: #cad3d4;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: collapse !important;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    font-size: 10pt;
    font-family: SEGOEUI;
    color: #38b8ba;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
    font-size: 10pt;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #38b8ba;
    border-color: #38b8ba;
}

.legends_grid {
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
}

.table th {
    padding: 6px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 11pt;
    font-family: seguisb;
}

.table td {
    padding: 6px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 10pt;
    font-family: SEGOEUI;
    text-align: left;
}

.grid_header {
    background: #cdedee !important;
    padding: 10px;
    color: #418e8f !important;
    font-size: 11pt !important;
    font-family: seguisb;
    border: 1px solid #38b8ba;
}

.upload-button {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    background: #38b8ba;
    font-size: 11pt;
    padding: 4px 10px;
}

.grid_panel_full {
    border: 1px solid #38b8ba;
}

.upload-button:hover {
    background: #38b8ba;
}

.upload-button:focus {
    background: #38b8ba;
}

.upload-button_input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.btn.active, .btn:active {
    color: #fff;
    background-color: #38b8ba;
    border-color: #38b8ba;
    font-family: seguisb;
}

    .btn.active label {
        color: #fff;
        background-color: #38b8ba;
        border-color: #38b8ba;
        font-family: seguisb;
    }

.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left;
}

.btn-primary_radio {
    background: #fff;
    border: 1px solid #38b8ba;
    color: #38b8ba;
    font-family: seguisb;
    margin-bottom: 0px;
    padding: 2px;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}

.radio_check input[type="checkbox"], .radio_check input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

textarea {
    resize: none;
}

.richText .richText-editor {
    padding: 4px;
    background-color: #FFFFFF;
    border-left: #FFFFFF solid 2px;
    font-family: Calibri,Verdana,Helvetica,sans-serif;
    outline: none;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 14pt;
    height: 0px !important;
    min-height: 215px;
    max-height: 400px;
}

.btn_selection_boxDms {
    border: 1px solid #38b8ba;
    background: #38b8ba;
    color: #fff;
    font-size: 12pt;
    font-weight: bold;
    padding: 3px 20px 3px 10px !important;
}

.commentStyle {
    border-bottom: 1px solid #38b8ba;
    padding: 10px 0px;
}

table tr td label {
    font-family: seguisb;
    font-size: 10pt;
    padding: 0px 4px;
    font-weight: normal !important;
}

table tbody tr th {
    background-color: #38b8ba;
    color: #fff;
    text-align: center;
    height: 43px;
    font-size: 12pt;
    font-family: seguisb;
}

table tbody tr td {
    padding: 8px 0px 5px 0px;
    font-size: 11pt;
    font-family: seguisb;
}

.dropdown-toggle::after {
    color: #38b8ba;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #38b8ba;
    border-color: #38b8ba;
}

.grid_icon_legend {
    padding: 8px;
    font-family: seguisb;
    font-size: 10pt;
    color: #000;
    text-transform: capitalize;
}

textarea {
    border: 1px solid #d4d4d4 !important;
}

.dt-body-left {
    text-align: left !important;
}

.bootstrap-select.disabled, .bootstrap-select > .disabled {
    cursor: not-allowed;
    border-bottom: 1px solid #d4d4d4;
}

.innerbtn {
    color: #4888ac !important;
    font-family: seguisb;
    font-size: 11pt;
    right: 37px;
    top: 7px;
    padding: 3px 6px;
    position: absolute;
    background-color: #fff;
}

.apilogo_small {
    width: 41px;
    opacity: 0.4;
}

.roles_list_nav li {
    list-style-type: none;
    display: inline;
    margin-right: 4px;
    margin-bottom: 4px;
    float: left;
}

.richtext_editor .richText-dropdown {
    max-height: 347px;
    overflow-y: auto;
    position: initial !important;
}

.richtext_editor .richText-dropdown-close {
    position: absolute;
    top: 31px !important;
    right: 61vh !important;
    background: #FFF;
    color: #333;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    width: 20px;
}

.tableBody_Scrollheight tbody {
    display: block;
    max-height: 280px;
    overflow-y: auto;
    overflow-x:hidden;
    border-right: none !important;
}

.tableBody_Scrollheight tbody tr td {
    border: none !important;
}

.tableBody_Scrollheight thead, .tableBody_Scrollheight tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #cdd3da;
}
.disabled {
    cursor: not-allowed !important;
}