.success_popup .modal-content {
    border: 1px solid #3ab16a;
}
.success_popup .modal-header {
    background: #fff;
    color: #3ab16a;
    padding: 0px 22px;
    border-bottom: 1px solid #3ab16a;
}
.success_popup .modal-footer {
       border-top: none;
}
.confirmation_popup .modal-header {
    background: #fff;
    color: #57a5f6;
    padding: 10px 22px;
    border-bottom: 1px solid #57a5f6;
}

.confirmation_popup .modal-content {
    border: 1px solid #57a5f6;
}
.error_popup .modal-content {
    border: 1px solid #f95a5a;
}
.error_popup .modal-header {
    background: #fff;
    color: #f95a5a;
    padding: 10px 22px;
    border-bottom: 1px solid #f95a5a;
}
.error_popup .modal-footer {
    border: none !important;
}
.warning_popup .modal-content {
    border: 1px solid #f65d21;
}

.warning_popup .modal-header {
    background: #fff;
    color: #f65d21;
    padding: 10px 22px;
    border-bottom: 1px solid #f65d21;
}


.info_popup .modal-content {
    border: 1px solid #15afc2;
}