﻿.ProgressModal {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(80, 80, 80, 0.45);
    filter: alpha(opacity=60);
    /*opacity: 0.6;*/
    /*-moz-opacity: 0.8;*/
}

.ProgressCenter {
    z-index: 1000;
    margin-left: 38%;
    margin-top: 12%;
    width: 130px;
    border-radius: 10px;
    background-color: White;
    filter: alpha(opacity=100);
}

.ProgressCenter img {
    border-radius: 10px;
    height: 400px;
    width: 400px;
}

.PW_Modal_inner {
    position: fixed;
    z-index: 2000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*background-color: rgba(80, 80, 80, 0.50);*/
    filter: alpha(opacity=60);
    /*opacity: 0.6;*/
    /*-moz-opacity: 0.8;*/
}
.PW_Modal {
    position: fixed;
    z-index: 2000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(80, 80, 80, 0.50);
    filter: alpha(opacity=60);
    /*opacity: 0.6;*/
    /*-moz-opacity: 0.8;*/
}
.PW_Center {
    z-index: 1051;
    margin-left: 40%;
    margin-top: 15%;
    width: 245px;
    border-radius: 10px;
    background-color: #fff;
    filter: alpha(opacity=100);
}

.PW_Center img {
    border-radius: 10px;
    height: 296px;
    width: 385px;
}
.DPW_Center img {    
    width: 426px !important;
}
.login_ProgressCenter {
    z-index: 1000;
    margin-left: 45%;
    margin-top: 22%;
    width: 175px;
    border-radius: 10px;
    background-color: White;
    filter: alpha(opacity=100);
}

.login_ProgressCenter img {
    border-radius: 10px;
}



   
