﻿/*.sticky {
    position: fixed;
    top: 50px;
    width: 79%;
    z-index: 10;
    background: #fff;
    border: 1px solid #07889a;
    box-shadow: 12px 6px 36px 2px #3e3e3e;
    border-radius:4px;
}

    .sticky + .content {
        padding-top: 102px;
    }*/
.sticky-popup {
    position: fixed;
    width: 65%;
    visibility: hidden;
    z-index: 1010;
}

    .sticky-popup .popup-header {
        padding: 10px 5px 5px 10px;
        border: 1px solid #38b8ba;
        cursor: pointer;
    }

.popup-title {
    color: #ffffff;
    font-size: 16px;
    font-family: seguisb;
}

.popup-image {
    float: right;
    padding: 0 15px 0 0;
    margin: 0px;
    width: 25px;
}

    .popup-image img {
        max-width: 20px;
        max-height: 20px;
    }

.popup-content {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fefefe;
    border: 1px solid hsl(0, 0%, 92%);
    box-shadow: 12px 6px 36px 2px #3e3e3e;
}


/*Right Bottom and Left bottom side popup style*/
.right-bottom {
    right: 2%;
    bottom: 0;
}

.left-bottom .popup-header {
    border-radius: 4px 4px 0 0;
}

.right-bottom .popup-header {
    border-radius: 4px 4px 0 0;
}

.left-bottom {
    left: 2%;
    bottom: 0;
}

.open_sticky_popup {
    -webkit-transition: bottom .8s;
    -moz-transition: bottom .8s;
    -o-transition: bottom .8s;
    transition: bottom .8s;
}

@-webkit-keyframes popup_content_bounce_in_up {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px)
    }

    80% {
        -webkit-transform: translateY(10px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes popup_content_bounce_in_up {
    0% {
        opacity: 0;
        -moz-transform: translateY(2000px)
    }

    60% {
        opacity: 1;
        -moz-transform: translateY(-30px)
    }

    80% {
        -moz-transform: translateY(10px)
    }

    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes popup_content_bounce_in_up {
    0% {
        opacity: 0;
        -o-transform: translateY(2000px)
    }

    60% {
        opacity: 1;
        -o-transform: translateY(-30px)
    }

    80% {
        -o-transform: translateY(10px)
    }

    100% {
        -o-transform: translateY(0)
    }
}

@keyframes popup_content_bounce_in_up {
    0% {
        opacity: 0;
        transform: translateY(2000px)
    }

    60% {
        opacity: 1;
        transform: translateY(-30px)
    }

    80% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(0)
    }
}

.popup-content-bounce-in-up {
    -webkit-animation-name: popup_content_bounce_in_up;
    -moz-animation-name: popup_content_bounce_in_up;
    -o-animation-name: popup_content_bounce_in_up;
    animation-name: popup_content_bounce_in_up;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.w3-animate-right {
    position: relative;
    animation: animateleft 1s
}

/*Right side popup style*/
.sticky-popup-right {
    /*top:25%;*/
    right: 0;
}

    .sticky-popup-right .popup-header {
        margin-top: 0%;
        float: left;
        border-radius: 4px 0 0 4px;
        padding: 0px;
    }

    .sticky-popup-right .popup-title {
        writing-mode: tb-rl;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        white-space: nowrap;
        display: block;
        padding: 5px;
    }

    .sticky-popup-right .popup-image {
        margin: 7px -135px 0 0;
        margin-right: -16px\9 !important;
        padding-right: 15px\9 !important;
        width: 40px;
        padding: 0px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .sticky-popup-right .ie10 .popup-image {
        margin-right: -16px !important;
    }

    .sticky-popup-right .ie11 .popup-image {
        margin-right: -16px !important;
    }

    .sticky-popup-right .popup-content {
        width: auto;
    }

.open_sticky_popup_right {
    -webkit-transition: right .8s;
    -moz-transition: right .8s;
    -o-transition: right .8s;
    transition: right .8s;
}

@-webkit-keyframes popup_content_bounce_in_right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes popup_content_bounce_in_right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.popup-content-bounce-in-right {
    -webkit-animation-name: popup_content_bounce_in_right;
    -moz-animation-name: popup_content_bounce_in_right;
    -o-animation-name: popup_content_bounce_in_right;
    animation-name: popup_content_bounce_in_right;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*Left side popup style*/
.sticky-popup-left {
    /*top:25%;*/
    left: 0;
}

    .sticky-popup-left .popup-header {
        width: 40px;
        padding: 0px;
        margin: 35% 0 0 0;
        float: right;
        height: 160px;
        border-radius: 0 4px 4px 0;
    }

    .sticky-popup-left .popup-title {
        padding: 10px;
        writing-mode: tb-rl;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        white-space: nowrap;
        display: block;
    }

    .sticky-popup-left .popup-image {
        margin: 7px -135px 0 0;
        margin-right: -20px\9 !important;
        padding-right: 20px\9 !important;
        width: 40px;
        padding: 0px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .sticky-popup-left .ie8 .popup-image {
        margin-right: -16px !important;
    }

    .sticky-popup-left .ie9 .popup-image {
        margin-right: -16px !important;
    }

    .sticky-popup-left .ie10 .popup-image {
        margin-right: -16px !important;
    }

    .sticky-popup-left .ie11 .popup-image {
        margin-right: -16px !important;
    }

    .sticky-popup-left .popup-content {
        width: auto;
        padding: 0px;
        margin: 0px;
    }

.open_sticky_popup_left {
    -webkit-transition: left .8s;
    -moz-transition: left .8s;
    -o-transition: left .8s;
    transition: left .8s;
}

@-webkit-keyframes popup_content_bounce_in_right_left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes popup_content_bounce_in_right_left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
        transform: translateX(30px);
    }

    80% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.popup-content-bounce-in-left {
    -webkit-animation-name: popup_content_bounce_in_right_left;
    -moz-animation-name: popup_content_bounce_in_right_left;
    -o-animation-name: popup_content_bounce_in_right_left;
    animation-name: popup_content_bounce_in_right_left;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/* Top Left and Top Right style */
.top-left .popup-header {
    border-radius: 0 0 4px 4px;
}

.top-right .popup-header {
    border-radius: 0 0 4px 4px;
}

.open_sticky_popup_top {
    -webkit-transition: top .8s;
    -moz-transition: top .8s;
    -o-transition: top .8s;
    transition: top .8s;
}

@-webkit-keyframes popup_content_bounce_in_down {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px)
    }

    80% {
        -webkit-transform: translateY(10px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes popup_content_bounce_in_down {
    0% {
        opacity: 0;
        -moz-transform: translateY(2000px)
    }

    60% {
        opacity: 1;
        -moz-transform: translateY(-30px)
    }

    80% {
        -moz-transform: translateY(10px)
    }

    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes popup_content_bounce_in_down {
    0% {
        opacity: 0;
        -o-transform: translateY(2000px)
    }

    60% {
        opacity: 1;
        -o-transform: translateY(-30px)
    }

    80% {
        -o-transform: translateY(10px)
    }

    100% {
        -o-transform: translateY(0)
    }
}

@keyframes popup_content_bounce_in_down {
    0% {
        opacity: 0;
        transform: translateY(50px)
    }

    60% {
        opacity: 1;
        transform: translateY(-30px)
    }

    80% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(0)
    }
}

.popup-content-bounce-in-down {
    -webkit-animation-name: popup_content_bounce_in_down;
    -moz-animation-name: popup_content_bounce_in_down;
    -o-animation-name: popup_content_bounce_in_down;
    animation-name: popup_content_bounce_in_down;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.top-left {
    left: 2%;
}

.top-right {
    right: 2%;
}

.sticky-popup .popup-header {
    background-color: #ffffff;
    box-shadow: 1px 3px 18px #2e2e2e;
}

    .sticky-popup .popup-header :hover {
        background-color: #38b8ba;
        box-shadow: 1px 3px 18px #2e2e2e;
        color: #ffffff;
    }

.popup-title {
    color: #38b8ba;
}

    .popup-title :hover {
        color: #ffffff;
    }

.popup-content {
    border: 1px solid #38b8ba;
    border-radius: 4px;
}

.sticky-popup-right, .sticky-popup-left {
    top: 25%;
}

.popup-content input {
    margin-top: -20px !important;
}

.sticky-popup-right .popup-title {
    writing-mode: tb-rl;
    -webkit-transform: rotate(0deg) !important;
}



.popup-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    max-width: 100%;
    padding: 50px 0;
}

.popup-form form {
    max-width: 100%;
    max-width: var(--popup-form-width);
    margin: 0 auto;
    border-style: solid;
    border-width: 0;
    font-weight: normal;
    font-weight: var(--popup-form-font-weight);
    background-color: transparent;
    transition: opacity 0.25s ease-in-out;
    transition: opacity var(--popup-transition-duration) ease-in-out;
}

    .popup-form form.popup-form--submitting {
        opacity: 0.5;
    }

.popup-form--direction-rtl {
    direction: rtl;
}

h3.popup-form__title {
    font-weight: normal;
    font-size: 32px;
    font-size: var(--popup-form-title-font-size);
    color: #000;
    color: var(--popup-color-primary);
}

.popup-form--hide-title h3.popup-form__title {
    display: none;
}

.popup-form--title-text-align-right h3.popup-form__title {
    text-align: right;
}

.popup-form--title-text-align-center h3.popup-form__title {
    text-align: center;
}

/* parts - general */

.popup-form__part {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

@media screen and (min-width: 800px) {
    .popup-part--width-half {
        width: 50%;
    }

    .popup-part--width-third {
        width: 33.333%;
    }
}

.popup-part--width-half, .popup-part--width-third {
    align-self: flex-start;
}

.popup-part--width-auto {
    align-self: flex-start;
    flex-grow: 1;
    width: auto;
}

    .popup-part--width-auto + .popup-part--submit,
    .popup-part--width-auto + .popup-part--recaptcha + .popup-part--submit,
    .popup-part--width-auto + .popup-part--recaptcha {
        position: relative;
        top: -30px;
        align-self: flex-end;
        width: auto !important;
        margin-bottom: 0 !important;
        padding-top: 5px;
        padding-bottom: 0;
    }

    .popup-part--width-auto + .popup-part--recaptcha,
    .popup-form--part-outer-padding-narrow .popup-part--width-auto + .popup-part--recaptcha + .popup-part--submit {
        top: -13px;
    }

.popup-form--part-outer-padding-narrow .popup-part--width-auto + .popup-part--submit {
    top: -10px;
}

.popup-form--part-outer-padding-narrow .popup-part--width-auto + .popup-part--recaptcha {
    top: 3px;
}

.popup-form--part-outer-padding-wide .popup-part--width-auto + .popup-part--submit {
    top: -25px;
}

.popup-form--part-outer-padding-wide .popup-part--width-auto + .popup-part--recaptcha {
    top: -23px;
}

    .popup-form--part-outer-padding-wide .popup-part--width-auto + .popup-part--recaptcha + .popup-part--submit {
        top: -45px;
    }

.popup-part--width-auto + .popup-part--submit input[type=submit],
.popup-part--width-auto + .popup-part--recaptcha + .popup-part--submit input[type=submit] {
    width: 100%;
    padding: 17px 50px;
}

/* submit button part of the input */
.popup-form--submit-part-of-input .popup-part--width-auto + .popup-part--submit,
.popup-form--submit-part-of-input .popup-part--width-auto + .popup-part--recaptcha + .popup-part--submit {
    left: -1.5%;
    padding-left: 0;
    padding-right: 0;
}

.popup-form--submit-part-of-input.popup-form--part-outer-padding-wide .popup-part--width-auto + .popup-part--submit,
.popup-form--submit-part-of-input.popup-form--part-outer-padding-wide .popup-part--width-auto + .popup-part--recaptcha + .popup-part--submit {
    left: -3.5%;
    padding-left: 0;
}

.popup-form--submit-part-of-input.popup-form--part-outer-padding-narrow .popup-part--width-auto + .popup-part--submit,
.popup-form--submit-part-of-input.popup-form--part-outer-padding-narrow .popup-part--width-auto + .popup-part--recaptcha + .popup-part--submit {
    left: -1%;
    padding-left: 0;
}

.popup-form--submit-part-of-input .popup-part--width-auto + .popup-part--submit input[type=submit],
.popup-form--submit-part-of-input .popup-part--width-auto + .popup-part--recaptcha + .popup-part--submit input[type=submit] {
    padding-top: 8px;
    padding-bottom: 9px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.popup-form--submit-part-of-input.popup-form--part-inner-padding-wide .popup-part--width-auto + .popup-part--submit input[type=submit], .popup-form--submit-part-of-input.popup-form--part-inner-padding-wide .popup-part--width-auto + .popup-part--recaptcha + .popup-part--submit input[type=submit] {
    padding-top: 13px;
    padding-bottom: 15px;
}

.popup-form--submit-part-of-input.popup-form--part-inner-padding-narrow .popup-part--width-auto + .popup-part--submit input[type=submit],
.popup-form--submit-part-of-input.popup-form--part-inner-padding-narrow .popup-part--width-auto + .popup-part--recaptcha + .popup-part--submit input[type=submit] {
    padding-top: 3px;
    padding-bottom: 4px;
}

.popup-form--submit-part-of-input .popup-part--width-auto.popup-part--label-as_placeholder + .popup-part--submit input[type=submit],
.popup-form--submit-part-of-input .popup-part--width-auto.popup-part--label-inside + .popup-part--submit input[type=submit],
.popup-form--submit-part-of-input .popup-part--width-auto.popup-part--label-as_placeholder + .popup-part--recaptcha + .popup-part--submit input[type=submit],
.popup-form--submit-part-of-input .popup-part--width-auto.popup-part--label-inside + .popup-part--recaptcha + .popup-part--submit input[type=submit] {
    padding-top: 16px;
    padding-bottom: 18px;
}

.popup-part__label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
    line-height: 1;
    font-weight: normal;
    font-size: 16px;
    font-size: var(--popup-part-title-font-size);
    background-color: transparent;
}

    .popup-part__label .label {
        padding: 0;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        color: #000;
        color: var(--popup-color-part-title);
        background-color: transparent;
    }

.popup-part__description {
    display: block;
    margin: 5px 0 0;
    font-size: 14px;
    font-size: var(--popup-part-description-font-size);
    color: #000;
    color: var(--popup-color-primary);
}

.popup-part--focus-reveal-description .popup-part__description {
    display: none;
}

.popup-part--focus-reveal-description input:focus + .popup-part__description,
.popup-part--focus-reveal-description textarea:focus + .popup-part__description {
    display: block;
}

.popup-form--part-description-text-align-center .popup-part__description {
    text-align: center;
}

.popup-form--part-description-text-align-right .popup-part__description {
    text-align: right;
}

.popup-part--scale .popup-part__description {
    margin-bottom: 10px;
}

.popup-part--scale-multiple .popup-part__description {
    margin-bottom: 25px;
}

.popup-part input[type=text],
.popup-part input[type=email],
.popup-part input[type=tel],
.popup-part input[type=number],
.popup-part input[type=range],
.popup-part textarea {
    width: 100%;
    max-width: none;
    height: auto !important;
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #d4d4d4 !important;
    border-radius: 6px;
    border-radius: 6px !important;
    box-shadow: none;
    box-sizing: border-box;
    font-style: normal;
    font-size: 16px;
    font-size: var(--popup-part-value-font-size);
    background-color: #fff !important;
    background-color: var(--popup-color-part-background) !important;
    color: #000;
    color: var(--popup-color-part-value);
    transition-property: none;
    transition-duration: 0.1s;
    transition-duration: var(--popup-transition-duration);
    transition-timing-function: ease-in;
}

.popup-form--part-value-text-align-center .popup-part input[type=text],
.popup-form--part-value-text-align-center .popup-part input[type=email],
.popup-form--part-value-text-align-center .popup-part input[type=tel],
.popup-form--part-value-text-align-center .popup-part input[type=number],
.popup-form--part-value-text-align-center .popup-part textarea,
.popup-form--part-value-text-align-center .popup-part--checkbox .option-label,
.popup-form--part-value-text-align-center .popup-part--checkbox .popup-part__el,
.popup-form--part-value-text-align-center .popup-part--radio .option-label {
    text-align: center;
}

.popup-form--part-value-text-align-center .popup-part--radio .popup-part__el {
    justify-content: center;
}

.popup-form--part-value-text-align-right .popup-part input[type=text],
.popup-form--part-value-text-align-right .popup-part input[type=email],
.popup-form--part-value-text-align-right .popup-part input[type=tel],
.popup-form--part-value-text-align-right .popup-part input[type=number],
.popup-form--part-value-text-align-right .popup-part textarea,
.popup-form--part-value-text-align-right .popup-part--checkbox .option-label,
.popup-form--part-value-text-align-right .popup-part--checkbox .popup-part__el,
.popup-form--part-value-text-align-right .popup-part--radio .option-label {
    text-align: right;
}

.popup-form--part-value-text-align-right .popup-part--radio .popup-part__el {
    justify-content: flex-end;
}

.popup-form--part-border-off .popup-part input[type=text],
.popup-form--part-border-off .popup-part input[type=email],
.popup-form--part-border-off .popup-part input[type=tel],
.popup-form--part-border-off .popup-part input[type=number],
.popup-form--part-border-off .popup-part input[type=range],
.popup-form--part-border-off .popup-part textarea {
    border-color: transparent !important;
}

.popup-part input[type=text]:focus,
.popup-part input[type=email]:focus,
.popup-part input[type=tel]:focus,
.popup-part input[type=number]:focus,
.popup-part textarea:focus {
    outline: 0;
    border-color: #407fff !important;
    border-color: var(--popup-color-part-border-focus) !important;
    color: #000;
    color: var(--popup-color-part-value);
    background-color: #fff !important;
    background-color: var(--popup-color-part-background-focus) !important;
    box-shadow: inset 0 0 0 1px #407fff;
    box-shadow: inset 0 0 0 1px var(--popup-color-part-border-focus);
}

.popup-part select:focus {
    outline: 0;
}

.popup-form--part-border-off .popup-part input[type=text]:focus,
.popup-form--part-border-off .popup-part input[type=email]:focus,
.popup-form--part-border-off .popup-part input[type=tel]:focus,
.popup-form--part-border-off .popup-part input[type=number]:focus,
.popup-form--part-border-off .popup-part textarea:focus {
    border-color: transparent !important;
}

.popup-part.popup-part--error input[type=text],
.popup-part.popup-part--error input[type=email],
.popup-part.popup-part--error input[type=tel],
.popup-part.popup-part--error input[type=number],
.popup-part.popup-part--error input[type=range],
.popup-part.popup-part--error textarea {
    border-color: #ff7550;
    border-color: var(--popup-color-error);
}

.popup-part.display-type--block .popup-part__el {
    display: block;
    width: 100%;
}

/* placeholders */

.popup-part ::-webkit-input-placeholder {
    font-weight: normal;
    font-style: normal;
    color: #888888;
    color: var(--popup-color-part-placeholder);
}

.popup-part ::-moz-placeholder {
    font-weight: normal;
    font-style: normal;
    color: #888888;
    color: var(--popup-color-part-placeholder);
}

.popup-part ::-ms-placeholder {
    font-weight: normal;
    font-style: normal;
    color: #888888;
    color: var(--popup-color-part-placeholder);
}

.popup-part ::placeholder {
    font-weight: normal;
    font-style: normal;
    color: #888888;
    color: var(--popup-color-part-placeholder);
}

.popup-part-el-wrap {
    position: relative;
}

.popup-part-wrap {
    position: relative;
}

.popup-part-wrap--confirmation {
    margin-top: 10px;
}

.popup-required {
    color: #ff7550;
    color: var(--popup-color-part-required-text);
}

/* label placement */

.popup-part--label-below .popup-part-wrap {
    display: flex;
    flex-flow: row wrap-reverse;
    align-content: flex-end;
}

.popup-part--label-below .popup-part__label {
    order: 2;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.popup-part--label-above .popup-part__label--confirmation {
    margin-top: 10px;
}

.popup-part--label-below .popup-part__description {
    order: 1;
    margin-top: 0;
}

.popup-part--label-below.popup-part--date .popup-part__el {
    width: 100%;
    order: 2;
}

.popup-part--date .popup-part__description {
    width: 100%;
}

.popup-part--label-left .popup-part__description {
    width: 100%;
}

.popup-part--label-left .popup-part-wrap {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
    .popup-part--label-left .popup-part__label {
        float: none;
        width: 25%;
        margin-bottom: 0;
        align-self: flex-start;
    }
}

.popup-part--label-left .popup-part-wrap > .popup-part__el {
    width: 75%;
}

.popup-part--label-left.popup-part--date .popup-custom-select {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .popup-part--label-left .popup-part-wrap {
        flex-flow: column;
    }

    .popup-part--label-left .popup-part__label {
        align-self: flex-start;
    }

    .popup-part--label-left .popup-part-wrap > .popup-part__el,
    .popup-part--label-left .popup-custom-select {
        width: 100%;
    }
}

/* parts - option labels */

.popup-part .option-label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 0 5px 5px 0;
    font-size: 16px;
    font-size: var(--popup-part-value-font-size);
}

.popup-part--radio .option-label {
    margin-right: 20px;
    padding: 10px;
    background-color: #fff;
}

    .popup-part--radio .option-label .border {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        border: 1px solid;
        border-color: #dbdbdb;
        border-color: var(--popup-color-part-border);
        background-color: #fff;
        background-color: var(--popup-color-part-background);
        transition: border-color var(--popup-transition-duration);
    }

.popup-form--part-borders-bottom-only .popup-part--radio .option-label .border {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.popup-form--part-border-off .option-label .border {
    border-color: transparent;
}

.popup-part--radio .option-label input,
.popup-part--checkbox .option-label input {
    top: 3px;
}

.popup-part--radio input:checked ~ .border,
.popup-part--radio .option-label:hover .border {
    border-width: 2px;
    border-color: #407fff;
    border-color: var(--popup-color-part-border-focus);
    background-color: #fff;
    background-color: var(--popup-color-part-background-focus);
}

.popup-form--part-borders-bottom-only .popup-part--radio input:checked ~ .border,
.popup-form--part-borders-bottom-only .popup-part--radio .option-label:hover .border {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.popup-part--radio .option-label input:focus {
    outline: 0;
}

.popup-part .option-label .label {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    padding: 0 10px;
    font-size: 16px;
    font-size: var(--popup-part-value-font-size);
    color: #000;
    color: var(--popup-color-part-value);
}

.popup-form--direction-rtl .popup-part--radio .option-label .label,
.popup-form--direction-rtl .popup-part--checkbox .option-label .label {
    margin-right: 0;
}

.popup-part-option {
    margin-bottom: 20px;
}

.popup-part-option__description {
    display: block;
    width: 100%;
    max-width: 400px;
    margin-top: 3px;
    margin-right: 20px;
    font-size: 12px;
    color: #000;
    color: var(--popup-color-primary);
}

.popup-part--radio.display-type--block .popup-part-option__description {
    max-width: none;
}

.popup-part.display-type--block .option-label {
    display: flex;
    margin-right: 0;
    align-items: center;
}

.popup-part--checkbox.display-type--block .option-label {
    margin-bottom: 10px;
}

/* tooltips */

.popup-tooltip {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 10px;
    width: 100%;
    height: 55%;
    overflow: visible;
    pointer-events: none;
}

.popup-part--multi_line_text .popup-tooltip {
    height: 80%;
}

@media screen and (min-width: 800px) {
    .popup-part--label-inside .popup-tooltip,
    .popup-part--label-as_placeholder .popup-tooltip,
    .popup-part--label-left .popup-tooltip {
        height: 100%;
    }
}

.popup-part--label-below .popup-tooltip {
    top: 5px;
    height: 55%;
}

.popup-part--label-below.popup-part--multi_line_text .popup-tooltip {
    height: 80%;
}

.popup-part--label-left.popup-part--address-has-geolocation.popup-part--has-tooltip .popup-part__el,
.popup-part--label-left.popup-part--address-has-geolocation.popup-part--has-tooltip .popup-part__label,
.popup-part--label-below.popup-part--address-has-geolocation.popup-part--has-tooltip .popup-part__el {
    margin-top: 35px;
}

.popup-part--checkbox .popup-tooltip,
.popup-part--radio .popup-tooltip,
.popup-part--select .popup-tooltip,
.popup-part--table .popup-tooltip,
.popup-part--address-has-geolocation .popup-tooltip,
.popup-part--scale .popup-tooltip,
.popup-part--rating .popup-tooltip,
.popup-part--date .popup-tooltip {
    top: 5px;
    align-items: flex-start;
}

.popup-part--date.popup-part--has-tooltip.popup-part--label-left .popup-part__el,
.popup-part--date.popup-part--has-tooltip.popup-part--label-left .popup-part__label,
.popup-part--date.popup-part--has-tooltip.popup-part--label-below .popup-part__el,
.popup-part--select.popup-part--has-tooltip.popup-part--label-left .popup-part__label,
.popup-part--select.popup-part--has-tooltip.popup-part--label-left .popup-part__select-wrap,
.popup-part--select.popup-part--has-tooltip.popup-part--label-below .popup-part__select-wrap,
.popup-part--radio.popup-part--has-tooltip.popup-part--label-left .popup-part__el,
.popup-part--radio.popup-part--has-tooltip.popup-part--label-left .popup-part__label,
.popup-part--radio.popup-part--has-tooltip.popup-part--label-below .popup-part__el {
    margin-top: 35px;
}

.popup-tooltip__trigger {
    position: absolute;
    right: 0;
    z-index: 99;
    display: block;
    background-color: transparent;
    pointer-events: auto;
    cursor: pointer;
}

.popup-form--part-value-text-align-right .popup-tooltip__trigger {
    right: auto;
    left: 1px;
}

.popup-form--direction-rtl .popup-tooltip__trigger {
    left: 1px;
    right: auto;
}

.popup-tooltip__trigger:after {
    content: "?";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-style: normal;
    font-size: 11px;
    line-height: 18px;
    color: #fff;
    color: var(--popup-color-part-background);
    text-align: center;
    background-color: #000;
    background-color: var(--popup-color-part-value);
}

.popup-tooltip .popup-part__description {
    position: absolute;
    z-index: 999;
    top: 0;
    right: -10px;
    transform: translate(0, -44px);
    opacity: 0;
    width: auto;
    visibility: hidden;
    padding: 10px 15px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    font-weight: normal;
    color: #000;
    color: var(--popup-color-primary);
    text-align: center;
    background-color: #fff;
    background-color: var(--popup-color-part-background);
    transition: opacity 0.2s;
}

.popup-part--label-below .popup-tooltip .popup-part__description {
    top: 5px;
}

.popup-part--checkbox .popup-tooltip .popup-part__description,
.popup-part--radio .popup-tooltip .popup-part__description,
.popup-part--select .popup-tooltip .popup-part__description,
.popup-part--address-has-geolocation .popup-tooltip .popup-part__description,
.popup-part--table .popup-tooltip .popup-part__description,
.popup-part--scale .popup-tooltip .popup-part__description,
.popup-part--rating .popup-tooltip .popup-part__description,
.popup-part--date .popup-tooltip .popup-part__description {
    top: -10px;
}

.popup-part--multi_line_text .popup-tooltip .popup-part__description {
    top: 5px;
    transform: none;
}

.popup-part--label-inside .popup-tooltip .popup-part__description,
.popup-part--label-as_placeholder .popup-tooltip .popup-part__description {
    transform: translate(0, -35px);
}

.popup-part--multi_line_text.popup-part--label-below .popup-tooltip .popup-part__description,
.popup-part--label-inside.popup-part--multi_line_text .popup-tooltip .popup-part__description,
.popup-part--label-as_placeholder.popup-part--multi_line_text .popup-tooltip .popup-part__description {
    top: 14px;
    transform: none;
}

.popup-tooltip .popup-part__description:before {
    content: '';
    position: absolute;
    top: 100%;
    right: 12px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #dbdbdb;
}

.popup-tooltip .popup-part__description:after {
    content: '';
    position: absolute;
    top: calc(100% - 1px);
    right: 13px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #fff;
    border-top-color: var(--popup-color-part-background);
}

.popup-tooltip:hover .popup-part__description {
    visibility: visible;
    opacity: 1;
}

/* parts - radio, checkbox */

.popup-part--radio .popup-part__el,
.popup-part--checkbox .popup-part__el {
    display: flex;
}

.popup-part--radio {
    margin-bottom: 0;
}

    .popup-part--radio.display-type--block {
        margin-bottom: 20px;
    }

.popup-part .checkmark {
    position: relative;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #dbdbdb;
    border-color: var(--popup-color-part-border);
    background-color: #fff;
    background-color: var(--popup-color-choice-checkmark-bg);
    color: #fff;
    color: var(--popup-color-choice-checkmark-color);
}

    .popup-part .checkmark svg {
        display: none;
    }

.popup-part--checkbox .checkmark,
.popup-part--table.popup-selection--multiple .checkmark,
.popup-part--legal .checkmark {
    border-radius: 6px;
}

.popup-form--part-border-radius-square .popup-part--checkbox .checkmark,
.popup-form--part-border-radius-square .popup-part--table.popup-selection--multiple .checkmark,
.popup-form--part-border-radius-square .popup-part--legal .checkmark {
    border-radius: 0;
}

.popup-part--legal .option-label p:last-child {
    margin-bottom: 0;
}

.popup-part.display-type--block .checkmark {
    margin-right: 5px;
}

.popup-part .option-label input:checked + .checkmark {
    border-color: transparent;
    background-color: #000;
    background-color: var(--popup-color-choice-checkmark-bg-focus);
}

.popup-part input:checked + .checkmark svg {
    display: block;
}

/* parts - scale */

.popup-part input[type=range] {
    -webkit-appearance: none;
    padding: 0;
    border: 0;
    width: 100%;
    height: 1px !important;
    background: #dbdbdb;
    background: var(--popup-color-part-border);
}

    .popup-part input[type=range]:focus {
        border: 0;
        outline: 0;
    }

    .popup-part input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        cursor: pointer;
        animate: 0.25s;
        animate: var(--popup-transition-duration);
        box-shadow: none;
    }

    .popup-part input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        margin-top: -3px;
        border: 1px solid;
        border-color: #000;
        border-color: var(--popup-color-part-value);
        border-radius: 50%;
        box-shadow: none;
        background: #000;
        background: var(--popup-color-part-value);
        cursor: pointer;
    }

    .popup-part input[type=range]::-moz-range-track {
        width: 100%;
        cursor: pointer;
        animate: 0.25s;
        animate: var(--popup-transition-duration);
        box-shadow: none;
    }

    .popup-part input[type=range]::-moz-range-thumb {
        width: 20px;
        height: 20px;
        margin-top: -3px;
        border: 1px solid;
        border-color: #000;
        border-color: var(--popup-color-part-value);
        border-radius: 50%;
        box-shadow: none;
        background: #000;
        background: var(--popup-color-part-value);
        cursor: pointer;
    }

    .popup-part input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;
        animate: 0.25s;
        animate: var(--popup-transition-duration);
        box-shadow: none;
    }

    .popup-part input[type=range]::-ms-fill-lower {
        background: #000;
        background: var(--popup-color-part-value);
        border: 0;
        box-shadow: none;
    }

    .popup-part input[type=range]::-ms-fill-upper {
        background: #000;
        background: var(--popup-color-part-value);
        border: 0;
        box-shadow: none;
    }

    .popup-part input[type=range]::-ms-thumb {
        width: 20px;
        height: 20px;
        margin-top: -3px;
        border: 1px solid #000;
        border: var(--popup-color-part-value);
        border-radius: 50%;
        box-shadow: none;
        background: #000;
        background: var(--popup-color-part-value);
        cursor: pointer;
    }

    .popup-part input[type=range]:focus::-ms-fill-lower {
        background: #000;
        background: var(--popup-color-part-value);
    }

    .popup-part input[type=range]:focus::-ms-fill-upper {
        background: #000;
        background: var(--popup-color-part-value);
    }

.popup-part--scale output {
    display: block;
    position: relative;
    width: 100%;
    font-size: 16px;
    font-size: var(--popup-part-value-font-size);
}

    .popup-part--scale output span {
        position: absolute;
        left: 0;
        color: #000;
        color: var(--popup-color-part-value);
    }

    .popup-part--scale output span {
        position: absolute;
        left: 0;
    }

.popup-part--scale__labels {
    position: relative;
    width: 100%;
    font-size: 16px;
    font-size: var(--popup-part-value-font-size);
    color: #888888;
    color: var(--popup-color-part-placeholder);
}

.popup-part--scale .popup-part__el {
    display: flex;
    flex-flow: column wrap;
}

.popup-part--scale .popup-part__description {
    margin-top: 30px;
}

.popup-part--scale-multiple .popup-part--scale__labels {
    position: absolute;
    top: -40px;
}

.popup-part--scale-multiple .popup-part--scale__inputwrap {
    position: relative;
}

.popup-part--label-below .popup-part--scale__inputwrap {
    width: 100%;
    order: 3;
}

.popup-part--scale-multiple.popup-part--label-left {
    margin-top: 30px;
}

.popup-part--scale-multiple.popup-part--label-below .popup-part--scale__inputwrap {
    position: relative;
    top: 40px;
}

.popup-part--scale-multiple.popup-part--label-below label {
    margin-top: 75px;
}

.popup-part--label-above.popup-part--scale-multiple .popup-part--scale__inputwrap {
    padding-top: 30px;
}

.popup-part--label-above.popup-part--scale-multiple .popup-part--scale__labels {
    top: -15px;
}

.popup-part--scale__labels .label-min {
    float: left;
}

.popup-part--scale__labels .label-max {
    float: right;
}

.popup-part--label-below input,
.popup-part--label-below textarea,
.popup-part--label-below .popup-custom-select,
.popup-part--label-below .popup-part__el {
    order: 3;
}

.popup-part--label-below .popup-part__el,
.popup-part--label-below .popup-custom-select {
    width: 100%;
}

.popup-part--label-below.popup-part--date .popup-part__el {
    width: 100%;
    order: 2;
}

.popup-form--part-title-text-align-center .popup-part__label {
    width: 100%;
    text-align: center;
}

.popup-form--part-title-text-align-right .popup-part__label {
    width: 100%;
    text-align: right;
}

.popup-part--label-below.popup-part--phone .popup-part__el {
    width: 100%;
}

/* parts - placeholder */

.popup-part--placeholder .popup-part__el {
    padding: 10px 0;
}

.popup-part--placeholder p {
    font-size: 16px;
    color: #000;
}

.popup-form--part-value-text-align-center .popup-part--placeholder p {
    text-align: center;
}

.popup-form--part-value-text-align-right .popup-part--placeholder p {
    text-align: right;
}

.popup-part--placeholder p:first-child {
    margin-top: 0;
}

.popup-part--placeholder p:last-child {
    margin-bottom: 0;
}

/* parts - select */
.popup-part-date--datetime.popup-part--width-half .popup-part__el,
.popup-part-date--datetime.popup-part--width-third .popup-part__el {
    flex-wrap: wrap;
}

.popup-part-date--datetime.popup-part--width-half .popup-part--date__input-wrap,
.popup-part-date--datetime.popup-part--width-third .popup-part--date__input-wrap {
    min-width: 33.333%;
    margin-bottom: 15px;
}

.popup-part__select-wrap,
.popup-part--date__input-wrap,
.popup-part-date__date-input {
    position: relative;
    flex: 1;
    padding: 0 0 0 2%;
}

.popup-part__select-wrap {
    height: 100%;
}

.popup-part-date__date-input {
    height: 100%;
}

.popup-part__select-bg {
    padding: 1px 0 2px;
    border: 1px solid;
    border-radius: 6px;
    border-color: #dbdbdb;
    border-color: var(--popup-color-part-border);
    background-color: #fff;
    background-color: var(--popup-color-part-background);
}

.popup-part__select-wrap:first-of-type,
.popup-part--date__input-wrap:first-of-type,
.popup-part-date__date-input:first-of-type {
    padding-left: 0 !important;
}

.popup-part-date__time-input--minutes {
    padding-left: 0;
}

.popup-part--date__time-separator {
    width: 2%;
    text-align: center;
}

    .popup-part--date__time-separator span {
        position: relative;
        top: 7px;
    }

@media screen and (max-width: 800px) {
    .popup-part-date__date-input {
        flex: auto;
        width: 33%;
    }

    .popup-part-date--datetime .popup-part-date__time-input {
        flex: auto;
        width: 33%;
    }

    .popup-part-date__time-input {
        margin-top: 20px;
    }

    .popup-part-date__time-input--hours {
        padding-left: 0;
    }

    .popup-part--date__time-separator span {
        top: 28px;
    }
}

.popup-part__select-wrap:after {
    content: '';
    position: absolute;
    top: 44%;
    right: 15px;
    z-index: 1;
    display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
    border-top: 6px solid var(--popup-color-part-value);
    background-size: cover;
    background-repeat: no-repeat;
}

.popup-part--select select:focus,
.popup-part--date select:focus {
    outline-width: 1px;
    outline-color: #000000;
    outline-color: var(--popup-color-part-value);
}

.popup-part--date .popup-part__el {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.popup-part__select-wrap:last-child {
    padding-right: 0;
}

.popup-part-date__time-input input[type=text] {
    -webkit-appearance: none;
}

.popup-part-date__time-input .popup-spinner-arrow {
    cursor: pointer;
    content: '';
    display: block;
    position: absolute;
    bottom: 8px;
    right: 7px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
    border-top: 6px solid var(--popup-color-part-value);
    background-position: left top;
    background-size: cover;
}

.popup-part-date__time-input .popup-spinner-arrow--up {
    top: 8px;
    bottom: auto;
    transform: rotateX(-180deg);
}

/* parts - rating */

.popup-part--rating .popup-part-wrap {
    display: flex;
    flex-direction: column;
}

.popup-part--rating.popup-part--label-left .popup-part-wrap {
    flex-direction: row;
}

.popup-part--rating.popup-part--label-below .popup-part-wrap {
    flex-direction: column-reverse;
}

.popup-part--rating .popup-rating-item-wrap {
    float: left;
    margin-right: 5px;
}

    .popup-part--rating .popup-rating-item-wrap:last-child {
        margin-right: 0;
    }

.popup-part--rating .popup-star {
    width: 35px;
    height: 35px;
}

.popup-part--rating .popup-star__label {
    cursor: pointer;
    float: left;
    margin-right: 5px;
    color: #f39c00;
    color: var(--popup-color-rating-hover);
}

.popup-part--rating .popup-star__star {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 35px;
}

.popup-part--rating .popup-part-wrap {
    fill: #ccc;
    fill: var(--popup-color-rating);
    color: transparent;
    stroke: #ccc;
    stroke: var(--popup-color-rating);
}

.popup-part--rating:hover .popup-part-wrap {
    color: #ccc;
    fill: #f39c00;
    fill: var(--popup-color-rating-hover);
    stroke: #f39c00;
    stroke: var(--popup-color-rating-hover);
}

.popup-part--rating .popup-part__label {
    display: block;
}

.popup-part--rating label {
    display: inline;
    fill: inherit;
    color: inherit;
    stroke: inherit;
    clear: none;
}

.popup-part--rating .popup-star__label {
    cursor: pointer;
    float: left;
    margin-right: 5px;
}

.popup-part--rating .popup-star__label {
    color: #f39c00;
    color: var(--popup-color-rating-hover);
}

.popup-part--rating:not(:hover) input:first-child:checked ~ label,
.popup-part--rating input:hover + label ~ label:not(:hover),
.popup-part--rating:hover input:checked + label:hover ~ label,
.popup-part--rating:not(:hover) input:checked + label ~ label {
    color: #ccc;
    color: var(--popup-color-rating);
}

.popup-rating--smileys .popup-part__el,
.popup-rating--thumbs .popup-part__el {
    display: flex;
}

@media screen and (max-width: 800px) {
    .popup-rating--smileys .popup-part__el,
    .popup-rating--thumbs .popup-part__el {
        flex-flow: column wrap;
    }

        .popup-rating--thumbs .popup-part__el label,
        .popup-rating--smileys .popup-part__el label {
            margin-bottom: 10px;
        }
}

.popup-rating--thumbs .popup-part__el label,
.popup-rating--smileys .popup-part__el label {
    cursor: pointer;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    border: 1px solid #dbdbdb;
    border: 1px solid var(--popup-color-part-border);
    border-radius: 6px;
    background-color: #fff;
    background-color: var(--popup-color-part-background);
}

    .popup-rating--smileys .popup-part__el input:checked + label,
    .popup-rating--thumbs .popup-part__el input:checked + label,
    .popup-rating--smileys .popup-part__el label:hover,
    .popup-rating--thumbs .popup-part__el label:hover {
        border-color: #407fff !important;
        border-color: var(--popup-color-part-border-focus) !important;
        background-color: #fff;
        background-color: var(--popup-color-part-background-focus);
        box-shadow: inset 0 0 0 1px #407fff;
        box-shadow: inset 0 0 0 1px var(--popup-color-part-border-focus);
    }

.popup-rating--smileys label img,
.popup-rating--thumbs label img {
    width: 25px !important;
    height: auto !important;
    transition: width 0.2s ease-in-out;
    transition: width var(--popup-transition-duration) ease-in-out;
}

.popup-rating__item-wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

    .popup-rating__item-wrap .popup-rating__item-label {
        margin-left: 10px;
        font-size: 16px;
        font-size: var(--popup-part-value-font-size);
        color: #000;
        color: var(--popup-color-part-value);
    }

.popup-rating--smileys .popup-part__el input:checked + label .popup-rating__item-label,
.popup-rating--smileys .popup-part__el label:hover .popup-rating__item-label {
    color: #000;
    color: var(--popup-color-part-value);
}

/* parts - legal */

.popup-part--legal .option-label {
    display: flex;
}

.popup-part--legal input {
    top: 3px;
}

.popup-part--legal label {
    font-weight: normal;
    font-size: 16px;
    font-size: var(--popup-part-value-font-size);
}

@media screen and (min-width: 800px) {
    .popup-part-legal--align-right .popup-part__el {
        float: right;
        width: 75%;
    }
}

/* parts - address */

.popup-part--address .popup-part-el-wrap {
    width: 100%;
}

.popup-part--address.popup-part--label-below .popup-part-el-wrap {
    order: 3;
}

.popup-part--address.popup-part--address-country-city .popup-part-el-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .popup-part--address.popup-part--address-country-city .popup-part-el-wrap {
        flex-flow: column wrap;
    }
}

.popup-part--address .popup-part__el {
    position: relative;
    width: 100%;
}

.popup-part--address .popup-part-el-wrap .address-city {
    flex: 1;
    max-width: 49%;
}

.popup-part--address-has-geolocation.popup-part--address-country-city .popup-part__dummy-input {
    flex: 1;
    max-width: 49%;
}

@media screen and (max-width: 800px) {
    .popup-part--address.popup-part--address-country-city .popup-part__el {
        width: 100%;
        margin-bottom: 20px;
    }

    .popup-part--address-has-geolocation.popup-part--address-country-city .popup-part__dummy-input {
        max-width: 100%;
    }

    .popup-part--address.popup-part--address-country-city .popup-part__el:last-child {
        width: 100%;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 800px) {
    .popup-part--address.popup-part--address-country-city .popup-part__el:first-child {
        padding-right: 2%;
    }
}

.popup-form--part-outer-padding-narrow .popup-part--address.popup-part--address-country-city .popup-part__el:first-child {
    padding-right: 1%;
}

.popup-form--part-outer-padding-wide .popup-part--address.popup-part--address-country-city .popup-part__el:first-child {
    padding-right: 6%;
}

.popup-part--address__results {
    position: absolute;
    z-index: 9999;
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    border-radius: 6px;
}

    .popup-part--address__results ul {
        list-style-type: none;
        padding: 0;
        border: 1px solid;
        border-color: #407fff;
        border-color: var(--popup-color-part-border-focus);
        border-radius: 6px;
        background-color: #fff;
        background-color: var(--popup-color-part-background);
    }

        .popup-part--address__results ul li {
            cursor: pointer;
            list-style: none;
            padding: 3px 10px;
            border-bottom: 1px solid;
            border-color: #dbdbdb;
            border-color: var(--popup-color-part-border);
            font-size: 16px;
            font-size: var(--popup-part-value-font-size);
            color: #000;
            color: var(--popup-color-part-value);
        }

            .popup-part--address__results ul li:hover {
                border-color: #407fff;
                border-color: var(--popup-color-part-border-focus);
            }

.popup-part--address__results--google ul:after {
    content: "";
    padding: 5px 10px 0;
    height: 16px;
    box-sizing: content-box;
    text-align: right;
    display: block;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
    background-position: calc(100% - 10px) center;
    background-repeat: no-repeat;
    background-size: 120px 14px;
}

.popup-part--address-has-geolocation .popup-part__dummy-input {
    display: flex;
}

@media screen and (max-width: 800px) {
    .popup-part--address-has-geolocation .popup-part__dummy-input {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .popup-part--address .popup-part-el-wrap .address-city {
        max-width: 100%;
    }
}

.popup-part--address-has-geolocation .popup-part__dummy-input > input {
    flex: 1 0;
}

    .popup-part--address-has-geolocation .popup-part__dummy-input > input[type=text],
    .popup-part--address-has-geolocation .popup-part__dummy-input > input[type=text]:focus {
        order: 1;
        border-right: none !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

a.address-geolocate {
    position: relative;
    left: -2px;
    flex: 0 0 auto;
    order: 2;
    height: auto !important;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #dbdbdb;
    border-color: var(--popup-color-part-border);
    border-radius: 6px;
    border-left: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    box-shadow: none;
    font-style: normal;
    font-size: 16px;
    font-size: var(--popup-part-value-font-size);
    font-weight: normal;
    text-decoration: underline;
    background-color: #fff;
    background-color: var(--popup-color-part-background);
    color: #000;
    color: var(--popup-color-part-value);
    transition: border-color 0.4s;
    transition: border-color var(--popup-transition-duration);
    box-shadow: inset -1px -1px -1px 1px var(--popup-color-part-border);
}

    a.address-geolocate svg {
        display: inline-block;
        vertical-align: middle;
        width: calc(var(--popup-part-value-font-size) * (96 / 100) + 3px);
        height: calc(var(--popup-part-value-font-size) * (96 / 100));
        fill: #000;
        fill: var(--popup-color-part-value);
    }

    a.address-geolocate.disabled {
        pointer-events: none;
        color: black;
    }

    a.address-geolocate span {
        display: none;
    }

@media screen and (min-width: 800px) {
    a.address-geolocate span {
        display: inline;
    }
}

.popup-part input[type=text]:focus + a.address-geolocate {
    border-width: 1px;
    border-right-width: 0;
    border-style: solid;
    border-color: #407fff;
    border-color: var(--popup-color-part-border-focus);
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fff;
    background-color: var(--popup-color-part-background-focus);
    box-shadow: inset -1px 0px 0px 1px var(--popup-color-part-border-focus)
}

.popup-form--part-border-radius-square a.address-geolocate {
    border-radius: 0px;
}

.popup-form--part-border-radius-pill a.address-geolocate {
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.popup-form--part-borders-bottom-only a.address-geolocate {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.popup-form--part-disable-transitions a.address-geolocate {
    transition-duration: 0s;
}

.popup-form--part-border-off a.address-geolocate {
    border-color: transparent !important;
}

.popup-form--part-borders-bottom-only a.address-geolocate {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}

.popup-form--part-inner-padding-narrow a.address-geolocate {
    padding: 5px;
}

.popup-form--part-inner-padding-wide a.address-geolocate {
    padding: 15px;
}

/* submit button */

.popup-part--submit {
    width: 100%;
}

input[type=submit].popup-button--submit,
input[type=submit][disabled].popup-button--submit {
    height: auto;
    padding: 20px 50px;
    border-radius: 4px;
    border: 1px solid transparent !important;
    border-color: var(--popup-color-submit-border) !important;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    font-size: var(--popup-submit-button-font-size);
    color: #fff;
    color: var(--popup-color-submit-text);
    background-color: #407fff;
    background-color: var(--popup-color-submit-background);
    background: #407fff;
    background: var(--popup-color-submit-background);
    text-transform: none;
    transition-property: all;
    transition-duration: 0.25s;
    transition-duration: var(--popup-transition-duration);
    transition-timing-function: ease-in;
}

input[type=submit][disabled].popup-button--submit {
    cursor: default;
}

input[type=submit].popup-button--submit:hover,
input[type=submit].popup-button--submit:focus {
    cursor: pointer;
    border-radius: 4px;
    border-color: transparent !important;
    border-color: var(--popup-color-submit-border) !important;
    background-color: #3567cc;
    background-color: var(--popup-color-submit-background-hover);
    background: #3567cc;
    background: var(--popup-color-submit-background-hover);
    text-transform: none;
    color: #fff;
    color: var(--popup-color-submit-text-hover);
}

input[type=submit][disabled].popup-button--submit:hover,
input[type=submit][disabled].popup-button--submit:focus {
    cursor: default;
    background-color: #407fff;
    background-color: var(--popup-color-submit-background);
    background: #407fff;
    background: var(--popup-color-submit-background);
    color: #fff;
    color: var(--popup-color-submit-text);
}

/* notices */
form > .popup-message-notices {
    padding: 0 1%;
}

    form > .popup-message-notices .popup-message-notice {
        padding: 25px;
        border: 3px solid;
        background-color: transparent;
        color: var(--popup-color-primary);
    }

    form > .popup-message-notices .success {
        border-color: #39b54a;
        border-color: var(--popup-color-success);
    }

    form > .popup-message-notices .error {
        border-color: #ff7550;
        border-color: var(--popup-color-error);
    }

.popup-message-notices h2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 16px !important;
}

    .popup-message-notices h2 span {
        display: block;
        font-weight: normal;
        font-size: 14px;
    }

.popup-form__part .popup-message-notices h2 {
    font-weight: normal !important;
    font-size: 16px !important;
    font-size: var(--popup-part-value-font-size) !important;
}

.popup-form__part .popup-message-notice.error h2 {
    color: #ff7550;
    color: var(--popup-color-error);
}

.popup-form__title + .popup-message-notices {
    margin-top: 25px;
}

/* umbrella classes */
.popup-form--part-border-radius-square .popup-part input[type=text],
.popup-form--part-border-radius-square .popup-part input[type=email],
.popup-form--part-border-radius-square .popup-part input[type=tel],
.popup-form--part-border-radius-square .popup-part input[type=number],
.popup-form--part-border-radius-square .popup-part input[type=range],
.popup-form--part-border-radius-square .popup-part textarea,
.popup-form--part-border-radius-square .popup-part .popup-part__select-bg,
.popup-form--part-border-radius-square .popup-part--address__results ul,
.popup-form--part-border-radius-square .popup-country-select__selected-country {
    border-radius: 0px !important;
}

.popup-form--part-border-radius-square .popup-part--radio .option-label .border {
    border-radius: 0px;
}

.popup-form--part-border-radius-pill .popup-part input[type=text],
.popup-form--part-border-radius-pill .popup-part input[type=email],
.popup-form--part-border-radius-pill .popup-part input[type=tel],
.popup-form--part-border-radius-pill .popup-part input[type=number],
.popup-form--part-border-radius-pill .popup-part input[type=range],
.popup-form--part-border-radius-pill .popup-part textarea {
    border-radius: 25px !important;
    padding-left: 25px;
    padding-right: 25px;
}

.popup-form--part-border-radius-pill .popup-part .popup-part__select-bg {
    border-radius: 25px;
    padding-left: 15px;
}

.popup-form--part-border-radius-pill .popup-part--address__results ul {
    border-radius: 25px;
}

.popup-form--part-border-radius-pill .popup-part--radio .option-label .border {
    border-radius: 25px;
}

.popup-form--part-border-radius-pill .popup-part-date__time-input .popup-spinner-arrow {
    right: 15px;
}

.popup-form--part-placeholder-toggle .popup-part ::-webkit-input-placeholder {
    color: transparent;
    transition: color var(--popup-transition-duration);
}

.popup-form--part-placeholder-toggle .popup-part ::-moz-placeholder {
    color: transparent;
    transition: color var(--popup-transition-duration);
}

.popup-form--part-placeholder-toggle .popup-part ::-ms-placeholder {
    color: transparent;
    transition: color var(--popup-transition-duration);
}

.popup-form--part-placeholder-toggle .popup-part ::placeholder {
    color: transparent;
    transition: color var(--popup-transition-duration);
}

.popup-form--part-placeholder-toggle .popup-part input:focus::-webkit-input-placeholder {
    color: #aaa;
}

.popup-form--part-placeholder-toggle .popup-part input:focus::-moz-placeholder {
    color: #aaa;
}

.popup-form--part-placeholder-toggle .popup-part input:focus::-ms-placeholder {
    color: #aaa;
}

.popup-form--part-placeholder-toggle .popup-part input:focus::placeholder {
    color: #aaa;
}

/* labels */

.popup-part--label-inside label {
    position: absolute;
    top: 8px;
    left: 11px;
    z-index: 2;
}

.popup-part--label-inside.popup-part--phone.popup-is-masked label {
    top: 10px;
    left: 75px;
    z-index: 2;
}

.popup-part--label-as_placeholder.popup-part--phone.popup-is-masked label {
    top: 10px;
    left: 75px;
}

.popup-part--label-inside label .label {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    color: var(--popup-color-part-title);
}

.popup-part--label-inside input,
.popup-part--label-inside textarea,
.popup-part--label-as_placeholder input,
.popup-part--label-as_placeholder textarea {
    padding-top: 30px !important;
    padding-bottom: 7px !important;
}

.popup-part--label-inside a.address-geolocate,
.popup-part--label-as_placeholder a.address-geolocate {
    padding-top: 18px !important;
}

.popup-form--part-inner-padding-narrow .popup-part--label-as_placeholder a.address-geolocate {
    padding-top: 13px !important;
}

.popup-form--part-inner-padding-wide .popup-part--label-as_placeholder a.address-geolocate {
    padding-top: 21px !important;
}

.popup-form--part-inner-padding-narrow .popup-part--label-inside input,
.popup-form--part-inner-padding-narrow .popup-part--label-inside textarea,
.popup-form--part-inner-padding-narrow .popup-part--label-as_placeholder input,
.popup-form--part-inner-padding-narrow .popup-part--label-as_placeholder textarea {
    padding-top: 22px !important;
    padding-bottom: 5px !important;
}

.popup-form--part-inner-padding-wide .popup-part--label-inside input,
.popup-form--part-inner-padding-wide .popup-part--label-inside textarea,
.popup-form--part-inner-padding-wide .popup-part--label-as_placeholder input,
.popup-form--part-inner-padding-wide .popup-part--label-as_placeholder textarea {
    padding-top: 30px !important;
    padding-bottom: 10px !important;
}

/* part borders */
.popup-form--part-borders-bottom-only .popup-part input[type=text],
.popup-form--part-borders-bottom-only .popup-part input[type=email],
.popup-form--part-borders-bottom-only .popup-part input[type=number],
.popup-form--part-borders-bottom-only .popup-part textarea {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    box-shadow: none !important;
}

/* part border transitions */
.popup-form--part-disable-transitions .popup-part input[type=text],
.popup-form--part-disable-transitions .popup-part input[type=email],
.popup-form--part-disable-transitions .popup-part input[type=number],
.popup-form--part-disable-transitions .popup-part textarea {
    transition-duration: 0s;
}

.popup-part input[type=text],
.popup-part input[type=email],
.popup-part input[type=number],
.popup-part textarea {
    transition: border-color 0.4s;
    transition: border-color var(--popup-transition-duration);
}

/*  part labels transitions */
.popup-part--label-as_placeholder label {
    color: #888888;
    color: var(--popup-color-part-placeholder);
    transition-duration: 0.4s;
    transition-duration: var(--popup-transition-duration);
}

.popup-part--label-as_placeholder ::-webkit-input-placeholder {
    opacity: 0;
}

.popup-part--label-as_placeholder ::-moz-placeholder {
    opacity: 0;
}

.popup-part--label-as_placeholder ::-ms-placeholder {
    opacity: 0;
}

.popup-part--label-as_placeholder ::placeholder {
    opacity: 0;
}

.popup-part--label-as_placeholder label {
    position: absolute;
    left: 11px;
    top: 23px;
    transition-property: top;
}

.popup-part--label-as_placeholder .popup-part__label .label {
    color: #888888;
    color: var(--popup-color-part-placeholder);
}

.popup-form--direction-rtl .popup-part--label-as_placeholder label {
    left: auto;
    right: 11px;
}

.popup-part--label-as_placeholder input:focus ~ label,
.popup-part--label-as_placeholder textarea:focus ~ label,
.popup-part--label-as_placeholder.popup-part--filled input ~ label,
.popup-part--label-as_placeholder.popup-part--filled textarea ~ label {
    top: 8px;
}

    .popup-part--label-as_placeholder input:focus ~ label .label,
    .popup-part--label-as_placeholder textarea:focus ~ label .label,
    .popup-part--label-as_placeholder.popup-part--filled input ~ label .label,
    .popup-part--label-as_placeholder.popup-part--filled textarea ~ label .label {
        font-weight: bold;
        font-size: 14px;
        color: #000;
        color: var(--popup-color-part-title);
    }

.popup-form--part-inner-padding-narrow .popup-part--label-as_placeholder label {
    top: 19px;
    left: 5px;
}

.popup-form--direction-rtl.popup-form--part-inner-padding-narrow .popup-part--label-as_placeholder label {
    right: 5px;
    left: auto;
}

.popup-form--part-inner-padding-narrow .popup-part--label-as_placeholder input:focus ~ label,
.popup-form--part-inner-padding-narrow .popup-part--label-as_placeholder textarea:focus ~ label,
.popup-form--part-inner-padding-narrow .popup-part--label-as_placeholder.popup-part--filled input ~ label,
.popup-form--part-inner-padding-narrow .popup-part--label-as_placeholder.popup-part--filled textarea ~ label {
    top: 7px;
}

.popup-form--part-inner-padding-wide .popup-part--label-as_placeholder label {
    top: 25px;
    left: 15px;
}

.popup-form--direction-rtl.popup-form--part-inner-padding-wide .popup-part--label-as_placeholder label {
    right: 15px;
    left: auto;
}

.popup-form--part-inner-padding-wide .popup-part--label-as_placeholder input:focus ~ label,
.popup-form--part-inner-padding-wide .popup-part--label-as_placeholder textarea:focus ~ label,
.popup-form--part-inner-padding-wide .popup-part--label-as_placeholder.popup-part--filled input ~ label,
.popup-form--part-inner-padding-wide .popup-part--label-as_placeholder.popup-part--filled textarea ~ label {
    top: 12px;
}

/* part padding */

.popup-form--part-outer-padding-narrow .popup-form__part {
    margin-bottom: 5px;
    padding: 0 0.5%;
}

.popup-form--part-outer-padding-narrow .popup-part__select-wrap {
    padding: 0 0 0 1%;
}

.popup-form--part-outer-padding-narrow .popup-part-option {
    margin-right: -5px;
}

.popup-form--part-outer-padding-narrow .popup-part.display-type--block .popup-part-option {
    margin-right: 0;
    margin-bottom: 5px;
}

.popup-form--part-outer-padding-narrow .popup-part--radio .option-label {
    margin-right: 15px;
}

.popup-form--part-outer-padding-narrow .popup-part--checkbox.display-type--block .option-label {
    margin-bottom: 0;
}

.popup-form--part-outer-padding-wide .popup-form__part {
    padding: 20px 3%;
}

.popup-form--part-outer-padding-wide .popup-part .popup-part-option {
    margin-right: 15px;
}

.popup-form--part-outer-padding-wide .popup-part.display-type--block .popup-part-option {
    margin-right: 0;
    margin-bottom: 35px;
}

.popup-form--part-inner-padding-narrow .popup-part input[type=text],
.popup-form--part-inner-padding-narrow .popup-part input[type=email],
.popup-form--part-inner-padding-narrow .popup-part input[type=tel],
.popup-form--part-inner-padding-narrow .popup-part input[type=number],
.popup-form--part-inner-padding-narrow .popup-part textarea,
.popup-form--part-inner-padding-narrow .popup-part .option-label {
    padding: 5px;
}

.popup-form--part-inner-padding-narrow .popup-part--placeholder .popup-part__el {
    padding: 5px;
}

.popup-form--part-inner-padding-narrow .popup-part--legal label {
    margin-left: 5px;
}

.popup-form--part-inner-padding-narrow .popup-part__label {
    margin-bottom: 5px;
}

.popup-form--part-inner-padding-narrow .popup-part--label-below .popup-part__label {
    margin-top: 5px;
}

.popup-form--part-inner-padding-narrow .popup-part--checkbox .option-label {
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

    .popup-form--part-inner-padding-narrow .popup-part--checkbox .option-label .label {
        padding-left: 5px;
    }

.popup-form--part-inner-padding-wide .popup-part input[type=text],
.popup-form--part-inner-padding-wide .popup-part input[type=email],
.popup-form--part-inner-padding-wide .popup-part input[type=tel],
.popup-form--part-inner-padding-wide .popup-part input[type=number],
.popup-form--part-inner-padding-wide .popup-part textarea,
.popup-form--part-inner-padding-wide .popup-part .option-label,
.popup-form--part-inner-padding-wide .popup-part--placeholder .popup-part__el {
    padding: 15px;
}

.popup-form--part-inner-padding-wide .popup-part--legal label {
    margin-left: 15px;
}

.popup-form--part-inner-padding-wide .popup-part .popup-part__select-wrap:after {
    top: 45%;
}

.popup-form--part-inner-padding-wide .popup-part--checkbox .option-label {
    padding-left: 0;
    padding-right: 0;
    margin-right: 30px;
}

    .popup-form--part-inner-padding-wide .popup-part--checkbox .option-label .label {
        padding-left: 15px;
    }

.popup-form--part-hide-labels .popup-part__label {
    display: none;
}

/* submit button */

.popup-form--submit-button-border-hide input[type=submit].popup-button--submit {
    border-width: 0 !important;
}

.popup-form--submit-button-border-radius-square input[type=submit].popup-button--submit,
.popup-form--submit-button-border-radius-square input[type=submit].popup-button--submit:hover {
    border-radius: 0;
}

.popup-form--submit-button-border-radius-pill input[type=submit].popup-button--submit,
.popup-form--submit-button-border-radius-pill input[type=submit].popup-button--submit:hover {
    border-radius: 30px;
}

.popup-form--submit-button-fullwidth input[type=submit].popup-button--submit {
    width: 100%;
}

.popup-form--submit-button-align-center .popup-part--submit {
    text-align: center;
}

.popup-form--submit-button-align-right .popup-part--submit {
    text-align: right;
}

.popup-form--submit-button-normal .popup-part--submit input[type=submit] {
    font-weight: normal;
}

.popup-form--submit-button-disable-transitions input[type=submit] {
    transition-duration: 0s !important;
}

.popup-form--part-title-font-weight-normal .popup-part__label .label {
    font-weight: normal;
}

.popup-visuallyhidden, .ui-helper-hidden-accessible {
    position: absolute;
    border: 0;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
}

/* widget */
.widget input[type=submit].popup-button--submit,
.widget input[type=submit][disabled].popup-button--submit,
.widget input[type=submit][disabled].popup-button--submit:hover {
    width: 100%;
}

/* multirange */
@supports (--css: variables) {
    input[type="range"].multirange {
        padding: 0;
        margin: 0;
        display: inline-block;
        vertical-align: top;
    }

        input[type="range"].multirange.original {
            position: absolute;
        }

            input[type="range"].multirange.original::-webkit-slider-thumb {
                position: relative;
                z-index: 2;
            }

            input[type="range"].multirange.original::-moz-range-thumb {
                transform: scale(1);
                /* FF doesn't apply position it seems */
                z-index: 1;
            }

        input[type="range"].multirange::-moz-range-track {
            border-color: transparent;
            /* needed to switch FF to "styleable" control */
        }

        input[type="range"].multirange.ghost {
            position: relative;
            background: var(--track-background);
            --track-background: linear-gradient(to right, var(--popup-color-part-border) var(--low), var(--range-color) 0, var(--range-color) var(--high), var(--popup-color-part-border) 0) no-repeat 0 45% / 100% 10%;
            --range-color: var(--popup-color-part-value);
        }

            input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
                background: var(--track-background);
            }

            input[type="range"].multirange.ghost::-moz-range-track {
                background: var(--track-background);
            }
}


/* table part */

.popup-table {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.popup-part--table .popup-part__el {
    width: 100%;
}

.popup-table__row {
    display: flex;
    width: 100%;
}

.popup-table__row--head > div {
    padding: 10px;
}

    .popup-table__row--head > div:first-child {
        background-color: transparent;
    }

.popup-table__row:not(.popup-table__row--head):nth-child(odd) {
    background-color: #fff;
    background-color: var(--popup-color-table-row-even);
}

    .popup-table__row:not(.popup-table__row--head):nth-child(odd) .popup-table__cell {
        color: #000;
        color: var(--popup-color-table-row-even-text);
    }

    .popup-table__row:not(.popup-table__row--head):nth-child(odd) .checkmark {
        border-color: #000;
        border-color: var(--popup-color-table-row-even-text);
    }

.popup-table__row:not(.popup-table__row--head):nth-child(even) {
    background-color: #fff;
    background-color: var(--popup-color-table-row-odd);
}

    .popup-table__row:not(.popup-table__row--head):nth-child(even) .popup-table__cell {
        color: #000;
        color: var(--popup-color-table-row-odd-text);
    }

    .popup-table__row:not(.popup-table__row--head):nth-child(even) .checkmark {
        border-color: #000;
        border-color: var(--popup-color-table-row-odd-text);
    }

.popup-table__row--body {
    align-items: center;
}

.popup-table__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-grow: 1;
    padding: 15px 10px;
    overflow: hidden;
    list-style: none;
}

.popup-form--part-inner-padding-narrow .popup-table__cell {
    padding: 5px 7px;
}

.popup-form--part-inner-padding-wide .popup-table__cell {
    padding: 20px 15px;
}

.popup-table__cell--column-title {
    font-weight: bold;
    font-size: 16px;
    font-size: var(--popup-part-title-font-size);
    text-align: center;
    color: #000;
    color: var(--popup-color-part-title);
}

.popup-table__cell .option-label {
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

.popup-table__cell--row-title {
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 16px;
    font-size: var(--popup-part-title-font-size);
    color: #000;
    color: var(--popup-color-part-title);
}

.popup-table__cell--column-title-sm {
    display: none;
}

@media screen and (max-width: 800px) {
    .popup-part--table .popup-part__description {
        margin-bottom: 20px;
    }

    .popup-table {
        display: block;
    }

    .popup-table__row--head {
        display: none;
    }

    .popup-table__row {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .popup-table__cell {
        display: flex;
        width: 100% !important;
        padding-left: 5px;
        padding-right: 5px;
    }

        .popup-table__cell:first-child {
            background-color: #dbdbdb;
            background-color: var(--popup-color-part-border);
        }

    .popup-table__cell--row-title {
        font-weight: bold;
    }

    .popup-table__cell--column-title-sm {
        display: block;
        flex-grow: 1;
        width: 50%;
        font-weight: normal;
        text-align: left;
    }

    label.popup-part__label {
        flex-grow: 1;
        width: 100%;
        line-height: 1.3;
    }
}

.popup-part--recaptcha {
    padding: 0 1%;
}

    .popup-part--recaptcha .popup-part-wrap > div {
        margin-bottom: 20px;
        padding: 5px 0;
    }

.popup-form--part-outer-padding-wide .popup-part--recaptcha .popup-part-wrap > div {
    padding: 20px 3%;
}

.popup-form--part-outer-padding-narrow .popup-part--recaptcha .popup-part-wrap > div {
    padding: 5px 0.5%;
}

.popup-part--phone .popup-part-phone-wrap {
    position: relative;
}

/* phone part */
.popup-country-select {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    width: 70px;
    height: 100%;
    border: 1px solid var(--popup-color-part-border);
    border-right: 0;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: border-color 0.4s;
    transition: border-color var(--popup-transition-duration);
}

.popup-form--part-border-radius-square .popup-country-select {
    border-radius: 0;
}

.popup-form--part-border-radius-pill .popup-country-select {
    border-radius: 25px;
    border-bottom: 0;
    border-top: 0;
}

.popup-country-select.focus {
    border: 2px solid var(--popup-color-part-border-focus);
    border-right: 0;
}

.popup-country-select-trigger {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    width: 70px;
    height: 100%;
    z-index: 10;
}

.popup-country-select--multiple .popup-country-select-trigger {
    display: block;
}

.popup-country-select__selected-country {
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 0 20px 0 7px;
    box-sizing: border-box;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: background-color 0.2s ease-in;
}

.popup-form--part-border-radius-pill .popup-country-select__selected-country {
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.popup-country-select--multiple .popup-country-select__selected-country:hover,
.popup-country-select--multiple .popup-country-select__selected-country.open {
    background-color: #dbdbdb;
    background-color: var(--popup-color-part-border);
}

.popup-country-select--multiple .popup-country-select__selected-country:after {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 3px);
    right: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}

.popup-country-select.focus .popup-flag {
    position: relative;
    left: -1px;
}

.popup-flag {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 1;
    font-size: 40px;
}

.popup-part--phone.popup-is-masked .popup-part-phone-wrap > input[type=text] {
    padding-left: 65px;
}

    .popup-part--phone.popup-is-masked .popup-part-phone-wrap > input[type=text]:focus ~ div {
        display: none;
    }

.popup-part--phone.popup-is-masked.popup-has-country-select .popup-part-phone-wrap > input[type=text] {
    padding-left: 75px;
}

/* new dropdowns */
.popup-part select {
    display: none;
}

.popup-custom-select input[readonly="readonly"] {
    cursor: pointer;
}

.popup-custom-select-dropdown {
    display: none;
    position: absolute;
    z-index: 10;
    list-style: none;
    padding: 0;
    text-align: left;
    margin: 0;
    background-color: #fff;
    background-color: var(--popup-color-dropdown-bg-color);
    border: 1px solid #dbdbdb;
    white-space: nowrap;
    width: 100%;
    max-height: 250px;
    overflow-y: scroll;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2)
}

.popup-part__select-wrap {
    cursor: pointer;
}

.popup-custom-select-dropdown.phone {
    min-width: 425px;
}

.popup-custom-select-dropdown.active {
    display: block;
}

.popup-custom-select-dropdown li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: background-color 0.2s ease-in;
    color: #000;
    color: var(--popup-color-dropdown-item-text);
    background-color: #fff;
    background-color: var(--popup-color-dropdown-item-bg);
}

    .popup-custom-select-dropdown li.popup-custom-select-dropdown__item:hover {
        color: #000;
        color: var(--popup-color-dropdown-item-text-hover);
        background-color: #dbdbdb;
        background-color: var(--popup-color-dropdown-item-bg-hover);
    }

.popup-custom-select-dropdown .popup-flag {
    font-size: 30px;
}

.popup-custom-select-dropdown .popup-custom-select-dropdown-item__label--country {
    padding: 0 10px 0 5px;
    font-size: 16px;
}

.popup-custom-select-dropdown .popup-custom-select-dropdown-item__label--country-code {
    font-size: 14px;
    color: #888888;
}

.popup-form-preview .popup-flex {
    padding: 0 1%;
}

.popup-part-preview .popup-part__label {
    cursor: default;
    margin-bottom: 10px;
}

    .popup-part-preview .popup-part__label .label {
        font-weight: bold;
        color: #000;
        color: var(--popup-color-table-row-odd-text);
    }

.popup-form-preview .popup-part--submit {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 30px;
}

.popup-form-preview .popup-part--submit,
.popup-form-preview .popup-part--recaptcha {
    padding-left: 0;
    padding-right: 0;
}

.popup-form-preview .popup-part--recaptcha {
    margin-top: 50px;
    margin-bottom: 0;
}

.popup-form-preview .popup-part--submit * {
    margin-right: 20px;
    margin-bottom: 20px;
}

.popup-form--submit-button-align-center.popup-form-preview .popup-part--submit,
.popup-form--submit-button-fullwidth.popup-form-preview .popup-part--submit {
    flex-flow: column wrap;
    align-items: center;
}

    .popup-form--submit-button-align-center.popup-form-preview .popup-part--submit a,
    .popup-form--submit-button-fullwidth.popup-form-preview .popup-part--submit a {
        order: 2;
    }

.popup-form--submit-button-align-right.popup-form-preview .popup-part--submit {
    justify-content: flex-end;
}

    .popup-form--submit-button-align-right.popup-form-preview .popup-part--submit input {
        margin-right: 0;
    }

@media screen and (max-width: 800px) {
    .popup-form-preview .popup-part--submit {
        flex-flow: column wrap;
    }

        .popup-form-preview .popup-part--submit input {
            margin-right: 0;
        }
}

.popup-hide {
    display: none;
}

.popup-part-preview {
    margin-bottom: 0;
    padding: 10px 1%;
}

    .popup-part-preview .popup-part__el-preview {
        font-size: 16px;
        font-size: var(--popup-part-value-font-size);
    }

.popup-part-preview {
    background-color: #fcfcfc;
    background-color: var(--popup-color-table-row-odd);
}

    .popup-part-preview:nth-child(even) {
        background-color: #efefef;
        background-color: var(--popup-color-table-row-even);
    }

        .popup-part-preview:nth-child(even) .popup-part__label .label {
            color: #000;
            color: var(--popup-color-table-row-even-text);
        }

.popup-form-preview > p {
    padding: 45px 1% 10px;
    font-size: 16px;
    font-size: var(--popup-part-value-font-size);
}

.popup-part--narrative p {
    line-height: 2.7;
}

.popup-part--narrative.popup-part--label-left .popup-part__label {
    line-height: 2.7;
}

.popup-part--narrative input[type=text] {
    display: inline-block;
    width: auto;
    margin: 5px 5px 0;
    line-height: 1;
    text-align: center;
}

.popup-form--part-inner-padding-narrow .popup-part--narrative p {
    line-height: 2.5;
}

.popup-form--part-inner-padding-narrow .popup-part--narrative input[type=text] {
    margin: 3px 3px 0;
}

.popup-form--part-inner-padding-wide .popup-part--narrative p {
    line-height: 4;
}

.popup-form--part-inner-padding-wide .popup-part--narrative input[type=text] {
    margin: 12px 7px;
}
