/*------accordion------*/
.nav_panel {
    border: 1px solid #38b8ba;
    overflow: auto;
    padding: 4px;
    position: fixed;
    height: 92%;
    background: #edf7f7;
}

.qms_accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";
}
.qms_accordion .card-header:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: #38b8ba !important; /* adjust as needed */
}
.accordion .card-header:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
   
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";
}

.header_col {
    color: #38b8ba;
    border: 1px solid #38b8ba;
    padding: 4px 10px;
    margin-top: 2px;
}
    .header_col a {
        color: #38b8ba !important;
        font-family: seguisb;
        font-size: 10pt;
        cursor:pointer;
    }
.headerList.active {
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba;
    width: 100% !important;
    color: #fff !important;
}
    .headerList.active a {
        color: #fff !important;
        font-family: seguisb;
        font-size: 10pt;
        text-decoration: none;
    }

.header_col_child {
    color: #38b8ba;
    background-color: #edf7f7 !important;
    border: 1px solid #38b8ba;
    padding: 4px 10px;
    margin-top: -1px;
}

    .header_col_child a {
        font-family: seguisb;
        font-size: 10pt;
        text-decoration: none;
    }

.header_col_sub {
    color: #fff;
    background-color: #38b8ba !important;
    border-bottom: 1px solid #fff;
    padding: 8px 10px;
}

    .header_col_sub a {
        font-family: seguisb;
        font-size: 11pt;
        text-decoration: none;
    }

.header_col_sub_child {
    color: #38b8ba;
    background-color: #f1f8fb !important;
    border: 1px solid #38b8ba;
    padding: 6px 10px;
}

    .header_col_sub_child a {
        font-family: seguisb;
        font-size: 10pt;
        text-decoration: none;
    }

.nav_list {
    float: left;
}

    .nav_list ul {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
    }

        .nav_list ul li {
            list-style-type: none;
            float: left;
            width: 100%;
            background: #edf7f7;
        }

            .nav_list ul li a {
                text-decoration: none;
                padding: 6px 12px;
                border-bottom: 1px solid #38b8ba !important;
                color: #38b8ba;
                width: 100%;
                float: left;
                font-family: seguisb;
                font-size: 10pt;
            }
                .nav_list ul li a.active {
                    text-decoration: none;
                    background: #38b8ba !important;
                    padding: 6px 12px;
                    border-bottom: 1px solid #38b8ba;
                    color: #fff !important;
                    width: 100%;
                    float: left;
                    font-family: seguisb;
                    font-size: 10pt;
                }
                .nav_list ul li a:hover {
                    text-decoration: none;
                    background: #38b8ba;
                    padding: 6px 12px;
                    border-bottom: 1px solid #38b8ba;
                    color: #fff;
                    width: 100%;
                    float: left;
                    font-family: seguisb;
                    font-size: 10pt;
                }

.acc_boby {
    padding: 0px 2px;
    width: 100%;
}
/*accordion style*/
.card-header:first-child {
    border-radius: 0px !important;
}
.card {
    border: none !important;
}
.card-header {
    background: none;
}
.card-body {
    padding: 0px !important;
}
.header_sub {
    background: #bceaea;
    color: #08595a;
    padding: 10px !important;
    font-family: seguisb;
    font-size: 11pt;
}
.card-body {
    background:#fff;
}
/*accordion style*/
.headerList:hover {
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba;
    width: 100% !important;
    color: #fff !important;
}
.headerList:hover a{
    color: #fff !important;
	text-decoration:none;
}
.nav_list-child {
    float: left;
}

    .nav_list-child ul {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
    }

        .nav_list-child ul li {
            list-style-type: none;
            float: left;
            width: 100%;
        }

            .nav_list-child ul li a {
                text-decoration: none;
                background: #edf7f7;
                padding: 6px 12px;
                color: #38b8ba;
                width: 100%;
                float: left;
                font-family: seguisb;
                font-size: 10pt;
            }

                .nav_list-child ul li a:hover {
                    text-decoration: none;
                    background: #38b8ba !important;
                    padding: 6px 12px;
                    color: #fff !important;
                    width: 100%;
                    float: left;
                    font-family: seguisb;
                    font-size: 10pt;
                }
.child_acc {
    background: #edf7f7 !important;
    color: #38b8ba !important;
    border: 1px solid #38b8ba !important;
    border-bottom: none !important;
}
.page-link {
    z-index: 2;
    color: #38b8ba !important;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #38b8ba;
    border-color: #38b8ba;
}
.cardheader_Child {
    border-radius: 0px !important;
    /*background: #dbecec;*/
    color: #167475 !important;
    background: #aed2d2;
}
.cardheader_Child a {
    color: #167475 !important;
}
.cardheader_Childacc {
    color: #167475 !important;
    background: #aed2d2 !important;
}

.qms_accordion .cardheader_Child:after {
    color: #167475 !important;
}