﻿<!--Start Dosage List(Table)-->
<div class="col-12 padding-none" style="overflow:auto;">
    <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
        <table id="dosageTable" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
            <thead>
                <tr id="tablerow">
                    <th>S.No</th>
                    <th>DosageFormID</th>
                    <th>Dosage  Form  Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>IsActive</th>
                    <th>Edit</th>
                    <th>History</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!--END Dosage List(Table)-->

<!--Dosage DataTableList-->
<script> 
    var oDosageTable
    $(function ()
    {
        GetDosageList();
    });
    if (oDosageTable != null) {
        oDosageTable.destroy();
    }
    function GetDosageList() {
        oDosageTable= $('#dosageTable').DataTable({
            columns:
                [
                    { 'data': 'RowNumber' },//0
                    { 'data': 'DosageFormID' },//1
                    { 'data': 'DosageFormName' },//2
                    {
                      //  'data': 'Description'
                         "mData": null,
                        "mRender": function (o) {
                            if (o.DescriptionLength == 1) {
                                return '<td> <div class="moredescript">' + o.Description + '</div></td>';
                            }
                            else {
                                return o.Description;
                            }
                        }
                    },//3
                    { 'data': 'Status' },//4
                    { 'data': 'IsActive' },//5
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit global_icon" title="Edit" style="margin-left:0%" onclick="EditDosageForm(' + full.DosageFormID + ')"></a >'; 
                        }
                    },//6
                    {
                        "render": function (data, type, full, meta)
                        {
                            return '<a class="btnRegulatoryAgencyEdit summary_latest History" title="History"  style="margin-left:0%" onclick="HistoryDosageList(' + full.DosageFormID + ')"></a>';
                        }
                    },//7
                ],
            "pagingType": "simple_numbers",
            "language":
            {
                "searchPlaceholder": "Search Records",
                "infoFiltered": "",
                "emptyTable": "No Records Available"
            },
            "processing": false,
            "orderClasses": false,
            "bDestroy": true,
            "order": [[1, "desc"]],
            "info": true,
            "scrollY": "380px",
            "scrollCollapse": true,
            "responsive": true,
            "paging": true,
            "search":
            {
                "regex": true,
            },
            //"bProcessing": true,
            "bServerSide": true,
            "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
            "aoColumnDefs": [{ "targets": [1,5], "visible": false }, { className: "dt-body-left", "targets": [2,3, 4] }, { className: "textAlignCenter", "targets": [0,4,6,7] }, { "orderable": false, "targets": [0,5,6,7] }
            ],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/AdminSetup/DosageForm/GetDosageFormList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
               $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result)
                    {
                        if (result.hasError == true)
                        {
                            custAlertMsg(result.data, "error");
                        }
                        else
                        {
                            fnCallback(result);
                            ShowMoreorless();
                        }
                    },
                });
            }
        });
    } 
</script>

<!--Show More and Less-->
<script>
    function ShowMoreorless() {
        var showChar = 150;
        var ellipsestext = "...";
        var moretext = "Show More";
        var lesstext = "Show less";
        $('.moredescript').each(function () {
            var content = $(this).html();
            if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);
                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><div class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="moredescriptlink">' + moretext + '</a></div>';
                $(this).html(html);
            }
        });
        $(".moredescriptlink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    }
</script>