﻿@model AizantIT_PharmaApp.Areas.AdminSetup.Models.GlobalSetupBO.DosageFormBO
@{
    ViewBag.Title = "Dossage";
    Layout = "~/Areas/AdminSetup/Views/Shared/_AdminSetupLayout.cshtml";
}

<input type="hidden" value="0" id="hdnDosageID" />

<button type="button" class="top btn btn-signup_popup float-right" style="margin-bottom:0px;" onclick="ShowDosageModalpopup();">Add Dosage Form</button>

<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Dosage Form</div>
<div class="tab-content tab_content_assigment float-left col-lg-12 padding-none">
    @if (ViewBag.SysError != "" && ViewBag.SysError != null)
    {
        <div style="text-align:center;color:red">
            @ViewBag.SysError
        </div>
    }
    else
    {
        <div class="tab-pane active">
            <div class="grid_panel_hod col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">

                <div class="col-12 float-left top">
                    <div id='divBindPartialViews'></div>
                </div>
            </div>
        </div>
    }
</div>


<!--History Modalpopup-->
<div class="modal" id="DosagetHistoryModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog department modal-lg" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">History</h4>
                <button type="button" class="close" onclick="return CloseHistoryModalpopup();">&times;</button>
            </div>
            <div class="modal-body" id="DeficiencyModalbody">
                <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
                    <table id="historyTable" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
                        <thead>
                            <tr id="tablerow">
                                @*<th>S.NO</th>*@
                                <th>PKID</th>
                                <th>Action</th>
                                <th>Role</th>
                                <th>Action By</th>
                                <th>Action Date</th>
                                <th>Submitted Data</th>
                                <th>CommentLength</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>

<!--History DataList-->
<script>
    function HistoryTable(dosageID)
    {
        $('#historyTable').DataTable({
            columns:
                [
                   // { 'data': 'RowNumber' },//0
                    { 'data': 'PKID' },//1
                    { 'data': 'AuditActionName' },//4
                    { 'data': 'RoleName' },//3
                    { 'data': 'FirstName' },//2
                    { 'data': 'ActionDate'},//5
                    { 'data': 'SubmittedData' },//6
                    { 'data': 'CommentLength' },//7
                    {

                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            if (o.CommentLength == 1) {
                                return '<td> <div class="more">' + o.Comments + '</div></td>';
                            }
                            else {
                                return o.Comments;
                            }
                        }
                    },//8
                ],
            "bDestroy": true,
            "bFilter": true,
            "bInfo": false,
            "aoColumnDefs": [{ className: "dt-body-left", "targets": [1, 2, 3, 4, 5] }, { className: "textAlignCenter", "targets": [0] }, { "orderable": false, "targets": [01,2,3,4,5] }, { "targets": [0, 5,6], "visible": false }],
            "sAjaxSource": "@Url.Content("~/AdminSetup/DosageForm/HistoryDosageList")",
            "fnServerData": function (sSource, aData, fnCallback) {
              //  Clength = aData.Commentlength;
                aData.push({ "name": "DosageID", "value": dosageID});
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aData,
                    "success": function (result)
                    {

                        if (result.msgType == "error")
                        {
                            custAlertMsg(result.msg, "error");
                        }
                        else
                        {
                            fnCallback(result);
                            ShowType();
                        }
                    },
                });
            }
        });
    }
</script>

<!--Creation& Updation ModelPopUp-->
<div class="modal" id="myModalDosage">
    <div class="modal-dialog department modal-lg" style="max-width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtHeader">ADD Dosage Form</h4>
                <a href="#" class="close" onclick="return Reload();">&times;</a>
            </div>
            <div class="modal-body" id="modelbody">
                <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none" id="input1">
                    <label class="col-12  custom_label col-form-label float-left required" id="labelInputname">Dosage Form Name </label>
                    <div class="col-12 float-left">
                        @Html.TextBoxFor(model => model.DosageFormName, htmlAttributes: new { @class = "form-control ValidateAlpha", @placeholder = "Enter Dosage Form Name", id = "txtDosageName", @maxlength = 100, @autocomplete = "off", @onkeypress = "return ValidateAlpha(event);" })
                    </div>
                </div>
                <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none" id="input2">
                    <label class=" col-12  custom_label col-form-label float-left required">Description </label>
                    <div class="col-12 float-left">
                        @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @placeholder = "Enter Description", @rows = "4", @autocomplete = "off", @maxlength = 300, id = "txtDescription" })
                    </div>
                </div>
                <div class=" btn-group-toggle float-left radio_buttons col-12 dvControls" data-toggle="buttons">
                    <label class="col-12 custom_label col-form-label float-left padding-none">Status:</label>
                    <label class="btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 " id="lblStatusActive">
                        <input type="radio" name="options" id="optionactive" autocomplete="off" value="true"> Active
                    </label>
                    <label class="btn btn btn-secondary col-sm-4 col-xs-4 col-lg-4 col-md-4" id="lblStatusInActive">
                        <input type="radio" name="options" id="optioninactive" autocomplete="off" value="false"> In Active
                    </label>
                </div>
                <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none dvControls">
                    <label class=" col-12  custom_label col-form-label float-left required">Reason For Change </label>
                    <div class="col-12 float-left">
                        <textarea class="col-12 form-control ValidateFreeText" rows="4" placeholder="Enter Reason For Change" maxlength="300" id="txtComments"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-12 float-left text-right modal-footer top">
                <button type="button" class="  btn btn-signup_popup " style="margin-bottom:0px;" id="btnADDDosageForm" onclick="return AddDosageFormData();">Add</button>
                <button type="button" class=" btn btn-signup_popup " style="display:none;" id="btnEditDosageForm" onclick="return UpdateDosageFormData();"> Update</button>
                <button type="button" class="  btn btn-cancel_popup " style="margin-bottom:0px;" onclick="return Reload();">Cancel</button>

            </div>
        </div>
    </div>
</div>

<!--DataList Load-->
<script>
    function LoadDosageFormList()
    {
        $("#divBindPartialViews").empty();
        $("#divBindPartialViews").prepend("<div style='text-align:center;font-weight: bold;font-size:14px;'>Loading...</div>");
        $("#divBindPartialViews").load("@Url.Content("~/AdminSetup/DosageForm/DosageFormList")");
    }
    $(function () {
    LoadDosageFormList();
    });
    function Reload()
    {
        $("#hdnDosageID").val(0);
        $("#myModalDosage").hide();
        $('#myModalDosage').modal('toggle');
        LoadDosageFormList();
    }
</script>

<!--Dosage creation & updation-->
<script>
    //ModalPopUp Show
    function ShowDosageModalpopup()
    {
        var dosageID = $("#hdnDosageID").val();
        if (dosageID == "0") {
            $('#txtDosageName').val('');
            $('#txtDescription').val('');
            $(".dvControls").hide();
            $("#btnADDDosageForm").show();
            $("#btnEditDosageForm").hide();
            $("#txtHeader").text('ADD Dosage Form');
        }
        else {
            $("#btnADDDosageForm").hide();
            $("#btnEditDosageForm").show();
            $(".dvControls").show();
            $("#txtHeader").text('Edit Dosage Form');
        }
        $("#myModalDosage").show();
        $('#myModalDosage').modal({ backdrop: 'static', keyboard: false })
    }
    //Dosage Creation
    var DosageMode = "";
    function AddDosageFormData()
    {
        DosageMode = "Create";
        var errors = [];
     //   errors = Validation(errors);
        var CreateDosage={
            DosageFormName: $('#txtDosageName').val().trim().replace(/  +/g, ' '),
            Description: $('#txtDescription').val().trim().replace(/  +/g, ' ')
        }
        if (CreateDosage.DosageFormName == "") {
            errors.push("Enter Dosage Form Name.");
        }
        if (CreateDosage.Description == "") {
            errors.push("Enter Description.");
        }
       if (errors.length > 0)
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        else
       {
           ShowPleaseWait('show');
           $.post("@Url.Content("~/AdminSetup/DosageForm/AddDosageForm")", CreateDosage,

                    function (result)
                    {
                        ShowPleaseWait('hide');
                        if (result.resultType == 1)
                        {
                            custAlertMsg("Dosage Form Added.", "success", "Reload();");
                            return true;
                        }
                        else if (result.resultType == 5)
                        {
                            custAlertMsg("Dosage Form Name Already Exists.", "warning");
                            return false;
                        }
                        else
                        {
                            custAlertMsg(result.msg, "error");
                            return false;
                        }
                        
                    }, 'json');
        }
    }
    var DName = "", Desc = "", ActiveStatus="";
    //Bind Dosage data for fields
    function EditDosageForm(DosageFormID)
    {
        $.ajax({
            url: '@Url.Action("GetDosageFormData", "DosageForm")',
            data: ({ DosageFormID: DosageFormID}),
            type: 'GET',
            success: function (data) {
                FillData(data);
            }
        });
    }

    function FillData(data) {
        $("#hdnDosageID").val(data.DosageFormID);
        $("#txtDosageName").val(data.DosageFormName);
        $("#txtDescription").val(data.Description);
        DName = data.DosageFormName;
        Desc = data.Description;
        ActiveStatus = data.isActive;
        if (ActiveStatus == true) {
            $('#lblStatusActive').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");
            $('#lblStatusInActive').removeClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");//Reomve the RadiobuttonClass for InActiveStatus
            $('#lblStatusInActive').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4");
            $("#optionactive").attr('checked', 'checked');
        }
        else {
            $('#lblStatusInActive').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");
            $('#lblStatusActive').removeClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");//Reomve the RadiobuttonClass for ActiveStatus
            $('#lblStatusActive').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4");
            $("#optioninactive").attr('checked', 'checked');
        }
        $("#txtComments").val('');
        ShowDosageModalpopup();
    }

    //Dosage updation
    function UpdateDosageFormData()
    {
        DosageMode = "Update";
        var errors = [];
      //  errors = Validation(errors);
        var Dosage = {
            DosageID: $("#hdnDosageID").val(),
            DosageFormName: $('#txtDosageName').val().trim().replace(/  +/g, ' '),
             Description: $('#txtDescription').val().trim(),
             IsActive: $('input[name=options]:checked').val(),
             Comments: $("#txtComments").val().trim()
        };
        var Status =String(ActiveStatus);
        if (DName == Dosage.DosageFormName && Desc == Dosage.Description && Status == Dosage.IsActive)
        {
            custAlertMsg("There are no changes to update.", "warning");
            return false;
        }
        if (Dosage.DosageFormName == "")
        {
            errors.push("Enter Dosage Form Name.");
        }
        if (Dosage.Description == "")
        {
            errors.push("Enter Description.");
        }
        if (Dosage.Comments == "")
        {
            errors.push("Enter Reason For Change.");
        }
         if (errors.length > 0)
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        else
         {
             ShowPleaseWait('show');
           $.post("@Url.Content("~/AdminSetup/DosageForm/UpdateDosageForm")",Dosage,

                    function (result)
                    {
                        ShowPleaseWait('hide');
                        if (result.resultType == 4)
                        {
                            custAlertMsg("Dosage Form Updated.", "success", "Reload();");
                            return true;
                        }
                        else if (result.resultType == 5)
                        {
                            custAlertMsg("Dosage Form Name Already Exists.", "warning");
                            return false;
                        }
                        else
                        {
                            custAlertMsg(result.msg, "error");
                            return false;
                        }
                    }, 'json');
        }
    }


    //function Validation(errors)
    //{
    //    var Dosage = {
    //        DosageID: $("#hdnDosageID").val(),
    //        DosageFormName: $('#txtDosageName').val().trim(),
    //        Description: $('#txtDescription').val().trim(),
    //        IsActive: $('input[name=options]:checked').val(),
    //        Comments: $("#txtComments").val().trim()
    //    };
    //    if (Dosage.DosageFormName == "") {
    //        errors.push("Enter Dosage Form Name.");
    //    }
    //    if (Dosage.Description == "") {
    //        errors.push("Enter Description.");
    //    }
    //    if (DosageMode == "Update")
    //    {
    //        var Status = String(ActiveStatus);
    //        if (DName == Dosage.DosageFormName && Desc == Dosage.Description && Status == Dosage.IsActive) {
    //         //   custAlertMsg("There are no changes to update.", "info");
    //            return false;
    //        }
    //        if (Dosage.Comments == "")
    //        {
    //            errors.push("Enter Reason For Change.");
    //        }
    //        return errors;
    //    }
    //    else
    //    {
    //       return errors;
    //    }
    //}
</script>
<script>
    @*  function Validation(errors)
        {
            var Dosage = {
                DosageID: $("#hdnDosageID").val(),
                DosageFormName: $('#txtDosageName').val().trim(),
                Description: $('#txtDescription').val().trim(),
                IsActive: $('input[name=options]:checked').val(),
                Comments: $("#txtComments").val().trim()
            };
            if (Dosage.DosageFormName == "")
            {
                errors.push("Enter Dosage Form Name.");
            }
            if (Dosage.Description == "")
            {
                errors.push("Enter Description.");
            }
            if (Mode)
            {
                if (Dosage.Comments == "")
                {
                    errors.push("Enter Reason For Change.");
                }
            }
        }*@
    </script>
<!--History-->
<script>
    function CloseHistoryModalpopup() {
        $("#DosagetHistoryModal").hide();
        $('#DosagetHistoryModal').modal('toggle');
    }
    function HistoryDosageList(dosageID) {
        $("#DosagetHistoryModal").show();
        HistoryTable(dosageID)
        $('#DosagetHistoryModal').modal({ backdrop: 'static', keyboard: false })
    }
</script>

<!--Show More and Less for History-->
<script>
    function ShowType() {
        var showChar = 150;
        var ellipsestext = "...";
        var moretext = "Show More";
        var lesstext = "Show less";
        $('.more').each(function () {
            var content = $(this).html();
            if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar - 1, content.length - showChar);
                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><div class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></div>';
                $(this).html(html);
            }
        });
        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    }
</script>

<script>
    $(function () {
        $('#myModalDosage').on('shown.bs.modal', function () {
            $('#txtDosageName').focus();
        });
    });
</script>