﻿@model Aizant_API_Entities.AizantIT_ImpactDeptLink

@using (Html.BeginForm())
{

    <div id="myModalImpactpointsAnddeptLink" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModal-label">Create Impact Point And Department Link </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            @Html.Label("Department", htmlAttributes: new { @class = "custom_label col-form-label required" })
                            <div class="col-12 padding-none">
                                @Html.DropDownList("DeptID", null, htmlAttributes: new { id = "DeptID", @class = "col-12  padding-none  drop_down selectpicker ", @style = "Width:100%", @autofocus = "autofocus" })
                                @Html.ValidationMessageFor(model => model.DeptID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            @Html.Label("Block Name", htmlAttributes: new { @class = "custom_label col-form-label required" })
                            <div class="col-12 padding-none">
                                @Html.DropDownList("BlockID", null, htmlAttributes: new { @class = "col-12  padding-none  drop_down selectpicker", @style = "Width:100%" })
                                @Html.ValidationMessageFor(model => model.BlockID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            @Html.Label("Impact Point", htmlAttributes: new { @class = "custom_label col-form-label required" })
                            <div class="col-12 padding-none">
                                @Html.DropDownList("Imp_Desc_ID", null, htmlAttributes: new { @class = "col-12  padding-none  drop_down selectpicker", @style = "Width:100%", multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.Imp_Desc_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            @Html.Label("Status", htmlAttributes: new { @class = "custom_label col-form-label" })
                            <div class="col-12 padding-none">
                                @Html.DropDownListFor(model => model.Currentstatus, new SelectList(new[]
                                { new { Value = "true", Text = "Active" },new { Value = "false", Text = "In-Active" },}, "Value", "Text", Model), new { @class = "col-12  padding-none  drop_down selectpicker", @style = "Width:100%",disabled="disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <input type="button" value="Create" class="btn-signup_popup" id="Submit" onclick="AddImpactDeptLink()" /> 
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>

                </div>
            </div>
            </div>
        </div>
        }
    <script>
        function Reload() {
            $("#myModalImpactpointsAnddeptLink").modal('hide');
            $('#tblImpactDeptLink').DataTable().ajax.reload();
           
        }
        function AddImpactDeptLink() {
            
            errors = [];
            var DeptID = $("#DeptID").val();
            if (DeptID==0)
            { errors.push("Select Department."); }
            var Currentstatus = $("#Currentstatus").val();
            var BlockID = $("#BlockID").val();
            if (BlockID == 0) { errors.push("Select Block Name."); }
            var Currentstatus = $("#Currentstatus").val();
            //Multiple impact poin ts
            var _ImpactDesc = document.getElementById('Imp_Desc_ID');
            var ImpactPoints = [];
            for (var i = 0; i < _ImpactDesc.options.length; i++) {  //multi-select dropdown id's from view to controller.
                if (_ImpactDesc.options[i].selected) {
                    ImpactPoints.push(_ImpactDesc.options[i].value);
                }
            }
                   
            if (ImpactPoints.length == "0" || ImpactPoints == "0") { errors.push("Select Impact Point."); }


            if (ImpactPoints.length != "0" && DeptID != 0 && BlockID != 0) {
                var change = {
                    "DeptID": DeptID, "Currentstatus": Currentstatus, "ImpactPoints": ImpactPoints, "BlockID": BlockID,
                };
                ShowPleaseWait('show');
                $.post("@Url.Content("~/QMS/ImpactDeptLink/Create")", change,
                    function (aiz) {
                        ShowPleaseWait('hide');
                        if (aiz.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else {
                            if (aiz.hasError == true) {
                                errors.push(aiz.data);
                                custAlertMsg(errors.join("<br/>"), "error");

                                return false;
                            }
                            else {

                                if (aiz) {
                                    errors.push(" Impact Point And Department Link Created Successfully.");
                                    custAlertMsg(errors.join("<br/>"), "success", "Reload();");
                                    return false;
                                } else {
                                    errors.push(" Impact Point And Department Link Already Exists in This Block. ");
                                    custAlertMsg(errors.join("<br/>"), "error");

                                    return false;
                                }
                            }
                        }
                    }, 'json');
            } 
                else {

                    custAlertMsg(errors.join("<br/>"), "error");
                    return false;
                }
                return false;
        }

        $(document).ready(function () {
             $=jQuery.noConflict();
                $('.selectpicker').selectpicker({
                    liveSearch: true,
                    showSubtext: true,
                    size: 7
                });
            });
    </script>
