﻿@model Aizant_API_Entities.AizantIT_ImpactDeptLink

@using (Html.BeginForm())
{
   
    <div id="myModalDeptLink" class="modal department fade" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModal-label">Edit Impact Point And Department Link </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style=" ">

                <div class="col-sm-12 padding-none" style="float:none !important;">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ImpPoint_ID)

                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            @Html.Label("Department", htmlAttributes: new { @class = "custom_label col-form-label required" })
                            <div class="col-12 padding-none">
                                @Html.DropDownList("DeptID", null, htmlAttributes: new { @class = "col-12  padding-none  drop_down selectpicker", @style = "Width:100%" })
                                @Html.ValidationMessageFor(model => model.DeptID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            @Html.Label("Block Name", htmlAttributes: new { @class = "custom_label col-form-label required" })
                            <div class="col-12 padding-none">
                                @Html.DropDownList("BlockID", null, htmlAttributes: new { @class = "col-12  padding-none  drop_down selectpicker", @style = "Width:100%" })
                                @Html.ValidationMessageFor(model => model.BlockID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            @Html.Label("Impact Point", htmlAttributes: new { @class = "custom_label col-form-label required" })
                            <div class="col-12 padding-none">
                                @Html.DropDownList("Imp_Desc_ID", null, htmlAttributes: new { @class = "col-12  padding-none  drop_down selectpicker", @style = "Width:100%" })
                                @Html.ValidationMessageFor(model => model.Imp_Desc_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            @Html.Label("Status", htmlAttributes: new { @class = "custom_label col-form-label" })
                            <div class="col-12 padding-none">
                                @Html.DropDownListFor(model => model.Currentstatus, new SelectList(new[]
{ new { Value = "True", Text = "Active" },new { Value = "False", Text = "In-Active" },}, "Value", "Text", Model), new { @class = "col-12  padding-none  drop_down selectpicker", @style = "Width:100%" })
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left padding-none">
                            <label class=" custom_label col-form-label required"> Comments</label>
                            @Html.TextArea("comments", new { htmlAttributes = new { @class = "form-control ", @id = "txtComments", @rows = "3" }, maxlength = 500 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Update" class="btn-signup_popup" onclick="EditImpactDeptLink()" /><button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>
            </div>
        </div>
    </div>
        </div>
}
    <script>
        var blockCheck = 0;
        var DepatIDCheck = 0;
        var ImpactCheck = 0;
        var CurrentStatusCheck = 0;
        $(document).ready(function () {
             blockCheck =@Model.BlockID;
             DepatIDCheck =@Model.DeptID;
             ImpactCheck =@Model.Imp_Desc_ID;
             CurrentStatusCheck="@Model.Currentstatus";
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size:7
        });
    });
        function Reload1() {
            $("#myModalDeptLink").modal('hide');
            $('#tblImpactDeptLink').DataTable().ajax.reload();

        }
        function Edits() {
            CutAlert();
            SaveEmployee1();
        }
        function EditImpactDeptLink() {
            errors = [];
            var ImpPoint_ID = $("#ImpPoint_ID").val();
            var DeptID = $("#DeptID").val();
            if (DeptID == 0) { errors.push("Select Department."); }
            var BlockID = $("#BlockID").val();
            if (BlockID == 0) { errors.push("Select Block."); }
            var Imp_Desc_ID = $("#Imp_Desc_ID").val();
            if (Imp_Desc_ID == 0) { errors.push("Select Impact Point. "); }
            var Comments = $("#comments").val().trim();
            if (Comments == "") { errors.push("Enter Comments."); }
            var Currentstatus = $("#Currentstatus").val();
            if (Currentstatus != CurrentStatusCheck ) {
                CurrentStatusCheck = Currentstatus;
            } else {
                CurrentStatusCheck = 0;
            }
            if (DeptID != DepatIDCheck) {
                DepatIDCheck = DeptID;
            } else {
                DepatIDCheck = 0;
            }
            if (BlockID != blockCheck) {
                blockCheck = BlockID;
            } else {
                blockCheck = 0;
            }
            if (Imp_Desc_ID != ImpactCheck) {
                ImpactCheck = Imp_Desc_ID;
            } else {
                ImpactCheck = 0;
            }
        if (Imp_Desc_ID != 0 && DeptID != 0 && BlockID != 0 && Comments != "") {
            var Typechange = {
                "DeptID": DeptID, "Currentstatus": Currentstatus, "Imp_Desc_ID": Imp_Desc_ID, "BlockID": BlockID,
                "ImpPoint_ID": ImpPoint_ID, "Comments": Comments, "DepatIDCheck": DepatIDCheck,
                "blockCheck": blockCheck, "ImpactCheck": ImpactCheck, "CurrentStatusCheck": CurrentStatusCheck

            };
            ShowPleaseWait('show');
            $.post("@Url.Content("~/QMS/ImpactDeptLink/Edit")", Typechange,
                function (aiz) {
                    ShowPleaseWait('hide');
                    if (aiz.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (aiz.hasError == true) {
                            errors.push(aiz.data);
                            custAlertMsg(errors.join("<br/>"), "error");

                            return false;
                        }
                        else {

                            if (aiz!=0) {
                                errors.push("Impact Point And Deparment Link Updated Successfully.");
                                custAlertMsg(errors.join("<br/>"), "success", "Reload1();");
                                return true;
                            } else {
                                errors.push(" Impact Point And Deparment Link Already Exists in This Block. ");
                                custAlertMsg(errors.join("<br/>"), "error");
                                return false;
                            }
                        }
                    }
                }, 'json');
        } else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        }
    </script>