﻿@model IEnumerable<Aizant_API_Entities.AizantIT_ImpactDeptLink>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<!--Exception Function-->
@if (ViewBag.Exception != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>

}
else
{
    <div class="col-lg-6 float-left padding-none">

        <!------buttons---------->
        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6 float-right padding-none">

            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none">
                <button class=" btn-signup_popup float-right" name="Add Capa" value="Add Capa" id="btndept" onclick="CreateImpactDeptLink();">Create New </button>
                <div class="modal fade" id="bootstrapDialog" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true" data-url='@Url.Action("Create", "ImpactDeptLink")'></div>
                <div id='divBindPartialViews'></div>
                <div id='OpenDilog'></div>
            </div>
        </div>
        <!------buttons---------->
    </div>

    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Impact Points & Department Link List</div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="min-height:0px !important">

        <div id="body" class="col-lg-12 " style="overflow: auto;margin-top:10px">
            <table id="tblImpactDeptLink" class="table datatable_cust table-striped table-bordered dataTable no-footer " cellspacing="0" style="width: 100%" table-layout="fixed">
                <thead>
                    <tr>
                        <th>Impact Link Id</th>
                        <th>S.No</th>
                        <th>Impact Point</th>
                        <th>Department</th>
                        <th>Block Name</th>
                        <th>Status</th>
                        <th>Edit</th>
                        <th>History</th>
                    </tr>
                </thead>
            </table>
        </div>


    </div>
    <script>
        var tbl = $('#tblImpactDeptLink').DataTable({
            columns: [
                { 'data': 'ImpPoint_ID' },//0
                { 'data': 'RowNumber' },//1
                { 'data': 'Impact_Description' },//2
                { 'data': 'Department' },//3
                { 'data': 'BlockName' },//4
                { 'data': 'CurrentStatus' },//5
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a class="Edit" title="Edit" href="#" onclick="EditQualityEvent(this,' + o.ImpPoint_ID + ')">' + '' + '</a>';
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a class="View" title="History" href="#" onclick=TransactionHistoryView(this,' + o.ImpPoint_ID + ')>' + '' + '</a>';
                    }
                }
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }, { className: "textAlignCenter", "targets": [6, 7] }, { "orderable": false, "targets": [1]}
            ],
            "paging": true,
            sAjaxSource: "@Url.Content("~/QMS/ImpactDeptLink/GetImpactPointAndDeptLinkList")",
            sServerMethod: 'post'
        });
        function Reloadtable() {
            tbl.ajax.reload();
            $('#myModalDesignation').modal('hide');
        }
    </script>
    <script>
        function TransactionHistoryView(cntrl, E_ID) {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#divBindPartialViews").empty();
            $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/TransactionHistory")?id=" + E_ID + "&&EventType=" + 505, function () {
                $('#myModalTransHistory').modal('show');
                $('#myModalTransHistory').on('shown.bs.modal', function (e) {
                    var hdnColumns = [0,3,7]
                    LoadQMSEventsHistory(E_ID, hdnColumns,505);
                });
                ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "TransactionHistoryView(this," + E_ID + ")").unbind("click");
            });
        }
        function CreateImpactDeptLink(cntrl) {
            $("#OpenDilog").empty();
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#OpenDilog").load("@Url.Content("~/QMS/ImpactDeptLink/Create")",function () {
                $('#myModalImpactpointsAnddeptLink').modal('show');
                ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "CreateImpactDeptLink(this)").unbind("click");
            });
        }

        function EditQualityEvent(cntrl, E_ID) {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#OpenDilog").load("@Url.Content("~/QMS/ImpactDeptLink/Edit")?id=" + E_ID, function () {
                $('#myModalDeptLink').modal('show');
                ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "EditQualityEvent(this," + E_ID + ")").unbind("click");
            });
        }
    </script>
}
<!--Exception Message -->
<script>
    function ExecptionMsg(){
        var Err = "@ViewBag.Exception";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
    }
</script>