﻿@model Aizant_API_Entities.AizantIT_ActionPlanDescription

@using (Html.BeginForm())
{
    <div id="QMS_ActionEditModal1" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModal-label">Create Type of Action</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @*<div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                    <div>
                        @Html.Label("Type of Action Name", htmlAttributes: new { @class = "col-md-12 custom_label padding-none col-form-label" })
                        <div class="col-md-12 padding-none ">
                            @Html.EditorFor(model => model.Capa_ActionName, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @maxlength = 50 } })
                            @Html.ValidationMessageFor(model => model.Capa_ActionName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div>
                        @Html.Label("Status", htmlAttributes: new { @class = "col-md-12 custom_label padding-none col-form-label" })
                        <div class="col-md-12 padding-none ">
                            @Html.DropDownListFor(model => model.CurrentStatus, new SelectList(new[]
{ new { Value = "true", Text = "Active" },new { Value = "false", Text = "In-Active" },}, "Value", "Text", Model), new { @class = "selectpicker drop_down col-12 padding-none" })
                        </div>
                    </div>
                    @*</div>*@
                </div>
                <div class="modal-footer">

                    <input type="button" value="Create" class="btn-signup_popup" id="Submit" onclick="AddActionEvent()" />
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>

                </div>

            </div>
        </div>
    </div>
}
<script>
        function Reload() {
            $("#QMS_ActionEditModal1").modal('hide');
            $("#tblActionPlanList").DataTable().ajax.reload();
            }
        function AddActionEvent() {
            errors = [];
            var Capa_ActionName = $("#Capa_ActionName").val().trim().replace(/  +/g, ' ');
                var CurrentStatus = $("#CurrentStatus").val().trim();
                if (Capa_ActionName != "") {

                    var Employee = {
                        "Capa_ActionName": Capa_ActionName, "CurrentStatus": CurrentStatus,

                    };
                    ShowPleaseWait('show');
                    $.post("@Url.Content("~/QMS/ActionPlan/Create")", Employee,
                        function (aiz) {
                            ShowPleaseWait('hide');
                            if (aiz.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else {
                                if (aiz.hasError == true) {
                                    errors.push(aiz.data);
                                    custAlertMsg(errors.join("<br/>"), "error");

                                    return false;
                                }
                                else {

                                    if (aiz) {
                                        errors.push("Type of Action Name Created Successfully.");
                                        custAlertMsg(errors.join("<br/>"), "success", "Reload();");
                                        return false;

                                    } else {
                                        errors.push("Type of Action Name Already Exists.");
                                        custAlertMsg(errors.join("<br/>"), "error");

                                        return false;
                                    }
                                }
                            }

                        }, 'json');
                } else {
                    errors.push("Enter Type of Action Name.");
                    custAlertMsg(errors.join("<br/>"), "error");

                    return false;
                }

        }
            $("#Capa_ActionName").keypress(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                }
            });
</script>

<script>
    $(function () {
        $(".selectpicker").selectpicker();
    });
</script>