﻿@model Aizant_API_Entities.AizantIT_ActionPlanDescription

@using (Html.BeginForm())
{
    <div id="MyModelActionPlanEdit" class="modal department fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModal-label">Edit Type of Action</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style=" ">

                    <div class="col-sm-12 padding-none" style="float:none !important;margin-top:10px">
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Capa_ActionID)

                            <div>
                                @Html.Label("Type of Action Name", htmlAttributes: new { @class = "col-md-12 custom_label padding-none col-form-label" })
                                <div class="col-md-12 padding-none ">
                                    @Html.EditorFor(model => model.Capa_ActionName, new { htmlAttributes = new { @class = "form-control", @maxlength = 50 } })
                                    @Html.ValidationMessageFor(model => model.Capa_ActionName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div>
                                @Html.Label("Status", htmlAttributes: new { @class = "col-md-12 custom_label padding-none col-form-label" })
                                <div class="col-md-12 padding-none ">
                                    @Html.DropDownListFor(model => model.CurrentStatus, new SelectList(new[]
                            { new { Value = "true", Text = "Active" },new { Value = "false", Text = "In-Active" },}, "Value", "Text", Model), new { @class = "selectpicker drop_down col-12 padding-none" })
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left padding-none">
                                <label class=" custom_label col-form-label required"> Comments</label>
                                @Html.TextArea("comments", new { htmlAttributes = new { @class = "form-control ", @id = "txtComments", @rows = "3" }, maxlength = 500 })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Update" class="btn-signup_popup" onclick="UpdateActionPlan()" /><button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}


<script>
        function Reload1() {
            $("#MyModelActionPlanEdit").modal('hide');
            $("#tblActionPlanList").DataTable().ajax.reload();
        }
        function Edits() {
            CutAlert();
            SaveEmployee1();
        }
        function UpdateActionPlan() {
        errors = [];
        var Capa_ActionName = $("#Capa_ActionName").val().trim().replace(/  +/g, ' ');;
        var CurrentStatus = $("#CurrentStatus").val().trim();
        var Comments = $("#comments").val().trim();
        var Capa_ActionID = $("#Capa_ActionID").val();
        if (Capa_ActionName == "") {
            errors.push("Enter Type of Action Name.");
        }
        if (Comments == "") {
            errors.push("Enter Comments.");
        }
        if (Comments != "" && Capa_ActionName!="") {
            var Employee = {
                "Capa_ActionName": Capa_ActionName, "CurrentStatus": CurrentStatus, "Capa_ActionID": Capa_ActionID, "Comments": Comments,

            };
            ShowPleaseWait('show');
            $.post("@Url.Content("~/QMS/ActionPlan/Edit")", Employee,
                function (aiz) {
                    ShowPleaseWait('hide');
                    if (aiz.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (aiz.hasError == true) {
                            errors.push(aiz.data);
                            custAlertMsg(errors.join("<br/>"), "error");

                            return false;
                        }
                        else {
                            if (aiz!=0) {
                                errors.push("Type of Action Updated Successfully.");
                                custAlertMsg(errors.join("<br/>"), "success", "Reload1();");
                                return true;
                            } else {
                                errors.push("Type of Action Name Already Exists. ");
                                custAlertMsg(errors.join("<br/>"), "error");

                                return false;
                            }
                        }
                    }
                }, 'json');
        } else{
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }

        }
        $("#Capa_ActionName").keypress(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });
</script>
<script>
    $(function () {
        $(".selectpicker").selectpicker();
    });
</script>