﻿@model IEnumerable<Aizant_API_Entities.AizantIT_ActionPlanDescription>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<!--Exception Function-->
@if (ViewBag.Exception != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>

}
else
{
    <div class="col-lg-6 float-left padding-none">

        <!------buttons---------->
        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6 float-right padding-none">

            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none">
                <button class=" btn-signup_popup float-right" name="Add Capa" value="Add Capa" id="btndept" onclick="CreateAction(this);">Create New </button>
                <div class="modal fade" id="bootstrapDialog" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true" data-url='@Url.Action("Create", "QMS_QualityEvent")'></div>
                <div id='divBindPartialViews'></div>
                <div id='OpenDilog'></div>
            </div>

        </div>
        <!------buttons---------->
    </div>


    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Type of Action List</div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none">

        <div id="body" class="col-lg-12 " style="overflow: auto;margin-top:10px">
            <table id="tblActionPlanList" class="table datatable_cust table-striped table-bordered dataTable no-footer" cellspacing="0" style="width: 100%" table-layout="fixed">
                <thead>
                    <tr>
                        <th>Action Plan Id</th>
                        <th>S.No</th>
                        <th>Type of Action</th>
                        <th>Current Status</th>
                        <th>Edit</th>
                        <th>History</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>


    <script>
    var tbl = $('#tblActionPlanList').DataTable({
        columns: [
            { 'data': 'Capa_ActionID' },//0
            { 'data': 'RowNumber' },//1
            { 'data': 'Capa_ActionName' },//2
            { 'data': 'CurrentStatus' },//3
            {
                "mData": null,
                "bSortable": false,
                "mRender": function (o) {
                    return '<a class="Edit"  title="Edit" href="#"  onclick=EditQualityEvent(this,' + o.Capa_ActionID + ')>' + '' + '</a>';
                }
            },
            {
                "mData": null,
                "bSortable": false,
                "mRender": function (o) {
                    return '<a class="View" title="History" href="#" onclick=TransactionHistoryView(this,' + o.Capa_ActionID + ')>' + '' + '</a>';
                }
            }
        ],
        "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }, { className: "textAlignCenter", "targets": [4, 5] }, { "orderable": false, "targets": [1] }
        ],
        "paging": true,
        sAjaxSource: "@Url.Content("~/QMS/ActionPlan/GetActionPlanList")",
        sServerMethod: 'post'
    });
    function Reloadtable() {
        tbl.ajax.reload();
        $('#myModalDesignation').modal('hide');
    }
    </script>
    <script>
        function TransactionHistoryView(cntrl, ActionID) {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#divBindPartialViews").empty();
            $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/TransactionHistory")?id=" + ActionID + "&&EventType=" + 504, function () {
                $('#myModalTransHistory').modal('show');
                $('#myModalTransHistory').on('shown.bs.modal', function (e) {
                    var hdnColumns = [0,3,7]
                    LoadQMSEventsHistory(ActionID, hdnColumns,504);
                });
                ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "TransactionHistoryView(this," + ActionID + ")").unbind("click");
            });
        }
        function CreateAction(cntrl) {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#OpenDilog").empty();
            $("#OpenDilog").load("@Url.Content("~/QMS/ActionPlan/Create")", function () {
                $('#QMS_ActionEditModal1').modal('show');
                ShowPleaseWait('hide');
            $(cntrl).attr("onclick", "CreateAction(this)").unbind("click");

        });
    }
    function EditQualityEvent(cntrl,ActionID) {
        $(cntrl).attr("onclick", "").unbind("click");
        $("#OpenDilog").empty();
        ShowPleaseWait('show');
        $("#OpenDilog").load("@Url.Content("~/QMS/ActionPlan/Edit")?id=" + ActionID, function () {
            $('#MyModelActionPlanEdit').modal('show');
            ShowPleaseWait('hide');
            $(cntrl).attr("onclick", "EditQualityEvent(this," + ActionID + ")").unbind("click");
        });

    }
    </script>
}
<!--Exception Message -->
<script>
    function ExecptionMsg(){
        var Err = "@ViewBag.Exception";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
    }
</script>


