﻿@import url('../fontscss/fonts_segoe_gly.css');
@import url('../Common/common.css');
@import url('../login/button.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg_landing {
    /* background: linear-gradient(to left, #232525, #535555, #898a8a, #c2c3c3, #ffffff); */
    background: url('../../Images/Landing/single.png') no-repeat;
    /*height: 100vh;scroll issue*/
    width: 100%;
    position: absolute;
    background-position: right bottom;
    opacity: 0.2;
    background-size: 20%;
    z-index: -1;
    height: 100vh;
}

.CardRow1 {
    text-align: center;
    margin-top: 13pc;
    float: left;
    width: 100%;
}

.landing_nav li {
    list-style: none;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 28px;
}

.shadow_img {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    box-shadow: 2px 23px 22px -7px #000;
}

    .shadow_img:hover {
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

.icon_1 {
    border: 1px solid #38b8ba;
    box-shadow: 1px 14px 17px -4px #3e3e3e;
    padding: 28px 0px 58px;
    background: #fff;
    position: relative;
}

.col-centered {
    float: none;
    margin: 0 auto;
}


.img_langing {
    text-align: center;
    padding: 8px;
}

.module_name {
    background: #38b8ba;
    color: #fff;
    padding: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: seguisb;
    font-size: 12pt;
}

.CardRow1 a:focus{
    outline:none !important;
}
.CardRow1 a:hover {
    text-decoration: none !important;
}