/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
// @import "~ngx-smart-modal/ngx-smart-modal";

ng2-flatpickr{
    .ng2-flatpickr-input-container{
        .flatpickr-input{
            width:100% !important;
        }
    }
}







.dashboard_panel_header {
    text-align: center;
    padding: 8px 10px;
    border-bottom: 1px solid #38b8ba;
    color: #418e8f;
    background: #cdedee;
    font-family: seguisb;
    margin-top: 0px;
    font-size: 10pt;
    height: 50px;
  }
  .dashboard_panel_full {
    border: 1px solid #38b8ba;
    margin-top: 10px;
  }