﻿@import url('../login/button.css');
@import url('../Common/common.css');
@import url('../grid_icons/grid_icon.css');
@import url('../datetimepicker/datetimepicker.css');
@import url('../dms_styles/dms_dashboard.css');
.grid_header_vms {
    background: #38b8ba;
    padding: 10px;
    color: #fff;
    font-size: 12pt;
    font-family: seguisb;
}
.btnnVisit {
    background: #38b8ba;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    height: 22px;
    width: 22px;
    border: 1px solid #38b8ba;
    margin-right: 16px;
}
.image_profile {
    width: 178px;
    height: 188px;
    padding-right: 5px;
    margin: 0px -15px 33px;
}
.dashboard_msgVMS {
    margin: 28rem auto;
    text-align: center;
    font-size: 27pt;
    color: #38b8ba;
    font-family: seguisb;
}
.vms_landing {
    text-align: center;
    float: left;
    width: 100%;
}

.vms_landing li {
    border: 1px solid #338d9a;
    background: #2fa6b8;
    list-style: none;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 10px;
}

.vms_landing li a {
    text-decoration: none;
}

.vms_landing li:hover {
    box-shadow: 0px 7px 6px 0px rgba(0,0,0,0.26);
    transition: all 0.3s ease-out;
}
.vms_bg {
    background: #fff;
}

.text_content {
    padding: 5rem;
    text-align: center;
    color: #38b8ba;
    font-size: 56pt;
    font-family: SEGOEUI;
}
.moudle_name_vms {
    background: #338d9a;
    padding: 10px;
    color: #fff;
    font-family: seguisb;
    font-size: 12pt;
}

.img_langing {
    text-align: center;
    padding: 8px;
}

.btngridCheckOut_VMS {
    background: url(../../Images/GridActionImages/checkout.png) no-repeat;
    padding: 12px 12px;
    top: 10px;
    position: relative;
    background-size: 24px 24px;
}
.previleges_roleslist tr td label {
    color: #000;
    font-size: 9pt;
    font-family: seguisb;
}