﻿@model IEnumerable<Aizant_API_Entities.AizantIT_BlockMaster>

@{
    ViewBag.Title = "BlockList";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<!--Exception Function-->
@if (ViewBag.Exception != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>
}
else
{
    <div class="col-lg-6 float-left padding-none">

        <!------buttons---------->
        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6 float-right padding-none">

            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none">
                <button class=" btn-signup_popup float-right" name="Add Capa" value="Add Capa" id="btndept" onclick="CreateBlockMaster(this);">Create New </button>
                <div class="modal fade" id="bootstrapDialog" tabindex="-1" role="dialog" aria-labelledby="myModal-label" aria-hidden="true" data-url='@Url.Action("Create", "QMS_BlockMaster")'></div>
                <div id='divBindPartialViews'></div>
                <div id='OpenDilog'></div>
            </div>

        </div>
        <!------buttons---------->
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Block List</div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none">


        <div id="body" class="col-lg-12 " style="overflow: auto;margin-top:10px">
            <table id="tblBlockList" class="table datatable_cust table-striped table-bordered dataTable no-footer" cellspacing="0" style="width: 100%" table-layout="fixed">
                <thead>
                    <tr>
                        <th>BlockID</th>
                        <th>S.No</th>
                        <th>Block Name</th>
                        <th>Current Status</th>
                        <th>Edit</th>
                        <th>History</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
    <script>
        var tbl = $('#tblBlockList').DataTable({
            columns: [
                { 'data': 'BlockID' },//0
                { 'data': 'RowNumber' },//1
                { 'data': 'BlockName' },//2
                { 'data': 'CurrentStatus' },//3
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a class="Edit" title="Edit"   href="#"  onclick=EditQualityEvent(this,' + o.BlockID + ')>' + '' + '</a>';
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a class="View" title="History" href="#" onclick=TransactionHistoryView(this,' + o.BlockID + ')>' + '' + '</a>';
                    }
                }
            ],
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                { className: "textAlignCenter", "targets": [4, 5] },
                { "orderable": false, "targets": [1] } 
            ],
            "paging": true,
            "bServerSide": true,
            sAjaxSource: "@Url.Content("~/BlockMaster/GetBlockMasterList")",
            sServerMethod: 'post'
        });
        function Reloadtable() {
            tbl.ajax.reload();
            $('#myModalDesignation').modal('hide');
        }
    </script>
    <script>
        function TransactionHistoryView(cntrl, blockID) {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#divBindPartialViews").empty();
            $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/TransactionHistory")?id=" + blockID + "&&EventType=" + 503, function () {
                $('#myModalTransHistory').modal('show');
                $('#myModalTransHistory').on('shown.bs.modal', function (e) {
                    var hdnColumns = [0,3,7]
                    LoadQMSEventsHistory(blockID, hdnColumns,503);
                });
                ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "TransactionHistoryView(this," + blockID + ")").unbind("click");
            });
        }
        function CreateBlockMaster(cntrl) {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#OpenDilog").empty();
            $("#OpenDilog").load("@Url.Content("~/QMS/BlockMaster/Create")", function () {
                $('#myModalBlockMasterCreate').modal('show');
                ShowPleaseWait('hide');
            $(cntrl).attr("onclick", "CreateBlockMaster(this)").unbind("click");
            });
        }
        function EditQualityEvent(cntrl,blockID) {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#OpenDilog").empty();
            $("#OpenDilog").load("@Url.Content("~/QMS/BlockMaster/Edit")?id=" + blockID, function () {
                $('#mymodelBlockEdit').modal('show');
                ShowPleaseWait('hide');
            $(cntrl).attr("onclick", "EditQualityEvent(this," + blockID + ")").unbind("click");
            });
        }
    </script>
}
<!--Exception Message -->
<script>
    function ExecptionMsg(){
        var Err = "@ViewBag.Exception";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
    }
</script>
