﻿@model Aizant_API_Entities.AizantIT_BlockMaster

@using (Html.BeginForm())
{

<div id="myModalBlockMasterCreate" class="modal department fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModal-label">Create Block Name </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style=" ">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
                        @Html.Label("Block Name", htmlAttributes: new { @class = "custom_label col-form-label required" })
                        <div class="col-12 padding-none">
                            @Html.Editor("Block Name", new { htmlAttributes = new {id= "BlockName", @class = "form-control", @maxlength = 50 } })
                            @Html.ValidationMessageFor(model => model.BlockName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
                        @Html.Label("Status", htmlAttributes: new { @class = "custom_label col-form-label" })
                        <div class="col-12 padding-none">
                            @Html.DropDownListFor(model => model.Currentstatus, new SelectList(new[]
{ new { Value = "true", Text = "Active" },new { Value = "false", Text = "In-Active" },}, "Value", "Text", Model), new { @class = "selectpicker drop_down col-12 padding-none" })
                        </div>
                    </div>
                    <div class="form-group" hidden="hidden">
                        @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-7 padding-none ">
                            @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" hidden="hidden">
                        @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-7 padding-none ">
                            @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <input type="button" value="Create" class="btn-signup_popup" id="Submit" onclick="Addblock()" />
                <button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10" >Cancel</button>

            </div>
        </div>
    </div>
    </div>
    }
<script>
    function Reload() {
        $("#myModalBlockMasterCreate").modal('hide');
        $("#tblBlockList").DataTable().ajax.reload();
        }
    function Addblock() {
            errors = [];
            var BlockName = $("#BlockName").val().trim().replace(/  +/g, ' ');
            var Currentstatus = $("#Currentstatus").val();
            if (BlockName != "") {
                var block = {
                    "BlockName": BlockName, "Currentstatus": Currentstatus,
                };
                ShowPleaseWait('show');
                $.post("@Url.Content("~/QMS/BlockMaster/Create")", block,
                    function (aiz) {
                        ShowPleaseWait('hide');
                        if (aiz.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else {
                            if (aiz.hasError == true) {
                                errors.push(aiz.data);
                                custAlertMsg(errors.join("<br/>"), "error");

                                return false;
                            }
                            else {
                                if (aiz) {
                                    errors.push("Block Name Created Successfully.");
                                    custAlertMsg(errors.join("<br/>"), "success", "Reload();");
                                    return false;
                                } else {
                                    errors.push("Block Name Already Exists.");
                                    custAlertMsg(errors.join("<br/>"), "error");
                                    return false;
                                }
                            }
                        }
                    }, 'json');
            } else {
                errors.push("Enter Block Name.");
                custAlertMsg(errors.join("<br/>"), "error");

                return false;
            }

    }
    $("#BlockName").keypress(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
</script>
    @if (ViewBag.error != "")
    {
        <script>
        window.onload = function () {
             errors = [];
                errors.push("@ViewBag.error");
            if (errors.length > 0) {
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
            }
            else {
                return true;
            }
        };
        </script>
    }
        <script>
            $(function () {
                $(".selectpicker").selectpicker();
            });
        </script>