﻿@model Aizant_API_Entities.AizantIT_BlockMaster

@using (Html.BeginForm())
{
    <div id="mymodelBlockEdit" class="modal department fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModal-label">Edit Block Name</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 padding-none" style="float:none !important;">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.BlockID)
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            @Html.Label("Block Name", htmlAttributes: new { @class = "custom_label col-form-label required" })
                            <div class="col-12 padding-none">
                                @Html.EditorFor(model => model.BlockName, new { htmlAttributes = new { @class = "form-control", @maxlength = 50 } })
                                @Html.ValidationMessageFor(model => model.BlockName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            @Html.Label("Status", htmlAttributes: new { @class = "custom_label col-form-label" })
                            <div class="col-12 padding-none">
                                @Html.DropDownListFor(model => model.Currentstatus, new SelectList(new[]
              { new { Value = "true", Text = "Active" },new { Value = "false", Text = "In-Active" },}, "Value", "Text", Model), new { @class = "selectpicker drop_down col-12 padding-none" })
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left padding-none">
                            <label class=" custom_label col-form-label required"> Comments</label>
                            @Html.TextArea("comments", new { htmlAttributes = new { @class = "form-control ", @id = "txtComments", @rows = "3" }, maxlength = 500 })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Update" class="btn-signup_popup" onclick="EditBlock()" /><button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function Reload1() {
        $("#mymodelBlockEdit").modal('hide');
        $("#tblBlockList").DataTable().ajax.reload();
    }

    function Edits() {
        CutAlert();
        SaveEmployee1();
    }
    function EditBlock() {
        errors = [];
        var BlockName = $("#BlockName").val().trim().replace(/  +/g, ' ');
        var Currentstatus = $("#Currentstatus").val();
        var Comments = $("#comments").val().trim();
        var BlockID = $("#BlockID").val();
        if (BlockName == "") {
            errors.push("Enter Block Name.");

        }
        if (Comments == "") {
            errors.push("Enter Comments.");
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        if (Comment != "" && BlockName!="") {
            var block = {
                "BlockName": BlockName, "Currentstatus": Currentstatus, "BlockID": BlockID, "Comments": Comments,
            };
            ShowPleaseWait('show');
            $.post("@Url.Content("~/QMS/BlockMaster/Edit")", block,
                function (aiz) {
                    ShowPleaseWait('hide');
                    if (aiz.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (aiz.hasError == true) {
                            errors.push(aiz.data);
                            custAlertMsg(errors.join("<br/>"), "error");

                            return false;
                        }
                        else {
                            if (aiz!=0) {
                                errors.push("Block Updated Successfully.");
                                custAlertMsg(errors.join("<br/>"), "success", "Reload1();");
                                return true;

                            } else {
                                errors.push("Block Already Exists. ");
                                custAlertMsg(errors.join("<br/>"), "error");

                                return false;
                            }
                        }
                    }
                }, 'json');
        } else{
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        }
        $("#BlockName").keypress(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });
</script>
<script>
    $(function () {
        $(".selectpicker").selectpicker();
    });
</script>