﻿@font-face {
    font-family: Roboto-Bold;
    src: url(../../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../../fonts/Roboto-Regular.ttf);
}


@font-face {
    font-family: Roboto-Thin;
    src: url(../../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: seguisb;
    src: url(../../fonts/seguisb.ttf);
}

@font-face {
    font-family: SEGOEUI;
    src: url(../../fonts/SEGOEUI.ttf);
}

@font-face {
    font-family: segoe-light;
    src: url(../../fonts/segoeuil.ttf);
}

@font-face {
    font-family: SEGOEUIB;
    src: url(../../fonts/SEGOEUIB.ttf);
}

.inner-bg {
    background: #c9cecf;
}

.logo_landing {
    background: #1f1f1f;
    padding: 2px;
}

.login_icon_bg {
    background: #c4cbcc;
    padding: 0
}

.login-panel {
    top: 130px;
    background: #fff;
    border: 4px solid #075f6b;
    height: 540px;
}

.form-control {
    height: 35px !important;
}

/*.form-group {
    margin-bottom: 15px !important;
}*/

.logo {
    padding: 34px;
    background: #075f6b;
}

.padding-none {
    padding: 0px;
}

.close_button {
    margin-top: 0px;
    color: #fff;
    cursor: pointer;
}

label {
    color: #38b8ba;
    font-family: seguisb;
    padding-left: 10px;
}

input {
    border: 1px solid #b4b8b8 !important;
    font-family: seguisb;
    font-size: 12pt !important;
}

.error {
    background: #fff;
    color: #000;
    border: 1px solid #f84545;
    border-radius: 0px;
}

.landing_links {
    float: right;
}

    .landing_links ul {
        margin: 0;
        padding: 0;
    }

        .landing_links ul li {
            list-style-type: none;
            display: inline;
        }

            .landing_links ul li a {
                list-style-type: none;
                display: inline;
                color: #fff;
                background: url(../images/sprite_landing.png) no-repeat;
                padding: 14px 10px 11px 48px;
                margin-top: 0px;
                float: left;
                font-size: 12pt;
                font-weight: bold;
                border-right: 1px solid #3E3E3E;
            }

                .landing_links ul li a:hover {
                    color: #00aac1;
                    text-decoration: none;
                }

                .landing_links ul li a.home {
                    background: url(../images/sprite_landing.png) no-repeat;
                    background-position: 6px -2px;
                    padding: 24px 30px;
                    border-left: 1px solid #3E3E3E;
                    background-repeat: no-repeat;
                }

                    .landing_links ul li a.home:hover {
                        background-position: 6px -73px;
                    }

.shadow_img:hover {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.shadow_img {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    box-shadow: 0px 26px 36px -15px #25241f;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 10%;
}

.landing_links ul li a.home.active {
    background: url(../images/sprite_landing.png) no-repeat;
    background-position: 6px -73px;
}

.landing_links ul li a.profile {
    background: url(../images/sprite_landing.png) no-repeat;
    background-position: 7px -142px;
    padding: 24px 30px;
}

    .landing_links ul li a.profile:hover {
        background-position: 7px -213px;
    }

    .landing_links ul li a.profile.active {
        background: url(../images/sprite_landing.png) no-repeat;
        background-position: 7px -213px;
    }

.landing_links ul li a.username {
    background: url(../images/sprite_landing.png) no-repeat;
    background-position: 0px -283px;
}

    .landing_links ul li a.username:hover {
        background-position: 0px -340px;
    }

    .landing_links ul li a.username.active {
        background: url(../images/sprite_landing.png) no-repeat;
        background-position: 0px -340px;
    }

.landing_links ul li a.logout {
    background: url(../images/sprite_landing.png) no-repeat;
    background-position: 6px -403px;
    padding: 24px 30px;
}

    .landing_links ul li a.logout:hover {
        background-position: 6px -403px
    }
/*----ums-------*/
.tab_grid li a {
    border: 1px solid #064a53;
    padding: 7px 26px;
    border-radius: 0px;
    color: #fffcfc;
    font-family: seguisb;
}

.btn-primary_radio {
    background: #fff;
    border: 1px solid #0a9cb0;
    color: #0a9cb0;
    font-family: seguisb;
    margin-bottom: 16px;
}

    .btn-primary_radio .active {
        background: #0a9cb0;
        border: 1px solid #0a9cb0;
        color: #fff;
        font-family: seguisb;
    }

        .btn-primary_radio.active.focus, .btn-primary_radio.active:focus, .btn-primary_radio.active:hover, .btn-primary_radio:active.focus, .btn-primary_radio:active:focus, .btn-primary_radio:active:hover, .open > .dropdown-toggle.btn-primary_radio.focus, .open > .dropdown-toggle.btn-primary_radio:focus, .open > .dropdown-toggle.btn-primary_radio:hover {
            color: #fff;
            background-color: #0a9cb0;
            border-color: #0a9cb0;
            font-family: seguisb;
        }

.add_depart {
    border-radius: 8px;
    background: #077280;
    border-color: #1cadef;
    color: #fff;
    padding: 0px 0px;
    font-size: 17pt;
    font-family: seguisb;
    margin-top: -9px;
    text-align: center;
    cursor: pointer;
}

.check_status {
    color: #000;
    font-size: 12pt;
    font-family: seguisb;
    /*margin-top: -9px;*/
    text-align: center;
    cursor: pointer;
    /*padding: 6px 0px;*/
    margin-right: 30px;
    text-decoration: underline;
}

.btn.active, .btn:active {
    color: #fff;
    background-color: #0a9cb0;
    border-color: #0a9cb0;
    font-family: seguisb;
}

.grid_area {
    background: #fff;
    border: 1px solid #1cadef;
    float: left;
}

.tab_grid > li.active > a, .tab_grid > li.active > a:focus, .tab_grid > li.active > a:hover {
    color: #fff;
    background-color: #064a53;
}

.label_panel {
    margin-top: 16px;
}

.tab_grid {
    border-bottom: 1px solid #d4d4d4;
}

.profile_bg {
    border: 4px solid #bfc5c6;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    float: left;
}

.upload-button {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    background: #077280;
}

    .upload-button:hover {
        background: #077280;
    }

    .upload-button:focus {
        background: #077280;
    }

.upload-button_input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.btn-signup {
    margin-left: 10px;
    background: #039db2;
    border: 1px solid #039db2;
    border-radius: 4px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #fff;
    margin-bottom: 10px;
    font-family: seguisb;
}

    .btn-signup:hover {
        margin-left: 10px;
        background: #039db2;
        border: 1px solid #039db2;
        border-radius: 4px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        margin-bottom: 10px;
        font-family: seguisb;
    }

.btn-cancel {
    margin-left: 10px;
    background: #484e4f;
    border: 1px solid #484e4f;
    border-radius: 4px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #fff;
    margin-bottom: 10px;
    font-family: seguisb;
}

    .btn-cancel:hover {
        margin-left: 10px;
        background: #484e4f;
        border: 1px solid #484e4f;
        border-radius: 4px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        margin-bottom: 10px;
        font-family: seguisb;
    }
.btn-signup_popup {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #075f6b;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #075f6b;
    font-family: seguisb;
    margin-bottom: -1px;
}

    .btn-signup_popup:hover {
        margin-left: 4px;
        background: #075f6b;
        border: 1px solid #38abd1;
        border-radius: 0px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        font-family: seguisb;
    }

.btn-cancel_popup {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #f84545;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #f84545;
    font-family: seguisb;
    margin-bottom: 10px;
}

    .btn-cancel_popup:hover {
        margin-left: 4px;
        background: #f84545;
        border: 1px solid #f84545;
        border-radius: 0px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        font-family: seguisb;
        margin-bottom: 10px;
    }
.department .modal-header {
    background: #0b4c55;
    color: #fff;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0;
    margin-left: 1px !important;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #0d6d7a !important;
    border: 1px solid #0d6d7a;
    border-radius: 2px;
    font-family: seguisb;
}

.pagination > li > a, .pagination > li > span {
    margin-left: 0px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #0d6d7a;
    font-family: seguisb;
    border-color: 1px solid #0d6d7a;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #dcfafe;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.even {
    background-color: #c0d4d7;
}

    table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
        background-color: #c0d4d7;
    }

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #dcfafe;
}

table.dataTable.display tbody td {
    text-align: center;
    color: #121111 !important;
    font-family: seguisb;
}

.close {
    color: #fff;
    opacity: 1;
}

.btn-signup_popup {
    margin-left: 10px;
    background: #fff;
    border: 1px solid #075f6b;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #075f6b;
    font-family: seguisb;
}

    .btn-signup_popup:hover {
        margin-left: 10px;
        background: #075f6b;
        border: 1px solid #38abd1;
        border-radius: 0px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        font-family: seguisb;
    }

.btn-cancel_popup {
    margin-left: 10px;
    background: #fff;
    border: 1px solid #f84545;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #f84545;
    font-family: seguisb;
    margin-bottom: 10px;
}

    .btn-cancel_popup:hover {
        margin-left: 10px;
        background: #f84545;
        border: 1px solid #f84545;
        border-radius: 0px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        font-family: seguisb;
        margin-bottom: 10px;
    }

table.dataTable thead th, table.dataTable thead td {
    text-align: center;
    padding: 10px 18px;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    background: #38b8ba;
    color: #fff;
}

.roles_header_border {
    background: #fff;
    border: 1px solid #064a53;
    margin-bottom: 10px;
    min-height: 450px;
    max-height: 450px;
    overflow: auto;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .roles_header_border {
        background: #fff;
        border: 1px solid #064a53;
        margin-bottom: 10px;
        min-height: 450px;
        max-height: 450px;
        overflow: auto;
    }
}

@media only screen and (min-device-width : 1200px) and (max-device-width : 1900px) {
}

.styled-select {
    overflow: hidden;
    padding: 5px;
}

    .styled-select select {
        background: transparent;
        border: none;
        font-size: 14px;
        height: 29px;
        padding: 5px;
        width: 100%; /* If you add too much padding here, the options won't show in IE */
    }

.btn_assign {
    background: #fff;
    border: 1px solid #38b8ba;
    margin-left: 10px;
    float: left;
    margin-bottom: 10px;
}

textarea {
    max-width: 100%;
    max-height: 70px;
    margin-bottom: 10px;
}



.roles_header {
    background: #38b8ba;
    border: 1px solid #38b8ba;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    font-family: seguisb;
}

.selectedbox {
    border-radius: 2px;
    padding: 10px;
    float: left;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-left: -12px !important;
    margin-top: 5px !important;
}

.check_button {
    border: none !important;
    background: none !important;
    text-decoration: underline;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 35px !important;
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 35px !important;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.blue {
    background: #ffffff;
    padding: 5px;
    border: 1px solid #b4b8b8;
    color: #067b8b;
}

    .blue select {
        color: #067b8b;
        padding: 5px;
    }

.password_wrong {
    background: url(../images/password.png) no-repeat;
    padding: 12px 12px;
    float: left;
}

.lock {
    background: url(../images/locked.png) no-repeat;
    padding: 12px 12px;
    float: left;
}

.unlock {
    background: url(../images/unclock.png) no-repeat;
    padding: 12px 12px;
    float: left;
}

table.fixedHeader-floating {
    position: fixed !important;
    background-color: white
}

    table.fixedHeader-floating.no-footer {
        border-bottom-width: 0
    }

table.fixedHeader-locked {
    position: absolute !important;
    background-color: white
}

@media print {
    table.fixedHeader-floating {
        display: none
    }
}

.lock {
    background-image: url('../../Images/GridActionImages/locked.png');
    padding: 12px 12px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.unlock {
    background-image: url('../../Images/GridActionImages/unclock.png');
    padding: 12px 12px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.Password {
    background-image: url('../../Images/GridActionImages/password.png');
    padding: 12px 12px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.Assign_Role {
    background-image: url('../../Images/GridActionImages/assign_roles.png');
    padding: 12px 12px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.Assigned_Role {
    background-image: url('../../Images/GridActionImages/assgined_roles.png');
    padding: 12px 12px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.Edit {
    background-image: url('../../Images/GridActionImages/edit.png');
    padding: 12px 12px;
    float: left;
    margin-left: 40%;
    margin-right: 50%;
}

.tms_bg {
    background: #d4e1e7;
}

.outer_border {
    border: 1px solid #33a3b2;
    background: #fff;
    padding: 4px;
}

.closebtn {
    font-size: 14pt;
    cursor: pointer;
    color: #fff;
    padding: 4px 10px;
    background: #38b8ba;
    border-radius: 4px;
    width: 36px;
    float: left;
    margin-bottom: 6px;
}

.closebtn1 {
    font-size: 14pt;
    cursor: pointer;
    color: #fff;
    padding: 4px 10px;
    background: #38b8ba;
    border-radius: 4px;
    width: 36px;
    float: left;
    margin-right: 10px;
    margin-bottom: 6px;
}
