﻿
@font-face {
    font-family: Roboto-Bold;
    src: url(../../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../../fonts/Roboto-Regular.ttf);
}


@font-face {
    font-family: Roboto-Thin;
    src: url(../../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: seguisb;
    src: url(../../fonts/seguisb.ttf);
}

@font-face {
    font-family: SEGOEUI;
    src: url(../../fonts/SEGOEUI.ttf);
}

@font-face {
    font-family: segoe-light;
    src: url(../../fonts/segoeuil.ttf);
}

@font-face {
    font-family: SEGOEUIB;
    src: url(../../fonts/SEGOEUIB.ttf);
}

.bg_login {
    background-color: #3e3e3e;
    background: url(../../Images/Login/bgLogin.jpg) no-repeat scroll center 0px;
    background-size: cover;
    height: 100vh;
}


.bg_landing {
    /*background: linear-gradient(to left, #232525, #535555, #898a8a, #c2c3c3, #ffffff);*/
    background: url(../../Images/Landing/single.png) no-repeat;
    height: 100vh;
    width: 100%;
    position: absolute;
    background-position: right bottom;
    opacity: 0.2;
    background-size:20%;
}

.bg_landing2 {
    background-color: #3e3e3e;
    background: url(../../Images/Landing/landing_2bg.png) no-repeat scroll center 0px;
    background-size: 100%;
}

.logo_landing {
    box-shadow: 0px 0px 15px #3e3e3e;
    background: linear-gradient(to left, #232525, #535555, #898a8a, #c2c3c3, #ffffff);
    padding: 2px;
}

.login_inner {
    background: #1b1a1a;
    opacity: 0.7;
    top: 130px;
    position: absolute;
    height: 520px;
    box-shadow: 2px 22px 26px 3px #000;
}

.login_icon_bg {
    background: #38b8ba;
    padding: 0
}
.img_logo{
    width:50%;
    float:right
}
.login-panel {
    top: 130px;
    background: #fff;
    border: 4px solid #38b8ba;
    box-shadow: 0px 16px 29px;
    border-radius: 4px;
    /*height: 540px;*/
}

.copyrights {
    font-size: 10px;
    color: #38b8ba;
    font-family: seguisb;
    text-align: center;
    padding:0px;
}

.logo {
    padding: 22px;
    background: #fff;
}

.user_login {
    background: url(../../Images/UserLogin/UserLoginIcon.png) no-repeat scroll 0px;
    font-weight: bold;
    font-size: 18pt;
    color: #fff;
    padding: 23px 55px 10px;
}

.link_dashboard {
    color: #fff;
    font-family: seguisb;
    font-size: 25pt;
    float: right;
    padding: 0px; 
}

.alert_box {
    color: #000;
    position: absolute;
    bottom: 0px;
    padding: 8px 0px 0px;
    text-align: center;
    background: #171616;
    left: 0px;
    color: #d6302f;
    font-weight: bold;
}

input:focus {
    border-bottom: 1px solid #bcb3b3 !important;
    box-shadow: none !important;
}

.padding-none {
    padding: 0px !important;
}

.close_button {
    margin-top: 0px;
    color: #fff;
    cursor: pointer;
}

.custom_label_login {
    color: #38b8ba;
    font-size: 14px;
    text-align: left !important;
    margin-bottom: 2px !important;
}

.custom_label_sign-up {
    color: #fff;
    font-size: 10pt;
    margin-bottom: 6px;
    background: #078799;
    margin-top: 0px;
    padding: 8px 10px;
    margin-right: 0px;
    padding-left: 0px;
    text-align: center !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.custom_label_answer {
    color: #38b8ba;
    font-size: 10pt;
    margin-bottom: 6px;
    /*margin-top: 22px;*/
    /*padding: 8px 0px;*/
    margin-right: 0px;
    text-align: left !important;
}

.textarea {
    max-width: 100%;
    max-height: 70px;
}

.forget {
    font-weight: bold;
    color: #337ab7;
    font-size: 10pt;
    text-decoration: underline;
    margin-bottom: 10px;
    cursor: pointer;
}

.forget_sign {
    font-weight: bold;
    color: #337ab7;
    font-size: 10pt;
    text-decoration: underline;
    margin-bottom: 10px;
    cursor: pointer;
}

.login_input {
    color: #000;
    border-bottom: 1px solid #bcb3b3 !important;
    border: none;
    margin-bottom: 10px;
}

.btn-login {
    background: #38b8ba;
    border: 1px solid #32a8cf;
    border-radius: 4px;
    padding: 8px 22px;
    font-size: 12pt;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

    .btn-login:hover {
        background: #38b8ba;
        border: 1px solid #148a9a;
        border-radius: 4px;
        padding: 8px 22px;
        font-size: 12pt;
        color: #fff;
        font-weight: 600;
        margin-bottom: 10px;
    }

.btn-signup {
    margin-left: -7px;
    background: #38b8ba;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 8px 22px;
    font-size: 12pt;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}
    /*.login_details {
   
}*/
    .btn-signup:hover {
        margin-left: -7px;
        background: #38b8ba;
        border: 1px solid #38b8ba;
        border-radius: 4px;
        padding: 8px 22px;
        font-size: 12pt;
        color: #fff;
        font-weight: 600;
        margin-bottom: 10px;
    }
.btn-signup_popup {
    margin-left: 5px;
    background: #fff;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 10pt;
    color: #38b8ba;
    font-family: seguisb;
}
.top{margin-top:10px;}
.popup_title {
    padding: 3px 14px;
    font-family: seguisb;
    font-size: 14pt;
}
.btn-signup_popup:hover {
    margin-left: 5px;
    background: #38b8ba;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
}
.sign_up_header {
    background: #38b8ba;
    color: #fff;
    padding: 10px;
    font-size: 12pt;
    font-weight: bold;
}

.login_panel_left {
    margin-left: 37.666667% !important;
}

.btn-Submit_popup {
    margin-left: 5px;
    background: #fff;
    border: 1px solid #075f6b;
    border-radius: 0px;
    padding: 4px 10px;
    font-size: 10pt;
    color: #075f6b;
    font-weight: 500;
    margin-bottom: 10px;
    /*margin-top:10px;*/
}

    .btn-Submit_popup:hover {
        margin-left: 5px;
        background: #075f6b;
        border: 1px solid #38abd1;
        border-radius: 0px;
        padding: 4px 10px;
        font-size: 10pt;
        color: #fff;
        font-weight: 500;
        margin-bottom: 10px;
    }
.btn-Edit_popup {
    margin-left: 5px;
    background: #fff;
    border: 1px solid #075f6b;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 10pt;
    color: #075f6b;
    font-weight: 500;
    margin-bottom: 10px;
    margin-right: 57px;
}
    .btn-Edit_popup:hover {
        margin-left: 5px;
        background: #075f6b;
        border: 1px solid #38abd1;
        border-radius: 4px;
        padding: 4px 10px;
        font-size: 10pt;
        color: #fff;
        font-weight: 500;
        margin-bottom: 10px;
    }
.login_input_sign_up {
    background: #fff;
    color: #000;
    border-radius: 0px !important;
    /*height: 35px !important;*/
    padding: 6px !important;
}

.popup_error_info {
    border-bottom: 1px solid red;
    padding-bottom: 10px;
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 12px;
}

.custom_label_answer_lbl {
    margin-top: -23px;
}

.error {
    background: #fff;
    color: #000;
    border: 1px solid #f84545;
    border-radius: 0px;
}

.CardRow1 {
    text-align: center;
    margin-top: 13pc;
    /*background-scroll: x;*/
    float: left;
    width: 100%;
}

.CardRow2 {
    text-align: center;
    margin-top: 6pc;
    /*background-scroll: x;*/
    float: left;
    width: 100%;
}

.CardRow3 {
    text-align: center;
    margin-top: 1pc;
    /*background-scroll: x;*/
    float: left;
    width: 100%;
}

.daa_label {
    text-align: center;
    margin-top: 15pc;
}

.form_sign {
    margin-top: 10px;
}

.sign_up_form {
    background: #fff;
}

.landing_links {
    float: right;
}

    .landing_links ul {
        margin: 0;
        padding: 0;
    }

        .landing_links ul li {
            list-style-type: none;
            display: inline;
        }

            .landing_links ul li a {
                list-style-type: none;
                display: inline;
                color: #fff;
                padding: 14px 10px 11px 48px;
                /*margin-top: 0px;*/
                float: left;
                font-size: 12pt;
                font-weight: bold;
            }

                .landing_links ul li a:hover {
                    color: #00aac1;
                    text-decoration: none;
                }

                .landing_links ul li a.home {
                    background: url(../../Images/Landing/sprite_landing.png) no-repeat;
                    background-position: 6px 0px;
                    padding: 24px 30px;
                    border-left: 1px solid #fff;
                    background-repeat: no-repeat;
                }

                    .landing_links ul li a.home:hover {
                        background-position: 6px -71px;
                    }

.shadow_img:hover {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.shadow_img {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    box-shadow: 2px 23px 22px -7px #000;
}

.icon_1 {
    border: 1px solid #348791;
    box-shadow: 1px 14px 17px -4px #3e3e3e;
    padding: 28px 0px 58px;
    background: #fff;
    position: relative;
}

.module_name {
    background: #38b8ba;
    color: #fff;
    padding: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: seguisb;
    font-size: 12pt;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.landing_nav li {
    list-style: none;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 28px;
}

.img_langing {
    text-align: center;
    padding: 8px;
}

.landing_links ul li a.home.active {
    background: url(../../Images/Landing/sprite_landing.png) no-repeat;
    background-position: 10px -71px;
}

.landing_links ul li a.profile {
    background: url(../../Images/Landing/sprite_landing.png) no-repeat;
    background-position: 7px -142px;
    padding: 24px 30px;
}

    .landing_links ul li a.profile:hover {
        background-position: 7px -213px;
    }

    .landing_links ul li a.profile.active {
        background: url(../../Images/Landing/sprite_landing.png) no-repeat;
        background-position: 7px -213px;
    }

.landing_links ul li a.username {
    background: url(../../Images/Landing/sprite_landing.png) no-repeat;
    background-position: 0px -283px;
}

    .landing_links ul li a.username:hover {
        background-position: 0px -340px;
    }

    .landing_links ul li a.username.active {
        background: url(../../Images/Landing/sprite_landing.png) no-repeat;
        background-position: 0px -340px;
    }

.landing_links ul li a.logout {
    background: url(../../Images/Landing/sprite_landing.png) no-repeat;
    background-position: 6px -403px;
    padding: 24px 30px;
}

    .landing_links ul li a.logout:hover {
        background-position: 6px -403px
    }

.grid_scrollbar {
    background: #fff;
    border: 1px solid #38b8ba;
    float: left;
    margin-bottom: 10px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .login_inner {
        background: #1b1b15;
        opacity: 0.6;
        top: 21px;
        height: 464px;
        box-shadow: none;
    }

    .login_panel_left {
        margin-left: 29.666667% !important;
    }

    .login-panel {
        top: 109px;
        height: 505px;
    }

    .bg_login {
        background-color: #3e3e3e;
        background: url(../../Images/Login/bgLogin.jpg) no-repeat scroll center -56px;
    }

    .alert_box {
        color: #000;
        position: absolute;
        bottom: 1px;
        padding: 10px 20px;
        text-align: center;
        background: #171616;
        left: 0px;
        width: 100%;
        color: #d6302f;
        font-weight: bold;
    }

    .CardRow1 {
        text-align: center;
        margin-top: 13pc;
        /*background-scroll: x;*/
        float: left;
        width: 100%;
    }

    .CardRow2 {
        text-align: center;
        margin-top: 6pc;
        /*background-scroll: x;*/
        float: left;
        width: 100%;
    }

    .CardRow3 {
        text-align: center;
        margin-top: 1pc;
        /*background-scroll: x;*/
        float: left;
        width: 100%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .login_inner {
        background: #000;
        opacity: 0.6;
        top: 21px;
        box-shadow: none;
    }

    .login-panel {
        top: 0px;
        height: 596px;
    }

    .bg_login {
        background: none;
        background-size: 100%;
    }

    .daa {
        text-align: center;
        margin-top: 4pc;
        /*background-scroll: x;*/
        float: left;
        width: 100%;
    }

    .alert_box {
        color: #000;
        position: absolute;
        bottom: 1px;
        padding: 10px 20px;
        text-align: center;
        background: #171616;
        left: 0px;
        width: 100%;
        color: #d6302f;
        font-weight: bold;
    }
}

@media only screen and (min-device-width : 1200px) and (max-device-width : 1900px) {
    /*.col-lg-4 {
        width: 28.333333%;
    }*/

    .col-lg-offset-4 {
        margin-left: 35.333333%;
    }
}

@media only screen and (min-device-width : 1300px) and (max-device-width : 1500px) {
    .login-panel {
        top: 56px;
        background: #fff;
        border: 4px solid #075f6b;
        width: 32%;
    }

    .login_panel_left {
        margin-left: 32.666667% !important;
    }

    .icon_1 {
        border: 1px solid #348791;
        box-shadow: 1px 14px 17px -4px #3e3e3e;
        padding: 28px 0px 58px;
        background: #fff;
        position: relative;
    }

    .module_name {
        background: #348791;
        color: #fff;
        padding: 1px;
        position: absolute;
        bottom: 0;
        width: 100%;
        font-family: seguisb;
        font-size: 10pt;
    }

    .CardRow2 {
        text-align: center;
        margin-top: 6pc;
        float: left;
        width: 100%;
    }

    .CardRow1 {
        text-align: center;
        margin-top: 13pc;
        /*background-scroll: x;*/
        float: left;
        width: 100%;
    }

    .col-centered {
        float: none;
        margin: 0 auto;
    }

    .CardRow1 li {
        list-style: none;
        display: inline-block;
        margin-right: 8px;
    }

    .img_langing {
        text-align: center;
        width: 78%;
        padding: 0px;
    }
}


input::placeholder {
    color: #d4d4d4 !important;
}

.sign_up_div {
    margin-top: 10px;
}

.icon_1 {
    border: 1px solid #38b8ba;
    box-shadow: 1px 14px 17px -4px #3e3e3e;
    padding: 28px 0px 58px;
    background: #fff;
    position: relative;
}

.table_div {
    max-height: 609px;
    overflow-y: auto;
}
/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* insert styles here */
}

/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
    /* insert styles here */
}

/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
    /* insert styles here */
}

/* (480x800) Android */
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
    /* insert styles here */
}

/* (640x960) iPhone 4 & 4S */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
    /* insert styles here */
}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
}

/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
    /* insert styles here */
}

/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* insert styles here */
}

/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* insert styles here */
}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* insert styles here */
}

/* (2048x1536) iPad 3 */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
    /* insert styles here */
}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
}

/* (1366x768) WXGA Display */
@media screen and (max-width: 1366px) {
   
    .roles_header_border {
        background: #fff;
        border: 1px solid #064a53;
        margin-bottom: 10px;
        min-height: 350px;
        max-height: 350px;
        overflow: auto;
    }
}

/* (1280x1024) SXGA Display */
@media screen and (max-width: 1280px) {
    /* insert styles here */
}

/* (1440x900) WXGA+ Display */
@media screen and (max-width: 1440px) {
    /* insert styles here */
}

/* (1680x1050) WSXGA+ Display */
@media screen and (max-width: 1680px) {
    /* insert styles here */
}

/* (1920x1080) Full HD Display */
@media screen and (max-width: 1920px) {
    .grid_area {
        background: #fff;
        border: 1px solid #38b8ba;
        float: left;
        overflow: auto;
    }
}

/* (1600x900) HD+ Display */
@media screen and (max-width: 1600px) {
    /* insert styles here */
}
.smallred_labelLogin {
    color: red !important;
    font-size: 14pt !important;
    position: absolute;
    top: -3px;
}
.login_popup .modal-content {
    border: 1px solid #32929e !important;
    font-size: 12pt !important;
    font-family: seguisb;
    border-bottom: 1px solid #d4d4d4 !important;
}

.login_popup .modal-header {
    background: #38b8ba !important;
    color: #282726 !important;
    padding: 10px !important;
    border-bottom: 1px solid #15afc2 !important;
}
.login_popup .modal-body {
    padding: 8px 10px;
    border-bottom: 1px solid #15afc2 !important;
}

.login_popup .modal-footer {
    border-top: none !important;
}
.modalNote {
    color: #f95a5a;
    font-size: 10pt;
}
.modalHint {
    font-size: 9pt;
}
.userID {
    font-size: 14pt;
    color: #2fa6b8;
    text-transform: capitalize;
    font-family: seguisb;
}
.modalSession {
    color: #000;
    font-family: seguisb;
}
.HeaderuserID {
    font-size: 14pt;
    color: #fff;
    text-transform: capitalize;
    padding: 2px;
}
.profileModalLabel {
    color: #38b8ba;
    font-size: 10pt;
}
.opacity_login {
    background-color: #cdcdcd;
    opacity: 0.4;
    filter: blur(5px);
    height: 100vh;
    position: absolute;
}
.modal-title, .modal-header {
    text-transform: capitalize;
}

.capitalize {
    text-transform: capitalize;
}