﻿.mandatoryStar {
    color: red;
    font-size: 12px;
    padding-left: 3px;
}

.TestBoxUnderDescription {
    color: darkgray;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

.button {
    background-color: #748CB2; /* blue */
    border: none;
    color: white;
    padding: 1px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.Panel_Header {
    background-color: #748CB2;
    margin-bottom: 10px;
    height: 32px;
    padding-left: 0px;
    padding-right: 0px;
}

.Panel_Title {
    color: #f5f5ff;
    font-weight: bold;
    font-size: 14px;
    line-height: 2
}

.Panel_Frame {
    border: solid;
    border-color: #748CB2;
    border-width: 2px;
    margin-top: 1%
}

textarea {
    resize: none;
}

th {
    text-align: center;
}

.modalBackground {
    height: 100%;
    background-color: #808080;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.GridPager a {
    display: block;
    height: 15px;
    width: 15px;
    background-color: #748CB2;
    color: #fff;
    font-weight: bold;
    border: 1px solid #748CB2;
    text-align: center;
    text-decoration: none;
}

.GridPager span {
    display: block;
    height: 15px;
    width: 15px;
    background-color: #fff;
    color: #748CB2;
    font-weight: bold;
    border: 1px solid #748CB2;
    text-align: center;
    text-decoration: none;
}
