﻿
.bg_login {
    background-color: #3e3e3e;
    background: url(/images/UI_bg.png) no-repeat scroll center -56px;
    background-size: 100%;
}

.login_inner {
    background: #1b1a1a;
    opacity: 0.7;
    top: 130px;
    position: absolute;
    height: 520px;
    box-shadow: 2px 22px 26px 3px #000;
}

.login-panel {
    top: 130px;
    height: 520px;
}

.logo {
    margin-top: 40px;
}

.user_login {
    background: url(/images/UI_user.png) no-repeat;
    padding: 8px 42px 0px;
    font-size: 18pt;
    color: #fff;
    margin-top: 30px;
    left: 15px;
}

.alert_box {
    color: #000;
    position: absolute;
    bottom: -20px;
    padding: 8px 0px 0px;
    text-align: center;
    background: #171616;
    left: 0px;
    color: #d6302f;
    font-weight: bold;
}

.padding-none {
    padding: 0px;
}

.close_button {
    margin-top: 0px;
    color: #fff;
    cursor: pointer;
}

.custom_label {
    color: #fff;
    font-size: 12pt;
    margin-bottom: 10px;
}
.password_align {
    margin-left: -15px;
    margin-right: 15px;
}
.custom_label_sign-up {
    color: #00aac1;
    font-size: 11pt;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 8px 0px;
    margin-right: 0px;
    text-align: left !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: 700;
}

.custom_label_answer {
    color: #00aac1;
    font-size: 11pt;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 8px 0px;
    margin-right: 0px;
    text-align: left !important;
}
.custom_label_sign {
    color: #fff;
    font-size: 10pt;
    margin-bottom: 6px;
    background: #078799;
    margin-top: 0px;
    padding: 13px 10px;
    margin-right: 0px;
    text-align: center !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

textarea {
    max-width: 100%;
    max-height: 70px;
}

.login_input {
    background: #1b1b15;
    color: #fff;
    border: 1px solid #bcb3b3;
    margin-bottom: 10px;
}

.login_details {
    margin-top: 20px;
}

.btn-login {
    background: #097da3;
    border: 1px solid #32a8cf;
    border-radius: 4px;
    padding: 6px 22px;
    font-size: 12pt;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

    .btn-login:hover {
        background: #097da3;
        border: 1px solid #32a8cf;
        border-radius: 4px;
        padding: 6px 22px;
        font-size: 12pt;
        color: #fff;
        font-weight: 500;
        margin-bottom: 10px;
    }

.btn-signup {
    margin-left: 10px;
    background: #232322;
    border: 1px solid #bcb3b3;
    border-radius: 4px;
    padding: 6px 22px;
    font-size: 12pt;
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

    .btn-signup:hover {
        margin-left: 10px;
        background: #232322;
        border: 1px solid #0b96c3;
        border-radius: 4px;
        padding: 6px 22px;
        font-size: 12pt;
        color: #0b96c3;
        font-weight: 500;
        margin-bottom: 10px;
    }

.sign_up_header {
    background: #00aac1;
    color: #fff;
    padding: 10px;
    font-size: 12pt;
    font-weight: bold;
    margin-top: 10px;
}

.btn-signup_popup {
    margin-left: 10px;
    background: #fff;
    border: 1px solid #38abd1;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #38abd1;
    font-weight: 500;
    margin-bottom: 10px;
}

    .btn-signup_popup:hover {
        margin-left: 10px;
        background: #38abd1;
        border: 1px solid #38abd1;
        border-radius: 0px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        font-weight: 500;
        margin-bottom: 10px;
    }

.btn-cancel_popup {
    margin-left: 10px;
    background: #fff;
    border: 1px solid #f84545;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #f84545;
    font-weight: 500;
    margin-bottom: 10px;
}

    .btn-cancel_popup:hover {
        margin-left: 10px;
        background: #f84545;
        border: 1px solid #f84545;
        border-radius: 0px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #fff;
        font-weight: 500;
        margin-bottom: 10px;
    }

.login_input_sign_up {
    background: #fff;
    color: #000;
    border: 1px solid #bcb3b3;
    border-radius: 0px;
    height: 35px !important;
    margin-bottom:0px;
}
.login_input_sign_bottom {
    background: #fff;
    color: #000;
    border: 1px solid #bcb3b3;
    border-radius: 0px;
    height: 35px !important;
    margin-bottom: 11px;
}
.error {
    background: #fff;
    color: #000;
    border: 1px solid #f84545;
    border-radius: 0px;
}

.form_sign {
    margin-top: 10px;
}

.sign_up_form {
    background: #fff;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .login_inner {
        background: #1b1b15;
        opacity: 0.6;
        top: 21px;
        height: 464px;
        box-shadow: none;
        ;
    }

    .login-panel {
        top: 0px;
        height: 505px;
    }

    .logo {
        margin-top: 18px;
    }

    .alert_box {
        color: #000;
        position: absolute;
        bottom: 1px;
        padding: 10px 20px;
        text-align: center;
        background: #171616;
        left: 0px;
        width: 100%;
        color: #d6302f;
        font-weight: bold;
    }

    .logo {
        margin-top: 52px
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .login_inner {
        background: #000;
        opacity: 0.6;
        top: 21px;
        box-shadow: none;
    }

    .login-panel {
        top: 0px;
        height: 596px;
    }

    .bg_login {
        background: none;
        background-size: 100%;
    }

    .alert_box {
        color: #000;
        position: absolute;
        bottom: 1px;
        padding: 10px 20px;
        text-align: center;
        background: #171616;
        left: 0px;
        width: 100%;
        color: #d6302f;
        font-weight: bold;
    }
}
