﻿@model QMS_BO.QMS_Dashboard_BO.Dashboard_QMS
<style>
    /*#pieCapaStatusChart, #pieChartCapa {
        width: 450px !important;
    }*/
    #pieCapaStatusChart{
        height:391px;
    }
</style>
<input id="hdnCapaQualityEventType" type="hidden" value="" />
<input id="hdnCapaDepartmentCode" type="hidden" value="" />
<!--Qulaity Event CAPA Chart-->
<div class=" bottom" id="CAPADeptchart">
    <div class="col-md-12 float-left padding-none">
        <div class="grid_header  float-left col-lg-12">
            <div class="col-lg-4 padding-none float-left">CAPA  Chart</div>
            <div class="padding-none float-right">
                <div class="panel_list float-right">
                    <ul>
                        <li>
                            <a class="refresh" title="Refresh" onclick="RefreshCapaStatusChart(3);"></a>
                        </li>
                        <li>
                            <a class="filter_icon filter_twoCapa" title="Filter" onclick="dateTodayCapa();">

                            </a>
                        </li>
                        <div class="col-lg-12 filter_dropdown" id="filter_dropdownCapa" style="display:none;right: 11px!important;top:45px !important;">
                            <ul class="top">
                                <li>
                                    <div class="form-group  col-lg-12 padding-none">
                                        @Html.DropDownList("CapaRoles", @Model.ddlCAPARoles as List<SelectListItem>, htmlAttributes: new { @id = "ddlCAPARoleID", @class = " col-12  padding-none selectpicker1 drop_down", @onchange = "RoleOnChangeChartBinding(3);" })
                                    </div>
                                    <div class="form-group  col-lg-12 padding-none">
                                        @Html.Editor("FromDateCapa", new { htmlAttributes = new { @class = "form-control ", @id = "FromDateCapa", @autocomplete = "off", placeholder = "From Date" } })

                                    </div>
                                </li>
                                <li>
                                    <div class="form-group  col-lg-12 padding-none">
                                        @Html.Editor("ToDateCapa", new { htmlAttributes = new { @class = "form-control ", @id = "ToDateCapa", @autocomplete = "off", placeholder = "To Date" } })

                                    </div>
                                </li>
                                <li class="float-right">
                                    <div class="col-12" href="#" style="background:none;padding:0px;">
                                        <div class="btn-cancel_popup btn-xs float-right" id="dashboard_btnCapa">Close</div>
                                        <div class="btn-approve_popup btn-xs float-right " onclick="GetFilterForCAPA();">Submit</div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </ul>
                </div>
                <div class="padding-none float-right" id="CapalblRoles"></div>
            </div>
        </div>
        <div class="col-md-12  grid_panel_full bottom float-left">
            <div md="main" id="IdCapa" class="chart " style="height:449px">

                @(Html.DevExtreme().PieChart()
.ID("pieChartCapa")
.Palette(VizPalette.Material)
.PaletteExtensionMode(VizPaletteExtensionMode.Blend)
.Legend(l => l.Visible(false)
.HorizontalAlignment(HorizontalAlignment.Center)
.VerticalAlignment(VerticalEdge.Bottom)
)
.ResolveLabelOverlapping(PieChartResolveLabelOverlapping.Shift)
.Series(s => s
.Add()
.ArgumentField("DepartmentName")
.ValueField("CapaCount")
.Label(l => l
        .Visible(true)
        .Connector(c => c
            .Visible(true)
            .Width(0.5)
        )

        .Position(PieChartLabelPosition.Columns)
.CustomizeText(@<text>
                function (point) {
                return point.argumentText + ": " + point.valueText ;
                }
            </text>)
)
).Tooltip(t => t
.Enabled(true)
.CustomizeTooltip(@<text>
                function (arg) {
                return {
                text: arg.argumentText + "<br />" + arg.valueText
                };
                }
            </text>)
)
.OnPointClick(@<text>
                function (e) {

                var point = e.target;
                var argument = point.originalArgument;
                var val = point.originalValue;
                NavigateCapaStatus(argument,val);

                }
            </text>)

.DataSource(Model.CapaQualityList)
                )

            </div>
            <div id="NoRecored" class="noCaparecords" style="display:none">
                No Records Available
            </div>
        </div>
    </div>
</div>

<!--Qulaity Event Status Chart-->
<div class=" bottom" id="CAPAStatusChart" style="display:none">
    <div class="col-md-12 float-left padding-none">
        <div class="grid_header  float-left col-lg-12">
            <div class="col-lg-6 padding-none float-left" id="dvCapaTitle">CAPA Chart</div>
            <div class="padding-none float-right">
                <div class="panel_list float-right">
                    <ul>
                        <li>
                            <a class="refresh" title="Refresh" onclick="RefreshCapaStatusChart(3);"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="padding-none float-right" id="CapalblRolesInner"></div>
        </div>
        <div class="col-md-12  grid_panel_full bottom float-left">
            <div md="main" id="IdCapaStatus" class="chart style-3 ">
                <div class="form-group top  col-lg-12 padding-none">
                    <label>Quality Notification: </label>
                    @Html.DropDownList("QualityEventType", null, htmlAttributes: new { @id = "QualityEventType", @class = " col-5  padding-none selectpicker1 drop_down", onchange = "CapaBindWithQualityEventType();" })
                </div>
                <label id="lblcount"></label>
                <div class=" col-12 float-left">
                    @(Html.DevExtreme().PieChart()
.ID("pieCapaStatusChart")
.Palette(VizPalette.Office)
.Type(PieChartType.Doughnut)
.Legend(l => l.Visible(false)
.HorizontalAlignment(HorizontalAlignment.Center)
.VerticalAlignment(VerticalEdge.Bottom)
)
.ResolveLabelOverlapping(PieChartResolveLabelOverlapping.Shift)
.Series(s => s
.Add()
.ArgumentField("EventStatusName")
.ValueField("TotalStatusRecords")
.Label(l => l
.Visible(true)
.Connector(c => c
.Visible(true)
.Width(0.5)
)

.Format(Format.FixedPoint)
.CustomizeText(@<text>
                    function (point) {
                    return point.argumentText + ": " + point.valueText ;
                    }
                </text>)
)
)
.Tooltip(t => t
.Enabled(true)
.CustomizeTooltip(@<text>
                    function (arg) {
                    return {
                    text: arg.argumentText + "<br />" + arg.valueText
                    };
                    }
                </text>)
)
.OnPointClick(@<text>
                    function (e) {
                    var point = e.target;
                    var argument = point.originalArgument;
                    var val = point.originalValue;
                    NavigateCAPAList(argument,val);
                    }
                </text>)
.DataSource(Model.CapaStatusList))



                </div>
            </div>
        </div>
    </div>
</div>
<!--DateTime Picker for Quality Event Chart-->
<script>
    $(document).ready(function () {
        $('#FromDateCapa').datetimepicker({
            format: 'DD MMM YYYY',
            useCurrent: false,
            maxDate: new Date(new Date().getFullYear(),new Date().getMonth(),new Date().getDate(),23,59,59),
            minDate: '01 Jan 1990',
            //showClear: true
        });
        $('#FromDateCapa').val(moment(new Date(new Date().getFullYear() - 1, new Date().getMonth(), new Date().getDate(), 23, 59, 59)).format('DD MMM YYYY'));
        $('#ToDateCapa').datetimepicker({
            format: 'DD MMM YYYY',
            useCurrent: false,
            maxDate: new Date(new Date()),
            //showClear: true
        });
        $('#ToDateCapa').val(moment(new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate(), 23, 59, 59)).format('DD MMM YYYY'));

    });


    $('#FromDateCapa').on("dp.change", function (e) {
        $('#ToDateCapa').data("DateTimePicker").minDate(e.date);
        $('#ToDateCapa').val("");
    });

</script>
<!--Filter for CAPA Chart Select FromDate and ToDate-->
<script>
    function GetFilterForCAPA() {
        var errors=[];
        var FromDateCapa = $("#FromDateCapa").val().trim();
        if(FromDateCapa==""){
            errors.push("Select From Date.");
        }
        var ToDateCapa = $("#ToDateCapa").val().trim();
        if(ToDateCapa==""){
            errors.push("Select To Date.");
        }
        var RoleIdCapa = $("#ddlCAPARoleID").val();
        CAPARoleNamedisplaye();
        if(FromDateCapa!=""& ToDateCapa!=""){
            $.post("@Url.Content("~/QMS/DashBoard/GetCAPAChartWithFromDateToDate")?RoleID=" + RoleIdCapa +
                "&&FromDateCapa=" + FromDateCapa + "&&ToDateCapa=" + ToDateCapa,
        function (aiz) {
            if (aiz.msgRedirecttoLoginPage) //Singal Instance
            {
                window.location.href = '/UserLogin.aspx';
            } 
            else{
                if (aiz.hasError == false) {
                    if (aiz.data.CapaQualityList != null)
                        var pieChart = $("#pieChartCapa").dxPieChart("instance");
                    pieChart.option({ dataSource: aiz.data.CapaQualityList });
                    $("#filter_dropdownCapa").hide();
                    //Capa no Recoreds
                    if(aiz.data.CapaNoRecoreds==0){
                        $("#NoRecored").show();
                        $("#IdCapa").hide();
                    }
                    else{
                        $("#NoRecored").hide();
                        $("#IdCapa").show();
                    }
                }
                else {
                    custAlertMsg(aiz.data, "error");
                    return false;
                }
            }
        }, 'json');
        }else{
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
            $("#filter_dropdownCapa").hide();
        }
    }
</script>
<!-- #region Capa DrillDown StatusChart -->
<!--Navigate to Capa Status Chart-->
<script>
    function NavigateCapaStatus(argument, val) {
        var errors = [];
        $("#QualityEventType").val(0);
        $("#QualityEventType").selectpicker('refresh');
        //$("#dvCapaTitle").text("CAPA Chart");
        var FromDateCapa = $("#FromDateCapa").val();
        var ToDateCAPA = $("#ToDateCapa").val();
        var RoleID = $("#ddlCAPARoleID").val();
        $.post("@Url.Content("~/QMS/DashBoard/CapaStatusInnerChart")?Argument=" + argument + "&&ChartRoleID=" + RoleID
          + "&&FromDate=" + FromDateCapa + "&&ToDate=" + ToDateCAPA,
                function (InnerJson) {
                    if (InnerJson.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    } 
                    else{
                        if (InnerJson.hasError == false) {
                            if (InnerJson.data.CapaStatusList != null)
                                //Charts hiding
                                $("#CAPAStatusChart").show();
                            $("#CAPADeptchart").hide();
                            //Bind data for Charts
                            var pieChart = $("#pieCapaStatusChart").dxPieChart("instance");
                            pieChart.option({
                                dataSource: InnerJson.data.CapaStatusList, palette: ['#7eb1f6', '#f1a76c', '#f38a34', '#e07165', '#7feebe', '#0bb76c', '#6b819f', '#f68a8a'] });
                            //ChartTitle and Count
                            $("#dvCapaTitle").text('CAPA Chart' + '( ' + argument+' : ' + InnerJson.data.QualityEventTotalCount + ' )');
                            $("#hdnCapaDepartmentCode").val(argument);
                            CAPARoleNamedisplaye();
                        }
                        else {
                            errors.push(InnerJson.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                    }
                }, 'json');
    }
</script>
<!-- #endregion -->
<!--Refresh Charts-->
<script>
    function RefreshCapaStatusChart(Status) {
        GetRoleWiseChats(Status);
    }
</script>
<!-- #region Capa Drill down onChage chart -->
<!--Capa Drill down Chart with quality Event Status-->
<script>
    function CapaBindWithQualityEventType() {
        var errors = [];
        var GetDepartmentCode = $("#hdnCapaDepartmentCode").val();
        var GetQualityType = $("#QualityEventType").val();

        var FromDateCapa = $("#FromDateCapa").val();
        var ToDateCAPA = $("#ToDateCapa").val();
        var RoleID = $("#ddlCAPARoleID").val();
        if(GetQualityType!=0){
            $.post("@Url.Content("~/QMS/DashBoard/BindCapaStatusWithQualityEventType")?Argument=" + GetDepartmentCode + "&&ChartRoleID=" + RoleID
              + "&&FromDate=" + FromDateCapa + "&&ToDate=" + ToDateCAPA +"&&QualityEventType="+ GetQualityType,
                    function (aiz) {
                        if (aiz.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        } 
                        else{
                            if (aiz.hasError == false) {
                                if (aiz.data.CapaStatusList != null)
                                    $("#CAPAStatusChart").show();
                                $("#CAPADeptchart").hide();
                                var pieChart = $("#pieCapaStatusChart").dxPieChart("instance");
                                pieChart.option({ dataSource: aiz.data.CapaStatusList });
                                //ChartTitle and Count
                                $("#dvCapaTitle").text(aiz.data.QualityEventName + '( ' + GetDepartmentCode +' : ' + aiz.data.QualityEventTotalCount + ' )');
                                CAPARoleNamedisplaye();
                            }
                            else {
                                errors.push(aiz.data);
                                custAlertMsg(errors.join("<br/>"), "error");
                                return false;
                            }
                        }
                    }, 'json');
        }
            //Select
        else{
            $.post("@Url.Content("~/QMS/DashBoard/CapaStatusInnerChart")?Argument=" + GetDepartmentCode + "&&ChartRoleID=" + RoleID
          + "&&FromDate=" + FromDateCapa + "&&ToDate=" + ToDateCAPA,
                function (InnerJson) {
                    if (InnerJson.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    } 
                    else{
                        if (InnerJson.hasError == false) {
                            if (InnerJson.data.CapaStatusList != null)
                                //Charts hiding
                                $("#CAPAStatusChart").show();
                            $("#CAPADeptchart").hide();
                            //Bind data for Charts
                            var pieChart = $("#pieCapaStatusChart").dxPieChart("instance");
                            pieChart.option({ dataSource: InnerJson.data.CapaStatusList });
                            pieChart.option({
                                customizePoint: function (point) {
                                    if (point.argument == "Canada")
                                        return {
                                            color: "red"
                                        }
                                }
                            });
                            //ChartTitle and Count
                            $("#dvCapaTitle").text('CAPA Chart' + '( ' + InnerJson.data.QualityEventTotalCount + ' )');
                            CAPARoleNamedisplaye();
                        }
                        else {
                            errors.push(InnerJson.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                    }
                }, 'json');
        }
    }
</script>
<!-- #endregion -->
<!-- #region NavigateStatus List -->

<script>

    function NavigateCAPAList(argument) {
        var DeptCode = $("#hdnCapaDepartmentCode").val();

        EventCAPAJson(DeptCode);
        if (argument == "Pending") {
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "Cp_Pending" })';
        }
        else if (argument == "Rejected") {
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "Cp_Rjctd" })';
        }
        else if (argument == "Completed") {
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "Cp_Cmplt" })';
        }
        else if (argument == "Verified") {
         window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "Cp_verfy" })';
        }
        else if (argument == "RM1") {
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "CP_R1Cmptd" })';
        }
        else if (argument == "RM2") {
           window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "CP_R2Cmptd" })';
        }
        else if (argument == "Overdue") {
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "CP_OverDue" })';
        }
        else if (argument == "Closed") {
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "CP_Closure" })';
        }
    }
    function EventCAPAJson(DeptCodeCht) {
        var GetCapaEvent=$("#QualityEventType").val()
        var RoleId = $("#ddlCAPARoleID").val();
        var FromDate = $("#FromDateCapa").val();
        var ToDate = $("#ToDateCapa").val();
        $.post("@Url.Content("~/QMS/Capa/AssignedToTempDateaCAPA")?CapaEvent=" + GetCapaEvent + "&&DeptCode=" + DeptCodeCht + "&&RoleID=" + RoleId + "&&FromDate=" + FromDate + "&&ToDate=" + ToDate,
                function (aiz) {
                    if (aiz.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    } 
                    else{
                        if (aiz.hasError == true) {
                            custAlertMsg(aiz.data, "error");
                        }}
                }, 'json');
    }
</script>
<!-- #endregion -->
<script>
    if(@ViewBag.CapaNoRecoreds==0){
        $("#NoRecored").show();
        $("#IdCapa").hide();
    }
</script>
<script>
        $(document).ready(function () {
            $('.selectpicker1').selectpicker({
                liveSearch: true,
                showSubtext: true,
                size: 7
            });

        });
</script>
<script>
    function CAPARoleNamedisplaye() {
        var getRoleID = $("#ddlCAPARoleID").val();
        var CapaRoleName;
        $.post("@Url.Content("~/QMS/DashBoard/GetRoleName")?RoleID=" + getRoleID,
                function (aiz) {
                    if (aiz.hasError == false) {
                        $("#CapalblRoles").text("Role : " + aiz.data);
                        $("#CapalblRolesInner").text("Role : " + aiz.data);
                    }
                }, 'json');
    }
    CAPARoleNamedisplaye();
</script>
<script>
    //Onchange RoleDropdown
    function RoleOnChangeChartBinding(Status) {
        CAPARoleNamedisplaye();
        GetRoleWiseChats(Status);
    }
</script>

