﻿@model QMS_BO.QMS_Dashboard_BO.Dashboard_QMS
<input id="hdnQualityEvent" type="hidden" value="" />
<style>
    #PieInnerChartEvents {
        width: 470px !important;
    }
</style>
<!-- #region EventChart -->
<!--Quality Event Chart-->
<div class=" bottom" id="QualityEventchart">
    <div class="col-md-12 float-left">
        <div class="grid_header  float-left col-lg-12">
            <div class="col-lg-6 padding-none float-left">Quality Notification </div>
            <div class="padding-none float-right">
                <div class="panel_list float-right">
                    <ul>
                        <li>
                            <a class="refresh" title="Refresh" onclick="RefreshEvents(2);"></a>
                        </li>
                        <li>
                            <a class="filter_icon filter_one" title="Filter">
                            </a>
                        </li>
                        <div class="col-lg-12 filter_dropdown" id="filter_dropdownEvent" style="display:none;right: 11px!important;top:45px !important;">
                            <ul class="top">
                                <li>
                                    <div class="form-group  col-lg-12 padding-none">
                                        @Html.DropDownList("EventRoles", @Model.ddlEventRoles as List<SelectListItem>, htmlAttributes: new { @id = "ddleventRoleID", @class = " col-12  padding-none selectpicker1 drop_down", @onchange = "RoleOnChangeDepartmentAndChartBinding(2);" })
                                    </div>
                                    <div class="form-group  col-lg-12 padding-none">
                                        @Html.DropDownList("DeptID", null, htmlAttributes: new { @id = "DeptID", @class = " col-12  padding-none selectpicker1 drop_down" })
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group  col-lg-12 padding-none">
                                        @Html.Editor("FromDate", new { htmlAttributes = new { @class = "form-control ", @autocomplete = "off", placeholder = "From Date" } })

                                    </div>
                                </li>
                                <li>
                                    <div class="form-group  col-lg-12 padding-none">
                                        @Html.Editor("ToDate", new { htmlAttributes = new { @class = "form-control datetimepickercht", @autocomplete = "off", placeholder = "To Date" } })

                                    </div>
                                </li>
                                <li class="float-right">
                                    <div class="col-12" href="#" style="background:none;padding:0px;">
                                        <div class="btn-cancel_popup btn-xs float-right" id="dashboard_btnEvent">Close</div>
                                        <div class="btn-approve_popup btn-xs float-right " onclick="GetQulaityEventDeptCount();">Submit</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </ul>
                </div>

                <div class=" padding-none float-right" id="lblRoles"></div>
            </div>
        </div>
        <div class="col-md-12  grid_panel_full bottom float-left">
            <div md="main" id="IdEvent" class="chart " style="height:449px">
                @(Html.DevExtreme().PieChart()
        .ID("PieEvents")
        .Palette(VizPalette.HarmonyLight)
                .PaletteExtensionMode(VizPaletteExtensionMode.Extrapolate)
        //.Title("Quality Events")
        .Legend(l => l
        .Visible(false)
        .HorizontalAlignment(HorizontalAlignment.Center)
        .VerticalAlignment(VerticalEdge.Bottom)
        )
.Tooltip(t => t
.Enabled(true)
.CustomizeTooltip(@<text>
                function (arg) {
                return {
                text: arg.argumentText + "<br />" + arg.valueText
                };
                }
            </text>)
)
.ResolveLabelOverlapping(PieChartResolveLabelOverlapping.Shift)
//.Export(e => e.Enabled(true))
.Series(s => s
.Add()
.ArgumentField("EventName")
.ValueField("TotalRecords")
.Label(l => l
.Visible(true)
.Connector(c => c
.Visible(true)
.Width(0.5)
)

.Format(Format.FixedPoint)
.CustomizeText(@<text>
                function (point) {
                return point.argumentText + ": " + point.valueText ;
                }
            </text>)
)
)
.OnPointClick(@<text>
                function (e) {
                var point = e.target;
                var argument = point.originalArgument;
                var val = point.originalValue;
                ReteriveEventInnerChart(argument,val);
                }
            </text>)
.DataSource(Model.QulaityEventList)
                )
            </div>
            <div id="EventNoRecored" class="noCaparecords" style="display:none">
                No Records Available
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Qulaity Event Status Chart-->

<div class=" bottom" id="QulaityEventInnerChart" style="display:none">
    <div class="col-md-12 padding-none float-left">
        <div class="grid_header  float-left col-lg-12">
            <div class="col-lg-7 padding-none float-left" id="dvEvntTitle"></div>
            <div class=" padding-none float-right">
                <div class="panel_list float-right">
                    <ul>
                        <li>
                            <a class="refresh" title="Refresh" onclick="RefreshEvents(2);"></a>
                        </li>
                    </ul>
                </div>

                <div class="padding-none float-right" id="lblRolesInner"></div>
            </div>
        </div>
        <div class="col-12  grid_panel_full bottom float-left">
            <div id="IdEvent1" class="chart col-12 padding-none top float-left" style="height:439px;">

                <div id="dvCCnDropDown" class="top bottom" style="display:none">
                    <label class="">Quality Event Type :</label>
                    @Html.DropDownList("CCNTypes", null, htmlAttributes: new { @id = "CCNTypes", @class = " col-4  padding-none selectpicker1 drop_down", onchange = "CCNGetClassification();" })
                </div>
                <div id="dvIncdtDropDown" class="top bottom" style="display:none">
                    <label class="">Quality Event Type :</label>
                    @Html.DropDownList("TypeofIncidentID", new SelectList(new[] { new { Value = "0", Text = "--ALL--" }, new { Value = "5", Text = "Quality Impacting" }, new { Value = "6", Text = "Quality Non-Impacting" }, }, "Value", "Text", Model), new { @class = "col-4  padding-none selectpicker1 drop_down", onchange = "GetTypeOfIncident();" })
                </div>

                @(Html.DevExtreme().PieChart()
                                                            .ID("PieInnerChartEvents")
                                                            .Palette(VizPalette.Ocean)
                                                            .Type(PieChartType.Doughnut)
                                                            // .Title("Quality Events Transaction")
                                                            .Legend(l => l
                                                            .Visible(false)
                                                            .HorizontalAlignment(HorizontalAlignment.Center)
                                                            .VerticalAlignment(VerticalEdge.Bottom)
                                                            )
                                                            .Tooltip(t => t
.Enabled(true)
.CustomizeTooltip(@<text>
                function (arg) {
                return {
                text: arg.argumentText + "<br />" + arg.valueText
                };
                }
            </text>)
)
                                                            .ResolveLabelOverlapping(PieChartResolveLabelOverlapping.Shift)
                                                            .Series(s => s
                                                            .Add()
                                                            .ArgumentField("EventInnerName")
                                                            .ValueField("TotalInnerRecords")
                                                            .Label(l => l
                                                            .Visible(true)
                                                            .Connector(c => c
                                                            .Visible(true)
                                                            .Width(0.5)
                                                            )
                                                            .Format(Format.FixedPoint)
                                                            .CustomizeText(@<text>
                                                                function (point) {
                                                                return point.argumentText + ": " + point.valueText ;
                                                                }
                                                            </text>)
)

)
.OnPointClick(@<text>
                function (e) {

                var point = e.target;
                var argument = point.originalArgument;
                var val = point.originalValue;
                NavigateEventList(argument,val);
                }
            </text>)
.DataSource(Model.QualityInnerList)
                )
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region MaintainTempData in Controllers -->
<script>
        function EventNoteToFileJson() {
             var Deptid = $("#DeptID").val();
             var RoleId = $("#ddleventRoleID").val();
             var FromDate = $("#FromDate").val();
             var ToDate = $("#ToDate").val();
            $.post("@Url.Content("~/QMS/NoteToFile/AssignedToTempDatea")?DeptID=" + Deptid+"&&RoleID=" +RoleId+ "&&FromDate=" +FromDate+ "&&ToDate=" +ToDate,
                    function (aiz) {
                        if (aiz.hasError == false) {

                        }
                    }, 'json');
        }
        function EventErrataJson() {
            errors = [];

            var Deptid = $("#DeptID").val();
            var RoleId = $("#ddleventRoleID").val();
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();
        $.post("@Url.Content("~/QMS/Errata/AssignedToTempDataErrata")?DeptID=" + Deptid+"&&RoleID=" +RoleId+ "&&FromDate=" +FromDate+ "&&ToDate=" +ToDate,
            function (aiz) {

                    if (aiz.hasError == false) {

                    }
                    else {
                        errors.push(aiz.data);
                        custAlertMsg(errors.join("<br/>"), "error");
                        return false;
                    }
                }, 'json');
        }
        function EventChangeControlJson() {
            var Deptid = $("#DeptID").val();
            var RoleId = $("#ddleventRoleID").val();
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();
            var CCNEvent = $("#hdnQualityEvent").val();
            $.post("@Url.Content("~/QMS/ChangeControl/AssignedToTempDateaCCN")?DeptID=" + Deptid + "&&RoleID=" + RoleId + "&&FromDate=" + FromDate + "&&ToDate=" + ToDate + "&&CCNEvent=" + CCNEvent,
                    function (aiz) {
                        if (aiz.hasError == false) {

                        }
                        else {
                            custAlertMsg(aiz.data, "error");
                            return false;
                        }
                    }, 'json');
        }
        function EventIncidentJson() {
            var Deptid = $("#DeptID").val();
            var RoleId = $("#ddleventRoleID").val();
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();
            var IncidentEvent = $("#hdnQualityEvent").val();
            //var _TypeofIncidentID = $("#TypeofIncidentID").val();
            $.post("@Url.Content("~/QMS/Incident/AssignedToTempDataIncident")?DeptID=" + Deptid + "&&RoleID=" + RoleId + "&&FromDate=" + FromDate + "&&ToDate=" + ToDate, "&&TypeofIncidentID=" + IncidentEvent,
                    function (aiz) {
                        if (aiz.hasError == false) {

                        }
                    }, 'json');
        }

</script>
<!-- #endregion -->
<!-- #region Drill down Status Chart -->
<!--Click on Event chart Drill down to Status chart-->
<script>
    function ReteriveEventInnerChart(Argument) {
        errors = [];
        var EventChatName = "";
        if (Argument == "Note To File") {
            EventChatName = "Note To File";
            $("#dvCCnDropDown").hide();
        }
        if (Argument == "Change Control Note") {
            EventChatName = "Change Control Note";
            $("#CCNTypes").val(0);
            $("#CCNTypes").selectpicker('refresh');
            $("#dvCCnDropDown").show();
            $("#dvIncdtDropDown").hide();
        }
        if (Argument == "Errata") {
            EventChatName = "Errata";
            $("#dvCCnDropDown").hide();
        }
        if (Argument == "Incident") {
            EventChatName = "Incident";
            $("#TypeofIncidentID").val(0);
            $("#TypeofIncidentID").selectpicker('refresh');
            $("#dvIncdtDropDown").show();
            $("#dvCCnDropDown").hide();
        }
        var Deptid = $("#DeptID").val();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        var RoleID = $("#ddleventRoleID").val();

        $.post("@Url.Content("~/QMS/DashBoard/QualityEventInnerChart")?QualityEventType=" + Argument + "&&ChartRoleID=" + RoleID
          + "&&DeptID=" + Deptid+ "&&FromDate=" +FromDate+ "&&ToDate=" +ToDate,
            function (InnerJson) {
                if (InnerJson.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                } 
                else{
                    if (InnerJson.hasError == false) {
                        if (InnerJson.data.QualityInnerList != null)
                            $("#QulaityEventInnerChart").show();
                        $("#QualityEventchart").hide();
                        var pieChart = $("#PieInnerChartEvents").dxPieChart("instance");
                        pieChart.option({ dataSource: InnerJson.data.QualityInnerList });
                        $("#hdnQualityEvent").val(InnerJson.data.QualityEventType);
                        //Chart Name and Count
                        $("#dvEvntTitle").text(EventChatName + ' ( ' + InnerJson.data.TotalEventCounts + ' )');
                        RoleNamedisplaye();
                    }
                    else {
                        errors.push(InnerJson.data);
                        custAlertMsg(errors.join("<br/>"), "error");
                        return false;
                    }
                }
                }, 'json');
    }
</script>
<!-- #endregion -->
<!-- #region Navigate To List As per Event Status -->
<!--Navigate Event Status List-->
<script>
    function NavigateEventList(argument) {

        var name = $("#hdnQualityEvent").val();
        if (name == "Note To File") {
            if (argument == "Pending") {
                EventNoteToFileJson();
                window.location.href = '@Url.Action("NoteToFileList", "NoteToFile", routeValues: new { ShowType = 9 })';
            }
            if (argument == "Rejected") {
                EventNoteToFileJson();
                window.location.href = '@Url.Action("NoteToFileList", "NoteToFile", routeValues: new { ShowType = 10 })';
            }
            if (argument == "Approved") {
                EventNoteToFileJson();
                window.location.href = '@Url.Action("NoteToFileList", "NoteToFile", routeValues: new { ShowType = 11 })';
            }
        }
        if (name == "Errata") {
            EventErrataJson();
            if (argument == "Pending") {

                window.location.href = '@Url.Action("Errata_List", "Errata", routeValues: new { ShowType = 9 })';
            }
            if (argument == "Rejected") {
              window.location.href = '@Url.Action("Errata_List", "Errata", routeValues: new { ShowType = 11 })';

            }
            if (argument == "Approved") {
             window.location.href = '@Url.Action("Errata_List", "Errata", routeValues: new { ShowType = 10 })';

            }
            if (argument == "Verify") {
                window.location.href = '@Url.Action("Errata_List", "Errata", routeValues: new { ShowType = 12 })';
            }
        }
        if (name == "Change Control Note" || name == "1" || name == "2" || name == "3" || name == "4") {
            if (argument == "Pending") {
                EventChangeControlJson();
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 15, area = "QMS" })';
            }
            if (argument == "Approved") {
                EventChangeControlJson();
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 17, area = "QMS" })';
                           }
            if (argument == "Rejected") {
                EventChangeControlJson();
             window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 16, area = "QMS" })';
            }
            if (argument == "Closed") {
                EventChangeControlJson();
                 window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 19, area = "QMS" })';
            }
            @*if (argument == "Verify") {
                EventChangeControlJson();
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 18, area = "QMS" })';
            }*@
            if (argument == "OverDue") {
                EventChangeControlJson();
                window.location.href = '@Url.Action("CCNList", "ChangeControl", routeValues: new { ShowType = 20, area = "QMS" })';
            }
        }
        if (name == "Incident" || name == "5" || name == "6" ) {
            if (argument == "Pending") {
                EventIncidentJson();
                window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 13, area = "QMS" })';
            }
            if (argument == "Rejected") {
                EventIncidentJson();
                window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 14, area = "QMS" })';
            }
            if (argument == "Approved") {
                EventIncidentJson();
                window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 15, area = "QMS" })';
            }
            if (argument == "Verified") {
                EventIncidentJson();
                window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 16, area = "QMS" })';
            }
            if (argument == "OverDue") {
                EventIncidentJson();
                window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 19, area = "QMS" })';
            }
        }

       }
</script>
<!-- #endregion -->
<!-- #region  Filters For Submit button Function -->
<!--Filter(Dept, From Date ,ToDate)  for Quality Event-->

<script>
    function GetQulaityEventDeptCount() {
        errors = [];
        var Deptid = $("#DeptID").val();
        if (Deptid == "0") {
            errors.push("Select Department.");
        }
        var FromDate = $("#FromDate").val().trim();
        if (FromDate == "") {
            errors.push("Select From Date.");
        }
        var ToDate = $("#ToDate").val().trim();
        if (ToDate == "") {
            errors.push("Select To Date.");
        }
        var RoleId = $("#ddleventRoleID").val();
        RoleNamedisplaye();
        if (Deptid != "0" && ToDate != "" && FromDate != "") {
            $.post("@Url.Content("~/QMS/DashBoard/getDeptWisequalityEvent")?DeptID=" + Deptid + "&&RoleID=" + RoleId + "&&FromDate=" + FromDate + "&&ToDate=" + ToDate,
                function (aiz) {
                    if (aiz.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    } 
                    else{
                        if (aiz.hasError == false) {
                            if (aiz.data.QulaityEventList != null)
                                var pieChart = $("#PieEvents").dxPieChart("instance");
                            pieChart.option({ dataSource: aiz.data.QulaityEventList });
                            // $("#filter_dropdown1").hide;
                            $("#filter_dropdownEvent").hide();
                            //Capa no Recoreds
                            if(aiz.data.QualityEventNoRecoreds==0){
                                $("#EventNoRecored").show();
                                $("#IdEvent").hide();
                            }
                            else{
                                $("#EventNoRecored").hide();
                                $("#IdEvent").show();
                            }
                        }
                        else {
                            errors.push(aiz.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                    }
                    }, 'json');
        } else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
            $("#filter_dropdownEvent").show();
        }
    }

</script>
<!-- #endregion -->
<!-- #region RefreshEvent Charts Function -->

<script>
    //This function in QMS_dashboard.cshtml page
    function RefreshEvents(Status) {
        $("#dvCCnDropDown").hide();
        $("#dvIncdtDropDown").hide();
        GetRoleWiseChats(Status);
    }
</script>
<!-- #endregion -->
<!-- #region Incident Filters For Submit button Function  -->

<script>
        function GetTypeOfIncident() {
            var EventChatName = "";
            //Is Incident or not
        var ArgumnetForCapa = $("#hdnQualityEvent").val();
        var TypeOfIncident = $("#TypeofIncidentID").val();
        if (TypeOfIncident == 5) {
            EventChatName = "Quality Impacting";
        }
        if (TypeOfIncident == 6) {
            EventChatName = "Quality Non-Impacting";
        }
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        var RoleID = $("#ddleventRoleID").val();
        var Deptid = $("#DeptID").val();
        var TypeOfStatus;
        if (TypeOfIncident != 0) {
            TypeOfStatus = TypeOfIncident;
        }
        if (TypeOfIncident == 0) {
            TypeOfStatus = "Incident";
            EventChatName = "Incident";
        }
        $.post("@Url.Content("~/QMS/DashBoard/QualityEventInnerChart")?QualityEventType=" + TypeOfStatus + "&&ChartRoleID=" + RoleID
              + "&&DeptID=" + Deptid + "&&FromDate=" + FromDate + "&&ToDate=" + ToDate,
            function (InnerJson) {
                        if (InnerJson.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        } 
                        else{
                            if (InnerJson.hasError == false) {
                                if (InnerJson.data.QualityInnerList != null)
                                    $("#QulaityEventInnerChart").show();
                                $("#QualityEventchart").hide();
                                var pieChart = $("#PieInnerChartEvents").dxPieChart("instance");
                                pieChart.option({ dataSource: InnerJson.data.QualityInnerList });
                                $("#hdnQualityEvent").val(InnerJson.data.QualityEventType);
                                //Chart Name and Count
                                $("#dvEvntTitle").text(EventChatName + '( ' + InnerJson.data.TotalEventCounts + ' )');
                                RoleNamedisplaye();
                            }
                        }
                    }, 'json');
    }
    function CCNGetClassification() {

        var EventChatName = "";
        var ArgumnetForCapa = $("#hdnQualityEvent").val();
        var GetClassificationID = $("#CCNTypes").val();
        if (GetClassificationID == 1) {
            EventChatName = "Major";
        }
        if (GetClassificationID == 2) {
            EventChatName = "Minor";
        } if (GetClassificationID == 3) {
            EventChatName = "Parmanent";
        } if (GetClassificationID == 4) {
            EventChatName = "Temparory";
        }
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        var RoleID = $("#ddleventRoleID").val();
        var Deptid = $("#DeptID").val();
        var TypeofStatus;
        if (GetClassificationID != 0) {
            TypeofStatus = GetClassificationID;
        }
        if (GetClassificationID == 0) {
            TypeofStatus = "ChangeControl";
            EventChatName = "ChangeControl";
        }

            $.post("@Url.Content("~/QMS/DashBoard/QualityEventInnerChart")?QualityEventType=" + TypeofStatus + "&&ChartRoleID=" + RoleID
                  + "&&DeptID=" + Deptid + "&&FromDate=" + FromDate + "&&ToDate=" + ToDate,
                        function (InnerJson) {
                            if (InnerJson.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            } 
                            else{
                                if (InnerJson.hasError == false) {
                                    if (InnerJson.data.QualityInnerList != null)
                                        $("#QulaityEventInnerChart").show();
                                    $("#QualityEventchart").hide();
                                    var pieChart = $("#PieInnerChartEvents").dxPieChart("instance");
                                    pieChart.option({ dataSource: InnerJson.data.QualityInnerList });
                                    $("#hdnQualityEvent").val(InnerJson.data.QualityEventType);
                                    //Chart name and count
                                    $("#dvEvntTitle").text(EventChatName + '( ' + InnerJson.data.TotalEventCounts + ' )');
                                    RoleNamedisplaye();
                                }
                            }
                        }, 'json');
       }


</script>
<!-- #endregion -->
<!-- #region DateTime Picker -->



<script>
    function RoleNamedisplaye() {
        var Role = $("#ddleventRoleID").val();
        var RoleName;
        $.post("@Url.Content("~/QMS/DashBoard/GetRoleName")?RoleID=" + Role,
                function (aiz) {
                    if (aiz.hasError == false) {
                        $("#lblRoles").text("Role : " + aiz.data);
                        $("#lblRolesInner").text("Role : " + aiz.data);
                    }
                }, 'json');
    }
    RoleNamedisplaye();
</script>
<!--OnChange RoleDropdown-->
<script>
    function RoleOnChangeDepartmentAndChartBinding(Status) {
        GetRoleWiseChats(Status);
        RoleNamedisplaye();
    }
</script>
<script>
    $(document).ready(function () {
            $('#FromDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
                maxDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate(), 23, 59, 59),
                minDate: '01 Jan 1990',
    });
            $('#FromDate').val(moment(new Date(new Date().getFullYear() - 1, new Date().getMonth(), new Date().getDate(), 23, 59, 59)).format('DD MMM YYYY'));
            $('#ToDate').datetimepicker({
                format: 'DD MMM YYYY',
                maxDate: new Date(new Date()),
            });
            $('#ToDate').val(moment(new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate(), 23, 59, 59)).format('DD MMM YYYY'));
        });
        $('#FromDate').on("dp.change", function (e) {
            $('#ToDate').data("DateTimePicker").minDate(e.date);
            $('#ToDate').val("");
        });

</script>
<script>
        if (@ViewBag.QualityEventNoRecoreds==0) {
        $("#EventNoRecored").show();
        $("#IdEvent").hide();
    }
</script>
@*<script>
        $(function () {
            $("#PieEvents").dxPieChart({
                // ...
              
                onTooltipShown: function (e) {
                    var point = e.target;
                    point.showTooltip();
                    // Handler of the "tooltipShown" event
                },
                onTooltipHidden: function (e) {
                    var point = e.target;
                    // Handler of the "tooltipHidden" event
                }
            });
        });
</script*@