﻿@{
    ViewBag.Title = "Not a Authorized User";
    Layout = "~/Areas/Regulatory/Views/Shared/_RegulatoryLayout.cshtml";
}
<title>@ViewBag.Title</title>
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 col-12  padding-none float-left">
    <h2 style="text-align:center">
        <span style="color:red;">You are not a </span>
        <span style="color:crimson;">Authorized</span>
        <span style="color:red;"> User to view this Page.</span>
    </h2>
</div>
