﻿@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href=@Url.Content("~/AppCSS/Regulatory/regulatorystylesheet.css") rel="stylesheet" />
<!---Sub-Menu Starts-->
<div class="col-12 float-left padding-none" style="margin-top:50px;">
    <div class="col-12 reg_menu_list float-left top">
        @if (Session["EmpModuleRoles"] != null)
        {
            string[] ModuleRoles = (string[])Session["EmpModuleRoles"];
            <div class="col-12 text-center">
                <ul class="col-12">
                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Lead).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Approver).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_HOD).ToString()))
                    {
                        <li><a href="~/Regulatory/RegulatoryMain/RegulatoryDashBoard" class="dashboard left_border">Dashboard</a></li>
                    }
                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Admin).ToString()))
                    {
                        <li class="reg_test">
                            <a href="#" class="product">Admin Setup</a>
                            <div class="dropdowntest">
                                <ul class="reg_sub_nav">
                                    <li style="font-size:14px;">@Html.ActionLink("Regulatory Master", "RegulatoryMasterList", "RegulatoryMaster", routeValues: new { Area = "Regulatory" }, htmlAttributes: null)</li>
                                    <li style="font-size:14px;">@Html.ActionLink("Re-assign Employee", "ReAssignProductList", "RegulatoryMain", routeValues: new { Area = "Regulatory" }, htmlAttributes: null)</li>
                                </ul>
                            </div>
                        </li>
                    }
                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Approver).ToString())
                    || (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_HOD).ToString()))
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Lead).ToString())
                    )
                    {
                        <li class="reg_test">
                            <a href="#" class="productlist">Regulatory</a>
                            <div class="dropdowntest">
                                <ul class="reg_sub_nav">
                                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Approver).ToString())
                                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Lead).ToString()))
                                    {
                                        <li class="reg_list">
                                            <a href="#" class="reg_accrdn">Product</a>
                                            <ul class="reg_sub_nav_child">
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Lead).ToString()))
                                                {
                                                    <li style="font-size:14px;"> @Html.ActionLink("Create Product Details", "CreateDossierMain", "RegulatoryMain", routeValues: new { Area = "Regulatory" }, htmlAttributes: null) </li>
                                                    <li style="font-size:14px;">@Html.ActionLink("Pending List", "DossierMainList", "RegulatoryMain", routeValues: new { Area = "Regulatory", ShowType = 0 }, htmlAttributes: null)</li>
                                                    <li style="font-size:14px;"> @Html.ActionLink("Reverted List", "DossierMainList", "RegulatoryMain", routeValues: new { Area = "Regulatory", ShowType = 2 }, htmlAttributes: null) </li>
                                                }
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Approver).ToString()))
                                                {
                                                    <li style="font-size:14px;"> @Html.ActionLink("Review List", "DossierMainList", "RegulatoryMain", routeValues: new { Area = "Regulatory", ShowType = 1 }, htmlAttributes: null) </li>
                                                }
                                                <li style="font-size:14px;"> @Html.ActionLink("Product Details Main List", "DossierMainList", "RegulatoryMain", routeValues: new { Area = "Regulatory", ShowType = 3 }, htmlAttributes: null) </li>
                                            </ul>
                                        </li>
                                    }
                                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Approver).ToString())
                                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Lead).ToString()))
                                    {
                                        <li class="reg_list">
                                            <a href="#" class="reg_accrdn">Deficiency</a>
                                            <ul class="reg_sub_nav_child">
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Approver).ToString()))
                                                {
                                                    <li style="font-size:14px;"> @Html.ActionLink("Review List", "DeficiencyMainList", "RegulatoryMain", routeValues: new { Area = "Regulatory", ShowType = 12 }, htmlAttributes: null) </li>

                                                }
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Lead).ToString()))
                                                {
                                                    <li style="font-size:14px;"> @Html.ActionLink("Pending List", "DeficiencyMainList", "RegulatoryMain", routeValues: new { Area = "Regulatory", ShowType = 11}, htmlAttributes: null) </li>
                                                    <li style="font-size:14px;">@Html.ActionLink("Reverted List", "DeficiencyMainList", "RegulatoryMain", routeValues: new { Area = "Regulatory", ShowType = 13 }, htmlAttributes: null)</li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    <li class="reg_list">
                                        <a href="#" class="reg_accrdn">Observation</a>
                                        <ul class="reg_sub_nav_child">
                                            @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_HOD).ToString()))
                                            {
                                                <li style="font-size:14px;"> @Html.ActionLink("Pending List", "ObservationMainList", "RegulatoryMain", routeValues: new { Area = "Regulatory", ShowType = 22 }, htmlAttributes: null) </li>
                                            }                                          
                                            @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Lead).ToString()) || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_Approver).ToString()) || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.RA_UserRole.RA_HOD).ToString()))
                                            {
                                                <li style="font-size:14px;"> @Html.ActionLink("Observation Main List", "ObservationMainList", "RegulatoryMain", routeValues: new{ Area = "Regulatory",ShowType = 23}, htmlAttributes: null) </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
<!---sub-menu ends-->
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none reg_formlist top ">
    @RenderBody()
</div>
<script>
    $(function () {
        var path = window.location.pathname + window.location.search;
        var href_value = "";
        $(".dropdowntest ul li").each(function () {
            href_value = $(this).children("a").attr("href");
            if (path == href_value) {
                $(this).children("a").addClass("active").parents(".reg_sub_nav_child").prev("a").addClass("active");
                $(this).parents(".reg_test").children("a").addClass("active");
            }
        });
    });
</script>