
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="col-sm-12 padding-none dashboard_panel_full float-left">
              <div class="col-lg-12 col-12 col-sm-12 col-md-12 col-12 col-sm-12 col-md-12 dashboard_panel_header float-left">CAPA
                <a href="javascript:void(0)" title="Back to List" class="upload_btn float-left" (click)="onPreviousLevelClick()" *ngIf="overallStatuslevel!==0"><img src="/Images/PMS/market_backicon.png"></a>
              </div>

              <div class="col-lg-12 col-12 col-sm-12 col-md-12 col-12 col-sm-12 col-md-12 float-left top bottom">
                <form [formGroup]="CAPAfiltersForm" class="mb-2">
                    <div class="row">
                        <div class="col-md-6">
                            <ng-multiselect-dropdown
            [placeholder]="'Select Department'"
            [settings]="departmentDropdownSettings"
            [data]="departmentsList"
            [(ngModel)]="selectedDepartments"
            [ngModelOptions]="{standalone: true}"
            (onSelect)="onDeptQualityEventsCAPADataChartFilterChange($event)"
            (onDeSelect)="onDeptQualityEventsCAPADataChartFilterChange($event)"
            (onSelectAll)="onSelectAllDepartments($event)"
            >
            </ng-multiselect-dropdown>
                        </div>
                        <div class="col-md-6">
                            <ng-multiselect-dropdown
                            [placeholder]="'Select Quality Event'"
                            [settings]="eventsDropdownSettings"
                            [data]="qualityEventsList"
                            [(ngModel)]="selectedQualityEvents"
                            [ngModelOptions]="{standalone: true}"
                            [disabled]="(overallStatuslevel!==0)"
                            (onSelect)="onDeptQualityEventsCAPADataChartFilterChange($event)"
                            (onDeSelect)="onDeptQualityEventsCAPADataChartFilterChange($event)"
                            (onSelectAll)="onSelectAllQualityEvents($event)"
                          >
                          </ng-multiselect-dropdown>
                        </div>
                        </div>
                        <div class="row mt-2" *ngIf="overallStatuslevel!==0">
                            <div class="col-md-6">
                            <ng-multiselect-dropdown
                            [placeholder]="'Type Of Action'"
                            [settings]="typeOfActionDropdownSettings"
                            [data]="typeOfActionsList" [(ngModel)]="selectedTypeOfAction"
                            [ngModelOptions]="{standalone: true}"
                            (onSelect)="getFilteredStatusChartData($event)"
                            (onDeSelect)="getFilteredStatusChartData($event)"
                          >
                          </ng-multiselect-dropdown>
                        </div>
                    </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <ng2-flatpickr [setDate]="fromDateValue" [config]="fromDateOptions" placeholder="From date" formControlName="fromDate" (change)="onDeptQualityEventsCAPADataChartFilterChange($event)" ></ng2-flatpickr>
                            </div>
                            <div class="col-md-6">
                                <ng2-flatpickr [setDate]="toDateValue" [config]="toDateOptions" formControlName="toDate" placeholder="To date" (change)="onDeptQualityEventsCAPADataChartFilterChange($event)" ></ng2-flatpickr>
                            </div>
                        </div>
                </form>
                <div class="d-flex justify-content-end" *ngIf="overallStatuslevel!==0">
                    <button type="button" class="btn btn-link" (click)="onShowOverallCAPAListView()">List View</button>
                </div>

        <dx-chart
            id="chart"
            [class]="overallStatuslevel===0?'':'hideChart'"
            [dataSource]="dataSource"
            (onPointClick)="onDeptQualityEventCAPAPointClick($event)"
            (onExporting)="onStackedBarChartExporting($event)"
            >
            <dxo-zoom-and-pan
        valueAxis="none"
        argumentAxis="both"
        [dragToZoom]="false"
        [allowMouseWheel]="true"
        panKey="shift"
    ></dxo-zoom-and-pan>
    <dxo-scroll-bar  [visible]="true" position='top' [width]="5"></dxo-scroll-bar>
            <dxo-size [height]="500"></dxo-size>
            <dxo-title text="CAPA Chart">
                <dxo-subtitle text="{{subtitleForStackedBarChart}}"></dxo-subtitle>
            </dxo-title>
            <dxi-series valueField="TotalRecordCCN" name="Change Control Note" color={{getColorOFQE(1)}} ></dxi-series>
            <dxi-series valueField="TotalRecordIncident" name="Incident Report" color={{getColorOFQE(3)}}></dxi-series>
            <dxi-series valueField="TotalRecordNTF" name="Note To File" color={{getColorOFQE(5)}}></dxi-series>
            <dxi-series valueField="TotalRecordOOS" name="OOS" color={{getColorOFQE(7)}}></dxi-series>
            <dxi-series valueField="TotalRecordOOT" name="OOT" color={{getColorOFQE(9)}}></dxi-series>
            <dxi-series valueField="TotalRecordMC" name="MC" color={{getColorOFQE(11)}}></dxi-series>
            <dxi-value-axis position="left">
                <dxo-title text="Total Count of CAPAs"></dxo-title>
            </dxi-value-axis>
            <dxo-argument-axis>
                <!-- <dxo-label overlappingBehavior="rotate" rotationAngle="90"  wordWrap="breakWord"></dxo-label> -->
            </dxo-argument-axis>
            <dxo-common-series-settings
                argumentField="DepartmentName"
                type="stackedBar"
                barWidth="50">
            </dxo-common-series-settings>
            <dxo-legend
                verticalAlignment="bottom"
                horizontalAlignment="center"
                itemTextPosition="right">
            </dxo-legend>
            <dxo-export
                [enabled]="true"
                [margin]="50"
            ></dxo-export>
            <dxo-tooltip
                [enabled]="true"
                location="edge"
                icon="export"
                [customizeTooltip]="customizeTooltip">
            </dxo-tooltip>
        </dx-chart>

        <!-- Status Charts -->

        <dx-pie-chart
            [class]="overallStatuslevel===1?'':'hideChart'"
            id="pie"
            title={{currentDrillDownHeaderText}}
            [palette]="getColorPaletteForStatusChart()"
            (onPointClick)="onStatusChartPointClick($event)"
            [dataSource]="statusListData"
            resolveLabelOverlapping="shift">
            <dxo-size [height]="450"></dxo-size>
            
            <dxo-legend
            [visible]="false"
                orientation="horizontal"
                itemTextPosition="right"
                horizontalAlignment="center"
                verticalAlignment="bottom"
                [columnCount]="4"></dxo-legend>
                <dxo-export
                [enabled]="true"
                [margin]="50"
            ></dxo-export>
            <dxi-series
                argumentField="EventName"
                valueField="TotalRecords"
                >
                <dxo-label
                    [visible]="true"
                    position="outside"
                    [customizeText]="customizeLabel"
                    position='columns'>
                    <dxo-font [size]="16"></dxo-font>
                    <dxo-connector
                        [visible]="true"
                        [width]="0.5"></dxo-connector>
                </dxo-label>
            </dxi-series>
        </dx-pie-chart>


        <dx-chart
        [class]="overallStatuslevel===2?'':'hideChart'"
        id="overdueChartCAPA"
        [dataSource]="overdueDataCAPA"
        (onPointClick)="onCAPAOverdueStatusChartPointClick($event)"
     palette="soft"
        [valueAxis]="[{
            name: 'frequency',
            position: 'left',
            tickInterval: 5,
            title:'Overdues Count'
        }, {
            name: 'percentage',
            position: 'right',
            showZero: true,
            title:'Cumulative Percentage',
            label: {
                customizeText: customizeLabelText
            },
           
            constantLines: [{
                value: 80,
                color: '#fc3535',
                dashStyle: 'dash',
                width: 2,
                label: { visible: false }
            }],
            
            valueMarginsEnabled: false
        }]">

<dxi-series type="bar" valueField="TotalRecords"
axis="frequency"
name="Total Overdues"
color="#f9a825"></dxi-series>
<dxi-series
type="spline"
valueField="cumulativePercent"
axis="percentage"
name="Cumulative percentage"
color="#178b7e">
</dxi-series>
<dxo-argument-axis>
<dxo-label overlappingBehavior="stagger"></dxo-label>
</dxo-argument-axis>
<dxo-tooltip
[enabled]="true"
[shared]="true"
[customizeTooltip]="customizeTooltipForOverdue">
</dxo-tooltip>
<dxo-common-series-settings
argumentField="EventName"
type="bar"
[barPadding]="0">
</dxo-common-series-settings>
<dxo-legend
verticalAlignment="bottom"
horizontalAlignment="center">
</dxo-legend>
<dxo-export
                [enabled]="true"
                [margin]="50"
            ></dxo-export>
<dxo-title text={{currentDrillDownHeaderText}}>
</dxo-title>
</dx-chart>
    
</div>
        </div>
      </div>
    </div>