﻿@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href='@Url.Content("~/AppCSS/QMS/css/qms_leftnav_stylesheet.css")' rel="stylesheet" />
<style>
    textarea.form-control {
        height: auto !important;
    }
</style>
@*<link href="~/AppCSS/grid_icons/grid_icon.css" rel="stylesheet" />*@
<script>
    $(function () {
        initSelectPicker();
    });

    function initSelectPicker() {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    }
</script>
<!--Binding Dynamic Audit Names-->
<script>
    AuditCategoryName(2);
    function AuditCategoryName(Type) {
        /**/
        $.post("@Url.Content("~/QMS/AuditMain/GetAuditCategoryName")", { "Type": Type },
        /**/
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    if (result.msgType == "success") {
                        bindCategoryName(Type, result.msg);
                    }
                }
        }, 'json');
}

function bindCategoryName(Type, textToShow) {
    if (Type == 1) {
        //$("#AuditCategoryOne").text(textToShow);
    }
    else if (Type == 2) {
        $("#AuditCategoryTwo").text(textToShow);
    }
}
</script>

<link href='@Url.Content("~/AppCSS/CardsFlip.css")' rel="stylesheet" />
<div class=" col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  float-left padding-none" style="margin-top:60px;">
    <input type="text" style="display:none" />
    <input type="password" style="display:none" />
    <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-2 nav_panel " id="paragraph1">
        <div id="accordion" class="accordion qms_accordion">
            <div class="card mb-0">
                <!--Start With Module Roles Checking-->
                @if (Session["EmpModuleRoles"] != null)
                {
                    string[] ModuleRoles = (string[])Session["EmpModuleRoles"];

                    if (ModuleRoles.Length > 0)
                    {
                        if (
                        !((ModuleRoles.Length == 2 && ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditAdmin).ToString())
                        && ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditViewer).ToString())) ||
                        (ModuleRoles.Length == 1 && (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditAdmin).ToString())
                        || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditViewer).ToString()))))
                        )
                        {
                            <div class=" header_col headerList">
                                <a class="card-title" href="/QMS/DashBoard/QMS_Dashboard" @*onclick="location.href='@Url.Action("QMS_Dashboard", "Dashboard" , new { Area="QMS" })'"*@>
                                    QMS Dashboard
                                </a>
                            </div>
                        }
                    }
                    <!-- #region AdminRoleMasters -->
                    if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.AdminRole).ToString()))
                    {
                        <div id="dvadminMaster" class="card-header header_col collapsed" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                Administration
                            </a>
                        </div>
                        <div id="collapseOne" class=" collapse" data-parent="#accordion">
                            <div class="card-body acc_boby col-lg-12 float-left ">
                                <div id="accordionChild" class="accordion">
                                    <div class="card mb-0 ">
                                        <!--CCN Master-->
                                        <div id="dvccnMaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseOneChild">
                                            <a class="card-title">
                                                Change Control Note Masters
                                            </a>
                                        </div>
                                        <div id="collapseOneChild" class=" collapse" data-parent="#accordionChild">
                                            <div class="card-body acc_boby float-left ">
                                                <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                    <ul>
                                                        <li style="font-size:14px;">
                                                        <li style="font-size:14px;">@Html.ActionLink("Type of Change", "Index", "TypeChangeMaster", routeValues: new { Area = "QMS" }, htmlAttributes: null)</li>
                                                        <li style="font-size:14px;">@Html.ActionLink("Block", "BlockList", "BlockMaster", routeValues: new { Area = "QMS" }, htmlAttributes: null)</li>
                                                        <li style="font-size:14px;">@Html.ActionLink("Impact Points", "Index", "ImpactPoints", routeValues: new { Area = "QMS" }, htmlAttributes: null)</li>
                                                        <li style="font-size:14px;">@Html.ActionLink("Impact Points & Dept Link", "Index", "ImpactDeptLink", routeValues: new { Area = "QMS" }, htmlAttributes: null)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End-->
                                    <!--Capa Master-->
                                    <div class="card mb-0 ">
                                        <div id="dvcapaMaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseOneChild1">
                                            <a class="card-title">
                                                CAPA Masters
                                            </a>
                                        </div>
                                        <div id="collapseOneChild1" class=" collapse" data-parent="#accordionChild">
                                            <div class="card-body acc_boby float-left ">
                                                <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                    <ul>
                                                        <li style="font-size:14px;">@Html.ActionLink("Type of Action List", "Index", "ActionPlan", routeValues: new { Area = "QMS" }, htmlAttributes: null)</li>
                                                        @*
                                                            <li style="font-size:14px;">@Html.ActionLink("Quality Event List", "Index", "QualityEvent", routeValues: new { Area = "QMS" }, htmlAttributes: null)</li>*@
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End-->

                                    </div>
                                    <!--Manage-->
                                    <div class="card mb-0 ">
                                        <div id="dvAdminManage" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseOneChildManage">
                                            <a class="card-title">
                                                Manage
                                            </a>
                                        </div>
                                        <div id="collapseOneChildManage" class=" collapse" data-parent="#accordionChild">
                                            <div class="card-body acc_boby float-left ">
                                                <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                    <ul>
                                                        <li style="font-size:14px;">@Html.ActionLink("CCN Manage List", "CCNList", "ChangeControl", routeValues: new { ShowType = 21, area = "QMS" }, htmlAttributes: null)</li>
                                                        <li style="font-size:14px;">@Html.ActionLink("Incident Manage List", "IncidentList", "Incident", routeValues: new { ShowType = 20, area = "QMS" }, htmlAttributes: null)</li>
                                                        <li style="font-size:14px;">@Html.ActionLink("CAPA Manage List", "CapaList", "Capa", routeValues: new { R = "CAPAManage", area = "QMS" }, htmlAttributes: null)</li>
                                                        <li style="font-size:14px;">@Html.ActionLink("Note to file Manage List", "NoteToFileList", "NoteToFile", routeValues: new { ShowType = 12, area = "QMS" }, htmlAttributes: null)</li>
                                                        <li style="font-size:14px;">@Html.ActionLink("Errata Manage List", "Errata_List", "Errata", routeValues: new { ShowType = 13, area = "QMS" }, htmlAttributes: null)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- #endregion -->
                    <!-- #region Change Control -->
                    if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.Initiator).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.QA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.AdminRole).ToString())
                    )
                    {
                        <div id="dvcntrlMaster" class="card-header header_col collapsed" data-toggle="collapse" href="#collapseTwo">
                            <a class="card-title">
                                Change Control Note
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body acc_boby float-left ">
                                <div id="accordionChildControl" class="accordion">
                                    <div class="card mb-0">
                                        <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                            <ul>
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.Initiator).ToString()))
                                                {
                                                    <div id="dvInitiatorMaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseChangeControlIntChild1">
                                                        <a class="card-title">
                                                            Initiator Action
                                                        </a>
                                                    </div>
                                                    <div id="collapseChangeControlIntChild1" class=" collapse" data-parent="#accordionChildControl">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    <li style="font-size:14px;">  @Html.ActionLink("Create CCN", "CreateCCN", "ChangeControl")</li>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("CCN Created List", "CCNList", "ChangeControl", routeValues: new { ShowType = 1, area = "QMS" }, htmlAttributes: null)</li>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("Reverted CCN List", "CCNList", "ChangeControl", routeValues: new { ShowType = 2, area = "QMS" }, htmlAttributes: null)</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString()))
                                                {
                                                    <div id="dvhodMaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseChangeControlHodChild1">
                                                        <a class="card-title">
                                                            HOD Action
                                                        </a>
                                                    </div>
                                                    <div id="collapseChangeControlHodChild1" class=" collapse" data-parent="#accordionChildControl">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("CCN Review", "CCNList", "ChangeControl", routeValues: new { ShowType = 3, area = "QMS" }, htmlAttributes: null)</li>
                                                                    <li style="font-size:14px;">@Html.ActionLink("Impact Assessment", "CCNList", "ChangeControl", routeValues: new { ShowType = 5, area = "QMS" }, htmlAttributes: null)</li>
                                                                    @*
                                                                        <li style="font-size:14px;">@Html.ActionLink("Reverted CCNs", "CCNList", "ChangeControl", routeValues: new { R = "HODRT", area = "QMS" }, htmlAttributes: null)</li>*@
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.QA).ToString()))
                                                {
                                                    <div id="dvqaMaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseChangeControlQAChild1">
                                                        <a class="card-title">
                                                            QA Action
                                                        </a>
                                                    </div>
                                                    <div id="collapseChangeControlQAChild1" class=" collapse" data-parent="#accordionChildControl">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    <li style="font-size:14px;">@Html.ActionLink("QA Assessment", "CCNList", "ChangeControl", routeValues: new { ShowType = 4, area = "QMS" }, htmlAttributes: null)</li>
                                                                    <li style="font-size:14px;">@Html.ActionLink("Reverted CCN", "CCNList", "ChangeControl", routeValues: new { ShowType = 9, area = "QMS" }, htmlAttributes: null)</li>
                                                                    <li style="font-size:14px;">@Html.ActionLink("CCN to be Closed", "CCNList", "ChangeControl", routeValues: new { ShowType = 11, area = "QMS" }, htmlAttributes: null)</li>
                                                                    @*
                                                                        <li style="font-size:14px;">@Html.ActionLink("CCNs To Be Verified", "CCNList", "ChangeControl", routeValues: new { R = "QAVerify", area = "QMS" }, htmlAttributes: null)</li>*@
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString()))
                                                {
                                                    <div id="dvheadMaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseChangeControlHeadQAChild1">
                                                        <a class="card-title">
                                                            Head QA Action
                                                        </a>
                                                    </div>
                                                    <div id="collapseChangeControlHeadQAChild1" class=" collapse" data-parent="#accordionChildControl">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    <li style="font-size:14px;">@Html.ActionLink("Approval", "CCNList", "ChangeControl", routeValues: new { ShowType = 10, area = "QMS" }, htmlAttributes: null)</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                                <li style="font-size:14px;">@Html.ActionLink("Change Control Note Main List", "CCNList", "ChangeControl", routeValues: new { ShowType = 14, area = "QMS" }, htmlAttributes: null)</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- #endregion -->
                    <!-- #region Incident -->
                    if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.Initiator).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.QA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.AdminRole).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.Investigator).ToString())
                    )
                    {
                        <!--Incident Report-->
                        <div id="dvIncidentMaster" class="card-header header_col collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <a class="card-title">
                                Incident
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body acc_boby float-left ">
                                <div id="accordionChildIncident" class="accordion">
                                    <div class="card mb-0">
                                        <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                            <ul>
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.Initiator).ToString()))
                                                {
                                                    <div id="dvincidentintiatorMaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseIncidentChild1">
                                                        <a class="card-title">
                                                            Initiator Action
                                                        </a>
                                                    </div>
                                                    <div id="collapseIncidentChild1" class=" collapse" data-parent="#accordionChildIncident">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("Create Incident", "IncidentList", "Incident", routeValues: new { ShowType = 1, Area = "QMS" }, htmlAttributes: null) </li>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("Reverted List", "IncidentList", "Incident", routeValues: new { ShowType = 2, Area = "QMS" }, htmlAttributes: null) </li><!--HOD Reverted to Initiator-->
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString()))
                                                {
                                                    <div id="dvincidentHODMaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseIncidentChildHOD">
                                                        <a class="card-title">
                                                            HOD Action
                                                        </a>
                                                    </div>
                                                    <div id="collapseIncidentChildHOD" class=" collapse" data-parent="#accordionChildIncident">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("HOD Review List", "IncidentList", "Incident", routeValues: new { ShowType = 3, Area = "QMS" }, htmlAttributes: null) </li>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("HOD Action Plan", "IncidentList", "Incident", routeValues: new { ShowType = 10, Area = "QMS" }, htmlAttributes: null) </li>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("HOD Investigation Review List", "IncidentList", "Incident", routeValues: new { ShowType = 9, Area = "QMS" }, htmlAttributes: null) </li>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("Reverted List", "IncidentList", "Incident", routeValues: new { ShowType = 4, Area = "QMS" }, htmlAttributes: null) </li><!--QA Reverted to HOD-->
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.QA).ToString()))
                                                {
                                                    <div id="dvincidentQAMaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseIncidentChildQA">
                                                        <a class="card-title">
                                                            QA Action
                                                        </a>
                                                    </div>
                                                    <div id="collapseIncidentChildQA" class=" collapse" data-parent="#accordionChildIncident">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("QA Review List", "IncidentList", "Incident", routeValues: new { ShowType = 5, Area = "QMS" }, htmlAttributes: null)</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.Investigator).ToString())) //33- investigator Role
                                                {
                                                    <div id="dvincidentInvestigatorMaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseIncidentChildInvestigator">
                                                        <a class="card-title">
                                                            Investigator
                                                        </a>
                                                    </div>
                                                    <div id="collapseIncidentChildInvestigator" class=" collapse" data-parent="#accordionChildIncident">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("Review List", "IncidentList", "Incident", routeValues: new { ShowType = 8, Area = "QMS" }, htmlAttributes: null)</li>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("Reverted List", "IncidentList", "Incident", routeValues: new { ShowType = 11, Area = "QMS" }, htmlAttributes: null)</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString()))
                                                {
                                                    <div id="dvincidentHeadQAMaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseIncidentChildHeadQA">
                                                        <a class="card-title">
                                                            Head QA Action
                                                        </a>
                                                    </div>
                                                    <div id="collapseIncidentChildHeadQA" class=" collapse" data-parent="#accordionChildIncident">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("HeadQA Review List", "IncidentList", "Incident", routeValues: new { ShowType = 7, Area = "QMS" }, htmlAttributes: null)</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                <li style="font-size:14px;">@Html.ActionLink("Incident Main List", "IncidentList", "Incident", routeValues: new { ShowType = 12, area = "QMS" }, htmlAttributes: null)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- #endregion -->
                    <!-- #region CAPA -->
                    if (
                    ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.QA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.AdminRole).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.User).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditHOD).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditQA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditHeadQA).ToString())
                    )
                    {
                        <div id="dvcapamaster" class="card-header header_col collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            <a class="card-title">
                                CAPA
                            </a>
                        </div>
                        <div id="collapseFour" class="collapse" data-parent="#accordion">
                            <div class="card-body acc_boby float-left ">
                                <div id="accordionChildCAPA" class="accordion">
                                    <div class="card mb-0">
                                        <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                            <ul>
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString()) || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditHOD).ToString()))
                                                {
                                                    <div id="dvcapahodmaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseCapaHODChild1">
                                                        <a class="card-title">
                                                            HOD Action
                                                        </a>
                                                    </div>
                                                    <div id="collapseCapaHODChild1" class=" collapse" data-parent="#accordionChildCAPA">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString()))
                                                                    {//Only access QMS hod role
                                                                        <li style="font-size:14px;"> @Html.ActionLink("Create CAPA", "CapaList", "Capa", routeValues: new { R = "Create", Area = "QMS" }, htmlAttributes: null)</li>
                                                                    }
                                                                    <li style="font-size:14px;"> @Html.ActionLink("Reverted CAPA List", "CapaList", "Capa", routeValues: new { R = "HOD_RT", Area = "QMS" }, htmlAttributes: null)</li>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("CAPA Reminder Review List", "CapaList", "Capa", routeValues: new { R = "Hod_List", Area = "QMS" }, htmlAttributes: null)</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.QA).ToString()) || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditQA).ToString()))
                                                {

                                                    <div id="dvcapaqamaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseCapaQAChild1">
                                                        <a class="card-title">
                                                            QA Action
                                                        </a>
                                                    </div>
                                                    <div id="collapseCapaQAChild1" class=" collapse" data-parent="#accordionChildCAPA">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("CAPA List", "CapaList", "Capa", routeValues: new { R = "QA_List", Area = "QMS" }, htmlAttributes: null)</li>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("Review CAPA", "CapaList", "Capa", routeValues: new { R = "QA_R", Area = "QMS" }, htmlAttributes: null)</li>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("CAPA to be Closed", "CapaList", "Capa", routeValues: new { R = "QA_Close", Area = "QMS" }, htmlAttributes: null)</li>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("CAPA Verification", "CapaList", "Capa", routeValues: new { R = "QA_Verification", Area = "QMS" }, htmlAttributes: null)</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString()) || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditHeadQA).ToString()))
                                                {
                                                    <div id="dvcapaheadqamaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseCapaHeadQAChild1">
                                                        <a class="card-title">
                                                            Head QA Action
                                                        </a>
                                                    </div>
                                                    <div id="collapseCapaHeadQAChild1" class=" collapse" data-parent="#accordionChildCAPA">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("CAPA Review", "CapaList", "Capa", routeValues: new { R = "HQA_R", Area = "QMS" }, htmlAttributes: null)</li>
                                                                    <li style="font-size:14px;"> @Html.ActionLink("CAPA Verification Approval", "CapaList", "Capa", routeValues: new { R = "HQA_Approval", Area = "QMS" }, htmlAttributes: null)</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.User).ToString()))
                                                {
                                                    <div id="dvcapaemployeemaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseCapaEmployeeChild1">
                                                        <a class="card-title">
                                                            User
                                                        </a>
                                                    </div>
                                                    <div id="collapseCapaEmployeeChild1" class=" collapse" data-parent="#accordionChildCAPA">
                                                        <div class="card-body acc_boby float-left ">
                                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                                <ul>
                                                                    <!--Responsible CAPA List-->
                                                                    <li style="font-size:14px;"> @Html.ActionLink("CAPA To-Do", "CapaList", "Capa", routeValues: new { R = "EMP_List", Area = "QMS" }, htmlAttributes: null)</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                <li style="font-size:14px;">@Html.ActionLink("CAPA Main List", "CapaList", "Capa", routeValues: new { R = "CapaMainList", area = "QMS" }, htmlAttributes: null)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- #endregion -->
                    <!-- #region NoteToFile -->
                    if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.Initiator).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.QA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.AdminRole).ToString())
                    )
                    {
                        <div id="dvnotemaster" class="card-header header_col collapsed" data-toggle="collapse" href="#collapseFive">
                            <a class="card-title">
                                Note to file
                            </a>
                        </div>

                        <div id="collapseFive" class="collapse" data-parent="#accordion">
                            <div class="card-body acc_boby float-left ">
                                <div id="accordionChildFile" class="accordion">
                                    <div class="card mb-0">

                                        @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.Initiator).ToString()))
                                        {
                                            <div id="dvnoteintiatormaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseNoteToFileInitChild1">
                                                <a class="card-title">
                                                    Initiator Action
                                                </a>
                                            </div>
                                            <div id="collapseNoteToFileInitChild1" class=" collapse" data-parent="#accordionChildFile">
                                                <div class="card-body acc_boby float-left ">
                                                    <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                        <ul>
                                                            <li style="font-size:14px;">  @Html.ActionLink("Create Note to file", "NoteToFileList", "NoteToFile", routeValues: new { ShowType = 1, area = "QMS" }, htmlAttributes: null) </li>@*//Initiator*@
                                                            <li style="font-size:14px;">@Html.ActionLink("Reverted Note to file", "NoteToFileList", "NoteToFile", routeValues: new { ShowType = 2, area = "QMS" }, htmlAttributes: null) </li>@*//Hod Revert*@
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString()))
                                        {
                                            <div id="dvnotehodmaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseNoteToFileHODChild1">
                                                <a class="card-title">
                                                    HOD Action
                                                </a>
                                            </div>
                                            <div id="collapseNoteToFileHODChild1" class=" collapse" data-parent="#accordionChildFile">
                                                <div class="card-body acc_boby float-left ">
                                                    <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                        <ul>
                                                            <li style="font-size:14px;"> @Html.ActionLink("Review Note to file", "NoteToFileList", "NoteToFile", routeValues: new { ShowType = 3, area = "QMS" }, htmlAttributes: null)</li>
                                                            <li style="font-size:14px;">@Html.ActionLink("Reverted Note to file", "NoteToFileList", "NoteToFile", routeValues: new { ShowType = 4, area = "QMS" }, htmlAttributes: null)</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            //HOD Review
                                        }
                                        @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.QA).ToString()))
                                        {
                                            <div id="dvnoteqamaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseNoteToFileQAChild1">
                                                <a class="card-title">
                                                    QA Action
                                                </a>
                                            </div>
                                            <div id="collapseNoteToFileQAChild1" class=" collapse" data-parent="#accordionChildFile">
                                                <div class="card-body acc_boby float-left ">
                                                    <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                        <ul>
                                                            <li style="font-size:14px;">@Html.ActionLink("Review Note to file", "NoteToFileList", "NoteToFile", routeValues: new { ShowType = 5, area = "QMS" }, htmlAttributes: null)</li>
                                                            <li style="font-size:14px;">@Html.ActionLink("Reverted Note to file", "NoteToFileList", "NoteToFile", routeValues: new { ShowType = 6, area = "QMS" }, htmlAttributes: null)</li>
                                                            @*
                                                                <li style="font-size:14px;">@Html.ActionLink("Verification List", "NoteToFileList", "NoteToFile", routeValues: new { ShowType = 9, area = "QMS" }, htmlAttributes: null)</li>*@
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString()))
                                        {
                                            <div id="dvnoteheadqamaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseNoteToFileHeadQAChild1">
                                                <a class="card-title">
                                                    HeadQA Action
                                                </a>
                                            </div>
                                            <div id="collapseNoteToFileHeadQAChild1" class=" collapse" data-parent="#accordionChildFile">
                                                <div class="card-body acc_boby float-left ">
                                                    <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                        <ul>
                                                            <li style="font-size:14px;">@Html.ActionLink("Review List", "NoteToFileList", "NoteToFile", routeValues: new { ShowType = 7, area = "QMS" }, htmlAttributes: null)</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="card-body acc_boby float-left ">
                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                <ul>
                                                    <li style="font-size:14px;">@Html.ActionLink("Note to file Main List", "NoteToFileList", "NoteToFile", routeValues: new { ShowType = 8, area = "QMS" }, htmlAttributes: null)</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!--End-->
                    <!-- #endregion -->
                    <!-- #region Errata -->
                    if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.Initiator).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.QA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.AdminRole).ToString())
                    )
                    {
                        <div id="dverratamaster" class="card-header header_col collapsed" data-toggle="collapse" href="#collapseOne1">
                            <a class="card-title">
                                Errata
                            </a>
                        </div>
                        <div id="collapseOne1" class=" collapse" data-parent="#accordion">
                            <div class="card-body acc_boby col-lg-12 float-left ">
                                <div id="accordionChildErrataList" class="accordion">
                                    <div class="card mb-0">
                                        @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.Initiator).ToString()))
                                        {
                                            <div id="dverratainitiatormaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseErrataChild1">
                                                <a class="card-title">
                                                    Initiator Action
                                                </a>
                                            </div>
                                            <div id="collapseErrataChild1" class=" collapse" data-parent="#accordionChildErrataList">
                                                <div class="card-body acc_boby float-left ">
                                                    <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                        <ul>
                                                            <li style="font-size:14px;">  @Html.ActionLink("Create Errata", "Errata_List", "Errata", routeValues: new { ShowType = 1, area = "QMS" }, htmlAttributes: null)</li>
                                                            <li style="font-size:14px;">@Html.ActionLink("Reverted Errata", "Errata_List", "Errata", routeValues: new { ShowType = 3, area = "QMS" }, htmlAttributes: null)</li>
                                                            <li style="font-size:14px;">@Html.ActionLink("Complete Errata", "Errata_List", "Errata", routeValues: new { ShowType = 15, area = "QMS" }, htmlAttributes: null)</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <!--End-->
                                        <!--HOD-->
                                        @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString()))
                                        {//HOD Review
                                            <div id="dverratahodmaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseHODChild1">
                                                <a class="card-title">
                                                    HOD Action
                                                </a>
                                            </div>
                                            <div id="collapseHODChild1" class=" collapse" data-parent="#accordionChildErrataList">
                                                <div class="card-body acc_boby float-left ">
                                                    <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                        <ul>
                                                            <li style="font-size:14px;"> @Html.ActionLink("Review Errata", "Errata_List", "Errata", routeValues: new { ShowType = 2, area = "QMS" }, htmlAttributes: null)</li>
                                                            <li style="font-size:14px;">@Html.ActionLink("Reverted Errata", "Errata_List", "Errata", routeValues: new { ShowType = 5, area = "QMS" }, htmlAttributes: null)</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <!--End-->
                                        <!--QA-->
                                        @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.QA).ToString()))
                                        {
                                            <div id="dverrataqamaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseQAChild1">
                                                <a class="card-title">
                                                    QA Action
                                                </a>
                                            </div>
                                            <div id="collapseQAChild1" class=" collapse" data-parent="#accordionChildErrataList">
                                                <div class="card-body acc_boby float-left ">
                                                    <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                        <ul>
                                                            <li style="font-size:14px;">@Html.ActionLink("Review Errata", "Errata_List", "Errata", routeValues: new { ShowType = 6, area = "QMS" }, htmlAttributes: null)</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        <!--Head QA-->
                                        @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString()))
                                        {
                                            <div id="dverrataheadqamaster" class="card-header header_col_child collapsed" data-toggle="collapse" href="#collapseHeadQAChild1">
                                                <a class="card-title">
                                                    Head QA Action
                                                </a>
                                            </div>
                                            <div id="collapseHeadQAChild1" class=" collapse" data-parent="#accordionChildErrataList">
                                                <div class="card-body acc_boby float-left ">
                                                    <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                        <ul>
                                                            <li style="font-size:14px;">@Html.ActionLink("Review Errata", "Errata_List", "Errata", routeValues: new { ShowType = 4, area = "QMS" }, htmlAttributes: null)</li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="card-body acc_boby float-left ">
                                            <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                <ul>
                                                    <li style="font-size:14px;">@Html.ActionLink("Errata Main List", "Errata_List", "Errata", routeValues: new { ShowType = 8, area = "QMS" }, htmlAttributes: null)</li>
                                                    @*<li style="font-size:14px;">@Html.ActionLink("Errata Singleton", "GetErrataSigletoneList", "Errata", routeValues: new { area = "QMS" }, htmlAttributes: null)</li>*@
                                                </ul>
                                            </div>
                                        </div>
                                        <!--End-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- #endregion -->
                    <!-- #region Audit -->
                    <!--Audit-->
                    if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditViewer).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditHOD).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditQA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditHeadQA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditAdmin).ToString()))
                    {
                        <div id="auditMaster" class="card-header header_col collapsed" data-toggle="collapse" href="#collapseSix">
                            <a class="card-title">Audit <span id="AuditCategoryTwo"></span></a>
                        </div>

                        <div id="collapseSix" class="collapse" data-parent="#accordion">
                            <div class="card-body acc_boby float-left ">
                                <div id="accordionChild" class="accordion">
                                    <div class="card mb-0">
                                        <div class="card-body acc_boby float-left ">
                                            <div class="nav_list nav_list-child   col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                <ul>
                                                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditAdmin).ToString()))
                                                    {
                                                        <li style="font-size:14px;">@Html.ActionLink("Audit Master Setup", "AuditMasterList", "AuditMaster", routeValues: new { area = "QMS" }, htmlAttributes: null)</li>
                                                        <li style="font-size:14px;">
                                                            @Html.ActionLink("Re-Assign Employee", "ReAssignEmployeeMain", "ReAssignEmployee",
                                                                                                    routeValues: new { area = "QMS" }, htmlAttributes: null)
                                                        </li>
                                                    }
                                                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditQA).ToString()))
                                                    {
                                                        <li style="font-size:14px;">
                                                            @Html.ActionLink("Create Audit Report", "CreateAuditReport", "AuditMain",
                                                                                                         routeValues: new { area = "QMS" }, htmlAttributes: null)
                                                        </li>
                                                    }
                                                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditQA).ToString()))
                                                    {
                                                        <li style="font-size:14px;">
                                                            @Html.ActionLink("Audit Pending List", "InitAuditReportList", "AuditMain",
                                                                                                         routeValues: new { listType = "Pending", area = "QMS" }, htmlAttributes: null)
                                                        </li>
                                                    }
                                                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditHeadQA).ToString()))
                                                    {
                                                        <li style="font-size:14px;">
                                                            @Html.ActionLink("Audit Review List", "InitAuditReportList", "AuditMain",
                                                                                                         routeValues: new { listType = "Review", area = "QMS" }, htmlAttributes: null)
                                                        </li>
                                                    }
                                                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditHOD).ToString()))
                                                    {
                                                        @*
                                                            <li style="font-size:14px;">
                                                                @Html.ActionLink("Assigened Observation Audit List", "InitAuditReportList", "AuditMain",
                                                                routeValues: new { listType = "Assigned", area = "QMS" }, htmlAttributes: null)
                                                            </li>*@
                                                        <li style="font-size:14px;">
                                                            @Html.ActionLink("Observation Assigned List", "InitAuditReportList", "AuditMain",
                                                                                                         routeValues: new { listType = "ObservationAssignedCompleteList", area = "QMS" }, htmlAttributes: null)
                                                        </li>
                                                    }
                                                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditQA).ToString()))
                                                    {
                                                        <li style="font-size:14px;">
                                                            @Html.ActionLink("Observation Response Review List", "InitAuditReportList", "AuditMain",
                                                                                                         routeValues: new { listType = "ObservationReviewCompleteList", area = "QMS" }, htmlAttributes: null)
                                                        </li>
                                                    }
                                                    @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditQA).ToString()) || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditHeadQA).ToString()))
                                                    {
                                                        <li style="font-size:14px;">
                                                            @Html.ActionLink("Observation Due and Over Due List", "InitAuditReportList", "AuditMain",
                                                                                                         routeValues: new { listType = "AllDueAndOverDueObservationsList", area = "QMS" }, htmlAttributes: null)
                                                        </li>
                                                    }
                                                    <li style="font-size:14px;">
                                                        @Html.ActionLink("Audit/Observation Report List", "InitAuditReportList", "AuditMain",
                                                                                                routeValues: new { listType = "AuditReportMain", area = "QMS" }, htmlAttributes: null)
                                                    </li>


                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.QA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditHOD).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditQA).ToString())
                    || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Audit_Roles.AuditHeadQA).ToString()))
                    {
                        <div id="reportsList" class="card-header header_col collapsed" data-toggle="collapse" href="#collapseoneRpt">
                            <a class="card-title">
                                Reports
                            </a>
                        </div>
                        <div id="collapseoneRpt" class=" collapse" data-parent="#accordion">
                            <div class="card-body acc_boby float-left ">
                                <div class="nav_list col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                    <ul>
                                        @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString()))
                                        {
                                            <li style="font-size:14px;">@Html.ActionLink("Change Control Note Report", "ReportList", "ChangeControl", routeValues: new { ShowType = 13, area = "QMS" }, htmlAttributes: null)</li>
                                            <li style="font-size:14px;">@Html.ActionLink("Incident Report", "IncidentReportList", "Incident", routeValues: new { ShowType = 17, area = "QMS" }, htmlAttributes: null)</li>
                                        }
                                        else if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.QA).ToString()))
                                        {
                                            <li style="font-size:14px;">@Html.ActionLink("Change Control Note Report", "ReportList", "ChangeControl", routeValues: new { ShowType = 23, area = "QMS" }, htmlAttributes: null)</li>
                                            <li style="font-size:14px;">@Html.ActionLink("Incident Report", "IncidentReportList", "Incident", routeValues: new { ShowType = 21, area = "QMS" }, htmlAttributes: null)</li>
                                        }
                                        else if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HOD).ToString()))
                                        {
                                            <li style="font-size:14px;">@Html.ActionLink("Change Control Note Report", "ReportList", "ChangeControl", routeValues: new { ShowType = 24, area = "QMS" }, htmlAttributes: null)</li>
                                            <li style="font-size:14px;">@Html.ActionLink("Incident Report", "IncidentReportList", "Incident", routeValues: new { ShowType = 22, area = "QMS" }, htmlAttributes: null)</li>
                                        }


                                        <li style="font-size:14px;"> @Html.ActionLink("CAPA Report", "CapaList", "Capa", routeValues: new { R = "CapaReportList", Area = "QMS" }, htmlAttributes: null)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- #endregion -->
                    <!--A
                    <!--End-->
                }<!--End With Module Roles Checking-->
            </div>
        </div>
    </div>
    <div class=" col-10 grid_area float-right" id="paragraph2">
        <!------button toogle---------->
        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6  padding-none float-left ">
            <div class="col-xl-1 col-md-1 col-sm-1 col-lg-1 col-1 padding-none float-left">
                <span class="closebtn">&#9776;</span>
                <span style="display:none;" class="closebtn1">&#9776;</span>
            </div>
        </div>
        <!------button toogle---------->
        @RenderBody()
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.btn-bootstrap-dialog').click(function () {
            var url = $('#bootstrapDialog').data('url');

            $.get(url, function (data) {
                $('#bootstrapDialog').html(data);
                $('#bootstrapDialog').modal('show');
            });
        });
        //$(document).on('show.bs.modal', '.modal', function (event) {
        //    var zIndex = 1040 + (10 * $('.modal:visible').length);
        //    $(this).css('z-index', zIndex);
        //    setTimeout(function () {
        //        $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
        //    }, 0);
        //});

    });
</script>

<script>
    $(document).ready(function () {
        $("collapseOne1").click(function () {
            //$("p").slideToggle();
});
    });
</script>

<script>
    function ReloadDashboard() {
        window.location.href = '@Url.Action("QMS_Dashboard", "DashBoard", routeValues: new { area = "QMS" })';
}
</script>
