﻿
@{
    ViewBag.Title = "QMS Un Authorised";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
    //TempData.Keep("EmpModuleRoles");
}
<title>@ViewBag.Title</title>
@*<h2>QMS UnAuthorised View</h2>*@
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 col-12  padding-none float-left">
    <h2 style="text-align:center">
        <span style="color:red;">You are not</span>
        <span style="color:crimson;">Authorised</span>
        <span style="color:red;">to view this Page.</span>
    </h2>
</div>
