﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="UMS_Master.master.cs" Inherits="AizantIT_PharmaApp.MasterPages.UMS_Master.UMS_Master" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="tms_bg">
   
    <form id="form1" runat="server">
         
        <link href="<%=ResolveUrl("~/Content/bootstrap.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/Content/font-awesome.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/AppCSS/Editor/site.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/AppCSS/src/richtext.min.css")%>" rel="stylesheet" />        
         <script src="<%=ResolveUrl("~/Scripts/jquery-3.2.1.min.js")%>"></script>      
            <link href="<%=ResolveUrl("~/Scripts/jquery-ui.css")%>" rel="stylesheet" />
            <link href="<%=ResolveUrl("~/Content/font-awesome.css")%>" rel="stylesheet" /> 
         <link href="<%=ResolveUrl("~/Content/bootstrap.css")%>" rel="stylesheet" />
         <link href="<%=ResolveUrl("~/Scripts/jquery-ui.css")%>" rel="stylesheet" />    
                <link href="<%=ResolveUrl("~/AppCSS/UserLogin/UserProfile.css")%>" rel="stylesheet" />
         <script src="<%=ResolveUrl("~/Scripts/bootstrap.min.js")%>"></script>      
         <script src="<%=ResolveUrl("~/Scripts/moment.min.js")%>"></script>
        <link href="<%=ResolveUrl("~/Scripts/select2-4.0.3/dist/css/select2.min.css")%>" rel="stylesheet" />
        <script src="<%=ResolveUrl("~/Scripts/select2-4.0.3/dist/js/select2.min.js")%>"></script>  
        <script src="<%=ResolveUrl("~/Scripts/bootstrap-datetimepicker.js")%>"></script> 
        <script src="<%=ResolveUrl("~/Scripts/bootstrap-datetimepicker.min.js")%>"></script>     
         <link href="<%=ResolveUrl("~/AppCSS/AppStyles.css")%>" rel="stylesheet" />
         <script src="<%=ResolveUrl("~/Scripts/DataTables-1.10.16/media/js/jquery.dataTables.min.js")%>"></script>     
     
        <link href="<%=ResolveUrl("~/Scripts/DataTables-1.10.16/media/css/jquery.dataTables.min.css")%>" rel="stylesheet" />      
        <link href="<%=ResolveUrl("~/AppCSS/LeftNaviStyle.css")%>" rel="stylesheet" />
        <link href="<%=ResolveUrl("~/AppCSS/Calender.css")%>" rel="stylesheet" />
        <script src="<%=ResolveUrl("~/AppScripts/GlobalScripts.min.js")%>"></script>
           

        <style>
            #showmenu {
                box-shadow: 0px 0px 10px 2px #cecccc73;
                background-color: #cecccc73;
            }

            .borderTopBottomStyle {
                border-top-color: #4b4c4c;
                border-top-style: solid;
                border-top-width: 4px;
                border-bottom-color: rgba(76, 77, 77, 0.47843137254901963);
                border-bottom-style: solid;
                border-bottom-width: 0.1px;
                margin-bottom: 10px;
            }
        </style>

        <%--<nav>
            <div class=" borderTopBottomStyle">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div style="margin: 0px; padding: 0px">
                        <a href="#" class="navbar-left" style="margin: 0px; padding: 0px; background-color: white;">
                            <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/Landing/logo.png" Style="margin: 0px; padding: 0px;" class="navbar-brand" />
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <asp:LinkButton ID="lnkUser" href="#" runat="server" Font-Bold="true"></asp:LinkButton></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user" style="color: black"></i><span class="caret" style="color: black"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="<%=ResolveUrl("~/Dashboards/Home.aspx")%>">Home</a></li>
                                <li><a href="<%=ResolveUrl("~/UserManagement/MyProfile.aspx?Page=UMS")%>">My Profile</a></li>
                                <li>
                                    <asp:LinkButton ID="lnkLogOut" runat="server" OnClick="lnkLogOut_Click">Log Out</asp:LinkButton></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>--%>
        <header class="col-lg-12 padding-none" id="myHeader">
			<div class="logo_landing col-lg-12 padding-none">
				<div class="container-fluid padding-none">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<a href="<%=ResolveUrl("~/Dashboards/Home.aspx")%>">
							<img src="<%=ResolveUrl("~/Images/Landing/logo_landing.png")%>" style="margin-top:6px;"alt="Smiley face"/>
						</a>
               
					</div>
					<div class="logo_bg pull-right col-lg-8 col-md-8 col-sm-8 padding-none">
						<div class="landing_links">
							<ul>
								<li	class=""><a href="<%=ResolveUrl("~/Dashboards/Home.aspx")%>" title="Home" class="home "></a></li>
								<li	class=""><a href="<%=ResolveUrl("~/UserManagement/MyProfile.aspx")%>" title="My Profile" class="profile "></a></li>
                               <li><asp:LinkButton ID="lnkUser" href="#" runat="server" class="username" data-toggle="tooltip" Font-Bold="true"></asp:LinkButton></li>
								<li	class=""><a href="<%=ResolveUrl("~/UserLogin.aspx")%>" title="Logout" class="logout"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
            <div class=" col-lg-12 padding-none content ">
			<div class=" col-lg-12 outer_border">
					<div  class="col-xs-2 nav_panel" id="paragraph1">
						<div class="panel-group padding-none" id="accordion">
                             <div class="panel panel-default">
							<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
							  <h4 class="panel-title">
								<a class="accordion-toggle"  id="NavLnkEmployee">
								 Employee
								</a>
							  </h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse ">
							  <div class="panel-body">
								<div class="nav_list col-lg-12 padding-none">
									<ul>
										<li><a class="child_acc" href="<%=ResolveUrl("~/UserManagement/Employee.aspx")%>" id="NavLnkCreateEmployee">Create Employee</a></li>
										<li><a class="child_acc" href="<%=ResolveUrl("~/UserManagement/EmployeeList.aspx")%>" id="NavLnkEmployeeList">Employee List</a></li>
									</ul>
								</div>
							  </div>
							</div>
						  </div>
						  <div class="panel panel-default">
							<div class="panel-heading"  >
							  <h4 class="panel-title">
								<a class="" data-parent="#accordion"  id="NavLnkDepartment"  href="<%=ResolveUrl("~/UserManagement/Department/DepartmentList.aspx")%>">
								 Departments List
								</a>
							  </h4>
							</div>
							<%--<div id="collapseTwo" class="panel-collapse collapse">
							  <div class="panel-body">
								<div class="nav_list col-lg-12 padding-none">
									<ul>
							
										 <li><a href="<%=ResolveUrl("~/UserManagement/Department/DepartmentList.aspx")%>" id="NavLnkDeptList">Department List</a></li>
									</ul>
								</div>
							  </div>
							</div>--%>
						  </div>
						  <div class="panel panel-default">
							<div class="panel-heading"  >
							  <h4 class="panel-title">
								<a class=""  id="NavLnkDesignation"  data-parent="#accordion" href="<%=ResolveUrl("~/UserManagement/Designation/DesignationList.aspx")%>">
								  Designation List
								</a>
							  </h4>
							</div>
							<%--<div id="collapseThree" class="panel-collapse collapse">
							  <div class="panel-body">
								<div class="nav_list col-lg-12 padding-none">
									 <ul>
				                    
				                        <li><a  id="NavLnkDesignationList">Designation List</a></li>
				                    </ul>
								</div>
							  </div>
							</div>--%>
						  </div>
						  <div class="panel panel-default" hidden="hidden">
							<div class="panel-heading">
							  <h4 class="panel-title">
								<a class=""  data-parent="#accordion"  id="NavLnkActiveEmp"  href="<%=ResolveUrl("~/UserManagement/UnlockEmployee.aspx")%>">
								Un-Lock Employee
								</a>
							  </h4>
							</div>
						  </div>
						  <div class="panel panel-default">
							<div class="panel-heading">
							  <h4 class="panel-title">
								<a class=""  data-parent="#accordion"  id="NavLnkEmpRoles" href="<%=ResolveUrl("~/UserManagement/EmpRoles.aspx")%>">
								Assign Employee Roles
								</a>
							  </h4>
							</div>
						  </div>
						  
						  <div class="panel panel-default">
							<div class="panel-heading" data-toggle="collapse"   data-parent="#accordion" href="#collapsefive">
							  <h4 class="panel-title">
								<a class="accordion-toggle"  id="NavLnkAppStarts">
								 SetUp
								</a>
							  </h4>
							</div>
							<div id="collapsefive" class="panel-collapse collapse">
							  <div class="panel-body">
								<div class="nav_list col-lg-12 padding-none">
									<ul>
										 <li><a class="child_acc" href="<%=ResolveUrl("~/UserManagement/EmployeeCode.aspx") %>" id="NavLnkEmpCode">Create EmployeeCode</a></li>
                                         <li><a class="child_acc" href="<%=ResolveUrl("~/UserManagement/SecurityProfile.aspx") %>" id="NavLnkEmpCode1">Security Profile</a></li>
									</ul>
								</div>
							  </div>
							</div>
						  </div>

                        </div>
                    </div>               
                                              
                <%--<li><a href="#"><i class="fa fa-flag"></i>Create Countries & States</a></li>--%>
                <%--<li><a href="#"><i class="fa fa-key"></i>Security Profile</a></li>--%>

                <%--<li><asp:LinkButton ID="lnkLogOut" OnClick="lnkLogOut_Click" runat="server"><i class="fa fa-sign-out"></i>Log Out</asp:LinkButton></li>--%>

                <%--<li><a href="#"><i class="fa fa-laptop"></i>Create Departments <i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li><a href="#"><i class="fa fa-laptop"></i><i class="fa fa-caret-down"></i></a>
                                <ul>
                                    <li><a href="#">&nbsp; &nbsp; Service</a></li>
                                    <li><a href="#">Service</a></li>
                                </ul>
                            </li>
                            <li>                            
                        </ul>
                    </li>--%>
          
       <div class=" col-xs-10 aside_right padding-none pull-right" id="paragraph2">
        
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
           
        </asp:ContentPlaceHolder>
           
           </div>
            </div>
                </div>

        <!---Error popup--->
    <div id="ModalError" class="modal error_popup" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body" style="padding: 0px">
                    <div class="col-lg-12 padding-none" style="padding: 10px">
                        <div class="error_icon col-lg-2">
                            <img src="<%=ResolveUrl("~/Images/CustomAlerts/error.png")%>" style="width: 40px" alt="Smiley face" />
                        </div>
                        <p id="msgError" class="col-lg-10" style="padding: 10px 12px; max-height: 300px; overflow-x: auto; font-family: arial; color: #d94032; font-weight: bold;" runat="server"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btnErrorOk" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Error Popup-->

    <!-- Success content-->
    <div id="ModalSuccess" class="modal success_popup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Success</h4>
                </div>
                <div class="modal-body" style="padding: 0px">
                    <div class="col-lg-12 padding-none" style="padding: 10px">
                        <div class="success_icon col-lg-2">
                            <img src="<%=ResolveUrl("~/Images/CustomAlerts/success.png")%>" alt="Smiley face" />
                        </div>
                        <p id="msgSuccess" class="col-lg-10" style="padding: 4px 0px; max-height: 128px; overflow-x: auto;" runat="server"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btnSuccessOk" data-dismiss="modal" runat="server">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Success content-->

    <!-- Information content-->
    <div id="ModalInfo" class="modal success_popup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-headerinfo">
                    <h4 class="modal-title">Information</h4>
                </div>
                <div class="modal-body" style="padding: 0px">
                    <div class="col-lg-12 padding-none" style="padding: 10px">
                        <div class="success_icon col-lg-2">
                            <img src="<%=ResolveUrl("~/Images/CustomAlerts/Info.jpg")%>" style="width: 40px" alt="Smiley face" />
                        </div>
                        <p id="msgInfo" class="col-lg-10" style="padding: 4px 0px; max-height: 128px; overflow-x: auto;" runat="server"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btnInfoOk" data-dismiss="modal" runat="server">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Information content-->

    <!-- confirmation content-->
    <div id="ModalConfirm" class="modal confirmation_popup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body" style="padding: 0px">
                    <div class="col-lg-12 padding-none" style="padding: 10px">
                        <div class="success_icon col-lg-2">
                            <img src="<%=ResolveUrl("~/Images/CustomAlerts/confirm.png")%>" style="width: 50px" alt="Smiley face" />
                        </div>
                        <p id="msgConfirm" runat="server" class="col-lg-10" style="padding: 4px 0px; max-height: 128px; overflow-x: auto;"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btnConfirmYes">Yes</button>
                    <button type="button" class="btn btnConfirmNo" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>
    <!-- End confirmation content-->

    <!-- Warning content-->
    <div id="ModalWarning" class="modal warning_popup" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body" style="padding: 0px">
                    <div class="col-lg-12 padding-none" style="padding: 10px">
                        <div class="success_icon col-lg-2">
                            <img src="<%=ResolveUrl("~/Images/CustomAlerts/warning.png")%>" style="width: 50px" alt="Smiley face" />
                        </div>
                        <p id="msgWarning" class="col-lg-10" runat="server" style="padding: 4px 0px; max-height: 128px; overflow-x: auto; font-family: arial; color: #d94032; font-weight: bold;"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btnWarningOk" data-dismiss="modal">Ok</button>
                </div>
            </div>

        </div>
    </div>
    <!-- End Warning content-->
          <script>
              $("#showmenu").click(function (e) {
                  //e.preventDefault();
                  $("#menu").toggleClass("show");
              });
              $("#menu a").click(function (event) {
                  //event.preventDefault();
                  if ($(this).next('ul').length) {
                      $(this).next().toggle('fast');
                      $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
                  }
              });
              $('.closebtn').on('click', function () {
                  $('#paragraph2').addClass('col-xs-12');
                  $('#paragraph2').removeClass('col-xs-10');
                  $('#paragraph1').hide();
                  $('.closebtn1').show();
                  $('.closebtn').hide();
              });
              $('.closebtn1').on('click', function () {
                  $('#paragraph2').addClass('col-xs-10');
                  $('#paragraph2').removeClass('col-xs-12');
                  $('#paragraph1').show();
                  $('.closebtn').show();
                  $('.closebtn1').hide();
              });
</script>

<script> 
              $(document).ready(function () {
                  $(".SearchDropDown").select2();
              });
              var prm = Sys.WebForms.PageRequestManager.getInstance();
              prm.add_endRequest(function () {
                  $(document).ready(function () {
                      $(".SearchDropDown").select2();
                  });
              });
</script>   

 <script>
     // for username length
     function UsernameLength(UserName) {
         if (UserName.length > 17) {
             var mdfUserName = UserName.substr(0, 14);
             document.getElementById('lnkUser').innerHTML = mdfUserName + "...";
         }
         else {
             document.getElementById('lnkUser').innerHTML = UserName;
         }
     }
    </script>
         <script type="text/javascript">
             $(document).ready(function () {
                 $('[data-toggle="tooltip"]').tooltip({
                     placement: 'bottom'
                 });
             });
</script>


 </form>
</body>
</html>
