﻿@model AizantIT_PharmaApp.Areas.AdminSetup.Models.GlobalSetupBO.ProductHistoryView

    @Html.HiddenFor(a => a.DosageFormID, htmlAttributes: new { id = "txtDosageID" })
    @Html.HiddenFor(c => c.Comments, htmlAttributes: new { id = "hdnComments" })

    <div>
        <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
            <table id="historyTable" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
                <thead>
                    <tr id="tablerow">
                        <th>PKID</th>
                        <th>S.NO</th>
                        <th>Action</th>
                        <th>Role</th>
                        <th>Action By</th>
                        <th>Action Date</th>
                        <th>CommentLength</th>
                        <th>Comments</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <script>
    var Clength = "";
        $('#historyTable').DataTable({
            columns:
                [
                    { 'data': 'PKID' },//0
                    { 'data':'RowNumber' },//1
                    { 'data':'AuditActionName'},//2
                    { 'data':'RoleName'},//3
                    { 'data':'FirstName'},//4
                    {'data': 'ActionDate' },//5
                    { 'data': 'CommentLength'},//6
                    {

                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            if (o.CommentLength == 1) {
                                return '<td> <div class="more">' + o.Comments + '</div></td>';
                            }
                            else {
                                return o.Comments;
                            }
                        }
                    }//7
                ],
            "order": [[0, "desc"]],
            "bFilter": true,
            "aoColumnDefs": [{ className: "dt-body-left", "targets": [1, 2, 3, 4, 5, 6] }, { "orderable": false, "targets": [0, 1] }, { "targets": [0, 1, 6], "visible": false }, { "orderable": false, "targets": [0,1,2,3, 4, 5] }],
            "sAjaxSource": "@Url.Content("~/AdminSetup/Product/EachHistoryDetails")",
            "fnServerData": function (sSource, aData, fnCallback)
            {
                Clength = aData.Commentlength;
                aData.push({ "name": "ID", "value":@ViewBag.DosageList});
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aData,
                    "success": function (result) {
                        if (result.msgType == "error")
                        {
                            custAlertMsg(result.msg, "error");
                        }
                        else
                        {
                            fnCallback(result);
                            ShowType();
                        }
                    },
                });
            }
        });
    </script>
    <!--Show More and Less-->
    <script>
    function ShowType() {
        var showChar = 250;
        var ellipsestext = "...";
        var moretext = "Show More";
        var lesstext = "Show less";
        $('.more').each(function () {
            var content = $(this).html();
            if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar - 1, content.length - showChar);
                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
                $(this).html(html);
            }
        });
        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    }
    </script>



