﻿<link href=@Url.Content("~/Content/bootstrap-theme.css") rel="stylesheet" />
<link href=@Url.Content("~/Content/bootstrap-fileinput/css/fileinput.css") rel="stylesheet" />
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/fileinput.js")></script>
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/theme.js")></script>
@Html.Hidden("hdnCAPACompleteFileUploadCount")

<!--CAPA Complete File Upload -->
<div id="myModalCapaCompltFileUpload" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg  ">
        <!-- Modal content-->
        <div class="modal-content padding-none">

            <div class="modal-header">
                <h4 class="modal-title"> File Upload</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form enctype="multipart/form-data" autocomplete="off">
                <div class="modal-body Modalpopup-Scroll">
                    <div class="">
                        @Html.Label("Browse File", htmlAttributes: new { @class = "control-label col-md-2 required" })
                        <div class="col-md-10 file-loading">
                            <input id="fuCapaCompltResponse" class="custom-file-input" type="file" multiple accept="application/msword,text/plain, application/pdf, image/*">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


<!--CAPA File Upload View -->
<div id="MyModelCAPACompletedFileView" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="min-width:77%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">View File</h4>
                <button type="button" class="close" onclick="CloseCompletefileview();">&times;</button>
            </div>
            <div class="modal-body fileModalpopup-Scroll">
                <div class="embed-responsive embed-responsive-16by9" id="dvfileframeCapaCmplt">

                </div>
            </div>
        </div>
    </div>
</div>

<!--CAPA Complete Fill Upload List-->
<script>
        var oCCNCloseFileuploadList;
        function LoadCAPACompleteFileUploadList(hideCAPAColumns = [])
        {
            var Status="C_Complt";
            $('#tblCapaCompltFileUploadList').wrap('<div class="dataTables_scroll" />');
            var oCCNCloseFileuploadList = $('#tblCapaCompltFileUploadList').DataTable({
                columns: [
                    { 'data': 'RowNumber' }, //0
                    { 'data': 'CapaFileUniqueID' },//1
                    { 'data': 'FileNameComplet' },//2
                    { 'data': 'FileTypeComplet' },//3
                    {
                        "mData": null,       //4 View
                        "bSortable": false,
                        "mRender": function (o) {
                            { return '<a class="view" href="#" title="View"  onclick=ToViewCAPACompletdDocuments(this,' + o.CapaFileUniqueID + ')>' + '' + '</a>'; }
                        }
                    },
                    {
                        "mData": null,       //5 Delete
                        "bSortable": false,
                        "mRender": function (o) {
                            { return '<a class="delete" title="Remove" onclick=DeletedCAPACompltFileUploadDocuments(' + o.CapaFileUniqueID + ')>' + '' + '</a>'; }
                        }
                    },
                ],
                "scrollY": "335px",
                "paging": true,
                "order": [1, "desc"],
                "bDestroy": true,
                "lengthMenu": [[05, 10, 15, 100], [05, 10, 15, 100]],
                "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] }, { className: "textAlignCenter", "targets": [4,5] },
                    { "targets": hideCAPAColumns, "visible": false, "searchable": false },
                     {
                    "targets": [1,3],
                    "visible": false,
                    "searchable": false
                    }, { "orderable": false, "targets": [0] }],
                "bAutoWidth": true,
                "sAjaxSource": "@Url.Content("~/QMS/CAPA/GetFileUploadList")",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    aoData.push({ "name": "CapaID", "value":@Model.CAPAID},
                        {"name":"Status","value":Status});
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else{
                                if (result.hasError==true){
                                    custAlertMsg(result, "error");
                                }
                                else {
                                    fnCallback(result);
                                    $(".dataTables_filter").css({ "display": "none" });
                                    $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                }
                            }
                            $("#tblCapaCompltFileUploadList").DataTable().columns.adjust();
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        }


</script>
<!--Files View Function-->
<script>
        function ToViewCAPACompletdDocuments(doubleclick, FileID) {
            ShowPleaseWait('show');
        $(doubleclick).attr("onclick", "").unbind("click");
        var dvShow = document.getElementById("dvfileframeCapaCmplt");
        dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=6&FID=" + FileID + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
        $("#MyModelCAPACompletedFileView").modal('show');
        ShowPleaseWait('hide');
        $(doubleclick).attr("onclick", "ToViewCAPACompletdDocuments(this," + FileID + ")").unbind("click");

    }
</script>

<!--Delete Files-->
<script>
    var Uniqueid = 0;
    var DeleteStatus;

    function DeletedCAPACompltFileUploadDocuments(ID) {
        DeleteStatus = "C_Complt";
        Uniqueid = ID;
        custAlertMsg("Are you sure you want to Remove this record?", "confirm", "funDeleteCAPACompltFileUploadDocuments();")
    }
    function funDeleteCAPACompltFileUploadDocuments() {

        errors = [];
        if (Uniqueid != '') {
            ShowPleaseWait('show');
            $.ajax({
                url: '/QMS/CAPA/DeleteCapaFileUploadDocuments',
                data: { 'UniquePKID': Uniqueid, 'RoleType': DeleteStatus },
                type: 'Post',
                success: function (ResultJson) {
                    ShowPleaseWait('hide');
                    if (ResultJson.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (ResultJson.hasError == false) {

                            errors.push("File Removed Successfully.");
                            custAlertMsg(errors.join("<br/>"), "success", "ReloadtblCapaCompltFileUploadList();");
                            $('#ModalConfirm').modal('hide');
                        }
                        else {
                            errors.push(ResultJson.data);
                            custAlertMsg(errors.join("<br/>"), "error", "ReloadtblCapaCompltFileUploadList();");
                            return false;
                        }
                    }
                }
            });
        }
    }
</script>
<!-- #end region -->

<script>
    var AllCCNCloseFilesUploaded=0;
    $("#fuCapaCompltResponse").fileinput({

             'theme': 'explorer-fa',
             'uploadUrl': '@Url.Content("~/QMS/CAPA/BindFileUploadForCAPAComplet")',
             'showUpload': true,
             'showCancel': false,
             'showClose':true,
             'maxFileCount': 5,
             'maxFileSize':10000,
             'required': true,
             'overwriteInitial': false,
             'allowedFileExtensions': ['pdf'],
             'initialPreviewAsData': true,
             'uploadExtraData': function () {
                 var fileExtraData = {
                      "CAPAID" : @Model.CAPAID,
                 }
                 return fileExtraData;
             },
             'browseOnZoneClick': true,
             'fileActionSettings': {
                showUpload: false,
                showRemove: true
             }
    });


    $('#fuCapaCompltResponse').on('fileuploaded', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;

        if (response.msg != null) {
            if (response.msgRedirecttoLoginPage) //Singal Instance
            {
                window.location.href = '/UserLogin.aspx';
            }
            else{
                AllCCNCloseFilesUploaded=AllCCNCloseFilesUploaded+1;
                console.log(AllCCNCloseFilesUploaded);
                if(response.msgType!="Exceptionerror"){
                    if (AllCCNCloseFilesUploaded == parseInt($('#hdnCAPACompleteFileUploadCount').val()))
                    {
                        switch (response.msgType) {
                            case "error":
                                custAlertMsg(response.msg, "error",'clearResponseFileInput()');
                                break;
                            case "info":
                                custAlertMsg(response.msg, "info",'clearResponseFileInput()');
                                break;
                            case "success":
                                custAlertMsg(response.msg, 'success', 'clearResponseFileInput()');

                                break;
                        }
                    }
                }
                else{
                    custAlertMsg(response.msg, "error",'clearResponseFileInput()');

                }
            }
        }
    });

    function clearResponseFileInput() {
        ReloadtblCapaCompltFileUploadList();
        $("#myModalCapaCompltFileUpload").modal('hide');
        $("#divtblCapaCompltFileUploadList").show();
        $('#fuCapaCompltResponse').fileinput('clear');
        ClearTempDatainController();

    }
    $('#fuCapaCompltResponse').on('filepreupload', function (event, data, previewId, index, jqXHR) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        var fileNamesExceedCount = 0;
        $('.file-preview-thumbnails .file-preview-frame.explorer-frame.kv-preview-thumb').each(function () {
            if ($(this).attr('title').length > 200) {
                fileNamesExceedCount++;
                $(this).find('.explorer-caption').css("color", "red");
            }
        });
        if (fileNamesExceedCount > 0) {
            return {
                message: fileNamesExceedCount + ' file name exceeds 200 characters'
            };
        }
        AllCCNCloseFilesUploaded = 0;
        $('#hdnCAPACompleteFileUploadCount').val(data.filescount);
    });
    function ClearTempDatainController(){
        $.ajax({
            url: '@Url.Content("~/QMS/Capa/RemoveTempData")',
            type: "GET",
            dataType: "JSON",
            data: { },
            success:   function(aiz)
            {
                if (aiz.hasError == false) {
                }
                else {
                    custAlertMsg(aiz.data, "error");
                    return false;
                }
            }
        });
    }
    function ReloadtblCapaCompltFileUploadList() {
        LoadCAPACompleteFileUploadList();
    }
    function CloseCompletefileview() {
        $("#MyModelCAPACompletedFileView").modal('hide');
    }
</script>