﻿@model QMS_BO.QMS_CAPABO.CapaModel
@{ int rowNo = 0; }
<style>
    .Modalpopup-Scroll {
        max-height: 600px;
        overflow-y: auto;
    }
</style>
<div id="myModalCAPAManage" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog  modal-dialog-centered" style="max-width:80%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">CAPA Manage</h4>
                <button type="button" class="close" onclick="CloseManage();">&times;</button>
            </div>
            <div class="modal-body Modalpopup-Scroll style-3">
                <div id="accordionConent" class="accordion">
                    <div class="card mb-0 col-12 top">
                        <div class="card-header panel-heading_title" data-toggle="collapse" href="#collapseOneSub" data-parent="#accordionConent">
                            <a class="card-title collapsed">
                                View CAPA Report
                            </a>
                        </div>
                        <div id="collapseOneSub" class="collapse show" data-parent="#accordionConent">
                            <div class="card-body col-12 float-left grid_panel_hod bottom">
                                <div class="col-12 ">
                                    <div class="col-12 float-left  info_bg bottom">

                                        <div class="col-6 float-left padding-left_div">
                                            <label class="  custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 col-6"> CAPA Number  </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.CAPA_Number, new { htmlAttributes = new { @class = "edit_textl", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left padding-left_div">
                                            <label class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6"> Department  </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.Department, new { htmlAttributes = new { @id = "DeptName", @class = " edit_text" } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view" sty>
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Quality Event Number </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.QualityEvent_Number, new { htmlAttributes = new { @class = "edit_text " } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view" sty>
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Type of Action </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.ActionPlanName, new { htmlAttributes = new { @class = "edit_text " } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Created Date</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.CAPA_Date, new { htmlAttributes = new { @class = "edit_text " } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Quality Event Type</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.QualityEventName, new { htmlAttributes = new { @class = "edit_text " } })
                                            </div>
                                        </div>
                                        <div class="col-12 float-left custom_text_view" sty>
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-4 col-sm-6 col-lg-4  col-6">Responsible Person</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "edit_text " } })
                                            </div>
                                        </div>
                                        <div class="col-12 float-left custom_text_view" sty>
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-4 col-sm-6 col-lg-4  col-6">Action Description</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.Capa_ActionDesc, new { htmlAttributes = new { @class = "edit_text " } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view" sty>
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Target Date</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.TargetDate, new { htmlAttributes = new { @class = "edit_text " } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view" sty>
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Verification Status (Yes/No) </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.Verified_YesOrNO, new { htmlAttributes = new { @class = "edit_text " } })
                                            </div>
                                        </div>
                                        <div class="col-12 float-left custom_text_view" sty>
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-4 col-sm-6 col-lg-4  col-6">QA Reviewer</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.Assigned_QA, new { htmlAttributes = new { @class = "edit_text " } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12 float-left top bottom">
                    <div id="accordioncontent" class="accordion">
                        <div class="card mb-0">
                            <div class="card-header panel-heading_title " data-toggle="collapse" href="#collapsetwoSub">
                                <a class="card-title collapsed">
                                    CAPA Users
                                </a>
                            </div>

                            <div id="collapsetwoSub" class="collapse show" data-parent="">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none grid_panel_hod ">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12">
                                        <table id="tblCAPAAdminMangeRoles" class="table datatable_cust table-striped table-bordered  no-footer" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>RoleNames</th>
                                                    <th style="display:none">Selected Values</th>
                                                    <th>Employee</th>
                                                    <th style="width:140px">Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!--Get History Data-->
                                                @foreach (QMS_BO.QMS_CAPABO.ManageAdmin item in ViewBag.GetDetailsAdminMange)
                                                {
                                                <tr>
                                                    <td class="GetSerialNo">@(rowNo += 1)</td>
                                                    <td style="display:none" class="selectedRolesID">@item.ManageSelectedEmp</td>
                                                    <td class="RoleNameforManage">@item.ManageRoleName</td>
                                                    <td class="text-center" style="width:400px">
                                                        @if (((@Model.CurrentStatus == "18" || @Model.CurrentStatus == "17") && item.ManageRoleName == "HOD")
                                                           || ((@Model.CurrentStatus == "1" || @Model.CurrentStatus == "11" || @Model.CurrentStatus == "4"  ||
                                                            @Model.ReminderStatus1 == 6 || @Model.ReminderStatus2 == 13 || (@Model.CurrentStatus == "21" || (@Model.CurrentStatus == "3" && Model.ReminderStatus1 == 0)
                                                            || (@Model.CurrentStatus == "3" && Model.ReminderStatus1 == 8 && Model.ReminderStatus2 == 0)
                                                            && (ViewBag.GetVerificationStatus == 0|| ViewBag.GetVerificationStatus == 3|| ViewBag.GetVerificationStatus == 2))) && item.ManageRoleName == "QA")
                                                           || ((@Model.CurrentStatus == "16" || @Model.CurrentStatus == "9" || ViewBag.GetVerificationStatus == 1 || ViewBag.GetVerificationStatus == 4) && item.ManageRoleName == "HeadQA")
                                                           || ((@Model.CurrentStatus == "2" || @Model.CurrentStatus == "3") && item.ManageRoleName == "User")
                                                           || ((Model.CurrentStatus=="3") && (@Model.ReminderStatus1 == 5 || @Model.ReminderStatus1 == 7) && item.ManageRoleName == "Reminder1")
                                                           || ((Model.CurrentStatus == "3") && (@Model.ReminderStatus2 == 12 || @Model.ReminderStatus2 == 14) && item.ManageRoleName == "Reminder2"))
                                                        {
                                                    @Html.DropDownList("IDAssignedRoleID", item.ddlManageList as List<SelectListItem>
                                                      ,
                                                      htmlAttributes: new
                                                      {
                                                          @class = " col-lg-6 ddlRolesUSerDropdown padding-none selectpicker1 drop_down",
                                                          @disabled = "disabled",
                                                      })
                                                        }
                                                        else
                                                        {
                                                            if (@item.SelectedEmployeeName != null)
                                                            {
                                                                @item.SelectedEmployeeName
                                                            }
                                                            else
                                                            {
                                                                        <label> N/A </label>
                                                            }
                                                        }

                                                    </td>
                                                    <td class="text-center" style="width:300px">
                                                        @if (((@Model.CurrentStatus == "18" || @Model.CurrentStatus == "17") && item.ManageRoleName == "HOD")
                                                        || ((@Model.CurrentStatus == "1" || @Model.CurrentStatus == "11" || @Model.CurrentStatus == "4"
                                                         || @Model.ReminderStatus1 == 6 || @Model.ReminderStatus2 == 13 || (@Model.CurrentStatus == "21" || (@Model.CurrentStatus == "3" && Model.ReminderStatus1 == 0)
                                                         || (@Model.CurrentStatus == "3" && Model.ReminderStatus1 == 8 && Model.ReminderStatus2 == 0)
                                                         && (ViewBag.GetVerificationStatus == 0 || ViewBag.GetVerificationStatus == 3 || ViewBag.GetVerificationStatus == 2))) && item.ManageRoleName == "QA")
                                                        || ((@Model.CurrentStatus == "16" || @Model.CurrentStatus == "9" || ViewBag.GetVerificationStatus == 1 || ViewBag.GetVerificationStatus == 4) && item.ManageRoleName == "HeadQA")
                                                        || ((@Model.CurrentStatus == "2" || @Model.CurrentStatus == "3") && item.ManageRoleName == "User")
                                                        || ((Model.CurrentStatus == "3") && (@Model.ReminderStatus1 == 5 || @Model.ReminderStatus1 == 7) && item.ManageRoleName == "Reminder1")
                                                        || ((Model.CurrentStatus == "3") && (@Model.ReminderStatus2 == 12 || @Model.ReminderStatus2 == 14) && item.ManageRoleName == "Reminder2"))

                                                        {

                                                        <a class="btnCAPARolesEdit edit_icon_feed Edit Edit_btns" title="Edit" style="margin-left:0%;"></a>
                                                        <button type="button" class="btnCAPARolesUpdate   btn btn-revert_popup" style="margin-bottom:0px;display:none">Update</button>
                                                        <button type="button" class="btnCAPARolesCancel   btn btn-cancel_popup" style="margin-bottom:0px;display:none">Cancel</button>
                                                        }
                                                        else
                                                        {
                                                        <label>N/A</label>
                                                        }
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12 bottom float-right padding-right_div">
                    <div class="col-12 float-right padding-right_div">
                        <button  id="btnDeptCancel" class="btn btn-cancel_popup float-right" onclick="CloseManage();" tabindex="10">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="MyModelReAssigneComments" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">
                    Comments
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                        <label for="username" class="custom_label col-form-label required">Comments</label>
                        <div class="col-12 padding-none">
                            <textarea type="text" class="col-12  padding-none  drop_down selectpicker" name="name" id="ReassignComments" placeholder="Comments" rows="4" maxlength="500"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button type="button" class="btn btn-signup_popup" id="btnAProve" onclick="ModifiedSubmitAction()">Submit</button>
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.selectpicker1').selectpicker({
        liveSearch: true,
        showSubtext: true,
        size: 7
    });
</script>
<script>

    function DefaultAdminManageTableDisplay() {

        $("#tblCAPAAdminMangeRoles .btnCAPARolesUpdate").hide();
        $("#tblCAPAAdminMangeRoles .btnCAPARolesCancel").hide();
        $("#tblCAPAAdminMangeRoles .btnCAPARolesEdit").show();
        $('#tblCAPAAdminMangeRoles .ddlRolesUSerDropdown').attr("disabled", "disabled");
        $("#tblCAPAAdminMangeRoles .ddlRolesUSerDropdown").prop('disabled', true).css("color", "disabled");
        $("#tblCAPAAdminMangeRoles .ddlRolesUSerDropdown").selectpicker("refresh");
    }

</script>
<script>
    $('.btnCAPARolesEdit').click(function () {

        DefaultAdminManageTableDisplay();

        $(this).closest("tr").find(".btnCAPARolesUpdate").show();
        $(this).closest("tr").find(".btnCAPARolesCancel").show();
        $(this).closest("tr").find(".btnCAPARolesEdit").hide();
        $(this).closest("tr").find(".ddlRolesUSerDropdown").removeAttr('disabled');
        $(this).closest("tr").find(".ddlRolesUSerDropdown").selectpicker("refresh");
    });
    $(".btnCAPARolesCancel").click(function () {
        //Previous value binded
        var SelectedlblEmpValue = $(this).closest("tr").find(".selectedRolesID").text().trim();
        $(this).closest("tr").find(".ddlRolesUSerDropdown").val(SelectedlblEmpValue);
        DefaultAdminManageTableDisplay();
    });
    var GetModifiedValue = "";
    var GetSelectedHODValues = "";
    var GetStatus = "";
    var SelectedCCNRolesEmployeID = "";
    var GetComments = "";
    $('.btnCAPARolesUpdate').click(function () {
        SelectedCCNRolesEmployeID = $(this).closest("tr").find(".selectedRolesID");
        GetModifiedValue = $(this).closest("tr").find(".ddlRolesUSerDropdown option:selected").val();
        GetSelectedHODValues = $(this).closest("tr").find(".selectedRolesID").text();
        GetStatus = $(this).closest("tr").find(".GetSerialNo").text();
        if (GetModifiedValue == 0) {
            custAlertMsg("Select Employee", "error");
        }
        else if (GetModifiedValue == GetSelectedHODValues) {
            custAlertMsg("There are no Changes to Update", "warning");
        } else {
            $("#MyModelReAssigneComments").modal('show');
            $("#ReassignComments").val('');

        }
    });
    function ModifiedSubmitAction() {
        GetComments = $("#ReassignComments").val().trim();
        if (GetComments != "") {
            custAlertMsg("Are You Sure You Want To Change Employee?", "confirm", "ModifiedEmploeesAdmin();");
        }
        else {
            custAlertMsg("Enter Comments", "error");
        }
    }
    function ModifiedEmploeesAdmin() {
        ShowPleaseWait('show');
            $.post("@Url.Content("~/QMS/Capa/ModifiedEmployeesInAdminMange")?EmployeeID=" + GetModifiedValue + "&CapaID=" + @Model.CAPAID +"&Status=" + GetStatus + "&GetReAssignComments=" + GetComments,
        
                function (result)
                {
                    ShowPleaseWait('hide');
            if (result.msgRedirecttoLoginPage) //Singal Instance
            {
                window.location.href = '/UserLogin.aspx';
            }
            else {
                if (result.hasError == false) {
                    SelectedCCNRolesEmployeID.text(GetModifiedValue);
                    custAlertMsg("CAPA Employee Updated By Admin Successfully.", "success");
                    DefaultAdminManageTableDisplay();
                    GetCAPAListDataTable(0, 0, "0", "0");
                    $("#MyModelReAssigneComments").modal('hide');
                }
                else {
                    if (result.msgType == "warning") {
                        custAlertMsg(result.data, "warning", "ReloadMangeRolesCAPA();");

                    }
                    else {
                        custAlertMsg(result.data, "error", "ReloadMangeRolesCAPA();");

                    }
                }
            }
        });
}
function ReloadMangeRolesCAPA() {
    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "CAPAManage" })';
    }
    function CloseManage() {
        $("#myModalCAPAManage").modal('hide');
        GetCAPAListDataTable(0, 0, "0", "0");
    }
</script>
