﻿@model QMS_BO.QMS_CAPABO.MainListCapaBO
<link href=@Url.Content("~/Content/bootstrap-theme.css") rel="stylesheet" />
<link href=@Url.Content("~/Content/bootstrap-fileinput/css/fileinput.css") rel="stylesheet" />
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/fileinput.js")></script>
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/theme.js")></script>

@Html.Hidden("hdnCAPAFilesUploadCount")

<!--CAPA Verification -->
<div id="myModalVerification" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg  " style="min-width:70%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">

            <div class="modal-header">
                <h4 class="modal-title"> Add Verification</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body fileattachModalpopup-Scroll style-3">
                <div class="  col-12 float-left top">
                    <div class=" btn-group-toggle float-left col-8 padding-none" data-toggle="buttons" id="divImplemented">
                        <label class="col-12 custom_label col-form-label float-left padding-none required"> Verification Type :</label>
                        <label class="btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 " id="lblImpl">
                            <input type="radio" name="options" id="rdbtnImplemented" autocomplete="off" class="col-4" onchange="IsImplemented();"> Implemented
                        </label>
                        <label class="btn btn btn-secondary  col-sm-4 col-xs-4 col-lg-4 col-md-4" id="lblNotImpl">
                            <input type="radio" name="options" id="rdbtnNtImplemented" autocomplete="off" class="col-4" onchange="IsNotImplemented();"> Not Implemented
                        </label>
                    </div>

                    <div id="dvImplementationDate" style="display:none" class="padding-none col-4 float-left">
                        @Html.Label("Implementation date :", htmlAttributes: new { @class = "float-left custom_label col-form-label required" })
                        <div class="float-left">
                            @Html.EditorFor(Model => Model.ImplementorDateVerificationCAPA, new { htmlAttributes = new { @class = "form-control ", @autocomplete = "off", @rows = "2" } })
                        </div>
                    </div>
                   
                </div>
                <div class="col-12 float-left" id="dvVerificationComments">
                    <label class=" custom_label col-form-label required">Comments :</label>
                    @Html.TextAreaFor(model => model.VerificationComments, 3, 200, htmlAttributes: new { @maxlength = "500",@styles= "margin-top: -2px;"
                    })
                </div>

                <form id="formAuditUpload" enctype="multipart/form-data" autocomplete="off">
                    <div class="col-12 padding-none float-left">
                        <div class="form-group">
                            @Html.Label("Browse File", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-12">
                                <input id="fuVerificationResponse" class="custom-file-input" type="file" multiple accept="application/msword,text/plain, application/pdf, image/*">
                            </div>
                        </div>
                    </div>
                </form>
                <div id="divtblCAPAVerificationFileUploadList">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top ">CAPA Verification Attachments</div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none">
                            <table id="tblCAPAVerificationFileUploadList" class="table datatable_cust table-striped table-bordered" cellspacing="0" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>UniqueID</th>
                                        <th>File Name</th>
                                        <th>File Type</th>
                                        <th>View</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-12 float-left">
                    <div class="float-left">
                        <label class=" custom_label col-form-label float-left required"> Assigned to Head QA:</label>
                        @Html.DropDownList("AssignedHQA", Model.ddlAssigneToHQA as List<SelectListItem>, htmlAttributes: new { id = "idAssigneHQA", @class = "float-left padding-none  drop_down selectpickerHQAddl" })
                    </div>
                    <div class="text-right">
                        <button id="btnVerifcationSubmit" class="btn btn-signup_popup" onclick="SubmitCapaVerification(1);">Submit</button>
                        <button id="btnVerifcationUpdate" class="btn btn-signup_popup" onclick="SubmitCapaVerification(4);">Update</button>
                        <button id="btnVerifApproveAction" class="btn btn-signup_popup" onclick="VerificationRevertApprove(3);">Approve</button>
                        <button id="btnVerifRevertAction" class="btn btn-revert_popup" onclick="VerificationRevertApprove(2);">Revert</button>
                        <button data-dismiss="modal" class="btn btn-cancel_popup">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Capa Fill View -->
<div id="MyModelCapaFileView" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="min-width:77%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">View File</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body fileModalpopup-Scroll style-3">
                <div class="embed-responsive embed-responsive-16by9" id="dvfileframe">

                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Files View Function-->
<script>
    function ToViewCAPADocuments(FileID) {
        var dvShow = document.getElementById("dvfileframe");
        dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=2&FID=" + FileID + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
        $("#MyModelCapaFileView").modal('show');
    }
</script>
<!--Deleted Files-->
<script>
    var Uniqueid = 0;
    function DeletedCapaFileUploadDocuments(ID) {
        Uniqueid = ID;
        custAlertMsg("Are you sure you want to delete this record", "confirm", "funDeleteCapaFileUploadDocuments();")
    }
    function funDeleteCapaFileUploadDocuments() {
        errors = [];
        var Status = "C_Verify";
        if (Uniqueid != '') {
            $.ajax({
                url: '/QMS/CAPA/DeleteCapaFileUploadDocuments',
                data: { 'UniquePKID': Uniqueid, 'RoleType': Status },
                type: 'Post',
                success: function (ResultJson) {
                    if (ResultJson.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (ResultJson.hasError == false) {
                            errors.push("Record Removed Successfully.");
                            custAlertMsg(errors.join("<br/>"), "success", "ReloadtblCapaVerificationFileUploadList();");
                            $('#ModalConfirm').modal('hide');
                        }
                        else {
                            errors.push(ResultJson.data);
                            custAlertMsg(errors.join("<br/>"), "error", "ReloadtblCapaVerificationFileUploadList();");
                            return false;
                        }
                    }
                }

            });
        }
    }
</script>
<script>
    var AllCAPAVerificationFilesUploaded=0;
    $("#fuVerificationResponse").fileinput({

             'theme': 'explorer-fa',
             'uploadUrl': '@Url.Content("~/QMS/CAPA/BindCapaVerificationFilesToList")',
             'showUpload': true,
             'showCancel': false,
             'showClose':true,
             'maxFileCount': 5,
             'maxFileSize':10000,
             'required': true,
             'overwriteInitial': false,
             'allowedFileExtensions': ['pdf'],
             'initialPreviewAsData': true,
             'uploadExtraData': function () {
                 var fileExtraData = {
                     "CAPAID": @Model.CAPAID,
                     "GUID":"@Model.GUID",
                     "VerficationID":@Model.VerificationID,
                 }
                 return fileExtraData;
             },
             'browseOnZoneClick': true,
             'fileActionSettings': {
                showUpload: false,
                showRemove: true
             }
    });


    $('#fuVerificationResponse').on('fileuploaded', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;

        if (response.msg != null) {
            if (response.msgRedirecttoLoginPage) //Singal Instance
            {
                window.location.href = '/UserLogin.aspx';
            }
            else{
                AllCAPAVerificationFilesUploaded=AllCAPAVerificationFilesUploaded+1;
                console.log(AllCAPAVerificationFilesUploaded);
                if(response.msgType!="Exceptionerror"){
                    if (AllCAPAVerificationFilesUploaded == parseInt($('#hdnCAPAFilesUploadCount').val()))
                    {
                        switch (response.msgType) {
                            case "error":
                                custAlertMsg(response.msg, "error",'clearVerification()');
                                break;
                            case "info":
                                custAlertMsg(response.msg, "info",'clearVerification()');
                                break;
                            case "success":
                                custAlertMsg(response.msg, 'success', 'clearVerification()');

                                break;
                        }
                    }
                }
                else{
                    custAlertMsg(response.msg, "error",'clearVerification()');
                }
            }
        }
    });

    function clearVerification() {
        //$("#myModalVerification").modal('hide');
        //This div in CAPAMain List
        $("#divtblCAPAVerificationFileUploadList").show();
        ReloadtblCapaVerificationFileUploadList();
        $('#fuVerificationResponse').fileinput('clear');
        ClearTempDatainVerificationController();

    }
    $('#fuVerificationResponse').on('filepreupload', function (event, data, previewId, index, jqXHR) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        var fileNamesExceedCount = 0;
        $('.file-preview-thumbnails .file-preview-frame.explorer-frame.kv-preview-thumb').each(function () {
            if ($(this).attr('title').length > 200) {
                fileNamesExceedCount++;
                $(this).find('.explorer-caption').css("color", "red");
            }
        });
        if (fileNamesExceedCount > 0) {
            return {
                message: fileNamesExceedCount + ' file name exceeds 200 characters'
            };
        }
        AllCAPAVerificationFilesUploaded = 0;

        $('#hdnCAPAFilesUploadCount').val(data.filescount);
    });
    function ClearTempDatainVerificationController(){
        $.ajax({
            url: '@Url.Content("~/QMS/Capa/RemoveTempData")',
            type: "GET",
            dataType: "JSON",
            data: { },
            success:   function(aiz)
            {
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (aiz.hasError == false) {
                    }
                    else {
                        custAlertMsg(aiz.data, "error");
                        return false;
                    }
                }
            }
        });
    }
</script>

<!--Verification File upload-->
<script>
        var oCAPAVerificationFileuploadList;
        function LoadCAPAVerificationeFileUploadList()
        {
            var hideNtfColumns = [];
            var title = "";
            var hidnValueTOviewVerification = $("#hdnCAPaViewVerification").val();
            switch ('@TempData["R"].ToString()') {

                case 'QA_Verification':
                    if (hidnValueTOviewVerification == "1") {
                        hideNtfColumns = [1, 3,5];
                        break;
                    } else {
                        hideNtfColumns = [1, 3];
                        break;
                    }
                   
                case 'HQA_Approval':
                case 'CapaMainList':
                case 'CapaReportList':
                case 'Cp_verfy':
                    hideNtfColumns = [1,3,5];
                    break;
            }
            var Status="C_Verify";
            $('#tblCAPAVerificationFileUploadList').wrap('<div class="dataTables_scroll" />');
            var oCAPAVerificationFileuploadList = $('#tblCAPAVerificationFileUploadList').DataTable({
                columns: [
                    { 'data': 'RowNumber' }, //0
                    { 'data': 'CapaFileUniqueID' },//1
                    { 'data': 'FileNameComplet' },//2
                    { 'data': 'FileTypeComplet' },//3
                    {
                        "mData": null,       //4 View
                        "bSortable": false,
                        "mRender": function (o) {
                            { return '<a class="view" href="#" title="View" onclick=ToViewCAPAVerificationDocuments(' + o.CapaFileUniqueID + ')>' + '' + '</a>'; }
                        }
                    },
                    {
                        "mData": null,       //5 Delete
                        "bSortable": false,
                        "mRender": function (o) {
                            { return '<a class="delete" title="Remove" onclick=DeletedCAPAVerificationFileUploadDocuments(' + o.CapaFileUniqueID + ')>' + '' + '</a>'; }
                        }
                    },
                ],

                "paging": true,
                "bDestroy": true,
                "order": [1, "desc"],
                "lengthMenu": [[05, 10, 15, 100], [05, 10, 15, 100]],
                "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] },
                    { "targets": hideNtfColumns, "visible": false },
                    { "className": "textAlignCenter", "targets": [0,4,5] }
                    , { "orderable": false, "targets": [0] }],
                "bAutoWidth": true,
                "sAjaxSource": "@Url.Content("~/QMS/CAPA/GetFileUploadList")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push({ "name": "CapaID", "value":@Model.CAPAID},
                        { "name": "Status", "value": Status },
                        { "name": "VerificationID", "value":@Model.VerificationID})
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else{
                                if (result.hasError==true) {
                                    custAlertMsg(result, "error");
                                }
                                else {
                                    fnCallback(result);
                                    $(".dataTables_filter").css({ "display": "none" });
                                    $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                }
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        }
</script>
<script>
            //When Current status capa closed verification tab
        $(function () {
                 var CAPADate = '@Model.CAPA_Date';
                var _mindate1 = new Date(CAPADate);
                $('#ImplementorDateVerificationCAPA').datetimepicker({
                    format: 'DD MMM YYYY',
                    useCurrent: false,
                    minDate: _mindate1
                });
            });

</script>
<!--Capa Verification Submit function-->
<script>
        var QAVerifycomments;
        var Ver_ImplementorDate;
        var AssignedHQA;
        var CurrentStatus;
        var rdbtnChecked;
            function SubmitCapaVerification(Status)
            {
                errors = [];
                CurrentStatus = Status;
                 QAVerifycomments = $("#VerificationComments").val().trim();

                 AssignedHQA = $('#idAssigneHQA').val();

                 if ($("#rdbtnImplemented").prop('checked')) {
                     rdbtnChecked = true;//true
                     Ver_ImplementorDate = $("#ImplementorDateVerificationCAPA").val().trim();
                     if (Ver_ImplementorDate == "") {
                         errors.push("Select Implementation Date.");
                     }
                 } else if ($("#rdbtnNtImplemented").prop('checked')) {
                     rdbtnChecked = false;//false
                 }
                 if (rdbtnChecked != 0 && rdbtnChecked != 1) {
                     errors.push("Select Verification Type.");
                 }
                
                if (QAVerifycomments == "") { errors.push("Enter Comments. "); }


               
                
                if (AssignedHQA == 0) {
                    errors.push("Select Assigned To Head QA.");
                }
                if (errors.length > 0)
                {
                    custAlertMsg(errors.join("<br/>"), "error");
                    return false;
                }
                ElectronicSignPopupOpen('SubmitToDatabaseCAPAVerification');
            }
            function SubmitToDatabaseCAPAVerification()
            {
                ShowPleaseWait('show');
                var CAPAID =@Model.CAPAID;

                var formDataCapa = new FormData();
                formDataCapa.append("ImplementorDateVerificationCAPA", Ver_ImplementorDate);
                formDataCapa.append("CAPAID", CAPAID);
                formDataCapa.append("HeadQAEmpID", AssignedHQA);
                formDataCapa.append("VerificationComments", QAVerifycomments);
                formDataCapa.append("CurrentStatus", CurrentStatus);
                formDataCapa.append("ISCheckedFinalorNot", rdbtnChecked);
                formDataCapa.append("VerificationID",@Model.VerificationID);
            $.ajax({
            url: '@Url.Content("~/QMS/Capa/VerifiedCAPA")',
                data: formDataCapa,
                dataType: 'json',
                contentType: false,
                processData: false,
                type: 'Post',
                success: function (result) {
                    ShowPleaseWait('hide');
                    if (result.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        switch (result.msgType)
                        {

                            case "error":
                                custAlertMsg(result.msg, "error");
                                break;
                            case "success":
                                if (CurrentStatus == 1) {
                                    custAlertMsg("CAPA No.<span class='sucess_info_msg'> @Model.CAPA_Number </span> Verification added Successfully.", "success", "ReloadVerificationList(1);");
                                } else if (CurrentStatus == 2) {
                                    custAlertMsg("CAPA No.<span class='sucess_info_msg'> @Model.CAPA_Number </span> Verification Reverted Successfully.", "success", "ReloadVerificationList(2);");
                                } else if (CurrentStatus == 3) {
                                    custAlertMsg("CAPA No.<span class='sucess_info_msg'> @Model.CAPA_Number </span> Verification Approved Successfully.", "success", "ReloadVerificationList(2);");
                                } else {
                                    custAlertMsg("CAPA No.<span class='sucess_info_msg'> @Model.CAPA_Number </span> Verification Updated Successfully.", "success", "ReloadVerificationList(1);");
                                }
                                break;
                        }
                    }
            },
            });
            }
            function ReloadVerificationList(Status) {
                if (Status == 1)//QA 
                {
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "QA_Verification", area = "QMS" })';
                } else//HeadQA
                {
                     window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "HQA_Approval", area = "QMS" })';
                }
            }
</script>
<script>
    $(function () {
        $('.selectpickerHQAddl').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });

</script>
<!--Verification Revert and Approve Action-->
<script>
        var VerificationComments = "";
        var CurrentStatus = "";
        function VerificationRevertApprove(Status) {
            errors = [];
            VerificationComments = $("#VerificationComments").val().trim();
            CurrentStatus = Status;
            if (VerificationComments == "") {
                errors.push("Enter Comments");
            }
            if (errors.length > 0) {
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
            }
            ElectronicSignPopupOpen('SubmitToDatabaseRevertAction');
        }
        function SubmitToDatabaseRevertAction() {
            var formDataCapa = new FormData();
            formDataCapa.append("VerificationID", @Model.VerificationID);
            formDataCapa.append("CAPAID", @Model.CAPAID);
            formDataCapa.append("VerificationComments", VerificationComments);
            formDataCapa.append("CurrentStatus", CurrentStatus);
            formDataCapa.append("ISCheckedFinalorNot",'@Model.ISCheckedFinalorNot');
     $.ajax({
            url: '@Url.Content("~/QMS/Capa/VerificationApproveRevert")',
            data: formDataCapa ,
                dataType: 'json',
                contentType: false,
                processData: false,
                type: 'Post',
                success: function (result) {
                    ShowPleaseWait('hide');
                    if (result.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        switch (result.msgType)
                        {

                            case "error":
                                custAlertMsg(result.msg, "error");
                                break;
                            case "success":
                                if (CurrentStatus == 2) {
                                custAlertMsg("CAPA No.<span class='sucess_info_msg'> @Model.CAPA_Number </span> Verification Reverted Successfully.", "success", "ReloadVerificationList();");
                                } else {
                                    custAlertMsg("CAPA No.<span class='sucess_info_msg'> @Model.CAPA_Number </span> Verification Approved Successfully.", "success", "ReloadVerificationList();");
                                }
                                break;
                        }
                    }
            },
            });
        }
</script>
<script>
        function ReloadtblCapaVerificationFileUploadList() {
            LoadCAPAVerificationeFileUploadList();
        }
        if (@ViewBag.AttachmentsExists !=0) {
            $("#divtblCAPAVerificationFileUploadList").show();
            LoadCAPAVerificationeFileUploadList();
        } else {
            $("#divtblCAPAVerificationFileUploadList").hide();
        }
        function IsImplemented() {
            $("#dvImplementationDate").show();
        }
        function IsNotImplemented() {
            $("#dvImplementationDate").hide();
        }
</script>
<script>
        if ("@ViewBag.Everification1stTime" == "YES") {

        } else {
            if ('@Model.ISCheckedFinalorNot' == 'True') {
                $('#lblImpl').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");
                $('#lblNotImpl').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 ");
                $("#rdbtnImplemented").attr('checked', 'checked');
                $("#dvImplementationDate").show();
            } else if ('@Model.ISCheckedFinalorNot' == 'False') {
                $('#lblImpl').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 ");
                $('#lblNotImpl').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active ");
                $("#rdbtnNtImplemented").attr('checked', 'checked');
                $("#dvImplementationDate").hide();
            }
        }
</script>
<!--Delete Files-->
<script>
        var Uniqueid = 0;

        function DeletedCAPAVerificationFileUploadDocuments(ID) {

            Uniqueid = ID;
            custAlertMsg("Are you sure you want to Remove this record?", "confirm", "funDeletedCAPAVerificationFileUploadDocuments();")
        }
        function funDeletedCAPAVerificationFileUploadDocuments() {
            var Status = "C_Verify";
            ShowPleaseWait("show");
            errors = [];
            if (Uniqueid != '') {
                $.ajax({
                    url: '/QMS/CAPA/DeleteCapaFileUploadDocuments',
                    data: { 'UniquePKID': Uniqueid, 'RoleType': Status },
                    type: 'Post',
                    success: function (ResultJson) {
                        ShowPleaseWait("hide");
                        if (ResultJson.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else {
                            if (ResultJson.hasError == false) {

                                errors.push("File Remove Successfully.");
                                custAlertMsg(errors.join("<br/>"), "success", "ReloadtblCapaVerificationFileUploadList();");
                                $('#ModalConfirm').modal('hide');
                            }
                            else {
                                errors.push(ResultJson.data);
                                custAlertMsg(errors.join("<br/>"), "error", "ReloadtblCapaVerificationFileUploadList();");
                                return false;
                            }
                        }
                    }
                });
            }
        }

    </script>
