﻿@model QMS_BO.QMS_CAPABO.CapaAuditView
<style>
    .labelBorder {
        padding: 0px 6px;
        border: 1px solid #d2d2d2;
        overflow-y: auto;
        min-height: 96px;
        max-height: 96px;
        font-size: 10pt;
    }
</style>
<div id="modalViewCAPAAuditDetails" data-backdrop="static" class="modal department fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title editModalTitle">Audit Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body modal-body_qms">

                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel padding-none bottom">
                    <div  class="accordion">
                        <div class="card mb-0">
                            <div class="card-header header_col_sub " data-toggle="collapse" href="#collapseOneSubaudit">
                                <a class="card-title collapsed">
                                    Observation Details
                                </a>
                            </div>
                            <div id="collapseOneSubaudit" class="collapse show" data-parent="">
                                <div class="card-body col-12 float-left ">
      
                                    <div class="col-12 padding-none">
                                        <div class="col-12 editModalBody content_bg grid_assgin_nav float-left">
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                                                <div class=" col-xl-12">
                                                    <label class="col-xl-5 custom_label col-form-label float-left">	Audit No. </label>
                                                    <div class="col-xl-7 custom_label col-form-label float-left">
                                                        :
                                                        @Html.DisplayFor(m => m.AuditNumber)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                                                <div class=" col-xl-12">
                                                    <label class="col-xl-5 custom_label col-form-label float-left">Category Name </label>
                                                    <div class="col-xl-7 siteLabel custom_label col-form-label float-left">
                                                        :
                                                        @Html.DisplayFor(m => m.CategoryName)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                                                <div class=" col-xl-12">
                                                    <label class="col-xl-5 custom_label col-form-label float-left">Observation No. </label>
                                                    <div class="col-xl-7 custom_label col-form-label float-left">
                                                        :
                                                        @Html.DisplayFor(m => m.ObservationNumber)
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                                                <div class=" col-xl-12">
                                                    <label class="col-xl-5 custom_label col-form-label float-left">	Audit Current Status </label>
                                                    <div class="col-xl-7 custom_label col-form-label float-left">
                                                        :
                                                        @Html.DisplayFor(m => m.AuditCurrentStatus)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                                                <div class=" col-xl-12">
                                                    <label class="col-xl-5 custom_label col-form-label float-left">Observation Priority </label>
                                                    <div class="col-xl-7 siteLabel custom_label col-form-label float-left">
                                                        :
                                                        @Html.DisplayFor(m => m.ObservationPriority)
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                                                <div class=" col-xl-12">
                                                    <label class="col-xl-5 custom_label col-form-label float-left">Site Name</label>
                                                    <div class="col-xl-7 custom_label col-form-label float-left">
                                                        :
                                                        @Html.DisplayFor(m => m.SiteName)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                                                <div class=" col-xl-12">
                                                    <label class="col-xl-5 custom_label col-form-label float-left">Observation Current Status </label>
                                                    <div class="col-xl-7 custom_label col-form-label float-left">
                                                        :
                                                        @Html.DisplayFor(m => m.ObservationCurrentStatus)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                                                <div class=" col-xl-12">
                                                    <label class="col-xl-5 custom_label col-form-label float-left">Department Name </label>
                                                    <div class="col-xl-7 siteLabel custom_label col-form-label float-left">
                                                        :
                                                        @Html.DisplayFor(m => m.DepartmentName)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                                                <div class=" col-xl-12">
                                                    <label class="col-xl-5 custom_label col-form-label float-left">Response Due Date </label>
                                                    <div class="col-xl-7 custom_label col-form-label float-left">
                                                        :
                                                        @Html.DisplayFor(m => m.ResponseDueDate)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  top  fixedHeightTable">
                                        <table id="tblEditObservationSys" class="table datatable_cust table-striped table-bordered" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Area Name</th>
                                                    <th>Sub Area Name</th>
                                                    <th>Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.ObservationSystems)
                                                {
                                                <tr class="EditObservationSubSysRow UserDefinedTableBody">                                             
                                                    <td>
                                                        <span class="EditobservationSubSystemNameLblClass">
                                                            @Html.DisplayFor(modelItem => item.AreaName)
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="EditobservationSubSystemNameLblClass">
                                                            @Html.DisplayFor(modelItem => item.SubAreaName)
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="EditobservationSysDescriptionLblClass">
                                                            @Html.DisplayFor(modelItem => item.Remarks)
                                                        </span>
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom">
                                        <label class=" custom_label col-form-label" for="txtEditObservationDescription">Observation Description</label>
                                        <div class="labelBorder" style="cursor: not-allowed;">
                                            <span>
                                                @Html.DisplayFor(m => m.ObservationDescription)
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel padding-none bottom">
                    <div  class="accordion">
                        <div class="card mb-0">
                            <div class="card-header header_col_sub " data-toggle="collapse" href="#collapsetwoSub">
                                <a class="card-title collapsed">
                                    Response Details
                                </a>
                            </div>
                            <div id="collapsetwoSub" class="collapse show" data-parent="">
                                <div class="card-body col-12 float-left ">
                                    
                                    <div class="col-12 padding-none">
                                        <div class="col-12 editModalBody content_bg grid_assgin_nav float-left">
                                            <div class="col-xl-6 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                                                <div class=" col-xl-12">
                                                    <label class="col-xl-3 custom_label col-form-label float-left">Submitted Date </label>
                                                    <div class="col-xl-9 siteLabel custom_label col-form-label">
                                                        :
                                                        @Html.DisplayFor(m => m.ResponseDate)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-4 col-sm-6 col-lg-3 float-left col-6 padding-none">
                                                <div class="col-xl-12">
                                                    <label class="col-xl-3 custom_label col-form-label float-left">Closure Date </label>
                                                    <div class="col-xl-9 siteLabel custom_label col-form-label">
                                                        :
                                                        @Html.DisplayFor(m => m.ResponseExpectedOrCloserDate)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom">
                                        <label class=" custom_label col-form-label">Response Description</label>
                                        <div class="labelBorder" style="cursor: not-allowed;">
                                            @Html.DisplayFor(m => m.ResponseDescription)
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
