﻿@model QMS_BO.QMS_CAPABO.CapaModel
<link href=@Url.Content("~/Content/bootstrap-theme.css") rel="stylesheet" />
<link href=@Url.Content("~/Content/bootstrap-fileinput/css/fileinput.css") rel="stylesheet" />
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/fileinput.js")></script>
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/theme.js")></script>

<style>
    textarea {
        background-color: aliceblue;
    }
</style>
@using (Html.BeginForm())
{
    @Html.Hidden("hdnCAPACompleteFileUploadCount")
    <div id="myModalEmployeeEdit" class="modal department fade" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog  modal-dialog-centered" style="max-width:90%;">
            <!-- Modal content-->
            <div class="modal-content padding-none">
                <div class="modal-header">
                    <h4 class="modal-title">CAPA Action</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body Modalpopup-Scroll style-3">
                    <div id="container">
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
                            <div hidden="hidden">
                                @Html.EditorFor(model => model.CAPAID, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus" } })
                            </div>
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left padding-none">
                                <label class=" custom_label col-form-label"> CAPA Number</label>
                                @Html.EditorFor(model => model.CAPA_Number, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                                <label class=" custom_label col-form-label"> Department</label>
                                <div class="col-12 padding-none">
                                    @Html.EditorFor(Mode => Model.Department, new { htmlAttributes = new { id = "Department", @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left padding-none">
                                <label class=" custom_label col-form-label"> Quality Event Type</label>
                                <div class="col-12 padding-none">
                                    @Html.EditorFor(model => model.QualityEventName, new { htmlAttributes = new { id = "Qualityevent", @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">

                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left padding-none">
                                <label for="" class="custom_label col-form-label">Quality Event Number</label>
                                @Html.Editor("QualityEvent_Number", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                                <label class=" custom_label col-form-label"> Created Date</label>
                                <div class="col-12 padding-none">
                                    @Html.EditorFor(model => model.CAPA_Date, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left padding-none">
                                <label class=" custom_label col-form-label">Type of Action</label>
                                <div class="col-12 padding-none">
                                    @Html.EditorFor(model => model.ActionPlanName, new { htmlAttributes = new { id = "PlanofAction", @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left padding-none ">
                            <label class=" custom_label col-form-label"> Action Description</label>

                            @Html.TextArea("Capa_ActionDesc", new { @class = "form-control ", @rows = "5" })
                        </div>

                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left padding-none">
                                <label class=" custom_label col-form-label"> Responsible Person</label>
                                @Html.EditorFor(model => model.ResponsiblePersonName, new { htmlAttributes = new { id = "EmployeeName", @class = "form-control", @readonly = "readonly" } })
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left padding-left_div">
                                <label class=" custom_label col-form-label">Target Date</label>
                                @Html.EditorFor(model => model.TargetDate, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="padding-right_div col-12 float-left">
                        <input type="button" value="File Attachments" id="btnAttachment" style="display:none" class="top btn btn-signup_popup float-left" onclick="CAPACompleteAttachemnts(this);" />
                    </div>

                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none" id="divtblCapaCompltFileUploadList" style="display:none">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top float-left">CCN Close Attachments</div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  grid_border ">
                            <div  class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none top">
                                <table id="tblCapaCompltFileUploadList" class="table datatable_cust table-striped table-bordered padding-right_div top tblCapaCompltFileUploadListclass">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>UniqueID</th>
                                            <th>File Name</th>
                                            <th>File Type</th>
                                            <th>View</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left padding-none ">
                            @if (Model.CurrentStatus == "3")
                            {
                                <label class=" custom_label col-form-label required ">Comments :</label>

                                @Html.TextAreaFor(model => model.RespPersonCommts, new { id = "RespPersonCommts", @class = "form-control ", @rows = "3" })
                            }
                        </div>
                    </div>
                <div class="modal-footer" style="padding-top:10px">
                    @if (Model.CurrentStatus == "3")
                    {<input type="button" value="Complete" class="btn btn-signup_popup" id="btnSubmit" onclick="EmployeeCompletedCapa()" />
                    }
                    @if (Model.CurrentStatus == "2")
                    {<input type="button" value="Accept" class="btn btn-signup_popup" id="btnSubmit" onclick="EmployeeAcceptCapa()" />
                    }
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>

                </div>
            </div>
        </div>
    </div>


    <!--CAPA Complete File Upload -->
    <div id="myModalCapaCompltFileUpload" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg  ">
            <!-- Modal content-->
            <div class="modal-content padding-none">

                <div class="modal-header">
                    <h4 class="modal-title"> File Upload</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form id="formAuditUpload" enctype="multipart/form-data" autocomplete="off">
                    <div class="modal-body Modalpopup-Scroll">
                        <div class="">
                            @Html.LabelFor(model => model.CapaCompletFileUpload, htmlAttributes: new { @class = "control-label col-md-2 required" })
                            <div class="col-md-10 file-loading">
                                <input id="fuCapaCompltResponse" class="custom-file-input" type="file" multiple accept="application/msword,text/plain, application/pdf, image/*">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--CAPA File Upload View -->
    <div id="MyModelCAPACompletedFileView" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="min-width:77%;">
            <!-- Modal content-->
            <div class="modal-content padding-none">
                <div class="modal-header">
                    <h4 class="modal-title">View File</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body fileModalpopup-Scroll">
                    <div class="embed-responsive embed-responsive-16by9" id="dvfileframeCapaCmplt">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End-->
}
@Html.Partial("_ElectronicPartialView")
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });</script>
<!--Responsible Person Accept CAPA-->
<script>
    function Reload() {
        ElectrtonicSignPopupClose();
        if(@Model.CurrentStatus==2){
            if('@TempData["R"].ToString()'=='C_EmpAccept'){
                window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "C_EmpAccept", area = "QMS" })';
            }else{
                $("#tblCapaList").DataTable().ajax.reload();
            }
        }else{
            $("#tblCapaList").DataTable().ajax.reload();
        }
        $("#myModalEmployeeEdit").modal('hide');
    }

    function EmployeeAcceptCapa() {
        ElectrtonicSignPopupOpen('AceeptedCapaSubmittedCode');
    }
    function AceeptedCapaSubmittedCode() {
        errors = [];
        var CAPA_Number = $("#CAPAID").val().trim(); if (CAPA_Number == "") { errors.push("Enter CAPA Number."); }
        var change = {
            "CurrentStatus": 3, "CAPAID": CAPA_Number
        };
        $.post("@Url.Content("~/QMS/Capa/EmpAcceptStatus")", change,
            function (JsonResultCapa) {
                if (JsonResultCapa.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (JsonResultCapa.hasError == false) {
                        errors.push("CAPA No. <span class='sucess_info_msg'> @Model.CAPA_Number </span>  Accepted Successfully.");
                        custAlertMsg(errors.join("<br/>"), "success", "Reload();");
                        return false;
                    } else {
                        errors.push(JsonResultCapa.data);
                        custAlertMsg(errors.join("<br/>"), "error");
                        return false;
                    }
                }
            }, 'json');
    }
</script>
<!--Responsible Person Completed CAPA-->
<script>
    function EmployeeCompletedCapa() {
        var ResponsiblePersonComments = $("#RespPersonCommts").val().trim();
        if (ResponsiblePersonComments == "") {
            custAlertMsg("Enter comments.", "error");
            return false;
        }
        else {
            ElectrtonicSignPopupOpen('CompletedCapaSubmittedCode');
        }
    }
    function CompletedCapaSubmittedCode() {
        errors = [];
        var ResponsiblePersonComments = $("#RespPersonCommts").val().trim();
        var CAPA_Number = $("#CAPAID").val().trim(); if (CAPA_Number == "") { errors.push("Enter CAPA Number."); }
        var change = {
            "CurrentStatus": 4, "CAPAID": CAPA_Number, "RespPersonCommts": ResponsiblePersonComments
        };
        $.post("@Url.Content("~/QMS/Capa/EmpAcceptStatus")", change,
            function (aiz) {
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (aiz.hasError == false) {
                        errors.push("CAPA No. <span class='sucess_info_msg'> @Model.CAPA_Number </span> Completed Successfully.");
                        custAlertMsg(errors.join("<br/>"), "success", "Reload();");
                        return false;
                    } else {
                        errors.push(aiz.data);
                        custAlertMsg(errors.join("<br/>"), "error");

                        return false;
                    }
                }
            }, 'json');
    }
</script>
<!-- #region File Upload Code -->
<!--Open File Upload Pop up-->
<script>
    function CAPACompleteAttachemnts(cntrl) {
        $(cntrl).attr("onclick", "").unbind("click");
        $("#myModalCapaCompltFileUpload").modal('show');
        $(cntrl).attr("onclick", "CAPACompleteAttachemnts(this)").unbind("click");
    }
</script>


<!--CAPAComplete Fill Upload List-->
<script>
        var oCCNCloseFileuploadList;
        function LoadCAPACompleteFileUploadList()
        {
            var Status="C_Complt";
            $('#tblCapaCompltFileUploadList').wrap('<div class="dataTables_scroll" />');
            var oCCNCloseFileuploadList = $('#tblCapaCompltFileUploadList').DataTable({
                columns: [
                    { 'data': 'RowNumber' }, //0
                    { 'data': 'CapaFileUniqueID' },//1
                    { 'data': 'FileNameComplet' },//2
                    { 'data': 'FileTypeComplet' },//3
                    {
                        "mData": null,       //4 View
                        "bSortable": false,
                        "mRender": function (o) {
                            { return '<a class="view" href="#" onclick=ToViewCAPACompltDocuments(this,' + o.CapaFileUniqueID + ')>' + '' + '</a>'; }
                        }
                    },
                    {
                        "mData": null,       //5 Delete
                        "bSortable": false,
                        "mRender": function (o) {
                            { return '<a class="delete" onclick=DeletedCAPACompltFileUploadDocuments(' + o.CapaFileUniqueID + ')>' + '' + '</a>'; }
                        }
                    },
                ],
                "scrollY": "250px",
                "paging": false,
                "bDestroy": true,
                "order":[1,"desc"],
                "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] }, { className: "textAlignCenter", "targets": [0] }, {
                    "targets": [1,3],
                    "visible": false,
                    "searchable": false
                },{ "orderable": false, "targets": [0] }],
                'bAutoWidth': true,
                "sAjaxSource": "@Url.Content("~/QMS/CAPA/GetFileUploadList")",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    aoData.push({ "name": "CapaID", "value":@Model.CAPAID},
                        {"name":"Status","value":Status});
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            } 
                            else{
                                if (result.hasError==true) {
                                    custAlertMsg(result, "error");
                                }
                                else {
                                    fnCallback(result);
                                    $(".dataTables_filter").css({ "display": "none" });
                                    $(".tblCapaCompltFileUploadListclass").css({ "width": "100%" });
                                    $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                }
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        }

    function ReloadtblCapaCompltFileUploadList(){
        LoadCAPACompleteFileUploadList();
    }
</script>
<!--Files View Function-->
<script>
    function ToViewCAPACompltDocuments(cntrl, FileID) {
        $(cntrl).attr("onclick", "").unbind("click");
        var dvShow = document.getElementById("dvfileframeCapaCmplt");
        dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=6&FID=" + FileID + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
        $("#MyModelCAPACompletedFileView").modal('show');
        $(cntrl).attr("onclick", "ToViewCAPACompltDocuments(this," + FileID + ")").unbind("click");
    }
</script>

<!--Delete Files-->
<script>
        var Uniqueid = 0;
        var Status="C_Complt";
        function DeletedCAPACompltFileUploadDocuments(ID) {
           
        Uniqueid = ID;
        custAlertMsg("Are you sure you want to Remove this record?", "confirm", "funDeleteCAPACompltFileUploadDocuments();")
    }
        function funDeleteCAPACompltFileUploadDocuments() {
           
        errors = [];
        if (Uniqueid != '') {
            $.ajax({
                url: '/QMS/CAPA/DeleteCapaFileUploadDocuments',
                data: { 'UniquePKID': Uniqueid ,'RoleType':Status},
                type: 'Post',
                success: function (ResultJson) {
                    if (ResultJson.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    } 
                    else{
                        if (ResultJson.hasError == false) {

                            errors.push("File Removed Successfully.");
                            custAlertMsg(errors.join("<br/>"), "success", "ReloadtblCapaCompltFileUploadList();");
                            $('#ModalConfirm').modal('hide');
                        }
                        else {
                            errors.push(ResultJson.data);
                            custAlertMsg(errors.join("<br/>"), "error", "ReloadtblCapaCompltFileUploadList();");
                            return false;
                        }
                    }
                }
            });
        }
    }
</script>
<!-- #endregion -->

<script>
    var AllCCNCloseFilesUploaded=0;
    $("#fuCapaCompltResponse").fileinput({

             'theme': 'explorer-fa',
             'uploadUrl': '@Url.Content("~/QMS/CAPA/BindFileUploadForCAPAComplet")',
             'showUpload': true,
             'showCancel': false,
             'showClose':true,
             'maxFileCount': 5,
             'maxFileSize':10000,
             'required': true,
             'overwriteInitial': false,
             'allowedFileExtensions': ['jpg', 'png', 'docx', 'doc', 'pdf', 'txt','rtf','xls','xlsx'],
             'initialPreviewAsData': true,
             'uploadExtraData': function () {
                 var fileExtraData = {
                      "CAPAID" : @Model.CAPAID,
                 }
                 return fileExtraData;
             },
             'browseOnZoneClick': true,
             'fileActionSettings': {
                showUpload: false,
                showRemove: true
             }
    });


    $('#fuCapaCompltResponse').on('fileuploaded', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;

        if (response.msg != null) {
            if (response.msgRedirecttoLoginPage) //Singal Instance
            {
                window.location.href = '/UserLogin.aspx';
            } 
            else{
                AllCCNCloseFilesUploaded=AllCCNCloseFilesUploaded+1;
                console.log(AllCCNCloseFilesUploaded);
                if(response.msgType!="Exceptionerror"){
                    if (AllCCNCloseFilesUploaded == parseInt($('#hdnCAPACompleteFileUploadCount').val()))
                    {
                        switch (response.msgType) {
                            case "error":
                                custAlertMsg(response.msg, "error",'clearResponseFileInput()');
                                break;
                            case "info":
                                custAlertMsg(response.msg, "info",'clearResponseFileInput()');
                                break;
                            case "success":
                                custAlertMsg(response.msg, 'success', 'clearResponseFileInput()');

                                break;
                        }
                    }
               

                }
                else{
                    custAlertMsg(response.msg, "error",'clearResponseFileInput()');

                }
            }
        }
    });

    function clearResponseFileInput() {
        ReloadtblCapaCompltFileUploadList();
        $("#myModalCapaCompltFileUpload").modal('hide');
        $("#divtblCapaCompltFileUploadList").show();
        $('#fuCapaCompltResponse').fileinput('clear');
        ClearTempDatainController();

    }
    $('#fuCapaCompltResponse').on('filepreupload', function (event, data, previewId, index, jqXHR) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        AllCCNCloseFilesUploaded = 0;

        $('#hdnCAPACompleteFileUploadCount').val(data.filescount);
    });
    function ClearTempDatainController(){
        $.ajax({
            url: '@Url.Content("~/QMS/Capa/RemoveTempData")',
            type: "GET",
            dataType: "JSON",
            data: { },
            success:   function(aiz)
            {
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                } 
                else{
                    if (aiz.hasError == false) {
                    }
                    else {
                        custAlertMsg(aiz.data, "error");
                        return false;
                    }
                }
            }
        });
    }
</script>
<script>
    if (@Model.CurrentStatus==3)
    {
        $("#btnAttachment").show();
    }
</script>
