﻿
@{
    ViewBag.Title = "CapaList";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<style>
    .rowred {
        background-color: #f7d2d8 !important;
        width: 20px;
        height: 20px;
        float: left;
        border: 2px solid #e67e7e;
        border-radius: 4px;
        margin-top: 3px;
    }

    .tablerowred {
        background-color: #f7d2d8 !important;
    }
</style>
<input id="hdnISQAVerify" type="hidden" />
<input type="hidden" id="hdnCAPAReportView" value="0" />
<input type="hidden" id="hdnFname" value="yes.pdf" />
<!--Exception Function-->
@if (TempData["Exception"] != null)
{

    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>

}
else
{
    <div class="col-lg-6 float-left padding-none">
        <!------buttons---------->
        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6 float-right padding-none">

            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none">
                <button class=" btn-signup_popup float-right bottom" style="display:none" id="btCreateCAPA" onclick="CreateCapa(this);">Create CAPA </button>
                <div id='divBindPartialViews'></div>

            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none">
                <button class=" btn-signup_popup float-right bottom" style="display:none" id="btnBackToDashboard" onclick="BackToDashboard();">Dashboard </button>
            </div>
        </div>
        <!------buttons---------->
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title" id="lblName"></div>
    <!--Capa Report From Date and ToDate Submission Div-->
    <div id="dvRptFilters" style="display:none" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12   padding-none grid_panel_hod" id="divCapaReport">
        <div class="col-xl-3 col-md-4 col-sm-4 col-lg-4 float-left col-4 ">
            <label class="col-12 custom_label col-form-label padding-none">Department</label>
            <div class="col-lg-12 padding-none">
                @Html.DropDownList("ddlCapaDepartmentBinding", null, htmlAttributes: new { @id = "ddlCapaDepartmentBinding", @class = " col-12  padding-none selectpicker1 drop_down", @onchange = "return false" })

            </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-4 col-lg-4 float-left col-4 ">
            <label class="col-12 custom_label col-form-label padding-none">Quality Notification</label>
            <div class="col-lg-12 padding-none">
                @Html.DropDownList("ddlQualityEventsReports", null, htmlAttributes: new { @id = "ddlQualityEventsReports", @class = " col-12  padding-none selectpicker1 drop_down" })

            </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 float-left col-3">
            <label class="col-12 custom_label col-form-label padding-none required"> From Date</label>
            <div class="col-lg-12 padding-none">
                @Html.Editor("ddlCapaRptFromDate", new { htmlAttributes = new { @class = "form-control ", @id = "ddlCapaRptFromDate", @autocomplete = "off" } })
            </div>
        </div>
        <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 float-left col-3">
            <label class="col-12 custom_label col-form-label padding-none required"> To Date</label>
            <div class="col-lg-12 padding-none">
                @Html.Editor("ddlCapaRptToDate", new { htmlAttributes = new { @class = "form-control ", @id = "ddlCapaRptToDate", @autocomplete = "off" } })
            </div>
        </div>
        <div class="col-12 float-right top">
            <button type="button" class="btn btn-signup_popup float-right" id="btnReptPrint" onclick="ReportView(this)">Print Report List</button>
            <button type="button" class="btn btn-cancel_popup float-right" id="btnReptReset" onclick="ReportListRestValidation()">Reset</button>
            <button type="button" class="btn btn-signup_popup float-right" id="btnReptSubmit" onclick="ReportListValidation()">Submit</button>
        </div>
    </div>
    <!-- #region CapaTable -->
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="min-height:0px !important">

        <table id="tblCapaList" class="table datatable_cust table-striped table-bordered dataTable no-footer" cellspacing="0" style="width: 100%" table-layout="fixed">
            <thead>
                <tr>
                    <th>CAPA ID</th><!--0-->
                    <th>CAPA Number</th><!--1-->
                    <th>DepartmentID</th><!-- 2-->
                    <th>Department</th><!--5 3-->
                    <th>Quality Notification</th><!--4-->
                    <th>Quality Notification No.</th><!--3 5 -->
                    <th>Responsible Person</th><!--6-->
                    <th>Created Date</th><!-- 7-->
                    <th>Target Date</th><!--8-->
                    <th>Status</th><!--9-->
                    <th>RM1</th><!--10-->
                    <th>RM2</th><!--11-->
                    <th>Action</th><!--12-->
                    <th>View</th><!--13-->
                    <th>Action</th><!--14-->
                    <th>Action</th><!--15-->
                    <th>View </th><!--16 Main List-->
                    <th>Manage</th><!--17-->
                    <th>History</th><!--18-->
                    <th>Report</th><!--19-->
                </tr>
            </thead>
        </table>
        <div class="legend_images" style="margin-top: 4px; margin-bottom: 10px" id="divAlertsCAPA">
            <div id="divRM1Alert" class="legend_images float-left" style="margin-left:10px;margin-top: 4px; margin-bottom: 10px">
                <img src="/Images/GridActionImages/reminder2.png" />
                <span class="legends_grid">Reminder Alert</span>
            </div>
            <div id="divRM2Alert" class="legend_images float-left" style="margin-left:15px;margin-top: 4px; margin-bottom: 10px">
                <img src="/Images/GridActionImages/reminder1.png" /><span class="legends_grid">
                    Reminder Approved
                </span>
            </div>

            <div class="legend_images float-left" style="margin-left:15px;margin-top: 6px; margin-bottom: 10px">
                <div class="grid_legend_Qms">'RM1': Reminder 1 ; 'RM2': Reminder 2</div>
            </div>
        </div>
        <div id="capaAlertOverDue" style="display :none">
            <div class="legend_images float-left" style="margin-left:15px;">
                <span class="reminder rowred"></span><span class="legends_grid" style="margin-left:4px;">
                    CAPA Overdue
                </span>
            </div>
        </div>
    </div>
    <!-- #endregion -->
    <div id="MyModelWaitingInc" class="modal  fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-mg" style="min-width:38%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border-style: none;">

                </div>
                <div class="modal-body " style=" max-height: 720px;">
                    <img alt="" id="ImgLoading" src="@Url.Content("~/Images/TMS_Images/please_wait.gif")" />
                </div>
            </div>
        </div>
    </div>

    <!--Capa Fill View -->
    <div id="MyModelCAPAFileViewForReport" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="min-width:90%;">
            <!-- Modal content-->
            <div class="modal-content padding-none">
                <div class="modal-header">
                    <div>CAPA Report View</div>
                    <div class=" float-right padding-none">
                        @if (Session["EmpModuleRoles"] != null)
                        {
                            string[] ModuleRoles = (string[])Session["EmpModuleRoles"];

                            if (ModuleRoles.Length > 0)
                            {
                                if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.QMS_Roles.HeadQA).ToString()))
                                {
                                    <button type="button" id="btnPrintTF" class="btn-signup_popup" onclick="PrintCAPAFile();">Print</button>
                                    <button type="button" class="btn-signup_popup" id="btnPDFDownload" onclick="DownloadPDFCAPA();">Download</button>
                                }
                            }
                        }

                        <button type="button" class="close" data-dismiss="modal" onclick="CloseWaitingModel();">&times;</button>
                    </div>
                </div>
                <div class="modal-body ">
                    <div class="" id="dvCAPAIframe">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End-->
    @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_HyperLinkQulaityNotification.cshtml")
    <!-- #region On click Functions -->
    <script>
        function TransactionHistoryView(cntrl, CapaID) {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/TransactionHistory")?id=" + CapaID + "&&EventType=" + 5, function () {
                $('#myModalTransHistory').modal('show');
                $('#myModalTransHistory').on('shown.bs.modal', function (e) {
                    var hdnColumns = [0,8]
                    LoadQMSEventsHistory(CapaID, hdnColumns,5);
                });
                ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "TransactionHistoryView(this," + CapaID + ")").unbind("click");
            });
        }

        function CreateCapa(cntrl) {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/Create")", function () {
                ShowPleaseWait('hide');
                        $('#myModalCreate').modal('show');
                        $("#btnSubmit").text("Create");
                        $("#lblCreateCAPA").text("Create CAPA").css("color", "white");
                    $(cntrl).attr("onclick", "CreateCapa(this)").unbind("click");
            });
        }
        function Detailsofcapa(cntrl, CapaID) {

            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
                $("#divBindPartialViews").empty();
                $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/Details")?id=" + CapaID, function () {
                $("#container").find("*").prop("disabled", true);
                $("#btnSubmit").hide();
                //$("#btnVerify").hide();
                //$("#btnCanceled").hide();
                $("#lblName").text("View CAPA").css("color", "white");
                $('#myModalDetails1').modal('show');
                ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "Detailsofcapa(this," + CapaID+")").unbind("click");
            });
        }
        function Editcapa(cntrl, CAPAID)
        {
                $(cntrl).attr("onclick", "").unbind("click");
                $("#divBindPartialViews").empty();
                $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/Create")?CAPAID=" + CAPAID, function () {
                    $('#myModalCreate').modal('show');
                    if ('@TempData["R"].ToString()' == 'HOD_RT') {

                        $("#lblCreateCAPA").text("Edit CAPA").css("color", "white");
                    }
                    $("#btnSubmit").text("Update");
                $(cntrl).attr("onclick", "Editcapa(this," + CAPAID + ")").unbind("click");

            });
        }
        function EditRM1(cntrl, CAPAID, DeptID, RemStatus)
        {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#divBindPartialViews").empty();
            $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/EditRM1")?id=" + CAPAID + "&&DeptID=" + DeptID, "&&RemStatus=" + RemStatus, function () {
                $('#myModalCreateRM1').modal('show');
                ShowPleaseWait('hide');
            $(cntrl).attr("onclick", "EditRM1(this," + CAPAID + "," + DeptID + ",'Rem1')").unbind("click");
            });
        }
        function EditRM2(cntrl, CAPAID, DeptID, RemStatus)
        {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#divBindPartialViews").empty();
            $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/EditRM2")?id=" + CAPAID + "&&DeptID=" + DeptID, "&&RemStatus=" + RemStatus, function () {
                $('#myModalCreateRM2').modal('show');
                ShowPleaseWait('hide');
            $(cntrl).attr("onclick", "EditRM2(this," + CAPAID + "," + DeptID + ",'Rem2')").unbind("click");
            });
        }
       function ActionEmployee(cntrl, CAPAID)
        {
           $(cntrl).attr("onclick", "").unbind("click");
           ShowPleaseWait('show');
                $("#divBindPartialViews").empty();
                $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/Details")?id=" + CAPAID, function () {
                    $("#lblName").text("View CAPA").css("color", "white");
                    $('#myModalDetails1').modal('show');
                    ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "ActionEmployee(this," + CAPAID + ")").unbind("click");

            });
    }
        function CapaMainListView(CapaID) {
            ShowPleaseWait('show');
        window.location = "@Url.Content("~/QMS/CAPA/CapaMainList/")?CapaID=" + CapaID;
    }
        function CAPAAdminManage(cntrl,CapaID) {
            $(cntrl).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
                $("#divBindPartialViews").empty();
                $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/_CAPAManage")?CAPAID=" + CapaID, function () {
                    ShowPleaseWait('hide');
                    $('#myModalCAPAManage').modal('show');
                $(cntrl).attr("onclick", "CAPAAdminManage(this," + CapaID + ")").unbind("click");

            });
        }
    </script>
    <!-- #endregion -->
    <!--JQuery Data table for CAPA List-->
    <script>
        var hideNtfColumns = [];
        var title = "";
        switch ('@TempData["R"].ToString()') {

            case 'CapaReportList':
                hideNtfColumns = [0,2,6,10,11,12,13,14,15,17,18,16];
                title = "CAPA Report List";
                $("#divAlertsCAPA").hide();
                $("#dvRptFilters").show();
                break;
            case 'Create':
                hideNtfColumns = [0, 2, 10, 11, 12, 14, 15, 6, 16, 17, 19];
                title = "CAPA Created List";
                $("#divAlertsCAPA").hide();
                $("#btCreateCAPA").show();
                break;
            case 'CapaMainList':
                hideNtfColumns = [0, 2, 10, 11, 12, 13, 14, 15, 17, 19];
                title = "CAPA Main List";
                $("#divAlertsCAPA").hide();
                break;
            case 'CAPAManage':
                hideNtfColumns = [0, 2, 10, 11, 12, 13, 14, 15, 16, 19];
                title = "CAPA Manage List";
                $("#divAlertsCAPA").hide();
                break;
            case 'QARmdrTransLsit':
                hideNtfColumns = [0, 2, 6, 11, 12, 14, 15, 16, 17, 19];
                title = "Reminder 1 Create List";
                $("#capaAlertOverDue").show();
                break;
            case 'QARmdr2TransLsit':
                hideNtfColumns = [0, 2, 6, 12, 14, 15, 16, 17, 19];
                title = "Reminder 2 Create List";
                $("#capaAlertOverDue").show();
                break;
            case 'QA_verify':
                hideNtfColumns = [0, 2, 6, 5, 17, 19];
                title="CAPA Verify List";
            case 'QA_R':
                if (@ViewBag.CAPAID>0) {
                    Detailsofcapa(this,@ViewBag.CAPAID)
                }
                hideNtfColumns = [0, 2, 6, 10, 11, 12, 13, 14, 16, 17, 19];
                title="CAPA Review List";
                $("#divAlertsCAPA").hide();
                break;
            case 'HQA_R':
                if (@ViewBag.CAPAID>0) {
                    Detailsofcapa(this,@ViewBag.CAPAID)
                }
                hideNtfColumns = [0, 2, 10, 6, 11, 12, 13, 14, 16, 17, 19];
                title="CAPA Review List";
                $("#divAlertsCAPA").hide();
                break;
            case 'QARmdrAppLsit':
                hideNtfColumns = [0, 2, 8, 12, 14, 15, 16, 17, 19];
                title="CAPA Reminders Approve List";
                $("#capaAlertOverDue").show();
                break;
            case 'EMP_List':
                if (@ViewBag.CAPAID>0) {
                    ActionEmployee(this,@ViewBag.CAPAID)
                }
                hideNtfColumns = [0, 2, 6, 10, 11, 13, 14, 15, 16, 17, 19];
                title="CAPA To-Do";
                $("#divAlertsCAPA").hide();
                $("#capaAlertOverDue").show();
                break;
            case 'C_EmpAccept':
                if (@ViewBag.CAPAID>0) {

                    ActionEmployee(this,@ViewBag.CAPAID)
                }
                hideNtfColumns = [0,2,6,10,11,13,14,15,16,17,19];
                title="CAPA Accept List";
                $("#divAlertsCAPA").hide();
                break;
            case 'C_EmpComplete':
                if (@ViewBag.CAPAID>0) {

                    ActionEmployee(this,@ViewBag.CAPAID)
                }
                hideNtfColumns = [0, 2, 6, 10, 11, 13, 14, 15, 16, 17, 19];
                title="CAPA Complete List";
                $("#divAlertsCAPA").hide();
                $("#capaAlertOverDue").show();
                break;
            case 'QA_List':
                hideNtfColumns = [0, 8, 2, 6, 12, 14, 16, 15, 17, 19];
                title=" CAPA List";
                $("#capaAlertOverDue").show();
                break;
            case 'VerifyList':
                hideNtfColumns = [0, 2, 6, 15, 17, 19];
                title = "";
                break;
            case 'HOD_RT':
                if (@ViewBag.CAPAID>0) {
                    Editcapa(this,@ViewBag.CAPAID)
                }
                hideNtfColumns = [0, 2, 6, 10, 11, 7, 12, 13, 15, 16, 17, 19];
                $("#divAlertsCAPA").hide();
                title = "Reverted CAPA List";
                break;
            case 'Hod_List':
                if (@ViewBag.RemainderStatus=='14' || @ViewBag.RemainderStatus=='12') {
                    if (@ViewBag.CAPAID>0) {
                        EditRM2(this,@ViewBag.CAPAID, @ViewBag.DeptID,'Rem2')
                    }
                }
                if (@ViewBag.RemainderStatus=='5' || @ViewBag.RemainderStatus=='7') {
                    if (@ViewBag.CAPAID>0) {
                        EditRM1(this,@ViewBag.CAPAID, @ViewBag.DeptID, 'Rem1')
                    }
                }
                hideNtfColumns = [0, 2, 6,12,14,15,16,17,19];
                title = "CAPA Reminder Review List";
                $("#capaAlertOverDue").show();
                break
            case 'Cp_verfy'://C_Verify
                hideNtfColumns = [0, 2, 6, 10, 11, 12, 13, 14, 15, 17, 19];
                title = "CAPA Verified List";
                $("#divAlertsCAPA").hide();
                $("#btnBackToDashboard").show();
                break;
            case 'Cp_Cmplt'://
                hideNtfColumns = [0, 2, 6, 10, 11, 12, 13, 14, 15, 17, 19];
                title = "CAPA Completed List";
                $("#divAlertsCAPA").hide();
                $("#btnBackToDashboard").show();
                break;
            case 'CP_R2Cmptd'://
                hideNtfColumns = [0, 2, 6, 10, 11, 12, 13, 14, 15, 17, 19];
                title = "CAPA Reminder 2 Completed List";
                $("#divAlertsCAPA").hide();
                $("#btnBackToDashboard").show();
                break;
            case 'CP_R1Cmptd'://
                hideNtfColumns = [0, 2, 6, 10, 11, 12, 13, 14, 15, 17, 19];
                title = "CAPA Reminder 1 Completed List";
                $("#divAlertsCAPA").hide();
                $("#btnBackToDashboard").show();
                break;
            case 'Cp_Pending'://
                hideNtfColumns = [0, 2, 6, 10, 11, 12, 13, 14, 15, 17, 19];
                title = "CAPA Pending List";
                $("#divAlertsCAPA").hide();
                $("#btnBackToDashboard").show();
                break;
            case 'Cp_Rjctd'://
                hideNtfColumns = [0, 2, 6, 10, 11, 12, 13, 14, 15, 17, 19];
                title = "CAPA Rejected List";
                $("#divAlertsCAPA").hide();
                $("#btnBackToDashboard").show();
                break;
            case 'CapaOverDue'://
                hideNtfColumns = [0, 2, 6, 10, 11, 12, 13, 14, 15, 17, 19];
                title = "CAPA OverDue List";
                $("#divAlertsCAPA").hide();
                $("#btnBackToDashboard").show();
                break;
            case 'CP_OverDue'://C_DueDate
                hideNtfColumns = [0, 2, 6, 10, 11, 12, 13, 14, 15, 17, 19];
                title = "CAPA OverDue List";
                $("#divAlertsCAPA").hide();
                $("#btnBackToDashboard").show();
                break;
            case 'CP_Closure'://Capa closure
                hideNtfColumns = [0, 2, 6, 10, 11, 12, 13, 14, 15, 17, 19];
                title = "CAPA Closed List";
                $("#divAlertsCAPA").hide();
                $("#btnBackToDashboard").show();
                break;
            case 'Hod_RevertedList':
                hideNtfColumns = [0, 2, 6, 12, 14, 15, 16, 17, 19];
                if (@ViewBag.RemainderStatus=='14') {
                    if (@ViewBag.CAPAID>0) {
                        EditRM2(this,@ViewBag.CAPAID, @ViewBag.DeptID,'Rem2')
                    }
                }
                if (@ViewBag.RemainderStatus=='7') {
                    if (@ViewBag.CAPAID>0) {
                        EditRM1(this,@ViewBag.CAPAID,  @ViewBag.DeptID, 'Rem1')
                    }
                }
                title = "CAPA Reminder Reverted List";
                $("#capaAlertOverDue").show();
                break;
            case 'QA_Close':
                hideNtfColumns = [0, 2, 6, 10, 11, 12, 13, 14, 15, 17, 19];
                title = "CAPA to be Closed List";
                $("#divAlertsCAPA").hide();
                break;
            case 'QA_Verification':
                //To Navigate to view transaction record from Notification link on QA_Verification
                    hideNtfColumns = [0, 2, 6, 10, 11, 12, 13, 14, 15, 17, 19];
                title = "CAPA Verification List";
                $("#divAlertsCAPA").hide();
                break;
            case 'HQA_Approval':
                //To Navigate to view transaction record from Notification link on HeadQA_Approval
                hideNtfColumns = [0, 2, 6,10,11,12,13,14,15,17,19];
                title = "CAPA Verification Approval List";
                $("#divAlertsCAPA").hide();
                break;
        }
        $("#lblName").text(title);


        var oTblCapaList;

        $('#tblCapaList thead tr').clone(true).appendTo('#tblCapaList thead');
        $('#tblCapaList thead tr:eq(1) th').each(function (i) {
            if (i < 12) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search " />');

                $('input', this).on('keyup change', function () {
                    if (oTblCapaList.column(i).search() !== this.value) {
                        oTblCapaList
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
                if (i == 1 && i == 0) {
                    $(this).html('');
                }
            }
            else {
                $(this).html('');
            }
        });
        function GetCAPAListDataTable(ReptDeptID, ReptQulityNo, ReptFormDate, ReptToDate) {
            if (oTblCapaList != null) {
                oTblCapaList.destroy();
            }
            $('#tblCapaList').wrap('<div class="dataTables_scroll" />');
             oTblCapaList = $('#tblCapaList').DataTable({
                columns: [
                    { 'data': 'CAPAID' }, //0
                    { 'data': 'CAPA_Number' },  //1
                    { 'data': 'DeptID' }, //2
                    { 'data': 'Department' }, //3
                    { 'data': 'QualityEventName' },//4
                    {
                        //Hyper Link //5
                        "data": "QualityEvent_Number",
                        "render": function (data, type, row, meta) {
                            if (row.QualityEvent_TypeID == '1' || row.QualityEvent_TypeID == "4" || row.QualityEvent_TypeID == "2" || row.QualityEvent_TypeID == "9") {
                                data = '<a class="hyperlinkforview" title="Click To View"  onclick="ViewQualityEventDetails(this,' + row.QualityEvent_TypeID + ',' + row.EventsBaseID + ');">' + row.QualityEvent_Number + '</a>';
                            }
                            return data;
                        }
                    },
                    { 'data': 'EmployeeName' }, //6
                    { 'data': 'CAPA_Date', type: 'dd-mmm-yyyy' }, //7
                    { 'data': 'TargetDate' }, //8
                    { 'data': 'CurrentStatus' }, //9
                    { 'data': 'RM1' },  //RM1 10
                    { 'data': 'RM2' },  //RM2 11
                    {
                        "mData": null,   //  Emp Action 12
                        "bSortable": false,
                        "mRender": function (o) {
                            if (o.CurrentStatusNumber == 2 || o.CurrentStatusNumber == 3) { return '<a class="action_qms"   href="#" title="Action"   onclick="ActionEmployee(this,' + o.CAPAID + ')">' + '' + '</a>'; } else {
                                return '';
                            }
                        }
                    },
                    {
                        "mData": null,   //View Capa Details 13
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="view"  href="#" title="View"  onclick="Detailsofcapa(this,' + o.CAPAID + ')">' + '' + '</a>';
                        }
                    },
                    {
                        "mData": null,       // Edit CAPA 14
                        "bSortable": false,
                        "mRender": function (o) {
                            if (o.CurrentStatusNumber == 9) { return ""; } else
                                if (o.CurrentStatusNumber == 10) {
                                    return "";
                                } else {
                                    return '<a class="action_qms"   href="#"   title="Action" onclick="Editcapa(this,' + o.CAPAID + ')">' + '' + '</a>';
                                }
                        }
                    },
                    {
                        "mData": null,   // Approve QA and Head QA  15
                        "bSortable": false,
                        "mRender": function (o) {
                            if (o.CurrentStatusNumber == 11 || o.CurrentStatusNumber == 1) {
                                return '<a class="action_qms"  href="#"   title="Action" onclick="Detailsofcapa(this,' + o.CAPAID + ')">' + '' + '</a>';
                            }
                            else if (o.CurrentStatusNumber == 16) {
                                return '<a class="action_qms"  href="#"  title="Action" onclick="Detailsofcapa(this,' + o.CAPAID + ')">' + '' + '</a>';
                            }
                            else { return ''; }
                        }
                    },
                    {
                        "mData": null,   // Capa MainList 16
                        "bSortable": false,
                        "mRender": function (o) {
                            if ('@TempData["R"].ToString()' == 'QA_Close' || '@TempData["R"].ToString()' == 'QA_Verification' || '@TempData["R"].ToString()' == 'HQA_Approval') {
                                return '<a class="action_qms" title="Action" onclick=CapaMainListView(' + o.CAPAID + ')>' + '' + '</a>';
                            } else {
                                return '<a class="view" onclick=CapaMainListView(' + o.CAPAID + ')>' + '' + '</a>';
                            }
                        }
                    },
                    {
                        "mData": null,   // Capa Manage 17
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="action_qms" title="Manage" onclick="CAPAAdminManage(this,' + o.CAPAID + ')">' + '' + '</a>';
                        }
                    },
                    {
                        "mData": null,   // Capa history 18
                        "bSortable": false,
                        "mRender": function (o) {
                                return '<a class="View" href="#" title="History" onclick="TransactionHistoryView(this,' + o.CAPAID + ')">' + '' + '</a>';
                        }
                    },
                    {
                        "mData": null,   // Capa Report 19
                        "bSortable": false,
                        "mRender": function (o) {
                            if (o.CurrentStatusNumber == 21 || o.CurrentStatusNumber == 9 || o.CurrentStatusNumber == 22) {
                                return '<a class="view" title="Report" href="#" onclick="CAPAPdfFormViewerContentLoading(' + o.CAPAID + ',' + o.CurrentStatusNumber + ')">' + '' + '</a>';
                            } else { return "";}
                        }
                    },
                 ],
                "orderCellsTop": true,
                "responsive": true,
                "paging": true,
                "order": [[0, "desc"]],
                 "aoColumnDefs": [{ className: "dt-body-left", "targets": [1, 2, 3, 4, 5] }, { className: "textAlignCenter", "targets": [12,13,14,15,16,17, 18,19] }, { "targets": hideNtfColumns, "visible": false },
                { "orderable": false, "targets": [10, 11] },

                {
                    targets: [10], render: function (a, b, data, d) {

                        if (data.RM1 == "2") {

                            return '<a class="Reminder2" href="#" title="Reminder1" onclick=EditRM1(this,' + data.CAPAID + ',' + data.DeptID + ',"Rem1")> </a > ';
                        } else if (data.RM1 == "1") {
                            return '<a class="Reminder1"  href="#" title="Reminder1"  onclick=EditRM1(this,' + data.CAPAID + ',' + data.DeptID + ',"Rem1")> </a > ';
                        } else {
                            return "";
                        }
                    }
                },
                {
                    targets: [11], render: function (a, b, data, d) {

                        if (data.RM2 == "2") {
                            return '<a class="Reminder2" title="Reminder2" href="#"  onclick=EditRM2(this,' + data.CAPAID + ',' + data.DeptID + ',"Rem2")>' + '' + '</a>';
                        } else if (data.RM2 == "1") {
                            return '<a class="Reminder1"  href="#" title="Reminder2" onclick=EditRM2(this,' + data.CAPAID + ',' + data.DeptID + ',"Rem2")>' + '' + '</a>';
                        } return "";
                    }
                },

                ],

                'createdRow': function (row, data, index) {
                    // overDue count 1 change the color particular Row
                    if (('@TempData["R"].ToString()' != 'CP_OverDue') && ('@TempData["R"].ToString()' != 'CapaOverDue')) {
                        if (data.OverDue == 1) {
                            console.dir(row);
                            $(row).closest('tr').addClass('tablerowred');
                        }
                    }

                },
                'bAutoWidth': true,
                "sAjaxSource": "@Url.Content("~/QMS/Capa/GetCAPAList")",
                "fnServerData": function (sSource, aoData, fnCallback) {

                    aoData.push(
                        { "name": "Role", "value": ('@TempData["R"].ToString()') },
                        { "name": "DeptRpt", "value": ReptDeptID },
                        { "name": "FromDateRpt", "value": ReptFormDate },
                        { "name": "ToDateReport", "value": ReptToDate },
                        { "name": "QualityEventRpt", "value": ReptQulityNo  }
                    );
                    $.ajax({
                        "dataType": 'json',
                         "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else {
                                if (result.hasError == true) {
                                    custAlertMsg(result.data, "error", "ReloadDashboard();");
                                }
                                else {
                                    fnCallback(result);
                                }
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
             if ('@TempData["R"].ToString()' == 'QA_Close' || '@TempData["R"].ToString()' == 'QA_Verification' || '@TempData["R"].ToString()' == 'HQA_Approval') {
            $(oTblCapaList.column(16).header()).text('Action');
        }
        }
    </script>
    <!-- #region HideColumns -->
    <script>
    if ('@TempData["R"].ToString()' == 'QARmdrAppLsit' || '@TempData["R"].ToString()' =='QARmdrTransLsit' )
    {
        if (@ViewBag.Remainder1 =='2' || @ViewBag.RemainderStatus=='6') {
            if (@ViewBag.CAPAID>0) {
                EditRM1(this,@ViewBag.CAPAID,  @ViewBag.DeptID, 'Rem1')
            }
        }
        if (@ViewBag.Remainder2 =='2' ||@ViewBag.RemainderStatus=='13') {
            if (@ViewBag.CAPAID>0) {
                EditRM2(this,@ViewBag.CAPAID,  @ViewBag.DeptID, 'Rem2')
            }
        }
    }
    </script>
    <!-- #endregion -->
    <!--From Date and To Date in Capa Report List -->
    <script>
        $(document).ready(function () {
            var CurrentDate;
            var FromDate;
            $('#ddlCapaRptFromDate').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
                maxDate: new Date(new Date()),
                minDate: '01 Jan 1900', 
                //minDate: moment().format('DD MMM YYYY'),
                //showClear: true
            });
            FromDate = moment().subtract(1, 'months').format("DD MMM YYYY")
            $('#ddlCapaRptToDate').datetimepicker({
                format: 'DD MMM YYYY',
                maxDate: new Date(),
            });
            CurrentDate = moment().format("DD MMM YYYY");
            $('#ddlCapaRptToDate').val(CurrentDate);
            //For From Date
            $('#ddlCapaRptFromDate').val(FromDate);
        });
        $('#ddlCapaRptFromDate').on("dp.change", function (e) {
            $('#ddlCapaRptToDate').data("DateTimePicker").minDate(e.date);
            $('#ddlCapaRptToDate').val("");
        });
    </script>

    <!--Report FromDate ToDate Submit and Reset Validation-->
    <script>
        function ReportListRestValidation() {
            $('#ddlCapaDepartmentBinding').selectpicker('val', [0]);
            $('#ddlCapaDepartmentBinding').selectpicker('refresh');
            $('#ddlQualityEventsReports').selectpicker('val', [0]);
            $('#ddlQualityEventsReports').selectpicker('refresh');
            $("#ddlCapaRptFromDate").val(moment().subtract(1, 'months').format("DD MMM YYYY"));
            $("#ddlCapaRptToDate").val(moment().format("DD MMM YYYY"));
            GetCAPAListDataTable(0, 0, "0", "0");
        }
        function ReportListValidation() {
            var RptFromDate = $("#ddlCapaRptFromDate").val();
            var RptToDate = $("#ddlCapaRptToDate").val();
            var Role = "Report";
            errors = [];
            if (RptFromDate == "") { errors.push("Select From Date."); }
            if (RptToDate == "") { errors.push("Select To Date."); }
            if (errors.length > 0) {
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
            }
            GetCAPAListDataTable($('#ddlCapaDepartmentBinding').val(), $('#ddlQualityEventsReports').val(), RptFromDate, RptToDate);
        }
        GetCAPAListDataTable(0, 0, "0", "0");
    </script>


  
    <!--End To View CAPA File Uploads Documents -->
    <script>
        // File Path Stored
        var CAPAPrintFilePath = "";
        function ReportView(cntrl) {
            $(cntrl).attr("onclick", "").unbind("click");

            errors = [];
            var DepartmentID1 = $("#ddlCapaDepartmentBinding").val();
            var EventID1 = $("#ddlQualityEventsReports").val();
            var RptFromDate1 = $("#ddlCapaRptFromDate").val();
            var RptToDate1 = $("#ddlCapaRptToDate").val();
            if (RptFromDate1 == "") { errors.push("Select From Date."); }
            if (RptToDate1 == "") { errors.push("Select To Date."); }
            if (errors.length > 0) {
                $(cntrl).attr("onclick", "ReportView(this)").unbind("click");
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
            }
            ShowPleaseWait('show');
            $.ajax({
                url: '/QMS/Capa/CapaReportView',
                data: {
                    'DepartmentID': DepartmentID1, 'RptFromDate': RptFromDate1, 'RptToDate': RptToDate1, 'EventID': EventID1,
                },
                type: 'Get',
                success: function (result) {
                    ShowPleaseWait('hide');
                    if (result.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (result.data == "No Records found") {
                            custAlertMsg("Records Not Found.", "error");
                        }
                        else if (result.hasError == true) {
                            custAlertMsg(result.data, "error");
                            return false;
                        }
                        else {
                            $("#hdnFname").val(result.data);
                            CAPAPrintFilePath = result.PrintFilePath;
                            var dvShow = document.getElementById("dvCAPAIframe");
                            PdfViewerContentLoading(CAPAPrintFilePath, dvShow);

                            $("#MyModelCAPAFileViewForReport").modal('show');
                            $("#btnPDFDownload").hide();
                        }
                        $(cntrl).attr("onclick", "ReportView(this)").unbind("click");
                    }
                }
            });
        }
    </script>
    <script>
        function CloseWaitingModel() {
            $('#MyModelWaitingInc').modal('hide');
        }
    </script>

    <script>
    function BackToDashboard(){
        window.location.href = '@Url.Action("QMS_Dashboard", "DashBoard", routeValues: new {  })';
    }
    </script>
    <script>
        $(document).ready(function () {
            $('.selectpicker1').selectpicker({
                liveSearch: true,
                showSubtext: true,
                size: 7
            });
        });
    </script>

    <script>

        function CAPAPdfFormViewerContentLoading(CAPAID, currentStatus) {
            $("#hdnCAPAReportView").val(CAPAID);
            var objInputstr = { "CAPAID": CAPAID, "CurrentStatus": currentStatus };
            var jsonData = JSON.stringify(objInputstr);
            $.ajax({
                type: "POST",
                url: '/QMS/CAPA/CAPAGetFinalReportPDFPath',
                data: jsonData,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.msgType == "success") {
                        // $(dvShow).html(response.data);
                        $("#divModalSize").css("max-width", "95%");
                        $("#btnPDFDownload").show();
                        var dvShow = document.getElementById("dvCAPAIframe");
                        PdfViewerContentLoading(response.data, dvShow);
                        CAPAPrintFilePath = response.data;
                        $("#MyModelCAPAFileViewForReport").modal('show');
                    }
                    else {
                        custAlertMsg(response.data, "error");
                    }
                }
            })
        }
    </script>
    <script>
        function PrintCAPAFile() {
            if (CAPAPrintFilePath != "") {
                var objFra = document.createElement('iframe');   //Creating IFrame.
                objFra.style.visibility = "hidden";
                objFra.src = window.location.origin + "/" + CAPAPrintFilePath;  // source.
                document.body.appendChild(objFra);  // Adding the frame to the web page.
                objFra.contentWindow.focus();       // Set focus.
                objFra.contentWindow.print();
                //logPrintClick();
            }
            else {
                custAlertMsg(" File doesn't exist to print.", "warning");
            }
        }
    </script>
    <script src='@Url.Content("~/AppScripts/CommonPDF_Viewer.js")'></script>
    <script>
    function DownloadPDFCAPA() {
        var CAPAID = $("#hdnCAPAReportView").val()
        window.location = "@Url.Content("~/QMS/Capa/DownloadCAPAReport/")?CAPAID=" + CAPAID;
                }

    </script>

}
<!--Exception Message -->
<script>
    function ExecptionMsg(){
        var Err = "@TempData["Exception"]";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
    }
</script>
