﻿@model QMS_BO.QMS_CAPABO.MainListCapaBO

@{
    ViewBag.Title = "CapaMainList";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<style>


    table datatable_cust table-striped table-bordered dataTable no-footer {
        width: 0px !important;
    }
</style>
<input type="hidden" id="hdnCAPaViewVerification" />
<div class="float-right padding-none">
    <a class=" btn-signup_popup float-right bottom" id="btnCcncreate" onclick="BacktoList();">Back to List</a>
</div>
<div class=" col-12 grid_area float-left padding-left_div" id="paragraph2">
    <div class="col-lg-12 float-left padding-none">
        <div id='OpenPopup'></div>
        <div id='divBindPartialViews'></div>
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel padding-none">

        <div id="accordionConent" class="accordion">
            <div class="card mb-0">
                <div class="card-header header_col_sub " data-toggle="collapse" href="#collapseOneSub">
                    <a class="card-title collapsed">
                        View CAPA Report
                    </a>
                </div>
                <div id="collapseOneSub" class="collapse show" data-parent="">
                    <div class="card-body col-12 float-left ">
                        <div class="col-12 float-left  info_bg ">
                            <div class="col-6 float-left custom_text_view ">
                                <label class="  custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 col-6"> CAPA Number  </label>
                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                    @Html.DisplayFor(model => model.CAPA_Number, new { htmlAttributes = new { @class = "edit_textl", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="col-6 float-left custom_text_view">
                                <label class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6"> Department  </label>
                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                    @Html.DisplayFor(Model => Model.Department, new { htmlAttributes = new { @id = "DeptName", @class = " edit_text" } })
                                </div>
                            </div>
                            <div class="col-12 float-left padding-none">
                                <div class="col-6 float-left custom_text_view">
                                    <label for="" class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Quality Notification Number</label>
                                    <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                        @if (Model.QualityEvent_TypeID == "1" || Model.QualityEvent_TypeID == "4" || Model.QualityEvent_TypeID == "2" || Model.QualityEvent_TypeID == "9")
                                        {
                                            <a class="hyperlinkforview" title="Click To View" onclick="ViewQualityEventDetails(this,@Model.QualityEvent_TypeID,@Model.EventBaseID);">  @Model.QualityEvent_Number </a>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(model => model.QualityEvent_Number, new { htmlAttributes = new { @class = "edit_text " } })
                                        }
                                    </div>
                                </div>
                                <div class="col-6 float-left custom_text_view">
                                    <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Created Date</label>
                                    <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                        @Html.DisplayFor(Model => Model.CAPA_Date, new { htmlAttributes = new { @class = "edit_text " } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 float-left padding-none">
                                <div class="col-6 float-left custom_text_view">
                                    <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Quality Notification Type</label>
                                    <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                        @Html.DisplayFor(Model => Model.QualityEventName, new { htmlAttributes = new { @class = "edit_text " } })
                                    </div>
                                </div>
                                <div class="col-6 float-left custom_text_view" sty>
                                    <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Type of Action</label>
                                    <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                        @Html.DisplayFor(model => model.PlanofAction, new { htmlAttributes = new { @class = "edit_text " } })
                                    </div>
                                </div>
                                </div>
                                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 custom_text_view">
                                    <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2  col-2">Action Description</label>
                                    <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                        @Html.DisplayFor(model => model.Capa_ActionDesc, new { htmlAttributes = new { @class = "edit_text " } })
                                    </div>
                                </div>
                                <div class="col-12 float-left custom_text_view">
                                    <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-4 col-sm-6 col-lg-4  col-6">Responsible Person</label>
                                    <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                        @Html.DisplayFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "edit_text " } })
                                    </div>
                                </div>
                                <div class="col-6 float-left custom_text_view" sty>
                                    <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Target Date</label>
                                    <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                        @Html.DisplayFor(model => model.TargetDate, new { htmlAttributes = new { @class = "edit_text " } })
                                    </div>
                                </div>
                                <div class="col-6 float-left custom_text_view" sty>
                                    <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-2">Status </label>
                                    <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                        @Html.DisplayFor(model => model.CurrentStatusName, new { htmlAttributes = new { @class = "edit_text " } })
                                    </div>

                                </div>
                                <div class="col-12 float-left custom_text_view" style="border-bottom:1px solid #999;">
                                    <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-4 col-sm-6 col-lg-4  col-6">QA Reviewer</label>
                                    <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                        @Html.DisplayFor(model => model.Assigned_QA, new { htmlAttributes = new { @class = "edit_text " } })
                                    </div>
                                </div>
                                <div class="col-6 float-left" style="padding: 5px;">
                                    <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">
                                        Verification Status (Yes/No)
                                    </label>
                                    <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                        @Html.DisplayFor(model => model.Verified_YesOrNO, new { htmlAttributes = new { @class = "edit_text " } })
                                    </div>
                                </div>
                                @if (Model.CurrentStatus == 21)
                                {
                                    <div class="col-6 float-left" style="padding: 5px;">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Verification Due Date </label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.VerificationDueDate, new { htmlAttributes = new { @class = "edit_text " } })
                                        </div>
                                    </div>
                                }

                                @*else if (@Model.CurrentStatus == 9 || @Model.CurrentStatus == 22)
            {
                <div class="col-6 float-left custom_text_view" sty>
                    <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4  col-6">Verified Date </label>
                    <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                        @Html.DisplayFor(model => model.VerifiedDate, new { htmlAttributes = new { @class = "edit_text " } })
                    </div>
                </div>
            }
            else
            {
                <div class="col-6 float-left custom_text_view" sty>
                </div>

            }*@
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CAPA Tabs-->
    <div class="card-body  col-xl-12 col-md-12 col-sm-12 col-lg-12 col-12 float-left padding-none top" id="CapaTabes">
        <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
            <ul class="nav nav-tabs tab_grid">
                <li class="nav-item " id="RM1Tab"><a class="nav-link active" data-toggle="tab" href="#home1" id="rm1">RM1</a></li>
                <li class="nav-item" id="RM2Tab"><a class="nav-link" data-toggle="tab" id="ActionPlanTabId" href="#home2">RM2</a></li>
                <li class="nav-item" id="CloseTab"><a class="nav-link" data-toggle="tab" id="CapaClosetabid" href="#home4">CAPA to be closed</a></li>
                <li class="nav-item" id="VerificationTab"><a class="nav-link" data-toggle="tab" href="#home3" id="verification">Verification</a></li>
                <li class="nav-item" id="CmpltAttachmentTab"><a class="nav-link" data-toggle="tab" href="#home5" id="attachment">Attachments</a></li>
                <li class="nav-item" id="CAPAHistoryTab"><a class="nav-link" data-toggle="tab" id="idCapaHistoryhre" href="#home6">History</a></li>
            </ul>
        </div>
        <div class="tab-content  float-left col-lg-12 padding-none" id="test">
            <div id="home1" class="tab-pane ">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top float-left">Reminder 1</div>
                <div class="col-12 float-left grid_border">
                    <div class="col-4 float-left">
                        <label class=" custom_label col-form-label"> CAPA Number</label>
                        @Html.EditorFor(Model => Model.CAPA_Number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-4 float-left">
                        <label for="" class="col-12 padding-none custom_label col-form-label">Proposed Target Date</label>
                        @Html.Editor("ProposedDate", new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.ProposedDate, @readonly = "readonly" } })
                    </div>
                    <div id="dvRdbtn" class="col-4 float-left bottom">
                        <div class=" btn-group-toggle float-left col-12 padding-none" data-toggle="buttons" id="divYesNoGrp">
                            <label class="col-12 custom_label col-form-label float-left padding-none required"> Need a Revised Date</label>
                            <label class="btn btn btn-secondary float-left col-sm-6 col-xs-6 col-lg-6 col-md-6" id="lblYes">
                                <input type="radio" name="options" id="rdbtnYes" autocomplete="off" class="col-4" onchange="IsYes();"> Yes
                            </label>
                            <label class="btn btn btn-secondary float-left col-sm-6 col-xs-6 col-lg-6 col-md-6" id="lblNo">
                                <input type="radio" name="options" id="rdbtnNo" autocomplete="off" class="col-4" onchange="IsNo();"> No
                            </label>
                        </div>
                    </div>
                    <div id="dvRTargetdate" class="col-4 float-left" style="display:none">
                        <label for="" class="custom_label padding-none col-form-label required" id="lblreviseddate">Revised Target Date</label>
                        @Html.EditorFor(model => model.RevisedTargetDate, new { htmlAttributes = new { @class = "form-control  ui-state-highlight", disabled = "disabled" } })
                    </div>
                    <div class="col-4 float-left">
                        <label class="col-12 custom_label padding-none col-form-label required">Assign To HOD</label>

                        @Html.EditorFor(Model => Model.AssignHODNameRM1, new { htmlAttributes = new { @class = "form-control  ui-state-highlight", @readonly = "readonly" } })
                    </div>
                    <div class="col-4 float-left">
                        <label for="" class="custom_label padding-none col-form-label" id="lblreviseddate">Reminder1 Status</label>
                        @Html.Editor("ReminderStatusName", new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
                    </div>
                    <div class="col-12 float-left">
                        <label class=" custom_label col-form-label required"> QA Comments:</label>
                        @Html.TextAreaFor(model => model.QA_Remainder_Notes, 3, 200, new { maxlength = 500 })
                    </div>

                    <div id="hodComments" class="col-12 float-left">
                        <label class=" custom_label col-form-label required"> HOD Comments:</label>
                        @Html.TextAreaFor(model => model.HOD_Justify_Notes, 3, 200, new { @name = "HOD_Justify_Notes", maxlength = 500 })
                    </div>
                    <div class="col-12 float-left"> <button id="btnCancel" class="btn btn-cancel_popup float-right top" onclick="CancelCapaMainList();">Cancel</button></div>
                </div>
            </div>
            <div id="home2" class="tab-pane ">

                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top float-left">Reminder 2</div>
                <div class="col-12 float-left grid_border">
                    <div class="col-4 float-left">
                        <label class=" custom_label col-form-label"> CAPA Number</label>
                        @Html.Editor("CAPANO", new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.CAPANO, @readonly = "readonly" } })
                    </div>
                    <div class="col-4 float-left">
                        <label for="" class="col-12 padding-none custom_label col-form-label">Proposed Target Date</label>
                        @Html.Editor("Date", new { htmlAttributes = new { @class = "form-control ", @Value = @ViewBag.ProposedDateRM2, @readonly = "readonly" } })
                    </div>
                    <div id="dvRdbtnRM2" class="col-4 float-left bottom">
                        <div class=" btn-group-toggle float-left col-12 padding-none" data-toggle="buttons" id="divYesNoGrpRM2">
                            <label class="col-12 custom_label col-form-label float-left padding-none required"> Need a Revised Date</label>
                            <label class="btn btn btn-secondary float-left col-sm-6 col-xs-6 col-lg-6 col-md-6 " id="lblYesRM2">
                                <input type="radio" name="options" id="rdbtnYesRM2" autocomplete="off" class="col-4"> Yes
                            </label>
                            <label class="btn btn btn-secondary float-left col-sm-6 col-xs-6 col-lg-6 col-md-6 " id="lblNoRM2">
                                <input type="radio" name="options" id="rdbtnNoRM2" autocomplete="off" class="col-4"> No
                            </label>
                        </div>
                    </div>
                    <div id="dvRTargetdateRM2" class="col-4 float-left" style="display:none">
                        <label for="" class="custom_label padding-none col-form-label required" id="lblreviseddate">Revised Target Date</label>
                        @Html.EditorFor(model => model.RevisedTargetDateRM2, new { htmlAttributes = new { @class = "form-control", @name = "RevisedTargetDate" } })
                    </div>
                    <div class="col-4 float-left">
                        <label class=" custom_label padding-none col-form-label required">Assign To HOD</label>
                        @Html.EditorFor(model => model.AssignHODNameRM2, new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
                    </div>
                    <div class="col-4 float-left">
                        <label for="" class="custom_label padding-none col-form-label" id="lblreviseddate">Reminder2 Status</label>
                        @Html.Editor("ReminderStatusNameRM2", new { htmlAttributes = new { @class = "form-control ", @readonly = "readonly" } })
                    </div>
                    <div class="col-12 float-left">
                        <label class=" custom_label col-form-label required"> QA Comments:</label>
                        @Html.TextAreaFor(model => model.QA_Remainder_NotesRM2, 3, 200, new { @disabled = "disabled" })
                    </div>
                    <div id="hodComments" class="col-12 float-left">
                        <label class=" custom_label col-form-label required" id="lblhdComments"> HOD Comments:</label>
                        @Html.TextAreaFor(model => model.HOD_Justify_NotesRM2, 3, 200, new { @disabled = "disabled" })

                    </div>
                    <div class="col-12 float-left">
                        <button id="btnCancel" class="btn btn-cancel_popup float-right top" onclick="CancelCapaMainList();">Cancel</button>
                    </div>
                </div>
            </div>
            <div id="home3" class="tab-pane">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top float-left">Verification</div>
                <div class="col-12 float-left grid_border">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none">
                        <div class="col-12 float-left">
                            <input type="button" value="Verification" id="btnAttachment" class="top btn btn-signup_popup float-left " style="display:none" onclick="CAPAVerificationByQA(this);" />
                        </div>
                        <div id="divPartialviewLoad"></div>
                        <div id="divtblEffectivenessVerification">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top ">CAPA Verification</div>
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none">
                                    <table id="tblEffectiveVerification" class="table datatable_cust table-striped table-bordered" cellspacing="0" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>UniqueID</th>
                                                <th>Implementation Date</th>
                                                <th>CAPAID</th>
                                                <th>Implemented</th>
                                                <th>Head QA</th>
                                                <th>Current Status</th>
                                                <th>Action</th>
                                                <th>View</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-12 float-left">
                            <label class=" custom_label col-form-label required">Comments :</label>
                            @Html.TextAreaFor(model => model.VerificationComments, 3, 200, htmlAttributes: new { @maxlength = "500", @disabled = "disabled" })
                        </div>*@

                    @*<div class="col-12 float-left" id="dvHqacomments" style="display:none">
                            <label class=" custom_label col-form-label required">Approval Comments :</label>
                            @Html.TextAreaFor(model => model.HQAApprovalComments, 3, 200, new { @maxlength = "500" })
                        </div>*@
                    <div class=" bottom  col-12 float-left top">
                        <button id="btnCancel" class="btn btn-cancel_popup float-right" onclick="CancelCapaMainList();">Cancel</button>
                        @*<button id="btnApprovalHQA" class="btn btn-signup_popup float-right" style="display:none" onclick="SubmitHQAApproval();">Approve</button>*@
                    </div>
                </div>
            </div>
            <div id="home4" class="tab-pane">
                @*<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top">Close CAPA </div>*@
                <div class="col-12 float-left grid_border top">
                    <div class="col-12 float-left">
                        <label class="col-12 custom_label col-form-label required padding-none">Comments :</label>
                        @Html.TextAreaFor(model => model.ClosureComments, 3, 200, htmlAttributes: new { @maxlength = "500", @disabled = "disabled" })
                    </div>
                    <div class="bottom  col-12 float-left top">
                        <div class="col-6 float-left padding-none">
                            @Html.Label("Closure Date :", htmlAttributes: new { @class = "float-left custom_label col-form-label" })
                            <div class="float-left">
                                @Html.EditorFor(Model => Model.ClosureEffectiveDate, new { htmlAttributes = new { @class = " form-control ", @disabled = "disabled" } })
                            </div>
                        </div>

                        <button id="btnCancel" class="btn btn-cancel_popup float-right" onclick="CancelCapaMainList();">Cancel</button>
                        <button id="btnCloseSubmit" class="btn btn-signup_popup float-right" style="display:none" onclick="SubmitCapaClose();">Submit</button>
                    </div>
                </div>
            </div>
            <div id="home5" class="tab-pane ">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_border top padding-none">
                    <div id="divtblCapaCompltFileUploadList" style="display:none" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none">
                        <table id="tblCapaCompltFileUploadList" class="table datatable_cust table-striped table-bordered " style="width:100%;">
                            <thead>
                                <tr>
                                    <th>SNo</th>
                                    <th>UniqueID</th>
                                    <th>File Name</th>
                                    <th>File Type</th>
                                    <th>View</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <button id="btnCancel" class="btn btn-cancel_popup float-right top" onclick="CancelCapaMainList();">Cancel</button>
            </div>
            <div id="home6" class="tab-pane ">
                @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_HistoryDetails.cshtml")
                <button id="btnCancel" class="btn btn-cancel_popup float-right top" onclick="CancelCapaMainList();">Cancel</button>
            </div>

        </div>
    </div>
    @*<div class="text-right bottom  col-12 float-left">*@
</div>
<!--Capa Fill View -->
<div id="MyModelCapaFileView" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="min-width:77%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">View File</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body fileModalpopup-Scroll">
                <div class="embed-responsive embed-responsive-16by9" id="dvfileframe">

                </div>
            </div>
        </div>
    </div>
</div>


<!--call Electronic Signature -->
@Html.Partial("_ElectronicPartialView")
@Html.Partial("~/Areas/QMS/Views/Capa/_AttachmentsCapaComplete.cshtml")
@Html.Partial("~/Areas/QMS/Views/Shared/QMS/_HyperLinkQulaityNotification.cshtml")
<!--End-->

<script>
    function CAPAVerificationByQA(cntrl) {
         $(cntrl).attr("onclick", "").unbind("click");
        ShowPleaseWait('show');
        $("#divPartialviewLoad").load("@Url.Content("~/QMS/Capa/_CAPAVerificationAddAttachments")?CAPAID="+@Model.CAPAID, function () {
                ShowPleaseWait('hide');
                $('#myModalVerification').modal('show');
                $("#btnVerifcationSubmit").show();
                $("#btnVerifApproveAction").hide();
                $("#btnVerifRevertAction").hide();
                $("#btnVerifcationUpdate").hide();
                $(cntrl).attr("onclick", "CAPAVerificationByQA(this)").unbind("click");
            });
    }
    function ToViewEditCAPAVerification(cntrl, EV_ID, CAPAID) {
        $(cntrl).attr("onclick", "").unbind("click");
        $("#hdnCAPaViewVerification").val("");
        ShowPleaseWait('show');
        $("#divPartialviewLoad").load("@Url.Content("~/QMS/Capa/_CAPAVerificationAddAttachments")?CAPAID=" + CAPAID + "&&EVID=" + EV_ID, function () {
                ShowPleaseWait('hide');
                if ('@TempData["R"].ToString()' == 'HQA_Approval') {
                    $("#formAuditUpload").hide();
                    $("#btnVerifcationUpdate").hide();
                    $("#btnVerifcationSubmit").hide();
                    $("#ImplementorDateVerificationCAPA").prop('disabled', true).css("color", "disabled");
                    $("#idAssigneHQA").prop('disabled', true).css("color", "disabled");
                    $('#divImplemented').css('pointer-events', 'none');
                    $("#btnVerifApproveAction").show();
                    $("#btnVerifRevertAction").show();
                }
                else if ('@TempData["R"].ToString()' == 'QA_Verification')//Edit
                {
                    $("#btnVerifApproveAction").hide();
                    $("#btnVerifRevertAction").hide();
                    $("#btnVerifcationSubmit").hide();
                    $("#btnVerifcationUpdate").show();
                    $("#formAuditUpload").show();
                }
                $('#myModalVerification').modal('show');
                $(cntrl).attr("onclick", "ToViewEditCAPAVerification(this," + EV_ID + "," + CAPAID+")").unbind("click");
            });
    }
    function ToViewCAPAVerification(cntrl, EV_ID, CAPAID) {
        $(cntrl).attr("onclick", "").unbind("click");
        ShowPleaseWait('show');
        $("#hdnCAPaViewVerification").val(1);//to pass data to view CAPA verification
        $("#divPartialviewLoad").load("@Url.Content("~/QMS/Capa/_CAPAVerificationAddAttachments")?CAPAID=" + CAPAID + "&&EVID=" + EV_ID, function () {
                ShowPleaseWait('hide');
                $('#myModalVerification').modal('show');
                $("#formAuditUpload").hide();
                $("#dvVerificationComments").hide();
                    $("#btnVerifcationUpdate").hide();
                    $("#btnVerifcationSubmit").hide();
                    $("#btnVerifApproveAction").hide();
                    $("#btnVerifRevertAction").hide();
                    $("#btnVerifcationSubmit").hide();
                    $("#ImplementorDateVerificationCAPA").prop('disabled', true).css("color", "disabled");
                    $("#idAssigneHQA").prop('disabled', true).css("color", "disabled");
                    $('#divImplemented').css('pointer-events', 'none');
                    $(cntrl).attr("onclick", "ToViewCAPAVerification(this," + EV_ID + "," + CAPAID+")").unbind("click");
            });
    }

</script>
<script>
              if ('@Model.IsRevisedDate' != null) {
                if ('@Model.IsRevisedDate' == 'True') {
                $('#lblYes').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");
                $('#lblNo').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 ");
                $("#rdbtnYes").attr('checked', 'checked');
                $("#dvRTargetdate").show();
            } else if ('@Model.IsRevisedDate' == 'False') {
                    $('#lblYes').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 ");
                    $('#lblNo').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active ");
                    $("#rdbtnNo").attr('checked', 'checked');
                    $("#dvRTargetdate").hide();
        }
              }
                $('#divYesNoGrp').css('pointer-events', 'none');
</script>
<script>
            if ('@Model.IsRevisedDateRM2' != null) {

                if ('@Model.IsRevisedDate' == 'True') {
                    $('#lblYesRM2').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");
                    $('#lblNoRM2').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 ");
                    $("#rdbtnYesRM2").attr('checked', 'checked');
                    $("#dvRTargetdateRM2").show();

                } else if ('@Model.IsRevisedDateRM2' == 'False') {
                    $('#lblYesRM2').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 ");
                    $('#lblNoRM2').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active ");
                    $("#rdbtnNoRM2").attr('checked', 'checked');
                    $("#dvRTargetdateRM2").hide();
                }
            }
            $('#divYesNoGrpRM2').css('pointer-events', 'none');
</script>
<script>
    $("#QA_Remainder_Notes").prop('disabled', true).css("color", "disabled");
    $("#QA_Remainder_Notes").prop('disabled', true).css("color", "disabled");
    $("#QA_Remainder_Notes").prop('disabled', true).css("color", "disabled");
    $("#QA_Remainder_Notes").prop('disabled', true).css("color", "disabled");
    $("#HOD_Justify_Notes").prop('disabled', true).css("color", "disabled");
    $("#QA_Remainder_NotesRM2").prop('disabled', true).css("color", "disabled");
    $("#HOD_Justify_NotesRM2").prop('disabled', true).css("color", "disabled");
    $("#EmployeeNameRM2").prop('disabled', true).css("color", "disabled");
    $("#RevisedTargetDateRM2").prop('disabled', true).css("color", "disabled");
</script>
<script>
    function CancelCapaMainList() {
                var QueryStringValue='@TempData["R"].ToString()';
                if('@TempData["R"].ToString()' == 'Cp_Pending'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "Cp_Pending" })';
                }
                else if('@TempData["R"].ToString()' == 'Cp_Rjctd'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "Cp_Rjctd" })';
                }
                else if('@TempData["R"].ToString()' == 'Cp_Cmplt'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "Cp_Cmplt" })';
                }
                else if('@TempData["R"].ToString()' == 'Cp_verfy'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "Cp_verfy" })';
                }
                else if('@TempData["R"].ToString()' == 'CP_R1Cmptd'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "CP_R1Cmptd" })';
                }
                else if('@TempData["R"].ToString()' == 'CP_R2Cmptd'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "CP_R2Cmptd" })';
                }
                else if('@TempData["R"].ToString()' == 'CapaMainList'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "CapaMainList" })';
                }
                else  if('@TempData["R"].ToString()' == 'QA_Close'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "QA_Close" })';
                }
                else  if('@TempData["R"].ToString()' == 'HQA_Approval'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "HQA_Approval" })';
                }
                else  if('@TempData["R"].ToString()' == 'CP_Closure'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "CP_Closure" })';
                }
                else  if('@TempData["R"].ToString()' == 'QA_Verification'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "QA_Verification" })';
                }
                else  if('@TempData["R"].ToString()' == 'CapaReportList'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "CapaReportList" })';
                } else  if('@TempData["R"].ToString()' == 'CP_OverDue'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "CP_OverDue" })';
                }//User overdue
                else  if('@TempData["R"].ToString()' == 'CapaOverDue'){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "CapaOverDue" })';
                }
    }
        function BacktoList() {
            CancelCapaMainList()
        }
</script>
<!--He-lighting Tabs-->
<script>
    $('#CmpltAttachmentTab').on('click', function () {
        $("#divtblCapaCompltFileUploadList").show();
        var hideCAPACmpltcolumns = [5]
        LoadCAPACompleteFileUploadList(hideCAPACmpltcolumns);
    });
</script>
<!--View Upload Files For CAPA-->
<script>
    function ToViewCAPACompltDocuments(FileID) {
        var dvShow = document.getElementById("dvfileframe");
        dvShow.innerHTML = "<iframe class='' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=6&FID=" + FileID + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
        $("#MyModelCapaFileView").modal('show');
    }
</script>


<!-- #region CAPA Closer -->
<!--CAPA CloseDate-->
<script>
            @*$(function () {
         $('#ClosureEffectiveDate').datetimepicker({

             format: 'DD MMM YYYY',
             useCurrent: false,

         });
                 var CAPADate = '@Model.CAPA_Date';
                 var _mindate = new Date(CAPADate);
                 var _CurrentDate = new Date();
                    _mindate.setDate(_mindate.getDate());
                    $('#ClosureEffectiveDate').data("DateTimePicker").minDate(_mindate);
                    $('#ClosureEffectiveDate').data("DateTimePicker").maxDate(_CurrentDate);
            });*@
</script>
<!--Closure submit code-->
<script>
            function SubmitCapaClose(){
                errors = [];
                var CapaEffectiveDate = $("#ClosureEffectiveDate").val().trim();
                var CAPAClosureComments = $("#ClosureComments").val().trim();
                if (CAPAClosureComments == "")
                {
                    errors.push("Enter Comments.");
                }
                if (errors.length > 0) {
                    custAlertMsg(errors.join("<br/>"), "error");
                    return false;
                }
                ElectronicSignPopupOpen('SubmitToDatabaseCAPAClose');
            }
            function SubmitToDatabaseCAPAClose() {
                ShowPleaseWait('show');
                var CapaEffectiveDate = $("#ClosureEffectiveDate").val().trim();
                var CAPAClosureComments = $("#ClosureComments").val().trim();
                $.ajax({
                    url: '@Url.Content("~/QMS/Capa/SubmitCAPAClose")',
                    data: {
                        "ClosureEffectiveDate":CapaEffectiveDate,"ClosureComments":CAPAClosureComments,"CAPAID":@Model.CAPAID,
                    },
                    type: 'Post',
                    success: function (JsonResult) {
                        ShowPleaseWait('hide');
                        if (JsonResult.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (JsonResult.hasError == false) {
                                if (JsonResult.data == 1) {
                                    IncidentReprotGeneration(@Model.CAPAID);
                                } else {
                                    custAlertMsg("CAPA No.<span class='sucess_info_msg'> @Model.CAPA_Number </span> Closed Successfully.", "success", "ReloadCloseList();");
                                return false;
                                }
                            }
                            else {
                                custAlertMsg(JsonResult.data, "error");
                                return false;
                            }
                        }
                    }
                });
            }
            function IncidentReprotGeneration(CAPAID) {
                ShowPleaseWait('show');
                $.ajax({
                    url: '@Url.Content("~/QMS/Incident/CAPACloseAfterReportGeneration")',
                    data: {
                        "CAPAID": CAPAID
                    },
                    type: "Post",
                    success: function (jsonresult) {
                        ShowPleaseWait('hide');
                        if (jsonresult.hasError == true) {
                            // errors.push(jsonresult.data);
                            custAlertMsg(jsonresult.data, "error");
                            return false;
                        } else {
                             custAlertMsg("CAPA No.<span class='sucess_info_msg'> @Model.CAPA_Number </span> Closed Successfully.", "success", "ReloadCloseList();");
                             return false;
                        }
                    }
                })
            }
            function ReloadCloseList(){
                    window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "QA_Close", area = "QMS" })';
            }
</script>
<!-- #endregion -->
<!--Verification File upload-->
<script>

        var oCAPAVerificationFileuploadList;
        function LoadEffectivenessVerificationCAPA()
        {
            var hideNtfColumns = [];
            var QueryString="@TempData["R"].ToString()";
            var Status="C_Verify";
            $('#tblEffectiveVerification').wrap('<div class="dataTables_scroll" />');
            var oCAPAVerificationFileuploadList = $('#tblEffectiveVerification').DataTable({
                columns: [
                    { 'data': 'RowNumber' }, //0
                    { 'data': 'UniquePKID'},//1
                    { 'data': 'Implementor_Date' },//2
                    { 'data': 'CAPAID' },//3
                    { 'data': 'IsImplemented' },//5 4
                    { 'data': 'HeadQAEmpName' },//6 5
                    { 'data': 'CurrentStatus' },//4 6
                    {//7
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            {
                                if ((o.CurrentStatusNumber == 1 && QueryString == "HQA_Approval") || (o.CurrentStatusNumber == 2 && QueryString == "QA_Verification") || (o.CurrentStatusNumber == 4 && QueryString == "HQA_Approval"))
                                {
                                    return '<a class="action_qms" title="Action" href="#" onclick=ToViewEditCAPAVerification(this,' + o.UniquePKID + ',' + o.CAPAID + ')>' + '' + '</a>';
                                }
                                else { return "NA"; }
                            }
                        }
                    },
                    {//8
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            {
                                //(o.CurrentStatusNumber == 1 && QueryString == "QA_Verification") || (o.CurrentStatusNumber == 4 && QueryString == "QA_Verification") || (o.CurrentStatusNumber == 3 && QueryString == "QA_Verification") || (o.CurrentStatusNumber == 2 && QueryString == "QA_Verification")
                                if (o.CurrentStatusNumber ==0 ) {
                                    return "NA";
                                } else {
                                    return '<a class="view" href="#" title="View" onclick=ToViewCAPAVerification(this,' + o.UniquePKID + ',' + o.CAPAID + ')>' + '' + '</a>';
                                }
                            }
                        }
                    },
                ],

                "paging": true,
                "bDestroy": true,
                "order": [1, "desc"],
                "lengthMenu": [[05, 10, 15, 100], [05, 10, 15, 100]],
                "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] },
                    { "targets": [1,3], "visible": false },
                    { className: "textAlignCenter", "targets": [0,8,7] }
                    , { "orderable": false, "targets": [0] }],
                "bAutoWidth": true,
                "sAjaxSource": "@Url.Content("~/QMS/CAPA/GetCAPAVerificationEffectiveness")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push({ "name": "CapaID", "value":@Model.CAPAID},
                        {"name":"Status","value":Status});
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else{
                                if (result.hasError == true) {
                                    custAlertMsg(result.data, "error");
                                }
                                else {
                                    fnCallback(result);
                                    $(".dataTables_filter").css({ "display": "none" });
                                    $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                }
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        }
</script>



<!--View Upload Files For CAPA-->
<script>
    function ToViewCAPAVerificationDocuments(FileID) {
        var dvShow = document.getElementById("dvfileframe");
        dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=2&FID=" + FileID + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
        $("#MyModelCapaFileView").modal('show');
    }

</script>
<!-- #endregion -->
<script>
    $(function () {
        $('.selectpicker1').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>
<!-- #end region -->
<!--Submit HeadQA Approval-->
<script>
            function SubmitHQAApproval(){

                var errors=[];
                var HQAComments=$("#HQAApprovalComments").val().trim();
                if(HQAComments==""){
                    errors.push("Enter Approval Comments.");
                }
                if (errors.length > 0) {
                    custAlertMsg(errors.join("<br/>"), "error");
                    return false;
                }
                ElectronicSignPopupOpen('SubmitToDatabaseHQAApproval');
            }
            function SubmitToDatabaseHQAApproval()
            {
                ShowPleaseWait('show');
                var CAPAHQAComments=$("#HQAApprovalComments").val().trim();
                $.ajax({
                    url: '@Url.Content("~/QMS/Capa/SubmitCAPAHQAApproval")',
                    data: {
                        "HQAApprovalComments":CAPAHQAComments,"CAPAID":@Model.CAPAID,
                    },
                    type: 'Post',
                    success: function (result) {
                        ShowPleaseWait('hide');
                        if (result.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            switch (result.msgType)
                            {
                                case "error":
                                    custAlertMsg(result.msg, "error");
                                    break;
                                case "success":

                                    custAlertMsg("Capa No.<span class='sucess_info_msg'> @Model.CAPA_Number </span> Verification Approved Successfully.", "success", "ReloadHQAApproval();");
                                    break;
                            }
                        }
                    },
                });
            }
            function ReloadHQAApproval(){
                window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "HQA_Approval", area = "QMS" })';
            }
</script>

<!--Click on CAPA Close Tab click-->
<script>

            $('#CloseTab').on('click', function () {

                if(@Model.CurrentStatus==4){
                    $("#ClosureComments").prop('disabled', false);
                    $("#btnCloseSubmit").show();
                }
            });
        $('#VerificationTab').on('click', function ()
        {
            if (@Model.CurrentStatus==21)
            {
                    $("#ImplementorDateVerificationCAPA").prop('disabled',false);
                    $("#VerificationComments").prop('disabled',false);
                    $("#btnVerifcationSubmit").show();
                    $("#dvVerifyHeadQA").show();
                        $("#divtblEffectivenessVerification").show();
                        LoadEffectivenessVerificationCAPA();//Calling Verification List
                }
        if ('@TempData["R"]' != "CapaMainList" && '@TempData["R"]' != "Cp_verfy" && '@TempData["R"]' !="CapaReportList")
        {
                    //Verification Complete
                if(@Model.CurrentStatus==9)
                {
                        $("#btnAttachment").hide();
                     if (@ViewBag.VerificationCount!=0) {
                        $("#divtblEffectivenessVerification").show();
                        LoadEffectivenessVerificationCAPA();//Calling Verification List
                    } else {
                        $("#divtblEffectivenessVerification").hide();
                    }
                        //HEad QA Approval
                        $("#btnApprovalHQA").show();

                    }
                }
            else
            {

                if(@Model.CurrentStatus==9)
                {
                    $("#btnAttachment").hide();
                    if (@ViewBag.VerificationCount!=0) {
                        $("#divtblEffectivenessVerification").show();
                        LoadEffectivenessVerificationCAPA();//Calling Verification List
                    } else {
                        $("#divtblEffectivenessVerification").hide();
                    }

                  }
                if(@Model.CurrentStatus==22)
                {
                    $("#btnAttachment").hide();
                    if (@ViewBag.VerificationCount!=0) {
                        $("#divtblEffectivenessVerification").show();
                        LoadEffectivenessVerificationCAPA();//Calling Verification List
                    } else {
                        $("#divtblEffectivenessVerification").hide();
                    }
                    //$("#dvHqacomments").show();
                    $("#HQAApprovalComments").prop('disabled',true);
                    }
            }
            if('@TempData["R"]' =="Cp_verfy")
            {
                $("#btnAttachment").hide();
                if (@ViewBag.VerificationCount!=0) {
                        $("#divtblEffectivenessVerification").show();
                        LoadEffectivenessVerificationCAPA();//Calling Verification List
                    } else {
                        $("#divtblEffectivenessVerification").hide();
                    }
                $("#HQAApprovalComments").prop('disabled',true);
            }

            });
</script>
<script>
        if('@TempData["R"]' =="Cp_Pending" || '@TempData["R"]'=="Cp_Rjctd" || '@TempData["R"]' =="Cp_Cmplt "|| '@TempData["R"]' =="CP_OverDue")
        {
            $("#VerificationTab").hide();
            $("#CloseTab").hide();
        }
</script>

<script>
        $('#CAPAHistoryTab').on('click', function () {
            var hdncolumns = [0]
            LoadGetHistory(@Model.CAPAID, hdncolumns,5);
        });
</script>
<script>
        //History
        if(@Model.CurrentStatus==1||@Model.CurrentStatus==18
        ||@Model.CurrentStatus==11||@Model.CurrentStatus==16||
        @Model.CurrentStatus==17||@Model.CurrentStatus==2||@Model.CurrentStatus==19||@Model.CurrentStatus==20||
        @Model.CurrentStatus== 3) {
            $("#home6").addClass("active");
            $("#rm1,#ActionPlanTabId,#CapaClosetabid,#verification,#attachment").removeClass("active");
            $("#idCapaHistoryhre").addClass("active");

            var hdncolumns = [0]
            LoadGetHistory(@Model.CAPAID, hdncolumns, 5);
        }
        if(@ViewBag.RM1Count==0 )
        {
            $("#RM1Tab").hide();
            $("#RM2Tab").hide();
            $("#CloseTab").hide();
            $("#VerificationTab").hide();
                if('@TempData["R"]'=="QA_Close")
                {
                    //Close tab active
                    $("#CloseTab").show();
                    $("#home4").addClass("active");
                    $("#rm1,#ActionPlanTabId,#attachment,#verification,#idCapaHistoryhre").removeClass("active");
                    $("#CapaClosetabid").addClass("active");
                    $("#btnCloseSubmit").show();
                   // $("#ClosureEffectiveDate").prop('disabled',false);
                    $("#ClosureComments").prop('disabled',false);
                    //End
                }
                if('@TempData["R"]'=="QA_Verification")
                {
                        $("#ImplementorDateVerificationCAPA").prop('disabled',false);
                        $("#VerificationComments").prop('disabled',false);
                        $("#btnVerifcationSubmit").show();
                        $("#dvVerifyHeadQA").show();
                    $("#CloseTab").show();
                    $("#VerificationTab").show();
                    $("#home3").addClass("active");
                    $("#rm1,#ActionPlanTabId,#CapaClosetabid,#idCapaHistoryhre,#attachment").removeClass("active");
                    $("#verification").addClass("active");
                        $("#divtblEffectivenessVerification").show();
                        LoadEffectivenessVerificationCAPA();//Calling Verification List
                }
            if('@TempData["R"]'=="HQA_Approval")
            {
                $("#btnAttachment").hide();
               // $("#dvHqacomments").show();
                 if (@ViewBag.VerificationCount!=0) {
                        $("#divtblEffectivenessVerification").show();
                        LoadEffectivenessVerificationCAPA();//Calling Verification List
                    } else {
                        $("#divtblEffectivenessVerification").hide();
                    }
                //HEad QA Approval
                $("#btnApprovalHQA").show();
                $("#CloseTab").show();
                $("#VerificationTab").show();
                $("#home3").addClass("active");
                $("#rm1,#ActionPlanTabId,#CapaClosetabid,#idCapaHistoryhre,#attachment").removeClass("active");
                $("#verification").addClass("active");
            }
            //Attachment tab
                if (@ViewBag.CAPAFileUpload != 0)
                {
                    //close
                    if(@ViewBag.CloseCount==0)
                    {
                        if('@TempData["R"]'=="CapaMainList")
                        {
                            $("#CmpltAttachmentTab").show();
                            $("#home5").addClass("active");
                            $("#rm1,#ActionPlanTabId,#CapaClosetabid,#verification,#idCapaHistoryhre").removeClass("active");
                            $("#attachment").addClass("active");
                            $("#divtblCapaCompltFileUploadList").show();
                            var hideCAPACmpltcolumns = [5]
                            LoadCAPACompleteFileUploadList(hideCAPACmpltcolumns);
                        }
                    }
                }
            else
            {
                $("#CmpltAttachmentTab").hide();
            }
            if('@TempData["R"]'=="CapaMainList"||'@TempData["R"]'=="Cp_verfy"||'@TempData["R"]'=="CP_Closure"
                ||'@TempData["R"]'=="Cp_Cmplt"||'@TempData["R"]'=="CP_R1Cmptd"||'@TempData["R"]'=="CP_R2Cmptd"||'@TempData["R"]'=="CP_OverDue"||'@TempData["R"]'=="CapaReportList"){
                if(@ViewBag.CloseCount!=0)
                {
                    $("#CloseTab").show();
                    $("#home4").addClass("active");
                    $("#rm1,#ActionPlanTabId,#attachment,#verification,#idCapaHistoryhre").removeClass("active");
                    $("#CapaClosetabid").addClass("active");
                }
                else
                {
                    if (@ViewBag.CAPAFileUpload != 0)
                    {

                            $("#CmpltAttachmentTab").show();
                            $("#home5").addClass("active");
                            $("#rm1,#ActionPlanTabId,#CapaClosetabid,#verification,#idCapaHistoryhre").removeClass("active");
                            $("#attachment").addClass("active");
                            $("#divtblCapaCompltFileUploadList").show();
                            var hideCAPACmpltcolumns = [5]
                            LoadCAPACompleteFileUploadList(hideCAPACmpltcolumns);

                    }else{
                        //History active
                        $("#home6").addClass("active");
                        $("#rm1,#ActionPlanTabId,#CapaClosetabid,#verification,#attachment").removeClass("active");
                        $("#idCapaHistoryhre").addClass("active");

                         var hdncolumns = [0]
            LoadGetHistory(@Model.CAPAID, hdncolumns,5);
                    }
                }
                if(@ViewBag.VerificationCount!=0 )
                {
                    $("#VerificationTab").show();
                }
            }

        }
            //Reminder exist
        else{
            if(@ViewBag.RM2Count==0)
            {
                $("#RM2Tab").hide();
            }else
            {
                $("#RM2Tab").show();
            }
            if(@ViewBag.RM1Count==0)
            {
                $("#RM1Tab").hide();
            }else
            {
                $("#RMTab").show();
            }
            if('@TempData["R"]'=="CapaMainList"||'@TempData["R"]'=="Cp_verfy"||'@TempData["R"]'=="CP_Closure"
                ||'@TempData["R"]'=="Cp_Cmplt"||'@TempData["R"]'=="CP_R1Cmptd"||'@TempData["R"]'=="CP_R2Cmptd"
                ||'@TempData["R"]'=="CP_OverDue"||'@TempData["R"]'=="CapaOverDue"||'@TempData["R"]'=="CapaReportList")
            {
                $("#home1").addClass("active");
                $("#home6,#idCapaHistoryhre,#ActionPlanTabId,#CapaClosetabid,#verification,#attachment").removeClass("active");
                $("#rm1").addClass("active");
               // $("#home6).removeClass("active");

                if(@ViewBag.CloseCount!=0)
                {
                    $("#CloseTab").show();
                }else{
                    $("#CloseTab").hide();
                }
                if(@ViewBag.VerificationCount!=0 )
                {
                    $("#VerificationTab").show();
                }else{
                    $("#VerificationTab").hide();
                }
            }
            if('@TempData["R"]'=="QA_Close")
            {
                $("#VerificationTab").hide();
                $("#home1,#home2").removeClass("active");
                //Close tab active
                $("#CloseTab").show();
                $("#home4").addClass("active");
                $("#rm1,#ActionPlanTabId,#attachment,#verification,#idCapaHistoryhre").removeClass("active");
                $("#CapaClosetabid").addClass("active");
                $("#btnCloseSubmit").show();
                //$("#ClosureEffectiveDate").prop('disabled',false);
                $("#ClosureComments").prop('disabled',false);
                //End
            }
            if('@TempData["R"]'=="QA_Verification")
            {
                $("#ImplementorDateVerificationCAPA").prop('disabled',false);
                $("#VerificationComments").prop('disabled',false);
                $("#btnVerifcationSubmit").show();
                $("#dvVerifyHeadQA").show();
                $("#CloseTab").show();
                $("#VerificationTab").show();
                $("#home3").addClass("active");
                $("#rm1,#ActionPlanTabId,#CapaClosetabid,#idCapaHistoryhre,#attachment").removeClass("active");
                $("#verification").addClass("active");
                        $("#divtblEffectivenessVerification").show();
                        LoadEffectivenessVerificationCAPA();//Calling Verification List
            }
            if('@TempData["R"]'=="HQA_Approval")
            {
                $("#btnAttachment").hide();
               // $("#dvHqacomments").show();
                 if (@ViewBag.VerificationCount!=0) {
                        $("#divtblEffectivenessVerification").show();
                        LoadEffectivenessVerificationCAPA();//Calling Verification List
                    } else {
                        $("#divtblEffectivenessVerification").hide();
                    }
                //HEad QA Approval
                $("#btnApprovalHQA").show();
                $("#CloseTab").show();
                $("#VerificationTab").show();
                $("#home3").addClass("active");
                $("#rm1,#ActionPlanTabId,#CapaClosetabid,#idCapaHistoryhre,#attachment").removeClass("active");
                $("#verification").addClass("active");
            }
            //Attachment tab
            if (@ViewBag.CAPAFileUpload != 0) {
                $("#CmpltAttachmentTab").show();
            } else {
                $("#CmpltAttachmentTab").hide();
            }
        }
</script>
<!--For fixing scroll issue when clicking on accordian-->
<script>
    $('#accordionConent').on('hidden.bs.collapse', function () {
        $('.dataTable').DataTable().columns.adjust();
    });
    $('#accordionConent').on('shown.bs.collapse', function () {
        $('.dataTable').DataTable().columns.adjust();
    });
</script>
<!--End-->
<script>
    if ("@ViewBag.IsPendingVerification" == "False") {
        if ('@TempData["R"].ToString()' == 'QA_Verification') {
            $("#btnAttachment").show();
        } else {
            $("#btnAttachment").hide();

        }
    }
</script>