﻿@model QMS_BO.QMS_CAPABO.CapaModel

@using (Html.BeginForm())
{
    
    <div id="myModalCreate" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog  modal-dialog-centered" style="max-width:90%;">
            <!-- Modal content-->
            <div class="modal-content padding-none">
                <div class="modal-header">
                    <h4 class="modal-title" id="lblCreateCAPA"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                            <label class=" custom_label col-form-label required"> Department</label>
                            <div class="col-12 padding-none">
                                @if (Model.CAPAID == 0)
                                {
                                    @Html.DropDownList("Department", Model.ddlDeptList as List<SelectListItem>,
                                        htmlAttributes: new
                                        {
                                            id = "Department",
                                            @class = "col-12  padding-none  drop_down selectpicker",
                                            @autofocus = "autofocus",
                                            @onchange = "FillEmployee();",

                                        })
                                }
                                else
                                {
                                    @Html.EditorFor(Mode => Model.Department, new { htmlAttributes = new { id = "Department", @class = "form-control", @readonly = "readonly" } })
                                }
                            </div>
                        </div>
                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                            <label class=" custom_label col-form-label"> CAPA Number</label>
                            @Html.EditorFor(model => model.CAPA_Number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", maxlength = 20 } })
                        </div>

                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                            <label class=" custom_label col-form-label required"> Quality Notification Type</label>
                            <div class="col-12 padding-none">
                                @Html.DropDownList("Qualityevent", Model.ddlqualityEventList as List<SelectListItem>, "Select", htmlAttributes: new { id = "Qualityevent", @class = " col-12  padding-none  drop_down selectpicker" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left  padding-none ">
                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                            <label for="" class="custom_label col-form-label required">Quality Notification Number</label>
                            @Html.EditorFor(model => model.QualityEvent_Number, new { htmlAttributes = new { @class = "form-control", maxlength = 50, @autocomplete = "off" } })
                        </div>
                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                            <label class=" custom_label col-form-label"> Create Date</label>

                            @Html.EditorFor(model => model.CAPA_Date, new { htmlAttributes = new { @class = "form-control ", name = "CAPA_Date", @Value = @DateTime.Now.ToString("dd MMM yyyy"), @readonly = "readonly" } })
                        </div>
                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                            <label class=" custom_label col-form-label required">Type of Action</label>
                            <div class="col-12 padding-none">
                                @Html.DropDownList("PlanofAction", Model.ddlActionplan as List<SelectListItem>, htmlAttributes: new { id = "PlanofAction", @class = " col-12  padding-none  drop_down selectpicker" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left ">

                        <label class=" custom_label col-form-label required"> Action Description</label>
                        @Html.TextAreaFor(model => model.Capa_ActionDesc, new { @class = "form-control", @rows = "6", @autocomplete = "off", maxlength = 1000 })
                    </div>

                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left ">
                            <label class=" custom_label col-form-label required"> Responsible Person</label>
                            @if (Model.CAPAID == 0)
                            {
                                @Html.DropDownList("EmployeeName", new SelectList(Enumerable.Empty<SelectListItem>()), "Select Employee", htmlAttributes: new { id = "EmployeeName", @class = " col-12  padding-none  drop_down selectpicker", @onchange = "FillAssignToQA();" })
                            }
                            else
                            {
                                @Html.DropDownList("EmployeeName", Model.ddlResponsiblePerson as List<SelectListItem>,
                                             htmlAttributes: new
                                             {
                                                 id = "EmployeeName",
                                                 @class = "col-12  padding-none  drop_down selectpicker",
                                                 @onchange = "FillAssignToQA()",
                                             })
                            }
                        </div>
                        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left  padding-right_div">
                            <label class=" custom_label col-form-label required">Target Date</label>
                            @Html.EditorFor(model => model.TargetDate, new { htmlAttributes = new { @class = "form-control datetimepicker", @autocomplete = "off" } })
                        </div>
                    </div>
                    @if (Model.CAPAID != 0)
                    {
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left" id="divlblComments">
                            <label class=" custom_label col-form-label required">Reverted Comments </label>
                            @Html.TextAreaFor(model => model.Revertedcomments, new { @class = "form-control ", @rows = "3", @readonly = "readonly", maxlength = 500 })
                        </div>
                    }
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left ">
                        <label class=" custom_label col-form-label required"> Comments</label>
                        @Html.TextAreaFor(model => model.comments, new { htmlAttributes = new { @class = "form-control ", @rows = "3" }, maxlength = 500 })
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-12 float-left">
                        <div class="col-6  float-left padding-none">

                            <label class=" custom_label col-form-label required"> Assign to QA</label>
                            @if (Model.CAPAID == 0)
                            {
                                @Html.DropDownList("ddlQAEmployee", new SelectList(Enumerable.Empty<SelectListItem>
                                                                          ()), htmlAttributes: new { id = "ddlQAEmployee", @class = " col-6  padding-none  drop_down selectpicker", title = "Select Employee" })
                            }
                            else
                            {
                                @Html.DropDownList("ddlQAEmployee", Model.ddlQAEmployeeID as List<SelectListItem>, "Select",
                                          htmlAttributes: new
                                          {
                                              id = "ddlQAEmployee",
                                              @class = " col-7  padding-none  drop_down selectpicker"
                                          })
                            }
                        </div>
                        <div class="float-right">
                            <button type="button" class="btn btn-signup_popup" id="btnSubmit" onclick="AddCapaCreate();" />
                            <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<!--call Electronic Signature -->
@Html.Partial("_ElectronicPartialView")
<script>
    function Reload() {
        $("#myModalCreate").modal('hide');
          //$('#tblCapaList').DataTable().ajax.reload();
        GetCAPAListDataTable(0, 0, "0", "0");
    }
    //Create CAPA
    var Department;
    var CAPA_Number;
    var QualityEvent_TypeID;
    var QualityEvent_Number;
    var PlanofAction;
    var Capa_ActionDesc;
    var EmployeeName;
    var TargetDate;
    var CAPA_Date1;
    var QAEmployee;
    var comments;
    function AddCapaCreate() {
        errors = [];
         Department = $("#Department :selected").val(); if (Department == "0") { errors.push("Select Department"); }
         CAPA_Number = $("#CAPA_Number").val().trim();
         QualityEvent_TypeID = $("#Qualityevent :selected").val();
        if (QualityEvent_TypeID == "")
        {
            errors.push("Select Quality Notification Type");
        }
        QualityEvent_Number = $("#QualityEvent_Number").val().trim(); if (QualityEvent_Number == "") { errors.push("Enter Quality Notification Number "); }
         PlanofAction = $("#PlanofAction :selected").val(); if (PlanofAction == "0" || PlanofAction == "") { errors.push("Select Type of Action "); }
         Capa_ActionDesc = $("#Capa_ActionDesc").val().trim(); if (Capa_ActionDesc == "") { errors.push("Enter Action Description "); }
         EmployeeName = $("#EmployeeName :selected").val(); if (EmployeeName == "0" || EmployeeName=="") { errors.push("Select Responsible Person"); }
         TargetDate = $("#TargetDate").val().trim(); if (TargetDate == "") { errors.push("Enter Target Date"); }
         CAPA_Date1 = $("#CAPA_Date").val().trim(); if (CAPA_Date1 == "") { errors.push("Enter Created Date"); }
         QAEmployee = $("#ddlQAEmployee :selected").val();
         comments = $("#comments").val().trim();
         if (comments == "") { errors.push("Enter Comments"); }
         if (QAEmployee == "0" || QAEmployee == "" || QAEmployee == undefined) {
            errors.push("Select Assign To QA");
        }
        
        if ( Department != "0" && TargetDate != "" && CAPA_Date1 != "" && Capa_ActionDesc != "" && EmployeeName != "0" && PlanofAction != "0" && QualityEvent_TypeID != ""
            && QualityEvent_Number != "" && QAEmployee != "0" && QAEmployee != "" && comments != "") {

            ElectronicSignPopupOpen('CapaSubmitFuncation');
        }
        else
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        }

        function CapaSubmitFuncation() {
            ShowPleaseWait('show');
        var change = {
            "CAPA_Date": CAPA_Date1, "CAPA_Number": CAPA_Number, "Department": Department, "PlanofAction": PlanofAction, "TargetDate": TargetDate,
            "QualityEvent_TypeID": QualityEvent_TypeID, "EmployeeName": EmployeeName, "Capa_ActionDesc": Capa_ActionDesc, "QA_EmpId": QAEmployee,
            "QualityEvent_Number": QualityEvent_Number, "comments": comments,

        };
        if (@Model.CAPAID==0) {

            $.post("@Url.Content("~/QMS/Capa/Create")", change,
                function (aiz) {
                    ShowPleaseWait('hide');
                    if (aiz.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (aiz.hasError == false) {
                            errors.push("CAPA No.  <span class='sucess_info_msg'>" + aiz.data + "</span>  Created Successfully");
                            ElectronicSignPopupClose();
                            custAlertMsg(errors.join("<br/>"), "success", "Reload();");
                            return false;
                        } else {
                            errors.push(aiz.data);

                            custAlertMsg(errors.join("<br/>"), "error");

                            return false;
                        }
                    }
                }, 'json');
        } else {
            $.post("@Url.Content("~/QMS/Capa/Update")", change,
                function (aiz) {
                    ShowPleaseWait('hide');
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (aiz.hasError == false)
                    {
                        errors.push("CAPA No. <span class='sucess_info_msg'> @Model.CAPA_Number </span>  Updated Successfully.");
                        custAlertMsg(errors.join("<br/>"), "success", "closeViewPopup();");
                        return false;
                    }
                    else
                    {
                        errors.push(aiz.data);
                        custAlertMsg(errors.join("<br/>"), "error");
                        return false;
                    }
                }
}, 'json');
        }
        }
        function closeViewPopup() {
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "HOD_RT", area = "QMS" })';
        }
</script>


<script>
    //Fill Capa Number
        function FillEmployee()
        {
            var errors = [];
            $("#CAPA_Number").val("");
            var DeptID = $('#Department').val();
            if (DeptID != "0") {
                $.ajax({
                    url: '@Url.Content("~/QMS/Capa/CapaNODB")',
                    type: "GET",
                    dataType: "JSON",
                    data: { DeptID: DeptID },
                   success:   function(aiz)
                   {
                       if (aiz.msgRedirecttoLoginPage) //Singal Instance
                       {
                           window.location.href = '/UserLogin.aspx';
                       }
                       else {
                           if (aiz.hasError == false) {
                               if (aiz.data == 1) {
                                   custAlertMsg('Please contact admin,System Masters not available.', "error");
                                   return false;
                               } else {
                                   $("#CAPA_Number").val(aiz.data); // clear before appending new list
                               }
                           }
                           else {
                               errors.push(aiz.data);
                               custAlertMsg(errors.join("<br/>"), "error");
                               return false;
                           }
                       }
                    }
                });
        }
       //Fill Responsible Persons
            $.ajax({

            url: '@Url.Content("~/QMS/Capa/FillEmployee")',
            type: "GET",
            dataType: "JSON",
            data: { DeptID: DeptID},
            success: function (jsonResult) {
                if (result.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    if (jsonResult.hasError == true) {
                        errors.push(jsonResult.data);
                        custAlertMsg(errors.join("<br/>"), "error");
                        return false;
                    }
                    else {
                        var numbers = jsonResult;
                        var option = '';
                        $("#EmployeeName").html(""); // clear before appending new list
                        for (var i = 0; i < numbers.length; i++) {
                            $("#EmployeeName").append(
                                $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                        }
                        $('#EmployeeName').selectpicker('refresh');
                    }
                }
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.datetimepicker').datetimepicker({
            format: 'DD MMM YYYY',
            minDate: moment().format('DD MMM YYYY'),
            useCurrent: false,
        });
    });
</script>
<script>
    function FillAssignToQA() {
        var ResponsibleId = $("#EmployeeName").val();
        $.ajax({
            url: '@Url.Content("~/QMS/Capa/BindddlAssignedToQAInCAPA")',
            type: "GET",
            dataType: "JSON",
            data: { ResponsibleId: ResponsibleId },
            success: function (impAssignedQAinCAPA) {
                if (impAssignedQAinCAPA.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    if (impAssignedQAinCAPA.hasError == true) {
                        custAlertMsg(impAssignedQAinCAPA.data, "error");
                        return false;
                    }
                    else
                    {
                    var numbers = impAssignedQAinCAPA;
                    var option = '';
                    $("#ddlQAEmployee").html(""); // clear before appending new list
                    for (var i = 0; i < numbers.length; i++) {
                        $("#ddlQAEmployee").append(
                            $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                    }
                    $('#ddlQAEmployee').selectpicker('refresh');
                    }
                }
            }
        });
    }
</script>