﻿@model QMS_BO.QMS_CAPABO.CapaModel

<div id="myModalDetails1" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" style="max-width:90%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">  <label class=" custom_label col-form-label" id="lblName"> </label></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body Modalpopup-Scroll style-3">
                <div hidden="hidden">

                    @Html.EditorFor(model => model.CAPAID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div id="container">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                            <label class=" custom_label col-form-label"> Department</label>
                            <div class="col-12 padding-none">
                                @Html.EditorFor(Mode => Model.Department, new { htmlAttributes = new { id = "Department", @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                            <label class=" custom_label col-form-label"> CAPA Number</label>
                            @Html.EditorFor(model => model.CAPA_Number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                            <label class=" custom_label col-form-label"> Quality Notification Type</label>
                            @Html.EditorFor(model => model.QualityEventName, new { htmlAttributes = new { id = "Qualityevent", @class = "form-control", @readonly = "readonly" } })
                        </div>

                    </div>
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                            <label class="custom_label col-form-label">Quality Notification Number</label>
                            @Html.EditorFor(Model => Model.QualityEvent_Number, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                            <label class=" custom_label col-form-label"> Created Date</label>

                            @Html.EditorFor(model => model.CAPA_Date, new { htmlAttributes = new { @class = "form-control ", name = "CAPA_Date", @readonly = "readonly" } })
                        </div>

                        <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-4 float-left ">
                            <label class=" custom_label col-form-label">Type of Action</label>
                            @Html.EditorFor(model => model.ActionPlanName, new { htmlAttributes = new { id = "PlanofAction", @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left ">
                        <label class=" custom_label col-form-label"> Action Description</label>

                        @Html.TextArea("Capa_ActionDesc", new { @class = "form-control ", @rows = "6", maxlength = 1000, @readonly = "readonly" })
                    </div>

                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left ">
                            <label class=" custom_label col-form-label"> Responsible Person</label>
                            @Html.EditorFor(model => model.ResponsiblePersonName, new { htmlAttributes = new { id = "EmployeeName", @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-6 float-left  ">
                            <label class=" custom_label col-form-label">Target Date</label>
                            @Html.EditorFor(model => model.TargetDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class=" col-12 float-left">
                        <input type="button" value="File Attachments" id="btnAttachment" style="display:none" class="top btn btn-signup_popup float-left" data-toggle="modal" data-target="#myModalCapaCompltFileUpload" onclick="CAPACompleteAttachemnts(this);" />
                    </div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none">
                        <div id="divtblCapaCompltFileUploadList" style="display:none" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none">
                            <table id="tblCapaCompltFileUploadList" class="table datatable_cust table-striped table-bordered " style="width:100%">
                                <thead>
                                    <tr>
                                        <th>SNo</th>
                                        <th>UniqueID</th>
                                        <th>File Name</th>
                                        <th>File Type</th>
                                        <th>View</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="HideUnwanted">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left" id="divlblComments" style="display:none">
                        <label class=" custom_label col-form-label required" id="lblComments"> </label>
                        @Html.TextAreaFor(model => model.Revertedcomments, new { @class = "form-control ", @rows = "3", @readonly = "readonly", @maxlength = "500" })
                    </div>

                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left " id="Comments" style="display:none">
                        <label class=" custom_label col-form-label required" id="lbltextComments"></label>

                        @Html.TextAreaFor(model => model.comments, new { @class = "form-control ", @rows = "3", maxlength = 500 })
                    </div>

                    @if (Model.CurrentStatus == "1" || Model.CurrentStatus == "11")
                    {
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left bottom" id="divQAcommentsAndAssigntoHQA">
                            <label class=" custom_label col-form-label required">QA Comments :<span></span></label>
                            @Html.TextAreaFor(model => model.QA_Comments, new { id = "QA_Comments", @class = "form-control ", @rows = "3", @autocomplete = "off", @maxlength = "500" })
                        </div>
                    }
                    @if (Model.CurrentStatus == "16")
                    {
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left" id="dvhqacommnets">
                            <label class=" custom_label col-form-label required">Head QA Comments :<span></span></label>
                            @Html.TextAreaFor(model => model.HeadQAComments, new { id = "HeadQAComments", @class = "form-control ", @rows = "3", @autocomplete = "off", @maxlength = "500" })
                        </div>
                    }
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left " id="divEmpCompletedComments" style="display:none">
                        <label class=" custom_label col-form-label required ">Comments :</label>
                        @Html.TextAreaFor(model => model.RespPersonCommts, new { id = "RespPersonCommts", @class = "form-control ", @rows = "3", @maxlength = "500" })
                    </div>
                </div>
            </div>
            <div class="modal-footer bottom" style="padding-top: 10px;" id="divCapaBtns">
                <div class="col-12 float-left">
                    @if (Model.CurrentStatus == "1" || Model.CurrentStatus == "11")
                    {
                        <div class="col-6 float-left top padding-none" id="divQAcommentsAndAssigntoHQA1">
                            <label class="custom_label col-form-label  float-left"> Assign to Head QA :<span class="mandatoryStar">*</span> &nbsp;</label>
                            @Html.DropDownList("HeadQAEmployee", Model.ddlHeadqaEmpId as List<SelectListItem>,
                                                                      htmlAttributes: new
                                                                      {
                                                                          id = "HeadQAEmployee",
                                                                          @class = "col-7  padding-none  drop_down selectpicker"
                                                                      })
                        </div>
                    }

                    @*<div class="col-6 top float-right" id="actionbuttonsCAPA">*@
                    <div class="float-right">
                        @if (Model.CurrentStatus == "1" || Model.CurrentStatus == "16" || Model.CurrentStatus == "11")
                        {
                            <button type="button" id="submit_Btn" class="btn btn-signup_popup  " onclick="ApproveSendToHeadQA();">Approve</button>
                            <button type="button" id="revertBtnHOD" class="btn btn-revert_popup " onclick="RevertQAAndHeadQA();">Revert</button>
                            <button type="button" id="rejectBtn" class="btn btn-reject" onclick="RejectFunc();">Reject</button>
                        }
                        @if (Model.CurrentStatus == "3")
                        {<input type="button" value="Complete" class="btn btn-signup_popup" id="btnSubmit" onclick="EmployeeCompletedCapa()" />
                        }
                        @if (Model.CurrentStatus == "2")
                        {<input type="button" value="Accept" class="btn btn-signup_popup" id="btnSubmit" onclick="EmployeeAcceptCapa()" />
                        }
                        <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
                    </div>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--call Electronic Signature -->
@Html.Partial("_ElectronicPartialView")
@Html.Partial("~/Areas/QMS/Views/Capa/_AttachmentsCapaComplete.cshtml")
<!--File Uplaod Table Reloaded -->
<script>
    function ReloadtblCapaVerificationFileUploadList() {
        LoadCAPAVerificationeFileUploadList();
    }
</script>
<!--Files Added to List-->
<script>
    function BindFilesToList()
{
    errors = [];
    var CAPAID = @Model.CAPAID;
    var _CapaFile = $('#CapaFileUpload').val();
    if (_CapaFile == "")
    {
        errors.push("Select File.");
    }
    var formDataCapa = new FormData();
    var totalFilescapa = document.getElementById("CapaFileUpload").files.length;
    for (var i = 0; i < totalFilescapa; i++)
    {
        var file = document.getElementById("CapaFileUpload").files[i];
        formDataCapa.append("CapaFileUpload", file);
        formDataCapa.append("CAPAID", CAPAID);
    }
    if (errors.length > 0)
    {
        custAlertMsg(errors.join("<br/>"), "error");
        return false;
    }
    if (_CapaFile != "0" && formDataCapa != "")
    {
            $.ajax({
            url: '@Url.Content("~/QMS/Capa/BindCapaFilesToList")',
                data: formDataCapa,
                dataType: 'json',
                contentType: false,
                processData: false,
                type: 'Post',
                success: function(result) {
                    if (result.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        switch (result.msgType)
                        {
                            case "error":
                                custAlertMsg(result.msg, "error");
                                $("#CapaFileUpload").val("");
                                break;
                            case "success":
                                $('#tblCAPAFileUploadList').DataTable().ajax.reload();
                                $("#divtblCapaFileUploadList").show();
                                $("#CapaFileUpload").val("");
                                break;
                        }
                    }
            },
            });
    }
}
</script>
<!--Close ViewPopup and Redirected To Hod Page-->
<script>
    function closeViewPopup() {
        ElectronicSignPopupClose();
        $("#myModalDetails1").modal('hide');
        if(@Model.CurrentStatus==1||@Model.CurrentStatus==11){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "QA_R", area = "QMS" })';

        }
        if(@Model.CurrentStatus==16){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "HQA_R", area = "QMS" })';

        }
        if(@Model.CurrentStatus==18||@Model.CurrentStatus==17){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "HOD_RT", area = "QMS" })';

        }
        //$('#tblCapaList').DataTable().ajax.reload();
    }
</script>
<!--Qa Reverted To Hod-->
<script>
    var Status;
    var Comments;
    var SpStatus;
    function RevertQAAndHeadQA()
    {
        var Commentvaribale = "";
    errors = [];
     Status = @Model.CurrentStatus;
    if (Status == 16)
    {
        SpStatus = "RevertHQA";
        Commentvaribale = "Head QA";
    Comments = $("#HeadQAComments").val().trim();
    }
    if (Status == 1 || Status == 11)
    {
        SpStatus = "RevertQA";
        Commentvaribale = "QA";
    Comments = $("#QA_Comments").val().trim();
    }
    if (Comments == "")
    {
        errors.push("Enter " + Commentvaribale + " Comments.");
        custAlertMsg(errors.join("<br/>"), "error");
        return false;
    }
    if (Comments != "")
    {
        ElectronicSignPopupOpen('QaRevertedSubmittedCode');
    }
    else
    {
        custAlertMsg(errors.join("<br/>"), "error");
        return false;
    }
}
function QaRevertedSubmittedCode()
{
    ShowPleaseWait('show');
    errors = [];
    var Empid = "@TempData["EmpID"]";
    if (Comments != "")
    {
            $.ajax({
            url: '@Url.Content("~/QMS/Capa/QaSubmittedToDataBase")',
                data: { "EmpID": Empid, "CAPAID":@Model.CAPAID, "CapaStatusSP": SpStatus, "comments": Comments },
                type: 'Post',
                success: function (JsonResultCapa) {
                    ShowPleaseWait('hide');
                    if (JsonResultCapa.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (JsonResultCapa.hasError == false)
                        {
                            errors.push("CAPA No. <span class='sucess_info_msg'> @Model.CAPA_Number </span> Reverted Successfully.");
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            return false;
                        }
                        else
                        {
                            errors.push(JsonResultCapa.data);
                            custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                            return false;
                        }
                    }
                }
        });
    }
    else
    {
        custAlertMsg(errors.join("<br/>"), "error");
        return false;
    }
}

</script>
<!--QA Rejected -->
<script>
    var SpStatus;
    var Comments;
    var Status = @Model.CurrentStatus;
    var currentStatus;
     function RejectFunc()
     {
         var RjcCommentVaribale = "";
         errors = [];
         SpStatus = "Reject";
    if (Status == 16)
    {
        RjcCommentVaribale = "Head QA";
        currentStatus = 20;
        Comments = $("#HeadQAComments").val().trim();

    }
    if (Status == 1 || Status == 11)
    {
        RjcCommentVaribale = "QA";
        currentStatus = 19;
        Comments = $("#QA_Comments").val().trim();
    }
    if (Comments == "")
    {
        errors.push("Enter " + RjcCommentVaribale + " Comments.");
        custAlertMsg(errors.join("<br/>"), "error");
        return false;
    }
    if (Comments != "")
    {
        ElectronicSignPopupOpen('QaRejectedSubmittedCode');
    }
    else
    {
        custAlertMsg(errors.join("<br/>"), "error");
        return false;
    }
}
function QaRejectedSubmittedCode()
{
    ShowPleaseWait('show');
    var Empid = "@TempData["EmpID"]";
          $.ajax({
        url: '@Url.Content("~/QMS/Capa/QaSubmittedToDataBase")',
              data:
        {
            "EmpID": Empid, "CAPAID":@Model.CAPAID, "CapaStatusSP": SpStatus, "comments": Comments, "CurrentStatus": currentStatus
    },
    type: 'Post',
    success: function (JsonResultCapa) {
        ShowPleaseWait('hide');
        if (JsonResultCapa.msgRedirecttoLoginPage) //Singal Instance
        {
            window.location.href = '/UserLogin.aspx';
        }
        else{
            if (JsonResultCapa.hasError == false)
            {
                errors.push("CAPA No. <span class='sucess_info_msg'> @Model.CAPA_Number </span>  Rejected Successfully.");
                custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                return false;
            }
            else
            {
                errors.push(JsonResultCapa.data);
                custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                return false;
            }
        }
    }
    });
}
</script>
<!--Qa Approved To HeadQA-->
<script>
    var SpStatus;
    var Status = @Model.CurrentStatus;
    var HeadQaEmpID;
    var Comments;
 function ApproveSendToHeadQA()
    {
    errors = [];

    if (Status == 1 || Status == 11)
    {
        SpStatus = "QA_Approve";
        Comments = $("#QA_Comments").val().trim();
         HeadQaEmpID = $("#HeadQAEmployee").val();
         if (Comments == "") {
             errors.push("Enter QA Comments.");
         }
         if (HeadQaEmpID == 0 || HeadQaEmpID == undefined)
        {
            errors.push("Select Assign To Head QA.");
        }
        
        if (errors.length > 0)
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    if (Status == 16)
    {   SpStatus = "HeadQA_Approve";
    Comments = $("#HeadQAComments").val().trim();
        if (Comments == "")
        {
            errors.push("Enter Head QA Comments.");
        }
        if (errors.length > 0)
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    ElectronicSignPopupOpen('QaApproveSubmittedCode');
}
function QaApproveSubmittedCode()
{
    ShowPleaseWait('show');
    var Empid = "@TempData["EmpID"]";
          $.ajax({
        url: '@Url.Content("~/QMS/Capa/QaSubmittedToDataBase")',
                data: { "EmpID": Empid, "CAPAID":@Model.CAPAID,"HeadQa_EmpID": HeadQaEmpID, "CapaStatusSP": SpStatus, "comments": Comments },
                type: 'Post',
                success: function (JsonResultCapa) {
                    ShowPleaseWait('hide');
                    if (JsonResultCapa.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (JsonResultCapa.hasError == false)
                        {
                            errors.push("CAPA No. <span class='sucess_info_msg'> @Model.CAPA_Number </span> Approved Successfully.");
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            return false;
                        }
                        else
                        {
                            errors.push(JsonResultCapa.data);
                            custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                            return false;
                        }
                    }
                }
    });
}
</script>


<script>
     if ((@Model.CurrentStatus== 5 || @Model.CurrentStatus== 6 ) )
     {
         $("#container :input").attr("disabled", true);
         //$("#btnVerify").hide();
         //$("#btnCanceled").hide();
     }
</script>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>

<script>
    $(document).ready(function () {

        if (@Model.CurrentStatus == 1||@Model.CurrentStatus == 11) {
            $("#lblComments").text("HOD Comments :");
            $("#divlblComments").show();
        }
        if (@Model.CurrentStatus == 2) {
            if (@Model.QualityEvent_TypeID==9) {
                $("#lblComments").text("QA Comments");
            } else {
                $("#lblComments").text("Head QA Comments");
            }
            $("#divlblComments").show();
        }
        if ("@TempData["R"]" == "QA_List") {

            if (@Model.CurrentStatus == 2) {
                $("#lblComments").text("Head QA Comments");
            }
             if(@Model.CurrentStatus==11){
                 $("#divQAcommentsAndAssigntoHQA1").hide();
                 $("#divQAcommentsAndAssigntoHQA").hide();
                 $("#submit_Btn").hide();
                 $("#dvQaddl").hide();
                 $("#revertBtnHOD").hide();
                 $("#rejectBtn").hide();
                 $("#Update").hide();
             }
            if(@Model.CurrentStatus==18||@Model.CurrentStatus==17){
                $("#dvQaddl").hide();
            }
            if(@Model.CurrentStatus==16){
                $("#dvhqacommnets").hide();
                $("#submit_Btn").hide();
                $("#dvQaddl").hide();
                $("#revertBtnHOD").hide();
                $("#rejectBtn").hide();
                $("#Update").hide();
            }

        }
        if (@Model.CurrentStatus == 16) {
            $("#lblComments").text("QA Comments :");
            $("#divlblComments").show();
        }
        if (@Model.CurrentStatus == 17) {
            $("#lblComments").text("Head QA Reverted Comments");
            $("#lbltextComments").text("HOD Comments");
            $("#Revertedcomments").attr("disabled", "disabled");
            $("#divlblComments").show();
            $("#Comments").show();
        }
        if ("@TempData["R"]" == "HOD_RT") {

            if(@Model.CurrentStatus==18){
                $("#Comments").show();
            }
        }
        if ("@TempData["R"]" == "Create") {

            if(@Model.CurrentStatus==18 ||@Model.CurrentStatus==17){
                $("#Comments").hide();
            }
        }

        if ("@TempData["R"]" == "QA_List") {
            if (@Model.CurrentStatus == 17) {
                $("#lblComments").text("Head QA Reverted Comments");
                $("#divlblComments").show();
                $("#Comments").hide();
            }
        }
        if (@Model.CurrentStatus == 18) {
            $("#lblComments").text("QA Reverted Comments");
            $("#lbltextComments").text("HOD Comments");
            $("#Revertedcomments").attr("disabled", "disabled");
            $("#divlblComments").show();
        }
        if ("@TempData["R"]" == "QARmdrAppLsit"||"@TempData["R"]" == "QARmdrTransLsit") {
            if (@Model.CurrentStatus == 3) {
                $("#lblComments").text("QA Comments");
                $("#divlblComments").show();
            }
        }
        if ("@TempData["R"]" == "Hod_List"||"@TempData["R"]" == "QA_List"||"@TempData["R"]" == "QARmdrAppLsit") {
            if (@Model.CurrentStatus == 4) {
                $("#lblComments").text("Employee Comments");
                $("#divlblComments").show();
            }
        }
        if ("@TempData["R"]" == "QA_List") {
            if (@Model.CurrentStatus == 18) {
                $("#lblComments").text("QA Reverted Comments");
                $("#divlblComments").show();
                $("#Comments").hide();
            }
        }
        if ("@TempData["R"]" == "QA_List"||"@TempData["R"]" == "QARmdrAppLsit"||"@TempData["R"]" == "Hod_List"){
            if (@Model.CurrentStatus == 9) {
                $("#lblComments").text("Capa Verified Comments");
                $("#divlblComments").show();
            }
        }
        if (@Model.CurrentStatus == 3) {
            $("#divlblComments").hide();
        }
    });
</script>
<script>
    if ("@TempData["R"]" == "Create") {
       // $("#btnVerify").hide();
       // $("#btnCanceled").hide();
        $("#submit_Btn").hide();
        $("#revertBtnHOD").hide();
        $("#rejectBtn").hide();
        $("#divQAcommentsAndAssigntoHQA").hide();
        $("#divQAcommentsAndAssigntoHQA1").hide();
        if (@Model.CurrentStatus==16) {
            $("#dvhqacommnets").hide();
        }
    }
</script>

<script>
   if(@Model.CurrentStatus==1||@Model.CurrentStatus==11||@Model.CurrentStatus==16||@Model.CurrentStatus==2){
        $("#Revertedcomments").attr("disabled", "disabled");
    }

    if ("@TempData["R"]" == "C_EmpComplete" || "@TempData["R"]" == "EMP_List")
    {
        if (@Model.CurrentStatus==3)
        {
            $("#divEmpCompletedComments").show();//Comments textbox showing
             $("#btnAttachment").show();//Attachment button show
        }
        else
        {
            $("#divEmpCompletedComments").hide();
        }
    }
</script>
<!--Responsible Person Accept CAPA-->
<script>
    function CAPAAcceptCompleteReload() {
        ElectronicSignPopupClose();
        if(@Model.CurrentStatus==2){
            if('@TempData["R"].ToString()'=='C_EmpAccept'){
                window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "C_EmpAccept", area = "QMS" })';
            } else {
                GetCAPAListDataTable(0, 0, "0", "0");
                //$("#tblCapaList").DataTable().ajax.reload();
            }
        } else {
            GetCAPAListDataTable(0, 0, "0", "0");
            //$("#tblCapaList").DataTable().ajax.reload();
        }
        $("#myModalDetails1").modal('hide');
    }

    function EmployeeAcceptCapa() {
        ElectronicSignPopupOpen('AceeptedCapaSubmittedCode');
    }
    function AceeptedCapaSubmittedCode() {
        ShowPleaseWait('show');
        errors = [];
        var CAPA_Number = $("#CAPAID").val().trim(); if (CAPA_Number == "") { errors.push("Enter CAPA Number."); }
        var change = {
            "CurrentStatus": 3, "CAPAID": CAPA_Number
        };
        $.post("@Url.Content("~/QMS/Capa/EmpAcceptStatus")", change,
            function (JsonResultCapa) {
                ShowPleaseWait('hide');
                if (JsonResultCapa.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (JsonResultCapa.hasError == false) {
                        errors.push("CAPA No. <span class='sucess_info_msg'> @Model.CAPA_Number </span>  Accepted Successfully.");
                        custAlertMsg(errors.join("<br/>"), "success", "CAPAAcceptCompleteReload();");
                        return false;
                    } else {
                        errors.push(JsonResultCapa.data);
                        custAlertMsg(errors.join("<br/>"), "error");
                        return false;
                    }
                }
            }, 'json');
    }
</script>
<!--Responsible Person Completed CAPA-->
<script>
    function EmployeeCompletedCapa() {
        var ResponsiblePersonComments = $("#RespPersonCommts").val().trim();
        if (ResponsiblePersonComments == "") {
            custAlertMsg("Enter comments.", "error");
            return false;
        }
        else {
            ElectronicSignPopupOpen('CompletedCapaSubmittedCode');
        }
    }
    function CompletedCapaSubmittedCode() {
        ShowPleaseWait('show');
        errors = [];
        var ResponsiblePersonComments = $("#RespPersonCommts").val().trim();
        var CAPA_Number = $("#CAPAID").val().trim(); if (CAPA_Number == "") { errors.push("Enter CAPA Number."); }
        var change = {
            "CurrentStatus": 4, "CAPAID": CAPA_Number, "RespPersonCommts": ResponsiblePersonComments
        };
        $.post("@Url.Content("~/QMS/Capa/EmpAcceptStatus")", change,
            function (aiz) {
                ShowPleaseWait('hide');
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    if (aiz.hasError == false) {
                        errors.push("CAPA No. <span class='sucess_info_msg'> @Model.CAPA_Number </span> Completed Successfully.");
                        custAlertMsg(errors.join("<br/>"), "success", "CAPAAcceptCompleteReload();");
                        return false;
                    } else {
                        errors.push(aiz.data);
                        custAlertMsg(errors.join("<br/>"), "error");

                        return false;
                    }
                }
            }, 'json');
    }
</script>
<!--attachment pop up view-->
<script>
    function CAPACompleteAttachemnts(cntrl) {
        $(cntrl).attr("onclick", "").unbind("click");
        $("#myModalCapaCompltFileUpload").modal('show');
        $(cntrl).attr("onclick", "CAPACompleteAttachemnts(this)").unbind("click");
    }
</script>
<script>
    @*@TempData["R"]*@
</script>

