﻿@model Aizant_API_Entities.AizantIT_Capa_Remainder
@using (Html.BeginForm())
{
    <div id="OpenPopup"></div>
    <div id="myModalCreateRM2" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content padding-none">
                <div class="modal-header">
                    <h4 class="modal-title">Reminder 2</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div id="Main" class="modal-body" style=" ">
                    @Html.AntiForgeryToken()
                    <div hidden="hidden">
                        @Html.EditorFor(model => model.RM_ID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EditorFor(model => model.CAPAID, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <label class=" custom_label col-form-label"> CAPA Number</label>
                    @Html.Editor("CAPANO", new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.CAPANO, @readonly = "readonly" } })
                    <label for="" class="col-12 padding-none custom_label col-form-label">Proposed Target Date</label>
                    @Html.Editor("Date", new { htmlAttributes = new { @class = "form-control ", @Value = @ViewBag.ProposedDate, @readonly = "readonly" } })
                    <div id="dvRdbtn">
                        <div class=" btn-group-toggle float-left col-12 padding-none" data-toggle="buttons" id="divYesNoGrp">
                            <label class="col-12 custom_label col-form-label float-left padding-none required"> Need a Revised Target Date</label>
                            <label class="btn btn btn-secondary float-left col-sm-6 col-xs-6 col-lg-6 col-md-6 " id="lblYes">
                                <input type="radio" name="options" id="rdbtnYes" autocomplete="off" class="col-4" onchange="IsYes();"> Yes
                            </label>
                            <label class="btn btn btn-secondary float-left col-sm-6 col-xs-6 col-lg-6 col-md-6 " id="lblNo">
                                <input type="radio" name="options" id="rdbtnNo" autocomplete="off" class="col-4" onchange="IsNo();"> No
                            </label>
                        </div>
                    </div>
                    <div id="dvRTargetdate" style="display:none">
                        <label for="" class="custom_label padding-none col-form-label required" id="lblreviseddate">Revised Target Date</label>
                        @Html.EditorFor(model => model.RevisedTargetDate, new { htmlAttributes = new { @class = "form-control datetimepicker", @name = "RevisedTargetDate", @autocomplete = "off" } })
                    </div>
                    <label class=" custom_label padding-none col-form-label required">Assign to HOD</label>
                    @if (Model.RemainderStatus == 15)
                    {
                        @Html.Editor("RM2HODEmpName", new { htmlAttributes = new { @class = "form-control  ui-state-highlight", @readonly = "readonly", value = @ViewBag.RM2HODEmpName } })
                    }
                    else
                    {
                        @Html.DropDownList("HODEmployeeName", null, "Select Employee", htmlAttributes: new { id = "EmployeeName", @class = "col-12  padding-none  drop_down selectpicker" })
                    }
                    @if (Model.RemainderStatus != 0)
                    {
                        <label for="" class="custom_label padding-none col-form-label" id="lblreviseddate">Reminder Status</label>
                        @Html.Editor("ReminderStatusName", new { htmlAttributes = new { @class = "form-control ", @name = "ReminderStatusName", @readonly = "readonly" } })
                    }
                    <div id="QaCommentsRM2">
                        <label class=" custom_label col-form-label required"> QA Comments:</label>
                        @Html.TextAreaFor(model => model.QA_Remainder_Notes, 3, 200, new { maxlength = 500 })
                    </div>
                    <div id="hodComments">
                        <label class=" custom_label col-form-label required" id="lblhdComments"> HOD Comments:</label>
                        @Html.TextAreaFor(model => model.HOD_Justify_Notes, 3, 200, new { maxlength = 500 })

                    </div>
                    <div id="QACommentsShowingQARoleRM2" style="display:none">
                        <label class=" custom_label col-form-label required"> QA Comments:</label>
                        @Html.TextArea("QA_Remainder_NotesRM2", new { @class = "form-control ", @rows = "3", maxlength = 500 })
                    </div>

                </div>
                <div class="modal-footer">
                    @if (Model.RemainderStatus != 4)
                    {
                        <input type="button" value="Submit" class="btn-signup_popup" id="btnHodSubmit" onclick="CreateRM2(13)" />
                        <input type="button" value="Submit" class="btn-signup_popup" id="btnAssign" onclick="CreateRM2(12)" />
                        <input type="button" value="Approve" class="btn-signup_popup" id="btnApprove" onclick="CreateRMApproveRevert(15)" />
                        <input type="button" value="Revert" class="btn-revert_popup" id="btnRevert" onclick="CreateRMApproveRevert(14)" />
                    }
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
@Html.Partial("_ElectronicPartialView")

<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size:7
        });
        });
        var name = $("#RevisedTargetDate").val();
        if (name == "01-01-1900 00:00:00") {
            $("#RevisedTargetDate").val('');
        }
       if (@Model.RemainderStatus == 15)
          {
              $("#Main :input").attr("disabled", true);
        }
          if (@Model.RemainderStatus == 15) {
            $("#btnApprove").hide();
            $("#btnAssign").hide();
            $("#btnRevert").hide();
            $("#btnHodSubmit").hide();
        }
          if (@Model.RemainderStatus == 0) {
              $("#dvRdbtn").hide();//hide radio button
              $("#lblreviseddate").hide();
              $("#RevisedTargetDate").hide();
            $("#btnApprove").hide();
            $("#btnRevert").hide();
            $("#btnHodSubmit").hide();
          }
         //RemainderStatus 1 then QA hide revised Date
          if (@Model.RemainderStatus == 12 && "@TempData["RoleID"]"==26) {
              $("#lblreviseddate").hide();
              $("#QA_Remainder_Notes").prop('disabled', true).css("color","disabled");

              $("#RevisedTargetDate").hide();
              $("#dvRdbtn").hide();//hide radio button
              $("#hodComments").hide();
              $("#EmployeeName").prop('disabled', true).css("color", "disabled");

          }
        if ( @Model.RemainderStatus == 12 || @Model.RemainderStatus == 14 ) {
            $("#btnAssign").hide();
            $("#btnRevert").hide();
            $("#btnApprove").hide();

        }
         if (@Model.RemainderStatus == 13) {
            $("#btnAssign").hide();
            $("#btnHodSubmit").hide();
             //Qa Comments
            $("#QaCommentsRM2").hide();
            $("#QACommentsShowingQARoleRM2").show();
        }
         if ("@TempData["RoleID"]"==26) {
             $("#btnHodSubmit").hide();
             $("#HOD_Justify_Notes").prop('disabled', true).css("color","disabled");
         }

          if ("@TempData["RoleID"]"==25) {
              $("#QA_Remainder_Notes").prop('disabled', true).css("color","disabled");
              $("#btnRevert").hide();
              $("#btnAssign").hide();
              $("#btnApprove").hide();
              $("#EmployeeName").prop('disabled', true).css("color","disabled");
         }
         if ("@TempData["RoleID"]"==27) {
             $("#QA_Remainder_Notes").prop('disabled', true).css("color","disabled");
              $("#btnRevert").hide();
              $("#btnAssign").hide();
              $("#btnApprove").hide();
              $("#EmployeeName").prop('disabled', true).css("color","disabled");
          }
         if ( @Model.RemainderStatus == 0  ) {
             $("#dvRTargetdate").hide();
            $("#RevisedTargetDate").hide();
            $("#hodComments").hide();
         }

           if (@Model.RemainderStatus == 13 && "@TempData["RoleID"]"==25) {
               $("#HOD_Justify_Notes").prop('disabled', true).css("color","disabled");
               $("#RevisedTargetDate").prop('disabled', true).css("color", "disabled");
               //Is RevisedTarget Date Disable
               $('#divYesNoGrp').css('pointer-events', 'none');
         }
            if (@Model.RemainderStatus == 14 && "@TempData["RoleID"]"==26)
            {
               $("#hodComments").show();
               $("#lblreviseddate").show();
               $("#RevisedTargetDate").show();
               $("#QA_Remainder_Notes").prop('disabled', true).css("color", "disabled");
               $("#EmployeeName").prop('disabled', true).css("color", "disabled");
               $("#RevisedTargetDate").prop('disabled', true).css("color", "disabled");
               //Is RevisedTarget Date Disable
               $('#divYesNoGrp').css('pointer-events', 'none');
               var IsRevisedDateValue="@Model.IsRevisedDate";
            if (IsRevisedDateValue == "False")
            {
               $("#btnApprove").hide();
            }
            else
            {
            }
           }
            //Reminder 2 Is RevisedTarget Date Disable
            if (@Model.RemainderStatus==15) {
                $('#divYesNoGrp').css('pointer-events', 'none');
            }
           if (@Model.RemainderStatus == 13 && "@TempData["RoleID"]"==26)
           {
               $("#hodComments").show();
               $("#lblreviseddate").show();
               $("#RevisedTargetDate").show();
               $("#RevisedTargetDate").prop('disabled', true).css("color", "disabled");
               //Is RevisedTarget Date Disable
               $('#divYesNoGrp').css('pointer-events', 'none');
               var IsRevisedDateValue="@Model.IsRevisedDate";
            if (IsRevisedDateValue == "False")
            {
               $("#btnApprove").hide();
            }
            else
            {
               $("#btnApprove").show();
            }
          }
        //Need Revised Target Date
           function IsYes() {
               $("#dvRTargetdate").show();
           }
           function IsNo() {
               $("#dvRTargetdate").hide();
           }
         if ('@Model.IsRevisedDate' != null) {

                if ('@Model.IsRevisedDate' == 'True') {
                $('#lblYes').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");
                $('#lblNo').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 ");
                $("#rdbtnYes").attr('checked', 'checked');
                $("#dvRTargetdate").show();

            } else if ('@Model.IsRevisedDate' == 'False') {
                    $('#lblYes').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 ");
                    $('#lblNo').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active ");
                    $("#rdbtnNo").attr('checked', 'checked');
                    $("#dvRTargetdate").hide();
        }
    }
</script>
<script>
     function Reload() {
         location.reload();
     }
     var rdbtnIsRevisedDate;
     var CAPA_Number;
     var EmployeeName;
     var RevisedTargetDate;
     var HOD_Justify_Notes;
     var QA_Remainder_Notes;
     var RemainderActionStatus;
     function CreateRM2(Reminder) {
         errors = [];
         RemainderActionStatus = Reminder;
         CAPA_Number = $("#CAPAID").val().trim(); if (CAPA_Number == "") { errors.push("Enter CAPA Number."); }
         EmployeeName = $("#EmployeeName :selected").val(); if (EmployeeName == "") { errors.push("Select Employee. "); }
         RevisedTargetDate = $("#RevisedTargetDate").val().trim();
         HOD_Justify_Notes = $("#HOD_Justify_Notes").val().trim();
        if ($("#rdbtnYes").prop('checked')) {
            rdbtnIsRevisedDate = true;
        } else
            if ($("#rdbtnNo").prop('checked')) {
                rdbtnIsRevisedDate = false;
            }
         if (@Model.RemainderStatus != 0) {
             if (rdbtnIsRevisedDate == 1) {
                 if (RevisedTargetDate == "") { errors.push("Enter Revised Target Date."); }
             }
             if (rdbtnIsRevisedDate != 0 && rdbtnIsRevisedDate != 1) {
                 errors.push("Select Need a Revised Target Date.");
             }
             if (HOD_Justify_Notes == "") { errors.push("Enter HOD Comments. "); }
             if (RevisedTargetDate == "" || HOD_Justify_Notes=="" ) {
                 if (errors.length > 0) {
                     custAlertMsg(errors.join("<br/>"), "error");
                     return false;
                 }
             }
         }
         QA_Remainder_Notes = $("#QA_Remainder_Notes").val().trim();
         if (QA_Remainder_Notes == "") { errors.push("Enter QA Comments. "); }

         if (EmployeeName != "" && QA_Remainder_Notes != "") {
             CAPACompletedorNotChecking(1);



        } else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
     }

     function AjaxCallCreateReminder2() {
         ShowPleaseWait('show');
         var change = {
             "CAPAID": CAPA_Number, "RevisedTargetDate": RevisedTargetDate,
             "QA_Remainder_Notes": QA_Remainder_Notes, "Hod_EmpID": EmployeeName, "RemainderStatus": RemainderActionStatus, "HOD_Justify_Notes": HOD_Justify_Notes, "IsRevisedDate": rdbtnIsRevisedDate,

         };
        $.post("@Url.Content("~/QMS/Capa/RMQAA")", change,
            function (aiz) {
                ShowPleaseWait('hide');
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (aiz.hasError) {
                        case "error":
                            custAlertMsg(aiz.data, "error");
                            break;

                        case "warning":
                            custAlertMsg(aiz.data, "warning");
                            break;
                        case "success":
                               if (aiz.data.RemainderStatus == 13) {
                            errors.push("Reminder 2 Submitted Successfully CAPA No. <span class='sucess_info_msg'>@ViewBag.CAPANO</span>.");
                        }
                        else {
                            errors.push("Reminder 2 Created Successfully CAPA No. <span class='sucess_info_msg'>@ViewBag.CAPANO</span>.");
                        }
                        custAlertMsg(errors.join("<br/>"), "success", "closeViewPopup();");
                            break;
                    }

                    @*if (aiz.hasError == false) {
                        if (aiz.data.RemainderStatus == 13) {
                            errors.push("Reminder 2 Submitted Successfully CAPA No. <span class='sucess_info_msg'>@ViewBag.CAPANO</span>.");
                        }
                        else {
                            errors.push("Reminder 2 Created Successfully CAPA No. <span class='sucess_info_msg'>@ViewBag.CAPANO</span>.");
                        }
                        custAlertMsg(errors.join("<br/>"), "success", "closeViewPopup();");
                        return false;
                    } else {
                        errors.push(aiz.data);
                        custAlertMsg(errors.join("<br/>"), "error");
                        return false;
                    }*@
                }
            }, 'json');
    }
</script>
<script>
    function CAPACompletedorNotChecking(Status){
        $.ajax({
            url: '@Url.Content("~/QMS/Capa/CAPACompleteOrNot")',
            type: "GET",
            dataType: "JSON",
            data: { "CAPAID":@Model.CAPAID},
            success:   function(aiz)
            {
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (aiz.hasError == false) {
                        if(aiz.data==4){
                            custAlertMsg(" CAPA is already Completed.", "warning","ReloadReminderList();");
                        }
                        else{ //QA Create and HOD submit
                            if(Status==1){
                                ElectronicSignPopupOpen('AjaxCallCreateReminder2');
                            }
                            else //Approve or Revert
                            {
                                ElectronicSignPopupOpen('QAApproveRevertReminder2');

                            }
                        }
                    }
                    else {
                        custAlertMsg(aiz.data, "error");
                        return false;
                    }
                }
            }
        });
    }
    function ReloadReminderList(){
        $("#myModalCreateRM2").modal('hide');
        //$('#tblCapaList').DataTable().ajax.reload();
        GetCAPAListDataTable(0, 0, "0", "0");
}
</script>
<script>

    var Reminder2Status;
    var CAPA_Number;
    var EmployeeName;
    var RevisedTargetDate;
    var HOD_Justify_Notes;
    var QA_Remainder_Notes;
        function CreateRMApproveRevert(Reminder) {

         errors = [];
         Reminder2Status = Reminder;
          CAPA_Number = $("#CAPAID").val().trim(); if (CAPA_Number == "") { errors.push("Enter CAPA Number."); }
         EmployeeName = $("#EmployeeName :selected").val(); if (EmployeeName == "") { errors.push("Select Employee. "); }
         RevisedTargetDate = $("#RevisedTargetDate").val().trim();
         HOD_Justify_Notes = $("#HOD_Justify_Notes").val().trim();
         if (@Model.RemainderStatus != 0) {
             if (HOD_Justify_Notes == "") { errors.push("Enter HOD Comments. "); }
             if (RevisedTargetDate == "" || HOD_Justify_Notes=="" ) {
                 if (errors.length > 0) {
                     custAlertMsg(errors.join("<br/>"), "error");
                     return false;
                 }
             }
         }
         if(Reminder==15){//Approve
              QA_Remainder_Notes = $("#QA_Remainder_Notes").val().trim();
              QA_Remainder_Notes = $("#QA_Remainder_NotesRM2").val().trim();
         }if(Reminder==14){//Revert
              QA_Remainder_Notes = $("#QA_Remainder_NotesRM2").val().trim();
         }
         if (QA_Remainder_Notes == "") { errors.push("Enter QA Comments. "); }
         if (EmployeeName != "" && QA_Remainder_Notes != "") {
             CAPACompletedorNotChecking(2);
        }
          else {
             custAlertMsg(errors.join("<br/>"), "error");
             return false;
         }
        }
        function QAApproveRevertReminder2() {
            ShowPleaseWait('show');
         errors = [];
         $.ajax({
             url: '@Url.Content("~/QMS/Capa/ReminderApproveAndRevert")',

                data: {
                    "CAPAID": CAPA_Number, "RevisedTargetDate": RevisedTargetDate,
                    "QA_Remainder_Notes": QA_Remainder_Notes, "Hod_EmpID": EmployeeName, "RemainderStatus": Reminder2Status, "HOD_Justify_Notes": HOD_Justify_Notes,
                },
                type: 'Post',
                success: function (JsonResultCapa) {
                    ShowPleaseWait('hide');
                    if (JsonResultCapa.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
    switch (JsonResultCapa.hasError) {
                        case "error":
                                custAlertMsg(JsonResultCapa.data, "error");
                            break;

                        case "warning":
                                custAlertMsg(JsonResultCapa.data, "warning");
                            break;
                        case "success":
                              if (JsonResultCapa.data.RemainderStatus == 14) {
                                errors.push("Reminder 2 Reverted Successfully CAPA No. <span class='sucess_info_msg'>@ViewBag.CAPANO</span>.");
                            }
                            else {
                                errors.push("Reminder 2 Approved Successfully CAPA No. <span class='sucess_info_msg'>@ViewBag.CAPANO</span>.");
                            }
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            break;
                    }
                        @*if (JsonResultCapa.hasError == false) {

                            if (JsonResultCapa.data.RemainderStatus == 14) {
                                errors.push("Reminder 2 Reverted Successfully CAPA No. <span class='sucess_info_msg'>@ViewBag.CAPANO</span>.");
                            }
                            else {
                                errors.push("Reminder 2 Approved Successfully CAPA No. <span class='sucess_info_msg'>@ViewBag.CAPANO</span>.");
                            }
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            return false;
                        }
                        else{
                            custAlertMsg(JsonResultCapa.data, "error", "CloseElectronic();");
                        }*@
                    }
                }
            });
     }
</script>
<!--Close ViewPopup and Redirected To Hod Page-->
<script>
    function closeViewPopup() {
        ElectronicSignPopupClose();
        $("#myModalCreateRM2").modal('hide');
        if('@TempData["R"].ToString()'=='Hod_List'){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "Hod_List", area = "QMS" })';
        }
        else if('@TempData["R"].ToString()'=='QARmdrAppLsit'){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "QARmdrAppLsit", area = "QMS" })';

        }else if('@TempData["R"].ToString()'=='Hod_RevertedList'){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "Hod_RevertedList", area = "QMS" })';
        }
        if('@TempData["R"].ToString()'=='QA_List'){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "QA_List", area = "QMS" })';
        }
        if ('@TempData["R"].ToString()' =='QARmdr2TransLsit'){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "QARmdr2TransLsit", area = "QMS" })';
        }
    }
</script>
<!--Target date Validation-->
<script>
     $(function () {
                $('#RevisedTargetDate').datetimepicker({
                    format: 'DD MMM YYYY',
                });
                var ProposedTargetDate = '@ViewBag.ProposedDate';
                if (@Model.RemainderStatus == 12) {
                    var CurrentDate = new Date();
                    CurrentDate.setHours(0,0,0,0);

                    ProposedDateHod2=new Date( '@ViewBag.ProposedDate');
                    ProposedDateHod2.setHours(0,0,0,0);

                    if(ProposedDateHod2<CurrentDate){
                        var _mindate = new Date(CurrentDate);
                        _mindate.setDate(_mindate.getDate());
                        $('#RevisedTargetDate').data("DateTimePicker").minDate(CurrentDate);
                        $('#RevisedTargetDate').val("");
                    }
                    else {
                        var _mindate = new Date(ProposedTargetDate);
                        _mindate.setDate(_mindate.getDate() + 1);
                        $('#RevisedTargetDate').data("DateTimePicker").minDate(_mindate);
                        $('#RevisedTargetDate').val("");
                    }
                }

    if (@Model.RemainderStatus==14 || @Model.RemainderStatus==15) {

        var proposedDate2= '@ViewBag.ProposedDate';

        var CurrentDate = new Date();
        CurrentDate.setHours(0,0,0,0);

        RevisedDate2=new Date('@ViewBag.RevisedTargetDateRM2');
        RevisedDate2.setHours(0,0,0,0);
        //Comparing if RevisedTarget Date more than current Date mindate is Proposed Date
        if (RevisedDate2 > CurrentDate)
        {
            var RevisedDateHOD2 = '@ViewBag.RevisedTargetDateRM2';
            var _mindateProposed2 = new Date(proposedDate2);
            _mindateProposed2.setDate(_mindateProposed2.getDate() + 1);
            $('#RevisedTargetDate').data("DateTimePicker").minDate(_mindateProposed2);
            $('#RevisedTargetDate').val(RevisedDateHOD2);
        }
        else
        {
            //if Revised Date less than currentDate
            if(RevisedDate2<CurrentDate)
            {

                ProposedDateComp2=new Date('@ViewBag.ProposedDate');
                ProposedDateComp2.setHours(0,0,0,0);
                //Proposed Date is less then current Date mindate is currentDate
                if(ProposedDateComp2<CurrentDate)
                {
                    $('#RevisedTargetDate').data("DateTimePicker").minDate(CurrentDate);
                    $('#RevisedTargetDate').val();
                }
                    //ohterwise  added one day proposed Date and it is Mindate
                else
                {
                    var _mindate2 = new Date(proposedDate2);
                    _mindate2.setDate(_mindate2.getDate() + 1);
                    $('#RevisedTargetDate').data("DateTimePicker").minDate(_mindate2);
                    $('#RevisedTargetDate').val();
                }

            }
        }
    }
    });
    // RevisedTargetDate dispalyed in QA Page
    if(@Model.RemainderStatus==13){

        var date1 = '@ViewBag.RevisedTargetDateRM2';
        var CurrentDate = moment().format('DD MMM YYYY');

        var _mindate = new Date(date1);
        $('#RevisedTargetDate').val(date1);
    }
</script>
<script>
    if ('@TempData["R"].ToString()' == 'Hod_RevertedList') {
        $('#HOD_Justify_Notes').val("");
    }
</script>




