﻿@model Aizant_API_Entities.AizantIT_Capa_Remainder

@using (Html.BeginForm())
{
    <div id="myModalCreateRM1" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content padding-none">
                <div class="modal-header">
                    <h4 class="modal-title">Reminder 1</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div id="Main" class="modal-body" style=" ">
                    @Html.AntiForgeryToken()
                    <div hidden="hidden">
                        @Html.EditorFor(model => model.RM_ID, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.EditorFor(model => model.CAPAID, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                    <label class=" custom_label col-form-label"> CAPA Number</label>
                    @Html.Editor("CAPANO", new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.CAPANO, @readonly = "readonly" } })
                    <label for="" class="col-12 padding-none custom_label col-form-label">Proposed Target Date</label>
                    @Html.Editor("ProposedDate", new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.ProposedDate, @readonly = "readonly" } })

                    <div id="dvRdbtn">
                        <div class=" btn-group-toggle float-left col-12 padding-none" data-toggle="buttons" id="divYesNoGrp">
                            <label class="col-12 custom_label col-form-label float-left padding-none required"> Need a Revised Target Date :</label>
                            <label class="btn btn btn-secondary float-left col-sm-6 col-xs-6 col-lg-6 col-md-6" id="lblYes">
                                <input type="radio" name="options" id="rdbtnYes" autocomplete="off" class="col-4" onchange="IsYes();"> Yes
                            </label>
                            <label class="btn btn btn-secondary float-left col-sm-6 col-xs-6 col-lg-6 col-md-6" id="lblNo">
                                <input type="radio" name="options" id="rdbtnNo" autocomplete="off" class="col-4" onchange="IsNo();"> No
                            </label>
                        </div>
                    </div>
                    <div id="dvRTargetdate" style="display:none">
                        <label for="" class="custom_label padding-none col-form-label required" id="lblreviseddate">Revised Target Date :</label>
                        @Html.EditorFor(model => model.RevisedTargetDate, new { htmlAttributes = new { @class = "form-control datetimepicker ui-state-highlight", @name = "RevisedTargetDate", @autocomplete = "off" } })
                    </div>
                    <label class="col-12 custom_label padding-none col-form-label required">Assign to HOD :</label>
                    @if (Model.RemainderStatus == 8 )
                    {
                        @Html.Editor("RM1HODEmpName", new { htmlAttributes = new { @class = "form-control  ui-state-highlight", @readonly = "readonly", value = @ViewBag.RM1HODEmpName } })
                    }
                    else
                    {
                        @Html.DropDownList("HODEmployeeName", null, "Select Employee", htmlAttributes: new { id = "EmployeeName", @class = "col-12  padding-none  drop_down selectpicker" })

                    }
                    @if (Model.RemainderStatus != 0)
                    {
                        <label for="" class="custom_label padding-none col-form-label" id="lblreviseddate">Reminder Status</label>
                        @Html.Editor("ReminderStatusName", new { htmlAttributes = new { @class = "form-control ", @name = "ReminderStatusName", @readonly = "readonly" } })
                    }
                    <div id="QaComments">
                        <label class=" custom_label col-form-label required"> QA Comments :</label>
                        @Html.TextAreaFor(model => model.QA_Remainder_Notes, 3, 200, new { maxlength = 500 })
                    </div>
                    <div id="hodComments">
                        <label class=" custom_label col-form-label required"> HOD Comments :</label>
                        @Html.TextAreaFor(model => model.HOD_Justify_Notes, 3, 200, new { @name = "HOD_Justify_Notes", maxlength = 500 })
                    </div>
                    <div id="QACommentsShowingQARole" style="display:none">
                        <label class=" custom_label col-form-label required"> QA Comments:</label>
                        @Html.TextArea("QA_Remainder_Notes2", new { @class = "form-control ", @rows = "3", maxlength = 500 })
                    </div>

                </div>
                <div class="modal-footer" style="padding-top: 10px;">
                    @if (Model.RemainderStatus != 4)
                    {
                        <input type="button" value="Submit" class="btn-signup_popup" id="btnHodSubmit" onclick="CreateReminder1(6)" />
                        <input type="button" value="Submit" class="btn-signup_popup" id="btnAssign" onclick="CreateReminder1(5)" />
                        <input type="button" value="Approve" class="btn-signup_popup" id="btnApprove" onclick="CreateRMApproveRevert(8)" />
                        <input type="button" value="Revert" class="btn-revert_popup" id="btnRevert" onclick="CreateRMApproveRevert(7)" />
                    }
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>

                </div>
            </div>
        </div>
    </div>

}
<!--Electronic Signature-->
@Html.Partial("_ElectronicPartialView")
<!--Hide Reminder and Buttons As per Status and Role Wise-->
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
                            liveSearch: true,
                            showSubtext: true,
                            size:7

        });
    });

    var name = $("#RevisedTargetDate").val().trim();

          if (@Model.RemainderStatus == 8)
          {
              $("#Main :input").attr("disabled", true);
             }
          if (@Model.RemainderStatus == 0) {
              $("#lblreviseddate").hide();
              $("#RevisedTargetDate").hide();
              $("#dvRdbtn").hide();//hide radio button
            $("#btnApprove").hide();
            $("#btnRevert").hide();
            $("#btnHodSubmit").hide();
          }
        //RemainderStatus 1 then QA hide revised Date

          if (@Model.RemainderStatus == 1 && "@TempData["RoleID"]"==26 ) {
              $("#lblreviseddate").hide();
              $("#RevisedTargetDate").hide();
              $("#dvRdbtn").hide();//hide radio button
          }
          if (@Model.RemainderStatus == 8) {

            $("#btnApprove").hide();
            $("#btnAssign").hide();
            $("#btnRevert").hide();
            $("#btnHodSubmit").hide();
          //Is RevisedTarget Date Disable
            $('#divYesNoGrp').css('pointer-events', 'none');

        }
        if ( @Model.RemainderStatus == 5 || @Model.RemainderStatus == 7 ) {
            $("#btnAssign").hide();
            $("#btnRevert").hide();
            $("#btnApprove").hide();
        }
        //Reminder Riase 1st time
        if ( @Model.RemainderStatus == 0 ) {
            $("#hodComments").hide();
            $("#lblreviseddate").hide();
            $("#RevisedTargetDate").hide();
         }
        //Qa Send to Hod
    if (@Model.RemainderStatus == 6 && "@TempData["RoleID"]"==25) {

               $("#HOD_Justify_Notes").prop('readonly', true);
               $("#RevisedTargetDate").prop('disabled', true).css("color", "disabled");
               $("#btnAssign").hide();
               $("#btnHodSubmit").hide();
               //Is RevisedTarget Date Disable
               $('#divYesNoGrp').css('pointer-events', 'none');
        }
    if (@Model.RemainderStatus == 6 && "@TempData["RoleID"]"==26) {
               $("#HOD_Justify_Notes").prop('disabled', true).css("color", "disabled");
               $("#RevisedTargetDate").prop('disabled', true).css("color", "disabled");
               $("#btnAssign").hide();
               $("#btnHodSubmit").hide();
        //Qa Comments
               $("#QaComments").hide();
               $("#QACommentsShowingQARole").show();
                //End
               //Is RevisedTarget Date Disable
               $('#divYesNoGrp').css('pointer-events', 'none');
            var IsRevisedDateValue="@Model.IsRevisedDate";
            if (IsRevisedDateValue == "False")
            {
               $("#btnApprove").hide();
            }
            else
            {
               $("#btnApprove").show();
            }
        }
        if (@Model.RemainderStatus == 5 && "@TempData["RoleID"]"==26) {
            $("#hodComments").hide();
            $("#QA_Remainder_Notes").prop('disabled', true).css("color", "disabled");

            $("#lblreviseddate").hide();
            $("#RevisedTargetDate").hide();
            $("#dvRdbtn").hide();//hide radio button
            $("#btnHodSubmit").hide();
        }
          if ("@TempData["RoleID"]"==25) {
              $("#QA_Remainder_Notes").prop('disabled', true).css("color","disabled");
              $("#btnRevert").hide();
              $("#btnAssign").hide();
              $("#btnApprove").hide();
              $("#EmployeeName").prop('disabled', true).css("color","disabled");
         }
        if ("@TempData["RoleID"]"==27) {
            $("#QA_Remainder_Notes").prop('disabled', true).css("color","disabled");
              $("#btnRevert").hide();
              $("#btnAssign").hide();
              $("#btnApprove").hide();
              $("#EmployeeName").prop('disabled', true).css("color","disabled");
          }
        if ("@TempData["RoleID"]"==26 && @Model.RemainderStatus==7) {
            $("#btnHodSubmit").hide();
            //hide Revert button
            $("#btnRevert").hide();
            //Is RevisedTarget Date Disable
            $('#divYesNoGrp').css('pointer-events', 'none');
        }
        if ( "@TempData["RoleID"]"==25 && @Model.RemainderStatus==7) {
            $("#btnHodSubmit").show();
        }
        if (@Model.RemainderStatus == 5 || @Model.RemainderStatus == 7) {
            $("#EmployeeName").prop('disabled', true).css("color", "disabled");
        }
</script>

<script>
    function Reload() {
        location.reload();
        }
    var rdbtnIsRevisedDate;
    var CAPA_Number;
    var EmployeeName;
    var RevisedTargetDate;
    var HOD_Justify_Notes ;
    var QA_Remainder_Notes;
    var QA_Remainder_Notes;
    var ReminderActionStatus;
    function CreateReminder1(Reminder) {
        errors = [];
        CAPA_Number = $("#CAPAID").val().trim(); if (CAPA_Number == "") { errors.push("Enter CAPA Number."); }
         EmployeeName = $("#EmployeeName :selected").val(); if (EmployeeName == "") { errors.push("Select Employee. "); }
         RevisedTargetDate = $("#RevisedTargetDate").val().trim();
         HOD_Justify_Notes = $("#HOD_Justify_Notes").val().trim();

         if ($("#rdbtnYes").prop('checked')) {
            rdbtnIsRevisedDate = true;
            if (RevisedTargetDate == "") {
                errors.push("Select Revised Target Date.");
            }
        } else
            if ($("#rdbtnNo").prop('checked')) {
                rdbtnIsRevisedDate = false;
            }
        if (@Model.RemainderStatus != 0) {
            if (rdbtnIsRevisedDate != 0 && rdbtnIsRevisedDate != 1) {
                errors.push("Select Need a Revised Target Date.");
            }
            if (HOD_Justify_Notes == "") { errors.push("Enter HOD Comments. "); }
            if (HOD_Justify_Notes == "" || (rdbtnIsRevisedDate != 0 && rdbtnIsRevisedDate != 1) ) {

                if (errors.length > 0) {
                    custAlertMsg(errors.join("<br/>"), "error");
                    return false;
                }
            }
        }
        QA_Remainder_Notes = $("#QA_Remainder_Notes").val().trim(); if (QA_Remainder_Notes == "") { errors.push("Enter QA Comments. "); }
         ReminderActionStatus = Reminder;

        //CAPA Reminder Created in QA
        if ('@TempData["R"].ToString()' == 'QA_List' || '@TempData["R"].ToString()' == 'QARmdrTransLsit' )
        {
            if (EmployeeName != "" && QA_Remainder_Notes != "")
            {
                CAPACompletedorNotChecking(1);
            }
            else
            {
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
            }
        }

            //Hod Page CAPA Reminder Submitted by HOD
        else {
            //RevisedDate when False
            if (rdbtnIsRevisedDate == false)
            {
                if (EmployeeName != "" && QA_Remainder_Notes != "")
                {
                    CAPACompletedorNotChecking(1);
                }
                else {
                    custAlertMsg(errors.join("<br/>"), "error");
                    return false;
                }

            }
                //RevisedDate when True
            else {
                if (EmployeeName != "" && QA_Remainder_Notes != "" && RevisedTargetDate != "") {
                    CAPACompletedorNotChecking(1);
                }
                else {
                    custAlertMsg(errors.join("<br/>"), "error");
                    return false;
                }
            }
        }
    }

    function AjaxCallCreateReminderQA() {
        ShowPleaseWait('show');
        var change = {
            "CAPAID": CAPA_Number, "RevisedTargetDate": RevisedTargetDate,
            "QA_Remainder_Notes": QA_Remainder_Notes, "Hod_EmpID": EmployeeName, "RemainderStatus": ReminderActionStatus, "HOD_Justify_Notes": HOD_Justify_Notes, "IsRevisedDate": rdbtnIsRevisedDate,

        };
        $.post("@Url.Content("~/QMS/Capa/RMQAA")", change,
            function (aiz) {
                ShowPleaseWait('hide');
                if (result.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (aiz.hasError) {
                        case "error":
                            custAlertMsg(aiz.data, "error");
                            break;

                        case "warning":
                            custAlertMsg(aiz.data, "warning");
                            break;
                        case "success":
                            if (ReminderActionStatus == 5) {
                                errors.push("Reminder 1 Created Successfully For CAPA No. <span class='sucess_info_msg'>@ViewBag.CapaNumber</span>.");
                            }
                            else {
                                errors.push("CAPA Reminder 1 Submitted Successfully For CAPA No. <span class='sucess_info_msg'>@ViewBag.CapaNumber</span>.");
                            }
                            custAlertMsg(errors.join("<br/>"), "success", "closeViewPopup();");
                            break;
                    }
            }
            }, 'json');
    }
</script>






<!--Is RevisedTargetDate Radio buttons Active or InActive-->
<script>
    function IsYes() {
        $("#dvRTargetdate").show();
    }
    function IsNo() {
        $("#dvRTargetdate").hide();
    }
     if ('@Model.IsRevisedDate' != null) {
                if ('@Model.IsRevisedDate' == 'True') {
                $('#lblYes').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");
                $('#lblNo').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 ");
                $("#rdbtnYes").attr('checked', 'checked');
                $("#dvRTargetdate").show();
            } else if ('@Model.IsRevisedDate' == 'False') {
                    $('#lblYes').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 ");
                    $('#lblNo').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active ");
                    $("#rdbtnNo").attr('checked', 'checked');
                    $("#dvRTargetdate").hide();
        }
    }
</script>
<!--Close ViewPopup and Redirected To Hod Page-->
<script>
    function closeViewPopup() {
        ElectronicSignPopupClose();
        $("#myModalCreateRM1").modal('hide');
        if('@TempData["R"].ToString()'=='Hod_List'){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "Hod_List", area = "QMS" })';
        }
        else if('@TempData["R"].ToString()'=='QARmdrAppLsit'){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "QARmdrAppLsit", area = "QMS" })';

        }else if('@TempData["R"].ToString()'=='Hod_RevertedList'){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "Hod_RevertedList", area = "QMS" })';
        }
        if('@TempData["R"].ToString()'=='QA_List'){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "QA_List", area = "QMS" })';
        }
        if ('@TempData["R"].ToString()' =='QARmdrTransLsit'){
            window.location.href = '@Url.Action("CapaList", "Capa", routeValues: new { R = "QARmdrTransLsit", area = "QMS" })';
        }
    }
</script>
<!--QA Approve and Revert Reminder1-->
<script>
    function CAPACompletedorNotChecking(Status) {
        $.ajax({
            url: '@Url.Content("~/QMS/Capa/CAPACompleteOrNot")',
            type: "GET",
            dataType: "JSON",
            data: { "CAPAID":@Model.CAPAID},
            success:   function(aiz)
            {
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (aiz.hasError == false) {
                        if(aiz.data==4){
                            custAlertMsg("CAPA is already Completed.", "warning","ReloadReminderList();");
                        }
                        else{
                            if(Status==1){
                                ElectronicSignPopupOpen('AjaxCallCreateReminderQA');
                            }
                            else{
                                ElectronicSignPopupOpen('QAApproveRevertReminder1');

                            }
                        }
                    }
                    else {
                        custAlertMsg(aiz.data, "error");
                        return false;
                    }
                }
            }
        });
    }
    function ReloadReminderList(){
        $("#myModalCreateRM1").modal('hide');
        GetCAPAListDataTable(0, 0, "0", "0");
        //$('#tblCapaList').DataTable().ajax.reload();
}
</script>
<script>
    var ReminderStatus;
    var CAPA_Number;
    var EmployeeName;
    var HOD_Justify_Notes;
    var QA_Remainder_Notes;
    function CreateRMApproveRevert(Reminder) {
        $("#hdnReminder").val(Reminder);
        ReminderStatus = Reminder;
             errors = [];
          CAPA_Number = $("#CAPAID").val(); if (CAPA_Number == "") { errors.push("Enter CAPA Number."); }
          EmployeeName = $("#EmployeeName :selected").val(); if (EmployeeName == "") { errors.push("Select Employee. "); }
          HOD_Justify_Notes = $("#HOD_Justify_Notes").val().trim();
         if (@Model.RemainderStatus != 0) {
             if (HOD_Justify_Notes == "") { errors.push("Enter HOD Comment.s "); }
             if ( HOD_Justify_Notes=="" ) {
                 if (errors.length > 0) {
                     custAlertMsg(errors.join("<br/>"), "error");
                     return false;
                 }
             }
         }
        if(Reminder==8){//Approve
             QA_Remainder_Notes = $("#QA_Remainder_Notes").val().trim();
             QA_Remainder_Notes = $("#QA_Remainder_Notes2").val().trim();
        }if(Reminder==7){//Revert
             QA_Remainder_Notes = $("#QA_Remainder_Notes2").val().trim();
        }
        if (QA_Remainder_Notes == "") { errors.push("Enter QA Comments. "); }
        if (EmployeeName != "" && QA_Remainder_Notes != "") {
            CAPACompletedorNotChecking(2);
        }
          else {
             custAlertMsg(errors.join("<br/>"), "error");
             return false;
         }
     }
    function QAApproveRevertReminder1() {
        ShowPleaseWait('show');
        var RevisedTargetDate = $("#RevisedTargetDate").val().trim();
           $.ajax({
               url: '@Url.Content("~/QMS/Capa/ReminderApproveAndRevert")',
                data: {
                    "CAPAID": CAPA_Number, "RevisedTargetDate": RevisedTargetDate,
                    "QA_Remainder_Notes": QA_Remainder_Notes, "Hod_EmpID": EmployeeName, "RemainderStatus": ReminderStatus, "HOD_Justify_Notes": HOD_Justify_Notes,
                },
                type: 'Post',
                success: function (JsonResultCapa) {
                    ShowPleaseWait('hide');
                    if (JsonResultCapa.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        switch (JsonResultCapa.hasError) {
                        case "error":
                                custAlertMsg(JsonResultCapa.data, "error");
                            break;

                        case "warning":
                                custAlertMsg(JsonResultCapa.data, "warning");
                            break;
                        case "success":
                               if (JsonResultCapa.data.RemainderStatus == 7) {
                                errors.push("Reminder 1 Reverted Successfully for CAPA No. <span class='sucess_info_msg'>@ViewBag.CapaNumber</span>.");
                            }
                            else {
                                errors.push("Reminder 1 Approved Successfully for CAPA No. <span class='sucess_info_msg'>@ViewBag.CapaNumber</span>.");
                            }
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            break;
                    }
                        @*if (JsonResultCapa.hasError == false)
                        {
                            if (JsonResultCapa.data.RemainderStatus == 7) {
                                errors.push("Reminder 1 Reverted Successfully for CAPA No. <span class='sucess_info_msg'>@ViewBag.CapaNumber</span>.");
                            }
                            else {
                                errors.push("Reminder 1 Approved Successfully for CAPA No. <span class='sucess_info_msg'>@ViewBag.CapaNumber</span>.");
                            }
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            return false;
                        }
                        else {
                            custAlertMsg(JsonResultCapa.data, "error", "CloseElectronic();");
                            return false;
                        }*@
                    }
                }
            });
    }
</script>


<!--For Populating Custom Alert messages while submitting the form if any errors-->
<script>
     $(document).ready(function () {
var Err = "@ViewBag.error";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error");
        }
        else {

        }
    });
</script>
<!--Date Time Validations For Reminder1-->
<script>
     $(function () {
                $('#RevisedTargetDate').datetimepicker({
                    format: 'DD MMM YYYY',
         });
                var ProposedTargetDate = '@ViewBag.ProposedDate';

                if (@Model.RemainderStatus==5) {

                    var CurrentDate = new Date();
                    CurrentDate.setHours(0,0,0,0);

                    ProposedDateHod=new Date( '@ViewBag.ProposedDate');
                    ProposedDateHod.setHours(0,0,0,0);

                    if(ProposedDateHod<CurrentDate){
                        var _mindate = new Date(CurrentDate);
                        _mindate.setDate(_mindate.getDate());
                        $('#RevisedTargetDate').data("DateTimePicker").minDate(CurrentDate);
                        $('#RevisedTargetDate').val("");
                    }
                        else {
                            var _mindate = new Date(ProposedTargetDate);
                            _mindate.setDate(_mindate.getDate() + 1);
                            $('#RevisedTargetDate').data("DateTimePicker").minDate(_mindate);
                            $('#RevisedTargetDate').val("");
                        }
                }

         if (@Model.RemainderStatus==7 || @Model.RemainderStatus==8) {

             var proposedDate='@ViewBag.ProposedDate';

             var CurrentDate = new Date();
             CurrentDate.setHours(0,0,0,0);

             RevisedDate=new Date( '@ViewBag.RevisedTargetDate');
             RevisedDate.setHours(0,0,0,0);
             //Comparing if RevisedTarget Date more than current Date mindate is Proposed Date
             if (RevisedDate > CurrentDate)
             {
                 var RevisedDateHOD = '@ViewBag.RevisedTargetDate';
                 var _mindateProposed = new Date(proposedDate);
                 _mindateProposed.setDate(_mindateProposed.getDate() + 1);
                 $('#RevisedTargetDate').data("DateTimePicker").minDate(_mindateProposed);
                 $('#RevisedTargetDate').val(RevisedDateHOD);
             }
             else
             {
                //if Revised Date less than currentDate
                 if(RevisedDate<CurrentDate)
                 {

                     ProposedDateComp=new Date('@ViewBag.ProposedDate');
                     ProposedDateComp.setHours(0,0,0,0);
                     //Proposed Date is less then current Date mindate is currentDate
                     if(ProposedDateComp<CurrentDate)
                     {
                         $('#RevisedTargetDate').data("DateTimePicker").minDate(CurrentDate);
                         $('#RevisedTargetDate').val();
                     }
                         //ohterwise  added one day proposed Date and it is Mindate
                     else
                     {
                         var _mindate = new Date(proposedDate);
                         _mindate.setDate(_mindate.getDate() + 1);
                         $('#RevisedTargetDate').data("DateTimePicker").minDate(_mindate);
                         $('#RevisedTargetDate').val();
                     }

                 }
             }
         }
     });
    // RevisedTargetDate dispalyed in QA Page
    if(@Model.RemainderStatus==6){

        var date1 = '@ViewBag.RevisedTargetDate';
        var CurrentDate = moment().format('DD MMM YYYY');

            var _mindate = new Date(date1);
            $('#RevisedTargetDate').val(date1);
    }
</script>

<script>
    if ('@TempData["R"].ToString()' == 'Hod_RevertedList') {
        $('#HOD_Justify_Notes').val("");
    }
</script>

