﻿<input type="hidden" id="hdDrugSubstanceID" value="0" />
<div id="DivGrid">
    <div class="col-12 ">
        <button type="button" class="btn float-left top listbtn newbtn" onclick="AddNewDrugSubstance()">ADD</button>
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
        <table id="tblDrugSubstance" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
            <thead>
                <tr id="tablerow">
                    <th>Drug Substance ID</th>
                    <th>S.No</th>
                    <th>Drug Substance Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>History</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!--HistoryModalPopup-->
<div class="modal" id="myModalHistory" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtHistoryHead">History</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="DeficiencyModalbody">
                <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
                    <table id="tblDrugSubstanceHistory" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
                        <thead>
                            <tr id="tablerow">
                                <th>Drug Substance ID </th>
                                <th>Action</th>
                                <th>Role</th>
                                <th>Action By</th>
                                <th>Action Date</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>

<!--ModelPopUp For Create/Update-->
<div class="modal" id="DrugSubstanceModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtHeader">Add Drug Substance</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="modelbody">
                <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none" id="input1">
                    <label class="col-12  custom_label col-form-label float-left required" id="labelInputname">Drug Substance Name </label>
                    <div class="col-12 float-left">
                        <input type="text" class="form-control regulatory_inputborder txtclear" id="txtDrugSubstanceName" autocomplete="off" maxlength="100"/>
                    </div>
                </div>
                <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none" id="input2">
                    <label class=" col-12  custom_label col-form-label float-left">Description </label>
                    <div class="col-12 float-left">
                        <textarea id="txtDescription" class="form-control" rows="4" maxlength="300"/>
                    </div>
                </div>
                <div class="col-12  top float-left raidobtnandCommentsHide" id="radiobtns">
                    <label class="custom_label col-form-label ">Status </label>
                    <div class="col-12  btn-group btn-group-toggle padding-none" data-toggle="buttons">

                        <label class="btn btn-primary active col-lg-4 btnclass">
                            <input type="radio" name="status" class="rbtnActive" autocomplete="off"> Active
                        </label>
                        <label class="btn btn-primary col-lg-4 btnclass">
                            <input type="radio" name="status" class="rbtnInActive" autocomplete="off"> In Active
                        </label>
                    </div>
                </div>
                <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none raidobtnandCommentsHide" id="comment">
                    <label class=" col-12  custom_label col-form-label float-left required">Reason For Change </label>
                    <div class="col-12 float-left">
                        <textarea class="col-12 form-control" rows="4" id="txtComments" maxlength="250" autocomplete="off"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn top btn-sm submitbtn float-right" id="btnAddDrugSubstance" onclick="return SubmitDrugSubstance();"><span>
    &#10004
</span> Add</button>
                <button type="button" class="btn top btn-sm submitbtn float-right" id="btnEditDrugSubstance" onclick="return UpdateDrugSubstance();"><span>
    &#10004
</span> Update</button>
                <a href="#" data-dismiss="modal" class="btn btn-sm top cancelbtn">
                    <span>
                        &#10006
                    </span> Cancel
                </a>
            </div>
        </div>
    </div>
</div>

<!--DataTableList-->
<script>
    var oDrugSubstance;
    $(function () {
        LoadDrugSubstanceList();
    });
    function LoadDrugSubstanceList() {
        if (oDrugSubstance != null) {
            oDrugSubstance.destroy();
        }
            oDrugSubstance=   $('#tblDrugSubstance').DataTable({
            columns:
            [
                    { 'data': 'DrugSubstanceID' },//0
                    { 'data': 'RowNumber' },//1
                    { 'data': 'DrugSubstanceName' },//2
                    {
                        "mData": null,
                        "mRender": function (o) {
                            if (o.DescriptionLength == 1) {
                                return '<td> <div class="moredescript">' + o.Description + '</div></td>';
                            }
                            else {
                                return o.Description;
                            }
                        }
                    },//3
                    { 'data': 'Status' },//4
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit" title="Edit" style="margin-left:0%" onclick="EditDrugSubstance(' + o.DrugSubstanceID + ')">' + '' + '</a>';
                        }
                    },//5
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="btnRegulatoryAgencyEdit summary_latest History edit_icon_feed" title="History" style="margin-left:0%" onclick="HistoryDrugSubstance(' + o.DrugSubstanceID + ')">' + '' + '</a>';
                        }
                    }//6
                ],
            "aoColumnDefs": [{ "targets": [0], "visible": false }, { className: "dt-body-left", "targets": [2, 3] }, { className: "textAlignCenter", "targets": [1,4,5,6] }, { "orderable": false, "targets": [1, 5, 6] }],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/Regulatory/RegulatoryMaster/GetDrugSubstanceList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result)
                    {
                        if (result.msgType == "error")
                        {
                            custAlertMsg(result.msg, "error");
                        }
                        else
                        {
                            fnCallback(result);
                        }
                    },
                });
            }
        });
    }
</script>

<!--Creation/Updation Functionality-->
<script>
    var oDrugSubstanceName;
    var oStatus;
    var oDescription;

    function AddNewDrugSubstance()
    {
        ClearFields();
        $("#DrugSubstanceModal").modal("show");
        $('#btnAddDrugSubstance').show();
        $('#btnEditDrugSubstance').hide();
        $('.raidobtnandCommentsHide').hide();
        $('#txtHeader').text('Add Drug Substance');
    }
      //Add DrugSubstance Details Controller/ActionMethod
    function SubmitDrugSubstance()
    {
        errors = [];
        var drugSubstance = {
            DrugSubstanceName: $('#txtDrugSubstanceName').val().trim(),
            DrugSubstanceDescription: $('#txtDescription').val().trim()
        };
        if (drugSubstance.DrugSubstanceName == "")
        {
            errors.push("Enter Drug Substance Name.");
        }

        if (drugSubstance.DrugSubstanceName != "")
        {
            ShowPleaseWait('show');
            $.post("@Url.Content("~/Regulatory/RegulatoryMaster/AddDrugSubstance")",drugSubstance,
                function (result)
                {
                    
                    if (result.hasError == true)
                    {
                        custAlertMsg("Drug Substance Added Successfully.", "success", "refreshDatatable();");
                        return false;
                    }
                    else if (result.hasError == "Warning")
                    {
                        custAlertMsg("Drug Substance Name Already Exists.", "warning");
                        return false;
                    }
                    else
                    {
                        custAlertMsg(result.msg, "error");
                        return false;
                    }
                }, 'json')
                .always(function () {
                    ShowPleaseWait('hide');
                });
        }
        else
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }

    function EditDrugSubstance(DrugSubstanceID)
    {
         $.ajax({
                url: '@Url.Content("~/Regulatory/RegulatoryMaster/GetDrugSubstanceData")',
                type: "GET",
                dataType: "JSON",
                data: { DrugSubstanceID: DrugSubstanceID },
                success: function (results)
                {
                    Fill_DrugSubstance(results);
                }
            });
    }
    function Fill_DrugSubstance(results)
    {
        ClearFields();
        $("#txtDrugSubstanceName").val(results.DrugSubstanceName);
        $('#txtDescription').val(results.Description);
        $('#hdDrugSubstanceID').val(results.DrugSubstanceID);
        oDrugSubstanceName = results.DrugSubstanceName;
        oStatus = results.IsActive;
        oDescription = results.Description;
        $('.raidobtnandCommentsHide').show();
        $("#DrugSubstanceModal").modal("show");
        $('#btnAddDrugSubstance').hide();
        $('#btnEditDrugSubstance').show();
        $('#txtHeader').text('Edit Drug Substance');
        $('#txtComments').val('');
        if (oStatus == true) {
            $(".rbtnActive").prop("checked", true);
            $(".rbtnActive").parents('label').addClass("active");
            $(".rbtnInActive").prop("checked", false);
            $(".rbtnInActive").parents('label').removeClass("active");
        } else {
            $(".rbtnActive").prop("checked", false);
            $(".rbtnActive").parents('label').removeClass("active");
            $(".rbtnInActive").prop("checked", true);
            $(".rbtnInActive").parents('label').addClass("active");
        }
  
    }

      function UpdateDrugSubstance()
      {
         errors = [];
        var DrugStatus;
        if ($(".rbtnActive").prop("checked") == true)
        {
            DrugStatus = true;
        }
        else
        {
            DrugStatus = false;
        }
        var drugSubstanceData = {
            DrugSubstanceName: $('#txtDrugSubstanceName').val().trim(),
            DurgSubstanceDescription: $('#txtDescription').val().trim(),
            IsActive: DrugStatus,
            Comment: $('#txtComments').val().trim(),
            DrugSubsatanceID: $('#hdDrugSubstanceID').val()
        };
        if (oDrugSubstanceName == drugSubstanceData.DrugSubstanceName && oStatus == drugSubstanceData.IsActive && drugSubstanceData.DurgSubstanceDescription == oDescription)
        {
            custAlertMsg("There Are No Changes To Update.", "warning");
            return false;
        }
        if (drugSubstanceData.DrugSubstanceName == "")
        {
            errors.push("Enter Dosage Name.");
        }
        if (drugSubstanceData.Comment == "")
         {
             errors.push("Enter Reason For Changes.");
        }
        if (drugSubstanceData.DrugSubstanceName != ""  && drugSubstanceData.Comment != "")
        {
            ShowPleaseWait('show');
            $.post("@Url.Content("~/Regulatory/RegulatoryMaster/UpdateDrugSubstance")",drugSubstanceData,
                    function (result)
                    {
                        
                        if (result.hasError == true)
                        {
                            custAlertMsg("Drug Substance Updated Successfully.", "success", "refreshDatatable();");
                            return false;
                        }
                        else if (result.hasError == "Warning")
                        {
                            custAlertMsg("Drug Substance Name Already Exists.", "warning");
                            return false;
                        }
                        else
                        {
                            custAlertMsg(result.msg,"error");
                            return false;
                        }
                    },
                'json')
                .always(function () {
                    ShowPleaseWait('hide');
                });
        }
        else
        {
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
        }
    }
    //History Functionality
    function HistoryDrugSubstance(id,) {
        $('#hdDrugSubstanceID').val(id);
        $("#myModalHistory").modal("show");
    }
    $('#myModalHistory').on('shown.bs.modal', function () {
        LoadDrugSubstanceHistory();
    });
    var otblDrugSubstanceHistory;
    function LoadDrugSubstanceHistory() {
        var DrugSubstanceId= $('#hdDrugSubstanceID').val();
        if (otblDrugSubstanceHistory!=null) {
            otblDrugSubstanceHistory.destroy();
        }
        otblDrugSubstanceHistory = $('#tblDrugSubstanceHistory').DataTable({
        columns:
        [
                { 'data': 'History_ID' },//0
                { 'data': 'ActionStatus' },//4
                { 'data': 'ActionRole' },//2
                { 'data': 'ActionBy' },//1
                { 'data': 'ActionDate' },//3
                { 'data': 'Comments' },//5

                ],
            "aoColumnDefs": [{ "targets": [0], "visible": false }, { className: "textAlignCenter", "targets": [0] }, { "orderable": false, "targets": [0, 1, 2, 3, 4, 5] }],
        "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
        "sAjaxSource": '@Url.Content("~/Regulatory/RegulatoryMaster/GetDrugSubstanceHistoryList")',
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "DrugSubstanceID", "value": DrugSubstanceId });
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {
                    if (result.msgType == "error") {
                        custAlertMsg(result.msg, "error");
                    }
                    else {
                        fnCallback(result);
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
    }
    function ClearFields() {
    $('#txtDrugSubstanceName').val('');
    $('#txtDescription').val('');
    }
    function refreshDatatable()
    {
         $("#DrugSubstanceModal").modal("hide");
        LoadDrugSubstanceList();
    }
</script>
