﻿<input type="hidden" value="0" id="hdnContractTestingLabID" />
<div id="divContractTestGrid">
    <div class="col-12 ">
        <button type="button" class="btn float-left top listbtn newbtn" onclick="AddNewContractTestingLaboratory();">ADD</button>
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
        <table id="tblContractTestingLaboratory" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
            <thead>
                <tr id="tablerow">
                    <th>Contract TestingLab ID</th>
                    <th>S.No</th>
                    <th>Contract Testing Laboratory Name</th>
                    <th>FEI Number</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Pincode</th>
                    <th>Mobile</th>
                    <th>E-mail</th>
                    <th>Fax</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>History</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!--ModelPopUp For Create/Update-->
<div class="modal" id="myModalContractTestingLaboratory" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="min-width: 65%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtHeader">Add Contract Testing Laboratory</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <div id="clientdata">
                    <div class="col-12 float-left padding-none">
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6   padding-none">
                            <label class="col-12  custom_label col-form-label float-left required" id="labelInputname1">Contract Testing Laboratory Name</label>
                            <div class="col-12 float-left">
                                <input type="text" class="form-control regulatory_inputborder" id="txtContractTestingLabName" autocomplete="off" maxlength="100" />
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6  padding-none">
                            <label class="col-12  custom_label col-form-label float-left required" id="labelInputname2">FEI Number</label>
                            <div class="col-12 float-left">
                                <input type="text" class="form-control regulatory_inputborder" id="txtFEINumber" maxlength="50" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6   padding-none">
                            <label class="col-12  custom_label col-form-label float-left" id="labelInputname8">E-mail </label>
                            <div class="col-12 float-left">
                                <input type="text" class="form-control regulatory_inputborder" id="txtEmailID" autocomplete="off" onchange="return IsValidEmail(event);" maxlength="100" />
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-12 float-left padding-none">
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6   padding-none">
                            <label class="col-12  custom_label col-form-label float-left" id="labelInputname7">Mobile Number </label>
                            <div class="col-12 float-left">
                                <input type="text" class="form-control regulatory_inputborder ValidatePhoneNo" id="txtPhone" pattern="\d*" maxlength="15" autocomplete="off" onkeypress="return ValidatePhoneNo(event);" />
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6   padding-none">
                            <label class="col-12  custom_label col-form-label float-left" id="labelInputname7">Landline Code </label>
                            <div class="col-12 float-left">
                                <input type="text" class="form-control regulatory_inputborder ValidatePhoneNo" id="txtLandLineCode" pattern="\d*" maxlength="10" autocomplete="off" onkeypress="return ValidatePhoneNo(event);" />
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6   padding-none">
                            <label class="col-12  custom_label col-form-label float-left" id="labelInputname7">Landline Number </label>
                            <div class="col-12 float-left">
                                <input type="text" class="form-control regulatory_inputborder ValidatePhoneNo" id="txtLandLineNumber" pattern="\d*" maxlength="10" autocomplete="off" onkeypress="return ValidatePhoneNo(event);" />
                            </div>
                        </div>


                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6   padding-none">
                            <label class="col-12  custom_label col-form-label float-left" id="labelInputname9">Fax </label>
                            <div class="col-12 float-left">
                                <input type="text" class="form-control regulatory_inputborder ValidatePhoneNo" id="txtFax" pattern="\d*" maxlength="20" autocomplete="off" onkeypress="return ValidatePhoneNo(event);" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 float-left padding-none">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none" id="input2">
                            <label class=" col-12  custom_label col-form-label float-left">Address </label>
                            <div class="col-12 float-left">
                                <textarea  class="form-control reg_textarea ProductEditMode" id="txtAddress" autocomplete="off" rows="3" maxlength="200" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 float-left padding-none">
                        <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 float-left col-9   padding-none">
                            <label class="col-12  custom_label col-form-label float-left required" id="labelInputname5">Country </label>
                            <div class="col-12 float-left">
                                <select class="col-lg-12 selectpicker drop_down  regulatory_dropdown_style padding-none show-tick depdrp" title="Select Country" data-size="7" data-live-search="true" id="ddlCountry" onchange="BindStateList();"></select>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 float-left col-9   padding-none">
                            <label class="col-12  custom_label col-form-label float-left required" id="labelInputname4">State </label>
                            <div class="col-12 float-left">
                                <select class="col-lg-12 selectpicker drop_down  regulatory_dropdown_style padding-none show-tick depdrp" title="Select State" data-size="7" data-live-search="true" id="ddlStateID" onchange="BindCityList();"></select>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 float-left col-9   padding-none">
                            <label class="col-12  custom_label col-form-label float-left required" id="lblCity">City </label>
                            <div class="col-12 float-left">
                                <select class="col-lg-12 selectpicker drop_down  regulatory_dropdown_style padding-none show-tick depdrp" data-size="7" data-live-search="true" id="ddlCityID"></select>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 float-left col-9   padding-none">
                            <label class="col-12  custom_label col-form-label float-left" id="labelInputname6">Pincode </label>
                            <div class="col-12 float-left">
                                <input type="text" class="form-control regulatory_inputborder ValidatePhoneNo" pattern="\d*" id="txtPinCode" autocomplete="off" onkeypress="return ValidatePhoneNo(event);" maxlength="10" />
                            </div>
                        </div>
                        </div>
                        <div class="col-12  top float-left radiobtnAndComments" id="radiobtns">
                            <label class="custom_label col-form-label ">Status </label>
                            <div class="col-12  btn-group btn-group-toggle padding-none" data-toggle="buttons">

                                <label class="btn btn-primary active col-lg-4 btnclass">
                                    <input type="radio" name="status" class="rbtnActive" autocomplete="off"> Active
                                </label>
                                <label class="btn btn-primary col-lg-4 btnclass">
                                    <input type="radio" name="status" class="rbtnInActive" autocomplete="off"> In Active
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none radiobtnAndComments">
                            <label class=" col-12  custom_label col-form-label float-left required">Reason For Change </label>
                            <div class="col-12 float-left">
                                <textarea class="col-12 form-control" rows="4" id="txtComments" maxlength="250"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            <div class=" modal-footer ">
                <div class="col-12 float-left text-right">
                    <button type="button" class="btn top btn-sm submitbtn" id="btnSubmitContractTestingLaboratory" onclick="return SubmitContractTestingLaboratory();">
                        <span>
                            &#10004
                        </span> Add
                    </button>
                    <button type="button" class="btn top btn-sm submitbtn" id="btnUpdateContractTestingLaboratory" onclick="return UpdateContractTestingLaboratory();">
                        <span>
                            &#10004
                        </span> Update
                    </button>
                    <a href="#" data-dismiss="modal" class="btn btn-sm top cancelbtn">
                        <span>
                            &#10006
                        </span>Cancel
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--HistoryModalPopup-->
<div class="modal" id="ContractTestingModalHistory" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtHistoryHead">History</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="DeficiencyModalbody">
                <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
                    <table id="tblContractTestingHistory" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
                        <thead>
                            <tr id="tablerow">
                                <th>Contact Testing ID </th>
                                <th>Action</th>
                                <th>Role</th>
                                <th>Action By</th>
                                <th>Action Date</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>

<!-- DataTable-->
<script>
    var otblContractTestingLaboratory;
    var NoCities = 0;
    $(function () {
        GetContractTestingSiteList();
    })
     function GetContractTestingSiteList()
     {
         if (otblContractTestingLaboratory != null) {
             otblContractTestingLaboratory.destroy();
         }
         otblContractTestingLaboratory = $('#tblContractTestingLaboratory').DataTable({
             columns:
                 [
                     { 'data': 'ContractTestingLabID' },//0
                     { 'data': 'RowNumber' },//1
                     { 'data': 'ContractTestingLabName' },//2
                     { 'data': 'FEINumber' },//3
                     { 'data': 'CountryName' },//4
                     { 'data': 'StateName' },//5
                     { 'data': 'CityName' },//6
                     { 'data': 'PinCode' },//7
                     { 'data': 'Phone' },//8
                     { 'data': 'EmailID' },//9
                     { 'data': 'Fax' },//10
                     { 'data': 'Address' },//11
                     { 'data': 'Status' },//12
                     {
                         "mData": null,
                         "bSortable": false,
                         "mRender": function (o) {
                             return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit" title="Edit" style="margin-left:0%" onclick="EditContractTestingLaboratory(' + o.ContractTestingLabID + ')"></a>';
                         }
                     },//13
                     {
                         "mData": null,
                         "bSortable": false,
                         "mRender": function (o) {
                             return '<a class="btnRegulatoryAgencyEdit summary_latest History edit_icon_feed" title="History" style="margin-left:0%" onclick="HistoryContractTestingLaboratory(' + o.ContractTestingLabID + ');"></a>';
                        }
                    }//14
                ],
             "aoColumnDefs": [{ "targets": [0,7,8,9,10,11], "visible": false }, { className: "dt-body-left", "targets": [2,4,5,6,9] }, { className: "textAlignCenter", "targets": [1,12,13,14] }, { "orderable": false, "targets": [1,13,14] }
            ],
            "sAjaxSource": "@Url.Content("~/Regulatory/RegulatoryMaster/GetContractTestingLaboratoryList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
               $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result)
                    {
                        if (result.hasError == true)
                        {
                            custAlertMsg(result.data, "error");
                        }
                        else
                        {
                            fnCallback(result);
                        }
                    },
                });
            }
        });
   }
  //  DataGrid Reload
    function Reloadtable()
    {
           $('#myModalContractTestingLaboratory').modal('hide');
           GetContractTestingSiteList();     
    }
</script>

<!--New Contract testing Laboratory PopUp-->
<script>
    var checkingContractTestinglabID, checkingContractName = "", checkingFEINumber = "", checkingEmailID = "", checkingPhone = "", checkingLnCode = "", checkingLnNumber = "",
        checkingFax = "", checkingAddress = "", checkingCountryID = "", checkingStateID = "",
        checkingCityID = "", checkingPinCode = "", checkingStatus = "";
    function AddNewContractTestingLaboratory()
    {
        ClearFields();
        CountriesLoad();
        ContractTestingOperation("C");
        $('#txtHeader').text('Add Contract Testing Laboratory');
    }

    function SubmitContractTestingLaboratory()
    {
        errors = [];
        var dataContract = {
            ContractTestingLabName: $("#txtContractTestingLabName").val().trim(),
            FEINumber: $("#txtFEINumber").val().trim(),
            CountryID: $("#ddlCountry").val(),
            StateID: $("#ddlStateID").val(),
            CityID: $("#ddlCityID").val(),
            PinCode: $("#txtPinCode").val().trim(),
            Phone: $("#txtPhone").val().trim(),
            landLineAreaCode: $("#txtLandLineCode").val().trim(),
            landLineNumber: $("#txtLandLineNumber").val().trim(),
            E_mail: $("#txtEmailID").val().trim(),
            Fax: $("#txtFax").val().trim(),
            Address: $("#txtAddress").val().trim()
        };
        if (dataContract.ContractTestingLabName == "")
        {
            errors.push("Enter Contract Testing Laboratory Name.");
        }
        if (dataContract.FEINumber == "")
        {
            errors.push("Enter FEI Number.");
        }
        if (dataContract.Phone != "") {
            if (dataContract.Phone.length < 15) {
                errors.push("Mobile Number should contain 15 digits.");
            }
        }
        if (dataContract.landLineAreaCode != "")
        {
            if (dataContract.landLineAreaCode.length < 3)
            {
                errors.push("Landline Code should contain atleast 3 digits");
            }
        }
        if (dataContract.Fax != "" && dataContract.Fax.length < 5) {
            errors.push("Fax Number should contain atleast 5 digits.");
        }
        if (dataContract.landLineNumber != "")
        {
            if (dataContract.landLineNumber.length < 5)
            {
                errors.push("Landline Number should contain atleast 5 digits.");
            }
        }
        if (dataContract.CountryID == "0" || dataContract.CountryID == "")
        {
            errors.push("Select Country.");
        }
        if (dataContract.StateID == "" || dataContract.StateID == "0")
        {
            errors.push("Select State.");
        }
        if (NoCities != 1) {
            if (dataContract.CityID == "" || dataContract.CityID == "0" || dataContract.CityID == null) {
                NoCities = 0;
                errors.push("Select City.");
            }
        }
        
        var emailReg = /[A-Z0-9._%+-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}/igm;
        if (dataContract.E_mail != "")
        {
            var mail = dataContract.E_mail.match(emailReg);
            if (mail == null)
            {
                errors.push("Invalid Email ID.");
            }
        }
        if (errors.length > 0 )
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        else
        {
            ShowPleaseWait('show');
                $.post("@Url.Content("~/Regulatory/RegulatoryMaster/AddContractTestingLaboratory")",dataContract,
                    function (result)
                    {
                        
                        if (result._ResultType == 0)
                        {
                            custAlertMsg("Contract Testing Laboratory Added Successfully.", "success", "Reloadtable();");
                            return false;
                        }
                        else if (result._ResultType ==1)
                        {
                            custAlertMsg(" Contract Testing Laboratory Name Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType == 2) {
                            custAlertMsg(" FEI Number Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType == 3) {
                            custAlertMsg(" Contract Testing Laboratory Name and FEI Number Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType == 4)
                        {
                            custAlertMsg(" Landline Code & Number Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType ==5)
                        {
                            custAlertMsg(" Mobile Number Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType ==6)
                        {
                            custAlertMsg(" E-mail Already Exists.", "warning");
                            return false;
                        }
                        else
                        {
                            custAlertMsg(result.msg, "error");
                            return false;
                        }
                }, 'json')
                    .always(function () {
                        ShowPleaseWait('hide');
                    });
        }
    }
    function EditContractTestingLaboratory(ContractTestingLabID)
    {
        NoCities = 0;
          $.ajax({
                url: '@Url.Content("~/Regulatory/RegulatoryMaster/BindDataContractTestingLaboratory")',
                type: "GET",
                dataType: "JSON",
                data: { ContractTestingLaboratoryID: ContractTestingLabID },
                success: function (JsonResult)
                {
                    if (JsonResult.hasError == true) {
                        custAlertMsg(JsonResult.msg, "error");
                        return false;
                    }
                    else
                    {
                        LoadDataintoControlers(JsonResult);
                        ContractTestingOperation("U");//U:Update
                    }
                }
        });
    }
    function LoadDataintoControlers(JsonResult) {
        var number = JsonResult;
        $("#hdnContractTestingLabID").val(JsonResult.data.ContractTestingLabID);
        $("#txtContractTestingLabName").val(JsonResult.data.ContractTestingLabName);
        $("#txtFEINumber").val(JsonResult.data.FEINumber);
        $("#txtEmailID").val(JsonResult.data.E_mail);
        $("#txtPhone").val(JsonResult.data.Phone);
        $("#txtLandLineCode").val(JsonResult.data.landLineAreaCode);
        $("#txtLandLineNumber").val(JsonResult.data.landLineNum);
        $("#txtFax").val(JsonResult.data.Fax);
        $("#txtAddress").val(JsonResult.data.Address);
        $("#txtPinCode").val(JsonResult.data.PinCode);
        $("#ddlCountry").empty();
        for (var i = 0; i < number.CountryList.length; i++) {
            $("#ddlCountry").append($("<option></option>").val(JsonResult.CountryList[i].Value).html(JsonResult.CountryList[i].Text));
        }
        $('#ddlCountry').selectpicker('refresh');
        $("#ddlCountry").selectpicker('val', JsonResult.data.CountryID);
        
        $("#ddlStateID").empty();
        for (var i = 0; i < number.StateList.length; i++) {
            $("#ddlStateID").append($("<option></option>").val(JsonResult.StateList[i].Value).html(JsonResult.StateList[i].Text));
        }
        $('#ddlStateID').selectpicker('refresh');
        $("#ddlStateID").selectpicker('val', JsonResult.data.StateID);
        $("#ddlCityID").empty();

          NoCities = number.CityList.length;//Verify the City Exist or not
        if (number.CityList.length == 1) {
            $("#lblCity").removeClass("required");
            $('#ddlCityID').selectpicker('refresh');
        } else {
            $("#lblCity").addClass("required");
            for (var i = 0; i < number.CityList.length; i++) {
                $("#ddlCityID").append($("<option></option>").val(JsonResult.CityList[i].Value).html(JsonResult.CityList[i].Text));
            }
            $('#ddlCityID').selectpicker('refresh');
            $("#ddlCityID").selectpicker('val', JsonResult.data.CityID);
        }

        if (JsonResult.data.IsActive == true) {
            $(".rbtnActive").prop("checked", true);
            $(".rbtnActive").parents('label').addClass("active");
            $(".rbtnInActive").prop("checked", false);
            $(".rbtnInActive").parents('label').removeClass("active");
        } else {
            $(".rbtnActive").prop("checked", false);
            $(".rbtnActive").parents('label').removeClass("active");
            $(".rbtnInActive").prop("checked", true);
            $(".rbtnInActive").parents('label').addClass("active");
        }
        checkingContractTestinglabID = JsonResult.data.ContractTestingLabID;
        checkingContractName = JsonResult.data.ContractTestingLabName;
        checkingFEINumber = JsonResult.data.FEINumber;
        checkingEmailID = JsonResult.data.E_mail == undefined ? "" : JsonResult.data.E_mail;
        checkingPhone = JsonResult.data.Phone == null ? "" : JsonResult.data.Phone;
        checkingLnCode = JsonResult.data.landLineAreaCode == null ? "" : JsonResult.data.landLineAreaCode;
        checkingLnNumber = JsonResult.data.landLineNum == null ? "" : JsonResult.data.landLineNum;
        checkingFax = JsonResult.data.Fax == null ? "" : JsonResult.data.Fax;
        checkingAddress = JsonResult.data.Address == null ? "" : JsonResult.data.Address;
        checkingCountryID = JsonResult.data.CountryID;
        checkingStateID = JsonResult.data.StateID;
        checkingCityID = JsonResult.data.CityID;
        checkingPinCode = JsonResult.data.PinCode==null ? "" : JsonResult.data.PinCode;
        checkingStatus = JsonResult.data.IsActive

    }
    function UpdateContractTestingLaboratory()
    {
         var Status;
        if ($(".rbtnActive").prop("checked") == true)
        {
            Status = true;
        }
        else
        {
            Status = false;
        }
        errors = [];
        var dataContract = {
            ContractTestingLabID: $("#hdnContractTestingLabID").val().trim(),
            ContractTestingLabName: $("#txtContractTestingLabName").val().trim(),
            FEINumber: $("#txtFEINumber").val().trim(),
            CountryID: $("#ddlCountry").val(),
            StateID: $("#ddlStateID").val(),
            CityID: $("#ddlCityID").val(),
            PinCode: $("#txtPinCode").val().trim(),
            Phone: $("#txtPhone").val().trim(),
            landLineAreaCode: $("#txtLandLineCode").val().trim(),
            landLineNumber: $("#txtLandLineNumber").val().trim(),
            E_mail: $("#txtEmailID").val().trim(),
            Fax: $("#txtFax").val().trim(),
            Address: $("#txtAddress").val().trim(),
            Comments: $('#txtComments').val().trim(),
            IsActive: Status
        };

        if (dataContract.ContractTestingLabName == "") {
            errors.push("Enter Contract Testing Laboratory Name.");
        }
        if (dataContract.FEINumber == "") {
            errors.push("Enter FEI Number.");
        }
        if (dataContract.CountryID == "0" || dataContract.CountryID == "") {
            errors.push("Select Country.");
        }
        
        if (dataContract.StateID == "" || dataContract.StateID == "0") {
            errors.push("Select State.");
        }
        if (NoCities != 1) {
            if (dataContract.CityID == "" || dataContract.CityID == "0" || dataContract.CityID == null) {
                NoCities = 0;
                errors.push("Select City.");
            }
        }
        if (dataContract.Fax != "" && dataContract.Fax.length<=5) {
            errors.push("Fax Number should contain atleast 5 digits.");
        }
        if (dataContract.Phone != "") {
            if (dataContract.Phone.length < 15) {
                errors.push("Mobile Number should contain 15 digits.");
            }
        }
        if (dataContract.landLineAreaCode != "") {
            if (dataContract.landLineAreaCode.length < 3) {
                errors.push("Landline Code should contain atleast 3 digits.");
            }
        }
        if (dataContract.landLineNumber != "") {
            if (dataContract.landLineNumber.length < 5) {
                errors.push("Landline Number should contain atleast 5 digits.");
            }
        }
        var emailReg = /[A-Z0-9._%+-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}/igm;
        if (dataContract.E_mail != "")
        {
            var mail = dataContract.E_mail.match(emailReg);
            if (mail == null)
            {
                errors.push("Invalid Email ID.");
            }
        }
        if (checkingContractName == dataContract.ContractTestingLabName && checkingFEINumber == dataContract.FEINumber &&
            checkingEmailID == dataContract.E_mail && checkingPhone == dataContract.Phone && checkingLnCode == dataContract.landLineAreaCode && checkingLnNumber == dataContract.landLineNumber && checkingFax == dataContract.Fax &&
            checkingAddress == dataContract.Address  && checkingCountryID == dataContract.CountryID && checkingStateID == dataContract.StateID &&
            checkingCityID == dataContract.CityID && checkingPinCode == dataContract.PinCode && Status == checkingStatus)
        {
            custAlertMsg("There Are No Changes To Update.", "warning");
            return false;
        }
        if (dataContract.Comments=="")
        {
            errors.push("Enter the Reason for Change.");
        }
        if (errors.length > 0) {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        else {
            ShowPleaseWait('show');
         $.post("@Url.Content("~/Regulatory/RegulatoryMaster/UpdateContractTestingLaboratory")", dataContract,
            function (result)
            {
                
                if (result._ResultType == 0) {
                    custAlertMsg("Contract Testing Laboratory Updated Successfully.", "success", "Reloadtable();");
                    return false;
                }
                else if (result._ResultType == 1) {
                    custAlertMsg("Contract Testing Laboratory Name Already Exist.", "warning");
                    return false;
                }
                else if (result._ResultType == 2) {
                    custAlertMsg("FEI Number Already Exists.", "warning");
                    return false;
                }
                else if (result._ResultType == 3) {
                    custAlertMsg(" Contract Testing Laboratory Name And FEI Number Already Exists.", "warning");
                    return false;
                }
                else if (result._ResultType == 4)
                {
                    custAlertMsg(" Landline Code & Number Already Exists.", "warning");
                    return false;
                }
                else if (result._ResultType == 5) {
                    custAlertMsg(" Mobile Number Already Exists.", "warning");
                    return false;
                }
                else if (result._ResultType == 6) {
                    custAlertMsg(" E-mail Already Exists.", "warning");
                    return false;
                }
                else {
                    custAlertMsg(result.msg, "error");
                    return false;
                }

                }, 'json')
             .always(function () {
                 ShowPleaseWait('hide');
             });
        }
    }
      //History Functionality
    function HistoryContractTestingLaboratory(CTLID)
    {
        $('#hdnContractTestingLabID').val(CTLID);
        //$('#txtHistoryHead').text("Contract Testing Laboratory Name: "+CTLName);
        $("#ContractTestingModalHistory").modal("show");
    }
    $('#ContractTestingModalHistory').on('shown.bs.modal', function () {
        LoadContractTestingHistory();
    });
    var otblContractTestingHistory;
    function LoadContractTestingHistory() {
        var hdnCTLID = $('#hdnContractTestingLabID').val();
        if (otblContractTestingHistory!=null) {
            otblContractTestingHistory.destroy();
        }
        otblContractTestingHistory = $('#tblContractTestingHistory').DataTable({
        columns:
        [
            { 'data': 'History_ID' },//0
            { 'data': 'ActionStatus' },//1
            { 'data': 'ActionRole' },//2
            { 'data': 'ActionBy' },//3
            { 'data': 'ActionDate' },//4
            { 'data': 'Comments' },//5
                ],
            "order":[0,"desc"],
            "aoColumnDefs": [{ "targets": [0], "visible": false }, { className: "textAlignCenter", "targets": [0] }, { "orderable": false, "targets": [1, 2, 3, 4, 5] }],
        "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
        "sAjaxSource": "@Url.Content("~/Regulatory/RegulatoryMaster/GetContractTestingLaboratoryHistoryList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "ContractTestingLaboratoryID", "value": hdnCTLID });
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {
                    if (result.msgType == "error") {
                        custAlertMsg(result.msg, "error");
                    }
                    else {
                        fnCallback(result);
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
    }
    //Clear Fields
    function ClearFields() {
        $('#txtContractTestingLabName').val('');
        $('#txtFEINumber').val('');
        $('#txtEmailID').val('');
        $('#txtPhone').val('');
        $('#txtFax').val('');
        $('#txtAddress').val('');
        $('#txtAddress').val('');
        $('#ddlCountry').val(0);
        $('#ddlCountry').selectpicker('refresh');
        $('#ddlStateID').val(0);
        $('#ddlStateID').selectpicker('refresh');
        $('#ddlStateID').next().addClass('disabled');
        $('#ddlCityID').val(0);
        $('#ddlCityID').selectpicker('refresh');
        $('#ddlCityID').next().addClass('disabled');
        $('#txtPinCode').val('');
        $("#txtLandLineCode").val('');
        $("#txtLandLineNumber").val('');
        NoCities = 0;
      //  $("#txtotherAddress").val('');
    }
    function ContractTestingOperation(ShowType)
    {
        $('#myModalContractTestingLaboratory').modal('show');
        if (ShowType == 'C')
        {
            $("#btnSubmitContractTestingLaboratory").show();
            $('.radiobtnAndComments').hide();
            $('#btnUpdateContractTestingLaboratory').hide();
        }
        else
        {
            $("#btnSubmitContractTestingLaboratory").hide();
            $('.radiobtnAndComments').show();
            $('#btnUpdateContractTestingLaboratory').show();
            $('#txtHeader').text('Edit Contract Testing Laboratory');
            $('#txtComments').val('');
        }
    }
</script>

<!--Country ,state and City-->
<script>
    var CountryList = [];
   
    function CountriesLoad() {
        //Department Loading
        $.ajax({
            type: "GET",
            url: "/Home/GetCountrysList",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                CountryList = result;
                $("#ddlCountry").html(""); // clear before appending new list
                for (var i = 0; i < result.length; i++)
                {
                    $('#ddlCountry').append(
                        $('<option></option>').val(result[i].Value).html(result[i].Text));
                }
                $('#ddlCountry').selectpicker('refresh');
            },
            error: function (jqXHR, exception) {
                alert(exception);
            }
        });
    }
    function BindStateList() {
        var CountryID = $("#ddlCountry").val();
        if (CountryID == "0")
        {
            $("#ddlStateID").next().addClass('disabled');
            $('#ddlStateID').selectpicker('val', [0]);
            $("#ddlCityID").next().addClass('disabled');
            $('#ddlCityID').selectpicker('val', [0]);
        }
        else
        {
            NoCities = 0;
            $("#ddlStateID").prop("disabled", false);
            $('#ddlStateID').selectpicker('val', [0]);
            $("#ddlCityID").next().addClass('disabled');
            $('#ddlCityID').selectpicker('val', [0]);
            $("#lblCity").addClass("required");
            $.ajax({
                url: '@Url.Content("~/Home/GetStatesList")',
                type: "GET",
                dataType: "JSON",
                data: { CountryID: CountryID },
                success: function (result) {
                    var numbers = result;
                    $("#ddlStateID").html("");
                    for (var i = 0; i < numbers.length; i++)
                    {
                        $("#ddlStateID").append(
                            $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                    }
                    $('#ddlStateID').selectpicker('refresh');
                }
            });
        }
    }
    function BindCityList() {
      var stateID = $("#ddlStateID").val();
         if (stateID == "0") {
             $("#ddlCityID").next().addClass("disabled");
             $('#ddlCityID').selectpicker('val', [0]);
         }
         else
         {
             $.ajax({
                 url: '@Url.Content("~/Home/GetCitysList")',
                 type: "GET",
                 dataType: "JSON",
                 data: { StateID: stateID },
                 success: function (result) {
                     NoCities = result.length;
                     var numbers = result;
                     $("#ddlCityID").html("");
                     if (NoCities == 1) {
                         $("#lblCity").removeClass("required");
                     }
                     else {
                         $("#lblCity").addClass("required");
                         for (var i = 0; i < numbers.length; i++) {
                             $("#ddlCityID").append(
                                 $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                         }
                     }
                     $('#ddlCityID').selectpicker('refresh');
                 }
             });
         }
    }
</script>

