﻿<input type="hidden" id="hdDSManufacturingSiteID" value="0" />
<div>
    <div class="col-12 ">
        <button type="button" class="btn float-left top listbtn newbtn" onclick="AddNewDSManafacturing()">ADD</button>
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
        <table id="tblDSManfacturing" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
            <thead>
                <tr id="tablerow">
                    <th>DS Manufacturing Site ID</th>
                    <th>S.No</th>
                    <th>DS Manufacturing Site</th>
                    <th>FEI Number</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>History</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!--History Modal Pop-up-->
<div class="modal" id="DSManufactureModalHistory" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtHistoryHead">History</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="DeficiencyModalbody">
                <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
                    <table id="tblDSManufactureHistory" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
                        <thead>
                            <tr id="tablerow">
                                <th>DS Manufacture Site ID</th>
                                <th>Action</th>
                                <th>Role</th>
                                <th>Action By</th>
                                <th>Action Date</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>

<!--ModelPopUp For Create/Update-->
<div class="modal" id="myModalDSManufacturing" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtheder">Add DS Manufacturing Site</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-9  padding-none" id="input1">
                    <label class="col-12  custom_label col-form-label float-left required" id="labelInputname">DS Manufacturing Site</label>
                    <div class="col-12 float-left">
                        <input type="text" id="txtDSManufacturingSiteName" class="form-control regulatory_inputborder txtclear" autocomplete="off" maxlength="100"/>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-9  padding-none">
                    <label class="col-12  custom_label col-form-label float-left required" id="labelInputname2">FEI Number</label>
                    <div class="col-12 float-left">
                        <input type="text" class="form-control regulatory_inputborder" id="txtFEINumber" maxlength="50" autocomplete="off"/>
                    </div>
                </div>
                @*<div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none" id="input2">
                        <label class=" col-12  custom_label col-form-label float-left">Description</label>
                        <div class="col-12 float-left">
                            <textarea id="txtDescription" rows="4" maxlength="300" class="form-control" />
                        </div>
                    </div>*@
                <div class="col-12  top float-left raidobtnandCommentsHide" id="radiobtns">
                    <label class="custom_label col-form-label ">Status </label>
                    <div class="col-12  btn-group btn-group-toggle padding-none" data-toggle="buttons">
                        <label class="btn btn-primary active col-lg-4 btnclass">
                            <input type="radio" name="status" class="rbtnActive" autocomplete="off"> Active
                        </label>
                        <label class="btn btn-primary col-lg-4 btnclass">
                            <input type="radio" name="status" class="rbtnInActive" autocomplete="off"> In Active
                        </label>
                    </div>
                </div>
                <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none raidobtnandCommentsHide" id="comment">
                    <label class=" col-12  custom_label col-form-label float-left required">Reason For Change</label>
                    <div class="col-12 float-left">
                        <textarea class="col-12 form-control" rows="4" id="txtComments" maxlength="250"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn top btn-sm submitbtn float-right" id="AddDSManufacturing" onclick="return SubmitDSManufacturing();">
                    <span>
                        &#10004
                    </span>  Add
                </button>
                <button type="button" class="btn top btn-sm submitbtn float-right" id="UpdateDSManufacturing" style="display:none;" onclick="return UpdateDSManufacturing();">
                    <span>
                        &#10004
                    </span>  Update
                </button>
                <a href="#" data-dismiss="modal" class="btn btn-sm top cancelbtn">
                    <span>
                        &#10006
                    </span>  Cancel
                </a>
            </div>
        </div>
    </div>
</div>

<!--DataTableList-->
<script>
    var otblDS_ManafactureSite;
    $(function() {
        GetDSManfacturingList();
    })
    function GetDSManfacturingList() {
        if (otblDS_ManafactureSite != null) {
            otblDS_ManafactureSite.destroy();
        }
        otblDS_ManafactureSite= $('#tblDSManfacturing').DataTable({
            columns:
            [
                    { 'data': 'DS_ManufacturingSiteID' },//0
                    { 'data': 'RowNumber' },//1
                    { 'data': 'DS_ManufacturingSiteName' },//2
                    { 'data': 'FEI_Number' },//3
                    { 'data': 'Status' },//4
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o)
                        {
                            return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit" title="Edit" style="margin-left:0%" onclick="EditDSManafacturing(' + o.DS_ManufacturingSiteID + ')"></a>';
                        }
                    },//5
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="btnRegulatoryAgencyEdit summary_latest History edit_icon_feed" title="History" style="margin-left:0%" onclick="HistoryDSManufacturing(' + o.DS_ManufacturingSiteID + ')"></a>';
                        }
                    }//6
                ],
              "aoColumnDefs": [{ "targets": [0], "visible": false }, { className: "dt-body-left", "targets": [2, 3] }, { className: "textAlignCenter", "targets": [1,4,5,6] }, { "orderable": false, "targets": [1,5,6] }],
              "sAjaxSource": "@Url.Content("~/Regulatory/RegulatoryMaster/GetDSManufacturingSiteDataList")",
              "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result)
                    {
                        if (result.msgType == "error")
                        {
                            custAlertMsg(result.msg, "error");
                        }
                        else
                        {
                            fnCallback(result);
                        }
                    },
                });
            }
        });
    }

  //  DataTable Reload
    function ReloadTable()
    {
        $('#myModalDSManufacturing').modal('hide');
        GetDSManfacturingList();
    }
</script>

<!--Add or Edit DrugSubstance Details Controller/ActionMethod-->
<script>
    var oDSManufacturingSiteName;
    var oStatus;
    var oFEINumber;
    function AddNewDSManafacturing()
    {
        ClearFields();
        $("#myModalDSManufacturing").modal("show");
        $('#AddDSManufacturing').show();
        $('#UpdateDSManufacturing').hide();
        $('.raidobtnandCommentsHide').hide();
        $('#txtheder').text('Add DS Manufacturing site');
    }
    //Add DrugSubstance Details Controller/ActionMethod-->
    function SubmitDSManufacturing()
    {
        errors = [];
        var objCreateDSManufacturingSite =
        {
                DSManufacturingName: $('#txtDSManufacturingSiteName').val().trim(),
                FEINumber: $("#txtFEINumber").val().trim(),
        };
        if (objCreateDSManufacturingSite.DSManufacturingName == "")
        {
            errors.push("Enter DS Manufacturing Site.");
        }
        if (objCreateDSManufacturingSite.FEINumber == "")
        {
            errors.push("Enter FEI Number.");
        }
        if (objCreateDSManufacturingSite.DSManufacturingName != "" && objCreateDSManufacturingSite.FEINumber!="")
        {
            ShowPleaseWait('show');
            $.post("@Url.Content("~/Regulatory/RegulatoryMaster/AddDSManufacturingSiteData")", objCreateDSManufacturingSite,
                    function (result)
                    {
                        if (result._ResultType == 0)
                        {
                            custAlertMsg("DS Manufacturing Site Added Successfully.", "success", "ReloadTable();");
                            return false;
                        }
                        else if (result._ResultType == 1)
                        {
                            custAlertMsg("DS Manufacturing Site Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType == 2)
                        {
                            custAlertMsg("FEI Number Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType == 3)
                        {
                            custAlertMsg("DS Manufacturing Site & FEI Number Already Exists.", "warning");
                            return false;
                        }
                        else
                        {
                            custAlertMsg(errors.join("<br />"), "error");
                            return false;
                        }
                    },
                'json')
                .always(function () {
                    ShowPleaseWait('hide');
                });
        }
        else
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    function EditDSManafacturing(DSManufacturing_ID)
    {
         $.ajax({
                url: '@Url.Content("~/Regulatory/RegulatoryMaster/GetDSManufacturingData")',
                type: "GET",
                dataType: "JSON",
             data: { DS_ManufacturingID: DSManufacturing_ID },
                success: function (results)
                {
                    Fill_DSManufacturingSiteData(results);
                }
            });
    }
    function Fill_DSManufacturingSiteData(results)
    {
        ClearFields();
        $("#txtDSManufacturingSiteName").val(results.DS_ManufacturingSiteName);
        $('#txtFEINumber').val(results.FEI_Number);
        $('#hdDSManufacturingSiteID').val(results.DS_ManufacturingSiteID);
        oDSManufacturingSiteName = results.DS_ManufacturingSiteName;
        oStatus = results.IsActive;
        oFEINumber = results.FEI_Number;
        $("#myModalDSManufacturing").modal("show");
        $('#AddDSManufacturing').hide();
        $('#UpdateDSManufacturing').show();
        $('.raidobtnandCommentsHide').show();
        $('#txtheder').text('Edit DS Manufacturing site');
        $('#txtComments').val('');
        if (oStatus == true)
        {
            $(".rbtnActive").prop("checked", true);
            $(".rbtnActive").parents('label').addClass("active");
            $(".rbtnInActive").prop("checked", false);
            $(".rbtnInActive").parents('label').removeClass("active");
        }
        else
        {
            $(".rbtnActive").prop("checked", false);
            $(".rbtnActive").parents('label').removeClass("active");
            $(".rbtnInActive").prop("checked", true);
            $(".rbtnInActive").parents('label').addClass("active");
        }
    }
    //Edit DrugSubstance Details Controller/ActionMethod
    function UpdateDSManufacturing()
    {
        errors = [];
        var DSManufacturingStatus;
        if ($(".rbtnActive").prop("checked") == true)
        {
            DSManufacturingStatus = true;
        }
        else
        {
            DSManufacturingStatus = false;
        }
        var objUpdateDSManufacturingSite = {
            DSManufacturingName: $('#txtDSManufacturingSiteName').val().trim(),
            FEINumber: $("#txtFEINumber").val().trim(),
            IsActive: DSManufacturingStatus,
            Comments: $('#txtComments').val().trim(),
            DSManufacturingID: $('#hdDSManufacturingSiteID').val().trim()
        };

        if (objUpdateDSManufacturingSite.DSManufacturingName == "")
        {
            errors.push("Enter DS Manufacturing Site.");
        }
        if (objUpdateDSManufacturingSite.FEINumber == "")
        {
            errors.push("Enter FEI Number.");
        }
        if (objUpdateDSManufacturingSite.Comments == "")
        {
            errors.push("Enter Reason For Change.");
        }
        if (objUpdateDSManufacturingSite.DSManufacturingName == oDSManufacturingSiteName && objUpdateDSManufacturingSite.IsActive == oStatus && objUpdateDSManufacturingSite.FEINumber == oFEINumber)
        {
            custAlertMsg("There Are No Changes To Update.", "warning");
            return false;
        }
        if (objUpdateDSManufacturingSite.DSManufacturingName != "" && objUpdateDSManufacturingSite.Comments != "")
        {
            ShowPleaseWait('show');
            $.post("@Url.Content("~/Regulatory/RegulatoryMaster/UpdateDSManufacturingSiteData")", objUpdateDSManufacturingSite,
                    function (result)
                    {
                        if (result._ResultType == 0)
                        {
                            custAlertMsg("DS Manufacturing Site Updated Successfully.", "success", "ReloadTable();");
                            return false;
                        }
                        else if (result._ResultType == 1)
                        {
                            custAlertMsg("DS Manufacturing Site Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType == 2)
                        {
                            custAlertMsg("FEI Number Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType == 3)
                        {
                            custAlertMsg("DS Manufacturing Site & FEI Number Already Exists.", "warning");
                            return false;
                        }
                        else
                        {
                            custAlertMsg(errors.join("<br />"), "error");
                            return false;
                        }
                    },
                'json')
                .always(function () {
                    ShowPleaseWait('hide');
                });
        }
        else
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    function ClearFields()
    {
        $('#txtDSManufacturingSiteName').val('');
        $('#txtFEINumber').val('');
    }
</script>

<!--History-->
<script>
     //History Functionality
    function HistoryDSManufacturing(id)
    {
        $('#hdDSManufacturingSiteID').val(id);
      //  $('#txtHistoryHead').text("DS Manufacturing Site: "+Name);
        $("#DSManufactureModalHistory").modal("show");
    }
    $('#DSManufactureModalHistory').on('shown.bs.modal', function () {
        LoadDSManufacturingHistory();
    });
    var otblDSManufactureHistory;
    function LoadDSManufacturingHistory() {
        var DSManufacturingID = $('#hdDSManufacturingSiteID').val();
        if (otblDSManufactureHistory!=null) {
            otblDSManufactureHistory.destroy();
        }
        otblDSManufactureHistory = $('#tblDSManufactureHistory').DataTable({
        columns:
        [
                { 'data': 'History_ID' },//0
                { 'data': 'ActionStatus' },//4
                { 'data': 'ActionRole' },//2
                { 'data': 'ActionBy' },//1
                { 'data': 'ActionDate' },//3
                { 'data': 'Comments' },//5

                ],
        "aoColumnDefs": [{ "targets": [0], "visible": false },
            { className: "textAlignCenter", "targets": [0] }, { "orderable": false, "targets": [0, 1, 2, 3, 4, 5] }],
        "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
        "sAjaxSource": '@Url.Content("~/Regulatory/RegulatoryMaster/GetDSManufacturingHistoryList")',
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "DSManufacturingID", "value": DSManufacturingID });
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {
                    if (result.msgType == "error") {
                        custAlertMsg(result.msg, "error");
                    }
                    else {
                        fnCallback(result);
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
    }
</script>
