﻿<input type="hidden" value="0" id="hdnDMFID" />
<div id="dvClientGrid">
    <div class="col-12 ">
        <button type="button" class="btn float-left top listbtn newbtn" onclick="AddNewDMFHolder();">ADD</button>
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
        <table id="tblDMFHolder" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
            <thead>
                <tr>
                    <th>DMF ID</th>
                    <th>S.No</th>
                    <th>DMF Code</th>
                    <th>DMF Holder Name</th>
                    <th>Mobile</th>
                    <th>E-mail</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>PinCode</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>History</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!--Create DMF ModelPopUp-->
<div class="modal" id="myModalDMF" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtHeader">Add DMF Holder</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <div id="clientdata">
                    <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-9 padding-none">
                        <label class="col-12  custom_label col-form-label float-left required" id="labelInputname2">DMF Code</label>
                        <div class="col-12 float-left">
                            <input type="text" id="txtDMFCode" class="form-control regulatory_inputborder" autocomplete="off" maxlength="50" />   @*onkeypress="return ValidateAlphaNumericWithSpecialChars(event);"*@
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-9 padding-none">
                        <label class="col-12  custom_label col-form-label float-left required" id="labelInputname1">DMF Holder Name </label>
                        <div class="col-12 float-left">
                            <input type="text" id="txtDMFHolderName" class="form-control regulatory_inputborder alpha-only" autocomplete="off" maxlength="100" />  @*onkeypress="return ValidateAlphaWithSpecialChars(event);"*@
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-9 padding-none">
                        <label class="col-12  custom_label col-form-label float-left" id="labelInputname8">E-mail </label>
                        <div class="col-12 float-left">
                            <input type="text" id="txtEmailID" class="form-control regulatory_inputborder" autocomplete="off" maxlength="100" onchange="return IsValidEmail(event);" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-9 padding-none">
                        <label class="col-12  custom_label col-form-label float-left" id="labelInputname7">Mobile Number </label>
                        <div class="col-12 float-left">
                            <input type="text" id="txtPhone" class="form-control regulatory_inputborder ValidatePhoneNo" pattern="\d*" maxlength="15" autocomplete="off" onkeypress="return ValidatePhoneNo(event);" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-9 padding-none">
                        <label class="col-12  custom_label col-form-label float-left" id="labelInputname7">Landline Code </label>
                        <div class="col-12 float-left">
                            <input type="text" class="form-control regulatory_inputborder ValidatePhoneNo" id="txtLandLineCode" pattern="\d*" maxlength="10" autocomplete="off" onkeypress="return ValidatePhoneNo(event);" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-9 padding-none">
                        <label class="col-12  custom_label col-form-label float-left" id="labelInputname7">Landline Number</label>
                        <div class="col-12 float-left">
                            <input type="text" class="form-control regulatory_inputborder ValidatePhoneNo" id="txtLandLineNumber" pattern="\d*" maxlength="10" autocomplete="off" onkeypress="return ValidatePhoneNo(event);" />
                        </div>
                    </div>

                    <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9 padding-none" id="input2">
                        <label class=" col-12  custom_label col-form-label float-left">Address </label>
                        <div class="col-12 float-left">
                            <textarea id="txtAddress" class="form-control" rows="3" maxlength="200" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-9 padding-none">
                        <label class="col-12  custom_label col-form-label float-left" id="labelInputname5">Country </label>
                        <div class="col-12 float-left">
                            <select class="col-lg-12 selectpicker drop_down  regulatory_dropdown_style padding-none show-tick depdrp" title="Select Country" data-size="7" data-live-search="true" id="ddlCountry" onchange="BindStateList();"></select>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-9  padding-none">
                        <label class="col-12  custom_label col-form-label float-left" id="labelInputname4">State </label>
                        <div class="col-12 float-left">
                            <select class="col-lg-12 selectpicker drop_down  regulatory_dropdown_style padding-none show-tick depdrp" title="Select State" data-size="7" data-live-search="true" id="ddlStateID" onchange="BindCityList();"></select>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-9  padding-none">
                        <label class="col-12  custom_label col-form-label float-left" id="lblCity">City </label>
                        <div class="col-12 float-left">
                            <select class="col-lg-12 selectpicker drop_down  regulatory_dropdown_style padding-none show-tick depdrp" data-size="7" data-live-search="true" id="ddlCityID"></select>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-9   padding-none">
                        <label class="col-12  custom_label col-form-label float-left" id="labelInputname6">Pincode </label>
                        <div class="col-12 float-left">
                            <input type="text" class="form-control regulatory_inputborder ValidatePhoneNo" id="txtPinCode" pattern="\d*" autocomplete="off" onkeypress="return ValidatePhoneNo(event);" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-12  top float-left radiobtnAndComments" id="radiobtns">
                        <label class="custom_label col-form-label ">Status </label>
                        <div class="col-12  btn-group btn-group-toggle padding-none" data-toggle="buttons">

                            <label class="btn btn-primary active col-lg-4 btnclass">
                                <input type="radio" name="status" class="rbtnActive" autocomplete="off"> Active
                            </label>
                            <label class="btn btn-primary col-lg-4 btnclass">
                                <input type="radio" name="status" class="rbtnInActive" autocomplete="off"> In Active
                            </label>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none radiobtnAndComments">
                        <label class=" col-12  custom_label col-form-label float-left required">Reason For Change </label>
                        <div class="col-12 float-left">
                            <textarea class="col-12 form-control" rows="4" id="txtComments" maxlength="250"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn top btn-sm submitbtn float-right" id="SubmitDMFHolderData" onclick="return SubmitDMFHolderData();">
                    <span>
                        &#10004
                    </span>Add
                </button>
                <button type="button" class="btn top btn-sm submitbtn float-right" id="UpdateDMFHolderData" onclick="return UpdateDMFHolder();">
                    <span>
                        &#10004
                    </span>Update
                </button>
                <a href="#" data-dismiss="modal" class="btn btn-sm top cancelbtn">
                    <span>
                        &#10006
                    </span>Cancel
                </a>
            </div>
        </div>
    </div>
</div>
<!--History Modal PopUp-->
<div class="modal" id="DMFModalHistory" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtHistoryHead">History</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="DeficiencyModalbody">
                <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
                    <table id="tblDMF_HolderHistory" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
                        <thead>
                            <tr>
                                <th>DP Manufacture Site ID </th>
                                <th>Action</th>
                                <th>Role</th>
                                <th>Action By</th>
                                <th>Action Date</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>
<!--DataTableList-->
<script>
    var otblDMFHolder;
    $(function() {
        GetDMFHolderList();
    });
    function GetDMFHolderList()
    {
        if (otblDMFHolder != null)
        {
            otblDMFHolder.destroy();
        }
        otblDMFHolder=  $('#tblDMFHolder').DataTable({
            columns:
                [
                    { 'data': 'DMFID' },//0
                    { 'data': 'RowNumber' },//1
                    { 'data': 'DMFCode' },//2
                    { 'data': 'DMFHolderName' },//3
                    { 'data': 'Phone' },//4
                    { 'data': 'DMFEmail' },//5
                    { 'data': 'CountryName' },//6
                    { 'data': 'StateName' },//7
                    { 'data': 'CityName' },//8
                    { 'data': 'PinCode' },//9
                    { 'data': 'Address' },//10
                    { 'data': 'Status' },//11
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o)
                        {
                            return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit" title="Edit" style="margin-left:0%" onclick="EditDMFHolder(' + o.DMFID + ')"></a>';
                        }
                    },//12
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o)
                        {
                            return '<a class="btnRegulatoryAgencyEdit summary_latest History edit_icon_feed" title="History" style="margin-left:0%" onclick="DMFHolderHisotry(' + o.DMFID + ')"></a>';
                        }
                    }//13
            ],
            "aoColumnDefs": [{ "targets": [0,4,5,9,10], "visible": false }, { className: "textAlignCenter", "targets": [1,11,12,13] }, { "bSortable": false, aTargets: [1] }],
            "sAjaxSource": "@Url.Content("~/Regulatory/RegulatoryMaster/GetDMFHolderMainList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
               $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result)
                    {
                        if (result.hasError == true)
                        {
                            custAlertMsg(result.data, "error");
                        }
                        else
                        {
                            fnCallback(result);
                        }
                    },
                });
            }
        });
    }
  //  DataGrid Reload
    function Reloadtable()
    {
        $('#myModalDMF').modal('hide');
        GetDMFHolderList();
    }
</script>
<!--Country,State,City Binding-->
<script>
    var CountryList = [];
    var NoCities;
    function CountrysLoad() {
        //Department Loading
        $.ajax({
            type: "GET",
            url: "/Home/GetCountrysList",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                CountryList = result;
                $("#ddlCountry").html(""); // clear before appending new list
                for (var i = 0; i < result.length; i++)
                {
                    $('#ddlCountry').append(
                        $('<option></option>').val(result[i].Value).html(result[i].Text));
                }
                $('#ddlCountry').selectpicker('refresh');

            },
            error: function (jqXHR, exception) {
                alert(exception);
            }
        });
    }
    //bind State DropDownlist
    function BindStateList()
    {
        NoCities = 0;
        var CountryID = $("#ddlCountry").val();
        if (CountryID == "0" )
        {
            $("#ddlStateID").next().addClass('disabled');
            $('#ddlStateID').selectpicker('val', [0]);
            $("#ddlCityID").next().addClass('disabled');
            $('#ddlCityID').selectpicker('val', [0]);
        }
        else
        {
            $("#ddlStateID").prop("disabled", false);
            $('#ddlStateID').selectpicker('val', [0]);
            $("#ddlCityID").next().addClass('disabled');
            $('#ddlCityID').selectpicker('val', [0]);
            $.ajax({
                url: '@Url.Content("~/Home/GetStatesList")',
                type: "GET",
                dataType: "JSON",
                data: { CountryID: CountryID },
                success: function (result) {
                    var numbers = result;
                    $("#ddlStateID").html("");
                    for (var i = 0; i < numbers.length; i++)
                    {
                        $("#ddlStateID").append(
                            $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                    }
                    $('#ddlStateID').selectpicker('refresh');
                   // $("#lblCity").addClass("required");
                }
            });
        }
    }
    function BindCityList() {
      var stateID = $("#ddlStateID").val();
         if (stateID == "0") {
             $("#ddlCityID").next().addClass("disabled");
             $('#ddlCityID').selectpicker('val', [0]);
         }
         else
         {
             $.ajax({
                 url: '@Url.Content("~/Home/GetCitysList")',
                 type: "GET",
                 dataType: "JSON",
                 data: { StateID: stateID },
                 success: function (result) {
                     NoCities = result.length;
                     var numbers = result;
                     $("#ddlCityID").html("");
                     if (NoCities == 1) {
                        // $("#lblCity").removeClass("required");
                     }
                     else {
                       //  $("#lblCity").addClass("required");
                         for (var i = 0; i < numbers.length; i++) {
                             $("#ddlCityID").append(
                                 $('<option>Select City</option>').val(numbers[i].Value).html(numbers[i].Text));
                         }
                     }
                     $('#ddlCityID').selectpicker('refresh');
                 }
             });
         }
    }
</script>
<!--Add,Update-->
<script>
    var checkingDMFHolderName = "", checkingDMFCode = "", checkingDMFEmail = "", checkingPhone = "", checkingLnCode = "", checkingLnNumber = "",
        checkingAddress = "",checkingCountryID = "", checkingStateID = "", checkingCityID = "", checkingPinCode = "", checkingStatus = "";
    var DMF_CodeName = "DMF Code & DMF Holder Name Already Exists."
    var DMF_Code = "DMF Code Already Exist.";
    var DMF_Name = "DMF Holder Name Already Exist.";
    var LN_Number = "Landline Code & Number Already Exists."
    var MobileNum = "Mobile Number Already Exists."
    var Email = "E-mail Already Exists."
    function AddNewDMFHolder()//Add PopUp Buttoon
    {
        NoCities = 0;
        //$("#lblCity").addClass("required");
        ClearFields();
        CountrysLoad();
        DMF_Operation("C");//C:Create
    }
    //Submit DMF
    function SubmitDMFHolderData()
    {
         errors = [];
         var dataDMFHolder = {
            DMFHolderName: $("#txtDMFHolderName").val().trim(),
            DMFCode: $("#txtDMFCode").val().trim(),
            CountryID: $("#ddlCountry").val(),
            StateID: $("#ddlStateID").val(),
            CityID: $("#ddlCityID").val(),
            Pincode: $("#txtPinCode").val().trim(),
            Phone: $("#txtPhone").val().trim(),
            landLineAreaCode: $("#txtLandLineCode").val().trim(),
            landLineNumber: $("#txtLandLineNumber").val().trim(),
            DMFEmail: $("#txtEmailID").val().trim(),
            Address: $("#txtAddress").val().trim()
        };
        if (dataDMFHolder.DMFCode == "") {
            errors.push("Enter DMF Code.");
        }
        if (dataDMFHolder.DMFHolderName == "")
        {
            errors.push("Enter DMF Holder Name.");
        }
        if (dataDMFHolder.Phone != "")
        {
            if (dataDMFHolder.Phone.length < 15) {
                errors.push("Mobile Number should contain 15 digits.");
            }
        }
        if (dataDMFHolder.landLineAreaCode != "") {
            if (dataDMFHolder.landLineAreaCode.length < 3) {
                errors.push("Landline Code should contain atleast 3 digits.");
            }
        }
        if (dataDMFHolder.landLineNumber != "") {
            if (dataDMFHolder.landLineNumber.length < 5) {
                errors.push("Landline Number should contain atleast 5 digits.");
            }
        }
        //if (dataDMFHolder.CountryID == "" || dataDMFHolder.CountryID=="0")
        //{
        //    errors.push("Select Country.");
        //}
        //if (dataDMFHolder.StateID == "" || dataDMFHolder.StateID == "0" || dataDMFHolder.StateID == null)
        //{
        //    errors.push("Select State.");
        //}
        //if (NoCities !=1) {
        //    if (dataDMFHolder.CityID == "" || dataDMFHolder.CityID == "0" || dataDMFHolder.CityID == null) {
        //        errors.push("Select City.");
        //    }
        //}
        var emailReg = /[A-Z0-9._%+-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}/igm;
        dataDMFHolder.EmailID = $("#txtEmailID").val();
        if (dataDMFHolder.EmailID != "")
        {
            var mail = dataDMFHolder.EmailID.match(emailReg);
            if (mail == null)
            {
                errors.push("Invalid Email ID.");
            }
        }
        if (errors.length > 0 )
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        else
        {
            ShowPleaseWait('show');
                $.post("@Url.Content("~/Regulatory/RegulatoryMaster/AddDMFHolderDetails")",dataDMFHolder,
                    function (result)
                    {
                        
                        if (result.hasError == false)
                        {
                            custAlertMsg("DMF Holder Added Successfully.", "success", "Reloadtable();");
                            return false;
                        }
                        else if (result.hasError == "Warning")
                        {
                            if (result._data == "DMF_Code")
                            {
                                custAlertMsg(DMF_Code, "warning");
                            }
                            if (result._data == "DMF_Name")
                            {
                                custAlertMsg(DMF_Name, "warning");
                            }
                            if (result._data =="DMF_CodeName")
                            {
                                custAlertMsg(DMF_CodeName, "warning");
                            }
                            if (result._data == "LN_Number")
                            {
                                custAlertMsg(LN_Number, "warning");
                            }
                            if (result._data =="MobileNO")
                            {
                                custAlertMsg(MobileNum, "warning");
                            }
                            if (result._data == "Email")
                            {
                                custAlertMsg(Email, "warning");
                            }
                            return false;
                        }
                        else
                        {
                            custAlertMsg(result.msg, "error");
                            return false;
                        }
                }, 'json')
                    .always(function () {
                        ShowPleaseWait('hide');
                    });
        }
    }
    function EditDMFHolder(DMF_HolderID)
    {
        $.ajax({
            url: '@Url.Content("~/Regulatory/RegulatoryMaster/BindDataDMFHolder")',
            type: "GET",
            dataType: "JSON",
            data: { DMF_HolderID: DMF_HolderID },
            success: function (JsonResult) {
                if (JsonResult.hasError == true) {

                    custAlertMsg(JsonResult.msg, "error");
                    return false;
                }
                else {
                    LoadDataintoControlers(JsonResult);
                    DMF_Operation("U");//U:Update
                }
            }
        })
    }

    function LoadDataintoControlers(JsonResult)
    {
        var number = JsonResult;
        $("#hdnDMFID").val(JsonResult.data.DMFID);
        $("#txtDMFHolderName").val(JsonResult.data.DMFHolderName);
        $("#txtDMFCode").val(JsonResult.data.DMFCode);
        $("#txtEmailID").val(JsonResult.data.DMFEmail);
        $("#txtPhone").val(JsonResult.data.Phone);
        $("#txtAddress").val(JsonResult.data.Address);
        $("#txtPinCode").val(JsonResult.data.PinCode);
        $("#txtLandLineCode").val(JsonResult.data.landLineAreaCode);
        $("#txtLandLineNumber").val(JsonResult.data.landLineNumber);
        $("#ddlCountry").empty();
        for (var i = 0; i < number.CountryList.length; i++) {
            $("#ddlCountry").append($("<option></option>").val(JsonResult.CountryList[i].Value).html(JsonResult.CountryList[i].Text));
        }
        $('#ddlCountry').selectpicker('refresh');
        $("#ddlCountry").selectpicker('val', JsonResult.data.CountryID);

        $("#ddlStateID").empty();
        for (var i = 0; i < number.StateList.length; i++) {
            $("#ddlStateID").append($("<option></option>").val(JsonResult.StateList[i].Value).html(JsonResult.StateList[i].Text));
        }
        $('#ddlStateID').selectpicker('refresh');
        $("#ddlStateID").selectpicker('val', JsonResult.data.StateID);
        $("#ddlCityID").empty();
        if (number.CityList.length == 1)
        {
           // $("#lblCity").removeClass("required");
            $('#ddlCityID').selectpicker('refresh');
        }
        else
        {
          //  $("#lblCity").addClass("required");
            for (var i = 0; i < number.CityList.length; i++)
            {
                $("#ddlCityID").append($("<option></option>").val(JsonResult.CityList[i].Value).html(JsonResult.CityList[i].Text));
            }
            $('#ddlCityID').selectpicker('refresh');
            $("#ddlCityID").selectpicker('val', JsonResult.data.CityID);
        }
        debugger;
        var CountryID = $("#ddlCountry").val();
        if (CountryID == "0") {
            $("#ddlStateID").next().addClass('disabled');
            $('#ddlStateID').selectpicker('val', [0]);
            $("#ddlCityID").next().addClass('disabled');
            $('#ddlCityID').selectpicker('val', [0]);
        }
        if (JsonResult.data.isActive == true)
        {
            $(".rbtnActive").prop("checked", true);
            $(".rbtnActive").parents('label').addClass("active");
            $(".rbtnInActive").prop("checked", false);
            $(".rbtnInActive").parents('label').removeClass("active");
        } else {
            $(".rbtnActive").prop("checked", false);
            $(".rbtnActive").parents('label').removeClass("active");
            $(".rbtnInActive").prop("checked", true);
            $(".rbtnInActive").parents('label').addClass("active");
        }
        checkingDMFHolderName = JsonResult.data.DMFHolderName;
        checkingDMFCode = JsonResult.data.DMFCode == null ? "" : JsonResult.data.DMFCode;
        checkingDMFEmail = JsonResult.data.DMFEmail == null ? "" : JsonResult.data.DMFEmail;
        checkingPhone = JsonResult.data.Phone == null ? "" : JsonResult.data.Phone;
        checkingLnCode = JsonResult.data.landLineAreaCode == null ? "" : JsonResult.data.landLineAreaCode;
        checkingLnNumber = JsonResult.data.landLineNumber == null ? "" : JsonResult.data.landLineNumber;
        checkingAddress = JsonResult.data.Address == null ? "" : JsonResult.data.Address;
        checkingCountryID = JsonResult.data.CountryID;
        checkingStateID = JsonResult.data.StateID;
        checkingCityID = JsonResult.data.CityID;
        checkingPinCode = JsonResult.data.PinCode == null ? "" : JsonResult.data.PinCode;
        checkingStatus = JsonResult.data.isActive
    }
    //Update DMF
    function UpdateDMFHolder()
    {
         var Status;
        if ($(".rbtnActive").prop("checked") == true)
        {
            Status = true;
        }
        else
        {
            Status = false;
        }
        var dataDMFHolder = {
            DMFHolderName: $("#txtDMFHolderName").val().trim(),
            DMFCode: $("#txtDMFCode").val().trim(),
            CountryID: $("#ddlCountry").val(),
            StateID: $("#ddlStateID").val(),
            CityID: $("#ddlCityID").val(),
            Pincode: $("#txtPinCode").val().trim(),
            Phone: $("#txtPhone").val().trim(),
            landLineAreaCode: $("#txtLandLineCode").val().trim(),
            landLineNumber: $("#txtLandLineNumber").val().trim(),
            DMFEmail: $("#txtEmailID").val().trim(),
            Address: $("#txtAddress").val().trim(),
            Comment: $('#txtComments').val().trim(),
            DMFID: $('#hdnDMFID').val(),
            isActive: Status
        };
        errors = [];
        if (checkingDMFHolderName == dataDMFHolder.DMFHolderName && checkingDMFCode == dataDMFHolder.DMFCode &&
            checkingDMFEmail == dataDMFHolder.DMFEmail && checkingPhone == dataDMFHolder.Phone && checkingLnCode == dataDMFHolder.landLineAreaCode &&
            checkingLnNumber == dataDMFHolder.landLineNumber && checkingAddress == dataDMFHolder.Address && checkingCountryID == dataDMFHolder.CountryID &&
            checkingStateID == dataDMFHolder.StateID &&checkingCityID == dataDMFHolder.CityID && checkingPinCode == dataDMFHolder.Pincode && checkingStatus == Status) {
            custAlertMsg("There Are No Changes To Update.", "warning");
            return false;
        }
        if (dataDMFHolder.DMFCode == "") {
            errors.push("Enter DMF Code.");
        }
        if (dataDMFHolder.DMFHolderName == "")
        {
            errors.push("Enter DMF Holder Name.");
        }
        if (dataDMFHolder.Phone != "") {
            if (dataDMFHolder.Phone.length < 15) {
                errors.push("Mobile Number should contain 15 digits");
            }
        }
        if (dataDMFHolder.landLineAreaCode != "") {
            if (dataDMFHolder.landLineAreaCode.length < 3) {
                errors.push("Landline Code should contain atleast 3 digits");
            }
        }
        if (dataDMFHolder.landLineNumber != "") {
            if (dataDMFHolder.landLineNumber.length < 5) {
                errors.push("Landline Number should contain atleast 5 digits");
            }
        }
        //if (dataDMFHolder.CountryID == "0" || dataDMFHolder.CountryID == "") {
        //    errors.push("Select Country.");
        //}
        //if (dataDMFHolder.StateID == "" || dataDMFHolder.StateID == "0") {
        //    errors.push("Select State.");
        //}
        //if (dataDMFHolder.CityID == "" || dataDMFHolder.CityID == "0") {
        //    errors.push("Select City.");
        //}
        var emailReg = /[A-Z0-9._%+-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}/igm;
        dataDMFHolder.EmailID = $("#txtEmailID").val();
        if (dataDMFHolder.EmailID != "")
        {
            var mail = dataDMFHolder.EmailID.match(emailReg);
            if (mail == null)
            {
                errors.push("Invalid Email ID");
            }
        }
        if (dataDMFHolder.Comment == "")
        {
            errors.push("Enter Reason For Change.");
        }
        if (errors.length > 0 && custAlertMsg.length>0)
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        else
        {
            ShowPleaseWait('show');
        $.post("@Url.Content("~/Regulatory/RegulatoryMaster/UpdateDMFHolder")", dataDMFHolder,
            function (result)
            {
                
                if (result.hasError == false)
                {
                    custAlertMsg("DMF Holder Updated Successfully.", "success", "Reloadtable();");
                    return false;
                }
                else if (result.hasError == "Warning") {
                    if (result._data == "DMF_Code") {
                        custAlertMsg(DMF_Code, "warning");
                    }
                    if (result._data == "DMF_Name") {
                        custAlertMsg(DMF_Name, "warning");
                    }
                    if (result._data == "DMF_CodeName") {
                        custAlertMsg(DMF_CodeName, "warning");
                    }
                    if (result._data == "LN_Number") {
                        custAlertMsg(LN_Number, "warning");
                    }
                    if (result._data == "MobileNO") {
                        custAlertMsg(MobileNum, "warning");
                    }
                    if (result._data == "Email") {
                        custAlertMsg(Email, "warning");
                    }
                    return false;
                }
                else
                {
                    custAlertMsg(errors.join("<br />"), "error");
                    return false;
                }
                }, 'json')
            .always(function () {
                ShowPleaseWait('hide');
            });
        }
    }

     //History Functionality
    function DMFHolderHisotry(DMF_ID, Name)
    {
        $('#hdnDMFID').val(DMF_ID);
      //  $('#txtHistoryHead').text("DMF Holder Name: "+Name);
        $("#DMFModalHistory").modal("show");
    }
    $('#DMFModalHistory').on('shown.bs.modal', function () {
        LoadDMFHolderHistory();
    });
    var otblDMF_HolderHistory;
    function LoadDMFHolderHistory()
    {
        var DMF_ID = $('#hdnDMFID').val();
        if (otblDMF_HolderHistory != null)
        {
            otblDMF_HolderHistory.destroy();
        }
        otblDMF_HolderHistory = $('#tblDMF_HolderHistory').DataTable({
        columns:
        [
                { 'data': 'History_ID' },//0
                { 'data': 'ActionStatus' },//4
                { 'data': 'ActionRole' },//2
                { 'data': 'ActionBy' },//1
                { 'data': 'ActionDate' },//3
                { 'data': 'Comments' },//5

                ],
            "aoColumnDefs": [{ "targets": [0], "visible": false }, { className: "textAlignCenter", "targets": [0] }, { "orderable": false, "targets": [0, 1, 2, 3, 4, 5] }],
        "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
        "sAjaxSource": '@Url.Content("~/Regulatory/RegulatoryMaster/GetDMFHolderHistoryList")',
        "fnServerData": function (sSource, aoData, fnCallback)
        {
         aoData.push({ "name": "DMF_ID", "value": DMF_ID });
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {
                    if (result.msgType == "error") {
                        custAlertMsg(result.msg, "error");
                    }
                    else {
                        fnCallback(result);
                    }
                },
                error: function (xhr, textStatus, error)
                {
                    if (typeof console == "object")
                    {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
    }
    function ClearFields()
    {
        $('#myModalDMF').modal('show');
        $("#SubmitDMFHolderData").show();
        $('#UpdateDMFHolderData').hide();
        $('.radiobtnAndComments').hide();
        $('#txtHeader').text('Add');
        $('#txtDMFHolderName').val('');
        $('#txtDMFCode').val('');
        $('#txtEmailID').val('');
        $('#txtPhone').val('');
        $('#txtAddress').val('');
        $('#ddlCountry').val(0);
        $('#ddlCountry').selectpicker('refresh');
        $('#ddlStateID').val(0);
        $('#ddlStateID').selectpicker('refresh');
        $('#ddlStateID').next().addClass('disabled');
        $('#ddlCityID').val(0);
        $('#ddlCityID').selectpicker('refresh');
        $('#ddlCityID').next().addClass('disabled');
        $('#txtPinCode').val('');
        $("#txtLandLineCode").val('');
        $("#txtLandLineNumber").val('');
    }
    function DMF_Operation(ShowType)
    {
        $('#myModalDMF').modal('show');
        if (ShowType == 'C')
        {
            $("#SubmitDMFHolderData").show();
            $('#UpdateDMFHolderData').hide();
            $('.radiobtnAndComments').hide();
            $('#txtHeader').text('Add DMF Holder');
        }
        else
        {
            $("#SubmitDMFHolderData").hide();
            $('#UpdateDMFHolderData').show();
            $('.radiobtnAndComments').show();
            $('#txtHeader').text('Edit DMF Holder');
            $('#txtComments').val('');
        }
    }
</script>
