﻿<input type="hidden" id="hdDPManufacturingSiteID" value="0" />
<div>
    <div class="col-12 ">
        <button type="button" class="btn float-left top listbtn newbtn" onclick="AddNewDPManafacturing()">ADD</button>
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
        <table id="tblDPManfacturing" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
            <thead>
                <tr id="tablerow">
                    <th>DP Manufacturing Site ID</th>
                    <th>S.No</th>
                    <th>DP Manufacturing Site</th>
                    <th>FEI Number</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>History</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!--History Modal Pop-up-->
<div class="modal" id="DPManufactureModalHistory" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtHistoryHead">History</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="DeficiencyModalbody">
                <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
                    <table id="tblDPManufactureHistory" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
                        <thead>
                            <tr id="tablerow">
                                <th>DP Manufacture Site ID </th>
                                <th>Action</th>
                                <th>Role</th>
                                <th>Action By</th>
                                <th>Action Date</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>

<!--ModelPopUp For Create/Update-->
<div class="modal" id="myModalDPManufacturing" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtheder">Add DP Manufacturing Site</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                     <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-9  padding-none" id="input1">
                        <label class="col-12  custom_label col-form-label float-left required" id="labelInputname">DP Manufacturing Site</label>
                        <div class="col-12 float-left">
                            <input type="text" id="txtDPManufacturingSiteName" class="form-control regulatory_inputborder txtclear" autocomplete="off" maxlength="100"/>
                        </div>
                     </div>
                    <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 float-left col-9  padding-none">
                        <label class="col-12  custom_label col-form-label float-left required" id="labelInputname2">FEI Number</label>
                        <div class="col-12 float-left">
                            <input type="text" class="form-control regulatory_inputborder" id="txtFEINumber"  maxlength="50" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none" id="input2">
                        <label class=" col-12  custom_label col-form-label float-left">Description</label>
                        <div class="col-12 float-left">
                            <textarea id="txtDescription" rows="4" maxlength="300" class="form-control" />
                        </div>
                    </div>
                    <div class="col-12  top float-left raidobtnandCommentsHide" id="radiobtns">
                        <label class="custom_label col-form-label ">Status </label>
                        <div class="col-12  btn-group btn-group-toggle padding-none" data-toggle="buttons">
                            <label class="btn btn-primary active col-lg-4 btnclass">
                                <input type="radio" name="status" class="rbtnActive" autocomplete="off"> Active
                            </label>
                            <label class="btn btn-primary col-lg-4 btnclass">
                                <input type="radio" name="status" class="rbtnInActive" autocomplete="off"> In Active
                            </label>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none raidobtnandCommentsHide" id="comment">
                        <label class=" col-12  custom_label col-form-label float-left required">Reason For Change</label>
                        <div class="col-12 float-left">
                            <textarea class="col-12 form-control" rows="4" id="txtComments" maxlength="250"></textarea>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn top btn-sm submitbtn float-right" id="AddDPManufacturing" onclick="return SubmitDPManufacturing();">
                    <span>
                        &#10004
                    </span> Add
                </button>
                <button type="button" class="btn top btn-sm submitbtn float-right" id="UpdateDPManufacturing" style="display:none;" onclick="return UpdateDPManufacturing();">
                    <span>
                        &#10004
                    </span>  Update
                </button>
                <a href="#" data-dismiss="modal" class="btn btn-sm top cancelbtn"><span>
    &#10006
</span> Cancel</a>
            </div>
        </div>
    </div>
</div>

<!--DataTableList-->
<script>
    var otblDP_ManafactureSite;
    $(function() {
        GetDPManfacturingList();
    })
    function GetDPManfacturingList() {
        if (otblDP_ManafactureSite != null) {
            otblDP_ManafactureSite.destroy();
        }
        otblDP_ManafactureSite= $('#tblDPManfacturing').DataTable({
            columns:
            [
                    { 'data': 'DP_ManufacturingSiteID' },//0
                    { 'data': 'RowNumber' },//1
                    { 'data': 'DP_ManufacturingSiteName' },//2
                    { 'data': 'DP_FEINumber' },//3
                    {
                         "mData": null,
                        "mRender": function (o) {
                            if (o.DescriptionLength == 1) {
                                return '<td> <div class="moredescript">' + o.Description + '</div></td>';
                            }
                            else {
                                return o.Description;
                            }
                        }
                    },//4
                    { 'data': 'Status' },//5
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o)
                        {
                            return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit" title="Edit" style="margin-left:0%" onclick="EditDPManafacturing(' + o.DP_ManufacturingSiteID + ')"></a>';
                        }
                    },//6
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="btnRegulatoryAgencyEdit summary_latest History edit_icon_feed" title="History" style="margin-left:0%" onclick="HistoryDPManufacturing(' + o.DP_ManufacturingSiteID + ')"></a>';
                        }
                    }//7
                ],
              "aoColumnDefs": [{ "targets": [0], "visible": false }, { className: "dt-body-left", "targets": [2, 3] }, { className: "textAlignCenter", "targets": [1,5,6,7] }, { "orderable": false, "targets": [1, 6,7] }],
              "sAjaxSource": "@Url.Content("~/Regulatory/RegulatoryMaster/GetDPManufacturingList")",
              "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result)
                    {
                        if (result.msgType == "error")
                        {
                            custAlertMsg(result.msg, "error");
                        }
                        else
                        {
                            fnCallback(result);
                        }
                    },
                });
            }
        });
    }

  //  DataTable Reload
    function ReloadTable()
    {
        $('#myModalDPManufacturing').modal('hide');
        GetDPManfacturingList();
    }
</script>

<!--Add or Edit DrugSubstance Details Controller/ActionMethod-->
<script>
    var oDPManufacturingSiteName;
    var oStatus;
    var oDPDescription="";
    var oFEINumber;
    function AddNewDPManafacturing()
    {
        ClearFields();
        $("#myModalDPManufacturing").modal("show");
        $('#AddDPManufacturing').show();
        $('#UpdateDPManufacturing').hide();
        $('.raidobtnandCommentsHide').hide();
        $('#txtheder').text('Add DP Manufacturing site');
    }
    //Add DrugSubstance Details Controller/ActionMethod-->
    function SubmitDPManufacturing()
    {
        errors = [];
        var objCreateDPManufacturingSite = {
            DPManufactringName: $('#txtDPManufacturingSiteName').val().trim(),
            FEINumber: $("#txtFEINumber").val().trim(),
            DPManufactringDescription: $('#txtDescription').val().trim()
        };
        if (objCreateDPManufacturingSite.DPManufactringName == "")
        {
            errors.push("Enter DP Manufacturing Site.");
        }
        if (objCreateDPManufacturingSite.FEINumber == "")
        {
            errors.push("Enter FEI Number.");
        }
        if (objCreateDPManufacturingSite.DPManufactringName != "" && objCreateDPManufacturingSite.FEINumber!="")
        {
            ShowPleaseWait('show');
            $.post("@Url.Content("~/Regulatory/RegulatoryMaster/AddDPManufacturing")", objCreateDPManufacturingSite,
                    function (result)
                    {
                        
                        if (result._ResultType == 0)
                        {
                            custAlertMsg("DP Manufacturing Site Added Successfully.", "success", "ReloadTable();");
                            return false;
                        }
                        else if (result._ResultType == 1)
                        {
                            custAlertMsg("DP Manufacturing Site Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType == 2)
                        {
                            custAlertMsg("FEI Number Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType == 3)
                        {
                            custAlertMsg("DP Manufacturing Site & FEI Number Already Exists.", "warning");
                            return false;
                        }
                        else
                        {
                            custAlertMsg(errors.join("<br />"), "error");
                            return false;
                        }
                    },
                'json')
                .always(function () {
                    ShowPleaseWait('hide');
                });
        }
        else
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    function EditDPManafacturing(DPManufacturingID)
    {
         $.ajax({
                url: '@Url.Content("~/Regulatory/RegulatoryMaster/GetDPManufacturingData")',
                type: "GET",
                dataType: "JSON",
             data: { DPManufacturingID: DPManufacturingID },
                success: function (results)
                {
                    Fill_DPManufacturingSiteData(results);
                }
            });
    }
    function Fill_DPManufacturingSiteData(results)
    {
        ClearFields();
        $("#txtDPManufacturingSiteName").val(results.DP_ManufacturingSiteName);
        $('#txtDescription').val(results.Description);
        $('#txtFEINumber').val(results.DP_FEINumber);
        $('#hdDPManufacturingSiteID').val(results.DP_ManufacturingSiteID);
        oDPManufacturingSiteName = results.DP_ManufacturingSiteName;
        oStatus = results.IsActive;
        oDPDescription = results.Description == null ? "" : results.Description ;
        oFEINumber = results.DP_FEINumber;
        $("#myModalDPManufacturing").modal("show");
        $('#AddDPManufacturing').hide();
        $('#UpdateDPManufacturing').show();
        $('.raidobtnandCommentsHide').show();
        //$('#btnAddDrugSubstance').hide();
        $('#txtheder').text('Edit DP Manufacturing site');
        $('#txtComments').val('');
        if (oStatus == true) {
            $(".rbtnActive").prop("checked", true);
            $(".rbtnActive").parents('label').addClass("active");
            $(".rbtnInActive").prop("checked", false);
            $(".rbtnInActive").parents('label').removeClass("active");
        } else {
            $(".rbtnActive").prop("checked", false);
            $(".rbtnActive").parents('label').removeClass("active");
            $(".rbtnInActive").prop("checked", true);
            $(".rbtnInActive").parents('label').addClass("active");
        }
    }
    //Edit DrugSubstance Details Controller/ActionMethod
    function UpdateDPManufacturing()
    {
        errors = [];
        var DPManufacturingStatus;
        if ($(".rbtnActive").prop("checked") == true) {
            DPManufacturingStatus = true;
        }
        else {
            DPManufacturingStatus = false;
        }
        var objUpdateDPManufacturingSite = {
            DPManufactringName: $('#txtDPManufacturingSiteName').val().trim(),
            FEINumber: $("#txtFEINumber").val().trim(),
            DPManufactringDescription: $('#txtDescription').val().trim(),
            IsActive: DPManufacturingStatus,
            Comments: $('#txtComments').val().trim(),
            DPManufacturingID: $('#hdDPManufacturingSiteID').val().trim()
        };

        if (objUpdateDPManufacturingSite.DPManufactringName == "")
        {
            errors.push("Enter DP Manufacturing Site.");
        }
        if (objUpdateDPManufacturingSite.FEINumber == "")
        {
            errors.push("Enter FEI Number.");
        }
        if (objUpdateDPManufacturingSite.Comments == "")
        {
            errors.push("Enter Reason For Change.");
        }
        if (objUpdateDPManufacturingSite.DPManufactringName == oDPManufacturingSiteName && objUpdateDPManufacturingSite.IsActive == oStatus && objUpdateDPManufacturingSite.DPManufactringDescription == oDPDescription && objUpdateDPManufacturingSite.FEINumber == oFEINumber)
        {
            custAlertMsg("There Are No Changes To Update.", "warning");
            return false;
        }
        if (objUpdateDPManufacturingSite.DPManufactringName != "" && objUpdateDPManufacturingSite.Comments != "")
        {
            ShowPleaseWait('show');
            $.post("@Url.Content("~/Regulatory/RegulatoryMaster/UpdateDPManufacturing")", objUpdateDPManufacturingSite,
                    function (result)
                    {
                        
                        if (result._ResultType == 0)
                        {
                            custAlertMsg("DP Manufacturing Site Updated Successfully.", "success", "ReloadTable();");
                            return false;
                        }
                        else if (result._ResultType == 1)
                        {
                            custAlertMsg("DP Manufacturing Site Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType == 2)
                        {
                            custAlertMsg("FEI Number Already Exists.", "warning");
                            return false;
                        }
                        else if (result._ResultType == 3)
                        {
                            custAlertMsg("DP Manufacturing Site & FEI Number Already Exists.", "warning");
                            return false;
                        }
                        else
                        {
                            custAlertMsg(errors.join("<br />"), "error");
                            return false;
                        }
                    },
                'json')
                .always(function () {
                    ShowPleaseWait('hide');
                });
        }
        else
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    function ClearFields()
    {
        $('#txtDPManufacturingSiteName').val('');
        $('#txtFEINumber').val('');
        $('#txtDescription').val('');
    }
</script>

<!--History-->
<script>
     //History Functionality
    function HistoryDPManufacturing(id)
    {
        $('#hdDPManufacturingSiteID').val(id);
        $("#DPManufactureModalHistory").modal("show");
    }
    $('#DPManufactureModalHistory').on('shown.bs.modal', function ()
    {
        LoadDPManufacturingHistory();
    });
    var otblDPManufactureHistory;
    function LoadDPManufacturingHistory()
    {
        var DPManufacturingID = $('#hdDPManufacturingSiteID').val();
        if (otblDPManufactureHistory!=null) {
            otblDPManufactureHistory.destroy();
        }
        otblDPManufactureHistory = $('#tblDPManufactureHistory').DataTable({
        columns:
        [
               { 'data': 'History_ID' },//0
                { 'data': 'ActionStatus' },//4
                { 'data': 'ActionRole' },//2
                { 'data': 'ActionBy' },//1
                { 'data': 'ActionDate' },//3
                { 'data': 'Comments' },//5
        ],
            "aoColumnDefs": [{ "targets": [0], "visible": false }, { className: "textAlignCenter", "targets": [0] }, { "orderable": false, "targets": [0, 1, 2, 3, 4, 5] }],
        "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
        "sAjaxSource": '@Url.Content("~/Regulatory/RegulatoryMaster/GetDPManufacturingHistoryList")',
            "fnServerData": function (sSource, aoData, fnCallback)
            {
                aoData.push({ "name": "DPManufacturingID", "value": DPManufacturingID });
                $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                    "success": function (result)
                    {
                        if (result.msgType == "error")
                        {
                        custAlertMsg(result.msg, "error");
                     }
                    else {
                        fnCallback(result);
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
    }
</script>
