﻿<div class="col-12 ">
    <button type="button" class="btn float-left top listbtn newbtn" id="btnFunctionalArea">ADD</button>
</div>
<div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
    <table id="tblFunctionalArea" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
        <thead>
            <tr id="tablerow">
                <th>FunctionalAreaID</th>
                <th>Department IDs</th>
                <th>S.No</th>
                <th>Functional Area Name</th>
                <th>Department Code</th>
                <th>Status</th>
                <th>Edit</th>
                <th>History</th>
            </tr>
        </thead>
    </table>
</div>
<!--Functional Area Modelpopup-->
<div class="modal" id="modalbtnFunctionalArea" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Functional Area</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="mbody">
                <div id="modalbodyid"></div>
                <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none" id="input1">
                    <label class="col-12  custom_label col-form-label float-left required" id="labelInputname"> Functional Area Name</label>
                    <div class="col-12 float-left"><input class="form-control regulatory_inputborder" type="text" value="" id="txtFunctionalAreaName" autocomplete="off" maxlength="150"></div>
                </div>
                <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none" id="modaldepinput">
                    <label class="col-12  custom_label col-form-label float-left required" id="labelInputname">Department</label>
                    <div class="col-12">
                        <select class="col-lg-12 selectpicker drop_down  regulatory_dropdown_style padding-none show-tick depdrp" title="Select Department" data-size="7" data-live-search="true" multiple id="ddlDepartments"></select>
                    </div>
                </div>
                <div class="col-12  top float-left StatusAndComments" id="radiobtns">
                    <label class="custom_label col-form-label ">Status </label>
                    <div class="col-12  btn-group btn-group-toggle padding-none" data-toggle="buttons">
                        <label class="btn btn-primary active col-lg-4 btnclass">
                            <input type="radio" name="status" class="rbtnActive" autocomplete="off">Active
                        </label>
                        <label class="btn btn-primary col-lg-4 btnclass">
                            <input type="radio" name="status" class="rbtnInActive" autocomplete="off">In Active
                        </label>
                    </div>
                </div>
                <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none StatusAndComments" id="input2">
                    <label class=" col-12  custom_label col-form-label float-left required">Remarks</label>
                    <div class="col-12 float-left"><textarea class="col-12 form-control" rows="4" id="txtFunctionalAreaRemarks" maxlength="250"></textarea></div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn top btn-sm submitbtn" id="btnAddFunctionalArea">
                    <span>
                        &#10004
                    </span>  Add
                </button>
                <button type="button" class="btn top btn-sm submitbtn" id="btnUpdateFunctionalArea">
                    <span>
                        &#10004
                    </span>  Update
                </button>
                <a href="#" data-dismiss="modal" class="btn btn-sm top cancelbtn">
                    <span>
                        &#10006
                    </span>Cancel
                </a>
            </div>
        </div>
    </div>
</div>
<!--Functional History-->
<div class="modal" id="FunctionalAreaHistory" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title1" id="txtHistoryHead">History</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="modelbody">
                <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
                    <table id="tblFunctionalAreaHistory" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%;">
                        <thead>
                            <tr id="tablerow">
                                <th>Functional Area ID </th>
                                <th>Action</th>
                                <th>Role</th>
                                <th>Action By</th>
                                <th>Action Date</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>
<script>
    var DepartmentsList = [];//Department List
    var FunctionalAreaId;
    var FunctionalAreaName;
    var Status;   
</script>
<script>
    var oFunctionalArea;
    $(function () {
        FunctionAreaDT();
        DepartmentsLoad();
    });
  
    function FunctionAreaDT() {
        if (oFunctionalArea != null) {
            oFunctionalArea.destroy();
        }
        oFunctionalArea = $('#tblFunctionalArea').DataTable({
        columns:
            [
                { 'data': 'FunctionalAreaID' },//0
                { 'data': 'DeptIDs' },//1
                { 'data': 'RowNumber'},//2
                { 'data': 'FunctionalAreaName' },//3
                { 'data': 'DeptCode' },//4
                { 'data': 'Status' },//5
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {                       
                        return '<a class="edit_icon_feed Edit" title="Edit" href="#" onclick="EditFunctionalArea(' + o.FunctionalAreaID + ');"></a>';  /*, \'' + o.FunctionalAreaName + '\',' + o.IsActive + ',\'' + o.DeptIDs + '\'*/
                    }
                },//6
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a class="summary_latest edit_icon_feed" title="History" href="#" onclick="FunctionalAreaHistory(' + o.FunctionalAreaID + ');"></a>';  /*, \'' + o.FunctionalAreaName.replace(/'/g, "\\'") + '\'*/
                    }
                }//7
            ],
            "order": [0, "desc"],
        "aoColumnDefs": [{ "targets":[0,1], "visible": false },
            { className: "textAlignCenter", "targets": [2,5,6,7] }, { "bSortable": false, "targets": [1,2,6,7] }],
       "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
        "sAjaxSource": '@Url.Content("~/Regulatory/RegulatoryMaster/GetFunctionAreaList")',
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {
                    if (result.msgType == "error") {
                        custAlertMsg(result.msg, "error");
                    }
                    else {
                        fnCallback(result);
                        $("#divTbl1").show();
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
    }
    function ReloadFunctionalAreaList()
    {
        $("#modalbtnFunctionalArea").modal("hide");
        FunctionAreaDT();
    }
</script>
<!--Add Button Click-->
<script>
    var DepartmentsList = [];
    $("#btnFunctionalArea").click(function () {
        ClearField();
        DepartmentsLoad();
        $("#btnUpdateFunctionalArea").hide();
        $("#modalbtnFunctionalArea").modal("show");
        $(".StatusAndComments").hide();
        $('.modal-title').text('Add Functional Area');
        $("#btnAddFunctionalArea").show();
    });

    var ArrayDeptIds;
    function EditFunctionalArea(FunctionalArea_ID)
    {
        $.ajax({
            url: '@Url.Content("~/Regulatory/RegulatoryMaster/BindFunctionalArea")',
            type: "GET",
            dataType:"JSON",
            data: { FunctionalAreaID: FunctionalArea_ID},
            success: function (JsonResult)
            {
                if (JsonResult.hasError == true)
                {
                    custAlertMsg(JsonResult.msg, "error");
                    return false;
                }
                else
                {
                    LoadDataintoControlers(JsonResult); 
                }
            }

        });
    }
    function LoadDataintoControlers(JsonResult)
    {
       var ArrayDeptID = [];
        $.each(JsonResult.data, function (i, item) {
            ArrayDeptID.push(item.DeptIds),
                FunctionalAreaId = item.FunctionalAreaID
                FunctionalAreaName = item.FunctionalAreaName,
                Status = item.IsActive
        });
        ArrayDeptIds = ArrayDeptID;
        $('#txtFunctionalAreaRemarks').val('');
        $("#modalbtnFunctionalArea").modal("show");
        $("#ddlDepartments").html(""); // clear before appending new list
        for (var i = 0; i < DepartmentsList.length; i++)
        {
            $("#ddlDepartments").append(
                $('<option></option>').val(DepartmentsList[i].Value).html(DepartmentsList[i].Text));
        }
        $('#ddlDepartments').selectpicker('refresh');
        $("#ddlDepartments").selectpicker('val', ArrayDeptIds);

        $("#btnUpdateFunctionalArea").show();
        $(".StatusAndComments").show();
       $("#btnAddFunctionalArea").hide();
       $('.modal-title').text('Edit Functional Area');
        $('#txtFunctionalAreaName').val(FunctionalAreaName);
        if (Status == true)
        {
           $(".rbtnActive").prop("checked", true);
           $(".rbtnActive").parents('label').addClass("active");
           $(".rbtnInActive").prop("checked", false);
           $(".rbtnInActive").parents('label').removeClass("active");
       }
        else
        {
           $(".rbtnActive").prop("checked", false);
           $(".rbtnActive").parents('label').removeClass("active");
           $(".rbtnInActive").prop("checked", true);
           $(".rbtnInActive").parents('label').addClass("active");
        }
    }
    var SelectedDepartmentIDs = [];//Selected  Dept ID's
    //Add FunctionArea
    $("#btnAddFunctionalArea").click(function ()
    {
        errors = [];
        SelectedDepartmentIDs = [];
        $.each($("#ddlDepartments option:selected"), function () {
            if ($(this).val() != "0") {
                SelectedDepartmentIDs.push($(this).val());
            }
        });
        var functionalAreaData = {
            FunctionalAreaName: $('#txtFunctionalAreaName').val().trim(),
            Remarks: $('#txtFunctionalAreaRemarks').val().trim(),
            SelectedDetIDs: SelectedDepartmentIDs
        };

        if (functionalAreaData.FunctionalAreaName == '')
        {
            errors.push("Enter Functional Area Name");
        }
        if (functionalAreaData.SelectedDetIDs.length == 0)
        {
            errors.push("Select At-least One Department");
        }
        if (errors.length > 0)
        {
            custAlertMsg(errors.join(",<br/>") + ".", "error");
            return false;
        }
        else {
            AjaxCallCreateFunctionalArea(functionalAreaData); //Ajax Call
            return true;
        }
    });
    function AjaxCallCreateFunctionalArea(functionalAreaData)
    {
        ShowPleaseWait('show');
        $.post("@Url.Content("~/Regulatory/RegulatoryMaster/CreateFunctionalArea")",functionalAreaData,
            function (result) {
                switch (result)
                {
                    case 1:
                        custAlertMsg("Functional Area Added Successfully.", "success", "ReloadFunctionalAreaList();");
                        break;
                    case 2:
                        custAlertMsg("Functional Area Name Already Exists.", "warning", "FunctionAreaDT();");
                        break;
                    default:
                        custAlertMsg(result.msg, "error");
                        break;
                }

            }, 'json')
            .always(function () {
                ShowPleaseWait('hide');
            });
    }
    //Update FunctionalArea
    $("#btnUpdateFunctionalArea").click(function () {
        errors = [];
        var FunctionalAreaStatus;
        if ($(".rbtnActive").prop("checked") == true)
        {
            FunctionalAreaStatus = true;
        }
        else
        {
            FunctionalAreaStatus = false;
        }
        SelectedDepartmentIDs = [];
        $.each($("#ddlDepartments option:selected"), function ()
        {
            if ($(this).val() != "0") {
                SelectedDepartmentIDs.push($(this).val());
            }
        });
        var functionalAreaData = {
            FunctionalAreaID: FunctionalAreaId,
            FunctionalAreaName: $('#txtFunctionalAreaName').val().trim(),
            Remarks: $('#txtFunctionalAreaRemarks').val().trim(),
            Status: FunctionalAreaStatus,
            SelectedDetIDs: SelectedDepartmentIDs
        };
        var result = [];
        for (var i = 0, l = SelectedDepartmentIDs.length; i < l; i++)
        {
            result.push(parseInt(SelectedDepartmentIDs[i]));
        } 
        if (functionalAreaData.FunctionalAreaName == FunctionalAreaName && functionalAreaData.Status == Status)
        {
            if (JSON.stringify(result) == JSON.stringify(ArrayDeptIds)) {
                custAlertMsg("There Are No Changes To Update", "warning");
                return false;
            }
        }
        if (functionalAreaData.FunctionalAreaName == '')
        {
            errors.push("Enter Functional Area Name");
        }
        if (functionalAreaData.SelectedDetIDs.length == 0)
        {
            errors.push("Select At-least One Department");
        }
        if (functionalAreaData.Remarks == '')
        {
            errors.push("Enter Remarks");
        }
        if (errors.length > 0)
        {
            custAlertMsg(errors.join(",<br/>") + ".", "error");
            return false;
        }
        else
        {
            AjaxCallUpdateFunctionalArea(functionalAreaData);//Ajax Call
        }
    });
    function AjaxCallUpdateFunctionalArea(functionalAreaData)
    {
        ShowPleaseWait('show');
        $.post("@Url.Content("~/Regulatory/RegulatoryMaster/UpdateFunctionalArea")", functionalAreaData,
            function (result)
            {
                switch (result) {

                    case 1:
                        custAlertMsg("Functional Area Updated Successfully.", "success", "ReloadFunctionalAreaList();");
                        break;
                    case 2:
                        custAlertMsg("Functional Area Name Already Exists.", "warning", "FunctionAreaDT();");
                        break;
                    default:
                        custAlertMsg(result.msg, "error");
                        break;
                }
            }, 'json')
            .always(function () {
                ShowPleaseWait('hide');
            });
    }

    //Clear Fields Functionality
    function ClearField() {
        $('#txtFunctionalAreaName').val('');
        $('#txtFunctionalAreaRemarks').val('');
    }
     //History Functionality
    function FunctionalAreaHistory(id) {
        FunctionalAreaId = id;
        $("#FunctionalAreaHistory").modal("show");
    }
    $('#FunctionalAreaHistory').on('shown.bs.modal', function () {
        LoadFunctionalAreaHistory();
    });
    var oFunctionalAreaHistory;
    function LoadFunctionalAreaHistory()
    {
        if (oFunctionalAreaHistory!=null) {
            oFunctionalAreaHistory.destroy();
        }
        oFunctionalAreaHistory = $('#tblFunctionalAreaHistory').DataTable({
        columns:
        [
                { 'data': 'RowNumber'},//1
                { 'data': 'ActionStatus' },//5
                { 'data': 'ActionRole' },//3
                { 'data': 'ActionBy' },//2
                { 'data': 'ActionDate' },//4
                { 'data': 'Comments' },//6
                ],
         "aoColumnDefs": [{ "targets":[0], "visible": false },
             { className: "textAlignCenter", "targets": [0] }, { "orderable": false, "targets": [5] }, { "orderable": false, "targets": [0, 1, 2, 3, 4, 5] }],
        "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
        "sAjaxSource": '@Url.Content("~/Regulatory/RegulatoryMaster/GetFunctionalAreaHistoryList")',
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "FunctionalAreaID", "value": FunctionalAreaId });
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {

                    if (result.msgType == "error") {
                        custAlertMsg(result.msg, "error");
                    }
                    else {
                        fnCallback(result);
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
    }
</script>
<script>
    function DepartmentsLoad() {
        //Department Loading
        $.ajax({
            type: "GET",
            url: "/Home/GetDepartmentsList",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                DepartmentsList = result;
                $("#ddlDepartments").html(""); // clear before appending new list
                for (var i = 0; i < result.length; i++) {
                    $('#ddlDepartments').append(
                        $('<option></option>').val(result[i].Value).html(result[i].Text));
                }
                $('#ddlDepartments').selectpicker('refresh');
            },
            error: function (jqXHR, exception) {
                alert(exception);
            }
        });
    }



</script>
