﻿<div class="col-12 ">
    <button type="button" class="btn float-left top listbtn newbtn" id="btntypeOfDeficiency">ADD</button>
</div>
<div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
    <table id="tblTypeOfDeficiency" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%;">
        <thead>
            <tr id="tablerow">
                <th>Type Of Deficiency ID</th>
                <th>S.No</th>
                <th>Type of Deficiency</th>
                <th>Status</th>
                <th>Edit</th>
                <th>History</th>
            </tr>
        </thead>        
    </table>
</div>
<!--Type of Deficiency Model popup-->
<div class="modal" id="modalTypeOfDeficiency" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Type of Deficiency </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="mbody">
                <div id="modalbodyid"></div>
                <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none" id="input1">
                    <label class="col-12  custom_label col-form-label float-left required" id="labelInputname">Type of Deficiency Name</label>
                    <div class="col-12 float-left">
                        <input class="form-control regulatory_inputborder txtclear" type="text" id="txtDeficiencyName" autocomplete="off" maxlength="150">@*onkeypress="return ValidateAlphaWithSpecialChars(event);"  onpaste="return ValidateAlphaWithSpecialCharsOnPaste();"*@
                    </div>
                </div>
                <div class="col-12  top float-left" id="ActiveRbtnDiv">
                    <label class="custom_label col-form-label ">Status</label>
                    <div class="col-12  btn-group btn-group-toggle padding-none" data-toggle="buttons">
                        <label class="btn btn-primary active col-lg-4 btnclass">
                            <input type="radio" name="status" class="rbtnActive" autocomplete="off"> Active
                        </label>
                        <label class="btn btn-primary col-lg-4 btnclass">
                            <input type="radio" name="status" class="rbtnInActive" autocomplete="off"> In Active
                        </label>
                    </div>
                </div>
                <div class="col-xl-12 col-md-9 col-sm-9 col-lg-9 float-left col-9  padding-none" id="divRemarks">
                    <label class=" col-12  custom_label col-form-label float-left required">Remarks </label>
                    <div class="col-12 float-left">
                        <textarea class="col-12 form-control txtclear" rows="4" id="txtDeficiencyRemarks" maxlength="250"></textarea>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn top btn-sm submitbtn" id="btnAddTypeofDeficiency" ><span>&#10004 </span> Add</button>
                <button type="button" class="btn top btn-sm submitbtn" id="btnEditTypeofDeficiency"><span> &#10004 </span>Update</button>
                <a href="#" data-dismiss="modal" class="btn btn-sm top cancelbtn"><span>&#10006 </span> Cancel</a>
            </div>
        </div>
    </div>
</div>
<!--Deficiency History-->
<div class="modal" id="DeficiencyHistory" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title1" id="txtHistoryHead">History</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="DeficiencyModalbody">
                <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
                    <table id="tblTypeOfDeficiencyHistory" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
                        <thead>
                            <tr id="tablerow">
                                <th>Type Of Deficiency ID</th>
                                <th>Action</th>
                                <th>Role</th>
                                <th>Action By</th>
                                <th>Action Date</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>

<!--Data List-->
<script>
    var oTypeOfDeficiency
    $(function () {
        loadTypeOfDeficiencyDT();
    });
    function loadTypeOfDeficiencyDT() {
        if (oTypeOfDeficiency!=null) {
            oTypeOfDeficiency.destroy();
        }
        oTypeOfDeficiency = $('#tblTypeOfDeficiency').DataTable({
        columns:
            [
                { 'data': 'TypeOfDeficiencyID' },//0
                { 'data': 'RowNumber'},//1
                { 'data': 'TypeOfDeficiencyName' },//2
                { 'data': 'Status' },//3
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        return '<a class="edit_icon_feed Edit" title="Edit" href="#" onclick="EditTypeOfDeficiency(' + o.TypeOfDeficiencyID + ');"></a>';     /*, \'' + o.TypeOfDeficiencyName.replace(/'/g, "\\'") + '\',' + o.IsActive + '*/
                }
                },//4
                {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                        return '<a class="summary_latest edit_icon_feed" title="History" href="#" onclick="DeficiencyHistory(' + o.TypeOfDeficiencyID + ');"></a>';   /*, \'' + o.TypeOfDeficiencyName.replace(/'/g, "\\'") + '\'*/
                        }
                }//5
            ],
        "bProcessing": true,
        "aoColumnDefs": [{ "targets":[0], "visible": false },
            { className: "textAlignCenter", "targets": [1,3,4,5] }, { "bSortable": false, "targets": [1,4,5] }],
       "lengthMenu": [[5, 10, 25, 50,100], [5, 10, 25, 50,100]],
        "sAjaxSource": '@Url.Content("~/Regulatory/RegulatoryMaster/GetTypeOfDeficiencyList")',
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {
                    if (result.msgType == "error") {
                        custAlertMsg(result.msg, "error");
                    }
                    else {
                        fnCallback(result);
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
    }
    function ReloadList()
    {
        $("#modalTypeOfDeficiency").modal("hide");
        loadTypeOfDeficiencyDT();
    }
</script>

<script>
    var DeficiencyID;
    var DeficiencyName;
    var DeficiencyStatus;
    $("#btntypeOfDeficiency").click(function () {
        ClearField();
        $('#btnAddTypeofDeficiency').show();
        $('#btnEditTypeofDeficiency').hide();
        $("#modalTypeOfDeficiency").modal("show");
        $("#ActiveRbtnDiv").hide();
        $("#divRemarks").hide();
        $(".modal-title").text("Add Type of Deficiency");
    });
    // Add Functionality
    $("#btnAddTypeofDeficiency").click(function () {
        errors = [];
        var deficiencyData = {
            DeficiencyName: $('#txtDeficiencyName').val().trim(),
            Remarks: $('#txtDeficiencyRemarks').val().trim()
        };


        if (deficiencyData.DeficiencyName == '') {
            errors.push("Enter Type of Deficiency Name");
        }
       
        if (errors.length > 0) {
            custAlertMsg(errors.join(",<br/>") + ".", "error");
            return false;
        }
        else
        {
            AjaxCallCreate_TOD(deficiencyData);//Ajax Call
        }
    });
    function AjaxCallCreate_TOD(deficiencyData)
    {
        ShowPleaseWait('show');
        $.post("@Url.Content("~/Regulatory/RegulatoryMaster/Create_TOD")",deficiencyData,//Parameters Passing
            function (result)
            {
                 switch (result._result)
                {
                        case 1:
                         custAlertMsg("Type of Deficiency Added Successfully.", "success", "ReloadList();");
                            break;
                        case 2:
                            custAlertMsg(" Type of Deficiency Name Already Exists.", "warning", "loadTypeOfDeficiencyDT();");
                            break;
                        default:
                         custAlertMsg(result.msg, "error");
                         break;

                }
            }, 'json')
            .always(function () {
                ShowPleaseWait('hide');
            });
    }

    function EditTypeOfDeficiency(Deficiency_ID)
    {
        $.ajax({
            url: '@Url.Content("~/Regulatory/RegulatoryMaster/BindTypeOfDeficiency")',
            type: "GET",
            dataType:"JSON",
            data: { DeficiencyID: Deficiency_ID},
            success: function (JsonResult)
            {
                if (JsonResult.hasError == true)
                {
                    custAlertMsg(JsonResult.msg, "error");
                    return false;
                }
                else
                {
                    LoadDataintoControlers(JsonResult); 
                }
            }

        });
    }
    //LoadDataintoControlers Functionality
    function LoadDataintoControlers(JsonResult) {
        $("#divRemarks").show();
        ClearField();
        DeficiencyID = JsonResult.data.TypeOfDeficiencyID;
        DeficiencyName = JsonResult.data.TypeOfDeficiencyName;
        DeficiencyStatus = JsonResult.data.IsActive;
        $("#modalTypeOfDeficiency").modal("show");
        $("#ActiveRbtnDiv").show();
        $("#btnAddTypeofDeficiency").hide();
        $("#btnEditTypeofDeficiency").show();
        $('.modal-title').text('Edit Type Of Deficiency');

        $('#txtDeficiencyName').val(JsonResult.data.TypeOfDeficiencyName);
        if (DeficiencyStatus == true) {
            $(".rbtnActive").prop("checked", true);
            $(".rbtnActive").parents('label').addClass("active");
            $(".rbtnInActive").prop("checked", false);
            $(".rbtnInActive").parents('label').removeClass("active");
        } else {
            $(".rbtnActive").prop("checked", false);
            $(".rbtnActive").parents('label').removeClass("active");
            $(".rbtnInActive").prop("checked", true);
            $(".rbtnInActive").parents('label').addClass("active");
        }
    }

    //Edit Functionality Load data
    $("#btnEditTypeofDeficiency").click(function () {    
        errors = [];
        var deficiencyStatus;
        if ($(".rbtnActive").prop("checked") == true) {
            deficiencyStatus = true;
        }
        else {
            deficiencyStatus = false;
        }
        var deficiencyData = {
            DeficiencyID: DeficiencyID,
            DeficiencyName: $('#txtDeficiencyName').val().trim(),
            Remarks: $('#txtDeficiencyRemarks').val().trim(),
            Status: deficiencyStatus
        };
        if (deficiencyData.DeficiencyName == DeficiencyName && deficiencyData.Status == DeficiencyStatus) {
            custAlertMsg("There Are No Changes To Update", "warning");
             return false;
        }
        if (deficiencyData.DeficiencyName == '')
        {
            errors.push("Enter Type of Deficiency Name");
        }
        if (deficiencyData.Remarks == '')
        {
            errors.push("Enter Remarks");
        }
        if (errors.length > 0) {
            custAlertMsg(errors.join(",<br/>") + ".", "error");
            return false;
        }
        else {
            AjaxCallEditDeficiency(deficiencyData);//Ajax Call
        }
    });

    function AjaxCallEditDeficiency(deficiencyData)
    {
        ShowPleaseWait('show');
        $.post("@Url.Content("~/Regulatory/RegulatoryMaster/UpdateDeficiency")",deficiencyData,//Parameters Passing
            function (result) {
                switch (result)
                {
                    case 1:
                        custAlertMsg("Type of Deficiency Updated Successfully", "success", "ReloadList();");
                        break;
                    case 2:
                        custAlertMsg("Type of Deficiency Name Already Exists", "warning", "loadTypeOfDeficiencyDT();");
                        break;
                    default:
                        custAlertMsg(result.msg, "error");
                        break;
                }
            }, 'json')
            .always(function () {
                ShowPleaseWait('hide');
            });
    }

      //Clear Fields Functionality
    function ClearField() {
        $('#txtDeficiencyName').val('');
        $('#txtDeficiencyRemarks').val('');
    }
    //History Functionality
    function DeficiencyHistory(id)
    {
        DeficiencyID = id;
        $("#DeficiencyHistory").modal("show");
    }
    $('#DeficiencyHistory').on('shown.bs.modal', function ()
    {
        LoadDeficiencyHistory();
    });
    var oTypeOfDeficiencyHistory;
    function LoadDeficiencyHistory()
    {
        if (oTypeOfDeficiencyHistory != null)
        {
            oTypeOfDeficiencyHistory.destroy();
        }
        oTypeOfDeficiencyHistory = $('#tblTypeOfDeficiencyHistory').DataTable({
        columns:
        [
            { 'data': 'History_ID' },//0
            { 'data': 'ActionStatus' },//4
            { 'data': 'ActionRole' },//2
            { 'data': 'ActionBy' },//1
            { 'data': 'ActionDate' },//3
            { 'data': 'Comments' },//5
        ],
        "aoColumnDefs": [{ "targets": [0], "visible": false }, { className: "textAlignCenter", "targets": [0] }, { "orderable": false, "targets": [0,1,2,3,4,5]}],
        "lengthMenu": [[5, 10, 25, 50, 100], [5, 10, 25, 50, 100]],
        "sAjaxSource": '@Url.Content("~/Regulatory/RegulatoryMaster/GetTypeOfDeficiencyHistoryList")',
        "fnServerData": function (sSource, aoData, fnCallback) {
            aoData.push({ "name": "DeficiencyID", "value": DeficiencyID });
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result)
                {
                    if (result.msgType == "error")
                    {
                        custAlertMsg(result.msg, "error");
                    }
                    else
                    {
                        fnCallback(result);
                    }
                },
                error: function (xhr, textStatus, error)
                {
                    if (typeof console == "object")
                    {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
    }
</script>

