﻿@{
    ViewBag.Title = "RegulatoryMasterList";
    Layout = "~/Areas/Regulatory/Views/Shared/_RegulatoryLayout.cshtml";
}
<div class="container-fluid">
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 regulatory_create-heading_title top">Regulatory Master</div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 formlist  padding-none grid_panel_hod bottom">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 reg_formlist">
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12  col-12  float-left top padding-none" style="border-bottom:1px solid #2a92ce;">
                <label class=" custom_label col-form-label float-left">Master Type:</label>
                <div class="col-4 padding-none float-left bottom">
                    <select class="col-lg-12 selectpicker drop_down regulatory_dropdown_style selectForm show-tick padding-none" id="ddlMasterTypeSelector" data-live-search="true" onchange="ddlOptionSelectedChanged(this.value);">
                        <option>--Select Master Type--</option>
                        <option value="1">Type of Deficiency</option>
                        <option value="2">Functional Area</option>
                        <option value="3">Drug Substance</option>
                        <option value="4">DP Manufacturing Site</option>
                        <option value="5">DMF Holder</option>
                        <option value="6">Contract Testing Laboratory</option>
                        <option value="7">Drug Substance Manufacturing Site</option>
                    </select>
                </div>
            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
                <div id='divBindRegulatoryPartialViews'></div>
            </div>
        </div>
    </div>
</div>
    <script>
    var divPartialView = $("#divBindRegulatoryPartialViews");
    function ddlOptionSelectedChanged(SelectedValue) {
        divPartialView.empty();
        divPartialView.prepend("<div style='text-align:center;font-weight:bold;font-size:14px;'>Loading...</div>");
        switch (SelectedValue) {
            case "1":
                divPartialView.load("@Url.Content("~/Regulatory/RegulatoryMaster/GetTypeOfDeficiency")", function () {
                    bindOnPaste();
                });
                break;
            case "2":
                divPartialView.load("@Url.Content("~/Regulatory/RegulatoryMaster/GetFunctionalArea")", function () {
                    bindOnPaste();
                });
                break;
            case "3":
                divPartialView.load("@Url.Content("~/Regulatory/RegulatoryMaster/GetDrugSubstanceMainList")", function () {
                    bindOnPaste();
                });
                 break;
            case "4":
                divPartialView.load("@Url.Content("~/Regulatory/RegulatoryMaster/GetDPManufacturingSite")", function () {
                    bindOnPaste();
                });
                break;
            case "5":
                divPartialView.load("@Url.Content("~/Regulatory/RegulatoryMaster/GetDMFHolder")", function () {
                    bindOnPaste();
                });
                break;
            case "6":
                divPartialView.load("@Url.Content("~/Regulatory/RegulatoryMaster/GetContractTestingLaboratory")", function () {
                    bindOnPaste();
                });
                break;
             case "7":
                divPartialView.load("@Url.Content("~/Regulatory/RegulatoryMaster/GetDSManufacturingSite")", function () {
                    bindOnPaste();
                });
                break;
            default:
                divPartialView.empty();
        }
    }
    </script>
