<div class="filter-bar">
    
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <div class="col-sm-12 padding-none dashboard_panel_full float-left">
              <div class="col-lg-12 col-12 col-sm-12 col-md-12 col-12 col-sm-12 col-md-12 dashboard_panel_header float-left">Department Performance</div>

              <div class="col-lg-12 col-12 col-sm-12 col-md-12 col-12 col-sm-12 col-md-12 float-left top bottom">
                <form [formGroup]="filtersForm" class="mb-2">
                    <div class="row">
                        <div class="col-md-6">
                            <ng-multiselect-dropdown
            [placeholder]="'Select Department'"
            [settings]="departmentDropdownSettings"
            [data]="departmentsList"
            [(ngModel)]="selectedDepartments"
            [ngModelOptions]="{standalone: true}"
            (onSelect)="onDeptPerformanceDataChartFilterChange($event)"
            (onDeSelect)="onDeptPerformanceDataChartFilterChange($event)"
            >
            </ng-multiselect-dropdown>
                        </div>
                        <div class="col-md-6">
                            <ng-multiselect-dropdown
                            [placeholder]="'Select Quality Event'"
                            [settings]="eventsDropdownSettings"
                            [data]="qualityEventsList"
                            [(ngModel)]="selectedQualityEvents"
                            [ngModelOptions]="{standalone: true}"
                            (onSelect)="onDeptPerformanceDataChartFilterChange($event)"
                            (onDeSelect)="onDeptPerformanceDataChartFilterChange($event)"
                          >
                          </ng-multiselect-dropdown>
                        </div>
                        </div>
                        <div class="row mt-2" >
                            <div class="col-md-6" *ngIf="deptPerformanceDataFilters && deptPerformanceDataFilters.QualityEventType === currentQualityEventId.CCN">
                            <ng-multiselect-dropdown
                            [placeholder]="'Change Category'"
                            [settings]="changeCategoryDropdownSettings"
                            [data]="changeCategoriesList" [(ngModel)]="selectedChangeCategory"
                            [ngModelOptions]="{standalone: true}"
                            (onSelect)="onDeptPerformanceDataChartFilterChange($event)"
                            (onDeSelect)="onDeptPerformanceDataChartFilterChange($event)"
                            (onSelectAll)="onSelectAllChangeCategories($event)"
            
                          >
                          </ng-multiselect-dropdown>
                            </div>
                            <div class="col-md-6" *ngIf="deptPerformanceDataFilters && deptPerformanceDataFilters.QualityEventType === currentQualityEventId.CCN">
                                <ng-multiselect-dropdown
                            [placeholder]="'Change Classification'"
                            [settings]="changeClassificationDropdownSettings"
                            [data]="changeClassificationList" [(ngModel)]="selectedChangeClassification"
                                [ngModelOptions]="{standalone: true}"
            
            (onSelect)="onDeptPerformanceDataChartFilterChange($event)"
            (onDeSelect)="onDeptPerformanceDataChartFilterChange($event)"
            (onSelectAll)="onSelectAllChangeClassifications($event)"
                          >
                          </ng-multiselect-dropdown>
                            </div>
                            <div class="col-md-6" *ngIf="deptPerformanceDataFilters && deptPerformanceDataFilters.QualityEventType === currentQualityEventId.IncidentReport">
                                <ng-multiselect-dropdown [settings]="incidentCategoryDropdownSettings" [data]="incidentCategoriesList" [(ngModel)]="selectedIncidentCategory"
                                [ngModelOptions]="{standalone: true}"
            
            (onSelect)="onDeptPerformanceDataChartFilterChange($event)"
            (onDeSelect)="onDeptPerformanceDataChartFilterChange($event)"
            (onSelectAll)="onSelectAllIncidentCategories($event)"
            >
            </ng-multiselect-dropdown>
                            </div>
                            <div class="col-md-6" *ngIf="deptPerformanceDataFilters && deptPerformanceDataFilters.QualityEventType === currentQualityEventId.IncidentReport">
                                <ng-multiselect-dropdown [settings]="incidentClassificationDropdownSettings" [data]="incidentClassificationList" [(ngModel)]="selectedIncidentClassification"
                                [ngModelOptions]="{standalone: true}"
            
            (onSelect)="onDeptPerformanceDataChartFilterChange($event)"
            (onDeSelect)="onDeptPerformanceDataChartFilterChange($event)"
            (onSelectAll)="onSelectAllIncidentClassification($event)"
            >
            </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <ng-multiselect-dropdown [settings]="metricSelectionDropdownSettings" [data]="metricSelectionList" [(ngModel)]="selectedMetric"
                                [ngModelOptions]="{standalone: true}"
            
            (onSelect)="onMetricSelectionChange($event)"
            (onDeSelect)="onMetricSelectionChange($event)"
            >
            </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <ng2-flatpickr id="fromDate" [setDate]="fromDateValue" [config]="fromDateOptions" placeholder="From date" formControlName="fromDate" (change)="onDeptPerformanceDataChartFilterChange($event)"></ng2-flatpickr>
                            </div>
                            <div class="col-md-6">
                                <ng2-flatpickr  id="toDate" [setDate]="toDateValue" [config]="toDateOptions" formControlName="toDate" placeholder="To date" (change)="onDeptPerformanceDataChartFilterChange($event)" ></ng2-flatpickr>
                            </div>
                        </div>
                        
                        
                </form>
            <div class="d-flex justify-content-end" *ngIf="isListViewShown">
                <button type="button" class="btn btn-link" (click)="onShowListView()">List View</button>
            </div>

        <dx-chart id="deptPerformanceChart" [dataSource]="deptPerformanceData" title="Department Performance (12M)"
        [customizePoint]="customizePoint" [customizeLabel]="customizeLabel">
    <dxi-series argumentField="MonthnameAndYear" valueField="Count" type="spline" color="#a3aaaa" ></dxi-series>
    <dxo-argument-axis>
        <dxo-label overlappingBehavior="rotate" rotationAngle="45"  wordWrap="breakWord"></dxo-label>
    </dxo-argument-axis>
    <dxi-value-axis [allowDecimals]="false">
        <dxo-label [customizeText]="customizeText"></dxo-label>

        <dxi-strip *ngIf="isLimitsShown" [endValue]="lowerLimit" color="rgba(97,153,230,0.10)">
            <dxo-label text="LL" verticalAlignment="top">
                <dxo-font [color]="lowerLimitColor"></dxo-font>
            </dxo-label>
        </dxi-strip>
        <dxi-strip *ngIf="isLimitsShown" [startValue]="upperLimit" color="rgba(255,155,85,0.15)">
            <dxo-label text="UL" verticalAlignment="bottom">
                <dxo-font [color]="upperLimitColor"></dxo-font>
            </dxo-label>
        </dxi-strip>
        <dxo-strip-style>
            <dxo-label>
                <dxo-font weight="500" size="14"></dxo-font>
            </dxo-label>
        </dxo-strip-style>
        <dxi-constant-line [width]="2" [value]="currentDeptAvg" color="#8c8cff" dashStyle="dash">
            <dxo-label text="Dept Avg" [font]="{color:'#8c8cff'}"></dxo-label>
        </dxi-constant-line>
        <dxi-constant-line *ngIf="isAveragesShown" [width]="2" [value]="currentOrgAvg" color="#ff7c7c" dashStyle="dot">
            <dxo-label text="Org Avg" [font]="{color:'#ff7c7c'}" horizontalAlignment="right"></dxo-label>
        </dxi-constant-line>
    </dxi-value-axis>
    <dxo-legend [visible]="false" verticalAlignment="bottom"></dxo-legend>
    <dxo-export [enabled]="true"></dxo-export>
    
</dx-chart>
    <div class="d-flex flex-row justify-content-around">
        <div class="dx-field">
            <!-- <div class="dx-field-label">With label</div> -->
            <div class="dx-field-value">
                <dx-check-box
                    [(value)]="isLimitsShown"
                    text="Show Limits"
                ></dx-check-box>
            </div>
        </div>
    <!-- </div> -->
    <!-- <div class="col-md-3"> -->
        <div class="dx-field">
            <!-- <div class="dx-field-label">With label</div> -->
            <div class="dx-field-value">
                <dx-check-box
                    [(value)]="isAveragesShown"
                    text="Show Org Average"
                ></dx-check-box>
            </div>
        </div>
    <!-- </div> -->
    
</div>
</div>
</div>
    </div>
</div>
