::ng-deep .dx-checkbox-container{
    margin-left:0.5rem !important;
    .dx-checkbox-icon{
        border:1px solid #adadad !important;
        border-radius: 4px !important;
    }
}

::ng-deep .dx-checkbox-text{
    white-space: inherit !important;
}

// ::ng-deep .ng2-flatpickr-input-container{
//     .toDate-dept-perf{
//         background-color: #e9ecef !important;
//     }
// }
