﻿ins {
    background-color: #cfc;
    text-decoration: none;
}

del {
    color: #999;
    background-color: #FEC8C8;
}
.panel_word_panel {
    padding:10px;
    background:#07889a;
    color:#fff;
}