﻿@model AizantIT_PharmaApp.Areas.QMS.Models.Audit.ViewModel.AuditCreate

<script>
    $(function () {
        initSelectPicker();
    });
</script>

<style>
    .dropdown_style .btn {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid #8e8e8e !important;
    }
</style>
@Html.HiddenFor(a => a.AuditID)
@Html.HiddenFor(a => a.AuditCurrentStatusID)
<input type="hidden" id="hdAuditAuthorID" value="0" />
<input type="hidden" id="hdAuditApproverID" value="0" />
<div id="myModalEditReAssign" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Audit Number : @Html.DisplayFor(a => a.AuditReportNumber)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="col-12  float-left padding-none">
                    <div class="col-xl-6 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                        <label class=" custom_label col-form-label ">Author :</label>
                        <span>
                            @Html.DropDownList("Author", Model.AuditQaList as List<SelectListItem>
                            ,
                            htmlAttributes: new
                            {
                            id = "ddlAuthor",
                            @class = "selectpicker drop_down padding-none regulatory_dropdown_style col-9",
                            @title = "-- Select Audit QA --",
                            name = "QAId",
                            @onchange = "OnAuthorChange(this.value);"
                            })
                        </span>
                    </div>
                    <div class="col-xl-6 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none ">
                        <label class=" custom_label col-form-label padding-right_div ">Approver :</label>
                        <span id="lbApprover"></span>
                        <span id="ddlApproverList">
                            @Html.DropDownList("Approver", Model.ApproversList as List<SelectListItem>,
                             htmlAttributes: new
                             {
                             id = "ddlApprover",
                             @class = "selectpicker drop_down padding-none regulatory_dropdown_style col-9",
                             @title = "-- Select Head QA --",
                             name = "ApproverID",
                             @onchange = "OnApproverChange(this.value);"
                             })
                        </span>
                    </div>
                    <div class=" col-xl-12 col-md-12 col-sm-12 bottom col-lg-12 padding-none float-left col-12  txaReAssigncomments ">
                        <label class="custom_label col-form-label required" for="txtAuditcomment">Comments</label>
                        <textarea class="form-control ValidateFreeText" rows="3" id="txtAuditcomment" name="AuditComments" onkeypress="return ValidateFreeText(event);" maxlength="250" placeholder="Enter Comments"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer btnReAssign">
                <div class="col-6 padding-none">
                    <div class=" float-right ">
                        <button class="btn btn-signup_popup" onclick="UpdateAuditReAssignEmployees();">Update</button>
                        <button data-dismiss="modal" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#AuditID').val('@Model.AuditID');
    $('#hdAuditAuthorID').val($("#ddlAuthor option:selected").val());
    $('#hdAuditApproverID').val($("#ddlApprover option:selected").val());

    var hdAuditAuthorID = $('#hdAuditAuthorID').val();//intial AuthorId
    var hdAuditApproverID = $('#hdAuditApproverID').val();//Intial ApproverId
    var AuditCurrentStatusID = $('#AuditCurrentStatusID').val();//Intial ApproverId
    var AuditApproverName = $("#ddlApprover option:selected").text();//Selected  Approver Name

//Intial ApproverId
    if (AuditCurrentStatusID == 5) {
       // Check status 5  Approved it's true return True  are else return false
        $('#lbApprover').show();
        $('#lbApprover').text(AuditApproverName);//Approver Name Load  To Label
        $('#ddlApproverList').hide();//Approver DropdownList hide
    }
    else {
        $('#lbApprover').hide();
        $('#ddlApproverList').show();//Approver DropdownList Show
    }

    var AuthorID = 0;
    var ApproverID = 0;
    var AuditID = 0;
    var Comments = '';
    //Update Btn Click Event
    var UpdateAuditReAssignEmployees = function () {
        errors = [];
         AuthorID   = $("#ddlAuthor option:selected").val();
         ApproverID = $("#ddlApprover option:selected").val();
         AuditID = $('#AuditID').val();
         Comments = $('#txtAuditcomment').val().trim();

        if (hdAuditAuthorID == AuthorID && hdAuditApproverID == ApproverID) {
            custAlertMsg("There are no changes to Update.", "warning");
            return false;
        }
        if (AuthorID == 0) {
            errors.push("Select Author");
        }
        if (ApproverID == 0) {
            errors.push("Select Approver");
        }
        if (Comments == "") {
            errors.push("Enter Comments");
        }
        if (errors.length > 0)
        {
            custAlertMsg(errors.join(",<br/>") + ".", "error");
            return false;
        }
        else {
            custAlertMsg("Are you sure you want to Change Audit User's ?", "confirm", "ModifiedReassignEmployees();");
            return true;
        }
    }
    function ModifiedReassignEmployees() {
        var objAuditData = {
            "AuthorID": AuthorID, "ApproverID": ApproverID, "AuditID": AuditID, "Comments": Comments,
        };
          $.post("@Url.Content("~/QMS/ReAssignEmployee/ModifiedReAssignAuditEmployees")", objAuditData,
              function (result) {
                  ReassignCustomAlertMessage(result);
            }, 'json');
    }

    function ReassignCustomAlertMessage(result) {
        switch (result) {
            case 0:
                custAlertMsg("Audit Completed", "error", "ReloadAuditReportTable();");
                break;
            case 1:
                custAlertMsg("Re-assigned Author & Approver", "success", "ReloadAuditReportTable();");
                break;
            case 2:
                custAlertMsg("Re-assigned Author, Approver not in the Modified State to Re-Assign", "warning", "ReloadAuditReportTable();");
                break;
            case 3:
                custAlertMsg("Re-Assigned Approver", "success", "ReloadAuditReportTable();");
                break;
            case 4:
                custAlertMsg("Approver not in the Modified State to Re-Assign", "warning", "ReloadAuditReportTable();");
                break;
            case 5:
                custAlertMsg("Re-assigned Author", "success", "ReloadAuditReportTable();");
                break;
            case 6:
                custAlertMsg("Author not in the Modified State to Re-Assign", "warning", "ReloadAuditReportTable();");
                break;
        }
    }
 //Approver DropDownList OnChange Function
    function OnApproverChange(SelectedApproverId) {
        var AuthorID = $("#ddlAuthor option:selected").val();//Selected Author Id
        if (AuthorID == SelectedApproverId) {
            //if both HeadQA ANd QA same Persion The rest theQa List
            $("#ddlAuthor").selectpicker('refresh');
            $('#ddlAuthor').selectpicker('val', [0]);
        }
    }
//Author DropDownList OnChange Function
    function OnAuthorChange(SeletedAuthorId) {
        // var qaName = $("#ddlQAList option:selected").val();
        var ApproverId = $("#ddlApprover option:selected").val();
        var AuditStatusType = $('#hdAuditStatusType').val(); //AuditStatus
        var AuditID = $('#AuditID').val();
        if (SeletedAuthorId == ApproverId) {
            //if both HeadQA ANd QA same Persion The rest theQa List
            $("#ddlApprover").selectpicker('refresh');
            $('#ddlApprover').selectpicker('val', [0]);
        }
        $.ajax({
            type: "Get",
            url: "/ReAssignEmployee/AuthorNameChecking",
            data: { EmployeeID: SeletedAuthorId, AuditID: AuditID, AuditStatusType: AuditStatusType },
            datatype: "json",
            traditional: true,
            success: function (result) {
                switch (result.msgType) {
                    case "error":
                        custAlertMsg(result.msg, "error");
                        break;
                    case "info":
                        custAlertMsg(result.msg, "info");
                        break;
                    case "warning":
                        custAlertMsg(result.msg, "warning","ReloadAuditUsersDropDownList();");
                        break;
                    case "success":
                        custAlertMsg(result.msg, "success");
                        break;
                }
            }
        });
    }
//Reload The Audit User DropDown List's
    function ReloadAuditUsersDropDownList() {
        $("#ddlApprover").selectpicker('refresh');
        $('#ddlApprover').selectpicker('val', [hdAuditApproverID]);

        $("#ddlAuthor").selectpicker('refresh');
        $('#ddlAuthor').selectpicker('val', [hdAuditAuthorID]);
    }
//Reload DataTable
    var ReloadAuditReportTable = function () {
        $('#myModalEditReAssign').modal('toggle');
        LoadReAssignList();//Reload Audit Report Data table
    }

</script>