﻿@{
    ViewBag.Title = "Re-assign Employee";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<input type="hidden" id="hdAuditStatusType" value="" />
<input type="hidden" id="hdAuditAuthorName" value="" />
<input type="hidden" id="hdAuditApproverName" value="" />
<input type="hidden" id="hdAuditReportNumber" value="" />
<input type="hidden" id="AuditID" value="0" />
<input type="hidden" id="hdAuthorID" value="0" />
<input type="hidden" name="ObservationID" id="hdnObservationID" value="0" />
<input type="hidden" id="hdAssignedObservationID" value="0" />
<input type="hidden" id="hdResponsiblePersonID" value="0" />


<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Re-Assign Employee</div>
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none">
    <table id="tblReAssign" class="table datatable_cust table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Audit Id </th>
                <th>Audit Number </th>
                <th>Category</th>
                <th>Agency/Client</th>
                <th>AuditStatusType</th>
                <th>Status</th>
                <th>AuthorName</th>
                <th>ApproverName</th>
                <th>AuthorID</th>
                <th>ApproverID</th>
                <th>Audit</th>
                <th>Observation</th>
                <th>History</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id='OpenReassignDilog'>
</div>

<div id="myModalReAssign" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:70%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Audit Number : <span class="lblAuditReportNumber"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body Modalpopup-Scroll">
                <div class="col-12  float-left padding-none">
                    <div class="col-xl-6 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none">
                        <div class="col-12 float-left padding-none">
                            <label class="float-left custom_label col-form-label">Author :</label>
                            <div class="float-left col-10 custom_label col-form-label"> @*@Html.DisplayFor(a => a.AuditAuthorName)*@<span class="lblAuditAuthorName"></span></div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-4 col-sm-6 col-lg-6 float-left col-6 padding-none ">
                        <div class="col-12 float-left padding-none">
                            <label class="float-left custom_label col-form-label padding-right_div ">Approver :</label>
                            <div class="col-9 float-left custom_label col-form-label">@*@Html.DisplayFor(a => a.AuditApproverName)*@<span class="lblAuditApproverName"></span></div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title top">Observation</div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod ">
                        <div class="col-12">
                            <table id="tblReAssignEmployee" class="table datatable_cust table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>AuditID</th>
                                        <th>Observation Id </th>
                                        <th>Observation Number </th>
                                        <th>DeptID</th>
                                        <th>Department Name</th>
                                        <th>EmpID</th>
                                        <th>Responsible Person</th>
                                        <th>AssignedObservationID</th>
                                        <th>Edit</th>
                                        <th>History</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class=" col-xl-12 col-md-12 col-sm-12 bottom col-lg-12 padding-none float-left col-12 txaReAssigncommentsDiv" style="display:none">
                        <label class="custom_label col-form-label required" for="txtAuditcomment">Comments</label>
                        <textarea class="form-control ValidateFreeText" rows="3" id="txtObservationcomment" name="AuditComments" onkeypress="return ValidateFreeText(event);" maxlength="250" placeholder="Enter Comments"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer divReAssignBtns" style="display:none">
                <div class="col-6 padding-none">
                    <div class=" float-right ">
                        <button class="btn btn-signup_popup" onclick="SaveReAssignEmployee();">Update</button>
                        <button class="btn btn-cancel_popup" tabindex="10" onclick="CancelReAssignEmployee(this);">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="myModalAuditHistory" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:70%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="titleAuditNumHistory"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body Modalpopup-Scroll">
                <div class="col-12  float-left padding-none">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                        @Html.Partial("~/Areas/QMS/Views/Shared/QmsAudit/_HistoryDetailsInAudit.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("~/Areas/QMS/Views/AuditMain/_ViewObservationHistory.cshtml")
<!--Audit Main ReAssign List Related-->
<script>

    $(function () {
        LoadReAssignList();//Datatable initial load Function
    });
    var oAuditReAssign;
    function LoadReAssignList() {
        if (oAuditReAssign != null) {
            oAuditReAssign.destroy();
        }
        oAuditReAssign = $('#tblReAssign').DataTable({
            columns:
                [
                    { 'data': 'AuditID' },//0
                    { 'data': 'AuditNum' }, //1
                    { 'data': 'Category' },//2
                    { 'data': 'CategoryType' },//3
                    { 'data': 'AuditStatusType' },//4
                    { 'data': 'StatusName' },//5
                    { 'data': 'AuthorName' },//6
                    { 'data': 'ApproverName' },//7
                    { 'data': 'AuthorID' },//8
                    { 'data': 'ApproverID' },//9
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="edit_icon_feed Edit" style="margin-left:0%" onclick="EditAuditEmployee(' + full.AuditID + ',' + full.AuthorID + ',' + full.ApproverID + ',\'' + full.AuditNum + '\',\'' + full.AuditStatusType + '\')"></a>';
                        }
                    },//10
                    {
                        "render": function (data, type, full, meta) {
                            if (full.AuditStatusType == "I") {
                               return '<a class="edit_icon_feed Edit" style="margin-left:0%" onclick="EditReAssignEmployee(' + full.AuditID + ',\'' + full.AuthorName + '\',\'' + full.ApproverName + '\',\'' + full.AuthorID + '\',\'' + full.AuditNum + '\')"></a>';
                            } else {
                                return 'NA';
                            }
                        }
                    },//11
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="View" style="margin-left:0%" onclick="AuditHistory(' + full.AuditID + ',\'' + full.AuditNum + '\')"></a>';
                        }
                    },//12
                ],
            "aoColumnDefs": [{ "targets": [0, 4, 6, 7, 8, 9], "visible": false }, { className: "dt-body-left", "targets": [2, 3, 5] }, { className: "text-center", "targets": [10,11,12] },{ "orderable": false, "targets": [10,11,12] }],
            "sAjaxSource": "@Url.Content("~/QMS/ReAssignEmployee/GetReAssignAuditList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        fnCallback(result);
                    },
                });
            }
        });
    }
    //ReAssign  Audit User's Edit Function
    function EditAuditEmployee(AuditID, AuthorID, ApproverID, AuditNum, AuditStatusType) {
        ShowPleaseWait('show');
        $('#hdAuditStatusType').val(AuditStatusType);//hide the Audit Status
        var div = $("#OpenReassignDilog");
        div.load("@Url.Content("~/QMS/ReAssignEmployee/ReAssignEmployeeMain")?AuditID=" + AuditID + "&AuthorID=" + AuthorID + "&ApproverID=" + ApproverID + "&AuditNumber="+ AuditNum,
            function () {
                ShowPleaseWait('hide');
            $('#myModalEditReAssign').modal('show');//Audit observation List Reassign User Model popup
        });
    }
    //Reassign Observation Response Person Edit Function
    function EditReAssignEmployee(AuditID, AuthorName, ApproverName, AuthorID, AuditNum) {
        ShowPleaseWait('show');
        $('#AuditID').val(AuditID);
        $('#hdAuthorID').val(AuthorID);
        $('.lblAuditReportNumber').text(AuditNum);
        $('.lblAuditAuthorName').text(AuthorName);
        $('.lblAuditApproverName').text(ApproverName);
        $('#myModalReAssign').modal('show');
    }
    $('#myModalReAssign').on('shown.bs.modal', function () {
        loadReAssignObservationList();
    });
</script>

<!--Observation ReAssign List Related-->
<script>

    var Comments;
    var ResponsePersonId;
    var AssignedObservationID;
    var ResponsiblePersonID;
    var ObservationID;
    var oAuditReAssignEmp;
    function loadReAssignObservationList() {
        var AuditID = $('#AuditID').val();
        if (oAuditReAssignEmp != null) {
            oAuditReAssignEmp.destroy();
        }
        oAuditReAssignEmp =  $('#tblReAssignEmployee').DataTable({
        columns:
            [
                { 'data': 'AuditID' },//0
                { 'data': 'ObservationID' },//1
                { 'data': 'ObservationNum' },//2
                { 'data': 'DeptID' },//3
                { 'data': 'DepartmentName' },//4
                { 'data': 'EmpID' },//5
                {
                    "render": function (data, type, full, meta) {
                        return '<span class="lblJQGResponseName">' + full.ResponsiblePersonName + ' </span>'
                            + '<select class="ddlResponsePerson selectpicker drop_down padding-none dropdown_style col-12 float-left" data-live-search="true" data-size="5" style="display:none;"><select>';
                    }
                },//6
                { 'data': 'AssignedObservationID' },//7
                {
                    "render": function (data, type, full, meta) {
                        return '<a class="edit_icon_feed Edit btnReAssignEmployeeEdit" style="margin-left:0%" onclick="EditObservationEmployee(' + full.ObservationID+',' + full.AssignedObservationID + ',' + full.DeptID + ',' + full.EmpID +',this)"></a>';
                    }
                },//8
                {
                    "render": function (data, type, full, meta) {
                        return '<a class="View" style="margin-left:0%" onclick="AuditObservationHistory(' + full.ObservationID + ',\'' + full.ObservationNum + '\')"></a>';
                    }
                },//9
            ],
        "aoColumnDefs": [{ "targets": [0, 1, 3, 5, 7], "visible": false },
            { className: "dt-body-left", "targets": [2] },
             { className: "textAlignCenter", "targets": [8,9] },
            { "orderable": false, "targets": [8,9] }],
        //
        "scrollY": "",
        "scrollX": false,
        "sAjaxSource": "@Url.Content("~/QMS/ReAssignEmployee/GetAuditWiseOpenObservationList")",
        "fnServerData": function (sSource, aoData, fnCallback) {
            aoData.push({ "name": "AuditID", "value": AuditID});
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {
                    ShowPleaseWait('hide');
                    $('.divReAssignBtns').hide();//hide Update Btn
                    $('.txaReAssigncommentsDiv').hide();//Hide the Comments TextArea Box
                   fnCallback(result);
                },
            });
        }
    });
    }
    //Response Person   load to In-Line Replace Lable to DropdownList
    function EditObservationEmployee(ObservationID, AssignedObservationID, DeptId, ResponsiblePersonID, Control) {
        //lbResponcePresion = $(Control).closest("tr").find(".lblJQGResponseName").text();
        $(Control).closest("tr").find(".lblJQGResponseName").css("display", "none");
        $(Control).closest("tr").find(".ddlResponsePerson").css("display", "true");
        $('#hdAssignedObservationID').val(AssignedObservationID);
        $('#hdResponsiblePersonID').val(ResponsiblePersonID);
        $('#hdnObservationID').val(ObservationID);
        var AuthorId = $('#hdAuthorID').val();
        ObservationEditVisibility('N');
        $.ajax({
            type: "Get",
            url: "/ReAssignEmployee/GetResponsePersonList",
            data: { ResponsiblePersonID: ResponsiblePersonID, DeptID: DeptId, AuthorId: AuthorId },
            datatype: "json",
            traditional: true,
            success: function (data) {
                $(Control).closest("tr").find(".ddlResponsePerson").html(""); // clear before appending new list
                var option = '';
                var SelectedEmpId = 0;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].Selected == true) {
                        SelectedEmpId = data[i].Value;//Selected values
                    }
                    $(Control).closest("tr").find('.ddlResponsePerson').append(
                        $('<option></option>').val(data[i].Value).html(data[i].Text));
                    $(Control).closest("tr").find(".ddlResponsePerson option[value=" + SelectedEmpId + "]").attr('selected', 'selected');
                }
                $(Control).closest("tr").find('.ddlResponsePerson').selectpicker('refresh');
            }
        });
    }
    var SaveReAssignEmployee = function () {
        errors = [];
        Comments = $('#txtObservationcomment').val().trim();
         ResponsePersonId = $(".ddlResponsePerson option:selected").val();
         AssignedObservationID = $('#hdAssignedObservationID').val();
         ResponsiblePersonID = $('#hdResponsiblePersonID').val();
        ObservationID = $('#hdnObservationID').val();

        if (ResponsePersonId == ResponsiblePersonID) {
            custAlertMsg("There are no changes to Update.", "warning");
            return false;
        }
        if (ResponsePersonId == 0) {
            errors.push("Select Hod");
        }
       if (Comments == "") {
           errors.push("Enter Comments");
       }
        if (errors.length > 0) {
            custAlertMsg(errors.join(",<br/>") + ".", "error");
            return false;
        }
        else {
            custAlertMsg("Are you sure you want to Change Response Person ?", "confirm", "ModifiedReassignResponsePerson();");
            return true;
        }
    }
    function ModifiedReassignResponsePerson() {
        var objObservationData = {
            "ResponsiblePersonID": ResponsePersonId, "Comments": Comments, "AssignedObservationID": AssignedObservationID, "ObservationID": ObservationID
        };
    $.post("@Url.Content("~/QMS/ReAssignEmployee/ModifiedReAssignObservationResponsePerson")", objObservationData,
            function (result) {
                switch (result.msgType) {
                    case "error":
                        custAlertMsg(result.msg, "error", "ReLoadObservationDataTable();");
                        break;
                    case "info":
                        custAlertMsg(result.msg, "info");
                        break;
                    case "warning":
                        custAlertMsg(result.msg, "warning");
                        break;
                    case "success":
                        custAlertMsg(result.msg, "success","ReLoadObservationDataTable();");
                        break;
                }
            }, 'json');
    }
    var CancelReAssignEmployee = function () {
        ObservationEditVisibility('Y');
        ReLoadObservationDataTable();
    }
    var ReLoadObservationDataTable = function ()
    {
        loadReAssignObservationList();
        ObservationEditVisibility('Y');

    }
    function ObservationEditVisibility(visible) {
        if (visible=="Y") {
            $(".btnReAssignEmployeeEdit").show();
            $('.divReAssignBtns').hide();
            $('.txaReAssigncommentsDiv').hide();
            $('#txtObservationcomment').val("");
        }
        else {
            $(".btnReAssignEmployeeEdit").hide();
            $('.divReAssignBtns').show();
            $('.txaReAssigncommentsDiv').show();
            $('#txtObservationcomment').val("");
        }
    }
</script>

<script>
    //For Audit History
    function AuditHistory(AuditID, AuditNum) {
        //titleAuditNumHistory = AuditNum
        //open Audit History modal
        $('#AuditID').val(AuditID);
        $('#myModalAuditHistory').modal('show');
        $('#titleAuditNumHistory').text(AuditNum);
       
    }
     //On Modal Show
    $('#myModalAuditHistory').on('shown.bs.modal', function () {
       ShowHistory('@Url.Content("~/QMS/AuditMain/GetAuditHistoryList")');
    });
    //For Observation History

    function AuditObservationHistory(ObservationID, ObservationNumber) {
        $('#hdnObservationID').val(ObservationID);
        $('#modalObservationHistory').modal('show');
        $('#titleObservation').text(ObservationNumber);
    }
</script>
