﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TemplateView.aspx.cs" Inherits="AizantIT_PharmaApp.DMS.DocumentCreator.TemplateView" %>

<%@ Register Assembly="DevExpress.Web.ASPxRichEdit.v18.1, Version=18.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web.ASPxRichEdit" TagPrefix="dx" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style>
        .dxreView {
            height: 600px !important;
            width: 100% !important;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div id="divliteral" runat="server" visible="false">
            <asp:Literal ID="literalSop1" runat="server"></asp:Literal>
        </div>
        <div id="richedit2" runat="server" visible="false">
            <dx:ASPxRichEdit ID="ASPxRichEdit1" ShowConfirmOnLosingChanges="false" Height="500px" runat="server" Settings-HorizontalRuler-Visibility="Hidden" Settings-DocumentCapabilities-Bookmarks="Disabled"
                Settings-Bookmarks-Visibility="Hidden" ReadOnly="true" WorkDirectory="~\App_Data\WorkDirectory" RibbonMode="None">
                <Settings>
                    <Behavior Copy="Disabled" Download="Disabled" Cut="Disabled" Paste="Disabled" Printing="Disabled" AcceptsTab="false" Save="Disabled" FullScreen="Enabled" />
                </Settings>
            </dx:ASPxRichEdit>
            <asp:Label ID="lblError" runat="server" Visible="false"></asp:Label>
        </div>
    </form>
</body>
</html>
