﻿@model QMS_BO.QMS_NoteTofile_BO.NoteFileBO
<style>
    .textarea_height {
        min-height: 300px !important;
    }
</style>
@using (Html.BeginForm())
{
    <!--------Start Create NoteToFile pop up-------------->
    <div id="myModalCreate" class="modal department qms_footer fade" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg col-lg-12" style="max-width:85%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Note to file</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body  Modalpopup-Scroll style-3">
                    <div class="col-12 padding-none float-left">
                        <div class="col-4 float-left ">
                            <label class=" custom_label col-form-label">Department<span class="mandatoryStar">*</span></label>
                            @Html.DropDownList("Department", null, htmlAttributes: new { @id = "Department", @class = " col-12  padding-none  drop_down selectpicker", @onchange = "GetNoteFileNo();", @autofocus = "autofocus" })
                        </div>
                        <div class="col-4 float-left">
                            <label class=" custom_label col-form-label">Note to file Number</label>
                            @Html.EditorFor(model => model.NoteToFileNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", maxlength = 20 } })
                        </div>
                        <div class="col-4 float-left ">
                            <label for="" class="custom_label col-form-label">Created Date</label>
                            @Html.EditorFor(model => model.DocCreateDate, new { htmlAttributes = new { @class = "form-control ", name = "Create_Date", @Value = @DateTime.Now.ToString("dd MMM yyyy"), @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="col-12 padding-none float-left">
                        <div class="col-4 float-left ">
                            <label class=" custom_label col-form-label"> Document Type<span class="mandatoryStar">*</span></label>
                            @Html.DropDownList("DocumentType", null, htmlAttributes: new { @id = "DocumentType", @class = " col-12  padding-none selectpicker drop_down ", size = 5, @onchange = "GetReferenceNumber(2);" })
                        </div>
                        <div class="col-4 float-left " id="divddlRef">
                            <label class=" custom_label col-form-label">Reference Document No.<span class="mandatoryStar">*</span></label>
                            @Html.DropDownList("ReferenceNumber", new SelectList(Enumerable.Empty<SelectListItem>()), "Select", htmlAttributes: new { id = "ReferenceNumber", @class = " col-12  padding-none  drop_down selectpicker", @onchange = "GetDocumentName();" })
                        </div>
                        <!--Enter Reference Number-->
                        <div class="col-4 float-left " id="divRefrenceNumber" style="display:none">
                            <label class=" custom_label col-form-label required"> Reference Document No.</label>
                            @Html.EditorFor(Model => Model.ReferenceNumberEnter, new { htmlAttributes = new { @class = "form-control ", name = "ReferenceNumberEdit", @autocomplete = "off", maxlength = 50 } })
                        </div>
                        <!--Document Name auto fill-->
                        <div class="col-12 float-left " id="divdocNameReadOnly">
                            <label class=" custom_label col-form-label"> Document Name<span class="mandatoryStar">*</span></label>
                            @Html.TextAreaFor(model => model.DocTitle, new { @rows = "2", name = "DocTitle", @disabled = "disabled", maxlength = 500 })
                        </div>
                        <!--Enter Document Name-->
                        <div class="col-12 float-left " id="divdocName" style="display:none">
                            <label class=" custom_label col-form-label"> Document Name<span class="mandatoryStar">*</span></label>
                            @Html.TextArea("DocTitle1", new { @rows = "2", @onkeypress = "return RestrictStarFrontSlashSquareBraces(event)", @onpaste = "return ValidateStarFrontSlashSquareBracesOnPaste()", maxlength = 500 })
                        </div>
                    </div>
                    <div class="col-12 float-left ">
                        <label class=" custom_label col-form-label">Description<span class="mandatoryStar">*</span></label>
                        @Html.TextAreaFor(model => model.NTF_Description, new { @rows = "9", placeholder = "Enter Description", maxlength = 3000 })
                    </div>
                    <div class="col-12 float-left ">
                        <label class=" custom_label col-form-label required">Initiator Comments</label>
                        @Html.TextAreaFor(model => model.InitiatorComments, new { @cols = 150, @rows = "4", maxlength = 1000 })
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="col-12 float-left">
                        <div class="col-6  float-left padding-right_div">
                            <label class="custom_label col-form-label "> Assign to HOD :<span class="mandatoryStar">*</span> &nbsp;</label>
                            @Html.DropDownList("HOD", new SelectList(Enumerable.Empty<SelectListItem>()), "Select", htmlAttributes: new { @id = "HOD", @class = " col-6  padding-none  drop_down selectpicker" })
                        </div>
                        <div class=" float-right padding-none">
                            <div class="col-12 padding-right_div">
                                <button type="button" id="submit_Btn" class="btn btn-signup_popup" onclick="AddNoteFile()">Submit</button>
                                <button type="button" class="btn btn-cancel_popup" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------End Create NoteToFile Classification-------------->
}
<!--call Electronic Signature -->
@Html.Partial("_ElectronicPartialView")

<!--Submitted NoteToFile to DataBase-->
<script>
    function Reload() {
        ElectronicSignPopupClose();
        $("#myModalCreate").modal('hide');
        $("#tblNTF_List").DataTable().ajax.reload();
    }
    var NoteFileNumber;
    var Department;
    var CreateDate;
    var DocumentType;
    var VersionID;
    var DocName;
    var Description;
    var HOD;
    var Comments;
        function AddNoteFile() {
        errors = [];
         NoteFileNumber = $("#NoteToFileNo").val().trim();
         Department = $("#Department :selected").val();
        if (Department == "" || Department == 0) {
            errors.push("Select Department.");
        }
         CreateDate = $("#DocCreateDate").val().trim();
        if (CreateDate == "") {
            errors.push("Enter Date.");
        }
         DocumentType = $("#DocumentType :selected").val();
        if (DocumentType=="undefined"||DocumentType == "" || DocumentType == -1) {
            errors.push("Select Document Type.");
        }
        if (DocumentType != 0) {
             VersionID = $("#ReferenceNumber").val();
            if (VersionID == "" || VersionID == 0) {
                errors.push("Select Reference Document No.");
            }
             DocName = $("#DocTitle").val().trim();
            if (DocName == "") {
                errors.push("Select Document Name.");
            }
        }
        //Documenttype is Others
        else {
             VersionID = $("#ReferenceNumberEnter").val().trim();
            if (VersionID == "") {
                errors.push("Enter Reference Document No.");
            }
             DocName = $("#DocTitle1").val().trim();
            if (DocName == "") {
                errors.push("Enter Document Name.");
            }
        }
         Description = $("#NTF_Description").val().trim();
        if (Description == "") {
            errors.push("Enter Description.");
         }
        Comments = $("#InitiatorComments").val().trim();
        if (Comments == "") {
            errors.push("Enter Initiator Comments.");
        }
         HOD = $("#HOD :selected").val();
        if (HOD == "" || HOD == 0) {
            errors.push("Select Assign To HOD.");
        }
        
        if (NoteFileNumber != "" && HOD != "" && HOD != 0 && CreateDate != "" && Description != "" && VersionID != "" && VersionID != 0 && Department != "" && DocName != "" && Comments != "") {
            ElectronicSignPopupOpen('NTFCreateSubmitCode');
        } else {

            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        }
        function NTFCreateSubmitCode() {
            errors = [];
            var change = {
                "NoteToFileNo": NoteFileNumber, "DocCreateDate": CreateDate, "DeptID": Department, "versionID": VersionID,
                "NTF_Description": Description, "HOD_EmpID": HOD, "DocumentTypeID": DocumentType, "InitiatorComments": Comments, "DocTitle": DocName
            };
            //For Restricting multiple clicks
            ShowPleaseWait('show');
            $.post("@Url.Content("~/QMS/NoteToFile/Create")", change,
                function (aiz) {
                    //For Restricting multiple clicks
                    ShowPleaseWait('hide');
                    if (aiz.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (aiz.hasError == false) {
                            ElectronicSignPopupClose();
                            custAlertMsg("Note To File <span class='sucess_info_msg'>" + aiz.data + "</span> Created Successfully.", "success", "Reload();");
                            return false;
                        } else {
                            custAlertMsg(aiz.data, "error");
                            return false;
                        }
                    }
                }, 'json');
        }
</script>
<!--End-->
<!--Select picker-->
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>

<!--Bind AutoGenerated NoteToFile number-->
<script>
    function GetNoteFileNo() {
        var DeptID = $('#Department').val();
        var errors = [];
        //For Reloading Document Type Empty
        //When selecting Department then id is 1
        GetReferenceNumber(1);
        $("#DocTitle").val("");
        $("#DocumentType").val("-1");
        $("#ReferenceNumber").val("");
        $("#DocumentType").selectpicker('refresh');
        $("#ReferenceNumber").selectpicker('refresh');
        if (DeptID != "0") {
            $.ajax({
                url:  '@Url.Content("~/QMS/NoteToFile/NoteFileNo")',
                type: "GET",
                dataType: "JSON",
                data: { DeptID: DeptID },
                success: function (NTFile) {
                    if (NTFile.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (NTFile.hasError == false) {
                            if (NTFile.data == 1) {
                                custAlertMsg('Please contact admin,System Masters not available.', "error");
                                return false;
                            } else {
                                $("#NoteToFileNo").val(NTFile.data); // clear before appending new list
                            }
                        }
                        else {
                            errors.push(NTFile.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                    }
                }
            });
        } else {
            GetReferenceNumber(1);
            $("#NoteToFileNo").val("");
            $("#DocTitle").val("");
            $("#DocumentType").val("-1");
            $("#ReferenceNumber").val("");
            $("#DocumentType").selectpicker('refresh');
            $("#ReferenceNumber").selectpicker('refresh');
        }
        //Bind Assigned Hod's
        $.ajax({
            url:  '@Url.Content("~/QMS/QMSCommon/BindHOD")',
            type: "Post",
            dataType: "JSON",
            data: { DeptID: DeptID },
            success: function (impListHOD) {
                if (impListHOD.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    if (impListHOD.hasError == true) {
                        custAlertMsg(impListHOD.data, "error");
                        return false;
                    }
                    else {
                        var numbers = impListHOD;
                        var option = '';
                        $("#HOD").html(""); // clear before appending new list
                        for (var i = 0; i < numbers.length; i++) {
                            $("#HOD").append(
                                $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                        }
                        $('#HOD').selectpicker('refresh');
                    }
                }
            }
        });
    }
</script>

<!--Bind Document Number and Version id-->
<script>
    //For Binding DocumentReferenceNo dropdown based on select DocumentType
    function GetReferenceNumber(id) {
        errors = [];
        var DeptID = $('#Department').val();
        var DocumentTypeID = $('#DocumentType').val();
        if (DeptID != "0") {
            //Document typeid id "others"
            if (DocumentTypeID == "0") {
                $("#divdocName").show();
                $("#divRefrenceNumber").show();
                $("#divdocNameReadOnly").hide();
                $("#divddlRef").hide();
                $("#ReferenceNumberEnter").val("");
            }
            if (DocumentTypeID > "0" || DocumentTypeID == "-1") {
                $("#divdocName").hide();
                $("#divRefrenceNumber").hide();
                $("#divdocNameReadOnly").show();
                $("#divddlRef").show();
                $("#DocTitle").val("");
                $("#DocTitle1").val("");
                $.ajax({
                    url:  '@Url.Content("~/QMS/QMSCommon/BindReferenceNo")',
                    type: "post",
                    dataType: "JSON",
                    data: { DeptID: DeptID, DocumentTypeID: DocumentTypeID },
                    success: function (impList1) {
                        if (impList1.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else {
                            if (impList1.hasError == true) {
                                errors.push(impList1.data);
                                custAlertMsg(errors.join("<br/>"), "error");
                                return false;
                            }
                            else {
                                var numbers = impList1;
                                var option = '';
                                $("#ReferenceNumber").html(""); // clear before appending new list
                                for (var i = 0; i < numbers.length; i++) {
                                    $("#ReferenceNumber").append(
                                        $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                                }
                                $('#ReferenceNumber').selectpicker('refresh');
                            }
                        }
                    }
                });
            }
        }
        else {
            $("#DocumentType").val("-1");
            $("#DocTitle").val("");
            $("#ReferenceNumber").val("0");
            $('#ReferenceNumber').selectpicker('refresh');
            $.ajax({
                url:  '@Url.Content("~/QMS/QMSCommon/BindReferenceNo")',
                type: "post",
                dataType: "JSON",
                data: { DeptID: DeptID, DocumentTypeID: DocumentTypeID },
                success: function (impList1) {
                    if (impList1.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (impList1.hasError == true) {
                            errors.push(impList1.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                        else {
                            var numbers = impList1;
                            var option = '';
                            $("#ReferenceNumber").html(""); // clear before appending new list
                            for (var i = 0; i < numbers.length; i++) {
                                $("#ReferenceNumber").append(
                                    $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                            }
                            $('#ReferenceNumber').selectpicker('refresh');
                        }
                    }
                }
            });
            //When selecting Document Type without selecting documentType then id is 2
            if (id == 2) {
            if (DeptID == "0") {
                errors.push("select department.");
                custAlertMsg(errors.join("<br/>"), "error");
            }
            return false;
            }
        }
    }
</script>

<!--Bind Document Name when select Referenced number-->
<script>
    function GetDocumentName() {
        var DeptID = $('#Department').val();
        var versionID = $('#ReferenceNumber').val();
        var DocumentTypeID = $('#DocumentType').val();
        if (versionID != "") {
            $.ajax({
                url:  '@Url.Content("~/QMS/QMSCommon/BindDocumentName")',
                type: "GET",
                dataType: "JSON",
                data: { versionID: versionID, DocumentTypeID: DocumentTypeID },
                success: function (BindDocname) {
                    if (BindDocname.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (BindDocname.hasError == true) {
                            custAlertMsg(BindDocname.data, "error");
                            return false;
                        }
                        else {
                            $("#DocTitle").val(BindDocname.data); 
                        }
                    }
                },
            });
        }
    }
</script>




