﻿@model QMS_BO.QMS_NoteTofile_BO.NoteFileBO
<style>
    .textarea_height {
        min-height: 300px !important;
    }
</style>
@using (Html.BeginForm())
{
    <!--------Start Update Document Report pop up-------------->
    <div id="myModalNTFDetails" class="modal department qms_footer fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg col-lg-12" style="max-width:85%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> <label class=" custom_label col-form-label" id="lblNTFName"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body Modalpopup-Scroll">
                    <div class="col-12 padding-none float-left">
                        <div class="col-4 float-left ">
                            <label class=" custom_label col-form-label"> Department</label>
                            @Html.EditorFor(Model => Model.DeptName, new { htmlAttributes = new { @id = "Department", @class = "form-control", @readonly = "readonly", @autofocus = "autofocus" } })
                        </div>
                        <div class="col-4 float-left">
                            <label class=" custom_label col-form-label"> Note to file Number</label>
                            @Html.EditorFor(model => model.NoteToFileNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="col-4 float-left ">
                            <label for="" class="custom_label col-form-label">Created Date</label>
                            @Html.EditorFor(model => model.DocCreateDate, new { htmlAttributes = new { @class = "form-control ", name = "Create_Date", @readonly = "readonly" } })
                        </div>
                    </div>
                    <!-- dvddlHide used in Capa List-->
                    <div class="col-12 padding-none float-left" id="dvddlHide">
                        <div class="col-4 float-left ">
                            <label class=" custom_label col-form-label required"> Document Type</label>
                            @Html.DropDownList("DocumentType", null, htmlAttributes: new { @id = "DocumentType", @class = "col-12  padding-none  drop_down selectpicker", @onchange = "GetReferenceNumber();" })
                        </div>
                        <div class="col-4 float-left " id="divddlRef">
                            <label class=" custom_label col-form-label required">Reference Document No.</label>
                            @Html.DropDownList("ReferenceNumber", null, "Select", htmlAttributes: new { @id = "ReferenceNumber", @class = "col-12  padding-none  drop_down selectpicker", @onchange = "GetDocumentName();" })
                        </div>
                        <!--Enter Reference Number-->
                        <div class="col-4 float-left " id="divRefrenceNumber" style="display:none">
                            <label class=" custom_label col-form-label required"> Reference Document No. </label>
                            @Html.EditorFor(Model => Model.ReferenceNumberEnter, new { htmlAttributes = new { @class = "form-control ", name = "ReferenceNumberEdit", @autocomplete = "off", maxlength = 50 } })
                        </div>
                        <!--Document Name auto fill-->
                        <div class="col-12 float-left " id="divdocNameReadOnly">
                            <label class=" custom_label col-form-label"> Document Name</label>
                            @Html.TextAreaFor(model => model.DocTitle, new { @class = "", @rows = "2", name = "DocTitle", @disabled = "disabled", maxlength = 500 })
                        </div>
                        <!--Enter Document Name-->
                        <div class="col-12 float-left " id="divdocName" style="display:none">
                            <label class=" custom_label col-form-label required"> Document Name </label>
                            @Html.TextArea("DocTitle1", new { @class = " ", @rows = "2", maxlength = 500 })
                        </div>
                    </div>
                    <div class="col-12 float-left ">
                        <label class=" custom_label col-form-label required">Description</label>
                        @Html.TextAreaFor(model => model.NTF_Description, new { @rows = "9", placeholder = "Enter Description", maxlength = 3000 })
                    </div>
                    <div class="col-12 float-left " id="divHodComments">
                        @if (Model.CurrentStatus == "4")
                        {           //Read only
                            <label class=" custom_label col-form-label">HOD Comments</label>
                            @Html.TextAreaFor(model => model.HODComments, new { @rows = "3", @class = " ", maxlength = 1000 })
                        }
                    </div>
                    <!--dvinitiatorComments this div hide in Capa list-->
                    <div class="col-12 float-left " id="dvinitiatorComments">
                        <label class=" custom_label col-form-label required">Initiator Comments</label>
                        @Html.TextAreaFor(model => model.InitiatorComments, new { @class = " ", @rows = "3", maxlength = 1000 })
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-6  float-left top" id="dvddlHoddropdown">
                        <label class="custom_label form-label float-left required" id="lblhod">Assign To HOD: </label>
                        @Html.DropDownList("HOD", null, "Select", htmlAttributes: new { @id = "HOD", @class = "col-7  padding-none  drop_down selectpicker" })
                    </div>
                    <div class="col-6 padding-none top">
                        <div class=" float-right ">
                            <button type="button" id="submit_Btn" class="btn btn-signup_popup" onclick="AddNoteFile()">Update</button>
                            <button type="button" id="btnCloseNTF" class="btn btn-cancel_popup" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------End Update Document Report Classification-------------->
}
<!--call Electronic Signature -->
@Html.Partial("_ElectronicPartialView")
<!---Div Hide and Show--->
<script>
        $(document).ready(function () {
            var v1 =@Model.DocumentTypeID;
        if (v1 == "0") {
            $("#divddlRef").hide();
            $("#divdocName").show();
            $("#divRefrenceNumber").show();
            $("#divdocNameReadOnly").hide();
            $("#ReferenceNumberEnter").val();
                    }
        else {
            $("#divddlRef").show();
            $("#divdocName").hide();
            $("#divRefrenceNumber").hide();
            $("#divdocNameReadOnly").show();
                    }
    });
</script>
<!---End Div Hide and Show--->
<!--Update NoteToFile-->
<script>
        function Reload() {
            $("#myModalNTFDetails").modal('hide');
            $("#tblNTF_List").DataTable().ajax.reload();
        }
        var NoteFileNumber;
        var Department;
        var CreateDate;
        var DocumentType;
        var VersionID;
        var DocName;
        var Description;
        var HOD;
        var Comment;
        function AddNoteFile() {
                errors = [];
                 NoteFileNumber = $("#NoteToFileNo").val().trim();
            if (NoteFileNumber == "")
            {
                errors.push("Enter Note To File Number.");
            }
             CreateDate = $("#DocCreateDate").val().trim();
             DocumentType = $("#DocumentType :selected").val();
             if (DocumentType == "undefined" || DocumentType == "" || DocumentType == -1) {
                 errors.push("Select Document Type.");
             }
             if (DocumentType != 0) {
                 VersionID = $("#ReferenceNumber").val();
                 if (VersionID == "" || VersionID == 0) {
                     errors.push("Select Reference Document No.");
                 }
                 DocName = $("#DocTitle").val().trim();
                 if (DocName == "") {
                     errors.push("Select Document Name.");
                 }
             }
             //Documenttype is Others
             else {
                 VersionID = $("#ReferenceNumberEnter").val().trim();
                 if (VersionID == "") {
                     errors.push("Enter Reference Document No.");
                 }
                 DocName = $("#DocTitle1").val().trim();
                 if (DocName == "") {
                     errors.push("Enter Document Name.");
                 }
             }
            //if (DocumentType == "-1") {
            //    errors.push("Select Document Type.");
            //}
            //if (DocumentType != 0) {
            //     VersionID = $("#ReferenceNumber").val();
            //    if (VersionID == "") {
            //        errors.push("Enter Reference Document No.");
            //    }
            //     DocName = $("#DocTitle").val().trim();
            //    if (DocName == "") {
            //        errors.push("Enter Document Name.");
            //    }
            //}
            //else {
            //     VersionID = $("#ReferenceNumberEnter").val().trim();
            //    if (VersionID == "") {
            //        errors.push("Enter Reference Document No.");
            //    }
            //     DocName = $("#DocTitle1").val().trim();
            //    if (DocName == "") {
            //        errors.push("Enter Document Number.");
            //    }
            //}
             Description = $("#NTF_Description").val().trim();
                if (Description == "")
                {
                    errors.push("Enter description.");
                }
                 Comment = $("#InitiatorComments").val().trim();
                if (Comment == "") {
                   errors.push("Enter Initiator Comment.");
                }
                 HOD = $("#HOD :selected").val();
                if (HOD == "") {
                    errors.push("select HOD.");
                 }
                if (NoteFileNumber != "" && HOD != "" && CreateDate != "" && Description != "" && VersionID != "" && Department != "" && DocName != "" && Comment!="")
                {
                    ElectronicSignPopupOpen('NTFUpdateCode');
            } else {
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
            }
            }
            function NTFUpdateCode() {
                ShowPleaseWait('show');
        errors = [];
        var change = {
            "NoteToFileNo": NoteFileNumber, "DocCreateDate": CreateDate, "DeptID": Department, "DocTitle": DocName,
            "NTF_Description": Description, "HOD_EmpID": HOD, "NF_ID":@Model.NF_ID,"InitiatorComments": Comment, "DocumentTypeID": DocumentType, "VersionID": VersionID
        };
        $.post("@Url.Content("~/QMS/NoteToFile/UpdateNTF")", change,
            function (aiz) {
                ShowPleaseWait('hide');
                       if (aiz.msgRedirecttoLoginPage) //Singal Instance
                       {
                           window.location.href = '/UserLogin.aspx';
                       } 
                       else{
                           if (aiz.hasError == false) {
                               errors.push("Note To File <span class='sucess_info_msg'>" + NoteFileNumber+ "</span> Updated Successfully.");
                               ElectronicSignPopupClose();
                               custAlertMsg(errors.join("<br/>"), "success", "RevertReload();");
                               return false;
                           } else {
                               errors.push(aiz.data);
                               custAlertMsg(errors.join("<br/>"), "error");

                               return false;
                           }
                       }
                   }, 'json');
    }
</script>
<!--Update NoteToFile-->
<!--Select picker Css-->
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size:7
        });
    });
</script>
<!--DatePicker-->
<script>
    $(function () {
        var date = new Date();
        date.setDate(date.getDate());
        $('.datetimepicker').datetimepicker({
            startDate: date,
            format: 'dd/mm/yyyy',
            autoclose: true,
        });
    });
</script>

<!--Bind Document Number and Version id-->
<script>
    function GetReferenceNumber() {
        var DeptID =  @Model.DeptID;
        var DocumentTypeID = $('#DocumentType').val();
        if (DeptID != "0") {
            if (DocumentTypeID == "0") {
                $("#divdocName").show();
                $("#divRefrenceNumber").show();
                $("#divddlRef").hide();
                $("#divdocNameReadOnly").hide();
                $("#ReferenceNumberEnter").val("");
                $("#DocTitle1").val("");
            }
            if (DocumentTypeID > "0" || DocumentTypeID == "-1") {
                $("#divdocName").hide();
                $("#divRefrenceNumber").hide();
                $("#divddlRef").show();
                $("#divdocNameReadOnly").show();
                $("#DocTitle").val("");
                $("#DocTitle1").val("");
                $.ajax({
                    url: '@Url.Content("~/QMS/QMSCommon/BindReferenceNo")',
                    type: "post",
                    dataType: "JSON",
                    data: { DeptID: DeptID, DocumentTypeID: DocumentTypeID },
                    success: function (impList1) {
                        if (impList1.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else {
                            if (impList1.hasError == true) {
                                custAlertMsg(impList1.data, "error");
                                return false;
                            }
                            else {
                                var numbers = impList1;
                                var option = '';
                                $("#ReferenceNumber").html(""); // clear before appending new list
                                for (var i = 0; i < numbers.length; i++) {
                                    $("#ReferenceNumber").append(
                                        $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                                }
                                $('#ReferenceNumber').selectpicker('refresh');
                            }
                        }
                    }
                });
            }
        }
        else {
            $("#DocumentType").val("0");
            $("#ReferenceNumber").val("0");
            $("#DocTitle").val("");
            $.ajax({
                url: '@Url.Content("~/QMS/QMSCommon/BindReferenceNo")',
                type: "post",
                dataType: "JSON",
                data: { DeptID: DeptID, DocumentTypeID: DocumentTypeID },
                success: function (impList1) {
                    if (impList1.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (impList1.hasError == true) {
                            custAlertMsg(impList1.data, "error");
                            return false;
                        }
                        else {
                            var numbers = impList1;
                            var option = '';
                            $("#ReferenceNumber").html(""); // clear before appending new list
                            for (var i = 0; i < numbers.length; i++) {
                                $("#ReferenceNumber").append(
                                    $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                            }
                            $('#ReferenceNumber').selectpicker('refresh');
                        }
                    }
                }
            });
            errors.push("select department.");
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
</script>

<!--Bind Document Name when select Referenced number-->
<script>
    function GetDocumentName() {
        var DeptID = $('#Department').val();
        var versionID = $('#ReferenceNumber').val();
        var DocumentTypeID = $('#DocumentType').val();
        if (versionID != "") {
            $.ajax({
                url: '@Url.Content("~/QMS/QMSCommon/BindDocumentName")',
                type: "GET",
                dataType: "JSON",
                data: { versionID: versionID, DocumentTypeID: DocumentTypeID },
                success: function (BindDocname) {
                    if (BindDocname.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (BindDocname.hasError == true) {
                            custAlertMsg(BindDocname.data, "error");
                            return false;
                        }
                        else {
                            $("#DocTitle").val(BindDocname.data); // clear before appending new list
                        }
                    }
                }
            });
        }
    }
</script>
<script>
    function RevertReload() {
        $("#myModalNTFDetails").modal('hide');
        $("#tblNTF_List").DataTable().ajax.reload();
    }
</script>
<script>
    $("#divHodComments").find("*").prop("disabled", true);
</script>