﻿@model QMS_BO.QMS_NoteTofile_BO.NoteFileBO
<style>
    .Modalpopup-ScrollNoteToFile {
        max-height: 600px;
        overflow-y: auto;
    }
</style>
@using (Html.BeginForm())
{
    <div id='OpenDilogPartial'></div>
    <div id='CAPADivLoad'></div>
    <!--------Start View Note To File Report pop up-------------->
    <div id="myModalHOD" class="modal department fade" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="max-width:80%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Note to file View (  @Model.NoteToFileNo  ) </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body  Modalpopup-ScrollNoteToFile style-3">
                    <div id="accordionConent" class="accordion">
                        <div class="card mb-0 grid_panel">
                            <div class="card-header header_col_sub " data-toggle="collapse" href="#collapseOneSub">
                                <a class="card-title collapsed ">
                                    Note to file View
                                </a>
                            </div>
                            <div id="collapseOneSub" class="collapse show " data-parent="">
                                <div class="card-body col-12 float-left ">
                                    <div class="col-12 float-left info_bg ">
                                        <div class="col-6 float-left custom_text_view ">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Note to file Number</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.NoteToFileNo, new { htmlAttributes = new { @class = "edit_textl", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view">
                                            <label class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Department</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.DeptName, new { htmlAttributes = new { @id = "DeptName", @class = " edit_text" } })
                                            </div>
                                        </div>
                                        <div class="col-6 float-left custom_text_view">
                                            <label for="" class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Created Date</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.DocCreateDate, new { htmlAttributes = new { @class = "edit_text ", name = "Create_Date" } })
                                            </div>
                                        </div>
                                        <!--Document Type-->
                                        <div class="col-6 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Document Type</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.DocumentTypeName, new { htmlAttributes = new { @class = "edit_text ", name = "DocumentTypeName" } })
                                            </div>
                                        </div>
                                        <!--Document Reference Number-->
                                        <div class="col-12 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Reference Document No.</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.ReferenceNumber, new { htmlAttributes = new { @class = "edit_text ", name = "ReferenceNumber" } })
                                            </div>
                                        </div>
                                        <!--Document Name-->
                                        <div class="col-12 float-left custom_text_view">
                                            <label class="custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Document Name </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(Model => Model.DocTitle, new { htmlAttributes = new { @class = "edit_text ", name = "DocTitle" } })
                                            </div>
                                        </div>
                                        <div class="col-12 float-left custom_text_view">
                                            <label class="custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Description </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.NTF_Description, new { htmlAttributes = new { @class = "edit_text ", name = "NTF_Description" } })
                                            </div>
                                        </div>
                                        <div class="col-12 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2" id="lblLatestComments"> </label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.LatestComments, new { htmlAttributes = new { @class = "edit_text ", name = "InitiatorComments" } })
                                            </div>
                                        </div>
                                        <div class="col-12 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Is Capa Required</label>
                                            <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.capaRequiredorNot, new { htmlAttributes = new { @class = "edit_text ", name = "capaRequiredorNot" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="hideHodCapaList" class=" col-12 padding-none top">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title"> Created CAPA's</div>
                        </div>
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  grid_assgin">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none top bottom" style="min-height:0px !important">
                                @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_EventsCAPAList.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="col-12 float-left  padding-none ">
                        @if (Model.CurrentStatus == "6" || Model.CurrentStatus == "11" || @Model.CurrentStatus == "19")
                        {
                            <label class=" custom_label col-form-label required">QA Comments</label>
                            @Html.TextAreaFor(model => model.QAComments, new { @class = " ", @cols = 150, @rows = "3", maxlength = 500, @id = "QAComments", })
                        }
                        @if (Model.CurrentStatus == "9" || Model.CurrentStatus == "20")
                        {
                            <label class=" custom_label col-form-label required">Head QA Comments</label>
                            @Html.TextAreaFor(model => model.HQAComments, new { @id = "HQAComments", @class = "form-control ", @rows = "3", maxlength = 500 })
                        }
                    </div>
                    <div class="col-12 float-left padding-none">
                        @if (Model.CurrentStatus == "11")
                        {
                            <label class=" custom_label col-form-label required">HeadQA Comments</label>
                            @Html.TextAreaFor(model => model.RevertComments, new { @readonly = "readonly", @rows = "3", @class = "form-control ", maxlength = 500 })
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-6 float-left padding-left_div">
                        @if (Model.CurrentStatus == "6" || Model.CurrentStatus == "11" || @Model.CurrentStatus == "19")
                        {
                            <label class="custom_label col-form-label float-left">
                                Assign to Head QA :<span class="mandatoryStar">*</span>
                            </label>
                            @Html.DropDownList("AssignHeadQA", null, "Select", htmlAttributes: new { @id = "AssignHeadQA", @class = " col-6  padding-none  drop_down selectpicker" })
                        }
                    </div>
                    <div class="col-6 padding-none">
                        <div class=" float-right top">
                            <button type="button" id="btnVerification" class="btn btn-signup_popup" style="display:none" onclick="Verification();">Verification</button>
                            <button type="button" id="submit_Btn" class="btn btn-signup_popup" onclick="ApproveQA();">Approve</button>
                            @if (Model.CurrentStatus == "6" || Model.CurrentStatus == "9" || Model.CurrentStatus == "19" || Model.CurrentStatus == "20")
                            {
                                <button type="button" id="revertBtn" class="btn btn-revert_popup " onclick="Revert();">Revert</button>

                                <button type="button" id="rejectBtn" class="btn btn-reject" onclick="Reject();">Reject</button>
                            }
                            <button type="button" id="Cancel_btn" class="btn btn-cancel_popup" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END -->

    <!--Revert Modelpopup-->
    <div id="MyModelRevert" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content padding-none">
                <div class="modal-header">
                    <h4 class="modal-title">Whom to Revert</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            <div class="col-12 padding-none">
                                @if (Model.CurrentStatus == "6" || Model.CurrentStatus == "19" || Model.CurrentStatus == "9" || Model.CurrentStatus == "20")
                                {
                                    @ViewBag.HODEmployeeName
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="footer">
                    <button type="button" class="btn btn-signup_popup top" id="btnAProve" onclick="RevertInitiator();">Submit</button>
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup top" tabindex="10">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit-->
}
<!--call Electronic Signature -->
@Html.Partial("_ElectronicPartialView")
@Html.Partial("~/Areas/QMS/Views/Shared/QMS/_CAPADetailsView.cshtml")
<!--Capa Required or not-->
<script type="text/javascript">
        var ISCapa = "@Model.capaRequiredorNot"
    if(ISCapa=="NO")
        {  $("#hideHodCapaList").hide();
        }
        if(ISCapa=="YES")
        {
            $("#hideHodCapaList").show();

            $('#myModalHOD').on('shown.bs.modal', function (e) {
                hideNtfColumns = [1,9, 10];
                GetEventsCAPAList('@Model.NF_ID', 4, hideNtfColumns,0);//this method existing in Shared/QMS/_EventsCAPAList folder
            });
        }
</script>

<!--Select picker Css-->
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>

<!--Revert and Reload -->
<script>
    function RevertReloadQA() {
        $("#myModalHOD").modal('hide');
        $("#tblNTF_List").DataTable().ajax.reload();
    }
</script>

<!--Qa Reject The NoteToFile-->
<script>
    function Reject() {
        errors = [];
        var v1 = "@Model.CurrentStatus";
        if (v1 == "9" || v1 == "20") {
            var value = "HQA";
            var comment = $("#HQAComments").val().trim();
        }
        if (v1 == "6" || v1 == "19") {
            var value = "QA";
            var comment = $("#QAComments").val().trim();
        }
        if (comment == "") {
            errors.push("Enter " + value + " Comments.");
        }
        if (comment != "") {
            ElectronicSignPopupOpen('NoteToFileQARevertedAction');
        }
        else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    function NoteToFileQARevertedAction() {
        errors = [];
        var HOD = "R";
        var v1 = "@Model.CurrentStatus";
        var Empid = "@TempData["EmpID"]";
        var Roleid = "";
          if (v1 == "9" || v1 == "20")
          {
              Roleid = 27;
              var comment = $("#HQAComments").val().trim();
        }
          if (v1 == "6" || v1 == "19")//6 HOD approve. 19 HOD Modified 
          {
              Roleid = 26;
              var comment = $("#QAComments").val().trim();
          }
          //For Restricting multiple clicks
          ShowPleaseWait('show');
             $.ajax({
                url: '@Url.Content("~/QMS/NoteToFile/RevertAndRejectNoteToFileAction")',
                data: {
                    'NF_ID':@Model.NF_ID,'CurrentStatus':@Model.CurrentStatus,'PreparedBy': Empid, 'Status': HOD,
                    "HQAComments": comment, "QAComments": comment, "RoleID": Roleid,
                },
                type: 'Post',
                success: function (JsonResultNoteToFile) {
                    //For Restricting multiple clicks
                    ShowPleaseWait('hide');
                    if (JsonResultNoteToFile.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (JsonResultNoteToFile.hasError == false) {
                            errors.push("Note to file <span class='sucess_info_msg'> @Model.NoteToFileNo </span>  Rejected Successfully.");
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            return false;
                        }
                        else {
                            errors.push(JsonResultNoteToFile.data);
                            custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                            return false;
                        }
                    }
                }
            });
    }
</script>

<!-- HOD Revert Action  and Approve -->
<script>
    function Revert() {
        errors = [];
        var v1 = "@Model.CurrentStatus";
        if (v1 == "9" || v1== "20") {
            var QAcomment = $("#HQAComments").val().trim();
            var HOD = "HQA";
        }
        if (v1 == "6"|| v1== "19") {
            var HOD = "QA";
            var QAcomment = $("#QAComments").val().trim();
        }
        if (QAcomment == "") {
            errors.push("Enter " + HOD + " Comments.");
        }
        if (QAcomment != "") {
                //Open Whom To Revert Popup
                $('#MyModelRevert').modal('show');
        }
        else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }

    function RevertInitiator() {
        errors = [];
        var v1 = "@Model.CurrentStatus";
        if (v1 == "9" || v1 == "20") {
            var QAcomment = $("#HQAComments").val().trim();
            var HOD = "HQA";
        }
        if (v1 == "6" || v1 == "19") {
            var HOD = "QA";
            var QAcomment = $("#QAComments").val().trim();
        }
        if (QAcomment == "") {
            errors.push("Enter " + HOD + " Comments.");
        }
        var SelectEmp = $("#SelectEmployee :selected").val();
        if (SelectEmp == "") {
            errors.push("Select  employee.");
        }
        if (SelectEmp != "" && QAcomment != "") {
            ElectronicSignPopupOpen('QAReverteNoteToFile');
        }
        else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    function QAReverteNoteToFile() {
         errors = [];
         var Empid = "@TempData["EmpID"]";
         var SelectEmp = 25;//Revert to Hod 25 means HOD Role
        var v1 = "@Model.CurrentStatus";
        if (v1 == "9" || v1 == "20") {
            var QAcomment = $("#HQAComments").val().trim();
            var HOD = "HQA";
        }
        if (v1 == "6" || v1 == "19") {
            var HOD = "QA";
            var QAcomment = $("#QAComments").val().trim();
        }
        //For Restricting multiple clicks
        ShowPleaseWait('show');
           $.ajax({
               url: '@Url.Content("~/QMS/NoteToFile/RevertAndRejectNoteToFileAction")',
                data: {
                    'NF_ID':@Model.NF_ID,'CurrentStatus':@Model.CurrentStatus,'PreparedBy': Empid, 'Status': HOD,
                     "QAComments": QAcomment,"SelectEmployee": SelectEmp
                },
                type: 'Post',
                success: function (JsonResultNoteToFile) {
                    //For Restricting multiple clicks
                    ShowPleaseWait('hide');
                    if (JsonResultNoteToFile.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (JsonResultNoteToFile.hasError == false) {
                            errors.push("Note to file <span class='sucess_info_msg'> @Model.NoteToFileNo </span> Reverted Successfully.");
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            return false;
                        }
                        else {
                            errors.push(JsonResultNoteToFile.data);
                            custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                            return false;
                        }
                    }
                }
            });
    }
    var QAcomment;
    var HeadQA;
    var CheckingSpStatus;
    function ApproveQA() {
        var v1 = "@Model.CurrentStatus";
        errors = [];
          if (v1 == "9" || v1 == "20") {
              //Head Qa approve and Forward to Capa list
               QAcomment = $("#HQAComments").val().trim();
              if (QAcomment == "") {
                  errors.push("Enter HeadQA Comments.");
              }
               CheckingSpStatus = "Capa";
          }
          if (v1 == "11") {
            //QA Modify the when Revert head QA
               QAcomment = $("#QAComments").val().trim();
              if (QAcomment == "") {
                  errors.push("Enter QA Comments.");
              }
               CheckingSpStatus = "QAUpdate";
        }
        if (v1 == "6" || v1 == "19") {
            //QA Approve to and forwarded to Head QA
             QAcomment = $("#QAComments").val().trim();
            if (QAcomment == "") {
                errors.push("Enter QA Comments.");
            }
             CheckingSpStatus = "HQA";
        }

         HeadQA = $("#AssignHeadQA :selected").val();
            if (HeadQA == "") {
                errors.push("Select Assign To HeadQA.")
            }
            if (HeadQA != "" && QAcomment != "") {
                ElectronicSignPopupOpen('QaApprovedNoteToFileToHeadQA');
            }
            else {
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
            }
    }
    function QaApprovedNoteToFileToHeadQA() {
        var NoteToFileNo = "@Model.NoteToFileNo";
        var Capa = "@Model.capaRequiredorNot";
        var Empid = "@TempData["EmpID"]";
        errors = [];
        //For Restricting multiple clicks
        ShowPleaseWait('show');
                 $.ajax({
                     url: '@Url.Content("~/QMS/NoteToFile/ApproveAndUpdateNoteToFileAtHod")',
                data: {
                    'NF_ID':@Model.NF_ID,'CurrentStatus':@Model.CurrentStatus,'PreparedBy': Empid,
                    'Status': CheckingSpStatus,
                    "Head_QA": HeadQA, "capaRequiredorNot": Capa,
                   "NoteToFileNo":"@Model.NoteToFileNo",  "QAComments": QAcomment,
                },
                type: 'Post',
                success: function (JsonResultNoteToFile) {
                    //For Restricting multiple clicks
                    ShowPleaseWait('hide');
                    if (JsonResultNoteToFile.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (JsonResultNoteToFile.hasError == false) {
                            errors.push("Note to file <span class='sucess_info_msg'> @Model.NoteToFileNo </span> Approved Successfully.");
                            custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                            return false;
                        }
                        else {
                            errors.push(JsonResultNoteToFile.data);
                            custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                            return false;
                        }
                    }
                }
                });
    }
</script>
<!--Close ViewPopup and Redirected To Hod Page-->
<script>
    function closeViewPopup() {
        ElectronicSignPopupClose();
         if (@Model.CurrentStatus=="6"|| @Model.CurrentStatus=="19") {
            window.location.href = '@Url.Action("NoteToFileList", "NoteToFile", routeValues: new { ShowType = 5 })';
        }
        if (@Model.CurrentStatus=="9" ||@Model.CurrentStatus== "20") {
             window.location.href = '@Url.Action("NoteToFileList", "NoteToFile", routeValues: new { ShowType = 7 })';
        }
         if (@Model.CurrentStatus=="11") {
             window.location.href = '@Url.Action("NoteToFileList", "NoteToFile", routeValues: new { ShowType = 6 })';
         }
    }
</script>
<!--Verification button showing-->
<script>
    if (@Model.CurrentStatus==14 ||@Model.CurrentStatus==21) {
        $("#btnVerification").show();
        $("#submit_Btn").hide();
    }
</script>
<!-- END-->
<!--Latest Comments Label name-->
<script>
    if(@Model.CurrentStatus=="6"||@Model.CurrentStatus=="19"){
        $("#lblLatestComments").text("HOD Comments");
    }
    if(@Model.CurrentStatus=="9"){
        $("#lblLatestComments").text("QA Comments");
    }
</script>
<!--END-->
