﻿@model QMS_BO.QMS_NoteTofile_BO.NoteFileBO
@{
    ViewBag.Title = "NoteToFileListBasedonStatusShowView";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<style>
    table datatable_cust table-striped table-bordered dataTable no-footer {
        width: 0px !important;
    }
    div.dataTables_length label {
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
        visibility: hidden;
    }
</style>
@if (ViewBag.Exception != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>
}
else
{
    <div class="float-right padding-none">
        <a class=" btn-signup_popup float-right bottom" id="btnCcncreate" onclick="NtfBacktoList()">Back to List</a>
    </div>
    <div class=" col-12 grid_area float-left padding-left_div" id="paragraph2">
        <div class="col-lg-12 float-left padding-none">

            <div id='OpenPopup'></div>
            <div id='CAPADivLoad'></div>
        </div>
        <!------Confirmation popup script call----->
        <div hidden="hidden"> <button id="btnconfirm" href="javascript:void(0)" class="btn btn-danger delete-prompt">Delete</button></div>
        <!----End-->
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel padding-none">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div id="accordionConent" class="accordion">
                    <div class="card mb-0">
                        <div class="card-header header_col_sub " data-toggle="collapse" href="#collapseOneSub" data-parent="#accordionConent">
                            <a class="card-title">
                                View Note to file Report
                            </a>
                        </div>
                        <div id="collapseOneSub" class="collapse show" data-parent="#accordionConent">
                            <div class="card-body col-12 float-left ">
                                <div class="col-12 float-left info_bg " style="border-bottom:1px solid #38b8ba;">
                                    <div class="col-6 float-left custom_text_view ">
                                        <label class="  custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Note to File Number  </label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.NoteToFileNo, new { htmlAttributes = new { @class = "edit_textl", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="col-6 float-left custom_text_view">
                                        <label class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Department  </label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.DeptName, new { htmlAttributes = new { @id = "DeptName", @class = " edit_text" } })
                                        </div>
                                    </div>
                                    <div class="col-6 float-left custom_text_view">
                                        <label for="" class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Created Date </label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.DocCreateDate, new { htmlAttributes = new { @class = "edit_text ", name = "Create_Date" } })
                                        </div>
                                    </div>
                                    <div class="col-6 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Document Type</label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.DocumentTypeName, new { htmlAttributes = new { @class = "edit_text ", name = "DocumentTypeName" } })
                                        </div>
                                    </div>
                                    <div class="col-12 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Reference Document No.</label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.ReferenceNumber, new { htmlAttributes = new { @class = "edit_text ", name = "ReferenceNumber" } })
                                        </div>
                                    </div>
                                    <div class="col-12 float-left custom_text_view">
                                        <label class="custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Document Name </label>
                                         <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.DocTitle, new { htmlAttributes = new { @class = "edit_text ", name = "DocTitle" } })
                                        </div>
                                    </div>
                                    <div class="col-12 float-left custom_text_view">
                                        <label class="custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Description </label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.NTF_Description, new { htmlAttributes = new { @class = "edit_text ", name = "NTF_Description" } })
                                        </div>
                                    </div>
                                    @if (Model.capaRequiredorNot == "YES" || Model.capaRequiredorNot == "NO")
                                    {
                                        <div class="col-12 float-left custom_text_view">
                                            <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Is Capa Required </label>
                                            <div class=" col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-4 padding-none float-left profile_defined">
                                                @Html.DisplayFor(model => model.capaRequiredorNot, new { htmlAttributes = new { @class = "edit_text ", name = "capaRequiredorNot" } })
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hideHod" class=" col-12 padding-none">
                </div>
                <div id="hideHodCapaList" class=" col-12">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Created CAPA's</div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  grid_assgin">
                        <!--NTF CAPA List Calling-->
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none top" style="min-height:0px !important">
                            @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_EventsCAPAList.cshtml")
                        </div>
                    </div>
                </div>
                if (Model.CurrentStatus == "1" || Model.CurrentStatus == "2")
                {
                    <div class="col-12 float-left ">
                        <label class=" custom_label col-form-label">Initiator Comments</label>
                        @Html.TextAreaFor(model => model.InitiatorComments, new { @id = "InitiatorComments", @class = "form-control ", @rows = "3", maxlength = 500, @readonly = "readonly" })
                    </div>
                }
                if (Model.CurrentStatus == "6" || Model.CurrentStatus == "4" /*|| Model.CurrentStatus == "5"*/)
                {
                    <div class="col-12 float-left ">
                        <label class=" custom_label col-form-label">HOD Comments</label>
                        @Html.TextAreaFor(model => model.HODComments, new { @id = "HODComments", @class = "form-control ", @rows = "3", maxlength = 500 })
                    </div>
                }
                if (Model.CurrentStatus == "9" || Model.CurrentStatus == "7" /*|| Model.CurrentStatus == "8"*/)
                {
                    <div class="col-12 float-left   ">
                        <label class=" custom_label col-form-label">QA Comments</label>
                        @Html.TextAreaFor(model => model.QAComments, new { @id = "QAComments", @class = "form-control ", @rows = "3" })
                    </div>
                }
                if (Model.CurrentStatus == "10" || Model.CurrentStatus == "16" || Model.CurrentStatus == "14" || Model.CurrentStatus == "21")
                {
                    <div class="col-12 float-left   ">
                        <label class=" custom_label col-form-label">Head QA Comments</label>
                        @Html.TextAreaFor(model => model.HQAComments, new { @id = "HQAComments", @class = "form-control ", @rows = "3" })

                    </div>
                }
                if (Model.CurrentStatus == "9")
                {
                    <div class="col-6 float-left ">
                        <label class="custom_label col-form-label">
                            Assign To Head QA:<span class="mandatoryStar">*</span>
                        </label>
                        @Html.Display("AssignHeadQA", new { @class = "form-control ", @rows = "3" })
                    </div>
                }
                <div class="col-12 ">
                    @if (Model.CurrentStatus == "6")
                    {
                        <div id="AssignQA" class=" ">
                            <div class="col-6 float-left  padding-none assign_to">
                                @Html.Label("Assign To QA :", htmlAttributes: new { @class = "custom_label col-form-label  float-left" })
                                <div style="margin-top:4px;"> @Html.Display("QAName", new { @class = "form-control  ", @rows = "3" })</div>
                            </div>
                        </div>
                    }
                    <div class=" float-right top right bottom">
                        <button type="button" id="Cancel_btn" class="btn btn-cancel_popup " onclick="NtfBacktoList();">Cancel</button>
                    </div>
                </div>
            }
        </div>
    </div>

    @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_CAPADetailsView.cshtml")
    
    <script type="text/javascript">
    var ISCapa = "@Model.capaRequiredorNot"
    if (ISCapa == "NO" || ISCapa =="")//Hide Capalist
   {  $("#hideHodCapaList").hide();
   }
   if(ISCapa=="YES")
   {
       $("#hideHodCapaList").show();
        hideNtfColumns = [9,10];
        GetEventsCAPAList("@Model.NF_ID", 4, hideNtfColumns,0);//this method existing in Shared/QMS/_EventsCAPAList folder
   }
    </script>

    <!--Select picker-->
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true,
                size: 7
            });
        });
    </script>
    <!--This is for not clearing is capa required when click on cancel button second time.-->
    <script>
        $(document).ready(function () {
            $('.selectpicker1').selectpicker({
                liveSearch: true,
                showSubtext: true,
                size: 7
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.datetimepicker').datetimepicker({
                format: 'DD MMM YYYY',
                useCurrent: false,
            });
        });
    </script>
    <!--To close AddCapa model pop up-->
    <script>
        function CloseModelCapa() {
            $('#MyModelAddCapa').modal('hide');
        }
    </script>
    <!--End To close AddCapa model pop up-->
    <script>
        //Disable All Comments it is for only view.
        $("#HQAComments").prop('disabled', true).css("color", "disabled");
        $("#QAComments").prop('disabled', true).css("color", "disabled");
        $("#HODComments").prop('disabled', true).css("color", "disabled");
        $("#InitiatorComments").prop('disabled', true).css("color", "disabled");

        function NtfBacktoList() {
                 window.location.href = '@Url.Action("NoteToFileList", "NoteToFile", routeValues: new { ShowType = TempData["ShowTypeNtf"] })';
        }
    </script>
}
<!--Exception Error-->
<script>
    function ExecptionMsg() {
        var Err = "@ViewBag.Exception";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
        else {
        }
    }
</script>
<!--END-->