﻿@model QMS_BO.QMS_NoteTofile_BO.NoteFileBO
@{
    ViewBag.Title = "NoteToFileList";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<style>
    table.dataTable tbody th,
    table.dataTable tbody td {
        white-space: nowrap;
    }
</style>
<!--Exception Function-->
@if (ViewBag.Exception != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>
}
else
{
    <div class="col-lg-6 float-left padding-none">
        <!------buttons---------->
        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6 float-right padding-none">
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none" id="divCreatNTF" style="display:none">
                <button class=" btn-signup_popup float-right" name="Add Capa" value="Add Capa" id="btndept" onclick="CreateCapa(this);">Create Note to file </button>
            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none">
                <button class=" btn-signup_popup float-right bottom" style="display:none" id="btnBackToDashboard" onclick="BackToDashboard();">Dashboard </button>
            </div>
            <div id='divBindPartialViews'></div> <!--Open model pop up-->
        </div>
        <!------buttons---------->
    </div>

    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title" id="lblName"> @*<label id="lblName" style="color:#056775;font-size:14px"></label>*@</div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="min-height:0px !important">
        <table id="tblNTF_List" class="table datatable_cust table-striped table-bordered dataTable no-footer breakword " cellspacing="0" style="width: 100%" table-layout="fixed">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>NTF ID</th>
                    <th>NTF Number</th>
                    <th>Department</th>
                    <th>Reference Document_No.</th>
                    <th>Document Name</th>
                    <th>Created by</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Edit</th>
                    <th>View</th>
                    <th>Manage</th>
                    <th>History</th>
                </tr>
            </thead>
        </table>
    </div>

    <!--To Create Capa show Model-->
    <script>
        function CreateCapa(cntrl) {
            $(cntrl).attr("onclick", "").unbind("click");
            $("#divBindPartialViews").empty();
            ShowPleaseWait('show');
            $("#divBindPartialViews").load("@Url.Content("~/QMS/NoteToFile/Create")", function () {
            ShowPleaseWait('hide');
            $('#myModalCreate').modal('show');
            $(cntrl).attr("onclick", "CreateCapa(this)").unbind("click");
        });
    }
        function EditNoteToFile(cntrl,NTFID) {
            $(cntrl).attr("onclick", "").unbind("click");
            $("#divBindPartialViews").empty();
            ShowPleaseWait('show');
            $("#divBindPartialViews").load("@Url.Content("~/QMS/NoteToFile/Details")?id=" + NTFID, function () {
                ShowPleaseWait('hide');
                $("#lblNTFName").text("Update Note to File ").css("color", "white");
                $('#myModalNTFDetails').modal('show');
             $(cntrl).attr("onclick", "EditNoteToFile(this," + NTFID + ")").unbind("click");
        });
    }
     function EditRevertedQA_NoteToFile(E_ID, number) {
         window.location = "@Url.Content("~/QMS/NoteToFile/NTF_HODAction/")?id=" + E_ID + "&&Number=" + number;
    }
    </script>

    <!--To Get History for NoteToFile-->
    <script>
        function History(cntrl,NTFID, number) {
            $(cntrl).attr("onclick", "").unbind("click");
            $("#divBindPartialViews").empty();
            ShowPleaseWait('show');
            $("#divBindPartialViews").load("@Url.Content("~/QMS/Capa/TransactionHistory")?id=" + NTFID + "&&EventType=" + number, function () {
            ShowPleaseWait('hide');
                $('#myModalTransHistory').modal('show');
                $('#myModalTransHistory').on('shown.bs.modal', function (e) {
                    var hdnColumns = [0,3,8]
                    LoadQMSEventsHistory(NTFID, hdnColumns, number);
                });
            $(cntrl).attr("onclick", "History(this," + NTFID + "," + number + ")").unbind("click");
        });
    }

        function ApproveHOD(NTFID, number) {
            ShowPleaseWait('show');
            window.location = "@Url.Content("~/QMS/NoteToFile/NTF_HODAction/")?id=" + NTFID + "&&Number=" + number;
    }
        function ApproveQAAction(cntrl, NTFID, number) {
                $(cntrl).attr("onclick", "").unbind("click");
                $("#divBindPartialViews").empty();
                ShowPleaseWait('show');
                $("#divBindPartialViews").load("@Url.Content("~/QMS/NoteToFile/HODApprover")?id=" + NTFID + "&&Number=" + number, function () {
                ShowPleaseWait('hide');
                $('#myModalHOD').modal('show');
                $(cntrl).attr("onclick", "ApproveQAAction(this," + NTFID + "," + number + ")").unbind("click");
        });
    }
    </script>

    <!--To View Note to file from main list no actions-->
    <script>
    function ViewNoteToFile(NTFID) {
    ShowPleaseWait('show');
    var _source="@Url.Content("~/QMS/NoteToFile/NoteToFileListBasedonStatusShowView")";
    window.location = _source + "?id=" + NTFID ;
    }
    </script>

    <script>
    //To View NTF Admin Manage Popup
        function NTFAdminManage(cntrl,NTFID)
        {
            $(cntrl).attr("onclick", "").unbind("click");
            $("#divBindPartialViews").empty();
            ShowPleaseWait('show');
            $("#divBindPartialViews").load("@Url.Content("~/QMS/NoteToFile/_NTFAdminManage")?id=" + NTFID, function () {
            ShowPleaseWait('hide');
            $('#myModalAdminManage').modal('show');
            $(cntrl).attr("onclick", "NTFAdminManage(this," + NTFID + ")").unbind("click");

        });
        }
    </script>
    <!--End To View Note to file from main list no actions-->
    <!--Jquery DataTable List for NoteToFile-->
    <script>
        var hideNtfColumns = [];
        var ColumnHide = [];
   var title = "";

    switch (@TempData["ShowTypeNtf"]) {
        case 1: //CreatedList
            hideNtfColumns = [0, 1, 10, 9, 11, 12, 13, 14];
            ColumnHide = [0, 1,9];
            title = "Create Note to file List";
            $("#divCreatNTF").show();
            break;
        case 2://InitiatorRevertedList
            if (@ViewBag.NTFID>0) {
                EditNoteToFile(this,@ViewBag.NTFID); //Notification direct action
            }
            hideNtfColumns = [0, 1, 10, 11, 12, 13, 14];
            ColumnHide = [0, 1];
            title = "Reverted Note to file  List";
            break;
        case 3://HOD_ReviewList
            @*if (@ViewBag.NTFID>0) {
                ApproveHOD(@ViewBag.NTFID,1);
            }*@
            hideNtfColumns = [0, 1, 9, 11, 12, 13, 14];
            ColumnHide = [0, 1, 9];
            title = "Review Note to file List";
            break;
        case 4://HOD_RevertedList
            @*if (@ViewBag.NTFID>0) {
                 ApproveHOD(@ViewBag.NTFID,1);
            }*@
            hideNtfColumns = [0, 1, 9, 11, 12, 13, 14];
            ColumnHide = [0, 1, 9];
            title = "Reverted Note to file List";
            break;
        case 5://QaReviewList
            if (@ViewBag.NTFID>0) {
                ApproveQAAction(this,@ViewBag.NTFID, 1);
            }
            hideNtfColumns = [0, 1, 9, 10, 12, 13, 14];
            ColumnHide = [0, 1, 9];
            title = "Review Note to file List";
            break;
        case 6://QaRevertedList
             if (@ViewBag.NTFID>0) {
                 ApproveQAAction(this,@ViewBag.NTFID, 1);
                 }
             hideNtfColumns = [0, 1, 9, 10, 12, 13, 14];
             ColumnHide = [0, 1, 9];
            title = "Reverted Note to file List";
            break;
        case 7://HeadQaReviewList
           if (@ViewBag.NTFID>0) {
               ApproveQAAction(this,@ViewBag.NTFID, 1);
            }
           hideNtfColumns = [0, 1, 9, 10, 12, 13, 14];
           ColumnHide = [0, 1, 9];
            title = "Note to file Head QA Review List";
            break;
        case 8:// MainList
            hideNtfColumns = [0, 1, 9, 10, 11, 12, 14];
            ColumnHide = [0, 1, 9];
            title = "Note to file Main List";

            break;
        case 12://Admin Manage
            hideNtfColumns = [0, 1, 9, 10, 11, 12, 13];
            ColumnHide = [0, 1, 9];
            title = "Note to file Manage List";
            break;
        case 9://Pending chart
            hideNtfColumns = [0, 1, 9, 10, 11, 12, 14];
            ColumnHide = [0, 1, 9];
            title = "Note to file Pending List";
            $("#btnBackToDashboard").show();
            break;
        case 10://Rejected Chart
            hideNtfColumns = [0, 1, 9, 10, 11, 12, 14];
            ColumnHide = [0, 1, 9];
            title = "Note to file Rejected List";
            $("#btnBackToDashboard").show();
            break;
        case 11://Approved Chart
            hideNtfColumns = [0, 1, 9, 10, 11, 12, 14];
            ColumnHide = [0, 1, 9];
            title = "Note to file Approved List";
            $("#btnBackToDashboard").show();
            break;
     }
    $("#lblName").text(title);

        $('#tblNTF_List thead tr').clone(true).appendTo('#tblNTF_List thead');
        $('#tblNTF_List thead tr:eq(1) th').each(function (i) {
            if (i < 9) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search " />');

                $('input', this).on('keyup change', function () {
                    if (oTable.column(i).search() !== this.value) {
                        oTable
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
                if (i == 1) {
                    $(this).html('');
                }
            }
            else {
                $(this).html('');
            }
        });



    $('#tblNTF_List').wrap('<div class="dataTables_scroll" />');
    var oTable = $('#tblNTF_List').DataTable({
        columns: [
            { 'data': 'Rownumber' }, //0
            { 'data':'NF_ID'},//1
            { 'data': 'NoteToFileNo' }, //2
            { 'data': 'DeptName' },  //3
            { 'data': 'ReferenceNumber' }, //5 4
            { 'data':'DocTitle'},//6 5
            { 'data': 'PreparedBy' }, //7 6
            { 'data': 'DocCreateDate', type: 'dd mmm yyyy' }, //4 7
            { 'data': 'CurrentStatus' },//8
            {
                "mData": null,       //9 Edit NoteToFile
                "bSortable": false,
                "mRender": function (o) {
                    { return '<a class="action_qms" href="#" title="Action"   onclick=EditNoteToFile(this,' + o.NF_ID + ')>' + '' + '</a>'; }
                }
            },
            {
                "mData": null,       //10 View NoteToFile
                "bSortable": false,
                "mRender": function (o) {
                    { return '<a class="action_qms" href="#" title="Action"  onclick=ApproveHOD(' + o.NF_ID + ',"1")>' + '' + '</a>'; }
                }
            },
            {
                "mData": null,       //11  NTF QA
                "bSortable": false,
                "mRender": function (o) {
                    return '<a class="action_qms" href="#" title="Action"  onclick = ApproveQAAction(this,' + o.NF_ID + ',"1")>' + '' + '</a>';
                }
            },
             {
                "mData": null,       //12  Edit Reverted QA
                "bSortable": false,
                "mRender": function (o) {
                    { return '<a class="Edit" href="#" title="Edit"  onclick=EditRevertedQA_NoteToFile(' + o.NF_ID + ',"2")>' + '' + '</a>'; }
                }
            },
             {
                 "mData": null,       //13 MainList View NoteToFile no actions
                 "bSortable": false,
                 "mRender": function (o) {
                     { return '<a class="view" href="#" title="View"  onclick=ViewNoteToFile(' + o.NF_ID + ')>' + '' + '</a>'; }
                 }
             },
             {
                 "mData": null,       //14 View NoteToFile Admin Manage actions
                 "bSortable": false,
                 "mRender": function (o) {
                     { return '<a class="action_qms" href="#" title="Manage"   onclick=NTFAdminManage(this,' + o.NF_ID + ')>' + '' + '</a>'; }
                 }
             },
            {
                "mData": null,       //15  History NoteToFile
                "bSortable": false,
                "mRender": function (o) {
                    { return '<a class="View" href="#" title="History" onclick=History(this,' + o.NF_ID + ',"4")>' + '' + '</a>'; }
                }
             },
             ],
            "paging": true,
            "order": [[1, "desc"]],
           "orderCellsTop": true,
            "sScrollX": "100%",
            "bAutoWidth": false,
            "bScrollAutoCss": true,
            "aoColumnDefs": [{ className: "dt-body-left", "targets": [1, 2, 3, 4, 5] }, { className: "textAlignCenter", "targets": [9, 10, 11, 12, 13, 14, 15] },
                { "targets": hideNtfColumns, "visible": false }, { "targets": ColumnHide, "visible": false }],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/QMS/NoteToFile/GetNoteToFileList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push(
                    { "name": "ShowType", "value": ('@TempData["ShowTypeNtf"].ToString()') },
                    { "name": "RoleIDCharts", "value": ('@TempData["RoleIDFromCharts"].ToString()') },
                    { "name": "DeptDashboard", "value": ('@TempData["DeptIDFromDashboard"].ToString()') },
                    { "name": "FromDateDashboard", "value": ('@TempData["FromDateDashboard"].ToString()') },
                    { "name": "ToDateDashboard", "value": ('@TempData["ToDateDashboard"].ToString()') });
                 $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            } 
                            else{
                                if (result.hasError == true) {
                                    custAlertMsg(result.data, "error", "ReloadDashboard();");
                                }
                                else {
                                    fnCallback(result);
                                }
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
            }
    });
    </script>
    <script>
    function BackToDashboard(){
        window.location.href = '@Url.Action("QMS_Dashboard", "DashBoard", routeValues: new {  })';
    }
    </script>
}
<!--Exception Message -->
<script>
    function ExecptionMsg(){
        var Err = "@ViewBag.Exception";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
    }
</script>

