﻿@model QMS_BO.QMS_NoteTofile_BO.NoteFileBO
@{ int rowNo = 0; }
@{
    ViewBag.Title = "NTF_HODAction";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
<style>
    table datatable_cust table-striped table-bordered dataTable no-footer {
        width: 0px !important;
    }
    div.dataTables_length label {
        font-weight: normal;
        text-align: left;
        white-space: nowrap;
        visibility: hidden; 
    }
</style>

@if (ViewBag.Exception != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>
}
else
{
    <div class=" col-12 grid_area float-left padding-left_div" id="paragraph2">
        <div class="col-lg-12 float-left padding-none">
            <div id='OpenPopup'></div>
        </div>
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel padding-none">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div id="accordionConent" class="accordion">
                    <div class="card mb-0">
                        <div class="card-header header_col_sub " data-toggle="collapse" href="#collapseOneSub" data-parent="#accordionConent">
                            <a class="card-title collapsed">
                                Note to file Report
                            </a>
                        </div>

                        <div id="collapseOneSub" class="collapse show" data-parent="#accordionConent">
                            <div class="card-body col-12 float-left ">
                                <div class="col-12 float-left info_bg " style="border-bottom:1px solid #38b8ba;">
                                    <div class="col-6 float-left custom_text_view ">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Note to file Number </label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.NoteToFileNo, new { htmlAttributes = new { @class = "edit_textl", @readonly = "readonly" } })
                                        </div>
                                    </div>
                                    <div class="col-6 float-left custom_text_view">
                                        <label class="  custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Department </label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.DeptName, new { htmlAttributes = new { @id = "DeptName", @class = " edit_text" } })
                                        </div>
                                    </div>
                                    <div class="col-6 float-left custom_text_view">
                                        <label for="" class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Created Date </label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.DocCreateDate, new { htmlAttributes = new { @class = "edit_text ", name = "Create_Date" } })
                                        </div>
                                    </div>
                                    <div class="col-6 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Document Type</label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.DocumentTypeName, new { htmlAttributes = new { @class = "edit_text ", name = "DocumentTypeName" } })
                                        </div>
                                    </div>
                                    <div class="col-12 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Reference Document No.</label>
                                        <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.ReferenceNumber, new { htmlAttributes = new { @class = "edit_text ", name = "ReferenceNumber" } })
                                        </div>
                                    </div>
                                    <div class="col-12 float-left custom_text_view">
                                        <label class="custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Document Name </label>
                                        <div class=" col-xl-10 col-md-10 col-sm-6 col-lg-10 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(Model => Model.DocTitle, new { htmlAttributes = new { @class = "edit_text ", name = "DocTitle" } })
                                        </div>
                                    </div>
                                    <div class="col-12 float-left custom_text_view">
                                        <label class="custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Description </label>
                                        <div class=" col-xl-10 col-md-10 col-sm-6 col-lg-10 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.NTF_Description, new { htmlAttributes = new { @class = "edit_text ", name = "NTF_Description" } })
                                        </div>
                                    </div>
                                    <div class="col-12 float-left custom_text_view">
                                        <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2" id="lblLatestComments"> </label>
                                        <div class=" col-xl-10 col-md-10 col-sm-6 col-lg-10 float-left col-6 padding-none float-left profile_defined">
                                            @Html.DisplayFor(model => model.LatestComments, new { htmlAttributes = new { @class = "edit_text ", name = "InitiatorComments" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="hideHod" class=" col-12 padding-none" style="display:none">
                    <div class="col-6 float-left assign_to">
                        <label class="custom_label col-form-label padding-none col-12 float-left">
                            CAPA Required<span class="mandatoryStar">*</span>
                        </label>
                        @if (Model.CurrentStatus == "1" || Model.CurrentStatus == "2" || Model.CurrentStatus == "7" || Model.CurrentStatus == "11" || Model.CurrentStatus == "17")
                        {
                            @Html.DropDownListFor(x => x.IsCAPARequired, new List<SelectListItem>
                        {
                            new SelectListItem(){Text="Select", Value="0"},
                            new SelectListItem() {Text = "YES", Value="1"},
                            new SelectListItem() {Text = "NO", Value="2"} },
                            new { @onchange = "CapaList(this.value)", @id = "IsCAPARequired", @class = "col-6 padding-none drop_down selectpicker1 bottom" }
                                                )
                        }
                    </div>
                </div>
                <div id='CAPADivLoad'></div>
                <div id="hideHodCapaList" class=" col-12" style="display:none">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">CAPA Creation</div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  grid_assgin padding-none">

                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  top" style="min-height:0px !important">
                            <button type="button" id="btnadd" class="btn btn-signup_popup float-left" style="" onclick="CapadetailsClearNTF(this);">Create CAPA</button>
                        </div>
                        <!--CAPA List Calling-->
                        <div class="col-12 float-left padding-none">
                            @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_EventsCAPAList.cshtml")
                        </div>
                    </div>
                </div>
                <!--QA Reverted Comments-->
                <div class="col-12 float-left " id="divQARevertedComments" style="display:none">
                    <label class=" custom_label col-form-label">QA Comments</label>
                    @Html.TextAreaFor(model => model.RevertComments, new { @readonly = "readonly", @rows = "3", @class = " ", maxlength = 500 })
                </div>
                <div class="col-12 float-left ">
                    <label class=" custom_label col-form-label required">HOD Comments</label>
                    @Html.TextAreaFor(model => model.HODComments, new { @id = "HODComments", @class = "form-control ", @rows = "3", maxlength = 500  })
                </div>

                <div class="col-12 ">
                    <div id="AssignQA" class=" ">
                        <div class="col-6 float-left top padding-none ">
                            @Html.Label("Assign to QA :", htmlAttributes: new { @class = "custom_label col-form-label  float-left required " })
                            @Html.DropDownList("QAEmployee", null, "Select", htmlAttributes: new { @id = "QAEmployee", @class = "col-6 drop_down padding-none selectpicker1" })
                        </div>
                    </div>
                    <div class=" float-right top right bottom">
                        <button type="button" id="showHod" class="btn btn-signup_popup" onclick="ShowNext();">Next</button>
                        <button type="button" id="revertBtn" class="btn btn-revert_popup " onclick="R1(1);">Revert</button>
                        <button type="button" id="rejectBtn" class="btn btn-reject" onclick="Reject();">Reject</button>
                        <button type="button" id="submit_Btn" class="btn btn-signup_popup  " style="display:none" onclick="SubmitQA();">Submit</button>
                        <button type="button" id="Cancel_btn" class="btn btn-cancel_popup " onclick="RevertReload();">Cancel</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <!--ElectronicSignature -->
    @Html.Partial("_ElectronicPartialView")
    <!--Revert and Reload -->
    <script>
        function ReloadEventsCAPAList() { //Calling from _EventsCAPAList Page() 
            hideNtfColumns = [1,11];
            GetEventsCAPAList("@Model.NF_ID", 4, hideNtfColumns,0);//this method existing in Shared/QMS/_EventsCAPAList folder
        }
    function RevertReload() {
        if (@Model.CurrentStatus=="1" || @Model.CurrentStatus=="2") {
            window.location.href = '@Url.Action("NoteToFileList", "NoteToFile", routeValues: new { ShowType = 3 })';
        }
        if (@Model.CurrentStatus=="7" || @Model.CurrentStatus=="11" || @Model.CurrentStatus=="17") {
            window.location.href = '@Url.Action("NoteToFileList", "NoteToFile", routeValues: new { ShowType = 4 })';
        }
    }
    </script>
    <!-- Hide & show capa -->
    <script>
        function ShowNext() {
            $("#hideHod").show();
            $("#showHod").hide();
            $("#revertBtn").hide();
            $("#rejectBtn").hide();
            $("#submit_Btn").show();
            $("#Cancel_btn").show();
            $("#AssignQA").show();
        }
    </script>
    <!-- button hide and show when click on capa required drop down -->
    <script>
        function CapaList(val) {
            if (val == 1) {
                $("#hideHodCapaList").show();
                $("#submit_Btn").show();
                $("#Cancel_btn").show();
                ReloadEventsCAPAList()//Calling from _EventsCAPAList Page;
            }
            if (val == 2 || val == 0) {
                $("#hideHodCapaList").hide();
                $("#submit_Btn").show();
                $("#Cancel_btn").show();
            }
        }
    </script>
    <!--hide button using model status-->
    <script>
    if (@Model.CurrentStatus=="7"|| @Model.CurrentStatus=="17") {
        $("#hideHod").show();
        $("#showHod").hide();
        $("#revertBtn").hide();
        $("#rejectBtn").hide();
        $("#submit_Btn").show();
    }
    if (@Model.CurrentStatus=="1" || @Model.CurrentStatus=="2") {
        $("#AssignQA").hide();
    }
    </script>
    <!--if Capa Required show CApa List -->
    <script type="text/javascript">
        var ISCapa = "@Model.capaRequiredorNot"
    if(ISCapa=="NO")
   {  $("#hideHodCapaList").hide();
   }
   if(ISCapa=="YES")
   {
       $("#hideHodCapaList").show();
        hideNtfColumns = [1,11];
        GetEventsCAPAList("@Model.NF_ID", 4, hideNtfColumns,0);//this method existing in Shared/QMS/_EventsCAPAList folder
   }
    </script>
    <!-- END-->
    <!--Clear previous data when click on  add capa-->
    <script>
        function CapadetailsClearNTF(cntrl) {
            $(cntrl).attr("onclick", "").unbind("click");
            $("#CAPADivLoad").empty();
            $("#CAPADivLoad").load("@Url.Content("~/QMS/Capa/_CAPACreation")?QaulityEventTypeID=" + 4+"&&CAPAID=" + 0+"&&QualityEventNumber=" +'@Model.NoteToFileNo'+"&&EventDepTID="+@Model.DeptID+"&&TranstID="+@Model.NF_ID+"&&AssessmentID="+0, function () {
                $("#lblName").text("Create CAPA").css("color", "white");
                $("#idSubmit").text("Submit");
                $('#myModalCreateCAPA').modal('show');
                $(cntrl).attr("onclick", "CapadetailsClearNTF(this)").unbind("click");
            });
        }
    </script>
    <!--End-->
  
    <!--Hod Reject Action-->
    <script>
        function Reject() {
            errors = [];
            var HODcomment = $("#HODComments").val().trim();
            if (HODcomment == "") {
                errors.push("Enter HOD Comments.");
            }
            if (HODcomment != "") {
                ElectronicSignPopupOpen('HodRejectedSubmitCode');
            }
            else {
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
            }
        }
    </script>
    <!--Hod Reject Action with Database-->
    <script>
        function HodRejectedSubmitCode() {
        errors = [];
        custAlertMsg(errors.join("Note to file <span class='sucess_info_msg'> @Model.NoteToFileNo </span> submitted successfully."), "success", "ElectronicSignPopupClose();");
       var v1 = "@Model.CurrentStatus";
       var Empid = "@TempData["EmpID"]";
       var RjectedStatus = "R";
       var Roleid = 25;
        var HODcomment = $("#HODComments").val().trim();
        //For Restricting multiple clicks
        ShowPleaseWait('show');
         $.ajax({
             url: '@Url.Content("~/QMS/NoteToFile/RevertAndRejectNoteToFileAction")',
             data: {
                 'NF_ID':@Model.NF_ID,'CurrentStatus':@Model.CurrentStatus,'PreparedBy': Empid,
                  'Status': RjectedStatus, "HODComments": HODcomment, "RoleID": Roleid
                    },
                  type: 'Post',
                  success: function (JsonResultNoteToFile) {
                      //For Restricting multiple clicks
                      ShowPleaseWait('hide');
                      if (JsonResultNoteToFile.msgRedirecttoLoginPage) //Singal Instance
                      {
                          window.location.href = '/UserLogin.aspx';
                      } 
                      else{
                          if (JsonResultNoteToFile.hasError == false) {
                              errors.push("Note to file <span class='sucess_info_msg'>  @Model.NoteToFileNo </span>  Rejected Successfully.");
                              custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                              return false;
                          }
                          else {
                              errors.push(JsonResultNoteToFile.data);
                              custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                              return false;
                          }
                      }
                  }
            });
    }
    </script>
    <!--Hod Reverted NotetoFile and Open Electronic Signature-->
    <script>
    var NoteToFileStatus;
     function R1(Status) {
         NoteToFileStatus = Status;
        errors = [];
        var HODcomment = $("#HODComments").val().trim();
        if (HODcomment == "") {
            errors.push("Enter HOD Comments.");
        }
        if (HODcomment != "") {
            ElectronicSignPopupOpen('HodRevertNoteToFileAction');
        }
        else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
     function HodRevertNoteToFileAction() {
         var GetStatus = NoteToFileStatus;
        var v1 = "@Model.CurrentStatus";
        var Empid = "@TempData["EmpID"]";
        errors = [];
        if (GetStatus == 1) {
            var HOD = "HOD";
        }
        var HODcomment = $("#HODComments").val().trim();
        //For Restricting multiple clicks
        ShowPleaseWait('show');
        $.ajax({
            url: '@Url.Content("~/QMS/NoteToFile/RevertAndRejectNoteToFileAction")',
             data: {
                 'NF_ID':@Model.NF_ID,'CurrentStatus':@Model.CurrentStatus,'PreparedBy': Empid,'Status': HOD,"HODComments": HODcomment,
                    },
                  type: 'Post',
                  success: function (JsonResultNoteToFile) {
                      //For Restricting multiple clicks
                      ShowPleaseWait('hide');
                      if (JsonResultNoteToFile.msgRedirecttoLoginPage) //Singal Instance
                      {
                          window.location.href = '/UserLogin.aspx';
                      } 
                      else{
                          if (JsonResultNoteToFile.hasError == false) {
                              errors.push("Note to file <span class='sucess_info_msg'>  @Model.NoteToFileNo </span>  Reverted Successfully.");
                              custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                              return false;
                          }
                          else {
                              errors.push(JsonResultNoteToFile.data);
                              custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                              return false;
                          }
                      }
                  }
            });
        }
    </script>
    <!--Submit to QA-->
    <script>
        function SubmitQA() {
         errors = [];
                    var Capa = $("#IsCAPARequired :selected").val();
                    if (Capa == "0") {
                        errors.push("Select CAPA Required.");
                    }
                    var QA = $("#QAEmployee :selected").val();
                    if (QA == "") {
                        errors.push("Select Assign TO QA.");
                    }
                    var HODcomment = $("#HODComments").val().trim();
                    if (HODcomment == "") {
                        errors.push("Enter HOD Comments.")
                    }
                    if (QA != "" && Capa != "0" && HODcomment != "")
                    {//Capa Required yes
                        if (Capa == 1) {
                            CapaChecking();
                        }
                        //Capa Required No
                        if (Capa == 2) {
                            ElectronicSignPopupOpen('HodSubmittedToQA');
                        }
                    }
                  else {
                        custAlertMsg(errors.join("<br/>"), "error");
                        return false;
                    }
        }
        function CapaChecking() {
$.ajax({
    url: '@Url.Content("~/QMS/NoteToFile/CapaCheckingExistsOrNot")',
             data: {
               "NotefileID":"@Model.NF_ID",
                                     },
                  type: 'Post',
                  success: function (JsonResultNTF) {
                      if (JsonResultNTF.msgRedirecttoLoginPage) //Singal Instance
                      {
                          window.location.href = '/UserLogin.aspx';
                      } 
                      else{
                          if (JsonResultNTF.hasError == false) {
                              if (JsonResultNTF.data >0) {
                                  ElectronicSignPopupOpen('HodSubmittedToQA');

                              } else {
                                  custAlertMsg("Add Atleast One CAPA.", "error");
                                  return false;
                              }
                          }
                          else {
                              errors.push(JsonResultNTF.data);
                              custAlertMsg(errors.join("<br/>"), "error");
                              return false;
                          }
                      }
                  }
        });
        }

        function HodSubmittedToQA() {
        errors = [];
          var messageText;
          var v1 = "@Model.CurrentStatus";
          var Empid = "@TempData["EmpID"]";
          var NoteToFileNo = "@Model.NoteToFileNo";
          var PageStatus = "";//Electronic signature page Reload
          if (v1 ==1||v1==2){
              var HodFwdToQA = "QA";//Send hod to QA
              messageText = "Approved Successfully.";
          }
          if (v1 == 7 || v1 == 17) {
              var HodFwdToQA = "HODUpdate"; //Hod Modify and send to QA
              messageText = "Updated Successfully.";
          }
                    var Capa = $("#IsCAPARequired :selected").val();
                    if (Capa == "0") {
                        errors.push("Select CAPA Required.");
                    }
                    var QA = $("#QAEmployee :selected").val();
                    if (QA == "") {
                        errors.push("Select Assign To QA.");
                    }
                    var HODcomment = $("#HODComments").val().trim();
                    if (HODcomment == "") {
                        errors.push("Enter HOD Comments.");
                    }
                    //For Restricting multiple clicks
                    ShowPleaseWait('show');
                        $.ajax({
                            url: '@Url.Content("~/QMS/NoteToFile/ApproveAndUpdateNoteToFileAtHod")',
                              data: {
                                  'NF_ID':@Model.NF_ID,'CurrentStatus':@Model.CurrentStatus,'NoteToFileNo': "@Model.NoteToFileNo", 'PreparedBy':@TempData["EmpID"], 'Status': HodFwdToQA,
                                 "HODComments": HODcomment, "QA_EmpId": QA, "IsCAPARequired": Capa
                                    },
                                  type: 'Post',
                                  success: function (JsonResultNoteToFile) {
                                      //For Restricting multiple clicks
                                      ShowPleaseWait('hide');
                                      if (JsonResultNoteToFile.msgRedirecttoLoginPage) //Singal Instance
                                      {
                                          window.location.href = '/UserLogin.aspx';
                                      } 
                                      else{
                                          if (JsonResultNoteToFile.hasError == false) {
                                              errors.push("Note to file <span class='sucess_info_msg'> @Model.NoteToFileNo </span> " + messageText);
                                              custAlertMsg(errors.join("<br />"), "success", "closeViewPopup();");
                                              return false;
                                          }
                                          else {
                                              errors.push(JsonResultNoteToFile.data);
                                              custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                                              return false;
                                          }
                                      }
                                  }
                    });
    }
    </script>
    <!--end -->
    <!--Close ViewPopup and Redirected To Hod Page-->
    <script>
    function closeViewPopup() {
        ElectronicSignPopupClose();
        if (@Model.CurrentStatus=="1" || @Model.CurrentStatus=="2") {
            window.location.href = '@Url.Action("NoteToFileList", "NoteToFile", routeValues: new { ShowType = 3 })';
        }
         if (@Model.CurrentStatus=="7"|| @Model.CurrentStatus=="11" ||@Model.CurrentStatus=="17" ) {
            window.location.href = '@Url.Action("NoteToFileList", "NoteToFile", routeValues: new { ShowType = 4 })';
        }
    }
    </script>
    <!--Date time picker-->
    <script>
        $(document).ready(function () {
             if (@Model.CurrentStatus == "7" || @Model.CurrentStatus == "17") {
                 $("#submit_Btn").text("Update");
            }
            $('.datetimepicker').datetimepicker({
                format: 'DD MMM YYYY',
                minDate: moment().format('DD MMM YYYY'),
                showClear: true
            });
        });
    </script>
   
    <!--This is for not clearing is capa required when click on cancel button second time.-->
    <script>
        $(document).ready(function () {
            $('.selectpicker1').selectpicker({
                liveSearch: true,
                showSubtext: true,
                size:7
            });
        });
    </script>
    <!--QA Comment Div disable-->
    <script>
     if (@Model.CurrentStatus == "7")
     {
         $("#divQARevertedComments").show();
         $("#divQARevertedComments").find("*").prop("disabled", true);
     }
    </script>
    <!--Latest Comments for NoteToFile-->
    <script>
    if(@Model.CurrentStatus=="1"||@Model.CurrentStatus=="2"){
        $("#lblLatestComments").text("Initiator Comments");
    }
    if(@Model.CurrentStatus=="7"){
        $("#lblLatestComments").text("QA Comments");
    }
    if(@Model.CurrentStatus=="17"){
        $("#lblLatestComments").text("HeadQA Comments");
    }
    </script>
    <!--END-->
}
<!--Exception Error-->
<script>
    function ExecptionMsg() {
        var Err = "@ViewBag.Exception";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
        else {
        }
    }
</script>
<!--END-->




