﻿<link href=@Url.Content("~/Content/bootstrap-fileinput/css/fileinput.css") rel="stylesheet" />
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/fileinput.js")></script>
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/theme.js")></script>

@Html.Hidden("hdnAuditFilesUploadCount")

<div id="modalAuditAttachmentUpload" class="modal department fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <form enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Add Attachment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12 col-md-12 col-sm-6 col-lg-12 padding-none float-left col-12 padding-none">
                        <label class="col-12 custom_label col-form-label">Attachment Type<span class="mandatoryStar">*</span></label>
                        <div class="col-12 ">
                            <select class="col-lg-12 selectpicker drop_down padding-none" data-live-search="true" id="ddlAuditAttachmentType" title="-- Select Attachment Type --">
                                <option value="1">Audit Report *</option>
                                <option value="2">Audit Response</option>
                                @*<option value="3">Scribe Notes *</option> According to TaskID:4628*@
                                <option value="3">Scribe Notes</option>
                                <option value="4">Certificate</option>
                                @*<option value="5">Others</option> According to TaskID:4632*@
                                <option value="5">Audit Plan</option>
                                <option value="6">Others</option>
                                <option value="7">Auditor Images</option>
                            </select>
                        </div>
                    </div>
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 " id="divfuAuditReport">
                        <label class=" custom_label col-form-label"></label>
                        <div class="file-loading" >
                            <input id="fuAuditReport" class="custom-file-input" name="AuditReportFileUpload" type="file" multiple accept="application/pdf">
                        </div>
                    </div>
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 " id="divfuAuditImage" style="display:none">
                        <label class=" custom_label col-form-label"></label>
                        <div class="file-loading">
                            <input id="fuAuditImage" class="custom-file-input" name="AuditReportFileUpload" type="file" multiple accept="application/pdf" >
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                </div>
            </form>
        </div>
    </div>
</div>

<!--Audit File Upload-->
<script>
    var AllAuditFilesUploaded = 0;
    var SelectedAuditFilesUploaded = 0;
    $("#fuAuditReport").fileinput({
        'theme': 'explorer-fa',
             'uploadUrl': '@Url.Content("~/QMS/AuditMain/AuditAttachments")',
             'showUpload': true,
             'showCancel': false,
             'showClose':true,
             'maxFileCount': 5,
             'maxFileSize':10000,
             'required': true,
             //'msgPlaceholder':'Select files to upload',
             'overwriteInitial': true,
             //'allowedFileExtensions': ['jpg', 'png', 'docx', 'doc', 'pdf', 'txt','rtf'],
             'allowedFileExtensions': ['pdf'], //According to TaskID:4818
             'uploadExtraData': function () {
                 var fileExtraData = {
                     "AuditReportID": $('#AuditID').val(),
                     "AttachmentType": $('#ddlAuditAttachmentType').val()
                 }
                 return fileExtraData;
             },
             'hideThumbnailContent': true,
             'browseOnZoneClick': true,
             'fileActionSettings':
             {
                showUpload: false,
                showRemove: true
             }
        });
    $('#fuAuditReport').on('fileuploaded', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        if (response.msg != null) {
            AllAuditFilesUploaded = AllAuditFilesUploaded + 1;      
            if (AllAuditFilesUploaded == parseInt($('#hdnAuditFilesUploadCount').val()))
            {
                custAlertMsg(response.msg, response.msgType, 'clearAuditFileInput()');
                loadAuditAttachments();
            }            
        }
    });

    function clearAuditFileInput() {
        $('#fuAuditReport').fileinput('clear');

    }

   // var fileNames = "";
    $('#fuAuditReport').on('filepreupload', function (event, data, previewId, index, jqXHR)
    {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;       
        if ($('#ddlAuditAttachmentType').val() == "")
        {
            return {
                message: 'Select Attachment Type'
            };          
        }
        else {           
            var fileNamesExceedCount = 0;
            $('.file-preview-thumbnails .file-preview-frame.explorer-frame.kv-preview-thumb').each(function () {
                if ($(this).find('.explorer-caption').attr('title').length > 200) {
                    fileNamesExceedCount++;
                    $(this).find('.explorer-caption').css("color", "red");
                }
            });
            if (fileNamesExceedCount > 0) {
                var strMsg = fileNamesExceedCount + ' file name exceed' + (fileNamesExceedCount > 1 ? 's' : '') + ' 200 characters';
                return {
                    message: strMsg
                };  
            }           
        }
        AllAuditFilesUploaded = 0;
        $('#hdnAuditFilesUploadCount').val(data.filescount);
    });

    $('#fuAuditReport').on('filecustomerror', function (event, params, msg)
    {
        $('.kv-fileinput-error.file-error-message').empty();
        var errorMsg ='<button type="button" class="close kv-error-close" aria-label="Close">'+
        '<span aria-hidden="true">×</span></button>'+
            '<ul><li>' + msg+'</li></ul>';
        $('.kv-fileinput-error.file-error-message').html(errorMsg);          
    });
</script>

<script>
    $("#ddlAuditAttachmentType").change(function () {
        var AuditAttachmentType = this.value;
        if (this.value == 7) {
            $('#fuAuditReport').fileinput('clear');
            $('#divfuAuditReport').hide();
            $('#divfuAuditImage').show();
        } else {
            $('#fuAuditImage').fileinput('clear');
            $('#divfuAuditImage').hide();
            $('#divfuAuditReport').show();
        }
    });
</script>
<!--image uploading -->
<script>
    var AllAuditFilesUploaded = 0;
    var SelectedAuditFilesUploaded = 0;
    $("#fuAuditImage").fileinput({
        'theme': 'explorer-fa',
             'uploadUrl': '@Url.Content("~/QMS/AuditMain/AuditAttachments")',
             'showUpload': true,
             'showCancel': false,
             'showClose':true,
             'maxFileCount': 5,
             'maxFileSize':10000,
             'required': true,
             //'msgPlaceholder':'Select files to upload',
             'overwriteInitial': true,
             'allowedFileExtensions': ['jpg', 'png'],
             //'allowedFileExtensions': ['pdf'], //According to TaskID:4818
             'uploadExtraData': function () {
                 var fileExtraData = {
                     "AuditReportID": $('#AuditID').val(),
                     "AttachmentType": $('#ddlAuditAttachmentType').val()
                 }
                 return fileExtraData;
             },
             'hideThumbnailContent': true,
             'browseOnZoneClick': true,
             'fileActionSettings':
             {
                showUpload: false,
                showRemove: true
             }
        });
    $('#fuAuditImage').on('fileuploaded', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        if (response.msg != null) {
            AllAuditFilesUploaded = AllAuditFilesUploaded + 1;
            if (AllAuditFilesUploaded == parseInt($('#hdnAuditFilesUploadCount').val()))
            {
                custAlertMsg(response.msg, response.msgType, 'clearAuditFileInputImage()');
                loadAuditAttachments();
            }
        }
    });

    function clearAuditFileInputImage() {
        $('#fuAuditImage').fileinput('clear');
    }

   // var fileNames = "";
    $('#fuAuditImage').on('filepreupload', function (event, data, previewId, index, jqXHR)
    {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        if ($('#ddlAuditAttachmentType').val() == "")
        {
            return {
                message: 'Select Attachment Type'
            };
        }
        else {
            var fileNamesExceedCount = 0;
            $('.file-preview-thumbnails .file-preview-frame.explorer-frame.kv-preview-thumb').each(function () {
                if ($(this).find('.explorer-caption').attr('title').length > 50) {
                    fileNamesExceedCount++;
                    $(this).find('.explorer-caption').css("color", "red");
                }
            });
            if (fileNamesExceedCount > 0) {
                var strMsg = fileNamesExceedCount + ' file name exceed' + (fileNamesExceedCount > 1 ? 's' : '') + ' 50 characters';
                return {
                    message: strMsg
                };
            }
        }
        AllAuditFilesUploaded = 0;
        $('#hdnAuditFilesUploadCount').val(data.filescount);
    });

    $('#fuAuditImage').on('filecustomerror', function (event, params, msg)
    {
        $('.kv-fileinput-error.file-error-message').empty();
        var errorMsg ='<button type="button" class="close kv-error-close" aria-label="Close">'+
        '<span aria-hidden="true">×</span></button>'+
            '<ul><li>' + msg+'</li></ul>';
        $('.kv-fileinput-error.file-error-message').html(errorMsg);
    });
</script>

