﻿
<div id="divLoadObservationView"></div>
<input type="text" style="display:none" />
<input type="password" style="display:none" />
<form autocomplete="off">
  
    <table id="tblObservationReportList" class="table datatable_cust breakword table-striped table-bordered  no-footer" style="width:100%">
        <thead>
            <tr>              
                <th>Audit No.</th>
                <th>Observation No.</th>
                <th>Author</th>
                <th>Responsible Person</th>
                <th>Site Name</th>
                <th>Department</th>
                <th>Observation Category</th>
                <th>Due Date</th>
                <th>Observation Status</th>
                <th>Action Status</th>
                <th>Observation</th>
                <th>Audit</th>
            </tr>
        </thead>
    </table>
</form>
<input type="hidden" id="hdnIsShowAssigned" value="No" />
@*<input type="hidden" id="hdnFromListType" value="Create" />*@

<!--Script For Observation Report List-->
<script>
    var ObservationTypeOfList = "";
    var dataTableObservationInVisibleandNonSearchableColumns = [];
    //if (!window.location.href.includes("/QMS/AuditMain/ViewAuditReport")) {
    //    dataTableObservationInVisibleandNonSearchableColumns = [0];
    //}
    var DefaultObservationReportListOrder = 0;
        var oObservationReportList;
         var ObservationAuditID = "0";
        var ObservationDepartmentID = "0";
        var ObservationSiteID = "0";
        var ObservationCategoryID = "0";
        var ObservationCurrentStatusID = "0";
        var FromObservationDate = null;
        var ToObservationDueDate = null;
    
    function loadObservationReportList()
    {
            if (oObservationReportList != null)
            {
                oObservationReportList.destroy();
            }
            oObservationReportList = $('#tblObservationReportList').DataTable({
                columns: [               
                    { 'data': 'AuditNumber' },//0
                    { 'data': 'ObservationNumber' },//1
                    { 'data': 'Author' },//2
                    { 'data': 'ResponsiblePerson' },//3
                    { 'data': 'SiteName' },//4
                    { 'data': 'Department' },//5
                    { 'data': 'ObservationCategory' },//6
                    { 'data': 'DueDate' },//7
                    { 'data': 'ObservationStatusName' },//8
                    { 'data': 'ActionCurrentStatusName' },//9
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            if (($("#hdnFromListType").val() == "Pending" || $("#hdnFromListType").val() == "OnlyHeadQAReverted") && ($("#hdnAuditCurrentStatusID").val() == "1" || $("#hdnAuditCurrentStatusID").val() == "3")) {
                                return '<a class="Edit" title="Edit" href="#" onclick="EditObservation(' + o.ObservationID + ');"></a>';
                            }
                            else {
                               // return '<a class="view_tms" title="View" href="#" onclick="ViewObservation(this,' + o.ObservationID + ');"></a>';
                                if (
                                    (o.ObservationCurrentStatusID != "5"
                                        && ((ObservationTypeOfList == "ObservationAssignedCompleteList" && o.IsResponseApprovedForThisVersion == false) || ObservationTypeOfList == "ObservationRevertedResponse" || ObservationTypeOfList == "ObservationAcceptPending" || ObservationTypeOfList == "ObservationResponsePending" || ObservationTypeOfList == "ObservationDueDateReminderToHOD" || ObservationTypeOfList == "ObservationOverDueToHOD"))
                                    ||
                                    (o.ObservationCurrentStatusID == "5" && (ObservationTypeOfList == "ObservationReviewCompleteList" || ObservationTypeOfList == "ObservationApprovalPending"))
                                ) {
                                    return '<a class="Edit" title="Edit" href="#" onclick="ViewObservation(this,' + o.ObservationID + ');"></a>';
                                }
                                else {
                                    return '<a class="view" title="View" href="#" onclick="ViewObservation(this,' + o.ObservationID + ');"></a>';
                                }
                            }
                        }
                    },//10
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="view" title="View Audit" href="#" onclick="ViewAuditReportAs(' + o.AuditID + ',\'' + ObservationTypeOfList + '\',' + o.AuditCurrentStatusID + ');"></a>';
                        }
                    }//11
                ],
                "aoColumnDefs": [{ "targets": dataTableObservationInVisibleandNonSearchableColumns, "visible": false, "searchable": false },
                    { className: "textAlignCenter", "targets": [10,11] }],
                "order": [DefaultObservationReportListOrder, "desc"],
                "sAjaxSource": "@Url.Content("~/QMS/AuditMain/GetObservationReportList")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push({ "name": "TypeOfList", "value": ObservationTypeOfList },
                        { "name": "AuditID", "value": ObservationAuditID },
                        { "name": "DepartmentID", "value": ObservationDepartmentID },
                        { "name": "SiteID", "value": ObservationSiteID },
                        { "name": "CategoryID", "value": ObservationCategoryID },
                        { "name": "StatusID", "value": ObservationCurrentStatusID },
                        { "name": "FromDate", "value": FromObservationDate },
                        { "name": "ToDate", "value": ToObservationDueDate }
                    );
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else if (result.msgType == "error") {
                                custAlertMsg(result.msg, "error");
                            }
                            else {
                                fnCallback(result);
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                                // var msg = textStatus;
                                var msg = "";
                                if (xhr.status === 0) {
                                    msg = 'No server Connection, Verify Network.';
                                } else if (xhr.status == 404) {
                                    msg = 'Requested page not found. [404]';
                                } else if (xhr.status == 500) {
                                    msg = 'Internal Server Error [500].';
                                }
                                if (msg != "") {
                                    custAlertMsg(msg, "error");
                                }
                            }
                        }
                    });
                }
            });
        
            if ($("#hdnObservationNameInSearchBox").val() != "") {
                oObservationReportList.search($("#hdnObservationNameInSearchBox").val()).draw();
            }
    }
    //For Reseting Observation Filter
    function ResetObservationFilterVariables() {
         ObservationDepartmentID = "0";
         ObservationSiteID = "0";
         ObservationCategoryID = "0";
         FromObservationDate = "";
         ToObservationDueDate = "";

    }
</script>
<!--End Script For Observation Report List-->
<!--Show Observation Details-->
<script>
    function ViewObservation(cntrl, ObservationID)
    {       
        ShowPleaseWait('show');
        $(cntrl).attr("onclick", "").unbind("click");
        $("#hdnObservationID").val(ObservationID);
        var divLoadObservationView = $("#divLoadObservationView");
        divLoadObservationView.empty();
        divLoadObservationView.load("@Url.Content("~/QMS/AuditMain/_ViewObservationDetails")?ObservationID=" + ObservationID, function () {
            ShowPleaseWait('hide');
            $('#modalViewObservation').modal('show', { backdrop: 'static', keyboard: false });
            $(cntrl).attr("onclick", "ViewObservation(this," + ObservationID + ")").unbind("click");
        });
    }

    function EditObservation(ObservationID) {
        $("#hdnObservationID").val(ObservationID);
         $.ajax({
            type: "GET",
            url: "@Url.Content("~/QMS/AuditMain/UpdateObservation")",
            data: { ObservationID: ObservationID},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    IsObservationUpdate = true;
                    $("#ddlObservationSite").empty();
                    for (var i = 0; i < response.objAuditObservation.SiteList.length; i++) {
                        $("#ddlObservationSite").append($("<option></option>").val(response.objAuditObservation.SiteList[i].Value).html(response.objAuditObservation.SiteList[i].Text));
                    }
                    $('#ddlObservationSite').selectpicker('refresh');
                    $("#ddlObservationSite").selectpicker('val', response.objAuditObservation.ObservationSiteID);
                    $("#ddlObservationDept").empty();
                    for (var i = 0; i < response.objAuditObservation.SiteDeptList.length; i++) {
                        $("#ddlObservationDept").append($("<option></option>").val(response.objAuditObservation.SiteDeptList[i].Value).html(response.objAuditObservation.SiteDeptList[i].Text));
                    }
                    $("#ddlObservationDept").removeAttr('disabled');
                    $('#ddlObservationDept').selectpicker('refresh');
                    $('#ddlObservationDept').selectpicker('val', response.objAuditObservation.ObservationDeptID);

                    $("#btnObservationHistoryViewPopup").show();

                    $("#divResponseList").show();
                    //loadResponsesList();
                    if (response.objAuditObservation.AuditStatus == "2") {//For Completed Audit
                        $("#divObsRPAndDueDate").hide();
                        $("#btnObsResponse").show();
                        $("#ddlResponseResponsiblePerson").empty();
                        for (var i = 0; i < response.objAuditObservation.ResponsiblePersonList.length; i++) {
                            $("#ddlResponseResponsiblePerson").append($("<option></option>").val(response.objAuditObservation.ResponsiblePersonList[i].Value).html(response.objAuditObservation.ResponsiblePersonList[i].Text));
                        }
                        $("#ddlResponseResponsiblePerson").val('default');
                        $("#ddlResponseResponsiblePerson").selectpicker("refresh");
                    }
                    else {// For Inprogress Audit
                        $("#divObsRPAndDueDate").show();
                        $("#ddlObservationResponsiblePerson").removeAttr('disabled');
                        $("#ddlObservationResponsiblePerson").empty();
                        for (var i = 0; i < response.objAuditObservation.ResponsiblePersonList.length; i++) {
                            $("#ddlObservationResponsiblePerson").append($("<option></option>").val(response.objAuditObservation.ResponsiblePersonList[i].Value).html(response.objAuditObservation.ResponsiblePersonList[i].Text));
                        }
                        $("#ddlObservationResponsiblePerson").val('default');
                        $("#ddlObservationResponsiblePerson").selectpicker("refresh");
                        $('#ddlObservationResponsiblePerson').selectpicker('val', response.objAuditObservation.ObservationResponsiblePersonID);

                        if (parseInt(response.objAuditObservation.AuditCurrentStatus) < 5) { //Audit Report is not approved.
                            $("#divResponseList").hide();
                        }
                    }
                    $('#ddlObservationPriority').selectpicker('val', response.objAuditObservation.ObservationPriorityID);
                    $("#divLoadObservationSystemPartialView").empty();
                    $("#divLoadObservationSystemPartialView").load("@Url.Content("~/QMS/AuditMain/_ObservationSystem")?ShowType=Edit&ObservationID=" + ObservationID + "");
                    $("#txtObservationNumber").val(response.objAuditObservation.ObservationNumber);
                    if (new Date($('#txtAuditDueDate').val()) < new Date(response.objAuditObservation.ObservationDueDate)) {
                        $("#txtObservationDueDate").val("");
                    }
                    else {
                        $("#txtObservationDueDate").val(response.objAuditObservation.ObservationDueDate);
                    }
                    $("#txtObservationDescription").val(response.objAuditObservation.ObservationDescription);
                    $("#btnUpdateObservation").show();
                    $("#btnSubmitObservation").hide();
                    if (!($('#modalObservation').is(':visible'))) {
                        $('#modalObservation').modal('show', { backdrop: 'static', keyboard: false });
                    }
                }
            },
            failure: function (response) {
            },
            error: function (response) {
            }

        });
    }
</script>
