﻿<table id="tblAuditAttachments" class="table datatable_cust table-striped table-bordered  no-footer" style="width: 100%">
    <thead>
        <tr>
            <th>Attachment ID</th>
            <th>File Name</th>
            <th>Type</th>
            <th>Extention</th>
            <th>Date</th>
            <th>View</th>
            <th>Remove</th>
        </tr>
    </thead>
</table>

<script>

    //To load the Attachment to this popup
    function ViewAttachments(BaseID, BaseType, FileName) {
        // $("#divFileName").text(FileName);
        var dvShow = document.getElementById("dvAttachmentFrame");
        dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMS_Audit/QMS_AuditAttachmentViewer.aspx?BaseID=" + BaseID + "&BaseType=" + BaseType + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
        $("#modalViewAttachments").modal('show', { backdrop: 'static', keyboard: false });
        $("#hAttachmentsTitle").html(FileName);

    }
   
</script>

<script>
    var oAuditAttachments,showAuditAttachmentColumns=[0,6];
    function loadAuditAttachments()
    {
        //if (oAuditAttachments != null) {
        //    oAuditAttachments.destroy();
        //}
        if ($.fn.DataTable.isDataTable("#tblAuditAttachments")) {
            $('#tblAuditAttachments').DataTable().clear().destroy();
        }
        oAuditAttachments = $('#tblAuditAttachments').DataTable({
            columns: [
                { 'data': 'AttachmentID' },
                { 'data': 'FileName' },
                { 'data': 'Type' },
                { 'data': 'FileExtention' },
                { 'data': 'AttachmentDate' },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o)
                    {
                        if (o.Type == "Auditor Images") {//based on Type Call the viewer
                            return '<a class="view" title="View" href="#" onclick="ViewAttachments(' + o.AttachmentID + ',1,\'' + o.FileName + '\');"></a>';

                        } else {
                            return '<a class="view" title="View" href="#" onclick="ViewAttachmentsPhysicalPath(\'' + o.FilePath.replace(/\\/g, "\\\\") + '\',\'' + o.FileName + '\');"></a>';
                        }
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        if (o.CanDelete==true) {
                            return '<a class="delete_icon_feed" title="Delete" href="#" onclick="ConfirmDeleteAttachment(' + o.AttachmentID + ',\'' + o.FileName+ '\');"></a>';
                        }
                        else {
                            return 'N/A'
                        }
                    }
                }
            ],
         
            "scrollY": "250px",
            "aoColumnDefs": [{ "targets": showAuditAttachmentColumns, "visible": false },
                { className: "textAlignCenter", "targets": [3, 4, 5,6] }],
          
            "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
            "sAjaxSource": '@Url.Content("~/QMS/AuditMain/GetAuditAttachmentList")',
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "AuditID", "value": $("#AuditID").val() });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else if (result.msgType == "error") {
                            custAlertMsg(result.msg, "error");
                        }
                        else {
                            fnCallback(result);
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });

            }
        });
    }
</script>

<script>

    var _AuditFileName = "";
    function ConfirmDeleteAttachment(AttachmentID,FileName)
    {
        _AuditFileName = FileName;
        custAlertMsg('Are You Sure You want to Remove <b>'+ _AuditFileName+'</b> Attachment?', "confirm", "DeleteAttachment(" + AttachmentID + ")")
    }
    function DeleteAttachment(AttachmentID) {
        $.post("@Url.Content("~/QMS/AuditMain/DeleteAuditAttachment")", {
            "AttachmentID": AttachmentID
        },
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg("Audit Attachment <b>" + _AuditFileName+"</b> Removed.", "success", "loadAuditAttachments();");
                            break;
                    }
                }
        }, 'json');
    }
</script>
