﻿<table id="tblActionHistory" class="table datatable_cust table-striped table-bordered  no-footer" style="width: 100%">
    <thead>
        <tr>
            <th>ActionHistoryID</th>
            <th>Action</th>
            <th>Role</th>
            <th>Action By</th>
            <th>Action Date</th>
            <th>Remarks</th>
        </tr>
    </thead>
</table>

<script>
    var oActionHistory;
    function ShowHistory(historyUrl) {
        if ($.fn.DataTable.isDataTable("#tblActionHistory")) {
            $('#tblActionHistory').DataTable().clear().destroy();
        }
        oActionHistory = $('#tblActionHistory').DataTable({
            columns: [
                { 'data': 'ActionHistoryID' },
                { 'data': 'ActionStatus' },
                { 'data': 'ActionRole' },
                { 'data': 'ActionBy' },
                { 'data': 'ActionDate' },
                { 'data': 'Remarks' }
            ],
            "scrollY": "250px",
            "aoColumnDefs": [{ "targets": [0], "visible": false }, { className: "textAlignCenter", "targets": [4] }, { "width": "25%", "targets": [5] }, { "targets": [0, 1, 2, 3, 4, 5], "bSortable": false}],
            "sAjaxSource": historyUrl,
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "AuditID", "value": $("#AuditID").val()});
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else if (result.msgType == "error") {
                            custAlertMsg(result.msg, "error");
                        } else {
                               fnCallback(result);
                            }
                        },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });

            }
        });
    }
</script>