﻿
<div class="col-12 float-left padding-none">
    <table id="tblResponsesList" class="table datatable_cust table-striped table-bordered no-footer" style="width: 100%">
        <thead>
            <tr>
                <th>ResponseID</th>
                <th>AssignedObservationID</th>
                <th>StatusID</th>
                <th>Has Attachments</th>
                <th>Action Status</th>
                <th>Response Description</th>
                <th>Observation Status</th>
                <th>Turnaround Days</th>
                <th>Action</th>
                <th>Attachments</th>
            </tr>
        </thead>
    </table>
</div>
@*<div id="divLoadResponseView"></div>*@
 
  <script>
     
    function ResponseAttachments(ResponseID, showUploader)
    {
         $("#hdnResponseID").val(ResponseID);
         $('#modalResponseAttachmentUpload').modal('show', { backdrop: 'static', keyboard: false });
         if (showUploader == "OnlyList") {
             $("#divReponseUploderSection").hide();
             $("#hdnShowResponseAttachmentDeleteColumn").val("No");
         }
         else {
             $("#divReponseUploderSection").show();
             $("#hdnShowResponseAttachmentDeleteColumn").val("Yes");
         }
    }

      function EditResponse(ResponseID) {
          ShowPleaseWait('show');
        $("#hdnResponseID").val(ResponseID);
         $.ajax({
            type: "GET",
            url: "@Url.Content("~/QMS/AuditMain/UpdateObservationResponseForCompletedAudit")",
            data: { ResponseID: ResponseID},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ShowPleaseWait('hide');
                if (response.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    if (response.objObservationResponse.IsResponsibleEmpEntry) {
                        ResponseResponsiblePersonEntry();
                        $("#txtResponseResponsiblePersonName").val(response.objObservationResponse.ResponsibleEmpName);
                    }
                    else {
                        ResponseResponsiblePersonDefault();
                        $('#ddlResponseResponsiblePerson').selectpicker('val', response.objObservationResponse.ResponsibleEmpID);
                    }
                    $("#txtResponseSubmittedDate").val(response.objObservationResponse.SubmittedDate);
                    $("#txtResponseDescription").val(response.objObservationResponse.ResponseDescription);
                    $("#btnUpdateResponse").show();
                    $("#btnSubmitResponse").hide();
                    $("#hClosedAuditObservationResponseModalHeading").text("Update Response");
                    $('#modalClosedAuditObservationResponse').modal('show', { backdrop: 'static', keyboard: false });
                }
            },
            failure: function (response) {
                // custAlertMsg('Internal Error Occured on Adding Questions t()o FAQ', 'error');
            },
            error: function (response) {
                // custAlertMsg('Internal Error Occured on Adding Questions to FAQ', 'error');
            }

        });

    }
      function InProgressAuditResponseViewOrApprovalOrEdit(ResponseID, TypeOfView) {
          ShowPleaseWait('show');
        $("#hdnResponseID").val(ResponseID);
         $.ajax({
            type: "GET",
            url: "@Url.Content("~/QMS/AuditMain/UpdateObservationResponseForInProgressAudit")",
            data: { ResponseID: ResponseID},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ShowPleaseWait('hide');
                if (response.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    ClearAlltheFieldsOfInProgressAuditResponsePopup();
                    $("#txtInprogressResponseDescription").val(response.objObservationResponse.ResponseDescription);
                    if (response.objObservationResponse.StatusID == 2) {
                        $("#ddlInprogressResponseStatus").val("2");
                        $(".btn[data-id='ddlInprogressResponseStatus']").prop('title', 'Close');
                        $(".btn[data-id='ddlInprogressResponseStatus'] .filter-option-inner-inner").text("Close");
                    }
                    else {
                        $("#ddlInprogressResponseStatus").val("1");
                        $(".btn[data-id='ddlInprogressResponseStatus']").prop('title', 'Open');
                        $(".btn[data-id='ddlInprogressResponseStatus'] .filter-option-inner-inner").text("Open");
                    }
                    if (response.objObservationResponse.IsCapaRequired == 1) {
                        $("#ddlIsCAPARequired").val("1");
                        $(".btn[data-id='ddlIsCAPARequired']").prop('title', 'Yes');
                        $(".btn[data-id='ddlIsCAPARequired'] .filter-option-inner-inner").text("Yes");
                        $(".btn[data-id='ddlIsCAPARequired']").addClass("disabled");
                    }
                    else {
                        $("#ddlIsCAPARequired").val("0");
                        $(".btn[data-id='ddlIsCAPARequired']").prop('title', 'No');
                        $(".btn[data-id='ddlIsCAPARequired'] .filter-option-inner-inner").text("No");

                    }
                    if (response.objObservationResponse.ExpectedOrCloserDate == "" || response.objObservationResponse.ExpectedOrCloserDate == null) {
                        $("#txtInprogressResponseClosureDate").val("");
                    }
                    else {
                        $("#txtInprogressResponseClosureDate").val(response.objObservationResponse.ExpectedOrCloserDate);
                    }
                    if (response.objObservationResponse.ResponsibleHOD_Comments == "" || response.objObservationResponse.ResponsibleHOD_Comments == null) {
                        $("#txtInprogressResponseRemarks").val("N/A");
                    }
                    else {
                        $("#txtInprogressResponseRemarks").val(response.objObservationResponse.ResponsibleHOD_Comments);
                    }
                    if (response.objObservationResponse.QAComments == "" || response.objObservationResponse.QAComments == null) {
                        $("#txtInprogressResponseReviewerRemarks").val("N/A");
                    }
                    else {
                        $("#txtInprogressResponseReviewerRemarks").val(response.objObservationResponse.QAComments);
                    }
                    if (response.objObservationResponse.StatusID == "2") {//Closed
                        $("#divInProgressResponseClosureDate").hide();
                    }
                    else {
                        $("#divInProgressResponseClosureDate").show();
                    }
                    if (TypeOfView == "View") {
                        $("#hdnIsResponseViewMode").val("Yes");
                        if (response.objObservationResponse.StatusID == "1" && response.objObservationResponse.IsCapaRequired=="1") {
                           // CheckAndShowtheCAPAJQDatatable("View");
                            CAPASectionShowHide("CAPA_ListOnly");
                        }
                        else {
                            CAPASectionShowHide("CAPA_Hide");
                        }
                        OnlyViewStateResponseOfInProgressAudit();
                    }
                    else if (TypeOfView == "Modify") {
                        $("#hdnIsResponseViewMode").val("No");
                        HOD_StateResponseOfInprogressAudit('Update');
                        if ($("#hdnObservationCurrentHistoryStatus").val() == "7") {
                            $("#txtInprogressResponseRemarks").val("");
                        }
                        if (response.objObservationResponse.IsddlClosedEnable == true) {
                            MakeddlInprogressResponseStatusClosedOptionDisableOrEnable("Enable");
                        }
                        else {
                            MakeddlInprogressResponseStatusClosedOptionDisableOrEnable("Disable");
                        }
                        if (response.objObservationResponse.StatusID == "1" && response.objObservationResponse.IsCapaRequired == "1") {
                            //CheckAndShowtheCAPAJQDatatable("Update");
                            CAPASectionShowHide("CAPA_Edit");
                        }
                        else {
                            CAPASectionShowHide("CAPA_Hide");
                        }
                    }
                    else if (TypeOfView == "Approval") {
                        $("#hdnIsResponseViewMode").val("Yes");
                        QA_StateResponseOfInprogressAudit('Approval');
                        if (response.objObservationResponse.StatusID == "1" && response.objObservationResponse.IsCapaRequired == "1") {
                            //CheckAndShowtheCAPAJQDatatable("View");
                            CAPASectionShowHide("CAPA_ListOnly");
                        }
                        else {
                            CAPASectionShowHide("CAPA_Hide");
                        }
                    }
                    if (response.objObservationResponse.ActionStatusID == "5") {
                        $("#divResponseRemarks").hide();
                    }
                    else {
                        $("#divResponseRemarks").show();
                    }
                    InProgressResponsePopupOpen();
                }
            },
            failure: function (response) {
                // custAlertMsg('Internal Error Occured', 'error');
            },
            error: function (response) {
                // custAlertMsg('Internal Error Occured', 'error');
            }

        });
    }

    var oResponsesList;
    function loadResponsesList()
    {
        if (oResponsesList != null) {
            oResponsesList.destroy();
        }
        oResponsesList = $('#tblResponsesList').DataTable({
            columns: [
                { 'data': 'ResponseID' },//0
                { 'data': 'AssignedObservationID' },//1
                { 'data': 'StatusID' },//2
                { 'data': 'HasAttachments' },//3
                { 'data': 'ActionStatus' },//4
                { 'data': 'ResponseDesc' },//5
                { 'data': 'ResponseStatus' },//6
                { 'data': 'TurnAroundTime' },//7
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {

                        if ($("#hdnAuditMode").val() == "View" && ($("#hdnAuditCurrentStatusID").val() == "5" || $("#hdnAuditCurrentStatusID").val() == "6" || $("#hdnAuditCurrentStatusID").val() == "7") && $("#hdnAuditCreationStatusID").val() == "1") {
                            //if (($("#hdnResponseMode").val() == "Edit" && (o.ActionStatus == "1" || o.ActionStatus == "2" || o.ActionStatus == "4")) || ($("#hdnResponseMode").val() == "View" && (o.ActionStatus == "3" || o.ActionStatus == "4"))) {
                            //    //Only View
                            //    return '<a class="view" title="Edit" href="#" onclick="InProgressAuditResponseViewOrApprovalOrEdit(' + o.ResponseID + ',\'View\');"></a>';
                            //}
                            if (($("#hdnResponseMode").val() == "Edit" || $("#hdnResponseMode").val() == "Create") && (o.ActionStatus == "1" || o.ActionStatus == "4" || o.ActionStatus == "3")) {// 1 for Created Response,4 Reverted Response
                                // Edit by RP HOD
                                return '<a class="Edit" title="Edit" href="#" onclick="InProgressAuditResponseViewOrApprovalOrEdit(' + o.ResponseID + ',\'Modify\');"></a>';
                            }
                            else if ($("#hdnResponseMode").val() == "View" && (o.ActionStatus == 2) && $("#hdnIsValidAuthor").val()=="True") // 2 for Submitted For Approval ,3 For Modified Response
                            //else if ($("#hdnResponseMode").val() == "View" && (o.ActionStatus == "5"))
                            {
                            // Approval By QA
                                return '<a class="Edit" title="Edit" href="#" onclick="InProgressAuditResponseViewOrApprovalOrEdit(' + o.ResponseID + ',\'Approval\');"></a>';
                            }
                            else if (o.ActionStatus == "5") {// 5 for Approved Response
                                return '<a class="view" title="Action" href="#" onclick="ViewResponse(' + o.ResponseID + ');"></a>';
                            }
                            else {
                                return '<a class="view" title="View" href="#" onclick="InProgressAuditResponseViewOrApprovalOrEdit(' + o.ResponseID + ',\'View\');"></a>';
                            }
                        }
                        if (($("#hdnAuditMode").val() == "View"
                            && $("#hdnAuditCurrentStatusID").val() == "5" && $("#hdnResponseMode").val()=="Edit")) {
                            return '<a class="Edit" title="Edit" href="#" onclick="EditResponse(' + o.ResponseID + ');"></a>';
                        }
                        else if ($("#hdnAuditMode").val() == "Edit") {
                            return '<a class="Edit" title="Edit" href="#" onclick="EditResponse(' + o.ResponseID + ');"></a>';
                        }
                        else
                        {
                            return '<a class="view" title="View" href="#" onclick="ViewResponse(' + o.ResponseID + ');"></a>';
                        }
                    }
                },//8
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        if ($("#hdnAuditMode").val() == "View" && ($("#hdnAuditCurrentStatusID").val() == "5" || $("#hdnAuditCurrentStatusID").val() == "7") && $("#hdnAuditCreationStatusID").val() == "1") {
                            if ($("#hdnResponseMode").val() == "Edit" && (o.ActionStatus == "1" || o.ActionStatus == "3" || o.ActionStatus == "4")) {// 1 for Created Response,3 Modified Response,4 Reverted Response
                                // Edit by RP HOD
                                return '<a class="UploadIcon" title="View Attachments" href="#" onclick="ResponseAttachments(' + o.ResponseID + ',\'View\');"></a>';
                            }
                            else {
                                if (o.HasAttachments == "Y") {
                                    return '<a class="view" title="View Attachments" href="#" onclick="ResponseAttachments(' + o.ResponseID + ',\'OnlyList\');"></a>';
                                }
                                else {
                                    return 'N/A'
                                }
                            }
                        }

                        if (($("#hdnAuditMode").val() == "View"
                            && $("#hdnAuditCurrentStatusID").val() == "5" && $("#hdnResponseMode").val() == "Edit")) {
                            return '<a class="UploadIcon" title="View" href="#" onclick="ResponseAttachments(' + o.ResponseID + ',\'View\');"></a>';
                        }
                        else if ($("#hdnAuditMode").val() == "Edit") {
                            return '<a class="UploadIcon" title="View" href="#" onclick="ResponseAttachments(' + o.ResponseID + ',\'View\');"></a>';
                        }
                        else {
                            if (o.HasAttachments=="Y") {
                                return '<a class="view" title="View Attachments" href="#" onclick="ResponseAttachments(' + o.ResponseID + ',\'OnlyList\');"></a>';
                            }
                            else {
                                return 'N/A'
                            }
                        }
                    }
                }//9
            ],
          "scrollY": "250px",
            "aoColumnDefs": [{ "targets": [0, 1, 2, 3, 4], "visible": false }, { "className": "textAlignCenter", "targets": [6, 7,8, 9] },
            { "width": "100%", "targets": [5] }],
            "lengthMenu": [[5, 10, 25, 50], [5, 10, 25, 50]],
            "sAjaxSource": '@Url.Content("~/QMS/AuditMain/GetResponseList")',
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "ObservationID", "value": $("#hdnObservationID").val() });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {

                        if (result.msgRedirecttoLoginPage) {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else if (result.msgType == "error") {
                            custAlertMsg(result.msg, "error");
                        }
                        else {
                            fnCallback(result);
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });

            }
        });

    }

  </script>

 