﻿<!--For File Drag and Drop-->
<link href=@Url.Content("~/Content/bootstrap-fileinput/css/fileinput.css") rel="stylesheet" />
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/fileinput.js")></script>
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/theme.js")></script>
<input type="hidden" name="hdnShowResponseAttachmentDeleteColumn" id="hdnShowResponseAttachmentDeleteColumn" value="No" />
@Html.Hidden("hdnResponseFilesUploadCount")

<div id="modalResponseAttachmentUpload" class="modal department fade" role="dialog" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="formAuditUpload" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Response Attachment</h4>
                    <button type="button" class="close" onclick="$('#modalResponseAttachmentUpload').modal('hide');">&times;</button>
                </div>
                <div class="modal-body" style="max-height:500px; overflow-y:auto; ">
                    <div id="divReponseUploderSection">
                        <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                            <label class=" custom_label col-form-label"></label>
                            <div class="file-loading">
                                <input id="fuResponse" class="custom-file-input" type="file" multiple accept="application/pdf">
                            </div>
                        </div>
                    </div>
                    <div id="divResponseAttachmentList">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none">
                            <table id="tblResponseAttachmentsList" class="table datatable_cust table-striped table-bordered no-footer" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Attachment ID</th>
                                        <th>File Name</th>
                                        <th>Extension</th>
                                        <th>Date</th>
                                        <th>View</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#modalResponseAttachmentUpload').on('shown.bs.modal', function () {
        loadResponseAttachmentsList();
    });
</script>

<!--Response File Upload-->
<script>
    var AllResponseFilesUploaded = 0;
    $("#fuResponse").fileinput({
             'theme': 'explorer-fa',
             'uploadUrl': '@Url.Content("~/QMS/AuditMain/AuditResponseAttachments")',
             'showUpload': true,
             'showCancel': false,
             'showClose':true,
             'maxFileCount': 5,
             'maxFileSize':10000,
             'required': true,
             'overwriteInitial': false,
             //'allowedFileExtensions': ['jpg', 'png', 'docx', 'doc', 'pdf', 'txt', 'rtf'],
             'allowedFileExtensions': ['pdf'],
             'initialPreviewAsData': true,
             'uploadExtraData': function () {
                 var fileExtraData = {
                     "ResponseID": $('#hdnResponseID').val()
                 }
                 return fileExtraData;
             },
             'browseOnZoneClick': true,
             'fileActionSettings': {
                showUpload: false,
                showRemove: true
             }
        });

    $('#fuResponse').on('fileuploaded', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        if (response.msg != null) {
            AllResponseFilesUploaded = AllResponseFilesUploaded + 1;
            if (AllResponseFilesUploaded == parseInt($('#hdnResponseFilesUploadCount').val()))
            {
                custAlertMsg(response.msg, response.msgType, 'clearResponseFileInput()');
                loadResponseAttachmentsList();
            }
        }
    });

    $('#fuResponse').on('filepreupload', function (event, data, previewId, index, jqXHR) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;

        var fileNamesExceedCount = 0;
        $('.file-preview-thumbnails .file-preview-frame.explorer-frame.kv-preview-thumb').each(function () {
            if ($(this).attr('title').length > 200) {
                fileNamesExceedCount++;
                $(this).find('.explorer-caption').css("color", "red");
            }
        });
        if (fileNamesExceedCount > 0) {
            return {
                message: fileNamesExceedCount + ' file name exceeds 200 characters'
            };
        }          

        AllResponseFilesUploaded = 0;
        console.log(data.filescount);
        console.log(data.files.length);
        $('#hdnResponseFilesUploadCount').val(data.filescount);
    });
    $('#fuResponse').on('filecustomerror', function (event, params, msg) {
        $('.kv-fileinput-error.file-error-message').empty();
        var errorMsg = '<button type="button" class="close kv-error-close" aria-label="Close">' +
            '<span aria-hidden="true">×</span></button>' +
            '<ul><li>' + msg + '</li></ul>';
        $('.kv-fileinput-error.file-error-message').html(errorMsg);
    });
    function clearResponseFileInput() {
        $('#fuResponse').fileinput('clear');
    }
</script>

<script>
    var oResponseAttachments;
    function loadResponseAttachmentsList()
    {
        if (oResponseAttachments != null) {
            oResponseAttachments.destroy();
        }
        oResponseAttachments = $('#tblResponseAttachmentsList').DataTable({
            columns: [
                { 'data': 'AttachmentID' },
                { 'data': 'FileName' },
                { 'data': 'FileExtention' },
                { 'data': 'AttachmentDate' },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        //return '<a class="view" title="View" href="#" onclick="ViewAttachments(' + o.AttachmentID + ',2,\'' + o.FileName + '\');"></a>';
                        return '<a class="view" title="View" href="#" onclick="ViewAttachmentsPhysicalPath(\'' + o.FilePath.replace(/\\/g, "\\\\") + '\',\'' + o.FileName +'\');"></a>';
                    }
                },
                {
                    "mData": null,
                    "bSortable": false,
                    "mRender": function (o) {
                        if (o.CanDelete == true) {
                            return '<a class="delete_icon_feed" title="Delete" href="#" onclick="ConfirmDeleteResponseAttachment(' + o.AttachmentID + ',\'' + o.FileName+'\');"></a>';
                        }
                        else {
                            return 'N/A'
                        }
                    }
                }
            ],
            "scrollY": "250px",
            "aoColumnDefs": [{ "targets": [0, 5], "visible": false },
                { className: "textAlignCenter", "targets": [2,3, 4, 5] }],
            "bServerSide": true,
            "sAjaxSource": '@Url.Content("~/QMS/AuditMain/GetResponseAttachmentList")',
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "ResponseID", "value": $("#hdnResponseID").val() });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else if (result.msgType == "error") {
                            custAlertMsg(result.msg, "error");
                        }
                        else {
                            fnCallback(result);
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });

            }
        });
        if ($("#hdnShowResponseAttachmentDeleteColumn").val() == "Yes") {
             MakResponseAttachmentsListDeleteColumnVisible();
        }
    }
    function MakResponseAttachmentsListDeleteColumnVisible() {
        $('#tblResponseAttachmentsList').DataTable().columns([5]).visible(true);
    }
</script>
<!--Begin Response Attachments Delete Functionality-->
<script>
    var _ResponseFileName = "";
    function ConfirmDeleteResponseAttachment(AttachmentID,FileName)
    {
        _ResponseFileName =FileName;
        custAlertMsg('Are You Sure You want to Remove <b>'+ _ResponseFileName+'</b> Attachment?', "confirm", "DeleteResponseAttachment(" + AttachmentID + ")")
    }
    function DeleteResponseAttachment(AttachmentID) {
        $.post("@Url.Content("~/QMS/AuditMain/DeleteResponseAttachment")", {
            "AttachmentID": AttachmentID
        },
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg("Audit Attachment <b>" + _ResponseFileName +"</b> Removed.", "success", "loadResponseAttachmentsList();");
                            break;
                    }
                }
        }, 'json');
    }
</script>
<!--End Response Attachments Delete Functionality-->
