﻿<style>
    .embed-responsive-16by9::before {
        padding-top: 34.25% !important;
    }

    .embed-responsive {
        min-height: 688px !important;
        max-height: 688px !important;
    }
</style>

<div id="modalViewAttachments" data-backdrop="static" class="modal department fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" style="min-width:90%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title" id="hAttachmentsTitle">Attachments View</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="max-height: 715px !important;overflow-y:auto;">
                <div class="embed-responsive embed-responsive-16by9" id="dvAttachmentFrame">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //To load the Attachment to this popup
    function ViewAttachmentsPhysicalPath(FilePathandName,ModalPopupTitle="") {
        ShowPleaseWait('show');
        var dvShow = document.getElementById("dvAttachmentFrame");
        $("#hAttachmentsTitle").html("Attachments View");
        if (ModalPopupTitle != "") {
            $("#hAttachmentsTitle").html(ModalPopupTitle);
        }
        PdfViewerContentLoading(FilePathandName, dvShow,'OpenAttachmentModalPopup');
    }
    function OpenAttachmentModalPopup() {
        ShowPleaseWait('hide');
        $("#modalViewAttachments").modal('show', { backdrop: 'static', keyboard: false });
    }
</script>
<script src='@Url.Content("~/AppScripts/CommonPDF_Viewer.js")'></script>