﻿@{
    ViewBag.Title = "_PRODUCTLayout";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>_PMSLayout</h2>
<link href=@Url.Content("~/AppCSS/PMS/productstylesheet.css") rel="stylesheet" />

<div class="col-12 float-left padding-none">
    <div class="col-12 productmenu_list float-left top">
        <div class="offset-lg-4 float-left ">
            <!--Start With Module Roles Checking-->
            @if (Session["EmpModuleRoles"] != null)
            {
                string[] ModuleRoles = (string[])Session["EmpModuleRoles"];

                if (ModuleRoles.Length > 0)
                {
                    <ul class="col-12  float-left">
                        @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.Product_Roles.Product_Admin).ToString())
                        || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.Product_Roles.Product_Approver).ToString())
                        || ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.Product_Roles.Product_User).ToString()))
                        {
                           
                        }
                    </ul>
                }
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#dvDataList').show();
        $('#dvProductList').hide();
    });

</script>

<!---sub menu ends-->
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none formlist top">
    @RenderBody()
</div>

<script>
    $(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>

