﻿<style>
    #tblNotification_filter,#tblNotification_info {
        display: none;
    }
 #ModalNotification div[title="Click On Close Button To Remove the Notification."] {
        background-color: #d8e3e5;
        border-radius: 8px !important;
    }

    /*#ModalNotification .CloseNotification {
        display: none;
    }*/

    #ModalNotification .notification_name {
        font-size: 14px;
        font-family: seguisb;
        color: #2a2f2f;
        padding: 10px;
    }

    #ModalNotification a {
        text-decoration: underline;
        color: #2ca1a2 !important;
    }

    #tblNotification_paginate .page-link {
        text-decoration: none !important;
    }

    #tblNotification_paginate .page-item.active a {
        color: #fff !important;
        text-decoration: none !important;
    }
</style>
<div class="modal fade department" data-backdrop="static" data-keyboard="false" id="ModalNotification" role="dialog">
    <div class="modal-dialog modal-lg" style="min-width:90%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Notification(s)</h4>
                <button type="button" class="close" data-dismiss="modal" id="btnCloseModal">&times;</button>
            </div>
            <div class="modal-body">
                <table id="tblNotification" class="table top">
                    <thead>
                        <tr>
                            <th>NotificationID </th>
                            <th style="display:none">Description </th>
                            <!--<th>Generated Date </th>
                            <th>Module Name </th>
                            <th>Status </th>-->
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        $('#ModalNotification').on('show.bs.modal', function () {
            NotificationList();
        })
    });
</script>
<script>

    var otblNotification;
    function NotificationList() {
        if (otblNotification != null) {
            otblNotification.destroy();
        }
        otblNotification = $('#tblNotification').DataTable({
            columns:
            [
                { 'data': 'NotificationID' },//0
                //{
                //    "mData": null,
                //    "bSortable": false,
                //    "mRender": function (o) {
                //        if (o.NotificationLink == "#") {
                //            return '<span class="notification_name col-lg-11 float-left">' + o.Description + '</span>';
                //        } else {
                //            return '<a class="notification_name col-lg-11 float-left" title="Click to Visit The Page." href="' + o.ReferenceLink +'" onclick="RedirectTo(this)";">'+o.Description+ '</a>';
                //        }
                //    }
                //}
                { 'data': 'Description' },//2
                //{ 'data': 'ModuleName' },//3
                //{ 'data': 'NotifyStatus' }//4

            ],
            //"aoColumnDefs": [{ "targets": [0], "visible": false }, { "bSortable": false, "targets": [0, 1] }, { className: "textAlignCenter", "targets": [3,4] }],
            "aoColumnDefs": [{ "targets": [0], "visible": false }, { "bSortable": false, "targets": [0, 1] }],
            "lengthMenu": [[5, 10, 20], [5, 10, 20]],
            //"bFilter": false,
            "sAjaxSource": AizantIT_WebAPI_URL + "/api/Notification/GetUserNotificationsList",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "EmpID", "value": $('#hdnEmpID').val() });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgType == "error") {
                            custAlertMsg(result.msg, "error");
                        }
                        else {
                            fnCallback(result);
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            }
        });
    }

</script>
<script>
    function ClearNotifyTolist(NotifyID, EmpID, cntrl) {
        var rowcount = $('#tblNotification tbody tr').length;//get Row Count in Current page
        $.ajax({
            type: "POST",
            url: AizantIT_WebAPI_URL + "/api/Notification/SubmitNotifications?Notification_ID=" + NotifyID + "&Emp_ID=" + EmpID,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function () {
                LoadNotificationCount();
                if (rowcount != 1) {
                    $(cntrl).closest('tr').remove();
                } else {
                    $(cntrl).closest('tr').remove();
                    $("#tblNotification tbody").append('<tr><td class="text-center">No Records Available</td></tr>');
                }
            },
            failure: function (response) {
                console.log(response);
            },
            error: function (response) {
                console.log(response);
            }
        });
    }
</script>




