﻿
<div id="ElectronicSignModal" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">Electronic Signature</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form autocomplete="off">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none bottom ">
                            <div class="col-xl-12">
                                <label class="col-xl-4 custom_label col-form-label col-lg-3 float-left padding-none" for="Login_ID" id="LoginID">Login ID</label>
                                <label id="lblLoginID" class="col-xl-8 padding-none col-form-label col-lg-3" style="color:black"></label>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 padding-none ">
                            <div class="col-xl-12">
                                <label class="col-xl-4 col-12 col-md-12 col-sm-12 custom_label col-form-label float-left col-lg-3 padding-none" for="Login_Pas" id="LoginID">Password</label>
                                <div class="col-xl-8 col-12 col-md-12 col-sm-12 custom_label col-form-label col-lg-9 float-left padding-none">
                                    @Html.Password("Password", null, htmlAttributes: new { @id = "Password", @class = "form-control col-12", @placeholder = "Password" })
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="footer">
                <button type="button" class="btn btn-signup_popup" id="btnAProve" autofocus onclick="CheckPassword();" ,autofocus="autofocus">Submit</button>
                <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function focusOnElecSignPwd() {
        $("#Password").val("");
        $("#Password").focus();
    }
    var callBack_Electronic_Sign_forValidUser;
    function ElectronicSignPopupOpen(callBackFunc) {
        callBack_Electronic_Sign_forValidUser = callBackFunc;
        $('#lblLoginID').text(EmpLoginID);
        $('#lblLoginID').text('@((Session["UserDetails"] as System.Data.DataSet).Tables[0].Rows[0]["EmpLoginID"].ToString())');
        $('#ElectronicSignModal').modal('show');
        focusOnElecSignPwd();
    }
    $('#ElectronicSignModal').on('shown.bs.modal', function () {
        focusOnElecSignPwd();
    });
    function ElectronicSignPopupClose() {
        $('#ElectronicSignModal').modal('hide');
    }
    function CheckPassword() {
        var GivenPassword = $("#Password").val();
        if (GivenPassword == "") {
            custAlertMsg("Enter Password.", "error","focusOnElecSignPwd();");
        }
        else
        {
            callVerifyPassword(EmpID, GivenPassword);
        }
    }

    function callVerifyPassword(EmpID, Password) {
        setTimeout(function () { $("#btnAProve").attr("disabled", true); }, 0);
        var objStr = { "EmpID": EmpID, "Password": Password };
        var jsonData = JSON.stringify(objStr);
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Common/WebServices/ElectronicSign.asmx/VerifyElectronicSign")',
            data: jsonData,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var result = response.d;
                if (result == "True") {
                    setTimeout(function () { $("#btnAProve").attr("disabled", false); }, 0);
                    onES_Valid_CallBack();
                    ElectronicSignPopupClose();
                }
                else {
                    //OnFalse();
                    custAlertMsg("Password is Incorrect!.", "error", "focusOnElecSignPwd();");
                    setTimeout(function () { $("#btnAProve").attr("disabled", false); }, 0);
                }
            },
            failure: function (response) {
                // alert(response.d);
                setTimeout(function () { $("#btnAProve").attr("disabled", false); }, 0);
            },
            error: function (response) {
                setTimeout(function () { $("#btnAProve").attr("disabled", false); }, 0);
            }
        });
    }

    function onES_Valid_CallBack() {
        this[callBack_Electronic_Sign_forValidUser]();
    }
</script>

<script>
    $('#Password').keypress(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });    
</script>