﻿<!--Errr Popup-->
<div id="IncidentPartialModalExceptionError" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content" style="background:#ffe6e4;">
            <div class="modal-header " style="background:#ffe6e4; color:#f44336;border-bottom:1px solid #f44336; ">
                <div class="error_icon">
                    <img src="@Url.Content("~/Images/CustomAlerts/error.png")" class="img_popup" title="Smiley face" />
                    <h4 class="modal-title header_text" style="color:#f44336">Error</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 padding-none">
                    <p id="msgError" class="col-lg-12  " style="max-height: 200px; color:#000; overflow-x: auto;"></p>
                </div>
            </div>
            <div class="modal-footer" style="border-top:1px solid #f44336">

                <button type="button" id="btnErrorOk" class="btn btn-cancel_popup top" onclick="ReloadIncidenList()">OK</button>
            </div>
        </div>

    </div>
</div>
<!-- End Error Popup-->
<!--Error Popup Open-->
<script>
    document.getElementById("msgError").innerHTML = "@ViewBag.Exception";
    $('#IncidentPartialModalExceptionError').modal({ backdrop: 'static', keyboard: false });
</script>

<script>
 function ReloadIncidenList() {
     @*window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { area = "QMS" })';*@
      window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 8, area = "QMS" })';
    }
</script>