﻿@using System.Web.Optimization
@using System.Data
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aizant Pharma Intelligence</title>
    <style type="text/css" media="print">
        * {
            display: none;
        }
    </style>
    <style>
        .topbar {
            -webkit-transform: translate3d(0,0,0);
        }

        div[title="Click On Close Button To Remove the Notification."] {
            background-color: #d8e3e5;
        }

            div[title="Click On Close Button To Remove the Notification."] a {
                text-decoration: none !important;
                cursor: no-drop !important;
            }
    </style>

    <style type="text/css">
        a {
            color: #0254EB
        }

            a:visited {
                color: #0254EB
            }

            a.morelink {
                text-decoration: none;
                outline: none;
            }

        .morecontent span {
            display: none;
        }

        /*.comment {
            width: 400px;
            background-color: #f0f0f0;
            margin: 10px;
        }*/
    </style>

    <link rel="shortcut icon" href=" ~/favicon.ico" />
    <link href='@Url.Content("~/AppCSS/QMS/css/qms_header_stylesheet.css")' rel="stylesheet" />
    @Styles.Render("~/Bundles/PredefinedStyles")
    @Styles.Render("~/Bundles/UserdefinedStyles")
    @Scripts.Render("~/Bundles/PredefinedScripts")
    <script src='@Url.Content("~/AppScripts/LeftActivePage.js")'></script>

    <script>
        var AizantIT_WebAPI_URL = "http://localhost:53973";
        var AGA_ML_URL = "http://172.16.16.8:8333";
    </script>

    <!--Datatable Defaults-->
    <script>

        var _NotifyEmpID = 0;
        $.extend(true, $.fn.dataTable.defaults, {
            "pagingType": "simple_numbers",
            "orderClasses": false,
            "order": [0, "desc"],
            "info": true,
            "scrollX": true,
            "scrollY": "50vh",
            "scrollCollapse": true,
            "language": {
                "lengthMenu": "Show _MENU_ Records per page",
                //"zeroRecords": "Nothing Found",
                "info": "Showing _START_ to _END_ out of _TOTAL_ records",
                "infoEmpty": "No records available",
                //"infoFiltered": "(filtered from _MAX_ total records)",
                "searchPlaceholder": "Search Records"
            },
            "search": {
                "regex": true
            },
            "bServerSide": true,
            "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
        });

        function ResetHeaderWidth() {
            $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust();
        }
    </script>

    @*<script>
            $.fn.datetimepicker.defaults = {
                keyBinds: {
                    t: function () {
                        //this.date(this.getMoment());
                    }
                },
            };
        </script>*@

    <script>
        function ShowPleaseWaitImg(visible) {
            if (visible == 'show') {
                $('#divPleaseWait').show();
            }
            else {
                $('#divPleaseWait').hide();
            }
        };

        function ShowPleaseWait(visible) {
            if (visible == 'show') {
                $('#divPleaseWaitNoImg').show();
            }
            else {
                $('#divPleaseWaitNoImg').hide();
            }
        };

        function ShowDocumentWait(visible) {
            if (visible == 'show') {
                $('#divDocumentWait').show();
            }
            else {
                $('#divDocumentWait').hide();
            }
        };
    </script>
    <script>
        document.onkeydown = keydown;
        function keydown(evt) {
            if (!evt) {
                evt = event;
            }
            if (evt.ctrlKey && evt.altKey && evt.keyCode === 115)
            { 
                $("#logout").modal();
                return true;
            }
        }
    </script>
    <script>
        $(document).on('keydown', function (e) {
        if ($('#logout').is(':visible')) {
        var key = e.which;
        if (key == 13) { //This is an ENTER
        _LogOut();
        }
        }
        });
    </script>
    <script>
        $('#Password').keypress(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                CheckPassword();
                return true;
            }
        });
    </script>

</head>
<body class="style-3">
    @RenderSection("scripts", required: false)
    <div>
        <header class="col-lg-12 padding-none fixed-top">
            <input id="hdnNotifyOnlyTop" type="hidden" value="Yes" />
            <input id="hdnNotifyActualCount" type="hidden" value="0" />
            @{
                <!--Store Employee Login ID to use Electronic signature-->
                if (TempData["EmpLoginID"] != null)
                {
                    <input id="hdnEmpLoginID" type="hidden" value="@TempData["EmpLoginID"]" />
                }
                else
                {
                    <input id="hdnEmpLoginID" type="hidden" value="" />
                }
                @*if (TempData["EmpID"] != null)
                        {
                            <input id="hdnEmpID" type="hidden" value="@TempData["EmpID"]" />
                        }
                        else
                        {
                            <input id="hdnEmpID" type="hidden" value="" />
                    }*@
                if (Session["UserDetails"] != null)
                {
                    <input id="hdnEmpID" type="hidden" value="@((Session["UserDetails"] as System.Data.DataSet).Tables[0].Rows[0]["EmpID"].ToString())" />
                }
                else
                {
                    <input id="hdnEmpID" type="hidden" value="" />
                }
            }
            <div class="logo_landing  float-left col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 padding-none">
                <div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 col-6 float-left ">
                    <a href="@Url.Content("~/Dashboards/Home.aspx")" title="Aizant Pharma Intelligence">
                        <img src="@Url.Content("~/Images/Landing/logo_landing.png")" alt="Smiley face" />
                    </a>
                </div>
                <div class="logo_bg float-right col-lg-8 col-xl-8 col-md-8 col-sm-8 col-8 padding-none">
                    <div class="landing_links">
                        <ul>
                            <li class=""><a href="@Url.Content("~/Dashboards/Home.aspx")" title="Home" class="home active"></a></li>
                            <li id="notification_li" style="position:relative;">
                                <span id="notification_count"></span>
                                <a id="notificationLink" class="notification" title="Notification">
                                    <div class="notification_linkdiv" id="div_notification_link" style="display:none;"></div>
                                    <div class="test_time" style="display: none"></div>
                                </a>

                            </li>
                            <div id="notificationContainer">
                                <div id="notificationTitle">Notifications</div>
                                <div id="notificationsBody" class="notifications_alerts style-2 ShowLess">
                                </div>
                                <div id="notificationFooterShowAll" class="NotifyMore" style="display:none">Show All</div>
                                @*<div id="notificationFooterShowMore" class="NotifyMore">Show More</div>
                                    <div id="notificationFooterShowLess" class="NotifyMore" style="display: none;">Show Less</div>*@
                            </div>
                            <div class="dropdown float-left">
                                <div class=" btn-setting  user" data-toggle="dropdown">
                                    <div class="user_details_info">
                                        <img src="@Url.Content("~/Images/UserLogin/DefaultImage.jpg")" class="img-responsive user_fav_icon" id="MyProfImage" title="User Profile" />
                                        <a id="lnkUserMVC" href="#" class="" data-toggle="tooltip" Font-Bold="true"></a><span class="caret"></span>
                                    </div>
                                </div>
                                <div class="dropdown-menu dropdownmenu-left dropdown-menu-right menu_list">
                                    <ul class=" col-lg-12 col-xs-12 col-sm-12 col-md-12 float-left" style="margin-top:-8px;">
                                        <li class="subnav_list float-left col-12 top">
                                            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                                <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4 float-left">
                                                    <img src="@Url.Content("~/Images/UserLogin/DefaultImage.jpg")" class="img-responsive img_nav" id="MyImage" style="margin-top:8px;" alt="Smily face" />
                                                </div>
                                                <div class="col-lg-8 col-xs-8 col-sm-8 col-md-8 float-right">
                                                    <div id="bindUserProf" class="username_nav">

                                                        <div id="lblFullNameMVC" class="username_nav"></div>
                                                        <div id="lblDepartmentMVC" class="department_nav"></div>
                                                        <div id="lblDesignationMVC" class="designation_nav"></div>
                                                        <div id="lblEmailMVC" class="mail_nav"></div>
                                                        <div class="top  lastlogin">Last Login <span class="logindt lblloginDate"></span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li id="type">
                                            <a href="#" id="SecurityMyProfilebtn" class="icon_label" data-toggle="modal" data-target="#MyProfile">Profile</a>
                                        </li>
                                        <li><a href="#" id="SecurityMyRolesbtn" class="icon_label" data-toggle="modal" data-target="#MyRoles">Roles</a></li>
                                        <li style="display: none"><a href="#" class="icon_label" data-toggle="modal" data-target="#theming">Theming</a></li>

                                        <li><a href="#" id="SecurityChangePwd" class="icon_label" data-target="#Settings">Security Settings</a></li>
                                        <li><a href="#" id="SecurityLogoutbtn" class="icon_label" data-toggle="modal" data-target="#logout">Sign out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <input type="text" style="display:none" />
    <input type="password" style="display:none" />
    @Scripts.Render("~/Bundles/UserdefinedScripts")

    <div id="divPleaseWait" class="PW_Modal" style="display:none">
        <div class="PW_Center">
            <img alt="Please Wait..." src="@Url.Content("~/Images/LodingGif/gif_please_wait.gif")" />
        </div>
    </div>

    <div id="divPleaseWaitNoImg" class="PW_Modal_inner" style="display:none">
        <div class="PW_Center">
        </div>
    </div>

    <div id="divDocumentWait" class="PW_Modal" style="display:none">
        <div class="PW_Center DPW_Center">
            <img alt="Document Processing ..." src="@Url.Content("~/Images/LodingGif/PW_Processing.gif")" />
        </div>
    </div>

    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left">
        @RenderBody()
    </div>

    <!--Modal popup for User Details-->
    <!-------- Security Settings popup-------------->
    <div id="AjaxCallSecurityProf" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Security Settings</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div id="MainMasterAsyncSecurity" class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <!-------- End Security Settings-------------->
    <!-- MyProfile Popup -->
    <div id="AjaxCallMyProfile" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Profile</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- End Modal Header -->
                <!-- Modal Body -->
                <div id="MainMasterAsyncMyProfile" class="modal-body">
                </div>
                <!-- End Modal Body -->
            </div>
            <!-- End Modal content -->
        </div>
    </div>
    <!-- End MyProfile Popup -->
    <!-- MyRoles Popup -->
    <div id="AjaxCallMyRole" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog " style="max-width: 58%;">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Roles</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- End Modal Header -->
                <!-- Modal Body -->
                <div id="MainMasterAsyncMyRoles" class="modal-body">
                </div>
                <!-- End Modal Body -->
            </div>
            <!-- End Modal content -->
        </div>
    </div>
    <!-- End MyRoles Popup -->
    <!--------  logout popup-------------->
    <div id="logout" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sign Out</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group padding-none text-center">
                        <span id="logoutUserMVC" class="username_nav"></span>
                        <span class="log_nav capitalize">Are you sure you want to Sign Out?</span>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button id="btnLogout" type="button" class="btn btn-approve_popup top" data-dismiss="modal" onclick="_LogOut();">Yes</button>
                    @*<%--<button type="button" class="btn btn-approve_popup" data-dismiss="modal">Ok</button>--%>*@
                    <button type="button" class="btn btn-canceldms_popup top" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <!-------- End logout popup-------------->
    <!--End Modal popup for User Details-->
    <script>

        $(function () {
            bindOnPaste();
        });

        function _LogOut() {
            var Url = '@Url.Content("~/Common/WebServices/RemoveUserSession.asmx/Remove_UserSession")';
            LogOut(Url);
        }
        function UserSessionCheck() {
            var Url = '@Url.Content("~/Common/WebServices/RemoveUserSession.asmx/CheckUserSession")';
            $.post(Url, function (response) {
                if (response != "true") {
                    window.location.href = '/UserLogin.aspx';
                }
            });
        }
    </script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'bottom'
            });
        });
    </script>

    <!--Toggel button Close left menu -->
    <script>
        $("#showmenu").click(function (e) {
            $("#menu").toggleClass("show");
        });
        $("#menu a").click(function (event) {
            if ($(this).next('ul').length) {
                $(this).next().toggle('fast');
                $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
            }
        });
        $('.closebtn').on('click', function () {
            $('#paragraph2').addClass('col-12');
            $('#paragraph2').removeClass('col-10');
            $('#paragraph1').hide();
            $('.closebtn1').show();
            $('.closebtn').hide();
            //$('.dataTable').DataTable().draw();
            $('.dataTable').DataTable().columns.adjust();
        });

        $('.closebtn1').on('click', function () {
            $('#paragraph2').addClass('col-10');
            $('#paragraph2').removeClass('col-12');
            $('#paragraph1').show();
            $('.closebtn').show();
            $('.closebtn1').hide();
            //$('.dataTable').DataTable().draw();
            $('.dataTable').DataTable().columns.adjust();
        });
    </script>
    <!--END Toogle Button-->
    <!-- The Custom Alerts -->
    <div class="modal CustomMsgModal" id="modalCustAlert">
        <div id="divModalAlerts" class="modal-dialog modal-dialog-centered">
            <div class="modal-content modalMainContent">
                <!-- Modal Header -->
                <div class=" modal-header ModalHeaderPart alertImg">
                    <h4 class="modal-title custAlertModalTitle"></h4>
                    @*<button type="button" class=" btn close" data-dismiss="modal">&times;</button>*@
                </div>
                <!-- Modal body -->
                <div class="col-lg-12 padding-none">
                    <p id="msgCustAlert" class="col-lg-12" style="max-height: 128px; color:#000;overflow-x: auto;"></p>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer ModalFooterPart">
                    @*<button type="button" id="btnCustAlertOk" class="btn btn-success_popup top CustAlertOk">OK</button>*@
                    <button type="button" id="btnCustAlertOk" class="btn btn-success_popup top CustAlertOk" data-dismiss="modal">OK</button>
                    <button type="button" class="btn btn-cancel_popup top" id="btnConfirmNo" style="display:none" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- confirmation content-->
    <div id="ModalConfirm" class="modal confirmation_popup fade CustomMsgModal" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background:#f7eac9; color:#cc9c1a;border-bottom:1px solid #cc9c1a;">
                    <div class="error_icon">
                        <img src="@Url.Content("~/Images/CustomAlerts/confirm.png")" class="img_popup" title="Smiley face" />
                        <h4 class="modal-title header_text">Confirmation</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12 padding-none">
                        <p id="msgConfirm" runat="server" class="col-lg-10" style="padding: 4px 0px; max-height: 128px; overflow-x: auto;"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn btnConfirmYes " class="btn btn-alert_popup true delete-confirm">Yes</button>
                    <button type="button" class="btn-cancel_popup" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- End confirmation content-->
    <!-- Notification Modal -->
    <div id="divNotificationList" style="display:none"></div>
    <!--Authenticate the User and set the EmpID in Hidden Field-->
    <script>
        $(function () {
            _NotifyEmpID = $("#hdnEmpID").val();
        });
    </script>
    <script>
        $(document).click(function () {
            CheckWetherCK_EmpIDandCK_SessionTO();
        });
        $(document).scroll(function () {
            CheckWetherCK_EmpIDandCK_SessionTO();
        });
        var EmpLoginID = "";
        var EmpID = "";
        $(function () {
            EmpLoginID = $("#hdnEmpLoginID").val();
            EmpID = $("#hdnEmpID").val();

        });
    </script>
    <!--Initiate Notification-->
    <script>
        $(function () {
            @*Init_Notification('@Url.Content("~//Common//WebServices//Notification.asmx//GetNotifications")',
                '@Url.Content("~//Common//WebServices//Notification.asmx//SubmitNotifications")',
                $('#hdnEmpID').val());*@

            Init_Notification();
        });
    </script>

    <!--To Show Custom Alert Messages-->
    <script>
        function custAlertMsgSucess(message, alertType, okEvent = '') {
            if (alertType == 'confirm') {
                document.getElementById("msgConfirm").innerHTML = message;
                $('#ModalConfirm').modal({ backdrop: 'static', keyboard: false });
            }
        }

        function custAlertMsg(message, alertType, okEvent, confirmNoEvent) {
            var okEvent = okEvent || false;
            if (!okEvent) {
                okEvent = '';
            }
            var confirmNoEvent = confirmNoEvent || false;
            if (!confirmNoEvent) {
                confirmNoEvent = '';
            }
            $('#modalCustAlert').modal({ backdrop: 'static', keyboard: false });
            $('#btnCustAlertOk').focus();
            $('#btnCustAlertOk').attr('onclick', okEvent);
            message = ConvertCustAlertMsg(message);
            $("#msgCustAlert").html(message);
            if (alertType != "confirm") {
                $("#btnConfirmNo").hide();
                $('#btnCustAlertOk').text("OK");
            }
            else {
                $("#btnConfirmNo").show();
                $('#btnConfirmNo').attr('onclick', confirmNoEvent);
                $('#btnCustAlertOk').text("Yes");
            }

            switch (alertType) {
                case 'success':
                    $("#divModalAlerts").removeClass("ModalInfo ModalDanger ModalWarning ModalConfirm");
                    $("#divModalAlerts").addClass("ModalSucess");
                    $(".custAlertModalTitle").html("Success");
                    break;
                case 'info':
                    $("#divModalAlerts").removeClass("ModalSucess ModalDanger ModalWarning ModalConfirm");
                    $("#divModalAlerts").addClass("ModalInfo");
                    $(".custAlertModalTitle").html("Info");
                    break;
                case 'warning':
                    $("#divModalAlerts").removeClass("ModalInfo ModalDanger ModalSucess ModalConfirm");
                    $("#divModalAlerts").addClass("ModalWarning");
                    $(".custAlertModalTitle").html("Warning");
                    break;
                case 'error':
                    $("#divModalAlerts").removeClass("ModalInfo ModalSucess ModalWarning ModalConfirm");
                    $("#divModalAlerts").addClass("ModalDanger");
                    $(".custAlertModalTitle").html("Error");
                    break;
                case 'confirm':
                    $("#divModalAlerts").removeClass("ModalInfo ModalSucess ModalWarning ModalDanger");
                    $("#divModalAlerts").addClass("ModalConfirm");
                    $(".custAlertModalTitle").html("Confirm");
                    break;
            }
        }

    </script>
    <!--Ajax Call To Load logout  Pop up and JS-->
    <script>
        $(".subnav_list").click(function (e) {
            e.stopPropagation();
            return false;
        });
        $("#SecurityLogoutbtn").click(function () {
            $("#logout").modal();
        });
    </script>
    <!--Ajax Call for Security Setting Pop up -->
    <script>
        $("#SecurityChangePwd").click(function () {
            var _source = "@Url.Content("~/UserManagement/AsyncSecuritySettingsMVC.html #SecurityBodyPopUpMVC")";
            var jsPath = "@Url.Content("~/AppScripts/SecurityPopUp.js")";
            var security = document.createElement("script");
            security.type = "text/javascript";
            security.src = jsPath;
            $("#MainMasterAsyncSecurity").append(security);
            $("#MainMasterAsyncSecurity").load(_source);
            $("#AjaxCallSecurityProf").modal();
        });
    </script>
    <!--End Ajax Call for Security Setting Pop up -->
    <!--Security Question at My Profile Page-->
    <script>
        function PrepopulateSecurityQuesAnswURL() {
            var _source="@Url.Content("~/UserManagement/WebServicesList.asmx/SecurityQuesAnsPrepopulate")";
            PrepopulateSecurityQuesAnsw(_source);
        }
    </script>
    <script>
        function SaveEmpPasswordURL() {
            var _source="@Url.Content("~/UserManagement/WebServicesList.asmx/SubmitSecurityPassword")";
            SaveEmpPassword(_source);
                  }
    </script>
    <script>
        function UpdateSecurityQueAnsURL() {
            var _source="@Url.Content("~/UserManagement/WebServicesList.asmx/UpdateSecurityQuesAnsw")";
            UpdateSecurityQueAns(_source);
        }
    </script>
    <!--End-->
    <!--Ajax Call for MyProfile Pop up -->
    <script>
        $("#SecurityMyProfilebtn").click(function () {
            var jsPath = "@Url.Content("~/AppScripts/MyProfile.min.js")";
                var security = document.createElement("script");
                security.type = "text/javascript";
                security.src = jsPath;
                $("#MainMasterAsyncMyProfile").append(security);
                $("#MainMasterAsyncMyProfile").load("/UserManagement/AsyncSecuritySettingsMVC.html #MyProfileBodyPopupMVC", function () {
                    PrepopulateMyProfileLabelUrl();
                });
                $("#AjaxCallMyProfile").modal();
        });
    </script>
    <script>
        function PrepopulateMyProfileLabelUrl() {
            var _source="@Url.Content("~/UserManagement/WebServicesList.asmx/MyProfileGetDataToMyProfilePrepoulateLabel")";
            PrepopulateMyProfileLabel(_source);
        }
    </script>
    <!-- End Ajax Call for MyProfile Pop up -->
    <!-- Ajax Call for Roles Pop up -->
    <script>
        $("#SecurityMyRolesbtn").click(function () {
            var _source="@Url.Content("~/UserManagement/AsyncSecuritySettingsMVC.html #MyRolesBodyPopupMVC")";
            var jsPath = "@Url.Content("~/AppScripts/MyRoles.js")";
            var security = document.createElement("script");
            security.type = "text/javascript";
            security.src = jsPath;
            $("#MainMasterAsyncMyRoles").append(security);
            $("#MainMasterAsyncMyRoles").load(_source, function () {
                MyRolesGettingDropDownUrl();
            });
            $("#AjaxCallMyRole").modal();
        });
        $('.dropdown').on('show.bs.dropdown', function (e) {
            $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
        });

        $('.dropdown').on('hide.bs.dropdown', function (e) {
            $(this).find('.dropdown-menu').first().stop(true, true).slideUp(200);
        });
        function MyRolesGettingDropDownUrl() {
            var _source="@Url.Content("~/UserManagement/WebServicesList.asmx/MyRolesDropDownBindPrePopulateLoadModules")";
            MyRolesGettingDropDown(_source);
        }
    </script>
    <script src="~/AppScripts/EmployeeRoles.js"></script>
    <script>
        function MyRolesOnSelectUrl(Selectedmid) {
            @*var _source="@Url.Content("~/UserManagement/WebServicesList.asmx/myroles")";
            MyRolesOnSelect(_source, Selectedmid);*@
            var employeeId = $('#hdnEmpID').val();
            var roleId = 0;
            var visable = false;
            var divProfileRole = '#divProfileRole';
            if (Selectedmid > 0) {
                GetEmployeeRoles(employeeId, Selectedmid, roleId, visable, divProfileRole);
            }
            else {
                $(divProfileRole).empty();
            }
        }
    </script>
    <!-- End Ajax Call for Roles Pop up -->
    <!--End Ajax call fro USER Profile-->
    <!--To Display User Name in Top Nav-->
    <script>
        @{
            string LastLogin = "";
            if (Session["UserDetails"] != null)
            {
                LastLogin = (Session["UserDetails"] as System.Data.DataSet).Tables[0].Rows[0]["LastLoginDate"].ToString();

            }
      }
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/UserManagement/WebServicesList.asmx/MyProfileGetDataToMyProfilePrepoulateLabel")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var MyProfileObj = response.d;
                    var result = $.parseJSON(MyProfileObj);
                    var FirstName = result['FirstName'];
                    var LastName = result['LastName'];
                    var Name = FirstName + ' ' + LastName;
                    var Image1 = result['Image'];
                    var Department = result['Department'];
                    var Designation = result['Designation'];
                    var Email = result['Email'];
                    $('.lblloginDate').text('@LastLogin');
                    $('#lnkUserMVC').text(Name);
                    if (Image1!="") {
                       $('#MyProfImage').attr('src', Image1);
                       $('#MyImage').attr('src', Image1);
                    }
                    $('#lblFullNameMVC').text(Name);
                    $('#lblDepartmentMVC').text(Department);
                    $('#lblDesignationMVC').text(Designation);
                    $('#lblEmailMVC').text(Email);
                    //For User Logout
                    $('#logoutUserMVC').text(Name);

                    if (Name.length > 10) {
                        var mdfUserName = Name.substr(0, 10);
                        document.getElementById('lnkUserMVC').innerHTML = mdfUserName + "...";
                    }
                    else {
                        document.getElementById('lnkUserMVC').innerHTML = Name;
                    }
                },
                failure: function (response) {
                    // alert(response.d);
                },
                error: function (response) {
                    //alert(response.d);
                }
            })
        });
    </script>

    <!--User Name Length-->
    <script>
        function UsernameLength(UserName) {
            if (UserName.length > 14) {
                var mdfUserName = UserName.substr(0, 14);
                document.getElementById('lnkUser').innerHTML = mdfUserName + "...";
            }
            else {
                document.getElementById('lnkUser').innerHTML = UserName;
            }
        }
    </script>
    <script>
        //To disable ctrl+s
        document.addEventListener("keydown", function (e) {
            if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                e.preventDefault();
                //alert('captured');
            }
        }, false);
        //To disable ctrl+A
        document.addEventListener("keydown", function (e) {
            if (e.keyCode == 65 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                e.preventDefault();
                //alert('captured');
            }
        }, false);
        //To disable ctrl+X
        document.addEventListener("keydown", function (e) {
            if (e.keyCode == 88 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                e.preventDefault();
                //alert('captured');
            }
        }, false);
        //To disable ctrl+C
        //document.addEventListener("keydown", function (e) {
        //    if (e.keyCode == 67 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
        //        e.preventDefault();
        //        //alert('captured');
        //    }
        //}, false);
        //To disable ctrl+P
        document.addEventListener("keydown", function (e) {
            if (e.keyCode == 80 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
                e.preventDefault();
                //alert('captured');
            }
        }, false);

        // To disable F12
        $(document).keydown(function (event) {
            if (event.keyCode == 123) {
                return false;
            }
        });

    </script>
    @*<script>
            $(document).ready(function () {
                $('.datetimepicker').datetimepicker({
                    format: 'DD MMM YYYY',
                    minDate: new Date(),
                });
            });
        </script>*@

    <script>
        $(document).ready(function () {
            $('.datetimepicker').datetimepicker({
                format: 'DD MMM YYYY',
                minDate: moment().format('DD MMM YYYY'),
                //minDate: new Date(),
                useCurrent: false,
                //autoclose: false
                //todayHighlight: false,
                showClear: true
            });
        });
    </script>

    <!--Show more show less for comments-->
    <script>
        $(document).ready(function () {
            var showChar = 150;
            var ellipsestext = "...";
            var moretext = "Show more";
            var lesstext = "Show less";
            $('.more').each(function () {
                var content = $(this).html().trim();

                if (content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar - 1, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext + '</span><span class="morecontent"><span>' + h + '</span><a href="" class="morelink">' + moretext + '</a></span>';

                    $(this).html(html);
                }
            });
            $(".morelink").click(function () {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                }
                else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
            });
        });

    </script>
    <!--Show more show less for comments-->

    @{ Html.RenderPartial("~/UserControls/sessionExpiry.ascx"); }
    <!--END -->

    <script>
        $(function () {
            $("input[type='search']").keypress(function (event) {
                if (event.which == 60) {
                    event.preventDefault();
                }
            });
            $('input[type="search"]').bind("paste", function (e) {
                if (e.originalEvent.clipboardData.getData('text').includes("<")) {
                    e.preventDefault();
                }
            });
        });
    </script>
    @*<script>
            $(document).on('show.bs.modal', '.modal', function (event) {
                var zIndex = 1040 + (10 * $('.modal:visible').length);
                $(this).css('z-index', zIndex);
                setTimeout(function () {
                    $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
                }, 0);
            });
        </script>*@
    <script>
        var zIndex = 1050, modalOpenCount = 0;
        $(document).on('show.bs.modal', '.modal', function (event) {
            modalOpenCount++;
            zIndex = zIndex + (10 * modalOpenCount);
            $(this).css('z-index', zIndex);
            setTimeout(function () {
                $(".modal-backdrop").last().css('z-index', zIndex - 1);
                //$('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
            }, 0);
            $('body').addClass('modal-open');
            $('body').css('overflow', 'hidden');
        });

        $(document).on('shown.bs.modal', '.modal', function (event) {
            $('.dataTable').DataTable().columns.adjust();
        });

        $(document).on('hidden.bs.modal', '.modal', function (e) {
            modalOpenCount--;
            if (modalOpenCount != 0) {
                $('body').addClass('modal-open');
                $('body').css('overflow', 'hidden');
            }
            else {//Fires for last popup Closed
                $('body').css('overflow', 'auto');
            }
            $('.dataTable').DataTable().columns.adjust();
        });

    </script>
    <script>
        $(document).on('keydown', function (e) {
            if ($('#logout').is(':visible')) {
                var key = e.which;
                if (key == 13) { //This is an ENTER---13
                    _LogOut();
                }
            }
        });
    </script>



</body>
</html>