﻿@*<div style="text-align:center;color:red;width:100%;font-weight:bold;">
    Internal Server Error Occured Due to:-> @ViewBag.SysError 
</div>*@
<script>
    custAlertMsg('@ViewBag.SysError', "error");
</script>