﻿
@{
    ViewBag.Title = "Main Un Authorised";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<h2>UnAuthorised View</h2> @*without this line below text is not displaying in browser*@
<title>@ViewBag.Title</title>
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 col-12  padding-none float-left">
    <h2 style="color:red; text-align:center">You are not Authorised to View this Page.</h2>
</div>
