﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuthenticatedView</title>
</head>
<body>
    @*<div>
        <h1 style="color:red;text-align:center">You are not Authenticated User, Please login to access the application.</h1>
    </div>*@

    <script src="~/AppScripts/LogOutFunc.min.js"></script>
    <script>
        //LogOut();
            window.open("/UserLogin.aspx", "_self");
    </script>
</body>
</html>
