﻿<div id="ElectronicSign_Modal" class="modal department fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">Electronic Signature</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">


                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">

                        @Html.Label("LoginID", htmlAttributes: new { @class = "custom_label col-form-label col-lg-4" })
                        <div class="col-lg-8 padding-none">

                            @Html.Display("EmpName", new { htmlAttributes = new { @id = "EmpName", @class = "form-control" } })
                        </div>
                    </div>

                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                        @*<label class=" custom_label col-form-label" id="Electronic_EmpID">  </label>*@
                        @Html.Label("Password", htmlAttributes: new { @class = "custom_label  col-lg-4" })
                        <div class="col-lg-6 padding-none">
                            @Html.Password("Password", new { htmlAttributes = new { @id = "Password", @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="footer">
                <button type="button" class="btn btn-signup_popup" id="btnAProve" onclick="CheckPassword();">Submit</button>
                <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
            </div>
        </div>
    </div>
</div>
