.hideChart{
    display: none;
}

.button-container {
    text-align: center;
    height: 40px;
    position: absolute;
    top: 7px;
    left: 0px;
}

// .quadrant{
//     border:2px solid black;
// }

::ng-deep .ng2-flatpickr-input-container{
    .form-control[readonly]:not([disabled]){
        background-color: transparent !important;
    }
}

::ng-deep .tooltip-header {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px solid #c5c5c5;
}

::ng-deep .tooltip-body {
    width: 170px;
}

::ng-deep .tooltip-body .series-name {
    font-weight: normal;
    opacity: 0.6;
    display: inline-block;
    line-height: 1.5;
    padding-right: 10px;
    width: 126px;
}

::ng-deep .tooltip-body .value-text {
    display: inline-block;
    line-height: 1.5;
    width: 30px;
}

::ng-deep .dxc-val-title{
    text{
        font-size:10pt !important;
    }
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item{
    font-size:10pt !important;
    margin-top: 4px !important;
}

::ng-deep .dxc-title{
    text{
      font-family: seguisb !important;
      font-size: 13pt !important;
    }
}

.upload_btn {
  border: 1px solid #094353;
  border-radius: 4px;
  background-color: #fff;
}
.upload_btn img {
  padding: 5px;
}

.close{
    span{
        color:black;
    }
}

.table th, .table td {
    padding: 10px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 10pt!important;
    text-align: center;
    font-weight: normal;
}

.datatable_cust tfoot td {
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    background: #38b8ba;
    color: #fff;
    font-family: seguisb;
    text-align: center;
    font-size: 10pt;
}

.datatable_cust tfoot input {
    width: 100%;
    font-size: 10pt!important;
    padding: 2px 10px;
    border-radius: 4px;
    background: transparent;
    color: #fff;
    font-family: seguisb;
    border: 1px solid #fff!important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
    font-size: 10pt;
}

::ng-deep .page-item.active .page-link {
    z-index: 1;
    color: #fff!important;
    background-color: #38b8ba!important;
    border-color: #38b8ba !important;
}

:ng-deep button.dt-button{
    background-color: transparent !important;
    background: none !important;
}

::ng-deep .square{
    height: 20px;
    width: 20px;
    margin-left:auto;
    margin-right:auto
}