﻿@model AizantIT_PharmaApp.Areas.PRODUCT.Models.ModelProductList.ProductList

@Html.Hidden("hdnProductFilesUploadCount")
@{
    ViewBag.Title = "ProductMaster";
    Layout = "~/Areas/PRODUCT/Views/Shared/_PRODUCTLayout.cshtml";
}
<link href=@Url.Content("~/Content/bootstrap-fileinput/css/fileinput.css") rel="stylesheet" />
<link href=@Url.Content("~/AppCSS/PMS/theme.css") rel="stylesheet" />
<link href=@Url.Content("~/AppCSS/PMS/fileinput.css") rel="stylesheet" />
<link href=@Url.Content("~/AppCSS/PMS/columndatatablebuttons.css") rel="stylesheet" />
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/fileinput.js")></script>
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/theme.js")></script>
<script src=@Url.Content("~/AppScripts/PMS/colvisdatatable.js")></script>
<script src=@Url.Content("~/AppScripts/PMS/jszip.min.js")></script>
<script src=@Url.Content("~/AppScripts/PMS/pdfmake.min.js")></script>
<script src=@Url.Content("~/AppScripts/PMS/vfs_fonts.js")></script>
<script src=@Url.Content( "~/AppScripts/PMS/dataTables.buttons.min.js")></script>
<script src=@Url.Content("~/AppScripts/PMS/buttons.html5.min.js")></script>

@Html.HiddenFor(x => x.ProductID, htmlAttributes: new { id = "hdnProductid" })
@*@Html.HiddenFor(y => y.PKID, htmlAttributes: new { id = "hdnPKID" })
@Html.HiddenFor(z => z.FileAttachmentCount, htmlAttributes: new { id = "hdnFileAttachmentCount" })
@Html.HiddenFor(a => a.CurrentStatus, htmlAttributes: new { id = "hdnCurrentStatus" })*@

<!---tbl ProductList--->
<div id="dvDataList">
    <div class="container-fluid">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 formlist top padding-none">
            <div class="col-12">
                <button type="button" id="btnNewProduct" class="btn btn-sm float-left top listbtn newbtn" data-target="#createProductModalpopup" data-toggle="modal" onclick="newProductList()">New Product</button>
            </div>
            <div class="col-xl-12 col-md-12 col-sm-12  float-left padding-none top bottom">
                <table id="tblProductlist" class="table datatable_cust table-striped table-bordered top" style="width:100%">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>ProductID</th>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>History</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Create Product form ListPage--->
<div id="divCreateProduct" style="display:none;">
        <div class="container-fluid">
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 formlist top">
                <button type="button" class="btn btn-sm float-left top listbtn" onclick="return BackTolist();" id="btnBack"><img src="/images/PMS/back.png"> Back to list</button>
                <div class="col-12 grid-heading_title float-left top "><span id="titleViewProduct">Create Product</span></div>
                <div class="col-12 float-left create_grid_panel_hod bottom">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none ">
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                            <label for="" class="col-12 custom_label col-form-label required">Product Code</label>
                            <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                                @Html.TextBoxFor(model => model.ProductCode, htmlAttributes: new { @class = "form-control producTxt ValidateAlphaNumericWithSpecialChars", @maxlength = "50", @autocomplete = "off", id = "txtProductCode", @onkeypress = "return ValidateAlphaNumericWithSpecialChars(event);" })
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 padding-none">
                            <label for="" class="col-12 custom_label col-form-label required">Product Name</label>
                            <div class="col-12 col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left">
                                @Html.TextBoxFor(model => model.ProductName, htmlAttributes: new { @class = "form-control producTxt ValidateAlphaWithSpecialChars", @maxlength = "100", @autocomplete = "off", id = "txtProductName", @onkeypress = "return ValidateAlphaWithSpecialChars(event);" })
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6 top" style="margin-top: 18px !important;">
                                <button type="button" class="btn top btn-sm submitbtn" id="btnSubmit" onclick="AddProductListDetails();"> <span> &#10004 </span> Submit </button>
                                @*<button type="button" class="btn top btn-sm submitbtn" id="btnEdit" onclick="EditProductListDetails();"> <span> &#10004 </span> Update </button>*@
                                <button type="button" class="btn btn-sm top cancelbtn" id="btnCancel" onclick="CancelBackToList();"><span> &#10006 </span> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Product Update ModelPopUp -->
<div class="modal" id="ProductModalpopup" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit</h4>
                <button type="button" class="close" onclick="return CloseModalpopup();">&times;</button>
            </div>
            <div class="modal-body" id="editmodelbody">

                <div class="col-md-9 col-sm-9 col-lg-12 float-left col-9  padding-none" id="input2">
                    <label class=" col-12  custom_label col-form-label float-left required">Product Code</label>
                    <div class="col-12 float-left">
                        @Html.TextBoxFor(model => model.ProductCode, htmlAttributes: new { @class = "form-control producTxt ValidateAlphaNumericWithSpecialChars ", @maxlength = "50", @autocomplete = "off", id = "textProductCode", @onkeypress = "return ValidateAlphaNumericWithSpecialChars(evt)" })
                    </div>
                </div>
                <div class=" col-md-9 col-sm-9 col-lg-12 float-left col-9  padding-none" id="input1">
                    <label class="col-12  custom_label col-form-label float-left required" id="labelInputname">Product Name</label>
                    <div class="col-12 float-left">
                        @Html.TextBoxFor(model => model.ProductName, htmlAttributes: new { @class = "form-control producTxt alpha-only", @maxlength = "100", @autocomplete = "off", id = "textProductName", @onkeypress = "return ValidateAlpha(event);" })
                    </div>
                </div>
                <div class=" col-md-9 col-sm-9 col-lg-12 float-left col-9  padding-none" id="comment">
                    <label class=" col-12  custom_label col-form-label float-left">Reason For Change<span class="mandatoryStar">*</span> </label>
                    <div class="col-12 float-left">
                        <textarea class="col-12 form-control" rows="4" id="txtComments" maxlength="300" placeholder="Enter Reason For Changes"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12">
                    <button type="button" data-dismiss="modal" class="btn btn-sm top btn-cancel_popup float-right" onclick="return CloseModalpopup();">Cancel</button>
                    <button type="button" class="btn top btn-sm btn-signup_popup float-right" id="btnEditProduct" onclick="return UpdateProductDetails();"> Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--HistoryModalPopup-->
<div class="modal" id="myModalHistory" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txt">History</h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="modalBody"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!--New & Back ToList BtnFunctions-->
<script>
     var Showtype =@TempData["ShowType"].ToString();
    function newProductList()
    {
        $("#titleViewProduct").text("Create Product");
        $('#dvDataList').hide();
        $('#divCreateProduct').show();
        $("#hdnProductid").val(0);
        $("#btnSubmit").show();
        $("#btnCancel").show();
    }
    function BackTolist()
    {

        if (Showtype == 1)
        {
            ClearFields();
        }
        GetProductList();
        $('#dvDataList').show();
        $('#divCreateProduct').hide();
    }
    $('.dataTable').DataTable().draw();
</script>

<!--DataList-->
<script>
    function GetProductList()
    {
        var Showtype =@TempData["ShowType"].ToString();
        var table = $('#tblProductlist').DataTable({
            columns:
                [
                    { 'data': 'RowNumber' },//0
                    { 'data': 'ProductID' },//1
                    { 'data': 'ProductCode' },//2
                    { 'data': 'ProductName' },//3
                    {
                        "render": function (data, type, full, meta)
                        {
                                return '<a class="view" style="margin-left:0%" onclick=ViewParticularProductDetails(' + full.ProductID + ')></a>';
                        }
                    },//4
                    {
                        "render": function (data, type, full, meta)
                        {
                            return "<a class='btnRegulatoryAgencyEdit edit_icon_feed Edit' style='margin-left:0%' onclick='EditProductDetails(" + full.ProductID + ");'></a>";
                        }
                    },//5
                    {
                        "render": function (data, type, full, meta)
                        {
                            return '<a class="btnRegulatoryAgencyEdit summary_latest History edit_icon_feed"  style="margin-left:0%" onclick=HistoryProductDetailsList(' + full.ProductID + ')></a>';
                        }
                    },//6
                ],
            "pagingType": "simple_numbers",
            "language":
            {
                "searchPlaceholder": "Search Records",
                "infoFiltered": "",
                "emptyTable": "No Records Available"
            },
            "processing": false,
            "orderClasses": false,
            "bDestroy": true,
            "order": [[1, "desc"]],
            "info": true,
            "scrollY": true,
            "scrollCollapse": true,
            "responsive": true,
            "paging": true,
            "search":
            {
                "regex": true,
            },
            //"bProcessing": true,
            "bServerSide": true,
            "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
            "aoColumnDefs": [{ "targets": [1, 4], "visible": false }, { className: "dt-body-left", "targets": [2, 3] }, { className: "textAlignCenter", "targets": [0] }, { "orderable": false, "targets": [0, 4, 5, 6] }
            ],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/PRODUCT/Product/GetProductListDetails")?ShowTypeID=" + Showtype,
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.hasError == true) {
                            custAlertMsg(result.data, "error");
                        }
                        else {
                            fnCallback(result);
                        }
                    },
                });
            }
        });
    }
    function ReloadMaintable()
    {
         GetProductList();
    }
</script>

<!--LoadMain DataList-->
<script>
    $(function () {
        GetProductList();
    });
</script>

<!--Add & Edit Product Main-->
<script>
    var productid, productname, productcode;

    function EditProductDetails(productID)
    {
         $.ajax({
                url: '@Url.Content("~/PRODUCT/Product/GetProductData")',
                type: "GET",
                dataType: "JSON",
                data: { ProductID: productID },

                success: function (result)
                {
                    EditedProductDetails(result);
                }
            });
    }
    function EditedProductDetails(result)
    {
        $("#hdnProductid").val(result.ProductID);
        $("#textProductName").val(result.ProductName);
        $("#textProductCode").val(result.ProductCode);
        productid = result.ProductID;
        productname = result.ProductName;
        productcode = result.ProductCode;
        $("#ProductModalpopup").show();
        $('#ProductModalpopup').modal('toggle');
    }

    function CloseModalpopup()
    {
        $("#textProductName").val('');
        $("#textProductCode").val('');
        $("#txtComments").val('');
        $('#ProductModalpopup').modal('toggle');
    }
    function AddProductListDetails()
    {
             var Data = {
                 ProductName: $('#txtProductName').val().trim().replace(/  +/g, ' '),
                 ProductCode: $('#txtProductCode').val().trim().replace(/  +/g, ' ')
            };

        errors = [];
        if (Data.ProductCode == "")
        {
            errors.push("Enter Product Code.");
        }
        if (Data.ProductName == "")
        {
                errors.push("Enter Product Name.");
        }
        if (errors.length > 0)
        {
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
        }
        else
        {
            $.post("@Url.Content("~/PRODUCT/Product/AddProductListDetails")", Data,
                function(result)
                {

                    if (result.hasError == false)
                    {
                        custAlertMsg("Product Added Successfully", "success", "BackTolist();");
                        return false;
                    }
                    else if (result.hasError = "Warning")
                    {
                        custAlertMsg(result.data, "warning");
                        return false;
                    }
                    else
                    {
                        custAlertMsg(errors.join("<br />"), "error");
                        return false;
                    }
                },'json');
        }
    }
    function UpdateProductDetails()
    {
         var UpdateProduct = {
             ProductID: $("#hdnProductid").val().trim(),
             ProductCode: $("#textProductCode").val().trim().replace(/  +/g, ' '),
             ProductName: $("#textProductName").val().trim().replace(/  +/g, ' '),
             Comments: $("#txtComments").val().trim()
        }

        errors = [];
        if (UpdateProduct.ProductCode == "") {
            errors.push("Enter Product Code.");
        }
        if (UpdateProduct.ProductName == "") {
           errors.push("Enter Product Name.");
        }
        if (productcode == UpdateProduct.ProductCode && productname == UpdateProduct.ProductName)
        {
            custAlertMsg("There Are No Changes To Update.", "warning");
            return false;
        }
        if (UpdateProduct.Comments == "")
        {
           errors.push("Enter Reason For Change.");
        }
        if (errors.length > 0)
        {
           custAlertMsg(errors.join("<br/>"), "error");
           return false;
       }
       else {
            $.post("@Url.Content("~/PRODUCT/Product/EditProducttDetails")", UpdateProduct,
            function (result)
            {
                if (result.hasError == false)
                {
                    custAlertMsg("Product Updated Successfully", "success", "ReloadMaintable();");
                    CloseModalpopup();
                    return false;
                }
                else if (result.hasError == "Warning")
                {
                    custAlertMsg("Product Code Already Exists.", "warning");
                    return false;
                }
                else
                {
                    custAlertMsg(result.msg, "error");
                    return false;
                }
            },'json');
        }

    }
</script>

<!--History -->
<script>
    function HistoryProductDetailsList(id) {
        var url = '@Url.Content("~/PRODUCT/Product/_HistoryDetails?ID=")' + id;
        $("#modalBody").load(url, function ()
        {
            $("#myModalHistory").modal("show");
        });
    }
</script>

<!--CancelButton-->
<script>
    function CancelBackToList()
    {
       
        ClearFields();
        $('#dvDataList').show();
        $("#divCreateProduct").hide();
        $('.dataTable').DataTable().draw();
    }
</script>

<!--ClearFields-->
<script>
    function ClearFields()
    {
        $("#btnBack").show();
        $("#btnSubmit").show();
        $("#txtProductName").val('');
        $("#txtProductCode").val('');
    }
</script>
