﻿@model QMS_BO.QMS_Incident_BO.IncidentBO
<style>
    .fileModalpopupInc-Scroll {
        max-height: 661px;
        overflow-y: auto;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input id="GetAssessHOD" type="hidden" value="" />
    <div id="myModalAdminManage" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="max-width:80%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Incident Manage</h4>
                    <button type="button" class="close" onclick="RevertToMainListPage();">&times;</button>
                </div>
                <div class="modal-body fileModalpopupInc-Scroll style-3">
                    <div id="accordionConent" class="accordion">
                        <div class="card mb-0 col-12 top">
                            <div class="card-header panel-heading_title" data-toggle="collapse" href="#collapseOneSub" data-parent="#accordionConent">
                                <a class="card-title collapsed">
                                    Incident Details
                                </a>
                            </div>
                            <div id="collapseOneSub" class="collapse show" data-parent="#accordionConent">
                                <div class="card-body col-12 float-left grid_panel_hod bottom">
                                    <div class="col-12 top">
                                        <div class="col-12 float-left  info_bg bottom">
                                            <div class="col-6 float-left custom_text_view ">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Incident Report No </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.IRNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6"> Date of Report </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.IncidentReportDate, new
                                                    {
                                                        htmlAttributes = new { @class = "form-control", @formate = "DD-MMM-yyyy" }
                                                    })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view">
                                                <label for="" class="custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Document Name </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.DocName, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Reference Document No</label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.DocumentNo, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Created By</label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.EmpName, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Created Date </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.CreatedDate, new
                                                    {
                                                        htmlAttributes = new { @class = "form-control", @formate = "dd MMM yyyy" }
                                                    })
                                                </div>
                                            </div>
                                            <div class="col-12 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-2 col-md-2 col-sm-2 col-lg-2 float-left col-2">Date of occurrence</label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.OccurrenceDate, new
                                                    {
                                                        htmlAttributes = new { @class = "form-control", @formate = "dd MMM yyyy" }
                                                    })
                                                </div>
                                            </div>

                                            <div class="col-6 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Due Date </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.IncidentDueDate, new
                                                    {
                                                        htmlAttributes = new { @class = "form-control", @formate = "dd MMM yyyy" }
                                                    })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Department </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.DeptName, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Status </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    @Html.DisplayFor(model => model.CurrentStatusName, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-6 float-left custom_text_view">
                                                <label class=" custom_label padding-none float-left  profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Brief Description of Incident </label>
                                                <div class=" col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                    <div class="more">@Html.DisplayFor(model => model.IncidentDesc, new { htmlAttributes = new { @class = "form-control" } })</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Table start-->
                            <!--Comment-->
                            <div id="accordionAdminContent" class="accordion">
                                <div class="card mb-0 col-12 top padding-none">
                                    <div class="card-header panel-heading_title" data-toggle="collapse" href="#collapsetwoSub" data-parent="#accordionAdminContent">
                                        <a class="card-title collapsed">
                                            Manage Incident Users
                                        </a>
                                    </div>
                                    <div id="collapsetwoSub" class="collapse show" data-parent="#accordionAdminContent">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none grid_panel_hod ">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12">
                                                <table id="tblINCAdminManage" class="table datatable_cust table-striped  top table-bordered" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th style="display:none">S.No</th>
                                                            <th style="display:none">Selected Values</th>
                                                            <th>Role Names</th>

                                                            <th>Employee</th>
                                                            <th style="width:140px">Edit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (QMS_BO.QMS_Incident_BO.IncidentBO row in @ViewBag.ListEmployees)
                                                        {
                                                            <tr>
                                                                <td class="lblSno" style="display:none">
                                                                    @Html.Label("Admin Manage HOD", row.Sno.ToString(), htmlAttributes: new { @class = "custom_label form-label  col-12 float-left padding-none " })
                                                                </td>
                                                                <td class="lblselectEmp" style="display:none;">
                                                                    @Html.Label("Admin Manage HOD", row.SelectDDLEmp.ToString(), htmlAttributes: new { @class = "custom_label form-label  col-12 float-left padding-none " })
                                                                </td>
                                                                <td class="lblselectRole" style="width:300px;text-align:left;">
                                                                    @Html.Label("Admin Manage HOD", row.RoleName, htmlAttributes: new { @class = "custom_label form-label  col-12 float-left padding-none " })
                                                                </td>
                                                                <td style="width:400px">
                                                                    @if (
((Model.CurrentStatus == "1" || Model.CurrentStatus == "2" || Model.CurrentStatus == "7" || Model.CurrentStatus == "20" || Model.CurrentStatus == "21" || Model.CurrentStatus == "25" || Model.CurrentStatus == "10") && row.RoleName == "HOD")
||
((Model.CurrentStatus == "12" || Model.CurrentStatus == "17" || Model.CurrentStatus == "3" || Model.CurrentStatus == "15") && row.RoleName == "QA")
||
((Model.CurrentStatus == "6" || Model.CurrentStatus == "11" || Model.CurrentStatus == "14" || Model.CurrentStatus == "19") && row.RoleName == "Investigator")
||
((Model.CurrentStatus == "13") && row.RoleName == "HeadQa")
||
((Model.CurrentStatus == "4" || Model.CurrentStatus == "24") && row.RoleName == "Initiator")
)
                                                                    {
                                                                @Html.DropDownList("AssignedQAEmpId", row.DDLEmpList as List<SelectListItem>,
                                   htmlAttributes: new
                                   {
                                       @class = "col-lg-6 padding-none drop_down selectpicker ddlTabelDropdown text-center",
                                       data_show_subtext = "true",
                                       data_live_search = "true",
                                       @onchange = "CheckTTSAndHODRoleExistOrNot(this.value);"
                                   })
                                                                    }
                                                                    else
                                                                    {
                                                                        if (row.SelectedEmpReassign != null)
                                                                        {
                                                                            @row.SelectedEmpReassign
                                                                        }
                                                                        else
                                                                        { <label>N/A</label>}

                                                                    }</td>
                                                                <td class="UserDefinedTableButtonstd" style="width:300px">

                                                                    @if (
                                                        ((Model.CurrentStatus == "1" || Model.CurrentStatus == "2" || Model.CurrentStatus == "7" || Model.CurrentStatus == "20" || Model.CurrentStatus == "21" || Model.CurrentStatus == "25" 
                                                        || Model.CurrentStatus == "10") && row.RoleName == "HOD")
                                                        ||
                                                        ((Model.CurrentStatus == "12" || Model.CurrentStatus == "17" || Model.CurrentStatus == "3" || Model.CurrentStatus == "15") && row.RoleName == "QA")
                                                        ||
                                                        ((Model.CurrentStatus == "6" || Model.CurrentStatus == "11" || Model.CurrentStatus == "14" || Model.CurrentStatus == "19") && row.RoleName == "Investigator")
                                                        ||
                                                        ((Model.CurrentStatus == "13") && row.RoleName == "HeadQa")
                                                        ||
                                                         ((Model.CurrentStatus == "4" || Model.CurrentStatus == "24") && row.RoleName == "Initiator")
                                                        )
                                                                    {
                                                                        <a class="btnINCManageEdit edit_icon_feed Edit Edit_btns" title="Edit" style="margin-left:0%;"></a>
                                                                        <button type="button" class="btnINCManageUpdate   btn btn-revert_popup" style="margin-bottom:0px;display:none; padding:none;">Update</button>
                                                                        <button type="button" class="btnINCManageCancel   btn btn-cancel_popup" style="margin-bottom:0px;display:none; padding:none;">Cancel</button>
                                                                    }
                                                                    else
                                                                    {
                                                                        <label>N/A</label>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--For Assessment Table-->
                    <!--Assessment List-->
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12">
                        <div id="accordionAssessmentContent" class="accordion">
                            <div class="card mb-0 col-12 top padding-none">
                                <div class="card-header panel-heading_title" data-toggle="collapse" href="#collapsethreeSub" data-parent="#accordionAssessmentContent">
                                    <a class="card-title collapsed">
                                        Manage Review HOD's
                                    </a>
                                </div>
                                <div id="collapsethreeSub" class="collapse show" data-parent="#accordionAssessmentContent">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none grid_panel_hod ">
                                        <div id="DvAssessmentINC" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none">
                                            <table id="tblAssessmentReview" class="table datatable_cust table-striped tblIncidentDeptHodReviewListcls table-bordered" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th style="display:none">UniqueID</th>
                                                        <th>Department</th>
                                                        <th>Hod Name</th>
                                                        <th>Status</th>
                                                        <th class="editbtn" style="width:140px">Edit</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <!--End-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-12 bottom float-right padding-right_div">
                        <div class="col-12 float-right padding-right_div">
                            <button type="button" id="Cancel_btn" class="btn btn-cancel_popup float-right padding-none" onclick="RevertToMainListPage();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="MyModelReAssigneComments" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">
                        Comments
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            <label for="username" class="custom_label col-form-label required">Comments</label>
                            <div class="col-12 padding-none">
                                <textarea type="text" class="col-12  padding-none  drop_down selectpicker" name="name" id="ReassignComments" placeholder="Comments" rows="4" maxlength="500"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-signup_popup" id="btnAProve" onclick="ModifiedSubmitAction()">Submit</button>
                        <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="MyModelAssessmentReAssigneComments" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">
                        Comments
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            <label for="username" class="custom_label col-form-label required">Reason</label>
                            <div class="col-12 padding-none">
                                <textarea type="text" class="col-12  padding-none  drop_down selectpicker" name="name" id="txtAssessmentReassignComments" placeholder="Comments" rows="4" maxlength="500"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="button" class="btn btn-signup_popup" id="btnAProve" onclick="ModifiedAssessmentSubmitAction()">Submit</button>
                        <button data-dismiss="modal" id="btnDeptCancel" class="btn btn-cancel_popup" tabindex="10">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End-->
}
<!--Assessment Code Script-->
<!-- #region  Assessment Manege-->
<!--Jquery Datatable for Assessment-->
    <script>
    var oTable1="";
    function GetAssessmentDepartments() {
        //Assigned Department  and Responsible HOD's List
        $('#tblAssessmentReview').wrap('<div class="dataTables_scroll" />');
        oTable1= $('#tblAssessmentReview').DataTable({
            columns: [
                { 'data': 'RowNumber' }, //0
                { 'data': 'UniquePKID'},//1
                { 'data': 'DeptName' }, //2
                {
                    'data': 'ddlAssessmentHODs',
                }, //3
                { 'data': 'HodReviewStatus' },//4
                 {
                     "mData": null,   //8 View
                     "bSortable": false,
                     "mRender": function (o) {
                         {
                            //When Other HOD Added then Status is 1
                             //When Investigator Added then Status is 9
                             if (o.ApproveStatus == 1 && @Model.CurrentStatus == 9) {
                                 return '<a class="btnAssessmentEdit edit_icon_feed Edit" title="Edit" style="margin-left:0%;"  ></a> <button type="button" class="btnAssessmentUpdate float-left  btn btn-revert_popup" style="margin-bottom:0px;display:none"onclick="GetUpdateHodAssessemnt(' + o.UniquePKID + ',' + o.EmpID + ');" >Update</button> <button type="button" class="btnAssessmentCancel  float-left btn btn-cancel_popup" style="margin-bottom:0px;display:none">Cancel</button>'
                             } else {
                                 return "N/A";
                             }
                         }
                     }
                 },
            ],
            "paging": true,
            "bDestroy": true,
            "scrollY": "",
            "scrollX": false,
            "aoColumnDefs": [{ "targets": [1], "visible": false, "searchable": false },
        {
            targets: [3], render: function (a, b, data, d) {

                var ddl = "<select disabled  class='ddlUserDropdown col-12 drop_down padding-none selectpicker' onchange='GetStoredHidden(this);' >";
                if (data.ApproveStatus == 1 && @Model.CurrentStatus == 9) {
                    for (var i = 0; i < data.ddlAssessmentHODs.length; i++) {
                        if (data.ddlAssessmentHODs[i].Selected == true) {
                            ddl = ddl + "<option selected value='" + data.ddlAssessmentHODs[i].Value + "'>" + data.ddlAssessmentHODs[i].Text + "</option>";
                        }
                        else {

                            ddl = ddl + "<option value='" + data.ddlAssessmentHODs[i].Value + "'>" + data.ddlAssessmentHODs[i].Text + "</option>";
                        }
                    }
                    ddl += "</select>";
                    return ddl;
                } else {
                    return data.EmpName;
                }
            }
        },
          ],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/QMS/Incident/GetAssessmentForINCManage")",

        "fnServerData": function (sSource, aoData, fnCallback) {
            aoData.push({ "name": "IncidentMasterID", "value": (@Model.IncidentMasterID) });
            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {
                    if (result.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (result.hasError == true) {
                            custAlertMsg(result.data, "error", "ReloadDashboard();");
                        }
                        else {
                            fnCallback(result);
                            $('.selectpicker').selectpicker({
                                liveSearch: true,
                                showSubtext: true,
                                size: 7
                            });
                            $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                            $(".tblAssessmentReviewClass").css({ "width": "100%" });
                            $(".editbtn").css("width", 140);
                        }
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
    }
    </script>
<script>
    if (@ViewBag.AssessmentExistOrNot!=0) {
        $("#DvAssessmentINC").show();
        $('#myModalAdminManage').on('shown.bs.modal', function (e) {
            GetAssessmentDepartments();
        });
    }
    else {
        $("#collapsethreeSub").hide();
         $("#accordionAssessmentContent").hide();
    }
</script>
<!--Assessment Managing-->
<script>
    $('#tblAssessmentReview').on('click', '.btnAssessmentEdit', function () {
        $(this).closest("tr").find(".btnAssessmentUpdate").css("display", "inline-block");
        $(this).closest("tr").find(".btnAssessmentCancel").css("display", "inline-block");
        $('.btnAssessmentEdit').css("display", "none");
        $(this).closest("tr").find(".ddlUserDropdown").removeAttr('disabled');
        $(this).closest("tr").find(".ddlUserDropdown").next().removeClass('disabled');
        $("#tblAssessmentReview .ddlUserDropdown").selectpicker("refresh");
    } );
    $('#tblAssessmentReview').on('click', '.btnAssessmentCancel', function () {

        ReloadAssessmentGrid();
    });
    var AssessID="";
    var PerviousEmpId="";
    var NewHodValue = "";
    var GetReviewHODComments = "";
    function GetUpdateHodAssessemnt(AssessmentID,PerviousHodEMPID){
        NewHodValue = $("#GetAssessHOD").val();

         if(NewHodValue==""||PerviousHodEMPID==NewHodValue){
             custAlertMsg("There Are No Changes To Update", "warning");
         }else if(NewHodValue==0){
             custAlertMsg("Select Employee", "error");
         }
        else{
            AssessID=AssessmentID;
            PerviousEmpId=PerviousHodEMPID;
            $("#MyModelAssessmentReAssigneComments").modal('show');
            $("#txtAssessmentReassignComments").val('');
        }
    }

    function ModifiedAssessmentSubmitAction() {
        GetReviewHODComments = $("#txtAssessmentReassignComments").val();
        if (GetReviewHODComments != "") {
            custAlertMsg("Are You Sure You Want To Change Employee ?", "confirm", "ModifiedHods();");
        } else {
            custAlertMsg("Enter Comments", "error");
        }
    }

    function ModifiedHods() {
        ShowPleaseWait('show');
        var Type = 1;
        $.post("@Url.Content("~/QMS/Incident/ReviewHODModifyAdmin")?EmployeeID=" + NewHodValue + "&UniqueID=" + AssessID + "&IncidentMasterID=" +@Model.IncidentMasterID+"&ReviewHODComments=" + GetReviewHODComments + "&Type=" + Type,
            function (result) {
                ShowPleaseWait('hide');
                if (result.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if(result.hasError==false){
                        $("#GetAssessHOD").val("");
                        $("#MyModelAssessmentReAssigneComments").modal('hide');
                        custAlertMsg(" Review HOD Modified Successfully.", "success", "ReloadAssessmentGrid();");
                    }
                    else{
                        custAlertMsg(result.data, "error");
                    }
                }
            }, 'json');
    }
    function ReloadAssessmentGrid(){
        GetAssessmentDepartments();
    }
</script>
<script>
    function GetStoredHidden(ddlID) {
        var id = ddlID.value;
        $("#GetAssessHOD").val(ddlID.value);
    }
</script>
<!--#region Admin Manage Roles-->
<!--Edit Functionality-->
<script>
    //Onclick Edit functionality
    var DDLOnchangeSelectedEmpID;
    $('.btnINCManageEdit').click(function () {
        DDLOnchangeSelectedEmpID = $(this).closest("tr").find(".lblselectEmp").text().trim();
        DefaultAdminManageTableDisplay();
        $(this).closest("tr").find(".btnINCManageUpdate").show();
        $(this).closest("tr").find(".btnINCManageCancel").show();
        $(this).closest("tr").find(".btnINCManageEdit").hide();
        $(this).closest("tr").find(".ddlTabelDropdown").removeAttr('disabled');
        $(this).closest("tr").find(".ddlTabelDropdown").selectpicker("refresh");
    });

    //Onclick Cancel Functionality
    $(".btnINCManageCancel").click(function () {
        var SelectedlblEmpValue = $(this).closest("tr").find(".lblselectEmp").text().trim();
        $(this).closest("tr").find(".ddlTabelDropdown").val(SelectedlblEmpValue);
        DefaultAdminManageTableDisplay();
    });
</script>
<!--End-->
<!--Onclick Update Functionality-->
<script>
    var lblControlSelectedEmpValue = "";
    var Sno = "";
    var SelectedlblEmpValue = "";
    var SelectedlblselectRole = "";
    var SelectedDDLEmpValue = "";
    var GetComments = "";

    $(".btnINCManageUpdate").click(function () {
        var Type = 0;
        errors = [];
             lblControlSelectedEmpValue = $(this).closest("tr").find(".lblselectEmp");
             Sno = $(this).closest("tr").find(".lblSno").text().trim();
             SelectedlblEmpValue = $(this).closest("tr").find(".lblselectEmp").text().trim();
             SelectedlblselectRole = $(this).closest("tr").find(".lblselectRole").text().trim();
             SelectedDDLEmpValue = $(this).closest("tr").find(".ddlTabelDropdown option:selected").val();
            if (SelectedDDLEmpValue==0) {
                custAlertMsg("Select Employee", "error");
                return false;
            }
            else if(SelectedlblEmpValue == SelectedDDLEmpValue)
            {
                custAlertMsg("There Are No Changes To Update.", "warning");
              return false;
            }
            else {
                $("#MyModelReAssigneComments").modal('show');
                $("#ReassignComments").val('');
            }
    });

    function ModifiedSubmitAction() {
        GetComments = $("#ReassignComments").val().trim();
        if (GetComments != "") {
            custAlertMsg("Are You Sure You Want To Change Employee ?", "confirm", "ModifiedRolesHods();");
        }
        else {
            custAlertMsg("Enter Comments", "error");
        }
    }

    function ModifiedRolesHods() {
        ShowPleaseWait('show');
        var Type = 0;
        $.ajax({
            url: '@Url.Content("~/QMS/Incident/UpdateManageEmp")',
            data: {
                'Sno': Sno, 'IncidentMasterID':@Model.IncidentMasterID,'CurrentStatus':@Model.CurrentStatus,
                'SelectEmployee': SelectedDDLEmpValue, 'ReassignComments': GetComments, 'Type': Type
            },
            type: 'Post',
            success: function (JsonResultIncident) {
                ShowPleaseWait('hide');
                if (JsonResultIncident.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (JsonResultIncident.hasError == false) {
                        lblControlSelectedEmpValue.text(SelectedDDLEmpValue);
                        custAlertMsg("Incident Employee Updated By Admin Successfully.", "success", "DefaultAdminManageTableDisplay();");
                        $("#MyModelReAssigneComments").modal('hide');
                        return false;
                    }
                    else {
                        errors.push(JsonResultIncident.data);
                        custAlertMsg(errors.join("<br/>"), "error", "");
                        return false;
                    }
                }
            }
            });
    }
</script>
<script>
    function DefaultAdminManageTableDisplay() {
        $("#tblINCAdminManage .btnINCManageUpdate").hide();
        $("#tblINCAdminManage .btnINCManageCancel").hide();
        $("#tblINCAdminManage .btnINCManageEdit").show();
        $("#tblINCAdminManage .ddlTabelDropdown").prop("disabled", true);
        $("#tblINCAdminManage .ddlTabelDropdown").selectpicker('refresh');
    }
    DefaultAdminManageTableDisplay();
</script>

<script>
    function RevertToMainListPage() {
        $("#myModalAdminManage").modal('hide');
        $("#tblIncidentList").DataTable().ajax.reload();
    }
</script>

<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>
<!--For showing Show more, Show Less for Brief Description of Incident-->
<script>
        function ShowMorefun() {
        var showChar = 150;
        var ellipsestext = "...";
        var moretext = "Show more";
        var lesstext = "Show less";
        $('.more').each(function () {
            var content = $(this).html().trim();

            if (content.length > showChar) {

                var c = content.substr(0, showChar);
                var h = content.substr(showChar , content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext + '</span><span class="morecontent"><span>' + h + '</span><a href="" class="morelink">' + moretext + '</a></span>';

                $(this).html(html);
            }
        });
        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            }
            else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
       }
</script>

<!--Commented on 10-01-2020-->
<script>
        var OnChangeSelectedValue;
        $(".ddlTabelDropdown").change(function () {
            var errors = [];
            if (@Model.CurrentStatus == "21" || @Model.CurrentStatus == "25"|| @Model.CurrentStatus == "20")
            {
                var Cntrl = $(this);
            var _IncidentID = @Model.IncidentMasterID;
            $.ajax({
                url: '/QMS/Incident/_IncidentAdminManageHodRoleChecking',
                type: "GET",
                dataType: "JSON",
                data: { IncidentMasterID: _IncidentID, EmpID: _EmpID},
                success: function (JsonHodExist) {
                    if (JsonHodExist.data.IstrainingExitsorNot == 1)//If IsTraining Exist
                    {
                        if (JsonHodExist.data._IsRoleExists == false)//If TMS HOD Role not Exist
                        {
                            errors.push("TMS HOD Role Does not Exist for the selected HOD.");
                            custAlertMsg(errors.join("<br/>"), "error");

                            var SelectedlblEmpValue = $(Cntrl).closest("tr").find(".lblselectEmp").text().trim();
                            $(Cntrl).closest("tr").find(".ddlTabelDropdown").val(SelectedlblEmpValue);
                            DefaultAdminManageTableDisplay();
                            return false;
                        }
                        else if (JsonHodExist.IsDepartmentExists == false) {
                            errors.push("You are not having Accessible" + JsonHodExist.DepartmentName +" Depatment  for TMS HOD role.");
                            custAlertMsg(errors.join("<br/>"), "error");

                            var SelectedlblEmpValue = $(Cntrl).closest("tr").find(".lblselectEmp").text().trim();
                            $(Cntrl).closest("tr").find(".ddlTabelDropdown").val(SelectedlblEmpValue);
                            DefaultAdminManageTableDisplay();
                            return false;
                        }

                    }
                }
            });
           }
        });
        var _EmpID;
        function CheckTTSAndHODRoleExistOrNot(id) {
             _EmpID = id;
        }
</script>