﻿@model QMS_BO.QMS_Incident_BO.IncidentBO

<!--------Start Create Incident Report popup-------------->
<link href=@Url.Content("~/Content/bootstrap-theme.css") rel="stylesheet" />
<link href=@Url.Content("~/Content/bootstrap-fileinput/css/fileinput.css") rel="stylesheet" />
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/fileinput.js")></script>
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/theme.js")></script>
@Html.Hidden("hdnIncFilesUploadCount1")

<!--------Start Add File Upload popup-------------->
<div id="myModalInitiatorFileUpload" class="modal department fade" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="formAuditUpload" enctype="multipart/form-data">
                <div class="modal-header ">
                    <h4 class="modal-title">Add Supporting Documents</h4>
                    <button type="button" class="close" data-dismiss-modal="modal2">&times;</button>
                </div>
                <div class="modal-body">
                    <div hidden="hidden">
                        @Html.EditorFor(model => model.IncidentMasterID, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-horizontal">
                        <div class="">
                            @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-form-label padding-none col-md-2 required" })
                            <div class="col-md-10 file-loading">
                                <input id="fuResponse" class="custom-file-input" type="file" multiple accept="application/msword,text/plain, application/pdf, image/*">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer col-12 top">
                    <button type="button" class="btn btn-cancel_popup" data-dismiss-modal="modal2">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--------End Add File Upload popup-------------->
<!--Capa Fill View -->
<div id="MyModelCCNFileView" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" style="max-width:95%">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title">View Files</h4>
                <button type="button" class="close" data-dismiss-modal="modal3">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="embed-responsive embed-responsive-16by8" id="dvfileframe">
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Hide Columns-->
<!--This session is used for Hide Columns in Fileuploads,becz this PV is used in Many Views-->
<script>
    var hideFileUploadColumns = [];
    if (@Session["OnlyforView"].ToString()!=-1) {//default value is -1 while creating
        if (@Session["OnlyforView"].ToString()==1) {//Query sting value is 1 for Viewing
            hideFileUploadColumns = [1, 3, 4, 5, 8];
        }
        else {
            if (@Model.IncidentMasterID==0 || @Model.CurrentStatus=="4" || @Model.CurrentStatus=="24" || @Session["OnlyforView"].ToString()==2) {// 2-Showtype Revertlist then show delete icon in list
                hideFileUploadColumns = [1, 3, 4, 5];
            }
            else {
                hideFileUploadColumns = [1, 3, 4, 5, 8];
            }
        }
    }
    else {
        hideFileUploadColumns = [1, 3, 4, 5, 8];
    }
</script>
<!--End Hide Columns-->
<script>
    if (@Model.IncidentMasterID==0)
     {
            Status=1;
     }
     else
     {
            Status=2;
    }
    
        $('#tblIncidentInitiatorFileUploadList').wrap('<div class="dataTables_scroll" />');
        var oTable9 = $('#tblIncidentInitiatorFileUploadList').DataTable({
            columns: [
                { 'data': 'RowNumber' }, //0
                { 'data': 'UniquePKID' },//1
                { 'data': 'FileDocumentName' },//2
                { 'data': 'FileType' },//3
                { 'data': 'EmpName' },//4
                { 'data': 'RoleName' },//5
                { 'data': 'CreatedDate' },//6

                {
                    "mData": null,       //7 View
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="view" title="View" onclick=funToViewIncidentDocuments(this,' + o.UniquePKID + ')>' + '' + '</a>'; }
                    }
                },
                {
                    "mData": null,       //8 Delete
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="delete" title="Remove" onclick=funDeleteFileUploadDocuments(' + o.UniquePKID + ')>' + '' + '</a>'; }
                    }
                },
            ],
            "scrollY": "50vh",
            "scrollX": "auto",
            "bFilter": false,
            "binfo": false,
            "paging": true,
            "bDestroy": true,
            "lengthChange": false,//hide show entites
            "lengthMenu": [[10, 15, 20, 1000], [10, 15, 20, "All"]],
            "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] }, { className: "textAlignCenter", "targets": [0,7,8] }, {
                "targets": hideFileUploadColumns,
                "visible": false,
                "searchable": false
            }],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/QMS/Incident/GetIncidentInitiatorFileUploadList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push(
                    { "name": "IncidentMasterID", "value":@Model.IncidentMasterID},
                    { "name": "Status", "value": Status }
                );
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else {
                            if (result.hasError == true) {
                                custAlertMsg(result.data, "error", "ReloadDashboard();");
                            }
                            else {
                                fnCallback(result);
                                $("#tblIncidentInitiatorFileUploadList").show();
                                $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                $(".tblIncidentInitiatorFileUploadListClass").css({ "width": "100%" });
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            }
        });
    
    function ReloadtblIncidentInitiatorFileUploadList() {
       // IncidentFileuploadList();
           $('#tblIncidentInitiatorFileUploadList').DataTable().ajax.reload()
        }
</script>


<script>
    var Uniqueid = 0;
    function funDeleteFileUploadDocuments(ID) {
        Uniqueid = ID;
        custAlertMsg("Are you sure you want to Remove this record ?", "confirm", "DeletefunDeleteFileUploadDocuments();")
    }
    function DeletefunDeleteFileUploadDocuments() {
        errors = [];
        if (Uniqueid != '') {
            $.ajax({
                url: '/QMS/Incident/DeleteIncidentInitiatorFileUploadDocuments',
                data: { 'UniquePKID': Uniqueid,"IncidentMasterID":@Model.IncidentMasterID, 'EmpID': @TempData["EmpID"],},
                type: 'Post',
                success: function (result) {
                    if (result.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (result.hasError == true) {
                            errors.push(result.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                        else {
                            errors.push("Record Removed Successfully.");
                            custAlertMsg(errors.join("<br/>"), "success", "ReloadtblIncidentInitiatorFileUploadList();");
                            $('#ModalConfirm').modal('hide');
                        }
                    }
                }
            });
        }
    }
</script>

<!--To View Incident File Uploads Documents -->
<script>
        function funToViewIncidentDocuments(doubleclick2, UniquePKID) {
        $(doubleclick2).attr("onclick", "").unbind("click");
        var dvShow = document.getElementById("dvfileframe");
        dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=8&FID=" + UniquePKID + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
        $("#MyModelCCNFileView").modal('show');
        $(doubleclick2).attr("onclick", "funToViewIncidentDocuments(this," + UniquePKID + ")").unbind("click");
    }
</script>
<!--End To View Incident File Uploads Documents -->
<script>
        var AllIncFilesUploaded=0;
    $("#fuResponse").fileinput({
             'theme': 'explorer-fa',
             'uploadUrl': '@Url.Content("~/QMS/Incident/InitiatorUploadFiles")',
             'showUpload': true,
             'showCancel': false,
             'showClose':true,
             'maxFileCount': 5,
             'maxFileSize':10000,
             'required': true,
             'overwriteInitial': false,
             //'allowedFileExtensions': ['jpg', 'png', 'docx', 'doc', 'pdf', 'txt', 'rtf', 'xls', 'xlsx', 'gif', 'bmp', 'jpeg'],
             'allowedFileExtensions': ['pdf'],
             'initialPreviewAsData': true,
             'uploadExtraData': function () {
                 var fileExtraData = {
                     "CreatedBy":@TempData["EmpID"],
                      "IncidentMasterID" : @Model.IncidentMasterID,
                 }
                 return fileExtraData;
             },
             'browseOnZoneClick': true,
             'fileActionSettings': {
                showUpload: false,
                showRemove: true
             }
    });
    $('#fuResponse').on('filepreupload', function (event, data, previewId, index, jqXHR) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        var fileNamesExceedCount = 0;
        $('.file-preview-thumbnails .file-preview-frame.explorer-frame.kv-preview-thumb').each(function () {
            if ($(this).attr('title').length > 200) {
                fileNamesExceedCount++;
                $(this).find('.explorer-caption').css("color", "red");
            }
        });
        if (fileNamesExceedCount > 0) {
            return {
                message: fileNamesExceedCount + ' file name exceeds 200 characters'
            };
        }
        AllIncFilesUploaded = 0;
        $('#hdnIncFilesUploadCount1').val(data.filescount);
    });

    $('#fuResponse').on('fileuploaded', function (event, data, previewId, index) {
        errors = [];
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        if (response.msg != null) {
            AllIncFilesUploaded = AllIncFilesUploaded + 1;
            console.log(AllIncFilesUploaded);
            if (response.msgRedirecttoLoginPage)
            {
                window.location.href = '/UserLogin.aspx';
            }
            else
            {
                if (response.msgType != "Exceptionerror") {
                    if (AllIncFilesUploaded == parseInt($('#hdnIncFilesUploadCount1').val())) {
                        switch (response.msgType) {
                            case "error":
                                custAlertMsg(response.msg, "error", 'clearResponseFileInput()');
                                break;
                            case "info":
                                custAlertMsg(response.msg, "info", 'clearResponseFileInput()');
                                break;
                            case "success":
                                custAlertMsg(response.msg, 'success', 'clearResponseFileInput()');
                                $('#myModalInitiatorFileUpload').modal('hide');
                                break;
                        }
                    }
                }
                else {
                    custAlertMsg(response.msg, "error", 'clearResponseFileInput()');
                }
            }
        }
    });

    function clearResponseFileInput() {
        $('#fuResponse').fileinput('clear');
        $("#divtblIncidentInitiatorFileUploadList").show();
        ReloadtblIncidentInitiatorFileUploadList();
        ClearTempData();
    }
    $('#fuResponse').on('filepreupload', function (event, data, previewId, index, jqXHR) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;

    });
</script>
<!--Initiator File Uploads model popup-->
<script>
    function InitiatorFileUploads(doubleclick) {
        $(doubleclick).attr("onclick", "").unbind("click");
        $('#btnAddDoc').on('click', function () {
            $('#files').val("");
        });
        //  clearResponseFileInput();
        $('#myModalInitiatorFileUpload').modal('show');
        $(doubleclick).attr("onclick", "InitiatorFileUploads(this)").unbind("click");
    }
</script>
<!--Initiator File Uploads model pop up-->
<!--remove temp data after file upload submit-->
<script>
    function ClearTempData() {
        var Status=1;
        $.ajax({
            url: '@Url.Content("~/QMS/Incident/RemoveTempData1")',
            type: "GET",
            dataType: "JSON",
            data: { "RoleTypeTemp":Status},
            success:   function(aiz)
            {
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (aiz.hasError == false) {
                    }
                    else {
                        custAlertMsg(aiz.data, "error");
                        return false;
                    }
                }
            }
            });
    }
</script>
<script>
    $(function () {
        $("button[data-dismiss-modal=modal2]").click(function () {
            $('#myModalInitiatorFileUpload').modal('hide');
        });
    })
</script>
<script>
    $(function () {
        $("button[data-dismiss-modal=modal3]").click(function () {
            $('#MyModelCCNFileView').modal('hide');
        });
    })
</script>
<script>
   if (@Model.CountFiles !=0) {
        $("#divtblIncidentInitiatorFileUploadList").show();
    }
    else{
        $("#DocumentsTab").hide();
    }
</script>