﻿@model QMS_BO.QMS_Incident_BO.IncidentBO
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!--------Start Create Incident Report pop up-------------->
    <style>
        .attachmentModalpopup-Scroll {
            max-height: 650px;
            overflow-y: auto;
        }
    </style>
    <div id="OpenDilog1"></div>
    <div id="MyModalIncident" class="modal department fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog " style="max-width:90%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><label class=" custom_label col-form-label" id="lbltitleName"> </label></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body  style-3 attachmentModalpopup-Scroll ">
                    <div class="col-12 padding-none">
                        <div class="col-6 float-left" id="DivddlDept" style="display:none">
                            <label class=" custom_label col-form-label">Department<span class="mandatoryStar">*</span></label>
                            @Html.DropDownList("DeptID", Model.ddlDeptList as List<SelectListItem>, htmlAttributes: new { @id = "DeptID", @class = " col-12  padding-none selectpicker drop_down", @onchange = "GetIncidentNumber();" })
                        </div>
                        <div class="col-6 float-left" id="DivddlDeptName" style="display:none">
                            <label class=" custom_label col-form-label">Department<span class="mandatoryStar">*</span></label>
                            @Html.EditorFor(model => model.IncidentViewDeptName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                        </div>
                        <div class="col-6 float-left">
                            <label class=" custom_label col-form-label"> Incident Number<span class="mandatoryStar">*</span></label>
                            @Html.EditorFor(model => model.IRNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", maxlength = 20 } })
                        </div>
                        <div class="col-4 float-left" id="divOccurrenceDate">
                            <label for="" class="custom_label col-form-label">Date of Occurrence<span class="mandatoryStar">*</span></label>
                            @Html.EditorFor(model => model.OccurrenceDate, new { htmlAttributes = new { @class = "form-control login_input_sign_up datetimepicker", @autocomplete = "off" } })
                        </div>
                        <!--This div is for MainList-->
                        <div class="col-4 float-left" style="display:none;" id="divOccurrenceDatelbl">
                            <label for="" class="custom_label col-form-label">Date of Occurrence<span class="mandatoryStar">*</span></label>
                            @Html.EditorFor(model => model.OccurrenceDate, new { htmlAttributes = new { @id = "OccurrenceDatelbl", @class = "form-control login_input_sign_up", disabled = "disabled" } })
                        </div>
                        <div class="col-4 float-left" id="divIncidentReportDate">
                            <label for="" class="custom_label col-form-label">Date of Report<span class="mandatoryStar">*</span></label>
                            @if (Model.CurrentStatus == "0")
                            {
                                @Html.EditorFor(model => model.IncidentReportDate, new { htmlAttributes = new { @class = "form-control login_input_sign_up ", @Value = @DateTime.Now.ToString("dd MMM yyyy"), @readonly = "readonly" } })
                            }
                            else
                            {
                                @Html.EditorFor(model => model.IncidentReportDate, new { htmlAttributes = new { @class = "form-control login_input_sign_up ", @readonly = "readonly" } })
                            }
                        </div>
                        <!--This div is for MainList-->
                        <div class="col-4 float-left" style="display:none;" id="divIncidentReportDatelbl">
                            <label for="" class="custom_label col-form-label">Date of Report<span class="mandatoryStar">*</span></label>
                            @Html.EditorFor(model => model.IncidentReportDate, new { htmlAttributes = new { @id = "IncidentReportDatelbl", @class = "form-control login_input_sign_up", disabled = "disabled" } })
                        </div>
                        <div class="col-4 float-left" id="divIncidentDueDate">
                            <label for="" class="custom_label col-form-label">Due Date<span class="mandatoryStar">*</span></label>
                            @if (Model.CurrentStatus == "0")
                            {
                                @Html.EditorFor(model => model.IncidentDueDate, new { htmlAttributes = new { @class = "form-control login_input_sign_up ", @Value = @DateTime.Now.AddDays(30).ToString("dd MMM yyyy"), @readonly = "readonly" } })
                            }
                            else
                            {
                                @Html.EditorFor(model => model.IncidentDueDate, new { htmlAttributes = new { @class = "form-control login_input_sign_up ", @readonly = "readonly" } })
                            }
                        </div>
                        <div class="col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6  float-left padding-none">
                            <label class="col-10 custom_label col-form-label "> Category </label>
                            <a id="btnAddTypeOfCategory" href="#" title="Add" data-toggle="modal" onclick="TypeChangeOpen(this);">
                                <div class="add_depart col-sm-1 pull-right"></div>
                            </a>
                            <div class="col-12">
                                @Html.DropDownList("TypeofCategoryID", Model.ddlCategoryTypeList as List<SelectListItem>,
                                        htmlAttributes: new
                                        {
                                            id = "TypeofCategoryID",
                                            @class = "col-12  padding-none  drop_down selectpicker1",
                                        })
                            </div>
                        </div>
                        <div class="col-4 float-left">
                            <label class=" custom_label col-form-label"> Document Type<span class="mandatoryStar"></span></label>
                            @Html.DropDownList("DocumentType", Model.ddlDocumentTypeList as List<SelectListItem>, htmlAttributes: new { @id = "DocumentType", @class = " col-12  padding-none selectpicker drop_down", @onchange = "GetReferenceNumber(2);" })
                            @*@Html.DropDownList("DocumentType", null, htmlAttributes: new { @id = "DocumentType", @class = " col-12  padding-none selectpicker drop_down", @onchange = "GetReferenceNumber(2);" })*@

                        </div>
                        <div class="col-4 float-left" id="divReferenceNumber" style="display:none;">
                            <label class=" custom_label col-form-label">Reference Document No.<span class="mandatoryStar"></span></label>
                            @if (Model.CurrentStatus == "1" || Model.CurrentStatus == "4" || Model.CurrentStatus == "24" || Model.CurrentStatus == "2")
                            {
                                @Html.DropDownList("ReferenceNumber", null, "Select", htmlAttributes: new { @id = "ReferenceNumber", @class = " col-12 padding-none selectpicker drop_down ", @onchange = "GetDocumentName();" })
                            }
                            else
                            {
                                @Html.DropDownList("ReferenceNumber", new SelectList(Enumerable.Empty<SelectListItem>
            ()), "Select ReferenceNumber", htmlAttributes: new { @id = "ReferenceNumber", @class = " col-12  padding-none  drop_down selectpicker", @onchange = "GetDocumentName();" })
                            }
                        </div>

                        <!--Document Name auto fill-->
                        <div class="col-12 float-left" id="divdocNameReadOnly">
                            <label class=" custom_label col-form-label"> Document Name<span class="mandatoryStar"></span></label>
                            @Html.EditorFor(model => model.DocName, new { htmlAttributes = new { @class = "form-control ", name = "DocName", @readonly = "readonly", maxlength = 500 } })
                        </div>
                        <div class="col-6 float-left" id="divEnterOtherDOCRefNo" style="display:none">
                            <label for="" class="custom_label col-form-label">Reference Document No.<span class="mandatoryStar"></span></label>
                            @Html.EditorFor(Model => Model.OtherDOCRefNo, new { htmlAttributes = new { @class = "form-control ", name = "DocTitle", maxlength = 50 } })
                        </div>
                        <div class="col-12 float-left" id="divEnterDocNo" style="display:none">
                            <label for="" class="custom_label col-form-label ">Document Name<span class="mandatoryStar"></span></label>
                            @Html.EditorFor(Model => Model.DocTitle, new { htmlAttributes = new { @class = "form-control ", name = "DocTitle", @rows = 3, maxlength = 500, @onpaste = "return ValidateStarFrontSlashSquareBracesOnPaste()", @onkeypress = "return RestrictStarFrontSlashSquareBraces(event)" } })
                        </div>
                        <div class="col-12 float-left">
                            <label class=" custom_label col-form-label">Brief Description of Incident<span class="mandatoryStar">*</span></label>
                            @Html.TextAreaFor(model => model.IncidentDesc, new { @class = "", @style = "margin-top:0px;", @cols = 80, @rows = 6, maxlength = 5000 })
                        </div>

                        @if (Session["OnlyforView"].ToString() != "1")
                        {
                            if (Model.IncidentMasterID == 0 || Model.CurrentStatus == "4" || Model.CurrentStatus == "24")
                            {
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top">
                                    <button type="button" id="btnAddDoc" data-toggle="modal" class="btn btn-signup_popup float-left" onclick="InitiatorFileUploads(this);">Add Attachments</button>
                                </div>
                            }
                        }


                        <div id="divtblIncidentInitiatorFileUploadList" style="display:none;" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Attachments</div>
                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="min-height:0px !important">
                                <table id="tblIncidentInitiatorFileUploadList" class="table datatable_cust table-striped table-bordered" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>UniqueID</th>
                                            <th>File Name</th>
                                            <th>File Type</th>
                                            <th>Created By</th>
                                            <th>Role</th>
                                            <th>Created Date</th>
                                            <th>View</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>  <!--End-->
                        <!--start commented by pradeep fro HOD Reverted comments-->
                        <!--Incident has been Reverted  by Hod-->
                        @if (Model.CurrentStatus == "4")
                        {
                            <div class="col-12 float-left" id="divHODRevertComments">
                                <label class=" custom_label col-form-label required">HOD Comments</label>
                                @Html.TextAreaFor(model => model.HodRevertedComments, new { @class = "", @cols = 80, @rows = 3, maxlength = 500, disabled = "disabled", style = "cursor: not-allowed" })
                            </div>
                        }
                        <!--Incident has been Reverted to Initiator  by QA-->
                        @if (Model.CurrentStatus == "24")
                        {
                            <div class="col-12 float-left" id="divHODRevertComments">
                                <label class=" custom_label col-form-label required">QA Comments</label>
                                @Html.TextAreaFor(model => model.QARevertedComments, new { @class = "", @cols = 80, @rows = 3, maxlength = 500, disabled = "disabled" })
                            </div>
                        }
                        <!--end commented by pradeep fro HOD Reverted comments-->

                        <div class="col-12 float-left" id="divInitiatorComments">
                            <label class=" custom_label col-form-label required">Comments</label>
                            @Html.TextAreaFor(model => model.InitiatorComments, new { @class = "", @cols = 80, @rows = 3, maxlength = 500 })
                        </div>
                    </div>
                </div>
                <div class="modal-footer col-12 float-left">
                    <div class="col-12 float-left">
                        <div class="col-6  float-left padding-none">
                            <label class="custom_label col-form-label  float-left"> Assign to Hod :<span class="mandatoryStar">*</span> &nbsp;</label>
                            @if (Model.CurrentStatus == "1" || Model.CurrentStatus == "4" || Model.CurrentStatus == "24" || Model.CurrentStatus == "2")
                            {
                                @Html.DropDownList("EmployeeName", null, "Select", htmlAttributes: new { @class = "col-7  padding-none  drop_down selectpicker " })
                            }
                            else
                            {
                                @Html.DropDownList("EmployeeName", new SelectList(Enumerable.Empty<SelectListItem>
                                                                                 ()), "Select", htmlAttributes: new { @name = "EmployeeName", @id = "EmployeeName", @class = "col-7  padding-none  drop_down selectpicker" })
                            }
                        </div>

                        <div class="float-right padding-right_div">
                            @if (Model.CurrentStatus == "1" || Model.CurrentStatus == "4" || Model.CurrentStatus == "24")
                            {
                                <button type="button" id="BtnINIUpdate" class="btn btn-signup_popup BtnUpdate" onclick="AddIncident('Updated');">Update</button>
                            }
                            else
                            {
                                <button type="button" id="BtnINISubmit" class="btn btn-signup_popup" onclick="AddIncident('Submitted');">Submit</button>
                            }
                            <button type="button" id="btnCreateCancel" class="btn btn-cancel_popup" data-dismiss="modal">Cancel</button>
                            <button type="button" id="btnClose" class="btn btn-cancel_popup" data-dismiss="modal" style="display:none;">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------End Create Incident Report Classification-------------->
}
<!--call Electronic Signature -->
@Html.Partial("_ElectronicPartialView")
<script>
    $(document).ready(function () {
        $('.selectpicker,.selectpicker1').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>

<script>
    function TypeChangeOpen(cntrl) {
        
        $(cntrl).attr("onclick", "").unbind("click");
        $("#OpenDilog1").empty();
        ShowPleaseWait('show');  
            var div = $("#OpenDilog1");
            //div.load("/QMS/Incident/CreateIncident?IncidentMasterID=0", function () {
            div.load("/QMS/Incident/TypeOfIncidentCreate",function () {
                $('#myModalTypeOfIncidentCreate').modal('show');
                ShowPleaseWait('hide');
                $(cntrl).attr("onclick", "TypeChangeOpen(this)").unbind("click");
        });
    }
</script>

<script>
    function GetReferenceNumber(id) {
        errors = [];
        var DeptID = $("#DeptID").val();
        var DocumentTypeID = $('#DocumentType').val();
        if (DeptID != "0") {
            if (DocumentTypeID == 0) {
                $("#divEnterDocNo").show();
                $("#divEnterOtherDOCRefNo").show();
                $("#divdocNameReadOnly").hide();
                $("#divReferenceNumber").hide();
            }
            if (DocumentTypeID > "0" || DocumentTypeID == "-1") {
                $("#divEnterDocNo").hide();
                $("#divEnterOtherDOCRefNo").hide();
                $("#divdocNameReadOnly").show();
                $("#divReferenceNumber").show();
                $("#DocTitle").val("");
                $("#DocName").val("");
                $("#OtherDOCRefNo").val("");
                $.ajax({
                    url: '/QMS/QMSCommon/BindReferenceNo',
                    type: "post",
                    dataType: "JSON",
                    data: { DeptID: DeptID, DocumentTypeID: DocumentTypeID },
                    success: function (impList1) {
                        if (impList1.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else {
                            if (impList1.hasError == true) {
                                custAlertMsg(impList1.data, "error");
                            }
                            else {
                                var numbers = impList1;
                                var option = '';
                                $("#ReferenceNumber").html(""); // clear before appending new list
                                for (var i = 0; i < numbers.length; i++) {
                                    $("#ReferenceNumber").append(
                                        $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                                }
                                $('#ReferenceNumber').selectpicker('refresh');
                            }
                        }
                    }
                });
            }
        }
        else {
            $("#ReferenceNumber").val("0");
            $("#DocumentType").val("-1");
            $("#DocTitle").val("");
            $("#DocName").val("");
            $("#OtherDOCRefNo").val("");
            $("#ReferenceNumber").val("0");
            $('#ReferenceNumber').selectpicker('refresh');
            $.ajax({
                url: '/QMS/QMSCommon/BindReferenceNo',
                type: "post",
                dataType: "JSON",
                data: { DeptID: DeptID, DocumentTypeID: DocumentTypeID },
                success: function (impList1) {
                    if (impList1.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (impList1.hasError == true) {
                            custAlertMsg(impList1, "error");
                        }
                        else {
                            var numbers = impList1;
                            var option = '';
                            $("#ReferenceNumber").html(""); // clear before appending new list
                            for (var i = 0; i < numbers.length; i++) {
                                $("#ReferenceNumber").append(
                                    $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                            }
                            $('#ReferenceNumber').selectpicker('refresh');
                        }
                    }
                }
            });
            if (id == 2) {
                if (DeptID == "0") {
                    errors.push("Select Department.");
                    custAlertMsg(errors.join("<br/>"), "error");
                    $("#DocumentType").val("-1");
                } return false;
            }
        }
    }
</script>
<script>
    $(document).ready(function () {
        $("#DocName").attr('title', '@Model.DocName');
    $("#DocTitle").attr('title', '@Model.DocTitle');
    var v1 =@Model.DocumentType;
    if (@Model.IncidentMasterID!=0) {
        if (v1 == "0") {
            $("#divEnterDocNo").show();
            $("#divEnterOtherDOCRefNo").show();
            $("#divdocNameReadOnly").hide();
            $("#divReferenceNumber").hide();
            $("#divReferenceNumberview").hide();
            $("#divEnterOtherDOCRefNoview").show();
        }
        else {
            $("#divdocNameReadOnly").show();
            $("#divEnterDocNo").hide();
            $("#divEnterOtherDOCRefNo").hide();
            $("#divReferenceNumber").show();
            $("#divReferenceNumberview").show();
            $("#divEnterOtherDOCRefNoview").hide();
        }
    } else {
        $("#DocumentType").val("-1");
        $("#divdocNameReadOnly").show();
        $("#divEnterDocNo").hide();
        $("#divEnterOtherDOCRefNo").hide();
        $("#divReferenceNumber").show();
        $("#divReferenceNumberview").show();
        $("#divEnterOtherDOCRefNoview").hide();
    }
});
</script>
<script>
    // For populating Incident Number based on select Department
    function GetIncidentNumber() {
        var DeptID = $('#DeptID').val();
        errors = [];
        GetReferenceNumber(1);
        $("#DocTitle").val("");
        $("#DocumentType").val("-1");
        $("#ReferenceNumber").val("");
        $("#DocName").val("");
        $("#OtherDOCRefNo").val("");
        $("#DocumentType").selectpicker('refresh');
        $("#ReferenceNumber").selectpicker('refresh');
        if (DeptID != "0") {
            $.ajax({
                url: '/QMS/Incident/BindIncidentNo',
                type: "GET",
                dataType: "JSON",
                data: { DeptID: DeptID },
                success: function (jsonResult) {
                    if (jsonResult.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (jsonResult.hasError == false) {
                            if (jsonResult.data == 1) {
                                custAlertMsg('Please contact admin,System Masters not available.', "error");
                                return false;
                            } else {
                                $("#IRNumber").val(jsonResult.data); // clear before appending new list
                            }
                        }
                        else {

                            custAlertMsg(jsonResult.data, "error");
                            return false;
                        }
                    }
                }
            });
        }
        else {
            GetReferenceNumber(1);
            $("#IRNumber").val("");
            $("#DocTitle").val("");
            $("#DocumentType").val("-1");
            $("#ReferenceNumber").val("");
            $("#DocName").val("");
            $("#OtherDOCRefNo").val("");
            $("#DocumentType").selectpicker('refresh');
            $("#ReferenceNumber").selectpicker('refresh');
        }
        //For binding HOD names based on select Department
        $.ajax({
            url: '/QMS/QMSCommon/BindHOD',
            type: "POST",
            dataType: "JSON",
            data: { DeptID: DeptID },
            success: function (impListHOD) {
                if (impListHOD.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    if (impListHOD.hasError == true) {
                        custAlertMsg(impListHOD.data, "error");
                    }
                    else {
                        var numbers = impListHOD;
                        var option = '';

                        $("#EmployeeName").html(""); // clear before appending new list
                        for (var i = 0; i < numbers.length; i++) {
                            $("#EmployeeName").append(
                                $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                        }
                        $('#EmployeeName').selectpicker('refresh');
                    }
                }
            }
        });
    }
</script>
<!--JS Funtion for Create and Update Validation on Incident Create or Update-->
<script>
    function Reload() {
        $("#MyModalIncident").modal('hide');
        //Reload Incident List without page Refersh
        $('#tblIncidentList').DataTable().ajax.reload();
        ReloadtblIncidentInitiatorFileUploadList();
    }
    var IncidentNumber;
    var Department;
    var DateOfOccurance;
    var DateOfReport;
    var IncidentDueDate;
    var DocumentType;
    var versionID;
    var DocName1;
    var Description;
    var Comments;
    var HODEmpID;
    var OperationElectronic;
    var IncidentMasterID1;

    function AddIncident(Operation) {
        OperationElectronic = Operation;
        if (Operation == "Updated") {
            IncidentMasterID1 =@Model.IncidentMasterID;
        }
        
errors = [];
 IncidentNumber = $("#IRNumber").val();
 Department = $("#DeptID :selected").val();
if (Department == "" || Department == 0) {
    errors.push("Select Department.");
}
 DateOfOccurance = $("#OccurrenceDate").val().trim();
if (DateOfOccurance == "") {
    errors.push("Enter Date of Occurrence.");
}
 DateOfReport = $("#IncidentReportDate").val().trim();
 IncidentDueDate = $("#IncidentDueDate").val().trim();
if (DateOfReport == "") {
    errors.push("Enter Date of Report.")
}
 DocumentType = $("#DocumentType :selected").val();
    if (DocumentType == "" || DocumentType == "-1") {
        //errors.push("Select Document Type.");
    }
    if (DocumentType != "0" && DocumentType != "-1") {
        versionID = $("#ReferenceNumber").val();
        if (versionID == "" || versionID == 0) {
            errors.push("Select Reference Document No. ");
        }
        DocName1 = $("#DocName").val().trim();
        if (DocName1 == "") {
            errors.push("Select Document Name. ");
        }
    }
    if (DocumentType == "0") {
        versionID = $("#OtherDOCRefNo").val().trim();
        if (versionID == "") {
            errors.push("Enter Reference Document No.");
        }
        DocName1 = $("#DocTitle").val().trim();
        if (DocName1 == "") {
            errors.push("Enter Document Name.");
        }
    }
    Description = $("#IncidentDesc").val().trim();
if (Description == "") {
    errors.push("Enter Brief Description of Incident.");
}
   Comments = $("#InitiatorComments").val().trim();
if (Comments == "") {
    errors.push("Enter Comments.");
}
   HODEmpID = $("#EmployeeName :selected").val();
if (HODEmpID == "" || HODEmpID == "0") {
    errors.push("Select Assign To Hod.");
    }
    
    if (DocumentType != -1) {
        if (IncidentNumber != "" && HODEmpID != "0" && HODEmpID != "" && DateOfOccurance != "" && DateOfReport != "" && Description != "" && Department != "" && versionID!="" && DocName1 != "" && Comments != "") {
            ElectronicSignPopupOpen('IncidentCreateSubmittCode');

        }
        else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    else {
        if (IncidentNumber != "" && HODEmpID != "0" && HODEmpID != "" && DateOfOccurance != "" && DateOfReport != "" && Description != "" && Department != "" && Comments != "") {
            ElectronicSignPopupOpen('IncidentCreateSubmittCode');

        }
        else {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    }
    function IncidentCreateSubmittCode() {
        TypeOfIncident = $("#TypeofCategoryID :selected").val();
        var change = {
            "IRNumber": IncidentNumber, "DeptID": Department, "OccurrenceDate": DateOfOccurance,
            "IncidentReportDate": DateOfReport, "IncidentDueDate": IncidentDueDate, "DocumentType": DocumentType, "IncidentDesc": Description, "InitiatorComments": Comments, "HODEmpID": HODEmpID,
            "ReferenceNumber": versionID, "DocTitle": DocName1, "IncidentMasterID": IncidentMasterID1, "TypeofCategoryID": TypeOfIncident
        };
        //For Restricting multiple clicks
        ShowPleaseWait('show');
        $.post("/QMS/Incident/Incident_Create?Operation=" + OperationElectronic, change,
            function (aiz) {
                //For Restricting multiple clicks
                ShowPleaseWait('hide');
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (aiz.hasError == false) {
                        errors.push("Incident <span class='sucess_info_msg'> " + aiz.data + '</span>  ' + OperationElectronic + " Successfully.");
                        ElectronicSignPopupClose();
                        custAlertMsg(errors.join("<br/>"), "success", "Reload();");
                        return false;
                    } else {
                        errors.push(aiz.data);
                        custAlertMsg(errors.join("<br/>"), "error");
                        return false;
                    }
                }
            }, 'json');
    }
</script>
<!--For Pre populating Custom Alert messages while submitting the form if any errors-->
<script>
    $(document).ready(function () {
        var Err = "@ViewBag.Error";
    if (Err != "") {
        errors = [];
        errors.push(Err);
        custAlertMsg(errors.join("<br/>"), "error");
    }
    else {
    }
});
</script>
<script>
    //For populating DocumentName text box by selecting on DocumentReferenceNo
    function GetDocumentName() {
        var DeptID = $('#DeptID').val();
        var versionID = $('#ReferenceNumber').val();
        var DocumentTypeID = $('#DocumentType').val();
        if (versionID != "") {
            $.ajax({
                url: '/QMS/QMSCommon/BindDocumentName',
                type: "GET",
                dataType: "JSON",
                data: { versionID: versionID, DocumentTypeID: DocumentTypeID },
                success: function (BindDocname) {
                    if (BindDocname.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (BindDocname.hasError == true) {
                            custAlertMsg(BindDocname.data, "error");
                        } else {
                            $("#DocName").val(BindDocname.data); // clear before appending new list
                            $("#DocName").attr('title', BindDocname.data);
                        }
                    }
                }
            });
        }
    }
</script>
<script>
    //Datepicker code for Occurence date when reverted by hod
    if (@TempData["ShowType"]==2) {
        $("#DeptID").prop('disabled', true).css("color", "disabled");//department cannot change when revert.
        $('#OccurrenceDate').datetimepicker({
            format: 'DD MMM YYYY',
           
        });
        var CurrentDate = new Date();
        var OccurDate = '@Model.OccurrenceDate';
    var ReportDate = '@Model.IncidentReportDate';
    var _maxdate = new Date(OccurDate);

    _maxdate.setDate(_maxdate.getDate());
    $('#OccurrenceDate').data("DateTimePicker").minDate('01 Jan 1990').maxDate(ReportDate);
}
//Datepicker code for Occurrence date on creation page
if (@TempData["ShowType"]==1) {
        $('#OccurrenceDate').datetimepicker({
            format: 'DD MMM YYYY',
            maxDate: new Date(),
            showClear: true,
            minDate: '01 Jan 1900',
        });
        $('#OccurrenceDate').val("");
    }
</script>
<script>
    $('#MyModalIncident').on('shown.bs.modal', function (e) {
        //IncidentFileuploadList();
        $('#tblIncidentInitiatorFileUploadList').DataTable().draw();
    });
</script>

@Html.Partial("~/Areas/QMS/Views/Incident/AllFileUploadsPV.cshtml")
<script>
    if (@Model.IncidentMasterID==0) {
        $("#DocumentType").val("-1");
    }
</script>
