﻿@model QMS_BO.QMS_Incident_BO.IncidentBO
<!--For File Drag and Drop-->
<link href=@Url.Content("~/Content/bootstrap-theme.css") rel="stylesheet" />
<link href=@Url.Content("~/Content/bootstrap-fileinput/css/fileinput.css") rel="stylesheet" />
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/fileinput.js")></script>
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/theme.js")></script>
@Html.Hidden("hdnIncFilesUploadCount")
<div hidden="hidden"> <button id="btnconfirm" href="javascript:void(0)" class="btn btn-danger delete-prompt">Delete</button></div>
<div class="card-header header_col_sub_child collapsed" id="liLisOfSupp" data-toggle="collapse" href="#collapse-1-1-6" aria-expanded="false" aria-controls="collapse-1-1-6">
    <a class="card-title " role="button">
        List of Supporting Documents
    </a>
</div>

<div id="collapse-1-1-6" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-1">
    <div class="card-body col-12 float-left padding-none grid_assgin ">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none ">

            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none ">
                @if (TempData["ShowType"].ToString() == "12" || TempData["ShowType"].ToString() == "13")
                {
                }
                else { 
                if (Model.CurrentStatus == "6" || Model.CurrentStatus == "11" || Model.CurrentStatus == "14" || Model.CurrentStatus == "19")
                {
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 top">
                            <button type="button" id="btnAddSupportDoc" data-toggle="modal" class="btn btn-signup_popup float-right" onclick="SupportDocUpload(this);">Add</button>
                        </div>
                }
                }
                <div id="divtblIncidentFileUploadList" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom padding-none">
                    <table id="tblIncidentFileUploadList" class="table datatable_cust table-striped table-bordered" style="width:100%;">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>UniqueID</th>
                                <th>Type of Document</th>
                                <th>Document Name</th>
                                <th>File Type</th>
                                <th>Comments</th>
                                <th>View</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='OpenDilog'></div>

<!--------Start Add File Upload pop up-------------->
<div id="myModalFileUpload" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="formAuditUpload" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">View Supporting Documents</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div hidden="hidden">
                        @Html.EditorFor(model => model.IncidentMasterID, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                        <label class="col-12 custom_label col-form-label required">Type of Document</label>
                        <div class="col-lg-12 ">
                            @Html.DropDownListFor(model => model.TypeofDocument, (SelectList)ViewBag.ddlTypeofDocumentID, htmlAttributes: new { @class = " col-12  padding-none selectpicker1 drop_down" })
                            @Html.ValidationMessageFor(model => model.TypeofDocument, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12   ">
                            <label class=" custom_label col-form-label required">Comments :</label>
                            @Html.TextAreaFor(model => model.UploadComments, new { @class = "", @cols = 80, @rows = 3, @id = "UploadComments", maxlength = 500 })
                            @Html.ValidationMessageFor(model => model.UploadComments, "", new { @class = "text-danger" })
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="">
                            @Html.LabelFor(model => model.files, htmlAttributes: new { @class = "control-label col-md-2 required" })
                            <div class="col-md-10 file-loading">
                                <input id="fuResponse" class="custom-file-input" type="file" multiple accept="application/msword,text/plain, application/pdf, image/*">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer col-12 top">
                    <button type="button" class="btn btn-cancel_popup" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--------End Add File Upload pop up-------------->
<!--Capa Fill View -->
<div id="MyModelInvestFileView" class="modal department fade" role="dialog">
    <div class="modal-dialog modal-lg" style="min-width:90%;">
        <!-- Modal content-->
        <div class="modal-content padding-none">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="embed-responsive embed-responsive-16by9" id="dvInvestfileframe">
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Hide Columns-->
<script>
    var hC_tblIFUpList = [];
    if (@Model.CurrentStatus=="6" || @Model.CurrentStatus=="11" || @Model.CurrentStatus=="14" || @Model.CurrentStatus=="19") {
        hC_tblIFUpList = [1,4];
    }
    else
    {
        hC_tblIFUpList = [1,7,4];
        }
</script>
<!--End Hide Columns-->
<script>
    function funtblIncidentFileUploadList() {

    $('#tblIncidentFileUploadList').wrap('<div class="dataTables_scroll" />');
        var oTable2 = $('#tblIncidentFileUploadList').DataTable({
            columns: [
                { 'data': 'RowNumber' }, //0
                { 'data': 'UniquePKID' },//1
                { 'data': 'TypeofDocumentName' }, //2
                { 'data': 'FileDocumentName' },//3
                { 'data': 'FileType' },//4
                { 'data': 'Comments'},//5 Comments
                {
                    "mData": null,       //5 View//6
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="view" title="View" onclick=funToViewInvestIncidentDocuments(this,' + o.UniquePKID + ')>' + '' + '</a>'; }
                    }
                },
                {
                    "mData": null,       //7 Delete
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="delete" title="Remove" onclick=funDeleteFileUploadDocuments(' + o.UniquePKID + ')>' + '' + '</a>'; }
                    }
                },
            ],
            "scrollY": "335px",
            "scrollX": "auto",
            "paging": true,
            "bDestroy": true,
            "order": [[1, "desc"]],
            "lengthChange": false,//hide show entites
            "lengthMenu": [[10, 15, 20, 1000], [10, 15, 20, "All"]],
            "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] },
                { className: "textAlignCenter", "targets": [0,6,7] }, { "orderable": false, "targets": [0] },
                {
                    "targets": hC_tblIFUpList,
                "visible": false,
                "searchable": false
            }],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/QMS/Incident/GetIncidentFileUploadList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "IncidentMasterID", "value":@Model.IncidentMasterID });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (result.hasError == true) {
                                custAlertMsg(result.data, "error", "ReloadDashboard();");
                            }
                            else {
                                fnCallback(result);
                               // $("#tblIncidentFileUploadList").show();
                                $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                //$(".tblIncidentFileUploadListClass").css({ "width": "100%" });
                                $(".dataTables_filter").css({ "display": "none" });
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            }
    });
    }
        function ReloadtblIncidentFileUploadList() {
            funtblIncidentFileUploadList();
            //$('#tblIncidentFileUploadList').DataTable().ajax.reload();
        }
</script>

<!--To Add File Uploads Documents -->
<script>
        function funUploadFiles() {

            errors = [];
            var IncidentId =@Model.IncidentMasterID;
            var _TypeofDocument = $("#TypeofDocument").val();
            if (_TypeofDocument == "" || _TypeofDocument == 0) {
                errors.push("Select Type of Document.");
            }
            var _File = $('#files').val();
            if (_File == "") {
                errors.push("Select File.");
            }
            var _UploadComments = $('#UploadComments').val();
            if (_UploadComments == "") {
                errors.push("Enter Comments.");
            }
            var formData = new FormData();
            var totalFiles = document.getElementById("files").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("files").files[i];
                formData.append("files", file);
            }
            formData.append("TypeofDocument", _TypeofDocument);
            formData.append("UploadComments", _UploadComments);
            formData.append("IncidentMasterID", IncidentId);
            if (_TypeofDocument != "" && formData != "" && _TypeofDocument != "0" && _UploadComments != "") {
                $.ajax({
                    url: '@Url.Content("~/QMS/Incident/UploadFiles")',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    type: 'Post',
                    success: function (UploadJson) {
                        if (UploadJson.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (UploadJson.hasError == false) {
                                errors.push("Submitted Successfully.");
                                $('#myModalFileUpload').modal('hide');
                                custAlertMsg(errors.join("<br />"), "success", "ReloadtblIncidentFileUploadList();");
                                return false;
                            }
                            else {
                                errors.push(UploadJson.data);
                                custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                                return false;
                            }
                        }
                    }
                });
            }
            else {
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
            }
        }
</script>
<!--End To Add File Uploads Documents -->
<script>
    var Uniqueid = 0;
    function funDeleteFileUploadDocuments(ID) {
        Uniqueid = ID;
        custAlertMsg("Are you sure you want to Remove this record ?", "confirm", "DeletefunDeleteFileUploadDocuments();")
    }
    function DeletefunDeleteFileUploadDocuments() {
        errors = [];
        if (Uniqueid != '') {
            $.ajax({
                url: '/QMS/Incident/DeleteIncidentFileUploadDocuments',
                data: { 'UniquePKID': Uniqueid,"IncidentMasterID":@Model.IncidentMasterID, 'EmpID': @TempData["EmpID"],},
                type: 'Post',
                success: function (result) {
                    if (result.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (result.hasError == true) {
                            errors.push(result.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                        else {
                            errors.push("Record Removed Successfully.");
                            custAlertMsg(errors.join("<br/>"), "success", "ReloadtblIncidentFileUploadList();");
                            $('#ModalConfirm').modal('hide');
                        }
                    }
                }
            });
        }
    }
</script>
<!--To View Incident File Uploads Documents -->
<script>
    function funToViewInvestIncidentDocuments(doubleclick, UniquePKID) {
        $(doubleclick).attr("onclick", "").unbind("click");
        var dvShow = document.getElementById("dvInvestfileframe");
        dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=1&FID=" + UniquePKID + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
        $("#MyModelInvestFileView").modal('show');
        $(doubleclick).attr("onclick", "funToViewInvestIncidentDocuments(this," + UniquePKID + ")").unbind("click");
    }
</script>
<!--End To View Incident File Uploads Documents -->
<script>
    $(document).ready(function () {
        $('.selectpicker1').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>
<script>
    function SupportDocUpload(doubleclick) {
        $(doubleclick).attr("onclick", "").unbind("click");
        //$('#btnAddSupportDoc').on('click', function () {
            $("#TypeofDocument").val("0");
            $("#TypeofDocument").selectpicker('refresh');
            $('#files').val("");
            $("#UploadComments").val("");
        //});
       // clearResponseFileInput();

        $('#myModalFileUpload').modal('show');
        $(doubleclick).attr("onclick", "SupportDocUpload(this)").unbind("click");
    }
</script>
<script>
    var AllIncFilesUploaded = 0;
    $("#fuResponse").fileinput({
             'theme': 'explorer-fa',
             'uploadUrl': '@Url.Content("~/QMS/Incident/UploadFilesV1")',
             'showUpload': true,
             'showCancel': false,
             'showClose':true,
             'maxFileCount': 5,
             'maxFileSize':10000,
             'required': true,
             'overwriteInitial': false,
             //'allowedFileExtensions': ['jpg', 'png', 'docx', 'doc', 'pdf', 'txt', 'rtf', 'xls', 'xlsx', 'gif', 'bmp', 'jpeg'],
             'allowedFileExtensions': ['pdf'],
             'initialPreviewAsData': true,
             'uploadExtraData': function () {
                 var fileExtraData = {
                    "_UploadComments" : $('#UploadComments').val().trim(),
                    "_TypeofDocument": $("#TypeofDocument").val(),
                      "IncidentId":@Model.IncidentMasterID,
                 }
                 return fileExtraData;
             },
             'browseOnZoneClick': true,
             'fileActionSettings': {
                showUpload: false,
                showRemove: true
             }
    });
    $('#fuResponse').on('filepreupload', function (event, data, previewId, index, jqXHR) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;

        if ($('#TypeofDocument').val() == "" || $('#TypeofDocument').val() == "0") {
            return {
                message: 'Select Type of Document'
            };
        }
        if ($('#UploadComments').val().trim() == "") {
            return {
                message: 'Enter comments'
            };
        }
        var fileNamesExceedCount = 0;
        $('.file-preview-thumbnails .file-preview-frame.explorer-frame.kv-preview-thumb').each(function () {
            if ($(this).attr('title').length > 200) {
                fileNamesExceedCount++;
                $(this).find('.explorer-caption').css("color", "red");
            }
        });
        if (fileNamesExceedCount > 0) {
            return {
                message: fileNamesExceedCount + ' file name exceeds 200 characters'
            };
        }
        AllIncFilesUploaded = 0;
        $('#hdnIncFilesUploadCount').val(data.filescount);
    });

    $('#fuResponse').on('fileuploaded', function (event, data, previewId, index) {
        errors = [];
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        if (response.msg != null) {
            AllIncFilesUploaded=AllIncFilesUploaded+1;
            console.log(AllIncFilesUploaded);
            if (response.msgRedirecttoLoginPage)
            {
                window.location.href = '/UserLogin.aspx';
            }
            else
            {
                if(response.msgType!="Exceptionerror"){
                    if (AllIncFilesUploaded == parseInt($('#hdnIncFilesUploadCount').val()))
                    {
                        switch (response.msgType) {
                            case "error":
                                custAlertMsg(response.msg, "error",'clearResponseFileInput()');
                                break;
                            case "info":
                                custAlertMsg(response.msg, "info",'clearResponseFileInput()');
                                break;
                            case "success":
                                custAlertMsg(response.msg, 'success', 'clearResponseFileInput()');
                                $('#myModalFileUpload').modal('hide');
                                break;
                        }
                    }
                }
                else {
                    custAlertMsg(response.msg, "error", 'clearResponseFileInput()');
                }
            }
        }
    });

    function clearResponseFileInput() {
        $('#fuResponse').fileinput('clear');
        ClearTempDatainController();
        ReloadtblIncidentFileUploadList();
    }
    $('#fuResponse').on('filepreupload', function (event, data, previewId, index, jqXHR) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
    });
    function ClearTempDatainController(){
        $.ajax({
            url: '@Url.Content("~/QMS/Incident/RemoveTempData")',
            type: "GET",
            dataType: "JSON",
            data: { },
            success:   function(aiz)
            {
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (aiz.hasError == false) {
                    }
                    else {
                        custAlertMsg(aiz.data, "error");
                        return false;
                    }
                }
            }
        });
    }
</script>
<script>
    $("#liLisOfSupp").click(function () {
        funtblIncidentFileUploadList();
    });
</script>




