﻿@model QMS_BO.QMS_Incident_BO.IncidentBO
<div class="card-header header_col_sub_child collapsed" id="liHasAffDoc" data-toggle="collapse" href="#collapse-1-1-4" aria-expanded="false" aria-controls="collapse-1-1-4">
    <a class="card-title " role="button">
        Has the Incident Affected Documents
    </a>
</div>
<div id="collapse-1-1-4" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-1">
    <div class="card-body col-12 float-left  grid_assgin">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none ">
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  bottom padding-none ">

                <div class=" float-left col-6 ">
                    <label class=" custom_label col-form-label   top float-left" style="text-align:left;">Has Incident Affected Documents :</label>
                    <div class="col-4 float-left top">
                        @Html.DropDownList("ddlHasAffectedDoc", null, htmlAttributes: new { @id = "ddlHasAffectedDoc", @class = " col-lg-12  bottom padding-none  drop_down selectpicker1" })
                    </div>
                </div>
                @if (Model.CurrentStatus == "6" || Model.CurrentStatus == "11" || Model.CurrentStatus == "14" || Model.CurrentStatus == "19")
                {
                    <div id="divHasAffectedbtnAdd" class="col-xl-6 col-md-6 col-sm-6 col-lg-12 text-right float-left col-6 top ">
                        <button type="button" id="btnAdd" data-toggle="modal" class=" btn btn-signup_popup text-right" onclick="AddHasAffectedDocuments(this,1);">Add</button>
                    </div>
                }
                <div id="divHasAffectedDocList" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none bottom">
                    <table id="tblHasAffectedDocList" class="table datatable_cust table-striped table-bordered " style="width:100%;">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>UniqueID</th>
                                <th>Department</th>
                                <th>Document Name</th>
                                <th>Doc Ref No</th>
                                <th>Page Number</th>
                                <th>Comments</th>
                                <th>Edit</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='OpenDilog'></div> <!--Open model pop up-->
<!--Has Affected Document of the Incident Model Pop up-->
<div id="myModalHasAffectedDoc" class="modal department fade" role="dialog" style="width: 100%" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Documents</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top bottom padding-none">
                    <div hidden="hidden">
                        @Html.EditorFor(model => model.UniquePKID, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-12 float-left padding-none">
                        <div class="col-4 float-left">
                            <label class=" custom_label col-form-label">Department<span class="mandatoryStar">*</span></label>
                            @Html.DropDownList("HasAffeDeptID", null, htmlAttributes: new { @id = "HasAffeDeptID", @class = " col-12  padding-none selectpicker1 drop_down", @onchange = "GetIncidentNumberHas();" })
                        </div>
                        <div class="col-4 float-left">
                            <label class=" custom_label col-form-label"> Document Type<span class="mandatoryStar">*</span></label>
                            @Html.DropDownList("HasAffDocumentType", null, htmlAttributes: new { @id = "HasAffDocumentType", @class = " col-12  padding-none selectpicker1 drop_down", @onchange = "GetReferenceNumber(2);" })
                        </div>
                        <div class="col-4 float-left" id="divReferenceNumber">
                            <label class=" custom_label col-form-label">Reference Document No.<span class="mandatoryStar">*</span></label>
                            @Html.DropDownList("HasAffReferenceNumber", new SelectList(Enumerable.Empty<SelectListItem>
                                      ()), "Select Reference Number", htmlAttributes: new { @id = "HasAffReferenceNumber", @class = " col-12  padding-none  drop_down selectpicker1", @onchange = "GetDocumentName();" })
                        </div>
                    </div>
                    <!--Document Name auto fill-->
                    <div class="col-12 float-left" id="divdocNameReadOnly">
                        <label class=" custom_label col-form-label"> Document Name<span class="mandatoryStar">*</span></label>
                        @Html.EditorFor(model => model.HasDocName, new { htmlAttributes = new { @class = "form-control ", name = "HasDocName", @readonly = "readonly", maxlength = 500 } })
                    </div>
                    <div class="col-6 float-left" id="divEnterOtherDOCRefNo" style="display:none">
                        <label for="" class="custom_label col-form-label">Reference Document No.<span class="mandatoryStar">*</span></label>
                        @Html.EditorFor(Model => Model.HasAffOtherDOCRefNo, new { htmlAttributes = new { @class = "form-control", name = "HasAffOtherDOCRefNo", maxlength = 500 } })
                    </div>
                    <div class="col-12 float-left" id="divEnterDocNo" style="display:none">
                        <label for="" class="custom_label col-form-label">Document Name<span class="mandatoryStar">*</span></label>
                        @Html.EditorFor(Model => Model.HasAffDocTitle, new { htmlAttributes = new { @class = "form-control", name = "HasAffDocTitle", @rows = 3, maxlength = 500, @onpaste = "return ValidateStarFrontSlashSquareBracesOnPaste()", @onkeypress = "return RestrictStarFrontSlashSquareBraces(event)" } })
                    </div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                        <label class="col-12 custom_label col-form-label ">Page Number</label>
                        <div class="col-lg-12">
                            @Html.TextAreaFor(model => model.HasAffectedPageNo, new { @id = "HasAffectedPageNo", @class = "", @cols = 80, @rows = 1, @onkeypress = "return onlyDotHyphenCommaAndNumbers(this,event);", maxlength = 50 })
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                        <label class="col-12 custom_label col-form-label required">Comments</label>
                        <div class="col-lg-12">
                            @Html.TextAreaFor(model => model.AffectedComments, new { @class = "", @cols = 80, @rows = 3, maxlength = 500 })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class=" float-right  padding-right_div">
                    <button type="button" class="btn btn-signup_popup " id="btnSaveHasAffectedDoc" style="display:none;" onclick="SaveHasAffectedDoc('Saved');">Save</button>
                    <button type="button" class="btn btn-signup_popup" id="btnUpdateHasAffectedDoc" style="display:none;" onclick="SaveHasAffectedDoc('Updated');">Update</button>
                    <button type="button" class="btn btn-cancel_popup" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End-->
<!--Hide Columns-->
<script>
    var hideAffectedColumns = [];
    if (@Model.CurrentStatus=="6" || @Model.CurrentStatus=="11" || @Model.CurrentStatus=="14" || @Model.CurrentStatus=="19") {
        hideAffectedColumns = [1];
    }
    else
        {
        hideAffectedColumns = [1,7,8];
        }
</script>
<!--End Hide Columns-->
<!--Jquery Data table Has Affected Document List Details -->
<script>
    function funtblHasAffectedDocList() {
        $('#tblHasAffectedDocList').wrap('<div class="dataTables_scroll" />');
        var oTable2 = $('#tblHasAffectedDocList').DataTable({
            columns: [
                { 'data': 'RowNumber' }, //0
                { 'data': 'UniquePKID' },//1
                { 'data': 'HasDeptName' },//2
                { 'data': 'HasAffectedDocument' }, //3
                { 'data': 'HasAffectedDocRefNo' }, //4
                { 'data': 'HasAffectedPageNo' },//5
                { 'data': 'HasAffectedComments' },//6
                {
                    "mData": null,       //7 Edit
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="Edit" title="Edit" onclick=funUpdateHasAffectedDoc(' + o.UniquePKID + ',"2")>' + '' + '</a>'; } //2- update button visible true.
                    }
                },
                {
                    "mData": null,       //8 Delete
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="delete" title="Remove" onclick=funDeleteHasAffectedDoc(' + o.UniquePKID + ')>' + '' + '</a>'; }
                    }
                },
            ],
            "scrollY": "335px",
            "scrollX": "auto",
            "paging": true,
            "bDestroy": true,
            "lengthChange": false,//hide show entites
            "lengthMenu": [[10, 15, 20, 1000], [10, 15, 20, "All"]],
            "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] }, { className: "textAlignCenter", "targets": [0,7,8] }, {
                "targets": hideAffectedColumns,
                "visible": false,
                "searchable": false
            }],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/QMS/Incident/GetIncidentHasAffectedDocumentList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "IncidentMasterID", "value":@Model.IncidentMasterID });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (result.hasError == true) {
                                custAlertMsg(result.data, "error", "ReloadDashboard();");
                            }
                            else {
                                fnCallback(result);
                                $("#tblHasAffectedDocList").show();
                                $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                //$(".tblHasAffectedDocListClass").css({ "width": "100%" });
                                $(".dataTables_filter").css({ "display": "none" });
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            }
        });
    }
    function ReloadtblHasAffectedDoc() {
        $('#tblHasAffectedDocList').DataTable().ajax.reload()
    }
</script>
<!--End Jquery Data table Has Affected Document List Details -->
<!--ddlHasAffectedDoc Div hide and show -->
<script>
    $("#divHasAffectedDocList").hide();//defalut hide table div on dropdown onchange
    $("#ddlHasAffectedDoc").change(function (e) {
        var Val = $("#ddlHasAffectedDoc").val();
        if (Val == "2") {
            $("#divHasAffectedbtnAdd").show();
            $("#divHasAffectedDocList").show();
            funtblHasAffectedDocList();
        }
        else {
            $("#divHasAffectedbtnAdd").hide();
            $("#divHasAffectedDocList").hide();
        }
    });
    $("#IsHasIncidentAfftectedDoc").change(function (e) {//on dropdown onchange
        var Val = $("#IsHasIncidentAfftectedDoc").val();
        if (Val == "2") {
            $("#divHasAffectedbtnAdd").show();
            $("#divHasAffectedDocList").show();
            funtblHasAffectedDocList();
        }
        else {
            $("#divHasAffectedbtnAdd").hide();
            $("#divHasAffectedDocList").hide();
        }
    });
</script>
<!--End ddlHasAffectedDoc Div hide and show -->
<!--ddlHasAffectedDoc Div hide and show for Has Affected Doc List -->
<script>
    var Val = $("#ddlHasAffectedDoc").val();//this from DB
    var Val2 = $("#IsHasIncidentAfftectedDoc").val();
    if (Val == "2" || Val2 == "2") {
        $("#divHasAffectedDocList").show();
        funtblHasAffectedDocList();
        $("#divHasAffectedbtnAdd").show();
    }
    else {
        $("#divHasAffectedbtnAdd").hide();
        $("#divHasAffectedDocList").hide();
    }
</script>
<!--End ddlHasAffectedDoc Div hide and show for Has Affected Doc List  -->
<!--To Clear Models and open model pop up -->
<script>
    function AddHasAffectedDocuments(doubleclick, num) {
        $(doubleclick).attr("onclick", "").unbind("click");
        $("#divEnterDocNo").hide();
        $("#divEnterOtherDOCRefNo").hide();
        $("#divdocNameReadOnly").show();
        $("#divReferenceNumber").show();
        $('#HasAffectedDocument').val("");
        $('#HasAffectedPageNo').val("");
        $('#AffectedComments').val("");
        $('#HasAffDocTitle').val("");
        $('#HasAffOtherDOCRefNo').val("");
        if (num == 1) { //1- to show save btn.
            $("#btnUpdateHasAffectedDoc").hide();
            $("#btnSaveHasAffectedDoc").show();
        }
        else {
            $("#btnSaveHasAffectedDoc").hide();
        }
        $("#HasAffeDeptID").val("0");
        $("#HasAffeDeptID").selectpicker('refresh');
        $("#HasAffDocumentType").val("-1");
        $("#HasAffDocumentType").selectpicker('refresh');
        $("#HasAffReferenceNumber").val("0");
        $("#HasAffReferenceNumber").selectpicker('refresh');
        $('#HasDocName').val("");
        $('#myModalHasAffectedDoc').modal('show');
        $(doubleclick).attr("onclick", "AddHasAffectedDocuments(this," + num + ")").unbind("click");
    }
</script>
<!--End To Clear Models and open model popup -->
<!--To Save Has Affected Document Details -->
<script>
    function SaveHasAffectedDoc(Operation) {
            errors = [];
        var UnqueID = $("#UniquePKID").val();
        var IncidentId =@Model.IncidentMasterID;
        var _ddlHasAffectedDoc = $('#ddlHasAffectedDoc').val();
        if (_ddlHasAffectedDoc == "" || _ddlHasAffectedDoc == 0) {
            errors.push("Select Has Incident Affected Documents.");
        }
        var Department = $("#HasAffeDeptID :selected").val();
        if (Department == "" || Department == 0) {
            errors.push("Select Department.");
        }
        var DocumentType = $("#HasAffDocumentType :selected").val();
        if (DocumentType == "" || DocumentType == -1) {
            errors.push("Select Document Type.");
        }
        if (DocumentType != "0") {
            var versionID = $("#HasAffReferenceNumber").val();
            if (versionID == "" || versionID == 0 || versionID == null) {
                errors.push("Select Reference Document No.");
            }
            var DocName1 = $("#HasDocName").val().trim();
            if (DocName1 == "") {
                errors.push("Select Document Name.");
            }
        }
        else {
            var versionID = $("#HasAffOtherDOCRefNo").val();
            if (versionID == "" || versionID == 0) {
                //$("#HasAffOtherDOCRefNo").val("").trim();
                errors.push("Enter Reference Document No.");
            }
            var DocName1 = $("#HasAffDocTitle").val().trim();
            if (DocName1 == "") {
                errors.push("Enter Document Name.");
            }
        }
        var _PageNo = $("#HasAffectedPageNo").val().trim();
        //if (DocumentType != 0) {
        //    var _PageNo = $("#HasAffectedPageNo").val().trim();
        //    if (_PageNo == "") {
        //        errors.push("Enter Page No.");
        //    }
        //}
        var _AffectedComments = $("#AffectedComments").val().trim();
        if(_AffectedComments == "") {
            errors.push("Enter Comments.");
        }
        if (Department != "" && DocumentType != "" && DocName1 != "" && versionID != "" && versionID != 0 &&_AffectedComments != "") {
        var change = {
            "HasAffeDeptID": Department, "HasAffectedDocumentID": DocumentType, "HasAffReferenceNumber": versionID, "HasAffOtherDOCRefNo": versionID, "HasAffDocTitle": DocName1, "HasAffectedPageNo": _PageNo, "AffectedComments": _AffectedComments, "IncidentMasterID": IncidentId, "isTemp": true, "UniquePKID": UnqueID,
            };
        ShowPleaseWait('show');
        $.post("/QMS/Incident/SaveIncidentHasAffectedDoc?Operation=" + Operation, change,
            function (aiz) {
                ShowPleaseWait('hide');
                if (aiz.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (aiz.hasError == false) {
                        errors.push(Operation + " Successfully.");
                        $('#myModalHasAffectedDoc').modal('hide');
                        custAlertMsg(errors.join("<br/>"), "success", "ReloadtblHasAffectedDoc();");
                        return false;
                    } else {
                        errors.push(aiz.data);
                        if (Operation == "Saved") {
                            errors.push("Record Already Exists.");
                        }
                        else {
                            errors.push("No changes to Update.");
                        }
                        custAlertMsg(errors.join("<br/>"), "error");
                        return false;
                    }
                }
            }, 'json');
    } else {
        custAlertMsg(errors.join("<br/>"), "error");
        return false;
    }
}
</script>
<!--End To Save Has Affected Document Details -->

<script>
    var id = 0;
    function funDeleteHasAffectedDoc(ID) {
        id = ID;
        custAlertMsg("Are you sure you want to Remove this record ?", "confirm", "DeletefunDeleteHasAffectedDoc();")
    }
    function DeletefunDeleteHasAffectedDoc() {
        ShowPleaseWait('show');
        errors = [];
        if (id != '') {
            ShowPleaseWait('hide');
            $.ajax({
                url: '/QMS/Incident/DeleteIncidentHasAffectedDocuments',
                data: { 'UniquePKID': id },
                type: 'Post',
                success: function (result) {
                    if (result.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (result.hasError == true) {
                            errors.push(result.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                        else {
                            errors.push("Record Removed Successfully.");
                            custAlertMsg(errors.join("<br/>"), "success", "ReloadtblHasAffectedDoc();");
                            $('#ModalConfirm').modal('hide');
                        }
                    }
                }
            });
        }
    }
</script>
<script>
    function funUpdateHasAffectedDoc(UniqueID, num) {
        var errors = [];
            if (num == 2) {
                $("#btnSaveHasAffectedDoc").hide();
                $("#btnUpdateHasAffectedDoc").show();
            }
            else {
                $("#btnUpdateHasAffectedDoc").hide();
            }
            if (UniqueID != "") {
                $.ajax({
                    url:  '@Url.Content("~/QMS/Incident/GetHasAffectedDocDetails")',
                    type: "GET",
                    dataType: "JSON",
                    data: { "UniquePKID": UniqueID},
                    success: function (BindDetails) {
                        if (BindDetails.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (BindDetails.hasError == true) {
                                errors.push(BindDetails.data);
                                custAlertMsg(errors.join("<br/>"), "error");
                                return false;
                            }
                            else {
                                var numbers = BindDetails;
                                var option = '';
                                $("#IncidentMasterID").html("");
                                $("#HasAffeDeptID").empty();
                                for (var i = 0; i < BindDetails.data.HasDeptIDList.length; i++) {
                                    $("#HasAffeDeptID").append($("<option></option>").val(BindDetails.data.HasDeptIDList[i].Value).html(BindDetails.data.HasDeptIDList[i].Text));
                                }
                                $('#HasAffeDeptID').selectpicker('refresh');
                                $("#HasAffeDeptID").selectpicker('val', BindDetails.data.HasAffeDeptID);

                                $("#HasAffDocumentType").empty();
                                for (var i = 0; i < BindDetails.data.HasDoctypeList.length; i++) {
                                    $("#HasAffDocumentType").append($("<option></option>").val(BindDetails.data.HasDoctypeList[i].Value).html(BindDetails.data.HasDoctypeList[i].Text));
                                }
                                $('#HasAffDocumentType').selectpicker('refresh');
                                $("#HasAffDocumentType").selectpicker('val', BindDetails.data.HasAffectedDocumentID);
                                if (BindDetails.data.HasAffectedDocumentID != 0) {
                                    $("#HasAffReferenceNumber").empty();
                                    for (var i = 0; i < BindDetails.data.HasDocRefList.length; i++) {
                                        $("#HasAffReferenceNumber").append($("<option></option>").val(BindDetails.data.HasDocRefList[i].Value).html(BindDetails.data.HasDocRefList[i].Text));
                                    }
                                    $('#HasAffReferenceNumber').selectpicker('refresh');

                                    $("#HasAffReferenceNumber").selectpicker('val', BindDetails.data.HasAffectedDocRefNo);
                                    $("#HasDocName").val(BindDetails.data.HasDocName);
                                    $("#divEnterDocNo").hide();
                                    $("#divEnterOtherDOCRefNo").hide();
                                    $("#divdocNameReadOnly").show();
                                    $("#divReferenceNumber").show();
                                }
                                else {
                                    $("#divEnterDocNo").show();
                                    $("#divEnterOtherDOCRefNo").show();
                                    $("#divdocNameReadOnly").hide();
                                    $("#divReferenceNumber").hide();
                                    $("#HasAffOtherDOCRefNo").val(BindDetails.data.HasAffOtherDOCRefNo);
                                    $("#HasAffDocTitle").val(BindDetails.data.HasAffDocTitle);
                                }
                                $("#HasAffectedPageNo").val(BindDetails.data.HasAffectedPageNo);
                                $("#AffectedComments").val(BindDetails.data.AffectedComments);
                                $("#UniquePKID").val(BindDetails.data.UniquePKID);
                                $('#myModalHasAffectedDoc').modal('show');
                            }
                        }
                   },
                });
            }
        }
</script>
<script>
     if (@Model.CurrentStatus=="9" || @Model.CurrentStatus=="21" || @Model.CurrentStatus=="12" || @Model.CurrentStatus=="13" || @Model.CurrentStatus == "10" || @Model.CurrentStatus == "25" || @Model.CurrentStatus == "15" || @Model.CurrentStatus=="20" || @Model.CurrentStatus=="16" || @Model.CurrentStatus == "27" || @TempData["ShowType"].ToString() == "12" || @TempData["ShowType"].ToString() == "13") {
         $("#tblHasAffectedDocList").find("input,button,textarea,select").attr("disabled", "disabled").css("cursor", "no-drop");
         $("#ddlHasAffectedDoc").prop('disabled', true).css("cursor", "no-drop");
         $("#IsHasIncidentAfftectedDoc").prop('disabled', true).css("cursor", "no-drop");
    }
</script>
<script>
    function GetReferenceNumber(id) {
        $("#HasDocName").val("");
        $("#HasAffDocTitle").val("");
        $("#HasAffOtherDOCRefNo").val("");
        errors = [];
        var DeptID = $("#HasAffeDeptID").val();
        var DocumentTypeID = $('#HasAffDocumentType').val();
        if (DeptID != "0") {
            if (DocumentTypeID == 0) {
                $("#divEnterDocNo").show();
                $("#divEnterOtherDOCRefNo").show();
                $("#divdocNameReadOnly").hide();
                $("#divReferenceNumber").hide();
            }
            if (DocumentTypeID > "0" || DocumentTypeID == "-1") {
                $("#divEnterDocNo").hide();
                $("#divEnterOtherDOCRefNo").hide();
                $("#divdocNameReadOnly").show();
                $("#divReferenceNumber").show();
                $.ajax({
                    url: '/QMS/QMSCommon/BindReferenceNo',
                    type: "post",
                    dataType: "JSON",
                    data: { DeptID: DeptID, DocumentTypeID: DocumentTypeID },
                    success: function (impList1) {
                        if (impList1.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else {
                            if (impList1.hasError == true) {
                                custAlertMsg(impList1.data, "error");
                            } else {
                                var numbers = impList1;
                                var option = '';
                                $("#HasAffReferenceNumber").html(""); // clear before appending new list
                                for (var i = 0; i < numbers.length; i++) {
                                    $("#HasAffReferenceNumber").append(
                                        $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                                }
                                $('#HasAffReferenceNumber').selectpicker('refresh');
                            }
                        }
                    }
                });
            }
        }
        else {
            $("#HasAffDocumentType").val("0");
            $("#HasAffReferenceNumber").val("0");
            $("#HasAffDocumentType").val("-1");
            $("#HasAffDocTitle").val("");
            $("#HasDocName").val("");
            $("#HasAffOtherDOCRefNo").val("");
            $("#HasAffReferenceNumber").val("0");
            $('#HasAffReferenceNumber').selectpicker('refresh');
            $.ajax({
                url: '/QMS/QMSCommon/BindReferenceNo',
                type: "post",
                dataType: "JSON",
                data: { DeptID: DeptID, DocumentTypeID: DocumentTypeID },
                success: function (impList1) {
                    if (impList1.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (impList1.hasError == true) {
                            custAlertMsg(impList1.data, "error");
                        } else {
                            var numbers = impList1;
                            var option = '';
                            $("#HasAffReferenceNumber").html(""); // clear before appending new list
                            for (var i = 0; i < numbers.length; i++) {
                                $("#HasAffReferenceNumber").append(
                                    $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                            }
                            $('#HasAffReferenceNumber').selectpicker('refresh');
                        }
                    }
                }
            });
            //For Populating Error msg when DocumentType is selected without selecting Department
            if (id == 2) {
                if (DeptID == "0") {
                    errors.push("Select Department.");
                    custAlertMsg(errors.join("<br/>"), "error");
                    $("#HasAffDocumentType").val("-1");
                } return false;
            }
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('.selectpicker1').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>
<script>
    // For populating Incident Number based on select Department
    function GetIncidentNumberHas() {
        var DeptID = $('#HasAffeDeptID').val();
        GetReferenceNumber(1);
        $("#HasAffDocTitle").val("");
        $("#HasAffDocumentType").val("-1");
        $("#HasAffReferenceNumber").val("0");
        $("#HasDocName").val("");
        $("#HasAffOtherDOCRefNo").val("");
        $("#HasAffDocumentType").selectpicker('refresh');
        $("#HasAffReferenceNumber").selectpicker('refresh');
        if (DeptID != "0") {
            $.ajax({
                url: '/QMS/Incident/BindIncidentNo',
                type: "GET",
                dataType: "JSON",
                data: { DeptID: DeptID },
                success: function (jsonresult) {
                    if (jsonresult.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (jsonresult.hasError == true) {
                            custAlertMsg(jsonresult.data, "error");

                        } else {
                            $("#IRNumber").val(jsonresult.data); // clear before appending new list
                        }
                    }
                }
            });
        }
        else {
            GetReferenceNumber(1);
            $("#IRNumber").val("");
            $("#HasAffDocTitle").val("");
            $("#HasAffDocumentType").val("-1");
            $("#HasAffReferenceNumber").val("0");
            $("#HasDocName").val("");
            $("#HasAffOtherDOCRefNo").val("");
            $("#HasAffDocumentType").selectpicker('refresh');
            $("#HasAffReferenceNumber").selectpicker('refresh');
        }
    }
</script>
<script>
    //For populating DocumentName text box by selecting on DocumentReferenceNo
    function GetDocumentName() {
        var DeptID = $('#HasAffeDeptID').val();
        var versionID = $('#HasAffReferenceNumber').val();
        var _DocumentTypeID = $('#HasAffDocumentType').val();
        if (versionID != "") {
            $.ajax({
                url: '/QMS/QMSCommon/BindDocumentName',
                type: "GET",
                dataType: "JSON",
                data: { versionID: versionID, DocumentTypeID: _DocumentTypeID },
                success: function (BindDocname) {
                    if (BindDocname.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (BindDocname.hasError == false) {
                            $("#HasDocName").val(BindDocname.data); // clear before appending new list
                            $("#HasDocName").attr('title', BindDocname.data);
                        }
                        else {
                            custAlertMsg(BindDocname.data, "error");
                            return false;
                        }
                    }

                }
            });
        }
    }
</script>
<!--For restricting cut, copy, paste on Has incident Affected Documents , Page Number field-->
<script>
    $(document).ready(function () {
        $('#HasAffectedPageNo').bind("cut copy paste", function (e) {
            e.preventDefault();
        });
    });
</script>
<script>
    $("#liHasAffDoc").click(function () {
        funtblHasAffectedDocList();
    });
</script>
