﻿
@{
    ViewBag.Title = "IncidentReportList";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
@if (TempData["Exception"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>
}
else
{
    <style>
        table.dataTable tbody th,
        table.dataTable tbody td {
            white-space: nowrap;
        }
    </style>
    @*<h2>IncidentReportList</h2>*@
    <input type="hidden" id="hdnIncidentIDReportView" value="0" />
    <input type="hidden" id="hdnDept" value="0" />
    <input type="hidden" id="hdnFname" value="yes.pdf" />
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title" id="lblName"> </div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12   padding-none grid_panel_hod">
        <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-4 padding-none">
            <label class="col-12 custom_label col-form-label" style="padding: 0 18px;">Department</label>
            <div class="col-lg-12 ">
                @Html.DropDownList("ddlDepartmentBindingInci", null, htmlAttributes: new { @id = "ddlDepartmentBindingInci", @class = " col-12  padding-none selectpicker1 drop_down" })
            </div>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-4">
            <label class="col-12 custom_label col-form-label padding-none"> From Date</label>
            <div class="col-lg-12 padding-none">
                @Html.Editor("ddlRptFromDate", new { htmlAttributes = new { @class = "form-control datetimepickerRpt", @id = "ddlRptFromDate", @autocomplete = "off" } })
            </div>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-4 col-lg-4 float-left col-4">
            <label class="col-12 custom_label col-form-label padding-none"> To Date</label>
            <div class="col-lg-12 padding-none">
                @Html.Editor("ddlRptToDate", new { htmlAttributes = new { @class = "form-control datetimepickerRpt", @id = "ddlRptToDate", @autocomplete = "off" } })
            </div>
        </div>
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left text-right top col-12 ">

            <button type="button" class="btn btn-signup_popup"  id="btnReptSubmit" onclick="IncidentReportListValidation()">Submit</button>
            <button type="button" class="btn btn-cancel_popup"  id="btnReptReset" onclick="ReportListRestValidation()">Reset</button>
            <button type="button" class="btn btn-revert_popup"  id="btnIncidentPrint" onclick="IncidentReportFilter(this)">Print Report List</button>
        </div>
        </div>

        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="min-height:0px !important">
            <table id="tblIncidentReportList" class="table datatable_cust table-striped table-bordered breakword dataTable no-footer " width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>IncidentMasterID</th>
                        <th>Incident Report Number</th>
                        <th>Department</th>
                        <th>Created By</th>
                        <th>Date of Report</th><!--Created Date and date of report are same-->
                        <th>Date of occurrence</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>StatusID</th>
                        <th>Type of Incident</th>
                        <th>Report</th><!--Report 10-->
                    </tr>
                </thead>
            </table>
        </div>
        <div id="MyModelWaitingInc" class="modal  fade" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-mg" style="min-width:38%;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="border-style: none;">
                    </div>
                    <div class="modal-body " style=" max-height: 720px;">
                        <img alt="" id="ImgLoading" src="@Url.Content("~/Images/TMS_Images/please_wait.gif")" />
                    </div>
                </div>
            </div>
        </div>
        <!--CAPA Fill View -->
        <div id="MyModelCCNFileView" class="modal department fade" role="dialog" data-keyboard="false" data-backdrop="static">
            <div id="divCAPACount" class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content padding-none">
                    <div class="modal-header">
                        <h4 class="modal-title">Incident Report</h4>
                        <div class=" float-right">
                            @if (TempData["QuerySting"].ToString() == "17")//Only Head qa
                            {
                                <button type="button" id="btnPrintTF" class="btn-signup_popup" onclick="PrintIncidentFile();">Print</button>
                                <button type="button" class="btn-signup_popup" id="btnPDFDownloadIncident" onclick="DownloadPDFIncident();">Download</button>
                            }
                            <button type="button" class="close" data-dismiss="modal" onclick="CloseWaitingModel();">&times;</button>
                        </div>
                    </div>
                    <div class="modal-body ">
                        <div class="embed-responsive embed-responsive-16by9" id="dvfileframe">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End-->
        <!--Get JQuery Data table Data-->
        <script>
        //For column wise seach on Jquery grid
        $('#tblIncidentReportList thead tr').clone(true).appendTo('#tblIncidentReportList thead');
        $('#tblIncidentReportList thead tr:eq(1) th').each(function (i) {
            if (i < 11) {
                var title = $(this).text();

                $(this).html('<input type="text" placeholder="Search" />');

                $('input', this).on('keyup change', function () {
                    if (ReportListTable.column(i).search() !== this.value) {
                        ReportListTable
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            }
            else {
                $(this).html('');
            }
        });

        var ReportListTable
        function GetIncidentReportList(DeptID, FromDate, ToDate) {
            if (ReportListTable != null) {
                ReportListTable.destroy();
            }
            $('#tblIncidentReportList').wrap('<div class="dataTables_scroll" />');
             ReportListTable = $('#tblIncidentReportList').DataTable({
                columns: [
                    { 'data': 'RowNumber' }, //0
                    { 'data': 'IncidentMasterID' }, //1
                    { 'data': 'IRNumber' },  //2
                    { 'data': 'DeptName' },// 3
                    { 'data': 'EmpName' }, //4
                    { 'data': 'CreatedDate' }, //5
                    { 'data': 'OccurrenceDate' }, //6
                    { 'data': 'IncidentDueDate' }, //7
                    { 'data': 'CurrentStatus' }, //8
                    { 'data': 'CurrentStatusID' },//9
                    { 'data': 'TypeofIncidentName' },//10
                    {
                        "mData": null,   //11  Incident Report
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="view"  href="#"  title="Report" onclick=ViewIncidentReport(' + o.IncidentMasterID + ',' + o.CurrentStatusID+')>' + '' + '</a>';
                        }
                    },

                ],
                "responsive": true,
                "paging": true,
                "orderCellsTop": true,
                "order": [[1, "desc"]],
                 "aoColumnDefs": [{ "targets": [0, 1, 9], "visible": false, "searchable": false },
                     { className: "textAlignCenter", "targets": [11] },
                {
                    className: 'dt-right',
                    targets: '_all'
                }],
                'bAutoWidth': true,
                "sAjaxSource": "@Url.Content("~/QMS/Incident/GetIncidentReport_List")",

                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push(
                        { "name": "Role", "value": ('@TempData["QuerySting"]') },
                        { "name": "UserID", "value": (@TempData["EmpID"])},
                        { "name": "DeptRpt", "value": DeptID },
                        { "name": "FromDateRpt", "value": FromDate  },
                        { "name": "ToDateReport", "value": ToDate }
                    );
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) //Singal Instance
                            {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else {
                                if (result.hasError == true) {
                                    custAlertMsg(result.data, "error", "ReloadDashboard();");
                                }
                                else {
                                    fnCallback(result);
                                }
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
        }
    //function ReloadIncidentReportList(){
    //    ReportListTable.ajax.reload();
    //}
        </script>
        <!--Date picker from date and To date validation-->
        <script>
            $(document).ready(function () {
                var CurrentDate;
                var FromDate;
                $('#ddlRptFromDate').datetimepicker({
                    format: 'DD MMM YYYY',
                    useCurrent: false,
                    maxDate: new Date(new Date()),
                    minDate:'01 Jan 1900',
                });
                FromDate = moment().subtract(1, 'months').format("DD MMM YYYY")
                $('#ddlRptToDate').datetimepicker({
                    format: 'DD MMM YYYY',
                    maxDate: new Date(),
                });
                CurrentDate = moment().format("DD MMM YYYY");
                $('#ddlRptToDate').val(CurrentDate);
                $('#ddlRptFromDate').val(FromDate);
            });
            $('#ddlRptFromDate').on("dp.change", function (e) {
                $('#ddlRptToDate').data("DateTimePicker").minDate(e.date);
                $('#ddlRptToDate').val("");
            });
        </script>
        <script>
            function ReportListRestValidation() {
                $('#ddlDepartmentBindingInci').selectpicker('val', [0]);
                $('#ddlDepartmentBindingInci').selectpicker('refresh');
                $("#ddlRptFromDate").val(moment().subtract(1, 'months').format("DD MMM YYYY"));
                $("#ddlRptToDate").val(moment().format("DD MMM YYYY"));
                GetIncidentReportList(0, "0", "0");
            }
            function IncidentReportListValidation() {
                var RptFromDate = $("#ddlRptFromDate").val().trim();
                var RptToDate = $("#ddlRptToDate").val().trim();
                var Role = "Report";
                errors = [];
                if (RptFromDate == "") { errors.push("Select From Date."); }
                if (RptToDate == "") { errors.push("Select To Date."); }
                if (errors.length > 0) {
                    custAlertMsg(errors.join("<br/>"), "error");
                    return false;
                }
                GetIncidentReportList($('#ddlDepartmentBindingInci').val(), RptFromDate, RptToDate);
            }
            GetIncidentReportList(0, "0", "0");
        </script>

        <!--To View Incident File Uploads Documents -->
        <script>
            function funToViewIncidentDocuments(capacount, IncidentID) {
                if (capacount == 0) {
                    $("#divCAPACount").css("max-width", "80%");
                }
                else {
                    $("#divCAPACount").css("max-width", "95%");
                }
                // var TFFName = document.getElementById("hdnFname").value;
                //var dvShow = document.getElementById("dvfileframe");
                document.getElementById("dvfileframe").innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=TRPT&FID=" + IncidentID + "&QualityID=" + 1 + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";

                //dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=TRPT&FID=" + TFFName + "' toolbar=0 navpanes=0 scrollbar=0 onload='disableRightclick(this.evt)'></iframe>";
                $("#MyModelCCNFileView").modal('show');
                $('#MyModelWaitingInc').modal('hide');
            }
            function funPrintViewIncidentDocuments() {
                $("#divCAPACount").css("max-width", "80%");
                var TFFName = document.getElementById("hdnFname").value;
                var dvShow = document.getElementById("dvfileframe");
                dvShow.innerHTML = "<iframe class='embed-responsive-item' src='/QMSIncient/IframeDocumentViewer.aspx?EventID=TRPT&FID=" + TFFName + "&QualityID=" + 10 + "' toolbar=0 navpanes=0 scrollbar=0></iframe>";
                $("#MyModelCCNFileView").modal('show');
                $("#btnPDFDownloadIncident").hide();

            }
        </script>
        <!--End To View Incident File Uploads Documents -->
        <script>
            function ViewIncidentReport(IncidentMasterID, CurrentStatus) {
                var CapaResult;
                ShowPleaseWait('show');
                $("#hdnIncidentIDReportView").val(IncidentMasterID);
                $.ajax({
                    url: '/QMS/Incident/GettingEventCAPACount',
                    data: { 'BaseID': IncidentMasterID, 'QualityTypeID': 1 },
                    type: 'Get',
                    success: function (result) {
                        ShowPleaseWait('hide');
                        CapaResult = result;

                        if (CapaResult == 0) {
                            $("#divCAPACount").css("max-width", "80%");
                        }
                        else {
                            $("#divCAPACount").css("max-width", "95%");
                        }
                        //funToViewIncidentDocuments(CapaResult, IncidentMasterID);
                        PdfFormViewerContentLoading(IncidentMasterID, CurrentStatus);
                        return false;
                    }
                });
            }
        </script>
        <script>
            $("#lblName").text("Incident Report List");
        </script>
        <script>
            function CloseWaitingModel() {
                $('#MyModelWaitingInc').modal('hide');
            }
        </script>
        }
        <!--Incident Print Function-->
        <script>
        var IncidentPrintFilePath = "";//Store file path
        function IncidentReportFilter(cntrl) {
        $(cntrl).attr("onclick", "").unbind("click");
        var RoleStatus = @TempData["QuerySting"].ToString();
        var _IRDepartment = $("#ddlDepartmentBindingInci").val();
        var _IRFromDate = $("#ddlRptFromDate").val().trim();
        var _IRToDate = $("#ddlRptToDate").val().trim();
        errors = [];
        if (_IRFromDate == "") { errors.push("Select From Date."); }
        if (_IRToDate == "") { errors.push("Select To Date."); }
        if (errors.length > 0) {
            $(cntrl).attr("onclick", "IncidentReportFilter(this)").unbind("click");
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        //For Restricting multiple clicks
        ShowPleaseWait('show');
        $.ajax({
            url: '/QMS/Incident/IncidentReportFilter',
            data: {
                'IRDepartmentID': _IRDepartment, 'IRFromDate': _IRFromDate, 'IRToDate': _IRToDate, 'RoleIdStatus': RoleStatus
            },
            type: 'Get',
            success: function (result) {
                //For Restricting multiple clicks
                ShowPleaseWait('hide');
                if (result.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    if (result.data == "No Records found.") {
                        $('#MyModelWaitingInc').modal('hide');
                        custAlertMsg("Records Not Found", "error");
                    }
                    else if (result.hasError == true) {
                        custAlertMsg(result.data, "error");
                        return false;
                    }
                    else {
                        $("#hdnFname").val(result.data);
                        $("#divCAPACount").css("max-width", "80%");
                        IncidentPrintFilePath = result.PrintFilePath;
                        //funPrintViewIncidentDocuments();
                        //funToViewIncidentDocuments();
                        var dvShow = document.getElementById("dvfileframe");
                        PdfViewerContentLoading(IncidentPrintFilePath, dvShow);
                        $("#MyModelCCNFileView").modal('show');
                        $("#btnPDFDownloadIncident").hide();

                    }
                    $(cntrl).attr("onclick", "IncidentReportFilter(this)").unbind("click");
                }
            }
        });
    }
        </script>
        <script>
            $(document).ready(function () {
                $('.selectpicker1').selectpicker({
                    liveSearch: true,
                    showSubtext: true,
                    size: 7
                });
            });
        </script>
        <!--End Incident Print Function-->
        <!-- Exception Message -->
        <script>
    function ExecptionMsg(){
        var Err = "@TempData["Exception"]";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
    }
        </script>
        <script>

            function PdfFormViewerContentLoading(IncidentID, CurrentStatus) {
                $("#hdnIncidentIDReportView").val(IncidentID);
                var objInputstr = { "IncidentID": IncidentID, "CurrentStatus": CurrentStatus };
                var jsonData = JSON.stringify(objInputstr);
                $.ajax({
                    type: "POST",
                    url: '/QMS/Incident/IncidentGetFinalReportPDFPath',
                    data: jsonData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.msgType == "success") {
                            // $(dvShow).html(response.data);
                            $("#divModalSize").css("max-width", "95%");
                            $("#btnPDFDownloadIncident").show();
                            var dvShow = document.getElementById("dvfileframe");
                            PdfViewerContentLoading(response.data, dvShow);
                            IncidentPrintFilePath = response.data;
                            $("#MyModelCCNFileView").modal('show');
                        }
                        else {
                            custAlertMsg(response.data, "error");
                        }
                    }
                })
            }
        </script>
        <script>
            function PrintIncidentFile() {
                if (IncidentPrintFilePath != "") {
                    var objFra = document.createElement('iframe');   //Creating IFrame.
                    objFra.style.visibility = "hidden";
                    objFra.src = window.location.origin + "/" + IncidentPrintFilePath;  // source.
                    document.body.appendChild(objFra);  // Adding the frame to the web page.
                    objFra.contentWindow.focus();       // Set focus.
                    objFra.contentWindow.print();
                }
                else {
                    custAlertMsg(" File doesn't exist to print.", "warning");
                }
            }
        </script>
        <script src='@Url.Content("~/AppScripts/CommonPDF_Viewer.js")'></script>
        <script>
    function DownloadPDFIncident() {
        var IncidentID = $("#hdnIncidentIDReportView").val()
        window.location = "@Url.Content("~/QMS/Incident/DownloadIncidentReport/")?IncidentID=" + IncidentID;
    }
        </script>

