﻿
@{ int rowNo = 0; }

<table id="tblIncidentHistory" class="table datatable_cust  table-striped table-bordered dataTable  no-footer" style="width:100%">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Action</th>
            <th>Action By</th>
            <th>Role</th>
            <th>Action Date</th>
            <th>Comments</th>
            <th>Assigned To</th>
        </tr>
    </thead>
    <tbody>
        @foreach (QMS_BO.QMSComonBO.ALLQMSTransaction item in ViewBag.historyIncident)
        {
            <tr>
                <td style="text-align:center;">@(rowNo += 1)</td>
                <td>@item.ActionStatus</td>
                <td>@item.ActionBy</td>
                <td>@item.Role</td>
                <td>@item.signdate</td>
                <td>
                    @{
                        if (item.Comments.Length > 60)
                        {
                            <div class="comment more">
                                @Html.DisplayFor(modelItem => item.Comments)
                            </div>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Comments)
                        }
                    }
                </td>
                <td>@item.AssignedTo</td>
            </tr>
        }
    </tbody>
</table>
<!--Commented for History Show more and Less-->
<script>
    $(document).ready(function () {
        var showChar = 150;
        var ellipsestext = "...";
        var moretext = "Show more";
        var lesstext = "Show less";
        $('.more').each(function () {
            var content = $(this).html();

            if (content.length > showChar) {

                var c = content.substr(0, showChar);
                var h = content.substr(showChar - 1, content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                $(this).html(html);
            }
        });
        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    });
</script>
<!--End-->