﻿@model QMS_BO.QMS_Incident_BO.IncidentBO
@{
    ViewBag.Title = "IncidentList";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
@if (ViewBag.Exception != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>
}
else
{
    <style>
        table.dataTable tbody th,
        table.dataTable tbody td {
            white-space: nowrap;
        }
    </style>

    <div class="col-lg-6 float-left padding-none">
        <!------buttons---------->
        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6 float-right padding-none">
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none" id="divCreateIncident" style="display:none">
                <button class=" btn-signup_popup float-right" name="Add Incident" value="Add Incident" id="btnCreateIncident" onclick="CreateIncident(this);">Create Incident</button>
            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 padding-none">
                <button class=" btn-signup_popup float-right bottom" style="display:none" id="btnIncBackToDashboard" onclick="BackToIncidentDashboard();">Dashboard </button>
            </div>
            <div id='OpenPopup'>
            </div> <!--Open model poup-->
        </div>
        <!------buttons---------->
    </div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title" id="lblName"></div>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel_hod padding-none" style="min-height:0px !important">
        <table id="tblIncidentList" class="table display datatable_cust table-striped table-bordered dataTable no-footer breakword " cellspacing="0" style="width: 100%">
            <thead>
                <tr>
                    @*<th>S.No</th>*@<!--0-->
                    <th>IncidentMasterID </th><!--0-->
                    <th>Incident Number </th>
                    <th>Department</th>
                    <th>Ref Doc No</th>
                    <th>Document Name</th>
                    <th>Created By</th>
                    <th>Date of Report</th><!--Created Date and date of report are same-->
                    <th>Date of occurrence</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>StatusID</th>
                    <th>Edit</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th><!--Action plan create-->
                    <th>Action</th><!--Head QA View-->
                    <th>View</th><!--MainList View-->
                    <th>Manage</th>
                    <th>History</th>
                </tr>
            </thead>
        </table>
    </div>
    <script>
        //Implemented to avoid double click
        function CreateIncident(doubleclick) {
          $(doubleclick).attr("onclick", "").unbind("click");
            var div = $("#OpenPopup");
            $("#divMainListEmployeeNameBind").hide();
            $("#divMainListRefnoBind").show();
            ShowPleaseWait('show');
            div.load("/QMS/Incident/CreateIncident?IncidentMasterID=0", function () {
            ShowPleaseWait('hide');
                $('#MyModalIncident').modal('show');
                $("#DivddlDept").show();
                $("#lbltitleName").text("Create Incident Report").css("color", "white");
                $(doubleclick).attr("onclick","CreateIncident(this)").unbind("click");
            });
        }
        //Implemented to avoid double click
        function EditViewIncidentDetails(doubleclick, IncidentMasterID, MainListID) {
          $(doubleclick).attr("onclick", "").unbind("click");
          var div = $("#OpenPopup");
          ShowPleaseWait('show');
          div.load("/QMS/Incident/CreateIncident?IncidentMasterID=" + IncidentMasterID, function () {
          ShowPleaseWait('hide');
                $("#divReferenceNumber").show();
                $("#divEmployeeNameBind").show();
                $("#divMainListEmployeeNameBind").hide();
                $("#divMainListRefnoBind").hide();
                $("#DivddlDept").show();
                $("#lbltitleName").text("Update Incident Report").css("color", "white");
                if (MainListID == 1) { //here 1- is from Main List (Only View and Handling Dates etc)
                    $("#BtnINIUpdate").hide();
                    $("#btnAddDoc").hide();
                    $("#BtnINISubmit").hide();
                    $("#DeptID").prop('disabled', true).css("color", "disabled");
                    $("#OccurrenceDate").prop('disabled', true).css("color", "disabled");
                    $("#IncidentReportDate").prop('disabled', true).css("cursor", "no-drop");
                    $("#DocumentType").prop('disabled', true).css("cursor", "no-drop");
                    $("#ReferenceNumber").prop('disabled', true).css("cursor", "no-drop");
                    $("#DocName").prop('disabled', true).css("cursor", "no-drop");
                    $("#OtherDOCRefNo").prop('disabled', true).css("cursor", "no-drop");
                    $("#DocTitle").prop('disabled', true).css("cursor", "no-drop");
                    $("#EmployeeName").prop('disabled', true).css("cursor", "no-drop");
                    $("#IncidentDesc").prop('disabled', true).css("cursor", "no-drop");
                    $("#InitiatorComments").prop('disabled', true).css("cursor", "no-drop");
                    $("#TypeofCategoryID").prop('disabled', true).css("color", "disabled");
                    $("#btnAddTypeOfCategory").hide();
                    $("#divInitiatorComments").hide();
                    $("#divOccurrenceDate").hide();
                    $("#divIncidentReportDate").hide();
                    $("#divOccurrenceDatelbl").show();
                    $("#divIncidentReportDatelbl").show();
                    $("#divMainListEmployeeNameBind").show();
                    $("#divMainListRefnoBind").show();
                    $("#divReferenceNumber").hide();
                    $("#divEmployeeNameBind").hide();
                    $("#btnCreateCancel").hide();
                    $("#btnClose").show();
                    $("#DivddlDeptName").show();
                    $("#DivddlDept").hide();
                    $("#lbltitleName").text("View Incident Report").css("color", "white");
                }
                $('#MyModalIncident').modal('show');
                $(doubleclick).attr("onclick","EditViewIncidentDetails(this," + IncidentMasterID + ","+ MainListID +")").unbind("click");
            });
        }
        function ViewIncidentDetails(IncidentMasterID, number) {
            ShowPleaseWait('show');
            window.location.href = "/QMS/Incident/IncidentReviewList?IncidentMasterID=" + IncidentMasterID + "&&Number=" + number + "&&UniquePKID=0";
        }
        //Implemented to avoid double click
        function ViewHistory(doubleclick, IncidentMasterID, number) {
            $(doubleclick).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#OpenPopup").load("@Url.Content("~/QMS/Capa/TransactionHistory")?id=" + IncidentMasterID + "&&EventType=" + number, function () {
            ShowPleaseWait('hide');   
                $('#myModalTransHistory').modal('show');
                $('#myModalTransHistory').on('shown.bs.modal', function (e) {
                    var hdnColumns = [0,3,8]
                    LoadQMSEventsHistory(IncidentMasterID, hdnColumns, number);
                });
                $(doubleclick).attr("onclick", "ViewHistory(this," + IncidentMasterID + "," + number+")").unbind("click");
            });
        }
        function ViewInvestigator(IncidentMasterID, UPKID) {
            ShowPleaseWait('show');
            window.location.href = "/QMS/Incident/IncidentReviewList?IncidentMasterID=" + IncidentMasterID + "&&Number=0&&UniquePKID=" + UPKID;
        }
        function ViewInvestigationReviewByHods(IncidentMasterID, UPKID) {
            ShowPleaseWait('show');
            window.location.href = "/QMS/Incident/IncidentReviewList?IncidentMasterID=" + IncidentMasterID + "&&Number=9&&UniquePKID=" + UPKID;
        }
        function ViewAndCreateAcionPlan(IncidentMasterID, UPKID) {
            ShowPleaseWait('show');
            window.location.href = "/QMS/Incident/IncidentReviewList?IncidentMasterID=" + IncidentMasterID +"&&Number=0&&UniquePKID=" + UPKID;
        }
        function ViewMainList(IncidentMasterID) {
            ShowPleaseWait('show');
            window.location.href = "/QMS/Incident/IncidentMainListView?IncidentMasterID=" + IncidentMasterID;
        }
        function INCAdminManage(doubleclick,IncidentMasterID) {
            $(doubleclick).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            var div = $("#OpenPopup");
            div.load("@Url.Content("~/QMS/Incident/_IncidentAdminManage")?IncidentMasterID=" + IncidentMasterID, function () {
               ShowMorefun();
               $('#myModalAdminManage').modal('show');
               ShowPleaseWait('hide');
           $(doubleclick).attr("onclick", "INCAdminManage(this," + IncidentMasterID + ")").unbind("click");
        });
        }
    </script>

    <script>
    var hideNtfColumns = [];
        var title = "";
        switch (@TempData["ShowType"]) {
        case 1: //CreatedList
            hideNtfColumns = [ 0, 6, 10, 11, 12, 13, 14, 15, 16, 17,19];
            title = "Created Incident List";
            $("#divCreateIncident").show();
            break;
        case 2://InitiatorRevertedList
            hideNtfColumns = [ 0, 6, 10, 12, 13, 14, 15, 16, 17, 18,19];
            title = "Reverted Incident List";
            if (@ViewBag.IncidentMasterID>0) {
                EditViewIncidentDetails(this,@ViewBag.IncidentMasterID);
            }
            break;
        case 3://HOD_ReviewList
            hideNtfColumns = [ 0, 6, 10, 11, 13, 14, 15, 16, 17, 18,19];
            title = "Review Incident List";
            break;
        case 4://HOD_RevertedList
            hideNtfColumns = [ 0, 6, 10, 11, 13, 14, 15, 16, 17, 18,19];
            title = "Reverted Incident List";
            break;
        case 5://QaReviewList
            hideNtfColumns = [ 0, 6, 10, 11, 12, 14, 15, 16, 17, 18,19];
            title = "Review Incident List";
            break;
        case 6://QaRevertedList
            title = "Reverted Incident List";
            break;
        case 7://HeadQaReviewList
            hideNtfColumns = [ 0, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 18,19];
            title = "Head QA Review List";
            break;
        case 8://InvestigatorReviewList
            hideNtfColumns = [ 0, 6, 10, 11, 12, 13, 15, 16, 17, 18,19];
            title = "Investigator Review List";
            break;
        case 9:// InvestigationReviewByHodList
            hideNtfColumns = [ 0, 6, 10,11, 12, 13, 14, 16, 17,18, 19];
            title = "Hod Investigation Review List";
            break;
        case 10:// Hod Action PlanList
            hideNtfColumns = [ 0, 3, 10, 11, 12, 13, 14, 15, 17, 18,19];
            title = "Hod Action Plan List";
            break;
        case 11:// Investigator Reverted List,
            hideNtfColumns = [ 0, 6, 10, 11, 12, 13, 14, 15, 17, 18,19];
            title = "Investigation Reverted List";
            break;
        case 12:// Main List,
            hideNtfColumns = [ 0, 4, 3, 10, 11, 12, 13, 14, 15, 16, 17,19];
            title = "Incident Main List";
            break;
        case 20: //Incident Admin Manage
                hideNtfColumns = [0, 4, 3, 10, 11, 12, 13, 14, 15, 16, 17,18];
            title = "Incident Manage List";
            break;
        case 13:// Pending List
            hideNtfColumns = [ 0, 6, 10, 11, 12, 13, 14, 15, 16, 17,19];
            title = "Incident Pending List";
            $("#btnIncBackToDashboard").show();
            break;
        case 14:// Rejected List
            hideNtfColumns = [ 0, 6, 10, 11, 12, 13, 14, 15, 16, 17,19];
            title = "Incident Rejected List";
            $("#btnIncBackToDashboard").show();
            break;
        case 15:// Approved List,
            hideNtfColumns = [ 0, 6, 10, 11, 12, 13, 14, 15, 16, 17,19];
            title = "Incident Approved List";
            $("#btnIncBackToDashboard").show();
            break;
        case 16:// Verified List,
            hideNtfColumns = [ 0, 6, 10, 11, 12, 13, 14, 15, 16, 17,19];
            title = "Verified List";
            break;
        case 19:// Incident overdue,
                hideNtfColumns = [ 0, 6, 10, 11, 12, 13, 14, 15, 16, 17,19];
                title = "Incident Over Due List";
                $("#btnIncBackToDashboard").show();
                break;
     }
    $("#lblName").text(title);
    </script>

    <script>
        //For column wise seach on Jquery grid
        $('#tblIncidentList thead tr').clone(true).appendTo('#tblIncidentList thead');
        $('#tblIncidentList thead tr:eq(1) th').each(function (i) {
            if (i < 11) {
                var title = $(this).text();

                $(this).html('<input type="text" placeholder="Search" />');

                $('input', this).on('keyup change', function () {
                    if (oIncidentTable.column(i).search() !== this.value) {
                        oIncidentTable
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            }
            else {
                $(this).html('');
            }

        });

    $('#tblIncidentList').wrap('<div class="dataTables_scroll" />');
    var oIncidentTable = $('#tblIncidentList').DataTable({
        columns: [
            //{ 'data': 'RowNumber' }, //0
            { 'data': 'IncidentMasterID' },//0
            { 'data': 'IRNumber' },//1
            { 'data': 'DeptName' }, // 2
            { 'data': 'DocumentNo' },// 3
            { 'data': 'DocumentName'}, // 4
            { 'data': 'EmpName' },//5
            { 'data': 'CreatedDate' }, //6
            { 'data': 'OccurrenceDate' }, // 7
            { 'data': 'IncidentDueDate' },// 8
            { 'data': 'CurrentStatus' },//9
            { 'data': 'UniquePKID' },//10

            {
                "mData": null,       //11 Edit Incident
                "bSortable": false,
                "mRender": function (o) {
                    { return '<a class="Edit" href="#" title="Edit" onclick=EditViewIncidentDetails(this,' + o.IncidentMasterID + ')>' + '' + '</a>'; }
                }
            },
            {
                "mData": null,       //12 HOD View Incident
                "bSortable": false,
                "mRender": function (o) {
                    { return '<a class="action_qms" href="#" title="Action"  onclick=ViewIncidentDetails(' + o.IncidentMasterID + ',"1")>' + '' + '</a>'; }//1 -
                }
            },
            {
                "mData": null,       //13 QA View Incident
                "bSortable": false,
                "mRender": function (o) {
                    { return '<a class="action_qms" href="#" title="Action"  onclick=ViewIncidentDetails(' + o.IncidentMasterID + ',"2")>' + '' + '</a>'; }
                }
            },
                {
                    "mData": null,       //14 View Investigator
                "bSortable": false,
                "mRender": function (o) {
                    { return '<a class="action_qms" href="#"  title="Action"  onclick=ViewInvestigator(' + o.IncidentMasterID + ',' + o.UniquePKID +')>' + '' + '</a>'; }
                }
            },
                {
                    "mData": null,       //15 View Investigation Review By Hods
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="action_qms" href="#" title="Action"  onclick=ViewInvestigationReviewByHods(' + o.IncidentMasterID + ',' + o.UniquePKID+ ')>' + '' + '</a>'; }
                    }
                },
                {
                    "mData": null,       //16 Hod Action Plan
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="action_qms" href="#" title="Action"  onclick=ViewAndCreateAcionPlan(' + o.IncidentMasterID + ',' + o.UniquePKID + ')>' + '' + '</a>'; }
                    }
                },
                {
                    "mData": null,       //17 HeadQA Review
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="action_qms" href="#"   title="Action" onclick=ViewIncidentDetails(' + o.IncidentMasterID + ')>' + '' + '</a>'; }
                    }
                },
                {
                    "mData": null,       //18 Main List View
                    "bSortable": false,
                    "mRender": function (o) {
                        if (o.CurrentStatusID == 1 || o.CurrentStatusID == 2 || o.CurrentStatusID ==4) {
                            { return '<a class="view" href="#" title="View" onclick=EditViewIncidentDetails(this,' + o.IncidentMasterID + ',"1")>' + '' + '</a>'; }
                        }
                        else {
                            { return '<a class="view" href="#"  title="View" onclick=ViewMainList(' + o.IncidentMasterID + ')>' + '' + '</a>'; }
                        }
                    }
                },
                //Incident Admin Manage Column
                {
                    "mData": null,       //19 Admin Manage
                    "bSortable": false,
                    "mRender": function (o) {
                            { return '<a class="view" href="#" title="Manage"  onclick="INCAdminManage(this,' + o.IncidentMasterID + ')">' + '' + '</a>'; }
                    }
                },
                {
                "mData": null,       //20 History NoteToFile
                "bSortable": false,
                "mRender": function (o) {

                    { return '<a class="View" href="#"  title="History" title="History" onclick=ViewHistory(this,' + o.IncidentMasterID + ',"1")>' + '' + '</a>'; }
                },

             }
        ],
        "scrollX": "auto",
        "paging": true,
        "orderCellsTop": true,
        "order": [[0, "desc"]],
        "aoColumnDefs": [{ className: "dt-body-left", "targets": [1, 2, 3, 4, 5] },
            { "targets": hideNtfColumns, "visible": false, "searchable": false },
            { className: "textAlignCenter", "targets": [11,12,13,14,15,16,17,18,19, 20] },
            { "orderable": false, "targets": [11] }],
        'bAutoWidth': true,
        "sAjaxSource": "@Url.Content("~/QMS/Incident/GetIncident_List")",
        "fnServerData": function (sSource, aoData, fnCallback) {
            aoData.push(
                { "name": "ShowType", "value": (@TempData["ShowType"])}
            );

            $.ajax({
                "dataType": 'json',
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": function (result) {
                    if (result.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (result.hasError == true) {
                            custAlertMsg(result.data, "error", "ReloadDashboard();");
                        }
                        else {
                            fnCallback(result);
                        }
                    }
                },
                error: function (xhr, textStatus, error) {
                    if (typeof console == "object") {
                        console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                    }
                }
            });
        }
    });
    </script>
    <script>
    function BackToIncidentDashboard(){
        window.location.href = '@Url.Action("QMS_Dashboard", "DashBoard", routeValues: new {  })';
    }
    </script>
}
<!-- Exception Message -->
<script>
    function ExecptionMsg(){

        var Err = "@ViewBag.Exception";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
    }
</script>

