﻿@model QMS_BO.QMS_Incident_BO.IncidentBO

<div class="card-header header_col_sub_child collapsed" id="heading-1-1-1" data-toggle="collapse" href="#collapse-1-1-5" aria-expanded="false" aria-controls="collapse-1-1-5">
        <a class="card-title " role="button" >
            Review of Work order/Change Control/Preventive Maintenance/Calibration
        </a>
</div>
<div id="collapse-1-1-5" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-1">
    <div class="card-body col-12 float-left  grid_assgin">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none ">
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  bottom ">
                <table id="tblReviewpoints" class="table datatable_cust table-striped  table-bordered top" style="width:100%">
                    <thead>
                        <tr>
                            <th hidden="hidden">ReviewID</th>
                            <th>Review On</th>
                            <th>Status</th>
                            <th>Related Doc/Ref No</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (QMS_BO.QMS_Incident_BO.IncidentBO.IncidentReviewPoints row in ViewBag.ReviewLst)
                        {
                            <tr>
                                <td class="CustomerId" hidden="hidden">
                                    @row.ReviewID
                                </td>
                                <td class="CustomerId" style="text-align:left;">
                                    @row.ReviewName
                                </td>
                                <td class="IsYesorNo" style="width:100px">
                                    @if (Model.CurrentStatus == "6" && ViewBag.GetIsIncidentExitsCount == 0)
                                    {
                                        @Html.DropDownList("DDlYesNo", row._lstisReviewStatus as SelectList, htmlAttributes: new { @id = "DDlYesNo", @class = " col-12  padding-none selectpicker1 drop_down " })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("DDlYesNo1", row._lstisReviewStatus as SelectList, htmlAttributes: new { @id = "DDlYesNo1", @class = " col-12  padding-none selectpicker1 drop_down " })
                                    }
                                </td>
                                <td class="DocTitleorNo">
                                    <input type="text" class="select_grid" placeholder="Enter Document Reference No" value="@row.ReferenceNo" title="@row.ReferenceNo" maxlength = 100/>
                                </td>
                                <td class="Comments">
                                    <input type="text" class="select_grid" placeholder="Enter Comments" value="@row.Comments" title="@row.Comments" maxlength = 500 />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    if (@Model.CurrentStatus=="9" || @Model.CurrentStatus=="21" || @Model.CurrentStatus=="12" || @Model.CurrentStatus=="13"
        || @Model.CurrentStatus=="10" || @Model.CurrentStatus == "25" || @Model.CurrentStatus == "15"
        || @Model.CurrentStatus=="20" || @Model.CurrentStatus=="16" || @Model.CurrentStatus == "27"
        || @TempData["ShowType"].ToString() == "12" || @TempData["ShowType"].ToString() == "13") {
        $("#tblReviewpoints").find("input,button,textarea,select").attr("disabled", "disabled").css("cursor", "no-drop");
    }
</script>

<script>
    $(document).ready(function () {
        $('.selectpicker1').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size:7
        });
    });
</script>
