﻿
@{
    ViewBag.Title = "CCNReportViewer";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
@Styles.Render("~/Content/DevExtremeBundleStyles")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_0")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_1")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_2")

<script type="text/javascript" src="~/DevexScripts/jquery-3.2.1.min.js"></script>
<link href="~/DevexScripts/jquery-ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/DevexScripts/jquery-ui.js"></script>
<script type="text/javascript" src="~/DevexScripts/cldr.js"></script>
<script type="text/javascript" src="~/DevexScripts/cldr/event.js"></script>
<script type="text/javascript" src="~/DevexScripts/cldr/supplemental.js"></script>
<script type="text/javascript" src="~/DevexScripts/globalize.js"></script>
<script type="text/javascript" src="~/DevexScripts/globalize/currency.js"></script>
<script type="text/javascript" src="~/DevexScripts/globalize/date.js"></script>
<script type="text/javascript" src="~/DevexScripts/globalize/message.js"></script>
<script type="text/javascript" src="~/DevexScripts/globalize/number.js"></script>
<script type="text/javascript" src="~/DevexScripts/knockout.js"></script>
<script type="text/javascript" src="~/DevexScripts/ace.js"></script>
<script type="text/javascript" src="~/DevexScripts/ext-language_tools.js"></script>
<script type="text/javascript" src="~/DevexScripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/DevexScripts/moment.min.js"></script>
<script type="text/javascript" src="~/DevexScripts/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="~/DevexScripts/bootstrap-select.min.js"></script>
@if (ViewBag.Exception != null)
{
    <script type="text/javascript">
        window.onload = function () {

            ExecptionMsg();
        };
    </script>

}
else
{

    @Html.DevExpress().GetScripts(

                            new Script { ExtensionSuite = ExtensionSuite.Report }

                        )
    @Html.DevExpress().GetStyleSheets(

                            new StyleSheet { ExtensionSuite = ExtensionSuite.Report }

                        )

    @Html.DevExpress().WebDocumentViewer(settings =>
            {
                settings.Name = "WebDocumentViewer";
            }).Bind(new DevExpress.XtraReports.Web.CachedReportSourceWeb(Model)).GetHtml()

}
<!-- Exception Message -->
<script>
    function ExecptionMsg(){

        var Err = "@ViewBag.Exception";
        if (Err != "") {
            errors = [];
            errors.push(Err);
            custAlertMsg(errors.join("<br/>"), "error","ReloadDashboard();");
        }
    }
</script>