﻿@model QMS_BO.QMS_Incident_BO.IncidentBO
@{ int rowNo = 0; }
@{ int rowNo1 = 0; }
@{
    ViewBag.Title = "IncidentMainListView";
    Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
@*<script src="~/AppScripts/ML_Setup.js"></script>*@
<script src="~/AppScripts/QMS/MLQMS_SetUp.js"></script>
@if (ViewBag.Exception != null)
{
    <script type="text/javascript">
        window.onload = function () {
            ExecptionMsg();
        };
    </script>
}
else
{
    <style>
        .list_view {
            background: url(../../images/TMS_Images/suggestion_img.png) no-repeat;
            padding: 13px 12px;
            top: 1px;
            position: relative;
            background-size: 24px 24px;
            cursor: pointer;
        }

        .related_descriptionlist li {
            border-bottom: 1px solid #07889a;
            padding: 6px;
            background: #f0f7f7;
            list-style-type: none;
        }

        .desclist_count {
            padding: 3px 7px 3px 7px;
            background: #cc0000;
            color: #ffffff;
            font-weight: bold;
            top: -19px;
            border-radius: 9px;
            position: absolute;
            font-size: 11px;
            z-index: 9;
        }

        .embed-responsive-16by9::before {
            padding-top: 50.25% !important;
        }
    </style>
    <script>
        function funViewTrainig(doubleclick) {
            var _ShowType=@TempData["ShowType"];
            $(doubleclick).attr("onclick", "").unbind("click");
            var _IncidentID = $("#hdnIncidentID").val();
            $("#lblmodelTrainingTitle").text("View Training Schedule");
            var strURLCretae = "<iframe class='embed-responsive-item' src='/QMSIncient/TTSTraining.aspx?TTS_Type=Create&MainlstID=" + _IncidentID + "&_ShowType=" + _ShowType +"' toolbar=0 navpanes=0 scrollbar=0></iframe>";
            var theDiv = document.getElementById("dvQTTSFrame");
            theDiv.innerHTML = strURLCretae;
            $('#MyModelAddTraining').modal('show');
            $(doubleclick).attr("onclick", "funViewTrainig(this)").unbind("click");
        }
    </script>
    <!------Confirmation pop up script call----->
    <div class=" float-right col-6 top bottom padding-none">
        <button type="button" class="btn btn-signup_popup float-right" onclick="closeViewPopup();">Back to List</button>
    </div>
    <!--For viewing Event CAPA-->
    <div id="CAPADivLoad"></div>
    <!----End-->
    <!-------major content------>
    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel padding-none">
        <div id="accordionConent" class="accordion">
            <div class="card mb-0">
                <div class="card-header header_col_sub" data-toggle="collapse" href="#collapseOneSub" data-parent="#accordionConent">
                    <a class="card-title collapsed">
                        View Incident Report
                    </a>
                </div>
                <div id="collapseOneSub" class="collapse show" data-parent="accordionConent">
                    <div class="card-body col-12 float-left ">
                        <!-------Create Change control----->
                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 userprofile_bg info_bg float-left col-12">

                            <div class=" col-6 float-left custom_text_view">
                                <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Incident Report No </label>
                                <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                    @Html.DisplayFor(model => model.IRNumber, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-6 float-left custom_text_view">
                                <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Department </label>
                                <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined">
                                    @Html.DisplayFor(model => model.DeptName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6  float-left col-12 custom_text_view">
                                <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Document Type</label>
                                <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                    @Html.DisplayFor(model => model.TypeofDocumentName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-6 float-left custom_text_view">
                                <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Reference Document No</label>
                                <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                    @Html.DisplayFor(model => model.DocumentNo, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-12 float-left custom_text_view">
                                <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-2 col-md-4 col-sm-6 col-lg-4 float-left col-6">Document Name</label>
                                <div class="col-xl-10 col-md-10 col-sm-6 col-lg-10 float-left col-6 padding-none profile_defined float-left">
                                    @Html.DisplayFor(model => model.DocName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                                                  
                            <div class="col-6 float-left custom_text_view">
                                <label for="inputEmail3" class=" float-left padding-none profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Date of occurrence </label>
                                <div class="col-sm-8 padding-none float-left profile_defined">
                                    @Html.DisplayFor(model => model.OccurrenceDate, new
            {
                htmlAttributes = new { @class = "form-control", @formate = "dd MMM yyyy" }
            })
                                </div>
                            </div>
                            <div class="col-6 float-left custom_text_view">
                                <label for="inputEmail3" class=" float-left padding-none profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Due Date</label>
                                <div class="col-sm-8 padding-none float-left profile_defined">
                                    @Html.DisplayFor(model => model.IncidentDueDate, new
            {
                htmlAttributes = new { @class = "form-control", @formate = "dd MMM yyyy" }
            })
                                </div>
                            </div>
                            <div class=" col-6 float-left custom_text_view">
                                <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Date of Report </label>
                                <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                    @Html.DisplayFor(model => model.IncidentReportDate, new
            {
                htmlAttributes = new { @class = "form-control", @formate = "DD-MMM-yyyy" }
            })
                                </div>
                            </div>
                            <div class="col-6 float-left custom_text_view">
                                <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Status </label>
                                <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                    @Html.DisplayFor(model => model.CurrentStatusName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-6 float-left custom_text_view">
                                <label for="inputEmail3" class=" padding-none profile_label float-left  col-xl-4 col-md-4 col-sm-6 col-lg-4 col-6">Created By</label>
                                <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                    @Html.DisplayFor(model => model.EmpName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div class="col-6 float-left custom_text_view">
                                <label for="inputEmail3" class=" padding-none profile_label float-left col-xl-4 col-md-4 col-sm-6 col-lg-4 float-left col-6">Category</label>
                                <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined float-left">
                                    @Html.DisplayFor(model => model.TypeofCategory, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            @*<div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12  float-left col-12 custom_text_view">
                                <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-2 col-md-2 col-sm-6 col-lg-2 float-left col-6">Brief Description of Incident </label>
                                <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined">
                                    @Html.DisplayFor(model => model.IncidentDesc, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>*@
                            @*Start QMS_ML*@
                            <div id="divNoMLDescription" style="display:none" class=" col-xl-12 col-md-12 col-sm-12 col-lg-12  float-left col-12 custom_text_view">
                                <label for="inputEmail3" class=" padding-none float-left profile_label col-xl-2 col-md-2 col-sm-6 col-lg-2 float-left col-6">Brief Description of Incident </label>
                                <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none profile_defined">
                                    @Html.DisplayFor(model => model.IncidentDesc, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                            <div id="divMLDescription" style="display:none">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  header_col_sub  grid_panel">Brief Description of Incident<a href="#" data-target="#modalIncidentDesc" data-toggle="modal" class="list_view float-right" title="Similar Incident(s)"><span class="desclist_count" id="idDescCount"></span></a><span class="float-right" style="margin-right:4px;">Similar Incident(s) :</span></div>
                                <div class="col-12 grid_panel float-left">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none top bottom">
                                        @Html.DisplayFor(model => model.IncidentDesc, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                            @*End QMS_ML*@
                        </div>
                    </div>
                </div>
                <div class=" col-12 grid_area float-left padding-left_div" id="paragraph2">
                    <div class="col-lg-12 float-left padding-none">
                        <div id='OpenDilog'></div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel padding-none">
                    <div id="accordionConent" class="accordion">
                        <div class="card mb-0">
                            <div class="card-header header_col_sub " data-toggle="collapse" href="#collapseTwoSub" data-parent="accordionConent">
                                <a class="card-title collapsed">
                                    Incident
                                </a>
                            </div>
                            <div id="collapseTwoSub" class="collapse show " data-parent="accordionConent">
                                <div class="card-body  col-lg-12 float-left padding-none top">
                                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                                        <ul class="nav nav-pills tab_grid">
                                            <li class="nav-item" id="PreliminaryAssessmentTab"><a class="nav-link PreliminaryAssessmentTab active" data-toggle="tab" href="#home3">Preliminary Assessment</a></li>
                                            <li class="nav-item" id="DocumentsTab"><a class="nav-link DocumentsTab" data-toggle="tab" href="#home6">Attachments</a></li>
                                            <li class="nav-item" id="ClassificationTab1"><a class="nav-link ClassificationTab1" data-toggle="tab" href="#home2">Classification</a></li>
                                            <li class="nav-item" id="InvestigationTab"><a class="nav-link InvestigationTab" data-toggle="tab" href="#home1">Investigation</a></li>
                                            <li class="nav-item" id="CAPATab"><a class="nav-link CAPATab" data-toggle="tab" href="#home4">Planning of CAPA</a></li>
                                            <li class="nav-item" id="IncHistoryTab"><a class="nav-link " data-toggle="tab" href="#home">History</a></li>
                                        </ul>
                                    </div>
                                    <!------ Comment Section----------->
                                    <div class="tab-content tab_content float-left col-lg-12 padding-none" id="test">
                                        <!------ Start Minor/Major------>
                                        <div id="home4" class="tab-pane CAPASubTab">
                                            <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  ">
                                                <label class=" custom_label col-form-label required">Immediate Correction Done:</label>
                                                @Html.TextAreaFor(model => model.ImmediateCorrection, new { htmlAttributes = new { @class = "form-control", @cols = 80, @rows = 3 } })
                                            </div>
                                            <div class="col-12 float-left" id="IncidentEventCAPAMain">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 grid_panel padding-none bottom">
                                                    <div class="accordion">
                                                        <div class="card mb-0">
                                                            <div class="card-header header-color" data-toggle="collapse" href="#collapseCAPAsub" onclick="IncidentCAPACalling();">
                                                                <a id="removeCollapsedMain" class="card-title collapsed">
                                                                    CAPA
                                                                </a>
                                                            </div>
                                                            <div id="collapseCAPAsub" class="collapse" data-parent="">
                                                                <div class="card-body col-12 float-left ">
                                                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none">
                                                                        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none">
                                                                            @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_EventsCAPAList.cshtml")
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top ">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title"> Is Training Required</div>
                                            </div>
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  ">
                                                <div class=" col-xl-12 col-md-6 col-sm-6 col-lg-6 float-left col-6 bottom grid_panel  padding-none">
                                                    <div class="col-12 float-left">
                                                        <label class=" custom_label col-form-label float-left required top bottom"> Is Training Required:</label>
                                                        <div class="float-left top">
                                                            @Html.DropDownList("IsTrainingDDlYesNo", null, htmlAttributes: new { @id = "IsTrainingDDlYesNo", @class = "padding-none  drop_down selectpicker1" })
                                                        </div>
                                                    </div>
                                                    <div id="OpenTTSHistory"></div>
                                                    <div id="divtblIncidentTTS_List" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top bottom padding-none">
                                                        <table id="tblIncidentTTS_List" class="table datatable_cust table-striped table-bordered tblIncidentTTS_ListClas no-footer" cellspacing="0" style="width: 100%" table-layout="fixed">
                                                            <thead>
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th>TTS_ID</th>
                                                                    <th>Document</th>
                                                                    <th>Dept Code</th>
                                                                    <th>Type of Training</th>
                                                                    <th>Author</th>
                                                                    <th>Approver</th>
                                                                    @*<th>Approved Date</th>*@
                                                                    <th>Status</th>
                                                                    <th>View</th>
                                                                    <th>History</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            @Html.HiddenFor(model => model.IncidentMasterID, new { id = "hdnIncidentID" })
                                            @if (Model.CurrentStatus == "21" || Model.CurrentStatus == "10" || Model.CurrentStatus == "25" || Model.CurrentStatus == "20" || Model.CurrentStatus == "16" || @Model.CurrentStatus == "27")
                                            {
                                                @*<div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom">
                                                        <label class=" custom_label col-form-label required"> HOD Comments:</label>
                                                        @Html.TextAreaFor(model => model.HodCapaComments, new { @class = "", @cols = 80, @rows = 10 })
                                                    </div>*@
                                            }

                                            @if (Model.CurrentStatus == "12" || Model.CurrentStatus == "13" || Model.CurrentStatus == "15" || Model.CurrentStatus == "16" || @Model.CurrentStatus == "27" || Model.CurrentStatus == "18")
                                            {
                                                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom ">
                                                    <label class=" custom_label col-form-label required"> Evaluation and Disposition:</label>
                                                    @Html.TextAreaFor(model => model.EvaluationandDispostion, new { @class = "", @cols = 80, @rows = 3 })
                                                </div>

                                            }
                                            <div class=" float-right col-6 bottom">
                                                <button type="button" class="btn btn-cancel_popup float-right" onclick="closeViewPopup();">Close</button>
                                            </div>
                                        </div>

                                        <div id="home3" class="tab-pane preasstab active" style="padding:10px;">
                                            <!------ first occurrence of the incident--------->
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none grid_assgin bottom">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none header_sub">Occurrence </div>
                                                    <div class="col-lg-6 float-left  padding-none top bottom">
                                                        <label class=" custom_label col-form-label col-5  float-left required" style="text-align:left;"> First Occurrence of this Incident ?</label>
                                                        @Html.DropDownListFor(model => model.IsFirstOccurence, new SelectList(new[]
{ new { Value = "0", Text = "Select" },new { Value = "1", Text = "Yes" },new { Value = "2", Text = "No" },new { Value = "3", Text = "N/A" },}, "Value", "Text", Model), new { @class = "col-3 selectpicker1 padding-none drop_down" })
                                                    </div>
                                                </div>
                                                <div id="divAnyOtherInvestigations" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none" style="display:none;">
                                                    <table id="tblAnyOtherInvestigations" class="table datatable_cust table-striped tblAnyOtherInvestigationsClass table-bordered" style="width:100%;">
                                                        <thead>
                                                            <tr>
                                                                <th>S.No</th>
                                                                <th>UniqueID</th>
                                                                <th>Department</th>
                                                                <th>Incident</th>
                                                                <th>IncidentID</th>
                                                                <th>Incident</th>
                                                                <th>Status</th>
                                                                <th>Incident CAPA's</th>
                                                                <th>Delete</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom ">
                                                    <label class=" custom_label col-form-label">Comments:</label>
                                                    @Html.TextAreaFor(model => model.AOI_Comments, new { @class = "", @cols = 80, @rows = 3 })
                                                </div>
                                            </div>
                                            <!------ end first occurrence of the incident--------->
                                            <!------ start Any other investigation opened  --------->
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none grid_assgin bottom">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none header_sub">Investigation  </div>
                                                    <div class="col-lg-6 float-left  padding-none top bottom">
                                                        <label class=" custom_label col-form-label col-5  float-left required" style="text-align:left;"> Any other investigation opened ?</label>
                                                        @Html.DropDownListFor(model => model.AnyOtherInvestigations, new SelectList(new[]
{ new { Value = "0", Text = "Select" },new { Value = "1", Text = "Yes" },new { Value = "2", Text = "No" },new { Value = "3", Text = "N/A" },}, "Value", "Text", Model), new { @class = "col-3 selectpicker1 padding-none drop_down" })
                                                    </div>
                                                </div>

                                                <div id="divPreliminaryAssessmentList" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none" style="display:none;">
                                                    <table id="tblPreliminaryAssessmentList" class="table datatable_cust table-striped tblPreliminaryAssessmentListClass table-bordered" cellspacing="0" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th>S.No</th>
                                                                <th>UniqueID</th>
                                                                <th>Department</th>
                                                                <th>Quality Notification Type</th>
                                                                <th>Quality Notification Numbers / Others</th>
                                                                <th>CAPA's</th>
                                                                <th>Remove</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>


                                                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom ">
                                                    <label class=" custom_label col-form-label">Comments:</label>
                                                    @Html.TextAreaFor(model => model.FO_Comments, new { @class = "", @cols = 80, @rows = 3 })
                                                </div>
                                            </div>

                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 bottom padding-none" id="divHOD_InvestigationNotes">
                                                <label class=" custom_label col-form-label required" id="lblHOD_InvestigationNotes">HOD Investigation Notes:</label>
                                                @Html.TextAreaFor(model => model.HOD_InvestigationNotes, new { @class = "", @cols = 80, @rows = 5, maxlength = 2000 })
                                            </div>
                                            <!------ End Any other investigation opened  --------->
                                            @if (Model.CurrentStatus == "1" || Model.CurrentStatus == "2" || Model.CurrentStatus == "7")
                                            {
                                                <div class="col-xl-8 col-md-8 col-sm-8 col-lg-8 float-right col-8 top bottom">
                                                    <button type="button" class="btn btn-cancel_popup float-right" onclick="closeViewPopup();">Close</button>
                                                </div>
                                            }
                                            @if (Model.CurrentStatus == "6" || Model.CurrentStatus == "9" || Model.CurrentStatus == "21" || Model.CurrentStatus == "11" || Model.CurrentStatus == "10" || Model.CurrentStatus == "12" || Model.CurrentStatus == "14" || Model.CurrentStatus == "25" || Model.CurrentStatus == "15" || Model.CurrentStatus == "13" || Model.CurrentStatus == "19" || Model.CurrentStatus == "20" || Model.CurrentStatus == "26" || Model.CurrentStatus == "18")
                                            {
                                                <button type="button" class="btn btn-signup_popup float-right btnNext1 top bottom" onclick="preassmntNext();">Next</button>
                                            }
                                            @if (@Model.CurrentStatus == "3" || @Model.CurrentStatus == "17")//QA Actions
                                            {
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top bottom">
                                                    <button type="button" class="btn btn-cancel_popup float-right" onclick="closeViewPopup();">Close</button>
                                                    <a href="#home2" class="btn btn-signup_popup float-right btnNext1" onclick="QANext()">Next</a>
                                                </div>
                                            }
                                        </div>
                                        <!------ End Minor/Major------>
                                        <!------ start history Tab------>
                                        <div id="home" class="col-12 float-left tab-pane  top bottom">
                                            @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_HistoryDetails.cshtml")
                                        </div>
                                        <!------ ENd history Tab------>
                                        <!------Start Assessment/Action----->
                                        <div id="home1" class="tab-pane InvestsubTab">
                                            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_classfication">Impacting Status</div>
                                            <div class="col-xl-8 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                                                <div class=" btn-group-toggle float-left radio_buttons bottom col-12" data-toggle="buttons">
                                                    <label class=" col-2 custom_label col-form-label float-left padding-none"> Type Of Incident :</label>
                                                    <div class="col-xl-8 col-md-8 col-sm-6 col-lg-8 float-left col-6 padding-none float-left profile_defined">
                                                        @Html.DisplayFor(model => model.TypeofIncidentName, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <!-------panel assessment start-------->
                                            @if (Model.TypeofIncidentID == 2)
                                            {
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none ">
                                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_classfication" style="margin-bottom:0px;">Quality Non-Impacting</div>
                                                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top bottom ">
                                                        <label class=" custom_label col-form-label">Investigation and Conclusion :</label>
                                                        @Html.TextAreaFor(model => model.QNonImpConclusion, new { @class = "", @cols = 80, @rows = 3 })
                                                    </div>
                                                    <div class="card mb-0 col-12 float-left">
                                                        <div>
                                                            @Html.Partial("~/Areas/QMS/Views/Incident/InvestigatorImpactPV.cshtml")
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top bottom">
                                                        <button type="button" class="btn btn-cancel_popup float-right" onclick="closeViewPopup();">Close</button>
                                                        @if (Model.CurrentStatus == "21" || Model.CurrentStatus == "12" || Model.CurrentStatus == "13" || Model.CurrentStatus == "10" || Model.CurrentStatus == "25" || Model.CurrentStatus == "15" || Model.CurrentStatus == "20" || Model.CurrentStatus == "16" || @Model.CurrentStatus == "27" || Model.CurrentStatus == "26" || Model.CurrentStatus == "18")
                                                        {
                                                            <button type="button" class="btn btn-signup_popup float-right btnNext3" onclick="HodActionPlanNextbtn();">Next</button>
                                                        }
                                                    </div>
                                                </div>
                                                <!------- end panel assessment start-------->
                                            }
                                            <!-------panel assessment start-------->
                                            @if (Model.TypeofIncidentID == 1)
                                            {
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none ">
                                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_classfication" style="margin-bottom:0px;">Quality Impacting Incident Investigation and Conclusion Report</div>
                                                    <div id="accordion-1-1" class="accordion float-left col-12 top padding-none">

                                                        <div class="card mb-0 col-12 float-left">
                                                            <div id="InvestigationHtmlContent">
                                                            </div>
                                                        </div>
                                                        <div class="card mb-0 col-12 float-left">
                                                            <div id="divInvestigatorImpactPV"></div>
                                                            <div>
                                                                @Html.Partial("~/Areas/QMS/Views/Incident/InvestigatorImpactPV.cshtml")
                                                            </div>
                                                        </div>

                                                        <div class="card mb-0  col-12 float-left">
                                                            <div id="IncidentInvestigationHasAffectedPVHtmlContent"></div>
                                                        </div>
                                                        <div class="card mb-0  col-12 float-left">
                                                            @*<div id="divHasAffectedDocumentPV"></div>*@
                                                            <div>
                                                                @Html.Partial("~/Areas/QMS/Views/Incident/HasAffectedDocumentPV.cshtml")
                                                            </div>
                                                        </div>
                                                        <div class="card mb-0  col-12 float-left">
                                                            <div id="divIncidentInvestigationReviewPV"></div>
                                                        </div>
                                                        <div class="card mb-0  col-12 float-left">
                                                            <div id="divFileUploadsinIncidentPV"></div>
                                                        </div>
                                                        <div class="card mb-0  col-12 float-left">
                                                            <div id="divSendIncidentforHodsReviewPV"></div>
                                                        </div>
                                                    </div>
                                                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12   ">
                                                        <label class=" custom_label col-form-label required">Possible/Probable Root Cause</label>
                                                        @Html.TextAreaFor(model => model.RootCauseDesc, new { @class = "", @cols = 80, @rows = 3 })
                                                    </div>
                                                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12   ">
                                                        <label class=" custom_label col-form-label required">Conclusion :</label>
                                                        @Html.TextAreaFor(model => model.QImpConclusion, new { @class = "", @cols = 80, @rows = 3 })
                                                    </div>
                                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top bottom">
                                                        <button type="button" class="btn btn-cancel_popup float-right" onclick="closeViewPopup();">Close</button>
                                                        @if (Model.CurrentStatus == "21" || Model.CurrentStatus == "12" || Model.CurrentStatus == "13" || Model.CurrentStatus == "10" || Model.CurrentStatus == "25" || Model.CurrentStatus == "15" || Model.CurrentStatus == "20" || Model.CurrentStatus == "16" || @Model.CurrentStatus == "27")
                                                        {
                                                            <button type="button" class="btn btn-signup_popup float-right btnNext3" onclick="HodActionPlanNextbtn();">Next</button>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                            <!------- end panel assessment start-------->


                                        </div>
                                        <!------End Assessment/Action----->
                                        <!------Start Comments----->
                                        <div id="home2" class="tab-pane Classtab ">
                                            @if (Model.CurrentStatus == "3" || Model.CurrentStatus == "17")
                                            {
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none">
                                                    <div class="col-lg-6 float-left  padding-none top bottom">
                                                        <label class=" custom_label col-form-label col-3  float-left required padding-none " style="text-align:left;"> Type of Incident :</label>
                                                        @Html.DropDownListFor(model => model.TypeofIncidentID, new SelectList(new[]
                                                                               { new { Value = "0", Text = "Select" },new { Value = "1", Text = "Quality Impacting" },new { Value = "2", Text = "Quality Non-Impacting" },}, "Value", "Text", Model), new { @class = "col-5 selectpicker1 padding-none drop_down", disabled = "disabled" })
                                                    </div>
                                                    <div class="col-lg-4 float-left padding-none top">
                                                        <label class="custom_label form-label col-4 float-left padding-none ">Selected Investigator:</label>
                                                        <div class="col-8 float-left padding-none">
                                                            @Html.DisplayFor(Model => Model.InvestigatorEmpName)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 top bottom" id="buttonGroup">
                                                    <button type="button" class="btn btn-cancel_popup float-right" onclick="closeViewPopup();">Close</button>
                                                </div>
                                            }
                                        </div>
                                        <!------End Comments----->

                                        <div id="home6" class="tab-pane DocumentsTab">

                                            <div id="divtblIncidentInitiatorFileUploadList" style="display:none;" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 top padding-none ">
                                                <table id="tblIncidentInitiatorFileUploadList" class="table datatable_cust table-striped tblIncidentInitiatorFileUploadListClass table-bordered" style="width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>UniqueID</th>
                                                            <th>File Name</th>
                                                            <th>File Type</th>
                                                            <th>Created By</th>
                                                            <th>Role</th>
                                                            <th>Created Date</th>
                                                            <th>View</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div id="DivIncidentDocumentsContent"></div>
                                        </div>
                                    </div>
                                    <!------ End Comment Section----------->
                                    <!-------End Change control----->
                                </div>
                                <!-------major content------>
                            </div>
                            <!------content area starts---------->
                        </div>
                    </div>
                </div>
            </div>

            <!--End-->
            <!--Add Training Model pop up-->
            <div id="MyModelAddTraining" class="modal department fade" role="dialog">
                <div class="modal-dialog modal-lg" style="min-width:90%;">
                    <!-- Modal content-->
                    <div class="modal-content padding-none">
                        <div class="modal-header">
                            <h4 class="modal-title"><asp:Label ID="lblmodelTrainingTitle" runat="server" Text=""></asp:Label></h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body style-3" style="height: 510px;overflow: auto;float:left;">
                            <div class="col-12 float-left" id="dvQTTSFrame">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Add Training Model pop up -->
            <!--call Electronic Signature -->
            <!--ML Description Popup-->
            <div id="modalIncidentDesc" class="modal department fade" role="dialog" style="width: 100%" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-lg modal-dialog-centered" style="min-width:90%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Brief Description of Incident</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class=" col-lg-12 col-sm-12 col-12 col-md-12  padding-none ">

                                <div class="grid_panel float-left col-lg-12  col-12 col-md-12 col-sm-12 ">
                                    <div class="col-xl-12 col-md-12 col-sm-12  float-left  top">
                                        <table id="tblIncidentDesc_List" class=" table datatable_cust table-striped table-bordered top" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Incident Number</th>
                                                    <th>Brief Description of Incident</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-12 text-right padding-none">
                                <button type="button" class="btn btn-cancel_popup " data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End ML Description -->
            @Html.Partial("_ElectronicPartialView")
            @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_CAPADetailsView.cshtml")
            @Html.Partial("~/Areas/QMS/Views/Shared/QMS/_HyperLinkQulaityNotification.cshtml")
            <!--Close ViewPopup and Redirected To Role Based List Page-->
            <script>
                function closeViewPopup() {
 if (@TempData["ShowType"]==1) {
        window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 1 })';
}
     if (@TempData["ShowType"]==12) {
        window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 12 })';
     }
     if (@TempData["ShowType"]==13) {
         window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 13 })';
     }
     if (@TempData["ShowType"]==14) {
         window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 14 })';
     }
     if (@TempData["ShowType"]==15) {
         window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 15 })';
     }
     if (@TempData["ShowType"]==16) {
         window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 16 })';
     }
     if (@TempData["ShowType"]==19) {
         window.location.href = '@Url.Action("IncidentList", "Incident", routeValues: new { ShowType = 19 })';
     }
}
            </script>
            <!--End Close ViewPopup and Redirected To Role Based List Page-->
            <script>
                $(document).ready(function () {
                    $('.selectpicker1').selectpicker({
                        liveSearch: true,
                        showSubtext: true,
                        size: 7
                    });
                });
            </script>
            <!--To hide Delete button for QA Preassmnt,AnyOtherincidents-->
            <script>
    var hidePreassmntColumns = []; var hideAnyOtherColumns = [];
    if (@Model.CurrentStatus=="3" || @Model.CurrentStatus=="17" || @Model.CurrentStatus=="6" || @Model.CurrentStatus=="9" || @Model.CurrentStatus == "11" || @Model.CurrentStatus=="21" || @Model.CurrentStatus=="12" || @Model.CurrentStatus=="13" || @Model.CurrentStatus=="10" || @Model.CurrentStatus == "14" || @Model.CurrentStatus == "25" || @Model.CurrentStatus == "15" || @Model.CurrentStatus == "20" || @Model.CurrentStatus == "19" || @Model.CurrentStatus=="16" || @Model.CurrentStatus == "27" || @Model.CurrentStatus == "24" || @Model.CurrentStatus == "26" || @Model.CurrentStatus == "18" ||@Model.CurrentStatus == "8") {
        hidePreassmntColumns = [1, 6];
        hideAnyOtherColumns = [1, 3, 4, 8];
    }
    else if (@Model.CurrentStatus=="2" || @Model.CurrentStatus=="1") {
        hidePreassmntColumns = [1, 6];
        hideAnyOtherColumns = [1, 3, 4];
    }
            </script>
            <!--End To hide Delete button for QA Preassmnt,AnyOtherincidents-->
            <!--Jquery Data table Preliminary Assessment List Details -->
            <script>
    function funtblPreliminaryAssessmentList() {
        $('#tblPreliminaryAssessmentList').wrap('<div class="dataTables_scroll" />');
        var oTable1 = $('#tblPreliminaryAssessmentList').DataTable({
            columns: [
                { 'data': 'RowNumber' }, //0
                { 'data': 'UniquePKID' },//1
                { 'data': 'DeptName' }, //2
                { 'data': 'QualityEvent_TypeName' },//3
                {
                    //Hyper Link //4
                    "data": "EventNumbers",
                    "render": function (data, type, row, meta) {
                        if (row.QualityEvent_TypeID == '1' || row.QualityEvent_TypeID == "4" || row.QualityEvent_TypeID == "2" || row.QualityEvent_TypeID == "3") {
                            data = '<a class="hyperlinkforview" title="Click To View"  onclick="ViewQualityEventDetails(this,' + row.QualityEvent_TypeID + ',' + row.EventBaseID + ');">' + row.EventNumbers + '</a>';
                        }
                        return data;
                    }
                },
                { 'data': 'CapaNumber' },//5

                {
                    "mData": null,       //6 Edit Incident
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="delete" onclick=DeletePreliminaryAssessmentData(' + o.UniquePKID + ')>' + '' + '</a>'; }
                    }
                },
            ],
            "scrollY": "335px",
            "scrollX": "auto",
            "paging": true,
            "order": [1, "desc"],
            "bDestroy": true,
            "lengthMenu": [[10, 15, 20, 1000], [10, 15, 20, "All"]],
                "aoColumnDefs": [
                    { "orderable": false, "targets": [0] },
                    { className: "dt-body-left", "targets": [4, 5] }, { className: "textAlignCenter", "targets": [0] }, {
                "targets": hidePreassmntColumns,
                "visible": false,
                "searchable": false
            }],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/QMS/Incident/GetIncidentPreliminaryAssessmentList1")",

            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "IncidentMasterID", "value":@Model.IncidentMasterID });

                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (result.hasError == true) {
                                custAlertMsg(result.data, "error", "ReloadDashboard();");
                            }
                            else {
                                fnCallback(result);
                                $("#tblPreliminaryAssessmentList").show();
                                $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                $(".tblPreliminaryAssessmentListClass").css({ "width": "100%" });
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
}
});
}
function Reload() {
$('#tblPreliminaryAssessmentList').DataTable().ajax.reload()
}
            </script>
            <!--End Jquery Data table Preliminary Assessment List Details -->
            <script>
                function Detailsofcapa(doubleclick, CAPAID) {
                    $(doubleclick).attr("onclick", "").unbind("click");
                    $("#OpenDilog").empty();
                    GetCAPADetials(CAPAID);
                    $("#modalViewCAPADetails").modal('show');
                    $(doubleclick).attr("onclick", "Detailsofcapa(this," + CAPAID + ")").unbind("click");
                }
            </script>

            <!--Jquery Data table Any Other Investigation List Details -->
            <script>
    function tblAnyOtherInvestigation() {
        $('#tblAnyOtherInvestigations').wrap('<div class="dataTables_scroll" />');
        var oTable2 = $('#tblAnyOtherInvestigations').DataTable({
            columns: [
                { 'data': 'RowNumber' }, //0
                { 'data': 'UniquePKID' },//1
                { 'data': 'DeptName' }, //2
                { 'data': 'IRNumber' },//3
                { 'data': 'AssIncidentMasterID' },//4
                {
                    "mData": null,//5
                    "bSortable": true,
                    "mRender": function (o) { return '<a class="hyperlinkforview" title="View Incident" onclick="ViewQualityEventDetails(this,'+"1"+',' + o.AssIncidentMasterID + ');">' + o.IRNumber + '</a>'; }
                },
                { 'data': 'AssessmntIncStatus' },//6
                { 'data': 'Inci_CAPA_Numbers' },
                {
                    "mData": null,       //7 delete Incident
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="delete" onclick=DeleteInvestigationAssessmentData(' + o.UniquePKID + ')>' + '' + '</a>'; }
                    }
                }

            ],
            "language": {
                "infoFiltered": ""
            },
            "scrollY": "335px",
            "scrollX": "auto",
            "scrollCollapse": true,
            "order": [1, "desc"],
            "paging": true,
            "bDestroy": true,
            "lengthMenu": [[10, 15, 20, 1000], [10, 15, 20, "All"]],
                "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] }, { className: "textAlignCenter", "targets": [0] },{
                "targets": hideAnyOtherColumns,
                "visible": false,
                "searchable": false
                },
                { "orderable": false, "targets": [0] }],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/QMS/Incident/GetIncidentAnyotherinvestigationList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "IncidentMasterID", "value":@Model.IncidentMasterID });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (result.hasError == true) {
                                custAlertMsg(result.data, "error", "ReloadDashboard();");
                            }
                            else {
                                fnCallback(result);
                                $("#tblAnyOtherInvestigations").show();
                                $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                $(".tblAnyOtherInvestigationsClass").css({ "width": "100%" });
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
}
});
}
function ReloadAnyotherInvestigation() {
$('#tblAnyOtherInvestigations').DataTable().ajax.reload()
}
            </script>
            <!--End Jquery Data table Any Other Investigation List Details -->
            <!--FirstOccurence Div hide and show for QA Review-->
            <script>
    if (@Model.CurrentStatus=="2" || @Model.CurrentStatus=="3" || @Model.CurrentStatus=="7" || @Model.CurrentStatus=="17" || @Model.CurrentStatus=="6" || @Model.CurrentStatus=="9" || @Model.CurrentStatus=="21" || @Model.CurrentStatus == "13" || @Model.CurrentStatus == "11" || @Model.CurrentStatus == "10" || @Model.CurrentStatus == "14" || @Model.CurrentStatus == "25" || @Model.CurrentStatus == "15" || @Model.CurrentStatus == "20" || @Model.CurrentStatus == "19" || @Model.CurrentStatus == "16" || @Model.CurrentStatus == "27" || @Model.CurrentStatus == "12" || @Model.CurrentStatus == "24" || @Model.CurrentStatus == "8" || @Model.CurrentStatus == "26" || @Model.CurrentStatus == "18") {
        var Val = $("#IsFirstOccurence").val();
                if (Val == "2") {
            //commented on 06-01-2020
                    $("#divAnyOtherInvestigations").show();
                    tblAnyOtherInvestigation();
                    //$("#divPreliminaryAssessmentList").show();
                    //funtblPreliminaryAssessmentList();
            //end commented on 06-01-2020

            if (@Model.CurrentStatus=="1" || @Model.CurrentStatus=="2" || @Model.CurrentStatus=="7") {
    }
}
                else {
                    //commented on 06-01-2020
                    $("#divAnyOtherInvestigations").hide();
                    //$("#divPreliminaryAssessmentList").hide();
                    //end commented on 06-01-2020

}
}
            </script>

            <!--End FirstOccurence Div hide and show for QA Review-->
            <!--AnyOtherInvestigations Div hide and show for QA Review -->
            <script>
    if (@Model.CurrentStatus=="2" || @Model.CurrentStatus=="3" || @Model.CurrentStatus=="7" || @Model.CurrentStatus=="17" || @Model.CurrentStatus=="6" || @Model.CurrentStatus=="9" || @Model.CurrentStatus == "21" || @Model.CurrentStatus == "13" || @Model.CurrentStatus == "11" || @Model.CurrentStatus == "10" || @Model.CurrentStatus == "14" || @Model.CurrentStatus == "25" || @Model.CurrentStatus == "15" || @Model.CurrentStatus == "20" || @Model.CurrentStatus == "19" || @Model.CurrentStatus == "16" || @Model.CurrentStatus == "27" || @Model.CurrentStatus == "12" || @Model.CurrentStatus == "24" || @Model.CurrentStatus == "8" || @Model.CurrentStatus == "26" || @Model.CurrentStatus == "18") {
        var Val = $("#AnyOtherInvestigations").val();
                if (Val == "1") {
            //commented on 06-01-2020
                    $("#divPreliminaryAssessmentList").show();
                    funtblPreliminaryAssessmentList();
                    //$("#divAnyOtherInvestigations").show();
                    //tblAnyOtherInvestigation();
            //end commented on 06-01-2020
        }
                else {
                    //commented on 06-01-2020
                    $("#divPreliminaryAssessmentList").hide();
                    //$("#divAnyOtherInvestigations").hide();
                    //end commented on 06-01-2020
        }
   }
            </script>
            <!--End AnyOtherInvestigations Div hide and show for QA Review -->
            <!--QA Review Fields disable mode-->
            <script>
                $("#AnyOtherInvestigations").prop('disabled', true).css("color", "disabled");
                $("#IsFirstOccurence").prop('disabled', true).css("color", "disabled");
                $("#FO_Comments").prop('disabled', true).css("cursor", "no-drop");
                $("#AOI_Comments").prop('disabled', true).css("cursor", "no-drop");
                $("#HODComments").prop('disabled', true).css("cursor", "no-drop");
            </script>
            <!--End QA Review Fields disable mode-->
            <!--Incident Tabs visibility true and false based on Role and condition-->
            <script>
    $("#CAPATab").hide();
    $("#InvestigationTab").hide();
    $("#ClassificationTab1").hide();
    $("#HodReviewCommentsTab").hide();
    $("#DocumentsTab").hide();
    if (@Model.CountFiles != 0) {
        $("#DocumentsTab").show();
    }
                if (@Model.CurrentStatus =="6" || @Model.CurrentStatus == "9" || @Model.CurrentStatus == "21" || @Model.CurrentStatus == "12"
                    || @Model.CurrentStatus == "13" || @Model.CurrentStatus == "11" || @Model.CurrentStatus == "10"
                    || @Model.CurrentStatus == "14" || @Model.CurrentStatus == "25" || @Model.CurrentStatus == "15"
                    || @Model.CurrentStatus == "20" || @Model.CurrentStatus == "19" || @Model.CurrentStatus=="16"
                    || @Model.CurrentStatus=="27" || @Model.CurrentStatus=="26" || @Model.CurrentStatus=="18") {
                    $("#InvestigationTab").show();
                }

                function preassmntNext() {
                    $('.InvestigationTab').addClass('active');
                    $('.PreliminaryAssessmentTab').removeClass('active');
                    $('.InvestsubTab').addClass('active');
                    $('.preasstab').removeClass('active');
                    $('.DocumentsTab').removeClass('active');
                    loadInvestigationTabContent();
                }
    function QANext() {
        if (@Model.CurrentStatus=="3" || @Model.CurrentStatus=="17") {
        $('.ClassificationTab1').addClass('active');
        $('.PreliminaryAssessmentTab').removeClass('active');
        $('.Classtab').addClass('active');
        $('.preasstab').removeClass('active');
        $("#ClassificationTab1").show();
        var comments = $("#QA_Comments").val();
        $("#ApproveQA_Comments").val(comments);
    }
}
function HodReviewNextbtn() {
    if (@Model.CurrentStatus=="9") {
        $('.HodReviewCommentsTab').addClass('active');
        $('.InvestigationTab').removeClass('active');
        $('.HODsubtab').addClass('active');
        $('.InvestsubTab').removeClass('active');
        $("#HodReviewCommentsTab").show();
        $("#dvHodReviewComments").show();
    }
}
   function HodActionPlanNextbtn() {

    if (@Model.CurrentStatus=="21" || @Model.CurrentStatus == "12" || @Model.CurrentStatus == "13" || @Model.CurrentStatus == "11" || @Model.CurrentStatus == "10" || @Model.CurrentStatus == "14" || @Model.CurrentStatus == "25" || @Model.CurrentStatus == "15" || @Model.CurrentStatus == "20" || @Model.CurrentStatus == "19" || @Model.CurrentStatus=="16" || @Model.CurrentStatus=="27" || @Model.CurrentStatus=="26" || @Model.CurrentStatus=="18") {
        $('.CAPATab').addClass('active');
        $('.InvestigationTab').removeClass('active');
        $('.CAPASubTab').addClass('active');
        $('.InvestsubTab').removeClass('active');
       $('#removeCollapsedMain').removeClass('collapsed');
       $('#collapseCAPAsub').addClass('show');

        $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
                IncidentCAPAListCalling();
        $("#CAPATab").show();
        var comments = $("#HodCapaRevertComments").val();
                $("#HodCapaComments").val(comments);
                var Val = $("#IsTrainingDDlYesNo").val();
                if (Val == "2") {
                    $("#divtblIncidentTTS_List").show();
                    functblIncidentTTS_List();
                    $("#DivAddtraining").show();
                }
                else {
                    $("#divtblIncidentTTS_List").hide();
                    $("#DivAddtraining").hide();
                }
    }
}

if (@Model.CurrentStatus == "12" || @Model.CurrentStatus == "13" ||@Model.CurrentStatus== "15"|| @Model.CurrentStatus == "16" || @Model.CurrentStatus == "27" || @Model.CurrentStatus == "26" || @Model.CurrentStatus == "18") {
        $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        $("#CAPATab").show();
    }
            </script>
            <!--End Incident Tabs visibility true and false based on Role and condition-->
            <script>
                $("#RootCauseDesc").prop('disabled', true).css("cursor", "no-drop");
                $("#QImpConclusion").prop('disabled', true).css("cursor", "no-drop");
                $("#QNonImpConclusion").prop('disabled', true).css("cursor", "no-drop");
                $("#IsTrainingDDlYesNo").prop('disabled', true).css("cursor", "no-drop");
                $("#ImmediateCorrection").prop('disabled', true).css("cursor", "no-drop");
                $("#EvaluationandDispostion").prop('disabled', true).css("cursor", "no-drop");
            </script>
            <!--Jquery Data table Incident TTS List Details -->
            <script>
    function functblIncidentTTS_List() {
        $('#tblIncidentTTS_List').wrap('<div class="dataTables_scroll" />');
        var oTable2 = $('#tblIncidentTTS_List').DataTable({
            columns: [
                { 'data': 'RowNumber' }, //0
                { 'data': 'TTSID' },//1
                { 'data': 'TTSDocName' }, //2
                { 'data': 'TTSDept' },//3
                { 'data': 'TTSTypeofTraining' },//4
                { 'data': 'TTSAuthor' }, //5
                { 'data': 'TTSQA' },//6
                //{ 'data': 'TTSDate' },//7
                { 'data': 'TTSStatus' }, //7
                {
                    "mData": null,       //8 Delete Hod's
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="view" title="View" onclick=funViewTrainig(this,' + o.TTSID + ')>' + '' + '</a>'; }
                    }
                },
                {
                    "mData": null,       //9 History NoteToFile
                    "bSortable": false,
                    "mRender": function (o) {

                        { return '<a class="View" title="History" href="#"   onclick=ViewHistory(this,' + o.TTSID + ',"506")>' + '' + '</a>'; }
                    }
                }
            ],
            "language": {
                "infoFiltered": ""
            },
            "scrollY": "335px",
            "scrollX": "auto",
            "scrollCollapse": true,
                "paging": true,
                "bDestroy": true,
            "lengthChange": false,//hide show entites

            "lengthMenu": [[10, 15, 20, 1000], [10, 15, 20, "All"]],
                "aoColumnDefs": [{ className: "comment more", "targets": [6] },{ className: "textAlignCenter", "targets": [8,9] },
                {
                "targets": [0, 1],
                "visible": false,
                "searchable": false
            }],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/QMS/Incident/GetIncidentTTS_List")",
            "fnServerData": function (sSource, aoData, fnCallback) {

                aoData.push({ "name": "IncidentMasterID", "value":@Model.IncidentMasterID },
                 { "name": "IncidentCurrentStatus", "value":@Model.CurrentStatus });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (result.hasError == true) {
                                custAlertMsg(result.data, "error", "ReloadDashboard();");
                            }
                            else {
                                fnCallback(result);
                                $("#tblIncidentTTS_List").show();
                                $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                $(".tblIncidentTTS_ListClass").css({ "width": "100%" });
                                $(".dataTables_filter").css({ "display": "none" });
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            }
        });
    }
function ReloadtbleTTSList() {
$('#tblIncidentTTS_List').DataTable().ajax.reload()
}
            </script>
            <script>
                function loadInvestigationTabContent() {
            var divPartialView = $("#InvestigationHtmlContent");
            divPartialView.empty();
            divPartialView.load("@Url.Content("~/QMS/Incident/InvestigationPV")");

             var divPartialView1 = $("#IncidentInvestigationHasAffectedPVHtmlContent");
            divPartialView1.empty();
            divPartialView1.load("@Url.Content("~/QMS/Incident/IncidentInvestigationHasAffectedPV")");

            @*var divPartialView2 = $("#divHasAffectedDocumentPV");
            divPartialView2.empty();
            divPartialView2.load("@Url.Content("~/QMS/Incident/HasAffectedDocumentPV")");*@

            var divPartialView3 = $("#divIncidentInvestigationReviewPV");
            divPartialView3.empty();
            divPartialView3.load("@Url.Content("~/QMS/Incident/IncidentInvestigationReviewPV")");

            var divPartialView4 = $("#divFileUploadsinIncidentPV");
            divPartialView4.empty();
            divPartialView4.load("@Url.Content("~/QMS/Incident/FileUploadsinIncidentPV")");

            var divPartialView5 = $("#divSendIncidentforHodsReviewPV");
            divPartialView5.empty();
            divPartialView5.load("@Url.Content("~/QMS/Incident/SendIncidentforHodsReviewPV")");
        }

            </script>
            <script>
        function LoadDocuments() {
            var divPartialView7 = $("#DivIncidentDocumentsContent");
            divPartialView7.empty();
            divPartialView7.load("@Url.Content("~/QMS/Incident/AllFileUploadsPV")");
        }
            </script>
            <!--On Demand Load Content tabs-->
            <script>
                $('#InvestigationTab').on('click', function () {
                    loadInvestigationTabContent();
                    $('.DocumentsTab').removeClass('active');
                });
                $('#DocumentsTab').on('click', function () {
                    LoadDocuments();
                });
                $('#IncHistoryTab').on('click', function () {
                    var hdncolumns = [0,3]
            LoadGetHistory(@Model.IncidentMasterID, hdncolumns,1);
                    $('.DocumentsTab').removeClass('active');
                });
                $('#PreliminaryAssessmentTab').on('click', function () {
                    $('.DocumentsTab').removeClass('active');
                });
                $('#ClassificationTab1').on('click', function () {
                    $('.DocumentsTab').removeClass('active');
                });
                $('#HodReviewCommentsTab').on('click', function () {
                    $('.DocumentsTab').removeClass('active');
                });
                $('#CAPATab').on('click', function () {

                    IncidentCAPAListCalling();
                    // GetIncidentCAPA_List();
                    var Val = $("#IsTrainingDDlYesNo").val();
                    if (Val == "2") {
                        $("#divtblIncidentTTS_List").show();
                        functblIncidentTTS_List();
                        $("#DivAddtraining").show();
                    }
                    else {
                        $("#divtblIncidentTTS_List").hide();
                        $("#DivAddtraining").hide();
                    }
                    $('#removeCollapsedMain').removeClass('collapsed');
                    $('#collapseCAPAsub').addClass('show');
                    // $("#tblIncidentCapaList").DataTable().ajax.reload()
                    $('.DocumentsTab').removeClass('active');
                });
            </script>
            <script>
                function IncidentCAPAListCalling()//For CAPA List Calling
                {
                    var hideAcplanColumns = [];
                if (@Model.CurrentStatus=="21" || @Model.CurrentStatus=="10" || @Model.CurrentStatus=="25" || @Model.CurrentStatus=="20") {
                    if (@TempData["ShowType"]==12)//Main List
                    {
                        hideAcplanColumns = [0, 7, 9, 10];
                    }
                    else {
                        hideAcplanColumns = [0, 1, 7, 11];
                    }
                }
                else if (@Model.CurrentStatus=="16" || @Model.CurrentStatus=="27") {
                    hideAcplanColumns = [0,7,9,10];
                }
                else {
                    hideAcplanColumns = [0,1,7, 9, 10];
                    }
                GetEventsCAPAList("@Model.IncidentMasterID", 1, hideAcplanColumns,0);//this method existing in Shared/QMS/_EventCAPAList
                }
            </script>
        }
<!-- Exception Message -->
<script>
    function ExecptionMsg() {
        var Err = "@ViewBag.Exception";
    if (Err != "") {
        errors = [];
        errors.push(Err);
        custAlertMsg(errors.join("<br/>"), "error", "ReloadDashboard();");
    }
}
</script>
<!--For showing Show more , Show Less for Brief Description of Incident-->
<script>
    $(document).ready(function () {
        var showChar = 150;
        var ellipsestext = "...";
        var moretext = "Show more";
        var lesstext = "Show less";
        $('.more').each(function () {
            var content = $(this).html().trim();
            if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar - 1, content.length - showChar);
                var html = c + '<span class="moreellipses">' + ellipsestext + '</span><span class="morecontent"><span>' + h + '</span><a href="" class="morelink">' + moretext + '</a></span>';
                $(this).html(html);
            }
        });
        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            }
            else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    });
</script>
<!--end-->
<!--22-07-2019 To GetEvent CAPA Count-->
@*<script>
      $(document).ready(function () {
          EventCAPA_Count("@Model.IncidentMasterID", 1);
      });
      function EventCAPA_Count(IncidenMasterID, ActionplanID) {
             var errors = [];
             $.ajax({
                 url: '/QMS/Incident/GettingEventCAPACount',
                 type: "GET",
                 dataType: "JSON",
                 data: { BaseID: IncidenMasterID, QualityTypeID: ActionplanID },
                 success: function (eventcapacount) {
                     var capacount = eventcapacount;
                     if (capacount == 0) {
                         if (@Model.CurrentStatus == "12" || @Model.CurrentStatus == "13" || @Model.CurrentStatus == "15") {
                             $("#IncidentEventCAPAMain").hide();
                         }
                     }
                 }
             });
     }
    </script>*@
<!--End-->
            <!--ML Function Calling-->
<script>
    if ("@Model.MLIncidentStatus" == "True") {
        GetDescriptionForML(@Model.IncidentMasterID, "@Model.IRNumber");
    }
    else {
        $("#divNoMLDescription").show();
    }

</script>
<!--End-->
<script>
    $(document).ready(function () {
        $("#HOD_InvestigationNotes").prop('disabled', true).css("cursor", "no-drop");
    });
</script>
<script>
    //For calling partial view on TTS Incident History
 //Implemented to avoid double click
    function ViewHistory(doubleclick, TTSID, number) {
            $(doubleclick).attr("onclick", "").unbind("click");
            ShowPleaseWait('show');
            $("#OpenTTSHistory").load("@Url.Content("~/QMS/Capa/TransactionHistory")?id=" + TTSID + "&&EventType=" + number, function () {
            ShowPleaseWait('hide');
            $('#myModalTransHistory').modal('show');
            $('#myModalTransHistory').on('shown.bs.modal', function (e) {
                var hdnColumns = [0, 3, 7, 8]
            LoadQMSEventsHistory(TTSID, hdnColumns, number,@Model.CurrentStatus);
            });
            $(doubleclick).attr("onclick", "ViewHistory(this," + TTSID + "," + number+")").unbind("click");
            });
         }
</script>
