﻿@model QMS_BO.QMS_Incident_BO.IncidentBO

<div id="MyModalViewIncident" class="modal department fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" style="max-width:70%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Incident Report</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body Modalpopup-Scroll">
                <div class="col-12 padding-none">
                    <div class="col-6 float-left">
                        <label class=" custom_label col-form-label">Department<span class="mandatoryStar">*</span></label>
                        @Html.EditorFor(model => model.IncidentViewDeptName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    </div>
                    <div class="col-6 float-left">
                        <label class=" custom_label col-form-label"> Incident Number<span class="mandatoryStar">*</span></label>
                        @Html.EditorFor(model => model.IRNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", disabled = "disabled" } })
                    </div>
                    <!--This div is for MainList-->
                    <div class="col-6 float-left">
                        <label for="" class="custom_label col-form-label">Date of Occurrence<span class="mandatoryStar">*</span></label>
                        @Html.EditorFor(model => model.OccurrenceDate, new { htmlAttributes = new { @id = "OccurrenceDatelbl", @class = "form-control login_input_sign_up", disabled = "disabled" } })
                    </div>
                    <!--This div is for MainList-->
                    <div class="col-3 float-left">
                        <label for="" class="custom_label col-form-label">Date of Report<span class="mandatoryStar">*</span></label>
                        @Html.EditorFor(model => model.IncidentReportDate, new { htmlAttributes = new { @id = "IncidentReportDatelbl", @class = "form-control login_input_sign_up", disabled = "disabled" } })
                    </div>
                    <div class="col-3 float-left">
                        <label for="" class="custom_label col-form-label">Due Date<span class="mandatoryStar">*</span></label>
                        @Html.EditorFor(model => model.IncidentDueDate, new { htmlAttributes = new { @class = "form-control login_input_sign_up", disabled = "disabled" } })
                    </div>
                    @*<div class="col-6 float-left" style="display:none;">
            <label class=" custom_label col-form-label"> Document Type<span class="mandatoryStar">*</span></label>
            @Html.DropDownList("DocumentType", Model.ddlDocumentTypeList as List<SelectListItem>, htmlAttributes: new { @id = "DocumentType", @class = " col-12  padding-none selectpicker drop_down", disabled = "disabled", @onchange = "GetReferenceNumber(2);" })
        </div>*@
                    <div class="col-6 float-left">
                        <label class=" custom_label col-form-label"> Document Type<span class="mandatoryStar">*</span></label>
                        @Html.EditorFor(model => model.TypeofDocumentName, new { htmlAttributes = new { @class = "form-control ", name = "TypeofDocumentName", @readonly = "readonly", disabled = "disabled" } })
                    </div>
                    <!--Start This is for Main List-->
                    @*<div class="col-6 float-left" id="divReferenceNumberview" style="display:none;">
            <label class=" custom_label col-form-label">Reference Document No.<span class="mandatoryStar">*</span></label>
            @Html.DropDownList("ReferenceNumber", null, "Select", htmlAttributes: new { @id = "ReferenceNumber", @class = " col-12 padding-none selectpicker drop_down ", @onchange = "GetDocumentName();", disabled = "disabled" })
        </div>
        <div class="col-6 float-left" id="divEnterOtherDOCRefNoview" style="display:none">
            <label for="" class="custom_label col-form-label">Reference Document No</label>
            @Html.EditorFor(Model => Model.OtherDOCRefNo, new { htmlAttributes = new { @class = "form-control ", name = "DocTitle", disabled = "disabled" } })
        </div>*@
                    <div class="col-6 float-left" id="divEnterOtherDOCRefNoview" >
                        <label for="" class="custom_label col-form-label">Reference Document No</label>
                        @Html.EditorFor(model => model.DocumentNo, new { htmlAttributes = new { @class = "form-control ", name = "DocTitle", @readonly = "readonly", disabled = "disabled" } })
                    </div>
                    <!--End This is for Main List-->
                    <!--Document Name auto fill-->
                    <div class="col-12 float-left" id="divdocNameReadOnly">
                        <label class=" custom_label col-form-label"> Document Name<span class="mandatoryStar">*</span></label>
                        @Html.EditorFor(model => model.DocName, new { htmlAttributes = new { @class = "form-control ", name = "DocName", @readonly = "readonly", disabled = "disabled" } })
                    </div>
                    <div class="col-12 float-left" id="divEnterDocNo" style="display:none">
                        <label for="" class="custom_label col-form-label">Document Name</label>
                        @Html.EditorFor(Model => Model.DocTitle, new { htmlAttributes = new { @class = "form-control ", name = "DocTitle", @rows = 3, disabled = "disabled" } })
                    </div>
                    <div class="col-12 float-left">
                        <label class=" custom_label col-form-label">Brief Description of Incident<span class="mandatoryStar">*</span></label>
                        @Html.TextAreaFor(model => model.IncidentDesc, new { @class = "", @cols = 80, @rows = 3, disabled = "disabled", style = "cursor: not-allowed" })
                    </div>
                    <div>
                        @Html.Partial("~/Areas/QMS/Views/Incident/AllFileUploadsPV.cshtml")
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--Start This is for Main List-->
                <div class="col-6 float-left top bottom" id="dvddlHod">
                    <label class="custom_label col-form-label  float-left"> Assign To Hod<span class="mandatoryStar">*</span>: &nbsp;</label>
                    @Html.DropDownList("EmployeeName", null, "Select", htmlAttributes: new { @class = "col-7  padding-none  drop_down selectpicker ", disabled = "disabled" })
                </div>
                <!--End This is for Main List-->
                <div class="col-6  padding-none top">
                    <div class="float-right">
                        <button type="button" id="btnViewClose" class="btn btn-cancel_popup" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>

@*<script>
    $(document).ready(function () {
    $("#DocName").attr('title', '@Model.DocName');
    $("#DocTitle").attr('title', '@Model.DocTitle');
    var v1 =@Model.DocumentType;
    if (v1 == "0") {
        $("#divEnterDocNo").show();
        $("#divEnterOtherDOCRefNo").show();
        $("#divdocNameReadOnly").hide();
        $("#divReferenceNumber").hide();
        $("#divReferenceNumberview").hide();
        $("#divEnterOtherDOCRefNoview").show();
    }
    else {
        $("#divdocNameReadOnly").show();
        $("#divEnterDocNo").hide();
        $("#divEnterOtherDOCRefNo").hide();
        $("#divReferenceNumber").show();
        $("#divReferenceNumberview").show();
        $("#divEnterOtherDOCRefNoview").hide();
    }
});
</script>*@
<!--For Pre populating Custom Alert messages while submitting the form if any errors-->
<script>
    $(document).ready(function () {
        var Err = "@ViewBag.Error";
    if (Err != "") {
        errors = [];
        errors.push(Err);
        custAlertMsg(errors.join("<br/>"), "error");
    }
    else {
    }
});
</script>
