﻿@model QMS_BO.QMS_Incident_BO.IncidentBO
<div class="card-header header_col_sub_child collapsed liInvest" id="liInvestigation" data-toggle="collapse" href="#collapse-1-1-1" aria-expanded="false" aria-controls="collapse-1-1-1">
    <a class="card-title " role="button">
        Investigation
    </a>
</div>
<div id="collapse-1-1-1" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-1">
    <div class="card-body col-12 float-left grid_assgin">
        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  bottom padding-none">
                <div class=" col-xl-6 col-md-6 col-sm-12 col-lg-6 float-left col-12 top  ">
                    <label class=" custom_label col-form-label required">What Happened :</label>
                    @Html.TextAreaFor(model => model.WhatHappen, new { @class = "", @cols = 80, @rows = 3, @onkeyup = "return ModifyInvestiagtionTabColor();", @autofocus = "autofocus", maxlength = 500 })
                </div>
                <div class=" col-xl-6 col-md-6 col-sm-12 col-lg-6 float-left col-12 top  ">
                    <label class=" custom_label col-form-label required">When Happened :</label>
                    @Html.TextAreaFor(model => model.WhenHappen, new { @class = "", @cols = 80, @rows = 3, @onkeyup = "return ModifyInvestiagtionTabColor();", @autofocus = "autofocus", maxlength = 500 })
                </div>
                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  bottom ">
                    <label class=" custom_label col-form-label required">Where Happened :</label>
                    @Html.TextAreaFor(model => model.WhereHappen, new { @class = "", @cols = 80, @rows = 3, @onkeyup = "return ModifyInvestiagtionTabColor();", @autofocus = "autofocus", maxlength = 500 })
                </div>
            </div>
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  ">
                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none bottom grid_assgin">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none header_sub bottom">Who are the people involved:</div>
                    @if (TempData["ShowType"].ToString() == "12" || TempData["ShowType"].ToString() == "13")
                    {
                    }
                    else
                    {
                        if (Model.CurrentStatus == "6" || Model.CurrentStatus == "11" || Model.CurrentStatus == "14" || @Model.CurrentStatus == "19")
                        {
                            <div class=" float-left col-3">
                                <label class=" custom_label padding-none col-lg-12 col-form-label required">Department</label>
                                @Html.DropDownList("ddlAllDepartments", null, htmlAttributes: new { @id = "ddlAllDepartments", @class = " col-lg-12  padding-none  drop_down selectpicker1", @onchange = "GetAllEmployees();"})
                            </div>
                            <div class=" float-left col-3  ">
                                <label class=" custom_label padding-none col-lg-12 col-form-label required">Employee</label>
                                @Html.DropDownList("ddlAllEmployee", new SelectList(Enumerable.Empty<SelectListItem>()), "Select", htmlAttributes: new { @id = "ddlAllEmployee", @class = "col-lg-12  padding-none  drop_down selectpicker1", multiple = "multiple" })
                            </div>
                            <div id="divbtnAddWhoarethepeopleinvolved" class=" float-left col-6 bottom" style="margin-top:26px;">
                                <button type="button" id="btnAddWhoarethepeopleinvolved" data-toggle="modal" class="btn btn-signup_popup" onclick="AddWhoarethepeopleinvolved();">Add</button>
                            </div>
                        }
                    }
                    <div id="DeletePopup"></div>
                    <div id="divWhoarethepeopleinvolvedList" class="col-xl-12 col-md-12 bottom col-sm-12 col-lg-12 float-left col-12 top padding-none">
                        <table id="tblWhoarethepeopleinvolved" class="table  datatable_cust table-striped table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>UniqueID</th>
                                    <th>Department</th>
                                    <th>Employee Name</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    if (@Model.CurrentStatus=="9" || @Model.CurrentStatus=="21" || @Model.CurrentStatus=="12" || @Model.CurrentStatus=="13" || @Model.CurrentStatus=="10" || @Model.CurrentStatus=="25" || @Model.CurrentStatus == "15" || @Model.CurrentStatus=="20" || @Model.CurrentStatus=="16" || @Model.CurrentStatus == "27" || @TempData["ShowType"].ToString() == "12" || @TempData["ShowType"].ToString() == "13") {
        $("#AnyOtherInvestigations").prop('disabled', true).css("cursor", "no-drop");
        $("#IsFirstOccurence").prop('disabled', true).css("cursor", "no-drop");
        $("#WhatHappen").prop('disabled', true).css("cursor", "no-drop");
        $("#WhenHappen").prop('disabled', true).css("cursor", "no-drop");
        $("#WhereHappen").prop('disabled', true).css("cursor", "no-drop");
        $("#tblWhoarethepeopleinvolved").find("input,button,textarea,select").attr("disabled", "disabled").css("color", "disabled");
    }
</script>
<script>
    function GetAllEmployees() {
        var DeptID = $('#ddlAllDepartments').val();
        var errors = [];
        var IncidentMasterId=@Model.IncidentMasterID
        $.ajax({
            url:  '@Url.Content("~/QMS/Incident/GetAllEmployees")',
            type: "GET",
            dataType: "JSON",
                data: { DeptID: DeptID, IncidentMasterID:IncidentMasterId },
            success: function (Result) {
                if (Result.msgRedirecttoLoginPage) //Singal Instance
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else{
                    if (Result.hasError == true) {
                        errors.push(Result.data);
                        custAlertMsg(errors.join("<br/>"), "error");
                        return false;
                    }
                    else {
                        var numbers = Result;
                        var option = '';
                        $("#ddlAllEmployee").html(""); // clear before appending new list
                        for (var i = 0; i < numbers.length; i++) {
                            $("#ddlAllEmployee").append(
                                $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                        }
                        $('#ddlAllEmployee').selectpicker('refresh');
                    }
                }
            }
        });
    }
</script>
<!--Hide Columns-->
<script>
    var hC_tblWhoPI = [];
    if (@Model.CurrentStatus=="6" || @Model.CurrentStatus=="11"|| @Model.CurrentStatus=="14" || @Model.CurrentStatus=="19") {
        hC_tblWhoPI = [1];
    }
    else
        {
        hC_tblWhoPI = [1,4];
        }
</script>
<!--End Hide Columns-->
<!--Jquery Datatable Who are the people involved List Details -->
<script>
    //function funtblWhoarethepeopleinvolved() {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        });
        $('#tblWhoarethepeopleinvolved').wrap('<div class="dataTables_scroll" />');
        var oTable2 = $('#tblWhoarethepeopleinvolved').DataTable({
            columns: [
                { 'data': 'RowNumber' }, //0
                { 'data': 'UniquePKID' },//1
                { 'data': 'DeptName' }, //2
                { 'data': 'EmpName' },//3
                {
                    "mData": null,       //4 Edit Incident
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="delete" title="Remove" onclick=funDeleteWhoarethepeopleinvolved(' + o.UniquePKID + ')>' + '' + '</a>'; }
                    }
                },
            ],

            "scrollY": "335px",
            "scrollX": "auto",
            "paging": true,
            "bDestroy": true,
            "order": [[1, "desc"]],
            "lengthChange": false,//hide show entites
            "lengthMenu": [[10, 15, 20, 1000], [10, 15, 20, "All"]],
            "aoColumnDefs": [{ className: "dt-body-left", "targets": [3] },
                { className: "textAlignCenter", "targets": [0,4] }, { "orderable": false, "targets": [0] },
                {
                    "targets": hC_tblWhoPI,
                "visible": false,
                "searchable": false
            }],
            'bAutoWidth': true,

            "sAjaxSource": "@Url.Content("~/QMS/Incident/GetWhoarethepeopleinvolvedList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "IncidentMasterID", "value":@Model.IncidentMasterID });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (result.hasError == true) {
                                custAlertMsg(result.data, "error", "ReloadDashboard();");
                            }
                            else {
                                fnCallback(result);
                                $("#tblWhoarethepeopleinvolved").show();
                                $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                //$(".tblWhoarethepeopleinvolvedClass").css({ "width": "100%" });
                                $(".dataTables_filter").css({ "display": "none" });
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            }
        });
       // }

    function ReloadWhoarethepeopleinvolved() {
        $('#tblWhoarethepeopleinvolved').DataTable().ajax.reload()
        GetAllEmployees();
        $("#ddlAllDepartments").val("0");
        $("#ddlAllEmployee").val("-1");
        $("#ddlAllDepartments").selectpicker('refresh');
        $("#ddlAllEmployee").selectpicker('refresh');
}
</script>
<!--End Jquery Datatable Who are the people involved List Details -->
<script>
    function AddWhoarethepeopleinvolved() {
        errors = [];
        var _DeptID = $('#ddlAllDepartments').val();
        if (_DeptID == "" || _DeptID == "0") { errors.push("Select Department."); }
        var EmpID = document.getElementById('ddlAllEmployee');
        var EmpIDs = [];
        for (var i = 0; i < EmpID.options.length; i++) {  //multi-select dropdown id's from view to controller.
            if (EmpID.options[i].selected) {
                EmpIDs.push(EmpID.options[i].value);
            }
        }
        if (EmpIDs == "" || EmpIDs == "0") { errors.push("Select Employee."); }
        if (errors.length > 0) {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        var IncidentId =@Model.IncidentMasterID;
        if (_DeptID != "0" && EmpIDs != "0") {
            $.ajax({
                url: '/QMS/Incident/AddWhoarethepeopleinvolved',
                data: {
                    "DeptID": _DeptID, "IncidentMasterID": IncidentId, "EmpIDs": EmpIDs,//1-hod review pending
                },
                type: 'Post',
                success: function (JsonResultErrata) {
                    if (JsonResultErrata.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (JsonResultErrata.hasError == false) {
                            errors.push("Employee(s) Added Successfully.");
                            custAlertMsg(errors.join("<br />"), "success", "ReloadWhoarethepeopleinvolved();");
                            return false;
                        }
                        else {
                            errors.push(JsonResultErrata.data);
                            custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                            return false;
                        }
                    }
                }
            });
        }
    }
</script>
<script>
    var pryUniquePKID = 0;
    function funDeleteWhoarethepeopleinvolved(ID) {
        pryUniquePKID = ID;
        custAlertMsg("Are you sure you want to Remove this record ?", "confirm", "DeletefunDeleteWhoarethepeopleinvolved();")
    }
    function DeletefunDeleteWhoarethepeopleinvolved() {
         errors = [];
            if (pryUniquePKID != '') {
                $.ajax({
                    url: '@Url.Content("~/QMS/Incident/DeleteWhoarethepeopleinvolved")',
                    data: {
                        'UniquePKID': pryUniquePKID,
                    },
                    type: 'Post',
                    success: function (result) {
                        if (result.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (result.hasError == true) {
                                errors.push(result.data);
                                custAlertMsg(errors.join("<br/>"), "error");
                                return false;
                            }
                            else {
                                errors.push("Removed Successfully.");
                                custAlertMsg(errors.join("<br/>"), "success", "ReloadWhoarethepeopleinvolved();");
                                $('#ModalConfirm').modal('hide');
                            }
                        }
                    }
                });
            }
    }
</script>
<script>
    $(document).ready(function () {
        $('.selectpicker1').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
        $('#accordion-1-1').on('shown.bs.collapse', function () {
            $($.fn.dataTable.tables(true)).DataTable()
                .columns.adjust();
        });
    });
</script>
<script>
    function ModifyInvestiagtionTabColor() {
        var whthpn = $('#WhatHappen').val();
        var whrhpn = $('#WhereHappen').val();
        var whnhpn = $('#WhenHappen').val();
        if (isSubmit) {  //css style for investiagtion tab will be change only after click on Submit isSubmit-true
            if (whthpn != '' && whrhpn != '' && whnhpn != '') {
                $('#liInvestigation').removeClass('header_col_sub_error').addClass('header_col_sub_child');
                return true;
            }
            else {
                $('#liInvestigation').addClass('header_col_sub_error').removeClass('header_col_sub_child');
                return false;
            }
        }
    }
</script>

