﻿@model QMS_BO.QMS_Incident_BO.IncidentBO
<div class="card-header header_col_sub_child collapsed " id="liOthers" data-toggle="collapse" href="#collapse-1-1-7" aria-expanded="false" aria-controls="collapse-1-1-7">
    <a class=" card-title " role="button">
        Other Departments Hod's Review
    </a>
</div>
<div id="collapse-1-1-7" class="collapse" data-parent="#accordion-1-1" aria-labelledby="heading-1-1-1">
    <div class="card-body col-12 float-left padding-none grid_assgin">

        <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  bottom padding-none">
            <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none ">
                <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none bottom ">
                    <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none  bottom ">
                        @if (TempData["ShowType"].ToString() == "12" || TempData["ShowType"].ToString() == "13")
                        {
                        }
                        else
                        {
                            if (Model.CurrentStatus == "6" || Model.CurrentStatus == "11" || Model.CurrentStatus == "14" || Model.CurrentStatus == "19")//for only Investigator
                            {
                                <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 float-left col-3  ">
                                    <label class=" custom_label padding-none col-lg-12 col-form-label required">Department</label>
                                    @Html.DropDownList("ddlAllDepartmentsforhods", null, htmlAttributes: new { @id = "ddlAllDepartmentsforhods", @class = " col-lg-12  padding-none  drop_down selectpicker1", @onchange = "GetAllHods();" })
                                </div>
                                <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 float-left col-3  ">
                                    <label class=" custom_label padding-none col-lg-12 col-form-label required">Hod Names</label>
                                    @Html.DropDownList("ddlAllHodEmployees", new SelectList(Enumerable.Empty<SelectListItem>()), "Select", htmlAttributes: new { @id = "ddlAllHodEmployees", @class = "col-lg-12   padding-none  drop_down selectpicker1", multiple = "multiple" })
                                </div>
                                <div id="divbtnAddHods" class="col-xl-2 col-md-2 col-sm-2 col-lg-12 float-left col-2 bottom" style="margin-top:26px;">
                                    <button type="button" id="btnAddHods" data-toggle="modal" class="btn btn-signup_popup" onclick="AddHods();">Add</button>
                                </div>
                            }
                        }
                        <div id="divIncidentDeptHodReviewList" class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none">
                            <table id="tblIncidentDeptHodReviewList" class="table datatable_cust table-striped table-bordered" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>UniqueID</th>
                                        <th>Department</th>
                                        <th>Hod Name</th>
                                        <th>Submitted Date</th>
                                        <th>Status</th>
                                        <th>Comments</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function GetAllHods() {
        var DeptID = $('#ddlAllDepartmentsforhods').val();
        var errors = [];
        //if (DeptID != 0) {
            $.ajax({
                url: '@Url.Content("~/QMS/Incident/GetAllHodEmployees")',
                type: "GET",
                dataType: "JSON",
                data: { DeptID: DeptID, IncidentMasterID:@Model.IncidentMasterID },
                success: function (Result) {
                    if (Result.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (Result.hasError == true) {
                            errors.push(Result.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                        else {
                            var numbers = Result;
                            var option = '';
                            $("#ddlAllHodEmployees").html(""); // clear before appending new list
                            for (var i = 0; i < numbers.length; i++) {
                                $("#ddlAllHodEmployees").append(
                                    $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                            }
                            $("#ddlAllHodEmployees").val("0");
                            $("#ddlAllDepartmentsforhods").selectpicker('refresh');
                            $("#ddlAllHodEmployees").selectpicker('refresh');
                        }
                    }
                }
            });
        }
   // }
</script>
<script>
       var hideColumnshodlst = [];
    if (@Model.CurrentStatus=="6" || @Model.CurrentStatus=="11" || @Model.CurrentStatus=="14" || @Model.CurrentStatus=="19") {
        hideColumnshodlst = [1,4,6];
    }
    else{
        hideColumnshodlst = [1,7];
    }
</script>
<!--Jquery Datatable Who are the people involved List Details -->
<script>
   function funtblIncidentDeptHodReviewList() {

            $('#tblIncidentDeptHodReviewList').wrap('<div class="dataTables_scroll" />');
        var oTable2 = $('#tblIncidentDeptHodReviewList').DataTable({
            columns: [
                { 'data': 'RowNumber' }, //0
                { 'data': 'UniquePKID' },//1
                { 'data': 'DeptName' }, //2
                { 'data': 'EmpName' },//3
                { 'data': 'HodSubmittedDate' },//4
                { 'data': 'HodReviewStatus' }, //5
                { 'data': 'DeptHodReviewComments' },//6
                {
                    "mData": null,       //7 Delete Hod's
                    "bSortable": false,
                    "mRender": function (o) {
                        { return '<a class="delete" title="Remove" onclick=funDeleteHods(' + o.UniquePKID + ')>' + '' + '</a>'; }
                    }
                },
            ],
            "scrollY": "335px",
            "scrollX": "auto",
            "paging": true,
            "bDestroy": true,
            "order": [[1, "desc"]],
            "lengthChange": false,//hide show entites
            "lengthMenu": [[10, 15, 20, 1000], [10, 15, 20, "All"]],
            "aoColumnDefs": [{ className: "comment more", "targets": [6] },
                { className: "textAlignCenter", "targets": [0,7] }, { "orderable": false, "targets": [0] }, {
                "targets": hideColumnshodlst,
                "visible": false,
                "searchable": false
            }],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/QMS/Incident/GetIncidentDepartmentReviewHodList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                aoData.push({ "name": "IncidentMasterID", "value":@Model.IncidentMasterID });
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (result.hasError == true) {
                                custAlertMsg(result.data, "error", "ReloadDashboard();");
                            }
                            else {
                                fnCallback(result);
                                $("#tblIncidentDeptHodReviewList").show();
                                $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                //$(".tblIncidentDeptHodReviewListcls").css({ "width": "100%" });
                                $(".dataTables_filter").css({ "display": "none" });
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            }
            });
 }
    function ReloadHodtbl() {
        $('#tblIncidentDeptHodReviewList').DataTable().ajax.reload()
        GetAllHods();
        $("#ddlAllDepartmentsforhods").val("0");
        $("#ddlAllHodEmployees").val("-1");
        $("#ddlAllDepartmentsforhods").selectpicker('refresh');
        $("#ddlAllHodEmployees").selectpicker('refresh');
}
</script>
<!--End Jquery Datatable Who are the people involved List Details -->
<script>
    function AddHods() {
        errors = [];
        var _DeptID = $('#ddlAllDepartmentsforhods').val();
        if (_DeptID == "" || _DeptID == "0") { errors.push("Select Department."); }
        var EmpID = document.getElementById('ddlAllHodEmployees');
        var EmpIDs = [];
        for (var i = 0; i < EmpID.options.length; i++) {  //multi-select dropdown id's from view to controller.
            if (EmpID.options[i].selected) {
                EmpIDs.push(EmpID.options[i].value);
            }
        }
        if (EmpIDs == "" || EmpIDs == "0") { errors.push("Select Hod Names."); }
        if (errors.length > 0) {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        var IncidentId =@Model.IncidentMasterID;
        if (_DeptID != "0" && EmpIDs != "0") {
            ShowPleaseWait('show');
            $.ajax({
                url: '/QMS/Incident/AddDeptHodsforReview',
                data: {
                    "DeptID": _DeptID, "IncidentMasterID": IncidentId, "ApproveStatus": 1, "EmpIDs": EmpIDs,//ApproveStatus : 1 -hod review pending
                },
                type: 'Post',
                success: function (JsonResultIncident) {
                    ShowPleaseWait('hide');
                    if (JsonResultIncident.msgRedirecttoLoginPage) //Singal Instance
                    {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else{
                        if (JsonResultIncident.hasError == false) {
                            errors.push("Hod(s) Added Successfully.");
                            custAlertMsg(errors.join("<br />"), "success", "ReloadHodtbl();");
                            return false;
                        }
                        else {
                            errors.push(JsonResultIncident.data);
                            custAlertMsg(errors.join("<br/>"), "error", "CloseElectronic();");
                            return false;
                        }
                    }
                }
            });
        }
    }
</script>
<script>
    var pryUniquePKID = 0;
    function funDeleteHods(ID) {
        pryUniquePKID = ID;
        custAlertMsg("Are you sure you want to Remove this record ?", "confirm", "DeletefunDeleteHods();")
    }
    function DeletefunDeleteHods() {
            errors = [];
            if (pryUniquePKID != '') {
                ShowPleaseWait('show');
                $.ajax({
                    url: '@Url.Content("~/QMS/Incident/DeleteDeptHodsforReview")',
                    data: {
                        'UniquePKID': pryUniquePKID,
                    },
                    type: 'Post',
                    success: function (result) {
                        ShowPleaseWait('hide');
                        if (result.msgRedirecttoLoginPage) //Singal Instance
                        {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else{
                            if (result.hasError == true) {
                                errors.push(result.data);
                                custAlertMsg(errors.join("<br/>"), "error");
                                return false;
                            }
                            else {
                                errors.push("Removed Successfully.");
                                custAlertMsg(errors.join("<br/>"), "success", "ReloadHodtbl();");
                                $('#ModalConfirm').modal('hide');
                            }
                        }
                    }
                });
            }
    }
</script>
<script>
    $(document).ready(function () {
        $('.selectpicker1').selectpicker({
            liveSearch: true,
            showSubtext: true,
            size: 7
        });
    });
</script>
<script>
    $("#liOthers").click(function () {
        funtblIncidentDeptHodReviewList();
    });
</script>

