﻿@model Aizant_API_Entities.AizantIT_TypeOfIncident

<div id="myModalTypeOfIncidentCreate" class="modal department fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content padding-none">
            <div class="modal-header">
                <h4 class="modal-title" id="myModal-label">Category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
                    @Html.Label("Category:", htmlAttributes: new { @class = "custom_label col-form-label required" })
                    <div class="col-12 padding-none">
                        @Html.EditorFor(model => model.TypeofIncident, new { htmlAttributes = new { @class = "form-control", @maxlength = 50 } })
                        @Html.ValidationMessageFor(model => model.TypeofIncident, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none " id="divTypeOfStatus">
                    @Html.Label("Description", htmlAttributes: new { @class = "custom_label col-form-label" })
                    <div class="col-12 padding-none">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @maxlength = 250 } })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Create" class="btn-signup_popup" id="Submit" onclick="AddTypeChange(this)" />
                <button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    function AddTypeChange(cntrl) {
       
        $(cntrl).attr("onclick", "").unbind("click");
        errors = [];
        var TypeofIncident = $("#TypeofIncident").val().trim().replace(/  +/g, ' ');
        var Description = $("#Description").val();
        if (TypeofIncident != "") {
            var change = {
                "TypeofIncident": TypeofIncident, "Description": Description,
            };
            ShowPleaseWait('show');
            $.post("@Url.Content("/QMS/Incident/TypeOfIncidentSubmit")", change,
                function (aiz) {
                    ShowPleaseWait('hide');
                    $(cntrl).attr("onclick", "AddTypeChange(this)").unbind("click");
                    if (aiz.msgRedirecttoLoginPage) {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (aiz.hasError == true) {
                            errors.push(aiz.data);
                            custAlertMsg(errors.join("<br/>"), "error");

                            return false;
                        }
                        else {

                            if (aiz) {
                                errors.push("Category Created Successfully.");
                                custAlertMsg(errors.join("<br/>"), "success", "ReloadDropdown();");
                                return false;
                            } else {
                                errors.push("Category already Exists.");
                                custAlertMsg(errors.join("<br/>"), "error");
                                return false;
                            }
                        }
                    }
                }, 'json');
        } else {
            $(cntrl).attr("onclick", "AddTypeChange(this)").unbind("click");
            errors.push("Enter Category.");
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
</script>

<script>
    function ReloadDropdown() {
        $.ajax({
            url: '@Url.Content("/QMS/Incident/RefreshTypeIncident")',
            type: "GET",
            dataType: "JSON",
            data: {},
            success: function (impList1) {
                if (impList1.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    if (impList1.hasError == true) {
                        custAlertMsg(impList1.data, "error");
                    } else {
                        var numbers = impList1;
                        var option = '';
                        $("#TypeofCategoryID").html(""); // clear before appending new list
                        for (var i = 0; i < numbers.length; i++) {
                            $("#TypeofCategoryID").append(
                            $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                        }
                        $('#TypeofCategoryID').selectpicker('refresh');
                    }
                }
            }
        });
        $('#myModalTypeOfIncidentCreate').modal('hide');
        //Datatable Reload form Index Page
        //$('#tblTypechange').DataTable().ajax.reload();
    }
    $('#TypeofIncident').keypress(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
</script>
