﻿@model Aizant_API_Entities.AizantIT_TypeChangeMaster

@using (Html.BeginForm())
{
    <div id="myModalEditTypeChange" class="modal department fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModal-label">Edit Type of Change</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="">
                <div class="col-sm-12 padding-none" style="float:none !important;">
                    @Html.AntiForgeryToken()               
                     
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.TC_ID)

                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                        @Html.Label("Type of Change", htmlAttributes: new { @class = "custom_label col-form-label required" })
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.TypeofChange, new { htmlAttributes = new { @class = "form-control", @maxlength = 100 } })
                            @Html.ValidationMessageFor(model => model.TypeofChange, "", new { @class = "text-danger" })
                        </div>
                    </div>

                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 float-left padding-none ">
                            @Html.Label("Status", htmlAttributes: new { @class = "custom_label col-form-label" })
                            <div class="col-12 padding-none">
                                @Html.DropDownListFor(model => model.Currentstatus, new SelectList(new[]
                        { new { Value = "true", Text = "Active" },new { Value = "false", Text = "In-Active" },}, "Value", "Text", Model), new { @class = "selectpicker drop_down col-12 padding-none" })

                            </div>
                        </div> 
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left padding-none">
                            <label class=" custom_label col-form-label required"> Comments</label>
                            @Html.TextArea("comments", new { htmlAttributes = new { @class = "form-control ",@id="txtComments", @rows = "3" }, maxlength = 500 })
                        </div>
                        </div>
             
            </div>
            <div class="modal-footer">
                <input type="button" value="Update" class="btn-signup_popup" onclick="EditTypechange()" />
                <button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>
            </div>
        </div>
    </div>
        </div>

}


    <script>
        function Reload1() {
            $('#myModalEditTypeChange').modal('hide');
            //Datatable Reload form Index Page
            $('#tblTypechange').DataTable().ajax.reload();

        }
        function Edits() {
            CutAlert();
            SaveEmployee1();
        }
        function EditTypechange() {
            errors = [];
            var TypeofChange = $("#TypeofChange").val().trim().replace(/  +/g, ' ');
        var Currentstatus = $("#Currentstatus").val();
        var Comments = $("#comments").val().trim();
        var TC_ID = $("#TC_ID").val();
        if (TypeofChange == "") {
            errors.push("Enter Type Of Change.");
        }
        if (Comments == "") {
            errors.push("Enter Comments.");
        }
        if (TypeofChange != "" && Comments!="") {
            var Typechange = {
                "TypeofChange": TypeofChange, "Currentstatus": Currentstatus, "TC_ID": TC_ID, "Comments": Comments,
            };
            ShowPleaseWait('show');
            $.post("@Url.Content("~/QMS/TypeChangeMaster/Edit")", Typechange,
                function (aiz) {
                    ShowPleaseWait('hide');
                    if(aiz.msgRedirecttoLoginPage) {
                        window.location.href = '/UserLogin.aspx';
                    }else{
                    if (aiz.hasError == true) {
                        errors.push(aiz.data);
                        custAlertMsg(errors.join("<br/>"), "error");
                        return false;
                    }
                    else {

                        if (aiz!=0) {
                            errors.push("Type Of Change Updated Successfully.");
                            custAlertMsg(errors.join("<br/>"), "success", "Reload1();");
                            return true;
                        } else {
                            errors.push(" Type of Change  Already Exists. ");
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                    }
                }
                }, 'json');
        }else{
                custAlertMsg(errors.join("<br/>"), "error");
                return false;
        } 
        }
        $('#TypeofChange').keypress(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });
    </script>
    <script>
        $(function () {
            $(".selectpicker").selectpicker();
        });
    </script>