﻿@model Aizant_API_Entities.AizantIT_ItemMaster
@using (Html.BeginForm())
{
    <div id="myModalItemCreate" class="modal department fade" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content padding-none">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModal-label">Item</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
                        @Html.Label("Item Code", htmlAttributes: new { @class = "custom_label col-form-label required" })
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.ItemCode, new { htmlAttributes = new { @class = "form-control", @maxlength = 50 } })
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
                        @Html.Label("Item Name:", htmlAttributes: new { @class = "custom_label col-form-label required" })
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control", @maxlength = 100 } })
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
                        @Html.Label("Item Description:", htmlAttributes: new { @class = "custom_label col-form-label" })
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "form-control", @maxlength = 250 } })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Create" class="btn-signup_popup" id="Submit" onclick="AddItem(this)" />
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
    <script>
        function AddItem(cntrl) {
            $(cntrl).attr("onclick", "").unbind("click");
        errors = [];
        var ItemCode1 = $("#ItemCode").val().trim().replace(/  +/g, ' ');
        if (ItemCode1 == "") {
            errors.push("Enter Item Code.");
        }
        var ItemName1 = $("#ItemName").val().trim().replace(/  +/g, ' ');
        if (ItemName1 == "") {
            errors.push("Enter Item Name.");
        }
        var Description = $("#ItemDescription").val().trim();
        if (ItemCode1 != "" && ItemName1 != "") {
            var change = {
                "ItemCode": ItemCode1, "ItemName": ItemName1, "ItemDescription": Description
            };
            ShowPleaseWait('show');
            $.post("@Url.Content("~/QMS/TypeChangeMaster/ItemMasterCreate")", change,
                function (aiz) {
                    ShowPleaseWait('hide');
                    $(cntrl).attr("onclick", "AddItem(this)").unbind("click");
                    if (result.msgRedirecttoLoginPage) {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (aiz.hasError == false) {
                            errors.push("Item Code Created Successfully.");
                            custAlertMsg(errors.join("<br/>"), "success", "ReloadDropdown();");
                            return false;
                        } else {
                            errors.push(aiz.data);
                            custAlertMsg(errors.join("<br/>"), "error");

                            return false;
                        }
                    }
                }, 'json');
        } else {
            $(cntrl).attr("onclick", "AddItem(this)").unbind("click");
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    </script>

    <script>
    function ReloadDropdown() {
        $.ajax({
            url: '@Url.Content("~/QMS/ChangeControl/RefreshItem")',
            type: "GET",
            dataType: "JSON",
            data: {},
            success: function (ItemList) {
                var numbers = ItemList;
                var option = '';
                $("#ItemCodeCreate").html(""); // clear before appending new list

                for (var i = 0; i < numbers.length; i++) {
                    $("#ItemCodeCreate").append(
                        $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                }
                $('#ItemCodeCreate').selectpicker('refresh');
            }
        });
        $('#myModalItemCreate').modal('hide');
        }
        $('#ItemName,#ItemDescription,#ItemCode').keypress(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });
    </script>



