﻿@model Aizant_API_Entities.AizantIT_Projects
@using (Html.BeginForm())
{
    <div id="myModalProjectCreate" class="modal department fade" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content padding-none">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModal-label">Project</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
                        @Html.Label("Project Number", htmlAttributes: new { @class = "custom_label col-form-label required" })
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.ProjectNumber, new { htmlAttributes = new { @class = "form-control",@maxlength = 50 } })
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
                        @Html.Label("Project Name", htmlAttributes: new { @class = "custom_label col-form-label required" })
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control", @maxlength = 150 } })
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  padding-none ">
                        @Html.Label("Project Description", htmlAttributes: new { @class = "custom_label col-form-label" })
                        <div class="col-12 padding-none">
                            @Html.EditorFor(model => model.ProjectDescription, new { htmlAttributes = new { @class = "form-control", @maxlength = 250 } })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" value="Create" class="btn-signup_popup" id="Submit" onclick="AddProject(this)" />
                    <button data-dismiss="modal" id="btnDeptCancel" class="btn-cancel_popup" runat="server" tabindex="10">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}
    <script>
        function AddProject(cntrl) {
            ShowPleaseWait('show');
            //$(cntrl).attr("onclick", "").unbind("click");
        errors = [];
        var ProNumber = $("#ProjectNumber").val().trim().replace(/  +/g, ' ');
        if (ProNumber == "") {
            errors.push("Enter Project Number.");
        }
        var ProName = $("#ProjectName").val().trim().replace(/  +/g, ' ');
        if (ProName == "") {
            errors.push("Enter Project Name.");
        }
        var Description = $("#ProjectDescription").val().trim();
        if (ProNumber != "" && ProName != "") {
            var change = {
                "ProjectNumber": ProNumber, "ProjectName": ProName, "ProjectDescription": Description
            };
            $.post("@Url.Content("~/QMS/TypeChangeMaster/ProjectMasterCreate")", change,
                function (aiz) {
                    ShowPleaseWait('hide');
                    //$(cntrl).attr("onclick", "AddProject(this)").unbind("click");
                    if (aiz.msgRedirecttoLoginPage) {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        if (aiz.hasError == false) {
                            errors.push("Project Number Created Successfully.");
                            custAlertMsg(errors.join("<br/>"), "success", "ReloadDropdown();");
                            return false;
                        } else {
                            errors.push(aiz.data);
                            custAlertMsg(errors.join("<br/>"), "error");
                            return false;
                        }
                    }
                }, 'json');
        } else {
            ShowPleaseWait('show');
            //$(cntrl).attr("onclick", "AddProject(this)").unbind("click");
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
    }
    </script>
    <script>
    function ReloadDropdown() {
        $.ajax({
            url: '@Url.Content("~/QMS/ChangeControl/RefreshProject")',
            type: "GET",
            dataType: "JSON",
            data: {},
            success: function (projectList) {
                var numbers = projectList;
                var option = '';
                $("#ProjectCreate").html(""); // clear before appending new list
                for (var i = 0; i < numbers.length; i++) {
                    $("#ProjectCreate").append(
                        $('<option></option>').val(numbers[i].Value).html(numbers[i].Text));
                }
                $('#ProjectCreate').selectpicker('refresh');
            }
        });
        $('#myModalProjectCreate').modal('hide');
        }

        $('#ProjectNumber,#ProjectName,#ProjectDescription').keypress(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });
    </script>