.btn-cancel_popup {
    background: #fff;
    border: 1px solid #f95a5a;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 10pt;
    color: #f95a5a;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}
    .btn-cancel_popup:hover {
        background: #f95a5a;
        border: 1px solid #f95a5a;
        border-radius: 4px;
        padding: 4px 10px;
        font-size: 10pt;
        color: #fff;
        font-family: seguisb;
        text-decoration: none;
        cursor: pointer;
    }
.btn-signup_popup {
    background: #fff;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 10pt;
    color: #38b8ba;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}
    .btn-signup_popup:hover {
        background: #38b8ba;
        border: 1px solid #38b8ba;
        border-radius: 4px;
        padding: 4px 10px;
        font-size: 10pt;
        color: #fff;
        font-family: seguisb;
        text-decoration: none;
        cursor: pointer;
    }
.btn-revert_popup {
    background: #fff;
    border: 1px solid #575757;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 10pt;
    color: #575757;
    font-family: seguisb;
    cursor: pointer;
}

    .btn-revert_popup:hover {
        background: #575757;
        border: 1px solid #575757;
        border-radius: 4px;
        padding: 4px 10px;
        font-size: 10pt;
        color: #fff;
        font-family: seguisb;
        cursor: pointer;
    }

.closebtn {
    font-size: 14pt;
    cursor: pointer;
    color: #fff;
    padding: 4px 10px;
    background: #38b8ba;
    border-radius: 4px;
    width: 36px;
    float: left;
    margin-bottom: 6px;
}

.closebtn1 {
    font-size: 14pt;
    cursor: pointer;
    color: #fff;
    padding: 4px 10px;
    background: #38b8ba;
    border-radius: 4px;
    width: 36px;
    float: left;
    margin-right: 10px;
    margin-bottom: 6px;
}
.btn-success_popup:hover {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #41ad49;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #41ad49;
    font-family: seguisb;
    cursor: pointer;
}

.btn-success_popup {
    margin-left: 4px;
    background: #41ad49;
    border: 1px solid #41ad49;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
    cursor: pointer;
}
.btn-info_popup:hover {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #0db4de;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #0db4de;
    font-family: seguisb;
    cursor: pointer;
}
.btn-warning_popup {
    background: #fff;
    border: 1px solid #b18100;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 10pt;
    color: #b18100;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}
    .btn-warning_popup:hover {
        background: #b18100;
        border: 1px solid #b18100;
        border-radius: 4px;
        padding: 4px 10px;
        font-size: 10pt;
        color: #fff;
        font-family: seguisb;
        text-decoration: none;
        cursor: pointer;
    }
.btn-info_popup {
    background: #fff;
    border: 1px solid #01a6f5;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 10pt;
    color: #01a6f5;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}

    .btn-info_popup:hover {
        background: #01a6f5;
        border: 1px solid #01a6f5;
        border-radius: 4px;
        padding: 4px 10px;
        font-size: 10pt;
        color: #fff;
        font-family: seguisb;
        text-decoration: none;
        cursor: pointer;
    }