@import url('../Common/common.css');
@import url('../fontscss/fonts_segoe_gly.css');
@import url('button.css');
@import url('../Common/Progress.css');
@import url('../CustAlerts/SingleCustAlert.css');
.login-panel {
    top: 130px;
    background: #fff;
    border: 4px solid #38b8ba;
    box-shadow: 0px 16px 29px;
    border-radius: 4px;
}
.login_panel_left {
    margin-left: 37.666667% !important;
}

.bg_login {
    background-color: #3e3e3e;
    background: url(../../Images/Login/bgLogin.jpg) no-repeat scroll center;
    background-size: cover;
    height: 100vh;
}

.opacity_login {
    background-color: #cdcdcd;
    opacity: 0.4;
    filter: blur(5px);
    height: 100vh;
    position: absolute;
}

.logo {
    padding: 22px;
    background: #fff;
}

.login_icon_bg {
    background: #38b8ba;
    padding: 0;
}

.user_login {
    background: url(../../Images/UserLogin/UserLoginIcon.png) no-repeat scroll 0px;
    font-weight: bold;
    font-size: 18pt;
    color: #fff;
    padding: 23px 55px 10px;
}

.custom_label_login {
    color: #38b8ba;
    font-size: 14px;
    text-align: left !important;
    font-family: seguisb;
}



.smallredLogin {
    color: red !important;
    font-size: 14pt !important;
    position: absolute;
    top: -3px;
}

.login_input {
    color: #000;
    border-bottom: 1px solid #bcb3b3 !important;
    border: none;
    border-radius: 0px !important;
    padding: 3px 0px !important;
}

.btn-login {
    background: #38b8ba;
    border: 1px solid #32a8cf;
    border-radius: 4px;
    padding: 8px 22px;
    font-size: 12pt;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.forget {
    font-weight: bold;
    color: #394444;
    font-size: 10pt;
    text-decoration: underline;
    margin-bottom: 10px;
    cursor: pointer;
}

.forget_sign {
    font-weight: bold;
    color: #394444;
    font-size: 10pt;
    text-decoration: underline;
    margin-bottom: 10px;
    cursor: pointer;
}

.copyrights {
    font-size: 10px;
    color: #38b8ba;
    font-family: seguisb;
    text-align: center;
    padding: 0px;
}
/*user registration*/
.sign_up_header {
    background: #38b8ba;
    color: #fff;
    padding: 10px;
    font-size: 12pt;
    font-weight: bold;
}

.close_button {
    margin-top: 0px;
    color: #fff;
    cursor: pointer;
}

.sign_up_form {
    background: #fff;
}

.custom_label_answer {
    color: #38b8ba;
    font-size: 10pt;
    margin-bottom: 6px;
    padding: 0px;
    margin-right: 0px;
    font-family: seguisb;
    text-align: left !important;
}


.answer_count {
    text-align: right;
    position: absolute;
    right: 0;
    font-size: 10pt;
    color: #38b8ba;
    z-index: 1;
    bottom: -23px;
}


/*---modal ---*/
.usersession_details {
    font-family: seguisb;
    color: #000;
}
.modalSession {
    color: #000;
    font-family: seguisb;
    
}
.modalNote {
    color: #f95a5a;
    font-size: 10pt;
}
.modalHint {
    font-size: 9pt;
}
.HeaderuserID {
    font-size: 14pt;
    color: #fff;
    text-transform: capitalize;
    padding: 2px;
}
.userID {
    font-size: 14pt;
    color: #38b8ba;
    text-transform: capitalize;
    font-family: seguisb;
}
.modalHint {
    font-size: 9pt;
}
.login_popup .modal-header {
    background: #38b8ba !important;
    color: #282726 !important;
    padding: 10px !important;
    border-bottom: 1px solid #15afc2 !important;
}

.login_popup .modal-body {
    padding: 8px 10px;
    border-bottom: 1px solid #15afc2 !important;
}

.login_popup .modal-footer {
    border-top: none !important;
}
/*errors popups*/
.popup_title {
    padding: 3px 14px;
    font-family: seguisb;
    font-size: 14pt;
}



@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 3px;
        margin-bottom: 0;
        text-align: left;
    }
}

@media only screen and (min-device-width : 1300px) and (max-device-width : 1500px) {
    .login-panel {
        background: #fff;
        border: 4px solid #075f6b;
        width: 32%;
        top: 130px;
    }
    .login_panel_left {
        margin-left: 37.666667% !important;
    }
}

@media only screen and (min-device-width : 1200px) and (max-device-width : 1900px) {
    .offset-4 {
        margin-left: 36.666667%;
    }
    
    }

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .login_inner {
        background: #1b1b15;
        opacity: 0.6;
        top: 21px;
        height: 464px;
        box-shadow: none;
    }
    .login_panel_left {
        margin-left: 29.666667% !important;
    }
    .login-panel {
        top: 109px;
      
    }
    .bg_login {
        background-color: #3e3e3e;
        background: url(../../Images/Login/bgLogin.jpg) no-repeat scroll center;
    }
}
/* (320x480) iPhone (Original, 3G, 3GS) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* insert styles here */
}

/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
    /* insert styles here */
}

/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
    /* insert styles here */
}

/* (480x800) Android */
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
    /* insert styles here */
}

/* (640x960) iPhone 4 & 4S */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
    /* insert styles here */
}

/* (720x1280) Galaxy Nexus, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
    .login-panel {
        top: 291px;
        background: #fff;
        border: 4px solid #38b8ba;
        box-shadow: 0px 16px 29px;
        border-radius: 4px;
    }
    .login_panel_left {
        margin-left: 29.666667% !important;
    }
}

/* (720x1280) Galaxy Nexus, Landscape */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
    /* insert styles here */
    .login-panel {
        top: 255px;
        background: #fff;
        border: 4px solid #38b8ba;
        box-shadow: 0px 16px 29px;
        border-radius: 4px;
    }
    .login_panel_left {
        margin-left: 37.666667% !important;
    }
    
}
@media only screen and (max-device-width: 1280px) and ( max-height: 800px ) and (orientation: landscape) {
    /* insert styles here */
    .login-panel {
        top: 50px;
        background: #fff;
        border: 4px solid #38b8ba;
        box-shadow: 0px 16px 29px;
        border-radius: 4px;
    }

    .login_panel_left {
        margin-left: 36.666667% !important
    }
}
/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* insert styles here */
}

/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* insert styles here */
}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* insert styles here */
}

/* (2048x1536) iPad 3 */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
    /* insert styles here */
}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
}

/* (1366x768) WXGA Display */
@media screen and (max-width: 1366px) {

}

/* (1280x1024) SXGA Display */
@media screen and (max-width: 1280px) {
    /* insert styles here */
}

/* (1440x900) WXGA+ Display */
@media screen and (max-width: 1440px) {
    /* insert styles here */
}

/* (1680x1050) WSXGA+ Display */
@media screen and (max-width: 1680px) {
    /* insert styles here */
}

/* (1920x1080) Full HD Display */
@media screen and (min-width: 1920px) {
    .login-panel {
        width: 26%;
    }
}

/* (1600x900) HD+ Display */
@media screen and (min-width: 1600px) {
    /* insert styles here */
}

.sectionimg {
    background-image: url('../images/session/session.png');
    background-size: cover;
}

.sessiontext {
    font-size: 21pt;
    color: #f84545;
    font-family: seguisb;
}

.sessionhead {
    font-family: seguisb;
    color: #f14c4c;
    padding: 3rem;
}
