﻿@model AizantIT_PharmaApp.Areas.AdminSetup.Models.ClientModel
<input type="hidden" name="hdnIsEditable" id="hdnIsEditableField" value="False" />

<!--Start Client List(Table)-->
<div class="col-12 padding-none" style="overflow:auto;">
    <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
        <table id="tblClient" class="table datatable_cust table-striped table-bordered top no-footer" style="width:100%">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>ClientID</th>
                    <th>Client Code</th>
                    <th>Client Name</th>
                    <th>IsActive</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>History</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!--End Client List(Table)-->
<!--History Modalpopup-->
<div class="modal" id="ClientHistoryModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog department modal-lg" style="max-width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">History</h4>
                <button type="button" class="close" onclick="return CloseHistoryModalpopup();">&times;</button>
            </div>
            <div class="modal-body" id="DeficiencyModalbody">
                <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
                    <table id="historyTable" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
                        <thead>
                            <tr id="tablerow">
                                @*<th>S.NO</th>*@
                                <th>PKID</th>
                                <th>Action By</th>
                                <th>Role</th>
                                <th>Action</th>
                                <th>Action Date</th> 
                                <th>Submitted Data</th>
                                <th>CommentLength</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>


<!--DataTableList-->
<script>
    var oclientTable
    $(function ()
    {
        $("#hdnIsEditableField").val("@ViewBag.IsDataList");
        GetClientList();
   });

    function GetClientList()
    {
        if (oclientTable != null)
        {
            oclientTable.destroy();
        }

        oclientTable=  $('#tblClient').DataTable({
            columns:
                [
                    { 'data': 'RowNumber' },//0
                    { 'data': 'ClientID' },//1
                    { 'data': 'ClientCode' },//2
                    { 'data': 'ClientName' },//3
                    { 'data': 'IsActive' },//4
                    { 'data': 'Status' },//5
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btnRegulatoryAgencyEdit edit_icon_feed Edit global_icon" title="Edit"  style="margin-left:0%" onclick="BindClientDetails(' + full.ClientID + ')"></a>';
                        }
                    },//6
                    {
                        "render": function (data, type, full, meta)
                        {
                            return '<a class="btnRegulatoryAgencyEdit summary_latest History"  title="History" style="margin-left:0%" onclick="HistoryClientDetailsList(' + full.ClientID + ')"></a>';
                        }
                    }//7
                ],
            "pagingType": "simple_numbers",
            "language":
            {
                "searchPlaceholder": "Search Records",
                "infoFiltered": "",
                "emptyTable": "No Records Available"
            },
            "processing": false,
            "orderClasses": false,
            "bDestroy": true,
            "order": [[1, "desc"]],
            "info": true,
            "scrollY": "380px",
            "scrollCollapse": true,
            "responsive": true,
            "paging": true,
            "search":
            {
                "regex": true,
            },
            //"bProcessing": true,
            "bServerSide": true,
            "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
             "aoColumnDefs": [{ "targets": [1,4], "visible": false }, { className: "dt-body-left", "targets": [2] }, { className: "textAlignCenter", "targets": [0,6,7] }, { "orderable": false, "targets": [0,6,7] }
            ],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/AdminSetup/Client/GetClientLists")",
            "fnServerData": function (sSource, aoData, fnCallback) {
               $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result)
                    {
                        if (result.hasError == true)
                        {
                            custAlertMsg(result.data, "error");
                        }
                        else
                        {
                            fnCallback(result);
                        }
                    },
                });
            }
        });

       //Hide the Edit & and history Fields
        if ($("#hdnIsEditableField").val() == "False")
        {
            $('#tblClient').DataTable().columns([6]).visible(false);
        }
    }
</script>


<!--History DataList-->
<script>
    function HistoryTable(clientID)
    {
        $('#historyTable').DataTable({
            columns:
                [
                   // { 'data': 'RowNumber' },//0
                    { 'data': 'PKID' },//1
                    { 'data': 'FirstName' },//2
                    { 'data': 'RoleName' },//3
                    { 'data': 'AuditActionName' },//4
                    {'data': 'ActionDate'},//5
                    { 'data': 'SubmittedData' },//6
                    { 'data': 'CommentLength' },//7
                    {

                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            if (o.CommentLength == 1) {
                                return '<td> <div class="more">' + o.Comments + '</div></td>';
                            }
                            else {
                                return o.Comments;
                            }
                        }
                    },//8

                ],
            "bDestroy": true,
            "bFilter": true,
            "bInfo": false,
            "aoColumnDefs": [{ className: "dt-body-left", "targets": [1, 2, 3, 4, 5] }, { className: "textAlignCenter", "targets": [0] }, { "orderable": false, "targets": [0, 1, 2, 3, 4, 5] }, { "targets": [0,5,6], "visible": false }],
            "sAjaxSource": "@Url.Content("~/AdminSetup/Client/EachHistoryDetails")",
            "fnServerData": function (sSource, aData, fnCallback) {
                Clength = aData.Commentlength;
                aData.push({ "name": "ClientID", "value":clientID});
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aData,
                    "success": function (result)
                    {

                        if (result.msgType == "error") {
                            custAlertMsg(result.msg, "error");
                        }
                        else {
                            fnCallback(result);
                            ShowType();
                        }
                    },
                });
            }
        });
    }

    function CloseHistoryModalpopup() {
        $("#ClientHistoryModal").hide();
        $('#ClientHistoryModal').modal('toggle');
    }
    //Show History modalpop
    function HistoryClientDetailsList(hstClientID) {
        $("#ClientHistoryModal").show();
        HistoryTable(hstClientID);
        $('#ClientHistoryModal').modal({ backdrop: 'static', keyboard: false });
    }

</script>
