﻿@model AizantIT_PharmaApp.Areas.AdminSetup.Models.ClientModel

@{
    ViewBag.Title = "Client Master";
    Layout = "~/Areas/AdminSetup/Views/Shared/_AdminSetupLayout.cshtml";
}

<input type="hidden" id="hdnClientID" value="0" />
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Client</div>
<div class="tab-content tab_content_assigment float-left col-lg-12 padding-none">
    @if (ViewBag.SysError != "" && ViewBag.SysError != null)
    {
        <div style="text-align:center;color:red">
            @ViewBag.SysError
        </div>
    }
    else
    {
        <div class="tab-pane active">
            <div class="grid_panel_hod col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                <div class="col-12 float-left padding-none" id="dvClientFields" style="border-bottom:1px solid #07889a;">
                    <div class="col-lg-12 float-left">
                        <div class="col-12 padding-none">
                            <!--Start Audit Client Create-->
                            <div class="col-12 float-left">
                                <div class="col-lg-3 float-left ">
                                    <div class="col-12 padding-none">
                                        <label class="float-left required" for="txtCreateClientName">Client Code</label>
                                        @Html.TextBoxFor(model => model.ClientCode, htmlAttributes: new { @class = "form-control ValidateAlphaNumericWithSpecialChars", @maxlength = 50, @placeholder = "Enter Client Code", @autocomplete = "off", id = "txtCreateClientCode", @onkeypress = "return ValidateAlphaNumericWithSpecialChars(event);" })
                                    </div>
                                </div>
                                <div class="col-lg-3 float-left padding-none">
                                    <div class="col-12 padding-none">
                                        <label class="float-left required" for="txtCreateClientName">Client Name</label>
                                        @Html.TextBoxFor(model => model.ClientName, htmlAttributes: new { @class = "form-control", @maxlength = 100, @placeholder = "Enter Client Name", @autocomplete = "off", id = "txtCreateClientName"})
                                    </div>
                                </div>

                                <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 top float-left col-3 bottom padding-none ">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 top text-left col-12 bottom padding-none ">
                                        <button type="button" class="top  btn btn-signup_popup" style="	margin-bottom:0px;" id="btnCreateClient" onclick="ClientCreate();">Add</button>
                                        <button type="button" class="top  btn btn-cancel_popup" style="margin-bottom:0px;" onclick="CloseModalpopup();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <!--End Audit Client Create-->
                        </div>
                    </div>
                </div>
                <div class="col-12 float-left top">
                    <div id='divBindPartialViews'></div>
                </div>

            </div>
        </div>
    }
</div>

<!--Client Update ModelPopUp -->
<div class="modal department" id="ClientModalpopup">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="CloseModalpopup();">&times;</button>
            </div>
            <div class="modal-body" id="modelbody">

                <div class="col-md-9 col-sm-9 col-lg-12 float-left col-9  padding-none" id="input2">
                    <label class=" col-12  custom_label col-form-label float-left required">Client Code</label>
                    <div class="col-12 float-left">
                        @Html.TextBoxFor(model => model.ClientCode, htmlAttributes: new { @class = "form-control ValidateAlphaNumericWithSpecialChars", @maxlength = 50, @placeholder = "Enter Client Code", @autocomplete = "off", id = "txtClientCode", @onkeypress = "return ValidateAlphaNumericWithSpecialChars(event);" })
                    </div>
                </div>
                <div class=" col-md-9 col-sm-9 col-lg-12 float-left col-9  padding-none" id="input1">
                    <label class="col-12  custom_label col-form-label float-left required" id="labelInputname">Client Name</label>
                    <div class="col-12 float-left">
                        @Html.TextBoxFor(model => model.ClientName, htmlAttributes: new { @class = "form-control", @maxlength = 100, @placeholder = "Enter Client Name", @autocomplete = "off", id = "txtClientName"})
                    </div>
                </div>
                <div class=" btn-group-toggle float-left radio_buttons col-12" data-toggle="buttons">
                    <label class="col-12 custom_label col-form-label float-left padding-none">Status:</label>
                    <label class="btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 " id="lblStatusActive">
                        <input type="radio" name="options" id="optionactive" autocomplete="off" value="true"> Active
                    </label>
                    <label class="btn btn btn-secondary col-sm-4 col-xs-4 col-lg-4 col-md-4" id="lblStatusInActive">
                        <input type="radio" name="options" id="optioninactive" autocomplete="off" value="false"> In Active
                    </label>
                </div>
                <div class="col-md-9 col-sm-9 col-lg-12 float-left col-9  padding-none" id="comment">
                    <label class=" col-12  custom_label col-form-label float-left">Reason For Change<span class="mandatoryStar">*</span> </label>
                    <div class="col-12 float-left">
                        <textarea class="col-12 form-control" rows="4" id="txtComments" maxlength="300" placeholder="Enter Reason For Changes"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-12 float-left text-right modal-footer">

                <button type="button" class="btn top btn-sm btn-signup_popup " id="btnEditClient" onclick="return UpdateClientDetails();"> Update</button>
                <button type="button" data-dismiss="modal" class="btn btn-sm top btn-cancel_popup" onclick="return CloseModalpopup();">Cancel</button>

            </div>
        </div>
    </div>
</div>

<!--Client DataList-->
<script>
    function LoadClientList()
    {

        $("#txtCreateClientName").val('');
        $("#txtCreateClientCode").val('');
        $("#divBindPartialViews").empty();
        $("#divBindPartialViews").prepend("<div style='text-align:center;font-weight: bold;font-size:14px;'>Loading...</div>");
        $("#divBindPartialViews").load("@Url.Content("~/AdminSetup/Client/Clientlist")?IsDataList=" + true);
    }
    $(function () {
    LoadClientList();
    });
    function Reload()
    {
            $("#ClientModalpopup").hide();
        $('#ClientModalpopup').modal('toggle');
        LoadClientList();
    }

</script>

<!--Create/Update Client data-->
<script>
    var Client_CodeName = "Client Code & Name Already Exists"
    var Client_Code = "Client Code Already Exists";
    var Client_Name = "Client Name Already Exists";
    function ClientCreate()
    {
         errors = [];
        var Client = {
            ClientCode: $("#txtCreateClientCode").val().trim().replace(/  +/g, ' '),
            ClientName: $("#txtCreateClientName").val().trim().replace(/  +/g, ' ')
        }
        if (Client.ClientCode == "")
        {
            errors.push("Enter Client Code.");
        }
        if (Client.ClientName == "")
        {
            errors.push("Enter Client Name.");
        }
        if (errors.length > 0)
        {
            custAlertMsg(errors.join("<br/>"), "error");
            return false;
        }
        else
        {
            ShowPleaseWait('show');
            $.post("@Url.Content("~/AdminSetup/Client/AddClientData")", Client,

                    function (result)
                    {
                        ShowPleaseWait('hide');
                        if (result.hasError == false)
                        {
                            custAlertMsg("Client Added.", "success", "LoadClientList();");
                            return true;
                        }
                        else if (result.hasError == "Warning")
                        {
                            if (result.data_Code == "Client_Code")
                            {
                                custAlertMsg(Client_Code, "warning");
                                return false;
                            }
                            if (result.data_Name == "Client_Name") {
                                custAlertMsg(Client_Name, "warning");
                                return false;
                            }
                            if (result.data_CodeName == "Client_CodeName") {
                                custAlertMsg(Client_CodeName, "warning");
                                return false;
                            }
                        }
                        else
                        {
                            custAlertMsg(result.msg, "error");
                            return false;
                        }
                    }, 'json');
        }
    }
    var CName = "", CCode = "", ActiveStatus="";
    //Bind Client data for fields

    function BindClientDetails(clientID)
    {
        $.ajax({
            url: '@Url.Action("BindClientDetails","Client")',
            type: "GET",
            dataType: "JSON",
            data: { ClientID: clientID },
            success: function (JsonResult)
            {
                EditClientDetails(JsonResult)
            }
        });
    }

    function EditClientDetails(JsonResult)  
    {
        $("#dvClientFields").hide();
        $("#ClientModalpopup").show();
        $("#hdnClientID").val(JsonResult.ClientID);
        $("#txtClientName").val(JsonResult.ClientName);
        $("#txtClientCode").val(JsonResult.ClientCode);
        $('#ClientModalpopup').modal({ backdrop: 'static', keyboard: false })
        CName = JsonResult.ClientName;
        CCode = JsonResult.ClientCode;
        ActiveStatus = JsonResult.IsActive;
        if (JsonResult.IsActive == true)
        {
            $('#lblStatusActive').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");
            $('#lblStatusInActive').removeClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");//Reomve the RadiobuttonClass for InActiveStatus
            $('#lblStatusInActive').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4");//Add the RadiobuttonClass for InActiveStatus
            $("#optionactive").attr('checked', 'checked');//Checked the RadioButton.
        }
        else
        {
            $('#lblStatusInActive').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");
            $('#lblStatusActive').removeClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4 active");//Reomve the RadiobuttonClass for ActiveStatus
            $('#lblStatusActive').addClass("btn btn btn-secondary float-left col-sm-4 col-xs-4 col-lg-4 col-md-4");
            $("#optioninactive").attr('checked', 'checked');//Checked the RadioButton.
        }
        $("#txtComments").val('');
    }
    //Update ClientDetails
   function UpdateClientDetails()
   {
       var UpdateClient = {
           ClientID:$("#hdnClientID").val(),
           ClientName: $("#txtClientName").val().trim().replace(/  +/g, ' '),
           ClientCode: $("#txtClientCode").val().trim().replace(/  +/g, ' '),
           IsActive: $('input[name=options]:checked').val(),
           Comment: $("#txtComments").val().trim()
       }
       var Status = String(ActiveStatus);
       if (CName == UpdateClient.ClientName && CCode == UpdateClient.ClientCode && Status == UpdateClient.IsActive)
       {
           custAlertMsg("There are no changes to update.", "warning");
           return false;
       }
       errors = [];
       if (UpdateClient.ClientName == "") {
           errors.push("Enter Client Name.");
       }
       if (UpdateClient.ClientCode == "") {
           errors.push("Enter Client Code.");
       }
       if (UpdateClient.Comment == "") {
           errors.push("Enter Reason For Change.");
       }
       if (errors.length > 0) {
           custAlertMsg(errors.join("<br/>"), "error");
           return false;
       }
       else {
           ShowPleaseWait('show');
           $.post("@Url.Content("~/AdminSetup/Client/EditClientDetails")",UpdateClient,
            function (result)
            {
                ShowPleaseWait('hide');
                if (result.hasError == false)
                {
                    custAlertMsg("Client Updated.", "success","Reload();");
                    $("#dvClientFields").show();
                    return true;
                }
                else if (result.hasError == "Warning")
                {
                    if (result.data_Code == "Client_Code") {
                        custAlertMsg(Client_Code, "warning");
                        return false;
                    }
                    if (result.data_Name == "Client_Name") {
                        custAlertMsg(Client_Name, "warning");
                        return false;
                    }
                    if (result.data_CodeName == "Client_CodeName") {
                        custAlertMsg(Client_CodeName, "warning");
                        return false;
                    }
                }
                else
                {
                    custAlertMsg(result.msg, "error");
                    return false;
                }
            },'json');
        }
    }
    //Clear the All Modalpopup fields and Close Modalpopup
    function CloseModalpopup()
    {
            $("#ClientModalpopup").hide();
            $("#dvClientFields").show();
            $("#txtCreateClientName").val('');
            $("#txtCreateClientCode").val('');
    }
</script>

<!--Show More and Less-->
<script>
    function ShowType() {
        var showChar = 150;
        var ellipsestext = "...";
        var moretext = "Show More";
        var lesstext = "Show less";
        $('.more').each(function () {
            var content = $(this).html();
            if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar - 1, content.length - showChar);
                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
                $(this).html(html);
            }
        });
        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    }
</script>
<script>
    $(function () {
        $('#ClientModalpopup').on('shown.bs.modal', function () {
            $('#txtClientCode').focus();
        });
    });
</script>
