﻿@model string
<link href=@Url.Content("~/Content/bootstrap-fileinput/css/fileinput.css") rel="stylesheet" />
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/fileinput.js")></script>
<script src=@Url.Content("~/AppCSS/Bootstrap/scripts/theme.js")></script>
@Html.Hidden("hdnFilesUploadCount",0)

<div id="modalFI_AttachmentUpload" class="modal department fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <!-- Modal content-->
        <div class="modal-content">
            <form id="formAuditUpload" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Upload Attachment</h4>
                    <button type="button" class="close" onclick="OnFileAttachmentUploadClose();">&times;</button>
                </div>
                <div class="modal-body" style="max-height:500px; overflow-y:auto; ">
                    <div id="divReponseUploderSection">
                        <div class=" col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                            <label class=" custom_label col-form-label"></label>
                            <div class="file-loading">
                                <input id="fiUploader" class="custom-file-input" type="file" multiple accept="application/msword,text/plain, application/pdf, image/*">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var AllFilesUploaded = 0;
    $("#fiUploader").fileinput({
             'theme': 'explorer-fa',
             'uploadUrl': @Model,
             'showUpload': true,
             'showCancel': false,
             'showClose':true,
             'maxFileCount': 5,
             'maxFileSize':10000,
             'required': true,
             'overwriteInitial': false,
             'allowedFileExtensions': ['jpg', 'png', 'docx', 'doc', 'pdf', 'txt','rtf'],
             'initialPreviewAsData': true,
             'uploadExtraData': function () {
                 var fileExtraData = {
                     "UploadedBaseID": $('#hdnUploadedBaseID').val()
                 }
                 return fileExtraData;
             },
             'browseOnZoneClick': true,
             'fileActionSettings': {
                showUpload: false,
                showRemove: true
             }
        });

    $('#fiUploader').on('fileuploaded', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        if (response.msg != null) {
            AllFilesUploaded = AllFilesUploaded + 1;
            if (AllFilesUploaded == parseInt($('#hdnFilesUploadCount').val()))
            {
                custAlertMsg(response.msg, response.msgType, 'clearFileInput()');
                loadFiAttachmentsList();
            }
        }
    });

    $('#fiUploader').on('filepreupload', function (event, data, previewId, index, jqXHR) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        AllFilesUploaded = 0;
        console.log(data.filescount);
        console.log(data.files.length);
        $('#hdnFilesUploadCount').val(data.filescount);
    });

    function clearFileInput() {
        $('#fiUploader').fileinput('clear');
    }
</script>