﻿/*----header css----*/
@import url('../fontscss/fonts_segoe_gly.css');
@import url('../Common/common.css');
@import url('userpopup_styles.css');
@import url('notification.css');
@import url('../ui components/tabs.css');

.logo_landing {
    box-shadow: 0px 0px 15px #3e3e3e;
    background: linear-gradient(to left, #232525, #535555, #898a8a, #c2c3c3, #ffffff);
    padding: 2px;
    z-index: 3;
}
.login_icon_bg {
    background: #c4cbcc;
    padding: 0
}
.logo {
    padding: 34px;
    background: #075f6b;
}
.landing_links {
    float: right;
}
.landing_links ul {
    margin: 0;
    padding: 0;
}
.landing_links ul li {
    list-style-type: none;
    display: inline;
}
.landing_links ul li a {
    list-style-type: none;
    display: inline;
    color: #fff;
    padding: 14px 10px 11px 48px;
    margin-top: 0px;
    float: left;
    font-size: 12pt;
    font-weight: bold;
}
.landing_links ul li a:hover {
    color: #00aac1;
    text-decoration: none;
}
.landing_links ul li a.home {
    background: url('../../../Images/Landing/sprite_landing.png') no-repeat;
    background-position: 10px 0px;
    padding: 24px 30px;
    border-left: 1px solid #fff;
    background-repeat: no-repeat;
}
.landing_links ul li a.home:hover {
    background-position: 10px -71px;
}
.landing_links ul li a.home.active {
    background: url(../../../Images/Landing/sprite_landing.png) no-repeat;
    background-position: 10px -71px;
}
.landing_links ul li a.profile {
    background: url(../../../Images/Landing/sprite_landing.png) no-repeat;
    background-position: 7px -142px;
    padding: 24px 30px;
}
.landing_links ul li a.profile:hover {
    background-position: 7px -213px;
}
.landing_links ul li a.profile.active {
    background: url(../../../Images/Landing/sprite_landing.png) no-repeat;
    background-position: 7px -213px;
}
.landing_links ul li a.user {
    background: url(../../../Images/Landing/sprite_landing.png) no-repeat;
    background-position: 0px -283px;
}
.landing_links ul li a.user:hover {
    background-position: 0px -340px;
}
.landing_links ul li a.user.active {
    background: url(../../../Images/Landing/sprite_landing.png) no-repeat;
    background-position: 0px -340px;
}
.landing_links ul li a.logout {
    background: url(../../../Images/Landing/sprite_landing.png) no-repeat;
    background-position: 6px -403px;
    padding: 24px 30px;
}
.landing_links ul li a.logout:hover {
    background-position: 6px -403px
}






