﻿/*----notification----*/
#notification_li {
    float: left;
}
#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    position: absolute;
    right: 0px;
    font-size: 11px;
    z-index: 9;
}
.landing_links ul li a.notification {
    background: url(../../../Images/Landing/sprite_landing.png) no-repeat;
    background-position: 6px -482px;
    padding: 24px 30px;
    border-left: 1px solid #fff;
    background-repeat: no-repeat;
    border-right: 1px solid #fff;
    cursor: pointer;
}
.landing_links ul li a.notification:hover {
    background-position: 6px -569px;
}
#notificationContainer {
    background-color: #fff;
    overflow: visible;
    position: absolute;
    top: 58px;
    right: 6px;
    width: 390px;
    z-index: 10;
    display: none;
}
    /*#notificationContainer:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        color: #000;
        border: 10px solid #38b8ba;
        border-color: transparent transparent #38b8ba;
        margin-top: -20px;
        margin-left: 190px;
    }*/
.notification_linkdiv {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    color: #000;
    border: 10px solid #38b8ba;
    border-color: transparent transparent #38b8ba;
    margin-top: 15px;
    margin-left: -12px;
}
#notificationTitle {
    font-weight: bold;
    padding: 8px;
    font-size: 12pt;
    background-color: #38b8ba;
    z-index: 1000;
    color: #fff;
    font-family: seguisb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #38b8ba;
}
#notificationsBody {
    max-height: 500px;
    border: 1px solid #38b8ba;
}
.ShowLess {
    max-height: 500px;
    padding: 10px;
}
.notifications_alerts {
    padding: 3px;
    margin: 0;
    overflow-y: auto;
    overflow-x:hidden;
}
/*unseen notification(New,Not visited)*/
.panel_list_notificaton_1 {
    border: 1px solid #38b8ba;
    float: left;
    width: 100%;
    background: #eff3f4;
    margin-bottom: 2px;
}
.ShowMore {
    max-height: 600px;
}
.NotifyMore {
    padding: 10px;
    background: #38b8ba;
    color: #fff;
    text-align: center;
    font-family: seguisb;
    font-size: 12pt;
    cursor: pointer;
}
#notificationFooter {
    background-color: #38b8ba;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #38b8ba;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#notificationFooter a {
    padding: 0px;
    width: 100%;
    border: none;
    color: #fff;
    background: none;
    float: none;
    font-family: seguisb;
}
.notifications_alerts ul {
    padding: 3px;
    margin: 0;
    height: 367px;
    overflow: auto;
}
.notifications_alerts ul li a {
    color: #38b8ba !important;
    padding: 6px 14px;
    font-size: 14px;
    color: #38b8ba !important;
    font-family: seguisb;
    text-decoration: underline;
    border: none;
}
.cancel_notify {
    position: absolute;
    right: 3px;
    font-family: seguisb;
    top: -6px;
    color: red;
    font-size: 14pt;
}
.panel_list_notificaton_new a {
    border-right: none !important;
}
.notifications_alerts a {
    color: #38b8ba !important;
    padding: 6px 14px !important;
    font-size: 14px !important;
    color: #38b8ba !important;
    font-family: seguisb;
    text-decoration: underline;
    border: none;
}
.CloseNotification {
    right: -4px;
    font-family: seguisb;
    top: -6px;
    color: red;
    font-size: 14pt;
    float: right;
    cursor: pointer;
}
/*seen notification (Old, Visited)*/
.panel_list_notificaton_2 {
    border: 1px solid #38b8ba;
    float: left;
    width: 100%;
    background: #fff;
    margin-bottom: 2px;
}
.moudle_time {
    float: right;
    color: #666666 !important;
    font-family: seguisb;
    font-size: 9pt;
    padding: 4px 0px;
}
.moudle_label_UMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #087d7e;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}
.moudle_label_VMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #478cf3;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}
.moudle_label_QMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #5970fb;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}
.moudle_label_DMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #ec4909;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}
.moudle_label_HRMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #dd7d0c;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}
.moudle_label_TMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #1c7d96;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}
.moudle_label_RA {
    border-radius: 4px;
    padding: 0 12px 0 11px;
    float: left;
    background: #6b7365;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}