﻿.btn-setting {
    background: transparent;
    color: #fff;
    font-family: seguisb;
    font-size: 12pt;
    padding: 10px;
    cursor: pointer;
}
.user_fav_icon {
    margin-top: -3px;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    float: left;
    margin-left: -4px;
    margin-right: 6px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown-menu {
    transition: none !important;
    margin: 0 !important;
    border: 1px solid #38b8ba;
    max-width: 438px !important;
    padding: 0 !important;
}
.dropdownmenu-left {
    top: 7px !important;
    left: 10px !important;
}
.img_nav {
    border: 1px solid #d4d4d4;
    border-radius: 50px;
    padding: 10px;
    width: 88px;
    height: 88px;
}
.username_nav {
    color: #2fa6b8;
    font-size: 16pt;
    text-align: left;
    padding: 4px 0px;
    word-wrap: break-word;
    text-transform: capitalize;
}
.department_nav {
    color: #fff;
    font-size: 10pt;
    text-align: left;
    word-wrap: break-word;
    padding: 0px;
    font-family: segoe-light;
}
.designation_nav {
    color: #fff;
    font-size: 10pt;
    text-align: left;
    padding: 2px;
    word-wrap: break-word;
    font-family: segoe-light;
}
.lastlogin {
    color: #fff !important;
    font-size: 9pt !important;
    padding: 0px 0px 0px 4px !important;
}
.mail_nav {
    color: #2fa6b8;
    font-size: 11pt;
    text-align: left;
    padding: 2px;
    word-wrap: break-word;
    font-family: seguisb;
}
.logindt {
    color: #cbefff !important;
}
.icon_label {
    padding: 10px 20px !important;
}
.log_nav {
    color: #2fa6b8;
    font-size: 10pt;
    text-align: left;
    padding: 2px;
    word-wrap: break-word;
    font-family: segoe-light;
}
.profileModalLabel {
    color: #38b8ba;
    font-size: 10pt;
    margin-top: 2px;
    margin-bottom: 7px !important;
}
.profile_defined {
    color: #043137;
    font-size: 12pt;
    margin: -3px;
    padding-left: 8px !important;
    text-align: justify;
    float: left;
}
.profile_text_pop {
    padding: 6px 0px;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    color: #000 !important;
}
.role_inner_grid_header {
    background: #dfecee;
    padding: 8px !important;
    color: #38b8ba;
    font-size: 12pt;
    font-family: seguisb;
    float: left;
}
.role_grid_header {
    background: #c0d4d7;
    padding: 8px !important;
    color: #38b8ba;
    font-size: 12pt;
    font-family: seguisb;
}
.roleHeader {
    color: #2e2e2e;
}
.innerroleHeader {
    color: #2e2e2e;
    font-size: 11pt;
}
.role_hide_visible {
    display: none;
}
.menu_list {
    width: 480px !important;
    background: #1f1f1f !important;
    padding: 7px 0px 0px 0px !important;
    margin: 0px !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    transform: translate3d(-285px, 44px, 0px) !important;
}
.menu_list li {
        width: 100%;
        float: left;
}
.menu_list li a {
            transition: all 0.3s ease-out;
            width: 100%;
            border-right: none !important;
            border-bottom: 1px solid #fff;
            font-weight: normal !important;
            font-family: seguisb;
}
.user_details_info a {
    color: #fff !important;
    text-transform: capitalize;
}
.headerList a {
    padding: 4px 0px !important;
}