

@font-face {
    font-family: Roboto-Bold;
    src: url(../../../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../../../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../../../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../../../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../../../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Glyphicons Halflings;
    src: url(../../../fonts/glyphicons-halflings-regular.eot);
}

@font-face {
    font-family: SEGOEUI;
    src: url(../../../fonts/SEGOEUI.ttf);
}

@font-face {
    font-family: seguisb;
    src: url('../../../fonts/seguisb.eot'); /* IE9 Compat Modes */
    src: url('../../../fonts/seguisb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    /*url('../../../fonts/seguisb.woff') format('woff'), /* Modern Browsers */
    url('../../../fonts/seguisb.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../../fonts/seguisb.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: SEGOEUI;
    src: url('../../../fonts/segoeui.eot'); /* IE9 Compat Modes */
    src: url('../../../fonts/segoeui.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    /*url('../../../fonts/segoeui.woff') format('woff'), /* Modern Browsers */
    url('../../../fonts/segoeui.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../../fonts/segoeui.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: segoe-light;
    src: url(../../../fonts/segoeuil.ttf);
}

@font-face {
    font-family: SEGOEUIB;
    src: url(../../../fonts/SEGOEUIB.ttf);
}

.inner-bg {
    background: #c9cecf;
}


.padding-none {
    padding: 0px !important;
}

.close_button {
    margin-top: 0px;
    color: #fff;
    cursor: pointer;
}

label {
    color: #38b8ba;
    font-family: seguisb;
    font-size: 10pt;
}

input {
    border: 1px solid #b4b8b8 !important;
    font-family: seguisb;
    font-size: 12pt !important;
}



/*---footer text-----*/
.footer_text {
    font-family: seguisb;
    font-size: 10pt;
    color: #38b8ba;
    margin-bottom: 0px;
}
/*-----datatable grid custom css------*/
.datatable_cust {
    top: 10px;
}

    .datatable_cust tbody tr:nth-of-type(odd) {
        background-color: #c0d4d7;
    }

    .datatable_cust tbody tr:nth-of-type(even) {
        background-color: #dcfafe;
    }

    .datatable_cust tbody tr th {
        background-color: #38b8ba;
    }

    .datatable_cust tbody tr td {
        border: 1px solid #dee2e6;
        padding: 5px 10px;
        font-size: 11pt;
        text-align: center;
    }

    .datatable_cust thead th {
        padding: 10px;
        border-right: 1px solid #c3c3c3;
        border-bottom: 1px solid #c3c3c3;
        background: #38b8ba;
        color: #fff;
        font-family: seguisb;
        text-align: center;
        font-size: 10pt;
    }

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 1px;
    border-bottom-color: #d4d4d4;
    padding: 6px;
    font-size: 10pt;
    font-family: SEGOEUI;
    text-align: left;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 0.9em;
    display: block;
    opacity: 1;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #dcfafe;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #c0d4d7;
}

.table-striped tbody tr:hover {
    background-color: #cad3d4;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: collapse !important;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: nowrap;
    font-size: 10pt;
    font-family: SEGOEUI;
    color: #38b8ba;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
    font-size: 10pt;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #38b8ba;
    border-color: #38b8ba;
}

.view {
    background: url(../../images/TMS_Images/view_tms.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.UploadIcon {
    background: url(../../../images/Icons/upload1.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.action_qms {
    background: url(../../../images/GridActionImages/action.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.ReportIcon_qms {
    /*background: url(../../Images/TMS_Images/DocSearch.png) no-repeat;*/
    background: url(../../Images/TMS_Images/ViewFile.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.viewEditRed {
    background: url(../../../images/TMS_Images/view.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
    ;
}

.delete_icon_feed {
    background: url('../../../Images/GridActionImages/del_grid.png') no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.edit_icon_feed {
    background: url(../../../images/edit.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.edit_icon_feed_qms {
    background: url(../../../Images/GridActionImages/edit.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.summary_latest {
    background: url(../../Images/GridActionImages/summary_latest.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}
/*-----custom style-----------*/
.outer_border {
    border: 1px solid #33a3b2;
    margin-top: 15px;
    background: #fff;
    padding: 4px;
    height: 702px;
    overflow: auto;
}

.closebtn {
    font-size: 14pt;
    cursor: pointer;
    color: #fff;
    padding: 4px 10px;
    background: #38b8ba;
    border-radius: 4px;
    width: 36px;
    float: left;
    margin-bottom: 6px;
}

.closebtn1 {
    font-size: 14pt;
    cursor: pointer;
    color: #fff;
    padding: 4px 10px;
    background: #38b8ba;
    border-radius: 4px;
    width: 36px;
    float: left;
    margin-right: 10px;
    margin-bottom: 6px;
}

.btn-dashboard {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 10pt;
    color: #38b8ba !important;
    margin-bottom: 0px;
    font-family: seguisb;
}

.padding-right_div {
    padding-right: 10px;
    padding-left: 0px;
}

.padding-left_div {
    padding-left: 6px;
    padding-right: 0px;
}

.panel-heading_title {
    background: #cdedee !important;
    padding: 10px;
    font-family: seguisb;
    font-size: 11pt;
    color: #418e8f;
    border-radius: 0px !important;
    border: 1px solid #38b8ba;
    border-bottom: none;
}

.grid_panel_hod {
    border: 1px solid #38b8ba;
    padding: 8px 0px !important;
}


.custom_label {
    padding-bottom: 2px;
    font-size: 14px;
    padding-right: 6px;
}
/*.form-control {
    
    padding: 3px 10px !important;
}*/
.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
    display: block;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li.hidden {
    display: none;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.drop_down .btn {
    background: #fff;
    padding: 0px 12px;
    color: #3e3e3e;
    border: 1px solid #8e8e8e !important;
    font-family: seguisb;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    resize: initial !important;
    /*max-height: 70px;*/
    background-color: #fff;
    padding: 2px 4px;
}

    textarea:disabled {
        background-color: #e9ecef !important;
    }

.btn-signup_popup {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #38b8ba !important;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt !important;
    color: #38b8ba !important;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}

    .btn-signup_popup:hover {
        margin-left: 4px;
        background: #38b8ba;
        border: 1px solid #38b8ba;
        border-radius: 4px;
        padding: 4px 8px;
        font-size: 10pt !important;
        color: #fff !important;
        font-family: seguisb;
        text-decoration: none;
        cursor: pointer;
    }

.btn-reject_popup {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #0d98b7;
    border-radius: 0;
    padding: 4px 22px;
    font-size: 13px !important;
    color: #609ad4;
    font-family: seguisb;
    border-radius: 4px;
}

    .btn-reject_popup:hover {
        margin-left: 4px;
        background: #0d98b7;
        border: 1px solid #0d98b7;
        border-radius: 0px;
        padding: 4px 22px;
        font-size: 13px !important;
        color: #fff;
        font-family: seguisb;
        border-radius: 4px;
    }

.btn-cancel_popup {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #f84545 !important;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt !important;
    color: #f84545 !important;
    font-family: seguisb;
    cursor: pointer;
}

    .btn-cancel_popup:hover {
        margin-left: 4px;
        background: #f84545;
        border: 1px solid #f84545;
        border-radius: 4px;
        padding: 4px 8px;
        font-size: 10pt !important;
        color: #fff !important;
        font-family: seguisb;
        cursor: pointer;
    }

.top {
    margin-top: 10px !important;
}

.profile_label {
    color: #38b8ba;
    font-size: 10pt;
    text-align: left;
    margin-bottom: 0px;
}

.profile_defined {
    color: #043137;
    font-size: 12pt;
    margin: -3px;
    padding-left: 8px !important;
    text-align: justify;
    float: left;
}

.userprofile_bg {
    padding: 10px;
}

.bottom {
    margin-bottom: 10px;
}

.department .modal-header {
    padding: 8px 14px;
    background: #38b8ba;
    color: #fff;
    font-size: 12pt;
}

.department .modal-title {
    font-size: 14px;
    color: #fff;
}

.department .modal-body {
    padding: 8px 16px;
}

.department .modal-footer {
    padding: 7px 16px 8px;
}
/*------tabs------*/

.tab_grid li a {
    border-right: 1px solid #38b8ba;
    padding: 7px 26px;
    border-radius: 0px !important;
    color: #064a53;
    font-family: seguisb;
    font-size: 14px;
    cursor: pointer;
}

.tab_grid .nav-link.active, .tab_grid .show > .nav-link {
    border-top: 3px solid #38b8ba !important;
}

/*-----checkbox-------*/
input[type='checkbox']:after {
    line-height: 0.3em;
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-left: -4px;
    border: 1px solid #0a9baf;
    border-radius: 2px;
    background: #fff;
}

.form-check-input {
    margin-top: 0;
}

input[type='checkbox']:checked:after {
    width: 18px;
    height: 18px;
    content: '✔';
    font-size: 24px;
    margin-left: -4px;
    float: left;
    color: #0a9baf;
    border: 1px solid #0a9baf;
}

.card-header:first-child {
    border-radius: 0px !important;
}

.card {
    border: none !important;
}

.grid_panel {
    border: 1px solid #38b8ba !important;
}

/*.tab_content {
    border-right: none;
    min-height: 300px;
    border-left: none;
}*/


.panel-heading_classfication {
    background: #cde8f6;
    padding: 10px;
    font-family: seguisb;
    font-size: 11pt;
    color: #191b1b;
    border-radius: 0px;
}

.assigment_panel {
    border-top: 1px solid #38b8ba;
    border-bottom: 1px solid #38b8ba;
    margin-bottom: -1px;
}

.radio_buttons {
    padding: 10px 10px 10px 13px;
}

.form-control {
    border: 1px solid #8e8e8e !important;
    padding: 0px 10px;
    height: 32px !important;
}

td.details-control {
    background: url('http://i.imgur.com/SD7Dz.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('http://i.imgur.com/SD7Dz.png') no-repeat center center;
}

.custom_model {
    width: 90%;
}

.dropdown-menu {
    border: 1px solid #38b8ba !important;
    max-width: 438px !important;
    padding: 0 !important;
}

.dropdownmenu-left {
    top: 6px !important;
    left: 6px !important;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    border-top: 1px solid #38b8ba;
    background: #fff;
}

    .bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
        border-top: 1px solid #38b8ba;
        background: #38b8ba;
        color: #fff;
    }

.dropdown-menu li a:hover {
    /*border-top: 1px solid #38b8ba;*/
    background: #38b8ba !important;
    color: #fff !important;
}

table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}

.grid_border {
    border: 1px solid #38b8ba;
    padding: 10px 0px;
}

.grid_assgin {
    border: 1px solid #38b8ba;
}


.lock {
    background-image: url('../../../Images/GridActionImages/locked.png');
    padding: 12px 12px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.unlock {
    background-image: url('../../../Images/GridActionImages/unclock.png');
    padding: 12px 12px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.Password {
    background-image: url('../../../Images/GridActionImages/password.png');
    padding: 12px 12px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.Assign_Role {
    background-image: url('../../../Images/GridActionImages/assign_roles.png');
    padding: 12px 12px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.Reminder1 {
    background-image: url('../../../Images/GridActionImages/reminder1.png');
    padding: 12px 12px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.Reminder2 {
    background-image: url('../../../Images/GridActionImages/reminder2.png');
    padding: 12px 12px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.Assigned_Role {
    background-image: url('../../../Images/GridActionImages/assgined_roles.png');
    padding: 12px 12px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
}

.Edit {
    background: url(../../../Images/GridActionImages/edit.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.pdf_icon {
    background: url(../../../Images/GridActionImages/pdf.png) no-repeat;
    padding: 13px 13px;
    background-position: center;
    width: 100%;
    cursor: pointer;
}

.word_icon {
    background: url(../../../Images/GridActionImages/word.png) no-repeat;
    padding: 13px 13px;
    background-position: center;
    width: 100%;
    cursor: pointer;
}


.View {
    background: url(../../Images/TMS_Images/summary_latest.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.delete {
    background: url(../../../Images/GridActionImages/del_grid.png) no-repeat;
    padding: 4px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.dashboard_panel_1 {
    background: #20a8d8;
    padding: 18px;
    border-radius: 8px;
}

.dashboard_panel_2 {
    background: #f86c6b;
    padding: 18px;
    border-radius: 8px;
}

.dashboard_panel_3 {
    background: #18cdad;
    padding: 18px;
    border-radius: 8px;
}

.dashboard_panel_4 {
    background: #2e2e2e;
    padding: 18px;
    border-radius: 8px;
}

.dashboard_panel_header {
    color: #fff;
    font-size: 16pt;
    font-family: seguisb;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 6px;
}



.dashboard_panel_value a {
    color: #fff;
    font-size: 22pt;
    font-family: seguisb;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #fff;
}

.breakword td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    /* word-wrap: break-word; */
    word-break: break-all;
    text-align: justify;
}

.select_grid {
    padding: 3px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    width: 100%;
}

.card-header {
    background: none;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: -0.745em !important;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.table th, .table td {
    padding: 10px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 10pt !important;
    text-align: center;
    font-weight: normal;
}

.legends_grid {
    font-size: 10pt;
    font-family: seguisb;
}

.legend_images img {
    margin-top: -3px;
    width: 21px;
}

.dataTables_filter input {
    padding: 8px 6px 10px;
}

.dataTables_length select {
    height: 28px !important;
}

dropdown-menu li a {
    background: #fff !important;
    color: #38b8ba !important;
    border-bottom: 1px solid #38b8ba !important;
}

.dropdown-menu li.selected a {
    background: #38b8ba !important;
    color: #fff !important;
    border-bottom: 1px solid #fff !important;
}

.btn-radio {
    color: #38b8ba;
    background-color: #fff;
    border-color: #38b8ba;
}

.btn-secondary {
    color: #38b8ba;
    background-color: #fff;
    border-color: #3e3e3e;
    padding: 1px;
}

.btnclass {
    color: #38b8ba;
    background-color: #fff;
    border-color: #38b8ba;
    padding: 1px;
}

    .btnclass.active {
        color: #fff;
        background-color: #38b8ba;
        border-color: #3e3e3e;
        padding: 1px;
    }

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #38b8ba;
    border-color: #38b8ba;
    padding: 1px;
}

.card-body {
    padding: 0px !important;
}

/*----notification----*/
#notification_li {
    float: left;
}

#notificationContainer {
    background-color: #fff;
    overflow: visible;
    position: absolute;
    top: 58px;
    right: 6px;
    width: 390px;
    z-index: 10;
    display: none;
}

/*#notificationContainer:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        color: #000;
        border: 10px solid #38b8ba;
        border-color: transparent transparent #38b8ba;
        margin-top: -20px;
        margin-left: 190px;
    }*/
.notification_linkdiv {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    color: #000;
    border: 10px solid #38b8ba;
    border-color: transparent transparent #38b8ba;
    margin-top: 15px;
    margin-left: -12px;
}

#notificationTitle {
    font-weight: bold;
    padding: 8px;
    font-size: 12pt;
    background-color: #38b8ba;
    z-index: 1000;
    color: #fff;
    font-family: seguisb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #38b8ba;
}

#notificationsBody {
    max-height: 500px;
    border: 1px solid #38b8ba;
}

#notificationFooter {
    background-color: #38b8ba;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #38b8ba;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    position: absolute;
    right: 0px;
    font-size: 11px;
    z-index: 9;
}

#notificationFooter a {
    padding: 0px;
    width: 100%;
    border: none;
    color: #fff;
    background: none;
    float: none;
    font-family: seguisb;
}

.notifications_alerts {
    padding: 3px !important;
    margin: 0;
    /*height: 367px;*/
    /*max-height:400px;*/
    overflow-y: auto;
    overflow-x: hidden;
}

    .notifications_alerts a {
        color: #38b8ba !important;
        padding: 6px 14px !important;
        font-size: 14px !important;
        color: #38b8ba !important;
        font-family: seguisb;
        text-decoration: underline;
        border: none;
    }

.CloseNotification {
    right: -4px;
    font-family: seguisb;
    top: -6px;
    color: red;
    font-size: 14pt;
    float: right;
    cursor: pointer;
}


/*unseen notification(New,Not visited)*/
.panel_list_notificaton_1 {
    border: 1px solid #38b8ba;
    float: left;
    width: 100%;
    background: #eff3f4;
    margin-bottom: 2px;
}
/*seen notification (Old, Visited)*/
.panel_list_notificaton_2 {
    border: 1px solid #38b8ba;
    float: left;
    width: 100%;
    background: #fff;
    margin-bottom: 2px;
}

.moudle_time {
    float: right;
    color: #666666 !important;
    font-family: seguisb;
    font-size: 9pt;
    padding: 4px 0px;
}

.moudle_label_UMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #087d7e;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}

.moudle_label_VMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #478cf3;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}

.moudle_label_QMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #5970fb;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}

.moudle_label_DMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #ec4909;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}

.moudle_label_HRMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #dd7d0c;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}

.moudle_label_TMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #1c7d96;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}

.notifications_alerts ul {
    padding: 3px;
    margin: 0;
    height: 367px;
    overflow: auto;
}

    .notifications_alerts ul li a {
        color: #38b8ba !important;
        padding: 6px 14px;
        font-size: 14px;
        color: #38b8ba !important;
        font-family: seguisb;
        text-decoration: underline;
        border: none;
    }

.cancel_notify {
    position: absolute;
    right: 3px;
    font-family: seguisb;
    top: -6px;
    color: red;
    font-size: 14pt;
}

.style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #3d7292;
}

.style-2::-webkit-scrollbar {
    width: 8px;
    background-color: #3d7292;
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #3d7292;
}

.style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #d4d4d4;
}

.style-3::-webkit-scrollbar {
    width: 8px;
    background-color: #d4d4d4;
}

.style-3::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #38b8ba;
}

.errorpop_bg {
    background: #dbfbdd !important;
}

.img_popup {
    width: 10%;
    float: left
}

.header_text {
    font-size: 18px !important;
    padding: 10px 10px !important;
    float: left;
}

.error_icon {
    text-align: left;
    float: left;
}

.btn-info_popup:hover {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #0db4de;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #0db4de;
    font-family: seguisb;
}

.btn-info_popup {
    margin-left: 4px;
    background: #0db4de;
    border: 1px solid #0db4de;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
}

.btn-alert_popup:hover {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #cc9c1a;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #cc9c1a;
    font-family: seguisb;
}

.btn-alert_popup {
    margin-left: 4px;
    background: #cc9c1a;
    border: 1px solid #cc9c1a;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
}

.btn-success_popup:hover {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #41ad49;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #41ad49;
    font-family: seguisb;
}

.btn-success_popup {
    margin-left: 4px;
    background: #41ad49;
    border: 1px solid #41ad49;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
}

.info_bg {
    /* background: #d9e0e7; */
    /*border-bottom: 1px solid #d4d4d4;*/
    padding: 10px;
    margin-bottom: 5px;
}

.edit_text {
    font-size: 14px;
    font-family: SEGOEUIB;
}

.custom_text_view {
    border-top: 1px solid #999999;
    padding: 5px;
}

.add_feild {
    color: #38b8ba;
    font-size: 10pt;
    font-family: seguisb;
}

.btn-reject:hover {
    margin-left: 4px;
    background: #575757;
    border: 1px solid #575757;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
}

.btn-reject {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #777f74;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #777f74;
    font-family: seguisb;
}




.btn-revert_popup:hover {
    margin-left: 4px;
    background: #575757;
    border: 1px solid #575757;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff !important;
    font-family: seguisb;
}

.popup_title {
    padding: 3px 14px;
    font-family: seguisb;
    font-size: 14pt;
}


.btn-revert_popup {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #575757 !important;
    border-radius: 4px !important;
    padding: 4px 8px !important;
    font-size: 10pt !important;
    color: #575757 !important;
    font-family: seguisb;
}
/*.btn-success_popup:hover {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #41ad49;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #41ad49;
    font-family: seguisb;
}

.btn-success_popup {
    margin-left: 4px;
    background: #41ad49;
    border: 1px solid #41ad49;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
}*/

.mandatoryStar {
    color: red;
    font-size: 12px;
    padding-left: 3px;
}

.required:after {
    content: "*";
    font-size: 12px;
    padding-left: 3px;
    color: red;
}

.add_icon {
    background: url('../../../Images/add_icon.png') no-repeat;
    padding: 12px;
    cursor: pointer;
    background-position: right;
    width: 100%;
    float: left;
    margin-left: -14px;
    background-size: 11%;
}

.add_depart {
    background: url('../../../Images/add_icon.png') no-repeat;
    padding: 11px;
    background-size: 48%;
    margin-top: 6px;
    word-wrap: break-word;
    background-position: 6px 0px;
}

.ShowMore {
    max-height: 600px;
}

.ShowLess {
    max-height: 500px;
    padding: 10px;
}

.NotifyMore {
    padding: 10px;
    background: #38b8ba;
    color: #fff;
    text-align: center;
    font-family: seguisb;
    font-size: 12pt;
    cursor: pointer;
}

.panel_list_notificaton_new a {
    border-right: none !important;
}

.grid_panel_full {
    border: 1px solid #c0d4d7;
}

.grid_panel_full_inner {
    border: 1px solid #c0d4d7;
}

.top {
    margin-top: 10px;
}

/*----roles----*/
.dropdown-menu {
    transition: none !important;
    margin: 0px !important;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

.menu_list li a {
    transition: all 0.3s ease-out;
    width: 100%;
    border-right: none !important;
    border-bottom: 1px solid #fff;
    font-weight: normal !important;
    font-family: seguisb;
}

.username_nav {
    color: #2fa6b8;
    font-size: 16pt;
    text-align: left;
    padding: 4px 0px;
    word-wrap: break-word;
    text-transform: capitalize;
}

.department_nav {
    color: #fff;
    font-size: 10pt;
    text-align: left;
    word-wrap: break-word;
    padding: 0px;
    font-family: segoe-light;
}

.designation_nav {
    color: #fff;
    font-size: 10pt;
    text-align: left;
    padding: 2px;
    word-wrap: break-word;
    font-family: segoe-light;
}

.mail_nav {
    color: #fff;
    font-size: 9pt;
    text-align: left;
    padding: 2px;
    word-wrap: break-word;
    font-family: segoe-light;
}

.log_nav {
    color: #2fa6b8;
    font-size: 10pt;
    text-align: left;
    padding: 2px;
    word-wrap: break-word;
    font-family: segoe-light;
}

.img_nav {
    border: 1px solid #d4d4d4;
    border-radius: 50px;
    padding: 10px;
    width: 88px;
    height: 88px;
}


.logindt {
    color: #cbefff !important;
}

.user_nav {
    background: url(../images/Landing/sprite_landing.png) no-repeat;
    background-position: -7px -341px;
    padding: 12px 6px 2px 33px;
    color: #fff;
}

.user_fav_icon {
    margin-top: -3px;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    float: left;
    margin-left: -4px;
    margin-right: 6px;
}

.user_details_info a {
    color: #fff !important;
    text-transform: capitalize;
}

.smallred_label {
    color: red !important;
    font-size: 12pt !important;
}

.datatable_cust thead th {
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    background: #38b8ba;
    color: #fff;
    font-family: seguisb;
    text-align: center;
    font-size: 10pt;
}
/*  bhoechie tab */
div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #2fa6b8;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

.list-group-item {
    border-color: #2fa6b8 !important;
}

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

    div.bhoechie-tab-menu div.list-group {
        margin-top: 10px;
        margin-bottom: 0;
    }

        div.bhoechie-tab-menu div.list-group > a {
            margin-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group > a .glyphicon,
            div.bhoechie-tab-menu div.list-group > a .fa {
                color: #5A55A3;
            }

            div.bhoechie-tab-menu div.list-group > a:first-child {
                border-top-right-radius: 0;
                -moz-border-top-right-radius: 0;
            }

            div.bhoechie-tab-menu div.list-group > a:last-child {
                border-bottom-right-radius: 0;
                -moz-border-bottom-right-radius: 0;
            }

            div.bhoechie-tab-menu div.list-group > a.active,
            div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
            div.bhoechie-tab-menu div.list-group > a.active .fa {
                background-color: #2fa6b8;
                background-image: #2fa6b8;
                color: #ffffff;
            }

                div.bhoechie-tab-menu div.list-group > a.active:after {
                    content: '';
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    margin-top: -13px;
                    border-left: 0;
                    border-bottom: 13px solid transparent;
                    border-top: 13px solid transparent;
                    border-left: 10px solid #2fa6b8;
                }

div.bhoechie-tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

.bhoechie-tab {
    max-height: 500px;
    overflow: auto;
    padding-left: 0px;
}

.pages_bhoechie-tab {
    overflow: auto;
    max-height: 700px;
    padding-left: 0px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

.depart_list_nav {
    margin: 4;
    padding: 0
}

    .depart_list_nav li a {
        color: #000;
        font-family: seguisb;
        border-radius: 4px;
        float: left;
        padding: 8px 15px;
        background: #a9d8df;
    }

        .depart_list_nav li a:hover {
            text-decoration: none;
            color: #fff;
            font-family: seguisb;
            border-radius: 4px;
            float: left;
            padding: 8px 15px;
            background: #38b8ba;
        }

    .depart_list_nav li {
        list-style-type: none;
        display: inline;
        margin-right: 4px;
        margin-bottom: 4px;
        float: left;
    }


.roles_list_nav {
    margin: 4;
    padding: 0
}

    .roles_list_nav li a {
        color: #000;
        font-family: seguisb;
        border-radius: 4px;
        float: left;
        padding: 5px 0px 5px 8px;
        background: #a9d8df;
    }

        .roles_list_nav li a:hover {
            text-decoration: none;
            color: #fff;
            font-family: seguisb;
            border-radius: 4px;
            float: left;
            padding: 5px 0px 5px 8px;
            background: #38b8ba;
        }

    .roles_list_nav li {
        list-style-type: none;
        display: inline;
        margin-right: 4px;
        margin-bottom: 4px;
        float: left;
    }

        .roles_list_nav li a {
            color: #000;
            font-family: seguisb;
            border-radius: 4px;
            float: left;
            padding: 5px 0px 5px 8px;
            background: #a9d8df;
        }

.user_fav_icon {
    margin-top: -3px;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    float: left;
    margin-left: -4px;
    margin-right: 6px;
}

.user_details_info a {
    color: #fff !important;
    text-transform: capitalize;
}

.assigned_roles_list li {
    border-bottom: 1px solid #3e3e3e;
    padding: 10px;
    padding: 8px 14px;
    border-bottom: 1px solid #38b8ba;
    list-style: none;
    color: #2e2e2e;
    font-family: seguisb;
    font-size: 10pt;
}

.assgn_depart {
    /*max-height: 379px;*/
    overflow-y: auto;
}

.btn-approve_popup {
    margin-bottom: 4px;
    margin-right: 4px;
    background: #fff;
    border: 1px solid #38b8ba;
    border-radius: 0px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #38b8ba;
    font-family: seguisb;
    border-radius: 4px;
    cursor: pointer;
}

.btn-canceldms_popup {
    margin-bottom: 4px !important;
    background: #fff;
    border: 1px solid #ff6767;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 14px;
    color: #ff6767;
    font-family: seguisb;
    border-radius: 4px;
    cursor: pointer;
}



.btn-approve_popup:hover {
    margin-bottom: 4px;
    margin-right: 4px;
    background: #38b8ba;
    border: 1px solid #38b8ba;
    border-radius: 0px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
    border-radius: 4px;
    cursor: pointer;
}

.btn-canceldms_popup:hover {
    margin-bottom: 4px;
    background: #ff6767;
    border: 1px solid #ff6767;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 14px;
    color: #fff;
    font-family: seguisb;
    border-radius: 4px;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 3px 12px !important
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.profile_text_pop {
    padding: 6px 0px;
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    color: #000 !important;
}

.panel_full_profile {
    border: 1px solid #38b8ba;
    max-height: 450px;
    overflow-y: auto;
}

.assigned_roles_list {
    margin: 0;
    border: 1px solid #078daf;
    float: left;
    /*max-height: 250px;*/
    overflow-y: auto;
}

input::placeholder {
    color: #d4d4d4;
}

.popup_scroll {
    max-height: 350px;
    overflow-y: auto;
}

.btn-primary {
    float: left;
}

/*.breakword tr td {
    word-wrap: break-word;
    white-space: normal !important;
}*/
.breakword tr td {
    word-break: break-word;
    white-space: normal !important;
}

#ActionGrid_wrapper {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.bootstrap-select {
    z-index: inherit;
}

.assign_list_qms {
    max-height: 500px;
    overflow: auto;
}
/*!
 * Datetimepicker for Bootstrap 3
 * version : 4.17.47
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.bootstrap-datetimepicker-widget {
    list-style: none;
}

    .bootstrap-datetimepicker-widget.dropdown-menu {
        display: block;
        margin: 2px 0;
        padding: 4px;
        width: 19em;
    }

@media (min-width: 576px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em;
    }
}

@media (min-width: 768px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em;
    }
}

@media (min-width: 992px) {
    .bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs {
        width: 38em;
    }
}

.bootstrap-datetimepicker-widget.dropdown-menu:before,
.bootstrap-datetimepicker-widget.dropdown-menu:after {
    content: '';
    display: inline-block;
    position: absolute;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    top: -7px;
    left: 7px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    top: -6px;
    left: 8px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ccc;
    border-top-color: rgba(0, 0, 0, 0.2);
    bottom: -7px;
    left: 6px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    bottom: -6px;
    left: 7px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before {
    left: auto;
    right: 6px;
}

.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after {
    left: auto;
    right: 7px;
}

.bootstrap-datetimepicker-widget .list-unstyled {
    margin: 0;
}

.bootstrap-datetimepicker-widget a[data-action] {
    padding: 6px 0;
}

    .bootstrap-datetimepicker-widget a[data-action]:active {
        box-shadow: none;
    }

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
    width: 54px;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
}

.bootstrap-datetimepicker-widget button[data-action] {
    padding: 6px;
}

.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Increment Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Increment Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Decrement Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Decrement Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Show Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Show Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Toggle AM/PM";
}

.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Clear the picker";
}

.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Set the date to today";
}

.bootstrap-datetimepicker-widget .picker-switch {
    text-align: center;
}

    .bootstrap-datetimepicker-widget .picker-switch::after {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        content: "Toggle Date and Time Screens";
    }

    .bootstrap-datetimepicker-widget .picker-switch td {
        padding: 0;
        margin: 0;
        height: auto;
        width: auto;
        line-height: inherit;
    }

        .bootstrap-datetimepicker-widget .picker-switch td span,
        .bootstrap-datetimepicker-widget .picker-switch td i {
            line-height: 2.5;
            height: 2.5em;
            width: 100%;
        }

.bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0;
}

    .bootstrap-datetimepicker-widget table td,
    .bootstrap-datetimepicker-widget table th {
        text-align: center;
        border-radius: 0.25rem;
        padding: 0.5em;
    }

    .bootstrap-datetimepicker-widget table th {
        height: 20px;
        line-height: 20px;
        width: 20px;
    }

        .bootstrap-datetimepicker-widget table th.picker-switch {
            width: 145px;
        }

        .bootstrap-datetimepicker-widget table th.disabled,
        .bootstrap-datetimepicker-widget table th.disabled:hover {
            background: none;
            color: #dee2e6;
            cursor: not-allowed;
        }

        .bootstrap-datetimepicker-widget table th.prev::after {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
            content: "Previous Month";
        }

        .bootstrap-datetimepicker-widget table th.next::after {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
            content: "Next Month";
        }

    .bootstrap-datetimepicker-widget table thead tr:first-child th {
        cursor: pointer;
    }

        .bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
            background: #f8f9fa;
        }

    .bootstrap-datetimepicker-widget table td {
        height: 54px;
        line-height: 54px;
        width: 54px;
    }

        .bootstrap-datetimepicker-widget table td.cw {
            font-size: .8em;
            height: 20px;
            line-height: 20px;
            color: #dee2e6;
        }

        .bootstrap-datetimepicker-widget table td.day {
            height: 20px;
            line-height: 20px;
            width: 20px;
        }

            .bootstrap-datetimepicker-widget table td.day:hover,
            .bootstrap-datetimepicker-widget table td.hour:hover,
            .bootstrap-datetimepicker-widget table td.minute:hover,
            .bootstrap-datetimepicker-widget table td.second:hover {
                background: #f8f9fa;
                cursor: pointer;
            }

        .bootstrap-datetimepicker-widget table td.old,
        .bootstrap-datetimepicker-widget table td.new {
            color: #dee2e6;
        }

        .bootstrap-datetimepicker-widget table td.today {
            position: relative;
        }

            .bootstrap-datetimepicker-widget table td.today:before {
                content: '';
                display: inline-block;
                border: solid transparent;
                border-width: 0 0 7px 7px;
                border-bottom-color: #dee2e6;
                border-top-color: rgba(0, 0, 0, 0.2);
                position: absolute;
                bottom: 4px;
                right: 4px;
            }

        .bootstrap-datetimepicker-widget table td.active,
        .bootstrap-datetimepicker-widget table td.active:hover {
            background-color: #dee2e6;
            color: #007bff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }

            .bootstrap-datetimepicker-widget table td.active.today:before {
                border-bottom-color: #fff;
            }

        .bootstrap-datetimepicker-widget table td.disabled,
        .bootstrap-datetimepicker-widget table td.disabled:hover {
            background: none;
            color: #dee2e6;
            cursor: not-allowed;
        }

        .bootstrap-datetimepicker-widget table td span,
        .bootstrap-datetimepicker-widget table td i {
            display: inline-block;
            width: 54px;
            height: 54px;
            line-height: 54px;
            margin: 2px 1.5px;
            cursor: pointer;
            border-radius: 0.25rem;
        }

            .bootstrap-datetimepicker-widget table td span:hover,
            .bootstrap-datetimepicker-widget table td i:hover {
                background: #f8f9fa;
            }

            .bootstrap-datetimepicker-widget table td span.active,
            .bootstrap-datetimepicker-widget table td i.active {
                background-color: #dee2e6;
                color: #007bff;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            }

            .bootstrap-datetimepicker-widget table td span.old,
            .bootstrap-datetimepicker-widget table td i.old {
                color: #dee2e6;
            }

            .bootstrap-datetimepicker-widget table td span.disabled,
            .bootstrap-datetimepicker-widget table td i.disabled,
            .bootstrap-datetimepicker-widget table td span.disabled:hover,
            .bootstrap-datetimepicker-widget table td i.disabled:hover {
                background: none;
                color: #dee2e6;
                cursor: not-allowed;
            }

.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
    height: 27px;
    line-height: 27px;
}

.bootstrap-datetimepicker-widget.wider {
    width: 21em;
}

.bootstrap-datetimepicker-widget .decade {
    line-height: 1.8em !important;
}

.input-group.date .input-group-addon {
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}


.UserDefinedTableHeader {
    background-color: #38b8ba;
    color: white;
}

    .UserDefinedTableHeader th {
        text-align: left;
    }

.UserDefinedTableBody td {
    text-align: left !important;
}


.UserDefinedTableButtonstd {
    white-space: nowrap;
    width: 5%;
}

.department1 .modal-title {
    font-size: 14px;
}

.department1 .modal-body {
    padding: 8px 16px;
}

.department1 .modal-header {
    padding: 8px 14px;
    background: #38b8ba;
    color: #fff;
    font-size: 12pt;
}

.department1 .modal-footer {
    padding: 0px 16px 8px;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    color: #000;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle;
    display: none;
}

.profile_label {
    background: url(../../../Images/DMSDashboard/isto.png) no-repeat center right;
}

.morelink {
    text-decoration: underline !important;
}

.grid_header {
    background: #cdedee;
    padding: 10px !important;
    color: #418e8f;
    font-size: 12pt;
    font-family: seguisb;
    border: 1px solid #38b8ba;
}

.dataTables_empty {
    text-align: center !important;
}

.btn.disabled, .btn:disabled {
    opacity: 0.8;
}

.bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group > .disabled {
    cursor: not-allowed;
    color: #000;
}

.btnAdd {
    background: #38b8ba;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff !important;
    font-size: 15px;
    height: 22px;
    width: 22px;
    border: 1px solid #38b8ba;
    margin-right: 16px;
}

.btnAdd_audit_text {
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff !important;
    height: 26px;
    width: 14px;
    border: 1px solid #38b8ba;
    margin-right: 16px;
    background: url(../../../Images/Landing/text_feild.png) no-repeat #38b8ba center;
}

.btnAdd_audit_dropdown {
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff !important;
    height: 26px;
    width: 14px;
    border: 1px solid #38b8ba;
    margin-right: 16px;
    background: url(../../../Images/Landing/dropdown.png) no-repeat #38b8ba center;
}

.bootstrap-select.btn-group .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: inherit !important;
    word-wrap: break-word !important;
    float: left;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #064a53;
    background-color: transparent;
}

.header_sub {
    background: #bceaea;
    color: #08595a;
    padding: 10px !important;
    font-family: seguisb;
    font-size: 11pt;
}

.UserDefineTableInlineNameTextBox {
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 11pt !important;
    color: #2e2e2e;
    width: 100%;
    display: none;
}

.UserDefineTableInlineCodeTextBox {
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 11pt !important;
    color: #2e2e2e;
    width: 100%;
    display: none;
}

.datatable_cust tbody tr:hover {
    background-color: #a3cdd3;
}

.datatable_cust tbody tr.active_row {
    background-color: #a3cdd3;
}

.textAlignLeft {
    text-align: left !important;
}

.textAlignCenter {
    text-align: center !important;
}

.AuthorizationError {
    text-align: center;
    font-weight: bold;
    top: 30px;
    position: static;
    COLOR: red;
}

.nav_list ul li a.active {
    text-decoration: none;
    background: #38b8ba;
    padding: 6px 12px;
    border-bottom: 1px solid #38b8ba;
    color: #fff;
    width: 100%;
    float: left;
    font-family: SEGOEUI;
    font-size: 10pt;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    height: 50px;
}

.list {
    float: left;
    left: 0px;
    top: 0px;
    min-width: 3000px;
    margin-left: 12px;
    margin-top: 0px;
}

    .list li {
        display: table-cell;
        position: relative;
        text-align: center;
        cursor: grab;
        cursor: -webkit-grab;
        color: #efefef;
        vertical-align: middle;
    }

.scroller {
    text-align: center;
    cursor: pointer;
    display: none;
    padding: 7px;
    padding-top: 11px;
    white-space: no-wrap;
    vertical-align: middle;
    background-color: #fff;
}

.scroller-right {
    float: right;
}

.scroller-left {
    float: left;
}

.card-body {
    background: #fff;
}

.content_bg {
    background: #e4edf2;
    padding: 10px;
}
/*file input*/
.explorer-caption {
    word-break: break-word !important;
}
/*file input end*/
.page-link:hover {
    z-index: 2;
    color: #38b8ba !important;
    text-decoration: none;
    background-color: #fff !important;
    border-color: #dee2e6;
}

.page-link {
    z-index: 2;
    color: #38b8ba !important;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #38b8ba;
    border-color: #38b8ba;
}

.nav {
    border-bottom: 1px solid #38b8ba;
}

.norecords {
    width: 100%;
    text-align: center;
    padding: 42px;
    font-size: 14pt;
    color: #fff;
}

.header_col_sub_error {
    color: #fff;
    background-color: #f84545 !important;
    border-bottom: 1px solid #fff;
    padding: 4px 10px;
}
/*file input end*/
.modal-body_qms {
    max-height: 500px;
    overflow-y: auto;
}

.bootstrap-select > .dropdown-menu > .dropdown-menu li a {
    white-space: initial !important;
}

.popup_area ul {
    max-height: 100px !important;
}

.noCaparecords {
    width: 100%;
    text-align: center;
    padding-top: 185px;
    font-size: 22pt;
    color: #07889A;
    height: 449px;
}
table.table-bordered.dataTable tbody td a {
    text-align: center ;
}
.bootstrap-select .dropdown-menu li a {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #38b8ba;
    text-align:left !important;
}

/* ---- modalpopup scroll bar in qms ---- */
.Modalpopup-Scroll {
    max-height: 500px;
    overflow-y: auto;
}

/*File view popup*/
.fileModalpopup-Scroll {
    max-height: 690px;
    overflow-y: auto;
}
/* ---- modalpopup responsive---- */
@media (min-width: 1000px) and (max-width: 1200px) {
    .modal-dialog-centered {
        min-height: calc(100% - (16rem * 2));
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .modal-dialog-centered {
        min-height: calc(100% - (10rem * 2));
    }
}

.alert_popover {
    padding: 12px 20px;
    background-color: #ff7373;
    color: #fff;
    z-index: 100;
    width: 30%;
    position: absolute;
    right: 0;
    -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    border-radius: 4px;
    color: #fff;
    font-size: 12pt;
    font-family: seguisb;
}

.closebtn_popover {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.alert_popover a {
    color: #000;
    font-size: 14pt;
    font-family: seguisb;
    padding: 0px 6px;
    text-decoration: underline;
}

.datefields {
    width: 20%;
}

.Certificatedatefields {
    width: 40%;
}

.hyperlinkforview {
    text-decoration: underline !important;
    color: #1f84ff !important;
    cursor: pointer;
}

.textarea_height {
    min-height: 720px !important;
}

textarea.form-control {
    height: auto !important;
}

.profileModalLabel {
    color: #38b8ba;
    font-size: 10pt;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #38b8ba !important;
    border-color: #38b8ba;
}


/*-----*/
@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../fonts/glyphicons-halflings-regular.eot");
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
    content: "\002a";
}

.glyphicon-plus:before {
    content: "\002b";
}

.glyphicon-euro:before,
.glyphicon-eur:before {
    content: "\20ac";
}

.glyphicon-minus:before {
    content: "\2212";
}

.glyphicon-cloud:before {
    content: "\2601";
}

.glyphicon-envelope:before {
    content: "\2709";
}

.glyphicon-pencil:before {
    content: "\270f";
}

.glyphicon-glass:before {
    content: "\e001";
}

.glyphicon-music:before {
    content: "\e002";
}

.glyphicon-search:before {
    content: "\e003";
}

.glyphicon-heart:before {
    content: "\e005";
}

.glyphicon-star:before {
    content: "\e006";
}

.glyphicon-star-empty:before {
    content: "\e007";
}

.glyphicon-user:before {
    content: "\e008";
}

.glyphicon-film:before {
    content: "\e009";
}

.glyphicon-th-large:before {
    content: "\e010";
}

.glyphicon-th:before {
    content: "\e011";
}

.glyphicon-th-list:before {
    content: "\e012";
}

.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-remove:before {
    content: "\e014";
}

.glyphicon-zoom-in:before {
    content: "\e015";
}

.glyphicon-zoom-out:before {
    content: "\e016";
}

.glyphicon-off:before {
    content: "\e017";
}

.glyphicon-signal:before {
    content: "\e018";
}

.glyphicon-cog:before {
    content: "\e019";
}

.glyphicon-trash:before {
    content: "\e020";
}

.glyphicon-home:before {
    content: "\e021";
}

.glyphicon-file:before {
    content: "\e022";
}

.glyphicon-time:before {
    content: "\e023";
}

.glyphicon-road:before {
    content: "\e024";
}

.glyphicon-download-alt:before {
    content: "\e025";
}

.glyphicon-download:before {
    content: "\e026";
}

.glyphicon-upload:before {
    content: "\e027";
}

.glyphicon-inbox:before {
    content: "\e028";
}

.glyphicon-play-circle:before {
    content: "\e029";
}

.glyphicon-repeat:before {
    content: "\e030";
}

.glyphicon-refresh:before {
    content: "\e031";
}

.glyphicon-list-alt:before {
    content: "\e032";
}

.glyphicon-lock:before {
    content: "\e033";
}

.glyphicon-flag:before {
    content: "\e034";
}

.glyphicon-headphones:before {
    content: "\e035";
}

.glyphicon-volume-off:before {
    content: "\e036";
}

.glyphicon-volume-down:before {
    content: "\e037";
}

.glyphicon-volume-up:before {
    content: "\e038";
}

.glyphicon-qrcode:before {
    content: "\e039";
}

.glyphicon-barcode:before {
    content: "\e040";
}

.glyphicon-tag:before {
    content: "\e041";
}

.glyphicon-tags:before {
    content: "\e042";
}

.glyphicon-book:before {
    content: "\e043";
}

.glyphicon-bookmark:before {
    content: "\e044";
}

.glyphicon-print:before {
    content: "\e045";
}

.glyphicon-camera:before {
    content: "\e046";
}

.glyphicon-font:before {
    content: "\e047";
}

.glyphicon-bold:before {
    content: "\e048";
}

.glyphicon-italic:before {
    content: "\e049";
}

.glyphicon-text-height:before {
    content: "\e050";
}

.glyphicon-text-width:before {
    content: "\e051";
}

.glyphicon-align-left:before {
    content: "\e052";
}

.glyphicon-align-center:before {
    content: "\e053";
}

.glyphicon-align-right:before {
    content: "\e054";
}

.glyphicon-align-justify:before {
    content: "\e055";
}

.glyphicon-list:before {
    content: "\e056";
}

.glyphicon-indent-left:before {
    content: "\e057";
}

.glyphicon-indent-right:before {
    content: "\e058";
}

.glyphicon-facetime-video:before {
    content: "\e059";
}

.glyphicon-picture:before {
    content: "\e060";
}

.glyphicon-map-marker:before {
    content: "\e062";
}

.glyphicon-adjust:before {
    content: "\e063";
}

.glyphicon-tint:before {
    content: "\e064";
}

.glyphicon-edit:before {
    content: "\e065";
}

.glyphicon-share:before {
    content: "\e066";
}

.glyphicon-check:before {
    content: "\e067";
}

.glyphicon-move:before {
    content: "\e068";
}

.glyphicon-step-backward:before {
    content: "\e069";
}

.glyphicon-fast-backward:before {
    content: "\e070";
}

.glyphicon-backward:before {
    content: "\e071";
}

.glyphicon-play:before {
    content: "\e072";
}

.glyphicon-pause:before {
    content: "\e073";
}

.glyphicon-stop:before {
    content: "\e074";
}

.glyphicon-forward:before {
    content: "\e075";
}

.glyphicon-fast-forward:before {
    content: "\e076";
}

.glyphicon-step-forward:before {
    content: "\e077";
}

.glyphicon-eject:before {
    content: "\e078";
}

.glyphicon-chevron-left:before {
    content: "\e079";
}

.glyphicon-chevron-right:before {
    content: "\e080";
}

.glyphicon-plus-sign:before {
    content: "\e081";
}

.glyphicon-minus-sign:before {
    content: "\e082";
}

.glyphicon-remove-sign:before {
    content: "\e083";
}

.glyphicon-ok-sign:before {
    content: "\e084";
}

.glyphicon-question-sign:before {
    content: "\e085";
}

.glyphicon-info-sign:before {
    content: "\e086";
}

.glyphicon-screenshot:before {
    content: "\e087";
}

.glyphicon-remove-circle:before {
    content: "\e088";
}

.glyphicon-ok-circle:before {
    content: "\e089";
}

.glyphicon-ban-circle:before {
    content: "\e090";
}

.glyphicon-arrow-left:before {
    content: "\e091";
}

.glyphicon-arrow-right:before {
    content: "\e092";
}

.glyphicon-arrow-up:before {
    content: "\e093";
}

.glyphicon-arrow-down:before {
    content: "\e094";
}

.glyphicon-share-alt:before {
    content: "\e095";
}

.glyphicon-resize-full:before {
    content: "\e096";
}

.glyphicon-resize-small:before {
    content: "\e097";
}

.glyphicon-exclamation-sign:before {
    content: "\e101";
}

.glyphicon-gift:before {
    content: "\e102";
}

.glyphicon-leaf:before {
    content: "\e103";
}

.glyphicon-fire:before {
    content: "\e104";
}

.glyphicon-eye-open:before {
    content: "\e105";
}

.glyphicon-eye-close:before {
    content: "\e106";
}

.glyphicon-warning-sign:before {
    content: "\e107";
}

.glyphicon-plane:before {
    content: "\e108";
}

.glyphicon-calendar:before {
    content: "\e109";
}

.glyphicon-random:before {
    content: "\e110";
}

.glyphicon-comment:before {
    content: "\e111";
}

.glyphicon-magnet:before {
    content: "\e112";
}

.glyphicon-chevron-up:before {
    content: "\e113";
}

.glyphicon-chevron-down:before {
    content: "\e114";
}

.glyphicon-retweet:before {
    content: "\e115";
}

.glyphicon-shopping-cart:before {
    content: "\e116";
}

.glyphicon-folder-close:before {
    content: "\e117";
}

.glyphicon-folder-open:before {
    content: "\e118";
}

.glyphicon-resize-vertical:before {
    content: "\e119";
}

.glyphicon-resize-horizontal:before {
    content: "\e120";
}

.glyphicon-hdd:before {
    content: "\e121";
}

.glyphicon-bullhorn:before {
    content: "\e122";
}

.glyphicon-bell:before {
    content: "\e123";
}

.glyphicon-certificate:before {
    content: "\e124";
}

.glyphicon-thumbs-up:before {
    content: "\e125";
}

.glyphicon-thumbs-down:before {
    content: "\e126";
}

.glyphicon-hand-right:before {
    content: "\e127";
}

.glyphicon-hand-left:before {
    content: "\e128";
}

.glyphicon-hand-up:before {
    content: "\e129";
}

.glyphicon-hand-down:before {
    content: "\e130";
}

.glyphicon-circle-arrow-right:before {
    content: "\e131";
}

.glyphicon-circle-arrow-left:before {
    content: "\e132";
}

.glyphicon-circle-arrow-up:before {
    content: "\e133";
}

.glyphicon-circle-arrow-down:before {
    content: "\e134";
}

.glyphicon-globe:before {
    content: "\e135";
}

.glyphicon-wrench:before {
    content: "\e136";
}

.glyphicon-tasks:before {
    content: "\e137";
}

.glyphicon-filter:before {
    content: "\e138";
}

.glyphicon-briefcase:before {
    content: "\e139";
}

.glyphicon-fullscreen:before {
    content: "\e140";
}

.glyphicon-dashboard:before {
    content: "\e141";
}

.glyphicon-paperclip:before {
    content: "\e142";
}

.glyphicon-heart-empty:before {
    content: "\e143";
}

.glyphicon-link:before {
    content: "\e144";
}

.glyphicon-phone:before {
    content: "\e145";
}

.glyphicon-pushpin:before {
    content: "\e146";
}

.glyphicon-usd:before {
    content: "\e148";
}

.glyphicon-gbp:before {
    content: "\e149";
}

.glyphicon-sort:before {
    content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
    content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
    content: "\e152";
}

.glyphicon-sort-by-order:before {
    content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
    content: "\e154";
}

.glyphicon-sort-by-attributes:before {
    content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
    content: "\e156";
}

.glyphicon-unchecked:before {
    content: "\e157";
}

.glyphicon-expand:before {
    content: "\e158";
}

.glyphicon-collapse-down:before {
    content: "\e159";
}

.glyphicon-collapse-up:before {
    content: "\e160";
}

.glyphicon-log-in:before {
    content: "\e161";
}

.glyphicon-flash:before {
    content: "\e162";
}

.glyphicon-log-out:before {
    content: "\e163";
}

.glyphicon-new-window:before {
    content: "\e164";
}

.glyphicon-record:before {
    content: "\e165";
}

.glyphicon-save:before {
    content: "\e166";
}

.glyphicon-open:before {
    content: "\e167";
}

.glyphicon-saved:before {
    content: "\e168";
}

.glyphicon-import:before {
    content: "\e169";
}

.glyphicon-export:before {
    content: "\e170";
}

.glyphicon-send:before {
    content: "\e171";
}

.glyphicon-floppy-disk:before {
    content: "\e172";
}

.glyphicon-floppy-saved:before {
    content: "\e173";
}

.glyphicon-floppy-remove:before {
    content: "\e174";
}

.glyphicon-floppy-save:before {
    content: "\e175";
}

.glyphicon-floppy-open:before {
    content: "\e176";
}

.glyphicon-credit-card:before {
    content: "\e177";
}

.glyphicon-transfer:before {
    content: "\e178";
}

.glyphicon-cutlery:before {
    content: "\e179";
}

.glyphicon-header:before {
    content: "\e180";
}

.glyphicon-compressed:before {
    content: "\e181";
}

.glyphicon-earphone:before {
    content: "\e182";
}

.glyphicon-phone-alt:before {
    content: "\e183";
}

.glyphicon-tower:before {
    content: "\e184";
}

.glyphicon-stats:before {
    content: "\e185";
}

.glyphicon-sd-video:before {
    content: "\e186";
}

.glyphicon-hd-video:before {
    content: "\e187";
}

.glyphicon-subtitles:before {
    content: "\e188";
}

.glyphicon-sound-stereo:before {
    content: "\e189";
}

.glyphicon-sound-dolby:before {
    content: "\e190";
}

.glyphicon-sound-5-1:before {
    content: "\e191";
}

.glyphicon-sound-6-1:before {
    content: "\e192";
}

.glyphicon-sound-7-1:before {
    content: "\e193";
}

.glyphicon-copyright-mark:before {
    content: "\e194";
}

.glyphicon-registration-mark:before {
    content: "\e195";
}

.glyphicon-cloud-download:before {
    content: "\e197";
}

.glyphicon-cloud-upload:before {
    content: "\e198";
}

.glyphicon-tree-conifer:before {
    content: "\e199";
}

.glyphicon-tree-deciduous:before {
    content: "\e200";
}

.glyphicon-cd:before {
    content: "\e201";
}

.glyphicon-save-file:before {
    content: "\e202";
}

.glyphicon-open-file:before {
    content: "\e203";
}

.glyphicon-level-up:before {
    content: "\e204";
}

.glyphicon-copy:before {
    content: "\e205";
}

.glyphicon-paste:before {
    content: "\e206";
}

.glyphicon-alert:before {
    content: "\e209";
}

.glyphicon-equalizer:before {
    content: "\e210";
}

.glyphicon-king:before {
    content: "\e211";
}

.glyphicon-queen:before {
    content: "\e212";
}

.glyphicon-pawn:before {
    content: "\e213";
}

.glyphicon-bishop:before {
    content: "\e214";
}

.glyphicon-knight:before {
    content: "\e215";
}

.glyphicon-baby-formula:before {
    content: "\e216";
}

.glyphicon-tent:before {
    content: "\26fa";
}

.glyphicon-blackboard:before {
    content: "\e218";
}

.glyphicon-bed:before {
    content: "\e219";
}

.glyphicon-apple:before {
    content: "\f8ff";
}

.glyphicon-erase:before {
    content: "\e221";
}

.glyphicon-hourglass:before {
    content: "\231b";
}

.glyphicon-lamp:before {
    content: "\e223";
}

.glyphicon-duplicate:before {
    content: "\e224";
}

.glyphicon-piggy-bank:before {
    content: "\e225";
}

.glyphicon-scissors:before {
    content: "\e226";
}

.glyphicon-bitcoin:before {
    content: "\e227";
}

.glyphicon-btc:before {
    content: "\e227";
}

.glyphicon-xbt:before {
    content: "\e227";
}

.glyphicon-yen:before {
    content: "\00a5";
}

.glyphicon-jpy:before {
    content: "\00a5";
}

.glyphicon-ruble:before {
    content: "\20bd";
}

.glyphicon-rub:before {
    content: "\20bd";
}

.glyphicon-scale:before {
    content: "\e230";
}

.glyphicon-ice-lolly:before {
    content: "\e231";
}

.glyphicon-ice-lolly-tasted:before {
    content: "\e232";
}

.glyphicon-education:before {
    content: "\e233";
}

.glyphicon-option-horizontal:before {
    content: "\e234";
}

.glyphicon-option-vertical:before {
    content: "\e235";
}

.glyphicon-menu-hamburger:before {
    content: "\e236";
}

.glyphicon-modal-window:before {
    content: "\e237";
}

.glyphicon-oil:before {
    content: "\e238";
}

.glyphicon-grain:before {
    content: "\e239";
}

.glyphicon-sunglasses:before {
    content: "\e240";
}

.glyphicon-text-size:before {
    content: "\e241";
}

.glyphicon-text-color:before {
    content: "\e242";
}

.glyphicon-text-background:before {
    content: "\e243";
}

.glyphicon-object-align-top:before {
    content: "\e244";
}

.glyphicon-object-align-bottom:before {
    content: "\e245";
}

.glyphicon-object-align-horizontal:before {
    content: "\e246";
}

.glyphicon-object-align-left:before {
    content: "\e247";
}

.glyphicon-object-align-vertical:before {
    content: "\e248";
}

.glyphicon-object-align-right:before {
    content: "\e249";
}

.glyphicon-triangle-right:before {
    content: "\e250";
}

.glyphicon-triangle-left:before {
    content: "\e251";
}

.glyphicon-triangle-bottom:before {
    content: "\e252";
}

.glyphicon-triangle-top:before {
    content: "\e253";
}

.glyphicon-console:before {
    content: "\e254";
}

.glyphicon-superscript:before {
    content: "\e255";
}

.glyphicon-subscript:before {
    content: "\e256";
}

.glyphicon-menu-left:before {
    content: "\e257";
}

.glyphicon-menu-right:before {
    content: "\e258";
}

.glyphicon-menu-down:before {
    content: "\e259";
}

.glyphicon-menu-up:before {
    content: "\e260";
}

.dropdown-item {
    white-space: normal !important;
}

.bootstrap-select .dropdown-menu {
    min-width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*Capa */
.grid_legend_Qms {
    color: #1f6b76;
    font-size: 14px;
    font-family: SEGOEUIB;
    font-weight: bold;
}

/*User profile Role*/




.roleHeader {
    color: #2e2e2e;
}

.innerroleHeader {
    color: #2e2e2e;
    font-size: 11pt;
}

.role_inner_grid_header {
    background: #dfecee;
    padding: 8px !important;
    color: #38b8ba;
    font-size: 12pt;
    font-family: seguisb;
    float: left;
}

.role_grid_header {
    background: #c0d4d7;
    padding: 8px !important;
    color: #38b8ba;
    font-size: 12pt;
    font-family: seguisb;
}

.accesibleDepartment {
    font-size: 14px;
    color: #38b8ba;
    font-family: seguisb;
    padding: 10px 0 11px;
}

.accesibleDepartment_content {
    font-size: 14px;
    color: #38b8ba;
    font-family: seguisb;
    margin: 3px 0px -11px;
    padding: 13px 10px;
    width: 100%;
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #064a53;
    background-color: transparent;
}

.tab_grid li a {
    border-right: 1px solid #38b8ba;
    padding: 7px 26px;
    border-radius: 0px !important;
    color: #064a53;
    font-family: seguisb;
    font-size: 14px;
}

.tab_grid .nav-link.active, .tab_grid .show > .nav-link {
    border-top: 3px solid #38b8ba !important;
}

.grid_panel_hod {
    border: 1px solid #38b8ba;
    padding: 8px 0px !important;
}

.grid_panel {
    border: 1px solid #38b8ba;
}

.tab_content {
    /*border: 1px solid #07889a;*/
    border-right: none;
    border-left: none;
}

.grid_border {
    border: 1px solid #38b8ba;
    padding: 10px 0px;
}

.grid_assgin {
    border: 1px solid #38b8ba;
}

.label-style {
    color: #38b8ba;
    font-family: seguisb;
    font-size: 10pt;
}

.dropdown-menu > li > a {
    white-space: normal !important;
    font-size: 10pt;
    color: #075f6b !important;
    font-family: seguisb;
    border-bottom: 1px solid #075f6b;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

.roles_list_nav {
    padding: 0px 10px;
}

.Modalpopup-Scroll1 {
    max-height: 200px;
    overflow-y: auto;
}

.dashboard_panel_value {
    font-size: 12pt;
    text-align: right;
    font-weight: bold;
}

.dashboard_frontpanel_value {
    font-size: 25pt;
    font-weight: bold;
}

.role_hide_visible {
    display: none;
}

/*User profile Role  End */

/*Disabled symbol for text area*/
.form-control:disabled, .form-control[readonly] {
    cursor: not-allowed;
}
/*END*/

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 700px; /*iframe scroll issue*/
    border: 0;
}

.dropdown-menu li.active a {
    background: #38b8ba; /*placeholder search background issue scroll issue*/
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

.embed-responsive-16by8::before {
    padding-top: 45.25%;
}

.bootstrap-select .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: normal;
    word-break: break-all;
}

.panel_list ul li a.dropdown-item {
    padding: 8px 10px !important;
}

.modal-header .close {
    color: #fff !important;
    opacity: 1 !important;
    outline: none !important;
}

.sucess_info_msg {
    font-family: SEGOEUIB;
    font-size: 12pt;
    color: #42463e;
}
/*.modal-title, .modal-header {
    text-transform: capitalize;
}*/

.capitalize {
    text-transform: capitalize;
}

.panel-heading_title a.ums_innerbtn {
    color: #fff;
    font-family: seguisb;
    font-size: 11pt;
    right: 7px;
    top: 5px;
    position: absolute;
    background-color: #38b8ba !important;
}

.moudle_label_RA {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #6b7365;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}

.audit_drp .btn {
    padding: 2px 12px !important;
}

.tb_action_delete_icon_feed {
    background: url(../../../Images/GridActionImages/del_grid.png) no-repeat;
    padding: 12px;
    background-position: 0px 9px;
    cursor: pointer;
}

.action_edit_icon_feed {
    /* text-align: center; */
    background: url(../../../Images/GridActionImages/edit.png) no-repeat scroll center;
    padding: 12px;
    cursor: pointer;
    background-position: 0px 9px;
    margin-right: 10px;
}

.header-color {
    color: #418e8f;
    background-color: #cdedee !important;
    border-bottom: 1px solid #fff;
    padding: 8px 10px;
}

.innerbtn {
    color: #4888ac !important;
    font-family: seguisb;
    font-size: 11pt;
    right: 37px;
    top: 7px;
    padding: 3px 6px !important;
    position: absolute;
    background-color: #fff;
}

.btn_selection_box {
    border: 1px solid #38b8ba;
    background: #38b8ba;
    color: #fff;
    font-size: 12pt;
    font-weight: bold;
    padding: 9px;
}

.download {
    background: url(../../images/GridActionImages/download.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
}

.coverUpload_DIV {
    color: #000;
    font-size: 12pt;
    text-align: left;
    padding: 0px;
    word-wrap: break-word;
    font-family: seguisb;
}

.cvrfile_links {
    color: #38b8ba !important;
    font-size: 13pt;
    font-family: seguisb;
    text-decoration: underline;
    padding: 0px 5px;
}

.linkIcon {
    background: url(../../images/TMS_Images/link_icon.png) no-repeat;
    padding: 13px 13px;
    background-position: center;
    width: 100%;
    cursor: pointer;
}

.obs_tabs_grid li a {
    padding: 7px 5px;
    border-bottom: 1px solid #07889a !important;
}

.obs_tabs_grid .nav-link.active, .tab_grid .show > .nav-link {
    border-top: none !important;
    color: #fff;
    background-color: #064a53;
}

    .obs_tabs_grid .nav-link.active, .tab_grid .show > .nav-link:hover {
        border-top: none !important;
        color: #fff !important;
        background-color: #064a53;
    }

.style-3::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
}

.scroll_content {
    max-height: 223px;
    overflow-y: auto;
}

.style-3::-webkit-scrollbar {
    width: 8px;
    background-color: #fff;
}

.style-3::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #2396cb;
}
/*.table-fixed tbody {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed_custom tbody {
    max-height: 189px !important;
}*/

.table-fixed_audit tbody {
    max-height: 230px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed_audit thead {
    width: 100%;
}

.table-fixed_audit thead, .table-fixed_audit tbody, .table-fixed_audit tr, .table-fixed_audit td, .table-fixed_audit th {
    display: block; /*commented reason: Occuring space after the last column in heaer for ASP GV*/
}

    .table-fixed_audit thead tr th {
        width: 50%;
        float: left;
    }

    .table-fixed_audit tbody tr td {
        background: #bfcbcc;
        width: 50%;
        float: left;
        padding: 10px;
        border-top: 1px solid #fff !important;
        border: none;
    }

/*Product styles*/
.listbtn {
    background-color: #38b8ba;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
}

.newbtn {
    background: url(/images/PMS/products_icon_plus.png) no-repeat #38b8ba;
    background-position: 5px;
    padding: 5px 9px 5px 30px !important;
}

.grid-heading_title {
    background: #d1e6f3 !important;
    padding: 10px;
    font-family: seguisb;
    font-size: 11pt;
    color: #056775;
    border-radius: 0px !important;
    border: 1px solid #07889a;
    border-bottom: none;
}

.create_grid_panel_hod {
    border: 1px solid #07889a;
    padding: 8px 0px !important;
    background: #fff;
}

.submitbtn {
    border: 1px solid #38abd1;
    border-radius: 4px;
    font-size: 10pt;
    color: #38abd1;
    font-family: seguisb;
    background: #fff;
}

.cancelbtn {
    border: 1px solid #f84545;
    border-radius: 4px;
    font-size: 10pt;
    color: #f84545 !important;
    font-family: seguisb;
    background: #fff;
    margin-left: 4px;
}


.fileattachModalpopup-Scroll {
    max-height: 650px;
    overflow-y: auto;
}
.Edit_btns{
    top:7px !important;
}
/*ML Scripts*/
.list_view {
    background: url(../../images/TMS_Images/suggestion_img.png) no-repeat;
    padding: 13px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
    cursor: pointer;
}

.related_descriptionlist li {
    border-bottom: 1px solid #07889a;
    padding: 6px;
    background: #f0f7f7;
    list-style-type: none;
}

.desclist_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    top: -19px;
    border-radius: 9px;
    position: absolute;
    font-size: 11px;
    z-index: 9;
}
.tooltip-inner {
    text-align: center;
    border-radius: 6px;
    border:1px solid #000;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    max-width: 100%;
    margin-left: 10%;
}
.Note_Point {
    color: #f84545;
    font-size: 9pt;
}

/*.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #bbd5ec;
}*/
/*END ML Scripts*/

.datatable_cust thead input {
    width: 100%;
    font-size: 10pt !important;
    padding: 2px 10px;
    border-radius: 4px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff !important;
}

/*END ML Scripts*/

#MyModelCAPAFileViewForReport iframe{
    height:650px !important;
}
#MyModelAddTraining iframe {
    height: 493px !important;
    float:left;
    width:100%;
    border:none !important;
}





.dashboard_panel_header {
    text-align: center;
    padding: 8px 10px;
    border-bottom: 1px solid #38b8ba;
    color: #418e8f;
    background: #cdedee;
    font-family: seguisb;
    margin-top: 0px;
    font-size: 10pt;
}

.dashboard_panel_full {
    border: 1px solid #38b8ba;
    margin-top: 10px;
}
