﻿/*----header css----*/
.logo_landing {
    background: linear-gradient(to left, #232525, #535555, #898a8a, #c2c3c3, #ffffff);
    padding: 2px;
}

.login_icon_bg {
    background: #c4cbcc;
    padding: 0
}

.login-panel {
    top: 130px;
    background: #fff;
    border: 4px solid #075f6b;
    height: 540px;
}

.logo {
    padding: 34px;
    background: #075f6b;
}

.landing_links {
    float: right;
}

.landing_links ul {
    margin: 0;
    padding: 0;
}

.landing_links ul li {
    list-style-type: none;
    display: inline;
}

.landing_links ul li a {
    list-style-type: none;
    display: inline;
    color: #fff;
    padding: 14px 10px 11px 48px;
    margin-top: 0px;
    float: left;
    font-size: 12pt;
    font-weight: bold;
}

.landing_links ul li a:hover {
    color: #00aac1;
    text-decoration: none;
}

.landing_links ul li a.home {
    background: url(../../../images/Landing/sprite_landing.png) no-repeat;
    background-position: 10px 0px;
    padding: 24px 30px;
    border-left: 1px solid #fff;
    background-repeat: no-repeat;
}

.landing_links ul li a.home:hover {
    background-position: 10px -71px;
}

.landing_links ul li a.home.active {
    background: url(../../../images/Landing/sprite_landing.png) no-repeat;
    background-position: 10px -71px;
}
    .landing_links ul li a.notification {
        background: url(../../../Images/Landing/sprite_landing.png) no-repeat;
        background-position: 6px -482px;
        padding: 24px 30px;
        border-left: 1px solid #fff;
        background-repeat: no-repeat;
        border-right: 1px solid #fff;
        cursor: pointer;
    }

.landing_links ul li a.notification:hover {
            background-position: 6px -569px;
        }
.landing_links ul li a.profile {
    background: url(../../../images/Landing/sprite_landing.png) no-repeat;
    background-position: 7px -142px;
    padding: 24px 30px;
}

    .landing_links ul li a.profile:hover {
        background-position: 7px -213px;
    }

    .landing_links ul li a.profile.active {
        background: url(../../../images/Landing/sprite_landing.png) no-repeat;
        background-position: 7px -213px;
    }

.landing_links ul li a.user {
    background: url(../../../images/Landing/sprite_landing.png) no-repeat;
    background-position: 0px -283px;
}

.landing_links ul li a.user:hover {
    background-position: 0px -340px;
}

.landing_links ul li a.user.active {
    background: url(../../../images/Landing/sprite_landing.png) no-repeat;
    background-position: 0px -340px;
}

.landing_links ul li a.logout {
background: url(../../../images/Landing/sprite_landing.png) no-repeat;
background-position: 6px -403px;
padding: 24px 30px;
}

.landing_links ul li a.logout:hover {
    background-position: 6px -403px
}

.btn-setting {
    background: transparent;
    color: #fff;
    font-family: seguisb;
    font-size: 12pt;
    padding: 10px;
    cursor: pointer;
}
.menu_list {
    width: 480px !important;
    background: #1f1f1f !important;
    padding: 7px 0px 0px 0px !important;
    margin-top: 10px !important;
    margin-top: 9px !important;
    margin-right: 4px !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    transform: translate3d(-285px, 44px, 0px) !important;
}

.menu_list li {
        width: 100%;
        float: left;
    }


.icon_label {
    padding: 10px 20px !important;
}

.lastlogin {
    color: #fff !important;
    font-size: 9pt !important;
    padding: 0px 0px 0px 4px !important;
}
