﻿/*------accordion------*/
.nav_panel {
    border: 1px solid #38b8ba;
    overflow: auto;
    padding: 4px;
    position: fixed;
    height: 92%;
    background: #edf7f7;
}

.qms_accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";
}
.qms_accordion .card-header:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: #38b8ba !important; /* adjust as needed */
}
.accordion .card-header:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
}
.headerList.active {
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba;
    width: 100% !important;
    color: #fff !important;
}

    .headerList.active a {
        color: #fff !important;
        font-family: seguisb;
        font-size: 10pt;
        text-decoration: none;
    }
.headerList:hover {
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba;
    width: 100% !important;
}
   .headerList:hover a {
        color: #fff !important;
        font-family: seguisb;
        font-size: 10pt;
        text-decoration: none;
    }

    .accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";
}

.header_col {
    color: #38b8ba;
    border: 1px solid #38b8ba;
    padding: 4px 10px;
    margin-top: 2px;
}
    .header_col a {
        color: #38b8ba !important;
        font-family: seguisb;
        font-size: 10pt;
        cursor: pointer;
    }
.headerList.active {
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba;
    width: 100% !important;
    color: #fff !important;
}
    .headerList.active a {
        color: #fff !important;
        font-family: seguisb;
        font-size: 10pt;
        text-decoration: none;
    }

.header_col_child {
    color: #38b8ba;
    background-color: #edf7f7 !important;
    border: 1px solid #38b8ba;
    padding: 4px 10px;
    margin-top: -1px;
}

    .header_col_child a {
        font-family: seguisb;
        font-size: 10pt;
        text-decoration: none;
    }

.header_col_sub {
    color: #fff;
    background-color: #38b8ba !important;
    border-bottom: 1px solid #fff;
    padding: 8px 10px;
}

    .header_col_sub a {
        font-family: seguisb;
        font-size: 11pt;
        text-decoration: none;
    }

.header_col_sub_child {
    color: #38b8ba;
    background-color: #f1f8fb !important;
    border: 1px solid #38b8ba;
    padding: 6px 10px;
}

    .header_col_sub_child a {
        font-family: seguisb;
        font-size: 10pt;
        text-decoration: none;
    }

.nav_list {
    float: left;
}

    .nav_list ul {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
    }

        .nav_list ul li {
            list-style-type: none;
            float: left;
            width: 100%;
            background: #edf7f7;
        }

            .nav_list ul li a {
                text-decoration: none;
                padding: 6px 12px;
                border: 1px solid #38b8ba;
                border-top: none !important;
                color: #38b8ba;
                width: 100%;
                float: left;
                font-family: SEGOEUI;
                font-size: 10pt;
            }

                .nav_list ul li a:hover {
                    text-decoration: none;
                    background: #38b8ba;
                    padding: 6px 12px;
                    border-bottom: 1px solid #38b8ba;
                    color: #fff;
                    width: 100%;
                    float: left;
                    font-family: SEGOEUI;
                    font-size: 10pt;
                }

.acc_boby {
    padding: 0px 2px;
 
    width: 100%;
}
