﻿/*----dsboard-------*/
.outer_dashboard1 {
    border-radius: 4px;
    border: 2px solid #d07d7d;
    margin-bottom: 10px;
    background: #d07d7d;
}
.btn-dashboard {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 10pt;
    color: #38b8ba !important;
    margin-bottom: 0px;
    font-family: seguisb;
}
    .outer_dashboard1:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.outer_dashboard2 {
    border-radius: 4px;
    border: 2px solid #6d8b8c;
    margin-bottom: 10px;
    background: #6d8b8c;
}

    .outer_dashboard2:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.outer_dashboard3 {
    border-radius: 4px;
    border: 2px solid #525d5d;
    margin-bottom: 10px;
    background: #525d5d;
}

    .outer_dashboard3:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.outer_dashboard {
    border-radius: 4px;
    border: 2px solid #32a4c0 !important;
    margin-bottom: 10px;
    background: #32a4c0 !important;
    height: auto !important;
}

    .outer_dashboard:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }
.view_text_dshboard {
    color: #fff;
    padding: 8px;
    font-family: seguisb;
    font-size: 13px;
    background: #fff;
}

.header_text_dshboard {
    color: #fff;
    padding: 10px;
    font-family: seguisb;
    font-size: 12pt;
    border-bottom: none !important;
}

.top {
    margin-top: 10px;
}

.link_dashboard a {
    color: #fff;
    font-family: seguisb;
    font-size: 30pt;
    float: right;
    padding: 5px;
}

.dashboard-image {
    margin-top: 10px;
    padding: 0px 14px;
    margin-bottom: 10px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fade-in.one {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

.dashboard_toogle_box_1 {
    background: #fff;
    border: 2px solid #676767;
    color: #676767;
    border-radius: 50px;
    width: 25px;
    font-size: 14px;
    margin-top: -21px;
    position: absolute;
    right: 0;
}

.dashboard_toogle_box_2 {
    background: #fff;
    border: 2px solid #d07d7d;
    color: #d07d7d;
    border-radius: 50px;
    font-size: 14px;
    /* float: right; */
    width: 25px;
    margin-top: -21px;
    position: absolute;
    right: 0;
}

.dashboard_toogle_box_3 {
    background: #fff;
    border: 2px solid #6d8b8c;
    color: #6d8b8c;
    border-radius: 50px;
    font-size: 14px;
    width: 25px;
    margin-top: -21px;
    position: absolute;
    right: 0;
}

.dashboard_toogle_box_4 {
    background: #fff;
    border: 2px solid #525d5d;
    color: #525d5d;
    border-radius: 50px;
    font-size: 14px;
    width: 25px;
    margin-top: -21px;
    position: absolute;
    right: 0;
}

.card_view_box_1 {
    color: #676767;
}

.card_view_box_2 {
    color: #d07d7d;
}

.card_view_box_3 {
    color: #6d8b8c;
}

.card_view_box_4 {
    color: #525d5d;
}

.dropdown-menu_list > li > a {
    border: 1px solid #6d8b8c;
    white-space: inherit;
    cursor: pointer;
    color: #6d8b8c !important;
    font-size: 10pt;
    padding: 5px;
}

    .dropdown-menu_list > li > a:hover {
        border: 1px solid #6d8b8c;
        white-space: inherit;
        background: #6d8b8c !important;
        cursor: pointer;
        color: #fff !important;
    }

.dropdown-menu_list_approval > li > a {
    border: 1px solid #676767;
    white-space: inherit;
    color: #676767;
    cursor: pointer;
    font-size: 10pt;
    padding: 5px;
}

.dropdown-menu_list_approval {
    margin: 0;
    padding: 0;
}

    .dropdown-menu_list_approval > li > a:hover {
        border: 1px solid #676767;
        white-space: inherit;
        background: #676767 !important;
        cursor: pointer;
        color: #fff !important;
    }

.dropdown-menu_list_reverted > li > a {
    border: 1px solid #d07d7d;
    white-space: inherit;
    color: #d07d7d !important;
    cursor: pointer;
    font-size: 10pt;
    padding: 5px;
}

    .dropdown-menu_list_reverted > li > a:hover {
        border: 1px solid #d07d7d;
        white-space: inherit;
        background: #d07d7d !important;
        cursor: pointer;
        color: #fff !important;
    }

.dropdown-menu_list_panel4 > li > a {
    border: 1px solid #525d5d;
    white-space: inherit;
    cursor: pointer;
}

    .dropdown-menu_list_panel4 > li > a:hover {
        border: 1px solid #525d5d;
        white-space: inherit;
        background: #525d5d !important;
        cursor: pointer;
        color: #fff !important;
    }



.chart_icon {
    position: absolute;
    z-index: 1011;
    bottom: 0;
    right: 0;
}

    .chart_icon ul {
        margin: 0;
        padding: 0;
    }

        .chart_icon ul li {
            list-style-type: none;
            cursor: pointer;
        }

.clock_bg {
    -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    border-radius: 4px;
}

#canvas {
    position: absolute;
    width: 141px;
    box-shadow: 1px 0px 84px -11px #3e3e3e;
    border: 2px solid #3e3e3e;
    bottom: 0;
    z-index: 999;
    right: 50px;
    border-radius: 86px;
}

.panel_list ul {
    padding: 0;
    margin: 0;
}

    .panel_list ul li {
        list-style-type: none;
        display: inline;
    }

        .panel_list ul li a {
            background: url(/Images/common_dashboard/panel_list.png) no-repeat;
            padding: 8px 18px 0px 13px;
            cursor: pointer;
        }

            .panel_list ul li a.fav {
                background: url(/Images/common_dashboard/panel_list.png) no-repeat;
                background-position: 0px 0px;
            }

            .panel_list ul li a.refresh {
                background: url(/Images/common_dashboard/panel_list.png) no-repeat;
                background-position: 0px -43px;
            }

            .panel_list ul li a.AscendingOrder {
                background: url(/Images/TMS_Images/sort_asc.png) no-repeat;
                background-position: 0px -43px;
            }

            .panel_list ul li a.DescendingOrder {
                background: url(/Images/TMS_Images/sort_desc.png) no-repeat;
                background-position: 0px -43px;
            }

            .panel_list ul li a.filter_icon {
                background: url(/Images/common_dashboard/panel_list.png) no-repeat;
                background-position: 0px -80px;
            }

.filter_dropdown {
    position: absolute;
    background: #f0f0f0;
    z-index: 999;
    right: 0;
    padding: 10px;
    border: 1px solid #aeaeae;
    top: 34px;
    width: 300px;
}

    .filter_dropdown .dropdown-menu {
        padding: 0;
        margin: 0px !important;
    }

.drop .dropdown-menu {
    padding: 0;
    margin: 0px !important;
}

.bottom {
    margin-bottom: 10px;
}

.select_dashboard {
    padding: 4px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    color: #000;
    font-size: 10pt;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    color: #000;
}

.calender_atc {
    margin: 0;
    padding: 6px;
    background: #fff;
    border: 2px solid #525d5d;
    float: right;
}

.panel_list_bg {
    background: url(../Images/common_dashboard/panel_bg_tiltes.png) no-repeat;
    background-position: right top;
    background-color: #fcfbfb;
}

.grid_header_dashboard {
    background: #d4d4d4;
    padding: 7px;
    color: #2e2e2e;
    font-size: 9pt;
    font-family: seguisb;
}

.calender_atc li {
    display: inline;
}

    .calender_atc li a {
        padding: 20px 10px;
        background: #f1f0f0;
        margin-bottom: 2px;
        float: left;
        border-right: 2px solid #fff;
        width: 25%;
        color: #525d5d;
        font-family: seguisb;
    }

.calender_atc .dropdown_atc li a {
    padding: 8px !important;
    background: #f1f0f0;
    margin-bottom: 2px;
    float: none !important;
    border-right: 2px solid #fff;
    width: 100% !important;
    color: #525d5d;
    font-family: seguisb;
    font-size: 10pt;
    z-index: 999;
}

.calender_atc li a:hover {
    padding: 20px 10px;
    background: #525d5d;
    margin-bottom: 2px;
    float: left;
    border-right: 2px solid #fff;
    width: 25%;
    color: #fff;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}

.calender_atc li a.active {
    padding: 20px 10px;
    background: #525d5d;
    margin-bottom: 2px;
    float: left;
    border-right: 2px solid #fff;
    width: 25%;
    color: #fff;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}

.atcCardDocsList {
    /*position: absolute;*/
    background: #fff;
    border: 2px solid #3e3e3e;
    max-height: 301px;
    overflow: auto;
    /*top: 153px;
    left: -317px;*/
    float: right;
    box-shadow: 0px 25px 30px -16px;
}

#tblAtcDocsList thead th {
    background: #525d5d;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    font-family: seguisb;
    padding: 8px 0px;
}

#tblAtcDocsList tbody tr td {
    border-bottom: 1px solid #3e3e3e;
    font-size: 13px;
    font-weight: 600;
    font-family: seguisb;
    text-align: center;
    padding: 8px 0px;
}

.close_Cal {
    cursor: pointer;
}

.atc_month_count {
    float: right;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -7px;
        margin-left: 18px;
        margin-right: 20px;
        font-size: 30px;
    }

    .atc_month_count {
        float: right;
        font-size: 10px;
        font-weight: bold;
        text-decoration: underline;
    }

    .calender_atc li a {
        padding: 20px 10px;
        background: #f1f0f0;
        margin-bottom: 2px;
        float: left;
        border-right: 2px solid #fff;
        width: 25%;
        color: #525d5d;
        font-family: seguisb;
        font-size: 10px;
    }
}

.grid_panel_full_vms {
    border: 1px solid #c0d4d7;
    height: 507px;
    overflow: auto;
}

.dropdown-menu ul a {
    background-image: none !important;
}

.toggle_dropdown {
    position: absolute;
    right: 10px;
}

.dashboard_panel_value {
    text-align: right;
}

.link_dashboard {
    color: #fff;
    font-family: seguisb;
    font-size: 30pt;
    float: right;
    padding: 0px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown_dashboard {
    transform: none !important;
    top: 9px !important;
    left: 0px !important;
    /* min-width: 23rem!important; */
    width: 100% !important;
    padding: 0;
}

.dashboard_panel_value {
    font-size: 12pt;
    text-align: right;
    font-weight: bold;
}

.dashboard_frontpanel_value {
    font-size: 25pt;
    font-weight: bold;
}

/* ---- stickypopup ---- */


.sticky-popup {
    position: fixed;
    width: 350px;
    visibility: hidden;
    z-index: 9;
}

    .sticky-popup .popup-header {
        padding: 10px 5px 5px 10px;
        border: 1px solid #ff7373;
        cursor: pointer;
    }

.popup-title {
    font-size: 12pt;
    color: #fff;
    font-family: seguisb;
}

.popup-image {
    float: right;
    padding: 0 15px 0 0;
    margin: 0px;
    width: 25px;
}


.popup-content {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid hsl(0, 0%, 92%);
}



.popup-content-pad {
    padding: 10px;
}

@media only screen and (max-width:800px) {
    .popup-content {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        height: 462px;
        background-color: #fefefe;
        border: 1px solid hsl(0, 0%, 92%);
    }
}


/*Right side popup style*/
.sticky-popup-right {
    right: 0;
}

    .sticky-popup-right .popup-header {
        float: left;
        border-radius: 6px 0 0 6px;
        padding: 12px 0px;
    }

    .sticky-popup-right .popup-title {
        writing-mode: tb-rl;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        white-space: nowrap;
        display: block;
        padding: 5px;
    }

    .sticky-popup-right .popup-image {
        margin: 7px -135px 0 0;
        margin-right: -16px !important;
        padding-right: 15px !important;
        width: 40px;
        padding: 0px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }


    .sticky-popup-right .popup-content {
        margin-top: -1%;
        width: auto;
        box-shadow: -1px 9px 35px -3px #2E2E1F;
    }

.sticky-popup .popup-header {
    background-color: #ff7373 !important;
    border-color: #ff7373;
    margin-top: -4%;
}

.popup-title {
    color: #ffffff;
}

.popup-content {
    border: 1px solid #ff7373;
    background-color: #fff;
}

.sticky-popup-right, .sticky-popup-left {
    top: 40%;
}


    .sticky-popup-right .popup-title {
        writing-mode: tb-rl;
        -webkit-transform: rotate(0deg) !important;
    }

.popupHeading {
    color: black;
    font-size: 12pt;
}

.popheadingName {
    color: #38b8ba;
    font-size: 14pt;
}
.popupNavigate a {
    color: #ff7373 !important;
    font-size: 14pt;
    cursor: pointer;
    text-decoration: underline !important;
}
.popup_notification {
    padding: 2px 7px 2px 7px;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #ff7373;
    color: #fff;
    margin-left: -11px;
    box-shadow: 0px 2px 10px 0px #2e2e2e;
}
/* ---- stickypopup END ---- */
