﻿@using DevExtreme.AspNet.Mvc;
@using DevExpress.Web;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImageViewer</title>
</head>
<body>
    @Styles.Render("~/Content/DevExtremeBundleStyles")
    @Scripts.Render("~/Scripts/DevExtremeBundleScripts_0")
    @Scripts.Render("~/Scripts/DevExtremeBundleScripts_1")
    @Scripts.Render("~/Scripts/DevExtremeBundleScripts_2")
    <div>
        @Html.DevExpress().BinaryImage(settings =>
         {
             settings.Name = "BinaryImage";
             settings.ContentBytes = (Model.Photo).ToArray();
         }).GetHtml()
    </div>
</body>
</html>
