﻿@using DevExtreme.AspNet.Mvc;
@using DevExpress.Web;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PDFViewer</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    
        @Html.Raw(TempData["Embed"])
   
</body>
</html>
