﻿@using DevExtreme.AspNet.Mvc;
@using DevExpress.Web;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RichEditViewer</title>
</head>
<body>
    @Styles.Render("~/Content/DevExtremeBundleStyles")
    @Scripts.Render("~/Scripts/DevExtremeBundleScripts_0")
    @Scripts.Render("~/Scripts/DevExtremeBundleScripts_1")
    @Scripts.Render("~/Scripts/DevExtremeBundleScripts_2")
    @Html.DevExpress().GetStyleSheets(
                        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
                        new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
                        new StyleSheet { ExtensionSuite = ExtensionSuite.Report }

                    )


    @Html.DevExpress().GetScripts(
                        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                        new Script { ExtensionSuite = ExtensionSuite.Editors },
                        new Script { ExtensionSuite = ExtensionSuite.RichEdit },
                        new Script { ExtensionSuite = ExtensionSuite.Report }
                    )

    <script type="text/javascript" src="~/DevExtremeScripts/aspnet/dx.aspnet.mvc.js"></script>
    <script type="text/javascript" src="~/DevExtremeScripts/aspnet/dx.aspnet.data.js"></script>
    <div>
        @Html.DevExpress().RichEdit(settings =>
               {
                   settings.Name = "RichEdit";
                   settings.CallbackRouteValues = new { Controller = "Home", Action = "RichEditPartial" };
               }).Open(Server.MapPath("~/App_Data/Documents/Overview.rtf")).GetHtml()
    </div>
</body>
</html>
