﻿@using DevExtreme.AspNet.Mvc;
@using DevExpress.Web;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SpreadSheetViewer</title>
</head>
<body>
    @Styles.Render("~/Content/DevExtremeBundleStyles")
    @Scripts.Render("~/Scripts/DevExtremeBundleScripts_0")
    @Scripts.Render("~/Scripts/DevExtremeBundleScripts_1")
    @Scripts.Render("~/Scripts/DevExtremeBundleScripts_2")
    @Html.DevExpress().GetStyleSheets(
                            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
                            new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
                            new StyleSheet { ExtensionSuite = ExtensionSuite.Report }

                        )


    @Html.DevExpress().GetScripts(
                            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                            new Script { ExtensionSuite = ExtensionSuite.Editors },
                            new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
                            new Script { ExtensionSuite = ExtensionSuite.Report }
                        )
    <script type="text/javascript" src="~/DevExtremeScripts/aspnet/dx.aspnet.mvc.js"></script>
    <script type="text/javascript" src="~/DevExtremeScripts/aspnet/dx.aspnet.data.js"></script>

    <div>
        @Html.DevExpress().Spreadsheet(settings =>
                        {
                            settings.Name = "Spreadsheet";
                            settings.CallbackRouteValues = new { Controller = "Home", Action = "SpreadsheetPartial" };
                        }).Open(Server.MapPath("~/App_Data/Documents/MonthlyBudget.xlsx")).GetHtml()
    </div>
</body>
</html>
