﻿@{
    ViewBag.Title = "ProductMasterList";
    Layout = "~/Areas/PRODUCT/Views/Shared/_PRODUCTLayout.cshtml";
}

<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 padding-none formlist top">
    <div class="col-lg-12 padding-none">
        <div class="col-lg-12 padding-none panel_list_bg top float-left ">
            <div id="f1_container" class="col-lg-3 float-left padding-right_div bottom">

                <div id="f1_card" class="shadow col-lg-12 ">
                    <div class="front face outer_dashboard">
                        <div style="position:absolute; right:0; top:20;"> <img src="/Images/PMS/approve_big.png" class="" alt="Approve" /></div>
                        <div class="col-lg-12 header_text_dshboard1">Approve </div>
                        <div class="col-lg-12 padding-none">
                            <div class="col-lg-6 float-left padding-none"><img src="/Images/PMS/approve_small.png" class="dashboard-image" alt="Approve" /></div>
                            <div class="col-lg-6 float-left">
                                <span class="link_dashboard"> 02</span>
                            </div>
                        </div>
                    </div>
                    <div class="back face center outer_dashboard">
                        <div class="col-lg-12 padding-none">

                            <div class="col-lg-12 padding-none">
                                <div class=" col-lg-12 padding-none  float-right ">

                                    <ul class="style-2  float-left flip_list col-lg-12">
                                        <li>
                                            <a href="#" class="float-left col-lg-12">
                                                <div class="float-left padding-none col-lg-11">New Document New Document New Document</div>
                                                <div class="float-right padding-none col-lg-1 ">07</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="float-left col-lg-12">
                                                <div class="float-left padding-none col-lg-11">New Document</div>
                                                <div class="float-right padding-none col-lg-1">07</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="float-left col-lg-12">
                                                <div class="float-left padding-none col-lg-11">New Document </div>
                                                <div class="float-right padding-none col-lg-1">07</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="float-left col-lg-12">
                                                <div class="float-left padding-none col-lg-11">New Document </div>
                                                <div class="float-right padding-none col-lg-1">07</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="f1_container" class="col-lg-3 float-left padding-right_div bottom">
                <div id="f1_card" class="shadow col-lg-12 ">
                    <div class="front face outer_dashboard1">
                        <div style="position:absolute; right:0;opacity:0.2; top:20;"> <img src="/Images/PMS/reverted.png" class="" alt="Approve" /></div>
                        <div class="col-lg-12 header_text_dshboard2">Revert </div>
                        <div class="col-lg-12 padding-none float-left">

                            <div class="col-lg-6 padding-none float-left"> <img src="/Images/PMS/revetred_small.png" class="dashboard-image" alt="Approve" /></div>
                            <div class="col-lg-6 float-left ">
                                <span class="link_dashboard1">02 </span>
                            </div>
                        </div>
                    </div>
                    <div class="back face center outer_dashboard1">
                        <div class="col-lg-12 padding-none">
                            <div class="col-lg-12 padding-none">
                                <div class=" col-lg-12 padding-none  float-right ">
                                    <ul class="style-2  float-left flip_list1 col-lg-12">
                                        <li>
                                            <a href="#" class="float-left col-lg-12">
                                                <div class="float-left padding-none col-lg-11">New Document New Document New Document</div>
                                                <div class="float-right padding-none col-lg-1 ">07</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="float-left col-lg-12">
                                                <div class="float-left padding-none col-lg-11">New Document</div>
                                                <div class="float-right padding-none col-lg-1">07</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="float-left col-lg-12">
                                                <div class="float-left padding-none col-lg-11">New Document </div>
                                                <div class="float-right padding-none col-lg-1">07</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="float-left col-lg-12">
                                                <div class="float-left padding-none col-lg-11">New Document </div>
                                                <div class="float-right padding-none col-lg-1">07</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!----charts----------->
    <div class="col-12 float-left padding-none">
        <div class="col-md-6  top float-left">
            <div class="grid_header float-left col-lg-12">
                <div class="col-lg-6 float-left padding-none">SOP's</div>
                <div class="col-lg-6 float-left padding-none">
                    <div class="panel_list float-right">
                        <ul>
                            <li>
                                <a href="#" class="fav"></a>
                            </li>
                            <li>
                                <a href="#" class="refresh"></a>
                            </li>
                            <li>
                                <a href="#" class="filter_icon filter_one"></a>
                                <div class="col-lg-12 filter_dropdown " id="filter_dropdown1">
                                    <ul class="top">
                                        <li>
                                            <div class="form-group  col-lg-12 padding-none">
                                                <select name="cars" class=" select_dashboard col-lg-12">
                                                    <option value="volvo">Select Department</option>
                                                    <option value="saab">IT</option>
                                                    <option value="fiat">QA</option>
                                                    <option value="audi">HR</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group  col-lg-12 padding-none">
                                                <select name="cars" class="select_dashboard col-lg-12">
                                                    <option value="volvo">Select Department</option>
                                                    <option value="saab">IT</option>
                                                    <option value="fiat">QA</option>
                                                    <option value="audi">HR</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="form-group  col-lg-12 padding-none">
                                                <select name="cars" class=" select_dashboard col-lg-12">
                                                    <option value="volvo">Select Department</option>
                                                    <option value="saab">IT</option>
                                                    <option value="fiat">QA</option>
                                                    <option value="audi">HR</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li class="float-right">
                                            <a style="background:none;padding:0px;" id="dashboard_btn1">
                                                <button class="btn submitbtn btn-sm">Submit</button>
                                                <button class="  btn cancelbtn btn-sm">Cancel</button>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12  grid_panel_full bottom float-left">
                <div md="main" class="chart" style="height:380px">Place chart here</div>
            </div><!--/col-md--->
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".filter_dropdown").hide();
        $("#canvas").hide();
        $("#dashboard_btn").on("click", function () {
            $("#filter_dropdown2").hide();
        });
        $(".filter_two").on("click", function () {
            $("#filter_dropdown2").toggle();
        });
        $("#dashboard_btn1").on("click", function () {
            $("#filter_dropdown1").hide();
        });

        $(".filter_one").on("click", function () {
            $("#filter_dropdown1").toggle();
        });
    });
</script>
