﻿.GridPager a, .GridPager span {
    display: block;
    padding: 3px 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 2px;
}

.GridPager a {
    background-color: #38b8ba;
    color: #fff;
    border: 1px solid #969696;
    padding: 4px 12px;
    float: right;
}
.GridPager span {
    background-color: #A1DCF2;
    color: #000;
    border: 1px solid #3AC0F2;
}


.GridPager a:hover {
    background-color: #38b8ba;
    color: #fff;
    border: 1px solid #969696;
    padding: 4px 12px;
    float: right;
}

.tmsModalHeader {
    background-color: #38b8ba !important;
    padding: 12px;
}


.tmsModalBody {
    padding: 10px;
    max-height: 676px;
}

.tmsModalContent {
    margin: 0px;
    padding-bottom: 2px;
    padding-top: 2px;   
}

.mandatoryStar {
    color: red;
    font-size: 12px;
    padding-left: 3px;
}

.TestBoxUnderDescription {
    color: darkgray;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

.button {
    background-color: #748CB2; /* blue */
    border: none;
    color: white;
    padding: 4px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_TMS {
    background-color: #49b99a;
    border: none;
    color: white;
    padding: 4px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.Panel_Header {
    background-color: #38b8ba;
    padding: 8px;
    padding-left: 10px;
    padding-right: 0px;
    /*background-color: #07889a;
    margin-bottom: 10px;
    padding: 8px;
    padding-left: 14px;
    padding-right: 0px;*/
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-top: 3px solid #098293;
}

.Panel_Header_TMS {
    background-color: #098293;
    margin-bottom: 10px;
    padding: 5px 0px !important;

}


/*this is for footer in pannel*/
.Panel_Footer {
    padding-bottom: 2px;
    padding-top: 2px;
    margin-top: 10px
}
/*this is for buttons in pannel footer*/
.Panel_Footer_Buttons {
    text-align: center;
}
/*this is for for error message in pannel footer*/
.Panel_Footer_Message_Label {
    text-align: left;
}
/*this is for for error message in Modal Popup footer*/
.Model_Msg {
    padding-left: 5px;
}

.btnReset {
    background-color: red;
    color: white;
}
    .btnReset:focus {
        color: white !important;
    }

    .btnReset:hover {
        color: white !important;
    }
.TMS_Button {
    background-color: #098293;
    color: white;
}

    .TMS_Button:focus {
        color: white !important;
    }

    .TMS_Button:hover {
        color: white !important;
    }

.TMS_AuthorizationError {
    text-align: center;
    font-weight: bold;
    top: 30px;
    position:static;
}

.Panel_Frame {
    border: solid;
    border-color: #38b8ba;
    border-width: 2px;
    margin-left: 0%;
    margin-right: 0%;
}

.GV_Edit_Icon {
    color: #000000;
    font-size: 16px;
}

.InBtn_Icon {    
    font-size: 16px;
    padding-right:3px;
}

.GV_ViewDoc_Icon {
    color: #000000;
    font-size: 25px;
}

.GV_EmptyDataStyle {
    text-align: center;
    font-size: larger;
    color: darkgray;
}

.txtCenterIcon {
    padding: 3px !important;
    text-align: center;
    verti
        -align: middle !important;
}

.txtCenterGv {
    text-align: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 16px;
    width: 20px;
}
.select2-results__option:hover {
    background: #0a9cb0 !important;
}
.select2-results__option--highlighted {
    background: #0a9cb0 !important;
}
/*style form tool tip user defined*/
.ui-tooltip, .arrow:after {
    background-color: black;
    border: 2px solid darkgray;
}

.ui-tooltip {
    padding: 5px 10px;
    color: white;
    border-radius: 15px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    /*text-transform: uppercase;*/
    box-shadow: 0 0 7px black;
}

.arrow {
    width: 40px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

    .arrow.top {
        top: -16px;
        bottom: auto;
    }

    .arrow.left {
        left: 20%;
    }

    .arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        top: -20px;
        width: 25px;
        height: 25px;
        box-shadow: 6px 5px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .arrow.top:after {
        bottom: -20px;
        top: auto;
    }

textarea {
    resize: none;
}
/*form search type input*/
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.SearchDropDown {
    height: 28px;
}
/*boot strap modal popup close icon style*/
.close {
    color: #fbfcff;
    opacity: 1;
}

.PwdValidation {
    font-size: 12px;
}

/*to make first letter of every word as capital in this text box*/
.Capital {
    text-transform: capitalize;
}

/*In TMS for Trainer Evalution and TrainingCoordinator_Evalution */
a.tabstyle:hover {
    color: #160e1e !important;
}



.QuestionOptions label {
    font-weight: normal;
    display: inline !important;
}

.rblOptions label {
    margin-left: 2px !important;
    margin-right: 5px !important;
    font-weight: normal !important;
}
.hr_Line {
    margin-top: 10px;
    margin-bottom: 10px;   
}
/*label css*/
.label_error {
    color: red;
}

.label_success {
    color: green;
}

.UserDefinedTable {
    background-color: #38b8ba;
    color: white;
}
/* Jquery CSS starts*/

/*.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0;
    margin-left: 1px !important;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #0d6d7a !important;
    border: 1px solid #0d6d7a;
    border-radius: 2px;
    font-family: seguisb;
}

.pagination > li > a, .pagination > li > span {
    margin-left: 0px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #0d6d7a;
    font-family: seguisb;
    border-color: 1px solid #0d6d7a;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #dcfafe;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.even {
    background-color: #c0d4d7;
}

    table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
        background-color: #c0d4d7;
    }

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #dcfafe;
}

table.dataTable.display tbody td {
    color: #121111 !important;
    font-family: seguisb;
}

.close {
    color: #fff;
    opacity: 1;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    background: #07889a;
    color: #fff;
}*/
/* Jquery DataTable Ends*/
