﻿@font-face {
    font-family: seguisb;
    src: url(../fonts/seguisb.ttf);
}

@font-face {
    font-family: SEGOEUI;
    src: url(../fonts/SEGOEUI.ttf);
}

@font-face {
    font-family: segoe-light;
    src: url(../fonts/segoeuil.ttf);
}

@font-face {
    font-family: SEGOEUIB;
    src: url(../fonts/SEGOEUIB.ttf);
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

    .flip-container:hover .flipper,
    .flip-container.hover .flipper {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    height: 125px;
}

.style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #3e3e3e;
}

.style-2::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: #3e3e3e;
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #fff;
}

.f1_container {
    position: relative;
    height: 120px;
    z-index: 1;
}

.f1_container {
    perspective: 1000;
}

.f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.f1_container:hover .f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

    .face.back {
        display: block;
        transform: rotateY(180deg);
        box-sizing: border-box;
        color: white;
        text-align: center;
    }

.flip_list {
    padding: 0;
    margin: 0;
    max-height: 112px;
    overflow-y: auto;
}

    .flip_list li a {
        list-style-type: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        padding: 4px 7px 4px 6px;
        font-size: 10pt;
        text-align: left;
        font-family: seguisb;
    }

        .flip_list li a:hover {
            list-style-type: none;
            border-bottom: 1px solid #fff;
            color: #3e3e3e;
            padding: 4px 7px 4px 6px;
            background: #fff;
            font-size: 10pt;
            text-align: left;
            font-family: seguisb;
            border-radius: 4px;
        }

    .flip_list li {
        list-style-type: none;
    }
