﻿.nav_panel {
    border: 1px solid #38b8ba;
    height: 92%;
    padding: 4px;
    background: #c0d4d7;
    position: fixed;
    top: 60px;
    overflow-y: auto;
}
.panel_ums {
    float: left;
    width: 100%;
}
.panel {
    margin-bottom: 2px !important;
}
.panel-default {
    border: none;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panelList.active {
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba;
    width: 100% !important;
    color: #fff !important;
}

