﻿.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 2px;
    padding-top: 2px;
    cursor: pointer;
    font-size: 14px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 1px solid #B6AEAE;
}

.control-radio .control_indicator {
    border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #748cb2;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-radio .control_indicator:after {
    left: 6px;
    top: 6px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
}

.control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b;
}
.close {
    color: #fbfcff;
    opacity: 1;
}


.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

    .button2:hover {
        background-color: #008CBA;
        color: white;
}