﻿


/*----ums-------*/







/*--------tms-------*/



.grid_panel_full {
    border: 1px solid #38b8ba;
}

.grid_panel_full_inner {
    border: 1px solid #c0d4d7;
}

/*----dsboard-------*/
.outer_dashboard1 {
    border-radius: 4px;
    border: 2px solid #d07d7d;
    margin-bottom: 10px;
    background: #d07d7d;
}

    .outer_dashboard1:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.outer_dashboard2 {
    border-radius: 4px;
    border: 2px solid #6d8b8c;
    margin-bottom: 10px;
    background: #6d8b8c;
}

    .outer_dashboard2:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.outer_dashboard3 {
    border-radius: 4px;
    border: 2px solid #525d5d;
    margin-bottom: 10px;
    background: #525d5d;
    height: 100%;
}

    .outer_dashboard3:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.outer_dashboard {
    border-radius: 4px;
    border: 2px solid #32a4c0 !important;
    margin-bottom: 10px;
    background: #32a4c0 !important;
    height: auto !important;
}

    .outer_dashboard:hover {
        -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
        box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    }

.view_text_dshboard {
    color: #fff;
    padding: 8px;
    font-family: seguisb;
    font-size: 13px;
}

.header_text_dshboard {
    color: #fff;
    padding: 10px;
    font-family: seguisb;
    font-size: 11pt;
    border-bottom: none !important;
}

.top {
    margin-top: 10px;
}

.link_dashboard a {
    color: #fff;
    font-family: seguisb;
    font-size: 30pt;
    float: right;
    padding: 5px;
}

.dashboard-image {
    margin-top: 10px;
    padding: 0px 14px;
    margin-bottom: 10px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fade-in.one {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

.dashboard_toogle_box_1 {
    background: #fff;
    border: 2px solid #676767;
    color: #676767;
    border-radius: 50px;
    width: 25px;
    font-size: 14px;
    margin-top: -21px;
    position: absolute;
    right: 0;
}

.dashboard_toogle_box_2 {
    background: #fff;
    border: 2px solid #d07d7d;
    color: #d07d7d;
    border-radius: 50px;
    font-size: 14px;
    /* float: right; */
    width: 25px;
    margin-top: -21px;
    position: absolute;
    right: 0;
}

.dashboard_toogle_box_3 {
    background: #fff;
    border: 2px solid #6d8b8c;
    color: #6d8b8c;
    border-radius: 50px;
    font-size: 14px;
    width: 25px;
    margin-top: -21px;
    position: absolute;
    right: 0;
}

.dashboard_toogle_box_4 {
    background: #fff;
    border: 2px solid #525d5d;
    color: #525d5d;
    border-radius: 50px;
    font-size: 14px;
    width: 25px;
    margin-top: -21px;
    position: absolute;
    right: 0;
}

.card_view_box_1 {
    color: #fff;
    padding: 33px !important;
    text-align: center;
    width: 100%;
    font-size: 15pt;
}

.card_view_box_2 {
    color: #d07d7d;
}

.card_view_box_3 {
    color: #6d8b8c;
}

.card_view_box_4 {
    color: #525d5d;
}

.dropdown-menu_list > li > a {
    border: 1px solid #6d8b8c;
    white-space: inherit;
    cursor: pointer;
    color: #6d8b8c !important;
    font-size: 10pt;
    padding: 5px;
}

    .dropdown-menu_list > li > a:hover {
        border: 1px solid #6d8b8c;
        white-space: inherit;
        background: #6d8b8c !important;
        cursor: pointer;
        color: #fff !important;
    }

.dropdown-menu_list_approval > li > a {
    border: 1px solid #676767;
    white-space: inherit;
    cursor: pointer;
    color: #676767 !important;
    font-size: 10pt;
    padding: 5px;
}

    .dropdown-menu_list_approval > li > a:hover {
        border: 1px solid #676767;
        white-space: inherit;
        background: #676767 !important;
        cursor: pointer;
        color: #fff !important;
        font-size: 10pt;
    }

.dropdown-menu_list_reverted > li > a {
    border: 1px solid #d07d7d;
    white-space: inherit;
    cursor: pointer;
    color: #d07d7d !important;
    font-size: 10pt;
    padding: 5px;
}

    .dropdown-menu_list_reverted > li > a:hover {
        border: 1px solid #d07d7d;
        white-space: inherit;
        background: #d07d7d !important;
        cursor: pointer;
        color: #fff !important;
    }

.dropdown-menu_list_panel4 > li > a {
    border: 1px solid #525d5d;
    white-space: inherit;
    cursor: pointer;
}

    .dropdown-menu_list_panel4 > li > a:hover {
        border: 1px solid #525d5d;
        white-space: inherit;
        background: #525d5d !important;
        cursor: pointer;
        color: #fff !important;
    }

.dropdown-menu {
    padding: 0;
}

.chart_icon {
    position: absolute;
    z-index: 1011;
    bottom: 0;
    right: 0;
}

    .chart_icon ul {
        margin: 0;
        padding: 0;
    }

        .chart_icon ul li {
            list-style-type: none;
            cursor: pointer;
        }

.clock_bg {
    -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    border-radius: 4px;
}

#canvas {
    position: absolute;
    width: 141px;
    box-shadow: 1px 0px 84px -11px #3e3e3e;
    border: 2px solid #3e3e3e;
    bottom: 0;
    z-index: 999;
    right: 50px;
    border-radius: 86px;
}

.panel_list ul {
    padding: 0;
    margin: 0;
}

    .panel_list ul li {
        list-style-type: none;
        display: inline;
    }

        .panel_list ul li a {
            background: url(../Images/common_dashboard/panel_list.png) no-repeat;
            padding: 8px 18px 8px 13px;
            cursor: pointer;
        }

            .panel_list ul li a.fav {
                background: url(../Images/common_dashboard/panel_list.png) no-repeat;
                background-position: 0px 0px;
            }

            .panel_list ul li a.refresh {
                background: url(../Images/common_dashboard/panel_list.png) no-repeat;
                background-position: 0px -43px;
            }

            .panel_list ul li a.filter_icon {
                background: url(../Images/common_dashboard/panel_list.png) no-repeat;
                background-position: 0px -80px;
            }

.filter_dropdown {
    position: absolute;
    background: #f0f0f0;
    z-index: 8;
    right: 0;
    padding: 10px;
    border: 1px solid #aeaeae;
    top: 33px;
    width: 300px;
}

    .filter_dropdown .dropdown-menu {
        padding: 0;
        margin: 0px !important;
    }

.drop .dropdown-menu {
    padding: 0;
    margin: 0px !important;
}

.bottom {
    margin-bottom: 10px;
}

.select_dashboard {
    padding: 4px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    color: #000;
    font-size: 10pt;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    color: #000;
}

.calender_atc {
    margin: 0;
    padding: 6px;
    background: #fff;
    border: 2px solid #525d5d;
    float: right;
}

.panel_list_bg {
    background: url(../Images/common_dashboard/panel_bg_tiltes.png) no-repeat;
    background-position: right top;
    background-color: #fcfbfb;
}

.grid_header_dashboard {
    background: #d4d4d4;
    padding: 7px;
    color: #2e2e2e;
    font-size: 9pt;
    font-family: seguisb;
}

.calender_atc li {
    display: inline;
}

    .calender_atc li a {
        padding: 20px 10px;
        background: #f1f0f0;
        margin-bottom: 2px;
        float: left;
        border-right: 2px solid #fff;
        width: 25%;
        color: #525d5d;
        font-family: seguisb;
    }

.calender_atc .dropdown_atc li a {
    padding: 8px !important;
    background: #f1f0f0;
    margin-bottom: 2px;
    float: none !important;
    border-right: 2px solid #fff;
    width: 100% !important;
    color: #525d5d;
    font-family: seguisb;
    font-size: 10pt;
    z-index: 999;
}

.calender_atc li a:hover {
    padding: 20px 10px;
    background: #525d5d;
    margin-bottom: 2px;
    float: left;
    border-right: 2px solid #fff;
    width: 25%;
    color: #fff;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}

.calender_atc li a.active {
    padding: 20px 10px;
    background: #525d5d;
    margin-bottom: 2px;
    float: left;
    border-right: 2px solid #fff;
    width: 25%;
    color: #fff;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}

.atcCardDocsList {
    /*position: absolute;*/
    background: #fff;
    border: 2px solid #3e3e3e;
    min-height: 225px;
    max-height: 400px;
    overflow: auto;
    /*top: 153px;
    left: -317px;*/
    float: right;
    box-shadow: 0px 25px 30px -16px;
}

#tblAtcDocsList thead th {
    background: #525d5d;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    font-family: seguisb;
    padding: 8px 0px;
}

#tblAtcDocsList tbody tr td {
    border-bottom: 1px solid #3e3e3e;
    font-size: 13px;
    font-weight: 600;
    font-family: seguisb;
    text-align: center;
    padding: 8px 0px;
    color:#000 !important;
}

.close_Cal {
    cursor: pointer;
}

.atc_month_count {
    float: right;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -7px;
        margin-left: 18px;
        margin-right: 20px;
        font-size: 30px;
    }

    .atc_month_count {
        float: right;
        font-size: 10px;
        font-weight: bold;
        text-decoration: underline;
    }

    .calender_atc li a {
        padding: 20px 10px;
        background: #f1f0f0;
        margin-bottom: 2px;
        float: left;
        border-right: 2px solid #fff;
        width: 25%;
        color: #525d5d;
        font-family: seguisb;
        font-size: 10px;
    }
}

.grid_panel_full_vms {
    border: 1px solid #c0d4d7;
    height: 507px;
    overflow: auto;
}

.dropdown-menu ul a {
    background-image: none !important;
}

.toggle_dropdown {
    position: absolute !important;
    right: 10px;
}
@media only screen and (min-width: 1000px) and (max-width: 1280px) {
    .calender_atc {
        margin: 0;
        padding: 2px;
        background: #fff;
        border: 2px solid #525d5d;
        float: right;
    }
}

.dashboard_panel_value {
    font-size: 10pt;
    text-align: right;
    font-weight: bold;
    margin-top: 0px;
    text-decoration:underline;
}

.dashboard_frontpanel_value {
    font-size: 25pt;
    font-weight: bold;
}
