﻿#menu {
    position: fixed;
    background-color: #222;
    height: 100%;
    z-index: 10;
    width: 280px;
    color: #bbb;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
    font-family: 'Source Sans Pro', sans-serif;
}

#menu ul {
    list-style: none;
    margin-top: 0;
    padding: 0
}

    #menu ul li {
        border-bottom: 1px solid #2a2a2a;
    }

#menu > ul > li > a {
    border-left: 4px solid #222;
}

#menu ul li a {
    color: inherit;
    font-size: 16px;
    display: block;
    padding: 8px 0 8px 7px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 600;
}

#menu ul a i {
    margin-right: 10px;
    font-size: 18px;
    margin-top: 3px;
    width: 20px;
}

    #menu ul a i[class*='fa-caret'] {
        float: right;
    }

#menu ul a:hover,
#menu ul a.active {
    background-color: #111;
    border-left-color: #FFCC33;
    color: #FFCC33;
}

    #menu ul a:hover i:first-child {
        color: #FFCC33;
    }

/* Submenu */

#menu ul li a.active + ul {
    display: block
}

#menu ul li ul {
    margin-top: 0;
    display: none;
}

    #menu ul li ul li {
        border-bottom: none;
    }

        #menu ul li ul li a {
            padding-left: 30px;
        }

            #menu ul li ul li a:hover {
                background-color: #1A1A1A;
            }

/* /Submenu */


/* Cuando este a la Izq, para esconderlo posicionarlo a la Izq a -width */

.left {
    left: -280px;
}

.show {
    left: 0;
}

#showmenu {
    margin-left: 100%;
    position: absolute;
    top: 0;
    padding: 6px 10px 7px 10px;
    font-size: 1.3em;
    color: #3b3b3c;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /*margin-top:50px;*/
}

#container {
    padding: 50px;
}

/*--side bar---*/
.tms_bg {
    background: #d4e1e7;
}

.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: #fff; /* adjust as needed */
    margin-top: -16px;
}
.accordion-toggle.collapsed:after {
    
    content: "\e080"; 
}
.accordion-toggle_leftnav:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: #38b8ba; /* adjust as needed */
    margin-top: -16px;
}

.accordion-toggle_leftnav.collapsed:after {
    content: "\e114";
}

.title_faq > a:before {
    float: left !important;
    font-family: Glyphicons Halflings;
    content: "\2212";
    padding-right: 5px;
    color: #868686;
}

.title_faq > a.collapsed:before {
    float: left !important;
    content: "\2b";
}
.title_faq > span:after {
    float: left !important;
    font-family: Glyphicons Halflings;
    content: "\2212";
    padding-right: 5px;
    color: #868686;
}

.title_faq > span.collapsed:after {
    float: left !important;
    content: "\2b";
}
.nav_panel {
    border: 1px solid #38b8ba;
    /*height: 654px;*/
    padding: 4px;
    background: #c0d4d7;
}

.panel-default > .panel-heading {
    color: #38b8ba;
    background-color: #ffffff;
    border: 1px solid #38b8ba;
    /*float:left;*/
    width: 100%;
}


.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 1px solid #38b8ba;
}

.nav_panel {
    border: 1px solid #38b8ba;
    height: 705px;
    padding: 4px;
    background: #c0d4d7;
}
.panel-group .panel + .panel {
    margin-top: 0px;
}

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 1px solid #38b8ba;
}
.child_acc {
    background: #e4ecf0;
   
}
.panel-group {
   margin-bottom: 0px !important;
}
.nav_list {
    float: left;
}

    .nav_list ul {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
    }

        .nav_list ul li {
            list-style-type: none;
            float: left;
            width: 100%;
            margin-bottom: 0px !important;
        }

            .nav_list ul li a {
                text-decoration: none;
                background: #fff;
                padding: 6px 10px;
                border: 1px solid #38b8ba;
                color: #38b8ba;
                width: 100%;
                float: left;
                font-family: seguisb;
                font-size: 10pt;
            }

                .nav_list ul li a:hover {
                    text-decoration: none;
                    background: #38b8ba;
                    padding: 6px 10px;
                    border: 1px solid #38b8ba;
                    color: #fff;
                    width: 100%;
                    float: left;
                    font-family: seguisb;
                    font-size: 10pt;
                }

.navBgStyle {
    padding: 5px;
    background: #c0d4d7;
}

.panel-group .panel + .panel {
    margin-top: -2px;
}

.panel-title a {
    font-family: seguisb;
    font-size: 10pt;
    text-decoration: none;
    cursor: pointer !important;
}
.closebtn {
    font-size: 14pt;
    cursor: pointer;
    color: #fff;
    padding: 4px 10px;
    background: #38b8ba;
    border-radius: 4px;
    width: 36px;
    float: left;
    margin-bottom: 6px;
}

.closebtn1 {
    font-size: 14pt;
    cursor: pointer;
    color: #fff;
    padding: 4px 10px;
    background: #38b8ba;
    border-radius: 4px;
    width: 36px;
    float: left;
    margin-right: 10px;
    margin-bottom: 6px;
}

.panelLeftNavi {
    padding: 5px;
    background: #c0d4d7;
}
.panel-default > .child_acc {
    color: #044c56;
    background-color: #72bcc7;
    border: 1px solid #38b8ba;
}


.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.nav_list ul li a.active {
    text-decoration: none;
    background: #38b8ba !important;
    padding: 6px 12px !important;
    border-bottom: 1px solid #38b8ba !important;
    color: #fff !important;
    width: 100%;
    float: left !important;
    font-family: seguisb;
    font-size: 10pt;
}

.left_nav_list {
    font-family: seguisb;
    font-size: 10pt;
    padding: 2px;
}

.nav_list-child ul li a {
    text-decoration: none;
    background: #edf7f7;
    padding: 6px 10px;
    color: #38b8ba;
    width: 100%;
    float: left;
    font-family: seguisb;
    font-size: 10pt;
}
.panelList.active {
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba;
    width: 100% !important;
    color: #fff !important;
}

.panelList:hover {
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba;
    width: 100% !important;
    color: #fff !important;
}

.panel_ums {
    float: left;
    width: 100%;
}
.panel-group .panel + .panel {
    margin-top: 0px;
}