﻿@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: seguisb;
    src: url(../fonts/seguisb.ttf);
}

@font-face {
    font-family: SEGOEUI;
    src: url(../fonts/SEGOEUI.ttf);
}

@font-face {
    font-family: segoe-light;
    src: url(../fonts/segoeuil.ttf);
}

@font-face {
    font-family: SEGOEUIB;
    src: url(../fonts/SEGOEUIB.ttf);
}

.grid_area {
    background: #fff;
    padding: 0px 4px;
    float: left;
}
.padding-none {
    padding: 0px !important;
}
.panel-group .panel_ums {
    /*margin-bottom: 4px !important;*/
}
/*.outer_border {
    border: 1px solid #33a3b2;
    margin-top: 15px;
    background: #fff;
    padding: 4px;
    float: left;
}*/

.panel-heading_title {
    background: #38b8ba;
    padding: 10px;
    margin-bottom: 10px;
    font-family: seguisb;
    font-size: 12pt;
    color: #fff;
    border-radius: 0px;
}

.vms_accordion {
    border: 1px solid #38b8ba !important;
    color: #38b8ba;
    margin-bottom: 4px;
}

.privilages_panel {
    padding: 12px;
}

.department .modal-header {
    background: #38b8ba;
    color: #fff;
}

.grid_header_vms {
    background: #38b8ba;
    padding: 10px;
    color: #fff;
    font-size: 12pt;
    font-family: seguisb;
}

.inner_border {
    border: 1px solid #33a3b2;
    background: #fff;
    padding: 4px;
}

.panel-default {
    border: none;
}

.panel-body {
    padding: 0px !important;
}

.Panel_Header_acc {
    background-color: #098293;
    margin-bottom: 10px;
    padding: 5px 0px !important;
    font-family: seguisb;
    font-size: 10pt;
}

.Panel_Title {
    color: #f5f5ff;
    font-size: 12pt;
    font-family: seguisb;
}

.modal-header {
    padding: 10px !important;
}

.tmsModalHeader {
    background-color: #38b8ba !important;
}

.panel {
    margin-bottom: 2px !important;
}

.form-group label {
    color: #38b8ba;
    font-family: seguisb;
}

table.dataTable thead th, table.dataTable thead td {
    text-align: center;
    padding: 5px 18px;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    background: #38b8ba;
    color: #fff;
    font-size: 10pt;
    font-family: seguisb;
}



body {
    background-color: #fff !important;
}

.gridtextalign {
    text-align: left;
}

.grid_assgin_nav {
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.padding-right_div {
    padding-right: 10px;
    padding-left: 0px;
}

.padding-left_div {
    padding-left: 10px;
    padding-right: 0px;
}

.richText .richText-editor {
    padding: 4px;
    background-color: #FFFFFF;
    border-left: #FFFFFF solid 2px;
    font-family: Calibri,Verdana,Helvetica,sans-serif;
    outline: none;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 14pt;
    height: 0px !important;
    min-height: 215px;
    /*max-height:400px;*/
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0px;
    color: #064a53;
    font-family: seguisb;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #383838;
    cursor: default;
    background-color: #38b8ba;
    border-top: 2px solid #38b8ba !important;
    border-bottom-color: transparent;
    font-family: seguisb;
}

.nav-tabs > li > a:hover {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #000;
    font-family: seguisb;
    background-color: #bbbbbb;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.create_label {
    color: #38b8ba;
    font-family: seguisb;
}

.inner_border_jr_ts {
    border: 1px solid #33a3b2;
    background: #fff;
    padding: 0px 4px;
}
/*table tr td label {
    color: #07889a !important;
    font-family: seguisb;
    font-size: 12pt;
    padding: 0px 4px;
}*/

table tr td label {
    font-family: seguisb;
    font-size: 10pt;
    padding: 0px 4px;
    font-weight: normal !important;
}

#notification_li {
    float: left;
}

#notificationContainer {
    background-color: #fff;
    overflow: visible;
    position: absolute;
    top: 58px;
    right: 6px;
    width: 400px;
    z-index: 10;
    display: none;
}

    #notificationContainer:before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        color: #000;
        border: 10px solid #38b8ba;
        border-color: transparent transparent #38b8ba;
        margin-top: -20px;
        margin-left: 190px;
    }

.test_time {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: #000;
    border: 10px solid #38b8ba;
    border-color: transparent transparent #38b8ba;
    margin-top: 14px;
    margin-left: -12px;
    /* right: 0; */
    z-index: 9;
}

#notificationTitle {
    font-weight: bold;
    padding: 8px;
    font-size: 12pt;
    background-color: #38b8ba;
    z-index: 1000;
    color: #fff;
    font-family: seguisb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #38b8ba;
}

#notificationsBody {
    /*min-height: 300px;*/
    border: 1px solid #38b8ba;
}

.grid_border {
    border: 1px solid #38b8ba;
    float: left;
}

#notificationFooter {
    background-color: #38b8ba;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #38b8ba;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 36px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    position: absolute;
    margin-top: 3px;
    font-size: 11px;
    z-index: 9;
}

#notificationFooter a {
    padding: 0px;
    width: 100%;
    border: none;
    color: #fff;
    background: none;
    float: none;
    font-family: seguisb;
}

.notifications_alerts {
    padding: 3px;
    margin: 0;
    /*height: 367px;*/
    /*max-height:400px;*/
    overflow-y: auto;
    overflow-x: hidden;
}

    .notifications_alerts a {
        color: #38b8ba !important;
        padding: 6px 14px !important;
        font-size: 14px !important;
        color: #38b8ba !important;
        font-family: seguisb;
        text-decoration: underline;
        border: none;
    }

.CloseNotification {
    right: -4px;
    font-family: seguisb;
    top: -6px;
    color: red;
    font-size: 14pt;
}

.landing_links ul li a.notification {
    background: url(../Images/Landing/sprite_landing.png) no-repeat;
    background-position: 6px -482px;
    padding: 24px 30px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background-repeat: no-repeat;
}

    .landing_links ul li a.notification:hover {
        background-position: 6px -569px;
    }
/*unseen notification(New,Not visited)*/
.panel_list_notificaton_1 {
    border: 1px solid #38b8ba;
    float: left;
    width: 100%;
    background: #f4f4f4;
    margin-bottom: 2px;
}
/*seen notification (Old, Visited)*/
.panel_list_notificaton_2 {
    border: 1px solid #38b8ba;
    float: left;
    width: 100%;
    background: #fff;
    margin-bottom: 2px;
}

.moudle_time {
    float: right;
    color: #666666 !important;
    font-family: seguisb;
    font-size: 9pt;
    padding: 4px 0px;
}

.moudle_label_UMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #087d7e;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}
.moudle_label_RA {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #98d66c;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}
.moudle_label_VMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #478cf3;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}

.moudle_label_DMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #ec4909;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}

.moudle_label_HRMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #dd7d0c;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}

.moudle_label_QMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #5970fb;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}

.moudle_label_TMS {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #1c7d96;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}
.moudle_label_RA {
    border-radius: 4px;
    padding: 0px 12px 0px 11px;
    float: left;
    background: #6b7365;
    color: #fff !important;
    font-family: segoe-light;
    font-size: 12px;
}


.style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.notifications_alerts a {
    border-right: none !important
}

.style-2::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #5e5e5e;
}

.panel_selection {
    min-height: 300px;
    overflow-y: auto;
    border: 1px solid #38b8ba;
    margin-bottom: 10px;
}

.btn_selection_box {
    border: 1px solid #38b8ba;
    background: #38b8ba;
    color: #fff;
    font-size: 12pt;
    font-weight: bold;
    padding: 9px;
}

.modal1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.input-group-addon {
    text-align: left !important;
}

.attendence_logs {
    float: left !important;
    max-height: 500px;
    overflow: auto;
}

.datepicker-dropdown:after, .datepicker-dropdown:before {
    display: none !important;
}

.datepicker-dropdown:after, .datepicker-dropdown:before {
    display: none !important;
}

.btn {
    display: inline-block;
    padding: 3px 12px !important
}

.work_accordion {
    background: #fff !important;
}

.tab_grid li a {
    border: 1px solid #064a53 !important;
    padding: 7px 26px;
    border-radius: 0px;
    color: #064a53 !important;
    font-family: seguisb;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #38b8ba;
    cursor: default;
    background-color: #fff;
    border: 1px solid #38b8ba;
    border-bottom-color: transparent;
    border-radius: 4px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.tab_grid > li.active > a, .tab_grid > li.active > a:focus, .tab_grid > li.active > a:hover {
    border-top: 3px solid #38b8ba !important;
}


.box {
    display: none;
}

.box1 {
    display: none;
}

.datadiv {
    background: url(../images/tms/reverted_training.png) no-repeat;
    padding: 12px 12px;
    position: absolute;
    right: 13px;
    top: 0px;
    /* bottom: 4px; */
    cursor: pointer;
}



.btn_selection_boxDms {
    border: 1px solid #38b8ba;
    background: #38b8ba;
    color: #fff;
    font-size: 12pt;
    font-weight: bold;
    padding: 6px 12px 6px 12px !important;
}

.feedback_table {
    border: none !important;
}

.feedbackpop .modal-header {
    padding: 6px 16px;
    border-bottom: 1px solid #e5e5e5;
    background: #0b4c55;
    color: #fff;
}

.close_feed {
    margin-top: 8px !important;
}

.btn-primary_radio {
    background: #fff;
    border: 1px solid #0a9cb0;
    color: #0a9cb0;
    margin-bottom: 0px !important;
}

.control-label {
    font-family: seguisb;
    color: #38b8ba;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff !important;
    opacity: 1;
    color: #737373;
    font-family: seguisb;
    cursor: no-drop;
    border: 1px solid #d9d9d9 !important;
}

.ShowMore {
    min-height: 86px;
    max-height: 600px;
}

.ShowLess {
    max-height: 500px;
    padding:10px;
}

.NotifyMore {
    padding: 10px;
    background: #38b8ba;
    color: #fff;
    text-align: center;
    font-family: seguisb;
    font-size: 12pt;
}

.gridSearchBox {
    float: right;
    display: block;
    height: 24px;
    padding: 0px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.gridSearchHeadingTile {
    float: left;
    width: 100%;
}

.gridSearchTile {
    padding: 4px 4px 0px;
    width: 50%;
    float: left;
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9 !important;
}

.glyphicon-trash:before {
    content: "\e020";
    color: red !important;
}

.btn-revert_popup {
    margin-bottom: 4px;
    margin-right: 4px;
    background: #fff;
    border: 1px solid #575757;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 14px;
    color: #575757;
    font-family: seguisb;
    border-radius: 4px;
}

.btn-approve_popup {
    margin-bottom: 4px;
    margin-right: 4px;
    background: #fff;
    border: 1px solid #38b8ba;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 14px;
    color: #38b8ba;
    font-family: seguisb;
    border-radius: 4px;
}

.btn-canceldms_popup {
    margin-bottom: 4px !important;
    background: #fff;
    border: 1px solid #ff6767;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 14px;
    color: #ff6767;
    font-family: seguisb;
    border-radius: 4px;
}

.btn-revert_popup:hover {
    margin-bottom: 4px;
    margin-right: 4px;
    background: #575757;
    border: 1px solid #575757;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 14px;
    color: #fff;
    font-family: seguisb;
    border-radius: 4px;
}

.btn-approve_popup:hover {
    margin-bottom: 4px;
    margin-right: 4px;
    background: #38b8ba;
    border: 1px solid #38b8ba;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 14px;
    color: #fff;
    font-family: seguisb;
    border-radius: 4px;
}
.btn-download {
    background-color: #38b8ba;
    color: #fff;
}
.btn-canceldms_popup:hover {
    margin-bottom: 4px;
    background: #ff6767;
    border: 1px solid #ff6767;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 14px;
    color: #fff;
    font-family: seguisb;
    border-radius: 4px;
}

.dms_outer_border {
    border: 1px solid #33a3b2;
    background: #fff;
    padding: 0px;
}

.vms_outer_border {
    border: 1px solid #33a3b2;
    background: #fff;
    padding: 0px;
    overflow-y: auto;
}

.closebtn {
    font-size: 14pt;
    cursor: pointer;
    color: #fff;
    padding: 2px 8px;
    background: #38b8ba;
    border-radius: 4px;
    width: 32px;
    float: left;
    margin-bottom: 6px;
}


.closebtn1 {
    font-size: 14pt;
    cursor: pointer;
    color: #fff;
    padding: 2px 8px;
    background: #38b8ba;
    border-radius: 4px;
    width: 32px;
    float: left;
    margin-bottom: 6px;
    margin-right: 10px;
}

.grid_header {
    background: #cdedee !important;
    padding: 10px;
    color: #418e8f !important;
    font-size: 11pt !important;
    font-family: seguisb;
    border: 1px solid #38b8ba;
}

    .grid_header .panel-title {
        font-size: 11pt !important;
    }

.nav_panel {
    border: 1px solid #38b8ba;
    height: 92%;
    padding: 4px;
    background: #edf7f7;
    position: fixed;
    top: 60px;
    overflow-y: auto;
}

.grid_area_tms {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 49%, rgba(255,250,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(49%, rgba(245,245,245,1)), color-stop(100%, rgba(255,250,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 49%, rgba(255,250,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 49%, rgba(255,250,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 49%, rgba(255,250,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 49%, rgba(255,250,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fffaff', GradientType=1 );
}

.header_text_dshboard {
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #fff;
    font-family: seguisb;
    font-size: 10pt;
}

.Questionnaire_border {
    padding: 0px;
    border: 1px solid #38b8ba;
}

.dxKBSW input[type='checkbox']:after {
    line-height: 0.3em;
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 0px;
    margin-left: 0px;
    border: 1px solid #0a9baf;
    border-radius: 2px;
    background: #fff;
}

.dxKBSW input[type='checkbox']:checked:after {
    width: 18px;
    height: 18px;
    content: '✔';
    font-size: 24px;
    margin-top: 0px !important;
    float: left;
    color: #0a9baf;
    border: 1px solid #0a9baf;
}

.question_list tbody th {
    background: #38b8ba;
    color: #fff;
}

.question_list tbody tr {
    color: #2e2e2e;
}

.btn-approve_popup:focus {
    color: #fff;
    background: #38b8ba;
}

.btn-revert_popup:focus {
    color: #fff;
    background: #575757;
}

.question_tms {
    background: url(../images/tms/view_answer.png) no-repeat;
    padding: 12px 12px;
    top: 10px;
    position: relative
}

.read_tms {
    background: url(../images/tms/read_icon.png) no-repeat;
    padding: 12px 12px;
    top: 10px;
    position: relative
}

.modal-footer .btn + .btn {
    margin-bottom: 4px;
    margin-left: -4px;
}

.question_acc .panel-heading {
    color: #044c56;
    background: none;
    border-top: 1px solid #3e3e3e !important;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.question_acc .panel-title a {
    font-family: seguisb;
    font-size: 12pt;
    text-decoration: none;
}

.question_acc .panel-title > a:before {
    float: left !important;
    font-family: Glyphicons Halflings;
    content: "\2212";
    padding-right: 5px;
}

.question_acc .panel-title > a.collapsed:before {
    float: left !important;
    content: "\2b";
}

.question_header {
    color: #2e2e2e;
    font-family: seguisb;
    font-size: 12pt;
    padding: 15px 10px;
    border-bottom: 1px solid #38b8ba;
}

.question_answer {
    color: #000;
    font-family: seguisb;
    padding: 0px 10px;
    font-size: 10pt;
}

.question_acc .panel {
    border-top: 1px solid #38b8ba !important;
}

.question_acc .panel-body {
    font-size: 12pt;
    font-family: seguisb;
    background: none !important;
    border: none !important;
    padding: 0px 16px 10px;
}

.question {
    color: #000;
    font-family: seguisb;
    font-size: 12pt;
}

    .question:hover {
        color: #38b8ba;
        font-family: seguisb;
        font-size: 12pt;
        text-decoration: underline;
    }

.divGV_Styles {
    overflow: auto;
    max-height: 400px;
    min-height: 415px !important;
}
/*-----accordion-----*/
.header-default {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 8px;
    border-bottom: 1px solid #38b8ba;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    color: #3a3a3a;
    font-size: 12pt;
    font-family: seguisb;
    cursor: pointer;
    margin-bottom: -10px !important;
}

    .header-default:hover {
        background-color: #38b8ba;
        color: #fff;
    }

.sorting_button {
    text-align: right;
}

.header-active {
    background-color: #38b8ba !important;
    margin-bottom: 0px !important;
    color: #fff;
}

.content-default {
    display: none;
}

.right {
    float: right;
}

.accordion-content {
    text-align: justify;
    box-sizing: border-box;
    margin: 0px;
    padding: 15px;
    border: 1px solid #38b8ba;
}

.inline {
    display: inline;
}

.btn-ordering {
    margin: 0px 10px 0px 10px;
    border: 1px solid inherit;
    background-color: #38b8ba;
    color: #fff;
    border-radius: 4px;
}

[data-type="accordion-search"] {
    min-height: 15px;
    border-radius: 4px;
}

[data-type="accordion-filter"] {
    min-height: 15px;
    border-radius: 0px;
    min-width: 120px;
    height: 20px;
}

.checkmark {
    padding: 6px;
}

.temp {
    margin-right: 12px;
    margin-top: -2px;
    padding: 3px 9px;
    position: relative;
}

    .temp:hover {
        margin-right: 12px;
        margin-top: -2px;
        padding: 3px 9px;
    }

.bottom {
    margin-bottom: 10px;
}

.coversation_setting {
    background: #deecff;
    max-height: 300px;
    overflow-y: auto;
}

.profile_bg_set {
    border: 1px solid #1acde6;
    padding: 8px;
    text-align: center;
}

.text_info {
    font-size: 10px;
    font-family: seguisb;
}

.question_header_reply {
    color: #2e2e2e;
    font-family: seguisb;
    font-size: 12pt;
    padding: 8px 10px;
    border-bottom: 1px solid #38b8ba;
    background: #fff;
}

.btn-send_popup {
    margin-bottom: 4px;
    background: #f1914a;
    border: 1px solid #f1914a;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 14px;
    color: #fff;
    font-family: seguisb;
    border-radius: 4px;
}

    .btn-send_popup:hover {
        margin-bottom: 4px;
        background: #fff;
        border: 1px solid #f1914a;
        border-radius: 0px;
        padding: 4px 22px;
        font-size: 14px;
        color: #f1914a;
        font-family: seguisb;
        border-radius: 4px;
    }

.question_header_conversation {
    font-family: seguisb;
    font-size: 12pt;
    color: #fff;
    padding: 9px;
    background: #38b8ba;
    float: left;
    width: 100%;
    margin-top: 38px;
}

.grid_header span {
    cursor: pointer;
}

.checkbox_faq {
    position: absolute;
    margin-top: 10px !important;
    margin-left: 7px !important;
}

.acc_header {
    position: relative;
}

.total_comments {
    margin-right: 10px;
    font-size: 12px;
    margin-top: 10px;
    color: #a8a8a8;
}

.count_comments {
    color: #38b8ba;
}

.comments_count_new {
    position: absolute;
    right: -7px;
    top: -15px;
    background: #ff5252;
    border-radius: 50px;
    padding: 2px 5px;
}

.text_height {
    max-height: auto;
}

.profile_label {
    color: #38b8ba;
    font-size: 10pt;
    text-align: left;
    margin-bottom: 10px;
    font-family: seguisb !important;
}

.profile_defined label {
    color: #043137 !important;
    font-size: 10pt;
    margin: 0px;
    padding-left: 8px;
    /*text-align: justify;*/
    text-align:left;
}

.header_text_label {
    position: fixed;
    margin-top: -2px;
    z-index: 999;
    width: 32.2%;
    box-shadow: 0px 7px 3px -3px #3e3e3e;
}

.faq_acc .panel-body {
    background: none;
}

.questions_list {
    border-bottom: 1px solid #38b8ba;
    padding: 12px;
    font-size: 14px;
}

.view_faq {
    background: url(../images/tms/view.png) no-repeat;
    padding: 12px 12px;
    position: relative;
    right: 12px;
}

.total_comments_view {
    margin-right: 21px;
    font-size: 12px;
    margin-top: 10px;
    color: #a8a8a8;
    margin-bottom: 7px;
}
/*----dsboard-------*/
.outer_dashboard {
    border-radius: 4px;
    border: 1px solid #177281;
    height: 140px;
    padding: 2px 12px;
    margin-bottom: 10px;
    background: #1998ae;
}

.outer_dashboard:hover {
    -webkit-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    -moz-box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
    box-shadow: -4px 23px 25px -13px rgba(0,0,0,0.52);
}



.top {
    margin-top: 10px;
}

.link_dashboard {
    /*color: #fff;
    font-family: seguisb;
    font-size: 25pt;
    float: right;
    padding: 0px;
}

.link_dashboard:hover {
    text-decoration: none;
}

.dashboard-image {
    margin-top: 10px;
    padding: 0px 14px;
    margin-bottom: 10px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-inTms {
    opacity: 0; /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .fade-inTms .one {
        -webkit-animation-delay: 0.1s;
        -moz-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

.panel-title {
    font-family: seguisb;
    font-size: 10pt;
    text-decoration: none !important;
}

.hyperlink {
    text-decoration: none !important;
}

.btnnVisit {
    background: #38b8ba;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    height: 22px;
    width: 22px;
    border: 1px solid #38b8ba;
    margin-right: 16px;
}

.btngridedit_Vms {
    background: url(../../Images/GridActionImages/edit.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
}

.btngrideditRed_VMS {
    background: url(../../Images/GridActionImages/edit_red.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
}

.btngridCheckOut_VMS {
    background: url(../../Images/GridActionImages/checkout.png) no-repeat;
    padding: 12px 12px;
    top: 10px;
    position: relative;
    background-size: 24px 24px;
}

.btnHistory_VMS {
    background: url(../../Images/GridActionImages/summary_latest.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
}


.btnPrint_VMS {
    background: url(../../Images/GridActionImages/Print.png) no-repeat;
    padding: 3px 12px;
    top: 1px;
    position: relative;
    background-size: 24px 24px;
}

.btn-info_popup {
    margin-left: 4px;
    background: #0db4de;
    border: 1px solid #0db4de;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
}

.btn-alert_popup:hover {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #cc9c1a;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #cc9c1a;
    font-family: seguisb;
}

.btn-alert_popup {
    margin-left: 4px;
    background: #cc9c1a;
    border: 1px solid #cc9c1a;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
}




.grid_head_vms {
    background: #c0d4d7;
    padding: 3px 10px 0px;
    color: #38b8ba;
    font-size: 11pt;
    font-family: seguisb;
}

.visitor_lists {
    padding: 4px;
}
/* Visitor CSS*/
/*------visitor----------*/
.vms_bg {
    background: #fff;
}

.text_content {
    padding: 5rem;
    text-align: center;
    color: #38b8ba;
    font-size: 56pt;
    font-family: SEGOEUI;
}

.vms_landing {
    text-align: center;
    float: left;
    width: 100%;
}

    .vms_landing li {
        border: 1px solid #338d9a;
        background: #2fa6b8;
        list-style: none;
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 10px;
    }

        .vms_landing li a {
            text-decoration: none;
        }

        .vms_landing li:hover {
            box-shadow: 0px 7px 6px 0px rgba(0,0,0,0.26);
            transition: all 0.3s ease-out;
        }

.moudle_name_vms {
    background: #338d9a;
    padding: 10px;
    color: #fff;
    font-family: seguisb;
    font-size: 12pt;
}

.img_langing {
    text-align: center;
    padding: 8px;
}

.dropdown-menu {
    -webkit-transition: all 0.3s ease-out !important;
    -moz-transition: all 0.3s ease-out !important;
    -ms-transition: all 0.3s ease-out !important;
    -o-transition: all 0.3s ease-out !important;
    transition: all 0.3s ease-out !important;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.menu_list li a {
    transition: all 0.3s ease-out;
    width: 100%;
    border-right: none !important;
    border-bottom: 1px solid #fff;
    font-weight: normal !important;
    font-family: seguisb;
}

.username_nav {
    color: #2fa6b8;
    font-size: 16pt;
    text-align: left;
    padding: 4px 0px;
    word-wrap: break-word;
    text-transform: capitalize;
}

.department_nav {
    color: #fff;
    font-size: 10pt;
    text-align: left;
    word-wrap: break-word;
    padding: 0px;
}

.designation_nav {
    color: #fff;
    font-size: 10pt;
    text-align: left;
    padding: 2px;
    word-wrap: break-word;
}

.mail_nav {
    color: #2fa6b8;
    font-size: 11pt;
    text-align: left;
    padding: 2px;
    word-wrap: break-word;
}

.img_nav {
    border: 1px solid #d4d4d4;
    border-radius: 50px;
    padding: 10px;
    width: 88px;
    height: 88px;
}

.menu_list {
    width: 480px !important;
    background: #1f1f1f !important;
    padding: 7px 0px 0px 0px !important;
    margin-top: 10px !important;
    margin-top: 9px !important;
    margin-right: 4px !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
    .menu_list li{
        width:100%;
        float:left;
    }
    .btn-setting {
        background: transparent;
        color: #fff;
        font-family: seguisb;
        font-size: 12pt;
        padding: 10px;
        cursor: pointer;
    }

.icon_label {
    padding: 10px 20px !important;
}
.lastlogin {
    color: #fff !important;
    font-size: 9pt !important;
    padding: 0px 0px 0px 4px !important;
}

.logindt {
    color: #cbefff !important;
}
.user_nav {
    background: url(../images/Landing/sprite_landing.png) no-repeat;
    background-position: -7px -341px;
    padding: 12px 6px 2px 33px;
    color: #fff;
}

.user_fav_icon {
    margin-top: -3px;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    float: left;
    margin-left: -4px;
    margin-right: 6px;
}

.user_details_info a {
    color: #fff !important;
    text-transform: capitalize;
}

.smallred_label_label {
    color: red !important;
    font-size: 12pt !important;
}

.datatable_cust thead th {
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    background: #38b8ba;
    color: #fff;
    font-family: seguisb;
    text-align: center;
    font-size: 10pt;
}
/*  bhoechie tab */
div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #2fa6b8;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

.list-group-item {
    border-color: #2fa6b8 !important;
}

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

    div.bhoechie-tab-menu div.list-group {
        margin-top: 10px;
        margin-bottom: 0;
    }

        div.bhoechie-tab-menu div.list-group > a {
            margin-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group > a .glyphicon,
            div.bhoechie-tab-menu div.list-group > a .fa {
                color: #5A55A3;
            }

            div.bhoechie-tab-menu div.list-group > a:first-child {
                border-top-right-radius: 0;
                -moz-border-top-right-radius: 0;
            }

            div.bhoechie-tab-menu div.list-group > a:last-child {
                border-bottom-right-radius: 0;
                -moz-border-bottom-right-radius: 0;
            }

            div.bhoechie-tab-menu div.list-group > a.active,
            div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
            div.bhoechie-tab-menu div.list-group > a.active .fa {
                background-color: #2fa6b8;
                background-image: #2fa6b8;
                color: #ffffff;
            }

                div.bhoechie-tab-menu div.list-group > a.active:after {
                    content: '';
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    margin-top: -13px;
                    border-left: 0;
                    border-bottom: 13px solid transparent;
                    border-top: 13px solid transparent;
                    border-left: 10px solid #2fa6b8;
                }

div.bhoechie-tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

.bhoechie-tab {
    max-height: 500px;
    overflow: auto;
    padding-left: 0px;
}

.pages_bhoechie-tab {
    overflow: auto;
    max-height: 700px;
    padding-left: 0px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

.depart_list_nav {
    margin: 4;
    padding: 0
}

    .depart_list_nav li a {
        color: #000;
        font-family: seguisb;
        border-radius: 4px;
        float: left;
        padding: 8px 15px;
        background: #a9d8df;
    }

        .depart_list_nav li a:hover {
            text-decoration: none;
            color: #fff;
            font-family: seguisb;
            border-radius: 4px;
            float: left;
            padding: 8px 15px;
            background: #38b8ba;
        }

    .depart_list_nav li {
        list-style-type: none;
        display: inline;
        margin-right: 4px;
        margin-bottom: 4px;
        float: left;
    }


.roles_list_nav {
    margin: 4;
    padding: 0
}

    .roles_list_nav li a {
        color: #000;
        font-family: seguisb;
        border-radius: 4px;
        float: left;
        padding: 5px 0px 5px 8px;
        background: #a9d8df;
    }

        .roles_list_nav li a:hover {
            text-decoration: none;
            color: #fff;
            font-family: seguisb;
            border-radius: 4px;
            float: left;
            padding: 5px 0px 5px 8px;
            background: #38b8ba;
        }

    .roles_list_nav li {
        list-style-type: none;
        display: inline;
        margin-right: 4px;
        margin-bottom: 4px;
        float: left;
    }

        .roles_list_nav li a {
            color: #000;
            font-family: seguisb;
            border-radius: 4px;
            float: left;
            padding: 5px 0px 5px 8px;
            background: #a9d8df;
        }

.grid_assgin_nav {
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.button_top {
    margin-top: 25px;
}

.clear_list {
    color: red;
    padding: 0px 8px 0px 14px;
    cursor: pointer;
}

.value_output {
    color: #000;
}

.bottom_border {
    border-bottom: 1px solid #38b8ba;
}

.checkbox-wrapper {
    margin: 0;
    padding: 0;
}

    .checkbox-wrapper li {
        list-style-type: none;
        width: 100%;
        display: inline;
    }

.view_dep {
    cursor: pointer;
    text-decoration: underline;
}

.file {
    visibility: visible;
    position: absolute;
}

.Reviewer_list ul {
    margin: 0;
    padding: 0;
}

    .Reviewer_list ul li {
        display: inline;
        padding: 3px 8px;
        margin-left: 2px;
        margin-bottom: 4px;
        float: left;
        border: 1px solid #d4d4d4;
    }

.reviewer_name {
    color: #38b8ba;
    font-family: seguisb;
    font-size: 11pt;
}

.reviewer_depart {
    color: #2e2e2e;
    font-family: seguisb;
    font-size: 9pt;
}

.dashboard_msgVMS {
    margin: 28rem auto;
    text-align: center;
    font-size: 27pt;
    color: #38b8ba;
    font-family: seguisb;
}

.text_left {
    text-align: right !important;
}

.label_text {
    padding: 3px 0px 0px 0px;
}

.nav-tabs {
    border-bottom: 1px solid #38b8ba !important;
}

table.fixedHeader-floating {
    position: fixed !important;
    background-color: white
}

    table.fixedHeader-floating.no-footer {
        border-bottom-width: 0
    }

table.fixedHeader-locked {
    position: absolute !important;
    background-color: white
}

@media print {
    table.fixedHeader-floating {
        display: none
    }
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #7b7b7b;
}

.dataTables_wrapper .dataTables_length {
    float: left;
    font-size: 10pt;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    font-size: 10pt;
    text-align: right;
}


.right_icon_acc .panel-title a {
    font-family: seguisb;
    font-size: 10pt;
    padding: 0px 24px;
    text-decoration: none;
}

.image_profile {
    width: 178px;
    height: 188px;
    padding-right: 5px;
    margin: 0px -15px 33px;
}

/*--end dashboard--/*

/*(320x480) iPhone (Original, 3G, 3GS) 
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
     insert styles here 
}

 (320x480) Smartphone, Portrait 
@media only screen and (device-width: 320px) and (orientation: portrait) {
     insert styles here 
}

 (320x480) Smartphone, Landscape 
@media only screen and (device-width: 480px) and (orientation: landscape) {
     insert styles here 
}

 (480x800) Android 
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) {
     insert styles here 
}

 (640x960) iPhone 4 & 4S 
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
     insert styles here 
}

 (720x1280) Galaxy Nexus, WXGA 
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
     insert styles here 
}

 (720x1280) Galaxy Nexus, Landscape 
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) and (orientation: landscape) {
     insert styles here 
}*/
/* (1024x768) iPad 1 & 2, XGA */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* insert styles here */
}

/* (768x1024) iPad 1 & 2, Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /*.dms_outer_border {
        height: 903px;
    }*/

    /*.nav_panel {
        height: 940px;
    }*/

    /*.dms_outer_border_temp {
        height: 500px;
    }*/

    .header_text_dshboard {
        font-size: 11pt;
    }

    .vms_landing li {
        width: 45%;
    }
}

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .dms_outer_border {
        /*height: 649px;*/
    }

    /*.nav_panel {
        height: 685px;
    }*/

    .dms_outer_border_create {
        height: 1209px;
    }

    .header_text_dshboard {
        font-size: 11pt;
    }

    .vms_landing li {
        width: 30%;
    }

    .vms_outer_border {
        height: 602px;
    }

    .padding-right_div {
        padding-left: 10px;
    }
}
/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) {
    .dms_outer_border {
        /*height: 906px;*/
    }

    /*.nav_panel {
        height: 942px;
    }*/

    /*.dms_outer_border_temp {
        height: 795px;
    }*/

    .dms_outer_border_create {
        height: 865px;
    }

    .header_text_dshboard {
        font-size: 11pt;
    }

    .vms_outer_border {
        height: 602px;
    }

    .padding-right_div {
        padding-left: 10px;
    }
}
/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
    .dms_outer_border {
        /*height: 1250px;*/
    }

    /*.nav_panel {
        height: 1285px;
    }*/

    /*.dms_outer_border_temp {
        height: 1044px;
    }*/

    .dms_outer_border_create {
        height: 1209px;
    }

    .header_text_dshboard {
        font-size: 11pt;
    }

    .padding-right_div {
        padding-left: 10px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: portrait) {
    .dms_outer_border {
        /*height: 1250px;*/
    }

    /*.nav_panel {
        height: 1285px;
    }*/

    /*.dms_outer_border_temp {
        height: 500px;
    }*/

    .dms_outer_border_create {
        height: 1209px;
    }

    .header_text_dshboard {
        font-size: 11pt !important;
    }

    .padding-right_div {
        padding-left: 10px;
    }
}
/* (2048x1536) iPad 3 */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
}

/* (1280x720) Galaxy Note 2, WXGA */
@media only screen and (min-device-width: 720px) and (max-device-width: 1280px) {
    /* insert styles here */
}

/* (1366x768) WXGA Display */
@media only screen and (max-width: 1366px) and (max-height: 768px) and (orientation: landscape) {
    .dms_outer_border {
        /*height: 646px;*/
    }

    /*.nav_panel {
        height: 682px;
    }*/

    /*.dms_outer_border_temp {
        height: 488px;
    }*/

    .dms_outer_border_create {
        height: 606px;
    }

    .header_text_dshboard {
        font-size: 11pt;
    }

    .vms_outer_border {
        height: 602px;
    }

    .image_profile {
        width: 128px;
        height: 188px;
        padding-right: 5px;
        margin: 0px -14px 33px;
    }
}

@media only screen and (max-width: 768px) and (max-height: 1024px) {
    /*.dms_outer_border {
        height: 646px;
    }*/

    /*.nav_panel {
        height: 943px;
    }*/

    .dms_outer_border_temp {
        height: 750px;
    }

    .dms_outer_border_create {
        height: 864px;
    }

    .header_text_dshboard {
        font-size: 11pt;
    }

    .vms_outer_border {
        height: 602px;
    }

    .padding-right_div {
        padding-left: 10px;
    }
}

/* (1280x1024) SXGA Display */
@media screen and (max-width: 1280px) {
    /* insert styles here */
}

/* (1440x900) WXGA+ Display */
@media screen and (max-width: 1440px) {
    /* insert styles here */
}

/* (1680x1050) WSXGA+ Display */
@media screen and (max-width: 1680px) {
    /* insert styles here */
}

/* (1920x1080) Full HD Display */
@media screen and (max-width: 1920px) {
    /* insert styles here */
}

/* (1600x900) HD+ Display */
@media screen and (max-width: 1600px) {
    /* insert styles here */
}

header {
    z-index: 999;
}

.legends_grid {
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
}

div.container {
    max-width: 1200px
}

table.fixedHeader-floating {
    position: fixed !important;
    background-color: white;
    margin-top: 44px !important;
}

table.dataTable > tbody > tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
    float: left !important;
}

table.dataTable > tbody > tr.child ul.dtr-details > li {
    border-bottom: 1px solid #efefef;
    padding: 0.5em 0;
    width: 100% !important;
    float: left !important;
}

.department .modal-footer {
    border: none !important;
}



.btn-canceldms_popup:focus {
    color: #fff !important;
    background: #ff6767;
}

.feedback_table_td {
    font-family: seguisb;
}



.legends_grid_tms {
    font-size: 10pt;
    font-family: seguisb;
    padding: 5px;
}

.aside_right {
    margin-top: 50px;
}

/*a:hover, a:focus {
    color: #;
    text-decoration: underline;
}*/
.assigned_roles_list li {
    border-bottom: 1px solid #3e3e3e;
    padding: 10px;
    padding: 8px 14px;
    border-bottom: 1px solid #38b8ba;
    list-style: none;
    color: #2e2e2e;
    font-family: seguisb;
    font-size: 10pt;
}

.dropdown_ums {
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    padding: 4px;
}

.popup_title {
    padding: 3px 14px;
    font-family: seguisb;
    font-size: 14pt;
}

.comments_grid tr th {
    text-align: left !important;
}

.grid_icon_legend {
    padding: 8px;
    font-family: seguisb;
    font-size: 10pt;
    color: #000;
    text-transform: capitalize;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
    text-transform: capitalize;
}

.dropdown_dashboard {
    margin: 9px -11px;
    padding: 0;
}

textarea {
    background: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 2px;
    right: 1px;
    width: 20px;
}

.ReivewerGrid {
    overflow-y: auto;
    bottom: 10px;
}

.dms_btn_border {
    border: 1px solid #38b8ba;
}

.cal tbody tr th {
    background-color: #d4d4d4;
    color: #2e2e2e;
    text-align: center;
    padding: 6px;
}

.cal tbody tr td {
    padding: 6px;
    color: #000;
}


.cal tbody tr {
    text-align: center;
}

.cal {
    border: 1px solid #c3c3c3;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .cal th a {
        color: black;
    }

    .cal tbody tr td {
        padding: 10px;
    }

.reviewer_edit_btn {
    background: #fff;
    z-index: 999;
    width: 100%;
    position: sticky;
    top: 50px;
}

.btn-approve_popup_edit {
    margin-bottom: 4px;
    margin-right: 4px;
    background: #575757;
    border: 1px solid #575757;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 14px;
    color: #fff;
    font-family: seguisb;
    border-radius: 4px;
}

    .btn-approve_popup_edit:hover {
        margin-bottom: 4px;
        margin-right: 4px;
        background: #575757;
        border: 1px solid #575757;
        border-radius: 0px;
        padding: 4px 22px;
        font-size: 14px;
        color: #fff;
        font-family: seguisb;
        border-radius: 4px;
    }

    .btn-approve_popup_edit:focus {
        color: #fff;
    }

.edit_botton_reviewer {
    float: right;
}

.panel-default a {
    text-decoration: none;
}

.department1 .modal-title {
    font-size: 14px;
}

.department1 .modal-body {
    padding: 8px 16px;
}

.department1 .modal-header {
    padding: 8px 14px;
    background: #38b8ba;
    color: #fff;
    font-size: 12pt;
}

.dataTables_filter input {
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 13px;
    padding: 2px 3px;
}

.department1 .modal-footer {
    padding: 0px 16px 8px;
}



.panel-default a.accordion-toggle_data:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e114"; /* adjust as needed, taken from bootstrap.css */
    float: right; /* adjust as needed */
    color: #fff; /* adjust as needed */
}

.panel-default a.accordion-toggle_data.collapsed:after {
    content: "\e080";
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .8 !important;
}

.textAlignLeft {
    text-align: left !important;
}
.style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #3e3e3e;
}

.style-2::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
    background-color: #3e3e3e;
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #fff;
}
.dashboard_panel_value {
    font-size: 12pt;
    text-align: right;
    font-weight: bold;
}

.dashboard_frontpanel_value {
    font-size: 25pt;
    font-weight: bold;
}
/*Employee Role Assign*/


.roleHeader {
    color: #2e2e2e;
}

.innerroleHeader {
    color: #2e2e2e;
    font-size: 11pt;
}

.role_inner_grid_header {
    background: #dfecee;
    padding: 8px !important;
    color: #38b8ba;
    font-size: 12pt;
    font-family: seguisb;
}

.role_grid_header {
    background: #c0d4d7;
    padding: 8px !important;
    color: #38b8ba;
    font-size: 12pt;
    font-family: seguisb;
}

.accesibleDepartment {
    font-size: 14px;
    color: #38b8ba;
    font-family: seguisb;
    padding: 10px 0 11px;
}

.accesibleDepartment_content {
    font-size: 14px;
    color: #38b8ba;
    font-family: seguisb;
    margin: 3px 0px -11px;
    padding: 13px 10px;
    width: 100%;
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #064a53;
    background-color: transparent;
}

.tab_grid li a {
    border-right: 1px solid #38b8ba;
    padding: 7px 26px;
    border-radius: 0px !important;
    color: #064a53;
    font-family: seguisb;
    font-size: 14px;
}

.tab_grid .nav-link.active, .tab_grid .show > .nav-link {
    border-top: 3px solid #38b8ba !important;
}

.grid_panel_hod {
    border: 1px solid #38b8ba;
    padding: 8px 0px !important;
}

.grid_panel {
    border: 1px solid #38b8ba;
}

.tab_content {
    /*border: 1px solid #07889a;*/
    border-right: none;
    overflow-y: auto;
    max-height: 500px;
    border-left: none;
}

.grid_border {
    border: 1px solid #38b8ba;
    padding: 10px 0px;
}

.grid_assgin {
    border: 1px solid #38b8ba;
}

.label-style {
    color: #38b8ba;
    font-family: seguisb;
    font-size: 10pt;
}

.dropdown-menu > li > a {
    white-space: normal !important;
    font-size: 10pt;
    color: #075f6b !important;
    font-family: seguisb;
    border-bottom: 1px solid #075f6b;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff !important;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

.roles_list_nav {
    padding: 0px 10px;
}

.Modalpopup-Scroll1 {
    max-height: 200px;
    overflow-y: auto;
}

.dashboard_panel_value {
    font-size: 12pt;
    text-align: right;
    font-weight: bold;
}

.dashboard_frontpanel_value {
    font-size: 25pt;
    font-weight: bold;
}
.role_hide_visible {
    display:none;
}
.sectionimg {
    background-image: url('../images/session/session.png');
    background-size: cover;
}

.sessiontext {
    font-size: 21pt;
    color: #f84545;
    font-family: seguisb;
}

.sessionhead {
    font-family: seguisb;
    color: #f14c4c;
    padding: 3rem;
}
.chart_title_bottom {
    font-family: seguisb;
    font-size: 11pt;
    color: #406b71;
}
.dashboard_panel_header {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #38b8ba;
    color: #418e8f;
    background: #cdedee;
    font-family: seguisb;
}
.modal-title,.modal-header {
    text-transform: capitalize;
}
.capitalize {
    text-transform: capitalize;
}


