﻿/*------profile-----------*/
.header_profile {
    background: #38b8ba;
    padding: 10px;
    color: #fff;
    font-size: 12pt;
    font-family: seguisb;
}

.userprofile_bg {
  
    padding: 10px;
}

.profile_label {
    color: #38b8ba;
    font-size: 10pt;
    font-family: segoe-light;
    text-align: left;
    margin-bottom: 10px;
}
.semiColStyle {
    font-family: seguisb;
}

.profile_defined span {
    color: #043137;
    font-size: 12pt;
    font-family: seguisb;
    text-align: left;
    padding-left: 8px;
    text-align: justify;
    /*float: left;*/
}

.top {
    margin-top: 10px;
}

.panel_full_profile {
    border: 1px solid #38b8ba;
    max-height: 375px;
    overflow-y: auto;
}

.userprofile_img {
    background: #fff;
    padding: 10px;
    margin-top: 10px;
}

.assigned_roles_list table tr td {
    list-style-type: none;
    font-size: 10pt;
    border-bottom: 1px solid #078daf;
    padding: 4px;
    color: #043137;
    font-family: seguisb;
}

.assigned_roles_list {
    padding: 0px 10px;
    margin: 0;
    border: 1px solid #078daf;
    float: left;
    max-height: 250px;
    overflow-y: auto;
}

.outer_border_profile {
    border: 1px solid #33a3b2;
    background: #fff;
    padding: 4px;
    float: left;
}

.padding-right_div {
    padding-right: 10px;
    padding-left: 0px;
}

.padding-left_div {
    padding-left: 10px;
    padding-right: 0px;
}

.btn-dashboard {
    margin-left: 4px;
    background: #38b8ba;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 6px 22px;
    font-size: 10pt;
    color: #fff;
    margin-bottom: 0px;
    font-family: seguisb;
}

    .btn-dashboard:hover {
        margin-left: 4px;
        background: #fff;
        border: 1px solid #38b8ba;
        border-radius: 4px;
        padding: 6px 22px;
        font-size: 10pt;
        color: #38b8ba;
        margin-bottom: 0px;
        font-family: seguisb;
    }

