﻿@model AizantIT_PharmaApp.Areas.QMS.Models.QmsModel.DocumentViewerBO

@*@{
        ViewBag.Title = "ImageViewer";
       // Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
    }*@
@Styles.Render("~/Content/DevExtremeBundleStyles")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_0")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_1")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_2")
<h2>ImageViewer</h2>
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 top padding-none">
    <button type="button" class="btn btn-signup_popup float-right" onclick="location.href = document.referrer; return false;">close</button>
</div>

@Html.DevExpress().BinaryImage(settings =>
              {
                  settings.Name = "BinaryImage";
                  settings.ContentBytes = (Model.fContent);
              }).GetHtml()

