﻿@model AizantIT_PharmaApp.Areas.QMS.Models.QmsModel.DocumentViewerBO

@{
    ViewBag.Title = "PDFViewer";
    // Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}

<h2>PDFViewer</h2>
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 top padding-none">
    <button type="button" class="btn btn-signup_popup float-right" onclick="location.href = document.referrer; return false;">close</button>
</div>

                @Html.Raw(TempData["Embed"])
                @*<object data='@Url.Action("PDFViewer", "DocumentViewer")#zoom=150' width="100%" height="525" id="iFramePdf" #zoom="200" frameBorder="1" type="application/pdf"></object>*@
           