﻿@model AizantIT_PharmaApp.Areas.QMS.Models.QmsModel.DocumentViewerBO
<!--------Start View File Upload popup-------------->
@Styles.Render("~/Content/DevExtremeBundleStyles")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_0")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_1")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_2")
<div id="myModalViewDocuments" class="modal department fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">View Supporting Documents</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @Html.DevExpress().GetStyleSheets(
                            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
                            new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
                            new StyleSheet { ExtensionSuite = ExtensionSuite.Report }

                        )


                @Html.DevExpress().GetScripts(
                                       new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                                       new Script { ExtensionSuite = ExtensionSuite.Editors },
                                       new Script { ExtensionSuite = ExtensionSuite.RichEdit },
                                       new Script { ExtensionSuite = ExtensionSuite.Report }
                                   )

                <script type="text/javascript" src="~/DevExtremeScripts/aspnet/dx.aspnet.mvc.js"></script>
                <script type="text/javascript" src="~/DevExtremeScripts/aspnet/dx.aspnet.data.js"></script>
                <div>
                    @Html.DevExpress().RichEdit(settings =>
              {
                  settings.Name = "RichEdit";
                  settings.CallbackRouteValues = new { Controller = "DocumentViewer", Action = "RichEditViewer" };
              }).Open(new Guid().ToString(), Model.DFormat, () => { return new MemoryStream(Model.fContent); }).GetHtml();
                </div>
            </div>
            <div class="modal-footer padding-none top">
                @*<button type="button" class="btn btn-signup_popup" onclick="funUploadFiles();">Add</button>*@
                <button type="button" class="btn btn-cancel_popup" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
<!--------End View File Upload popup-------------->
