﻿@model AizantIT_PharmaApp.Areas.QMS.Models.QmsModel.DocumentViewerBO

@{
    ViewBag.Title = "RichEditViewer2";
    //  Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
@Styles.Render("~/Content/DevExtremeBundleStyles")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_0")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_1")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_2")
<h2>RichEditViewer</h2>
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 top padding-none">
    <button type="button" class="btn btn-signup_popup float-right" onclick="location.href = document.referrer; return false;">close</button>
</div>

@Html.DevExpress().GetStyleSheets(
                new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
                new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
                new StyleSheet { ExtensionSuite = ExtensionSuite.Report }

            )

@Html.DevExpress().GetScripts(
                new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                new Script { ExtensionSuite = ExtensionSuite.Editors },
                new Script { ExtensionSuite = ExtensionSuite.RichEdit },
                new Script { ExtensionSuite = ExtensionSuite.Report }
            )

@Html.DevExpress().RichEdit(settings =>
     {
         settings.Name = "RichEdit";
         settings.CallbackRouteValues = new { Controller = "DocumentViewer", Action = "RichEditViewer2" };
         settings.RibbonMode = DevExpress.Web.ASPxRichEdit.RichEditRibbonMode.None;
         settings.ReadOnly = true;
         settings.WorkDirectory = "~/App_Data/";
     }).Open(Model.UQID, Model.DFormat, () => { return new MemoryStream(Model.fContent); }).GetHtml();

