﻿@model AizantIT_PharmaApp.Areas.QMS.Models.QmsModel.DocumentViewerBO

@{
    ViewBag.Title = "SpreadSheetViewer";
    // Layout = "~/Areas/QMS/Views/Shared/_QMSLayout.cshtml";
}
@Styles.Render("~/Content/DevExtremeBundleStyles")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_0")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_1")
@Scripts.Render("~/Scripts/DevExtremeBundleScripts_2")
<h2>SpreadSheetViewer</h2>
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 top padding-none">
    <button type="button" class="btn btn-signup_popup float-right" onclick="location.href = document.referrer; return false;">close</button>
</div>
@Html.DevExpress().GetStyleSheets(
                new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
                new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
                new StyleSheet { ExtensionSuite = ExtensionSuite.Report }

            )

@Html.DevExpress().GetScripts(
                new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
                new Script { ExtensionSuite = ExtensionSuite.Editors },
                new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
                new Script { ExtensionSuite = ExtensionSuite.Report }
            )

<script type="text/javascript" src="~/Scripts/aspnet/dx.aspnet.mvc.js"></script>
<script type="text/javascript" src="~/Scripts/aspnet/dx.aspnet.data.js"></script>
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-right col-12 top padding-none">
    <button type="button" class="btn btn-signup_popup float-right" onclick="location.href = document.referrer; return false;">close</button>
</div>

@Html.DevExpress().Spreadsheet(settings =>
          {
              settings.Name = "Spreadsheet";
              settings.CallbackRouteValues = new { Controller = "DocumentViewer", Action = "SpreadSheetViewer" };
              settings.RibbonMode = DevExpress.Web.ASPxSpreadsheet.SpreadsheetRibbonMode.None;
              settings.ReadOnly = true;
              settings.WorkDirectory = "~/App_Data/";
          }).Open(Model.UQID, Model.XLFormat, () => { return new MemoryStream(Model.fContent); }).GetHtml();
