﻿@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href='@Url.Content("~/AppCSS/QMS/css/qms_leftnav_stylesheet.css")' rel="stylesheet" />
@*<link href='@Url.Content("~/AppCSS/leftnav_styles/leftnav.css")' rel="stylesheet" />*@



@*<link href='@Url.Content("~/AppCSS/CardsFlip.css")' rel="stylesheet" />*@
<div class=" col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12  float-left padding-none" style="margin-top:60px;">
    <input type="text" style="display:none" />
    <input type="password" style="display:none" />
    <div class="col-lg-2 col-xl-2 col-md-2 col-sm-2 col-2 nav_panel " id="paragraph1">
        <div id="accordion" class="accordion">
            <div class="card mb-0">
                @if (Session["EmpModuleRoles"] != null)
                {
                    string[] ModuleRoles = (string[])Session["EmpModuleRoles"];

                    if (ModuleRoles.Length > 0)
                    {
                        if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.AdminSetup_UserRole.UserAdmin_UMS).ToString()))
                        {
                            <div class=" header_col headerList">
                                <a class=" col-12 float-left padding-none" href="@Url.Content("~/UserManagement/DashboardUMS.aspx")">
                                    UMS Dashboard
                                </a>
                            </div>

                            <div class="card-header header_col collapsed" data-toggle="collapse" href="#collapse1">
                                <a class="card-title">Employee<span></span></a>
                            </div>
                            <div id="collapse1" class="collapse" data-parent="#accordion">
                                <div class="card-body acc_boby float-left ">
                                    <div class="accordion">
                                        <div class="card mb-0">
                                            <div class="card-body acc_boby float-left ">
                                                <div class="nav_list nav_list-child   col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                    <ul>
                                                        <li style="font-size:14px;">
                                                            <a class="child_acc" href="@Url.Content("~/UserManagement/Employee.aspx")">Create Employee</a>
                                                        </li>
                                                        <li style="font-size:14px;">
                                                            <a class="child_acc" href="@Url.Content("~/UserManagement/EmployeeList.aspx")">Employee List</a>
                                                        </li>
                                                        <li style="font-size:14px;">
                                                            <a class="child_acc" href="@Url.Content("~/UserManagement/EmployeeHistoryLogin.aspx")">Employee Login History</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" header_col headerList ">
                                <a class=" col-12 float-left padding-none" href="@Url.Content("~/UserManagement/Department/DepartmentList.aspx")">Departments</a>
                            </div>
                            <div class=" header_col headerList ">
                                <a class=" col-12 float-left padding-none" href="@Url.Content("~/UserManagement/Designation/DesignationList.aspx")">Designations</a>
                            </div>
                            <div class=" header_col headerList">
                                <a class=" col-12 float-left padding-none" href="@Url.Content("~/UserManagement/EmployeeAssignRoles.aspx")">Assign Employee Role</a>
                            </div>


                            <div class="card-header header_col collapsed" data-toggle="collapse" href="#collapse2">
                                <a class="card-title">Set Up<span></span></a>
                            </div>
                            <div id="collapse2" class="collapse" data-parent="#accordion">
                                <div class="card-body acc_boby float-left ">
                                    <div class="accordion">
                                        <div class="card mb-0">
                                            <div class="card-body acc_boby float-left ">
                                                <div class="nav_list nav_list-child   col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                    <ul>
                                                        <li style="font-size:14px;">
                                                            <a class="child_acc" href="@Url.Content("~/UserManagement/CompanyPage.aspx")">Company</a>
                                                        </li>
                                                        <li style="font-size:14px;">
                                                            <a class="child_acc" href="@Url.Content("~/UserManagement/EmployeeCode.aspx")">Employee Code</a>
                                                        </li>
                                                        <li style="font-size:14px;">
                                                            <a class="child_acc" href="@Url.Content("~/UserManagement/SecurityProfile.aspx")">Security Profile</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.AdminSetup_UserRole.GlobalAdmin_UMS).ToString())|| ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.AdminSetup_UserRole.ProductAdmin).ToString()))
                        {
                            <div class="card-header header_col collapsed" data-toggle="collapse" href="#collapseSix">
                                <a class="card-title">Global Set Up <span></span></a>
                            </div>
                            <div id="collapseSix" class="collapse" data-parent="#accordion">
                                <div class="card-body acc_boby float-left ">
                                    <div id="accordionGlobalModule" class="accordion">
                                        <div class="card mb-0">
                                            <div class="card-body acc_boby float-left ">
                                                <div class="nav_list nav_list-child   col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left col-12 padding-none">
                                                    <ul>
                                                        @if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.AdminSetup_UserRole.GlobalAdmin_UMS).ToString()))
                                                        {
                                                            <li style="font-size:14px;">@Html.ActionLink("Business Division", "BusinessDivision", "BusinessDivisionAndSite", routeValues: new { area = "AdminSetup" }, htmlAttributes: null)</li>
                                                            <li style="font-size:14px;">@Html.ActionLink("Site", "Site_BusinessDivision", "BusinessDivisionAndSite", routeValues: new { area = "AdminSetup" }, htmlAttributes: null)</li>
                                                            <li style="font-size:14px;">@Html.ActionLink("Client", "Client", "Client", routeValues: new { area = "AdminSetup" }, htmlAttributes: null)</li>
                                                            <li style="font-size:14px;">@Html.ActionLink("Market", "Market", "Market", routeValues: new { area = "AdminSetup" }, htmlAttributes: null)</li>
                                                            <li style="font-size:14px;">@Html.ActionLink("Dosage Form", "Dosage", "DosageForm", routeValues: new { area = "AdminSetup" }, htmlAttributes: null)</li>
                                                            <li style="font-size:14px;">@Html.ActionLink("Unit Of Measurement", "UnitOfMeasurement", "UnitOfMeasurement", routeValues: new { area = "AdminSetup" }, htmlAttributes: null)</li>
                                                            <li style="font-size:14px;">@Html.ActionLink("Product", "Product", "Product", routeValues: new { area = "AdminSetup" }, htmlAttributes: null)</li>
                                                        }
                                                        @*@if (ModuleRoles.Contains(((int)Aizant_Enums.AizantEnums.AdminSetup_UserRole.ProductAdmin).ToString()))
                                                        {
                                                            <li style="font-size:14px;">@Html.ActionLink("Product", "Product", "Product", routeValues: new { area = "AdminSetup" }, htmlAttributes: null)</li>
                                                        }*@
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                      
                    }
                }
            </div>
        </div>
    </div>
    <div class=" col-10 grid_area float-right" id="paragraph2">
        <div class="col-xl-6 col-md-6 col-sm-6 col-lg-6 col-6  padding-none float-left ">
            <div class="col-xl-1 col-md-1 col-sm-1 col-lg-1 col-1 padding-none float-left">
                <span class="closebtn">&#9776;</span>
                <span style="display:none;" class="closebtn1">&#9776;</span>
            </div>
        </div>
        @RenderBody()
    </div>

</div>
