﻿/*------tabs------*/
.tab_grid li a {
    border-right: 1px solid #38b8ba;
    padding: 7px 26px;
    border-radius: 0px !important;
    color: #064a53;
    font-family: seguisb;
    font-size: 14px;
}

.tab_content {
    /*border: 1px solid #07889a;*/
    border-right: none;
    border-left: none;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #064a53;
    background-color: transparent;
}
.tab_grid li a {
    border-right: 1px solid #38b8ba;
    padding: 7px 26px;
    border-radius: 0px !important;
    color: #064a53;
    font-family: seguisb;
    font-size: 14px;
}
.tab_grid .nav-link.active, .tab_grid .show > .nav-link {
    border-top: 3px solid #38b8ba !important;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    color: #000;

}
.nav {
    border-bottom: 1px solid #38b8ba !important;
}