﻿
@import url('../login/button.css');
@import url('../Common/common.css');
@import url('ums_dashboard_styles.css');
@import url('../grid_icons/grid_icon.css');
@import url('../datetimepicker/datetimepicker.css');
@import url('../ui components/tabs.css');
@import url('../fontscss/fonts_segoe_gly.css');
@import url('../CustAlerts/SingleCustAlert.css');
@import url('../dms_styles/dms_dashboard.css');

.question_list th {
    padding: 10px;
    background-color: #38b8ba;
    color: #fff;
    font-family: seguisb;
    font-size: 12pt;
    text-align: left;
}
.GridPager a {
    background-color: #38b8ba;
    color: #fff;
    border: 1px solid #969696;
    padding: 4px 12px;
    float: right;
}
.GridPager td {
    padding:0px !important;
    border-top:none;
}
.GridPager a, .GridPager span {
    display: block;
    padding: 3px 10px;
    font-family:seguisb;
    text-align: center;
    text-decoration: none;
    margin: 2px;
}
.legends_grid_tms {
    font-size: 10pt;
    font-family: seguisb;
    padding: 5px;
}
.Options_label {
    padding: 8px;
}
table.dataTable tbody tr.selected {
    background-color: #B0BED9 !important;
}
.GridPager tr td table tbody tr td a {
    padding:10px;
    background:#3e3e3e;
}
.question_none {
    text-align: center;
    font-weight: bold;
    /*padding: 12px;*/
    color: #38b8ba !important;
    background: #f2f2f2;
    margin-top: 10px;
}
    .question_none td {
        text-align: center;
        font-weight: bold;
        padding: 20px;
        color: #38b8ba !important;
        background: #f2f2f2;
        margin-top: 10px;

    }
.richText .richText-editor {
    padding: 20px;
    background-color: #FFFFFF;
    border-left: #FFFFFF solid 2px;
    font-family: Calibri,Verdana,Helvetica,sans-serif;
    height: 300px !important;
    outline: none;
    overflow-y: scroll;
    overflow-x: auto;
}
.traning_dept_select {
    text-align: center;
    padding: 16px 0px;
    background: #f8f7f7;
    color: #f70c0c;
    font-size: 13pt;
    font-family: seguisb;
    top: 4px;
    margin-bottom: 15px;
}
sup {
    border-radius: 25px;
    font-size: 9pt;
    padding: 4px 9px;
    background: #38b8ba;
    color: #fff;
    z-index: 1;
    right: -37px;
    top: -15px;
}
.AspGrid input[type="radio"], input[type="checkbox"] {
    margin: 1px 0 0 !important;
    margin-top: 1px \9;
    line-height: normal;
}
.grid_button {
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 2px 8px;
    color: #38b8ba;
    background: #fff;
    font-family: seguisb;
    cursor: pointer;
    text-decoration: none;
}

    .grid_button:hover {
        border: 1px solid #38b8ba;
        border-radius: 4px;
        padding: 2px 8px;
        color: #fff !important;
        font-family: seguisb;
        cursor: pointer;
        background: #38b8ba;
        text-decoration: none;
    }

.grid_area {
    background: #fff;
    padding: 4px !important;
    float: left;
    height: 710px !important;
}



.panel-default {
    border: none;
}

.panel-body {
    padding: 0px !important;
}

.Panel_Header_acc {
    background-color: #098293;
    margin-bottom: 10px;
    padding: 5px 0px !important;
    font-family: SEGOEUI;
    font-size: 10pt;
}

/*form gridview sorting columns*/
/*start*/
.clsAsc a {
    background: url(../../Images/TMS_Images/sort_asc.png) no-repeat right;
    display: block;
    width: 100%;
    float: left;
}

.clsDesc a {
    background: url(../../Images/TMS_Images/sort_desc.png) no-repeat right;
    display: block;
    width: 100%;
    float: left;
}

.clsDefault a {
    background: url(../../Images/TMS_Images/sort_both.png) no-repeat right;
    display: block;
    width: 100%;
    float: left;
}

.cls tr th.sortdesc a {
    background: url(../../Images/TMS_Images/sort_desc.png) no-repeat right;
    width: 100%;
    float: left;
}
/*end*/

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
    content: "\e081"; /* adjust as needed, taken from bootstrap.css */
    float: left; /* adjust as needed */
    color: grey; /* adjust as needed */
    margin-top: 2px;
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e082"; /* adjust as needed, taken from bootstrap.css */
}



.panel-default > .panel-heading {
    color: #38b8ba;
    background-color: #ffffff;
    border: 1px solid #38b8ba;
    width: 100% !important;
}

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: 1px solid #38b8ba;
}


.panel-body {
    padding: 5px;
    /*background: #c0d4d7;*/
}

.panel-group .panel + .panel {
    margin-top: 0px;
}

.panel-title a {
    font-family: seguisb;
    font-size: 10pt;
    text-decoration: none;
    
}



.btn-add {
    margin-left: 4px;
    background: #38b8ba;
    border: 1px solid #039db2;
    border-radius: 4px;
    padding: 6px 22px;
    font-size: 10pt;
    color: #fff;
    margin-bottom: 0px;
    font-family: seguisb;
}

    .btn-add:hover {
        margin-left: 4px;
        background: #fff;
        border: 1px solid #38b8ba;
        border-radius: 4px;
        padding: 6px 22px;
        font-size: 10pt;
        color: #38b8ba;
        margin-bottom: 0px;
        font-family: seguisb;
    }



.grid_panel_full {
    border: 1px solid #c0d4d7;
}



.btn-dashboard, .btn-dashboard:hover {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 6px 22px;
    font-size: 10pt;
    color: #38b8ba;
    margin-bottom: 0px;
    font-family: seguisb;
}

/*table.dataTable.no-footer {
    border-bottom: none;
}*/

.padding-right_div {
    padding-right: 10px;
    padding-left: 0px;
}

.padding-left_div {
    padding-left: 10px;
    padding-right: 0px;
}

input[type='checkbox']:after {
    line-height: 0.3em;
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 0px;
    margin-left: 0px;
    border: 1px solid #0a9baf;
    border-radius: 2px;
    background: #fff;
}

input[type='checkbox']:checked:after {
    width: 18px;
    height: 18px;
    content: '✔';
    font-size: 24px;
    margin-top: 0px !important;
    float: left;
    color: #0a9baf;
    border: 1px solid #0a9baf;
}

/*.dataTables_wrapper .dataTables_paginate {
    margin-top: -12px;
}*/

.box_grid_none {
    padding: 2px 12px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #0a9baf;
}

.box_grid_full {
    padding: 2px 12px;
    background: #0a9baf;
    border-radius: 4px;
    border: 1px solid #0a9baf;
}

.dropdown-menu > li > a {
    white-space: normal !important;
    font-size: 10pt;
    color: #075f6b !important;
    font-family: seguisb;
    border-bottom: 1px solid #075f6b;
}

.work_accordion {
    background: #fff !important;
}

.header_acc {
    color: #fff !important;
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba !important;
    font-family: seguisb;
    font-size: 12pt;
    /*padding: 5px 15px !important;*/
}

.btn-sub {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #075f6b;
    border-radius: 0px;
    padding: 4px 16px 6px;
    font-size: 10pt;
    color: #075f6b;
    font-family: seguisb;
    margin-top: 26px;
}

    .btn-sub:hover {
        margin-left: 4px;
        background: #075f6b;
        border: 1px solid #075f6b;
        border-radius: 0px;
        padding: 4px 16px 6px;
        font-size: 10pt;
        color: #fff;
        font-family: seguisb;
        margin-top: 26px;
    }

.btn-sub_nav {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #075f6b;
    border-radius: 0px;
    padding: 4px 16px 6px;
    font-size: 10pt;
    color: #075f6b;
    font-family: seguisb;
    margin-top: 5px;
}


    .btn-sub_nav:hover {
        margin-left: 4px;
        background: #075f6b;
        border: 1px solid #075f6b;
        border-radius: 0px;
        padding: 4px 16px 6px;
        font-size: 10pt;
        color: #fff;
        font-family: seguisb;
        margin-top: 5px;
    }

.btn-sub_level {
    margin-left: 4px;
    background: #38b8ba;
    border: 1px solid #38b8ba;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 12pt;
    color: #fff;
    font-family: seguisb;
    margin-top: 26px;
}

    .btn-sub_level:hover {
        margin-left: 4px;
        background: #fff;
        border: 1px solid #38b8ba;
        border-radius: 0px;
        padding: 4px 22px;
        font-size: 12pt;
        color: #38b8ba;
        font-family: seguisb;
        margin-top: 26px;
    }

.select2 {
    width: 100% !important;
}


textarea {
    max-width: 100%;
    max-height: 70px;
    margin-bottom: 10px;
}


    .pagination a {
        color: black;
        float: left;
        padding: 6px 12px;
        text-decoration: none;
    }

    .pagination .aspNetDisabled {
        /*//background-color: #748CB2;*/
        color: #38b8ba;
        border: 1px solid #38b8ba;
    }

.pagination #ContentPlaceHolder1_rptPager_lnkPage_0 {
    background-color: white;
    color: black;
}

.ProgressModal {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(80, 80, 80, 0.45);
    filter: alpha(opacity=60);
    /*opacity: 0.6;*/
    /*-moz-opacity: 0.8;*/
}

.ProgressCenter {
    z-index: 1000;
    margin-left: 40%;
    margin-top: 15%;
    width: 130px;
    border-radius: 10px;
    background-color: White;
    filter: alpha(opacity=100);
}

    .ProgressCenter img {
        border-radius: 10px;
        height: 250px;
        width: 350px;
    }

/*Rating Star*/
.checked {
    color: #ed9c78 !important;
    cursor: no-drop;
}

.fa-star {
    font-size: 12pt;
    padding: 0px 10px;
    margin-top: 10px;
    color: #d4d4d4;
    cursor: no-drop;
}

.feedback_table_td {
    border: none !important;
    border-bottom: 1px solid #d4d4d4 !important;
    padding: 8px 0px;
}

.pop_headerfeed {
    color: #029eb3;
    text-align: center;
    font-family: seguisb;
    margin-bottom: 12px;
    margin-left: 54px;
}

table.cal {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.cal tbody {
    display: block;
}

table.cal tbody {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.table {
    border-width: 1px;
    border-color: #ffffff;
}

/*.tbody td:last-child, thead th:last-child {
}*/

.cal tbody th {
    background: #38b8ba;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-right: 1px solid #c3c3c3;
}

.cal tbody tr {
    text-align: center;
}

.cal {
    border: 1px solid #38b8ba;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .cal th a {
        color: black;
    }

    .cal tbody tr td {
        padding: 10px 16px 10px 12px;
        width: 100%;
    }

.table-fixed thead {
    width: 100%;
}

/*.table-fixed thead tr {
    }*/


.table-fixed tbody {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}



.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block; /*commented reason: Occuring space after the last column in heaer for ASP GV*/
}

    .table-fixed tbody > tr > td {
        float: left;
        text-align: center;
        word-wrap: break-word;
        white-space: normal !important;
    }

    .table-fixed thead > tr > th {
        float: left;
        border-bottom-width: 0;
        color: #fff;
        text-align: center;
        border-right: 1px solid #fff;
        font-family: seguisb;
    }
    .table-fixed thead > tr {
        background: #38b8ba !important;
        float:left;
        width:100%;
    }
    .GV_EmptyDataStyle td {
        float: none !important;
    }

.AspGrid {
    border-style: none;
}

.feedbackpop .modal-header {
    padding: 6px 16px;
    border-bottom: 1px solid #e5e5e5;
    background: #0b4c55;
    color: #fff;
}

.feedbackpop .modal-footer {
    padding: 10px;
    text-align: right;
    border-top: none !important;
}

.close_feed_view {
    margin-top: 8px !important;
    color: #3e3e3e !important;
}


.dashboard_msg {
    margin: 28rem auto;
    text-align: center;
    font-size: 27pt;
    color: #38b8ba;
    font-family: seguisb;
}
.FAQ_Answer {
    padding: 10px;
}
.faq_panel-group {
    max-height: 400px;
    overflow-y: auto;
}
/*--View Questions-*/

.question_acc .panel-heading {
    color: #044c56;
    background: none;
    border-top: 1px solid #3e3e3e !important;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.question_acc .panel-title a {
    font-family: seguisb;
    font-size: 12pt;
    text-decoration: none;
}

.question_acc .panel-title > a:before {
    float: left !important;
    font-family: Glyphicons Halflings;
    content: "\2212";
    padding-right: 5px;
}

.question_acc .panel-title > a.collapsed:before {
    float: left !important;
    content: "\2b";
}

.question_header {
    color: #2e2e2e !important;
    font-family: seguisb;
    font-size: 11pt;
    padding: 10px !important;
    border-bottom: 1px solid #d4d4d4;
}

.question_answer {
    color: #38b8ba;
    font-family: seguisb;
    padding: 0px 10px;
    font-size: 10pt;
}

.question_acc .panel {
    border-top: 1px solid #38b8ba !important;
}

.question_acc .panel-body {
    font-size: 12pt;
    font-family: seguisb;
    background: none !important;
    border: none !important;
    padding: 0px 16px 10px;
}

.question {
    color: #000;
    font-family: seguisb;
    font-size: 12pt;
}

    .question:hover {
        color: #38b8ba;
        font-family: seguisb;
        font-size: 12pt;
        text-decoration: underline;
    }
/*-----accordion-----*/
.header-default {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 8px;
    border-bottom: 1px solid #38b8ba;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    color: #3a3a3a;
    font-size: 12pt;
    font-family: seguisb;
    cursor: pointer;
    margin-bottom: -10px !important;
}

    .header-default:hover {
        background-color: #38b8ba;
        color: #fff;
    }

.sorting_button {
    text-align: right;
}

.header-active {
    background-color: #38b8ba !important;
    margin-bottom: 0px !important;
    color: #fff;
}

.question_header label {
    font-size: 8pt;
    margin-top: 2px;
}

.content-default {
    display: none;
}

.right {
    float: right;
}

.accordion-content {
    text-align: justify;
    box-sizing: border-box;
    margin: 0px;
    padding: 15px;
    border: 1px solid #38b8ba;
}

.inline {
    display: inline;
}
.form-control {
    border-bottom: 1px solid #ced4da !important;
}

.btn-ordering {
    margin: 0px 10px 0px 10px;
    border: 1px solid inherit;
    background-color: #38b8ba;
    color: #fff;
    border-radius: 4px;
}

[data-type="accordion-search"] {
    min-height: 15px;
    border-radius: 4px;
}

[data-type="accordion-filter"] {
    min-height: 15px;
    border-radius: 0px;
    min-width: 120px;
    height: 20px;
}

.checkmark {
    padding: 6px;
}

.temp {
    margin-right: 12px;
    margin-top: -2px;
    padding: 3px 9px;
    position: relative;
}

    .temp:hover {
        margin-right: 12px;
        margin-top: -2px;
        padding: 3px 9px;
    }



.coversation_setting {
    border: 1px solid #d4d4d4;
    max-height: 412px;
    overflow-y: auto;
}

.profile_bg_set {
    border: 1px solid #1acde6;
    padding: 8px;
    text-align: center;
}

.text_info {
    font-size: 10px;
    font-family: seguisb;
}

.question_header_reply {
    color: #2e2e2e;
    font-family: seguisb;
    font-size: 12pt;
    padding: 8px 10px !important;
    border-bottom: 1px solid #38b8ba;
    background: #fff !important;
}

.btn-send_popup {
    margin-bottom: 4px;
    background: #fff;
    border: 1px solid #5d5858;
    border-radius: 0px;
    padding: 4px 22px;
    font-size: 14px;
    padding: 4px 10px;
    font-size: 10pt;
    font-size: 14px;
    font-family: seguisb;
    border-radius: 4px;
}

    .btn-send_popup:hover {
        margin-bottom: 4px;
        background: #5d5858;
        border: 1px solid #5d5858;
        border-radius: 0px;
        padding: 4px 10px;
        font-size: 10pt;
        color: #fff;
        font-family: seguisb;
        border-radius: 4px;
    }

.question_header_conversation {
    font-family: seguisb;
    font-size: 10pt;
    color: #fff;
    padding: 9px;
    background: #6e6e6e;
    float: left;
    width: 100%;
    margin-top: 38px;
}



.checkbox_faq {
    position: absolute;
    margin-top: 10px !important;
    margin-left: 7px !important;
}

.acc_header {
    position: relative;
}

.total_comments {
    margin-right: 10px;
    font-size: 10px;
    margin-top: 1px;
    color: #a8a8a8;
}

.count_comments {
    color: #38b8ba;
}

.comments_count_new {
    position: absolute;
    position: absolute;
    right: -18px;
    top: 1px;
    color: #fff;
    background: #5d5858;
    border-radius: 50px;
    padding: 3px 4px;
    font-size: 7pt;
    font-weight: bold;
}

.text_height {
    max-height: auto;
}

.header_text_label {
    position: fixed;
    margin-top: -2px;
    z-index: 999;
    width: 32.6%;
    background: #d4d4d4;
    color: #000;
}

.faq_acc .panel-body {
    background: none;
}

.questions_list {
    border-bottom: 1px solid #38b8ba;
    padding: 12px;
    font-size: 14px;
}

.view_faq {
    background: url(../images/tms/view.png) no-repeat;
    padding: 12px 12px;
    position: relative;
    right: 12px;
}

.total_comments_view {
    margin-right: 21px;
    font-size: 12px;
    margin-top: 10px;
    color: #a8a8a8;
}

.left {
    float: left;
    padding: 2px 9px 0px 2px;
}

.btn-alert_popup:hover {
    margin-left: 4px;
    background: #5d5858;
    border: 1px solid #5d5858;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
}

.btn-alert_popup {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #5d5858;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #5d5858;
    font-family: seguisb;
}

.btn-info_popup:hover {
    margin-left: 4px;
    background: #5d5858;
    border: 1px solid #5d5858;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
}

.btn-info_popup {
    margin-left: 4px;
    background: #fff;
    border: 1px solid #5d5858;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 10pt;
    color: #5d5858;
    font-family: seguisb;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
    border-radius: 4px !important;
}

.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

#radioBtn .notActive {
    color: #000;
    background-color: #fff;
}

.content_conversation {
    font-size: 12px;
    margin-left: 10px;
    color: #3e3e3e;
    font-family: seguisb;
    text-decoration: underline;
    cursor: pointer
}

.conversation_text {
    font-size: 13px;
    font-family: seguisb;
}

.comments_count_new1 {
    position: absolute;
    position: absolute;
    right: -11px;
    top: -10px;
    color: #fff;
    background: #5d5858;
    border-radius: 50px;
    padding: 3px 4px;
    font-size: 7pt;
    font-weight: bold;
}

.header_text_label_tms {
    position: fixed;
    margin-top: -2px;
    z-index: 999;
    width: 32.7%;
    background: #d4d4d4;
    color: #000;
    padding: 10px;
}

#Barchart {
    height: 300px;
}
#OverDueChart {
    height: 300px;
}
#ATCBarchart {
    height: 300px;
}
.chart_height {
    height: 346px;
}


.left_nav_list {
    font-family: seguisb;
    font-size: 10pt;
    padding: 2px;
}
.norecords{
    width: 100%;
    text-align: center;
    padding: 151px;
    font-size: 22pt;
    color: #07889A;
}
.noOverDuerecords {
    width: 100%;
    text-align: center;
    padding: 151px;
    font-size: 22pt;
    color: #07889A;
}
.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover, .dropdown-menu > li > a:focus {
    color: #fff !important;
    text-decoration: none;
    background-color: #38b8ba !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff !important;
    text-decoration: none;
    background-color: #38b8ba !important;
    outline: 0;
}

.panelList.active {
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba;
    width: 100% !important;
    color: #fff !important;
}
.panelList:hover {
    background-color: #38b8ba !important;
    border: 1px solid #38b8ba;
    width: 100% !important;
    color: #fff !important;
}
.panel_ums {
    float: left;
    width: 100%;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
}

.dataTables_filter {
    margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    margin-left: 1px !important;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #0d6d7a !important;
    border-radius: 2px;
    font-family: seguisb;
}
.modal-title, .modal-header {
    text-transform: capitalize;
}

.capitalize {
    text-transform: capitalize;
}
.btn.active label, .btn:active {
    color: #fff;
    background-color: #38b8ba;
    border-color: #38b8ba;
    font-family: seguisb;
    color: #fff !important;
}
.panel-tile a {
    font-family: seguisb;
    font-size: 11pt;
    text-decoration: none;
    color: #38b8ba !important;
}
table {
    width: 100%;
    margin-bottom:0px !important;
    
}
.grid_panel_hod {
    border: 1px solid #38b8ba;
    border-top:none;
    margin-bottom: 10px;
}
.grid_legend_tms {
    color: #1f6b76;
    font-size: 14px;
    font-family: SEGOEUIB;
    font-weight: bold;
}
.title_faq > a:before {
    float: left !important;
    font-family: Glyphicons Halflings;
    content: "\2212";
    padding-right: 5px;
    color: #38b8ba;
}

.title_faq > a.collapsed:before {
    float: left !important;
    content: "\2b";
}

.title_faq > span:after {
    float: left !important;
    font-family: Glyphicons Halflings;
    content: "\2212";
    padding-right: 5px;
    color: #38b8ba;
}

.title_faq > span.collapsed:after {
    float: left !important;
    content: "\2b";
}
.card-header {
    padding: 6px 5px;
    margin-bottom: 0;
    
}
.ModalDanger .modalMainContent {
    background-color: #ffe6e4;
}
.ModalDanger .ModalHeaderPart {
    background: url(../../Images/CustomAlerts/error.png) no-repeat;
    padding: 20px 12px 20px 77px !important;
    background-size: 11%;
    background-position: 12px;
    color: #f44336 !important;
    border-bottom: 1px solid #f44336;
}
.ModalDanger .ModalFooterPart {
    border-top: 1px solid #f44336;
}
.question_list tbody tr:nth-of-type(even) {
    background-color: #fff;
}

.wrong label {
    color: red !important;
}

.correct label {
    color: green !important;
}

.radio_disable > * {   
    pointer-events: none;
}
.radio_disable {
    cursor: not-allowed;
}
a:hover {
    color: #0056b3;
    text-decoration: none !important;
}
.question_list th a:hover {
    text-decoration: none !important;

}
.regulatory_dropdown_style .dropdown-menu li a {
    background: #fff ;
    color: #517183 ;
    border-bottom: 1px solid #07889a !important;
}
.related_draglist {
    list-style-type: none;
    background: #fff;
    margin: 0px;
    padding: 0px;
    max-height: 200px;
    overflow-y: auto;
}

    .related_draglist li {
        border-bottom: 1px solid #07889a;
        padding: 6px;
        background: #f0f7f7;
    }
.relatedobs_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    top: -6px;
    border-radius: 9px;
    position: absolute;
    font-size: 11px;
    z-index: 9;
}
.related_obs_panel {
    border: 1px solid #c0d4d7;
    border-radius: 8px;
    cursor: move;
    display: none;
    z-index: 99;
    position: absolute;
    box-shadow: -6px 10px 32px -2px #3e3e3e;
}

.textarea_height {
    min-height: 70px !important;
}
.trainer_reply{
    background-color:#d4d4d4;
}
.fixgvATC tbody tr {
    max-height: 109px;
    overflow-y: auto;
}
.GridPager tbody a:hover{
    color:#fff !important;
}
.panel-tile .right_icon_acc:hover {
    color: #38b8ba !important;
}
.textAlignLeft {
    text-align: left !important;
}
.dxflCaption, .dxichTextCellSys label {
    color: #38b8ba !important;
}
.dxmLite {
    padding-left: 4px;
}
.dxtcSys > .dxtc-stripContainer {
    float: right !important;
}
.dxheControl {
    border: none !important;
}
.dxtbControl {
    background-color: #cce4e4 !important;
    border: 1px solid #e7e4e4 !important;
    border-bottom: none !important;
}
.dxheControl tbody tr td {
    padding: 1px 0px 1px 0px;
    font-size: 11pt;

    font-family: seguisb;
}
.dxmLite .dxm-main {
    border: 1px solid #A8A8A8;
    background-color: #ffffff;
    padding: 2px;

}
.dxheViewArea {
    border: Solid 1px #e4dede;
}
.dxheDesignViewArea {
    padding: 0px !important;
    border-bottom: 1px solid #e7e4e4 !important;
}
.dxtcLite.dxtc-bottom > .dxtc-stripContainer .dxtc-activeTab {
    background: #38b8ba;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 10pt;
    color: #fff !important;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}
.dxtcLite > .dxtc-stripContainer .dxtc-tabHover {
    background-color: #F2F2F2;
}
.dxtcLite > .dxtc-stripContainer .dxtc-tab {
    background: #fff;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 10pt;
    color: #38b8ba;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}
.dxtc-leftIndent {
   width:0 !important;
}
.dxheStatusBar {
    background: #efefef;
}
.dxm-main {
    width:100%;
}
.dxflItem tbody tr td {
    padding: 1px 0px 1px 0px;
    font-size: 11pt;
    font-family: seguisb;
}
.dxflTextEditItemSys .dxflVATSys.dxflCaptionCell, .dxflViewFormLayoutSys .dxflItemSys .dxflVATSys.dxflCaptionCell, .dxflViewFormLayoutSys .dxflItemSys .dxflNestedControlCell {
    padding-top: 5px;
}
.dxflGroupBox {
    display: table;
    border-collapse: separate;
    width: 100%;
    border: 1px Solid #38b8ba;
    border-radius: 3px;
}
.dxflGroupBoxCaption {
    background-color: White;
    color: #2E2E2E;
    font-family: seguisb;
    display: inline-block;
    left: 9px;
    margin-right: 18px;
    line-height: 16px;
    padding: 0px 3px 0px 3px;
    position: relative;
    top: -9px;
}
.dxpcLite .dxpc-header, .dxdpLite .dxpc-header {
    color: #FFF;
    background-color: #38b8ba;
    border-bottom: 1px solid #C9C9C9;
    padding: 6px 2px 6px 12px;
    font-family: seguisb;
    font-size:10pt;
}
.internal_osb_ml {
    background: #38b8ba !important;
    color: #fff;
}
.internal_legend_ml {
    background: #38b8ba;
    padding: 0px 10px;
    margin-right: 4px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: none;
}
.external_legend_ml {
    color: #fff;
    background: #dbe0e0;
    padding: 0px 10px;
    margin-right: 4px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: none;
}
.footr_ml {
    background: #f0f7f7 !important;
    padding: 10px;
    color: #418e8f !important;
    font-size: 11pt !important;
    font-family: seguisb;
 
}
/* Trainee Performance Styles starts*/
.average_durdiv:hover {
    box-shadow: 2px 4px 0px #d6d6d6;
}

.average_atmpdiv:hover {
    box-shadow: 2px 4px 0px #d6d6d6;
}

.average_mardiv:hover {
    box-shadow: 2px 4px 0px #d6d6d6;
}

.average_docdiv:hover {
    box-shadow: 2px 4px 0px #d6d6d6;
}

.average_durdiv {
    padding: 4px 10px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #1be46c;
    background: url(../images/average_duration.png) no-repeat;
    background-position: bottom 2px right -3px;
    background-size: 32%;
}

.perc {
    display: block;
    width: 111px !important;
    height: 83px;
    line-height: 104px !important;
    vertical-align: middle;
    font-size: 28px !important;
    right: 7px;
    font-weight: normal;
    color: rgb(92, 147, 200);
}

.cir {
    position: relative;
    top: 13px !important;
    left: 1px !important;
    text-align: center;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50%;
    background-color: rgb(255, 255, 255)
}

.averagedur_text {
    font-family: seguisb;
    font-size: 11pt;
    color: #1be46c;
}

.head {
    font-family: segoe-light !important;
}

.averagedur_val {
    font-size: 28pt !important;
    margin-top: -7px;
}

.average_atmpdiv {
    padding: 4px 10px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #1a8cb7;
    background: url(../images/atempt.png) no-repeat;
    background-position: bottom 2px right -3px;
    background-size: 25%;
}

.averagedatmp_text {
    font-family: seguisb;
    font-size: 11pt;
    color: #1a8cb7;
}

.average_mardiv {
    padding: 4px 10px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #ef7878;
    background: url(../images/marks.png) no-repeat;
    background-position: bottom 2px right 3px;
    background-size: 22%;
}

.averagemar_text {
    font-family: seguisb;
    font-size: 11pt;
    color: #ef7878;
}

.average_docdiv {
    padding: 4px 10px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #72baf9;
    background: url(../images/documents.png) no-repeat;
    background-position: bottom 2px right 2px;
    background-size: 18%;
}

.averagedoc_text {
    font-family: seguisb;
    font-size: 11pt;
    color: #72baf9;
}

.percentile_chart div {
    margin: 10px auto;
}

ul {
    padding: 0;
    margin: 0;
}

    ul li {
        list-style-type: none;
    }

.averagelistdiv {
}

.averagelist li a {
    list-style-type: none;
    border-bottom: 1px solid #676767;
    color: #676767;
    padding: 6px;
    font-size: 10pt;
}

    .averagelist li a:hover {
        list-style-type: none;
        border-bottom: 1px solid #676767;
        color: #fff;
        padding: 6px;
        background: #676767;
        font-size: 10pt;
    }

.list_clas {
    width: 33px;
    padding: 5px;
    border: 2px solid #5c93c8;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor:pointer;
}
.grid_header_performance {
    background: #676767;
    padding: 15px;
    color: #fff;
    font-size: 12pt;
    font-family: seguisb;
}

/* ---- performancepopup ---- */


.performance-popup {
    position: fixed;
    width: 350px;
    visibility: hidden;
    z-index: 9;
}

    .performance-popup .performancepopup-header {
        padding: 10px 5px 5px 10px;
        border: 1px solid #ff7373;
        cursor: pointer;
    }

.performancepopup-title {
    font-size: 12pt;
    color: #fff;
    font-family: seguisb;
}

.performancepopup-image {
    float: right;
    padding: 0 15px 0 0;
    margin: 0px;
    width: 25px;
}


.performancepopup-content {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid hsl(0, 0%, 92%);
}



.performancepopup-content-pad {
    padding: 10px;
}

@media only screen and (max-width:800px) {
    .performancepopup-content {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        height: 462px;
        background-color: #fefefe;
        border: 1px solid hsl(0, 0%, 92%);
    }
}


/*Right side popup style*/
.performance-popup-right {
    right: 0;
}

    .performance-popup-right .performancepopup-header {
        border-radius: 6px 0 0 6px;
        padding: 2px 10px;
        margin-left: -21px;
        margin-top: 0px !important;
        float: left;
    }

    .performance-popup-right .performancepopup-title {
        writing-mode: tb-rl;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        white-space: nowrap;
        display: block;
        padding: 5px;
    }

.performance-popup-right .performancepopup-image {
    margin: 7px -135px 0 0;
    margin-right: -16px !important;
    padding-right: 15px !important;
    width: 40px;
    padding: 0px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}


    .performance-popup-right .performancepopup-content {
        margin-top: -1%;
        width: auto;
        box-shadow: 25px 9px 12px -1px #2E2E1F;
    }

.performance-popup .performancepopup-header {
    background-color: #676767 !important;
    border-color: #676767;
    margin-top: -4%;
}

.performancepopup-title {
    color: #ffffff;
}

.performancepopup-content {
    border: 1px solid #8a8888;
    /*background-color: #eae5e5;*/
    background-color: #e0d7d7;
}

.performance-popup-right, .performance-popup-left {
    top: 41%;
}


    .performance-popup-right .performancepopup-title {
        writing-mode: tb-rl;
        -webkit-transform: rotate(0deg) !important;
    }

.performancepopupHeading {
    color: black;
    font-size: 12pt;
}



.performancepopupNavigate a {
    color: #ff7373 !important;
    font-size: 14pt;
    cursor: pointer;
    text-decoration: underline !important;
}
/* ---- performancepopup END ---- */
/* ---- stickypopup ---- */


.sticky-popup {
    position: fixed;
    width: 350px;
    visibility: hidden;
    z-index: 9;
}

    .sticky-popup .popup-header {
        padding: 10px 5px 5px 10px;
        border: 1px solid #ff7373;
        cursor: pointer;
    }

.popup-title {
    font-size: 12pt;
    color: #fff;
    font-family: seguisb;
}

.popup-image {
    float: right;
    padding: 0 15px 0 0;
    margin: 0px;
    width: 25px;
}


.popup-content {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid hsl(0, 0%, 92%);
}



.popup-content-pad {
    padding: 10px;
}

@media only screen and (max-width:800px) {
    .popup-content {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        height: 462px;
        background-color: #fefefe;
        border: 1px solid hsl(0, 0%, 92%);
    }
}


/*Right side popup style*/
.sticky-popup-right {
    right: 0;
}

    .sticky-popup-right .popup-header {
        float: left;
        border-radius: 6px 0 0 6px;
        padding: 12px 0px;
    }

    .sticky-popup-right .popup-title {
        writing-mode: tb-rl;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        white-space: nowrap;
        display: block;
        padding: 5px;
    }

    .sticky-popup-right .popup-image {
        margin: 7px -135px 0 0;
        margin-right: -16px !important;
        padding-right: 15px !important;
        width: 40px;
        padding: 0px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }


    .sticky-popup-right .popup-content {
        margin-top: -1%;
        width: auto;
        box-shadow: -1px 9px 35px -3px #2E2E1F;
    }

.sticky-popup .popup-header {
    background-color: #3d7292 !important;
    border-color: #3d7292;
    margin-top: -4%;
}

.popup-title {
    color: #ffffff;
}

.popup-content {
    border: 1px solid #3d7292;
    background-color: #fff;
}

.sticky-popup-right, .sticky-popup-left {
    top:50%;
}


    .sticky-popup-right .popup-title {
        writing-mode: tb-rl;
        -webkit-transform: rotate(0deg) !important;
    }

.popupHeading {
    color: black;
    font-size: 12pt;
}

.popheadingName {
    color: #38b8ba;
    font-size: 14pt;
}

.popupNavigate a {
    color: #3d7292 !important;
    font-size: 14pt;
    cursor: pointer;
    text-decoration: underline !important;
}

.popup_notification {
    padding: 2px 7px 2px 7px;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #3d7292;
    color: #fff;
    margin-left: -11px;
    box-shadow: 0px 2px 10px 0px #2e2e2e;
}
/* ---- stickypopup END ---- */
.recommendationsdiv_border {
    border: 2px solid #c8d2d2;
}

.recommendationscontent_div {
    font-size: 13pt;
    font-family: seguisb;
    padding: 2px 5px 7px 5px;
}
.recmnd_btn-ok {
    background: #38b8ba;
    border: 1px solid #38b8ba;
    border-radius: 4px;
    padding: 8px 30px;
    font-size: 10pt;
    color: #fff;
    font-family: seguisb;
    text-decoration: none;
    cursor: pointer;
}
.sticky-placeholder{
    top:78%;
}
    /* Trainee Performance Styles ends*/

.traineeperformancedt {
    color: #007bff !important;
    cursor: pointer;
}