﻿@model IEnumerable<AizantIT_PharmaApp.Areas.AdminSetup.Models.GlobalSetupBO.BusinessDivisionBO>
<!--Start Business Division List(Table)-->
<div class="col-12 padding-none" style="overflow:auto;">
    <table class="table datatable_cust table-bordered" style="width: 100%;" id="tblBusinessDivisionList">
        <thead>
            <tr class="UserDefinedTableHeader">
                <th style="display:none;">
                    @Html.DisplayNameFor(model => model.BusinessDivisionID)
                </th>
                <th>
                    Business Division Code
                </th>
                <th>
                    Business Division Name
                </th>
                <th style="text-align:center!important;">
                    Active
                </th>
                <th>
                    Created By
                </th>
                <th class="UDTableDateField">
                    Created Date
                </th>
                <th>
                    Modified By
                </th>
                <th class="UDTableDateField">
                    Modified Date
                </th>
                <th style="text-align:center!important;">
                    Edit
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="UserDefinedTableBody">
                    <td style="display:none;">
                        <span class="lblBusinessDivisionID">@Html.DisplayFor(modelItem => item.BusinessDivisionID)</span>
                    </td>
                    <td>
                        <span class="lblBusinessDivisionCode">@Html.DisplayFor(modelItem => item.BusinessDivisionCode)</span>
                        <input type="text" class="txtBusinessDivisionCode UserDefineTableInlineCodeTextBox" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event)" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="10">
                    </td>
                    <td>
                        <span class="lblBusinessDivisionName">@Html.DisplayFor(modelItem => item.BusinessDivisionName)</span>
                        <input type="text" class="txtBusinessDivisionName UserDefineTableInlineNameTextBox" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event)" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="100">
                    </td>
                    <td style="text-align:center!important;">
                        @*<span class="lblBusinessDivisionIsActive">@Html.DisplayFor(modelItem => item.IsActive)</span>*@
                        @if (item.IsActive.ToString() == "True")
                        {
                            <span class="lblBusinessDivisionIsActive">Yes</span>
                        }
                        else
                        {
                            <span class="lblBusinessDivisionIsActive">No</span>
                        }
                        <input class="CbBusinessDivisionIsActive" style="display:none;margin-top: 7px;" type="checkbox">
                    </td>
                    <td>
                        <span class="lblBusinessDivisionCreatedBy">@Html.DisplayFor(modelItem => item.CreatedByName)</span>
                    </td>
                    <td>
                        <label style="display:none">@Convert.ToDateTime(item.CreatedDate).ToString("yyyyMMdd HH:mm:ss")</label>
                        <span class="lblBusinessDivisionCreatedDate">@Html.DisplayFor(modelItem => item.CreatedDate)</span>
                    </td>
                    <td>
                        <span class="lblBusinessDivisionModifiedBy"> @Html.DisplayFor(modelItem => item.ModifiedByName)</span>
                    </td>
                    <td>
                        @if (item.ModifiedDate != "N/A")
                        {
                            <label class="lblInvisibleBusinessDivisionModifiedDate" style="display:none">@Convert.ToDateTime(item.ModifiedDate).ToString("yyyyMMddHHmmss")</label>
                        }
                        else
                        {
                            <label class="lblInvisibleBusinessDivisionModifiedDate" style="display:none">00000000000000</label>
                        }
                        <span class="lblBusinessDivisionModifiedDate"> @Html.DisplayFor(modelItem => item.ModifiedDate)</span>
                    </td>
                    <td class="UserDefinedTableButtonstd" style="text-align:center !important;">
                        @if (!new List<int> { 1, 2, 3 }.Contains(item.BusinessDivisionID))
                        {
                            <a class="btnBusinessDivisionEdit edit_icon_feed Edit global_icon" title=" Edit" style="margin-left:0%;"></a>
                        }
                        else
                        {
                            <a title="Can't Edit" style="margin-left:0%;">N/A</a>
                        }
                        <button type="button" class="btnBusinessDivisionUpdate btn btn-revert_popup" id="btnBusinessDivisionUpdated" style="margin-bottom:0px;display:none">Update</button>
                        <button type="button" class="btnBusinessDivisionCancel btn btn-cancel_popup" style="margin-bottom:0px;display:none">Cancel</button>
                        @*<input type="button" class="btnBusinessDivisionUpdate" value="Update" style="display:none" />
                            <input type="button" class="btnBusinessDivisionCancel" value="Cancel" style="display:none" />*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!--End Business Division List(Table)-->

<script>
    if ("@ViewBag.IsEditable"=="False") {
        $('#tblBusinessDivisionList td:nth-child(9),#tblBusinessDivisionList th:nth-child(9)').hide();
        }
    $(function () {
        MakeBusinessDivisionHtmlTabletoJQDatatable();
    });
    function MakeBusinessDivisionHtmlTabletoJQDatatable() {
        $('#tblBusinessDivisionList').DataTable({
            // "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "bServerSide": false,
            "aoColumnDefs": [
                { "targets": [8], "bSortable": false }
            ],
            "language": {
                "infoFiltered": "",
                "zeroRecords": "No data available"
            },
        });
        $('#tblBusinessDivisionList')
            .on('order.dt', function () { DefaultBusinessDivisionTableDisplay(); })
            .on('search.dt', function () { DefaultBusinessDivisionTableDisplay(); })
            .on('page.dt', function () { DefaultBusinessDivisionTableDisplay(); })
            .on('length.dt', function () { DefaultBusinessDivisionTableDisplay(); })
            .dataTable();
    }
</script>
<!--Start script for BusinessDivision Modification(Update) or INLine Edit-->
<script>
      function DefaultBusinessDivisionTableDisplay() {
          $("#tblBusinessDivisionList .btnBusinessDivisionUpdate").hide();
          $("#tblBusinessDivisionList .btnBusinessDivisionCancel").hide();
          $("#tblBusinessDivisionList .btnBusinessDivisionEdit").show();
        $("#tblBusinessDivisionList .txtBusinessDivisionName").css("display", "none");
        $("#tblBusinessDivisionList .lblBusinessDivisionName").css("display", "inline-block");
        $("#tblBusinessDivisionList .txtBusinessDivisionCode").css("display", "none");
        $("#tblBusinessDivisionList .lblBusinessDivisionCode").css("display", "inline-block");
        $("#tblBusinessDivisionList .CbBusinessDivisionIsActive").css("display", "none");
        $("#tblBusinessDivisionList .lblBusinessDivisionIsActive").css("display", "inline-block");
        ResetHeaderWidth();
    }
    var lblBusinessDivisionCode = "";
    var txtBusinessDivisionCode = "";
    var lblBusinessDivisionName = "";
    var txtBusinessDivisionName = "";
    var lblBusinessDivisionModifiedBy = "";
    var lblBusinessDivisionModifiedDate = "";
    var lblInvisibleBusinessDivisionModifiedDate = "";
    var lblBusinessDivisionIsActive = "";
    var cbBusinessDivisionIsActive = "";
    $(".btnBusinessDivisionEdit").click(function () {
        DefaultBusinessDivisionTableDisplay();
        lblBusinessDivisionCode = $(this).closest("tr").find(".lblBusinessDivisionCode");
        txtBusinessDivisionCode =  $(this).closest("tr").find(".txtBusinessDivisionCode");
        lblBusinessDivisionName = $(this).closest("tr").find(".lblBusinessDivisionName");
        txtBusinessDivisionName = $(this).closest("tr").find(".txtBusinessDivisionName");
        lblBusinessDivisionModifiedBy = $(this).closest("tr").find(".lblBusinessDivisionModifiedBy");
        lblBusinessDivisionModifiedDate = $(this).closest("tr").find(".lblBusinessDivisionModifiedDate");
        lblInvisibleBusinessDivisionModifiedDate = $(this).closest("tr").find(".lblInvisibleBusinessDivisionModifiedDate");
        cbBusinessDivisionIsActive = $(this).closest("tr").find(".CbBusinessDivisionIsActive");
        lblBusinessDivisionIsActive = $(this).closest("tr").find(".lblBusinessDivisionIsActive");
        if (lblBusinessDivisionIsActive.text().trim() == "Yes") {
            cbBusinessDivisionIsActive.prop("checked", true);
        }
        else {
            cbBusinessDivisionIsActive.prop("checked", false);
        }
        lblBusinessDivisionIsActive.css("display", "none");
        cbBusinessDivisionIsActive.css("display", "inline-block");
        $(txtBusinessDivisionCode).val(lblBusinessDivisionCode.text().trim());
        lblBusinessDivisionCode.css("display", "none");
        txtBusinessDivisionCode.css("display", "inline-block");
        $(txtBusinessDivisionName).val(lblBusinessDivisionName.text().trim());
        lblBusinessDivisionName.css("display", "none");
        txtBusinessDivisionName.css("display", "inline-block");
        $(this).closest("tr").find(".btnBusinessDivisionUpdate").show();
        $(this).closest("tr").find(".btnBusinessDivisionCancel").show();
        $(this).closest("tr").find(".btnBusinessDivisionEdit").hide();
        ResetHeaderWidth();
    });
    $(".btnBusinessDivisionCancel").click(function () {
        DefaultBusinessDivisionTableDisplay();
    });
    var BusinessDivisionCancelButton = "";
    var NewCategoryIsActive = "No";
    var BusinessDivisionID = "";
    var NewtxtBusinessDivisionName = "";
    var NewtxtBusinessDivisionCode = "";
    $(".btnBusinessDivisionUpdate").click(function () {
        BusinessDivisionID = $(this).closest("tr").find(".lblBusinessDivisionID").text();
        txtBusinessDivisionName = $(this).closest("tr").find(".txtBusinessDivisionName");
        txtBusinessDivisionCode = $(this).closest("tr").find(".txtBusinessDivisionCode");
        var NewBusinessDivisionName = txtBusinessDivisionName.val().trim().replace(/  +/g, ' ');
        var NewBusinessDivisionCode = txtBusinessDivisionCode.val().trim().replace(/  +/g, ' ');
        if ($(this).closest("tr").find(".CbBusinessDivisionIsActive").prop("checked") == true) {
            NewCategoryIsActive = "Yes";
        }
        else {
            NewCategoryIsActive = "No";
        }

        errors = [];
        if (NewBusinessDivisionCode == "") {
            errors.push("Business Division Code Should not be empty");
        }
        if (NewBusinessDivisionName == "") {
            errors.push("Business Division Name Should not be empty");
        }
        if (NewBusinessDivisionCode !== "" && NewBusinessDivisionName !== "" && NewBusinessDivisionCode == NewBusinessDivisionName) {
            errors.push("Business Division Code and Name Should not be Same");
        }
        if (errors.length > 0) {
            custAlertMsg(errors.join(",<br/>")+".", "error");
            return false;
        }
        else if (lblBusinessDivisionCode.text().trim() == NewBusinessDivisionCode && lblBusinessDivisionName.text().trim() == NewBusinessDivisionName && lblBusinessDivisionIsActive.text().trim() == NewCategoryIsActive) {
            custAlertMsg("There are no changes to Update.", "warning");
            return false;
        }
        else
        {
            var NewCategoryIsActiveValue = "False";
            if (NewCategoryIsActive == "Yes")
            {
                NewCategoryIsActiveValue = "True";
            }
            BusinessDivisionCancelButton = $(this).closest("tr").find(".btnBusinessDivisionCancel");
            ShowPleaseWait('show');
            AjaxCallUpdateBusinessDivisionDetails(BusinessDivisionID, NewBusinessDivisionCode, NewBusinessDivisionName, NewCategoryIsActiveValue);
            return true;
        }
    });
     var ModifiedByNameValue = "";
    var ModifiedDatevalue = "";
    function AjaxCallUpdateBusinessDivisionDetails(BusinessDivisionID, NewBusinessDivisionCode, NewBusinessDivisionName, NewCategoryIsActiveValue) {
        $.post("@Url.Content("~/AdminSetup/BusinessDivisionAndSite/BusinessDivisionModify")?BusinessDivisionID=" + BusinessDivisionID + "&BusinessDivisionCode=" + NewBusinessDivisionCode + "&BusinessDivisionName=" + NewBusinessDivisionName + "&IsActive=" + NewCategoryIsActiveValue,
            function (result) {
                if (result.msgRedirecttoLoginPage) {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    ShowPleaseWait('hide');
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg(result.msg, "success", "OnBusinessDivisionUpdateSuccess();");
                            ModifiedByNameValue = result.ModifiedByName;
                            ModifiedDatevalue = result.ModifiedDate;
                            break;
                    }
                }
            }, 'json');
    }
    function OnBusinessDivisionUpdateSuccess() {
        lblBusinessDivisionCode.text(txtBusinessDivisionCode.val());
        lblBusinessDivisionName.text(txtBusinessDivisionName.val());
        lblBusinessDivisionModifiedBy.text(" "+ModifiedByNameValue);
        lblBusinessDivisionModifiedDate.text(ModifiedDatevalue);
        lblInvisibleBusinessDivisionModifiedDate.text(new Date(ModifiedDatevalue).getFullYear() + "" + new Date(ModifiedDatevalue).getMonth() + "" + new Date(ModifiedDatevalue).getDate() + "" + new Date(ModifiedDatevalue).getHours() + "" + new Date(ModifiedDatevalue).getMinutes() + "" + new Date(ModifiedDatevalue).getSeconds());
        lblBusinessDivisionIsActive.text(NewCategoryIsActive);
        DefaultBusinessDivisionTableDisplay();
        $('#tblBusinessDivisionList').DataTable().rows().invalidate().draw();
    }
</script>
<!--End script for BusinessDivision Modification(Update) or INLine Edit-->