﻿@model IEnumerable<AizantIT_PharmaApp.Areas.AdminSetup.Models.GlobalSetupBO.SiteBO>
<input type="hidden" name="hdnIsEditable" id="hdnIsEditable" value="False" />
<!--Start Site List(Table)-->
<div class="col-12 padding-none" style="overflow:auto;">
    @*<table class="table datatable_cust table-bordered" style="width: 100%;" id="tblSiteList">
            <thead>
                <tr class="UserDefinedTableHeader">
                    <th style="display:none;">
                        @Html.DisplayNameFor(model => model.SiteID)
                    </th>
                    <th>
                        Site Name
                    </th>
                    <th style="text-align:center!important;">
                        Active
                    </th>
                    <th>
                        Department(s)
                    </th>
                    <th>
                        Business Division
                    </th>
                    <th>
                        Created By
                    </th>
                    <th class="UDTableDateField">
                        Created Date
                    </th>
                    <th>
                        Modified By
                    </th>
                    <th class="UDTableDateField">
                        Modified Date
                    </th>
                    <th style="text-align:center!important;">
                        Action
                    </th>
                </tr>

            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="9" style="text-align:center !important;">
                            No Records Available
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr class="UserDefinedTableBody">
                            <td style="display:none;">
                                <span class="lblSiteID">@Html.DisplayFor(modelItem => item.SiteID)</span>
                            </td>
                            <td>
                                <span class="lblSiteName">@Html.DisplayFor(modelItem => item.SiteName)</span>
                            </td>
                            <td style="text-align:center!important;">
                                @if (item.IsActive.ToString() == "True")
                                {
                                    <span class="lblSiteIsActive">Yes</span>
                                }
                                else
                                {
                                    <span class="lblSiteIsActive">No</span>
                                }
                            </td>
                            <td>
                                <span class="lblSiteDepartmentIDs" style="display:none"> @Html.DisplayFor(modelItem => item.SelectedDepartmentsIDs)</span>
                                <span class="lblSiteDepartmentNames"> @Html.DisplayFor(modelItem => item.SelectedDepartmentsNames)</span>
                            </td>
                            <td>
                                <span class="lblSiteBusinessDivisionName">@Html.DisplayFor(modelItem => item.BusinessDivisionName)</span>
                            </td>
                            <td>
                                <span class="lblSiteCreatedBy">@Html.DisplayFor(modelItem => item.CreatedByName)</span>
                            </td>
                            <td>
                                <label style="display:none">@Convert.ToDateTime(item.CreatedDate).ToString("yyyyMMdd HH:mm:ss")</label>
                                <span class="lblSiteCreatedDate">@Html.DisplayFor(modelItem => item.CreatedDate)</span>
                            </td>
                            <td>
                                <span class="lblSiteModifiedBy">@Html.DisplayFor(modelItem => item.ModifiedByName)</span>
                            </td>
                            <td>
                                @if (item.ModifiedDate != "N/A")
                                {
                                    <label style="display:none">@Convert.ToDateTime(item.ModifiedDate).ToString("yyyyMMdd HH:mm:ss")</label>
                                }
                                else
                                {
                                    <label style="display:none">00000000 00:00:00</label>
                                }
                                <span class="lblSiteModifiedDate">@Html.DisplayFor(modelItem => item.ModifiedDate)</span>
                            </td>
                            <td class="UserDefinedTableButtonstd">
                                <a class="btnSiteEdit edit_icon_feed Edit" title=" Edit" style="margin-left:0%;"></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>*@

    <table id="tblSite_BD_List" class="table datatable_cust table-striped table-bordered no-footer" style="width: 100%">
        <thead>
            <tr>
                <th>SiteID</th>
                <th>BusinessDivisionID</th>
                <th>SiteDeptIDs</th>
                <th>Site Name</th>
                <th>Business Division</th>
                <th>Active</th>
                @*<th>SiteDeptNames</th>*@
                <th>Site Dept Codes</th>
                <th>Created By</th>
                <th>Created Date</th>
                <th>Modified By</th>
                <th>Modified Date</th>
                <th>Edit</th>
            </tr>
        </thead>
    </table>
</div>
<!--End Site List(Table)-->
<script>
        $("#hdnIsEditable").val("@ViewBag.IsEditable");
</script>
<!--Start script for Site Modification(Update) or INLine Edit-->
<script>
    var SiteID = "", lblSiteName = "", txtSiteName = "", lblSiteModifiedBy = "",
        lblSiteModifiedDate = "", lblSiteIsActive = "", NewSiteIsActive = false,
        lblSiteDepartmentIDs = "", SiteDepartmentIDs, lblSiteDepartmentNames = "",
        CurrentSiteIsActive = "", BussinessDivision = "", Array_DeptIds;

     function EditSite(iSiteID)
    {
        $.ajax({
        url:'@Url.Content("~/BusinessDivisionAndSite/GetSiteData")',
        type: "GET",
        dataType: "JSON",
            data: { SiteID: iSiteID },
        success: function (result)
        {
            EditSiteDetails(result);
        }
    });
    }
    function EditSiteDetails(result) {
        var DeptIDArray = [];
        BtnStylesUpdate();
        $.each(result.data, function (i, item) {
            DeptIDArray.push(item.DeptIDs);
            SiteID = item.SiteID;
            lblSiteName = item.SiteName.trim();
            BussinessDivision = item.BusinessDivisionName.trim();
            CurrentSiteIsActive = item.IsActive;
        });
        Array_DeptIds = DeptIDArray;
        $('#ddlDepartments').selectpicker('val', Array_DeptIds);
        $("#txtCreateSiteName").val(lblSiteName);
        $("#txtBusinessDivisionName").val(BussinessDivision);
        if (CurrentSiteIsActive == true) {
            $("#rbnSiteActive").prop("checked", true);
            $("#rbnSiteActive").parents('label').addClass("active");
            $("#rbnSiteInActive").prop("checked", false);
            $("#rbnSiteInActive").parents('label').removeClass("active");
        }
        else {
            $("#rbnSiteActive").prop("checked", false);
            $("#rbnSiteActive").parents('label').removeClass("active");
            $("#rbnSiteInActive").prop("checked", true);
            $("#rbnSiteInActive").parents('label').addClass("active");
        }
    }
        // For Update Cancel
        $(".btnSiteCancel").click(function () {
            BtnStylesCreate();
        });
        var SelectedUpdateDepartmentIDs = [];
        var SelectedUpdateDeptsText = [];
        // For Update
    function SiteUpdate() {
        var NewSiteName = $("#txtCreateSiteName").val().trim().replace(/  +/g, ' ');
        //if ($("#cbSiteActive").prop("checked") == true) {
        if ($("#rbnSiteActive").prop("checked") == true) {
            NewSiteIsActive = true;
        }
        else {
            NewSiteIsActive = false;
        }
        SelectedUpdateDeptsText = [];
        SelectedUpdateDepartmentIDs = [];
        $.each($("#ddlDepartments option:selected"), function () {
            if ($(this).val() != "0") {
                SelectedUpdateDepartmentIDs.push($(this).val());
                SelectedUpdateDeptsText.push($(this).text());
            }
        });
        errors = [];
        if (NewSiteName == "") {
            errors.push("Site Name Should not be empty");
        }
        if (SelectedUpdateDepartmentIDs.length == 0) {
            errors.push("Select Department(s)");
        }
        if (errors.length > 0) {
            custAlertMsg(errors.join(",<br/>") + ".", "error");
            return false;
        }
        else if (lblSiteName.trim() == NewSiteName && CurrentSiteIsActive == NewSiteIsActive && SelectedUpdateDepartmentIDs.length == Array_DeptIds.length) {
            custAlertMsg("There are no changes to Update.", "warning");
            return false;
        }
        else {
            var NewSiteIsActiveValue = "False";
            if (NewSiteIsActive == true) {
                NewSiteIsActiveValue = "True";
            }
            SiteCancelButton = $(this).closest("tr").find(".btnSiteCancel");
            ShowPleaseWait('show');
            AjaxCallUpdateSiteDetails(SiteID, NewSiteName, NewSiteIsActiveValue, SelectedUpdateDepartmentIDs);
            return true;
        }
    }
        var ModifiedByNameValue = "";
        var ModifiedDatevalue = "";
        function AjaxCallUpdateSiteDetails(SiteID, NewSiteName, NewSiteIsActiveValue, SelectedUpdateDepartmentIDs) {
            $.post("@Url.Content("~/AdminSetup/BusinessDivisionAndSite/SiteModify")?SiteID=" + SiteID + "&SiteName=" + NewSiteName + "&IsActive=" + NewSiteIsActiveValue + "&SelectedDetIDs=" + SelectedUpdateDepartmentIDs ,
                function (result) {
                    if (result.msgRedirecttoLoginPage) {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        ShowPleaseWait('hide');
                        switch (result.msgType) {
                            case "error":
                                custAlertMsg(result.msg, "error");
                                break;
                            case "info":
                                custAlertMsg(result.msg, "info");
                                break;
                            case "warning":
                                custAlertMsg(result.msg, "warning");
                                break;
                            case "success":
                                custAlertMsg(result.msg, "success", "OnSiteUpdateSuccess();");
                                ModifiedByNameValue = result.ModifiedByName;
                                ModifiedDatevalue = result.ModifiedDate;
                                break;
                        }
                        setTimeout(function () { $("#btnSiteUpdate").attr("disabled", false); }, 0);
                    }
                }, 'json');
        }
        function OnSiteUpdateSuccess() {
            //lblSiteName.text($("#txtCreateSiteName").val());
            //lblSiteModifiedBy.text(ModifiedByNameValue);
            //lblSiteModifiedDate.text(ModifiedDatevalue);
            //lblSiteIsActive.text(NewSiteIsActive);
            //lblSiteDepartmentIDs.text(SelectedUpdateDepartmentIDs);
            //lblSiteDepartmentNames.text(SelectedUpdateDeptsText);
            LoadSite_BD_Datatable();
            BtnStylesCreate();
            //$(SiteCancelButton).click();
        }
</script>
<!--End script for Site Modification(Update) or INLine Edit-->
<!--Start Script For JQueryDatatable-->
<script>
            var oSite_BD_ListDatatable;
        function LoadSite_BD_Datatable() {
            if ($.fn.DataTable.isDataTable("#tblSite_BD_List")) {
                $('#tblSite_BD_List').DataTable().clear().destroy();
            }
            oSite_BD_ListDatatable = $('#tblSite_BD_List').DataTable({
                columns: [
                    { 'data': 'SiteID' },
                    { 'data': 'BusinessDivisionID' },
                    { 'data': 'SelectedDepartmentsIDs' },
                    { 'data': 'SiteName' },
                    { 'data': 'BusinessDivisionName' },
                    { 'data': 'IsActiveName' },
                    //{ 'data': 'SelectedDepartmentsNames' },
                    //{ 'data': 'SelectedDeptCodes' },
                    {
                        "mData": null,
                        "mRender": function (o) {
                             return '<p title="' + o.SelectedDepartmentsNames + '" href="#">' + o.SelectedDeptCodes + '</p>';
                        }
                    },
                    { 'data': 'CreatedByName' },
                    { 'data': 'CreatedDate' },
                    { 'data': 'ModifiedByName' },
                    { 'data': 'ModifiedDate' },
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (o) {
                            return '<a class="edit_icon_feed Edit" title="Edit Site" href="#" onclick="EditSite(' + o.SiteID + ');"></a>'; //,\'' + o.SelectedDepartmentsIDs + '\',\'' + o.SiteName + '\',\'' + o.BusinessDivisionName + '\',\'' + o.IsActiveName + '\',' + o.SiteID + '
                        }
                    }
                ],
                "scrollY": "380px",
                "aoColumnDefs": [{ "targets": [0,1,2], "visible": false }, { className: "textAlignCenter", "targets": [5,8,10,11] }],
                "sAjaxSource":"@Url.Content("~/AdminSetup/BusinessDivisionAndSite/GetSite_BD_List")",
                "fnServerData": function (sSource, aoData, fnCallback) {
                    aoData.push({ "name": "AuditID", "value": $("#AuditID").val() });
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aoData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else if (result.msgType == "error") {
                                custAlertMsg(result.msg, "error");
                            } else {
                                fnCallback(result);
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });

                }
            });
            if ($("#hdnIsEditable").val()=="False") {
                $('#tblSite_BD_List').DataTable().columns([11]).visible(false);
            }
            }
        LoadSite_BD_Datatable();
        ////For Jquery Datatables to prevent "<" symbol.
        //$('.dataTables_filter > label > input[type="search"]').keypress(function (event) {
        //    if (event.which == 60) {
        //        event.preventDefault();
        //    }
        //});
        //$('.dataTables_filter > label > input[type="search"]').bind("paste", function (e) {
        //    if (e.originalEvent.clipboardData.getData('text').includes("<")) {
        //        e.preventDefault();
        //    }
        //});
</script>
<!--End Script For JQueryDatatable-->
@*<script>
         if ("@ViewBag.IsEditable"=="False") {
             $('#tblSiteList td:nth-child(10),#tblSiteList th:nth-child(10)').hide();
            }
        function MakeSite_BusinessDivisionHtmlTabletoJQDatatable() {
            $('#tblSiteList').DataTable({
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bServerSide": false,
                "aoColumnDefs": [
                    { "targets": [9], "bSortable": false }
                ]
            });
        }
        MakeSite_BusinessDivisionHtmlTabletoJQDatatable();
    </script>
        <script>

            //var lblSiteCode = "";
            //var txtSiteCode = "";
            var SiteID = "";
            var lblSiteName = "";
            var txtSiteName = "";
            var lblSiteModifiedBy = "";
            var lblSiteModifiedDate = "";
            var lblSiteIsActive = "";
            var NewSiteIsActive = false;
            var lblSiteDepartmentIDs = "";
            var SiteDepartmentIDs;
            var lblSiteDepartmentNames = "";
            $(".btnSiteEdit").click(function () {
                BtnStylesUpdate();
                SiteID = $(this).closest("tr").find(".lblSiteID").text();
                lblSiteName = $(this).closest("tr").find(".lblSiteName");
                txtSiteName = lblSiteName.text().trim();
                lblSiteIsActive = $(this).closest("tr").find(".lblSiteIsActive");
                if (lblSiteIsActive.text().trim() == "Yes") {
                    $("#rbnSiteActive").prop("checked", true);
                    $("#rbnSiteActive").parents('label').addClass("active");
                    $("#rbnSiteInActive").prop("checked", false);
                    $("#rbnSiteInActive").parents('label').removeClass("active");
                }
                else {
                    $("#rbnSiteActive").prop("checked", false);
                    $("#rbnSiteActive").parents('label').removeClass("active");
                    $("#rbnSiteInActive").prop("checked", true);
                    $("#rbnSiteInActive").parents('label').addClass("active");
                }
                lblSiteDepartmentIDs = $(this).closest("tr").find(".lblSiteDepartmentIDs");
                SiteDepartmentIDs = lblSiteDepartmentIDs.text().trim();
                lblSiteDepartmentNames = $(this).closest("tr").find(".lblSiteDepartmentNames");
                lblSiteModifiedBy = $(this).closest("tr").find(".lblSiteModifiedBy");
                lblSiteModifiedDate = $(this).closest("tr").find(".lblSiteModifiedDate");

                $("#txtCreateSiteName").val(txtSiteName);
                $("#txtBusinessDivisionName").val($(this).closest("tr").find(".lblSiteBusinessDivisionName").text().trim());
                var ArrayDeptIds = SiteDepartmentIDs.split(',').map(function (item) {
                    return parseInt(item, 10);
                });
                $('#ddlDepartments').selectpicker('val', ArrayDeptIds);
            });
            // For Update Cancel
            $(".btnSiteCancel").click(function () {
                BtnStylesCreate();
            });
            var SelectedUpdateDepartmentIDs = [];
            var SelectedUpdateDeptsText = [];
            // For Update
            function SiteUpdate() {
                var NewSiteName = $("#txtCreateSiteName").val();
                //if ($("#cbSiteActive").prop("checked") == true) {
                if ($("#rbnSiteActive").prop("checked") == true) {
                    NewSiteIsActive = true;
                }
                else {
                    NewSiteIsActive = false;
                }
                SelectedUpdateDeptsText = [];
                SelectedUpdateDepartmentIDs = [];
                $.each($("#ddlDepartments option:selected"), function () {
                    if ($(this).val() != "0") {
                        SelectedUpdateDepartmentIDs.push($(this).val());
                        SelectedUpdateDeptsText.push($(this).text());
                    }
                });
                errors = [];
                if (NewSiteName == "") {
                    errors.push("Site Name Should not be empty");
                }
                if (SelectedUpdateDepartmentIDs.length == 0) {
                    errors.push("Select Department(s)");
                }
                if (errors.length > 0) {
                    custAlertMsg(errors.join(",<br/>")+".", "error");
                    return false;
                }
                //else if (lblSiteName.text().trim() == NewSiteName && CurrentSiteIsActive == NewSiteIsActive) {
                //    custAlertMsg("There are no changes to Update.", "info");
                //    return false;
                //}
                else {
                    var NewSiteIsActiveValue = "False";
                    if (NewSiteIsActive == true) {
                        NewSiteIsActiveValue = "True";
                    }
                    SiteCancelButton = $(this).closest("tr").find(".btnSiteCancel");
                    AjaxCallUpdateSiteDetails(SiteID, NewSiteName, NewSiteIsActiveValue, SelectedUpdateDepartmentIDs);
                    return true;
                }
            }
            var ModifiedByNameValue = "";
            var ModifiedDatevalue = "";
            function AjaxCallUpdateSiteDetails(SiteID, NewSiteName, NewSiteIsActiveValue, SelectedUpdateDepartmentIDs) {
                $.post("@Url.Content("~/AdminSetup/BusinessDivisionAndSite/SiteModify")?SiteID=" + SiteID + "&SiteName=" + NewSiteName + "&IsActive=" + NewSiteIsActiveValue + "&SelectedDetIDs=" + SelectedUpdateDepartmentIDs ,
                    function (result) {
                        if (result.msgRedirecttoLoginPage) {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else {
                            switch (result.msgType) {
                                case "error":
                                    custAlertMsg(result.msg, "error");
                                    break;
                                case "info":
                                    custAlertMsg(result.msg, "info");
                                    break;
                                case "warning":
                                    custAlertMsg(result.msg, "warning");
                                    break;
                                case "success":
                                    custAlertMsg(result.msg, "success", "OnSiteUpdateSuccess();");
                                    ModifiedByNameValue = result.ModifiedByName;
                                    ModifiedDatevalue = result.ModifiedDate;
                                    break;
                            }
                        }
                    }, 'json');
            }
            function OnSiteUpdateSuccess() {
                lblSiteName.text($("#txtCreateSiteName").val());
                lblSiteModifiedBy.text(ModifiedByNameValue);
                lblSiteModifiedDate.text(ModifiedDatevalue);
                lblSiteIsActive.text(NewSiteIsActive);
                lblSiteDepartmentIDs.text(SelectedUpdateDepartmentIDs);
                lblSiteDepartmentNames.text(SelectedUpdateDeptsText);
                BtnStylesCreate();
                //$(SiteCancelButton).click();
            }
    </script>
*@

<script>
    @*function EditSite(iSiteID)
    {
        debugger;
        $.ajax({
        url:'@Url.Content("~/BusinessDivisionAndSite/GetSiteData")',
        type: "GET",
        dataType: "JSON",
            data: { SiteID: iSiteID },
        success: function (result)
        {
            EditSiteDetails(result);
        }
    });
    }
    function EditSiteDetails(result) {
        debugger;
        BtnStylesUpdate();
        var ArrayIDs = [];
        $.each(result.data, function (i, item) {
            ArrayIDs.push(item.DeptIDs);
            SiteID = item.SiteID;
            lblSiteName = item.SiteName.trim();
            BussinessDivision=item.BusinessDivisionName.trim();
            CurrentSiteIsActive = item.IsActive;
        });
        $('#ddlDepartments').selectpicker('val', ArrayIDs);
        $("#txtCreateSiteName").val(lblSiteName);
        $("#txtBusinessDivisionName").val(BussinessDivision);
        if (CurrentSiteIsActive == true) {
            $("#rbnSiteActive").prop("checked", true);
            $("#rbnSiteActive").parents('label').addClass("active");
            $("#rbnSiteInActive").prop("checked", false);
            $("#rbnSiteInActive").parents('label').removeClass("active");
        }
        else
        {
            $("#rbnSiteActive").prop("checked", false);
            $("#rbnSiteActive").parents('label').removeClass("active");
            $("#rbnSiteInActive").prop("checked", true);
            $("#rbnSiteInActive").parents('label').addClass("active");
        }
    }*@

       //    var lblSiteName = "";
    //    var txtSiteName = "";
    //    var lblSiteModifiedBy = "";
    //    var lblSiteModifiedDate = "";
    //    var lblSiteIsActive = "";
    //    var NewSiteIsActive = "No";
    //    var lblSiteDepartmentIDs = "";
    //    var SiteDepartmentIDs;
    //    var lblSiteDepartmentNames = "";
    //var CurrentSiteIsActive = "";
    //var bussinessDivision = "";
    //function EditSite(iSiteID, iSiteDepartmentIDs, iSiteName, iBDName, iIsActive, SITEID) {

    //        BtnStylesUpdate();
    //        SiteID = iSiteID;
    //        lblSiteName = iSiteName.trim();
    //        CurrentSiteIsActive = iIsActive;
    //        SiteDepartmentIDs = iSiteDepartmentIDs.trim();
    //        var ArrayDeptIds = SiteDepartmentIDs.split(',').map(function (item) {
    //            return parseInt(item, 10);
    //        });
    //        $('#ddlDepartments').selectpicker('val', ArrayDeptIds);
    //        $("#txtCreateSiteName").val(iSiteName.trim());
    //        $("#txtBusinessDivisionName").val(iBDName.trim());
    //        if (iIsActive == "Yes") {
    //            $("#rbnSiteActive").prop("checked", true);
    //            $("#rbnSiteActive").parents('label').addClass("active");
    //            $("#rbnSiteInActive").prop("checked", false);
    //            $("#rbnSiteInActive").parents('label').removeClass("active");
    //        }
    //        else {
    //            $("#rbnSiteActive").prop("checked", false);
    //            $("#rbnSiteActive").parents('label').removeClass("active");
    //            $("#rbnSiteInActive").prop("checked", true);
    //            $("#rbnSiteInActive").parents('label').addClass("active");
    //        }
    //    }
</script>