﻿@{
    ViewBag.Title = "Business Division Master";
    Layout = "~/Areas/AdminSetup/Views/Shared/_AdminSetupLayout.cshtml";
}
<title>@ViewBag.Title</title>
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Business Division<a href="#" class="btn btn-sm ums_innerbtn" id="addbusiness">Add Business Divison</a></div>
<div class="tab-content tab_content_assigment float-left col-lg-12 padding-none">
    @if (ViewBag.SysError != "" && ViewBag.SysError != null)
    {
    <div style="text-align:center;color:red">
        @ViewBag.SysError
    </div>
    }
    else
    {

    <div class="tab-pane active">
        <div class="grid_panel_hod col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
            <div class="col-12 float-left padding-none" id="businessDiv" style="border-bottom:1px solid #07889a;display:none;">
                <div class="col-lg-12 float-left">
                    <div class="col-12 padding-none">
                        <!--Sart Business Division Create-->
                        <div class="col-12 float-left">
                            <div class="col-lg-3 float-left padding-none">
                                <div class="col-12 padding-none">
                                    <label class="col-12 padding-none float-left" for="txtCreateBusinessDivisionCode">Business Division Code<span class="mandatoryStar">*</span></label>
                                    <input class="form-control col-lg-12" id="txtCreateBusinessDivisionCode" type="text" placeholder="Enter Business Division Code" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event)" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="10">
                                </div>
                            </div>
                            <div class="col-lg-3 float-left padding-none">
                                <div class="col-12">
                                    <label class="float-left" for="txtCreateBusinessDivisionName">Business Division Name<span class="mandatoryStar">*</span></label>
                                    <input class="form-control col-lg-12" id="txtCreateBusinessDivisionName" type="text" placeholder="Enter Business Division Name" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event)" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="100">
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 top float-left col-3 bottom padding-none ">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 top text-left col-12 bottom padding-none ">
                                    <button type="button" class="top  btn btn-signup_popup" id="btnBusinessDivisionCreate" style="	margin-bottom:0px;" onclick="BusinessDivisionCreate();">Add</button>
                                    <button type="button" class="top  btn btn-cancel_popup" style="margin-bottom:0px;" onclick="BusinessDivisionCreateCancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <!--End Business Division Create-->
                    </div>
                </div>
            </div>

            <div class="col-12 float-left top">
                <div id='divBindPartialViews'></div>
            </div>

        </div>
    </div>
    }
</div>

<script>
    function LoadBusinessDivisionList() {
        $("#divBindPartialViews").empty();
        $("#divBindPartialViews").prepend("<div style='text-align:center;font-weight: bold;font-size:14px;'>Loading...</div>");
        $("#divBindPartialViews").load("@Url.Content("~/AdminSetup/BusinessDivisionAndSite/GetBusinessDivisionList")?IsEditable=" + true + "");
    }
    LoadBusinessDivisionList();
</script>
<!--Start script for BusinessDivision Create-->
<script>
    //Cancel Button click to clear the Values
    function BusinessDivisionCreateCancel() {
        $("#txtCreateBusinessDivisionName").val("");
        $('#txtCreateBusinessDivisionCode').val("");
        $("#businessDiv").hide();
    }
    //On Create Click to validate the Fields.
    function BusinessDivisionCreate()
    {
        var txtCreateBusinessDivisionName = $("#txtCreateBusinessDivisionName").val().trim().replace(/  +/g, ' ');
        var txtCreateBusinessDivisionCode = $("#txtCreateBusinessDivisionCode").val().trim().replace(/  +/g, ' ');

        errors = [];
        if (txtCreateBusinessDivisionCode == "") {
            errors.push("Enter Business Division Code");
        }
        if (txtCreateBusinessDivisionName == "" ) {
            errors.push("Enter Business Division Name");
        }
        if (txtCreateBusinessDivisionCode !== "" && txtCreateBusinessDivisionName !== "" && txtCreateBusinessDivisionCode == txtCreateBusinessDivisionName) {
            errors.push("Business Division Code and Name Should not be Same");
        }
        if (errors.length > 0)
        {
            custAlertMsg(errors.join(".<br/>") + ".", "error");
            return false;
        }
        else
        {
            ShowPleaseWait('show');
            AjaxCallBusinessDivisionCreate(txtCreateBusinessDivisionCode, txtCreateBusinessDivisionName);
            return true;
        }
    }
    //Ajax call for Submitting the Create Fields to DB
    function AjaxCallBusinessDivisionCreate(BusinessDivisionCode,BusinessDivisionName)
    {
       $.post("@Url.Content("~/AdminSetup/BusinessDivisionAndSite/BusinessDivisionCreate")?BusinessDivisionName=" + BusinessDivisionName + "&BusinessDivisionCode=" + BusinessDivisionCode,
            function (result)
            {
                ShowPleaseWait('hide');
                    switch (result.msgType)
                    {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg(result.msg, "success", "OnBusinessDivisionCreateSuccess();");
                            break;
                    }
            }, 'json');
    }
    //On Creation Success Reload the Page(Shared View)
    function OnBusinessDivisionCreateSuccess()
    {
        BusinessDivisionCreateCancel();
        LoadBusinessDivisionList();
        MakeBusinessDivisionHtmlTabletoJQDatatable();
    }
</script>
<!--End script for BusinessDivision Create-->

<script>
    $(function () {
        $("#addbusiness").on("click", function () {
            $("#businessDiv").show();
        });
    });
</script>