﻿
@{
                /**/

                ViewBag.Title = "Site Business Division";
                Layout = "~/Areas/AdminSetup/Views/Shared/_AdminSetupLayout.cshtml";
}
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Site Master</div>
<div class="tab-content tab_content_assigment float-left col-lg-12 padding-none">
    @if (ViewBag.SysError != "" && ViewBag.SysError != null)
    {
        <div style="text-align:center;color:red">
            @ViewBag.SysError
        </div>
    }
    else
    {
        <div class="tab-pane active">
            <div class="grid_panel_hod col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                <div class="col-12 float-left padding-none" style="border-bottom:1px solid #07889a;">
                    <div class="col-lg-12 float-left">
                        <div class="col-12 padding-none">
                            <!--Start site Create-->
                            <div class="col-12 float-left">
                                <div id="divSiteBusinessDivision" class="col-lg-3 padding-none float-left">
                                    <div class="col-12 padding-none">
                                        <label class="float-left" for="ddlBusinessDivision">Business Division<span class="mandatoryStar">*</span></label>
                                        @Html.DropDownList("BusinessDivision", new SelectList(ViewBag.BusinessDivisionList, "Value", "Text"),
                                            htmlAttributes: new { id = "ddlBusinessDivision", @class = "col-lg-12 float-left padding-none selectpicker drop_down bottom", @title = "-- Select Business Division --" })
                                    </div>
                                </div>
                                <div class="col-lg-3 float-left padding-none" id="divBusinessDivision" style="display:none;">
                                    <div class="col-12 padding-none">
                                        <label class="float-left" for="txtCreateSiteName">Business Division</label>
                                        <input class="form-control col-lg-12" id="txtBusinessDivisionName" type="text" placeholder="Business Division" maxlength="100" disabled>
                                    </div>
                                </div>


                                @*<div id="divSiteStatus" class="col-lg-3 padding-none float-left" style="display:none;">
                                            <div class="col-12  padding-none float-left">
                                                <label class="col-12 padding-none float-left" id="lblSiteActiveStatus" for="StatusSite">Active Status<span class="mandatoryStar">*</span></label>
                                            </div>
                                            <input type="checkbox" name="SiteStatus" id="cbSiteActive" value="Active">
                                            <input type="radio"  id="rbnSiteActive" name="StatusSite" value="male"> Active<br>
                                            <input type="radio" class="btn btn-primary_radio  col-sm-6 col-xs-6 col-lg-6 col-md-6" id="rbnSiteInActive" name="StatusSite" value="female">InActive<br>
                                    </div>*@

                                <div class="col-lg-3 float-left padding-none">
                                    <div class="col-12">
                                        <label class="float-left" for="txtCreateSiteName">Site Name<span class="mandatoryStar">*</span></label>
                                        <input class="form-control col-lg-12" id="txtCreateSiteName" type="text" placeholder="Enter Site Name" onkeypress="return ValidateAlphaUnderscoreandMinusandBrackets(event)" onpaste="return ValidateAlphaUnderscoreandMinusandBracketsOnPaste();" maxlength="100">
                                        @*@Html.EditorFor(Model => Model.SiteName, new { htmlAttributes = new { @class = "form-control col-lg-12", name = "SiteName", @autocomplete = "off", @maxlength = "100", @onkeypress = "return ValidateAlphaUnderscoreandMinusandBrackets(event)" } })*@
                                    </div>
                                </div>
                                <div class="col-lg-3 float-left padding-none">
                                    <div class="col-12 padding-none">
                                        <label class="float-left" for="ddlDepartments">Department(s)<span class="mandatoryStar">*</span>:</label>

                                        @Html.DropDownList("Departments", new SelectList(ViewBag.DepartmetList, "Value", "Text"), htmlAttributes: new { id = "ddlDepartments", @class = "col-lg-12 float-left padding-none selectpicker drop_down bottom show-tick ", multiple = "multiple", @title = "-- Select Department(s) --" })
                                    </div>
                                </div>
                                <div class=" btn-group-toggle float-left  col-3" data-toggle="buttons" id="divSiteStatus" style="display:none;">
                                    <label class="col-12 custom_label col-form-label float-left padding-none" for="SiteStatus" style="margin-bottom:5px;"> Status</label>
                                    <label class="btn btn-secondary float-left col-6">
                                        <input type="radio" name="SiteStatus" id="rbnSiteActive" autocomplete="off"> Active
                                    </label>
                                    <label class="btn btn-secondary float-left col-6">
                                        <input type="radio" name="SiteStatus" id="rbnSiteInActive" autocomplete="off"> In Active
                                    </label>
                                </div>
                                <div class="col-xl-3 col-md-3 col-sm-3 col-lg-3 top float-left col-3 top bottom padding-none  text-right" style="margin-top: 14px !important;">
                                    <button type="button" class="btnSiteCreate top  btn btn-signup_popup" id="btnSiteCreate" style="margin-bottom:0px;" onclick="SiteCreate();">Add</button>
                                    <button type="button" class="btnSiteUpdate btn btn-revert_popup " id="btnSiteUpdate" style="margin-top:-10px;display:none" onclick="SiteUpdate();">Update</button>

                                    <button type="button" class="btnSiteReset top  btn btn-cancel_popup" style="margin-bottom:0px;" onclick="SiteCreateCancel();">Cancel</button>

                                    <button type="button" class="btnSiteCancel btn btn-cancel_popup  " style="margin-top:-10px;display:none">Cancel</button>

                                </div>
                            </div>
                            <!--End site Create-->
                        </div>
                    </div>
                </div>
                <div class="col-12 float-left top">
                    <div id='divBindSiteListPartialView'></div>
                </div>
            </div>
        </div>
    }
</div>
<script>
    function LoadSite_BusinessDivisionList() {
        $("#divBindSiteListPartialView").empty();
        $("#divBindSiteListPartialView").prepend("<div style='text-align:center;font-weight: bold;font-size:14px;'>Loading...</div>");
        $("#divBindSiteListPartialView").load("@Url.Content("~/AdminSetup/BusinessDivisionAndSite/GetSite_BusinessDivisionList")?IsEditable=" + true + "");
    }
    LoadSite_BusinessDivisionList();
    $('.selectpicker').selectpicker({
        liveSearch: true,
        showSubtext: true,
        size: 7
    });
</script>
<!--Start script for site Creat-->
<script>
     //Cancel Button click to clear the Values
     function SiteCreateCancel() {
         // $('#ddlCountryID').multiselect('refresh');
         ClearFields();
     }
    //On Create Click to validate the Fields.
     function SiteCreate() {
         var SelectedBusinessDivisionID = $("#ddlBusinessDivision").val();
         var SiteName = $("#txtCreateSiteName").val().trim().replace(/  +/g, ' ');
            var SelectedDepartmentIDs = [];
            $.each($("#ddlDepartments option:selected"), function () {
                if ($(this).val()!="0") {
                SelectedDepartmentIDs.push($(this).val());
                }
            });
            errors = [];
            if (SelectedBusinessDivisionID == "" || SelectedBusinessDivisionID == "0" || SelectedBusinessDivisionID == null) {
                errors.push("Select Business Division");
            }
            if (SiteName=="") {
                errors.push("Enter Site Name");
            }
            if (SelectedDepartmentIDs.length == 0) {
                errors.push("Select Department(s)");
            }
            if (errors.length > 0) {
                custAlertMsg(errors.join(".<br/>")+".", "error");
                return false;
            }
            else
            {
                ShowPleaseWait('show');
               // alert("You have selected BusinessDivisionID : " + SelectedBusinessDivisionID + " and Site Name is : " + SiteName+" and the DepartmentIDs : " + SelectedDepartmentIDs.join(", "));
                AjaxCallCreateSite(SelectedBusinessDivisionID, SiteName, SelectedDepartmentIDs);
                return true;
            }
     }
    //Ajax call for Submitting the Create Fields to DB
        function AjaxCallCreateSite(BusinessDivisionID, SiteName, SelectedDepartmentIDs) {
            $.post("@Url.Content("~/AdminSetup/BusinessDivisionAndSite/SiteCreate")?SiteName=" + SiteName + "&BusinessDivisionID=" + BusinessDivisionID + "&SelectedDetIDs=" + SelectedDepartmentIDs ,
                function (result) {
                    if (result.msgRedirecttoLoginPage) {
                        window.location.href = '/UserLogin.aspx';
                    }
                    else {
                        ShowPleaseWait('hide');
                        switch (result.msgType) {
                            case "error":
                                custAlertMsg(result.msg, "error");
                                break;
                            case "info":
                                custAlertMsg(result.msg, "info");
                                break;
                            case "warning":
                                custAlertMsg(result.msg, "warning");
                                break;
                            case "success":
                                custAlertMsg(result.msg, "success", "OnSiteCreateSuccess();");
                                break;
                        }
                    }
                }, 'json');
     }
    //On Creation Sucess Reload the Page(Shared View)
        function OnSiteCreateSuccess() {
            SiteCreateCancel();
           // LoadSite_BusinessDivisionList();
           // MakeSite_BusinessDivisionHtmlTabletoJQDatatable();
                            LoadSite_BD_Datatable();
        }
</script>
<!--End script for site Creat-->
<!--Begin Common Script for Create and Update-->
<script>
    function ClearFields() {
        $("#ddlBusinessDivision").val('default');
        $("#ddlBusinessDivision").selectpicker("refresh");
        $("#ddlDepartments").val('default');
        $("#ddlDepartments").selectpicker("refresh");
        $("#txtCreateSiteName").val("");
        //$("#cbSiteActive").prop("checked", false);
        $("#rbnSiteActive").prop("checked", false);
        $("#rbnSiteInActive").prop("checked", true);
    }
    function BtnStylesUpdate() {
        ClearFields();
        $(".btnSiteUpdate").css("display", "inline-block");
        $(".btnSiteCancel").css("display", "inline-block");
        $(".btnSiteCreate").css("display", "none");
        $(".btnSiteReset").css("display", "none");
        $("#divSiteBusinessDivision").css("display", "none");
        $("#divSiteStatus").css("display", "inline-block");
        $("#divBusinessDivision").css("display", "inline-block");
    }
    function BtnStylesCreate() {
        ClearFields();
        $(".btnSiteUpdate").css("display", "none");
        $(".btnSiteCancel").css("display", "none");
        $(".btnSiteCreate").css("display", "inline-block");
        $(".btnSiteReset").css("display", "inline-block");
        $("#divSiteStatus").css("display", "none");
        $("#divBusinessDivision").css("display", "none");
        $("#divSiteBusinessDivision").css("display", "inline-block");
    }
</script>
