@import url('../login/button.css');
@import url('../Common/common.css');
@import url('ums_dashboard_styles.css');
@import url('../grid_icons/grid_icon.css');
@import url('../datetimepicker/datetimepicker.css');
@import url('../ui components/tabs.css');

.grid_scrollbar {
    background: #fff;
    border: 1px solid #38b8ba;
    float: left;
    margin-bottom: 10px;
}

.form-group label {
    color: #38b8ba;
    font-family: seguisb;
}
.custom_label_answer {
    color: #38b8ba;
    font-size: 10pt;
    margin-bottom: 6px;
    margin-right: 0px;
    text-align: left !important;
}
.grid_area {
    background: #fff;
    border: 1px solid #38b8ba;
    float: left;
    overflow: auto;
}
.header_profile {
    background: #38b8ba;
    padding: 10px;
    color: #fff;
    font-size: 12pt;
    font-family: seguisb;
}
.grid_border {
    border: 1px solid #38b8ba;
    padding: 10px 0px;
}
.roles_list_nav {
    margin: 4;
    padding: 0
}
.roles_list_nav li a {
    color: #000;
    font-family: seguisb;
    border-radius: 4px;
    float: left;
    padding: 5px 0px 5px 8px;
    background: #a9d8df;
}
.roles_list_nav li a:hover {
    text-decoration: none;
    color: #fff;
    font-family: seguisb;
    border-radius: 4px;
    float: left;
    padding: 5px 0px 5px 8px;
    background: #38b8ba;
}
.roles_list_nav li {
    list-style-type: none;
    display: inline;
    margin-right: 4px;
    margin-bottom: 10px;
    float: left;
}
.roles_list_nav li a {
    color: #000;
    font-family: seguisb;
    border-radius: 4px;
    float: left;
    padding: 5px 0px 5px 8px;
    background: #a9d8df;
}
.accesibleDepartment {
    font-size: 14px;
    color: #38b8ba;
    font-family: seguisb;
    padding: 10px 0 11px;
}
.accesibleDepartment_content {
    font-size: 14px;
    color: #38b8ba;
    font-family: seguisb;
    margin: 3px 0px -11px;
    padding: 13px 10px;
    width: 100%;
    text-align: center;
}
.profile_bg {
    border: 4px solid #bfc5c6;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    float: left;
}
.Panel_Frame {
    border: 1px solid #38b8ba;
    margin-left: 0%;
    margin-right: 0%;
}
.add_depart {
    background: url(../../Images/add_icon.png) no-repeat;
    padding: 11px;
    top: 1px;
    background-size: 97%;
    width: 7%;
}
.panel_list_refresh {
    background: url(../../Images/PMS/panel_list.png) no-repeat;
    background-position: -8px -52px;
}

