
.outer_border_profile {
    border: 1px solid #33a3b2;
    background: #fff;
    padding: 4px;
    float: left;
}

.outer_dashboard {
    border-radius: 4px;
    border: 2px solid #c0e0e6;
    /* height: 98px; */
    padding: 2px 12px;
    margin-bottom: 10px;
}

.header_text_dshboard {
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #fff;
    font-family: seguisb;
    font-size: 10pt;
}

.dashboard-image {
    margin-top: 10px;
    padding: 0px 14px;
    margin-bottom: 10px;
}

.link_dashboard {
    color: #fff;
    font-family: seguisb;
    font-size: 25pt;
    float: right;
    padding: 0px;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

    .link_dashboard a {
        color: #fff;
        font-family: seguisb;
        font-size: 15pt;
        float: right;
        padding: 14px;
    }

.outer_dashboard1 {
    border-radius: 4px;
    border: 2px solid #d07d7d;
    margin-bottom: 10px;
    background: #d07d7d;
}

.outer_dashboard3 {
    border-radius: 4px;
    border: 2px solid #525d5d;
    margin-bottom: 10px;
    background: #525d5d;
    height: 100%;
}

.outer_dashboard2 {
    border-radius: 4px;
    border: 2px solid #6d8b8c;
    margin-bottom: 10px;
    background: #6d8b8c;
}

.dashboard_panel_full {
    border: 1px solid #38b8ba;
    margin-top: 10px;
}


.dxbs-chart {
    position: relative;
}

.dxbs-widget-container {
    height: 100%;
    width: 100%;
}
.fade-in.one {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}


.SearchDropDown {
    height: 28px;
}

