﻿
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12  padding-none top bottom">
    <table id="tblUnitOfMeasurement" class="table datatable_cust table-striped breakword table-bordered dataTable no-footer tblMarketClass top" style="width: 100%">
        <thead>
            <tr>
                <th>S.No</th>
                <th>UOMID</th>
                <th>UOM Name</th>
                <th>Description</th>
                <th>Edit</th>
                <th>History</th>
            </tr>
        </thead>
    </table>
</div>

<!--DataTableList-->
<script>
    var oUOM_JQ_DataTable;
    function LoadUOM_JQ_DataTable(IsEditable) {
      //function LoadUOM_JQ_DataTable() {
        //alert(IsEditable);
        if (oUOM_JQ_DataTable != null) {
            oUOM_JQ_DataTable.destroy();
        }
        oUOM_JQ_DataTable = $('#tblUnitOfMeasurement').DataTable({
            columns:
                [
                { 'data': 'RowNumber'},
                    { 'data': 'UOM_ID' },
                    { 'data': 'UOM_Name' },
                    { 'data': 'UOM_Description'},
                    {
                        "bSortable": false,
                        "render": function (data, type, full, meta) 
                        {
                            return "<a class='edit_icon_feed Edit' title='Edit'  style='margin-left:0%' onclick='EditUOM_Details(" + full.UOM_ID + ",\"" + full.UOM_Name + "\",\"" + full.UOM_Description + "\");'></a>";
                        }
                    },
                    {
                        "bSortable": false,
                        "render": function (data, type, full, meta)
                        {
                            return '<a class="summary_latest History" title="History"   style="margin-left:0%" onclick=OpenModalPoupAndLoadHistoryData(' + full.UOM_ID + ')>' + '' + '</a>';
                        }
                    }
                ],
            "pagingType": "simple_numbers",
            "language":
            {
                "searchPlaceholder": "Search Records",
                "infoFiltered": "",
                "emptyTable": "No Records Available"
            },
            "processing": false,
            "orderClasses": false,
            "bDestroy": true,
            "order": [[1, "desc"]],
            "info": true,
            "scrollY": "380px",
            "scrollCollapse": true,
            "responsive": true,
            "paging": true,
            "search":
            {
                "regex": true,
            },
            //"bProcessing": true,
            "bServerSide": true,
            "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
            "aoColumnDefs": [{ "targets": [1], "visible": false }, { className: "dt-body-left", "targets": [2, 3] }, { className: "textAlignCenter", "targets": [0, 4, 5] }, { "orderable": false,"targets":[0] }
            ],
            'bAutoWidth': true,
            "sAjaxSource": "@Url.Content("~/AdminSetup/UnitOfMeasurement/UnitOfMeasurementJqueryList")",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": sSource,
                    "data": aoData,
                    "success": function (result) {
                        if (result.msgRedirecttoLoginPage) {
                            window.location.href = '/UserLogin.aspx';
                        }
                        else if (result.msgType == "error") {
                            custAlertMsg(result.msg, "error");
                        }
                        else {
                            fnCallback(result);
                            //$(".dataTables_scrollHeadInner").css({ "width": "100%" });
                            //$(".tblIncidentInitiatorFileUploadListClass").css({ "width": "100%" });
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        if (typeof console == "object") {
                            console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                        }
                    }
                });
            }
        });
        if (IsEditable=="False") {
            $('#tblUnitOfMeasurement').DataTable().columns([4,5]).visible(false);
        }
    }
      
</script>
