﻿@model AizantIT_PharmaApp.Areas.AdminSetup.Models.MasterProperties

@{
    ViewBag.Title = "UnitOfMeasurement";
    Layout = "~/Areas/AdminSetup/Views/Shared/_AdminSetupLayout.cshtml";
}
<style>
    .btn_top {
        margin-top: 28px;
    }
</style>
<input type="hidden" name="hdnUOM_ID" id="hdnUOM_ID" value="0" />
<title>@ViewBag.Title</title>
<div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 panel-heading_title">Unit of Measurement (UOM)</div>
<div class="tab-content tab_content_assigment float-left col-lg-12 padding-none">
    @if (ViewBag.SysError != "" && ViewBag.SysError != null)
    {
        <div style="text-align:center;color:red">
            @ViewBag.SysError
        </div>
    }
    else
    {
        <div class="tab-pane active">
            <div class="grid_panel_hod col-xl-12 col-md-12 col-sm-12 col-lg-12 float-left col-12 ">
                <div class="col-12 float-left padding-none" style="border-bottom:1px solid #07889a;">
                    <div class="col-lg-12 float-left">
                        <div class="col-12 padding-none">
                            <!--Sart Business Division Create-->
                            <div class="col-12 float-left">
                                <div class="col-lg-2 float-left padding-none">
                                    <div class="col-12 padding-none">
                                        <label class="col-12 padding-none float-left" for="txtUnitOfMeasurementName">UOM Name<span class="mandatoryStar">*</span></label>
                                        <input class="form-control col-lg-12 ValidateFreeText" id="txtUnitOfMeasurementName" onkeypress="return ValidateFreeText(event);" type="text" placeholder="Enter UOM Name" maxlength="10" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-3 float-left padding-none">
                                    <div class="col-12">
                                        <label class="float-left" for="txtUnitOfMeasurementDesc">Description<span class="mandatoryStar">*</span></label>
                                        <input class="form-control col-lg-12 ValidateFreeText" onkeypress="return ValidateFreeText(event);" id="txtUnitOfMeasurementDesc" type="text" placeholder="Enter Description" maxlength="50" autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-lg-5 float-left padding-none bottom" id="divRemarks" style="display:none">
                                    <div class="col-12 padding-none">
                                        <label class="float-left" for="txtUnitOfMeasurementComments">Remarks<span class="mandatoryStar">*</span></label>
                                        <textarea type="text" class="form-control login_input_sign_up" onkeypress="return ValidateFreeText(event);" id="txtUnitOfMeasurementComments" placeholder="Enter Remarks" rows="3" maxlength="300"></textarea>

                                        @*<input class="form-control col-lg-12" id="txtUnitOfMeasurementComments" type="text" placeholder="Enter Comments" maxlength="100">*@
                                    </div>
                                </div>
                                <div class="col-xl-2 col-md-2 col-sm-2 col-lg-2 top float-left col-2 bottom padding-none ">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12 top text-left col-12 bottom padding-none ">
                                        <button type="button" class="top  btn btn-signup_popup" style="	margin-bottom:0px;" id="btnSubmitUOM" onclick="ValidateUnitOfMeasurementSubmit('Create');">Submit</button>
                                        <button type="button" class="top  btn btn-signup_popup btn_top" style=" margin-bottom:0px; display:none;" id="btnUpdateUOM" onclick="ValidateUnitOfMeasurementSubmit('Update');">Update</button>
                                        <button type="button" class="top  btn btn-cancel_popup" style="margin-bottom:0px;" id="btnCancelUOM" onclick="UnitOfMeasurementCancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <!--End Business Division Create-->
                        </div>
                    </div>
                </div>

                <div class="col-12 float-left top">
                    @Html.Partial("~/Areas/AdminSetup/Views/UnitOfMeasurement/_UnitOfMeasurementList.cshtml")
                </div>
            </div>
        </div>
    }
</div>

<!--Start commeted by pradeep 26-04-2019-->
<!--History Modalpopup-->
<div class="modal" id="UOM_HistoryModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog department modal-lg" style="max-width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Unit of Measurement History</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="DeficiencyModalbody">
                <div class="col-xl-12 col-md-12 col-sm-12 float-left padding-none top bottom">
                    <table id="historyTable" class="table datatable_cust table-striped table-bordered top breakword" style="width:100%">
                        <thead>
                            <tr id="tablerow">
                                <th>S.NO</th>
                                <th>Action By</th>
                                <th>Role</th>
                                <th>Action</th>
                                <th>Action Date</th>
                                <th>Submitted Data</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer"> </div>
        </div>
    </div>
</div>



<!--Start Script For JQueryDatatable-->
<script>
    $(function () {
        LoadUOM_JQ_DataTable("True");
        //LoadUOM_JQ_DataTable(IsEditable);
    });
    var UOM_ID = "0";
    //$('#UOM_HistoryModal').on('shown.bs.modal', function () {
    //    HistoryTableForUOM(UOM_ID);
    //});
    function OpenModalPoupAndLoadHistoryData(UOMID) {
        UOM_ID = UOMID;
        $("#UOM_HistoryModal").modal("show");
        HistoryTableForUOM(UOM_ID);

    }
    var oUOM_History_ListDatatable;
            function HistoryTableForUOM(UOM_ID) {
                if ($.fn.DataTable.isDataTable("#historyTable")) {
                    $('#historyTable').DataTable().clear().destroy();
                    }
                oUOM_History_ListDatatable = $('#historyTable').DataTable({
                columns: [
                    { 'data': 'PKID' },//0
                    { 'data': 'ActionByName'},//1
                    { 'data': 'RoleName' },//2
                    { 'data': 'ActionStatusName' },//3
                    { 'data': 'ActionDate' },//4
                    { 'data': 'SubmittedData' },//5
                    {'data': 'Comments'}//6
                    //{
                    //    "mData": null,
                    //    //"bSortable": false,
                    //    "mRender": function (o) {
                    //        if (o.Comments.length >= 10) {
                    //            return '<td> <div class="more">' + o.Comments + '</div></td>';
                    //        }
                    //        else {
                    //            return o.Comments;
                    //        }
                    //    }
                    //}//7
                ],
                "scrollY": "500px",
                "aoColumnDefs": [{ "targets": [0], "visible": false }, { className: "textAlignCenter", "targets": [0, 4] }, { "orderable": false, "targets": [1,2,3,4,5,6] }],
                "sAjaxSource":"@Url.Content("~/AdminSetup/UnitOfMeasurement/UOM_HistoryDetails")",
                "fnServerData": function (sSource, aData, fnCallback) {
                    aData.push({ "name": "UOM_ID", "value": UOM_ID });
                    $.ajax({
                        "dataType": 'json',
                        "contentType": "application/json; charset=utf-8",
                        "type": "GET",
                        "url": sSource,
                        "data": aData,
                        "success": function (result) {
                            if (result.msgRedirecttoLoginPage) {
                                window.location.href = '/UserLogin.aspx';
                            }
                            else if (result.msgType == "error") {
                                custAlertMsg(result.msg, "error");
                            } else {
                                fnCallback(result);
                                $(".dataTables_scrollHeadInner").css({ "width": "100%" });
                                ShowType();
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            if (typeof console == "object") {
                                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
                            }
                        }
                    });
                }
            });
            }
</script>
<!--End Script For JQueryDatatable-->





<script>
    function UnitOfMeasurementCancel() {
        ClearetheUOMInputFields();
        MakeUOMToCreation();
    }
    function ValidateUnitOfMeasurementSubmit(Type) {
        //var hdn_ID = $("#hdnUOM_ID").Val();
        var UOM_ID = 0;
        var UOM_Name = $("#txtUnitOfMeasurementName").val().trim().replace(/  +/g, ' ');
        var UOM_Description = $("#txtUnitOfMeasurementDesc").val().trim();
        var UOM_Comments = $("#txtUnitOfMeasurementComments").val().trim();
        @*var ActionDate = '@DateTime.Now.ToString("dd MMM yyyy")';*@
        errors = [];
        if (UOM_Name == "") {
            errors.push("Enter UOM Name");
        }
        if (UOM_Description == "") {
            errors.push("Enter Description");
        }
        if (UOM_Name == UOM_Description && UOM_Description != "" && UOM_Name!="") {
            errors.push("UOM Name and Description Should not be Same");
        }
        if (Type == 'Update' && ($("#hdnUOM_ID").val() == "" || $("#hdnUOM_ID").val() == "0")) {
            errors.push("Something went wrong please refresh the page");
        }
        if (Type == 'Update' && (UOM_Comments == "" || UOM_Comments == null)) {
            errors.push("Enter Remarks ");
        }
        if (errors.length > 0) {
            custAlertMsg(errors.join(".<br/>") + ".", "error");
            return false;
        }
        else
        {
            ShowPleaseWait('show');
            if (Type == 'Create')
            {
                AjaxCallCreateForUnitOfMeasurement(UOM_ID, UOM_Name, UOM_Description, UOM_Comments);
            }
            else
            {
                AjaxCallUpdateForUnitOfMeasurement($("#hdnUOM_ID").val(), UOM_Name, UOM_Description, UOM_Comments);
            }
        }
    }
   // LoadUOM_JQ_DataTable('True');

    function AjaxCallCreateForUnitOfMeasurement(UOM_ID, UOM_Name, UOM_Description, UOM_Comments) {
        var UnitOfMeasurementCreatePost = {
            "UOM_ID": UOM_ID, "UOM_Name": UOM_Name, "UOM_Description": UOM_Description, "UOM_Comments": UOM_Comments
        };
        $.post("@Url.Content("~/AdminSetup/UnitOfMeasurement/JsonCreateUnitOfMeasurement")", UnitOfMeasurementCreatePost,
            function (result)
            {
                ShowPleaseWait('hide');
                if (result.msgRedirecttoLoginPage)
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else {
                    switch (result.msgType)
                    {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg(result.msg, "success","OnUOMCreationSuccess();");
                            break;
                    }
                }
                }, 'json');
    }
    function OnUOMCreationSuccess() {
        ClearetheUOMInputFields();
        MakeUOMToCreation();
        LoadUOM_JQ_DataTable();
    }
    function AjaxCallUpdateForUnitOfMeasurement(UOM_ID, UOM_Name, UOM_Description, UOM_Comments) {
        var UnitOfMeasurementCreatePost = {
            "UOM_ID": UOM_ID, "UOM_Name": UOM_Name, "UOM_Description": UOM_Description, "UOM_Comments": UOM_Comments
        };
        $.post("@Url.Content("~/AdminSetup/UnitOfMeasurement/JsonUpdateUnitOfMeasurement")", UnitOfMeasurementCreatePost,
            function (result)
            {
                ShowPleaseWait('hide');
                if (result.msgRedirecttoLoginPage)
                {
                    window.location.href = '/UserLogin.aspx';
                }
                else
                {
                    switch (result.msgType) {
                        case "error":
                            custAlertMsg(result.msg, "error");
                            break;
                        case "info":
                            custAlertMsg(result.msg, "info");
                            break;
                        case "warning":
                            custAlertMsg(result.msg, "warning");
                            break;
                        case "success":
                            custAlertMsg(result.msg, "success","OnUOMUpdateSuccess();");
                            break;
                    }
                }
                }, 'json');
    }

    function OnUOMUpdateSuccess() {
        ClearetheUOMInputFields();
        MakeUOMToCreation();
        LoadUOM_JQ_DataTable();
    }
</script>
<!--End-->
<script>
    //Bind Client data for fields

    function EditUOM_Details(UOM_ID, UOM_Name, UOM_Description) {
        ClearetheUOMInputFields();
        MakeUOMToCreation();
        $("#hdnUOM_ID").val(UOM_ID);
        $("#txtUnitOfMeasurementName").val(UOM_Name);
        $("#txtUnitOfMeasurementDesc").val(UOM_Description);
        $("#btnUpdateUOM").show();
        $("#btnSubmitUOM").hide();
        $("#divRemarks").show();
        $("#btnCancelUOM").addClass("btn_top");
        // $("#txtComments").val('');
    }
    function MakeUOMToCreation() {
        $("#btnUpdateUOM").hide();
        $("#btnSubmitUOM").show();
        $("#divRemarks").hide();
        $("#btnCancelUOM").removeClass("btn_top");
    }
    function ClearetheUOMInputFields() {
        $("#txtUnitOfMeasurementName").val("");
        $("#txtUnitOfMeasurementDesc").val("");
        $("#txtUnitOfMeasurementComments").val("");
        $("#hdnUOM_ID").val("");
    }
</script>


<!--Show More and Less-->
<script>
    function ShowType() {
        var showChar = 50;
        var ellipsestext = "...";
        var moretext = "Show More";
        var lesstext = "Show less";
        $('.more').each(function () {
            var content = $(this).html();
            if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar - 1, content.length - showChar);
                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
                $(this).html(html);
            }
        });
        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });
    }
</script>